[2016-02-16 12:03] dan31 commented on #3359
I got the situation again, and @bigwad way worked well to reproduce the issue. When you remove logopt file, database starts well. When you bring back the logopt file, the database won't start. I don't run any test, just try to start a database from Administrator. Thanks @bigwad @alexanderstc for reproduction. I guess the question is still how to get database to such a state. However, we now have b

[2016-02-16 12:14] #2148 closed

[2016-02-16 12:15] dan31 commented on #2260
There has been no occurence for this for long time.

[2016-02-16 12:15] #2260 closed

[2016-02-16 12:15] dan31 commented on #2261
Long time not seen.

[2016-02-16 12:15] #2261 closed

[2016-02-16 12:16] dan31 commented on #2705
Removed a showstopper from it. @andwah I wonder whether it is still a case for you?

[2016-02-16 12:24] alexanderstc commented on #3359
This is from @linkdata over e-mail:

[2016-02-16 12:34] linkdata commented on #3359
Well, that was before we identified log optimization as the likely culprit. I no longer think Scheduling.ScheduleTask() overload is the cause of the error.

[2016-02-16 12:53] andwah commented on #2705
I have learned to work around this problem, but maybe other users will experience this?

[2016-02-16 13:45] per-samuelsson opened #3374 "Question: Any rationale returning TypedJSON does not have MIME type JSON?"
**Foo.json**
[code]

Having that, and doing this

[code]

will give me back a response with `ContentType: */*`.

I'd expect `application/json`, but maybe that's not correct, in respect to REST principles, and based on that fact that I request `text/plain` and accept `*/*`?

[2016-02-16 14:06] alemoi commented on #3371
Good question!

I have updated the build system with information on building EditionLibraries: https://github.com/Starcounter/RebelsLounge/blob/master/buildsystem.md#building-editionlibraries

[2016-02-16 14:06] #3371 closed

[2016-02-16 14:18] k-rus commented on #3340
I have internal suggestion that when stable is released it will great to tag corresponding version in git for both Level0 and Level1 with the version tag, like @warpech does for Simplified.

[2016-02-16 15:08] dan31 commented on #2705
@andwah Could you tell me how do you workaround?

[2016-02-16 16:53] alemoi opened #3375 "Performance degradation in Self calls (scllvm generated code in general)"
As you know we have some performance statistics for the build server: https://teamcity.starcounter.org/viewType.html?buildTypeId=Starcounter_DevelopNightly&tab=buildTypeStatistics

I noticed a severe degradation in `NumSimpleSelfGetsPerSec` which are caused by the following changes: https://teamcity.starcounter.org/viewLog.html?buildId=899&buildTypeId=Starcounter_DevelopNightly&tab=buildChangesDiv

[2016-02-16 17:21] dan31 commented on #3340
@k-rus that is a great suggestion, especially knowing that @alemoi already have it in-place not activated. We had an idea that we tag for any build in general, not only for Stable. This will allow to promote nightlies to stables in a regular way. @alemoi, do you have any objection to activate tagging for our builds?

[2016-02-16 17:23] alemoi commented on #3375
Clarification: Self uses URI matcher (generated code compiled by scllvm) to determine which handler to execute.

[2016-02-16 18:45] eriohl commented on #3375
Odd. Generally optimization doesn't reduce performance. The performance of generated code for indexes went up a log. Maybe the test includes the code generation time or something?

[2016-02-16 19:29] andwah commented on #2705
Just dont do like this issue sais :-), Wait until database or applications has started then you can Hit F5 in Visual Studio.

[2016-02-16 21:02] eriohl commented on #3375
@alemoi Why am I assinged this one. What am I expected to do with it?

[2016-02-16 21:32] alemoi commented on #3375
I will assign this to myself, and will check the test details and your changes.

[2016-02-16 22:02] eriohl commented on #3359
I'll check it. Could you upload the database to somewhere that isn't blocked by the browser however (like our dropbox account.)

[2016-02-17 00:53] alexanderstc commented on #3359
Can some1 upload this to buildserver ftp or something? I don't have rights to do it.

[2016-02-17 06:30] k-rus commented on #3340
IMHO, tagging every nightly will make tags not really useful, since it will be too many tags. If I don't mistake it is possible to tag branches in past, so even now it should be possible to tag the stable builds.

[2016-02-17 06:36] k-rus commented on #3359
I uploaded the file to @eriohl's exchange folder on dropbox

[2016-02-17 06:40] eriohl commented on #3359
Great. Thank you

[2016-02-17 07:51] miyconst opened #3376 "Array with different objects in dynamic json"
Original issue: https://github.com/Juicy/juicy-tile-editor/issues/127

[2016-02-17 08:31] andwah opened #3377 "TypeInitializationException with Static Constructor"
Sometimes i always get this exception when i have a static constructor on the class.

A database restart do not solve it, but in a new database it starts to work, then suddenly this error  starts occurring.
Sorry no easy way to reproduce, i hope you will find a good clue from the stacktrace below.

Code:
[code]

Class:
[code]

Exception
[code]

[2016-02-17 08:37] per-samuelsson commented on #3377
@andwah

1. I'm not sure how well we handle static constructors in database classes. I don't see any case that we should not allow them though, it's more of a general disclaimer.
2. The stacktrace indicates the exception is raised from the static constructor of `Warehouse.Suite`. So would be interesting to see what you have in there.

[2016-02-17 08:38] per-samuelsson commented on #3377
My initial guess is you are suffering from #2766.

[2016-02-17 08:50] andwah commented on #3377
Instead of using a static constructor to register my `hooks` i switch it to `public static void RegisterHooks()` in my class and called it when my app starts, that seems to work better, have not got any exception yet.

Inside my constructor:
[code]

[2016-02-17 08:59] miyconst opened #3378 "pnext: Create table failed because one or more columns shared the same name token as another column"
I am trying to start an application (Warehouse) and receiving this exception:

[code]

Most likely this is not an issue in Starcounter, but the exception text should be improved with explanation, of what columns in what tables are not unique.

cc @chrhol, @k-rus

[2016-02-17 09:04] miyconst commented on #3378
Hm. The issue has gone after restarting same application.

[2016-02-17 09:04] miyconst opened #3379 "Administrator log table shows only warnings"
In the latest pnext administrator log page shows only warnings without errors.

![image](https://cloud.githubusercontent.com/assets/6435556/13104481/a749769c-d55d-11e5-951b-0118f21d3004.png)

This is how the same page looks when I disable the Warnings button:

![image](https://cloud.githubusercontent.com/assets/6435556/13104495/c150c0c2-d55d-11e5-85c6-5dd4724b998e.png)

Not sure whether this issue

[2016-02-17 09:05] miyconst commented on #3378
[code]

[2016-02-17 09:05] miyconst commented on #3378
[code]

[2016-02-17 09:08] miyconst opened #3380 "How do I start an application in a non-default database from Visual Studio?"
I have several applications which has `[Database]` classes inherited from `Simplified`. If any of the apps has some data in those tables, then they don't work separately.

I want to create two databases and don't run them together, but I can't find a way how to start an app into a specific database from Visual Studio.

cc @alemoi, @chrhol

[2016-02-17 09:10] warpech commented on #3380
Related: https://github.com/Starcounter/Starcounter/issues/3094

[2016-02-17 09:11] miyconst opened #3381 "pnext: Access violation (C0000005) detected at bmx.cpp:63 (Thread 4304)"
Playing around with Warehouse app Starcounter database crashed with the following error:

[code]

No more details. All apps got stopped.

If this is something wrong in the application, the error should explain what is wrong.

cc @alemoi, @chrhol, @eriohl

[2016-02-17 09:13] miyconst commented on #2557
This issue has just turned a year, it really needs some love from us.

[2016-02-17 09:14] miyconst commented on #3381
[code]

[2016-02-17 09:15] per-samuelsson commented on #3379
I've already reported this. Duplicate of #3307.

[2016-02-17 09:15] #3379 closed

[2016-02-17 09:18] per-samuelsson commented on #3380
@miyconst

`Project | Properties | Debug | Command line arguments` support most of what `star` support, e.g. specifying a datbase such as:

![image](https://cloud.githubusercontent.com/assets/2902045/13104819/cbbdaef6-d55f-11e5-933e-f1c8dda21a12.png)

[2016-02-17 09:21] miyconst commented on #3380
Thanks @per-samuelsson!

Looks like we have it documented.
http://starcounter.io/guides/tools/staradmin/

[2016-02-17 09:23] per-samuelsson commented on #2557
Agree. Default user port assignments clashing occur all around.

The only way I can see to solve it is to implement it in the admin server, assuring that we pick the "next free port" (within some custom range) when a database is created and a port is not given, and (possibly) refuse to create a database with a given port that is already assigned to some other database.

That last thing I'm not 100

[2016-02-17 09:25] k-rus commented on #3378
cc @alexanderstc

[2016-02-17 09:26] k-rus commented on #3378
@miyconst
Which version of Starcounter do you run? pnext or develop?

[2016-02-17 09:26] miyconst commented on #3381
This issue is reproducible. Steps:

1. Start [Warehouse](https://github.com/Starcounter/Warehouse) application.
2. Start SignIn application.
3. Navigate to `http://localhost:8080/warehouse/`.
4. Sign in with admin/admin.
5. Create an application.
6. Upload a package for the application.
7. Check that the package has been successfully added to the application page.
8. Upload same package again.
9.

[2016-02-17 09:29] miyconst commented on #3378
@k-rus, it is `Version: 2.3.852` as shown in the stack trace.

[2016-02-17 09:30] dan31 commented on #3381
@miyconst Please when using pnext as of now, add "pnext: " to the beginning of the title and add a milestone "pnext" as well. Thank you!

[2016-02-17 09:33] miyconst commented on #3381
@dan31 sure, did so.

[2016-02-17 09:33] warpech commented on #3380
Not really! http://starcounter.io/guides/tools/staradmin/ is about `staradmin`. As I just learned, VS is using `star`. @per-samuelsson could you document this on http://starcounter.io/guides/tools/starting-and-stopping-apps/?

[2016-02-17 09:34] miyconst commented on #3380
@warpech good catch!

[2016-02-17 09:49] per-samuelsson commented on #3380
Minor note, so we don't confuse anyone: VS is not actually spawning `star.exe`. Instead, they both build on a common underlying (REST-based) API to get things done, where jobs are coordinated by a shared admin server. Internally, I'm using the term "management clients" when referring to all components that utilize this same API - `star.exe`, `staradmin.exe`, the Visual Studio extension and (with a

[2016-02-17 09:50] eriohl commented on #3359
Yes you where right. logopt drops the reference to the base layout. Fixed this but I discovered some additional problems with the optlog load that I'm looking into as well.

[2016-02-17 09:54] k-rus commented on #2557
I experienced this inconvenience often. In my case I always can stop running database and start the other conflicting by default, but it is annoying in comparison with previous experience. Furthermore, apps in my case do not register any handlers, thus the error, which is actually a complain about already registered handle, sounds strange.

Using several databases during development is a nice feat

[2016-02-17 09:56] dan31 commented on #3378
@miyconst thanks for renaming. @k-rus, so far @miyconst incubates ```pnext``` in regular Starcounter development. And so do @per-samuelsson and @jwillmer.

[2016-02-17 10:02] k-rus commented on #3378
@alexanderstc
Can you create error message with the request information, i.e., name of the table and name of the column? Can you also correct the error code, since the error is not in create table, but in alter table?

[2016-02-17 10:03] k-rus commented on #3378
Thank you for clarifying. Please, be patient as I will ask every time when I am not 100% sure.

[2016-02-17 10:43] dan31 commented on #3380
Was just working with the documentation a bit, and added a short explanation along: http://starcounter.io/guides/tools/starting-and-stopping-apps/#starting-app-from-visual-studio-in-a-specific-database.

[2016-02-17 10:47] miyconst commented on #2557
Here is what I would like to see:

1. Allow users to assign same port to multiple databases, but not start them together. IIS allows me to create multiple websites bound to same port, and start one at a time. Very convenient.
2. Automatically create database on application start if:
 - Database name specified in the arguments and there is no such database.
 - Database name is not specified and the

[2016-02-17 11:05] eriohl commented on #3359
There was more problems with base layouts not being handled properly in logopt. Problem should now be resolved now. All previously created optlog files are invalid however.

[2016-02-17 11:05] #3359 closed

[2016-02-17 11:05] k-rus commented on #3368
@atifsheikh reported that they are not longer experiencing this bug. I also failed to reproduce it.
I will create error message at the place where the null reference exception is experienced. This will affect develop branch and will be included in the corresponding nightly and new stable.

@atifsheikh When you experience it again, can you archive the database (folder Personal) and the application

[2016-02-17 11:27] atifsheikh commented on #3368
yes sure, i will do that.
Thank alot guys.

[2016-02-17 12:46] atifsheikh opened #3382 "Exception on Upgrading SC version with many changes in DB schema"
We have upgraded SC version from 2.0.3226 to 2.1.177. And we also have tons of DB schema changes in our code along with latest SC Version syntaxes + Polymer changes.
When i launch my app I get the following exception :

[code]

[2016-02-17 13:11] dan31 commented on #3382
Hi @atifsheikh! How do you perform data migration between the databases with different schemas when you change class schemas? Do you have a migration app that unloads the data from a database and then inserts the data into a new empty database database with new schema __in respect to all schema changes__? Currently Starcounter supports only very basic on-the-flight migrations to help developers pe

[2016-02-17 13:47] atifsheikh commented on #3382
Hi @dan31
We dont have any app to migrate data. We simply run the solution, crash the DB and report to you guys :P

[2016-02-17 14:08] dan31 commented on #3382
Yeah I'm surprised that you managed to migrate prior to this "just like that" :)
In future releases, we are going to introduce mappers as a way to decouple database from class schema. This now exists as a design proposal and work in progress. Prior to having this feature, there must be a predictable way to migrate data between big schema changes.

It is good timing for you to allocate time and res

[2016-02-17 14:57] k-rus commented on #3368
It is pushed into develop.

[2016-02-17 15:00] k-rus opened #3383 "Attach table info for failed upgrades"
The idea is to catch exceptions inside upgrade code and resend the exception with additional information about table for which exception happened. This can help to users to find out which their schema change does not go through upgrade.

The goal is to include this improvement to new stable release.

[2016-02-17 15:29] dan31 commented on #3381
@miyconst is this reproducible for you?

[2016-02-17 15:36] k-rus commented on #3383
Also add this change and for #3368 into the change log.

[2016-02-17 15:42] dan31 opened #3384 "Include Polymer 1.2 support into develop"
I use this issue as a reference point in steering 2.2 release.
Please feel free to add any cross-references.
CC @warpech @miyconst @tomalec

[2016-02-17 16:00] miyconst commented on #3381
Yes, it is reproducible on my office machine. Will also test on my home machine.

[2016-02-17 16:09] alexanderstc opened #3385 "stari_context_get_index_setspec() asserted on the global index"
Please run metalayer_functest on branch alexander-get_index_setspec in debug mode.

First, stari_context_get_index_infos_by_setspec() is called on setspec "",
stari_context_get_index_setspec() is called on returned index info, works OK.

Then, stari_context_get_index_infos_by_setspec() is called on setspec "~a~",
stari_context_get_index_setspec() is called on returned index info which is still the

[2016-02-17 16:33] warpech commented on #3384
@malx122 did you manage to try out SysUpgrade?

@dan31 what is the expected timeframe? I propose to merge SysUpgrade to Starcounter develop at least few days before releasing 2.2 stable.

[2016-02-17 16:35] warpech commented on #3384
Related: https://github.com/Starcounter/Starcounter/issues/3022, https://github.com/Starcounter/Starcounter/issues/2922

[2016-02-17 16:50] dan31 commented on #3381
@miyconst please upload the test case somewhere like Dropbox and provide a link to here.

[2016-02-17 16:53] atifsheikh opened #3386 "Question : How to delete a table from Database"
I am trying to unload my DB using the following command :

and i get an exception saying :

Now I do not recognize this table, and i want to delete it from my DB so i can proceed with my DB UnLoading. How can I delete this table?

[2016-02-17 17:00] atifsheikh commented on #3382
Make sense. We are planning to write the migration tool. Thanks for the info.

[2016-02-17 17:00] #3382 closed

[2016-02-17 17:00] andwah commented on #3381
I did some testing on the "develop" branch and i have not yet got any errors

[2016-02-17 17:13] per-samuelsson commented on #3386
@atifsheikh

Have you tried `DROP TABLE StarcounterApplication5.Image`?

[2016-02-17 17:26] atifsheikh commented on #3386
:+1: i tried  `DROP StarcounterApplication5.Image` before and it gave me error. But your command worked. Thanks :)

[2016-02-17 17:26] #3386 closed

[2016-02-17 18:10] miyconst commented on #3381
@dan31 what kind of test case can I upload? The application source code is available on GitHub. Starcounter version I provided, what else is missing?

[2016-02-17 18:24] dan31 commented on #3381
@miyconst, thanks for clarification, so the empty database case should also reproduce the error, right?

[2016-02-17 18:25] miyconst commented on #3381
Yes. It was like this for me. I will double check that tomorrow again.

[2016-02-17 18:28] atifsheikh commented on #2201
Is this bug fixed in SC Version 2.0.3226.3?

[2016-02-17 18:39] eriohl commented on #3385
This is how it is supposed to work because all indexes on set "" is also on "~a~" (because "~a~" inherits ""). However, you can exclude inherited indexes by setting the STAR_EXCLUDE_INHERITED. Which I did in your branch and seems to work after that (at least the test passes).

Some need for documentation on my part I think.

[2016-02-17 18:46] per-samuelsson opened #3387 "pnext: NullReferenceException in binding after dropping table"
Running on a local **pnext** build, pulled like 1-2 days ago.

Can easily be reproduced every time:

1. Create a new application with `staradmin +`.
2. Edit the generated `app.cs` like shown below.
3. Run it in a new database, e.g. `star -d=newdb app.cs`
4. Stop the application: `staradmin -d=newdb stop app app`
5. Go to web admin SQL, database `newdb`, execute `DROP TABLE Foo`.
6. Restart the app

[2016-02-17 18:49] dan31 opened #3388 "Improve functioning of ScErrInputQueueFull"
ScErrInputQueueFull is so far our anti-champion:

https://github.com/Starcounter/Starcounter/issues/2565
https://github.com/Starcounter/Starcounter/issues/2900
https://github.com/Starcounter/Starcounter/issues/2646
https://github.com/Starcounter/Starcounter/issues/1305
https://github.com/Starcounter/Starcounter/issues/2912
https://github.com/Starcounter/Starcounter/issues/1748
https://github.com/S

[2016-02-17 18:51] dan31 commented on #3388
CC @alemoi @chrhol

[2016-02-17 19:07] alexanderstc commented on #3385
No, it doesn't pass. The assertion kicks in at a later stage.

sccoredb.cpp line 4960:
_SC_ASSERT_DEBUG(value[ir] == 0);

[2016-02-17 21:39] eriohl commented on #3385
Ahh. Missunderstanding. I got the impression that the problem was that inherited indexes wasn't filtered on call to stari_context_get_index_infos_by_setspec.

The problem turns out is that the TT4 decoder doesn't add null termination to the end of the string is passing and empty string.

[2016-02-17 22:10] eriohl commented on #3385
Ok. Fixed the bug in the TT4 decoder and reverted my previous change.

[2016-02-17 22:10] #3385 closed

[2016-02-17 23:13] alemoi commented on #2902
@chrhol do you need any help with this?

[2016-02-17 23:31] alexanderstc commented on #3385
It works now, thans.
STAR_EXCLUDE_INHERITED flag is also useful.

[2016-02-18 06:37] k-rus commented on #2201
The bug is open and was never fixed. You can see the name of the table/class in correct order in the query reported in the error message.

[2016-02-18 07:35] linkdata commented on #3388
The `LogStreamer` testing started behaving strange when we added `Bulker` to the mix, so I looked at that fairly soon in the troubleshooting process. I added semaphores around it's use of `ScheduleTask()` just to eliminate it as a source of the problems, and the systems immediately stabilized.

In writing the `LogStreamer`, using semaphores and queues to manage the work was part of the design from

[2016-02-18 08:52] k-rus commented on #3383
I inspected the code in the table upgrade and noticed that almost all of them do not report the name of the table for which an error happens. Therefore, I cover any thrown exception into new exception, which reports the table name. Let's how it will help to users.
This issue is completed.

[2016-02-18 08:52] #3383 closed

[2016-02-18 08:56] k-rus commented on #3383
Change log was updated.

[2016-02-18 09:35] atifsheikh commented on #2201
So how do I load the data in my DB?

[2016-02-18 10:05] k-rus commented on #2201
This bug has to do just with the error message. The error message specifies, which class you are missed to load. So if you want to load data you need to have the class be loaded. Otherwise, you need to write your own logic for unload to disregard the data.
Then if you want to migrate data from one class to another class you need to make apps, which will do it for you in several steps of upgrading.

[2016-02-18 10:10] k-rus commented on #2201
If you have more questions about how to unload data, create a separate issue. This issue is not about how to load.

[2016-02-18 11:05] k-rus commented on #2201
This issue will not be fixed for develop. pnext contains new implementation for INSERT INTO.

[2016-02-18 11:05] #2201 closed

[2016-02-18 12:09] k-rus commented on #3387
Thank you for reporting!
The issue is related to the need to revisit usage of native API after BAH project, which was to merge incompatible develop and pnext. In a sense the main issue is #3070, but this one clearly shows existing bugs related to needed refactoring and highers the priority.
Basically, now Level1 uses metalayer and kernel APIs in parallel, which are not designed to work in this way

[2016-02-18 12:32] atifsheikh commented on #3363
I found the cause behind this issue. We had a Query which was taking alot of time.
Previously the query was :
`ClassifiedAd ca = Db.SQL<AdFenix.Database.ClassifiedAd>("SELECT c FROM AdFenix.Database.ClassifiedAd c WHERE AdFenixAd.TwitterAd=?", this).First;`

and i updated that query to:
`ClassifiedAd ca = Db.SQL<AdFenix.Database.ClassifiedAd>("SELECT c FROM AdFenix.Database.ClassifiedAd c WHERE Ad

[2016-02-18 12:36] dan31 opened #3389 "Generate public API documentation using doxygen"
Currently we don't upload the API docs. We need to restore it, since it is convenient to have a reference API dos available online. The suggested tool is doxygen. Assigning to @alemoi to get done eventually (not urgent).

[2016-02-18 14:58] miyconst commented on #3357
Looks good. Closing the issue. Thanks.

[2016-02-18 14:58] #3357 closed

[2016-02-18 15:01] miyconst commented on #3381
No longer reproducible in the latest pnext (`Starcounter-PnextNightlyBuilds-2.3.864`). Closing the issue. Will reopen if happens again.

[2016-02-18 15:01] #3381 closed

[2016-02-18 15:02] binte opened #3390 "Starcounter admin panel query result visualisation problem"
Surely someone had already mentioned this, but since I couldn't find it, I am hereby reporting the issue.

After obtaining the results of a query, when we scroll right, it becomes impossible to understand the table, because the attributes' bar starts "floating".

Also, when the table has too many attributes, I can't see them all.

[2016-02-18 15:03] miyconst commented on #3390
@binte thank your for reporting this. Could you please make some screenshots?

cc @warpech

[2016-02-18 15:09] alexanderstc commented on #3378
@miyconst is this easily reproducible?
If it is, I'd like to ask you to keep it that way (create necessary branches whatever).

[2016-02-18 15:13] binte commented on #3390
Completely forgot that!

![screenshot1](https://cloud.githubusercontent.com/assets/5520287/13147770/856357b6-d65a-11e5-85de-c94713a95a5f.png)

[2016-02-18 15:15] binte commented on #3390
Completely forgot that!

![untitled](https://cloud.githubusercontent.com/assets/5520287/13147832/c4ae51e6-d65a-11e5-8b42-88071f0decee.png)

[2016-02-18 15:25] miyconst commented on #3378
It's not reproducible at all. Restarting same application without a change, in same environment solved the issue. Starting the app in an empty database also didn't rise the issue.

[2016-02-18 15:28] miyconst commented on #3390
And provide which Starcounter version you are using, please :).

[2016-02-18 15:28] alexanderstc commented on #3378
@k-rus OK then I'll just make a unit test to force this.

[2016-02-18 15:30] alexanderstc commented on #3378
@k-rus

I'll do all that, will take me some typing on keyboard.

[2016-02-18 15:39] binte commented on #3390
Starcounter-Stable-2.1.177

[2016-02-18 15:47] miyconst commented on #3390
@warpech it's fixed in the later versions, right?

[2016-02-18 16:05] warpech commented on #3390
Yes, this is fixed in https://github.com/Starcounter/Starcounter/issues/2987, so it should not happen in nightlies

[2016-02-18 17:46] miyconst commented on #3390
@binte could you please check latest nightly and confirm that it is fixed?

[2016-02-18 19:03] eriohl opened #3391 "pnext: Reclaim unused memory channel buffers (IWP DM communication)"
Channel buffers grows (by reallocation) to accommodate sending data of large transactions to DM for writing but after that is stays the same size even no more large transactions are processed. The channel buffers should shrink when larger then needed to release memory.

[2016-02-19 06:35] k-rus commented on #3378
The experienced error is due to schema upgrade, which can happen only if an application with updated schema is started. Thus it cannot happen on empty database. However, I would expect that restarting application should fail. Then it is probably the bug in managed code related to #3387.
After @alexanderstc fix of the error message the bug will be open for further investigation.

@miyconst Do you h

[2016-02-19 07:37] k-rus commented on #2487
The code with error is being refactorred in pnext and it seems that this problem was not seeing any more. So I close issue as obsolete and wouldn't fix.

[2016-02-19 07:37] #2487 closed

[2016-02-19 08:11] linkdata opened #3392 "pnext: ScErrTableNotFound (SCERR4230) after several hours running"
I left five databases running (on the same SC installation) overnight, all of them running `LogStreamer` and `Bulker`. When I came in this morning, I was greeted with an exception that should not be possible since there is only ever two tables modified (`LogStreamer.LastPosition` and `Bulker.Record`), and both applications are running on all databases (also running after exception).

There are no

[2016-02-19 08:18] linkdata commented on #3392
Continuing, I get lots more of the same exception (note I can still query both of the tables in the Administrator). Then I get this one:

[code]

[2016-02-19 08:56] bigwad commented on #3392
ScErrTableNotFound  is thrown by LogApplicator when it fails to find table using Db.LookupTable() method. Db.LookupTable() uses metadata to construct table definition, so cc @k-rus
As to ScErrSqlUnknownColumn - it is thrown when we've found table using Db.LookupTable() but there is no definition for required column, thus maybe some metadata missed as well.

[2016-02-19 09:39] k-rus commented on #3392
Thank you for clarifying. `LookupTable` will be rewritten, so the message will be improved with the table name and the its behaviour itself might improve. This is related to #3378.

Can you clarify, where is the exception thrown from? Improvement of `LookupTable` might improve this behaviour too.

[2016-02-19 09:42] dan31 commented on #3392
Just to reassure: there are no changes in classes during this run. It was just left running and suddenly tables have gone. Might it be connected to logopt-related issue https://github.com/Starcounter/Starcounter/issues/3359? CC @bigwad @k-rus @eriohl

[2016-02-19 09:43] bigwad commented on #3392
As Db.LookupTable() doesn't throw on missed table - both exceptions are thrown from the client of Db.LookupTable(), namely LogApplicator.

[2016-02-19 09:45] bigwad commented on #3392
That is unlikely, as #3359 requires database reload

[2016-02-19 10:09] eriohl commented on #3392
We can reproduce it then I understand? Why not just debug it and see why Db.LookupTable fails?

[2016-02-19 10:19] linkdata commented on #3392
It's inconsistent, and so hard to reproduce. I'll try, but someone should look at the underlying code for clues to how it could happen.

[2016-02-19 10:22] k-rus commented on #3392
You are right. It returns `null` if the table is not found. It would be great if you improve your error message with the table name information.

Can you use another error code, since it has nothing to do with SQL? And adding information about the column and the table might help users.

[2016-02-19 10:44] eriohl commented on #3392
From discussion I interpret it that the problem is that Db.LookupTable either finds no layout with the specific name or the wrong layout (or rather that the layout if finds doesn't match the transaction data). What it does is to translate the input string to token and then lookup layout from token. If this is so then it seems to indicate that either input is bad or that there is something wrong wi

[2016-02-19 11:09] warpech commented on #3340
Definitely tags can be applied to commits in the past.

Tags can also be moved, replaced and deleted (though this is not advised).

I agree that tagging only stable releases sounds like a good compromise.

[2016-02-19 11:20] k-rus commented on #3392
Implementation of `Db.LookupTable` is incorrect (see for example #3387). I am planning to fix it that it uses metalayer API. The current problem is that if a table was removed, while layout still exists, it will find the layout for non-existing table.

The message is created by `LogApplicator`, if I understood your question correctly.

[2016-02-19 11:25] per-samuelsson commented on #3340
Me too.

While we are getting closer to realizing this, can I also propose we take the oppurtunity to take a small step closer to this:

Take a special look at this section:

that states

What is it I suggest? That once we are about to release anything we consider a stable, we

1. Define a version of it (outlined in @dan31's OP)
2. Tag it (as suggested by @k-rus @warpech)
3. **Merge it into origin

[2016-02-19 11:25] warpech commented on #3384
Current status: Polymer 1.2 changes are available in https://github.com/StarcounterSamples/SysUpgrade repo that is being tested by @malx122. After he confirms it works, SysUpgrade can be merged to Starcounter `develop` and issues #3384, #3022, #2922 can be closed.

[2016-02-19 11:26] warpech commented on #3022
Current status: Polymer 1.2 changes are available in https://github.com/StarcounterSamples/SysUpgrade repo that is being tested by @malx122. After he confirms it works, SysUpgrade can be merged to Starcounter `develop` and issues #3384, #3022, #2922 can be closed.

[2016-02-19 11:26] warpech commented on #2922
Current status: Polymer 1.2 changes are available in https://github.com/StarcounterSamples/SysUpgrade repo that is being tested by @malx122. After he confirms it works, SysUpgrade can be merged to Starcounter `develop` and issues #3384, #3022, #2922 can be closed.

[2016-02-19 11:28] per-samuelsson commented on #3340
(Just realized I post this in the wrong tracker, and hence the reference to "@dan31's OP" is a bit off, but I think you all get a hang of it anyway). :sunglasses:

[2016-02-19 11:31] dan31 commented on #3340
Guys, I just move that discussion to https://github.com/Starcounter/RebelsLounge/issues/16, since it serves both establishing the release protocol with our partners and releasing 2.2 with all necessary routines discussed. Next releases checklist we can cater for in public tracker.

[2016-02-19 11:31] #3340 closed

[2016-02-19 11:34] dan31 commented on #3392
@k-rus if I understand you correctly, your fix will not help resolve the current issue, right? The current issue appears to be somewhat different, since it designates disorder with no manipulation on schema.

[2016-02-19 12:43] atifsheikh opened #3393 "Question : Is there a way to check total number of records in the DB?"
I am in process of reloading my DB using command `staradmin -d=mydb reload db --file=data.sql`.
I can see that my entire database is loaded, except "Starcounter.Raw.Simplified.Ring5.UriPermission" table, and i am getting the following error on loading the DB :
`Cannot create object with the given id, since the object id is not free.`

I understand the reason of error, there should be 0 records in

[2016-02-19 12:45] miyconst commented on #3393
Removing items from database is not enough. The id keys are still used and not available.

You have to remove database and create new one.

[2016-02-19 12:55] atifsheikh commented on #3393
Thats what i am doing, but before running the Reload command, i have to run all the apps as instructed in the following link :
https://github.com/Starcounter/Starcounter/wiki/Reloading-database-between-Starcounter-versions

But i think i have found the issue, these records are being created in UserAdmin app, so i commented out everything from Main function. and have started ReLoad process, lets se

[2016-02-19 13:14] k-rus commented on #3392
I don't know if my fix will solve the issue or not, since the issue cannot be reproduced.

[2016-02-19 13:17] dan31 commented on #3392
@linkdata what happens if you stop all Bulker instances, start the database and then start some modified Bulker which only attempts to insert a single ```Record``` into it. Does the situation reproduce?

[2016-02-19 13:18] k-rus commented on #3393
If your apps create data in the Main script, then your database is not empty and load cannot succeed. You have to create versions of your apps, which do not create data, since the data will be loaded. Another approach you should not load the data, which are created in Mains. Either you don't unload them, or you remove from the reload SQL script. The latter is not feasible if the file is huge.

It

[2016-02-19 13:24] atifsheikh commented on #3393
My app was not creating data in Main Script as i commented out every line of code from Main function.
UserAdmin was creating some records in DB, so i commented all lines of code from Main Function in that project aswell, and i successfully Reloaded my Database.

Thanks @k-rus for your response.

[2016-02-19 13:24] #3393 closed

[2016-02-19 14:23] linkdata commented on #3392
I'm having strange problems running Bulker and LogStreamer in debug build - heavy CPU load, no actual work being done. Inspecting the processes and threads show a Bulker query and TransactionLog.LogManager.OpenLog() using up all CPU. Investigating.

[2016-02-19 14:27] per-samuelsson commented on #3393
@atifsheikh

The case when fellow apps "assure" data like that, out of control for other applications, is something we are currently having a conversation about on our internal tracker: https://github.com/Starcounter/CompanyTrack/issues/179.

If you have any ideas on how to make that sort of thing more manageable, all input is highy welcome!

[2016-02-19 14:46] atifsheikh commented on #3393
I can not access your internal tracker.

Also, I dont have good knowledge of how internal SC code works, but i think the easiest way will be to somehow delete all records from DB and free up all Object Ids when the reload command is executed.

Alternatively, (before starting ReLoad process, code should automatically check) if the ObjectId is already used, code should get a new ID (that is not bein

[2016-02-19 15:00] warpech opened #3394 "AppName can be influenced by the case of star.exe parameter"
I found this issue today and became instantly annoyed by it :) https://github.com/StarcounterPrefabs/Launcher/issues/200

It turns out that the case of the executable name in CLI path (`star MyApP.exe`) causes the app to appear as "MyApP" in merged JSON namespaces, Administrator and so on.

Is it possible to use the assembly name instead? Or normalize it in some other way?

[2016-02-19 15:03] per-samuelsson commented on #3394
@warpech

You can give it any name you want with ``--name``,

[2016-02-19 15:06] per-samuelsson commented on #3394
What exact problem did it cause?

There's quite a few places that uses the application name, but I've tried to always be strict treating is as *case-insensitive*, and IMO, we should consider all code that treat "MYAPP" and "myapp" as distinctive a flaw that need to be fixed. Do you agree?

[2016-02-19 15:38] k-rus commented on #3387
This can be fixed after Starcounter/CompanyTrack#137

[2016-02-19 16:01] mtornwall opened #3395 "Connection: close causes premature closure for largeish files"
If a static file is requested with `Connection: close` (as is the case with the default nginx reverse proxy configuration, for example), it seems that Starcounter very frequently (say, 50 % of the time) closes the connection prematurely, causing a short read.

Thus far I've only seen this happen on pretty large files (on the order of hundreds of kilobytes).

Note: If anyone else has this problem a

[2016-02-19 16:17] warpech commented on #3394
It caused this problem: https://github.com/StarcounterPrefabs/Launcher/issues/200

Layout editor in Launcher stores the layout using the app name as the key and is **partially** case-sensitive about this, which caused the problem.

With your explanation now I believe that it should be totally case-sensitive about it

Now the question is, is it possible for Launcher to get the assembly names of the

[2016-02-19 16:18] warpech commented on #3394
If you suggest that application name should be *case-insensitive*, then why don't we just lower-case it globally?

[2016-02-19 16:19] warpech commented on #3394
If you suggest that application name should be regarded *case-insensitive*, then why Starcounter doesn't just lower-case it globally?

[2016-02-20 06:25] per-samuelsson commented on #3394
We could, technically. But it's not the exact same thing, and I'm not sure it's the right way to go.

The thing is it's good practice to **preserve user input**, trying not to mess with it. Users want to see that what they enter stays that way. Hence, as a user, if I run `star MYAPP.exe`, or even more `star --name=MY_BEST_APP app.exe`, I'd like to see that casing when you list my app. Hell, I migh

[2016-02-20 06:48] per-samuelsson commented on #3394
@warpech, I think you need to make that section clearer for me to understand it fully.

In .NET, in *practice*, the simple assembly name *is* the executable name, with the extension stripped off. (That "in practice" disclaimer is because it's not fully correct, b/c .NET support having the assembly name being something totally different than the executable name, but I've more or less never seem any

[2016-02-20 12:23] eriohl commented on #3284
Done.

[2016-02-20 12:23] #3284 closed

[2016-02-22 06:53] per-samuelsson commented on #3322
Bumpsy.

@alemoi? @chrhol?

[2016-02-22 07:25] k-rus commented on #3392
I can think that table not found error might happened due to running new version of pnext against an existing database, created with older version of pnext. I noticed that pnext always contains several tables, which are not meta-data. I don't know what are the tables for and how often are their schemas changed.

[2016-02-22 07:35] linkdata commented on #3392
The heavy CPU load is caused by the log reader while it's scanning the log file. Using the debug build, it will take a long time to get to the initial reading position (even for a small database it can take minutes or hours). @bigwad may need to look into speeding it up.

But the error happens in the middle of a run - it's been accessing the tables being referenced thousands of times, then it fail

[2016-02-22 07:53] k-rus commented on #3392
Thank you for clarifying. I misunderstood where it happens.I thought it was starting. @bigwad uses `Db.LookupTable()`, which is not designed to be used in runtime, but is for bootstrapping. For runtime, queries against meta-data tables should be used.
On the other side I don't see why `Db.LookupTable()' should return `null`, why it does not find a table.

[2016-02-22 07:53] linkdata commented on #3392
After leaving three databases running LogStreamer on a debug build of SC over the weekend, the error failed to materialize. This leads me to believe it's probably a race condition. I'll see if I can push it a bit harder.

[2016-02-22 07:57] linkdata commented on #3392
That's interesting. It should be changed, ofc, but do you also think it's likely to be the source of the problem?

@bigwad, please let me know when `TransactionLog` have been changed over to meta-data tables as well, and I'll try to reproduce it in release mode under high load.

[2016-02-22 08:11] k-rus commented on #3392
I don't see why it should fail. The only reason for the error is if `sccoredb.stari_context_get_layout_infos_by_token`, implemented by @eriohl,  does not find any results, while it should.

`Db.LookupTable` is very expensive method as it creates many new objects in the object heap. Furthermore, the result of it should never be used outside bootstrapped. The information, which it creates, is alread

[2016-02-22 08:42] linkdata commented on #3392
Well, unless the implementation is thread-safe, it's likely to fail under high load when the likelihood of multiple simultaneous lookups becomes higher.

[2016-02-22 08:51] k-rus commented on #3392
Another reason can be that `star_get_token`, implemented by @alexanderstc, returns a non-existing token, or problem with pInvoke, which is unlikely. If I understand correctly, `star_get_token` reads meta-data in the database, i.e., querying the database using kernel API, thus I don't expect it should fail.

[2016-02-22 09:02] bigwad commented on #3392
I doubt it's the way to go. To query raw metadata LogApplicator would do all the same actions as  Db.LookupTable does. No reason to duplicate knowledge about metadata structures. Perhaps Db.LookupTable requires some redesign to ensure it may be called from LogApplicator, but I don't see why it can't be called as is. As Ruslan doesn't see why it may fail, me neither.

LogStreamer creates a bunch of

[2016-02-22 09:43] k-rus commented on #3392
Do you call `Db.LookupTable` once per table at runtime or is it called many times per the same table?

Thank you for clarifying. It's correct that binding contains only tables infos for loaded classes.

Does LogApplicator need to know about all layouts, which are presented for the given table?

[2016-02-22 09:54] bigwad commented on #3392
Now it's called for every record being inserted/updated

Unfortunately, I'm not exactly sure what do you mean here. Is it related to table upgrade?
For record being updated LogApplicator needs to know primitive type of each named column and column's index in the record. And for record being inserted it additionally needs layout handle.

[2016-02-22 10:16] k-rus commented on #3392
This means that GC needs to clean up all the objects created. Under heavy load as in this issue GC should work a lot.

Same table/type can contain records with different layouts. Currently, it happens if a table was altered with additional columns. `Db.LookupTable` collects the list of layout handles, which might be not needed for your purpose.

[2016-02-22 10:28] alemoi commented on #3322
Sorry, I missed this one. In the current design Im affraid that would be the case, request filter can seriously mess things up.

[2016-02-22 10:32] bigwad commented on #3392
As mentioned, records themselves (column names, values) being processed are allocated on the heap as well.

As I see from the code, Db.LookupTable peeks the first layout it finds. As to different layouts - are those layouts have to be compatible thus index for existing column never changes? If this is true - than getting the most recent layout should work for LogApplicator.

[2016-02-22 10:47] k-rus commented on #3392
No, it uses the expected layout, which is defined in the meta-data.

I don't fully understand your question. It is correct that layouts have to be compatible or at least compatible now, however index needs to adapt to different layouts for the set specifier, which is index for. @eriohl knows that details how it adapts. The main concern is when inherited layout is added.

[2016-02-22 11:16] bigwad commented on #3392
LogApplicator doesn't rely on indices. The only it needs is the right column type and column index (here by index I mean column number in layout) based on column name to update the record. So it behaves mostly like an UPDATE statement. Does expected layout provide this information correctly?
There are some tests for LogApplicator, that test updating column in the base class via the record of desce

[2016-02-22 11:20] linkdata commented on #3392
I don't think I understood that correctly. Are you making the argument that since we allocate (at least) (numrecords) x 2 objects on the heap already, increasing it to (numrecords) x 2 x ("many new objects") shouldn't affect performance noticeably?

The LogStreamer might be processing thousands of records each second, so unless "many new objects" is a low single digit number, I think it'd be worth

[2016-02-22 11:38] bigwad commented on #3392
That's what I mentioned as a subject to profiling. Each movement away from calling Db.LookupTable() for each record will either complicate the code (in case of querying metadata manually) or introduce cache and related coherency issues or both. Sure, will have to do that anyway, if there is a significant performance impact.

It's the one point of what is currently discussing with Ruslan. In any ca

[2016-02-22 11:40] eriohl commented on #3392
All kernel interface functions (except for initialisation) are made thread safe in the same way (i e isolated contexts). So ```stari_context_get_layout_infos_by_token``` is thread safe (or there is a bug and no kernel interface functions are thread safe).

[2016-02-22 11:49] linkdata commented on #3392
`stari_context_get_layout_infos_by_token()` and other kernel calls should be fine then, as this is all done inside a database transaction.

[2016-02-22 12:18] k-rus commented on #3392
Just for information `LookupTable` creates much more objects. Per each successful call it creates as many objects as columns in the layout + 1 object + 1 array.

Using `Db.SQL` will be the same inefficient as it materialises all query results and queries will search for instances of meta-columns and meta-tables.

Expected layout only provides information about indexes/positions of the columns in i

[2016-02-22 12:32] k-rus commented on #3392
@linkdata In your experiment, where you got the issue, could it be that the input somehow contained unknown table or column? For example, database was upgraded at the source.

[2016-02-22 12:45] k-rus commented on #3392
As mentioned earlier a cache (`TypeBindings`) already exists for the loaded classes.

In future cache covering non-loaded classes will be needed. However, nothing is plan for this so far.

[2016-02-22 14:21] per-samuelsson commented on #3322
No problem! We all do sometimes :smile:

OK, thanks. Then I understood the code correctly. Yeah, we should probably change this at some point, but its not a showstopper or anything IMO. It just gives a lot of power to filters, and developers have to be aware of that. And now we have it "documented". :sunglasses:

[2016-02-22 14:21] #3322 closed

[2016-02-22 14:33] linkdata commented on #3392
No, the setup is fully synthetic. Only two user classes exist, and the databases are all newly created.

[2016-02-22 15:08] per-samuelsson commented on #3296
I've reviewed the  prerequisites on this and the related issues, and decided now that I'll do it in this order:

1. I'll add the new API in *addition* to the current one (also extending it, to support middleware classes). This, I'll do in **develop**.
2. Functionality wise, I won't touch how request- and response filtering works under the hood at the moment, and likely not at all in 2.x-based vers

[2016-02-22 17:19] bigwad commented on #3392
Should be significantly improved with my latest check in.

[2016-02-22 17:37] alexanderstc commented on #3378
Done, in pnext.
In case of conflicting colum definitions star_alter_table_add_columns() returns SCERRCOLUMNSARENTUNIQUE and creates a human-readable error message, available via star_metalayer_errbuf().

[2016-02-22 20:31] andwah opened #3396 "WebSocket Close code/reason"
It would be nice if it was possible to get the CloseEvent.Code and CloseEvent.Reason when a socket is closed.
[code]

[2016-02-23 06:07] per-samuelsson commented on #2962
Are we getting somewhere on this? What's our guess? What does that last log sequence indicate, @alemoi?

[2016-02-23 09:09] dan31 commented on #2962
@per-samuelsson, @alemoi is really busy with https://github.com/Starcounter/CompanyTrack/issues/174, but once he's done this one is a next one to look! @alemoi, confirm :cyclone:

[2016-02-23 09:17] warpech commented on #3296
It is OK, as confirmed in https://github.com/Starcounter/RebelsLounge/issues/16.

Since 1 (the new API) is done in `develop`, what else do you mean for 3? Is it just removal of `Page` and `Partial` or something more?

[2016-02-23 09:26] per-samuelsson commented on #3296
Point [3] was a) to replace `Partial` and b) to replace `Page`. And introduce similar functionality driven by registration of middleware.

My initial idea was to do this only in **pnext**, but based on your input in https://github.com/Starcounter/RebelsLounge/issues/16 (and as I wrote there too), I'll now do 3a fully already in **develop** (i.e. becoming 2.2), and try to do 3b in someway that user

[2016-02-23 09:29] warpech commented on #3296
It makes perfect sense now, thanks!

[2016-02-23 11:03] miyconst opened #3397 "Starcounter.Application.Current.ResourceDirectories is empty"
Starcounter application takes `wwwroot` of the `WorkingDirectory` as a default `ResourceDirectory`.

Then why we don't add this value to the `Starcounter.Application.Current.ResourceDirectories` collection?

I need path to the `wwwroot` directory, or any other directory assigned as `ResourceDirectory`. This is only available when I explicitly set it, which is really annoying.

cc @alemoi, @andwah,

[2016-02-23 11:06] miyconst commented on #3397
cc @per-samuelsson

[2016-02-23 11:07] alemoi commented on #3397
Thank you for your question! I think @per-samuelsson is the best here to answer since he did some work around this recently. Thank you!

[2016-02-23 11:07] andwah commented on #3397
Maybe you can find your answer here #3099

[2016-02-23 11:21] per-samuelsson commented on #3397
@miyconst,

You are right, only those resource directories *explicitly* introduced is possible to iterate using the `Application.ResourceDirectories` API.

I was very precise when I documented this. Main documentation is [here](http://starcounter.io/guides/network/static-file-server/), and this additional https://github.com/Starcounter/Starcounter/issues/3099#issuecomment-160137228 provide some in

[2016-02-23 11:39] miyconst commented on #3397
@per-samuelsson

Thank you for the answer.

I have read the documentation, and did not report it as a bug. Probably I am the first one who use this in production. For me it is very annoying to set up those directories on every machine I have to test the application.

The app has export feature. The feature creates a file and should save it in some place available for download. For sure this is `Re

[2016-02-23 11:41] miyconst commented on #3397
Sorry for not paying enough attention at that time. If I would realize that the `ResourceDirectories` collection will be empty unless values set manually, I would complain about it. :disappointed:

[2016-02-23 12:55] alemoi commented on #2962
Thanks for reminding! I looked at the log and the following problem is there: LLVM takes too much time to build test code during gateway startup (probably hangs). The reason for this its really hard to say because code there is linear and very simple on our side meaning a possibly yet another issue with LLVM :(

[2016-02-23 13:33] alemoi commented on #2962
I have produced a test exe for @dan31 to test this specific scenario. He is going to do some testing. @mtornwall here is a file for you as well, I have sent the link by email. Just unpack, run the EXE many times as long as it says Success! and prints small time - its good. If it hangs, then it means that something is wrong with LLVM.

[2016-02-23 14:15] per-samuelsson commented on #3397
@miyconst

What you write make sense, and I can understand your frustration. I suggest an approach like this:

1. We add an issue that adds any present [conventionally based directory](http://starcounter.io/guides/network/static-file-server/#directories-added-by-convention) to the list of directories returned by `Starcounter.Application.Current.ResourceDirectories`.
2. You make a workaround until

[2016-02-23 14:31] alemoi commented on #2962
After the discussion we concluded that it also could be some super slowness during startup. For this I included the updated version of scservicelib (that has now 4 times longer waiting time), just replace all `scservicelib*` files in your StarcounterBin (I would suggest also to make a backup first of those files you are going to replace). I also included helper loop.bat to run the test 10000 times

[2016-02-23 14:36] alexanderstc commented on #3378
If metalayer finds no conflicting columns, but the kernel still think they are in conflict, star_alter_table_add_columns() returns SCERRUNEXPMETADATA and a message with the table name in star_metalayer_errbuf().

[2016-02-23 14:42] miyconst opened #3398 "Add auto detected wwwroot directory to ResourceDirectories"
Parent issue: https://github.com/Starcounter/Starcounter/issues/3397

[code]

Is empty unless we set the property manually. The auto detected `ResourceDirectory`, which is `wwwroot` inside `WorkingDirectory` should be added to the `ResourceDirectories` collection.

[2016-02-23 14:43] miyconst commented on #3397
Sounds good to me. I have already created a similar workaround and the new issue is here https://github.com/Starcounter/Starcounter/issues/3398. Closing this one.

[2016-02-23 14:43] #3397 closed

[2016-02-23 15:18] alexanderstc commented on #3378
I'd also like to ask @eriohl and @bigwad to consider accepting metalayer's per-context error message buffers (or similar) into the kernel and, like metalayer does, use ucs2_stream to create human-readable error messages for kernel errors, with details, e.g. which exactly columns conflict in case of SCERRCOLUMNNAMENOTUNIQUE, see the implementation of star_alter_table_add_columns() for how a similar

[2016-02-23 15:40] k-rus commented on #3378
That's correct. I guess it is hypothetical case and if we meet in reality it will be a bug for an investigation.

[2016-02-23 15:41] alexanderstc commented on #3378
My thoughts exactly.

[2016-02-23 15:48] alexanderstc commented on #2850
Done, in pnext.

[2016-02-24 06:53] careri commented on #3364
Streaming the body works just fine. But I still have the same problem with the url in the adress bar being updated but the file not being downloaded until I hit F5 on the updated url.

[2016-02-24 07:11] per-samuelsson commented on #3251
I'm having bit of a trouble assessing exactly how the `Page.Html` (or rather, the JSON.Html) is accessed in the bigger context.

I've learned now how, when constructing the response, the resource abstraction (`IResource`) is asked to transform itself into the preferred MIME type, and that fits together pretty good. When the `Page` class is activated, the referenced HTML fetched and it's bytes retu

[2016-02-24 07:20] careri commented on #3364
I tested to make a really simple html page with the same download link that's hosted in the Polymer template. In the simple page clicking the link downloads the file as intended, so it's related to Polymer.

This works:
[code]

Any ideas @alemoi and @warpech ?

[2016-02-24 08:08] k-rus commented on #3387
The bug is reproduced by a regression test `DropTableBug3387_test.bat` in branch ` bug/pnextDropTable3387`.

[2016-02-24 09:15] dan31 opened #3399 "pnext: Unload on a live database with LogStreamer fails with exception"
When unloading the database:
[code]
[10:16:10, Starcounter (default)] [--failMissing] <type>
Starcounter.DbException: ScErrFailingEntrypoint (SCERR4259): The user code entry
point method raised an exception. Failed to process query: SELECT __o as __id ,"
CommitId","TableId" FROM "LogStreamer"."LastPosition" __o: Unknown class LogStre
amer.LastPosition. Unknown property or alias CommitId. Unknown p

[2016-02-24 09:19] dan31 commented on #3399
CC @per-samuelsson @bigwad @linkdata @k-rus

[2016-02-24 09:23] k-rus commented on #3399
This can be related to separation of apps that apps cannot access schema's of other apps. I don't know how it exactly works. It might be related to that replicator specific schema is created as user defined schema while playing purpose of storing some meta-data for replicator. However, unload is a specialised app, which should be able to read all schemas and it worked fine with all other user-defi

[2016-02-24 09:30] dan31 commented on #3399
Taking this input, I believe the relevant thing would be to adopt the generic ```staradmin unload``` / ```staradmin reload``` to play nicely with logstreamer specific tables. I'm not sure whether there is somewhat deeper problem of mixing/misusing concepts of metadata tables, do you think it is the case @k-rus? @per-samuelsson @bigwad please keep the thing within your view and address it when time

[2016-02-24 09:33] k-rus commented on #3399
@dan31
By the way have you loaded apps, which loads the classes? This is current prerequisite to use the unload.

[2016-02-24 09:40] per-samuelsson commented on #3399
Me, I'm sorry, but I don't really have any input on this. I know I tested unload a long time ago, and also was hit by the thing that it failed when all classes where not loaded, and (as I remember) the error really didn't illustrate that was the error.

As for the `staradmin unload` command, it's quite stupid / transparent. It pretty much just invoke `Db.Unload()` after parsing and validating the

[2016-02-24 09:41] chrhol commented on #3251
I was going to answer sooner, but got a nasty cold that left me out of the loop for some days :)

There are currently some hacks and extra functionality in the json serializer to support blending and sending juicy layouts to the client inside the viewmodel. These were added (as a lot of weird stuff usually are) when there was no time to do anything else and we really needed to get it working. Ther

[2016-02-24 09:46] linkdata commented on #3392
I found the bug. It was [indeed](https://github.com/Starcounter/Starcounter/issues/3392#issuecomment-187059474) a race condition, but not in Starcounter. The LogStreamers deserializer was using a static StringBuilder to avoid creating a new one for each string but failed to guard it with a lock.

I will close this issue and open a separate one for this (to quote myself):

If the table name had bee

[2016-02-24 09:46] #3392 closed

[2016-02-24 09:49] linkdata commented on #3295
Would have made debugging https://github.com/Starcounter/Starcounter/issues/3392 trivial.

[2016-02-24 09:53] k-rus commented on #3295
This has nothing to do with the error itself. Log replicator uses the error code to report the error. It should also create a message with all needed information. The main problem is that it uses `Db.LookupTable`, which is not designed for the replicator purpose.
Replicator also should be fixed to not use SQL error codes.

[2016-02-24 09:56] linkdata commented on #3399
The `LogStreamer.LastPosition` class is just a regular database class. Nothing special about it. Does `unload` require all application to be loaded when running?

[2016-02-24 09:59] per-samuelsson commented on #3399
Yes, it does, as @k-rus wrote earlier:

[2016-02-24 10:00] k-rus commented on #3399
Yes, it uses normal `Db.SQL` to retrieve data for unload, see also [unload/reload documentation](https://github.com/Starcounter/Starcounter/wiki/Reloading-database-between-Starcounter-versions)

[2016-02-24 10:03] per-samuelsson commented on #3399
WTBS, and if nothing has changed since I tested it some year ago or so, you can instruct it to allow "partial" unloading. When you do that, every class that is not loaded will simply be ignored.

Use `staradmin help unload` to see example for when that option is used (hint: `--allowPartial`).

As the context here is **pnext**, maybe the unload implementation does not support this anymore. If so, I

[2016-02-24 10:04] linkdata commented on #3295
Did you mean "log reader"? The "replicator" (actually "LogStreamer") neither creates SCERR4230 exceptions not does it use `Db.LookupTable()`.

Again, not sure if you mean `LogStreamer` (ex replicator) or `TransactionLog` (the log reader).

[2016-02-24 10:07] k-rus commented on #3295
Sorry, I have no idea how it is called. Please, correct my text to proper component name. The main point is that the problem is not with the error code, but with the code which uses it. So you can correct the title and the issue.

[2016-02-24 10:09] k-rus commented on #3399
I have not touch unload/reload for pnext. @bigwad was fixing implementation of reload, but I don't think he was doing anything with unload affecting this.

[2016-02-24 10:10] dan31 commented on #3399
@k-rus true, it is the case, to clarify my statement "on a live database" actually means that I have all the apps running, hence the database is live.

[2016-02-24 10:11] dan31 commented on #3399
"All the apps" namely are Bulker and LogStreamer, two apps in total.

[2016-02-24 10:26] bigwad commented on #3399
App is definitely loaded otherwise error would be from Unload itself, while we see SQL error. @dan31, could you craft some query to this table from admin console?

[2016-02-24 10:31] k-rus commented on #3399
Thank you for clarifying. Sorry I missed this information, which is only in title, while I unintendantly assume that the issue body is self-contained.

How can the issue be reproduced? Does it require data being created? How apps can be obtained or where are they located?

[2016-02-24 10:38] linkdata commented on #3295
No problem. It can stand as is now that I know what you meant.

I'm not so sure. Let me explain.

When we omit the table name from the message, we force **all** code that does database operations to explicitly catch the exception and output diagnostic information somehow, or else end up with a useless "you failed" message.

That seems cruel, given the alternative to simply stick the table name in

[2016-02-24 10:39] alemoi commented on #3364
Since, as you pointed, its related to Polymer @warpech can you please provide an insight on how to make downloads work inside Polymer?

[2016-02-24 10:40] linkdata commented on #3295
Just to clarify: This issue is not about any specific use of the exception. It's about why the exception doesn't contain the table name.

[2016-02-24 10:45] k-rus commented on #3295
What do you mean by omitting table name from a message? There is only error code with statically connected message in error code xml file. The message has to be created by the creater of the exception. `LogStreamer` (or what appropriate) creates the exception with the error code, but doesn't create any messages with runtime information such as table name.

The issue is about specific use of the er

[2016-02-24 10:56] linkdata commented on #3295
Ok, I think I see what's confusing me here.

Are you saying that you normally get the table name with the exception, but in the particular case of `TransactionLog.LogApplicator`, it's not there. Therefore, it's not a generic problem, but one specific to that assembly.

Is that about right?

[2016-02-24 11:22] k-rus commented on #3295
Not really. There is no exception `SCERR4230`. `SCERR4230` is just an error code (a number) with associated default static message stored in git repo. The thrown exception is just an instance of `Exception` class or its child. It is responsibility of the developer, who uses the error code in the code to create a message with runtime information. I cannot say where else the error code used without

[2016-02-24 11:28] warpech opened #3400 "Stack trace in an installer alert"
Trying to install Starcounter 2.1.1297 I get the following message that includes a stack trace:

[code]

![image](https://cloud.githubusercontent.com/assets/566463/13284037/f142cf66-daf1-11e5-8e4a-db002a3bf6d5.png)

I think that the message is OK (if manual unload/reload is required), but the stack trace looks unintendeded.

[2016-02-24 11:33] linkdata commented on #3295
Thanks for clarifying.

I'll leave this open until @bigwad fixes this in the `TransactionLog.LogApplicator`, as that was indeed my motivation for opening the issue. @bigwad, have a look at what `RuntimeDelegate.cs` does:

`throw ErrorCode.ToException(Error.SCERRTABLENOTFOUND, string.Format("Table: {0}", typeName));`

[2016-02-24 11:43] dan31 commented on #3399
@k-rus steps to reproduce:
1. Take latest pnext.
2. Take https://github.com/StarcounterSamples/LogStreamerBulker. Run it.
3. Take https://github.com/StarcounterPrefabs/LogStreamer. Run it.
3. In cmd, do ```staradmin unload --file=C:\dump.sql```

[2016-02-24 11:45] per-samuelsson commented on #3251
Wow, it's clearly quite a lot I don't have any clue about in this request processing pipeline, and the more I look at it, the more I get the feeling I'm not really skilled enough to pull this off (i.e. switching to make HTML-provisioning being middleware-based, rather than something built-in by default).

I really appreciate you took the time to write that answer, @chrhol, since I want to learn ho

[2016-02-24 12:05] k-rus commented on #3399
I am able to reproduce this error with any two apps. The steps:

1. Start any two Apps with different schemas.
2. do `staradmin unload --file=C:\dump.sql`

The reported exception appears, but with different table and column names.

I suspect that the bug is introduced by app separation implemented by @alemoi and @dan31. Since `Unload` is just an App, it is not given access to retrieve data from ta

[2016-02-24 12:08] ivarbergman opened #3401 "Suggestion: Mixins for JSON"
I like to propose a minor variant of the `$Reuse` instruction.

Lets say that I have a JSON that I like to reuse in several other JSON's.

    User: {
      Username: "",
      Created: "",
    }

This User-json i bound to some User concept in the databas.

Now, I would like to be able to do some thing like this:

    UserDetails: {
      User: { $: {Mixin: "User"} },
      Alias: "",
      Foo: "

[2016-02-24 12:24] alemoi commented on #3399
In case if an app requires to access all database classes in SQL it can do queries inside "null" application context (StarcounterEnvironment.AppName set to null) , for this there is a method StarcounterEnvironment.RunWithinApplication.

[2016-02-24 12:24] alemoi commented on #3399
In this case full namespaced sql names should be supplied.

[2016-02-24 13:03] per-samuelsson commented on #3296
Merged, pushed and wrapped up in https://github.com/Starcounter/Starcounter/commit/a2df928f382b9d39dbf187a896916324eb647914. And documented in https://github.com/Starcounter/RebelsLounge/blob/master/Uncategorized/Middleware.md.

Just merging it to **pnext** is still to be done, which I'll do eventually.

[2016-02-24 13:03] #3296 closed

[2016-02-24 13:21] k-rus commented on #3399
Is there any instructions how to do it? I don't really understand what to do with the method and when the application context should be reset to make SQL working.

[2016-02-24 13:32] alemoi commented on #3399
This API is not documented because normal applications should never use this API. Here is an example of usage:

[code]

[2016-02-24 13:59] per-samuelsson commented on #3401
Thanks for taking the time to give us this input @ivarbergman.

We have ongoing discussions on different variants we want to do with reusage in general, but I'm not skilled enough yet to see all the implications of your suggestion and/or if we already support something similar.

@chrhol ? @warpech ?

[2016-02-24 14:24] k-rus commented on #3399
Thank you! It works.

[2016-02-24 14:52] warpech opened #3402 "Ability to put weaver.ignore outside of the exe folder"
This is a feature request. I have a problem with easy setup for weaver.ignore when the `bin` directory is excluded from Git.

As (the .io page about Weaver](http://starcounter.io/guides/tools/weaver/#how-to-exclude-a-file-from-being-processed) explains:

The problem is, that in all our apps, the executable directory is excluded from VCS using the following `.gitignore` rule.

[code]

This makes it

[2016-02-24 14:55] warpech commented on #3402
I just noticed that on the same page there is an instruction how to make Visual Studio copy the `weaver.ignore` file to the output directory on every build.

This makes my feature request less needed. I don't mind closing it, unless someone agrees this is a good idea.

[2016-02-24 16:07] k-rus commented on #3399
Fixed

[2016-02-24 16:07] #3399 closed

[2016-02-24 17:22] warpech commented on #3384
Current status: all the known problems in https://github.com/StarcounterSamples/SysUpgrade are fixed and available for another round of tests.

@miyconst has reported some issues with SysUpgrade in FF and IE, which have been fixed now.

Still waiting for a test by @malx122, because he was the main customer requesting the update. If he does not test by the end of tomorrow, I will optimistically inc

[2016-02-25 05:48] per-samuelsson opened #3403 "Help writing minimal web app with Puppet + partial"
It should display a single text field and a button, bound to a JSON viewmodel. When I press the button, I want to handle the input and reverse the text field value (I can write the logic in the handler).

It should not adapt to any mixing, merging, blending, mapping. Using `Page` class is OK.

I'm guessing a triplet + a Program.cs with an entrypoint.

@miyconst @warpech, any of you guys can help m

[2016-02-25 05:53] per-samuelsson commented on #3403
Here's a skeleton which I think is somewhat like you'll suggest, if you want something to start with:

Simple.json
[code]

Simple.json.cs
[code]

Simple.html
[code]

Program.cs
[code]

[2016-02-25 05:56] per-samuelsson commented on #3402
@warpech

Good catch, never really considered this. I'm glad that VS pattern helped you, but lets not close it until I have given it some thought. I'll assign it to me and will eventually consider it.

[2016-02-25 07:09] warpech commented on #3402
I know there is also an argument against. Reading `weaver.ignore` from upper directories might affect the app startup in an unexpected way. Remote debugging, etc, will need to consider the whole environment, not just the current directory.

[2016-02-25 07:25] warpech commented on #3403
10 minutes :)

[2016-02-25 07:43] warpech commented on #3403
https://github.com/warpech/SimplePuppet

Mind that the HTML is "standalone" and will only work without Launcher. I can also write a "implicit standalone mode" version using Partial.cs, that will work with or without Launcher.

[2016-02-25 08:34] per-samuelsson commented on #3403
You are my true hero. :smile: Thanks a lot.

Standalone is actually exactly what I wanted. I tried hint on that on the above HTML. Never mind the "implict standaolone one" (using Partial.cs), I can make that myself if I need that to illustrate something.

[2016-02-25 08:34] #3403 closed

[2016-02-25 08:39] per-samuelsson commented on #3307
Confused user: https://github.com/Starcounter/SweOffshoreIssues/issues/74

[2016-02-25 11:43] miyconst commented on #3384
@warpech please make sure the changes also go into pnext branch.

[2016-02-25 14:39] warpech commented on #3384
Current status: @malx122 confirmed that SysUpgrade works for him.

Today I have found one more problem when using SysUpgrade with Launcher and fixed it.

Tonight I will add SysUpgrade to Starcounter `develop`.

[2016-02-25 16:48] warpech commented on #3384
Current status: Merge of SysUpgrade is blocked by https://github.com/StarcounterSamples/Products/issues/8. Investigating.

[2016-02-26 06:00] per-samuelsson commented on #3296
Done.

Sorry @alemoi for not doing it instantly and that it became a hazzle for you in the middle of the night! My idea was to merge it right after I finished this other issue that also need to be merged, but that was a bad decision to wait. From now on, I'll always merge instantly!

[2016-02-26 07:29] linkdata opened #3404 "pnext: Crash in Starcounter.TransactionLog"
Under heavy load, the `Starcounter.TransactionLog.LogReader` crashed with:

[code]

[2016-02-26 07:42] linkdata opened #3405 "ScErrInputQueueFull (SCERR1026) from Starcounter.Apps.JsonPatch"
Under heavy load, this message was produced in the log:

[code]

I propose that we apply the same technique I use in `LogStreamer` to change `DbSession.RunAsync()` to retry scheduling a few times with incremental backoff before throwing an exception, since very few (I would like to say 'none') applications gracefully handle random tasks not being scheduled.

It's an easy change and should be safe

[2016-02-26 08:10] bigwad commented on #3404
Do you have a crash dump?
Otherwise I can think of two possible reasons: corrupted log (can be checked with db restart) or unserialized access to LogReader (it's not thread-safe class).

[2016-02-26 08:16] jwillmer opened #3406 "pNext: Stoping UserAdmin throws exception and stops all other apps"
Log:

[code]

[2016-02-26 08:26] per-samuelsson commented on #3406
@jwillmer

Thanks for reporting this.

Can't really make much of it, more than it seem to be some problem when some application is actually *starting*, and I guess it has to do with something related to restarts.

Could you translate that for me? Is it just the standard null reference error, or something else?

Moreover, can you constantly reproduce this? And can you tell me the sequence when it o

[2016-02-26 09:00] jwillmer commented on #3406
Translation: "The object reference was not set to an instance of an object"

Basically it says there is a NullReferenceException ;-)

[2016-02-26 09:16] linkdata commented on #3404
No crash dump.
I can start and stop the database with no problem.
Access is serialized by using Tasks. It won't initiate a new Task on the LogReader until the previous has been completed.

[2016-02-26 09:31] bigwad commented on #3404
Please setup your lab as stated here: https://github.com/Starcounter/Starcounter/issues/3297#issuecomment-174574035 to make sure we have a crash dump should it crash again.

[2016-02-26 09:33] dan31 commented on #3405
@linkdata great idea, see also https://github.com/Starcounter/Starcounter/issues/3388. Can you put your hands on this and see if there is a fix that you can add? The scheduling code is in a managed part and perhaps 100 lines at most. I remember you already participated in discussing this with @chrhol.

[2016-02-26 09:39] linkdata commented on #3404
Ok, I've set it up. I'll see if I can force it again.

[2016-02-26 09:43] linkdata commented on #3405
I'll do it for pnext to start with, see how it works out. It's a bit of a showstopper for me since it prevents me from testing the LogStreamer under heavy load.

[2016-02-26 10:01] dan31 commented on #3405
That sounds good.
On 26 Feb 2016 10:43, "Johan Lindh" <notifications@github.com> wrote:

[2016-02-26 12:27] dan31 commented on #3310
@andwah what is a status for it being in pnext now?

[2016-02-26 12:27] #3313 closed

[2016-02-26 12:54] andwah commented on #3310
@dan31 Not sure i have never tested pNext. but the source-code looks the same in develop and pNext for this case.  does this exception still occurs?

[2016-02-26 13:13] per-samuelsson commented on #3310
I merged latest **develop** into **pnext** early this morning, so if @andwah haven't done anything particular in a merge previous to that, this should be part of **pnext** for sure.

I haven't experienced it for quite a while, running a mix of both branches. Have you done so recently, @dan31? Otherwise, I suggest we close this one as fixed.

[2016-02-26 16:26] warpech commented on #3384
All known problems with Polymer 1.2/1.3 are fixed.

Merged SysUpgrade to Starcounter. Should be available in tonight's nightly.

@alemoi could you please merge https://github.com/Starcounter/Starcounter/commit/a47877ed0fd0a879d5daa97b6d714906be34459a, https://github.com/Starcounter/Starcounter/commit/e9d6654a83bba8ff5f8fb9b9f8279cd79ddecd88 to `pnext`?

[2016-02-26 16:27] warpech commented on #2922
Upgrade to Polymer 1.3 done in https://github.com/Starcounter/Starcounter/issues/3384

[2016-02-26 16:27] #2922 closed

[2016-02-26 16:28] warpech commented on #2922
Upgrade to Polymer 1.3 done in https://github.com/Starcounter/Starcounter/issues/3384

This includes creating https://github.com/puppetjs/puppet-polymer-client

[2016-02-26 16:28] warpech commented on #3022
Upgrade to Polymer 1.3 done in #3384

[2016-02-26 16:28] #3022 closed

[2016-02-26 16:29] warpech commented on #3384
Additional improvement is tracked in https://github.com/PuppetJs/puppet-polymer-client/issues/1

[2016-02-26 16:29] #3384 closed

[2016-02-26 16:37] k-rus commented on #3271
Done

[2016-02-26 16:37] #3271 closed

[2016-02-26 16:37] k-rus commented on #3204
`MappedProperty` is also populated.

[2016-02-26 16:37] #3204 closed

[2016-02-26 16:38] k-rus commented on #3307
I fixed issue #3204, so the amount of warnings is significantly reduced.

[2016-02-26 16:47] miyconst commented on #3307
@k-rus thank you, it was really annoying.

[2016-02-26 18:49] bigwad commented on #3295
done

[2016-02-26 18:49] #3295 closed

[2016-02-27 05:36] per-samuelsson commented on #3307
Great, @k-rus. So can we close this issue then?

[2016-02-27 07:49] per-samuelsson opened #3407 "Review and cleanup IResource"
The kind of overloading going on with `AsMimeType`, we should try to avoid in interfaces. There are 4 overloads. They should at least be narrowed down to 2, possibly even one.

Furter, a method such as `GetHtmlPartialUrl` seem a bit off in such a generic interface. Let's see if we can try improve on that too.

[2016-02-28 10:08] andwah opened #3408 "JSON-Patch slows down the browser over time."
After i upgraded the JSON-Patch version from v0.5.3 to v0.5.6 in the Administrator i noticed that the browser got more and more responsive,

Just by clicking the `Auto-Start` button several times in a row the delay between each click got bigger and bigger.  It's not about  the socket. Even the drop-down menu got extremely slow.

![image](https://cloud.githubusercontent.com/assets/2656996/13378561/

[2016-02-28 11:09] per-samuelsson commented on #3251
More things I'm considering:

1. Keep the MVVM viewmodel + view provision smooth and simple, but at the same time
2. Attract the REST purists

Prios in that order, but trying to balance for both.

[2016-02-28 15:46] diliger opened #3409 "SignIn application NullReferenceException"
I try to start SignIn application on my laptop and get the null reference excetpion.
If I start it with launcher I got just nothing.

If I try to start it alone I see this exception:
![image](https://cloud.githubusercontent.com/assets/15857369/13380105/00eeaf64-de4b-11e5-844f-083ba603ebbc.png)

P.S. I tried it with latest PNextNighltyBuild and with latest NightlyBuild.

cc @miyconst

[2016-02-29 07:15] #3307 closed

[2016-02-29 07:22] per-samuelsson commented on #3409
@chrhol?

[2016-02-29 09:29] dan31 commented on #3293
Do we continue to meet this? I was not able to reproduce.

[2016-02-29 10:08] miyconst commented on #3408
@andwah what version of SC should I check?

[2016-02-29 10:13] andwah commented on #3408
@miyconst I used the latest "develop" but i think you can use any version after 1 feb.

[2016-02-29 10:14] miyconst commented on #3409
I was not able to reproduce the issue, but this looks very weird. It falls on a `Self.GET` request. It is 100% reproducible for @diliger with fresh installation of Windows 10 and VS2015.

[2016-02-29 10:23] chrhol commented on #3409
That strange indeed. The line it fails on can be either a partial response that is null or that the handleroptions on the request is not instantiated, but why it would differ between different environments is the question.

I can try to see if I can reproduce it.

[2016-02-29 11:20] andwah commented on #2997
Just had this same problems a couple of times now,  running latest develop.

then i tried to delete the `Personal\Temp\Warehouse\warehouse-20160228T104447820\weaver\6037754934068643BAA3129F3F785FB5EFBEDC1B` folder
and i noticed that  there was two "locked" files there. `Warehouse.exe` and `Simplified.Data.Model.dll`
even after i executed `staradmin kill all`

My database was name is `warehouse` an

[2016-02-29 12:30] k-rus commented on #3278
Do I correctly understand that new `sari_context_create_index` uses name tokens for columns in `column_definitions` to find out the columns to index on?

[2016-02-29 12:48] diliger commented on #3409
I can share my screen or whatever needs...

[2016-02-29 12:57] eriohl commented on #3278
No. Name and type (including type flags). That is: The whole type definition.

[2016-02-29 13:17] diliger commented on #3409
Another screenshot from debug:

![image](https://cloud.githubusercontent.com/assets/15857369/13395467/f1878ba8-deff-11e5-9334-595c11d37a9a.png)

[2016-02-29 16:01] per-samuelsson commented on #3251
Finally a first draft proposal done. I wrapped it up in an article that I plan to contribute as a blog post, once we can get to a consensus on the details.

The whole article is temporarily hosted here:
https://github.com/per-samuelsson/Misc/wiki/Demystifying-request-handlers

**TL;DR**
I suggest two complementary approaches for returning multiple representations for a single resource in general,

[2016-02-29 17:53] andwah commented on #2997
got the error again, this can have something about.
I changed the code from version 1 to version 2, after that i hit F5 and got the error.

Version 1:
[code]

Version 2:
[code]

[2016-02-29 19:08] miyconst commented on #2997
@andwah please do not change the original Key property. Create another one instead.

[2016-02-29 20:21] Starcounter-Jack commented on #3178
BUMP!

This needs to be fixed!

[2016-02-29 20:50] andwah commented on #2997
@miyconst Sure, that was just an experiment. i will put back the Key handling.

[2016-02-29 21:00] k-rus commented on #3178
In Starcounter each app is isolated and is not allowed to query local data schemas of other apps. They can access only shared data. Administrator is an app, but special app as a tool. To allow its speciality @alemoi fixed that it can query data from schemas of other apps. However, the current code base has limitations, which makes it difficult to have app isolation on one side and access to schema

[2016-02-29 21:04] alemoi commented on #3178
I think best for now would be a combobox allowing to select the app in which context to perform a query.

[2016-02-29 21:28] andwah commented on #3178
Why not as i previous suggested,  Executed the query and if there is an ambiguous namespace then we show an message about that, otherwise return the query result.  It this possible?

[2016-02-29 21:54] dan31 commented on #3178
Unfortunately, it is not worth effort hacking on the old QP in order to have proper name resolution for an unambiguous names (like it works in C# or C++). At least, it was not straightforward to implement when @alemoi and me were hacking it for apps isolation (certainly we thought about the name resolution scheme).

Well, sticking to a least surprise requirement, which is a big requirement of Star

[2016-02-29 21:57] dan31 commented on #3178
@alemoi what should be in a combo if I have a data model in a shared dll which I want to query against? Today this must be my main tool, if I create my own suite using existing Starcounter 2.1.

[2016-02-29 22:15] andwah commented on #3178
i will be happy if we can somehow avoid a combo.
What kind of error would i get if i try to query "Person" table and there is two "Person" tables but in different namespace/apps.  If it's possible to detect the ambiguous case then we can show an error message, or even better a combo with a list of choices?

[2016-02-29 22:26] dan31 commented on #3178
@andwah you tease @alemoi with this :) It should be possible, I even think we can patch the old QP further to do actual resolution. But let him finish his current important work first. (I don't like combos too).

[2016-03-01 07:28] andwah commented on #3178
@dan but all work is on me not @alemoi ? or did i miss something?.

I ask again: is it possible to detect the ambiguous case?

[2016-03-01 08:04] per-samuelsson commented on #2997
@andwah

Bah, this thing somehow still exist? :cry: And the error is exactly the same, similar stacktrace, as in the OP?

Would you have a test application I can take part of and test with? And/or could you try running the weaver in isolation, as I suggested [here](https://github.com/Starcounter/Starcounter/issues/2997#issuecomment-151466587), and see if you can reproduce it like that?

Any help a

[2016-03-01 08:11] k-rus commented on #3178
Now it is not possible  and I think it was never possible. This is limitation of the tool used in the old query parser and type checker.

[2016-03-01 08:13] andwah commented on #2997
@per-samuelsson Yes, Same stacktrace,

It's strange it dosent happen all the time. So i can not provide you with an application where it's reproducible all the time. but im sure last time it happend i did some change on soe properties in a  database class.

i'm working on this project https://github.com/Starcounter/Warehouse.

Note: the comment above about the locked files etc..

Next time i get t

[2016-03-01 08:14] k-rus commented on #3178
It is probably a good starting point for discussion, which should be hold in other place. Note that there is no isolation between apps running in the same host in C#. So it is not so obvious.

[2016-03-01 08:18] andwah commented on #3178
@k-rus Thanks..

Btw, What about if we find the table name in the query and add the namespace if it's missing?

[2016-03-01 08:24] k-rus commented on #3178
To do so you need to write another SQL parser for this purpose and this requires considerable amount of work and does not worth the effort.

[2016-03-01 08:27] andwah commented on #3178
@k-rus I did not know that the current parser had that limit, darn ;-) just trying to find a good solution for the user.

[2016-03-01 08:48] per-samuelsson commented on #2997
Yeah, that's strange really, and I'm quite interested in this actually. It might be the cause that things fail, if there are some assemblies that can't be re-weaved, and others that can. I need to consider this some. Thanks for pointing that out.

Nice, please do. When you see it, could you also try take again if you find the same thing with locked files? Maybe even try track it down to what actua

[2016-03-01 09:12] per-samuelsson commented on #2997
Inspired by that new idea about locked files, I set up a little experiement, and forced the main assembly to be locked while doing refactoring and restarting.

Unfortunately, when the error was caused by that, the message was not the same:

[code]

(Yet similar, and similarly bad :crying_cat_face:)

@andwah, just for me to be able to sleep tonight, could you just copy-paste one of those errors you

[2016-03-01 09:16] per-samuelsson commented on #2997
Actually, copy the one that comes exactly from the weaver, the one with Source `Starcounter.Server.Weaver`, rather that those duplicates logged by the server.

[2016-03-01 09:18] alexanderstc commented on #1214
Going to add an SCSQL_ERROR * parameter to QP API functions to return the error that way instead of thread-local variable.

[2016-03-01 09:22] andwah commented on #2997
[code]

[2016-03-01 09:52] miyconst commented on #3178
Quite a long issue. I am being hit by this and other querying limitations all the time. So here are my thoughts:

- We should not waste time trying to improve the old SQL processing engine.
- We can/should spend time to add something on top of the SQL query in the administrator.
 - Automatically escape table and property names.
 - Automatically remove semicolon at the end of the script.
 - Automat

[2016-03-01 09:57] per-samuelsson commented on #2997
AHA! You see, that's not the same as in the original at all, which make me really happy. :) Because I was so sure I had fixed that one. :smile:

Look closer at the content:

And then it's neither related to refactoring, but to files being locked. And that I could produce myself, as I wrote just a while ago.

I'll reopen a new issue for that error instead, and will eventually close this one.

[2016-03-01 09:57] linkdata opened #3410 "pnext: System.IndexOutOfRangeException from Starcounter.Query.Execution.CodeGenFilterCacheShared.AddNewFilter()"
[code]

The query in question at `LogStreamerSession.cs` line 672 is:

`LastPosition dbRepl = Db.SQL<LastPosition>("SELECT p FROM LogStreamer.LastPosition p WHERE p.TableId = ?", PeerTableIdPrefix).First;`

/cc @k-rus @alemoi

[2016-03-01 09:57] k-rus commented on #3178
What do you actually suggest to do in this case?

[2016-03-01 10:01] per-samuelsson opened #3411 "ScErrUnhandledWeaverException (SCERR6066) when weaving locked file"
If an application change, and need to be re-weaved when restarted, and the executable file is locked by some other process, the error you see is unspecific and confusing.

[code]

[2016-03-01 10:03] per-samuelsson commented on #2997
#3411

One thing though: I'd still like to know what is actually locking the file in your case, @andwah. So if you experience it again, and could do this:

I'd be really happy.

[2016-03-01 10:03] #2997 closed

[2016-03-01 10:03] miyconst commented on #3178
@k-rus,

This query:

[code]

Throws the following exception:

[code]

So, I can:

[code]

Take the first relevant result, and replace `Something` with `Simplified.Ring1.Something` then execute the query again.

[2016-03-01 10:10] k-rus commented on #3178
Thank you for clarifying.

It is not so simple in general, since the replacement should be done only for the table name. Distinguishing table name from column name in arbitrary supported SQL query is unrealistic without knowing the grammar and parsing the query.

[2016-03-01 10:15] miyconst commented on #3178
I know the complexity, that is why I propose to replace it in the Administrator, not in the query processor.

So, administrator will catch the `Unknown class Something` and then replace `sql = sql.Replace(" Something ", fullName);`.

User will instantly see the change to the query text, and if something else got broken, it will be fixed manually by the user. This feature should be enabled by defau

[2016-03-01 10:26] atifwaqar opened #3412 "New type of exception "Unexpected critical windows error detected""
My apps crashed, and I got the following exception in SC Admin Logs :
Unexpected critical windows error detected at "void __cdecl _init_block_detect(struct __WT_CTXT *)" (error=6).

Any one have any idea of what this error is about?

[2016-03-01 10:33] k-rus commented on #3178
OK, now I think your suggestion is clear that Administrator will update the user input text in the SQL form, so the user will see a modified query instead of written one. Or may be it will be more sophisticated user interaction, but the idea is clear.

[2016-03-01 10:36] miyconst commented on #3178
Exactly, something like intellisense, it does not execute wrong code, it helps you write correct code.

[2016-03-01 11:14] miyconst commented on #3408
@andwah  I can't reproduce the issue. Could you please investigate a bit more?

- Do you see high CPU/RAM usage?
- Try to profile page in Chrome and see what is taking that much of CPU usage if so.

[2016-03-01 11:15] alemoi commented on #3410
Thanks for reporting. I will take a look at this one.

[2016-03-01 11:28] andwah commented on #2997
Been running a couple of hours, no problems yet.. ill be back on #3411 when i get some more input

[2016-03-01 11:49] miyconst commented on #3339
ping

[2016-03-01 11:53] miyconst commented on #3380
@dan31 thanks. @warpech do you think it's enough to close the issue?

[2016-03-01 12:05] warpech commented on #3380
Yes, I think so. I have added a screenshot to the page.

[2016-03-01 12:05] #3380 closed

[2016-03-01 12:29] andwah commented on #3408
Some screenshot from Chrome profile page:

![image](https://cloud.githubusercontent.com/assets/2656996/13427028/994ed344-dfb1-11e5-8e8b-9b2bbe398d39.png)

[2016-03-01 12:29] warpech commented on #3339
Previously we've discussed a new APIs for `Internal.GET`, but it doesn't exist.

Maybe @alemoi knows of some `HandlerOptions` that solve this (though I am not a big fan of hiding behavior in HandlerOptions).

[2016-03-01 12:32] warpech commented on #3408
Reproducible for me as well. If you put a `console.log` in `jsonpatch.generate`, you will notice that after few clicks it gets executed 100s of times.

Looks like a problem in Angular controllers, because I have never seen such problem it our Polymer apps.

[2016-03-01 12:43] alemoi commented on #3339
I checked the code. The handler is registered on gateway only of level is `DefaultLevel`. But I can introduce another option for `HandlerOptions`. How would you like to name it? `CodehostOnly`, `DontRegisterOnGateway`?

[2016-03-01 12:57] warpech commented on #3251
Very good read!

Do you propose to introduce two patterns at once? I think we should only implement and support the recommended one.

Any luck making this work with Puppet?

[2016-03-01 12:58] alemoi commented on #3410
Strange since this code was not touched for ages. I looked at it and seems the filter is generated too many times for this query by some reason. Maximum number of filters is 4 now. Is it possible for you to put the breakpoint in CodeGeneration\CodeGenFilterCache.cs line 95? I can sit with you and see why.

[2016-03-01 13:10] andwah commented on #3408
@warpech oh, any clue how to solve it?

[2016-03-01 13:27] alemoi commented on #3410
@k-rus do we have a test that does Db.SQL with code generation on many schedulers, like the SQLCacheTrasher did before? We are worrying that SQL cache processing could have some race conditions (i.e. when executed on several schedulers at the same time).

[2016-03-01 13:30] k-rus commented on #3410
No, I am not aware about tests of SQL on several schedulers.

[2016-03-01 13:44] warpech commented on #3408
This is definitely a bug in JSON-Patch. There are event listeneres that are never removed:

[code]

This was not apparent before we switched from Object.observe.

I will create a fix.

[2016-03-01 13:52] miyconst commented on #3339
I would call it `SelfOnly`, I thought we had something for it, probably it was only in discussions.

[2016-03-01 14:03] miyconst commented on #3408
@warpech thanks for taking this one.

[2016-03-01 15:06] alemoi commented on #3410
Ok, but are there tests that ensure thread-safeness of Db.SQL calls that are executed simultaneously on different schedulers?

[2016-03-01 15:24] k-rus commented on #3410
To my knowledge old query processor and its cache were implemented to be thread safe and were tested on thread safety and usage on several threads.

Those regression tests, which I am aware of, do not do tests on multiple schedulers and thus cannot check thread-safeness.

[2016-03-01 15:31] alemoi commented on #3410
Yes, that's correct. I thought that there could be changes in the meantime that caused thread-unsafeness.

[2016-03-01 16:23] warpech opened #3413 "Exception SCERR6066: PostSharp.Sdk.CodeModel.BindingException: Cannot find the type 'System.Runtime.Versioning.TargetFrameworkAttribute' in assembly 'mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'"
I am trying to debug @malx122 problem with Stacounter nightly/Polymer 1.3, but I cannot start his application.

This is the stack trace that I get when trying to start the program:

[code]

I am stuck on this. Help appreciated.

[2016-03-01 16:28] warpech commented on #3413
cc @per-samuelsson

[2016-03-01 16:48] warpech commented on #3408
I pushed a fix in JSON-Patch and released a new version.

I commited the new version to Starcounter's `/sys/` directory, but did not update the file in Administrator. @andwah can you do that?

(this would help: https://github.com/Starcounter/Starcounter/issues/3194)

[2016-03-01 16:52] andwah commented on #3408
@warpech Sure ill update Administrator.

[2016-03-01 16:52] warpech commented on #3408
Nevermind, I did it :)

[2016-03-01 16:52] #3408 closed

[2016-03-01 16:52] warpech commented on #3408
Please let me know how this works for you

[2016-03-01 16:55] andwah commented on #3408
@warpech I was confused when i checked the version number and it was already up'to'date :-)

[2016-03-01 16:57] andwah commented on #3408
Works just perfect, thanks!.

[2016-03-01 18:13] alexanderstc commented on #1214
Removed scsql_get_error(), passing QP error via api functions parameter by a copy.
In l0 & l1 pnext.
Internally in level0 the scerror is still a thread-local variable, but that doesn't matter now.
It can be changed to a per-context as soon as QP approach to contexts is decided.

[2016-03-01 18:13] #1214 closed

[2016-03-01 18:52] per-samuelsson commented on #3413
@warpech

Don't have more than like a minute now, but very likely to do with some deviation in installed .NET framework between your env and his. Kind of weird though, I must admit.

https://www.google.se/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=targetframeworkattribute%20attribute%20not%20found

I'll get back on it later or tomorrow if you are still stuck.

[2016-03-02 05:38] per-samuelsson commented on #3413
Any news on this @warpech?

If you can't resolve it, could you give me access to the failing application and I can set up a local environment on my end and do some testing?

[2016-03-02 08:07] warpech commented on #3413
No news :(

I am running Windows 10. Please let me know if I can provide more details.

I will ask @malx122 to give you access

[2016-03-02 09:18] per-samuelsson commented on #3413
@warpech

After setting up that environment locally, and diagnosing the weaver, I found I could successfully weave the application if I added `Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll` to the `weaver.ignore`. It's some reference from there that failed.

Try that, please.

Meanwhile, I'll take a look if the user experience can be improved, and add it to the pile of other such issue

[2016-03-02 09:29] per-samuelsson opened #3414 "Whitespaces influence weaver.ignore"
By chance, I noticed that if I add a file / pattern to `weaver.ignore` that contains leading/trailing whitespaces, the matching fail.

Hence, if I add `"foo.dll "` (without quotation marks, and notice trailing whitespace), the weaver will include "foo.dll" in the weaving process. Removing the trailing whitespace will exclude "foo.dll", which is probably what the user wanted.

I'm treating this as

[2016-03-02 09:31] warpech commented on #3413
Yeah, it worked! Thanks!

[2016-03-02 09:34] per-samuelsson commented on #3413
Good. Not very happy myself though, since UX here is obv extremely unsatisfying. But I'm glad you could get back doing your thing.

Also, don't forget to promote that to Tunity guys, since they would want to update their master copy of weaver.ignore with that for sure.

[2016-03-02 09:35] warpech commented on #3413
Any idea why it works OK for them?

[2016-03-02 09:38] per-samuelsson commented on #3413
Most likely because they have installed some software that unit-testing library reference, and hence all dependencies from it can be resolved on their environments, while you and I don't have that on ours. The weaver depend on that all references from any assembly it process must be resolvable. And the way to relax that is to include them in the ignore file.

[2016-03-02 10:14] per-samuelsson commented on #3413
I'm currently investigating how we can improve the UX, like I wrote above.

Since the weaver is really a low-level tool, and normally invoked by a server, it's a bit hard to revolutionize it without doing a largish redesign on how this whole chain of operations come together, and I think we can't afford that kind of effort right now. In the upcoming DNX-weaver, we should design with this in mind f

[2016-03-02 10:14] #3413 closed

[2016-03-02 10:27] k-rus commented on #3413
I was hit by exactly this usability issue and took me a lot of time to understand the problem that I was missing an installation of a software. (do you remember @per-samuelsson , I was buzzering with this in chat)

[2016-03-02 11:12] miyconst opened #3415 "Not all installed applications is running."
Should be:

Not all installed applications **are** running.

[2016-03-02 11:39] per-samuelsson commented on #3112
@jedynykaban

Sorry we haven't replied to that earlier.

As far as I know, there has been no real use cases with that kind of mocking, and I think the reason is that it can't be done easily like 100% accurately, mainly because of the native nature of Starcounter, which build on hosting of user applications (or "user code" more generally, and more accurate to the situation in 1.3 and any version <

[2016-03-02 12:26] atifsheikh opened #3416 "Exception : Access violation (C0000005)"
(I'm not sure if the following 3 exceptions are related. But I am just adding the detail here. I know for sure that the first exception "Access violation" caused crash of all apps)
My apps crashed, and I got a new exception in SC Admin Logs:

Access violation (C0000005) detected at ..\..\src\sccoredb\sccoredb\sccoredb.cpp:1289 (Thread 5264).
    00000035EDCB26DD sccoredb!update::Rregister_bad_ref_

[2016-03-02 12:32] atifsheikh commented on #3412
@dan31 i can see no errors prior to this one. the last error before this error occurred days ago. so it cant be related.

[2016-03-02 13:04] per-samuelsson commented on #3413
Yeah, and there are three inherit problems here that make this (and similar issues) complex to "solve" without a largish redesign:

1. The weaver is pretty much a blackbox
2. The weaver is invoked somewhat deep in the tooling chain: (process) star (IPC ->) (process) admin server (IPC ->) (process) weaver (-> unhandled exception)
3. Exception in dependency resolving comes from underlying PostSharp,

[2016-03-02 13:58] miyconst opened #3417 "Static content directories"
Why does Starcounter locks directories inside an application resource directory? This is very annoying, I have to stop the app to be able to delete the directory.

Starcounter does not observe new folders in the resource directory. It is required to restart application after adding  any (for example `/sys/`) directory to make then be available from the client side. Can we do something about it?

c

[2016-03-02 14:05] per-samuelsson commented on #3417
Duplicate-ish of #1638?

[2016-03-02 14:10] miyconst commented on #3417
More like an extension for that issue.

[2016-03-02 14:26] alemoi commented on #3417
I guess the directories are locked because they are being observed for changes, like adding a new file change. However I consider adding a new folder and not picking it up as a bug then.

[2016-03-02 14:27] alemoi commented on #3339
Sounds reasonable. I will add this.

[2016-03-02 14:30] miyconst commented on #3417
Is it possible to observe changes without locking sub folders? Locking the resource directory itself is not an issue.

[2016-03-02 15:54] miyconst opened #3418 "Replacing Session.Current.Data object generates patch with ver#s = 1"
If the `Session.Current.Data` object was replaced with another view-model server resets server patch version to 1 and client fails with the following exception:

[code]

My handlers:

[code]

[code]

Test bench is available here: https://github.com/miyconst/Playground/, the `Reload current model` link.

cc @chrhol

[2016-03-02 16:16] miyconst opened #3419 "Spaces in Self.GET URL"
I have a handlers:

[code]

And a call:

[code]

In the Handler the `name` value is `i7`, but should be `i7 - 4770k`.

[2016-03-02 18:20] #2647 closed

[2016-03-02 18:23] alemoi commented on #3417
I can't answer this right now unfortunately. Needs investigation.

[2016-03-02 18:24] miyconst commented on #3013
@alemoi anything with this issue?

[2016-03-02 18:25] miyconst commented on #2975
@andwah this is fixed, right?

[2016-03-02 18:25] miyconst commented on #3057
This hit me again, can we finally fix it?

[2016-03-02 18:29] dan31 commented on #3388
We took a deliberate design session last 2 days and here what we come up with.

1. __Queue becomes no longer static__. The unmanaged code in our old scheduler for a fixed circular queue is to be redone into dynamically growing list-like queue. To be done by @alemoi and @dan31. @alemoi - short note: before operation, we have to wrap it with a microbenchmark to see how we affect performance with our

[2016-03-02 18:33] #3068 closed

[2016-03-02 18:33] dan31 commented on #3057
@andwah, check please. Probably minutes to fix.

[2016-03-02 18:34] miyconst commented on #3114
@chrhol I have updated the documentation at http://starcounter.io/guides/transactions/running-background-jobs/.

[2016-03-02 18:34] #3114 closed

[2016-03-02 19:42] andwah commented on #3057
@dan31 Minutes to fix, hours to install/test :-),

[2016-03-02 19:49] andwah commented on #2975
@miyconst I have not changed the behavior,

[2016-03-02 20:05] dan31 commented on #3399
Works well on a running Bulker too, great! :+1:

[2016-03-02 20:10] per-samuelsson opened #3420 "Extend diagnostics from weaver"
From https://github.com/Starcounter/Starcounter/issues/3413#issuecomment-191230635:

This issue is basically about that bold thingy from the comment.

[2016-03-03 05:21] per-samuelsson commented on #3420
Note to self: update http://starcounter.io/guides/tools/weaver/ to include guide on how to diagnose.

[2016-03-03 05:23] per-samuelsson commented on #3420
And when doing so, drop the section on bootstrap weaving since we have abandoned that.

[2016-03-03 08:38] eriohl commented on #3416
Thank you for reporting. Sorry for the late response.

The access violation we've seen before and it should have been fixed in a later version (see #3046). As for the other errors they are unlikely to be related.

[2016-03-03 09:10] atifsheikh commented on #3416
This "access violation" exception occurred only once for me (so i thought to inform you guys), if it occurs again i will definitely update my Starcounter Version.

And i can ignore the other 2 exceptions, as they are not disrupting or disturbing my Apps.

Thank you for your response. :)

[2016-03-03 09:10] #3416 closed

[2016-03-03 09:23] andwah commented on #3411
More info:

I got an exception in Main()  (it was a call to `DbMapping.MapDefault<Simplified.Ring2.Organization, Organization>();` that failed.

I removed that call and then i hit `F5` again and got `ScErrUnhandledWeaverException`
Did `staradmin kill all` Hit `F5` still `ScErrUnhandledWeaverException`

I run the tool 'Handle' (after i did `staradmin kill all`) as you suggested this is the relevant

[2016-03-03 09:24] andwah commented on #3411
ps. when i killed the `msvsmon.exe` process everything was back to normal.

[2016-03-03 10:08] per-samuelsson commented on #3411
Thanks a lot, @andwah. Then we are 100% this is caused by that locked file.

So its the bloody **remote debugger** that locks it on your machine! Have you used that recently? I was under the impression that thing don't just run by default, but maybe it does in some scenarios.

No matter what, we seem not to be the only people in the world having suffered from this: [Google "msvsmon.exe lock file"]

[2016-03-03 10:09] per-samuelsson commented on #3420
Done.

[2016-03-03 10:24] andwah commented on #3411
Have you used that recently?

Not that im aware of, but i use `Remote Desktop` to work on my machine.

[2016-03-03 10:26] andwah commented on #3411
Short term, check if files are locked, if so. generate new ones,  it's only temp files right and they can be regenerated right?

[2016-03-03 10:32] per-samuelsson commented on #3411
Nah, unfortunately not. They are the files that represent the actual running application, after we have fully prepared it. So it's not that simple. Some kind of solution in that direction is certainly *doable*, just that it's not a quick fix. More like a day of work I think.

Anyway, I don't think its a high prio right now, like not at the top of our list or anything. Let me consider it some more

[2016-03-03 11:59] #3414 closed

[2016-03-03 12:00] per-samuelsson commented on #3414
Did indeed.

[2016-03-03 12:02] per-samuelsson commented on #3420
Implemented, merged, pushed into **develop** (https://github.com/Starcounter/Starcounter/commit/ef1355f03e18caa855cc537ef69e8468fa70090d).

Remaining: finalizing the new documentation at [Troubleshooting weaver failures](http://starcounter.io/guides/tools/weaver/#troubleshooting-weaver-failures), and merging into **pnext**.

[2016-03-03 12:10] eriohl opened #3421 "VS2015 "Step Over" (F10) doesn't break at the beginning of Main"
1. Create a Starcounter Application project from template.
2. Hit F10 (Step Over).

Normally this breaks the debugger at the beginning of the Main function. Not with the Starcounter application however. Then it acts as F5 (Start Debugging). It attached the debugger and breaks on breakpoint. But not in the beginning of Main function.

[2016-03-03 12:51] dan31 commented on #3416
@atifsheikh, thank you for the instant feedback :) I still warmly recommend to migrate to the latest Nightly as we discussed before in chat, since it has a number of important fixes. This will make you prepared to move to upcoming 2.2 version as well. In regards to BMX-related one, this should also be off the table in the Nightly, since @alemoi addressed it around a month ago. Maybe @alemoi have a

[2016-03-03 13:06] atifsheikh commented on #3416
@dan31 ok sure, we will migrate to the latest nightly build then. Thanks :)

[2016-03-03 13:17] per-samuelsson commented on #3421
Yeah, I've noticed that at some point as well, and similarly, F11 doesn't step in as it should. As far as I know, this has never worked with out extension, so it's not specific to VS 2015.

[2016-03-03 13:32] alemoi commented on #3013
Its simple: network drives worked for me fine, including changes pick up. The issue only was when using parallels, thats why the issue is suspended.

[2016-03-03 13:51] per-samuelsson commented on #3420
Done also.

However, the sample output looks kind of shitty unfortunately, which is bit of a shame when I spent some energy to get it as readable as possible when extending the weaver and the new diagnostic provisioning. For some reason, WP seem to **both** add a horizontal scrollbar **and** still crop the content? And also do some highlighting that I can't really get a grip on.

Below is how I wa

[2016-03-03 14:31] per-samuelsson opened #3422 "pnext: PnextDailyWindows doesn't build"
Seem to be since sometime yesterday, and what I can get from the logs it's the below failing.

Build server report this as the first failure:
First failure: #2.3.956 	const.miyang (2) 	02 Mar 16 14:27

@miyconst, any ideas? Did you explicitly merge that new thing you pushed yesterday into **pnext** and if so, did you run the personal build first?

[code]

[2016-03-03 14:43] per-samuelsson commented on #3422
I did some investigation, and this is a result of that `DbHelper.FromID` overload for sure.

Take a look at this expression (part of **pnext**, and ran in the tests):
https://github.com/Starcounter/Starcounter/blob/pnext/src/Starcounter.Extensions/ModificationMapGenerator.cs#L19

[code]

That one will be ambiguous as soon as any overload is introduced, and hence this is what blows up:

[code]

cc

[2016-03-03 14:51] per-samuelsson commented on #3251
Thanks!

My idea was to introduce both at once, yes. But it might be wise just to start with the recommended one, and see if there is actually a need for the "inline" version.

Haven't had much time to do more than simple mocking. The "spec" itself has been the main focus, plus all other stuff. But I did sit down for a couple of hours with @chrhol and as I understand it, I'll need help to get the

[2016-03-03 16:47] alemoi commented on #3422
I guess I have to read another thread to understand the thing about FromID changes.

[2016-03-03 18:48] alemoi commented on #3013
Is it the case for you as well that network drives are working but not Parallels?

[2016-03-03 20:26] miyconst commented on #3013
I didn't test with the network drives, but it for sure does not work from Parallels.

[2016-03-03 23:11] alemoi commented on #3013
That's true and it surprisingly works for normal network drives. There are issues regarding Parallels on the net - I will find.

[2016-03-04 00:34] alemoi commented on #3422
I wasn't familiar with that code @per-samuelsson so I looked at the history and I found that @chrhol wrote it. @chrhol can you please check?

[2016-03-04 05:25] per-samuelsson commented on #3422
Aha, sorry, I thought it was you that wrote it.

If we want to keep that overload @miyconst submitted, I guess what we have to do is to make the code more specific when binding to it, specifying what overload to grab.

[2016-03-04 05:26] per-samuelsson commented on #3420
Can't complete this, because of #3422 when I'm trying to merge it into **pnext**, so I'm doing something else in between.

[2016-03-04 05:34] per-samuelsson opened #3423 "Creating/opening projects take really long time"
@eriohl has reported this on Gitter recently, and we have discussed it there, and when he debug the extension, he can see that it get stuck on `IVsOutputWindow.CreatePane`, which is some MS API we use to create the "Starcounter" output pane.

He's reported that on his machine, creating projects take like 5 minutes (!) because of this.

We have really no idea what this method do internally, taking

[2016-03-04 05:35] per-samuelsson commented on #3423
Didn't come through in the title: "Starcounter" projects that is.

[2016-03-04 05:45] per-samuelsson commented on #3420
Seem we don't have the same kind of policies for pushing stuff to **pnext** and that it builds is not a requirement at this moment. There have been quite a few commits and merges after #3422 broke the build, and now latest **develop** was merged too, so this stuff came along in that.

Then this one is done.

[2016-03-04 05:45] #3420 closed

[2016-03-04 07:17] miyconst opened #3424 "Invalid SQL IS execution"
In SweOffshore we have two classes: `Simplified.Ring2.Person : Simplified.Ring2.Somebody`, `SweOffshore.Person : Simplified.Ring2.Person`.

I try to execute a query:

[code]

The query goes fine in the administrator, but fails from c#:

[code]

But it throws the following exception:

[code]

![image](https://cloud.githubusercontent.com/assets/6435556/13520169/460bdffe-e1de-11e5-9850-594090451ca7.p

[2016-03-04 07:18] eriohl commented on #3423
For the record I run VS2015 Community Edition on Windows 10.

Removing the Starcounter output pane and project creation takes 1-2 seconds.

Also tried running VS as Administrator and it seems to make no difference.

[2016-03-04 07:26] per-samuelsson commented on #3423
I do too.

That's good I guess, because then we have a least an option to do so to fix it. Feels a bit weird to do the effort though, when we've seen it on one machine only and that we still don't know *what* is causing it underneath.

At the same time, it's not acceptable you can't use our templates / the extension of course, and if we come up with nothing else, that's the only option we have. :c

[2016-03-04 08:26] k-rus commented on #3424
Thank you for your question. WHERE clause is responsible for selection condition. The comparison of the types is done at query compilation time by comparing generic type and result type.

Administrator does not fail because it does not use generics.

In your example, you can use matching generic and then cast it to needed type using C# casting facility or redesign the query to select the expected

[2016-03-04 08:29] miyconst commented on #3424
So, there is no way or plan to fix it on Starcounter level?

[2016-03-04 08:47] k-rus commented on #3424
In my opinion such problems solved by improving the design of applications. Your example is exactly case for `SynonymousTo`.

Furthermore, C# will also fail in your case, since the types are not fully compatible. Explicit casting is required. By the way, you can try to use [cast](http://starcounter.io/guides/sql/cast-operation/) in your query.

So the answer is NO due to many reasons and also leas

[2016-03-04 08:51] miyconst commented on #3424
Okay, then I close the issue as won't fixed. I know I can cast the values after the query completed.

[2016-03-04 08:51] #3424 closed

[2016-03-04 08:51] alexanderstc commented on #3422
Could you guys do your consideration on a branch other than pnext please?

[2016-03-04 08:52] per-samuelsson commented on #3423
Discussed further on Gitter, and me and @eriohl agree we should drop this thing. I'm trying to do that like in the weekend or beginning of next week.

[2016-03-04 09:04] k-rus commented on #3424
I guess I didn't explain well the problem of your proposal, otherwise `won't fix` term is incorrect here.
I don't really see that it is good to include implicit cast in the situation where explicit cast is required.

[2016-03-04 09:22] k-rus commented on #3422
According to git history and teamcity history the breaking change was commited by @miyconst without testing in personal branch, which is against our policy. Any pushes to non-personal branches such as `develop` and `pnext` should be guarded with running personal builds on personal branch. (we want to automate this, but don't have resources to fix it). As I see in the history many developers do not

[2016-03-04 09:29] k-rus commented on #3420
We do have the policy (I guess it is still not written), but as I see many developers in the company ignores it. There are even developers who pushes changes into `develop` without running personal builds on personal branches.

[2016-03-04 09:53] eriohl opened #3425 "pnext: ScErrDbProcNotSignaling warning starting database"
Happens every time a database is started. Server waits for an event named SC_S2MM_PMONLINE_<database_name> to be set by scdata.exe. It no longer sets this event however.

Not as easy as add addressing this in scdata.exe however. Database is now loaded on process startup so with a larger database this timeout would always occur anyway. Needs to be redesigned.

[2016-03-04 10:04] per-samuelsson commented on #3425
Clarifying the underlying demand: a way (for the admin server) to boot up a database (as in "the backend process-set, including the host") on demand, and wait for it to signal it's "operational".

Not sure how that maps to recent discussions/redesign of "process management backend" area in **pnext** though. But with that, we at least have a clear demand.

[2016-03-04 10:13] andwah opened #3426 "Can not start app [F5] ScErrDebugSequenceFailUnexpect"
With the latest code 2016-03-04 im getting problems starting apps.

1. Pull latest `level1 `from `develop `code and build.
2. Create new Starcounter project.
3. F5

VIsual Studio Output:
[code]
Worked just fine a day ago.

[2016-03-04 10:17] per-samuelsson commented on #3426
And nothing in the logs?

[2016-03-04 10:18] alemoi commented on #3426
Anything more about exception in output? Worrying that could be caused by my changes in Response class. Does manual start using star works for you?

[2016-03-04 10:19] andwah commented on #3426
@per-samuelsson Nothing in log :-(

[2016-03-04 10:21] miyconst commented on #3424
I agree with your statement, but for me this looks like explicit cast. It explicitly tells `Db.SQL` that I want to get list of `SweOffshore.Person` in the result.

[code]

This would be incorrect:

[code]

[2016-03-04 10:21] andwah commented on #3426
I can start the app with `Star` but i can not start it within Visual studio [F5] (debugging)

[2016-03-04 10:22] andwah commented on #3426
I will try to reinstall the Starcounter extention..

[2016-03-04 10:23] k-rus commented on #3424
I see your point. You want to treat generics as cast operator. I think we already discussed this in some issue some time ago.

[2016-03-04 10:24] andwah commented on #3426
Update: Reinstalling the extension did not solve my problem

[2016-03-04 10:25] k-rus commented on #3424
The open issue is #1306, so this one is duplicate to it. However, no decision was made there either.

[2016-03-04 10:26] per-samuelsson commented on #3426
FWIW, @eriohl reported the same thing earlier on Gitter.

[2016-03-04 10:26] per-samuelsson commented on #3426
I'll try bringing things down on my machine and try it here to see if I get the same. If so, I can debug it for you.

[2016-03-04 10:28] alemoi commented on #3426
Per do you remember it was somehow possible to debug extension itself, like attaching VS process in another process? I just need the stack trace to understand where it occurs.

[2016-03-04 10:28] miyconst commented on #3424
Yes, it's a duplicate then.

[2016-03-04 10:34] per-samuelsson commented on #3426
Yes, of course it is.

Just fire up one instance of VS where the app project is, e.g. "devenv.exe" PID: 123. The open another instance (normally, just the one where Level1 is loaded to have all the code at hand). In this instance, "Attatch to process ..." and attach it to "devenv.exe" PID 123.

[2016-03-04 10:37] per-samuelsson commented on #3426
Another way is to just specify `--sc-debug` in "Command-line arguments" in any Starcounter project loaded into a VS instance, and it will prompt you to attach the debugger to the hosting VS instance just at the start of the extension debugging sequence.

[2016-03-04 10:38] per-samuelsson commented on #3426
Like:

1. Open "MyApp.exe" in VS
2. Go to `Properties | Debug` and put `--sc-debug` in command-line parmeters.
3. Hit F5.

You'll be prompted to attach.

[2016-03-04 10:39] per-samuelsson commented on #3426
So you are on this one then @alemoi? Then I won't bother until you tell me to, ok?

[2016-03-04 11:03] alemoi commented on #3426
Yeah, I will check this one!

[2016-03-04 12:09] alemoi commented on #3426
I found the issue as I expected to be - just a missed initialization. Sorry, my bad. The fix 5de08c3fd9b33c0154af910681375982ce93ebd6 is pushed to develop and pnext. @per-samuelsson thx for the help in how to debug vs extension! @andwah thx for reporting :)

[2016-03-04 12:09] #3426 closed

[2016-03-04 12:16] andwah commented on #3426
@alemoi Thanks for the quick response.. i have pulled the latest and all works again as expected.

[2016-03-04 12:17] miyconst commented on #3422
@k-rus, @per-samuelsson, @alemoi, @chrhol, @alexanderstc I apologize for this issue.

I have removed the `FromID(string oid)` overload from both of the branches, and won't push any changes to Starcounter till I have environment to build and test it locally.

[2016-03-04 12:23] per-samuelsson commented on #3422
@miyconst

Nice. And don't worry, it can happen to the best of us. :smile:

Let me know if I can help you set something like that up!

And on a related note: you can actually do fine without a local install for simpler cases and as long as you just define some test. Then you can just host it in a branch, and give it to the build server to test it, and if it works, you're good to go. Same thing the

[2016-03-04 12:26] miyconst commented on #3422
Yes definitely. Will approach you on Monday.

[2016-03-04 12:31] per-samuelsson commented on #3422
Cool. The prerequisite is you can access the build server from your box, requiring a VPN if your not connected to the network. Ping `teamcity.starcounter.org` to see you can do that (require that the DNS recognize it, or its in your hosts file).

[2016-03-04 12:32] per-samuelsson commented on #3422
Confirmed it builds now btw, lets close this one down.

[2016-03-04 12:40] warpech opened #3427 "Improve static resources HTTP caching policy"
It was reported numerous times by our users that HTTP caching headers for static resources are too agressive.

The problem is that whenever there are updates to static `/sys/` files (because of installing a new version of Starcounter or an app), your browser still serves you the old files from browser cache.

I know that @malx122 uses middleware to alter headers to make it more usable:

[code]

I

[2016-03-04 13:18] alemoi commented on #3422
Welcome to the team @miyconst :D
Happened many times for all of us :)

I can give you a lecture, guys.

[2016-03-04 15:48] alexanderstc commented on #3422
FFS

[2016-03-04 15:50] miyconst commented on #3422
What is up this time?

[2016-03-04 15:51] alexanderstc commented on #3422
Probably a re-merge of the problematic code.

[2016-03-04 15:58] k-rus commented on #3422
@alexanderstc It is good if you look to actual error in the log. If it is the error due to this issue, then it is good to reopen. Otherwise it is much better if you open another issue.

The actual error in the log is:

and build fails.

It is not the same issue.
I close this issue.

@alexanderstc
It is great that you noticed the build fail. Please, report this in a separate issue.

[2016-03-04 15:58] #3422 closed

[2016-03-04 16:02] alexanderstc commented on #3422
Let's wait and see if the re-build succeeds.

[2016-03-04 16:15] alexanderstc commented on #3422
It did succeed, so it was just another one of those build server mood swings.
Great, no need for the new issue.

[2016-03-04 17:03] warpech commented on #2690
@chrhol is has a solution for this, which is being implemented in branches:

- https://github.com/Starcounter/Starcounter/tree/issue/2690
- https://github.com/StarcounterPrefabs/Launcher/tree/mergecallback

It works quite well already! We just have the following problems (might be connected):

1. `JsonResponseMerger.RegisterMergeCallback` is called a little more times than desired
2. After visitin

[2016-03-04 17:03] warpech commented on #2902
The solution is tracked in #2690

[2016-03-05 08:04] per-samuelsson commented on #2690
@chrhol

I sneeked a bit at the code and I really like the way this thing is going, e.g how there are now specializations of the serializer handling that feature-specific stuff.

As we discussed last week, let's see how/if we can shape it up to fit our new middleware pattern once it gets ready for merge. Ping me when you get there and we can take a look at it together.

[2016-03-05 12:46] eriohl opened #3428 "pnext: Changing database configuration in admin GUI doesn't work"
(Cogwheel next to database name in database list called Database settings.)

Update scheduler count. Save button lights up. But nothing happens when the save button is pressed. Works in develop.

[2016-03-05 12:49] eriohl commented on #3282
Seems to be hardcoded to "tracker" database. Also: executabeStart seems misspelled.

[2016-03-05 21:57] alemoi opened #3429 "Nightly build fails for queryprocessing_test"
Here is the place in the latest nightly:

https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=1536#_focus=6387

[2016-03-06 14:12] per-samuelsson commented on #3423
Started this one. Decided to do it in both main branches. Speak up in case anyone think thats wrong.

[2016-03-07 06:59] alexanderstc commented on #3429
I'll try to reproduce.

[2016-03-07 07:03] miyconst opened #3430 "pnext: Installer fails with System.IO.DirectoryNotFoundException"
I am trying to installer the latest pnext (`2.1.1367 (Mar 7, 2016 3:00:35 AM)`) and it fails with the following exception:

[code]

If the folder `C:\Program Files\Starcounter` was not found, it should be created, is not it?

@andwah is it something you can check?

[2016-03-07 07:08] miyconst commented on #3430
I had `2.3.950 (Mar 2, 2016 2:00:42 AM)` installed, which was uninstalled by the Installer. Installation of the `2.3.977` for the second time went without errors.

[2016-03-07 07:32] miyconst opened #3431 "pnext: Failing to install an app from Warehouse"
I am trying to install Sign In app into `Starcounter-PnextNightlyBuilds-2.3.977` and getting the following error:

![image](https://cloud.githubusercontent.com/assets/6435556/13563090/e012acce-e43e-11e5-9f57-497e828cc9c9.png)

Log entries:

[code]

[code]

Same thing happens for other applications. Did we change compatibility between pnext and current Warehouse?

[2016-03-07 07:33] alexanderstc commented on #3429
Oh, it's develop, can't help much there.

[2016-03-07 07:58] k-rus commented on #3429
The builds started to fail after changes from @alemoi, @warpech and @per-samuelsson
It seems to be related to the changed number of tables affecting the test. What exactly was changed I don't know. So it is question to contributors.

[2016-03-07 08:04] miyconst commented on #3430
@andwah I can no longer reproduce the issue. It you can't find what was wrong, then just close it.

[2016-03-07 08:05] k-rus commented on #3429
By the way, does failed build suppose to be available for download? All nightly builds fail on the build server, but they are available for download on the download web page. Is it correct?

[2016-03-07 08:07] andwah commented on #3430
just checked the code,,  not really sure how this could happen,, maybe something about permissions to the folder?

[2016-03-07 08:10] miyconst commented on #3430
I have no idea, I can only assume that de-installer removed the folder after the installer checked that it exists.

[2016-03-07 08:48] per-samuelsson commented on #532
Taking this on as part of #3423, adapting to the terminology we use today and the formatting of the CLI.

[2016-03-07 08:50] careri opened #3432 "DbHelper.FromID not updated, DbAccessViolation"
Hi!

I've written code that ensures that an instance of e.g. Person exists with the name Carl. Simplified steps:
1. Search for the instance on the current thread
2. If it doesn't exist switch to another attached thread and create the instance in Db.Transact.
3. Handle constraint violations and reread the instance from db if someone else created it at the same time.
4. Reload the instance on the ma

[2016-03-07 09:16] careri commented on #3432
If I add a method that retries reloading the instance for 1 second. The instance is always returned, most of the times directly but sometimes with a delay of a few thousand ticks
[code]

The method:
[code]

[2016-03-07 09:17] careri commented on #3432
Actually I just got the Failed to reload exception now, so maybe 1sec isn't enough after all

[2016-03-07 09:19] per-samuelsson commented on #3423
Fixed in **develop**. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/0dd33ba363490c4af132288ec2ff7011a42bb335.

About to merge it into **pnext** too.

[2016-03-07 09:47] per-samuelsson commented on #3423
Build time for **pnext** is pretty horrible btw. Approx 15 minutes for simple daily custom builds with default configuration is quite far off.

Reading about how these kind of cycles work and when they don't, everybody quite agree that ~ 5 minutes is a hard ceiling, and for like every time slice you add to that, people will try more to get away from doing it. Plus of course that it involves a real

[2016-03-07 09:55] per-samuelsson commented on #3423
Done.

I'll let you verify and close this issue eventually, @eriohl. Should now be fixed in both main trunks.

[2016-03-07 09:55] per-samuelsson commented on #532
Done.

[2016-03-07 09:55] #532 closed

[2016-03-07 10:23] k-rus commented on #3423
Can you create a separate issue about it? We discussed it and it requires some work to have possibility to disable/enable tests. Another problem with pnext is instability and big changes all the time. (note develop nightly failed probably due to your changes)

[2016-03-07 10:27] per-samuelsson opened #3433 "pnext: Daily builds take > 15 minutes"
Reflection here: https://github.com/Starcounter/Starcounter/issues/3423#issuecomment-193183292.

[2016-03-07 10:27] per-samuelsson commented on #3423
#3433

?

[2016-03-07 10:44] per-samuelsson commented on #3429
I took a look at it locally to first of all be able to see *what* fails, and it's again one of those tests that expect a fixed number of entries for a result:

This line fails in metadata tests:

[code]

The count comes from counting the result of `select rv from rawView rv`, and when I run this test locally, it's 52, not 49.

Not easiest thing to understand what functionality is really tested by

[2016-03-07 10:46] per-samuelsson commented on #3423
I guess you where referring to that I'm the cause of #3429? Can you go in there and give me some clue on how I can better understand your test?

[2016-03-07 11:00] chrhol commented on #2690
1. `JsonResponseMerger.RegisterMergeCallback` is called a little more times than desired
2. After visiting few partials in the same Launcher workspace, you will see too many `Launcher` entries in `AppResponses`:

Number 2 is solved. I think this was a really old problem/bug that was made visible now that we intercept and display more info about the merging-process.

For number 1 I'm not quite sure

[2016-03-07 11:18] per-samuelsson commented on #3429
OK, I made a custom build to just get somewhere with this, and here are the 52 tables that this test consider a failure - because the test statically has specified that there could only be 49 tables (but not specified which):

![image](https://cloud.githubusercontent.com/assets/2902045/13567653/c4e6ba08-e45c-11e5-8797-3f10c7a85ed0.png)

The test say it should be 49. There are 52. Who's to blame fo

[2016-03-07 11:20] per-samuelsson commented on #2690
Wow, sweet! Well done! :+1:

Sure, I'm just off to eat something, we can do it after that if you like!

[2016-03-07 11:32] alemoi commented on #3429
Per I will check it. Might be related to my changes in Starcounter.Extensions library, however I was sure its excluded like EditionLibraries from the test. Thank you for initial investigation though!

[2016-03-07 11:40] alemoi commented on #2690
I have a suggestion: lets write a full list of situations when merger should be called and document them simply.

[2016-03-07 11:54] k-rus commented on #3429
The tests assume that the number of tables in the test database is constant. Since the test was not changed, then number of meta-tables or some other unexpected by test tables were changed. The list of tables shows unexpected tables in namespace `Extensions`.

I didn't know who's changes were responsible those I mentioned everyone related to the build. Now, @alemoi will check the problem.

Note, t

[2016-03-07 12:14] mtornwall commented on #3427
+1

The default behavior is dangerous and simply cannot be deployed to production, unless you want to go through the hassle of remapping lots of URL's just to circumvent your users' browser caches.

[2016-03-07 12:17] ivarbergman opened #3434 "Problems with include custom-style in partials"
Hi! We have in previous versions of SC used `custom-style`in partials

[code]

to share some common css rules. However in the current version of SC these css rules area no longer applied to the content of the partials.

Is this a known problem?

Note that local custom css rules are applied. Ie the following works:

[code]

[2016-03-07 12:26] miyconst commented on #3434
We recently migrated to Polymer `1.3.0` from `1.1.5`. This might be an issue.

[2016-03-07 12:34] careri commented on #3432
I guess this regards @eriohl or @per-samuelsson?

[2016-03-07 12:46] miyconst opened #3435 "Registering too long group name: StarcounterFileUploadWebSocketGroup"
I am trying to register a `Handle.WebSocket` hanlder:

[code]

But it fails with the following exception:

[code]

- I think the maximum available group name should be extended.
- The exception message text should indicate what is the maximum length.

cc @alemoi

[2016-03-07 12:55] per-samuelsson commented on #2690
Good idea! I'll then add this idea: lets write an overview of what "the merger" is, where it runs (client, code host, only in some app (like launcher), or a mix of those). And what **functional role** it has, and what is needed to activate it. :smile:

[2016-03-07 14:03] alemoi commented on #3435
Thanks for the question! Current maximum in name length is 32 characters. I will improve the exception message, but it still we be thrown.

[2016-03-07 14:07] miyconst commented on #3435
What is the reason for such limitation?

[2016-03-07 15:06] alemoi commented on #3435
I think some performance reasons previously but now I extended it to 64 characters, I guess its more than enough.

[2016-03-07 15:06] #3435 closed

[2016-03-07 18:49] miyconst opened #3436 "HandleFile class request review"
I have created a `HandleFile` class which lets me to write handlers to receive files over WebSocket in a similar way to simple `Handle.GET`.

The file is available here: https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/HandleFile.cs

The syntax to handle files:

[code]

I would like to add this class into Starcounter, otherwise each project which requires file upload w

[2016-03-07 18:54] warpech commented on #3436
Speaking from experience, it is much better to not include super-high level APIs like this to the platform. Some reasons:

1. We will be forced to maintain it forever and ever.
2. There will always be someone dissatisfied with it and requesting new features.

It is much better if we focus on making great `Handle.GET/POST/PUT/DELETE` experience.

That said, I think that the discussion about how to

[2016-03-07 19:07] warpech commented on #3436
Talking about implementation, I propose to do it using middleware, just as ExpressJS does it: https://github.com/expressjs/multer

(Notice that ExpressJS, even though it is a purpose built web-framework, also doesn't have a built-in middleware for file uploads, but does it as a third party middleware).

We are soon going to have a very similar middleware API: https://github.com/Starcounter/Starcou

[2016-03-07 20:07] miyconst commented on #3436
I agree and support this approach, but I think that the article on `starcounter.io` won't be enough. We can provide it as a nuget package or just a shared dll, or a project on GitHub, at least something. It can be under authorship of one of us, and Starcounter won't be responsible to maintain it and keep compatibility.

About the middleware filters, do they work with WebSockets in Starcounter? Or

[2016-03-07 20:45] andwah commented on #3431
@miyconst Can you double check you log, , i was expecting some other log-entry for this error you get.
I got the same GUI error (but other log entry) and it has to do with a change in the timeout parameter to Handler.GET (maybe on all verbs) ,,
the timeout parameter was changed from ms to s,
@alemoi I did you come up with a solution so we do not have to break the code?

[2016-03-08 00:21] alemoi commented on #3431
Thanks for the question. There was a parameter change in Http calls from ms to seconds. Not sure how to make it so it does not break the code. @andwah I guess we need to merge develop into pnext?

[2016-03-08 02:30] alemoi commented on #3431
Merged develop into pnext. So the nightly should have the fix, if succeeds :)

[2016-03-08 05:46] per-samuelsson commented on #2690
@chrhol

I did some extra reviewing and I ended up thinking that you either just push this when done, and provide some simple code sample and/or references to use-cases (like in Launcher), and I take it on from there, and eventually suggest a middleware tweak if it seem to doable. Then we make that a separate issue. Or you just provide the sample / references, and wait pushing it, and I do the sam

[2016-03-08 07:32] andwah commented on #3431
@alemoi ah.. I did not change/fix anything about this, i was not sure if you found a solution where it was not necessary to fix all Http calls (with timeouts) in all apps.

[2016-03-08 08:28] miyconst commented on #3431
Now it does not work at all:

[code]

The log it empty.

[2016-03-08 08:45] per-samuelsson commented on #3436
We will for sure, when we reach DNX, which does the same. The initiative started with middleware is to go step by step, not to just rewrite everything yet another time when users start to get used to it.

[2016-03-08 08:46] per-samuelsson commented on #3436
Here's where we are going: [Serving static files](http://docs.asp.net/en/latest/fundamentals/static-files.html#serving-static-files). Notice how you need to enable it as middleware.

[2016-03-08 08:54] chrhol commented on #3433
Currently (as mentioned in the other issue) there are a lot of tests running for daily builds. I think that all tests are added as a parameter to the build (https://teamcity.starcounter.org/admin/editBuildParams.html?id=buildType:Starcounter_PnextDailyWindows for those that have access to it) but we need to go through them and decide which ones needs to run and which ones takes too long time or is

[2016-03-08 09:00] k-rus commented on #3433
As I mentioned in my original comment:

pnext is unstable now and is easy to break. So testing many tests is important now. Thus, imho, it is not an emergency issue to reduce building time, even it is annoying and slowing our development.

[2016-03-08 09:12] andwah commented on #3431
@alemoi i Updated all Http calls with a timeout that i know of effdbbd8d138e7d732c149f3971b612fb65cafa3

There was two test-projects that i did not update,  `NodeTest` and `SiegeTest`.

[2016-03-08 09:25] chrhol commented on #2902
We're getting close to have a proper solution for this issue in place. I've added a callback that is triggered when merging responses, and added an implementation together with @warpech in the `Launcher`.

What this means is internally in Starcounter, all extra magic stuff for layouts are finally removed from the serializer (and from Starcounter itself except the `Layout` class which probably shou

[2016-03-08 09:49] miyconst commented on #2902
@chrhol it would be nice if you can upload a custom daily build, I don't have environments to compile Starcounter.

[2016-03-08 09:51] per-samuelsson commented on #2902
You don't need a local one, just build one on the build server. Do you have access to that? `teamcity.starcounter.org`.

[2016-03-08 09:55] per-samuelsson commented on #2902
Would be really good if we do that too, IMO. Isn't it very specific to the default Launcher? Can't we just move it there?

[2016-03-08 09:56] miyconst commented on #2902
I do have access, will try that.

[2016-03-08 09:57] warpech commented on #2893
This was implemented long ago. Can be closed now

[2016-03-08 09:57] #2893 closed

[2016-03-08 09:58] warpech commented on #2902
Layout class was included in Starcounter on purpose. See the OP in  https://github.com/Starcounter/Starcounter/issues/2893

[2016-03-08 10:05] per-samuelsson commented on #2902
Thanks @warpech. I'm not sure I like the idea of having Starcounter include that class still, but I do now see the reasoning, and I don't have anything better to propose, so yeah, lets keep it as is.

[2016-03-08 10:53] tomalec commented on #2902
I don't :(

[2016-03-08 11:53] warpech commented on #2902
@chrhol can you put an installer in Dropbox, for those who don't have a VPN or TeamCity access?

[2016-03-08 12:00] eriohl commented on #3432
What do you mean by DbAccessViolation? AccessViolationException from DbHelper.FromID? Which version are you using?

[2016-03-08 12:01] miyconst commented on #2902
I just have did that. Available in my Exchange folder.

[code]

[2016-03-08 12:03] chrhol commented on #2902
I've added the installer konstantin made to the public folder. Will remove that version once we have merged the fix.

https://www.dropbox.com/s/a2lttshsaqbk5xx/Starcounter-DevelopDailyBuilds-2.1.1382-Setup.exe?dl=0

[2016-03-08 12:03] chrhol commented on #2902
Haha, I was 2 seconds too late

[2016-03-08 12:05] warpech commented on #3427
@alemoi do you think it would be possible to include the above behavior directly in Starcounter? In place where we currently have: `Cache-Control: public,max-age=31536000`

https://github.com/Starcounter/Starcounter/blob/961fc6935381ddcc7f74018f121980e9e483c6b7/src/Starcounter.Hypermedia/StaticWebServer.File.cs#L135

It could be implemented according to https://www.httpwatch.com/httpgallery/cachin

[2016-03-08 12:14] per-samuelsson commented on #3429
From #3423, directed to me:

And about this:

I know he is. And before that, I spent time on it. You are not at all listening to my essential message here: if there is anything to be considered a bug in this issue, it's how the test is designed. But lets not have this discussion on a tracker. If you ever feel interested, I'll can try explain again to you why I think it is. Just let me know.

[2016-03-08 12:15] alemoi commented on #3427
Its a good initiative, thank you. Yes, I think it should be possible, I can add the above behavior.

[2016-03-08 12:24] alemoi commented on #3429
We have discussed the issue with the test yesterday. Apparently the problem is more general: when adding some classes, the kernel can change the order in which results are returned and there are cases when there is no sorting on that column, so some tests may suffer from this re-ordering issue. My thinking: I don't think its possible to avoid such problems but we should not run the tests in limite

[2016-03-08 12:28] per-samuelsson commented on #3429
And `NoDb`, which I don't think is used anymore either? I totally agree with your reasoning - these flags that is not actively used, we should remove, and all tests should operate on "standard Starcounter". After all, that's what our users will use, and hence that's what we want to test (except in very special corner-cases possibly, but then tests should individually adapt to Starcounter, not the

[2016-03-08 12:33] per-samuelsson commented on #3429
This test didn't suffer from that. This test has nothing to do with ordering. It assumes there are 49 tables in the database. And if it's not, that's an error. Every time anyone add a new database class in Starcounter, this test will fail.

[2016-03-08 13:32] alemoi commented on #3429
True, but as @k-rus points, its not like that in pnext anymore. So, knowing that, this test is like an exception, that we simply should know about and don't spend any more time on. For the future, I really want to force removal of all these flags + not support manual start of sccode, etc (which some of my tests still use, as I remember), only the ubiquitous star.exe! :)

[2016-03-08 13:38] k-rus commented on #3429
Yes, you were one of the three developers, who committed the changes, which broke the nightly build. I didn't know if your changes were breaking or not. I mentioned you because it was related to side discussion there, and you as other two developers didn't react to my notice in this issue. It is great that you took responsibility and look into the issue. Unfortunately, nightly builds are grey zone

[2016-03-08 13:39] k-rus commented on #3429
I don't support this idea. It will limit ability to do component testing and debugging.

[2016-03-08 13:51] careri commented on #3432
Version: 2.1.1327

I was getting AccessViolationException if I used the instance directly without reloading it with DbHelper.FromID.

So I tried to solve the problem by reloading it with DbHelper.FromID, since I was certain that the object was written. But to my surprise DbHelper.FromID returns null.

If I use the Reload-method described above the instance will be available after a while, usually

[2016-03-08 14:25] eriohl commented on #3432
Ok. A transaction runs in a snapshot so unless the transaction was created after a record was created it generally won't see that record. There is some exceptions to this because the snapshot of a transaction can be refreshed. I would guess without knowing that the reason for you not seeing the record is because it has not been. Someone else can answer this better.

Regarding the access violation:

[2016-03-08 15:38] careri commented on #3432
Can I force a refresh of the snapshot?

I'll try to achieve the stack trace again.

Very simplified this is what I do:
[code]

[2016-03-08 17:30] bigwad opened #3437 "pnext: incompatibility on using index with ORDER BY statement"
Given the class
[code]
and the index:
[code]

Such query:
[code]

use index on develop but not on pnext.
To make pnext use the index, both indexed fields should be specified in ORDER BY statement:
[code]

[2016-03-08 22:40] dan31 commented on #3437
CC @k-rus

[2016-03-09 01:11] alemoi commented on #3427
Thank you, good article. Question: in case when resource has not changed (`mt.Equals(ims)`), is it really correct to return it with "Cache-Control" and "Last-Modified" headers as given in example above?

[2016-03-09 05:50] per-samuelsson opened #3438 "Review TypedJSON and view models"
Quoting what @Starcounter-Jack once wrote in a https://github.com/Starcounter/Starcounter/issues/3197#issuecomment-165705253:

I was recently into a similar thinking, if it would be a good idea to refactor the current model into this:

[code]

And then we refine the VS item template to say "New JSON ViewModel...", and the class inherits like that.

I don't think we should *exclusively* use TypedJS

[2016-03-09 06:26] k-rus commented on #3437
Thank you for reporting the issue! I will look at it.

[2016-03-09 07:33] eriohl commented on #3432
Ok. Thank you. Just to be clear: You are getting an managed AccessViolationException (that in this case would be intercepted on managed level). Right?

The only way I could see this happening is that kernel get string produces and error but the managed wrapper thinks the operation succeeded and tries to create a managed string from the (invalid) output.

[2016-03-09 07:51] miyconst commented on #3438
+1

[2016-03-09 08:05] chrhol commented on #3438
I'm not sure I like the idea of having separate classes. We had it as two separate classes (where one inherited the other) in the first protoype, but decided that it made no sense and made it harder to explain, so we removed it. Which means that separating this logic again will be a MAJOR refactoring.

There is no real difference underneath between a viewmodel and TypedJson. The only difference is

[2016-03-09 09:07] careri commented on #3432
My bad, not an Access Violation. Got the exception a couple of hours before I rewrote the example and registered this issue so I mixed up the terms.

I get an ScErrInvalidObjectAccess on this row in the code below:
```var name = instance.Name;```

But the question persists, can I force a refresh of the snapshot? The behavior is inconsistent because 99.99% of the times I don't get the exception

Th

[2016-03-09 09:08] warpech commented on #3427
My understanding is that it should return the regular set of headers (including "Cache-Control" and "Last-Modified") but the response should be with status 304 and **without body**.

You can use Chrome Dev Tools on any decent website (e.g. GitHub) to check how they perform 304 responses (just make sure to disable "Disable cache" in Chrome Dev Tools settings).

More info:

- http://stackoverflow.co

[2016-03-09 09:13] warpech commented on #3427
I just found that this issue duplicates https://github.com/Starcounter/Starcounter/issues/1801, https://github.com/Starcounter/Starcounter/issues/2299

Btw. `ETag` + `If-None-Match` is a hash-based alternative to `Last-Modified` + `If-Modified-Since`. I was not able to find a resource that would clearly recommend `ETag` over `Last-Modified`, so I think it's up to you to decide.  I am fine with any

[2016-03-09 09:25] warpech commented on #3438
I like the idea of renaming current `Json` to `JsonViewModel` and then extracting "just TypedJson" into a new `Json` parent class. But if the effort is more than few days of work, then I don't think it's worth the benefit at the moment.

[2016-03-09 09:27] k-rus commented on #3432
If I understand your code correctly the logic is in `Create`, which first calls `DoCreate` and then `Reload`. `DoCreate` might create an object in different thread then `Create` runs. Thus `Create` with `Reload` has own transaction scope (implicit), which might started before the transaction of creating the object. Thus the object is not available for `Reload` as `Reload` has older snapshot, i.e.,

[2016-03-09 09:37] eriohl commented on #3432
Ok. Thank you for sorting that out. Then both problems are the same. ScErrInvalidObjectAccess you get when record with id doesn't exist in the view of the transaction. Same as when DbHelper.FromID returns null.

As for this with the implicit transactions and transaction isolation I can't help you. I know how it works but not how it is supposed to be used. @per-samuelsson @chrhol @dan31?

But the s

[2016-03-09 09:38] per-samuelsson commented on #3438
We are currently in discussions about this whole thing, me and @chrhol, and we came to the same conclusion. It's probably like that too, so most likely we won't do this right now, also because @chrhol has convinced me that it's possibly not a wise idea on this level anyway.

[2016-03-09 09:51] careri commented on #3432
@k-rus There is not might in that. It is always created on another thread, and that is intentional. And as I state 99.99% of the times there is no problem transferring the instance between the transacts and therefore reload is never called.

But in some cases, I get the ScErrInvalidObjectAccess and therefore I call Reload. Reload doesn't switch transact, but after 1ms-10secs the instance is usuall

[2016-03-09 09:53] careri commented on #3432
@eriohl according to @chrhol calling Db.Transact if already in a Db.Transact has no effect at all. Only the "outer" Db.Transact does anything with transactions.

[2016-03-09 09:55] careri commented on #3432
Actually that last statement from me is why I change threads. I want to ensure that my object is fully commited and not meta-committed due to the fact that I might have a Db.Transact somewhere in the callstack

[2016-03-09 09:56] eriohl commented on #3432
True. But there is no outer Db.Transact in your case because you are using the implicit read-only transaction. This Db.Transact will create a new transaction.

[2016-03-09 11:41] careri commented on #3432
Well, I want to use the implicit read-only transactaction. I design my application to run on the implicit read-only transaction. Only switching to a Db.Transact when I do writes. The writes are really small tasks without any external IO (logging) as suggested by you @eriohl.

So I'm not quite following, is using the implicit read-only transaction a bad thing?

Well yes, and I guess the instane wou

[2016-03-09 11:45] careri commented on #3432
The thing is this 99.99% working, if it would be consistent not working I could live with it.
But the exact same code running on multiple threads yielding different results is not something that feels stable to me.

Either this approach should be supported (I can't see a reason why not), or it shouldn't, Working most of the time is not something I can live with

[2016-03-09 12:47] k-rus commented on #3432
You are running multi-threaded environment and your program does not guarantee consistent view.

Implicit transaction is not a good thing. It is given to users for convenience and works enough well in simple scenarios. Since it is implicit, you do not control when it updates its snapshot of the database.

In your current example `Db.Transact` will work. I believe it is better to use `Db.Scope`, i.

[2016-03-09 12:59] careri commented on #3432
Well, that sure isn't an explanation. The behaviour of starcounter is inconsistent, not my code in this case. If you could point out why most of the time the instance is valid and sometimes it not. How does the refresh of the implicit transaction occur?

Is there more information of this implicit readonly transaction? Is it always the same instance? Or is a new instance created for each call to Db

[2016-03-09 13:15] eriohl commented on #3432
What I mean is that if you may have a Db.Transact in your callstack then Db.Transact won't create a new transaction. So it your design of rescheduling tasks on a different scheduler is because you might have a Db.Transact in your callstack then doing this won't work.

Whether there is a flaw in your design or not I can not advice on as mentioned. This with mixing long-running (including the implic

[2016-03-09 13:21] careri commented on #3432
We've hade similar disussions before: #3192

I tried adding a new readonly transaction with merging writes for each DbSession.RunSync like this:
[code]

But the problem persists, so this is not due to the implicit transaction.
Second argument from the inline documentation:

        //     Transaction conflicts detection flag (merging writes are used if False).

That tells me that the out transacti

[2016-03-09 13:22] k-rus commented on #3432
Starcounter behaves according the specification. Read committed transaction such as implicit transaction or long running transaction reads committed values, but does not guarantee that all values, which were committed after the transaction was started, are visible. This is exactly your case.

Not really correct question. I guess you wonder when committed data are available in read-committed transa

[2016-03-09 13:32] careri commented on #3432
Ok, sorry if I'm sounding harsh. But I'm getting quite frustrated about this. Who knows and who can explain?`

Sorry @eriohl, but I seems to recall some discussion with you and @chrhol regarding long running and performance. I had an example, can't find the issue now. That used a lot of new Transaction() which I then learned filled some pool of "fast" addressed long running transactions. I shall n

[2016-03-09 13:37] careri commented on #3432
I get the exception using Db.Scope as well, but as stated before. It works 99%
[code]

[2016-03-09 13:38] careri commented on #3432
@eriohl

I don't follow, by switching thread I loose my callstack and therefore any Db.Transact bound to the calling thread right?`
I should therefore have full control of when the instance is written?

[2016-03-09 13:44] eriohl commented on #3432
Yes. And I kind of went out of my way not to advise you on how to write your application then as well. As I said: I generally know how it works but not how it is supposed to be used. If you ask my why something works the way it does I could probably tell you. If you ask me how you are to use this framework to write applications then I'm sorry I can't help you at all. Because I simply do not know.

[2016-03-09 13:47] eriohl commented on #3432
That is:

[code]

Now I'm not suggesting that this is good design or anything mind. But this transaction should be guaranteed to see the instance since it is guaranteed to be create **after** the transaction creating the instance.

[2016-03-09 13:48] k-rus commented on #3432
Thank you for trying. As I said I am not sure if it will work. You can also try to cover your select statement with `Db.Transact`.

I hope @chrhol can answer many of your questions.

Thus I suggest you to design your application taking in account optimistic non-locking transactions. We guarantee isolation and atomicity. But since the transactions do not use locking, the order of transactions from

[2016-03-09 13:55] careri commented on #3432
Need to go get the kids, I hope someone has a great explanation by tomorrow ;)

[2016-03-09 15:14] k-rus commented on #3432
I don't believe that the answers will really help you to solve your problem as I already tried to clarify related things. I hope it will make things more clear for you.

To really help it will be necessary to know what you need to do and probably why. For example, moving database data from one thread to another thread is not good idea, instead each thread should be designed to be independent from

[2016-03-09 18:23] Starcounter-Jack commented on #3432
It is hard to huess the actual use case.

You need to exit your transaction and enter into a new one to get a new snapshot. For this you should use Db.Transact(). If there is a surrouding Db.Transact() higher in the call stack, you will NOT receive a new snapshot.
I  suggest you only use explicit transactions and avoid accessing the database unless in a Db.Transact for clarity and ease of reasonin

[2016-03-09 20:28] careri commented on #3432
Well, that sounds reasonable. But there is still the issue with inconsistent behaviour. My design is almost 100% working as stated above.

I would really like to know why. Each thread has a implicit readonly transaction, a DB.Transact is created if the query yielded no result. In this transact a new instance is created.

Same logic executed over and over, then suddenly exception.
I'm distributing

[2016-03-09 22:42] alemoi commented on #3427
Just pushed the changes as proposed. Tested with Administrator seems working fine (file modification as well). Also added header Vary when Gzipping: `response.Headers["Vary"] = "Accept-Encoding";`

[2016-03-10 06:40] k-rus commented on #3432
I already answered your question. The short answer is because read-committed isolation.

You are lucky that your code does not work 100% and you notice problems of running your code in multi-threaded environment already now and was able to reproduce it.

I don't know if using the same scheduler will help and I don't recommend to rely on this.

[2016-03-10 07:37] careri commented on #3432
But if it was because of read-committed isolation, I should never get the item right?
That's whats botter me. If the outer "implicit readonly transaction/new transaction/Db.Scope" always failed to retrieve the instance commited on another thread I could accept your answer.

But most of the time the outer transaction has no problem reading the instance. I'll have a chat with @chrhol see if he can s

[2016-03-10 07:51] k-rus commented on #3432
Obviously you don't understand my reply. Read committed transaction reads committed values. If value was committed it can be seen by the read committed transaction, but it does not happen immediately. The reason why it is not immediate is performance. I guess only @eriohl can explain when the committed value is visible to the read committed transaction. However, it might be changed in future.

Ser

[2016-03-10 07:56] Starcounter-Jack commented on #3432
You should NOT use Db.Scope or implicit transactions in this use case. Only use proper ACID transactions to get predictable results. Wrap your access into atomic Db.Transact() operations.

[2016-03-10 08:09] Starcounter-Jack commented on #3432
Db.Scope will be deprecated once branches is in place.

[2016-03-10 08:10] careri commented on #3432
Yes I understand what you say @k-rus. But this is the first time you say this:
but it does not happen immediately.

That explains the behaviour.

I'm having a seriously hard time writing something usable that's event driven.
I want to fire of an event and send a json to my clients if e.g. persistent configuration is updated.
I can't fire the event directly after the Db.Transact completes, because

[2016-03-10 08:17] careri commented on #3432
I would like to have some way of force writing a Db.Transact no matter of outer Db.Transact. Then I wouldn't need this thread switching

[2016-03-10 08:17] Starcounter-Jack commented on #3432
If you have an outer Db.Transact, how could you expect the changes to become visible? This would violate the atomicity and isolation. Avoid any outer Db.Transact or create a ```new Transaction()``` to create an independent (non nested) transaction.

[2016-03-10 08:19] careri commented on #3432
Am I allowed to create new new Transaction within a Db.Transact? I seem the recall that's forbidden?

[2016-03-10 08:26] Starcounter-Jack commented on #3432
It should be possible to juggle independent transactions on the same thread. I'll get back to you on API...

[2016-03-10 08:33] careri commented on #3432
If I'm in a Db.Transact I get this exception when I call Commit on the newly created transaction:

`´´
using (var t = new Transaction(false, true))
{
    instance = new Item(m_name);
    oid = instance.GetObjectNo();
    t.Commit(); // BOOM
}
[code]

[2016-03-10 08:36] per-samuelsson opened #3439 "Introduce Roslyn-based TypedJSON code-behind parser"
Side-by-side for some time, with the aim to drop the legacy parser.

[2016-03-10 08:37] eriohl commented on #3432
Obviously this is a bit hard to explain. And this is on us of course. But let me try again:

a. All database access operations operates on a snapshot.
b. This snapshot is refreshed on transaction boundaries. Which is basically when a transaction is switched on the thread.
c. A transaction scope (```Db.Transact```) can be, but not always, a transaction boundary.
d. There are other kinds of transact

[2016-03-10 08:38] Starcounter-Jack commented on #3432
The above database access is not done inside the transaction ```t```.

@chrhol is not at the office yet, but could you try:

[code]

[2016-03-10 08:39] per-samuelsson commented on #3439
Enabler of #2964, #3105, #3347.

[2016-03-10 08:44] k-rus commented on #3432
@careri
Thank you for explaining your use case!

I am not sure if event driven design on the server is the right approach. May be it should involve client side.

My understanding of your use case: a user submits changes on a configuration. The changes must be committed to the database and then the user view in the browser should be updated.
Do I understand the use case correctly?

I don't know wha

[2016-03-10 08:45] Starcounter-Jack commented on #3432
If you create a chain of ***non-nested*** Db.Transact() calls, they will each have a transaction boundary.

[code]

[2016-03-10 08:55] Starcounter-Jack commented on #3432
@eriohl

Does this mean that I can have a snapshot refresh in the middle of a pending transaction? If so, how do I ensure that a snapshot never mutates during an atomic transaction?

[2016-03-10 09:00] eriohl commented on #3432
See [this](https://github.com/Starcounter/CompanyTrack/issues/162) discussion.

[2016-03-10 09:01] careri commented on #3432
@eriohl Thanks for that explenation, things are starting to fall into place now. I didn't understand why you suggested to use a Db.Transact in the Reload-method above. But it's because of the transaction boundry.

@k-rus The clients are not web-based. I have a administrator server where you configure what software shall be installed on which computer.

The admin UI is web-based. Through the admin

[2016-03-10 09:07] careri commented on #3432
@Starcounter-Jack

Is this true? Someone,probably @chrhol told me this:
Using ```new Transaction```will always put it in the pool of long running transactions, the same goes for Db.Scope.

There is a limited slots for fast access of transactions in this pool. This was an issue I reported long ago that contained a lot of nested ```new Transaction```.

I then switched to Db.Transact, which was expla

[2016-03-10 09:33] Starcounter-Jack commented on #3432
@careri
I need to check on this. ```Db.Transact()``` was designed with the same goal as ```BEGIN/END```, namely to help the common nesting pattern. I.e. to protect an outer transaction to avoid inner transactions to leak.

I need to check on how to juggle transactions without ```Db.Transact()```. From the standpoint of the database engine, this should not be a problem. The ````Db.Transact()``` fun

[2016-03-10 09:34] careri commented on #3432
There seems to be no way using a Transaction in a Transact.
[code]

[2016-03-10 09:35] Starcounter-Jack commented on #3432
@careri

This is flawed. We will put priority on this. You must be able to create transactions manually.

[2016-03-10 09:45] k-rus commented on #3432
IMHO fixing transactions to work as requested in this case is wrong approach. Furthermore, the use case can be designed to work with the current Starcounter. However, it is difficult for me to advise how the desired functionality of the application should be implemented as I don't know much about client-server interactions in terms of transactions.

[2016-03-10 09:52] Starcounter-Jack commented on #3432
@k-rus

The C# API is kind of flawed. We will discuss the API today is you are interested to join.

[2016-03-10 09:53] warpech commented on #3427
Big win! I will get the today's nightly and see for myself.

[2016-03-10 10:00] careri commented on #3432
That would simplify things for me. We had that feature in scdb1x:
[code]

[2016-03-10 10:21] careri commented on #3432
I can confirm that using a NOOP Db.Transact before leaving the DoCreate-method does update the snapshot of the implicit readonly transaction.

I'll use this ugly solution for now. Thanks for all the input and information.

@k-rus you're probably right about me being able to design it better. But then I would need to keep track of modified/created instances in some other fashion. But this is where

[2016-03-10 10:39] mtornwall commented on #3436
[code]

`Path.GetTempFileName` comes with a little caveat. From [the MSDN article](https://msdn.microsoft.com/en-us/library/system.io.path.gettempfilename(v=vs.110).aspx):

So it's imperative that the temporary files be cleaned up at some point. Personally I'd rather have the caller specify a temporary directory and just have a custom temporary file name generator.

[2016-03-10 11:16] miyconst commented on #3436
I know, I know :). As @warpech said, it is not going to be included into Starcounter itself, instead it will be an add-on package. So, users will be able to modify it for their needs.

[2016-03-10 11:38] warpech commented on #2690
I have just tested `Starcounter-DevelopDailyBuilds-2.1.1382-Setup.exe` (which is supposed to be a build from the current `issue/2690` branch) with Launcher `mergecallback` branch and People `master` branch.

There is some exception that I get when switching from "Organisation" to "People" in the left menu:

<img width="1435" alt="screen shot 2016-03-10 at 12 36 39" src="https://cloud.githubusercon

[2016-03-10 12:03] chrhol commented on #2690
Investigating...

[2016-03-10 12:25] binte commented on #3390
@miyconst I am sorry for the delay! I confirm it is working with the latest nightly (2.1.1389). No more floating attributes! BUT scrolling right and left is still not perfect! For a big number of attributes, during scrolling, sometimes it "jumps" to a different location.

[2016-03-10 12:46] miyconst commented on #3390
@binte could you please record a gif of the issue and post here?

[2016-03-10 13:46] chrhol commented on #2690
Hmm, I have found the problem and it is kind of obvious when you see it. It's strange that I didn't think of it before this.

It's the `WrapInLauncher` method in the Launcher that doesn't work correctly when a workspace already exists.

The substitute-handler always creates a new instance of `LayoutInfo` but if the workspace exists we never use the return-value, which means that the workspace-page

[2016-03-10 13:53] hentil opened #3440 "pnext: scerr12019 editionlib"
Trying to start latest version of pnext, running Heads application. Since Heads application also contains a definition for societyobjects, weaver reports error.

I have tried to disable this using the configuration LoadEditionLibraries = false in the following files.

Personal.server.config
.sample.db.config
Default.db.config

Still getting this error message on startup.

HeadsSCDB2 -> default (st

[2016-03-10 15:29] binte commented on #3390
Good idea!

![animation](https://cloud.githubusercontent.com/assets/5520287/13674286/354aa0b6-e6dd-11e5-9fc3-658cf0953206.gif)

[2016-03-10 15:59] alemoi commented on #3427
Let me know! :)

[2016-03-11 05:42] per-samuelsson opened #3441 "Introduce capability to inject into Json to/from Response convertions"
We'll use that to open up for different pieces of code to hook into it. Utilize it to support new middleware for replacing `Partial` and `Page`.

With this, we also need to get away from this pattern:

[code]

This instead will go via this new layer.

[2016-03-11 06:33] k-rus commented on #3440
cc @alemoi @per-samuelsson

[2016-03-11 07:16] per-samuelsson commented on #3440
@hentil

It looks like you have a local `Starcounter.Extensions.dll` in your application. Most likely, the reference in the project is set to "Copy Local: True". Can you make sure this file is not in your bin directory when you start your application? Either go there and manually delete it (if it's not referenced), or adapt the reference to "Copy Local: False".

The error message is not perfect, a

[2016-03-11 07:20] per-samuelsson commented on #3440
Here's the relevant weaver code if that's of interest: [FileManager.AddEditionLibraries](https://github.com/Starcounter/Starcounter/blob/ef1355f03e18caa855cc537ef69e8468fa70090d/src/scweaver/FileManager.cs#L250-L273).

The basic flow is that any file "part of Starcounter" shall not be deployed along with the application. This include files that exist in the installation directory, and those we con

[2016-03-11 08:17] hentil commented on #3440
OK, thanks that solved it.

I was distracted by SO, so I did not see the problem. It has happened before that this particular problem occurred...

[2016-03-11 08:17] #3440 closed

[2016-03-11 20:06] warpech commented on #3384
Today I pushed a change to `develop` that includes major rewrite of our Polymer 1.3 integration. It fixes problems encountered by @malx122 (https://github.com/PuppetJs/puppet-polymer-client/issues/12).

[2016-03-13 01:17] alemoi opened #3442 "Takes very long time to start a database on sctestsrv03 (develop)"
I would assume that a cold start of an application (when the server is not even running) would take like maximum 10 seconds. However on `sctestsrv03` it takes more than 30 seconds.

Here is my simple batch script:
[code]
Here is the logsteps file for star.exe (the database is clean, AggregationTestServer.cs contains only one GET handler):
[code]
It takes more than 30 seconds to cold start an app.

[2016-03-13 13:57] warpech commented on #3427
Just tested it with Starcounter 2.1.3199 and found one major glitch:

The date format of the `Last-Modified` header is not [according to HTTP/1.1 spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1):

<img width="1216" alt="screen shot 2016-03-13 at 14 44 22" src="https://cloud.githubusercontent.com/assets/566463/13729022/9f03611a-e92a-11e5-921f-42d9f4d24912.png">

[2016-03-13 21:18] alemoi commented on #3427
Good point, thanks! I will fix right away. Any other remarks on the way it works?

[2016-03-13 23:47] alemoi commented on #3427
The date format fixed via c963d576ee124906c0296620ca4edbcfc99eca6a and tested.

[2016-03-14 08:40] per-samuelsson commented on #2690
Question about this: will it somehow affect (e.g. replace) the dependency on `Json.GetHtmlPartialUrl()`?

I'm having real trouble doing this middleware-thingy out of Page/Partial because of that single method (meaning that any `Json` object always have to be self-sufficient and capable of returning a path to a "partial URL").

[2016-03-14 09:05] chrhol commented on #2690
The dependency for `Json.GetHtmlPartialUrl()` is for the html-merger, which needs to be redesigned. So not directly solved by this. We need to discuss how it should work. The html-merger part is the last part to be removed from the serializer

[2016-03-14 09:11] per-samuelsson commented on #2690
OK, I see. I tried look again at the code, to understand better. And I noticed that now the launcher callback use this method, so it kind of answered my question. But good you made it even clearer.

I'll try to rethink a little what options that leave me for the thing I'm trying to achieve. Thanks.

[2016-03-14 09:16] chrhol commented on #2690
Yeah, it uses it, but only because it's available. If we solve the htmlmerger part, then this code can either be reomoved or use the same solution as the other.

[2016-03-14 12:56] bigwad commented on #3196
Fixed.
Logopt utility removes orphaned files when running with special option "-clean <dbname> <logpath>".
On_new_log.cmd launches logopt with this option on every run.

[2016-03-14 12:56] #3196 closed

[2016-03-14 13:35] per-samuelsson commented on #3407
Trying to figure out alternatives to this, and to do that, I need to understand it better. In particular, it's the `GetHtmlPartialUrl()` I want to get rid of, as I mentioned elsewhere.

One idea I had that would fit good into the other adaptions I'm using when replacing Page/Partial was to introduce a custom, vendor-specific MIME to represent "partial HTML". And by that, the `IResource` could answ

[2016-03-14 13:43] per-samuelsson commented on #3441
Right now, I have a new idea on where to hook in, using an existing injection point I found, and that I'm experimenting with currently. I don't think we'll need this. I'm closing it as a "wontfix" for now.

[2016-03-14 13:43] #3441 closed

[2016-03-14 14:37] per-samuelsson commented on #2690
When you have a minute to spare, can you comment on this related https://github.com/Starcounter/Starcounter/issues/3407#issuecomment-196312062? No stress, just want to get your knowledge about it, and confirm if I remember / understand correctly.

[2016-03-14 14:50] miyconst commented on #1028
I have added documentation of the `Reuse` keyword to [starcounter.io](http://starcounter.io/guides/json/json-data-binding/#reuse-same-json-object). The WiKi is no longer supported. Closing this issue.

P.S. The `Reuse` itself has nothing to do with Puppet.

[2016-03-14 14:50] #1028 closed

[2016-03-14 14:52] miyconst commented on #2059
@chrhol what is the status of this issue? I just tried the `Reuse` keyword and it worked fine for me. Can we close it?

[2016-03-14 15:26] miyconst opened #3443 "Future of the Typed JSON"
In this issue I try to summarize all similar issues about the Type JSON to have some clear vision and close those old endless issues.

## Current state

We have set of features of `$` dollar sign in our JSON files. Some of them used very widely others very rarely, some of them have c# equivalent.

#### List of most common `$` features and JSON syntax:

1. Indicate whether a property is editable. `

[2016-03-15 06:29] per-samuelsson commented on #3443
Nice initiative, @miyconst.

Off-tracker, @chrhol has assembled a nice document, somewhat similar to this, that I got some time ago in a mail. That one group similar efforts in logical areas of work, and currently, both me and @chrhol is working with stuff related to that, supervised by @dan31.

@chrhol: maybe you can put the content of that doc on Rebels Lounge?

[2016-03-15 06:31] per-samuelsson commented on #3200
Closing this, as suggested in #3443, since it's pretty much answered.

[2016-03-15 06:31] #3200 closed

[2016-03-15 06:32] per-samuelsson commented on #3443
Closed.

[2016-03-15 07:12] per-samuelsson opened #3444 "Provision HTML from JSON (IResource) via middleware"
Working issue part of #3202.

Basically, allowing provision of HTML in the default JSON-based `IResponseConverter` for HTML, via routing to installed, app-specific middleware, more or less corresponding to the pattern described [Multiple representations with middleware](https://github.com/per-samuelsson/Misc/wiki/Demystifying-request-handlers#multiple-representations-with-middleware).

[2016-03-15 07:15] per-samuelsson commented on #3444
Note: I'm separating this from the issue to later adapt client side Puppet to be more flexible, and to support merging, as discussed [here](https://github.com/Starcounter/Starcounter/issues/3407#issuecomment-196312062), in #3407.

[2016-03-15 08:12] per-samuelsson commented on #3444
Note to self: review state isolation of mime providers, to support a lock-free experience. Feasible to support registration of middleware only in the scope of the entrypoint (where requests to that app can not arrive)?

[2016-03-15 11:03] bigwad commented on #2882
When it's time to start logopt - it runs up to the most recent log, not up to the next one as it was before.

[2016-03-15 11:21] eriohl commented on #3423
Certainly seems to work a lot better. Creating and opening Starcounter projects are now pretty much instant.

[2016-03-15 11:21] #3423 closed

[2016-03-16 07:36] k-rus opened #3445 "GitLab with Level0 is down"
git.starcounter.org gives me:

[2016-03-16 08:59] per-samuelsson commented on #3444
I instead implemented thread-safety by locking when providers are installed, and doing a copy in isolation, assigning that as the "main" copy when done, allowing us to keep reads lock-free.

[2016-03-16 09:04] per-samuelsson commented on #3444
Getting pretty much done with this one, although I can't merge/push it yet, because of #3445, not allowing me to do a personal build. If anyone feel a strong need to test it out before that, it's pushed to [issue/3444](https://github.com/Starcounter/Starcounter/tree/issue/3444) branch.

[2016-03-16 10:07] warpech commented on #3444
Looking forward to try it out!

[2016-03-16 10:30] alemoi commented on #3445
@linkdata do you know if something happened with Linux machine? Any changes there?

[2016-03-16 10:32] linkdata commented on #3445
It's up, but it looks like some security patches have been auto-applied. I'll restart it.

[2016-03-16 10:49] per-samuelsson opened #3446 "Auto-create session and attach to JSON"
Part of #3202.

In `Partial`, the constructor is defined like this:

[code]

To replace `Partial`, we must support something similar but without a custom class. One possibility is to introduce some kind of injection point into Json, and and allow app-specific code to run, possibly having it enabled by custom middleware. Something like:

[code]

[2016-03-16 10:53] per-samuelsson commented on #3444
I'll let you know when I can merge/push it, depending on #3445.

Also, we need to figure out #3446 to get to the next step. Everything else from Partial is now supported by middleware, except that.

[2016-03-16 11:05] per-samuelsson commented on #3443
A few more comments on this issue:

According to @chrhol, they have always had an aim that everything that is supported in JSON-by-example-"magic" should be driven by an underlying C# equivalent, so I think we are covered there.

On a more general note, the main challenges we are facing here is *editable fields* and how to support the *Reuse* feature in code.

Regarding the former, it can be achie

[2016-03-16 11:05] linkdata commented on #3445
Disk was full. Should be up now.

[2016-03-16 11:10] alemoi commented on #3445
Thank you for checking this!

[2016-03-16 11:13] miyconst commented on #3443
I tend to agree with this statement.

[2016-03-16 11:20] per-samuelsson commented on #3443
Then to summarize, if we choose to take that path, our aim is:

1. Keep support JSON-by-example fields to be declared editable with a certain syntax (currently '$').
2. Remove all other "magic" from JSON-by-example.
3. Clearly define what things can be customized by code-behind and document every such feature.

[2016-03-16 11:20] warpech commented on #3443
I agree with the above.

[2016-03-16 11:25] miyconst commented on #3443
Sounds good for me as well.

I think the `$` sign to mark editable fields is a good solution, and we should not reinvent something new.

The only issue is `Reuse` keyword. It should be applied before compilation, not when program starts.

[2016-03-16 12:43] per-samuelsson commented on #3444
Merged and pushed with https://github.com/Starcounter/Starcounter/commit/57c6d056c5a43e4ffabbea3f261e3f30219220b1.

The end result is pretty much as what is described in [Multiple representations with middleware](https://github.com/per-samuelsson/Misc/wiki/Demystifying-request-handlers#multiple-representations-with-middleware), and the chapter following that. The idea is to update that text to ref

[2016-03-16 12:46] per-samuelsson commented on #3444
@warpech,

I'll merge this one into **pnext** too, and then await your feedback. I suggest you close this issue once you can use it to run "the simplest case", and it seem to work (even with rough edges). I suggest you make a branch of `https://github.com/warpech/SimplePuppet` that illustrate those changes, and play with it.

Then any bugs we find, or things you want to improve on, we keep in sepa

[2016-03-16 12:53] per-samuelsson commented on #2059
@miyconst, did you also try adding additional properties?

[2016-03-16 12:57] per-samuelsson commented on #2059
Seem from [this code snippet](https://github.com/Starcounter/Starcounter/blob/4271794fa55c52a9646d161d3838e4d2b22294fc/src/Starcounter.XSON.PartialClassGenerator.Tests/PartialClassGenerationTests.cs#L67-L73) that @chrhol in fact added unit tests for additional properties. Then we could definitely close this issue IMO.

[2016-03-16 13:04] miyconst commented on #2059
To where? To the object which "reuses" another JSON or to the root level? Root level works fine.

[2016-03-16 13:08] per-samuelsson commented on #2059
The the reusing object. It should support reuse + extra fields.

[2016-03-16 13:10] per-samuelsson commented on #2059
[code]

[2016-03-16 13:13] miyconst commented on #2059
Should it? I never heard of such behavior, but I will test it.

[2016-03-16 13:18] miyconst commented on #2059
No, it does not work.

[2016-03-16 13:39] per-samuelsson commented on #2059
OK, that's weird. I was under the impression it should, and that @chrhol added tests for that in https://github.com/Starcounter/Starcounter/commit/4271794fa55c52a9646d161d3838e4d2b22294fc. I'm not an expert on the full story though, so maybe it's best to wait to see what @chrhol has to say about it.

[2016-03-16 13:41] warpech commented on #3444
Sure, I will try it out and get back to you!

On a sidenote, I dislike the fact that these 2 APIs differ, despite being so tightly related:

[code]

State-of-the-art middleware-oriented web frameworks (KoaJS, ASP.NET Core ("vnext")) use middleware for anything, including HTTP routing. I guess we will get there eventually, but that is a matter for another set of issues.

[2016-03-16 13:42] per-samuelsson commented on #3444
Tested and done.

[2016-03-16 13:47] per-samuelsson commented on #3444
Me too. The shift to build up the pipeline using middleware is just started. The idea is to take us the full way there in DNX/"vnext".

Also, in relation to that, we should all start to embrace and think more in terms of that what you do is in the context of an *application*. This new middleware supporting HTML from JSON provision is fully application-specific, while a lot of other stuff I've seen

[2016-03-16 14:44] atifsheikh opened #3447 "In SQL queries, Count not working as expected"
I have 10 results of the following Query :
`SELECT s FROM adfenix.database.ecommerce.seller s WHERE Advertiser.PublicationOwner.Name = 'krogsveen'`

but '0' result if i use COUNT(s) in the same query :
`SELECT count(s) FROM adfenix.database.ecommerce.seller s WHERE Advertiser.PublicationOwner.Name = 'krogsveen'`

My SC Version is 2.1.1409.

[2016-03-16 15:59] warpech commented on #3444
I played with it according to your suggestion. The result is here: https://github.com/warpech/SimplePuppet/tree/middleware

[2016-03-16 16:02] warpech commented on #3444
I played with it according to your suggestion. The result is here: https://github.com/warpech/SimplePuppet/tree/middleware

My findings so far:

- Middleware is isolated between apps :+1:
- To use the implicit standalone mode (with implicit session), I have to set the ProvisionImplicitStandalonePages  property to `true`.
- I can write my custom implicit standalone mode by creating a custom middlew

[2016-03-16 16:12] binte opened #3448 "DLL duplicated error"
I keep getting the error below when I run starcounter. The version I'm using is the 2.1.1389 version (nightly). Any idea on what I can do to fix this?

[2016-03-16 16:14] miyconst commented on #3448
Set `Copy local: false` to the `Simplified.Data.Model.dll` reference.

[2016-03-16 16:16] miyconst commented on #3448
Read more here about deploying third party assemblies. http://starcounter.io/guides/tools/weaver/

[2016-03-16 16:27] per-samuelsson commented on #3444
Thanks for the feedback, @warpech. Just want to express that this initial thing I've provided is a *starter*, so this kind of feedback loop is what we now need to go through to get it into something we can later start to promote. There are certainly several things we can and should enhance further!

Yeah, I was thinking about that too, when I implemented it. The design change to go from per-class

[2016-03-16 16:49] binte commented on #3448
Thanks for the replies @miyconst !

I followed your tip, and set the property to false in all the references to the DLL, but it didn't fix the problem. Tomorrow morning I will go through the documentation and see if I can find a solution. I will then reply to this thread

[2016-03-16 16:59] warpech commented on #3444
I was thinking to make a conditional middleware to only use  `HtmlFromJsonProvider` if the url equals `/simple`.

[2016-03-16 17:28] andwah opened #3449 "ScErrSchemaCodeMismatch Exception"
**How to reproduce**

1.Create this program:
[code]
2. Start it [F5]

3. Modify the program to this:
[code]
4. Start it [F5]

[code]

[2016-03-16 18:17] per-samuelsson commented on #3448
@binte

Sorry to see you experience this, and as @miyconst suggested, setting the reference not to copy local should do the trick. It's pretty weird that didn't solve it.

Can you try this tomorrow:

1. Set the reference as suggested, not to copy local.
2. Issue a Rebuild of the solution / project.
3. Open up the folder where the project build to (i.e. normally `bin\Debug` under your project folde

[2016-03-17 07:29] k-rus commented on #3447
Thank you for reporting!
Am I correct that Starcounter is one of the latest nightly?
What indexes do you have on the table and referenced tables?
Can you provide query plans for both queries?
You can get query plan by:
[code]

[2016-03-17 08:20] warpech opened #3450 "BEM as a way to avoid CSS collisions"
BEM is pattern of working in CSS to avoid collision of styles between elements. It is arguably the most common formalized CSS pattern used nowadays.

Here's a explanation: http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

More links: https://github.com/getbem/awesome-bem

Our apps could in fact use BEM **with** Bootstrap effectively, like this:

[code]

The above is a

[2016-03-17 08:36] per-samuelsson commented on #3444
I see. That would require three changes in the design:

1. Mime providers must get access not only to the resource, but also to the request.
2. We must support multiple providers for a single MIME type.
3. We must support chaining of mime providers, so that they can invoke (or choose not to invoke) the next provider in the chain.

As for [1], that's a pretty simple redesign. But [2] and [3] is mor

[2016-03-17 08:50] dan31 commented on #3427
@warpech @alemoi Can we consider this tested and closed now?

[2016-03-17 08:51] dan31 commented on #2962
@alemoi @mtornwall any new insights there?

[2016-03-17 08:52] dan31 commented on #2902
@miyconst @warpech @per-samuelsson @chrhol What is the status of this one?

[2016-03-17 08:53] dan31 commented on #3368
Can we consider this be closed, @atifsheikh?

[2016-03-17 08:54] per-samuelsson commented on #2902
@dan31

If I'm not wrong, this one depends on #2690, which is kind of the enabler to fix this. And that is what @chrhol is working on currently, I think.

[2016-03-17 09:08] per-samuelsson commented on #3444
Continuing from where I left off in the above comment, I think we should materialize [1] no matter what. It just make sense, and I think it's fair that any MIME provider get the chance to consider the request.

An alternative to [2]-[3] could be to just introduce a filtering capability to `HtmlFromJsonProvider` isolated, and not touch underlying more general MIME providers. I'm thinking something

[2016-03-17 09:13] chrhol commented on #2902
Well I'm not working on anything currently. I've been completely bedridden the last days with the flu (I suspect). But you are correct, we have one thing left to solve which I need to sit down with @alemoi and go through so we get it properly done.

[2016-03-17 09:20] chrhol commented on #2059
No, this was never supported, the unittests are for testing reusing different objects (objects, arrays). And I think maybe it doesn't have to. The thing is how the reuse works now is that you take the complete TypedJson object you want to reuse and simply uses that type in the generated code. If we would allow additional properties we need create a new type which includes both the properties from

[2016-03-17 09:23] chrhol commented on #3443
This is not true, it's only used during compile when the code is generated for TypedJson. That's true for most of the metadata that is specified. It's used to control what code is generated in the background and then compiled.

Only `Bind`, and `Editable` properties can be changed runtime.

[2016-03-17 09:23] binte commented on #3448
Good morning,

I have three references in different projects within the solution, all set to false now. After rebuilding, in the folders related to projects in which I have the reference, the `Simplified.Data.Model.dll` is not there, as expected. Nonetheless, it is created in two other project folders. Which is the same behaviour I experience on the server, but it is working there, and not on my l

[2016-03-17 09:24] atifsheikh commented on #3368
Yes @dan31 . we no longer have this error.

[2016-03-17 09:27] per-samuelsson commented on #3444
Expanding yet further on the above two comments, if we decide to do the more general [2]-[3] (allowing multiple, chained providers / MIME type), we could make that in a way that also enables this:

The experience that would come from that would be something like this:

[code]

And the former would simply invoke the later.

That would mean another extension to providers though: that in a chain, lat

[2016-03-17 09:31] chrhol commented on #3407
Yes, this is the current solution. If a partial responds with something from `Json.GetHtmlPartialUrl()` it's appended to a string and added as the `Html` property.

Just to clarify: there is no real `html merger` on the server today. It's hardcoded in the serializer for json. So this really needs to be changed :)

[2016-03-17 09:47] warpech commented on #3427
Yes. Just did a final test (testing Administrator and KitchenSink) in Chrome, Firefox, Edge and IE11.

Thanks @alemoi!

[2016-03-17 09:50] miyconst commented on #3450
After reading your comment my first reaction was ~~What? No way!~~, but after reading the original article, I have changed my mind.

Even though it looks extremely ugly and extremely non typing-friendly, I still like the idea. I tried to find some other possible characters to use instead of `--` and `__`, but the only thing I found is that [unicode](http://www.fileformat.info/info/unicode/category

[2016-03-17 09:54] warpech commented on #3450
You will find a lot of opinion online about the "ugliness" of `--` and `__`. I put it out of the scope of this decision, because without it there would actually be no pattern.

It is what makes this pattern distinguishable, and actually makes it pretty clear what is a Bootstrap selector (style must come from the outside) and what is a BEM selector (style must come from your app).

[2016-03-17 09:57] miyconst commented on #3443
@chrhol probably you misunderstood me.

I mean, that the `Reuse` should be applied and generate appropriate code instantly after user press `Ctrl + S` and before compilation. Otherwise it won't be available to write code with intellisense and without  errors.

[2016-03-17 09:59] linkdata commented on #3388
The [page linked to by the error](https://github.com/Starcounter/Starcounter/wiki/SCERR1026) now contains sample code for a wrapper around `Scheduler.ScheduleTask()` that will catch the exceptions and retry for a given amount of time, as well as links to sample projects which do producer-consumer queue management.

[2016-03-17 10:04] miyconst commented on #3450
That is why I like it.

[2016-03-17 10:08] warpech commented on #3450
One more thing... I guess you have noticed, but this needs to be said explicitly - I modified BEM with one change:

The first word in the B (Block) section needs to be the app name: _**chatter-**autocomplete_

[2016-03-17 10:09] miyconst commented on #3450
I have noticed that, and agree.

[2016-03-17 10:13] chrhol commented on #3443
Yeah, I think so :)

This is exactly how it works. When you save (either the JSON-by-example file or the code-behind file) the TypedJson codegenerator is triggered and VS does an intellisense compile, which is then available for the developer. However it doesn't always work perfectly (working with build and VS triggers seldom does) and for example if there is a compiler-error from the generated co

[2016-03-17 10:16] miyconst commented on #3443
That is why I called it a limitation, I don't see how we can move it from JSON declaration to code behind.

[2016-03-17 10:19] chrhol commented on #3443
What do you mean? The codegeneration is triggered when you save the codebehind file as well. So add the reuse-command (however it looks) in codebehind, save and you will have intellisense for it.

[2016-03-17 10:22] miyconst commented on #3443
So, you can parse actual c# class and look for the `Reuse` declaration? I thought it would be much more complex than parsing a json file.

[2016-03-17 10:24] warpech commented on #3444
I was thinking exactly about this. Basically, `puppetViewProvider` would only work if declared in this order:

[code]

But NOT in this order:

[code]

This seems to be accepted in [ExpressJS][1] and in [general][2]. In [Django][3] it is even directly recommended.

BTW I have found some interesting articles about middleware patterns: https://github.com/ring-clojure/ring/wiki/Middleware-Patterns, ht