[2016-11-23 13:42] chrhol commented on #3700
We decided to postpone this issue for some time and focus on getting 2.3 released first (which is scheduled quite soon).

[2016-11-23 13:49] alexanderstc commented on #2888
See also https://git.starcounter.org/BlueStar/level0/issues/153

[2016-11-23 15:02] joozek78 opened #3975 "pnext: can't run useradmin, staradmin seems to be broken"
1. remove any existing sc installation and data directories
1. install [pnext build 4846](https://192.168.200.91/viewLog.html?buildId=13889&tab=buildResultsDiv&buildTypeId=Starcounter_PnextNightlyWindows)
1. download useradmin@60979f9a516a4d0626062f95a395cd71f1b066cd
1.
[code]
note that there is no message about success / failure. Nothing happened in database (nothing created / started)

1.
[code]

[2016-11-23 15:40] bigwad commented on #3974
@atifwaqar, I believe in such case system should generate a dump, if it is configured to do so. Please check https://github.com/Starcounter/Starcounter/issues/3637#issuecomment-220346794 for details.

[2016-11-23 16:54] bigwad opened #3976 "Debug assert while running loadandlatency_test"
[code]

Instruction to run the test:
1. modify loadandlatency_test.bat
 -set ```MinNightlyWorkers=8```
 -add ```set SC_NIGHTLY_BUILD=true```
2. launch ```loadandlatency_test.bat TransactionsMagnifier=1```

[2016-11-23 18:47] andwah commented on #3975
Anything in the log?

[2016-11-23 21:20] miyconst commented on #3975
Are you sure that you don't have any old binaries in the folders which were build for the Starcounter 2.2?

[2016-11-23 23:52] tomalec commented on #3871
Available since Starcounter 2.2.2.3627

[2016-11-24 05:23] Mackiovello commented on #796
Updated to:

Closes as it's considered done.

[2016-11-24 05:23] #796 closed

[2016-11-24 06:07] per-samuelsson commented on #796
Well done. I like how you formulated that. *Maybe* we should also write somewhere how we differentiate _production_- and _developer_ mode, and how that effect how the server is started (session 0 or session 1). But that might be another topic.

[2016-11-24 07:40] Mackiovello commented on #796
@per-samuelsson
Thank you!
I don't know how important that is. If you feel like it should be included, please create an issue with some reference and assign it to me. Then I'll put it somewhere in the guide where it fits.

[2016-11-24 09:12] eriksunsol opened #3977 "Allow custom bound accessors in XSON"
XSON currently supports custom __unbound__ accessors, which I think are used by JsonByExample code generation.

We're looking into creating the JSON schemas dynamically with explicit data accessor delegates. For this to work we need to override the default generated `BoundGetter` and `BoundSetter` delegates which is currently not possible.

[2016-11-24 09:21] per-samuelsson commented on #3973
Just to make it clear, that's an implementation detail. Lets try use it only for reference, but never depend on it programatically. I think @k-rus meant for it as a reference only.

[2016-11-24 09:25] chrhol commented on #3977
Good point. It should be possible to override these as well, and not rely on the default behaviour. I will try to do this as soon as possible.

[2016-11-24 09:27] warpech commented on #3798
As commented in this thread, my solution (https://github.com/Starcounter/Starcounter/issues/3798#issuecomment-241807109) has two significant drawbacks:

1. Every PuppetJs initialization will result in 2 calls to the GET handlers (`text/html` and `application/json`). The first result is only needed to determine the HTML. The session and view-model created for he first request will be ditched.
2. De

[2016-11-24 09:29] Mackiovello commented on #836
A disclaimer is added regarding security and code is simplified for comprehension and to allow to be run without needing to add additional code. It can be found [here](http://starcounter.io/guides/database/querying-using-sql/).

[2016-11-24 09:29] #836 closed

[2016-11-24 09:50] eriksunsol commented on #3977
I have made the changes already as a proposal. Just figuring out how to do a pull request...

[2016-11-24 10:20] warpech commented on #3798
**Alternative, more obvious solution:** Middleware provides Session URL as part of the Standalone HTML. See the code: https://github.com/StarcounterSamples/HelloWorld/commit/8a52c8ee17de46c74fe6fdaf8f8593ba3562e604

The above code will only work if we remove the selected code from puppet-dom: https://github.com/PuppetJs/PuppetJs/blob/d939cb38bc49561ac30f3801247b349f90f8f3d1/src/puppet-dom.js#L31-3

[2016-11-24 10:29] miyconst commented on #3798
As I remember, it was a discussion between me, @warpech, and @tomalec, where it was decided to get the remote location from the cookies with higher priority.

[2016-11-24 11:12] mmnosek commented on #3960
Remember about:
https://github.com/Starcounter/Warehouse/issues/103
https://github.com/Starcounter/CompanyTrack/issues/264

We need to add to instruction and take into consideration those conclusions as well.

[2016-11-24 11:56] per-samuelsson commented on #3869
Request for feedback on unit testing story and hosting API: https://github.com/Starcounter/RebelsLounge/issues/54.

[2016-11-24 13:04] per-samuelsson commented on #3946
Never ending story, new stuggles:

Now I noticed that if any assembly provided by us that are meant to be used by applications and weaved (like `Starcounter.Extensions.dll`), it can not be part of the distribution, or the host (or CLR really) will of course pick it up from the host directory (i.e. "StarcounterBin") rather than from the application directory, meaning the non-weaved version will be

[2016-11-24 15:37] tomalec commented on #3798
I would vote for https://github.com/Starcounter/Starcounter/issues/3798#issuecomment-241807109

I would only change https://github.com/StarcounterSamples/HelloWorld/commit/49a8e95323b4f271de71de8647f44d3ff278444f#diff-87c09a2539c61810ea5c8adeb5f54d09R53 to add check for lack of `SessionId` so the app developers will be able to provide stateful HTML, if they really need.

[2016-11-24 16:47] dan31 commented on #3972
This one is about making it possible to run 2 Starcounters in parallel on the same machine. This is a general feature request and it belongs to the core startcounter functionality.

[2016-11-24 16:52] dan31 commented on #836
@Mackiovello cool, you killed two birds at once 👍
[code]

[2016-11-24 20:24] chrhol commented on #3977
I've got a bit delayed, but now it's been merged into develop and pnext branches (I changed the PR to a separate branch to be able to add a litte stuff before pushing it),

The next nightlies should contain the fix for this issue. Thanks for the help and the PR @eriksunsol, much appreciated :smile:

[2016-11-24 20:42] eriksunsol commented on #3977
Cool. Thx @chrhol. Will try it out tomorrow.

[2016-11-24 21:17] eriksunsol commented on #3899
@bigwad Thanks for pointing out that the indexes are not fully utilized in our code. We (or at least I) have clearly not payed enough attention to the query plan builder when setting up our indexes.

@k-rus Is there an estimate on when the issue with the optimizer will be fixed? (I can't access https://github.com/Starcounter/RebelsLounge/issues/49 to monitor the progress.)

[2016-11-24 21:19] warpech commented on #3798
Today we have discussed with @tomalec that the solution from https://github.com/StarcounterSamples/HelloWorld/tree/puppetjsprovider-middleware is the cleanest.

So here's a proposed plan if you all agree:

1. @chrhol takes `PuppetJsProvider.cs` from https://github.com/StarcounterSamples/HelloWorld/tree/puppetjsprovider-middleware and adds it into middleware included in Starcounter (need to change

[2016-11-25 02:57] dan31 commented on #3637
@atifwaqar activating crash dumps investigation is explained here: https://starcounter.io/guides/tools/guidestoolsinvestigating-apps-crashes/.

[2016-11-25 02:58] dan31 commented on #3974
@atifwaqar activating crash dumps investigation is explained here: https://starcounter.io/guides/tools/guidestoolsinvestigating-apps-crashes/.

[2016-11-25 06:51] chrhol commented on #3798
Alright, then we have finally reached a decision for this issue :smile_cat: I will move the middleware first thing when I start working today (still trying to wake up...).

[2016-11-25 07:02] linkdata commented on #3938
If we need to ship clang++ as part of our Linux distribution, use an absolute path to the clang++ binary and make sure that any shared libraries loaded by that clang comes from the right place by setting LD_LIBRARY_PATH for it's process.

[2016-11-25 07:13] per-samuelsson commented on #3976
Move to AdminTrack pls.

[2016-11-25 07:31] atifwaqar commented on #3974
I'll investigate this today.

[2016-11-25 07:32] #3974 closed

[2016-11-25 08:00] ubbeK opened #3979 "XSON, refactor public fields in Property<T> abstract class"
Refactor the Getter and Setter fields into properties with public getter and private setter since there is a set method for them.

[code]

cc @chrhol

[2016-11-25 08:03] henriksjostrom commented on #2163
So basically we need some kind of function that maps the string representation received from the query into the int64_t representation used by the CRUD api as that is what we are to use in the background.

[2016-11-25 08:13] warpech commented on #3798
I have just added one note to https://github.com/StarcounterSamples/HelloWorld/blob/puppetjsprovider-middleware/PuppetJsProvider.cs comment in the top of the file: `PuppetJsProvider` does not return the desired HTTP status (always 200).

On the other hand https://github.com/StarcounterSamples/HelloWorld/blob/PartialToStandaloneHtmlProviderWithSessionUrl/PartialToStandaloneHtmlProvider.cs returns t

[2016-11-25 08:14] chrhol commented on #3798
Pushed to pnext now.

@warpech: I see that you updated some comments in PuppetJsProvider.cs in your test project. These changes are not included in Starcounter since I already pushed the code earlier (waited for a personal build). Should I update it?

[2016-11-25 08:17] warpech commented on #3798
Yes please, I tried to clarify something that occurred to my while I was sleeping :)

[2016-11-25 08:19] chrhol commented on #3979
Thank you for adding an issue for this.

I will add a note, so I dont forget, that this needs to done for TObject, TObjArr and TArray<T> as well since they have different signatures of the delegates.

[2016-11-25 09:04] miyconst commented on #3798
I am not sure I will be able to do it in time. I am offline today, and will have to take some off days next week.

[2016-11-25 09:11] warpech commented on #3798
I can do that if you agree that this is desired.

----

@miyconst, @tomalec WDYT about the tradeoffs explained in https://github.com/Starcounter/Starcounter/issues/3798#issuecomment-262902031? To wrap up:

- https://github.com/StarcounterSamples/HelloWorld/blob/puppetjsprovider-middleware/PuppetJsProvider.cs has fixed HTTP status (always 200) but is cacheable
- https://github.com/StarcounterSample

[2016-11-25 09:27] per-samuelsson opened #3980 "Introduce generic way to specify that a type / assembly should use "UseOnlyFullNamespaceSqlName""
Background here: https://github.com/Starcounter/RebelsLounge/issues/50#issuecomment-260880804

We need to explain what this thing do, and provide a way for app devs to set it. And make sure it's used by Simplified and SocietyObjects.

[2016-11-25 09:31] per-samuelsson commented on #3980
Taking a guess: with this class

[code]

and if this thing is **set**, a query such as

[code]

will **fail**. While it won't when it *isn't* set.

Anyone can confirm? @alemoi?

[2016-11-25 10:03] per-samuelsson commented on #3869
One small step forward: first time succeeded doing an extended daily build. Next up is nighlies.

[2016-11-25 10:14] k-rus commented on #3899
So far it is not planned to be done in 2.x.

[2016-11-25 10:14] k-rus commented on #3899
We are working on new query processor using different stack. It will be available in 3.x. It might be available in 2.x at some point too.

[2016-11-25 10:33] k-rus commented on #2163
I think I need to reconsider this issue. Actually syntactical analysis cannot know if value will be interpreted as decimal or float. Thus we cannot do much about it at this phase.

@andan342 @henriksjostrom Do I think right?

[2016-11-25 10:52] henriksjostrom commented on #2163
@k-rus I believe you are right.

This also plays into the larger question of how our operators should behave. For example is ulong > -2.5 is a valid behavior or not when -2.5 is a query parameter. But that discussion is to large for this issue

[2016-11-25 11:02] andan342 commented on #2163
@henriksjostrom : I see no problem comparing unsigned and signed numbers - IMHO it should always work.

[2016-11-25 11:04] andan342 commented on #2163
@k-rus : The syntactical analysis can identify the minimal containing type for an object. Widening the type at a later stage can be done automatically
(e.g. inserting an integer value into a Double column)

[2016-11-25 11:11] andan342 commented on #2163
BTW, yesterday @henriksjostrom  and I were discussing this in relation to the CRUD API, as it is specified here:
https://git.starcounter.org/BlueStar/level0/blob/pnext/src/include/sccrud.h

A this issue suggests creating `FCONST` tokens for floating-point and `DCONST` for decimal integers, shall we stick to either *Double* or *64-bit signed Integers* at the parser level? Meaning: no *Float*, no *u

[2016-11-25 12:56] aloscha commented on #3962
What if put starcounter-include into <iframe/> like https://github.com/Juicy/juicy-iframe? Each webcomponents will be available just in current iframe and not for whole project?

cc @tomalec

[2016-11-25 13:09] k-rus commented on #2163
Can you clarify in which case what you propose to use?

If a number is converted into double and then needs to be converted into decimal, then the actual value can become different from original. I believe we need to preserve original value until there is enough semantics to convert into correct representation.

Signed integer cannot fit unsigned integer values.

We will still have cases when numb

[2016-11-25 13:12] k-rus commented on #2163
Another approach is to store the values as integers and number of decimal points. @andan342 Is it what you meant?

[2016-11-25 14:48] malx122 opened #3981 "Server skips messages to client makes the json-patch-queue wait forever"
Hi!
I started this issue at https://github.com/PuppetJs/PuppetJs/issues/108 but starting to realize that this is probably a server bug and not a puppetjs issue.

When two "internal" puppetjs requests from the client is sent faster than the server has time to respond the first one is omitted. Not sure if this is by design to avoid choking but this means that the _ver$s in the patch jumps over a ver

[2016-11-25 15:35] andan342 commented on #2163
No, I think storing numbers as strings would solve the same problem. However...

I propose to use either **Double** or **64-bit signed Integers** at the parser stage.

Do we support numeric values which are not supported in C? Like, for example, unlimited-length integers?

If not - then the approach I propose would work just fine.
If we do support such values - I would suggest to also store the nu

[2016-11-25 15:42] henriksjostrom commented on #2163
@andan342 While it is possible to fit the max value of a uint64_t into a int64_t that is an encoding scheme we really don't want to do. Additionally encoding things as Double leads to loss of precision which is highly undesierable unless the original input is double.

We support decimal which is not part of c++

[2016-11-25 16:12] andan342 commented on #2163
I totally agree - we should not encode integers as **Double** - that's why I propose these two reasonably wide types.

Any examples / links to specifications?

[2016-11-25 16:17] andan342 commented on #2163
@henriksjostrom : or, do you mean a specific type which is called *decimal*?

To me, 'decimal' is the representations of integers, like `format("%d", ...)`. So a parser can recognize a decimal integer number (as opposed to e.g. hexadecimal).

Are we on the same page?

[2016-11-25 16:41] henriksjostrom commented on #2163
@andan342 I mean a specific type which is called decimal. Even if it is used as int64_t in the crud.

As for the reasonably wide types, if we use say int64_t in the output to represent a uint64_t and someone writes a query with the value UINT64_MAX then out representation will fail to show it accurately as UINT64_MAX>INT64_MAX.

[2016-11-25 16:48] andan342 commented on #2163
So this *decimal* thing is not yet implemented, but planned? Are there any specs to read about it?

[2016-11-25 16:49] andan342 commented on #2163
Well, one way to solve this problem is to only support *signed 64-bit integers*.

If the political decision (of supporting `uint64_t`) is already taken - no problem, the tokenizer actually never emits negative numbers (instead, a unary `-` operator and then a positive number. And so the syntactic parser can emit an expression subtree instead.  In this case `uint64_t` will be our reasonably-wide ty

[2016-11-25 16:53] mtornwall commented on #2163
In that case, consider emitting integers as `intmax_t`.

As for decimal, you can find the current implementation of the encoder/decoder [here](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Internal/X6Decimal.cs).

[2016-11-25 16:55] andan342 commented on #2163
@mtornwall : Thanks, martin, but the specs link

http://www.starcounter.com/internal/wiki/Slots#Decimal

is broken.

[2016-11-25 16:56] mtornwall commented on #2163
I know. Sorry to say, but I think you'll have to read the source. :laugh:

[2016-11-25 16:57] andan342 commented on #2163
So, there used to be docs, but we lost them? Are there any backups?

[2016-11-25 17:09] andan342 commented on #2163
As I can see from this discussion, `intmax_t` can be a `long long int` with VS, and `int128_t` with GNU C:

http://stackoverflow.com/questions/20459513/is-intmax-t-the-same-as-long-long-int

So, what if someone dumps a database on Linux and then tries to load it on Windows? Should we report 'integer overflow'?

And, since `intmax_t` is signed, it does not solve the [problem](https://github.com/Sta

[2016-11-25 17:20] mtornwall commented on #2163
Starcounter itself doesn't store 128-bit integers, so it wouldn't be possible to dump it.

However:

This is an excellent point, so in that case I suppose that `uint64_t` and `uintmax_t` are the remaining candidates.

[2016-11-25 17:55] malx122 opened #3982 "Accessing Db inside RunWithinApplication"
Hi!
Trying to accessing the Db inside a `Starcounter.RunWithinApplication("myinternalapp"...` always ends up with `Unknown class XX` where XX is the class given with FULL namespace.

Example:
[code]
Results in
[code]

I'm guessing this has to do with the isolation of apps you are doing but I would really need a way to load the db libraries into my "internal custom app" even if I have to tell starc

[2016-11-25 23:03] miyconst commented on #3981
@chrhol, @bigwad, this seems to be the exactly same issue I have discovered and reported with my stress test app.

[2016-11-25 23:03] miyconst commented on #3981
@malx122, yes, this is a server side bug. Please close the PuppetJs issue as duplicate.

[2016-11-26 15:21] dan31 commented on #3981
@malx122 and @miyconst thanks for your thorough investigation!
@chrhol let's take it high prio and try to have it in 2.3, okay?
CC @tomalec @alemoi

[2016-11-26 18:34] malx122 commented on #3981
I actually think this is an issue at the puppetjs side as well. To just stop doing things forever without trying to do something about it or at least notify the user is an error in my world. It shouldn't have taken me this long to track it down.

[2016-11-27 15:37] dan31 commented on #3982
CC @alemoi @warpech
```RunWithinApplication``` is not documented on ```.io``` apart from this one https://starcounter.io/hello-world/mapper-app-images-hello-world-part-8/ which appears to be added by @Mackiovello. What is this API and what is our recommendation to use it? What @malx122 is doing wrong?

[2016-11-27 21:38] SenerDemiral opened #3983 "How to get number of rows returned from Db.SQL?"
[code]

[2016-11-27 22:12] mtornwall commented on #3983
Try this:

    var numRows = Db.SQL<long>("SELECT COUNT(t) FROM Turnuva t").First;

[2016-11-28 05:22] SenerDemiral commented on #3983
Yes, that is option.
But if turnuva is something like object array (or cursor?), why we can't get length of it?

[2016-11-28 06:55] k-rus commented on #2163
SQL must support all the types, which our database, i.e., kernel, supports. The types are: `ulong` (unsigned 64 bit int), `long` (signed 64 bit int), `string` (UTF16 strings), `binary` (byte array), `decimal` (our X6 decimal), `float` (23 bit floating point number), and `double` (64 bit floating point number). Correct me if I missed any types. `float` might be deprecated in future. Implementation

[2016-11-28 07:08] k-rus commented on #3983
We don't store statistics on tables including their sizes for performance reason. To know the size of a query result even if a query accesses entire table requires to iterate over entire result.

[2016-11-28 07:11] mtornwall commented on #3983
@SenerDemiral However, if you don't mind materializing the whole result as an array, you could do this:

using System.Linq;

// ...

var arr = Db.SQL<Turnuva>("SELECT t FROM Turnuva t").ToArray();
// Now you can get at the length using arr.Length

[2016-11-28 07:13] per-samuelsson commented on #3982
I'm quite sure it has, yes.

[2016-11-28 07:39] #262 closed

[2016-11-28 07:46] SenerDemiral commented on #3983
Means:
QueryResultRows<Turnuva> turnuva is a pointer/cursor to rows.
And query not accesses table until iteration.
Thanks.

[2016-11-28 07:46] #3983 closed

[2016-11-28 07:54] warpech commented on #3982
I used this API to make the code in https://starcounter.io/hello-world/mapper-app-images-hello-world-part-8/ allow me to create a wrapper handler. This surpasses the limitation of `OntologyMap` being able to map a certain URL only once.

I agree that `RunWithinApplication` this needs to be documented better or changed to be more obvious.

On the other hand, I feel that `RunWithinApplication` is no

[2016-11-28 07:55] warpech commented on #3962
The whole point of Web Components is not having to use iframe. This is like asking to put a gasoline engine in a Tesla car to extend its range ;)

[2016-11-28 08:04] SenerDemiral commented on #3962
[code]
Awesome analogy.

[2016-11-28 08:11] per-samuelsson commented on #3980
I considered a few alternatives, but I settled for one that is the simplest possible, and quite static, which would cater for minimal maintenance. I'm adding it as a property to already existing `StarcounterAssemblyAttribute`, which is currently used only to make sure the compiler add a reference to `Starcounter` for any application being compiled using sources.

[2016-11-28 08:24] k-rus commented on #3983
It's correct now. On the other side we provide `IEnumerable` semantics for results of simple queries, i.e., manipulations with data in the database do not affect simple queries with open iterators/cursors. However, current implementation does not allow to know the size of the result, but we will consider in future if we can support this without performance lost, but I am doubt.

Thank you for the

[2016-11-28 08:50] malx122 commented on #3982
Apart from our apps being separate in function, there is of course common code that are shared between the apps to avoid duplication of code. (Both functional code and database classes). This is done in a shared library and it will of course work independent on how many of our apps are running.

In this, there is also common handlers that are needed for some common configurations and other stuff.

[2016-11-28 09:46] aloscha commented on #3962
I get it, but putting iframe solves the problem - for now, maybe later we will create some sandboxing.

You need to travel from LosAngeles to Phoenix using your Tesla (600km) and this is matter of life or death, so you will put gasoline engine into Tesla to extend range, otherwise you don't get into finish line.

Sum up if adding iframe will fix the problem and we save a lot of time why don't to u

[2016-11-28 10:21] warpech commented on #3962
Mostly 2 reasons:

1. Using iframe to load partial from another app would make it non-blendable by starcounter-composition.
2. Iframes are slow

If that is a matter of life and death, then you can use an iframe. But this thread is not about such case.

[2016-11-28 10:30] alemoi commented on #3980
Yes the query on short names on SO and Simplified should fail, and on only full names succeed. However the above query should succeed if you have other Bar definition outaide SO and Simplified :)

[2016-11-28 10:32] chrhol commented on #3981
Something else is happening here, I cannot see any problems with versions of patches being mixed up as they were in the case of @miyconst stresstest.

I reproduced the issue locally by adding a delay in the patchgeneration to slow things down a bit and clicking on the menu-choices which sends http-request. I cannot reproduce it when doing stuff that sends over websocket.

I've added logging in the

[2016-11-28 11:10] chrhol commented on #3981
So I guess this might be a problem:
![canceled](https://cloud.githubusercontent.com/assets/1658979/20666154/21de1fbc-b563-11e6-9da1-f7d144d82c33.JPG)

When clicking very fast and the server is slow to respond, some requests is canceled in the browser. However they are not canceled on the server (since we have no way of doing that today), which leads to that the server still sends the response and

[2016-11-28 11:16] warpech commented on #3798
Today on the app team bi-weekly meeting I will present the solution https://github.com/StarcounterSamples/HelloWorld/blob/PartialToStandaloneHtmlProviderWithSessionUrl/PartialToStandaloneHtmlProvider.cs to the team. In case there are no comments, I will ask @chrhol to merge.

[2016-11-28 11:23] warpech commented on #3798
This will require to remove setting the `Location` cookie in Starcounter. @chrhol or @alemoi could you pls do that in a feature branch?

[2016-11-28 11:28] chrhol commented on #3798
You mean right away so you can get a version with this included? Or do this together with merging the middleware?

[2016-11-28 12:19] k-rus commented on #2163
We discussed the issue. All non-integer number values need to be stored as string to be able to return meaning full errors with users, where tokens represent input value. Integer values (signed and unsigned) can be converted into string back and having the same representation.

So no work is required (may be only renaming), so I close the issue.

[2016-11-28 12:19] #2163 closed

[2016-11-28 12:19] miyconst commented on #3798
I also think, this is more important, but we would have to think up a way how to get it work and still be cacheable.

[2016-11-28 12:23] Mackiovello commented on #890
Closing since this is described [here](https://starcounter.io/guides/tools/administrator/) and [here](https://starcounter.io/guides/tools/staradmin/).

[2016-11-28 12:23] #890 closed

[2016-11-28 12:24] miyconst commented on #3981
No, this is not browser behavior. It should not cancel the requests on its own. It looks to be the PuppetJs issue.

@joozek78, this is something you have to take a look at. Only heart beat requests can be cancelled.

[2016-11-28 12:29] warpech commented on #3798
Together with merging of the middleware. Let's make a 3798-related feature branch. It will contain:

- middleware changes (@warpech, then @chrhol)
- removal of the Location cookie (@chrhol)
- client side changes in PuppetJs (@warpech, code reviewed by @tomalec)

[2016-11-28 13:21] chrhol commented on #3979
Another note: this will require code that uses Starcounter.XSON (i.e. TypedJSON with generated code) to be recompiled, although without any changes in usercode or generated code. So I guess the best time to push this change will be in the upcoming 2.4 version.

[2016-11-28 13:30] per-samuelsson commented on #3980
This is now done, as part of #3869. I'll merge it into main trunk once that one is merged.

[2016-11-28 13:39] warpech commented on #3981
This happens exactly in line: https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L433

@joozek78 I remember we were talking about this. I suggested removal of this line. Do you remember what's the reason it stayed?

[2016-11-28 13:40] warpech commented on #3981
This was the issue: https://github.com/PuppetJs/PuppetJs/issues/93

[2016-11-28 16:10] joozek78 commented on #3981
The reason it stayed was that it actually had little to do with the issue.

Probably it would be okay to remove that line, because [that line](https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L355) already protects against duplicate WS channels (original reason for closing XHR). Of course that needs verification (probably with some crazy clicking to put the puppet off-balance). Unf

[2016-11-28 16:34] warpech commented on #3981
@malx122 could you pls check if committing the line https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L433 fixes the problem for you?

[2016-11-28 17:53] chrhol commented on #3798
I'm not really sure what to remove here. Is it only `Set-Cookie: Location=x`? There is also some setting on the session, `session.UseSessionCookie` that sets another `Set-Cookie` (instead of location): `Set-Cookie: ScSessionCookie=sessionId` that is set instead of location if enabled.

[2016-11-29 06:44] chrhol commented on #3798
The changes are in branch `issue/3798` (for pnext). I didn't touch the other setting (`UseSessionCookie`). Should I start and upload a daily build with these changes or do you build locally?

[2016-11-29 07:08] chrhol commented on #2124
We're no longer using this pattern. The viewmodel is retrieved using a location that is specified in the response. Closing.

[2016-11-29 07:08] #2124 closed

[2016-11-29 07:10] chrhol commented on #2135
I don't think this is high prio, or if it should even be implemented at all. At least not until we can investigate possible alternatives that already exists instead of creating our own solution.

[2016-11-29 08:26] per-samuelsson opened #3984 "Replace start-time with build-time weaving"
Background [here](https://github.com/Starcounter/RebelsLounge/issues/54#issuecomment-263275596).

[2016-11-29 08:43] per-samuelsson commented on #3984
- [ ] Server should stop weaving, and produce correct paths in all three app-paths (original, compiled, weaved).
- [ ] In-place weaving must produce less artifacts than server-driven weaving. Schema files ideally should be embedded.
- [ ] Figure out how the cache should work if schema files are embedded. It must be redesigned.
- [ ] The code host must load main assembly before consuming weaver sch

[2016-11-29 08:48] bigwad commented on #3899
@miyconst,
please check out the latest nightly

[2016-11-29 08:49] bigwad commented on #3936
https://git.starcounter.org/BlueStar/level0/commit/8d7bbdcba49119b0973bc0987ee4c2b122d82246

[2016-11-29 08:49] #3936 closed

[2016-11-29 08:58] warpech commented on #2124
Agreed!

[2016-11-29 09:05] warpech commented on #3798
I think that `UseSessionCookie` should be removed as well. @alemoi do you agree?

[2016-11-29 09:16] Adeelkh opened #3985 "ScErrInvalidObjectAccessAbort (SCERR8006): The transaction was aborted because of an invalid object access.Version: 2.2.2.3511"
Mysolution.Database.MyImages Image = Db.SlowSQL<Mysolution.Database.MyImages>("SELECT i FROM Mysolution.Database.MyImages i WHERE i.Url=?",  "someurl").First;
if (Image != null)
{
         if (Image.description == null)
         {
              Description = GetDescription(someurl);
              Db.Transact(() => // Getting Error on this DB Transact
              {
                  Image.descrip

[2016-11-29 09:22] dan31 commented on #3985
Hi @Adeelkh! A question: why using ```SlowSQL```? It appears that your query is regular and thus falls into ```Db.SQL``` API.

[2016-11-29 09:41] per-samuelsson commented on #3984
One side effect of in-place weaving (meaning we operate on the originally compiled binaries, and not weaved copies of those) is that as long as the application run, you won't be able to compile. Meaning app developers must forcibly stop the application to go back to "development mode".

In a self-hosting context, that's not a problem, but in the shared hosting model it is.

I'm not sure it's accep

[2016-11-29 09:41] k-rus commented on #3985
It is nested transaction. I don't know how it works now.

@bigwad @chrhol Is it possible to get more meaningful error in the above case? What is the actual problem there?

I suggest to put query inside the explicit transaction scope. I don't know much logic it is supposed to be between the query and the database write. If much, then the query can be repeated as the state of the database might be c

[2016-11-29 09:43] k-rus commented on #3985
+1 No need to use `SlowSQL` here. `Db.SQL` needs to be used if the query executed on regular bases, since `Db.SQL` allows to cache query and reduce latency by avoiding preparing query every time.

[2016-11-29 10:17] Mackiovello commented on #3710
I had the same issue today.
This is the log:
[code]

If I then close the window by clicking on `close` it opens the "Finalizing" screen that never finishes

[2016-11-29 12:31] warpech opened #3986 "Don't use SessionIdString and ToAsciiString in sample & prefab apps"
Some of our sample apps and prefab apps use obsolete property `SessionIdString ` or method `ToAsciiString` of the Session class. They should be replaced with `SessionId`.

@Mackiovello could you take this? You need to search all our apps (I recommend using https://starcounter.gitbooks.io/rebelslounge/content/github_search.html) and replace the lines of code that use this.

[2016-11-29 12:33] Adeelkh commented on #3985
@k-rus GetDescription is not an expensive operation and does not involve IO at all. I will use Db.SQL instaed of Db.SlowSQL and will monitor if I still get the same problem. Also I will see if I can repeat query to avoid change in the state of the database problem

[2016-11-29 13:25] eriksunsol commented on #3977
@chrhol Sorry for the delay. It works like a charm! Thanks.

[2016-11-29 13:25] #3977 closed

[2016-11-29 13:35] k-rus commented on #3985
It will not help to solve this problem.

So you either need to put entire block into the same transaction scope (works while `GetDescription`), or repeat the query and assert that it is still null as you were going. Unfortunately, I don't know the actual implementation in Starcounter, which produces the error.

[2016-11-29 14:05] malx122 commented on #3981
Seems to work for me! (There is still a puppet/starcounter-include issue that I got while testing but I think its unrelated)

[2016-11-29 14:20] per-samuelsson commented on #3869
After deciding #3984, I'm altering how to specify if an app should be self-hosted or bootstrapped into the shared host - from being a project-based configuration switch to a command-line option, possible to specify on `Debug | Command line arguments`.

To be consistent, I'm adding also the ability to launch a self-hosted application via `star.exe`, using a unified option. I guess the normal workfl

[2016-11-29 23:31] miyconst commented on #3899
Tried `Starcounter-PnextNightlyBuilds-2.3.0.5099 (Nov 29, 2016 2:01:54 AM)`, the issue is not fixed.

[2016-11-30 09:11] bigwad commented on #3899
Do you run the same test you gave me? Because it runs fine for me.

[2016-11-30 09:48] per-samuelsson commented on #3869
I decided to postpone this, or alternatively, not support it at all. At least not until we find it necessary. Bootstrapping a self-hosted app from the command-line is restricted to launching the exe straight from the OS.

[2016-11-30 09:51] chrhol opened #3987 "Improve message from exception when a patch fails that is not properly handled."
As seen in #3801 and #3952, sometimes when a patch fails the exception that is thrown and logged is not really helpful.

The exception should be improved to contain additional information (the patch, server and client versions)

[2016-11-30 09:54] chrhol commented on #3952
Going back to the original exception in this issue: in this case it was the client that misbehaved. When the exception is thrown, the client says that it's on the same version as the server which means that no transformation will take place and the patch contains a path to a row that has been removed.

I created another issue to enhance the exception and will consider this one resolved.

[2016-11-30 09:54] #3952 closed

[2016-11-30 09:55] chrhol commented on #3801
I will close this issue since we never found a cause of it. I created another issue for enhancing the message to make it easier to try to find out what happened.

[2016-11-30 09:55] #3801 closed

[2016-11-30 10:28] chrhol commented on #3981
Cool, then it looks like removal of closing the request on the client will solve the original problems. I see that the changes are merged, but PuppetJs is not updated in Starcounter, right? @warpech, @tomalec

[2016-11-30 10:46] miyconst commented on #3899
@bigwad sorry, it was the same test with some "extra" lines from me, which broke it. Re tested again, and it works.

Thank you for fixing the issue.

[2016-11-30 10:46] #3899 closed

[2016-11-30 11:13] k-rus commented on #3751
@bigwad Can this issue be fixed with your fix to #3899?

[2016-11-30 11:15] bigwad commented on #3751
unlikely

[2016-11-30 11:31] k-rus commented on #3751
No, it isn't. Just tested.

[2016-11-30 14:04] k-rus commented on #3751
Yes, it is after commit, so it is not related shadow indexes.

[2016-11-30 14:45] Mackiovello commented on #3986
Changed from `SessionIDString` and `ToAsciiString` in Chatter and Calendar and pushed on the develop branch. Should I go and change on the master branches too?

Simplified has a property `SessionIDString` in `SystemUserSession` which I didn't touch. Was that the correct call?

[2016-11-30 15:36] JimJim87 opened #3988 "Http.POST not finding the specified URL."
When doing a Http.POST to my own asp.net web-api I get a Http 400 Bad Request response. When I try the exact same url using postman I get a 200 OK.

I have successfully made posts to requestbin.

[code]
Requestbin post:
![image](https://cloud.githubusercontent.com/assets/20333891/20758625/b0a56c42-b71a-11e6-9aaa-9be5a2f0f20e.png)

400 Response from own API:
![image](https://cloud.githubusercontent

[2016-11-30 15:42] miyconst commented on #3988
@JimJim87 please try to use native .NET features instead of `Starcounter.Http` class and see whether it works.

[2016-11-30 15:42] miyconst commented on #3988
cc @alemoi

[2016-11-30 16:02] JimJim87 commented on #3988
@miyconst I tried a solution found on http://stackoverflow.com/questions/4088625/net-simplest-way-to-send-post-with-data-and-read-response (it's in the accepted answer) and it worked.

I landed in my Post handler in my ASP.NET web-api. Not sure how to convert the response but that is another problem.

[code]

Should I use something like that for now?

[2016-11-30 16:07] miyconst commented on #3988
Yes, please use `WebClient` as it is a native feature, and I am not sure of how long the `Starcounter.Http` will be supported.

[2016-11-30 17:20] alemoi commented on #3988
@miyconst I agree with your suggestion. Not sure why Asp.net returns 400 but in this case we need to inspect both request and response using Fiddler, for example.

[2016-12-01 07:14] Mackiovello commented on #3920
Could you please check if the updated [PR](https://github.com/Starcounter/Starcounter/pull/3947) satisfies the requirements?

[2016-12-01 11:44] niklasbjorkman opened #3989 "Very slow and unstable Windows Mobile 10 clients"
We have a customer that would like to use a rugged Windows 10 Mobile device in their warehouse. When we run our application it runs very, very slow and it is unstable with errors. The reason for selecting Windows is to control the device using their implemented AD

Chrome, Firefox or any other browser besides Edge is unavailable on the OS. Any suggestions on what we can to to make it work in Edge

[2016-12-01 11:56] per-samuelsson commented on #3989
cc @warpech @miyconst @tomalec ?

[2016-12-01 12:38] warpech commented on #3989
We have a lot of potential gains in terms of client-side performance. So far the focus was on developers productivity, not performance optimisation.

My first suggesting: Removing `starcounter-debug-aid` from the master HTML template is a big performance boost.

Can I take a look at the code? That would give me more information.

[2016-12-01 12:48] niklasbjorkman commented on #3989
Thanks for the reply. You have a full dev. environment somewhere in Poland set-up earlier this week for testing purposes. We will try remove the flag.

[2016-12-01 12:57] niklasbjorkman commented on #3989
Removing starcounter-debug-aid only marginally increased the performance, so it is not the culprit. I do not find a way to see the error message we randomly get either.

[2016-12-01 16:57] bigwad commented on #3950
The problem is around setspec and code generation in QP (not related to scllvm).

First, scllvm maintaines a cache of compiled code. It matches cpp source with compiled code by the hash of cpp source. So, while QP gives scllvm the same input - it returns compiled module from the cache.
Among other variable parts, this cpp source contains setspec in the string form. So, if setspec changes, scllvm c

[2016-12-01 21:39] warpech commented on #3989
What is the error message? What is the Edge version? (try http://www.whatsmybrowser.org/)

[2016-12-01 21:41] warpech commented on #3981
Yes, PuppetJs will be updated jointly with a fix for https://github.com/Starcounter/Starcounter/issues/3798

[2016-12-01 21:43] warpech commented on #3981
Assuming this fix can be made only in v2.3/pnext, just as #3798? Please confirm.

[2016-12-02 06:49] k-rus commented on #3950
@bigwad Thank you for the investigation!

[2016-12-02 08:29] bigwad commented on #3950
I was wrong about it. setspec never gets reused. When you see good performance- it just means that scllvm  cache still holds compiled code corresponing for this setspec. As setspec algorithm is determenistic, it regenerate setspecs in the same order on every recreated database.
So if you cleanup the cache - you'll see bad performance from very first run. Then if you restart your test (but not clea

[2016-12-02 08:35] chrhol commented on #3887
I have been working on this for a while, and as usual I found some strange stuff not directly related to the serializer that also needs to be fixed for everything to work.

Current status is that the serializer is rewritten, the code in jsonpatch that reads and writes json have been rewritten and currently I'm looking into the methods that checks and gather changes.

All code that requires `unsafe

[2016-12-02 08:40] per-samuelsson commented on #3887
If they won't affect the user in terms of that he/she need to change application code it should be fine to target 2.3, if you think that would be better.

[2016-12-02 08:50] per-samuelsson commented on #3015
With #3984, I need to support on-demand weaving when passing source code to `star.exe`. I need to redesign how that thing work, and I'll bring this one into the mix.

[2016-12-02 09:03] chrhol opened #3990 "Refactor the code for dirtychecking in TypedJSON"
While working on #3887, I found some strange patterns where the old serializer set some state in the json for caching values that really should be handled by the dirtycheck.

Also, in general, the dirtycheck code is very confusing and hard to follow so it's really needs to be improved.

This issue needs to be solved before #3887 can be merged.

[2016-12-02 09:05] chrhol commented on #3887
Added a separate issue for the dirtycheck problems.

I don't think it will require any changes from usercode, I will test it with some of our and our customers apps when it's in a working state  and see. It would be good to get this in as soon as possible I guess.

[2016-12-02 09:27] k-rus commented on #3950
I will elaborate about it a little bit. With new scllvm the compiled functions are stored on disk. Thus when the test is restarted it will reuse compiled functions from previous run.

Thank you for confirming this. It is expected to work in this way.

[2016-12-02 10:10] alexanderstc commented on #3950
Should I pass setspec as an argument to the compiled function?

[2016-12-02 13:58] jwillmer commented on #3962
I get your reluctance of iframes but I a simple warning does not help if you like to use apps from different vendors.

Does someone have a better idea then iframes? There needs to be something better?!

[2016-12-02 14:00] miyconst commented on #3020
Archiving the issue.

[2016-12-02 14:00] #3020 closed

[2016-12-02 14:02] miyconst commented on #2709
Archiving the issue.

[2016-12-02 14:02] #2709 closed

[2016-12-02 14:09] Mackiovello commented on #3986
I'll go ahead and close this since I consider it done.

[2016-12-02 14:09] #3986 closed

[2016-12-02 14:41] warpech commented on #3798
PuppetJs will not be aware of cookies at all after #3798, so I think `UseSessionCookie` becomes useless.

That said, we still need a universal mechanism to tell a non default client "dude, your session is available at such URL". We should re-introduce some sort of `X-Location` header.

 So maybe let's change `UseSessionCookie` to:

- `bool UseSessionHeader` (default true)
- `string SessionHeaderNa

[2016-12-02 14:51] chrhol commented on #3798
Sounds good. I will make these changes then in both develop and pnext.

[2016-12-02 14:53] Mackiovello commented on #983
I've documented constraints [here](https://starcounter.io/guides/database/referential-integrity/) so I'll close this issue.

[2016-12-02 14:53] #983 closed

[2016-12-02 16:18] k-rus commented on #3950
Nope, different setspec means different table and those different query plan.

[2016-12-02 16:25] alexanderstc commented on #3950
If the query plan is really different, the generated query code will be different as well (not only setspec).
If I pass setspec as an argument, scllvm will be able to cache the code for those queries which have exactly the same code (meaning the same query plans).

[2016-12-02 16:38] chrhol commented on #3798
Missed to link the commit for adding `UseSessionHeader` and `SessionHeaderName` and making UseSessionCookie obsolete.

For develop (in branch `issue/3798-develop`): 5a5d25ac98e5c0848f2eae9910949b03a3c2cb18
Will merge the latest changes to the branch in pnext (`issue/3789-pnext`) now

[2016-12-02 16:41] k-rus commented on #3950
If set spec is different, then layout id is very likely to be different as well. Actually there will be cases when code gen is overkill.

[2016-12-02 16:46] alexanderstc commented on #3950
OK, I cancel my patches.

[2016-12-02 16:48] chrhol commented on #3798
Alright, so the changes have been done in two branches

`issue/3798-develop`
`issue/3798-pnext`

I have not tested anything at all, other than that it compiles yet, but maybe we can add the needed changes for PuppetJs and try it out after that.

[2016-12-03 00:29] joozek78 commented on #3975
Sorry for the silence. Some time later I tried it again and couldn't reproduce. Strange thing is that earlier cleaning the db and binaries didn't help. I'll reopen if I stumble on it again

[2016-12-03 00:29] #3975 closed

[2016-12-04 11:11] SenerDemiral opened #3991 "How to sort Starcounter.Arr<T> in C#"

[2016-12-04 11:53] SenerDemiral commented on #3991
I tried this with Linq
[code]
But I can't convert sort to Takimlar.

[2016-12-05 09:12] niklasbjorkman commented on #3989
Edge Mobile 13. I cannot find the debug console on the mobile device, but running Edge on PC throws an error as well:

SCRIPT5022: Assertion failed
webcomponents.js (979,9)

[2016-12-05 09:47] warpech commented on #3989
That is most likely the issue that was fixed in Edge 14: https://github.com/webcomponents/webcomponentsjs/issues/575

Any chance of upgrading to Edge 14?

[2016-12-05 10:59] miyconst opened #3992 "Typo: Operation failed be because input does not match schema."
I tried to execute the following query from the administrator:

[code]

And got the following error:

This issue is about the typo with double **be**.

cc @k-rus, @andwah

[2016-12-05 11:04] k-rus commented on #3992
The type is in the error code xml file, I guess. Fixing it means to fix it in develop than merge the fix into pnext.

[2016-12-05 11:26] niklasbjorkman commented on #3989
I've get the error on my dev. machine using Edge 38.14393.0.0, so it does not seem like it's been fixed. And sadly, no, the version cannot be updated until this summer according to Panasonic and that is 6 month after go-live at the customer ...

[2016-12-05 11:37] warpech commented on #3989
I will try to reproduce it.

My best recommendation right now though is: switch to Android if you can. With old Mobile Edge, there might be more problems after fixing this one.

[2016-12-05 12:07] niklasbjorkman commented on #3989
Yes, but the request for windows is from our (largest) customer. I can accept that they need to be able to control the HHC the same way as their other computers on the domain. It is for large-scale companies with evolved IT policies that windows is mandatory.

[2016-12-05 13:03] warpech commented on #3989
I will do more research tomorrow to see how big of a problem this is. I have the files.

[2016-12-05 15:22] Mackiovello commented on #3920
@tomalec Would appreciate if you could take a look at the [Pull request](https://github.com/Starcounter/Starcounter/pull/3947)

[2016-12-05 17:02] warpech commented on #3981
A decision was made that fix for #3981 and #3798 does not have to be in a single PuppetJs release.

The fix for #3981 is done in PuppetJs 2.3.0, which should be available in tomorrow Starcounter nightly build (`develop` and `pnext`).

[2016-12-05 18:18] dan31 commented on #3991
CC @k-rus @miyconst

[2016-12-05 19:34] miyconst commented on #3991
@SenerDemiral it is not very clear of what you are trying to do.

Am I right that you want to sort items by some order inside a JSON view-model? If so, then you should not sort the JSON `Starcounter.Arr<T>` items itself, the data should be sorted.

Example:

[code]

[2016-12-05 21:02] SenerDemiral commented on #3991
Thank you.
It works.
I am trying to sort  records of table according to computed field (Ozet.Puan) of that table.
Because Db.SQL ORDER BY does not working on computed fields!
[code]
should be
[code]

[2016-12-05 21:07] miyconst commented on #3991
Can you please clarify? It should work on the computed fields.

What version of Starcounter do you use, and how it "does not work"? Any errors or the result is wrong?

Yes, you are correct, the generic type `Db.SQL<TurnuvaTakim>` definition is required.

[2016-12-05 21:15] SenerDemiral commented on #3991
v2.3.0.5132
Error Log
[code]

[2016-12-05 21:30] miyconst commented on #3991
@k-rus please take a look.

[2016-12-05 21:40] SenerDemiral commented on #3991
Source: [https://github.com/SenerDemiral/TT](url)

[2016-12-05 22:24] warpech commented on #3981
Merged to `develop` and `pnext`.

[2016-12-05 22:24] #3981 closed

[2016-12-06 09:34] k-rus commented on #3991
Thank you for the issue.

It requires investigation if code properties are supported for sorting or not and requirements. It might be required to specify both getter and setter to make it work. May be @per-samuelsson remembers.

I see that the property `Ozet`, which is used in sorting, is quite expensive, since it creates new object in heap and executes several queries. I cannot say directly if th

[2016-12-06 09:43] per-samuelsson commented on #3991
Not sure what I should remember?

Can you expand on how ORDER BY can be influenced by the weaver? The weaver does one thing: decide if a property is to be considered persistent or not. It's considered persistent if there is **both a getter and a setter** and the implementations of those contain a **single instruction that read/write from/to a backing field**. Otherwise it's considered a code prope

[2016-12-06 12:55] warpech commented on #3989
@niklasbjorkman I have replied by email.

The problematic app uses a mix of webcomponents.js, Polymer, jQuery, jQuery UI, Bootstrap and AdminLTE, which are two worlds not fully compatible. On top of that an outdated browser.

Closing this thread, because it is too general. We can report more specific problems as they are nailed down.

[2016-12-06 12:55] #3989 closed

[2016-12-06 14:24] andan342 commented on #2163
The summary of the changes is posted at:

https://github.com/Starcounter/RebelsLounge/blob/master/query_processor/numeric_values_in_AST.md

[2016-12-06 14:28] andan342 commented on #2164
As a result of discussion with @k-rus, we keep storing float and decimal values in the `val.str` union field of 'Value` nodes. The corresponding node type is always 'T_Float' for all numeric values which are either not integers, or fall out of 64-bt integer range (unsigned or signed).

The summary of the recent changes is posted at:

https://github.com/Starcounter/RebelsLounge/blob/master/query_pr

[2016-12-06 14:33] warpech commented on #3798
PuppetJs changes from branch https://github.com/puppetjs/puppetjs/tree/remove-location-cookie are pushed to `issue/3798-develop`.

I have made a build for further (auto and manual) testing: https://scbuildserver/viewType.html?buildTypeId=Starcounter_DevelopNightly&branch_Starcounter=issue%2F3798-develop&tab=buildTypeStatusDiv

[2016-12-06 14:47] per-samuelsson commented on #3984
This was a bigger work than I first imagined, but I think I got all major things sorted out now at least. Merging it into #3869 now and will push everything upstream in a batch once I finished that.

[2016-12-06 14:51] warpech commented on #3798
Good news, the basic tests are passing! I have tested HelloWorld in Chrome, Firefox, Safari and Edge.

There is some problem in Launcher though. I am investigating.

I have noticed that the session header (`X-Location`) is escaped, which I think is wrong:

[code]

[2016-12-06 15:22] warpech commented on #3798
To release notes:

After this fix, every master HTML template that bootstraps the PuppetJs connection should hardcode the session URI in the HTML (`<puppet-client remote-url="...">` attribute). Otherwise this will cause two requests to the entry URL instead of one request.

[2016-12-06 19:02] miyconst opened #3993 "Proposed improvements to PartialToStandaloneHtmlProvider"
I had to enable `Shadow DOM` in a solution, but still wanted to use `Starcounter.PartialToStandaloneHtmlProvider`.

It would be much easier if:

- `Starcounter.PartialToStandaloneHtmlProvider.ImplicitStandaloneTemplate` is a public constant.
- `Starcounter.PartialToStandaloneHtmlProvider.template` is a protected, not private field.
- `Starcounter.PartialToStandaloneHtmlProvider.Invoke` is a virtua

[2016-12-06 19:53] warpech commented on #3993
The current design was proposed by @per-samuelsson in https://github.com/Starcounter/Starcounter/issues/3627

I am fine with whatever is compatible with current solution.

How would your solution be simpler in practice? Currently, all it takes is just to provide your own string as a parameter to the `PartialToStandaloneHtmlProvider`.

@per-samuelsson WDYT?

[2016-12-06 22:16] dan31 commented on #262
@chrhol this is one of the best closed "opened windows" I have ever seen! Cool!

[2016-12-07 00:08] dan31 commented on #2550
Related and quite long discussion there https://github.com/Starcounter/CompanyTrack/issues/138.

[2016-12-07 06:15] per-samuelsson commented on #3993
I think I'll await @miyconst's answer to

before I comment. 😎

[2016-12-07 07:32] chrhol commented on #3798
Ahh yes, I copied this old code where it was escaped. I will change it to not be escaped.

[2016-12-07 07:42] chrhol commented on #3798
Fixed.

On another note, I tried to merge everything from develop (since there been some changes there) and got a conflict in bower.js fpr puppetjs. I wasn't sure what the correct way to fix it was so I canceled the merge instead.

[2016-12-07 07:46] chrhol commented on #3887
I've been testing this and made a few fixes for bugs that I found. So far I can see no breaking changes, and the old API is still there but obsoleted. It's probably a good idea then to push this to 2.3 (and not wait for 2.4)

I think everything is in shape to be merged. I will do a few more runs with some apps before merging, but the plan is to do it today.

[2016-12-07 07:47] chrhol commented on #3990
I think I'm finished for now at least, with the rewrites of the dirtycheck. There are still more work that can be done (of course) but that will have to come at a later stage.

These changes will be pushed together with #3887

[2016-12-07 07:52] warpech commented on #3798
Np., I will merge `develop` > `issue/3798-develop`

[2016-12-07 07:55] warpech commented on #3798
Merged `develop` > `issue/3798-develop`. Triggering a nightly build for testing of the sample apps.

[2016-12-07 08:47] miyconst commented on #3993
Instead of supplying my own template string, I could do like this:

[code]

For whatever reason GitHub showed me a cached version of the `PartialToStandaloneHtmlProvider` without @warpech's changes, and I spend some time trying to investigate how `remote-url` ends up in there.

[2016-12-07 08:50] bigwad commented on #3582
done

[2016-12-07 08:50] #3582 closed

[2016-12-07 09:02] per-samuelsson commented on #3993
Aha, so you want something in between what those 2 constructors provide today - you want the ability to use the default, implicit standalone template and yet tweak it to your needs. Right now, we provide you with the ability to use either the default, or a custom one.

Well, I guess we could open up for that, but seem to be quite a niche case to me. You know better of course.

If we open up, I'm f

[2016-12-07 09:08] per-samuelsson commented on #3991
Well, my question was more how the weaver could act in a different way to support ORDER BY on code properties, which is what this issue is about if I'm not mistaken. The weaver give the host a chance to determine if a property is a database ("persistent") property or not (in which case it is a property with code). What more could it possibly do? If there is missing analysis, I need to know what to

[2016-12-07 09:18] per-samuelsson commented on #3991
Just to be very clear here, my bottomline is I don't understand that if we support a class such as this

[code]

being *queried* like this

[code]

then how the *weaver* could enable this to work:

[code]

[2016-12-07 09:20] miyconst commented on #3993
This is a low priority, but I would like to get it in both, develop and pnext.

Okay, we can omit this one.

The idea is not to create my own provider with almost identical logic, but take existing one and adjust to my needs.

In this case if Starcounter changes some other PuppetJs logic and the template gets another update, I don't have to change mine provider unless the changed part touches the

[2016-12-07 09:22] miyconst commented on #3993
You don't actually have to. There are minor changes, just push to a custom branch, run a TeamCity build, see it succeed, merge into develop :).

I can do the coding when I get a stable fiber connection (next week is my hope) and can use VPN.

[2016-12-07 09:35] per-samuelsson commented on #3991
@miyconst suggested we move the kind of low-level discussions in-house, not to clutter this issue about what area in Starcounter is in need of improvement here, and he's totally right. I should have thought about that. Thanks for pointing it out, @miyconst.

I'll create an internal issue where we can keep research and see if we can reach some better understanding about what the options are for thi

[2016-12-07 09:58] SenerDemiral commented on #3991
@per-samuelsson,  I solved my problem simply using Linq.
After that it is up to your decision.
[code]

[2016-12-07 10:07] SenerDemiral commented on #3991
It can be like OldSQL View or StoredProcedure in DB.
No real table but produced from other tables and can be used as readOnly table.

[2016-12-07 10:09] per-samuelsson commented on #3991
After that it is up to your decision.

Thanks for sharing that @SenerDemiral and sorry for the inconvenience. We will do a round of in-house discussion at least, and let's see where it gets us.

[2016-12-07 10:46] warpech commented on #3798
Fix works in Launcher, thanks @chrhol! I think this can be merged to `develop` and `pnext`.

[2016-12-07 10:47] warpech commented on #3798
Fix works in Launcher, thanks @chrhol! I will make a new release of PuppetJs and then it can be merged to `develop` and `pnext`. I will let you know.

[2016-12-07 11:31] warpech opened #3994 "Include HTML and JSON inline in PartialToStandaloneHtmlProvider"
This is an umbrella issue for including HTML and JSON inline in PartialToStandaloneHtmlProvider. This should result in big improvements in page loading time.

Changes will be needed in Starcounter (PartialToStandaloneHtmlProvider.cs) and PuppetJs.

New information will be added to this issue as I start investigating. If someone wants to help, please comment.

[2016-12-07 11:34] miyconst commented on #3994
Subscribing.

[2016-12-07 12:13] warpech commented on #3915
Can we have a straightforward solution for this in 2.3 and more elegant one in 2.4? This is strategically needed in 2.3.

[2016-12-07 12:39] warpech commented on #3915
Another idea is to create a middleware (maybe 2 middlewares) that enable HTMLComposition, including:

- enabling the REST API (OT in #3915)
- enabling LayoutInfo in the merged JSON tree (point 1 in https://github.com/Starcounter/RebelsLounge/issues/47#issue-187769469)

[2016-12-07 13:56] warpech commented on #3798
@chrhol PuppetJs version pushed in `issue/3798-develop`. Ready for merging to `develop` and `pnext`.

[2016-12-07 14:00] chrhol commented on #3798
Awesome, I will do it in a few minutes.

[2016-12-07 14:30] chrhol commented on #3798
Merged and pushed to develop and pnext now.

I guess the documentation at https://starcounter.io/guides/web/sessions/ needs to be updated. How do we handle removed or obsoleted documentation? Separate sections or separate pages or something else?

[2016-12-07 14:55] chrhol commented on #3990
Pushed now.

[2016-12-07 14:55] #3990 closed

[2016-12-07 14:56] chrhol commented on #3887
Code merged and pushed.

[2016-12-07 14:56] #3887 closed

[2016-12-07 16:42] warpech commented on #3798
Great, thanks!

We don't handle it yet. In future these should be static pages that are versioned... But we won't get that unless we move away from WordPress.

Right now we handle this by separate sections:

- https://starcounter.io/guides/apps/ontology-mapping/
- https://starcounter.io/guides/json/json-data-binding/

cc @Mackiovello

[2016-12-07 17:10] warpech commented on #3798
Closing as done

[2016-12-07 17:10] #3798 closed

[2016-12-07 17:18] linkdata commented on #3915
Not sure if this is relevant or not, but please note that request routing will in the future be limited to HTTP verb and URI path, and possibly also hostname. Currently we also attempt to route on query parameters even though ordering of them is not guaranteed by HTTP.

So if a REST API requires performant request routing, please have this in mind.

[2016-12-07 22:00] warpech commented on #2132
@chrhol I think that this issue can be finally closed :)

[2016-12-07 22:11] warpech commented on #3031
Rings are explained in https://github.com/StarcounterPrefabs/Simplified/blob/master/README.md#rings, so I consider this done.

[2016-12-07 22:11] #3031 closed

[2016-12-07 22:23] warpech commented on #3700
From what was discussed between me, @alemoi and @chrhol, implementing https://github.com/Starcounter/Starcounter/issues/3966 will "fix" the problem.

[2016-12-08 08:24] atifwaqar opened #3995 "SC PnextNightly 2.3.0.5282 not running any app"
I installed latest PnextNightly to test https://github.com/Starcounter/Starcounter/issues/3798.
But im not able to run any app (Including AdFenix app).

![image](https://cloud.githubusercontent.com/assets/4388707/21002822/08ca9ccc-bd28-11e6-8162-edf25ee07415.png)

and this is what I can see in SC Logs when i try to run AdFenix app :
[code]

[2016-12-08 09:04] atifwaqar commented on #3995
I just installed all these versions and I had the same issue in all :
2.3.0.5282 (Dec 7, 2016 2:02:09 AM)
2.3.0.5267 (Dec 6, 2016 2:00:12 PM)
2.3.0.5257 (Dec 6, 2016 2:02:08 AM)
2.3.0.5212 (Dec 5, 2016 11:27:03 AM)
2.3.0.5209 (Dec 5, 2016 2:02:05 AM)
2.3.0.5205 (Dec 4, 2016 2:02:00 AM)
2.3.0.5192 (Dec 3, 2016 2:02:03 AM)
2.3.0.5159 (Dec 2, 2016 2:02:05 AM)
2.3.0.5132 (Dec 1, 2016 2:02:08 AM)
2.3.0

[2016-12-08 09:08] bigwad commented on #3995
Looks like format of metadata has changed. Then you need to drop or reload your database.
cc @k-rus

[2016-12-08 11:34] miyconst opened #3996 "Document staradmin new db CLI parameters"
@Mackiovello please update this page [staradmin CLI](https://starcounter.io/guides/tools/staradmin/) with information from here - [Add support to `staradmin.exe` for the `-oid` and `-lastoid` flags](https://github.com/Starcounter/Starcounter/issues/3360#issuecomment-184234893).

**Note:** it is only applicable to Starcounter 2.3 (pnext).

[2016-12-08 11:35] per-samuelsson commented on #2999
This thing will be possible once #3869 is pushed.

[2016-12-08 11:35] #2999 closed

[2016-12-08 11:41] per-samuelsson commented on #3994
Remember to sync this work with any possible work happening in #3993.

[2016-12-08 12:32] per-samuelsson opened #3997 "SQL comparison predicate "not equal" ('<>') not working in web admin"
Version: latest bits of 2.3+.

Having this class:

[code]

and then populating using this

[code]

give these results when querying from Web Administrator:

[code]

[2016-12-08 12:44] chrhol commented on #2132
😉

[2016-12-08 12:44] #2132 closed

[2016-12-08 12:46] dan31 commented on #2132
There must be such icon: ![](https://avatars3.githubusercontent.com/u/1658979?v=3&s=32)

[2016-12-08 12:47] k-rus commented on #2164
I close the issue as it is necessary to keep float/decimal values in strings.

[2016-12-08 12:47] #2164 closed

[2016-12-08 12:51] miyconst commented on #3997
I think this is not a bug, but rather SQL language standard. Any comparison with a NULL value except `IS NULL` and `IS NOT NULL` returns `false`.

At least it is so in MS-SQL server.

[2016-12-08 12:52] miyconst commented on #3997
Here is the same question - [T-SQL: select rows not equal to a value, including nulls](http://stackoverflow.com/questions/10421017/t-sql-select-rows-not-equal-to-a-value-including-nulls).

[2016-12-08 12:54] miyconst commented on #3997
The other thing is that Entity Framework automatically converts `query.Where(x => x.Bar != "Hej")` into `WHERE x.Bar <> 'Hej' OR x.Bar IS NULL`.

[2016-12-08 13:33] per-samuelsson commented on #3997
OK, thanks for providing that insight @miyconst. Let's close this one then, and be done with it. We can reference it if we ever get the same thing reported again.

[2016-12-08 13:33] #3997 closed

[2016-12-08 14:33] andwah opened #3998 "AppsBootstrapper.AddStaticFileDirectory can not be used unless a new reference is added"
A user can not directly call `AppsBootstrapper.AddStaticFileDirectory(..)`
without adding a new reference `Starcounter.Apps.JsonPatch.dll` to the project.

[2016-12-08 14:34] andwah commented on #3998
Documentation is here
https://starcounter.io/guides/network/static-file-server/

[2016-12-08 14:37] k-rus commented on #3995
@atifwaqar What version of Starcounter was used to create the database?

[2016-12-08 16:18] atifwaqar commented on #3995
@k-rus I dont remember the version number, i remember the date. It was 21st November's Nightly Build

[2016-12-08 16:48] warpech commented on #3920
I have reviewed the Pull Request. I am afraid that this is not mergeable. Such code should not be added without tests and documented purpose.

@tomalec can you give the reason of what is the purpose of having such a broad REST API? Is someone building a REST client that will use these API calls? I suggest that the REST API is kept to the minimum, or perhaps even removed at all in future. Manipulat

[2016-12-08 17:06] Mackiovello commented on #3920
I don't know whether this is needed or not, so I have no input on that front.

Don't be afraid to close the PR without merging; I've learned a ton from writing it and I wouldn't be disappointed if it wasn't merged.

[2016-12-08 19:17] atifwaqar commented on #3995
So I tried to unload/reload, but it was taking too much time so I just deleted my local DB, installed SC again, and things work fine now. Except `UserAdmin` app (version 4.0.3 Nov 17 build). I installed it from `App Warehouse`.

[2016-12-08 22:14] dan31 commented on #3995
@atifwaqar just to let you know - @miyconst and @ubbeK are working on the proper Unload/Reload tool which, as we expect, solves all the current glitches with Unload/Reload and allows to take data migrations into fine control. We will keep you tuned on that matter. We hope to have it at pre-release state in the end of December.

[2016-12-08 22:21] dan31 commented on #3996
@miyconst @Mackiovello I know the following comment is out of context and is not formulated anywhere yet as a regular practice, but some people already follow this practice by my example, hence I would encourage you do the same:

![image](https://cloud.githubusercontent.com/assets/7162535/21030076/f3b6a7fc-bd9c-11e6-9b2f-6fc1692bc869.png)

Thanks! 👍

[2016-12-08 22:33] dan31 commented on #3020
@miyconst thanks for archiving :) yes you are correct, whenever we see a need for functionality - we should address it altogether and see what is the proper way (implement using existing public features, or add feature), but not to fall back to internal APIs.

[2016-12-08 22:36] dan31 commented on #3950
Interesting investigation! But what is the outcome?

[2016-12-09 00:31] dan31 commented on #3995
@atifwaqar we are well aware of the issue and in the middle of providing a proper solution!
could you pls share the approximate data sizes that you should migrate on live servers? (CC @miyconst)

[2016-12-09 07:39] atifwaqar commented on #3995
@dan31 We have 8 live servers. And one of the largest server's DB size is 69 GB.

[2016-12-09 08:46] k-rus commented on #3950
@henriksjostrom did some improvements to the really drop table and made new sets of experiments. @henriksjostrom can you share your last graph?

[2016-12-09 08:52] chrhol commented on #759
There are documentation on starcounter.io for TypedJSON, https://starcounter.io/guides/json/
`Data` property is explained in https://starcounter.io/guides/json/populate-json-with-database-data/#setting-the-data-property
The other mentioned properties in this issue were more hacks and have been removed.

[2016-12-09 08:52] #759 closed

[2016-12-09 08:53] chrhol commented on #2153
This is not something that's going to get implemented in this way most likely. Closing this issue.

[2016-12-09 08:53] #2153 closed

[2016-12-09 08:55] chrhol commented on #2136
Currently there is no need for this and our current solution does not really require it. If we find that we need it later, the spec probably needs to be redone anyway. Closing.

[2016-12-09 08:55] #2136 closed

[2016-12-09 08:56] #2135 closed

[2016-12-09 08:57] #2154 closed

[2016-12-09 08:59] chrhol commented on #1818
With the latest refactorings this is more or less done I think. We have some (internal) apps, like the servermanager that handles it's own patches. Closing.

[2016-12-09 08:59] #1818 closed

[2016-12-09 09:00] atifwaqar commented on #3995
`UserAdmin` app in `App Warehouse` is not working with latest SC Nightly build 2.3.0.5282.
How can I fix it?

[2016-12-09 09:29] atifwaqar commented on #3995
@bigwad The startup time is ok. my apps start in a couple of seconds if my DB is empty.
But I am not the right person for this question. because I havent successfully done Unload/Reload completely on 2.3. I started Unload, and I was getting lot of missing Table/Column errors, so I just deleted the database and installed the latest nightly.

[2016-12-09 09:42] dan31 commented on #3995
@atifwaqar could you share your current startup time on 2.2.x with 69 Gb DB?

[2016-12-09 10:11] fiyazadfenix opened #3999 "DbException: ScErrReadOnlyTransaction (SCERR4093): The transaction is readonly and cannot be changed to write-mode."
I used timeu polymer wizard. In my html i have

[code]
in .json i have

[code]

but when i try to write something on this page i got these issues of connection error...
![1](https://cloud.githubusercontent.com/assets/20770666/21045364/3d933448-be2a-11e6-8216-49363fb3ccb6.png)

here is the sc log

[code]

[2016-12-09 10:19] atifwaqar commented on #3999
I suspect you need to have `Db.Scope` when you create the View-Model object in your handler.

[2016-12-09 10:29] miyconst commented on #3999
Exactly. Otherwise transaction is readonly. Remember to commit the changes when finished.

[2016-12-09 10:29] #3999 closed

[2016-12-09 10:36] fiyazadfenix commented on #3999
I've used but stilling having the same issue @miyconst
 Db.Scope(() =>
                    {
                        SellerConfiguration.Html = "/client/partials/domainconfig/SellerConfiguration.html";
                        SellerConfiguration.SelectedSellerID = seller?.ObId;
                        SellerConfiguration.WizardStep = 1;
                    });

[2016-12-09 10:41] miyconst commented on #3999
Please go through [Hello World](https://starcounter.io/hello-world/first-interactive-ui-hello-world-part-3/) Starcounter tutorial to see how to use `Db.Scope`.

[2016-12-09 10:45] miyconst opened #4000 "Assertion failed in scllvm.dll"
[code]

![image](https://cloud.githubusercontent.com/assets/6435556/21046283/3ea21c9e-be04-11e6-8d34-362c5f7a1e1e.png)

Entire server crashes. Log entries:

[code]

[code]

What can I provide for debugging?

cc @alemoi, @bigwad

[2016-12-09 10:51] atifwaqar commented on #3995
Sure, I'll check this on weekend, when I have no traffic on live server.

[2016-12-09 11:15] Mackiovello commented on #3996
This [page](https://starcounter.io/guides/tools/staradmin/) is now updated with the following text:
[code]

[2016-12-09 11:15] #3996 closed

[2016-12-09 11:17] warpech commented on #3996
Actually many of us follow another practice: create documentation requests in [TechComm](https://github.com/Starcounter/TechComm/issues) issue board.

[2016-12-09 11:28] miyconst commented on #3996
@dan31, @warpech, thank you for the tips. I will follow both.

[2016-12-09 11:35] atifwaqar commented on #3798
@warpech is this fix in SC version 2.3.0.5282?

[2016-12-09 12:19] warpech commented on #3798
No, it is in `2.3.0.5328`/`2.3.0.5331` and higher. See "Develop" and "Staging" channels at http://downloads.starcounter.com/

[2016-12-09 12:24] henriksjostrom commented on #3950
Yes

TL:DR (or abstract in academican) Creating a table, filling it with data is constant. If an index is created or a query executed the time appears to increase linearly.

First of all here is the initial graph that lead me to state ∝x^2
![image](https://cloud.githubusercontent.com/assets/2777441/21048782/576ef78a-be11-11e6-8ba4-b7f7908c57b0.png)

After I rewrote the really_drop_table function a

[2016-12-09 13:00] atifwaqar commented on #3798
It works. Thanks guys for fixing this. :)

[2016-12-09 15:02] k-rus commented on #3995
Thank you. It should be good enough for me. I will try to reproduce it and see how the problem looks like.

[2016-12-09 15:09] k-rus commented on #3950
cc @dan31

[2016-12-09 16:09] chrhol commented on #3798
Awesome! It only took us around 4 months and 60+ comments 😀

[2016-12-09 16:12] dan31 commented on #3950
@henriksjostrom awesome graphs! Why not in LaTeX though? 😃
Maybe we could run profiler on top of that to see what increases over runs, at our next meeting.

[2016-12-09 16:34] henriksjostrom commented on #3950
@dan31 While as for any true physicist LaTeX should naturally have been my first choice. Alas the setup time required led me to prioritize a faster solution. I hope to one day earn your forgiveness.

Yes, I would like to learn how to attach a debugger to the scdata process rather than the test process. It sounds like it could be useful to know. CPU time spent in the test process is roughly equal b

[2016-12-09 16:50] dan31 commented on #3878
@SenerDemiral considering our current undertake for 2.3 RC to provide a new Unload/Reload, this tool will allow to export whole database to SQLite database. This will give people a way to use 3-rd party tools for editing and navigating their tables. We agree that, even though your tables are your classes, it becomes convenient to look at the whole data set "from the bird's eye view" prospective us

[2016-12-09 16:58] atifwaqar commented on #3798
Its ok. Good thing is that its fixed now.
And now I can start developing Dashboards that will be exposed to end-users.

[2016-12-09 18:55] SenerDemiral commented on #3878
@dan31 How can I export database to SQLite?
Is it enough to unload or is there any other export switch on staradmin command?

[2016-12-10 02:24] dan31 commented on #3878
Unload tool will use SQLite as a storage format for data. This is a separate tool that is not available yet.

[2016-12-11 10:58] chrhol commented on #3987
This is done now. Unfortunately teamcity is down so I cannot do any personal builds. I will wait until I'm able to make sure everything builds and runs as it should before pushing.

Since the changes are mostly for the errormessage I will push this to all versions, 2.2, 2.3 and develop.

[2016-12-11 15:32] chrhol opened #4001 "NullReferenceException in CheckAndAddArrayVersionLog"
Concerns version 2.3 and develop.

[code]

There are two problems: not checking if changelog is null and that this method is called when it shouldn't be.

[2016-12-11 15:36] chrhol commented on #4001
This issue is already fixed in branch `issue/v2.3/4001`, but since teamcity is not up I haven't pushed it yet.

[2016-12-11 22:35] mmnosek opened #4002 "Starpack: add force app install (upgrade) option."
**Overview**
In our current project, we try to setup continuous deployment to our test environment. We want to use starpack as I think it should be our standard way to create app packages and install them. Unfortunately, we've faced a problem almost at the end of the process.

Steps are as follows:
1. Code is merged to develop branch
2. TeamCity is building couple of apps
3. Apps are packed from b

[2016-12-12 08:13] andwah commented on #4002
I agree, a "force install" should be very handy

- "force install" : replace or install the app.
- "upgrade" : uninstall all other versions and install the app.

I will take a look to see what i can do about the "force install".

[2016-12-12 08:20] per-samuelsson commented on #3998
Just very generally, it should be fine requiring users to add additional assembly references, complementing the default references we provide, when they want to use more niche-cased APIs. It's a quite standard approach I would say.

Regarding this particular API, I can't say how common it is and if it belong to the category where adding a new reference is not acceptable. If it is a commonly used A

[2016-12-12 08:52] chrhol commented on #3855
I will close this with the assumption that it was caused by the same problem as the other mentioned issue.

[2016-12-12 08:52] #3855 closed

[2016-12-12 08:56] chrhol commented on #3850
Closing this issue until we find some way to consistently reproduce it.

[2016-12-12 08:56] #3850 closed

[2016-12-12 08:58] chrhol commented on #814
Regression tests are good. However this one is really old, and the suggestion is to base the test on apps (PMail) that isn't used anymore and features that we are not using.

[2016-12-12 08:58] #814 closed

[2016-12-12 09:36] mmnosek commented on #4002
cc @aloscha

[2016-12-12 09:41] tomalec commented on #3920
My idea was to extend possibility to manage layouts. Colabers asked many times, for the ways to import/export.

[2016-12-12 10:39] per-samuelsson commented on #4002
And compatible with our very own `staradmin delete --force db` 😎

[2016-12-12 10:47] alemoi commented on #4000
I got the generated code from @miyconst and everything was fine with it, no compilation errors. Error code 3 indicates ERROR_PATH_NOT_FOUND. Very strange! I will rework the code so it returns an error code to the calling process.

[2016-12-12 10:54] miyconst commented on #4000
This might be not the culprit code, since I have reinstalled Starcounter multiple times since that time. I will try to reproduce the issue and give update here.

[2016-12-12 10:57] alemoi commented on #4000
Big thanks!

[2016-12-12 10:59] chrhol commented on #4001
Pushed to `v2.3` and `develop` branches now.

[2016-12-12 10:59] #4001 closed

[2016-12-12 11:00] chrhol commented on #2966
I will do this change for 2.4 to avoid breaking anything.

[2016-12-12 11:13] mmnosek commented on #4002
Absolutely, I should have mentioned it in the very beginning 😄

[2016-12-12 11:59] chrhol commented on #3987
Pushed to all versions now.

[2016-12-12 11:59] #3987 closed

[2016-12-12 12:00] chrhol commented on #3820
Will close this one in favour of #2118

[2016-12-12 12:00] #3820 closed

[2016-12-12 12:02] andwah commented on #3998
It was hard for me to find the right assembly to add, i thing other will struggle to.

To help users i suggest that it's mentioned in the documentation where `AppsBootstrapper.AddStaticFileDirectory` is documented.

[2016-12-12 13:17] warpech commented on #3920
Good catch, but then we are actually only missing one API handler: get list of all compositions. Everything else they might need is already covered by the existing handlers.

[2016-12-12 13:23] andwah commented on #4002
Now it's pushed.

Install options has been added.

`-f` (force install) : Will overwrite any existing version (same namespace,channel and version)
`-u`  (upgrade): Will uninstall latest existing version and install new package.

[2016-12-12 13:34] mmnosek commented on #4002
Wow! Extremely fast, thanks! Closing for now!

[2016-12-12 13:34] #4002 closed

[2016-12-12 13:46] per-samuelsson commented on #4002
Hate to sound like a boring old dog, but just one word of caution implementing this force option: it kind of violate the principles of versioning.

If you have a version x.x.x, that version should (in the perfect world) always refer to the same artifact. Once you have published it, there is really no return. If you need to fix something, you should bump the lowest possible number (if there are no

[2016-12-12 13:46] MujahidRashid opened #4003 "Reloading Database in 2.4"
I have been trying to reload database from the dump file created in 2.2.1.3234
 I get the following errors

18:27:32, Critical, Starcounter (default)]
System.Exception: ScErrUnhandledException (SCERR1069): An unhandled exception was detected.
Version: 2.4.0.25.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR1069.
   at StarcounterInternal.Hosting.Processor.RunTaskNoScheduling(Acti

[2016-12-12 13:55] aloscha commented on #4002
I have one more question about ability start/stop installed apps.
My workflow:
1. Application A is currently running in version 1.0.0.1
2. PowerShell script get zip file of app A in new version 1.0.0.2 (this zip is prepare with Starpack)
3. PowerShell script run `starpack -u A`, and I guess Application A in 1.0.0.1 will be stopped, uninstalled and new version of A 1.0.0.2 will be installed
4. I ne

[2016-12-12 14:04] joozek78 opened #4004 "staradmin kill all doesn't kill staradmin"
1. staradmin kill all
1. launch starcounter installer
1. installer complains about `c:\program files\starcounter`, which it can't delete
1. in turns out that it's open in process staradmin

[2016-12-12 14:07] joozek78 opened #4005 "Installer: untick "take me to the docs" by default"
1. I have never left it on - I already know where the docs lie and how to access them
1. I have never used a similar feature in other tools / frameworks / platforms I've installed - If I install it, I have probably seen the docs already
1. It's simply annoying to untick it every single time I install SC

[2016-12-12 14:11] andwah commented on #4002
I dont want to make starpack a tool for starting/stopping apps.

but..  will option 1 or option 2 work for you:

Installed package will be started:

**Option 1**. IF database is running
**Option 2**. IF previous/replaced app was running.

[2016-12-12 14:12] aloscha commented on #4002
Option 2 sound great.

[2016-12-12 14:13] andwah commented on #4005
FYI: it's only when you have a fresh installation, during upgrades this checkbox is not available.

[2016-12-12 14:13] joozek78 opened #4006 "Administrator: Log: Date column does not specify timezone"
I think it would be best to specify TZ in the column header itself.

[2016-12-12 14:16] joozek78 commented on #4005
Yeah, but upgrades sometimes fail - especially when the data can't be
migrated (which happen quite often for me). I still had literally never
thought about using this checkbox.

On Mon, 12 Dec 2016 at 15:13 Anders Wahlgren <notifications@github.com>
wrote:

[2016-12-12 14:19] andwah commented on #4005
Instead of a checkbox we might replace it with link to the docs.

That would make it more user friendly.

[2016-12-12 14:29] joozek78 commented on #4005
+1

On Mon, 12 Dec 2016 at 15:19 Anders Wahlgren <notifications@github.com>
wrote:

[2016-12-12 15:08] andan342 commented on #1361
Yes, currently the keyword `USER` is only used in
[code]

So the `USER` is restricted for some (but not all) kinds of identifiers, falling into the `type_func_name_keyword` category. For example, if we had a trigger named `User`, the above statement would become ambiguous.

As explained in [PostgreSQL documentation](https://www.postgresql.org/docs/9.2/static/sql-altertable.html), the purpose of `D

[2016-12-12 15:34] andan342 commented on #2027
There is a built-in function `POSITION ()` (case-insensitive), which allows a special syntax: `POSITION (a, b)` is equivalent to `POSITION (b IN a)`, so it has to be handled by the parser.

Currently, one can use `POSITION ` as a column/property name, but not as a variable, table/class or a function name (due to the special treatment of `IN` by the parser.

[2016-12-12 15:51] andan342 commented on #2027
- The corresponding function in [Oracle](https://docs.oracle.com/cd/B28359_01/olap.111/b28126/dml_functions_1103.htm#OLADM564) is called `INSTR()`, and has a conventional function call syntax: `INSTR(str_where , str_what [, startpos [, occurrence]])`.

- In [MySQL](http://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_locate) `POSITION()` and `LOCATE()` is the same function, having

[2016-12-12 15:55] andan342 commented on #2027
One might also think of allowing `(x IN y)` equivalent to `(y, x`) syntax for argument lists of all function. This would also solve the problem, but is probably bad idea UX-wise.

[2016-12-12 16:38] andan342 commented on #2319
A prototype fix in branch **position** is the most liberal one: it allows semicolon after the last query, i.e.

*a list of queries separated by `;` with or without `;` in the end*.

It also allows consequent series of ';' with no queries between them, as long as there is at least one valid query present.

I would suggest to use this approach as the least problem prone. It would allow query generat

[2016-12-12 18:03] andwah commented on #4002
options 2 => pushed

[2016-12-12 23:55] aloscha commented on #4002
@andwah thanks I will test it tomorrow,

[2016-12-13 07:15] per-samuelsson commented on #4002
I think that was a very good intention. We should be careful duplicating logic like that, because it will increase maintenance for us and also make Starcounter harder to understand as a product. Separation of concerns is the key.

But still as I understand from

you did in fact make `starpack` start the newly installed application? Can't we try to come up with some better workflow for that?

For m

[2016-12-13 07:19] per-samuelsson commented on #4004
Yet `staradmin kill all` return pretty quickly, once all processes are killed. So there must be another instance of `staradmin` doing something I guess?

@alemoi
Is there any place where the installer will launch `staradmin`?

@joozek78
Can you provide the version you are using?

[2016-12-13 07:23] per-samuelsson commented on #4003
Seem to me the problem here is this:

@k-rus, is there any particular case in the reload that can cause this? Can it be that the database being reloaded into is already somewhat populated?

[2016-12-13 07:30] per-samuelsson commented on #4003
@MujahidRashid

Probably suffering from the same thing as was discussed in #3964. And unfortunately, there is no simple answer. It's how the reload is designed - it's flawed (or almost useless) because it require you to load any code before you can successfully reload, and if you load user code, you can assure it does not create data. And if it does, the reload (often) fail.

[2016-12-13 07:42] MujahidRashid commented on #4003
Yes i tried this on 2.3 versions as well and got the same errors and because we cant reload on the newer versions we cannot migrate to new versions. Is there any other way to get the databases running in 2.2 to work on 2.4 other then reload i mean ?

[2016-12-13 07:43] miyconst commented on #4000
No. I can't reproduce the issue with the fresh installation of `Starcounter-RC-2.3.0.5364`. Closing for now.

[2016-12-13 07:43] #4000 closed

[2016-12-13 07:47] per-samuelsson commented on #4003
At this point, I'm afraid there isn't. Other than manual doing some kind of export/import. But as soon as we realized just how flawy our migration routine (i.e. unload/reload) is, we kickstarted implementing a new tool that would overcome all the problems we know about. In fact, the idea we have right now is that the unload/reload as it is today will be deprecated as a whole, in favor of our new t

[2016-12-13 07:48] per-samuelsson commented on #4003
cc @miyconst @ubbeK @dan31

[2016-12-13 08:13] per-samuelsson commented on #4003
@MujahidRashid

I've raised the issue internally, trying to get you some more specifics. Good thing is that guys working on the new tool already are on the case being able to grab 2.2-dumps and initialize 2.4-databases with them, so it's "just" a matter of time now I guess.

Please let us know your timetable and if there is anything more we can do to help you at this point. I'll ask guys working o

[2016-12-13 08:40] andwah commented on #4002
Well only if it was an "upgrade" and the previous version was running.  So after an installation the end result is the same as before just now with the new version running.

Sure, this was only the most user friendly approach i could think of at the moment.

[2016-12-13 08:55] chrhol opened #4007 "Starcounter.XSON dependencies to other Starcounter types."
This issue aims at describing all current dependencies to Starcounter that Starcounter.XSON have. The goal is to be able to use the same codebase for both (later versions of) Starcounter 2.x and the upcoming Starcounter.Core version.

To make this possible we need to have the needed dependencies in a common library used by both 2.x and 3.x and remove or refactor the parts that doesn't fit. If we a

[2016-12-13 08:59] per-samuelsson commented on #4002
My main concern is really that we try to have our tooling both consistent and somewhat *compact*. With several tools, working in similar ways (but yet not exactly equal), we will confuse users.

For me, the most natural thing for `starpack install` to do if the app being installed was already present and *running* was to raise an error, asking the user to stop it first. I dont think it make sense

[2016-12-13 09:01] per-samuelsson commented on #4007
I think that's a good aim, yes.

[2016-12-13 09:06] per-samuelsson commented on #4007
As I think I've already mentioned, I had this aim a few years ago, but never got time to finish it. We might want to reuse the repo for that: https://github.com/Starcounter/Starbits.

As for abstractions, I think those should go into a separate, well-defined and not frequently updated library: `Starcounter.Abstractions`. When built and published, that should go to some package repo (`nuget.org` I

[2016-12-13 09:07] per-samuelsson commented on #4007
Well done analysis btw! 👍

[2016-12-13 09:13] linkdata commented on #4007
If we want this as a standalone, and I think that's a good idea, perhaps it should be pubishing it's own minimal interfaces that users of it need to provide classes that fulfill them?

It makes more sense for Starcounter to depend on XSON rather than the other way around.

[2016-12-13 09:26] andwah commented on #4002
An installed app exist on your HD so you can use `star` to control it.
(It exist in the repository / Personal / Databases / <databasename> / Apps)

The "install" part of the starpack was/is still just an experimental thing, maybe that function should be placed somewhere else. There is a demand of a tool to install packages without getting them from the warehouse.

[2016-12-13 09:28] per-samuelsson commented on #4007
+1. I actually think that was the original idea @chrhol had already.

[2016-12-13 09:35] per-samuelsson commented on #4002
Yes, I understand that, but it require you to know about some specific path. It would be more convenient for users being able to reference them just by their installed name I suppose.

Okay, I see. Is there somewhere we have some kind of specification for starpack as a whole? What it should do mainly. I know we are limited on resources, and we probably can't work anything out right now I guess, bu

[2016-12-13 09:48] chrhol commented on #4007
Good point!

Well, the idea to have it standalone have been around for a while, but I was stuck in my head, thinking that we needed some basic interfaces/classes outside of XSON instead of having XSON as a dependency to Starcounter.

[2016-12-13 09:51] andwah commented on #4002
Some customers want to be able to install an apps "offline"  (not connected to internet /warehouse ), they may have the "new" app on a usb-stick etc.

[2016-12-13 09:58] per-samuelsson commented on #4002
Aha, ok, I understand. Thanks for sharing.

Maybe we should try assemble some list of all management operations we have today, and add a tail of known requirements? Just something very basic and raw, like:

[code]

Once we have such list, I guess it will be easier to understand where cross-concerns exist.

[2016-12-13 10:13] aloscha commented on #4002
@per-samuelsson if I have installed application from starpack, there are impossible to start/stop it using
`star <app.exe|app.cs> : start an app given its path` because we don't have the proper path.

I need to looking for installed path than go there and make start/stop. I prefare that it makes automatically or even batter that `star` will be looking by name apps and stop it.

[2016-12-13 10:24] per-samuelsson commented on #4002
@aloscha

That's exactly my point: see this https://github.com/Starcounter/Starcounter/issues/4002#issuecomment-266682618.

Basically: we must improve our underlying tools (like `star`) rather than implement similar functionality in more high-level tools.

[2016-12-13 10:26] aloscha commented on #4002
Agreed :)

[2016-12-13 12:14] ubbeK commented on #4003
@MujahidRashid

I am currently working on a 2.2 migration dump tool which will generate a SQLite dump of a Starcounter database version 2.2.X. This dump may be reloaded into a Starcounter database version 2.4 with another tool called Stardump. The intention of Stardump is to be able to unload and reload a snapshot of any 2.4 Starcounter database or any future version of Starcounter. The first vers

[2016-12-13 12:23] k-rus commented on #1361
We are not sure if we will use trigger syntax. Thus we decided to go for Oracle syntax, which will allow to relax `USER`. So the syntax will be:

[code]

[2016-12-13 12:34] per-samuelsson commented on #2992
We kind of decided to stick to "server", mainly b/c of the work involved changing to "service". Closing this for now.

[2016-12-13 12:34] #2992 closed

[2016-12-13 12:35] k-rus commented on #2027
We want to remove keyword `POSITION` and use `func_name` for this. Then the question: does the grammar allow `func_name(x IN y)`?
If not, then we go for `func_name(str_what, str_where)` as our customers more familiar with Microsoft environment as C# and SQL Server.

[2016-12-13 13:13] MujahidRashid commented on #4003
Thank you very much guys for your support.

[2016-12-13 14:41] #3168 closed

[2016-12-13 16:04] andan342 commented on #2319
Changes pushed to **develop**. I also found a way to keep the old error message *"Query string must contain a valid statement."*, which I believe is more informative than just a syntax error at a certain position.

In the end of the day, this fix does not involve any changes to the grammar - only the point where an error is thrown.

[2016-12-13 16:07] andan342 commented on #2319
However, if we decide not to allow 'empty queries' in between semicolons, this would be easy to do by actually adding `NULL` statements into the AST, and checking for them at the next stage of analysis.

This would involve no change to the grammar either.

[2016-12-13 21:53] dan31 commented on #4003
Hi @MujahidRashid! In 2.3 which is now RC we are about to ship a proper tool for data migration. We will also provide a special 2.2 app to unload data from 2.2 in a format compatible with 2.3 data dump format. Once the tool is in distribution (about 1 week from now), we will let @atifwaqar and you know.

[2016-12-14 09:58] k-rus commented on #2319
The implementation of rules is not simple/natural enough. Separate issue created: https://git.starcounter.org/BlueStar/level0/issues/164

The result will be published here.

[2016-12-15 08:36] mandatorySuicide opened #4008 "Set cookie for parent domain to share cookie between subdomains."
I have two startcounter instances running on two different servers in two different domain names like subserver1.rootDomain.com and subserver2.rootDomain.com. Now from one of these sub-servers I want to set a cookie for its parent domain "rootDomain.com". So that each subservers can share the common parent domains cookie. Currently I am using Assembly Starcounter.Internal, Version=2.0.0.0, Culture

[2016-12-15 08:54] mtornwall commented on #4008
Thanks for your question! Could you elaborate on what the problem is, exactly?

It looks to me like `Starcounter.Cookie` ought to have a `Domain` field as well.

As a temporary work-around, could you try encoding the cookie value manually?

cc @alemoi

Assembly Starcounter.Internal, Version=2.0.0.0, Culture=neutral, PublicKeyToken=d2df1e81d0ca3abf

Please report the version returned by running `st

[2016-12-16 07:20] per-samuelsson commented on #4006
The issue is about the column *header* in the web adminstrator, correct? Not the logged value stamp itself?

![image](https://cloud.githubusercontent.com/assets/2902045/21254792/12790f7e-c368-11e6-9b14-a36b3df38266.png)

And you are suggesting we should have the time zone (e.g CET) in the column header.

[2016-12-16 07:22] per-samuelsson commented on #27
Done since long.

[2016-12-16 07:22] #27 closed

[2016-12-16 07:24] per-samuelsson commented on #1431
No longer apply.

[2016-12-16 07:24] #1431 closed

[2016-12-16 07:27] per-samuelsson commented on #1420
Kind of outdated.

[2016-12-16 07:27] #1420 closed

[2016-12-16 07:28] per-samuelsson commented on #1650
Don't think we should realize this, considering upcoming self-hosted model that would allow this to be done easily by the user.

[2016-12-16 07:28] #1650 closed

[2016-12-16 07:28] per-samuelsson commented on #1752
No longer apply.

[2016-12-16 07:28] #1752 closed

[2016-12-16 07:31] per-samuelsson commented on #1844
Kind of served it's purpose, generating new issues and suggested improvements that we've worked through already.

[2016-12-16 07:31] #1844 closed

[2016-12-16 07:32] per-samuelsson commented on #1889
Very unlikely to still apply.

[2016-12-16 07:32] #1889 closed

[2016-12-16 07:33] per-samuelsson commented on #2101
The unload as it work today is being replaced. Then this no longer apply.

[2016-12-16 07:33] #2101 closed

[2016-12-16 07:34] per-samuelsson commented on #2119
Done.

[2016-12-16 07:34] #2119 closed

[2016-12-16 07:34] per-samuelsson commented on #2129
No longer apply.

[2016-12-16 07:34] #2129 closed

[2016-12-16 07:34] per-samuelsson commented on #2137
No longer apply.

[2016-12-16 07:34] #2137 closed

[2016-12-16 07:36] per-samuelsson commented on #2159
No longer apply.

[2016-12-16 07:36] #2159 closed

[2016-12-16 07:36] per-samuelsson commented on #2147
No longer apply.

[2016-12-16 07:36] #2147 closed

[2016-12-16 07:37] per-samuelsson commented on #2184
No longer apply.

[2016-12-16 07:37] #2184 closed

[2016-12-16 07:38] per-samuelsson commented on #2191
We don't have any strong incentive doing this. Closing it.

[2016-12-16 07:38] #2191 closed

[2016-12-16 07:39] per-samuelsson commented on #2378
No longer apply.

[2016-12-16 07:39] #2378 closed

[2016-12-16 07:42] per-samuelsson commented on #2306
Was never realized and will likely not be a priority. Closing.

[2016-12-16 07:42] #2306 closed

[2016-12-16 07:43] per-samuelsson commented on #2473
No longer apply.

[2016-12-16 07:43] per-samuelsson commented on #2497
No longer apply.

[2016-12-16 07:43] per-samuelsson commented on #2499
No longer apply.

[2016-12-16 07:43] #2499 closed

[2016-12-16 07:44] per-samuelsson commented on #2502
No longer apply.

[2016-12-16 07:44] per-samuelsson commented on #2510
No longer apply.

[2016-12-16 07:44] #2510 closed

[2016-12-16 07:45] #2473 closed

[2016-12-16 07:45] #2502 closed

[2016-12-16 07:45] #2497 closed

[2016-12-16 07:46] per-samuelsson commented on #2549
Done.

[2016-12-16 07:46] #2549 closed

[2016-12-16 07:47] per-samuelsson commented on #2563
No longer apply.

[2016-12-16 07:47] #2563 closed

[2016-12-16 07:52] per-samuelsson commented on #2632
No longer apply.

[2016-12-16 07:52] #2632 closed

[2016-12-16 07:53] per-samuelsson commented on #2677
I'm guessing this one no longer apply. Closing.

[2016-12-16 07:53] #2677 closed

[2016-12-16 07:54] per-samuelsson commented on #3017
Done.

[2016-12-16 07:54] #3017 closed

[2016-12-16 07:54] per-samuelsson commented on #3016
Done.

[2016-12-16 07:54] #3016 closed

[2016-12-16 07:55] per-samuelsson commented on #3033
Done.

[2016-12-16 07:55] #3033 closed

[2016-12-16 09:19] Mackiovello commented on #1867
Closing since the Hello World application that this refers to is removed

[2016-12-16 09:19] #1867 closed

[2016-12-16 09:20] chrhol commented on #3541
The last piece of this issue is in place now. I have removed `GetHtmlPartialUrl` from the interface, and the places that implemented it.

[2016-12-16 09:20] #3541 closed

[2016-12-16 09:25] per-samuelsson commented on #3541
Great! Well done! 🎉 That mean we could close #3407 too, right?

[2016-12-16 10:13] miyconst commented on #3896
Just got exactly the same behavior once again. The database was after a crash.

[code]

[2016-12-16 10:38] bigwad opened #4009 "2.3: buffer overrun in the kernel when handling large strings"
If we have a large string that fits kernel's temporary buffer in the encoded format, but doesn't fit in decoded than upon string retrieval kernel returns actual size of the string that exceeds kernel's buffer. So client may read garbage or crash reading outside of the buffer.

[2016-12-16 10:40] joozek78 commented on #4006
Looking at the log I don't know the timezones of the entries. Tz info could
be included in the entries or the header, I suggest the former

On Fri, Dec 16, 2016, 08:20 Per Samuelsson <notifications@github.com> wrote:

[2016-12-16 10:41] joozek78 commented on #4006
If The tz can be inferred correctly from the log, that is. Otherwise it
would need to be included on the entries

On Fri, Dec 16, 2016, 11:40 Marcin Goliński <mj.golinski@gmail.com> wrote:

[2016-12-16 10:42] bigwad opened #4010 "Possible buffer overrun in star_crud_ReadString"
It may write null-terminator outside of the kernel buffer.
cc @alexanderstc , @k-rus

I think it's worth to change API to return {ptr, length} pair so it solves both this issue and helps with performance https://github.com/Starcounter/StarDump/issues/4#issuecomment-267549592

[2016-12-16 10:43] linkdata commented on #4010
I think it's far better to move memory allocation to the caller, as it avoids all intermediate allocations and copying.

[2016-12-16 10:59] per-samuelsson commented on #4006
I guess to support this feature correctly, the time zone would have to be recorded when each entry is logged. If so, that would mean we need to extend Bluestar to do so (b/c actual log emission is in shared, native code, also used by the kernel).

Not sure how we should prioritize this tbh.

[2016-12-16 11:05] per-samuelsson commented on #3321
Closing this since it's unlikely we'll have time to realize it in any near future.

[2016-12-16 11:05] #3321 closed

[2016-12-16 11:52] alexanderstc commented on #4010
@bigwad with the current api you might just make sure the kernel buffer can always hold the terminating zero.

[2016-12-16 11:54] alexanderstc commented on #4010
On my side with the current api I can only fix this by making a copy of the whole string, that I rather not.

[2016-12-16 11:57] bigwad commented on #4010
No doubt this solution is cleaner and unlike the current solution may handle strings of arbitrary size.
But from the performance point of view, it's not that obvious.
First, kernel decode strings into its own buffer. Unless we change it there will be at least three data copies:
1. kernel making decoding
2. metalayer filling StringBuffer
3. host converting StringBuffer to string

Now we have only t

[2016-12-16 11:59] bigwad commented on #4010
Yes, but we don't have to. It's much better for performance to know the length.

Why returning  {ptr, length} pair is not an option?

[2016-12-16 12:12] joozek78 commented on #4006
Well, IMO it's important, but not critical - you can't really know when the
log event happened without the TZ, you can just (usually correctly) guess.
I don't know how much work would that be, so don't ask me about the
priority.
If it turns out to be put off for later, please add a note that would
explain what the TZ *should be *(in the admin app). Like "TZ is default
system TZ determined when the

[2016-12-16 12:16] chrhol commented on #3979
Done.

[2016-12-16 12:16] #3979 closed

[2016-12-16 12:18] chrhol commented on #2896
This feels more like a hack than a solution we want to incorporate in our VS templates. If someone does not agree, just reopen it and I will do it.

[2016-12-16 12:18] #2896 closed

[2016-12-16 13:26] linkdata commented on #4010
That should indeed probably be changed for performance reasons. Always try writing to the final target in order to avoid intermediate allocations and copying.

That's another thing that should be fixed, as having to decode the string to know the expanded size is expensive, and in addition to enabling easy allocation control, some operations can do fail-fast using only the length of a string.

[2016-12-16 14:49] alexanderstc commented on #4010
I'd like to mention a few points:
- any change to _existing_ crud public api must be approved by @k-rus
- QP team will probably reject any design which would require creation of intermediate buffers in QP/crud/metalayer.

If any1 somehow need my help to specifically design/implement anything, please go through @k-rus, he'll schedule.

[2016-12-16 16:36] bigwad commented on #4009
fixed

[2016-12-16 16:36] #4009 closed

[2016-12-17 15:53] dan31 commented on #2146
Archived.

[2016-12-17 15:53] #2146 closed

[2016-12-17 15:55] dan31 commented on #2142
Archived.

[2016-12-17 15:55] #2142 closed

[2016-12-17 15:55] dan31 commented on #2143
Archived.

[2016-12-17 15:55] #2143 closed

[2016-12-17 15:55] dan31 commented on #2144
Archived.

[2016-12-17 15:55] #2144 closed

[2016-12-17 15:56] dan31 commented on #2145
Archived.

[2016-12-17 15:56] #2145 closed

[2016-12-17 16:18] dan31 commented on #3283
@bigwad still actual?

[2016-12-17 16:34] dan31 commented on #3950
The lesson we may derive from the issue: it is relevant to run perf/load tests also in Debug (e.g., it allows to identify runtime assertions of STL containers). This is what Henrik did. As a result of run being done in Debug, this code in VTrie implementation has been always triggered:

![2016-12-16](https://cloud.githubusercontent.com/assets/7162535/21288239/d26738d6-c47d-11e6-8ac3-22db3865c3b9.p

[2016-12-19 10:31] miyconst commented on #2554
Although we still need the `Unmap` function, I don't this we should use it inside a CMS app.

As I was told by @alemoi, declaring handler/map (and I assume removing) is an expensive task. That is why I believe a CMS-like apps should declare a single or multiple generic handlers with parameter(s), and determine which page to show by the parameter values.

[2016-12-19 10:33] dan31 commented on #3950
Don't think "performance", take just "tests". As we see, it actually gives some unusual discoveries. Thanks for fixing!

[2016-12-19 12:22] per-samuelsson opened #4011 "Make weaver produce cached artifacts with custom extension"
Part of #3869, and more specifically #3984. Needed to solve https://github.com/Starcounter/AdminTrack/issues/190.

The idea is to use a custom extension (".cached") for artifacts in any cache.

[2016-12-19 13:08] warpech commented on #2554
How expensive we are talking about? I guess `Unmap` might be as slow as re-registering all `Maps` minus the removed one.

Still maping and unmapping is done rarely. On the other hand a fat, generic handler in an app will decrease the runtime performance of each call, which, in my opinion, is worse for performance - not better.

[2016-12-19 13:10] miyconst commented on #2554
This is a question to @alemoi, and depending on the answer we can decide which is better or worse for the performance.

Also we should keep in mind number of handlers. @alemoi does the performance decreases significantly with big number of handlers? Let's say if we have 1000 handlers.

[2016-12-19 15:10] k-rus commented on #4010
We definitely should fix this issue. However, the suggested fix with a pair of length and pointer seems to be a hack. Does it natively supported in code hosts?

CRUD API is really a thin layer, which should not do much or any conversion between kernel and code hosts. Providing the result of kernel's read string as it is does not seem good option, since every code host will need to have the same lo

[2016-12-19 15:10] per-samuelsson commented on #4011
Done. Will verify once I can test it, and push it as part of #3869.

[2016-12-19 15:42] k-rus commented on #4010
If the kernel will support this, then CRUD API should be changed accordantly.

Actually, why is the logic to prepare proper string value not in the kernel? Are there clients interested in the byte array with the length header?

[2016-12-19 15:56] bigwad commented on #4010
The expensive part is on the code host side looking for zero terminator to get string length to allocate proper buffer for the string.

If host copies the string, which current hosts always does, then as mentioned it's better to know a string length. Thus no need in zero-terminator.

[2016-12-19 16:14] k-rus commented on #4010
Should we just return what the kernel returns, i.e., the pointer, where the header contains the length?

[2016-12-19 16:15] k-rus commented on #4010
@bigwad Can you answer the question: why cannot the kernel guarantee place for terminating zero?

[2016-12-19 16:34] k-rus commented on #4010
Returning byte array and length work well for C# code host at it has corresponding constructor:

[code]

So I agree CRUD API should return length and byte array. cc @alexanderstc
Currently CRUD API is used in Starcounter.Core and SQL test framework. So they will need to be updated by the owners after the change. cc @linkdata and @henriksjostrom

[2016-12-19 16:38] k-rus commented on #4010
I guess API to read string into client buffer can be implemented using current kernel API to read binary and TT API. @bigwad WDYT?

[2016-12-19 16:40] linkdata commented on #4010
The API exposed by Bluestar to the codehosts must allow for the codehost to determine the required buffer size for a string, excluding terminating null (ideally for more than one encoding, but UTF-16 is enough to start with) and then have an API which takes a pointer to a buffer into which the string must be placed.

I've given a reasonable signature for such an API in the [other thread](https://g

[2016-12-20 08:19] k-rus commented on #4010
I suggest to fix the bug in following steps:

1. Fix CRUD Read String API to return 8-byte array and length and relevant func tests by @alexanderstc
2. Fix SQL test framework by @henriksjostrom
3. Fix Starcounter.Core and its tests accordingly by @linkdata
4. Merge into develop branch
5. Fix the dump tool by @miyconst

Let me know if it is not a good way. Assigning @alexanderstc for the first step

[2016-12-20 08:23] bigwad commented on #4010
@k-rus, I suggested to just unparse kernel array into {pointer, length} pair. It shouldn't add any measurable overhead and will simplify host implementation a little bit.

[2016-12-20 08:43] k-rus commented on #4010
For me it is just different words to say the same, since kernel returns 8-byte array with a header.

[2016-12-20 08:47] bigwad commented on #4010
When you return a byte array - host should know endianness, do pointer arithmetic or other nasty stuff.
Probably better to offload it and return two clean and obvious values. But you might want to profile it.

[2016-12-20 08:59] linkdata commented on #4010
If the point of that is to simply return the length, and the point of that is to improve performance, I think that it's better to put the work towards implementing the proper API instead. Otherwise we're just wasting time writing code that'll soon be replaced anyway.

If there's no time to do a proper implementation right now, I'm OK with delaying it.

[2016-12-20 09:34] k-rus commented on #4010
It is a bug and needs to be fixed. It is not much work. The main work is to fix clients and seems to be not so much.

Kernel returns byte array with header, what CRUD API will do is to move pointer from pointing to header to pointing to the value and will return length separately. Will it be sufficient to the client? This is almost what happens now, the only difference is static cast to string and

[2016-12-20 09:37] bigwad commented on #4010
Right. That's all I'm asking for. Should be 10 minutes changes (both metalayer and the client) and will solve all our current issues.

[2016-12-20 09:45] k-rus commented on #4010
Our development environment does not allow to produce result in 10 minutes. It requires to allocate at least 1 hour due to running builds and other infrastructure and environment.

It is already planned to be done at appropriate moment without significant delays. @alexanderstc will switch when it is good moment for him. I am only worried with fixing in sc.core, which I would prefer that sc.core te

[2016-12-20 09:50] linkdata commented on #4010
It should be a trivial change. Just update this issue when you've pushed the changes.

[2016-12-20 10:30] linkdata opened #4012 "Create NuGet infrastructure"
We will be using [myget](https://www.myget.org/users/starcounter).

We will publish binary packages from Bluestar containing needed level0 binaries, probably under the package name `Starcounter.Bluestar.NativeBinaries`. Release schedule to be determined, but it will be automated, probably following nightly builds.

`Starcounter.Core` will publish it's assemblies using their respective names, proba

[2016-12-20 11:11] ivarbergman opened #4013 "Broken markup response from htmlmerger"
Hi!

Occasionally we have problems with the http response from the htmlmerger. Parts of the response html i broken.

Here is a screenshot of a broken htmlmerge response:

![screen shot 2016-12-20 at 12 10 20](https://cloud.githubusercontent.com/assets/112064/21348398/55e9fc4e-c6ad-11e6-802c-218ffb609b0e.png)

It is easy to identify what partial html file that causes the invalid html. And if I re-s

[2016-12-20 11:30] miyconst commented on #4013
@ivarbergman could you please check that all of the files in the response are in the same encoding? Otherwise it is @alemoi to answer.

[2016-12-20 12:02] alexanderstc commented on #4010
Nice of you to make time estimates.
And no, it won't solve the title issue (as we have two issues mixed up here).

[2016-12-20 12:06] alexanderstc commented on #4010
Well, I take it back: it'll solve the title issue as it stated - buffer overrun when accessed through the crud api - but the rest of metalayer and qp should be adjusted also not to zero-terminate kernel string buffers.

[2016-12-20 12:41] ivarbergman commented on #4013
Yes all are UTF8 without BOM.

[2016-12-20 12:46] ivarbergman commented on #4013
Interestingly we have two different databases (with the same set of apps) that use the same html files. And when I accessed the same htmlmerge url for the other database/port I get no error.

So, I doesn't seem to be related to the file content.

[2016-12-20 13:29] chrhol opened #4014 "Cannot save configuration changes for an existing database in the Administrator."
Reproduced in latest 2.3 version, built locally. I have not tried 2.2 or develop.

If I go into settings for a specific database (for example http://localhost:8181/#/databases/mydatabase/settings), change something and click save I get the errors below displayed in the console for the browser.

If I have the console closed, I see no errors and everything seems to be working, except that the change

[2016-12-20 13:46] mmnosek commented on #4014
Looks like duplicate of #3902

[2016-12-20 13:50] chrhol commented on #4014
Oh you're right. I tried to search for an existing issue but apparently I didn't do a good enough job :smile:
I will close this one as a duplicate then.

[2016-12-20 13:50] #4014 closed

[2016-12-20 13:51] chrhol commented on #3902
I can confirm that this is an issue currently in v2.3 (have not tried develop though)

[2016-12-20 14:21] k-rus commented on #4010
Thank you for describing. It is so.

@bigwad Can you answer the question from above why it is not possible to make sure that terminating zero fits the buffer?

And another question from above: can you confirm that it is possible to use `star_context_get_binary` to read string value in encoded format?

[2016-12-20 14:31] linkdata commented on #4010
Not all languages use null-terminated strings. If you're writing null characters, some codehosts will have to allocate space for something that's not being used. In some cases, it may require a temporary buffer when the target datatype must be constructed with an exact size at the time it's being initialized.

In this case you're managing the memory (for now), and C# Unmanaged.LPWStr type expects

[2016-12-20 14:32] k-rus commented on #4010
Obviously it is not long term solution. It is to fix bug now, especially if it is low hanging fruit. Solving in a way that @bigwad suggests is not so simple.

[2016-12-20 14:47] k-rus commented on #4010
If null terminator is not expected, then length is expected I guess. Or?

[2016-12-20 14:53] linkdata commented on #4010
Yes, that's the `neededChars` output parameter.

This is a very old and common pattern. We are already prepared for it in TT4:

[code]

It accepts a buffer to write to, with a given max size, and returns the size needed. If the target buffer has room for a terminating null character, it will write that. Otherwise not.

[2016-12-20 14:57] linkdata commented on #4010
I don't know the layers between codehost and TT4, but what needs to be done is forwarding the codehost buffer information to TT4 and return the needed size to codehost.

[2016-12-20 15:04] k-rus commented on #4010
Thank you for clarifying!

I don't see in the list of TT API if it is possible to get the size of decoded string. Is it possible?

I understand this. So if it is possible to read encoded value from database, then it will be possible to call TT4 with client buffer.

By the way, since I looked into TT4 header file, I wonder why it uses type `int` as result of some functions, not `int32_t`?

And is t

[2016-12-20 15:04] ivarbergman commented on #4013
fyi: we use sc version 2.2.2.3710

[2016-12-20 15:07] bigwad commented on #4010
I didn't say it's not possible. I thought it's not feasible. But if a lot of code in metalayer depends on it... then ok.
Actually, kernel's buffer is large enough to hold a string of maximum size plus zero terminator. It was just somewhat brave from metalayer to expect it without explicit warranty. From now on you may assume buffer is large enough. So no fix is required unless you want to improve

[2016-12-20 15:19] linkdata commented on #4010
No particular reason. It's simply common to use `int` as a buffer size in many C++ libraries.

Sorry, no docs except the header files and the tests (`tests/tt_test.cpp`). It's pretty standard API design though, so not very hard to read.

[2016-12-20 15:28] linkdata commented on #4010
But can probably do so by wrapping the relevant TT4 call.

[2016-12-20 15:37] bigwad commented on #4010
Totally. Just had no reason.

[2016-12-20 15:40] k-rus commented on #4010
To claim that it was brave, it is really necessary to know the history. I cannot really say now, but it is very probable that it was explicitly specified that kernel's buffer is large enough. @bigwad we treated your issue as it is actually a problem.

[2016-12-20 15:42] k-rus commented on #4010
OK. So it is actually no issue, but only request to implement a CRUD API with length.

[2016-12-20 15:42] bigwad commented on #4010
Sorry about that, but it actually could be a major problem if I started some kernel refactoring without knowing such expectations from the metalayer. And it's better to not have such dependencies

[2016-12-20 15:47] bigwad commented on #4010
If, as time passes, you manage to get rid of this expectation - I'll be happy to know it.
Until that time I think we may close this issue as length suggestion is covered in https://github.com/Starcounter/StarDump/issues/4

[2016-12-20 15:49] k-rus commented on #4010
I guess it is not the only place and I agree that we need to improve to not have such dependencies.

So short term solution is length in result, and possible long term solution is client buffer.

[2016-12-20 15:54] warpech commented on #3915
I just discovered that running `Starcounter.HTMLComposition.Register();` in two apps results in an exception.

This is totally painful, because:

1. HTMLComposition API is not turned ON by default (see my request in the first post on this page)
2. two apps cannot attempt to turn it ON, because attempt to turn on the API will cause an exception if it's already.

[code]

[2016-12-20 15:58] k-rus commented on #4010
I added both in our todo list. @alexanderstc might fix API with length shortly if he found a good solution. It will be reported in Starcounter/StarDump#4

Archiving this one.

[2016-12-20 15:58] #4010 closed

[2016-12-20 16:38] miyconst commented on #4013
@alemoi please follow up.

[2016-12-20 16:45] alemoi commented on #4013
@ivarbergman is it possible to reproduce this somehow? How often does it occur?

[2016-12-20 16:59] warpech commented on #3781
@per-samuelsson, @dan31 any chance of fixing this in 2.3?

Today I got another report from a confused developer. I guess it might take *hours* if someone tries debugging his Visual Studio because of this problem.

<img width="1127" alt="screen shot 2016-12-20 at 17 59 05" src="https://cloud.githubusercontent.com/assets/566463/21359899/0632e82e-c6de-11e6-966a-1e03fd0bfe34.png">

[2016-12-20 17:13] warpech commented on #3716
Today, another person was hit by this problem:

![2016-12-20 18_13_09-kitchensink - microsoft visual studio](https://cloud.githubusercontent.com/assets/566463/21360396/04cef69c-c6e0-11e6-89e4-295a02c6ca84.png)

[2016-12-20 17:26] tomalec commented on #3920
That's why I would remove just this single line,
https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Extensions/HTMLComposition.cs#L83

Then user of `http://localhost:8080/sc/generate/partial/composition/` API could use any wildcards he/she needs, to achieve [what I described above](https://github.com/Starcounter/Starcounter/issues/3920#issuecomment-260904895)

1. all compositi

[2016-12-20 18:48] aloscha commented on #3716
@warpech to perfect solution is using linq there. But yes it should be escaped somehow.

[2016-12-20 20:22] dan31 commented on #3781
I have to say that, very occasionally, I have this problem too. However, it is occasional enough to be nagging. But, what's more, I have it sometimes with my C++ projects as well, even when Starcounter is uninstalled. I couldn't find a solution to this. Hopefully the solution is VS 2017. However, I see that for @mmnosek it is constantly reproduced with Starcounter and not reproduced without Starco

[2016-12-20 20:57] dan31 commented on #3902
@andwah we need to fix it asap, need to release 2.3.

[2016-12-20 21:14] andwah commented on #3902
sure i will take a look first thing tomorrow.

[2016-12-20 21:15] dan31 commented on #3902
@andwah thx!

[2016-12-20 22:06] warpech commented on #3781
For me this is also constantly reproduced with Starcounter:

1. Clone a Git repo of a Starcounter app (e.g. [Products](https://github.com/starcountersamples/products))
2. Double click the `.sln` file

This does not happen when opening a non-Starcounter project like aspnet [Security](https://github.com/aspnet/Security).

[2016-12-20 22:15] SenerDemiral opened #4015 "Can't get result from Db.SQL"
Starcounter version: RC-2.3.0.5376 and 2.3.0.5358
[code]
Administrator SQL is OK
[code]
In code these are OK
[code]
But these are not OK. No results!
[code]

[2016-12-21 05:21] SenerDemiral commented on #4015
I'm sorry, my fault.

[2016-12-21 05:21] #4015 closed

[2016-12-21 05:48] per-samuelsson commented on #3781
If that is the case (and @warpech seem to confirm that), maybe we should have a look at it anyway? I was just under the impression that it's not really Starcounter-related (because I did some reading the first time around, and it seemed more general).

[2016-12-21 06:10] ubbeK commented on #3781
This is definitely a Starcounter issue, I have confirmed it multiple times and just confirmed it again with Launcher. This happens everytime the `.vs\<appname>\v14\.suo`-file does not exist and the solution contains the Starcounter reference and one tries to open the solution by double-clicking the `.sln`-file

`.vs\<appname>\v14\.suo` gets created if one opens up .sln within Visual Studio, after

[2016-12-21 06:27] ubbeK commented on #3781
devenv Launcher.sln /safemode gives the following error message:

![safemode](https://cloud.githubusercontent.com/assets/8124023/21379522/f1d0edec-c74e-11e6-8df8-a0976526f6cd.PNG)

[2016-12-21 07:19] ubbeK commented on #3781
I think I found the problem. It is withing the csproj files which are generated for a starcounter project.

See [commit](https://github.com/StarcounterPrefabs/Launcher/commit/f1d05fc0a9faa1a85dfb2bf500237fdfe6541a9b) for more information. Could someone please verify by testing on this [branch](https://github.com/StarcounterPrefabs/Launcher/tree/starcounter_3781).

[2016-12-21 07:38] ubbeK commented on #3781
@per-samuelsson: I am kind of lost from here on but it seems that we have an issue with our GUID at https://github.com/Starcounter/Starcounter/blob/81c9a245f2f3769cb19bb2e2ad0c3d69a14b19b8/src/Development/Starcounter.VisualStudio/Projects/AppExeProjectFactory.cs#L12

[2016-12-21 08:50] andwah commented on #3902
Releated
https://github.com/Starcounter/Starcounter/issues/3910
https://github.com/Starcounter/Starcounter/issues/3849

[2016-12-21 09:12] miyconst commented on #3781
@ubbeK thank you for the investigation, this issue is really annoying, hope it helps @per-samuelsson to solve the issue.

[2016-12-21 09:59] ivarbergman commented on #4013
I haven't been able to reproduce. We have observed this error approx 1 time every second month. It seems very random. I have attached a zip of the htmlmerger response (both the broken response and the correct response), if that can be of any help.

[issue_4013.zip](https://github.com/Starcounter/Starcounter/files/665989/issue_4013.zip)

[2016-12-21 10:12] per-samuelsson commented on #3781
Well, the GUID is the means by which VS is actually extended (kind of). Our VS extension is a [C# project subtype / flavor](https://msdn.microsoft.com/en-us/library/bb166488.aspx), and the GUID is what make VS load it as such. If you remove it, then our extension don't run, and then there is no problem.

I think that is expected. If I recall correctly, running safemode will disable any extension.

[2016-12-21 10:18] per-samuelsson commented on #3781
For anyone that can reproduce this by cloning, can you try this:

1. Create a new Starcounter Application project.
2. Close VS.
3. Remove the .suo.
4. In Windows Explorer, open the .sln.

Does it reproduce?

[2016-12-21 10:23] mmnosek commented on #3781
I confirm, it's reproducible by steps above.

[2016-12-21 10:26] per-samuelsson commented on #3781
Bah, that's just f-'d up! 😖 Me, I can not reproduce it no matter how I try. Including using cloning samples technique.

Maybe it has something to do with the composition of installed extensions. That it only occurs if Starcounter *and* some other(s) extension(s) are installed? I generally install no or very few extensions, so that might be why it works for me.

[2016-12-21 10:28] per-samuelsson commented on #3781
@ubbeK

You had a log captured from VS, can you dump it here? I think it reveal what other extensions are initialized when things hang. Let's see if we can find some pattern there.

[2016-12-21 10:30] ubbeK commented on #3781
[code]

[2016-12-21 10:43] miyconst commented on #3781
I don't think so. I don't have any other extensions installed, only Starcounter, and I still had this issue. Did not test the steps above yet.

It might be related to the components installed within Visual Studio. @per-samuelsson do you have Visual C++ installed? I mean, does your Visual Studio has components for C++ development? Mine does not, and once it already caused an issue.

[2016-12-21 10:48] per-samuelsson commented on #3781
I do have C++, yes. Here's my setup:

[code]

[2016-12-21 10:56] mmnosek commented on #3781
What about ReSharper? I think all of us (at Poland at least) use this extension.

[2016-12-21 10:58] per-samuelsson commented on #3781
So should I try installing that and see if I can reproduce this with it? Can I ever get rid of it if I actually install it? 😃

[2016-12-21 11:01] per-samuelsson commented on #3781
Or maybe even better, can you guys just disable it and test this flow again: https://github.com/Starcounter/Starcounter/issues/3781#issuecomment-268486678

[2016-12-21 11:07] mmnosek commented on #3781
Looks like it's not about Resharper. Disabling it does not solve this problem 😞

[2016-12-21 11:14] miyconst commented on #3781
Yes, it does reproduce for me as well.

[2016-12-21 11:15] per-samuelsson commented on #3781
OK, thanks for sharing.

I see. Thanks. Wonder what is different in my setup compared to yours. I've never been able to reproduce it.

[2016-12-21 11:16] mmnosek commented on #3781
How to dump some setup/log/anything what may help you to compare?

[2016-12-21 11:17] ubbeK commented on #3781
@per-samuelsson

you have update 2 version

[2016-12-21 11:18] per-samuelsson commented on #3781
Not sure what I need actually. But I guess Help | About | Copy Info can not hurt at least.

[2016-12-21 11:18] per-samuelsson commented on #3781
What you've got?

[2016-12-21 11:18] ubbeK commented on #3781
I have  `Update 3` and I bet everyone else has that too

[2016-12-21 11:19] per-samuelsson commented on #3781
Ah, I'm to bad at this. I'll make sure to get it and retry. Thanks.

[2016-12-21 11:21] mmnosek commented on #3781
My setup:

[code]

[2016-12-21 11:33] miyconst commented on #3781
Update 3 here as well.

[code]

[2016-12-21 11:34] warpech commented on #3781
Update 3 here too

[code]

[2016-12-21 11:39] per-samuelsson commented on #3781
Thanks guys. I'll make an update here in like a couple of days, once my Update 3 has finished installing 😉 🐌

[2016-12-21 11:44] mmnosek commented on #3781
🐎

[2016-12-21 12:12] warpech opened #4016 "Large numbers in JSON"
We have a general limitation in client side apps. Starcounter puts large numbers (`Int64`) as **numbers** to JSON.

This is not limited in JSON, but some parsers (like JavaScript) cannot parse such large numbers at all.

In JavaScript, all numbers are float64 (`Double` in C#). This means that numbers larger than +/- 9007199254740991 cannot be stored in JS without losing precision.

Does anyone hav

[2016-12-21 12:23] andwah commented on #4016
If this is done on client side i agree, I dont agree if this should be done on server side.
We should not let clients (javascript,etc) limitations dictate the server limitations.

[2016-12-21 12:24] per-samuelsson commented on #3781
Don't know if this is good or bad, but with U3, I'm able to repro this thing on my machine as well.

Will certainly make it easier for me to troubleshoot.

[2016-12-21 12:48] warpech commented on #4016
Actually one of the two "competing" JSON specs mention this as interoperability consideration:

https://tools.ietf.org/rfc/rfc7159.txt

   and precision of numbers accepted.  Since software that implements
   IEEE 754-2008 binary64 (double precision) numbers [IEEE754] is
   generally available and widely used, good interoperability can be
   achieved by implementations that expect no more precisio

[2016-12-21 13:11] per-samuelsson commented on #3781
It's clear now something underneath happened between VS U2 -> U3. I can constantly reproduce this bug with code that worked well in U2. It seem to relate to scheduling of VS worker threads.

In U3, retrieving a service from the platform service manager seem to deadlock if you do that at the same time other threads do so, or from a non-safe context (like a static constructor). I have gone through o

[2016-12-21 14:01] warpech opened #4017 "Allow multiple JSON roots in Puppeteer response"
For the starts, I am just signalling the problem that me and @tomalec have discussed yesterday.

Right now we have a feature that the first JSON response returned from a handler gets sent to client. Responses from middleware or mapping are ignored. You can affect this by setting the `PublicViewModel` property, but this does not solve blending at the root level -- still, there can only be one root.

[2016-12-21 14:02] per-samuelsson commented on #3781
Done. Pushed and merged in https://github.com/Starcounter/Starcounter/commit/40089d39000f0d859a5c1d8f328a69bba2f8aa29. Will be part of next published 2.3 version.

Closing this for now. If anyone could double-check it works when there is a new version published that would be great.

[2016-12-21 14:41] chrhol commented on #4016
We have had similar problems before, for example in the Administrator SQL, where the solution was exactly as proposed in the first comment. We send object number (Uint64) as string.

Implementation-wise it would be no big change to add a setting to the serializer to serialize numbers as strings instead and either have the option to enable or disable, both as default behaviour and as custom setting

[2016-12-21 15:26] #3781 closed

[2016-12-21 15:54] andwah commented on #3902
Fixed in "develop"

Where can i find step-by-step instructions on how i should put the code in 2.2 ? im using "git Extensions"
(i got good instructions from ruslan but not for this case thoug)

[2016-12-22 06:47] chrhol commented on #4017
I agree on these points. I don't really remember why we have special handling for the root.

However, why use a different pattern with `Responses` here instead of just using the same pattern as we do in all other places for partials (i.e. currently using the name of the app)?

[code]

This would mean that we have no special treatment (other than for the versionnumbers, but that already exists) and

[2016-12-22 07:28] warpech commented on #4017
Good point, I am all for unifying the treatment of the root and the other places.

[2016-12-22 08:48] per-samuelsson opened #4018 "Allow diagnostic API and tooling to see if assemblies are weaved"
Part of #3869. Will allow for better diagnostic capabilities. Will surface as part of `scweaver schema <app.exe>` when invoked in verbose mode.

[2016-12-22 10:41] warpech opened #4019 "Include CompositionProvider in Starcounter"
As part of https://github.com/StarcounterPrefabs/Launcher/pull/259, a new app was extracted from Launcher: CompositionProvider. This app is really tiny - [single file](https://github.com/StarcounterPrefabs/Launcher/blob/16ea4919105cb773128dd87710d2b5d660ea699e/src/LayoutProvider/Program.cs).

This app provides HTML composition information that is used in app blending. It was one our recent goal to

[2016-12-22 10:50] alemoi commented on #4019
I think it should be a part of core "system" app that is started for every database.

[2016-12-22 11:21] per-samuelsson commented on #4018
API implemented in `Starcounter.Weaver` and `scweaver.exe` extended to support showing this when invoked with verbose or diagnostic verbosity.

Sample output:

[code]

Will push along with #3869.

[2016-12-22 18:51] warpech commented on #4019
How do you suggest to proceed? Move CompositionProvider app to a separate repo in Starcounter org?

[2016-12-23 08:32] ubbeK commented on #3781
It works great!

[2016-12-23 09:11] per-samuelsson commented on #3781
Super. Thanks for testing and letting me know! Merry christmas 🎅

[2016-12-23 09:33] warpech commented on #3781
Works for me too :)

[2016-12-23 11:20] miyconst commented on #3781
And also works for me :). Thanks @per-samuelsson for fixing it, and @ubbeK for the push and investigation.

[2016-12-23 18:13] bigwad opened #4020 "Multicore scaling of transactions"
Consider a problem of using a multicore machine to crunch data with starcounter.

We need to wrap calculations in transaction scope if we want consistency, but as for now, starcounter transaction is limited to be executed on a one thread at a time. We may start many transactions and execute them on different threads, but then we lack consistency. Here I introduce a method of launching several tran

[2016-12-24 10:39] warpech commented on #4019
PS. This should go in Starcounter 2.3

[2016-12-25 13:10] bigwad opened #4021 "Long-running transactions are not protected from multithreaded access"
Consider this code:
[code]

With the current implementation of Transaction it's possible to simultaneously work with Transaction on two different context in two parallel threads. It violates kernel requirements to synchronization and will corrupt kernel state in the current process. Nothing in documentation warns the app developer either.
As it corrupts only current process' state - we may just ex

[2016-12-27 11:13] tomalec commented on #4019
@alemoi Could you include https://github.com/Starcounter/CompositionProvider in Starcounter? (https://github.com/StarcounterPrefabs/Launcher/pull/259#issuecomment-269080600)

[2016-12-28 12:05] mandatorySuicide opened #4022 "Starcounter As Queue"
Can I use Starcounter as queue? Let me delineate my problem.
Pushing Into Queue : (Using a Starcounter Table as queue )
The data that I want to queue , I will keep an additional column with it named "Unsynced" , which will be set to false every time I  insert a new row.

Seeking from queue:
I will run a query with clause => where  Unsynced = false. There will be a scheduler that will run this quer

[2016-12-29 11:03] warpech commented on #3228
This is fixed as of today. Just tested new Warehouse and Administrator in Starcounter 2.3.0.5406

[2016-12-29 11:03] #3228 closed

[2016-12-29 11:28] miyconst commented on #4022
@mandatorySuicide hello.

Thank you for the question. Let me clarify first.

Are you going to keep all of these rows even after sync? This will fill up the RAM of your server in a couple of days.

You can do that using Starcounter, but be aware that the shorter transaction is the better for the performance.

There is no reason to wait for 1m objects to gather. Most likely you will send them via RE

[2016-12-29 13:24] andan342 commented on #1361
@k-rus : I guess you mean

[code]
which is the Oracle way. I am about to add a new keyword `TRIGGERS`.

[2016-12-29 13:48] andan342 commented on #1361
Fixed in branch **grammar2**, testcase added to **sqlparser_unittest**.

The new unreserved keyword `TRIGGERS` is added. The keyword `USER` is now unreserved too.

[2016-12-29 14:01] andan342 commented on #1361
Pushed to **develop**.

[2016-12-29 21:25] warpech commented on #3920
What you described [above](https://github.com/Starcounter/Starcounter/issues/3920#issuecomment-260904895) was about `SELECT`. Meanwhile, `/sc/generate/partial/composition/` does `INSERT`, so I guess this is not really what we mean.

What should be a response for cases 1, 3, 4, 5? I don't think this should be huge concatenated HTML. But that could be JSON array with list of links for specific compo

[2016-12-30 10:47] warpech opened #4023 "Decimal binding problems in JSON"
Using Starcounter 2.3.0.5406

I have a decimal field in database:

[code]

and a declaration like this in my JSON file:

[code]

When I type a number with more than 6 digits after a decimal point (e.g. `1.2323432`), the application crashes with a not very informative exception:

Version: 2.3.0.5406.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR14012.
   at lambda_method(Closure

[2016-12-30 16:00] mtornwall commented on #4023
Sounds like the underlying issue might be the one described in #3841.

[2016-12-30 19:47] andan342 commented on #2027
One simple solution is to allow 'a_expr IN SCONST` as an argument to a function. I.e. having a string literal after 'IN'.

[2017-01-02 11:11] warpech commented on #4023
Yeah, I think so. #3841 did not mention that direct binding in JSON also causes the crash. This is really bad.

Is it fixable?

On the client side, we can add an explicit Custom Element to prohibit more than 6 digits after the decimal point in number inputs. We cannot do it on PuppetJs level, because there is no type metadata in JSON.

BTW. why is the information about the core problem hidden so d

[2017-01-02 14:02] mandatorySuicide opened #4024 "Insert a list / Bulk Insert / Insert many / Batch Insert"
I have a handler which looks like
`Handle.POST("/post", (Request r) =>`
`{`
           List< Data> myData = process(r.Body);
         `// Need to save the list into my db`
         `return data.Count.toString();`
});`
How can I save all the data in myData into SC? Is there any way to bulk insert?

[2017-01-03 09:05] mtornwall commented on #4023
Can't you just make the input handler truncate to six decimal places (if that's the appropriate action)?

[2017-01-03 10:24] warpech commented on #4023
Yeah, that's alternative version of:

Your suggestion is more hacky but less verbose. Mine is more verbose but standards based. Always a tradeoff :)

----

Since it is server's limitation, perhaps it the server not the client who should handle it more gracefully? If I type `0.1234567`, the Typed JSON parser reverts it back to `0.123456` in the patch response.

[2017-01-03 10:37] warpech commented on #2930
Point 3 is part of the same problem as https://github.com/Starcounter/Starcounter/issues/3118, which is: we need to support multiple responses from the same app (on UriMapping level, JSON level and blending level).

[2017-01-03 10:49] mtornwall commented on #4023
Seconded. If you fix it on the server you only need to fix it once. Besides, the limitation is on the server side, so it seems like a natural choice.

[2017-01-03 17:01] warpech commented on #3743
Still happens to me, even when upgrading from 2.3 to 2.3:

![2017-01-03 17_59_41-starcounter installation](https://cloud.githubusercontent.com/assets/566463/21615625/96627904-d1de-11e6-8e67-999cd68310be.png)

[2017-01-03 19:49] andan342 commented on #2027
Following another couple of days of investigation (using the [GRM](https://github.com/andan342/GRM) tool developed earlier for Starcounter), I have to conclude that it is not realistic to support both
- `POSITION(x IN y`), where `y` is a general expression, and `POSITION` is a function name, treated by the parser as any other function name, and
- `POSITION(x, y)` (or `POSITION(x, y, ...)`), also f

[2017-01-03 21:23] miyconst opened #4025 "Waiting for Starcounter.Session.ScheduleTask inside a session thread self locks"
Trying to execute the following code inside a session thread hangs forever.

[code]

It should either throw a proper exception or should be resolved somehow.

[2017-01-03 21:34] miyconst opened #4026 "2.3: Session.Data is null inside Task.Run + Session.ScheduleTask"
I have the following code:

[code]

The purpose of the code is to run a task in a loop as long as a page is opened. The problem is that `s.Data` is always NULL.

I tried to execute `Starcounter.Session.ScheduleTask` outside of `System.Threading.Tasks.Task.Run` and the value was in there.

A working example is available here - [Playground](https://github.com/miyconst/Playground/blob/master/Playgrou

[2017-01-03 21:38] miyconst commented on #4026
Same thing happens if I use `System.Threading.Thread` instead of `System.Threading.Tasks.Task`.

[2017-01-03 22:16] alemoi commented on #4026
Its a known issue related to .NET threads because they are not on scheduler. I suppose `s.Data` is NULL is because `Session.Current` is NULL inside a .NET routine. Just an experiment, what if you would set `Session.Current` to session saved in a variable inside a .NET task. There is some issue about this already reported.

[2017-01-03 22:19] miyconst commented on #4026
I have checked, and `Session.Current` is not NULL, while `Session.Current.Data` is null.

[2017-01-04 09:33] mmnosek commented on #3743
@warpech  Here is possibly already assigned duplicate: https://github.com/Starcounter/Starcounter/issues/3843

[2017-01-04 10:29] chrhol commented on #4023
Alright, sounds like a good place, and a workaround until we get the underlying issue solved.

It's two separate exceptions. This sign `---> ` in the printed message denotes an inner exception. For a lot of exceptions in Starcounter, the inner one is the one that actually describes the cause and the outer one is a wrapper that adds a nice errorcode since inner ones does not always have an errorcod

[2017-01-04 10:38] chrhol commented on #4026
`Session.Current.Data` is specific to each app, and the information about which app that is currently handling an request or a task is depending on `StarcounterEnvironment.AppName` being set correctly.

So if `StarcounterEnvironment.AppName` is NULL  then `Session.Current.Data` will be null. Can you check if that is the case? I dont think there is any way when having an .Net thread to know which a

[2017-01-04 10:53] miyconst commented on #4026
Yes, `StarcounterEnvironment.AppName` is null as well.

@chrhol thank you for the info, I will try to use this workaround.

[2017-01-04 11:17] atifwaqar opened #4027 "SC Server/Apps start very slow on live server if Traffic Feed is on"
This is a very old issue, but we never thought to report.

On my live servers, if the Traffic is not stopped (network not disable or in our case we have a way to stop traffic feed). The Server and apps launching get extremely slow.
But if we stop the traffic feed, and start the server+apps they get started very quickly.

I can demonstrate if its not making any sense here.

[2017-01-04 13:20] aloscha opened #4028 "Starpack should return value after install"
After calling install or making the package I would like to have some return value from starpack. Ex. Ok or error (with some message). It's really important to react if error sends email with building problem etc.

[2017-01-04 14:19] warpech opened #4029 "Binding data to a Json property named "Item" triggers an exception"
Starcounter 2.3.0.5456

I have just noticed that when I have such JSON:

[code]

And I try to set the data to the `Item` property:

[code]

I get the following exception:

[code]

Renaming the property `Item` to anything else solves the problem.

cc @chrhol

[2017-01-04 14:36] MujahidRashid commented on #4003
Hello @dan31
Any updates regarding the migration tool ?

[2017-01-04 14:39] miyconst commented on #4003
Hello @MujahidRashid!

Sorry for the delay. The migration tool has been released in alpha version. Please read the following page - [Migrating from 2.2 to 2.4](https://starcounter.io/guides/tools/migrating-2-2-2-4/).

[2017-01-04 15:06] ubbeK commented on #4003
@MujahidRashid please note that the argument for the output file has just been changed from `--dump` to --file. So Release Candidate version 2.3.0.5456 and Develop version 2.4.0.429 still has that argument as `--dump`. Then builds from tomorrow will use the new one.

[2017-01-05 08:57] chrhol commented on #4029
Thanks for finding this, it's clearly a bug.

It looks like it clashes with the indexer in `Json` (`json[int]`) that I think underneath creates two methods, `get_Item(int)` and `set_Item(int)`.

 Either the code that generates the binding needs to be fixed to pick the correct method or we need to block using the name `Item` as a property.

I will take a look.

[2017-01-05 09:14] andwah commented on #4029
maybe related https://github.com/Starcounter/Starcounter/issues/3143  ?

[2017-01-05 09:22] chrhol commented on #4029
Yes, similar at least. I think this one might be avoided though, if the code that generates bindings picks the correct method.

[2017-01-05 09:30] chrhol commented on #4023
Should this be added to 2.3 or only develop? @warpech, @dan31

[2017-01-05 09:44] warpech commented on #4023
I don't think there is a big rush on this.

Is it a regression in 2.3 or was it always like that?

[2017-01-05 09:50] chrhol commented on #4023
It's always been like this for 2.x versions (or at least since we changed format in database to X6Decimal). Decimal has never been used much which is why we never encountered this before.

Since this is a workaround and not a major bug, I think I will add it to develop only.

[2017-01-05 12:33] warpech commented on #4029
It must be a regression because there is an app that used this successfully in 2.1: https://github.com/StarcounterPrefabs/Content/blob/master/src/Content/ViewModels/CmsItemPage.json#L3

[2017-01-06 13:26] kelong opened #4030 "Port 8080 issue"
Port 8080 is occupied on my machine, in installation I changed port to 9000,
But it still tries to run on port 8080 and throwing
ScErrNetworkPortIsOccupied error (SCERR13006).
On wiki https://github.com/Starcounter/Starcounter/wiki/SCERR13006
there is no resolution what to do.

[2017-01-06 13:31] mmnosek commented on #3902
Looks like I have still this error in 2.3.0.5451 - should it work also there or it waits for moving to this branch?

[2017-01-06 13:55] Mackiovello commented on #4030
What is your Starcounter version?

Can you try editing the DefaultUserHttpPort for the database in the configuration file of your database? This works at least for me with Starcounter stable. You can find instructions on how to find it [here](https://starcounter.io/guides/tools/configuration-structure-2-3/#database-configuration-files).

[2017-01-06 14:33] mtornwall commented on #4030
Note that Starcounter's administrative interface listens on port 8181 by default. Is that port also occupied?

[2017-01-06 14:36] mtornwall commented on #4030
@Mackiovello Did you wipe `%userprofile%\Documents` after uninstalling 2.4 but before reinstalling 2.2? If not, you could try that, because it sounds like you may have been trying to use a 2.4 database image with 2.2.

[2017-01-06 14:42] Mackiovello commented on #4030
@mtornwall You're right, that's what I did wrong. That one always bites me

[2017-01-06 17:45] kelong commented on #4030
I just downloaded version from starcounter.io/download which is 2.2.1.3234.
Folder ~/Documents/Starcounter/Personal/Databases is empty so I dont know what to change.
Port 8181 is not occupied.
But when I am trying to go to http://127.0.0.1:8181 I get connection refused.

[2017-01-06 17:51] kelong commented on #4030
Ok, administrative is not working because service is stopped and it is not starting.
Error in Event Viewer:

System.Exception: ScErrDatabaseEngineTerminated (SCERR10007): The server detected that the user code host executable (sccode.exe) unexpectedly terminated during a management operation.
Version: 2.2.1.3234.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR10007.
   w Starcount

[2017-01-06 19:01] andwah commented on #3902
the fix is only in "develop" as i mentioned i dont know how to get it to 2.3 without messing things up in the repo (i know how to cherry pick but we should not use that anylonger).

[2017-01-06 20:22] mmnosek commented on #3902
Sure, just wanted to make sure that it isn't treated as fixed in 2.3. @dan31 could you help here?

[2017-01-07 18:33] SenerDemiral opened #4031 "I am not using Simplified.Ring* tables. How can I drop these?"

[2017-01-08 18:27] warpech commented on #4031
Hi @SenerDemiral, thanks for a good question.

You might try setting `LoadEditionLibraries` to false in the database config. This should work for a new/empty database. More info: https://starcounter.io/guides/database/database-configuration/

But I don't think it will "drop" the already created tables. Let's wait for someone else to respond regarding that.

[2017-01-08 18:41] per-samuelsson commented on #4031
cc @alemoi, we don't have a way for that really, do we?

@SenerDemiral

FYI, we are actively doing work redesigning "special" / "built-in" types like those in 2.4, where they will be more of opt-in than opt-out (as they have been in the past). Hope you can bare with us on that.

[2017-01-08 19:00] SenerDemiral opened #4032 "if any json field changed in the client reRead data on the server!"
if Json data fetch from Db.SQL

`PersonPage.DataArray = Db.Sql<DummyTable>("SELECT d FROM DummyTable d");`

then
if any json field (i.e DummyClick) changed in the client (if this field fetched from DB or not) reRead data on the server!

Is it intentional?
[code]

[2017-01-08 19:05] SenerDemiral commented on #4031
OK, thank you.
How will I follow what is going on v2.4?

[2017-01-08 20:50] warpech commented on #3902
@andwah AFAIK cherry-pick from `develop` to `v2.3` is fine, but then you need to also merge `v2.3` -> `develop` to sync the branches.

[2017-01-08 21:17] SenerDemiral opened #4033 "Performance differences using Object and Object.ObjectNo"
Using Object
First Run: `TurnuvaChain-1 ms:62, tick:159069 Cnt:1178`
Second Run: `TurnuvaChain-1 ms:32, tick:82646 Cnt:1178`
[code]
Using Object.ObjectNo
First Run: `TurnuvaChain-2 ms:300, tick:761890 Cnt:1178`
Second Run: `TurnuvaChain-2 ms:287, tick:727758 Cnt:1178`
[code]
Result:
Total records : 1178

Run | Object | ObjectNo
------------ |------------ | -------------
First | 62 | 300
Second | 3

[2017-01-08 21:50] miyconst commented on #4032
@SenerDemiral thank you for the question.

Yes. This is intentional.

Server has to gather all changes from the view-model to generate a patch for the client. This is done through dirty checking. This means that every patch from client will trigger read of every property on the server side.

If you do not want this behavior, than you have to bind your view-model to plain C# classes instead of `[Da

[2017-01-08 22:04] SenerDemiral commented on #4032
Thanks.

[2017-01-08 22:04] #4032 closed

[2017-01-09 06:25] SenerDemiral commented on #4033
If all relation fields indexed, there is no difference between Object and Object.ObjectNo.
**I didn't know Object references should/could be indexed!**

Run | Object | ObjectNo
------------ |------------ | -------------
First | 35 | 39
Second | 3 | 4

[2017-01-09 07:35] mtornwall commented on #4030
Is it possible for you to temporarily disable whatever is running on port 8080? It would be helpful to know if Starcounter starts properly.

[2017-01-09 07:37] mtornwall commented on #4027
cc @alemoi

[2017-01-09 08:08] linkdata commented on #4020
Is this threadsafe?

That is, how are you guaranteeing that the cloned transaction doesn't access the same underlying database scheduling context as the original transaction at the same time?

cc @eriohl

[2017-01-09 08:10] per-samuelsson commented on #4031
By following the **Develop** channel over at http://downloads.starcounter.com/download. Note though that it's bleeding edge and hence we can not leave any real guarantees on how it works from day to day.

[2017-01-09 08:25] per-samuelsson commented on #4027
Possibly relate to old investigations #3481 and #3494.

[2017-01-09 08:52] bigwad commented on #4020
Yes, otherwise it would be meaningless. As I said cloned transaction is just an ordinary transaction except it borrows snapshot (not a context) from some other transaction. So it doesn't share the context with the original transaction. It has its own.

[2017-01-09 09:48] per-samuelsson commented on #4024
Currently, there is not I'm afraid. Inserting happen when you instantiate database classes within the scope of a transaction. It's hard to give a more detailed answer based on the code you provided.

Please close this if you consider it an answered question. Otherwise, let us know if you like us to discuss this matter further.

[2017-01-09 09:54] miyconst commented on #4033
I have created a very simple benchmark on my own, which is available here - [reference-vs-objectno](https://github.com/miyconst/Playground/blob/master/Playground/Program.cs#L217).

Steps to run:

- Clone the [Playground](https://github.com/miyconst/Playground) repository.
- Start the Playground app.
- Execute `http://localhost:8080/playground/insert`.
- Execute `http://localhost:8080/playground/ob

[2017-01-09 09:54] eriohl commented on #4020
I'm not involved in this one but from what I understand it is simply a matter of assuring that multiple transactions has a snapshot of the same generation. I don't see why thread-safety then would be a problem then?

Basically then it should work like now with the only difference that the "transaction token" prevents this generation from being garbage collected and that you can specify a generatio

[2017-01-09 09:56] bigwad commented on #4020
Right?

exactly

no, they don't

[2017-01-09 10:08] chrhol commented on #4029
Fixed now, and pushed to v2.3 and develop.

[2017-01-09 10:15] linkdata commented on #4020
Cool, that should help reader speeds quite a lot.

[2017-01-09 10:18] linkdata commented on #4012
Will use git commit counts to version `Bluestar`, as described in https://github.com/Starcounter/AdminTrack/issues/201

[2017-01-09 10:41] SenerDemiral commented on #4031
I mean, What is new in v2.4, what is changing?
How can I learn something like that?
For example;
In 2.2 when DB class properties changed/deleted underlying data is also deleted, but in v2.3 not.

[2017-01-09 11:12] miyconst commented on #4031
We are working on a new version of starcounter.io, which is based on GitHub and will allow you to browse the documentation for different versions of Starcounter.

[2017-01-09 11:15] SenerDemiral commented on #4031
I will be waiting.

[2017-01-09 11:28] miyconst commented on #4020
I would change the API a little bit.

Here is what I would like to do:

[code]

[2017-01-09 11:34] miyconst commented on #4020
Yes. This is where it is mainly needed. I can implement the `Starcounter.Core` interface if I have a description for the low level C/C++ methods. Not sure what will be faster for you, implement it in `Starcounter.Core` or provide description.

I would like to see it in 2.3, otherwise there will be two different StarDump tools, for 2.3 and 2.4. Still, it is up to @dan31 to decide.

[2017-01-09 11:59] per-samuelsson commented on #4031
@SenerDemiral

As @miyconst point out, we are in the middle of a rather big documentation improvement. We are aware of the problem that users find it hard to see what change between versions, and what changes are breaking. We are in constant discussions about how to improve.

One approach we have been implementing the last few years is to maintain a *change log*. Then, when we make a new release,

[2017-01-09 12:14] linkdata commented on #4020
I don't want to pollute the `Db.Transact()` (and all it's variants) API with a default parameter that will be `null` for almost all cases. I'd rather have you use `Transaction.Run()` and control it directly. Probably adding a `Transact()` or `Run()` method to `TransactionToken` would help:

[code]

[2017-01-09 12:16] miyconst commented on #4020
@linkdata I like your suggestion. This will not only clear the `Db.Transact` from the default parameters, but also would make code more easy to read and understand when it is safe to make changes inside a transaction, and when it is not.

[2017-01-09 12:20] linkdata commented on #4020
Also, rather than doing
[code]

what you want is

[code]

[2017-01-09 12:21] miyconst commented on #4020
In my case there might be some code before and after `tt.Transact`, but in general you are right.

[2017-01-09 13:05] linkdata commented on #4020
No need to place `CreateTransactionToken` inside `Db`. Just use a constructor.
Side note: The name `TransactionToken` doesn't really say anything. Maybe `SnapshotTransactionFactory`?

[2017-01-09 14:20] atifwaqar commented on #4027
@per-samuelsson I dont think I am referring to the same issue.
My issue occurs when I have my traffic feed on. By `traffic feed on` I mean, People are pinging the handlers of my apps. And the apps are not up and running yet, they are in process of starting. Feel free to ping me on my Hangout if you want more details on this issue.

[2017-01-09 14:21] linkdata commented on #4012
Package names are now:

* `runtime.native.Starcounter.Bluestar`
* `runtime.ubuntu.16.04-x64.runtime.native.Starcounter.Bluestar`
* `runtime.win7-x64.runtime.native.Starcounter.Bluestar`

Version numbers look like `2.4.0-pre-9135` when auto-generated. The `runtime.native.Starcounter.Bluestar` package is a meta-package that depends on the native runtimes.

[2017-01-09 15:35] mmnosek opened #4034 "Hiding error messages in the browser"
Is it possible to prevent Starcounter from showing error messages (e.g. stacktrace) in the browser?

I think that if server is running as production environment from the security and usability point of view there should be some aesthetic message instead of full stacktrace and error log information.

cc @per-samuelsson @alemoi

[2017-01-09 17:11] warpech commented on #4034
I don't recall us having this feature, at least not documented.

All mature web frameworks have such options. In ASP.NET Core and Ruby on Rails you can specify the environment type (production or development)

- https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling
- http://stackoverflow.com/questions/12849597/rails-turn-off-error-display

In few popular PHP frameworks that I've

[2017-01-09 17:12] warpech commented on #2959
Today this problem arose again in #4034.

To extend my previous response: All mature web frameworks have such options. In ASP.NET Core and Ruby on Rails you can specify the environment type (production or development)

- https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling
- http://stackoverflow.com/questions/12849597/rails-turn-off-error-display

In few popular PHP frameworks

[2017-01-10 07:45] per-samuelsson commented on #4034
@mmnosek, I'm labeling this a dup and close it, and we can continue discussions in #2959. I agree with your concern in this matter.

[2017-01-10 07:45] #4034 closed

[2017-01-10 07:50] per-samuelsson commented on #2959
I vote we try to address this in 2.4. I think it will need some collaboration where @andwah is also involved.

As for the exact nature of the API / customization approach, I'm open for all options @warpech suggested. I think probably the best is to adopt to something like aspnet.core, since in .NET hosting, that's where we are heading and hence it would allow that audience to feel most comfortable

[2017-01-10 08:59] k-rus commented on #1361
Am I correct that it is two reserved keywords now: `TRIGGER` and `TRIGGERS`? If so, then let's keep only one of them reserved.

[2017-01-10 09:27] k-rus commented on #2027
Isn't it what I suggested by:

You say:

Does it mean `func_name(a_expr)` is allowed, where `a_expr` includes `IN` operator?

Basically, if we can use identifiers instead of `POSITION` and semantically check for `POSITION` at later step (in type biding phase after parsing), then it will be good solution.

[2017-01-10 11:31] chrhol opened #4035 "OnData() callback is in some cases called after bound properties are called."
When having a bound array in TypedJSON, the `OnData` callback is sometimes called too late, after bound properties are called. This might lead to functionality depending on the callback to produce inconstistent results.

This seems to happen when a json is stateful (i.e. is connected to a session and has additional state for keeping track of changes) and the array or item in the array is not acces

[2017-01-10 11:43] mmnosek commented on #2959
Absolutely agree! IMO it might be extremely useful. It should be specified on the database level and be related to option like "Environment type" or "Enviroment". Maybe not only debug/production but more, like debug/testing/production? I can imagine much more features relying on that:
* Showing custom error page, the same for whole database
* Showing custom error message in browser console if Pupp

[2017-01-10 12:07] andan342 commented on #1361
Both of them are unreserved.

[2017-01-10 12:51] diliger commented on #4025
+1

found in
https://github.com/StarcounterSamples/Chatter/issues/21#issuecomment-269100087

[2017-01-10 15:38] ivarbergman commented on #3481
Hi! We have had input from @dan31 about how to do restart apps outside of this issue. (I.e. stop the sc host before we restart apps.) Thanks!

But we stil have rather slow start up.

Locally (on my dev machine) I noticed that the Temp folder are very large. `Temp/weaver` 8GB and `Temp/sqlschemas` 5GB and when I created a new database (reusing the sci-files) the Temp folders are much smaller and st

[2017-01-10 16:09] ivarbergman opened #4036 "sccode.exe memory usage"
Hi! We are running 10+ applications for each sc database on our servers. And each sccode.exe process uses approx 700 MB of RAM (Working set RAM). We are trying to identify if we can reduce this memory footprint.

The exe/dll/pdb's for each app is about 10-15 MB.

Question: What is actually kept in memory by the sccode.exe process. Are static files/auto generated files cached by this process?

[2017-01-10 16:13] miyconst commented on #4036
@alemoi please correct me if I am wrong, but as far as I know, everything what is inside the resource folder is cached into ram.

[2017-01-10 18:12] alemoi commented on #4036
Upon first usage though. So if static resources are not used - memory should not be eaten. There are a lot of other reasons why memory can be eaten. I remember @dan31 wanted us to investigate this problem, related to Administrator also.

[2017-01-10 19:49] per-samuelsson commented on #3481
Sorry to hear that. Let's see if we can have some brainstorming session and try understand why.

I don't think it should, no.

In theory, it should be safe. But I have a vague memory where I once dropped some folders in there and it messed something up. There are issues in our backlog that describe stuff we should do to better keep them under control. Let me get back on that.

[2017-01-10 20:15] per-samuelsson commented on #4036
We also have data in there. We still map shared memory into the host process, although it's not as hungry as it used to be. It's kind of the idea with the VMDBMS.

@eriohl, maybe you can expand on that further, and/or correct me if I'm wrong?

[2017-01-11 07:02] ivarbergman commented on #3481
FYI: we are still running SC 2.2 but we will soon switch to 2.3. So maybe we shouldn't do too much investigations until we have made the upgrade.

[2017-01-11 07:22] per-samuelsson commented on #3481
Was #1690 I was thinking of. Maybe we need to bump that.

[2017-01-11 07:31] per-samuelsson commented on #3481
I see. Thanks for sharing.

Should be pretty easy to test if its safe to delete content under Temp at least. Create a new database, start desired apps in that. Then stop the database, delete everything under Temp (don't delete the `Temp\[Database]` folder in itself) and restart the apps. If that works, it's safe.

Something like this:

[code]

[2017-01-11 07:54] careri commented on #4035
Nice that you managed to reproduced. Tell me when it's fixed.
I got round the problem by making sure my cached value is initiated in each called to the properties.

[2017-01-11 08:31] miyconst commented on #3481
@ivarbergman please try the [StarDump.Migrator.2.2](https://github.com/Starcounter/StarDump.Migrator.2.2) app for this purpose.

[2017-01-11 08:36] k-rus commented on #1361
Thank you for clarification. The issue is resolved.

[2017-01-11 08:36] #1361 closed

[2017-01-11 09:09] mtornwall opened #4037 "Installer: Don't expose administrator port"
Currently the installer creates firewall rules that expose the administrator port. Since this is a potential security risk, I think it should be a conscious decision on the user's part.

cc @alemoi

[2017-01-11 09:17] chrhol commented on #4035
I have a fix ready, just wanted to run some more tests (or let the buildserver run some more tests :)) before pushing it.

Unless something fails, I will push it later today.

[2017-01-11 11:28] chrhol commented on #4035
Pushed to 2.3 and 2.4 (RC and develop) now.

A version with this fix included should be available tomorrow. I will keep the issue open until you have had a chance to try it out.

[2017-01-11 11:35] eriohl commented on #4036
Yes: Storage memory is mapped into the host process. If this is the total working set it will include storage memory as well. If it is the private working set then not. If you check the shared working set this is usually mostly storage memory.

[2017-01-11 12:40] k-rus commented on #3757
This is fixed in 2.3 and develop branches.

[2017-01-11 12:42] warpech commented on #237
@chrhol I think this is done now?

[2017-01-11 12:47] warpech opened #4038 "Middleware: make it possible return Response from request middleware"
It should be possible to return a response from the request middleware. In result, the handler and the response middleware would not be called.

One sample usage:

[code]

[2017-01-11 12:48] warpech opened #4039 "Middleware: implement "next" callback"
Unlike Starcounter, most middleware-oriented frameworks, like Koa.js or ASP.NET Core, don't have a concept of "request" and "response" middlewares.

There is only one type of middleware with `next` callback function.

It is explained well in ASP.NET Core [docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware):

[2017-01-11 12:49] warpech commented on #4038
This is similar to #4039 but easier to achieve, at least I believe so.

[2017-01-11 12:52] warpech opened #4040 "Middleware: consistent scope of Application.Use"
Right now, `Application.Current.Use((Request req) => {})` catches only `Handle.GET` handlers from the current app.

On the other hand, `Application.Current.Use((Request req, Response res) => {})` catches `Handle.GET` handler responses from all of the apps as well as static files from all of the apps.

I propose that we make this consistent. By default, it should catch only handlers and static file

[2017-01-11 12:58] per-samuelsson commented on #4039
@warpech,

When we brought the middleware concept to Starcounter, we did so initially to support it as the API over already existing "non-standard" request- and response filters. I'm sure you remember this. At that time, we decided to postpone next callback until a later version, possible 3.x. Basically because the underlying bits worked as they did (and it was kind of messy to change/redesign tha

[2017-01-11 13:03] warpech commented on #4038
Because of this, we are doing ugly hacks like a temporary `WRAPINWORKSPACE` request header in: https://github.com/StarcounterPrefabs/Launcher/blob/c9d88e7d9ee627abbcbefcbe93b79af4437f24d3/src/Launcher/Helper/LauncherHelper.cs#L26-L49

[2017-01-11 13:51] per-samuelsson commented on #4040
Sounds like a wise idea to me for sure.

As I wrote elsewhere, the *functionality* of current middleware APIs are directly derived from underlying "old" methods `Add[Request|Response]Filter`. Hence the [original disclaimer](https://github.com/Starcounter/RebelsLounge/blob/master/uncategorized/middleware.md#important-22-implementation-detail). What the whole middleware initiative was about at that

[2017-01-11 13:55] chrhol commented on #237
Right, yes! There is another issue for the last comments in here (#2720)

[2017-01-11 13:55] #237 closed

[2017-01-11 14:24] chrhol opened #4041 "Fix inconsistent namespaces in Starcounter.XSON"
Currently there are a number of different namespaces used in the Starcounter.XSON project. A brief glance shows namespaces as `Starcounter`, `Starcounter.Advanced.XSON`, `Starcounter.Internal.XSON`, `Starcounter.Templates` and so on. There is no real order which classes and types that are in which namespaces.

These should be unified to use the same pattern, preferrable all in `Starcounter.XSON` o

[2017-01-11 14:32] per-samuelsson commented on #4039
@warpech

I had a vague feeling I actually started adopting some kind of delegate chaining (i.e `next()`) already the last time around, but I searched and couldn't find any issue on it. But now I found my old "article" and particularly [this section](http://starcounter.io/guides/network/request-response-filters/#json-view-models-html-views), and there it looks like we might already support it to s

[2017-01-11 14:51] chrhol commented on #4017
I started implementing the changes and got stuck on additional things that would be nice to fix when doing this :smile:

To change so that multiple viewmodels are allowed for the root is not a major thing, but to get rid of `PublicViewModel` more changes are needed on how patches and sessions work together. Maybe we need to separate public/exposed viewmodels and viewmodels stored for private use.

[2017-01-11 15:53] warpech commented on #4039
Yes, you did it actually in [MimeProvider](https://github.com/Starcounter/Starcounter/blob/81c9a245f2f3769cb19bb2e2ad0c3d69a14b19b8/src/Starcounter/Middleware/MimeProvider.cs).

I think it should be moved to `Application.Use` if possible at all.

[2017-01-11 16:33] andwah commented on #3502
Tested this in Starcounter-RC-2.3.0.5489 and i got the same result as @malx122  (but that was expected)

[2017-01-12 07:45] andwah commented on #4037
@alemoi Let's sit together and come up with a solution how to add this feature.

[2017-01-12 08:21] chrhol commented on #4017
Actually by changing to the sample above, it's makes more sense to follow the first example from @warpech. Having the viewmodels for the root as an array.

Then we support both apps responding with their own root viewmodel (that is NOT merged) or merged on the root depending on the need for the specific apps.

[2017-01-12 08:31] chrhol commented on #4029
I will consider this issue solved and close it. Please reopen it if you find something that still isn't fixed for this issue.

[2017-01-12 08:31] #4029 closed

[2017-01-12 08:32] per-samuelsson commented on #4036
@ivarbergman, you consider your question answered?

[2017-01-12 08:55] chrhol commented on #1782
Already done, a specific page about bindings exists (pointing to develop version here, but exists for other versions as well): https://docs.starcounter.io/v/Develop/guides/typed-json/json-data-binding.html

[2017-01-12 08:55] #1782 closed

[2017-01-12 09:07] chrhol commented on #772
Fixed, pushed to develop.

[2017-01-12 09:07] #772 closed

[2017-01-12 09:09] per-samuelsson commented on #2959
To bring this closer to something we can actually implement, can we include some code illustrations of what scenarios we want to address?

If I'm starting this app:

[code]

and fetch `http://localhost:8080/foo`, I see this:

![image](https://cloud.githubusercontent.com/assets/2902045/21883320/cc1cea4e-d8ae-11e6-8b4e-e56301d447bb.png)

Instead fetching `http://localhost:8080/foo2`, give me a simpl

[2017-01-12 09:16] per-samuelsson commented on #2959
Instead returning internal error (501) from "/foo" give me this:

![image](https://cloud.githubusercontent.com/assets/2902045/21883577/28410e58-d8b0-11e6-9db3-a12c231a0c64.png)

[2017-01-12 09:20] per-samuelsson commented on #2959
And complementing with this handler:

[code]

give me a page with this (raw text) content:

   at Issue4034.Program.<>c.<Main>b__0_2() in C:\Users\Per\proj\Issue4034\Issue4034\Program.cs:line 19
   at Starcounter.Rest.UserHandlerInfo.RunUserDelegate(Request req, IntPtr methodSpaceUriSpaceOnStack, IntPtr parametersInfoOnStack) in C:\Users\Per\Git\Starcounter\Develop\Level1\src\Starcounter.Rest\UriH

[2017-01-12 09:36] bigwad commented on #4020
Merged as is to level1. For Starcounter.Core it's up to @linkdata

[2017-01-12 09:36] #4020 closed

[2017-01-12 09:43] careri commented on #4035
It's on my TODO-list. I'll get back to you once tested

[2017-01-12 11:08] linkdata opened #4042 "Load clang++ from the calling DLL's path"
Currently, we require that our special build of clang++ is in the PATH, and is also the first such executable in the PATH. This is not needed. Simply load it using the calling DLL's location directly. Getting the calling DLL path (as opposed to the calling executable file) is done so:

[code]

...

[code]

[2017-01-12 12:18] bigwad commented on #4042
Wouldn't it be better to use documented [GetModuleHandleEx](https://msdn.microsoft.com/en-us/library/windows/desktop/ms683200(v=vs.85).aspx) with GET_MODULE_HANDLE_EX_FLAG_FROM_ADDRESS parameter?

[2017-01-12 12:24] linkdata commented on #4042
For Linux,  [`dladdr`](http://man7.org/linux/man-pages/man3/dladdr.3.html) seems like a good place to start looking.

[2017-01-12 12:33] per-samuelsson commented on #2959
One key concern here is actually where to host code that would customize any kind of response output (like 5xx, 4xx mainly). I've actually been thinking some lately that I think we need a discussion on how to approach things similar to this request and make sure it's future proof, considering all stuff in the pipeline. I'll try to initiate such discussion in parallel.

[2017-01-12 13:09] careri opened #4043 "Installer size, increased 20MB from Starcounter-RC-2.3.0.5465-Setup"
Hi!

Not really a bug, but should the installer go from 95MB to 115MB from before Christmas to now?

Looks to me like you added something by mistake?

[2017-01-12 13:11] linkdata commented on #4042
Documented is always to be preferred over undocumented. Please provide patches to the branch `issue/920`.

[2017-01-12 13:30] andwah commented on #4043
Can it be `Stardump` that was added?

[2017-01-12 13:31] per-samuelsson commented on #4043
This, yes. IIRC, we distribute .NET core along with it.

[2017-01-12 14:11] warpech commented on #2959
I think that this can also be solved on the middleware level - as presented here: https://github.com/Starcounter/TechComm/issues/256#issuecomment-271857771

[2017-01-12 14:17] per-samuelsson commented on #2959
For sure, and frankly, I think that is a more natural approach, but I don't want to just ignore requests to have stuff on database level (as database configuration).

And it's that topic we need a more holistic discussion about before addressing this. Basically, the discussion I want is one that consider those things in the pipe now, and how they will effect the runtime environments of apps. More

[2017-01-12 14:23] warpech commented on #2959
Ok. Just one more idea - the app that creates this "error page middleware" can be a separate micro app. I think that this would be quite elegant actually.

[2017-01-12 14:30] dan31 commented on #4043
Question, @alemoi @warpech: for the installer, what packing method do we use, do we use the (really) strongest compression level? Maybe we have a low-hanging fruit here.

[2017-01-12 14:31] warpech commented on #4043
I cannot answer this, I think only @alemoi can.

[2017-01-12 14:33] per-samuelsson commented on #2959
Cool. Certainly something we must consider. Might play really nice with system apps too.

[2017-01-12 14:34] dan31 commented on #4043
@warpech I meant @andwah, poor keyboard.

[2017-01-12 14:52] chrhol commented on #2720
Old issue that haven't been touched for over 1½ years. Lets just finish this. The current implementation of single value json can be improved.

Based on [this comment](https://github.com/Starcounter/Starcounter/issues/237#issuecomment-117844981), my proposal is to move all functions for manipulation values for single value json to an extension class since they are not commonly used. This will allo

[2017-01-12 14:59] warpech commented on #2720
My opinion is that extension class obscures availability of this API. People who use IntelliSense as the primary tool to learn about the API will have hard time finding it.

But I leave the final word to you and @miyconst.

[2017-01-12 15:09] careri commented on #4043
| This, yes. IIRC, we distribute .NET core along with it.

Do you distribute the .Net Framework needed by the database as well? If not it seems inconsistent to distrubute .Net Core.

But then I undestand the increase in size

[2017-01-12 15:19] per-samuelsson commented on #2959
[Gather holistic perspective of app and host/server relationship](https://github.com/Starcounter/CompanyTrack/issues/289).

[2017-01-12 15:23] warpech commented on #4017
Again, thanks for picking this up! This will be immediately useful.

Actually in my example the viewmodels are a namespaced `Responses` object, not an array, but I guess this does not matter here.

If I understand correctly, what we have right now corresponds to `PublicData` in your example. I think that `PrivateData` is achievable already by:

- a `PublicData` class member that is not exposed in

[2017-01-12 16:31] linkdata commented on #4042
@alemoi

The Linux implementation is done and tested locally on the level1 `issue/920`, but you'll probably want to tweak the CMakeLists.txt back so it matches your path preferences.

Yeah, the branch is named 920 because I misread this issue number. Should have been 4042. 😒

I'm not going to try and upload a new version of `libscllvm.so` to the FTP simply because I don't trust that my LLVM build

[2017-01-12 16:46] andwah commented on #4043
Cant answer this, @alemoi may have better knowledge about it.

[2017-01-12 16:56] linkdata commented on #4042
The Windows implementation is now also in place.

[2017-01-12 22:10] alemoi commented on #4043
![image](https://cloud.githubusercontent.com/assets/208134/21910427/3e199a08-d91c-11e6-8940-0f589088149a.png)

Highest available compression from .NET ZipFile.

[2017-01-12 23:05] dan31 commented on #4043
@careri we distribute .net core of a particular version to make the tool completely self-sustained. This distributed .net core does not install itself, it just resides together with the application. By not doing this we would need somehow to restore the .net core by the means of installer after the installation is complete, and this we didn't want to do. @linkdata can comment more on a philosophy

[2017-01-12 23:11] dan31 commented on #4043
@alemoi thanks, I tried to re-compress the distro with 7z, not much gains are possible.

[2017-01-13 09:27] careri opened #4044 "ChangeLog not generated"
Hi!

I'm using the Hot Table for displaying data on the client. In the table I have a column that renders a link.
I've bound the highlighted row of the table to a corresponding index property of the server.

The problem is that when I click the link the browser redirects but the table will also send the change of highlighted row to the server. The server generates the patch and sends to the client

[2017-01-13 09:53] per-samuelsson commented on #4043
https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/

[2017-01-13 10:09] warpech commented on #4044
What is the Starcounter version you are using?

Can you paste the code that does the above?

The patches are generated in one of the following events in the browser: `mousedown`, `mouseup`, `keydown`, `keyup`, `change`.

Perhaps `hot-table` generates the patch after it was picked up by PuppetJs.

[2017-01-13 11:02] chrhol commented on #4017
One thing I can think of would be, in the future, when the viewmodels will be semi-persistent and can survive a restart of the codehost. Then the private data (and all data that is cached and not stored as a property in json or in a database class) will be lost and would be needed to be recreated somehow.

How codehost restarts would work is kind of uncharted territory and I know we have done seve

[2017-01-13 11:05] chrhol commented on #2720
Right, thanks for the input. Do you think the API is good enough and we should leave it as is for the moment? This is not something critical to change, just me wanted to finish some old issues :smile:

[2017-01-13 11:14] per-samuelsson commented on #2720
@chrhol

Just for the sake of it, could you include some content that show what single value json look like in it's native form (i.e. JSON)?

[2017-01-13 11:17] careri commented on #4044
Starcounter-RC-2.3.0.5501 (12 jan 2017 02:01:14)

Well I wrapped the hot-table in a container that binds to notifying properties. I then check some values before forwarding from server to table and vice versa.

Nothing I'm proud of but here's the code :)
hotSelectedChanged is the method that updates the Json Model.

[code]

[2017-01-13 11:18] per-samuelsson commented on #2720
[Nevermind](https://docs.starcounter.io/guides/typed-json/primitive-arrays-and-single-value-types.html). 😄

[2017-01-13 11:39] chrhol commented on #2720
Was just looking for that page.

Currently the following properties are implemented directly in the `Json` class, meaning that they will show up for all instances of a `Json`, and that you cannot use these names as a name of a property in your viewmodel.

There are also no overloads for adding items to an array for a specific value. You have to call `Add()` to get a new item, and then set the valu

[2017-01-13 11:46] per-samuelsson commented on #2720
I know you will hate me for this (and I might very well be wrong): for me, it would be more convenient that single value JSON content produced not a Json at all, but a more specific type, dealing particularly with that type of content.

No idea how that should work technically though 😎

Rationale: single content JSON seem really exotic (correct?) and the price we pay to support it is quite high (i

[2017-01-13 11:49] per-samuelsson commented on #2720
I guess something like:

[code]

And we would have to force SingleValueJson as the baseclass for code-behind that had a desire to define content as such (or allow Json, but you wouldn't be able to work with the data using such a reference).

[2017-01-13 11:50] per-samuelsson commented on #2720
Or even simpler actually:

[code]

[2017-01-13 12:01] linkdata commented on #3938
Will be fixed as part of issue/4042 and issue/4012

[2017-01-13 12:07] careri commented on #4044
@warpech
The problem actual seems to be client side. The Json-model is updated, but no patch is sent to the server.

Once I click anywhere on the screen or alt+tab to another application the patch is sent.
As I mentioned the Json-model is updated on a timer callback thread. What do I need to do to make Puppet send the patch to the server?

[2017-01-13 12:15] chrhol commented on #2720
Yes, I somewhat agree. We took the decision quite early on though, to do the opposite. We should not have more than one `Json` class, no specific classes for single values and arrays. So all proposals have been done with that in mind, that we are stuck with one single class that needs to contain all functionality.

Maybe we should reconsider this, but then we probably need to do a more thorough pr

[2017-01-13 12:19] chrhol commented on #2720
Well actually, we kind of have specialied classes of `Json`. The generated code is more or less like this...so maybe it wouldn't be a major shift to have it like that. If we structure it correctly, we can still keep functionality so that internally we only have have to care about the baseclass, while the user gets a nicer experince

[2017-01-13 13:03] warpech commented on #4044
Try changing adding the below code after `that.selectable.SelectedIndex$ = value;`:

[code]

[2017-01-13 13:07] warpech commented on #4044
This is a long term issue to fix this in PuppetJs: https://github.com/PuppetJs/PuppetJs/issues/29

[2017-01-13 13:11] careri commented on #4044
The virtual mouse click solved the problem. I'll stick with that for now.
Thanks

[2017-01-13 13:11] #4044 closed

[2017-01-13 14:49] warpech commented on #2720
My only strong opinion is that the API for this is needed, but I don't care much about the form of it. It is rarely used but must be there when it's needed.

Maybe @miyconst has strong opinion?

[2017-01-13 15:23] per-samuelsson commented on #2720
Then I fully support the idea @chrhol had:

Since single value data is quite exotic, I think that proposal sounds really good. Because it can keep those advanced methods/properties out of the way in all normal cases, and allow them to be brought in only when needed (by the few).

[2017-01-13 15:28] warpech commented on #2720
Ok, fair enough!

[2017-01-13 15:32] warpech commented on #4017
Then maybe let's follow the [YAGNI](https://en.wikipedia.org/wiki/You_aren't_gonna_need_it) principle regarding `PrivateData`, meaning: let's get back to it when it's needed, not as part of this issue?

[2017-01-14 13:34] SenerDemiral opened #4045 "When entering the home page Handle.GET returns 2 times!"
Handle.GET hits 2 times if `Application.Current.Use(new HtmlFromJsonProvider());` is used.
[code]
If this behavior is intentional, How to know the second/last hit/return?

[2017-01-14 13:50] miyconst commented on #4045
cc @warpech, @alemoi

[2017-01-15 14:55] SenerDemiral opened #4046 "The quantifier distinct is not supported!"
But in Administrator SQL is supported.

[2017-01-15 15:14] warpech commented on #4045
The intentional behaviour is to use `Application.Current.Use(new HtmlFromJsonProvider());` with `Application.Current.Use(new PartialToStandaloneHtmlProvider());`.

Then in your master HTML you don't have to include the code that handles the session (`<head>`, `<puppet-client>`, etc), because it is handled for you.

Your master HTML should then have only the content for that page, more or less like

[2017-01-15 15:53] SenerDemiral commented on #4045
I want to control what is loading, so my master HTML have all the startup code.
Because of that I can not using `Application.Current.Use(new PartialToStandaloneHtmlProvider())`

[2017-01-15 16:51] mtornwall commented on #4046
Could you post the query that works in the administrator but not when using `Db.SQL`? As far as I can tell, `DISTINCT` is not supported in the administrator (either).

[2017-01-15 19:17] per-samuelsson commented on #4046
IIRC, we don't support `DISTICT` at all, and never had. [Here's](https://docs.starcounter.io/guides/SQL/sql.html) the reference. As far as I can tell, we only reserve the word.

Maybe @k-rus can provide a more certain answer?

[2017-01-15 20:46] warpech commented on #4045
You can provide your own HTML startup code as the parameter to `PartialToStandaloneHtmlProvider()` constructor, e.g.

[code]

[2017-01-16 05:25] SenerDemiral commented on #4046
Yes you are right.
Distinct is not supported.
I must have dreamed!
Sorry.

[2017-01-16 05:26] #4046 closed

[2017-01-16 09:00] chrhol commented on #4017
Yes, good point. I will continue with doing the first steps first :smile:

[2017-01-16 10:29] careri commented on #4035
It seems to be working, you can close this.

[2017-01-16 10:38] chrhol commented on #4035
Thanks for testing it out! Closing.

[2017-01-16 10:38] #4035 closed

[2017-01-16 10:47] linkdata commented on #4043
Ok, closing it.

[2017-01-16 10:47] #4043 closed

[2017-01-16 10:48] linkdata commented on #4042
This is now merged into develop.

[2017-01-16 10:48] #4042 closed

[2017-01-16 11:44] miyconst commented on #4045
Sounds like a good idea to me.

[2017-01-16 11:47] SenerDemiral commented on #4045
Thank you,
I will try as you suggested.

[2017-01-16 12:06] k-rus commented on #2319
Implemented

[2017-01-16 12:06] #2319 closed

[2017-01-16 12:08] warpech commented on #4045
I have created an issue to discuss changing this: https://github.com/PuppetJs/PuppetJs/issues/117

Thanks @SenerDemiral for the report! Please reopen if something does not work as expected.

[2017-01-16 12:08] #4045 closed

[2017-01-16 13:26] warpech commented on #2319
Should this be closed, too? https://github.com/Starcounter/Starcounter/issues/3767

[2017-01-16 13:35] joozek78 commented on #3767
Probably fixed by #2319

[2017-01-16 13:35] #3767 closed

[2017-01-16 13:36] per-samuelsson commented on #3984
One effect this change has is that any kind of user code applications (samples, test, etc) that are part of Level1 and will run as part of building must set up a build-time dependency on scweaver or Starcounter.Weaver project(s), to assure the right build order. Otherwise, builds can fail when a test/sample run before those bits are built.

[2017-01-16 13:39] andan342 commented on #2027
Answering @k-rus

Yes, that's exactly what you have suggested! This solution is implemented now - commit #e526895

Yes, `IN` operator is allowed in function argument - in the form of:
- `x IN (SELECT ...)`
- x IN (y, z, ...)
<br></br>
Hence, adding `IN` with a general expression on the right-hand side would create a lookahead problem for the parser.

[2017-01-16 13:43] andan342 commented on #2027
Fix is applied, testcase added to to **sqlparser_inittest**, changes are pushed to **develop**.

[2017-01-16 14:42] linkdata commented on #3938
Fixed.

[2017-01-16 14:42] #3938 closed

[2017-01-16 15:32] k-rus commented on #2027
Great! However, I don't see the changes in develop.

[2017-01-16 18:44] SenerDemiral opened #4047 "How to get Client IP address if Reverse Proxies used?"

[2017-01-17 01:42] andan342 commented on #1237
This query currently fails, as unterminated string.

Variants with no single quote, space before `\\` and no `E` also fail as a syntax error at the first `\`.

[2017-01-17 01:57] andan342 commented on #1237
The variant present in **sqlparser_unittest** is `SELECT E'\xDEADBEEF'`, which is a correct SQL query (at least according to PostgreSQL). The SELECT target is represented by the list of `A_Const` (string) and `TypeName` (`E`) nodes, together representing a typed literal, i.e. a string with attached type.

Do we want to remove the use of escapes in strings altogether?

[2017-01-17 06:43] k-rus commented on #1237
Let's discuss, which approach we should go.

[2017-01-17 08:45] linkdata commented on #4012
Merged into develop.

[2017-01-17 08:45] #4012 closed

[2017-01-17 09:12] SenerDemiral commented on #4033
Thank you.
I will try to apply your suggestions.

Do I need to index object references?
I think yes, because 100 iteration took 1sec! (10ms/iteration)
My OldSQL Firebird DB makes 100,000 iteration in 600ms

If Starcounter is in-memory DataBase, means object references are memory address,
Why we need to index on object reference to speed up execution?

[2017-01-17 09:33] miyconst commented on #4033
I bet you didn't look at the Playground solution. If you would, you would see that it not only makes an iteration over a reference, but also:

- Concatenates a string to produce an SQL query.
- Creates a list of objects by calling `.ToList()`.

Also there is no statement of how many objects my database has, so it is not possible to compare with old Firebird database with another unknown number of

[2017-01-17 12:27] warpech commented on #3989
For future reference:

The problems discussed here happen in Edge Mobile on Windows 10 Mobile (EdgeHTML 13.10586). This version is available in the VM images dated `20160322` from [this archive list](https://gist.github.com/zmwangx/e728c56f428bc703c6f6), specifically:

- https://az792536.vo.msecnd.net/vms/VMBuild_20160322/VirtualBox/MSEdge/MSEdge.Win10TH2.VirtualBox.zip
- https://az792536.vo.msecn

[2017-01-17 12:33] SenerDemiral commented on #4033
Your bet is partially correct.
I didn't see `.ToList()`
I prepare another `dynamic` SQL, two table joined with Primary Key in DB procedure.
Reads ~743K recods in 3s 650ms. (100 iteration)
(Single table without join takes 2sec)
Result Lists size is 81K in one iteration.
[code]

[2017-01-17 12:41] miyconst commented on #4033
Sorry, I have lost the point. Do you have exactly the same database in Starcounter, doing the same thing and it is slower or something else?

[2017-01-17 12:46] SenerDemiral commented on #4033
Never mind!
I try to compare `old Firebird` with `new Starcounter`.

[2017-01-17 12:46] #4033 closed

[2017-01-17 12:51] miyconst commented on #4033
Yeah, please do so. It would be really nice to see the numbers. I can help you setup the identical testing environment if needed.

[2017-01-17 13:05] SenerDemiral commented on #4033
Yes, please give the test data and structure to simulate in Firebird.

[2017-01-17 13:10] miyconst commented on #4033
Please perform a clean test with just a couple of tables and the same data. The database I tried with is very old and dirty with not related data, so it would be difficult to get the same conditions.

[2017-01-17 13:25] SenerDemiral commented on #4033
I can access Firebird and Starcount DBs in console application.
I think Conversion is not difficult, if you can give StarDump unload data.

[2017-01-17 13:26] miyconst commented on #4033
Okay. I will prepare some tests and share with you, not at the moment though.

[2017-01-17 13:32] #1896 closed

[2017-01-17 13:32] andan342 commented on #1896
Fixed in [#160](https://git.starcounter.org/BlueStar/level0/issues/160).

[2017-01-17 15:54] k-rus commented on #1237
We discussed this and decided to keep the syntax and current interpretation for now.
Archiving.

[2017-01-17 15:54] #1237 closed

[2017-01-17 20:56] andan342 commented on #1777
Every `Node` descendant now has a `location` property, which can be used for error reporting.

The new locations are described in this document:
https://github.com/Starcounter/RebelsLounge/blob/master/query_processor/Locations_in_AST.md

It's still an issue to report an error for not supported clauses, see e.g. [BlueStar #158](https://git.starcounter.org/BlueStar/level0/issues/158).