[2015-08-06 15:29] #2838 closed

[2015-08-06 19:09] per-samuelsson commented on #2839
Not answering any of your two questions, but we had this like 5 years ago, and then for a while, we supported both (declarative and configurable). Then at some point we dropped the declarative approach, but I can't remember exactly all the reasoning.

I know we've said generally that we like to be a little more DDL-friendly than we were initially, and also that we should be careful with things tha

[2015-08-06 19:17] per-samuelsson commented on #2837
FWIW, there's a book somewhere near my desk at the office, called something like "Continous Delivery", that I bought along with a few other books some years ago. It contains quite a lot on these kind of things. If someone feel they have some time to spare. :smiling_imp:

In general, when it comes to stuff like branching / releasing / versioning / packaging, I'm all for going for "standards" as far

[2015-08-07 09:08] k-rus commented on #2836
For each created index a record is inserted into meta-table `Index` with the following schema:
[code]
Table `Index` contains 4 columns, which are set according:

- Column `Name` contains the name of the index, which is obtained from the JSON file and used during index creation. Note that index name is database unique.
- Column `Table` is a reference to a record of `RawView`, which describes the ta

[2015-08-07 09:48] k-rus commented on #2836
During implementation it is important to remember that the meta-schema and population specification is not final and will be updated number of times in future.

[2015-08-07 09:48] miyconst commented on #2723
Any progress on this issue?

[2015-08-07 10:32] mtornwall opened #2840 "Index-related access violation"
I came across an odd crash bug in sccode.exe that started appearing when I added indices to most of my tables. It can be consistently reproduced using the code below (but read on for precise instructions!). Sorry that it's so big - I did my best to reduce it.

Starcounter version is 2.0.3273.3.

The stack trace is:

[code]

------------------------

In case you would have trouble reproducing it us

[2015-08-07 10:38] dan31 commented on #2822
Hi @mtornwall! At a first glance I see no obstacle to implement. @chrhol, do you? The only thing is a value returned in case of transaction not succeeded after max no of retries. Should also propagate to ```Db.Scope``` API, which is also ```void``` today.

[2015-08-07 10:39] mtornwall commented on #2822
Ah, right! Perhaps it could return type `T?` so as to enable it to return value types as well?

[2015-08-07 10:45] dan31 commented on #2822
@mtornwall I think so, also in newer C# neat checks can be made then using monadish Elvis operator ```?.```.

[2015-08-07 11:06] dan31 commented on #2840
Thanks @mtornwall, perhaps the most perfect bug report ever seen :)
@eriohl, WDYT?

[2015-08-07 11:23] k-rus commented on #2801
I think there is no direct relationship between app name and namespace. Namespace is defined in the source code of an app, it can be more than one, it can be omitted, and it can be different. May be there are some new limitations on apps and namespaces that I am not aware of.

[2015-08-07 11:28] per-samuelsson commented on #2801
It's not, most defintely. At least not in standard Starcounter. Maybe Polyjuice adds some restrictions on top though.

Application name -> namespace is not even 1-1. An application can obv be modularized and define a whole range of namespaces. Application names are a management feature, used to distinguish applications within a given code host.

[2015-08-07 11:30] miyconst commented on #2801
What is the `AppName` then? How do I modify it? Let's assume my .exe is `Main.Sub.exe`, my namespace is `namespace Main.Sub`, and I want the app name be `MainSub`, how to set that up?

[2015-08-07 11:35] eriohl commented on #2840
Looks lite a bug in shadow indexing. We can reproduce it as well?

[2015-08-07 11:50] miyconst opened #2841 "What is Starcounter_Internal_Unload_Utility?"
I went to Applications page of administrator panel and saw this:

![image](https://cloud.githubusercontent.com/assets/6435556/9135173/5cde0146-3d13-11e5-8fe2-ff328c402dab.png)

What the `Starcounter_Internal_Unload_Utility` app is and where it came from?

[2015-08-07 11:56] mtornwall commented on #2840
@eriohl I should think so - let me know if the code I posted doesn't trigger the bug for you.

[2015-08-07 12:07] mtornwall commented on #2841
I noticed this gets launched when you use `staradmin` to unload (I'd really prefer the word *dump*) the database to an SQL file.

[2015-08-07 12:16] eriohl commented on #2840
Sorry @mtornwall but it was more of a question for @dan31. Anyway: We can reproduce it. Working on a resolution. Thank you.

[2015-08-07 12:38] k-rus commented on #2833
Do you mean the case when one database object refers to another database object? Unload/reload uses special format to represent object identities.

The error code normally means that an internal feature, which is only for internal use, is used incorrectly. May be you use a wrong format in the SQL dump.

[2015-08-07 12:59] k-rus commented on #2839
For long time I vote that we should provide syntax to declare indexes during class declaration. I guess, If it will be done, it will be in new version of Starcounter.

[2015-08-07 13:09] eriohl commented on #2840
Ok. We know what the problem is.

In essence: The shadow indexing doesn't account for implicitly set undefined values in index keys for the pending inserts under certain circumstances.

In this case this would be NameRelation.Asserter which is part of the key in the used index NameRelationIndex.

If you need a workaround you can explicitly set this value:

[code]

Instead of:

[code]

We're workin

[2015-08-07 19:07] dan31 commented on #2839
My personal feeling when I was getting into Starcounter in 2013 was that having (only) class-declared indices would have been much more essential then having it (only) SQL-statements-manipulated. The former is much more aligned with declarative spirit and forms a visible contract. If there are no strong reasons for not having this, I will vote for the feature and put it into production plans for n

[2015-08-07 20:04] per-samuelsson commented on #2839
One limitating thing with indicies declared in code, not brought up in this thread, is that it ties the application to the indexing of the database. Indexing is often a tuning thing, and tuning is more suitable later in the application deplyment phase. At least in traditional enterprise application server installations, indexing is performed and tuned per database, after the system / application h

[2015-08-07 20:36] dan31 commented on #2839
@per-samuelsson good point.

From side of adoptions I'd say a common issue is "code works so slow, okay I forgot to create indices", and index annotation should help solve it – if you don't have index yet, it will be created for you. Then you can still remove it from admin command. We should admit: that state of affairs when you need index in many cases is because of slow full table scans in curre

[2015-08-07 20:48] per-samuelsson commented on #2839
In the perfect world, the application developer should be able to easily state some default indicies, shipping with the app. And those indicies can be complemented, or even removed/overridden, later, at the deploy site (by some administrator).

I guess the tricky part with such approach would be how to allow configuration to remove a declarative index (and prevent it from being recreated at every

[2015-08-07 21:58] per-samuelsson commented on #2841
Just like @mtornwall says, it relates to the unload. When you issue either `staradmin unload` or `staradmin reload`, they get executed by means of an internal application. Which, unfortunatelly, stays resident in the code host.

Eventually, we'll make these apps more transparent, and have the act like single-purpose tools. The design to have them modelled like apps are fine, but the fact they are

[2015-08-08 11:24] Ripipip commented on #2827
Yes, it works now. Thank you!

[2015-08-08 11:24] #2827 closed

[2015-08-08 11:25] mtornwall commented on #2840
Excellent, that will work fine for me until a fix arrives. :-)

[2015-08-08 11:38] mtornwall commented on #2839
Agreed.

Perhaps there could be some form of blacklisting mechanism whereby the administrator can list indices that shouldn't be created if missing.

[2015-08-08 12:16] per-samuelsson commented on #2839
I was thinking more like DROP INDEX support, but like I wrote earlier, the problem with that is that Starcounter would recreate the index when the code model was rediscovered. Your suggestion wouldn't suffer from that. Good one!

[2015-08-08 12:28] mtornwall commented on #2839
Alternatively, perhaps there could be a way of creating null indices that are never selected by the query planner and that don't consume any space (`CREATE NULL INDEX ...`), but still exist and prevent a real index from being built.

[2015-08-08 18:02] per-samuelsson commented on #2839
I'm not an expert on DDL, but if this is not a standard, I vote against it. I think the first suggestion with a blacklist / disable config is better.

[2015-08-08 19:27] miyconst commented on #2841
I would be nice to close the up after the job done, or name it nice, not like some tech name which would confuse the new users.

Closing the issue.

[2015-08-08 19:27] #2841 closed

[2015-08-08 19:35] per-samuelsson commented on #2841
Agree. Like I wrote: its a bug that its not like that.

The name was designed like it was to minimize the chance that it would clash with some user application. The whole idea was that the name would never be visible to the user. If it would terminate right after it completed, you would have never seen it.

[2015-08-09 03:55] mtornwall opened #2842 "LIKE with empty string parameter throws"
When the `LIKE` operator is used with an empty parameter, attempts to access the `First` property of the result object (or iterate over its elements) throws an `IndexOutOfRangeException`. Code to reproduce:

[code]

[2015-08-09 23:56] alemoi opened #2843 "Exposing gateway reverse proxy configuration in Administrator"
I added initial support for host-header-based reverse proxy in gateway. Its reflected in scnetworkgateway.xml (there is an example of usage there). Also reverse proxies information is contained in gateway statistics: 127.0.0.1:8181/gwstats

Ideally gateway proxies should be editable from Administrator, where the Apply button will call GET 127.0.0.1:8181/UpdateConfiguration (will rename it to /GwUp

[2015-08-10 06:42] parherman commented on #2823
Will add a test case for this to to the acceptance tests, added a task in https://github.com/Starcounter/CompanyTrack/issues/72

[2015-08-10 12:14] alemoi commented on #2723
No progress yet, but I will check this tonight! :)

[2015-08-10 12:15] warpech commented on #2843
What's the current name for this handler? `/gw/updateconfiguration`?

[2015-08-10 12:19] alemoi commented on #2843
Yes, I changed it to this.

[2015-08-10 12:20] alemoi commented on #2843
This change however will be available in the following nightly.

[2015-08-10 19:28] eriohl commented on #2840
Resolved. Fix included in next build.

[2015-08-10 19:28] #2840 closed

[2015-08-10 21:01] eriohl commented on #2807
Done.

[2015-08-10 21:01] #2807 closed

[2015-08-11 00:07] alemoi commented on #2835
The initial solution is implemented and considered OK for the moment. I have updated the network gateway documentation: http://starcounter.io/guides/network/networkgateway/
The remaining part is to add nightly tests for this.

[2015-08-11 00:34] alemoi commented on #2723
I was a bit struggling with this tonight to get some workaround because not familiar with the code. Just pushed a possible solution via 10f3f1fc7012c5083385abcbd98c60543bfd532b
Please @chrhol review the change and probably correct it :)
@miyconst thanks for testing it!

[2015-08-11 05:43] parherman commented on #2837
We do not need to implement/use SemVer in order to be able to pin version or keep weekly builds, both of which I think are good ideas.

If we want to adopt SemVer I think we should define a Release processes and evaluate whether we brake backwards compatibility or not so that we can set the Major.Minor.Patch accordingly

[2015-08-11 06:30] miyconst commented on #2723
The issue is solved. Thank you @alemoi.

[2015-08-11 06:30] #2723 closed

[2015-08-12 07:53] k-rus commented on #2839
We discussed a system of warnings, which will help admin to tune the database. For example, warnings can be added on full scans.

Thank you for pointing to the configuration and tuning issues with indexes. I agree it is not a simple question and has to be well thought.

[2015-08-12 12:39] careri opened #2844 "Minsk, service wrapper questions."
Hi!

I'm writing a service wrapper for minsk.exe, and it's working nice with a couple of exceptions:
1. How do I stop minsk.exe nicely, when running interactive there is a button to push. What does this button do? Can the shutdown be invoked through sockets? I'm using Process.Kill at the moment, is this safe?
2. Does minsk only work with swedish culture? I run into this problem on an english OS:

[2015-08-12 12:58] alexanderstc commented on #2836
A working prototype on the branch CleanMetalayer-alexander. Still need to implement Insert base table's fields in the metalayer generator; make setspec creation code use letters other than a-z.

[2015-08-12 13:00] alexanderstc commented on #2831
A working prototype on the branch CleanMetalayer-alexander. Still need to implement Insert base table's fields in the metalayer generator; make setspec creation code use letters other than a-z.

[2015-08-12 13:08] mtornwall commented on #2801
@miyconst I've tinkered a bit with this lately and it appears that the Starcounter application name is copied verbatim from the assembly name as configured in the project properties dialog.

[2015-08-12 22:45] dan31 commented on #2837
Pinned weekly-s feels a very good match – minimal step towards better release scheme we can afford now, and no need to decide what to pin. @andwah, @alemoi directed me to your department regarding the download server :) I assume there isn't enough storage on it to keep all weekly?

[2015-08-13 06:35] k-rus commented on #2842
Thank you for reporting the bug and simple way to reproduce! I will investigate.

[2015-08-13 09:33] k-rus commented on #2148
I cannot fix this problem. Can anyone give better instructions? I added the assembly to GAC, but I still get the error. It is showstopper for me to investigate a reported bug.

[2015-08-13 09:46] k-rus commented on #2148
The missing step for me was to rebuild Level1 solution. So it is resolved for me.

[2015-08-13 10:57] mtornwall opened #2845 "Moving and renaming database types"
My data model is changing frequently and I often need to rename types or move them between namespaces. I expect I shall have to do this even after my product is in production. Are there any facilities in Starcounter for renaming the tables so that I don't lose data?

[2015-08-13 13:34] k-rus commented on #2801
Sorry, that we haven't replied the last question. I think @per-samuelsson will confirm @mtornwall's finding.

[2015-08-13 17:04] per-samuelsson commented on #2844
For durability of the database, I'm quite sure it is, yes. This is like 10 year old code we are talking about, but AFAIK, we've never had any released versions that haven't been safe in terms of durability.

For the rest, I can't really answer. Maybe @eriohl can share some, or else, maybe I can spend some time looking at the old code (but I have to get someone to get that old server up and running

[2015-08-13 17:42] dan31 commented on #2793
@Ripipip, does it work for you well?

[2015-08-13 18:30] dan31 commented on #2845
Hi @mtornwall, thanks for a good question.
A reasonable way to do schema migration is to manually adjust schema stored in a database to a suggested schema change of the code. To do this, changing metadata table records is a way to go. The metadata tables description is on pic below:
![metadatatables 1](https://cloud.githubusercontent.com/assets/7162535/9258038/6e246734-41f9-11e5-8ab7-f4b690ac7dfe.

[2015-08-13 18:41] eriohl commented on #2844
I'm not entirely sure about this but I'm pretty sure that Heads did the GUI (with the button) and most probably this file print you are referring to as well (I at least can recall seeing this file before).

You are running minsk.exe then?

[2015-08-14 07:09] careri commented on #2844
Strange didn't get a mail that you replied. Sorry for not responding.

I've decompiled your libraries. And the code being executed resides

    Minsk.Application.Runtime.Exit()

That just seems to set an event that exits the the Idle()-loop and shutsdown.

In the Start()-method of my service I spawn minsk.exe with the correct arguments, but there will be no GUI since it's running as a service.

Bu

[2015-08-14 07:11] careri commented on #2844
MinskDb.StorageStats is the class being written using DateTime.Now I guess.

Haven't found out where yet though, browsing the code

[2015-08-14 07:15] careri commented on #2844
MinskServer.LogEntry:

    LogName = logdir + logName + "_" + DateTime.Now.ToString().Replace(":","_");

Don't know who wrote that, but looks bad :)

[2015-08-14 07:37] per-samuelsson commented on #2844
If its bad, it was me! :wine_glass:

Me and @dan31 has also experienced severl such cases recently. It's probably a GitHub issue. I think @dan31 is following up on it with their support.

[2015-08-14 07:43] dan31 commented on #2844
Or this is GH + MS (which own our mail services). Still investigating.

[2015-08-14 08:09] careri commented on #2844
We'll in this case of looking bad I'm 100% sure I'm not the culprit. Nice for once :)

Ok, I'll try to keep in mind for now to manually check for updates here... that will probably work out...

[2015-08-14 08:16] per-samuelsson commented on #2801
The application name is taken from the name of the executable, so your finding is basically correct. However, this can also be overridden with a switch, ```--name``` (query `star` without arguments for help). This works equally in VS and in the CLI.

The CLI approach:

[code]

In VS you set the same thing up by specifying it in `Project | Properties | Debug | Command line arguments`. In that text

[2015-08-14 08:22] k-rus commented on #2845
Meta-data should never be touched. They must reflect the logical state of the schema in the kernel, i.e., the actual tables.
The meta-data are available to users only for read.

Somewhere I described how to change schema with the current implementation that it works, but I cannot find the issue.

Adding a new column or table is simple and is just by adding new field/property and new class in the c

[2015-08-14 08:59] warpech opened #2846 "Starting and stopping apps vs current sessions"
I'd like to discuss the best solution for accomodating starting and stopping of apps with current sessions.

The current problem is that:

- when an app is started, the existing sessions are NOT upgraded to include it
- when an app is stopped, the existing sessions are NOT upgraded to exclude it

Potentially we could do that using WebSocket push.

So far, we have solved the UX of AppStoreClient by

[2015-08-14 09:03] eriohl commented on #2844
Ok.

minsk.exe unloads the database properly on exiting call to Minsk.Activation.EntryPoint (calling SCCleanup). So it you want the database to be properly unloaded then ```Minsk.Application.Runtime.Exit()```. The AppDomain needs be unloaded before call to SCCleanup because this is the only way to ensure no other threads are accessing the kernel when this is done (this would be bad). If you just k

[2015-08-14 09:24] mtornwall commented on #2834
+1, this bit me in the beginning.

[2015-08-14 09:32] warpech commented on #2823
Any updates on this?

[2015-08-14 10:01] careri commented on #2844
Thanks. I've managed to setup a Starcounter.Channel. But any data I send just ends up in:

    IIoHandler.ChannelOpened(Channel channel);

Browsing the code suggests that I should end any data with the '\0' null char. But I just can't seem to reach:

    IIoHandler.MessageReceived(Channel channel, ByteBuffer message);

My message just gets thrown away somewhere along the path.
I'm intending to cal

[2015-08-14 10:25] eriohl commented on #2844
You need to call Channel.Read for it to read a message (in ChannelOpened and after each MessageReceived). Note that Channel.Read is not synchronous, MessageReceived is always called to process message (after call to Read). Have you done this?

[2015-08-14 10:51] careri commented on #2844
No, I figured it out about the same time as you responded. Thanks

[2015-08-14 13:17] careri commented on #2844
I'll close this issue. Got the server shutting down properly when invoked on the channel.

[2015-08-14 13:17] #2844 closed

[2015-08-15 16:08] mtornwall commented on #2845
Based on @k-rus explanation it sounds a bit laborious but rather straightforward. I may invest some time into automating most of this process as I know myself well enough to know I would mess this up sooner or later. :-)

Thanks for your answers.

[2015-08-15 16:08] #2845 closed

[2015-08-15 16:20] mtornwall opened #2847 "Starcounter HTTP handlers don't urldecode string parameters"
... as evidenced by the result of invoking a simple handler like:

[code]

with the query string `hello%20world` - the string is returned verbatim.

Arguably there may be cases where you actually don't want any urldecoding to take place. I propose that a special attribute be applied to such parameters to suppress decoding.

[2015-08-15 19:05] dan31 commented on #2845
@mtornwall, what would be your strategy to pilot new versions? The question is connected to your question. Let's say, you run v1 in production and have made a new version v2 with some names changed, some fields added. Now you want to migrate data and run v2. Is it enough for you to stop v1, run v1->v2 migrator (which is "automating most of the process") and then run v2. If not, we need to think ho

[2015-08-15 19:20] dan31 commented on #2845
@k-rus, looks like I was dreaming about better implementation in mind. I believe renaming should be improved in future versions (NB to me and you – address that in specs as a special point), since what you do there is changing only the metadata linkage to data layout, but not data layout itself.

Yes I know that in other DB's migrating table layouts is a tough op. At least, when I dealt with MySQL

[2015-08-17 06:34] miyconst commented on #2847
You can decode the values with:

[code]

But I agree, it would more "native" to decode the values on Handle level.

[2015-08-17 07:32] alexanderstc commented on #2831
There is some impression of slowness during setspec creation, or probably during meta-table creation, has to be investigated.

[2015-08-17 07:41] alemoi commented on #2847
Thank you for the question! This one is on me. I will get opinions around and get back to it.

[2015-08-17 07:43] mtornwall commented on #2847
I'm currently using `Uri.UnescapeDataString` to avoid a dependency on `System.Web`. But my point is rather that I think it would be reasonable for query string parameters to be decoded by default. :-)

[2015-08-17 07:48] miyconst commented on #2847
:+1: I asked @alemoi about such method in Starcounter, but was not pointed to this one.

[2015-08-17 07:53] #2842 closed

[2015-08-17 07:54] k-rus commented on #2842
The bug is fixed. Thank you for reporting!

[2015-08-17 07:59] alemoi commented on #2847
Thank you, I didn't know about this method myself :)

[2015-08-17 08:00] miyconst opened #2848 "Autostart (OFF) and Lock buttons don't stay on same row"
![image](https://cloud.githubusercontent.com/assets/6435556/9300473/0120b952-44cf-11e5-9ca3-ffb4ee49f9c5.png)

@andwah take a look, please.

[2015-08-17 09:17] k-rus commented on #2845
Good point that renaming will just change meta-data.

It is important to note that we need to provide API to specify renaming explicitly. Renaming cannot be decided implicitly by looking in changes in class definitions.

A side node about dropping a table: in addition to class definition table can be dropped by SQL query with `DROP TABLE` statement.

[2015-08-17 09:23] parherman commented on #2813
Unfortunately the test report parser that we use to parse and present the results from ctest in TeamCity, sees the result "The following tests FAILED: 22 - metalayer_functest (Not Run)" as a ignored test!

I have updated the job to fail if ctest has a non zero exit code, so the job will now fail with this example with "Tests failed" in the build log, but in the test report form TeamCity the test w

[2015-08-18 08:08] k-rus commented on #2802
Done. Only one rule was removed, which defined character type with length.

[2015-08-18 08:37] k-rus opened #2849 "Implement schema change API"
Implement the following API functions, which update database schema:

- [ ] Create table
- [ ] Create index
- [ ] Drop index

---

#### Create table

Draft of public API:
[code]
The input is then used to call the kernel and populate meta-data in the following way.
The input to the kernel function `stari_transaction_create_layout` and structure `STARI_COLUMN_DEFINITION`:
- `handle` is handle of tra

[2015-08-20 06:18] k-rus commented on #2849
Definition of `stari_transaction_create_layout` contains argument `attribute_flags`. The comment does not say more than the actual name. @eriohl Can you remind what this argument for and what are possible values of flags?

[2015-08-20 07:07] alexanderstc commented on #2813
I confirm the resolution, shall we close this?

[2015-08-20 07:31] parherman commented on #2813
Yes, I will close it

[2015-08-20 07:31] #2813 closed

[2015-08-20 14:32] andwah commented on #2748
I found out that the AppStoreServer is the cause, it sometimes returns an Error (503)
Server throws an exception: Input queue is full,

[2015-08-20 14:51] alemoi commented on #2748
Interesting what code causes input queue to be full? There is some intensive DbSession.RunAsync.

[2015-08-20 21:26] warpech commented on #2748
This also happens in playground environment, with a very high reproduction rate. Usually always fails for the first time after page load (tested while physically being in US west coast, playing with US west coast playground server)

<img width="1426" alt="screenshot 2015-08-20 14 24 19" src="https://cloud.githubusercontent.com/assets/566463/9396080/2dde2a0e-4747-11e5-94fd-19826f8a5330.png">

[2015-08-20 22:26] alemoi commented on #2748
I guess its some code in database application that intensively utilizes `DbSession.RunAsync()`.

[2015-08-21 06:42] warpech commented on #2847
I vote for decoding param value automatically. I cannot think of case in which this would be not desired. From my small research it looks that this is what both Rack (Ruby library that powers Sinatra) and ExpressJS do it.

[2015-08-21 07:34] alexanderstc commented on #2836
Implemented, closed.

[2015-08-21 07:34] #2836 closed

[2015-08-21 08:47] k-rus commented on #2849
Implementation of create index requires index on `RawColumn`, which requires that JSON to CPP conversions support inherited columns in index definitions. The index is defined in the json file in branch `FailedJsonGenerator` and building it fails.

[2015-08-21 09:32] k-rus commented on #2849
The first draft version of API and the specification of the implementation are completed. The API and details might need to be improved if so found during implementation or due to clients of the API need.

[2015-08-21 12:21] alexanderstc opened #2850 "DB Metalayer issues"
- [ ] Current implementation of setspec (#2831) uses a a-z ascii character set and order, which might not necessarily work with particular DB's collation, furthermore all characters of the type id collation needs to be used. When "collation per column" feature is available from the kernel, setspecs have to be implemented correctly.
- [ ] Create key buffer with a stack-based buffer of fixed length,

[2015-08-21 12:22] alexanderstc commented on #2831
Implemented (see #2850), closed.

[2015-08-21 12:22] #2831 closed

[2015-08-23 15:37] warpech commented on #2837
Yearly storage needed is about 2.8 GB for each installer edition.

If we reach a storage limit, it can be cheaply offloaded to Amazon S3 for $0.03/GB per month (additional prices apply for data transfer)

[2015-08-23 16:03] warpech commented on #2830
@alemoi I know you have worked on solving this. What is the current status?

[2015-08-23 16:29] warpech commented on #2843
I confirm it works

@alemoi can you update the docs at http://starcounter.io/guides/network/networkgateway/ to explain `/gw/updateconf` and close the issue?

[2015-08-23 17:54] alemoi commented on #2843
Thanks for reminding. Updated the Wiki. Let me know if anything else, otherwise you can close the issue.

[2015-08-23 18:04] alemoi commented on #2830
Thanks for reminding! Yes, I made work for this! Forgot to respond here. Basically its a redirect handler that can be changed (right now via REST, but should be in Administrator @warpech ). So, I will write here tomorrow on all the details.

[2015-08-23 18:48] per-samuelsson commented on #2823
I'm currently working on it.

@alemoi, where do you put breakpoints that fail? In the handler? In the entrypoint when registering it?

[2015-08-23 18:57] alemoi commented on #2823
I think I tried both, but for sure in handlers.

[2015-08-23 20:07] per-samuelsson commented on #2823
Why I'm asking is because I have different behaviours if I'm using handlers or not (!). If I use an application with an EP like this:

[code]

a breakpoint can successfully hit on the expression. But If I add the handler from OP right after it, I experience the same thing as you. :santa:

Anyway, I think thats better than if none worked at least, and i'm trying to find out know. I hope to have som

[2015-08-24 09:10] per-samuelsson commented on #2823
Monday update:

Theres clearly something weird going on here, but still don't know for sure what. I have noticed that that if I compile an application with more dependencies to Starcounter, the extended dump of it will produce a different result than from that of a simpler application. And what especially interest me is that COFF optional header RVA of the `Debug Directory` (studying the headers)

[2015-08-24 11:05] warpech commented on #2833
I mean that if I create a database dump using `unload`, it has hardcoded keys (e.g. `object 21`). See:

[code]

When I'm trying to reload this to a database, I need to be sure that object ids 21, 22, 23 are not already used. Otherwise I get an error:

[code]

The error code normally means that an internal feature, which is only for internal use, is used incorrectly. May be you use a wrong format i

[2015-08-24 11:07] per-samuelsson commented on #2823
Yeah, we've hit a rock here. I found the cause. It's a PostSharp thing. They've had the same in both Fody and Cecil, and they've fixed it. But for PostSharp 2.1, it's very clear [they **wont** fix it](http://support.sharpcrafters.com/discussions/problems/2783-unknown-custom-metadata-item-kind-6) (the 2.1 we use is dead).

We'll need to consider this in-house to see what our options are.

[2015-08-24 11:22] warpech opened #2851 "Unload can reuse ids of deleted objects despite errors"
While replying to https://github.com/Starcounter/Starcounter/issues/2833#issuecomment-134153384, I discovered an interesting case:

Scenario:
1. create some objects in the DB
2. make a SQL dump of these objects using `unload`
3. delete the objects in the DB
4. make some arbitrary changes in the dump and reload it using `reload`:

SQL:

[code]

Reload gives error:

[code]

Given such error, I would

[2015-08-24 11:26] k-rus commented on #2833
@warpech
I discussed this issue with @miyconst over chat and it was not reflected here. It was probably reflected in another issue. Unload/reload mechanism is only designed for its purpose and assumes newly created database. The only guaranteed way to create objects with references on existing database is to shift oids to the region where no allocation was done, however there is no support in API,

[2015-08-24 11:28] k-rus commented on #2851
It's definitely a bug.

[2015-08-24 11:31] miyconst commented on #2833
@k-rus in the discussion you mentioned, I asked how to determine the last occupied id, I might be wrong, but looks like the easiest way is to create an object and read its id.

[2015-08-24 11:37] warpech commented on #2795
Case closed, thanks :)

[2015-08-24 11:37] #2795 closed

[2015-08-24 12:05] k-rus commented on #2851
The load script fails only the last insert. Having all inserts, but the last/failed in the database is expected. While having the failed insert in the database is incorrect. Do we need to investigate why the failed insert is committed? It will not change how the reload/unload is used, since other inserts succeed.

[2015-08-24 12:19] k-rus commented on #2833
Yes, I think too that this is the easiest way.

[2015-08-24 13:33] miyconst commented on #2814
Any progress on this issue?

[2015-08-24 13:36] miyconst commented on #2814
Having same issue when deleting an object inside a `Db.Scope`.

[2015-08-24 14:07] warpech commented on #2851
Thanks for helping me read through the error. The error was so long that I thought all 3 inserts failed.

As it turns out, the last insert fails correctly as one would expect. The object that I see in Administrator (ObjectNo 2323) is actually the old object that was not deleted by People app (bug in People app).

[2015-08-24 14:07] #2851 closed

[2015-08-24 14:08] k-rus commented on #2851
Thank you for clarifying!

[2015-08-24 14:38] #2843 closed

[2015-08-24 14:49] alemoi commented on #2830
I have now described the solution on http://starcounter.io/guides/network/aliases-and-redirects/
@andwah can provide a GUI in Administrator to make it simpler.
Notice that the same way your application on startup can register a redirection via `Http.GET(8181, "/sc/redirectroot/8080/myapp");` if the system port is 8181 for this example.

[2015-08-24 15:23] warpech commented on #2830
Thanks for the description! To use the correct HTTP terminology, I think this is an alias, not a redirection. I edited the article to use the word "alias".

[2015-08-24 15:26] alemoi commented on #2830
The thing is that it uses redirect underneath (302), that's why I call it redirect.

[2015-08-24 15:49] warpech commented on #2830
Hmm... But from the client's perspective it is not a redirect, because I keep seing `/`. If it was a real redirect then you would send 302 to the client

[2015-08-25 08:37] warpech opened #2852 "Administrator doesn't work in IE11"
This is most probably to missing URL API, which can be fixed by a shim. Screenshots:

![image](https://cloud.githubusercontent.com/assets/566463/9462312/31e96844-4b15-11e5-89ee-7bdb6845a8cb.png)

![image](https://cloud.githubusercontent.com/assets/566463/9462319/406d6fdc-4b15-11e5-899a-3b3d9f104df4.png)

[2015-08-25 08:37] parherman commented on #2716
We continue to use IF ERRORLEVEL 1 like before so that we avoid problems with %ERRORLEVEL% not containing the last ERRORLEVEL

[2015-08-25 08:37] #2716 closed

[2015-08-25 08:50] parherman commented on #2799
Added a task about this in:
https://github.com/Starcounter/CompanyTrack/issues/72

It might be good to have switches so that we can support more options when running cmake_vs.bat - but like @k-rus noted cmake and ctest options/switches do not align so it would give us a consistent interface across all our cli tools

I will close this now since the original issue is resolved.

[2015-08-25 08:50] #2799 closed

[2015-08-25 09:21] warpech commented on #2852
@tomalec do you think we could add an error in PuppetJs, such as: "URL API not found in your web browser. Please add a shim, for example Polymer/URL"? For a developer who doesn't read the README.md this would help to solve the problem

[2015-08-25 09:23] warpech commented on #2837
Somehow related to https://github.com/Starcounter/Starcounter/issues/2443

[2015-08-25 09:23] tomalec commented on #2852
I think we can, but I would do it only once at script load.

[2015-08-25 09:25] miyconst opened #2853 "Starcounter service error"
Such error appears when I start an app in the Playgrounds:

![image](https://cloud.githubusercontent.com/assets/6435556/9463181/d4f61ae6-4acf-11e5-95e4-a8827ad4cb72.png)

In spite of the error everything works fine. The administrator log does not have any entries for this error. Starcounter version: `Polyjuice-DevelopDailyBuilds-2.0.10293`.

@alemoi does this error indicates some invalid xml in th

[2015-08-25 09:29] warpech commented on #2852
Sounds good

Btw. If you need to add a new file to Administrator, remember to add it (can be manually) to https://github.com/Starcounter/Starcounter/blob/bda4866206d53dbff897113a116e2362218b09fb/src/Starcounter.Administrator/Starcounter.Administrator.csproj or otherwise it will not be included in the installer.

[2015-08-25 09:41] alemoi commented on #2853
Hard to say, because I am not sure when the gateway configuration is read by the administrator. We should ask @andwah :)

[2015-08-25 10:28] warpech opened #2854 "Roadmap to Polymer 1.1"
This is an umbrella issue to discuss the process of upgrading all our Web Components and sample apps to Polymer 1.1.

Deadline: 1 October 2015

## Milestone 1 - Proof of concept
- [x] [Create dom-bind-notifier to sync template with JS object](https://github.com/Juicy/dom-bind-notifier) (@tomalec)
- [x] [Create SysUpgrade repo with static files for Polymer 1.1](https://github.com/Polyjuice/SysUpgra

[2015-08-25 10:43] warpech commented on #2854
I created a blog post: http://starcounter.io/nightly-changes/roadmap-to-polymer-1-1/

Any comments?

[2015-08-25 11:37] andwah commented on #2853
Can you check for entries in the Windows Event Viewer?, search for ```Starcounter TrayIcon``` as Source under ```Applications```.

The Starcounter Tray program  tries to get the ```SystemHttpPort```
from the ```Personal.server.config```file.

As far i know it does not reads from ```scnetworkgateway.xml```

[2015-08-25 12:50] mtornwall opened #2855 "object.MemberwiseClone produces distinct but somehow aliased objects"
When using `object.MemberwiseClone` on an object to get a shallow copy I expect the following:

   1. The two objects are distinct in the sense of `object.ReferenceEquals`. This property is satisfied for Starcounter database objects.
   2. Changes to a primitive field of the original don't affect the clone, and vice versa. This property is *not* satisfied, as demonstrated by the repro below.

In m

[2015-08-25 12:55] mtornwall commented on #2855
A small addendum: It turns out they even have the same database ID, which arguably is the real bug here. :-)

[2015-08-25 13:40] miyconst commented on #2814
After note from @warpech I did like this:

[code]

And deleting works. It should be documented somewhere, that the object should be manually detached from json after/before deleted.

[2015-08-25 13:59] miyconst commented on #2853
Windows event log says:

[code]

[2015-08-25 14:00] miyconst commented on #2853
What is the location for this file `Personal.server.config`?

[2015-08-25 19:08] per-samuelsson commented on #2855
@mtornwall

Thats an interesting case you are presenting. Thanks for taking the time to do so! And the short answer is: you are right. This is exactly how Starcounter operate.

`object.MemberwiseClone` create shallow copies of heap objects, and basically copies their instance values (as you probably know). Fields of reference types are copied, but the referenced object is not (as opposed to the se

[2015-08-25 21:02] warpech commented on #2853
It is configured in installer as "Server (databases repository) path". By default it is "C:\Users\<user>\Documents\Starcounter\Personal"

[2015-08-26 05:43] k-rus commented on #2855
Thank you @per-samuelsson for the good explanation. I just want to add that the following statement is true:
[code]
This is because of VMDBMS technology that the data are stored in one place - database memory. Thus changing properties is reflected immediately and visible during accessing properties in the same transaction.

[2015-08-26 07:17] miyconst commented on #2853
Here is the content of the file, seems to be a valid xml document.

[code]

[2015-08-26 08:21] mtornwall commented on #2855
Thanks for the background @per-samuelsson!

Based on your description I think I have a pretty clear mental model of how Starcounter database objects behave.

The problem (in light of your comment about EF I'm hesitant to call it a "bug") in my opinion is that since Starcounter objects *behave* just like normal CLR objects in almost every respect - which, of course, is a good thing - it's an easy m

[2015-08-26 08:40] chrhol commented on #2814
Sorry for the late response.

Yep, agree. However it should work without it as well I think. We need to see that an object have been deleted when we gather changes to be sent to the client and properly handle it when the viewmodel is stateful.

I'm working on fixing this and will try to find some place to add the solution in the previous comment in some documentation.

[2015-08-26 08:47] andwah commented on #2853
It looks like the call to ```http://localhost/8181/gw/stats``` do not return the full response body, it seems there is a limit of 64k (or someting close to that) for the response body,

@alemoi  Can you check if there is a such limit for the response?

[2015-08-26 09:05] per-samuelsson commented on #2855
This is a very good point, and I agree. In fact, there are other areas relating to this we have been concerned with in the past. The biggest thing, from the top of my head, is the issue with the semantics of the `==` operator. We simply can't solve it in a good way today. So we advice `Equals`. See #1694 for the nitty gritty details.

I think our best shot at this is to be clear and precise in *do

[2015-08-26 09:13] warpech commented on #2854
@miyconst could you provide a list of custom elements and apps for milestones 2 & 3?

[2015-08-26 09:15] mtornwall commented on #2855
That would be great to have, particularly upon first contact with Starcounter. I'd be happy to contribute tales of some of my own mistakes and misconceptions.

It makes perfect sense and looks much as I would have expected. Thanks a lot! :-)

[2015-08-26 09:21] alemoi commented on #2853
Thank you for finding! @andwah yes, current limit is actually 64K. I will try to remove it. Meanwhile you can modify the MAX_STATS_LENGTH in gateway to 256K (1024 * 256), you can push this change.

[2015-08-26 10:04] miyconst commented on #2854
Added list of components to start upgrading, other will add later, if found any.

[2015-08-26 10:33] warpech commented on #2854
Added hot-table to the list. Added responsible persons to the work items

[2015-08-26 13:11] warpech opened #2856 "Windows 10: installer freezes in default Parallels VM"
Trying to install Starcounter in default Windows 10 evaluation machine acquired from http://dev.modern.ie/tools/vms/

The installer freezes on system requirements check if the system requirements are not satisfied.

Frozen installer looks like this (the wheel is not spinning):

![image](https://cloud.githubusercontent.com/assets/566463/9493995/c50f4974-4c03-11e5-8d8e-0a73003dcb48.png)

Windows 10

[2015-08-26 13:12] k-rus commented on #2856
Related #2832

[2015-08-26 13:15] warpech commented on #2856
Difference from #2832 is that after increasing VM setup to 4 GB RAM & 2 CPU cores the installer succeeds.

[2015-08-27 05:50] parherman commented on #2856
Related https://github.com/Starcounter/Starcounter/issues/2759

[2015-08-27 06:44] per-samuelsson opened #2857 "Write article: What every C# developer should know about Starcounter"
From #2855

And we even have a volunteer contributor - @mtornwall! From the same issue:

@warpech, do we have some good place for such an article over on [starcounter.io](http://starcounter.io/) maybe?

[2015-08-27 06:47] per-samuelsson commented on #2855
@mtornwall

I've opened up #2857 for the suggested article. Let's see how it turns out. I'm closing this one for now. Let me know if you want it reopened. And thanks for all the valuable feedback!

[2015-08-27 06:47] #2855 closed

[2015-08-27 06:55] per-samuelsson opened #2858 "A few minors about the starcounter.io blog"
* Lets try not to have any blog entries be written by ["admin"](http://starcounter.io/author/admin), even if its "just" announcements. Blogs should be personal.
* A thumbnail photo next to names will make our blog portal more human. Second best is photos if you click on the name.

/cc @warpech @dan31 @tomalec

[2015-08-27 07:24] peterbergman opened #2859 "Create index from Web Administrator"
I am trying to create an index from the web based admin console with the following SQL:

[code]

However, this fails and gives me the following exception:

[code]

Am I doing it wrong or is this a bug?

[2015-08-27 07:28] k-rus commented on #2859
Thank you for your question.
Only SELECT statements are supported from Administrator. Related issue #2834.

[2015-08-27 07:34] peterbergman commented on #2859
I see, thank you for the information. But, DELETE seems to work as well?

[2015-08-27 08:46] warpech commented on #2858
Good ones! I'll do it

[2015-08-27 09:03] per-samuelsson commented on #2859
Refined the title, not to confuse it with `staradmin` command-line (i.e. "console") admin tool.

[2015-08-27 09:30] warpech commented on #2858
Done

[2015-08-27 09:52] warpech commented on #2857
Definitely we should find a fit!

So far, we have moved the material about Puppet web apps, RESTful web apps, Network and Typed JSON from GitHub wiki to starcounter.io

Now we need to create (or move) material regarding weaving with your help (and database stuff with @k-rus's help). Let's sit together on this.

Related: https://github.com/Starcounter/Starcounter/issues/1572

[2015-08-27 10:04] Ripipip opened #2860 "ScErrOutOfSharedStorageAbort (SCERR8012): The transaction was aborted because of a failure to allocate shared storage memory"
I get these kind of crashes. Most likely because of a bad relation between size of database and memory.

Any help is appreciated.

ScErrOutOfSharedStorageAbort (SCERR8012): The transaction was aborted because of a failure to allocate shared storage memory

[2015-08-27 10:19] eriohl commented on #2860
This error generally occurs when the memory on the machine is running low.

If not then is could be that either your OS for some reason doesn't allow you to allocate more memory or you created the database image for a smaller machine with less memory (could be the case if the database image file is created on a different machine).

If you could send us your event log (starcounter.??????????.log) w

[2015-08-27 10:34] pal88 commented on #1939
VS file is a virus according to AVAST!!!

[2015-08-27 10:43] Ripipip commented on #2860
I got the file, but how do I send it to you in the best way? Can you call me on hangout?

[2015-08-27 10:45] warpech commented on #1939
To expand the problem - some antivirus software detects Starcounter as false positive.

This is because Starcounter uses code generators which may look like a virus to some heuristic algorithms.

I think the best way to improve this situation is to notify the antivirus vendor. There is an extensive list of false positive reporting pages here: http://www.techsupportalert.com/content/how-report-malw

[2015-08-27 11:12] warpech commented on #2854
Added a link to juicy-tile-list and marked hot-table as done

[2015-08-27 11:27] per-samuelsson commented on #2857
Off-topic:
@dan31, still struggle w/ not getting notifications; didn't get @warpech one from hours ago. And I have made the switch to personal gmail-account. Any news?

On-topic:
Reminder to include in the article: how *readonly* fields are bound.

[2015-08-27 12:24] dan31 commented on #2857
@per-samuelsson, so you don't even get them to your gmail account?

[2015-08-27 12:27] per-samuelsson commented on #2857
Nope. Some, but not all of them. Randomly. Just like before. I got this one you just wrote, but not the one posted by @warpech [here](https://github.com/Starcounter/Starcounter/issues/2857#issuecomment-135368073).

[2015-08-27 13:23] alemoi commented on #2853
I rewrote the code so the limit is gone now. The changes are not yet pushed though, but will happen soon.

[2015-08-28 06:22] per-samuelsson commented on #2849
Just a very minor detail: its probably wise to either isolate to a central spot the built-in assumption of a dot as a separator, or have it defined as an (internal) parameter/setting. IMO, this is one thing that can differ between qualified names in different contexts.

[2015-08-28 06:38] k-rus commented on #2849
It is necessary to use one build-in uniform separator to allow efficient search on identifiers in meta-data. The natural choice is dot, which is the separator in client APIs: C#, Javascript, C. Our SQL uses dot too.

[2015-08-28 09:20] mtornwall commented on #2856
@warpech @parherman Probably a duplicate, even. It looks like the exact same problem.

[2015-08-28 09:38] dan31 commented on #2856
@alemoi @andwah Let's address the issue and #2832 next week together with other installer pimping.

[2015-08-28 12:24] warpech opened #2861 "Response merging from multiple apps should be always ON"
As part of https://github.com/Starcounter/CompanyTrack/issues/92, we need to turn "Polyjuice" functionality into the core functionality. This includes removing of PolyjuiceDatabaseFlag.

One of the features enabled by the flag nowadays is response merging from multiple apps.

As discussed with @Starcounter-Jack, this should be a default behaviour, not an opt-in behaviour.

In case a `Self.GET` han

[2015-08-28 12:30] warpech opened #2862 "Create EnforceURINamespaces flag"
As part of Starcounter/CompanyTrack#92, we need to turn "Polyjuice" functionality into the core functionality. This includes removing of PolyjuiceDatabaseFlag.

One of the features enabled by the flag nowadays is strict checking if the HTTP handlers have the app name as the first segment (`/myapp/...`).

This makes the development experience harder, because it:

- requires newcomers to learn a sop

[2015-08-28 12:30] tomalec commented on #2854
WDYT about upgrading juicy.gihub.io to Polymer 1.1? 8 of 19, including most crucial elements are already Polymer 1.1 ready:
`juicy-tile-list`, `juicy-tile-grid`, `dom-bind-notifier`, `juicy-html` + less importand ones `juicy-ace-editor`, `juicy-markdown`, `juicy-markdown-editor`, `juicy-filedrop`

It would simplify branching flow, demo pages, etc.

[2015-08-28 12:34] miyconst commented on #2854
`juicy-tile-grid` is not ready yet.

[2015-08-28 12:36] tomalec commented on #2854
ah, sorry, then 7/19

[2015-08-28 19:59] per-samuelsson commented on #2862
What exactly are the effects of that its turned off? When would I hit an error if its off?

Isn't it possible to derive the application name from the context the handler is defined in, rather than enforcing it as part of the URI? After all, handlers are always bound to a certain (i.e. the registering) app, no? I have some memory that I was part of some discussion/implementation some time ago..

[2015-08-28 20:04] per-samuelsson commented on #2862
[code]

[2015-08-28 20:20] per-samuelsson commented on #2861
It also governs if additional, SO-libraries should be brought in and be part of the schema, no? And if it does, having it always turned "on" (i.e. by removing it), we will surely suffer from a lot more clashes once SO grows and/or more developers join in.

Consider classes like Person, Event, etc. With SO part of any application, doing a `SELECT e FROM Event e` in a smallish application with an Ev

[2015-08-29 10:54] per-samuelsson commented on #2859
@k-rus, can you confirm/deny this? And then close this issue?

[2015-08-29 11:57] k-rus commented on #2861
Ambiguity is raised in SQL only if user's `Event` was declared in a namespace. I.e., user needs always specify namespace and cannot omit it, which probably is not big deal for users.

[2015-08-29 12:26] k-rus commented on #2859
I was told that Administrator implementation supports only SELECT statement. I guess only @andwah can confirm what actually is supported. Another problem, I don't really understand @peterbergman question.

In general, use of DELETE is not recommended, since it is not efficient and it fails on large tables.

[2015-08-29 13:40] andwah commented on #2859
The Administrator uses ```Db.SlowSQL(query)```, so everything that  ```Db.SlowSQL(query)``` supports can be used in the Administrator Query window.

[2015-08-29 13:45] k-rus commented on #2859
Actually, another important implementation detail, which affects supported queries, is used transactions. How does Administrator deal with transactions when it processes queries? Note, that `SlowSQL` executes all supported queries including CREAT INDEX and DELETE, however CREATE INDEX failed due to an error related to transactions.

[2015-08-29 18:16] andwah commented on #2859
Thats excellent, then ill just need to take a look on how transactions are handled and fix that.

[2015-08-29 18:36] dan31 commented on #2861
@k-rus @per-samuelsson Is it possible to change the binding layer in 2.0 so that it resolves ambiguity towards a local model? I.e., ```SELECT e FROM Event e``` will resolve to a local app's Event, if it is present, otherwise – up to the closest in hierarchy through facets/Simplified models/up to SO. This behaviour is aligned with a vision of AppIOS, and it is non-intrusive for hello-world apps tha

[2015-08-29 19:34] k-rus commented on #2861
Am I understand correctly that short name of a table  can be used only with local data model? I.e., `select e from event e` will resolve to user defined table `UserNamespace.Event`or will return error if no tables with name `Event` were defined even that the database contain class `SO.Ring1.Event`?

I don't know how much work is required and if it is possible without looking into source code of bi

[2015-08-30 08:12] per-samuelsson commented on #2861
Yes, this is exactly the thing I proposed. Its basically "just" having the short name generation be aware of different contexts - in the first version two is fine I guess: user application and underlying SO-model. For classes with same short name, user application gets preceedence.

If two user applications use same short name, it needs to be fully qualified in queries (if we can't always pin to a

[2015-08-30 16:51] peterbergman commented on #2859
Ok, I just noticed that DELETE seem to work and wanted to point that out for your information.

About index creation, if it could be supported through the web administrator that would be great. In my opinion, creating and managing indexes is a typically administrative task. Having to do this from the application code is really inconvenient.

[2015-08-30 20:31] dan31 commented on #2861
Yeah, that's true! So there are two ways – climb to the tower from local model to uppers in resolution, or just search in local and produce error if not found. I incline to the latter, since it emphasises app locality. @per-samuelsson I see you incline to it as well for the first version (we can change it later on, now we want to probe it in real use).

@per-samuelsson You mean in Admin queries? S

[2015-08-30 22:19] alemoi commented on #2862
For example, if a public App1 registers a root handler / which app-composer or administrator would like to alias somewhere else, like to /people.

And yes, we had discussions about that previously to e.g. implicitly prefix appnames but that didn't work because of too many "automatic" things and some other reasons. But please give a suggestion if you have something!

[2015-08-30 22:22] alemoi commented on #2853
The complete fix is pushed via b088041e35d69738f4bbc48a72f627bdd262ff81
Now the gateway statistics can be any-size.
Closing the issue.

[2015-08-30 22:22] #2853 closed

[2015-08-31 06:16] per-samuelsson commented on #2862
Aha, ok. That I can understand.

OK. To be honest, I don't like those "automatics" either, I was just trying to be a little creative, since I think the enforcment of application name in URI's is quite unsexy, in terms of simple applications and for those that want to use Starcounter in the simpler way. But maybe its a neccessary evil we'll have to live with.

Sorry I don't really have any more tha

[2015-08-31 06:16] parherman opened #2863 "InvoiceDemo1 fails because: Application can only map to handlers starting with "/polyjuice/"."
InvoiceDemo1 and acceptance tests InvoiceDemo app contains:

[code]
And that fails with:

since commit b088041e35d69738f4bbc48a72f627bdd262ff81

Is this change related to https://github.com/Starcounter/Starcounter/issues/2862?

@alemoi, @warpech how should InvoiceDemo1 and acceptance tests be updated?

[2015-08-31 06:25] per-samuelsson commented on #2861
I mean that if I do `SELECT p FROM Person p` from within a method within say "app1", it should be easy to get the right result even if there is Person classes in running apps "app1", "app2" plus underlying SO. I just pick the one closest to my local model (i.e. `app1.Person`) in this case.

Doing the same query from the web administrator would raise an error though, since quieries there are *scope

[2015-08-31 10:28] alexanderstc commented on #2850
Create key buffer with a stack-based buffer of fixed length, and a bigger dynamic buffer in case the fixed one is too small.

[2015-08-31 14:18] warpech commented on #2862
Thanks for creative approach, as usual. As a developer, I think that the URLs should be exactly the same as I defined them. Enforcing app name as the first segment is Starcounter's way to prevent ambiguity when running multiple apps. If we ever find a better way (hinting, etc), we can loosen up the constraint.

This ticket is only about making optional the thing that is currently strictly enforced

[2015-08-31 15:02] mtornwall opened #2864 "Add Host field to UriAliases in the network gateway configuration"
I was very pleased to find that the network gateway has some URI rewriting functionality. The only thing I'm missing is the ability to make the rule predicated on the contents of the `Host` HTTP header field. For example, I would like to be able to set up a configuration like this:

[code]

Is this something that exists already, and simply hasn't been documented? If not, could it be implemented? O

[2015-08-31 17:13] warpech commented on #2861
Maybe then there should be another database flag "Load SO libraries", and let it be "on" by default?

Ideally, as the app developer I should not be forced to put my class names in a namespace at all (because isolation from other apps is assumed). When I use an ambiguous table name in a query, could SQL go through the class definitions in the current app's code? In most cases I will have only one d

[2015-08-31 17:20] dan31 commented on #2861
I vote for @warpech suggestion. It would be good to prohibit SO operations in apps, I think today it isn't that critical. Critical would be to have that local model name resolution. The same time, SO is not really yet another DLL, but an essence of future AppIOS. Future internals of SO (should it be not C#-based class hierarchy, but somewhat closer to kernel and language-agnostic) inside Starcount

[2015-08-31 18:07] warpech commented on #2861
Would creating a "Load SO libraries" flag and keeping it "on" by default solve the objections in this issue?

Other topics should be most probably be separated from this issue:
- solving the table name ambiguity
- siloing of the app data

[2015-08-31 18:14] per-samuelsson commented on #2861
Yes, this is the very essence of this whole matter, and more or less what we have proposed above (with somewhat different approaches). The clause

should be our guiding star IMO. We should strive hard to achive that, and when we have several options, go back to that for guidance.

[2015-08-31 18:17] per-samuelsson commented on #2861
Not really. We must implement the other stuff too, most importantly this thing that we favor the short name of types in the local model, and don't consider them ambiguous when coliding with classes from "built in layers" (like SO and/or simplified mappings).

[2015-08-31 18:49] warpech commented on #2861
Polyjuice is the default edition linked on .io, so for our intended usage ambiguity is not a new problem.

It will only be a new problem for the legacy users, but they can be asked to set the "Load SO libraries" flag to off.

-----Original Message-----
From: "Per Samuelsson" <notifications@github.com>
Sent: ‎31/‎08/‎2015 20:17
To: "Starcounter/Starcounter" <Starcounter@noreply.github.com>
Cc: "Mar

[2015-08-31 22:06] alemoi commented on #2864
There is work needs to be done for this to happen. The reason is that URI location is always predefined in HTTP request, while Host header can appear anywhere. So I need to parse the whole HTTP header first and then do URI matching.

[2015-08-31 22:09] alemoi commented on #2862
I just added EnforceURINamespaces locally. Not pushing because there are a lot of other changes related to total removal of Polyjuice footprints.

[2015-08-31 22:15] alemoi commented on #2861
The MergeJsonSiblings flag is added locally (Polyjuice flag removed). The problem of having SO in one installer still persists. As I understood from the discussion, even if we prefix all SO SQL names with "So", e.g. Person -> SoPerson we will still have problems when one app defines a class "Person" and another app does the same. This problem with SO is quite urgent right now.

[2015-08-31 22:24] dan31 commented on #2861
@k-rus, we now centre our hopes in you, can you please check if there is a way to add that ambiguity resolution with local model priority to 2.0?

[2015-09-01 08:26] mtornwall opened #2865 "Using HTTPS with Starcounter"
Is there currently any way of configuring Starcounter to speak HTTPS in addition to (or instead of) HTTP?

[2015-09-01 08:52] dan31 commented on #2865
@mtornwall, not in current version. @alemoi, do you think we can provide a short tutorial on .io explaining how to setup https around Starcounter using some 3-rd party web front-end like nginx?

[2015-09-01 08:59] mtornwall commented on #2865
I imagine it would be straightforward to set up nginx as a frontend except, perhaps, for WebSockets. I will take a look at this sometime this week. If I get it working I can contribute the documentation, if you'd like.

[2015-09-01 10:02] alemoi commented on #2865
I guess we would have to cover a few major HTTP servers in this case. Currently as @dan31 mentions, HTTPs is not supported by Starcounter.

[2015-09-01 14:46] Ripipip opened #2866 "Unexpected critical windows error detected"
The apps in production crashed with this error in the log

20150901T160400 Critical sc://testserver1/personal/default Starcounter - Unexpected critical windows error detected at "void __cdecl _swap_scheduled(struct __SH_CTXT *,struct __PU_CTXT *,struct __WT_CTXT *,unsigned long,struct __WT_CTXT *,int)" (error=6).

I haven't been able to reproduce the issue.

[2015-09-01 15:38] dan31 commented on #2865
@mtornwall That'd be great if you can summarise your experience as an article!
As for HA/failover scenario over HTTP, some time ago we did a setup of nginx with something like this (might be useful as a starting point):
[code]
I'm not sure whether NGINX would allow for WebSockets over HTTPs. NGINX was a choice in that case because of Windows support. If proxying through Linux-machine for HA scenar

[2015-09-02 10:45] alexanderstc commented on #2850
In case an index is not unique, generate not a By...() function, but a MakeKey() functions with the same parameters to create a key which can be used together with db_iterator.

[2015-09-02 12:31] alexanderstc commented on #2850
Propagate detailed error messages to the user.

[2015-09-02 12:36] mtornwall commented on #2865
From the [nginx documentation](http://nginx.org/en/docs/windows.html):

So clearly nginx is not a good frontend choice if it's intended to be run on Windows alongside Starcounter. Perhaps the right approach, as you hinted at @dan31, is to set up a Linux or BSD frontend running haproxy or nginx to relieve the Starcounter node of doing SSL handshakes.

[2015-09-02 13:57] k-rus commented on #2861
Sorry for the late answer. Can you explicitly specify which ambiguity resolution you are out for? If just exclude predefined namespaces, such as SO from the ambiguity with short name, then it is doable and quite simple. If it requires to resolve to current app, then I am afraid it is not realistic, since database schema provided to parser is global.

[2015-09-02 14:11] per-samuelsson opened #2867 "Backport simplified dynamic type implementation Next => Develop"
It has been decided that Heads migration must continue on top of the 2.x based on the `develop` branch - `next` has been discontinued. Hence, we need to backport the functionality we implemented in `next` to `develop`, most significantly, the functionality relating to the simpified dynamic types model.

This is the umbrella issue to track that effort.

[2015-09-02 14:18] per-samuelsson opened #2868 "Binding fail when [Type] is specified on an inheriting class"
Part of #2867.

Consider this model:

[code]

This currently fail to bind, stopped by a `SCERR4280: InvalidTypeReference`.

To support more specialized type classes in hierarchies, it must be possible to specialize the type class in a derived class referencing it.

[2015-09-02 14:29] per-samuelsson opened #2869 "When [Type] is specialized, it should map to base class [Type] column"
Part of #2867. Depend on that #2868 is fixed.

Binding this:

[code]

should produce a schema with a *single column* for `Car.Model` and `Car.VolvoModel`. The later is thereby an implicit *synonym* to the former. Otherwise, it would be (at least theoretically) possible to assign a single object multiple type references.

[2015-09-02 14:32] per-samuelsson commented on #2869
This is also in line with efforts we did in `next` regarding implicit columns for `Entity` and non-Entity based database classes, and corresponds to the planned behaviour of 3.x, where they dynamic type column is part of every object.

[2015-09-02 14:43] per-samuelsson commented on #2867
Ambition for `develop` port:

1. Move as much logic as possible out from the built-in binding, and have it depend on the hosted application. Even auto-creation of type objects (we want to delay this to 3.x) and constraints like that derived type classes must form a hierarchy.
2. Try to keep the code host free from calls to the application. Instead, offer a "deep/advanced" API hosted applications c

[2015-09-02 15:59] dan31 commented on #2866
Thanks for reporting, @Ripipip! It seems that you run some other machine in production, what is it? You also ran it starting from an empty database, right? Please give more details.
@eriohl, if this doesn't appear like something low-hanging for you, then we only left with an option to wait for a stable reproduction from @Ripipip. This kind of error I personally meet first time in almost 2 years.

[2015-09-02 17:22] dan31 commented on #2861
@k-rus, since that is what we've discussed yesterday with @alemoi and you, the answer has come yesterday already :) Today I discussed with @warpech as well, so: it is quite okay right now to require developers write explicit namespaces with app name inside (to avoid ambiguities when you launch apps non-standalone). This is not how we want it to be, however, but old SQL processor is an obstacle to

[2015-09-02 18:15] eriohl commented on #2866
Confirming that this has been seen before. We've been u able to figure out why the problem occurs however. Does not happen very often.

[2015-09-03 06:09] eriohl opened #2870 "pnext: Access violation storage memory management scdata"
**Applies to development branch only (PNEXT)**

Access violation updating ```*tp_data.pstorage_memory_used``` freeing storage memory block. ```tp_data.pstorage_memory_used``` was a bad pointer.

Can not reproduce. Unknown is pointer was updated after initialization (should not be) or memory referenced was released (this is performance counter memory) also should not be).

[2015-09-03 08:47] per-samuelsson commented on #2869
I decided that I will make it so that classes deriving a class with an explicit type reference, need to specify their explicit type references (i.e. the specialized one), as a synonym. It's a bit more verbose, but I actually think there are more pros to this than cons:

* More explicit means easier to understand
* It *is* a synonym (it works just like one), so why shouldn't that be visible
* It de

[2015-09-03 12:20] eriohl opened #2871 "pnext: Allocate layout and index handle in DAL during read phase"

[2015-09-03 12:52] #2868 closed

[2015-09-03 13:01] per-samuelsson commented on #2869
This is now implemented, pushed as part of merge 3859b1b.

To have the model in the OP work, now define it like this:

[code]

[2015-09-03 13:01] #2869 closed

[2015-09-03 13:05] per-samuelsson commented on #2683
This prototyping is done and I haven't heard anything, so I'm closing it.

[2015-09-03 13:05] #2683 closed

[2015-09-04 06:02] per-samuelsson opened #2872 "Add basic legacy layer for consuming of binding data"
Part of #2867

Add to the `Starcounter.Legacy` namespace functionality that allows an application to

1. Retreive the full binding names of all newly bound types relating to the current application. The scope this data is accessible in, is the entrypoint.
2. Support retreival of certain type/binding traits, based on names part of [1] result. For every type, it should be possible to retrive an opaq

[2015-09-04 08:40] per-samuelsson opened #2873 "Web administrator 404 when accessing it with routed URL"
Since some day(s) ago: accessing web admin using `localhost:8181` produce a 404. I talked to @andwah about it, and the workarond is to use `http://localhost:8181/index.html`.

[2015-09-04 08:49] alemoi commented on #2873
Thanks for reporting! I added URI aliasing and removed the original method. I will add back the original method.

[2015-09-04 08:53] per-samuelsson commented on #2873
:+1: :fire:

[2015-09-04 09:00] andwah commented on #2873
A fix has now been committed to github

[2015-09-04 11:10] per-samuelsson commented on #2872
Implemented in https://github.com/Starcounter/Starcounter/commit/1ca59cfe6cd89a32feac457f16e9312e3ecab0eb. I've done some prototyping of a binding based on this, and hopefully this minimal layer is suffcient for our needs.

[2015-09-04 11:10] #2872 closed

[2015-09-04 11:10] per-samuelsson commented on #2867
Achieved by #2872.

[2015-09-04 14:41] chrhol opened #2874 "Invalid cast from Administrator SQL"
When selecting an integer that is not an `Int64`as output in a query from the adminstrator the following exception is raised:

   at Starcounter.Internal.SqlRestHandler.ExecuteQuery(String query) in d:\Code\Level1\src\Starcounter.Apps.JsonPatch\BuiltInRestHandlers\SqlRestHandler.cs:line 156
HResult=-2147467262

Can be reproduced by executing the query on the following database class

[code]

[code

[2015-09-04 15:18] andwah commented on #2784
Added a null reference check

[2015-09-04 15:18] #2784 closed

[2015-09-04 15:21] andwah commented on #2414
Solved, How databases is selected and used when executing queries has changed.

[2015-09-04 15:21] #2414 closed

[2015-09-04 21:02] #2874 closed

[2015-09-06 08:58] per-samuelsson opened #2875 "Introduce small application host layer"
Part of #2867.

Primary reason: to assure we can support initialization that always execute just before the entrypoint, but is guaranteed to be invoked in the same context as the binding. Remember: entrypoints can still be invoked asynchronously.

Keep it simple as possible:

[code]

Detect it in the code host just prior to the entrypoint. Check the class defining the entrypoint, if it implement `

[2015-09-06 16:07] eriohl commented on #2870
Discovered the cause of this. The memory segment containing the performance counters are dropped in case of failure to load. But it is not created during load. So when load then is successful later on the memory segment is not available.

[2015-09-07 07:57] per-samuelsson commented on #2875
This is in place with the merge of https://github.com/Starcounter/Starcounter/commit/7675ddc8a6dfceb4053cd70d7dc14b6264333418.

[code]

[2015-09-07 07:57] #2875 closed

[2015-09-07 08:38] eriohl commented on #2810
Done.

As for NUMA optimization it was decided to run multiple IWP processes where multiple nodes. So no need to adapt DAL memory management for this.

Need to do some additional work evaluate performance and discuss constraints. Adding a note regarding this to #2605.

[2015-09-07 08:38] #2810 closed

[2015-09-07 09:09] eriohl commented on #1066
Address in PNEXT (#2810). Will not be addressed in current version.

[2015-09-07 09:09] #1066 closed

[2015-09-07 09:47] andwah commented on #2859
Resolved by re-executing the query without an Transaction

[2015-09-07 09:47] #2859 closed

[2015-09-08 09:23] warpech commented on #2852
Bump

[2015-09-08 10:27] warpech commented on #2684
What is the status of this? It still happens

[2015-09-08 10:42] per-samuelsson commented on #2684
AFAIK, nothing has been done to resolve it. It's still caused by how playlists where implemented. In #2786, I see there are different voices with different opinions. We can't solve it until there is a final decision on the desired semantics.

[2015-09-08 12:08] dan31 commented on #2684
Okay, they key thing there to balance is that we cannot give a lot of technical debt to 2.0 in order to focus on new version development. In the nearest future @k-rus won't allocate time to investigate old SQL layer, since we are working intensively on delivering a new one. Basing on this, we can simply assume now: there is no easy way to have a feature to clean the database in 2.0 without deletin

[2015-09-08 12:22] per-samuelsson commented on #2684
This is a good decision. I fully support it.

Lets see what @andwah says. For me, I can do either, in a couple of hours I think, maybe half a day. That is, either a) make sure all apps are deleted when the database is deleted, or b), preserve apps installed in the database (and they will thereby be avaibable again if/when a database with the same name is recreated).

Personally, I vote for going w

[2015-09-09 09:50] per-samuelsson commented on #2867
All ingoing issues are now *done*, and Heads.Next now runs successfully on the `develop` branch of Starcounter (i.e. the "real" Starcounter 2.x).

[2015-09-09 09:50] #2867 closed

[2015-09-09 11:56] andwah commented on #2684
Ill also vote for option (a).

Apps is like your personal installed programs in windows, if you reinstall windows yours programs will be gone.

[2015-09-09 12:26] warpech commented on #2684
:+1: Totally agree with @andwah

[2015-09-09 12:31] per-samuelsson commented on #2684
Good. Then the 3 of us agree, and I think @dan31 does too. Let's go this way.

Can you adapt the playlist/AppStore implementation to this, @andwah? Or will you need my help? Or do you even want me to do it?

[2015-09-09 13:05] andwah commented on #2684
Sure i can, no problem.  I will make sure that when a database is deleted (via REST) it will also delete the (installed) Applications and the configuration file that is associated with the applications.

[2015-09-09 14:14] andwah commented on #2684
Resolved.
See 3c97cad21aad06cfd14644ddaabc4801c2ede2fc

[2015-09-09 14:14] #2684 closed

[2015-09-09 14:50] alexanderstc commented on #2849
Implemented, closed.

[2015-09-09 14:50] #2849 closed

[2015-09-09 18:40] per-samuelsson opened #2876 "Close this issue"
To be closed.

[2015-09-09 19:08] per-samuelsson commented on #2876
Addition: I'm quite sure we got most of the raw material already, considering all the great progress made over at `starcounter.io`. What I'm after is more of a TOC-like experience, where the focus is to get someone from "I never heard of the IOS" to "So this is what I need to do to program the IOS".

[2015-09-09 19:25] #2876 closed

[2015-09-09 20:21] alemoi commented on #2876
:smile:

[2015-09-09 20:26] peterbergman opened #2877 "Cannot register UDP handler on same port as HTTP handler"
When trying to register a UDP handler on the same port as already used by an HTTP handler and exception is thrown:

[code]

I think it should be possible to use the same port number since it's different underlying port pools for each protocol?

Starcounter version: Starcounter-DevelopNightlyBuilds-2.0.3185

[2015-09-09 20:42] alemoi commented on #2877
Thank you for the question. Unfortunately with current implementation in gateway, it is not possible. I will check if there is something we can do.

[2015-09-10 06:30] warpech commented on #2863
@alemoi, @miyconst can you suggest solution?

[2015-09-10 06:51] miyconst commented on #2863
I think, this test should be removed, the root url mapping is no longer supported.

Optionally, we could replace it with API to configure url aliases, @alemoi should provide details of how to do that.

[2015-09-10 06:58] parherman commented on #2863
I will update the InvoiceDemo test use:

[code]

This should probably be done for https://github.com/Starcounter/InvoiceDemo also, since it fails for the same reason if you try to run it now

[2015-09-10 07:58] per-samuelsson commented on #2849
@alexanderstc

Looks like there is a typo in the second sample of the OP: I guess `STAR_COLUMN_DEFINITION` should be `STAR_COLUMN_DEFINITION_HIGH` in that one, no?

Also: any doc on return value of `star_create_table/high` pair? Is that a handle/ID to the table? If so, how are errors propagated? I would have expected an out parameter for the handle/ID?

Or is the pattern more like:

[code]

And if

[2015-09-10 08:32] alexanderstc commented on #2849
Sorry, wasn't watching. A typo, obviously. Fixed.

[2015-09-10 08:46] k-rus commented on #2849
The return value is error code as usual for public API. There will be public API to retrieve error specific information in future if needed.

There is no function to get table/layout handle. Instead the meta-table `RawView` is searched to find description of table with the given name.

[2015-09-10 08:58] eriohl commented on #2089
Currrent stance is to remove intercepting errors in the kernel. So removing this from backlog.

[2015-09-10 08:58] #2089 closed

[2015-09-10 08:59] eriohl commented on #882
No longer relevant. Back-end services configuration will no longer be passed on command-line.

[2015-09-10 08:59] #882 closed

[2015-09-10 09:01] eriohl commented on #767
Will be working in next version. Will not be addressed in current version.

[2015-09-10 09:01] #767 closed

[2015-09-10 09:01] eriohl commented on #1952
Will be working in next version. Will not be addressed in current version.

[2015-09-10 09:01] #1952 closed

[2015-09-10 09:01] eriohl commented on #256
Will be working in next version. Will not be addressed in current version.

[2015-09-10 09:01] #256 closed

[2015-09-10 09:02] alemoi commented on #2863
I will disable mapping to /polyjuice/ so the test will fail again :) The solution is to use URI aliases, for aliasing /invoicedemo to root, which is done outside application.

[2015-09-10 09:03] per-samuelsson commented on #2849
OK, thats fine I guess. With that being said, would it be very bad to just return some kind of handle as an out parameter? Maybe a reference to the RawView? You would have that at the callee site already I guess?

And no, an implementation of SQL DDL "CREATE TABLE" might not need that. But for hosts, it would be neat.

[2015-09-10 09:05] eriohl commented on #2811
Support for read done.

[2015-09-10 09:07] alexanderstc commented on #2849
Please move this to #102.

[2015-09-10 09:10] eriohl opened #2878 "pnext: Wait for log write to complete on write"
Support for determining on transaction level if write is to block waiting for log write to be secure on secondary storage or not.

[2015-09-10 09:12] per-samuelsson commented on #2849
Agree, and [done](https://github.com/Starcounter/CompanyTrack/issues/102#issuecomment-139177677). Let's let this closed issue rest.

[2015-09-10 09:13] eriohl opened #2879 "pnext: Configuration back-end services"
Configuration for back-end services only in shared file.

[2015-09-10 09:15] eriohl commented on #2808
Waiting for requirement spec for long-running transactions to be completed.

[2015-09-10 09:15] eriohl commented on #2809
Waiting for requirement spec for long-running transactions to be completed.

[2015-09-10 09:18] eriohl opened #2880 "pnext: Process management back-end services"
Support running back-end services as a service. Handle reset properly on unexpected failure.

[2015-09-10 09:25] eriohl opened #2881 "pnext: Support database persistence on Linux"
1. Create database (sccreatedb).

 Full re-write of sccreatedb. A lot of now obsolete code remaining.

2. Read database configuration on load.
3. Log writer (mostly done).
4. Optlog and log reader (loader).
5. Optlog writer (logopt).

[2015-09-10 09:28] eriohl opened #2882 "pnext: Run logopt automatically to create checkpoint"
Log writer to run logopt when appropriate.

[2015-09-10 09:32] eriohl opened #2883 "pnext: Database management back-end service"
Back-end service for creating and dropping databases.

[2015-09-10 09:34] eriohl opened #2884 "pnext: Multi-tenancy"

[2015-09-10 10:01] ivarbergman commented on #2299
Hi! Is this a ticket/question that could be addressed again? Could the Starcounter web server use some kind of header based invalidation mechanism for static content. Ie use Etag/Last-Modified headers instead of

    Cache-Control:public,max-age=31536000

for static files.

Thanks / Ivar

[2015-09-10 11:34] alemoi commented on #2299
Thank you for the question! I will check the latest behavior and get back you.

[2015-09-10 14:41] eriohl commented on #2160
Kernel needs to be aware of the encoding for index selection index. So changing the encoding may now break the kernel. Maybe move encoder/decoder into the kernel instead?

(It assumes that 0 is separator and 1 bit in length while all other characters are 6 bits.)

[2015-09-11 07:50] warpech commented on #2823
Talked about this with Dan yesterday, and he suggested that there are some new ideas how to fix it.

Could we please get back to it by the end of September? There is an important workshop that we are giving on October 15 (CodeNight) and it would be good if people could use breakpoints :)

Otherwise, we could give some information in the installer:

[2015-09-11 17:24] ivarbergman commented on #2299
Would:

    Cache-Control: max-age=0, must-revalidate
    Last-Modified: [file modification time]

be appropriate response HTTP headers. And HTTP status `304` if request header `If-Modified-Since` match file modification time.

[2015-09-11 19:41] per-samuelsson commented on #2823
@warpech, lets have a round at this indoors, [welcome](https://github.com/Starcounter/CompanyTrack/issues/104).

[2015-09-13 10:19] warpech commented on #2299
@alemoi would it be possible to add some response filter API so that anyone would have a chance to adjust cache and other headers at their will?

[2015-09-13 10:45] alemoi commented on #2299
Yes, there is such API already. That modifies the outgoing responses. I will write about it.

[2015-09-14 09:13] atifwaqar opened #2885 "How to check Database Object is null or empty"
Is there a single function to check if a database object is populated (not null and not empty).
And is it possible to use the same function to check nested database objects.

Code example to explain my question:
I want to check the GrandChild Age only, so i have to code something like  :

if (person != null && person.Child != null && person.Child.Child != null && person.Child.Child.Age != null &&

[2015-09-14 09:22] miyconst commented on #2885
Hello @atifsheikh!

You can select the grand child with an SQL query:

[code]
And check if the `child == null`.

You also can add a property GrandChild to your Person class:

[code]

I don't know your model, but it seems to be wrong to reference Child from Parent, as a person could have multiply children. There should be `public Person Parent` property and `public IEnumerable<Person> Children` col

[2015-09-14 12:24] ivarbergman commented on #2299
Hi! Are you referring to ´Handle.AddResponseFilter´ ? (Looks like it might do the trick.)

Is there some method to get the absolute file path to the requested static resource?

I have looked at the ´StaticWebServer´ but I'm not really sure how to get the StaticWebServer-instance connected to the current Request. Or is there a better way?

[2015-09-15 07:09] ivarbergman opened #2886 "Unhandled Exception in a UDP Handle result in a Critical db error."
To reproduce, try the following Handle:

    Handle.Udp(7000, (IPAddress clientIp, UInt16 clientPort, Byte[] datagram) =>
    {
        throw new Exception("My Unhandled Exception");
    });

Now, a UDP message triggers the following Critical error:

    Unspecified error (E0434352) detected at bmx_manager.cpp:119 (Thread 2624). 000007FF2AC2811C KERNELBASE!
     000007FF235EA1FF clr!
     000007FF

[2015-09-15 12:30] alemoi commented on #2886
Thank you for reporting! Missing catch and log in this case. I will fix it!

[2015-09-15 12:33] alemoi commented on #2299
Yes, that was the thing. Regarding resource path you can probably get this from resource Response object after static resource resolution, not Request. There is a property `FilePath` that is now internal, but I will make it public.

[2015-09-15 13:27] warpech commented on #2863
I removed mapping to / from tutorial, but not from code on GitHub. Will do the changes to keep the code in GitHub in sync with the tutorial.

[2015-09-16 08:04] eriohl opened #2887 "pnext: Support graceful shutdown of data manager on Linux"
Currently only supported on windows (client setting the control event).

[2015-09-16 08:08] eriohl opened #2888 "pnext: Support multiple IWPs connecting to data manager"
Dynamic allocation of channels (and handle tables) needs to be supported.

[2015-09-16 08:19] eriohl opened #2889 "pnext: Wait for log write to complete on commit"
Optional wait for DM to ensure that log entry for transaction is secure on secondary storage before signalling to IWP that commit is complete. Configurable per transaction.

[2015-09-16 08:35] eriohl opened #2890 "pnext: Fix poor log space utilization"
We get poor utlization of log space even on high load after connection to log writer moved to DM. Leads to poor performance and storage space waste. To look into improving grouping of log entries.

There is also a lot of waste on low load since minimum log block size is 4 KiB. Maybe make is smaller to get better utilization on low load as well?

Also: Log writer spins a lot waiting for additional

[2015-09-16 08:38] eriohl opened #2891 "pnext: Fix excessive calls to semctl/SetEvent signalling DM from IWP"
IWP signals DM on each request by calling semctl/SetEvent. Carries a lot of overhead. Possible to reduce overhead by only signalling DM if DM is sleeping.

[2015-09-16 08:40] eriohl opened #2892 "pnext: IWP hangs on write if DM terminates on unexpected error"
Should be detected and raise an error on IWP instead.

[2015-09-16 09:25] mtornwall commented on #2865
@dan31 I was told by @Starcounter-Jack that there is some kind of HTTPS gateway in dnx. Is that something that could be backported?

[2015-09-16 10:22] warpech commented on #2684
I confirm that fix works :)

[2015-09-16 11:09] warpech commented on #2861
Please keep in mind that the entire discussion in this thread is off-topic, because the OP was about default merging and namespacing of `Self.GET` responses.

The discussion following OP is about implicit short table names that are useless if SO is loaded. @dan31, @alemoi perhaps this should be tracked as a separate issue?

The umbrella for merging all Polyjuice functionality into Starcounter is h

[2015-09-16 11:37] warpech commented on #2854
@tomalec, can you update Milestone 1 part in the OP?
@miyconst, can you update Milestone 2?

[2015-09-16 11:43] warpech commented on #2196
I just checked  the current behaviour out of curiosity.

Currently `X.GET<string>("nonexistent.html");` returns null without an error message.

Fine for me.

[2015-09-16 11:43] miyconst commented on #2854
I have finished or almost finished many of the elements, but they all are in the separate branch, and don't yet fully work all together in Launcher.

Should I mark it as done?

[2015-09-16 11:52] warpech commented on #2854
I suggest merging to master and then marking it as done. You can even issue a prerelease if that helps (like @tomalec did with https://github.com/Juicy/juicy-html)

[2015-09-16 12:32] warpech commented on #2798
I agree about point 3) . The Home icon is confusing, because I would expect it to link to "Starcounter Administrator home page", not to "_default_ database home page"

I propose to follow @miyconst's advice and change the icon to a text label. I suggest "Apps" or "Control"

[2015-09-16 14:02] miyconst commented on #2854
Okay. Will do that tomorrow.

[2015-09-16 15:46] warpech opened #2893 "Starcounter should be layout-aware"
Just discussed with @Starcounter-Jack and @alemoi:

Problem: Currently, the sample app layouts are stored in a table called `JuicyTilesSetup`, which belongs half (data model) to Starcounter, half (REST API, renderer) to Launcher. This breaks the paradigm of apps not knowing about each other's existence.

Solution: The notion of what elements are present in templates (what's their desired size, pri

[2015-09-16 16:20] warpech opened #2894 "Lazy loading of partials"
@careri asked how would we do lazy loading of partials. Meaning, a partial (including template and data!) should be loaded only when I scroll down to a DIV that holds it.

I think this is extension of a well known method of lazy loading of images. This would be useful for charts, data grids, etc.

I think we would have 2 properties in JSON:

[code]

On the client side, there would be a Web Compone

[2015-09-16 17:38] tomalec commented on #2894
Have you seen Eric Bidelman's tweet? https://twitter.com/ebidel/status/641278429032087552

[2015-09-16 17:45] tomalec commented on #2854
I'd like to mark them as done, once I'll release a version, and I'd like to do that once I will check they work together in Launcher not only at demo pages

[2015-09-16 20:01] tomalec commented on #2893
What about the idea of LayoutApp that would dress regular partials into
grid (on custom element level), and its setup (on data fetchin level)?
16 wrz 2015 17:46 "Marcin Warpechowski" <notifications@github.com>
napisał(a):

[2015-09-17 06:36] ivarbergman commented on #2299
Access to the `FilePath`  property would be great!
Thx

[2015-09-17 06:40] miyconst commented on #2893
Suggestion from @warpech sounds good to me. The Launcher is basically a LayoutApp, with some more features, we could split it into even smaller apps, but I would not like to do so.

Right now, Launcher acts like a Parent to all other apps, and that is why it may know about children and do any manipulations with them. On other hand the LayoutApp would be a sibling, which would go against mediator p

[2015-09-17 06:42] ivarbergman commented on #2299
Or maybe all getters for the file related properties could be public?
`FileExists `, `FileModified `, etc

[2015-09-17 10:12] warpech commented on #2893
Splitting layout app out of Launcher does not go in conflict with this change.

But if we ever split it, then I recommend to call it "Juicy Layout", not the "Layout". Then we will have a clear understanding that this app only renders the layouts and does not define them (though the editor part of it acts as a helper in defining it).

This is something for future though.

PS. I need to see [Thinkin

[2015-09-17 10:15] warpech commented on #2835
Can this be closed now?

[2015-09-17 11:29] warpech commented on #2893
I propose to change the names of the properties as well:

Current definition:

[code]

I propose to rename `Key` to `TemplateURI`:
And `Value` to `Setup`

It was agreed with @Starcounter-Jack that the static method `GetSetup` should be removed in favor of using SELECT directly in the apps. (database is the API, we don't need another API on top of that)

@tomalec & @myiconst - any ideas for better

[2015-09-17 11:36] miyconst commented on #2893
Actually, I like the `Key`, `Value` names. We may have multiply setups for same partial, so `TemplateURI` name is not good.

What about `Name` and `Setup`?

[2015-09-17 11:36] miyconst commented on #2893
The `Key` property is used for `ObjectId` in `Simplified`, so I agree, it should be renamed.

[2015-09-17 12:32] warpech commented on #2893
`Name` is used in SO, and I guess `TemplateURI` would be synonymous to it. Let's go with `Name` and `Setup` then.

[2015-09-17 12:43] warpech commented on #2894
Yeah! And also I am looking forward to their Google's Carbon lazy loading element, announced here: https://youtu.be/jVn8tlnwAEs?t=20m8s. I guess it will be very similar stuff

[2015-09-17 12:47] tomalec commented on #2893
:+1: for Juicy Layout setup
:+1: for renaming properties

[2015-09-17 13:05] warpech commented on #2893
Btw. the property `juicyTilesSetup` of the merged partial needs to be renamed to `layout` as well. Affected code:

- https://github.com/Starcounter/Starcounter/blob/50018807796625f0c8cd134b0d5816dc1f40bae7/src/Starcounter.XSON/Serializer/Json/StandardJsonSerializer.cs
- https://github.com/Polyjuice/Launcher/search?utf8=%E2%9C%93&q=JuicyTilesSetup

[2015-09-17 13:06] eriohl commented on #2871
Allocation is finished.

Note on this however is that allocated handles can currently not be reclaimed until database is reloaded. This is a bit tricky to handle and we are currently not sure it this is needed (or at least if it is needed now).

[2015-09-17 13:21] eriohl commented on #2870
Resolved.

[2015-09-17 13:21] #2870 closed

[2015-09-17 13:22] eriohl commented on #2871
Project suspended pending discussions on additional requirements. Working solution for allocation available (level0/2871).

[2015-09-17 14:18] warpech opened #2895 "Starting app.exe directly does not work"
As pointed out by @bigwad in an email (6.06.2015):

Indeed, the following way to start an app does not work:

[code]

With the exception:

[code]

![image](https://cloud.githubusercontent.com/assets/566463/9935458/01f1b9d0-5d57-11e5-85c9-ed13099b5de7.png)

Is this a bug in Starcounter or should I remove it from docs?

I see that it has worked before:

- https://github.com/Starcounter/Starcounter/i

[2015-09-17 16:03] alemoi commented on #2895
As far as I know we stopped supporting self-starts of applications, so only `star.exe ..` is a suggested way. @per-samuelsson can add something on top of this.

[2015-09-17 16:04] alemoi commented on #2835
Nightly tests are still not added but otherwise can be closed.

[2015-09-17 16:04] alemoi commented on #2299
Yes, I will make them public.

[2015-09-17 16:07] warpech commented on #2759
The above closed issue has information how to reproduce it in Parallels (incl screenshot).

Note that insufficient RAM is detected correctly, with an error message:

You can now proceed with installation...

[2015-09-17 16:07] warpech commented on #2856
Closing as duplicate

[2015-09-17 16:07] #2856 closed

[2015-09-17 16:43] per-samuelsson commented on #2895
We stopped supporting this quite some time back, mainly because the beneif / cost ratio was way to high (number of problems in different scenarios). So it should be removed from any documentation. Sorry we always fall behind on that. :snail: :disappointed:

[2015-09-17 17:54] warpech opened #2896 "Building apps without Visual Studio produces a wall of warnings"
We are giving a 1.5 hour workshop in October 2015 (CodeNight). It would be great get everyone in the room up and running Starcounter, without having to bother with installation of Visual Studio. This is especially important to appeal to the "hacker" community.

A goal is to compile Starcounter InvoiceDemo (http://starcounter.io/tutorials/) on a fresh Windows 10 installation (a VM of such may be ob

[2015-09-17 17:55] warpech commented on #2896
@Starcounter-Jack suggested that @chrhol may be able to help

[2015-09-17 18:44] dan31 commented on #2896
Quite flawless! What about trying this instead?

We require x64.

[2015-09-17 18:45] dan31 commented on #2896
Also I see it seeks for .NET v.4.5. Can you check that the project is set to the very latest .NET available?

[2015-09-17 19:59] alemoi opened #2897 "Add nightly tests for SQL isolation in apps"
Should have at least 2 apps, 1 shared DLL, 2 private DLLs, queries with namespaces and without, etc

[2015-09-18 07:29] chrhol commented on #2896
We have had these warnings for quite some time. The problem lies with the Visual Studio Extension since VS is run as a x86 process.

What we need to do is go through all shared dll's (that is shared between VS and SC) and either move unsafe/unmanaged code or rewrite it to not use unsafe/unmanaged code. Then we can properly set the platform to AnyCPU instead of specifying either x86 or x64

There i

[2015-09-18 07:31] chrhol commented on #2896
No I'm a little bit wrong :) It's not only the extension. The buildtask for TypedJson is also the cause

[2015-09-18 07:49] warpech commented on #2896
To give you more information about the VM setup, this is the setup as Windows 10 VM sees it:

![image](https://cloud.githubusercontent.com/assets/566463/9954552/4ff04d84-5dea-11e5-8aec-c10095ba472b.png)

Interestingly, my everyday Windows 8.1 VM with exactly the same config and VS2013 installed does not show these warnings.

[2015-09-18 07:55] chrhol commented on #2896
Oh sorry, I didn't read the warnings correctly. Sorry, I'm a bit tired :) This are not the same as the issue I linked.

Then it looks like it's some problem with installed .Net framework. Will you be in the office today?

[2015-09-18 12:17] chrhol commented on #2896
So from what I found is that what is needed to get rid of these warnings are .Net Framework 4.5 SDK, that can be obtained from https://msdn.microsoft.com/en-us/windows/desktop/hh852363.aspx.

Just unclick every other option, the download size is about 70 mb.

I wonder if this is needed beacuse the project uses the VS extension. I will try to edit the project and see what happens.

[2015-09-20 23:08] #2852 closed

[2015-09-20 23:11] tomalec commented on #2852
Feature support check require try/catch + some code more, as URL object is available in IE, but not standard compilant:
[code]

[2015-09-21 07:02] chrhol commented on #2896
No, the cause is not our extension. Even with it removed from the project you get the same warnings. Lets discuss how we want to handle this in the morning meeting.

[2015-09-21 10:18] miyconst commented on #2854
Updated set of migrated/vanillazed components.

[2015-09-21 11:38] miyconst commented on #2854
Inserted list of Polyjuice apps to migrate.

[2015-09-22 06:29] dan31 commented on #2896
@warpech, setting project's .net framework version to 4.6 doesn't help on your VM?

[2015-09-22 07:01] dan31 commented on #2865
Discussed HTTPS with @mtornwall. The current idea to try out patched nginx first (a win-patched version https://github.com/sebres/nginx). Haven't checked more, but seems that also some work on finalising IOCP support is done https://github.com/sebres/nginx/search?utf8=%E2%9C%93&q=iocp. This requires better evaluation. If not going well, then the option is to build a tiny HTTPS-frontend in Erlang o

[2015-09-22 07:04] dan31 commented on #2886
@alemoi, small fix, please don't forget taking it.

[2015-09-22 07:28] dan31 commented on #2885
Hi @atifsheikh! Did that work out?

[2015-09-22 07:31] dan31 commented on #2160
@eriohl @linkdata Because this is a special type of encoding (for sets), maybe we can make only this encoding be a special case and encapsulate its processing completely into the kernel?

[2015-09-22 07:49] malx122 opened #2898 "Multiple resource dir at startup"
As discussed, it should be possible to define more than one resource dir when starting an application.
ex:
--resourcedir="dir1;dir2;dir3"
This to avoid needing to hardcode extra folders it in the code.

[2015-09-22 09:06] atifsheikh commented on #2885
Hi, Thanks for the solution and Yes your solution works fine.

But we have some cases where we do not want to add SQL queries all the
time. We are looking for some function which is something like :
if (parent.child.child.IsNullOrEmpty())
{
  return true;
}

which will further do the following checks automatically :

if (parent.IsNullOrEmpty && parent.child.IsNullOrEmpty &&
parent.child.child.IsNu

[2015-09-22 10:26] linkdata commented on #2865
At this time @mtornwall would be better served using a well-tested HTTPS reverse-proxy.

[2015-09-22 10:32] linkdata commented on #2160
Sure. The type encoding doesn't need the special features that TT offers. It takes a bit more work than simply making an XML file for TT, but it's very stand-alone and a nice little bite-sized project.

[2015-09-22 10:33] mtornwall commented on #2865
@linkdata Duly noted! Thanks.

Thus far my experiments with nginx have shown promise, both when deployed alongside Starcounter and when deployed on a separate machine. I have yet to take the branch at https://github.com/sebres/nginx for a spin, though.

[2015-09-22 10:58] warpech opened #2899 "Public web folders: Regression bootstrapping wwwroot"
Testing Starcounter 2.0.3329.3, Windows 8.1, VS 2013

[InvoiceDemo2](https://github.com/Starcounter/InvoiceDemo) project does not correctly bootstrap files from `wwwroot` directory:

<img width="1249" alt="screenshot 2015-09-22 12 48 58" src="https://cloud.githubusercontent.com/assets/566463/10016687/258aeb2a-6129-11e5-8c36-8763456e0b3c.png">
<img width="1249" alt="screenshot 2015-09-22 12 49 12"

[2015-09-22 13:56] Ripipip opened #2900 "ScErrInputQueueFull (SCERR1026): Operation failed because the target input queue was full."
Our starcounter apps crashes with the following error:

ScErrInputQueueFull (SCERR1026): Operation failed because the target input queue was full.

Any idea what to the reason can be?

[2015-09-22 14:53] dan31 commented on #2900
Hi @Ripipip! I think we already investigated such case when you do a cascaded calls for ```RunAsync```. How do you use it currently?

[2015-09-22 15:24] Ripipip commented on #2900
Thank you @dan31 ! You pointed my in the right direction and I found the bug :)

[2015-09-22 15:24] #2900 closed

[2015-09-23 06:23] eriohl commented on #2160
(Kernel) client needs still be able to work with the formatter since it needs to be able to encode search strings and encode raw output. It think it probably advantages if it has the same interface as the TT formatter. So I'm not entirely sure how much benefit is would bring.

[2015-09-23 06:27] eriohl commented on #2160
On a separate note it might be a good idea to look into switching to TT4. Certainly a good thing to do while we still need not worry about data compatibility.

Can't exactly remember what the problems with switching was but at least kernel no longer uses fragmented strings so we could use the compare functions generated for the formatter now.

[2015-09-23 07:23] linkdata commented on #2160
The fragmentation handling was the problem, as it required maintaining state outside of the compare function. TT4 is API compatible with TT3, so it should be a drop-in replacement. TT4 also has a C++ wrapper that will handle cross platform differences for shared libraries and that can load either TT3 or TT4 libraries.

[2015-09-23 08:15] #2825 closed

[2015-09-23 08:17] chrhol commented on #2571
The issue above is now (finally) fixed.

[2015-09-23 10:46] warpech commented on #2863
This is now fixed

[2015-09-23 10:46] #2863 closed

[2015-09-23 11:17] warpech opened #2901 "Administrator doesn't clean up app installations that are in incorrect state"
I cannot install an app using the AppStoreClient on Playgrounds server (AWS):

<img width="1493" alt="screenshot 2015-09-23 13 12 20" src="https://cloud.githubusercontent.com/assets/566463/10043649/075e0016-61f5-11e5-8ad6-7a9f6fccef55.png">

Despite the above error message, no such app is installed according to Administrator on the machine:

![image](https://cloud.githubusercontent.com/assets/5664

[2015-09-23 11:59] miyconst commented on #2901
This also happened to me in the past.

[2015-09-23 14:39] alemoi commented on #2886
Sure! Fixed via e418a96c632f5524f565464304942c434b20a642
Now the exceptions are catched and logged.
Thank you for reporting!

[2015-09-23 14:39] #2886 closed

[2015-09-23 15:01] warpech commented on #2901
Now I had a similar problem on a clean database and installation:

1. I installed Launcher, Products, AppStoreClient
2. From AppStoreClient I tried to install Barcodes
3. Barcodes installed but it didn't start. (similar effect to the first screenshot above)

I needed to start it manually from Administrator

[2015-09-23 15:27] warpech commented on #2896
@chrhol I confirm installing .Net Framework 4.5 SDK helped.

@dan31 you mean changing `InvoiceDemo1.csproj` to have `<TargetFrameworkVersion>v4.6</TargetFrameworkVersion>`?

No, that just changed the first warning to say:

[code]

Where do we go from here? Is there a way we could not have the code that produces warnings if .Net Framework 4.5 SDK is not installed?

[2015-09-23 21:04] alemoi commented on #2899
Thank you for reporting and descriptions!

Some time I created an issue for this: https://github.com/Starcounter/Starcounter/issues/2817

I will check now, how InvoiceDemo2 wwwroot works in my environment!

[2015-09-23 21:10] alemoi commented on #2893
In my branches I have made desired layout refactoring with help of @miyconst
We tested and layout work as expected.
Will be pushed soon!

[2015-09-23 21:12] alemoi commented on #2897
The required test was added, its called "Apps separation". Should probably be named isolation. But will fixed that once I have free slot. Closing the issue.

[2015-09-23 21:12] #2897 closed

[2015-09-23 21:13] #2873 closed

[2015-09-23 22:04] alemoi commented on #2899
I looked at it. First I had to set the Working Directory to be actual project .csproj directory for Debugging.
Then I found that "MasterPage.html" contains "/InvoiceDemo/style.css" and should have "/style.css", or you should have a subfolder "InvoiceDemo" in wwwroot. Does it fix problems for you?

However, I think the first step should not be required. I should just download the project and hit F5

[2015-09-24 04:50] warpech commented on #2817
+1

[2015-09-24 04:53] warpech commented on #2899
Sorry, my bad! This was indeed regression in InvoiceDemo2 (since May :/)

No, it is working like that. The only problem was the path to `/style.css`. I suppose that the Launcher problem in OP must have been something else.

Closing this issue, since the other request is already described in #2817.

[2015-09-24 04:53] #2899 closed

[2015-09-24 07:18] andwah commented on #2901
At the moment the only thing i can think of that can cause this is if the folder was "locked" by some appication/cmd prompt when you tried to uninstall the application.

Can you check what's left in your "invalid" ```Polyjuice.Proucts``` folder.

[2015-09-24 13:23] miyconst opened #2902 "Missing AppName and PartialId properties in responses mapped with Polyjuice.OntologyMap"
Procurement application has mapping:

[code]

If this mapping enabled, then response for `/procurement/purchase-order/@w` lacks `AppName` and `PartialId` properties:

![image](https://cloud.githubusercontent.com/assets/6435556/10074309/6fc31350-62cf-11e5-97d9-70e8a7d406f1.png)

But it should be:

![image](https://cloud.githubusercontent.com/assets/6435556/10074313/7fbab222-62cf-11e5-9a69-5bb2c5e7a

[2015-09-24 13:23] alemoi opened #2903 "Test for merged JSON applications responses"
Right now the merged JSON tree is not being tested. The test should consist of 3 applications running together and use URI ordinary and ontology mapping. Client should parse and verify merged JSON responses.

[2015-09-24 13:36] alemoi opened #2904 "Merged JSON responses should be documented"
A document should provide theory and an example of two applications responding to some mapped handlers.

[2015-09-24 22:01] alemoi commented on #2861
Now by default merging is always on and there is a flag `MergeJsonSiblings` for this.

[2015-09-24 22:30] alemoi commented on #2765
Since big changes pushed now, Im closing this issue.

[2015-09-24 22:30] #2765 closed

[2015-09-24 22:53] alemoi opened #2905 "Update apps Javascript tests to conform with latest changes"
Please update Javascript tests for each of the following applications:

- [x] SignIn
- [x] Launcher
- [x] Products
- [x] Barcodes
- [x] Procurement
- [x] Skyper
- [x] ~~Images~~ - does not have any tests
- [ ] ~~Cartographer~~ - very outdated app, should be removed from build tests

Note that root handler is now prohibited, so it should be excluded from tests.

Currently running tests is disabled

[2015-09-25 08:25] alemoi opened #2906 "Fix acceptance tests build"
https://scbuildserver/viewLog.html?buildId=30676&tab=buildResultsDiv&buildTypeId=Starcounter_InvoiceDemoTestsDevelopNightly

[2015-09-25 08:29] alemoi opened #2907 "Fix debug nightly SQL processor tests"
Fails on MultithreadedTest. Not sure if its my latest changes that caused, since on my computer multithreaded unit test in debug always fails. I will review my changes and see if I find something.

https://scbuildserver/viewLog.html?buildId=30677&buildTypeId=Starcounter_Develop_Nightly_Debug&tab=buildLog

[2015-09-25 08:52] mtornwall opened #2908 "Inconsistent naming of database(s) collection in admin API"
To get at a specific database in the Starcounter Administrator REST API, one does a:

    GET /api/admin/databases/[Name]

But to list the database's applications collection, it's instead:

    GET /api/admin/database/[Name]/applications

Notice the plural database**s** in the former case, singular database in the latter. I assume this inconsistency is a mistake, particularly since:

    GET /api/

[2015-09-25 10:38] atifwaqar opened #2909 "Question: How to download/write a file on client end using response in Handle.GET"

[2015-09-25 11:20] mtornwall commented on #2909
By "download a file on client end", do you mean that you have a separate client application (outside of Starcounter) that needs to fetch content from a Starcounter GET handler and save it as a local file?

[2015-09-25 11:29] warpech commented on #2909
Can you paste some code what have you already tried and what is the expected behaviour?

What is the content that you want to make downloadable? Is it some data output generated on the fly? If so, then you might need to set up a custom HTTP response header: http://stackoverflow.com/questions/20508788/do-i-need-content-type-application-octet-stream-for-file-download

If this is a static file then y

[2015-09-25 11:46] warpech commented on #2902
@miyconst is this a showstopper for us? What's the consequence of that?

[2015-09-25 11:52] warpech commented on #2901
I've sent you the server login details so you can take a look around. I left the environment intact

[2015-09-25 11:54] miyconst commented on #2902
Yes, it is a showstopper. Without the AppName we don't know to which app the result belongs, and `juicy-display-router` does not work.

It happens only if mapping applied.

[2015-09-25 12:14] warpech commented on #2902
In what Starcounter version did it stop working? It seems ok in 2.0.3343.3

[2015-09-25 12:17] atifsheikh commented on #2909
@mtornwall Yes, By "download a file on client end" I mean save it as local file (out side of Starcoutner Installation computer).

@warpech here is an idea of what I intend to do:

Handle.GET("/DownloadReport", () =>
{
      string FilePath = AdFenix.Functions.GenerateNewXLS_Report();
      File ExcelFile = GetFile(FilePath);
      //How to return this file, so if someone come to this handler he do

[2015-09-25 12:56] mtornwall opened #2910 "Question: Performance implications of dynamically constructing SQL queries"
In the interest of simplifying maintenance and refactoring I have adopted the following technique for constructing SQL queries. Suppose I have a database object called `Foo`, for which I want to select all instances.

    Db.SQL<Foo>("SELECT f FROM " + typeof(Foo).FullName + " f");

This allows me to rename and move `Foo` whilst remaining relatively confident that the code will still run. However,

[2015-09-25 13:46] miyconst commented on #2902
I can't check my office pc right now, but I believe it was `2.0.3343.3`, and the latest version `2.1.4.3` has the same issue.

[2015-09-25 14:31] miyconst commented on #2902
Procurement app is now pushed, so it is easy to test.

Test steps:

1. Run SysUpgrade, Launcher, Procurement app.
2. Create a purchase order in the Procurement app.
3. Go to edit page.
4. Reload page.
6. Check the console, there will be an error: `Error: juicy-display-router: display-selector cannot be empty`.
7. Check the viewmodel.

[2015-09-25 17:23] warpech commented on #2902
This is not a new bug, since I was also able to reproduce it in playground running Starcounter 2.0.10293.2 (14 Aug 2015). It may be many months older.

Link to reproducing: http://boden-848.mysampleapp.com/Procurement/purchase-order/Hd (note the similar error message to what @miyconst reported)

Note that app main page does not have that problem: http://boden-848.mysampleapp.com/Procurement
Note t

[2015-09-25 17:44] warpech opened #2911 "Replace instances of /so/ in OntologyMap"
Code like this is difficult to explain in tutorials:

[code]

Only local data model should be used in OntologyMap:

[code]

This was agreed with @alemoi and @dan31.

To be done in all demos and code samples.

[2015-09-25 19:09] miyconst commented on #2902
@warpech thank you for the investigation, I was going to do that.

[2015-09-25 19:40] alemoi commented on #2907
Disabling usage of in-memory LLVM does not help here.
Question to @k-rus: why `SqlProcessor.scsql_dump_memory_leaks()` is only checked for Debug build? Does it only work only in Debug?

[2015-09-25 21:38] warpech commented on #2909
And what is the current behavior of the code that you posted?

[2015-09-25 21:43] alemoi opened #2912 "Administrator does enormous amount of DbSession.RunAsync calls"
Here is a problem:

[code]

To enable this trace add the following 2 lines to the `void Run(ITask task, Byte schedId = Byte.MaxValue) ` in TaskSchedulerImpl.cs:

[code]
This was causing not being able even to start `scservice.exe` on the build servers (problem causes input queue to be full which makes scadminserver.exe die).

Commenting the following line in database.cs solves the problem:
[code]

[2015-09-25 21:53] alemoi commented on #2911
Basically renaming /so/ to /db/ will solve the issue @warpech ?

[2015-09-25 21:57] alemoi commented on #2909
By returning the file you would probably need to return a new `Response` object with `resp.BodyBytes` set to your file contents. Please check http://starcounter.io/guides/network/handling-responses/ for more details and let us know if it solved the problem.

[2015-09-26 00:32] dan31 commented on #2911
@alemoi @warpech what should be instead of ```Ontology```?

[2015-09-26 00:59] dan31 commented on #2910
@mtornwall, from what I see I don't see impedance on caching, since it caches runtime and by string. @k-rus @alemoi do you agree? @k-rus, a short idea alongside. I've seen in one of @per-samuelsson posts a form like this:
```var p = Db.SQL<Foo>("WHERE Name = 'John'"); // assumes adding a default prefix SELECT p FROM Person p ... ```
Maybe that's something we should opt for? 75% of the time the pre

[2015-09-26 07:47] atifsheikh commented on #2909
@alemoi Perfect, resp.BodyBytes worked for me. thanks for the help guys.

[2015-09-26 09:53] alemoi commented on #2910
I would say as long as its determined once during the program run - its great. However if its on every call, then its bad. It does not affect SQL cache utilization though.

[2015-09-26 20:52] mtornwall opened #2913 "Impossible to start a database whose name contains an underscore"
It seems to be impossible to start a database whose name contains an underscore. To reproduce, simply go to the administrator and create one with a name like "a_b". The log contains the following message:

[code]

[2015-09-27 10:28] andwah commented on #2912
For each time i call ```Session.ForAll(...)``` ```Starcounter.Hosting.TaskSchedulerImpl.Run``` is called atleast eight times,

I have optimized some code in the administrator so  ```Session.ForAll(...)``` will be called some fewer times (code not pushed yet). But this issue above will still occure i guess but not as often.

When the datamodel is changed i need to push out the changes to the client

[2015-09-27 11:00] andwah commented on #2908
Thanks for finding this.
Yes this was a mistake and has now been corrected in commit d663d7d4d694aaffdb8bc200c48fc1c2a0489911

The correct naming is plural ```databases```

[2015-09-27 11:00] #2908 closed

[2015-09-27 13:21] alemoi commented on #2912
Hmm I wonder how we can fix this permanently.
The issue that I experienced on scbuildserver was a pure start of scservice.exe, no applications, no clients. During that start the scadminiserver.exe was immediately dying because of ScErrInputQueueFull exception, which means the number of unprocessed scheduled tasks was more that 4095 per scheduler. When I commented the following:
[code]
then problem

[2015-09-27 13:33] alemoi commented on #2905
@dan31 this is quite urgent issue since we skip running these tests on the build system.
Reminder: the calling script is located here https://git.starcounter.org/BlueStar/buildsystem/blob/develop/src/Scripts/RunAppsTests.bat
The calling script does not do much except calling JS tests for each app.
Each of the above apps has a `test\test.js` JS test that runs (which should be corrected).

[2015-09-27 15:14] miyconst commented on #2910
This
[code]
will cause unexpected errors if class name is a reserved SQL keyword, for example `Order`.

[2015-09-28 08:56] warpech commented on #2911
@dan31 This issue is about changing a parameter of `OntologyMap`, not renaming `OntologyMap` (we want that as well but not now).

@alemoi not only renaming `/so/` to `/db/` but also changing shorthand table name to full (Simplified) table name

[2015-09-28 10:11] warpech commented on #2908
@andwah Please add information about this breaking change to the changelog

[2015-09-28 10:12] warpech commented on #2765
List of above mentioned changes: http://starcounter.io/nightly-changes/list-breaking-changes-starting-build-2-1-1-3/

[2015-09-28 10:17] chrhol opened #2914 "<Title removed>"

[2015-09-28 11:47] warpech opened #2915 "OFFSETKEY sample in wiki does not work"
As part of #2455 I am trying to move the page about [SQL OFFSETKEY](https://github.com/Starcounter/Starcounter/wiki/SQL-OFFSETKEY)

The code sample at that page (_Example of using OFFSETKEY_) does not work for 2 reasons:

- `string k  = null;` should be changed to `byte[] k  = null;`
- the execution stops at `if (k == null) return;` because `k` is null

My full test code:

[code]

@k-rus Please ad

[2015-09-28 11:53] chrhol opened #2916 "-"

[2015-09-28 12:08] chrhol opened #2917 "-"

[2015-09-28 12:11] miyconst opened #2918 "Starcounter error - Assertion failed!"
From time to time I receive this error.

Very often it requires to restart PC to get the applications work back again.

![image](https://cloud.githubusercontent.com/assets/6435556/10134933/386a4f2c-65ea-11e5-8744-397eacd50048.png)

I have discovered, that these sets of apps always trigger this error: SysUpgrade, Launcher, AppStoreClient.

In my scenario all of the apps are opened in a separate VS

[2015-09-28 12:13] miyconst commented on #2918
cc @alemoi

[2015-09-28 12:39] alemoi commented on #2917
Thanks for a good report! Will check once have time!

[2015-09-28 12:45] chrhol commented on #2902
I will look into it. Have reproduced it following the steps from @miyconst

[2015-09-28 13:54] chrhol commented on #2902
I'm not sure yet if the bug is in the serializer or the merger (or possible some place before the merger is called). There is a value in the Json class, `_activeAppName` that isn't set correctly when the whole page is refreshed.

I will try to figure out what this value is for and probably try to refactor the code around it since it is not that easy to understand why it is needed :)

[2015-09-28 19:39] alemoi commented on #2918
Thank you for reporting! After some investigation and trial/error while trying different code/data relocation schemes used in LLVM, the issue seems disappeared (at least on @miyconst machine, but we need to test more). Unfortunately most probably its related to the following relocation-related issues inside LLVM itself:
* https://llvm.org/bugs/show_bug.cgi?id=15356
* https://llvm.org/bugs/show_bug

[2015-09-28 21:01] alemoi commented on #2918
@miyconst thank you for testing the possible fix. Waiting for the same from @andwah

Here is the bug I submitted to LLVM: https://llvm.org/bugs/show_bug.cgi?id=24978

[2015-09-29 06:28] miyconst commented on #2918
Just a little note:

It should be Windows **8.1**.

[2015-09-29 07:49] warpech commented on #2905
@miyconst could you take a look? This should be 15 mins work for each of the apps.

[2015-09-29 08:28] mtornwall opened #2919 "Possible race condition in Http.GET causing invalid BodyBytes"
This issue seems directly related to #2818 as the symptoms are identical, once triggered.

There appears to be some kind of race condition involving the `Response` object returned from `Http.GET` (and possibly others; I haven't tried it). The result of the bug is an invalid value in `BodyBytes` - it appears to have tried to encode binary data as UTF-8, or something like that. The following code re

[2015-09-29 10:13] warpech commented on #2905
Yes. Tests should always be a priority

[2015-09-29 11:08] alemoi commented on #2905
One comment: root handlers should be removed from tests, since root aliasing is now done outside the applications.

[2015-09-29 11:17] alemoi commented on #2918
Thanks for the info!

[2015-09-29 13:10] alemoi commented on #2914
Thank you for the proposal! Definitely should be a part of mapping API. So feel free to add your extension  there!

[2015-09-29 13:55] miyconst commented on #2905
Updated the first comment.

@warpech, I think the Skyper and Cartographer apps should be either fully reworked or completely removed from public access.

[2015-09-30 07:58] miyconst opened #2920 "Removing an array element generates wrong json patch"
Removing an array element of json view-model generates json patch as if I would moved all of the next elements up one index and removed the last element.

Example to explain:

[code]

Removing element 2 would generate the next json patch:

[code]

But it should generate this json patch:

[code]

cc @chrhol, @warpech, @tomalec

[2015-09-30 08:12] miyconst commented on #2920
Index page of Barcodes application can demonstrate the issue.

You will have to run SysUpgrade, Launcher, Barcodes.
Create some barcodes, delete not the last element, and investigate the patch.

[2015-09-30 09:07] tomalec commented on #2920
Is it behavior of Starcounter jsonpatch, or JavaScript one as well?

[2015-09-30 09:18] miyconst commented on #2920
I didn't check the JavaScript part, because Starcounter server side does not support array operations either way.

[2015-09-30 09:41] #2914 closed

[2015-09-30 09:43] #2916 closed

[2015-09-30 09:45] #2917 closed

[2015-09-30 10:26] k-rus commented on #2907
The test can be run only in Debug configuration. The test uses [_CrtDumpMemoryLeaks](https://msdn.microsoft.com/en-us/library/d41t22sb.aspx?f=255&MSPPError=-2147217396). Failing the test means that there is a potential memory leak, which our users might suffer.

[2015-09-30 10:31] k-rus commented on #2907
See also #1578

[2015-09-30 10:41] miyconst commented on #2905
Skyper also migrated and checked.

[2015-09-30 10:46] tomalec commented on #2854
I'm affraid I will not make puppet-dom-bind notifier by this time, but I think it should not be a problem because we already have regular dom-bind-notifier, and the future migration should be seamless

[2015-09-30 11:29] chrhol commented on #2920
This is due to the implemenation of dirtycheck in Puppets (Starcounter). The list of barcodes is bound to a property returning the result of a query and the implementation for checking if bound objects are added or removed is very primitive today. Basically it compares two lists index for index and adds a change for each diff.

The example in the first comment, using unbound values works as expect

[2015-09-30 11:40] miyconst commented on #2920
Okay, I removed the `bug` label.

How long would this improvement take you? Is it possible to fix it today, before the Starcounter 2.1 release?

[2015-09-30 11:50] chrhol commented on #2920
It should be possible to do it today I guess. It's only a small amount of code to change.

[2015-09-30 11:50] miyconst commented on #2920
Then do it, please.

[2015-09-30 12:10] dan31 commented on #2913
Thanks for hint @mtornwall! CC @andwah @per-samuelsson, is that a feature or to be fixed?

[2015-09-30 12:18] k-rus commented on #2910
I confirm that the initial example cannot affect the cache, since SQL sees the final string and table name is not considered to be literal.
The main performance drawback comes from the string concatenation, which is quite expensive. Currently, we don't provide good support for this user case.

[2015-09-30 12:29] tomalec commented on #2920
I think it may be considered as a bug if we think of JSON as tree of object, not as a string
[code]
in
[code]
creates an object, and does not move the reference, so
[code]

[2015-09-30 12:33] chrhol commented on #2920
Good point @tomalec. Did not think of it in that way. Lets readd the label :)

I'm working on changing this anyway.

[2015-09-30 12:52] k-rus commented on #2915
I confirm the found problems and resolution. The offset key documentation was not changed in accordance to the implementation.

[2015-09-30 13:17] k-rus commented on #2915
I updated this on the page.

I confirm that it does not work as expected. Has to be investigated further.

[2015-09-30 13:17] k-rus commented on #2915
Thank you for testing and reporting!

[2015-09-30 15:02] warpech opened #2921 "Fix bower.json"
The files in https://github.com/Starcounter/Starcounter/tree/develop/src/BuildSystem/ClientFiles were upgraded to be compatible with Polymer 1.1 manually.

This should be done with Bower. File [bower.json](https://github.com/Starcounter/Starcounter/blob/develop/src/BuildSystem/ClientFiles/bower.json) needs updating.

[2015-09-30 15:08] warpech commented on #2854
Np. but we need to release it anyway tomorrow, so please concentrate on explaining the changes on starcounter.io and updating the docs.

[2015-09-30 15:37] warpech commented on #2854
We will release Polymer 1.1-compatible upgrade tomorrow according to the plan. Most of the sample apps are already migrated.

[2015-09-30 16:21] alemoi commented on #2905
Fixed the remaining problems with build scripts. Now tests are running by default in daily/nightly.

[2015-09-30 16:35] mtornwall commented on #2913
@dan31 I think there should be an error message in both the administrator UI and the REST interface if this is not deemed to be a bug. Otherwise one might - as I did - accidentally create a broken database and go crazy when you can't figure out why it fails to start. :-)

[2015-09-30 16:37] mtornwall commented on #2910
Thanks for your feedback everyone!

Regarding the cost of string concatenation I have conducted independent microbenchmarking that show a noticeable overhead. We'll see if I end up running this in production.

[2015-09-30 16:59] miyconst commented on #2921
Fixed and tested by @alemoi, big thanks for that.

[2015-09-30 16:59] #2921 closed

[2015-09-30 17:01] miyconst commented on #2905
Can we close this issue then? Cartographer has it's own issue: https://github.com/StarcounterSamples/Cartographer/issues/2

[2015-09-30 17:34] Starcounter-Jack commented on #2854
Cool. I am so happy that we are now going sharp with webcomponents/polymer on an official version.

Sent from my iPhone

[2015-09-30 19:03] alemoi commented on #2911
I am about to finalize this issue, but have a question: its another braking changes, since "/so/" won't be available and only full class names would be allowed. Btw the prefix will be "/sc/db", since it relates to system handlers.
Of course I will have it mentioned in change log, but what about versioning?

[2015-09-30 19:35] alemoi commented on #2911
For example, this is how things now look for Products:
[code]
What do you think?

[2015-10-01 07:10] miyconst commented on #2911
1. Can't we support both of the syntax for some time and mark the old one as deprecated?
2. Why this `UriMapping.OntologyMappingUriPrefix + ` should be added manually? Are there any other prefixes to use? If no, then it should be added inside the `UriMapping.OntologyMap` method.

[2015-10-01 07:50] warpech commented on #2911
@alemoi are you doing this at Starcounter level? I intended this to be only a change in the **demos and code samples**, which means it is not a breaking change in Starcounter (because it is not a change in Starcounter at all)

@miyconst:

I don't even want marking old one as deprecated, just stop to use it where it doesn't make sense.

I believe `UriMapping.OntologyMappingUriPrefix` is just a shor

[2015-10-01 08:19] warpech commented on #2921
Looking good now, thanks!

[2015-10-01 08:33] alemoi commented on #2911
Yes, usage `UriMapping.OntologyMappingUriPrefix` will, of course, be documented, its /sc/db. Its publicly given to user because we are creating an actual URI handler out of it, same as for `UriMapping.MappingUriPrefix`.
About breaking change I thought if it breaks the demos as well, which was simply my wrong understanding of "breaking" :)

[2015-10-01 08:40] warpech opened #2922 "Rework <puppet-client> to be Polymer 1.2-aware"
After we started to support Polymer 1.1 (https://github.com/Starcounter/Starcounter/issues/2854), the demos switched to use `<dom-bind-notifier>` which requires `Object.observe`. This makes the demos not working in Firefox and IE/Edge.

Implementing `<puppet-dom-bind-notifier>` should make it work cross browser.

After `<puppet-dom-bind-notifier>` is implemented, all apps in https://github.com/Sta

[2015-10-01 08:41] warpech commented on #2854
Implementation of `puppet-dom-bind notifier` is now tracked in #2922

[2015-10-01 08:59] miyconst commented on #2922
I think we might just replace `dom-bind-notifier` in `Starcounter/sys` directory with `puppet-dom-bind-notifier` to don't rework all of the apps.

Something similar we did with `launcher-include` vs `starcounter-include`.

[2015-10-01 09:21] andwah commented on #2913
There was a bug that the error message was not displayed in the UI, That has now been corrected.

After ```ScErrCantFindImageFile (SCERR4117)``` error, The ```Engine.DatabaseProcessRunning``` reports true even if the database it's not fully operational. I used that for knowing if a database was running or not.

@per-samuelsson  Do you have a nice trick to check if a database is running (fully oper

[2015-10-01 09:29] andwah commented on #2908
Changelog updated.

[2015-10-01 11:10] dan31 commented on #2918
@alemoi, what sort of assertions it is? Should we build the llvm bins without debug info to suppress that? Since that happens when people run demos, and then you need to do manipulations with server to bring stuff back to life, that is the worst thing to imagine happening.

[2015-10-01 11:33] alemoi commented on #2918
Its any-build assertion inside the LLVM itself regardless if its Debug or Release.

[2015-10-01 11:43] alemoi commented on #2918
Here is an excerpt from LLVM Im talking about:
[code]

[2015-10-01 12:10] k-rus commented on #2915
The bug is fixed. I think the page about `Offsetkey` can be moved to the correct place.

[2015-10-01 12:11] #2915 closed

[2015-10-01 14:41] atifwaqar opened #2923 "Question: How to get the thread's ID?"
How can i get the Thread's ID for monitoring if its live or crashed. My code for creating the Thread is as following :

                DbSession dbSession = new DbSession();
                dbSession.RunAsync(() =>
                {
                    AdFenix.Database.DownloadQueue.StartDownloadingQueue();
                });

and i want to track "dbSession" thread's status.

[2015-10-01 18:24] alemoi commented on #2911
Just pushed the proposed changes via f4f3a0e1e827e2b886491ea8b74e80a2120d62c3
Change log updated accordingly.

[2015-10-01 18:26] alemoi commented on #2905
I just pushed recent changes related to OntologyMap and updated all above apps accordingly:
https://github.com/Starcounter/Starcounter/issues/2911

[2015-10-01 20:16] warpech commented on #2828
WIP: https://github.com/Starcounter/Starcounter/tree/hotUpgrade018

Now reproducible with https://github.com/Polyjuice/Website/tree/master (but you have to comment out the line that uses PolyjuiceNamespace)

[2015-10-02 06:59] warpech commented on #2922
Sounds like a nice idea.

@tomalec can you estimate the effort? It is the top priority, because it prevents apps from running cross-browser.

[2015-10-02 07:36] per-samuelsson commented on #2913
Sorry, I haven't replied to this earlier.

Yes, at least if "fully operational" means that the database process *and* the code host process are running.

Recap on the underlying architecture: there are two important proccess in play in this context (there are actually more, but those two reveal the whole truth about the state, so lets focus on them): 1) the database process and 2) the code host pr

[2015-10-02 09:45] andwah commented on #2913
@per-samuelsson thanks for the explanation.

@dan I think this is something that should be fixed. but i don't have access to the code to fix it.

[2015-10-02 10:22] per-samuelsson commented on #2913
Its a Bluestar thing, in Level0, `sccoredb.sccoredb_connect`.

If I remember correctly, we are somewhat limited in terms of using named kernel objects (like named global events), it might be some of that preventing the usage of underscores.

I think its fine if we define it as a constraint, forcing all databases to use A-Z,1-9 naming scheme, or something. At least for 2.x. And then maybe reevaluat

[2015-10-02 13:49] miyconst opened #2924 "Invalid css styles for sign up work"
This is how form looks like if I press "SEND" button before filling any data to invalidate the form.

![image](https://cloud.githubusercontent.com/assets/6435556/10247999/0e869540-691d-11e5-949d-fc4b6535b0e1.png)

cc @warpech

[2015-10-02 13:53] miyconst opened #2925 "The sign up form does not work"
Here http://www.starcounter.com/activities/ the **SIGN UP HERE!** form does not work. After filling in data and pressing **SEND** button nothing happens.

The button is an `<a>` which calls `doSubmit(document.getElementById('form_000d'))`, manual execution of this js in console results in the following exception:
[code]

cc @warpech

[2015-10-02 14:00] mtornwall commented on #2857
Not sure if this is entirely on topic, but I think there needs to be very clear descriptions of the isolation levels offered by Starcounter transactions.

As I understand it you get read-committed with long-running transactions, and snapshot isolation otherwise?

[2015-10-02 14:15] mtornwall commented on #2923
Disclaimer: I'm not a Starcounter employee.

To my knowledge (I'm sure somebody will correct me if I'm wrong), there's a one-to-one mapping from Starcounter schedulers to threads. Notice that `RunAsync` takes a second, optional parameter called `schedId`, which defaults to 255 (which I believe always results in the task being run on scheduler zero).

So, it seems to me that if you want to keep tra

[2015-10-02 15:39] jwillmer opened #2926 "Add link to tutorials that explains how to upgrade starcounter"
I tried the [tutorial](http://starcounter.io/tutorials/1-introduction-to-part-1/) but got stucked at section "Render JSON in HTML" because my version of starcounter was missing the file `/sys/dom-bind-notifier/dom-bind-notifier.html`. Fortunately I found the [SysUpgrade app](https://github.com/StarcounterSamples/SysUpgrade) :-)

It would be nice to have a hint there that gives you an idea why your

[2015-10-02 15:58] warpech opened #2927 "Create "default" database by default"
I think that "default" database should be created by Starcounter installer.

It will result in few less clicks to try out [Sample apps](http://starcounter.io/sample-apps/)

[2015-10-02 15:59] warpech opened #2928 "Installer should have an option to start Starcounter"
Can we have a checkbox in the last step of the installer saying:

[ ] Start Starcounter Server now

[2015-10-02 16:02] warpech commented on #2928
Can we have a checkbox in the last step of the installer saying:

[x] Start Starcounter Server now
[x] Open Administrator (opens Administrator after Starcounter is started. Inactive if the above is unchecked)

I think it can even replace the current "Take me to wiki" checkbox.

WDYT?

[2015-10-02 20:33] mtornwall commented on #2928
+1 for starting.

On a related note, I wish "take me to the wiki" would be unchecked when updating to a new version.

[2015-10-02 20:34] mtornwall commented on #2927
Why not go even further and provide an option to install and start the standard apps? :-)

[2015-10-03 09:25] warpech commented on #2927
As an option would be nice, but we don't really have "standard apps". We have sample apps only.

Regarding the automatic creation of the "default" database - would you like it, hate it or don't mind? This could be an option that can be unchecked.

Same question to @ripipip

[2015-10-03 09:28] warpech commented on #2926
Tutorials assume you are running current version of Starcounter.

And this particular thing was just changed on October 1st with the release of Starcounter 2.1... But I agree the we could put an information about required version somewhere on the page.

With Starcounter 2.1, SysUpgrade is not needed. But I admire that you were able to find it on your own!

[2015-10-03 09:44] Ripipip commented on #2927
@warpech I don't think I would care that much actually :) Talking solely from my own perspective and not taking into consideration how it would help new developers.

[2015-10-04 13:57] #2910 closed

[2015-10-04 15:13] alemoi commented on #2911
As extra, added a possibility to call OntologyMap and supply only full class name as second parameter.

[2015-10-04 15:13] #2911 closed

[2015-10-04 15:22] alemoi commented on #2893
Is it decided about Key->Name and Value->Setup ?
I guess its the remaining thing here.

[2015-10-04 16:17] #2862 closed

[2015-10-04 16:17] #2861 closed

[2015-10-04 21:47] alemoi commented on #2759
Thanks for additional information!
I have found the reason for this, its inside installer GUI. The following code as it should throws an exception about 1 core limitation:
[code]
however the problem occurs when the following code catches and processes the exception:
[code]
If I replace the exception processing to the following, then everything is fine:
[code]

I guess something wrong happens in `t

[2015-10-04 22:27] alemoi commented on #2759
Another problem that I found now is that even after installation on this Windows 10 machine, all Starcounter setup processes remain running: GUI installer process does not terminate and other processes are waiting for it.

@andwah sorry but its another thing for you to check, why GUI installer process does not terminate after installation is finished, maybe smth with WPF?

By the way, I used lates

[2015-10-05 06:42] miyconst opened #2929 "Visual Studio extension is installed per user, while Starcounter is installed per machine"
As title says, Visual Studio extension installs per user, and Starcounter itself installs per machine.

In the result, two users on same machine can't use Visual Studio with Starcounter.

If user A installed Starcounter, then A has access to Visual Studio extension and Starcounter instance.
User B on other hand has access to Starcounter instance only.

If user B tries to re-install Starcounter to

[2015-10-05 06:43] andwah commented on #2913
To be clear.. should we add a  A-Z,1-9 naming scheme for database names?

[2015-10-05 06:46] per-samuelsson commented on #2913
That was my advice. Because its simply fixed (code provided above) and because it shouldnt pose a big limitation on usage IMO.

The decision is up to @dan31.

[2015-10-05 07:09] chrhol commented on #2920
This was a bit more complicated than I expected.

I have a fix for this now that performs around the same as the old solution, when benchmarking the dirtycheck only and since the resulting changes in most cases will be fewer it should perform better overall.

I have one more thing to implement and I really want to test this more to make sure I'm sending out the correct patches.

One question: is m

[2015-10-05 09:20] tomalec commented on #2922
I would say If there will be no unexpecdedly heavy issue, it may take a week, with tests and so.
But there might be still some limitations and glitches as they are now with Polymer binding itself

[2015-10-05 15:39] warpech commented on #2920
It is, because it is supported by https://github.com/Starcounter-Jack/JSON-Patch

@tomalec can you confirm?

[2015-10-05 16:08] warpech commented on #2893
Yes :+1:

[2015-10-05 18:43] tomalec commented on #2920
I confirm that puppetJs supports it as fast-json-patch supports it. However
I have to check if we defined all OT for it.
5 paź 2015 17:39 "Marcin Warpechowski" <notifications@github.com>
napisał(a):

[2015-10-05 19:01] warpech commented on #2925
Thanks! Passed it over. We will look into that tomorrow.

[2015-10-05 19:04] warpech commented on #2924
Thanks for reporting!

[2015-10-05 19:05] warpech commented on #2915
Thanks! I will move the page to the .io website

[2015-10-05 20:45] alemoi commented on #2829
I have two questions. I have the code below that throws errors (complete code, so you can just paste it in some.cs):
[code]
but then I have errors when using star.exe:
[code]

`Relation` class is from Simplified, which is in turn in EditionLibraries.

Another thing is with `Products` class that comes from one app that was already loaded in codehost.

@per-samuelsson question to you:
Is it much wor

[2015-10-05 21:38] dan31 commented on #2915
Thanks @k-rus! @warpech is doing amazing work (with help of other guys for sure) going through all the corners of our docs, now you can literally read our docs as a book :+1:

[2015-10-05 21:54] dan31 commented on #2927
If installer will check existence of a default database, and create it in case it doesn't exist – this will improve the first-run experience for developers, since the database will be already there and less time for creation will be taken. Not likely to be an issue in 3.x (things like that will be a way much faster), though would be a great improvement for 2.x.

[2015-10-05 22:04] dan31 commented on #2927
Talked to @alemoi now and assign to @andwah

[2015-10-05 22:08] alemoi commented on #2927
@andwah let's try to make it together as a very last step in installer, by basically using the Admin API used for database creation.

[2015-10-05 22:20] dan31 commented on #2857
Yes, and you have an implicit read-only transaction in circumstances shortly touched there: http://starcounter.io/guides/transactions/running-background-jobs/. We will try eventually to explain the whole structure in a simple way. We also work on refining the transactions structure (and on naming) for 3.x. Warmly welcome is your current feedback (we can take that offline, @mtornwall, just fetch me

[2015-10-05 22:30] dan31 commented on #2928
I think we have some flaw in our "proc management automata". When you install SC, no SC and "Starcounter Server" are run. When you run app from VS, SC is run, but no "Starcounter Server" is run. When "Starcounter Server" is run, it basically runs all SC processes, but doesn't keep them alive. Looks like the initial idea of having that service running for keep-alive and administrator constantly ava

[2015-10-05 22:32] dan31 commented on #2928
Just not to forget: also levels of system privileges have to be explained. Sometimes non-pro devs can mess up things by running SC with system privilege and not understanding what's going on then.

[2015-10-06 05:26] andwah commented on #2927
@alemoi  Sure.

I Think we should only create the "default" database if there is no other databases created (if it's an upgrade etc).

[2015-10-06 06:50] miyconst opened #2930 "Mapping flexibility"
I have some suggestions of how we could improve current mapping:

### 1. Add possibility to map to a certain object

In my *Website* app I have the following map:

[code]

And the *SignIn* app has to display login form in a specific content section. The map could look like this:

[code]

Where `DefaultTemplate-User` is the value of `@w` parameter from the *Website* app mapping.

### 2. Add possibi

[2015-10-06 07:57] per-samuelsson commented on #2928
One problem here is that I don't think everyone agree on what "Starcounter Server" mean. I've seen quite a few places where it has meant the code host, which we normally *dont* reference as "the server", but at the same time is a server indeed (it's processing requests).

We also have the "service" and the "server".

The "service" is a process called `scservice.exe`. This one is native and start u

[2015-10-06 08:02] per-samuelsson commented on #2857
Agree on both:

a) its not on topic (because this issue was about an article what works different when coding C# basic concepts compared to doing the same thing inside hosted Starcounter), and

b) we really need a throughout description of all the ins-and-outs of transactions and how they work in Starcounter, centered around common use-cases.

[2015-10-06 08:20] per-samuelsson commented on #2829
Is it much work to reference already loaded assemblies like Products in this case when starting .cs app or its better to go for a separate C# Starcounter project (which will produce an exe app) that will reference all needed assemblies?

I'm not entirely sure what you mean here? Do you suggest that `star.exe`, when given a source code file that should be compiled into an application, should do som

[2015-10-06 08:22] dan31 commented on #2928
Seems not the Windows Service (which I referred to as "Service"):

<img width="876" alt="screen shot 2015-10-06 at 10 20 47" src="https://cloud.githubusercontent.com/assets/7162535/10303436/fe575232-6c13-11e5-853d-9ac17a171d3b.png">

[2015-10-06 08:23] per-samuelsson commented on #2829
Oh, by the way, a little trick: we have a unofficial option to star `--sc-compile` (you can see it when you use extended+extended help with `star --hxx`). It allows you to run the compiler and produce an `exe` without ever starting any other processes. It's usefull for testing this kind of scenarios.

[code]

[2015-10-06 08:40] per-samuelsson commented on #2829
OK, I found the issue. You are mixing apples and pears here. You have started referencing classes from *edition libraries*, while this issue was about that we needed to support *extension libraries*.

Look at the original post:

And then at this https://github.com/Starcounter/Starcounter/issues/2829#issuecomment-127552530 a little later:

Never have we supported compilation on-the-fly that also in

[2015-10-06 09:38] atifsheikh commented on #2923
Great. This is exactly what i was looking for, but only one thing remains, how do i check the status of "sid"?
for example after executing this code, i want to keep checking the status of this "sid", how can I do that?

[2015-10-06 09:51] mtornwall commented on #2923
What exactly do you mean by the status? If the database is operational, then presumably its schedulers are also.

[2015-10-06 09:55] atifsheikh commented on #2923
I just tested the code, and its giving me the same tid & sid for all the threads that i create. here is my code samples :
for (int loop = 0 ; loop < 10 ; loop++)
{
	DbSession dbSession = new DbSession();
	var sid = Starcounter.Internal.StarcounterEnvironment.CurrentSchedulerId;
	dbSession.RunAsync(() =>
	{
		var tid = System.Threading.Thread.CurrentThread.ManagedThreadId;
	},sid);
}

i tested it b

[2015-10-06 09:56] atifsheikh commented on #2923
and by status i mean, i need to check that is the thread still running or stopped or crashed.

[2015-10-06 09:59] mtornwall commented on #2923
I doubt the code you posted above is creating any threads at all. Presumably it's invoked in response to some HTTP request? In that case, it's being run on a Starcounter scheduler, whose ID is obtained using  `CurrentSchedulerId`. You then go on to schedule an asynchronous task *on that same scheduler*.

As for checking the status of the scheduler thread, I believe this is neither possible nor nec

[2015-10-06 10:18] atifsheikh commented on #2923
Got it. Thank you for your help @mtornwall :)

[2015-10-06 12:38] warpech commented on #2834
@andwah could you check what statements are supported currently (SELECT, CREATE INDEX, DELETE) and add this information? Every person that begins development with Starcounter is confused about that

[2015-10-06 12:39] jakubklekota commented on #2834
+1
SQL statements compatibility with t-sql http://www.w3schools.com/sql/

[2015-10-06 12:51] andwah commented on #2834
Here is some related information #2859

I will add some informative text in the Query window

[2015-10-06 13:26] k-rus commented on #2834
Starcounter's SQL is described on [our website](http://starcounter.io/guides/sql/). Current version of our SQL is a limited subset of standard SQL with some extensions. The implemented syntax might have small differences to standard SQLs, e.g., 92, 99, and different SQL implementations, e.g., T-SQL, PL/SQL, since all of them are different.

[2015-10-06 14:52] chrhol commented on #2920
I've pushed the changes for this issue to develop now. Let me know if it works out or not.

I've not implemented move-operations for now, so no need to check OT at this moment. We can do it at a later time-

[2015-10-06 15:40] dan31 commented on #2896
I'm thinking, would we do any harm if we add ```PATH=%PATH%;C:\Windows\Microsoft.NET\Framework\v4.0.30319``` in the installer.

[2015-10-06 16:30] dan31 commented on #2896
Everything is shipped in this Win-10 VM. This seems minimally possible:
```set PATH=%PATH%;C:\Windows\Microsoft.NET\Framework64\v4.0.30319```
```msbuild -p:FrameworkPathOverride="c:\Windows\Microsoft.NET\Framework64\v4.0.30319" InvoiceDemo.csproj```
Please note who's making demos: Framework __64__
```PathOverride``` there appears to be inevitable.

[code]

So one can include some ```build_demo.bat

[2015-10-06 17:16] andwah commented on #2834
What text should we write in the Administrator to make it clear what the user can do. ?

[2015-10-06 17:35] warpech commented on #2834
I propose the following:

@k-rus want to refine it?

[2015-10-06 20:44] mtornwall opened #2931 "Add a Visual Studio template for creating pages, not just JSON"
I consistently forget to change the base class of my pages from `Json` to `Page`. Though ultimately my own fault it has cost me lots of frustration. I propose you add a template in Visual Studio for creating pages with code-behind to avoid confusion.

[2015-10-06 20:46] warpech commented on #2931
Great catch! Let's try to do something before CodeNight

[2015-10-06 20:48] warpech commented on #2931
Maybe we could get as far as merging `Page` into `Json` class directly?

@dan31, @chrhol, @alemoi, WDYT?

[2015-10-07 07:12] k-rus commented on #2834
I don't know what is allowed in Administrator's SQL. If transaction scope was fixed and `SlowSQL` is used, then I guess all implemented SQL should work. However, it should be tested first, or better to add regression tests.

Neither INSERT, nor UPDATE are supported in current SQL implementation. INSERT is only supported for loading data from generated statements. INSERT is not supposed to be used

[2015-10-07 09:08] mtornwall commented on #2857
@per-samuelsson Well, I thought it was a little bit on topic in the sense that the workings of transactions certainly affect how you can, and should, write your code (particularly with regards to side effects etc). But I do concede that it probably belongs elsewhere. :-)

The following is hopefully a bit more on topic. Most C# developers are accustomed to being able to attach a debugger to a runni

[2015-10-07 09:25] per-samuelsson commented on #2857
Totally agree. Very good point.

Yep, that should be part of such documentation. It's part of the domain model exposed by the admin server already, I don't know why the web administrator interface doesn't show it next to the application.

If someone didn't know, and/or need it now, `staradmin list db` will reveal it.

[code]

[2015-10-07 10:20] warpech commented on #2931
I see three options:

1. Merging `Page` into `Json` class directly
2. Don't merge, but just make the Visual Studio template use the `Page` class instead of the `Json` class
3. Add another template for Starcounter Page with code-behind

@dan31, @chrhol, @alemoi, WDYT?

[2015-10-07 10:23] warpech commented on #2927
:+1:

[2015-10-07 10:36] warpech commented on #2920
Looks like solved for me, thanks! (tested in Barcodes app).

[2015-10-07 10:36] #2920 closed

[2015-10-07 12:55] warpech opened #2932 "Unclear errors when the URL does not begin with /"
This issue applies to URL handlers and calling urls:

[code]

Notice that the URLs don't begin with `/` by programmer's mistake.

In case of `Handle.GET`, the above code will work as long as `EnforceURINamespaces` is `false`. I think this should throw an exception because the URL does not begin with `/`.

In case of `Self.GET`, the above code will return `null`. I think this should throw an except

[2015-10-07 13:36] chrhol opened #2933 "Codehost spinning/terminating when indexes are updated."
Running in Starcounter 2.0.3343.3

When following some steps in Tunity application, on the actionboard, the codehost stops responding and starts spinning forever when a transaction is committed.

If indexes are dropped the same steps works fine.

I've managed to make a small app that gets the same problem using Tunitys existing database. Attaching a debugger (for version 2.0.3343.3) gets the follo

[2015-10-07 13:43] warpech opened #2934 "Clicking on the app name in Administrator AppStore shows JSON"
See screencast:

![bug](https://cloud.githubusercontent.com/assets/566463/10338947/1da15444-6d09-11e5-8d64-c9e1eef8fcde.gif)

For not installed apps, I think the link should be disabled until we have a source to display app detail information.

For installed apps, I think the link should lead to the installed app info, e.g. `/#/databases/default/applications/842E753FA1048B138D2295CD8D26B343`

[2015-10-07 13:44] warpech commented on #2934
Found today by @jakubklekota

[2015-10-07 14:09] alemoi commented on #2932
I agree with both statements.

[2015-10-07 14:20] miyconst opened #2935 "Add possibility to execute multiply SQL statements from same window"
It is cool that I can execute `DELETE` statements from administrator now, but it would be even more cool if I could execute such code:

[code]

This could be done very easily, just split query text by `;` and execute it as a separate queries.

[2015-10-07 14:24] miyconst opened #2936 "Add possibility to execute only selected piece of sql"
It would be really nice if Administrator would recognize selected piece of sql code and execute it by *Execute* button.

[2015-10-07 14:26] dan31 commented on #2829
@per-samuelsson, if making star.exe compiler support libraries to link against, how much of work it is? If fixed, this will allow us to walk with the correct design and avoid ugly workarounds. We are keeping our fingers crossed for that :8ball:

[2015-10-07 19:55] mtornwall commented on #2936
+1, this would be incredibly convenient for keeping some common queries on hand.

[2015-10-08 05:06] andwah commented on #2934
The page for showing an apps page has not get been developed yet, it was delayed but it's something im working on now.

[2015-10-08 06:53] eriohl commented on #2933
Thank you for reporting. Looking into it. Found a transaction in your log that messes up indexing. Probably the source of the problem.

[2015-10-08 07:11] warpech opened #2937 "Download server: <file> is not commonly downloaded and could be dangerous"
@miyconst saw this warning today in Chrome when downloading the installer from http://downloads.starcounter.com/download.

Suggested fix: https://support.techsmith.com/hc/en-us/articles/203728358-TechSmith-Relay-Portable-Recorder-is-not-commonly-downloaded-and-could-be-dangerous-Warning-Message

I don't think this is a priority unless it happens more often.

[2015-10-08 07:27] chrhol opened #2938 "Querying database metadata: using Table instance as parameter doesn't work."
When querying metadata about tables and columns it is not possible to use an instance of the `Starcounter.Metadata.Table` class as parameter to get a `Starcounter.Metadata.Column` (or a set of columns)

In the example below, the middle query that uses the table instance from the previous query always returns null while the last query succeeds.

Is there some special considerations for metadata or

[2015-10-08 07:29] warpech commented on #2829
There is 2 reasons why we use code in maps:

#### 1. Used already: Conditional mapping

Meaning: Checking if the map should be used in a particular context. For example, I might want to display a partial only if a Product is part of the relation:

[code]

Such code is currently in the maps, but there is no problem to move it to the partial handlers. @miyconst - anything to add here?

#### 2. Poten

[2015-10-08 07:31] warpech commented on #2932
Note that it a `Http.GET` on the other hand does not have to begin with `/` (because it is an external call)

[2015-10-08 07:46] per-samuelsson commented on #2829
@warpech @dan31 @alemoi

I'm probably not making myself clear here. What is failing in this issue is that *when passing* **source code** *to `star.exe`*, you can not use classes from "extension libraries". Why? Because *no one ever specified there was a need to do so*.

Does this imply you can't use code in maps? Yes - but *only if map applications must neccesarily be* **compiled** *by `star.exe`*

[2015-10-08 07:52] per-samuelsson commented on #2829
And for the record: if it turns out to **be** a requirement to compile map applications like this (i.e. by passing a source code file to `star.exe`), and the only thing missing is that we need to bring in *edition libraries* as implicit references too, then my estimate is its doable in like ... hours. 1 day max at least, taking into account that we must define some new switch I think, and do some

[2015-10-08 08:44] chrhol commented on #2938
Maybe I'm just a bit confused on how to use it properly :)

I see if debugging that I actually get two results from the query for the table, the first `ClrClass` and the second `RawView`.

If I use the second one, `RawView` the queries works as expected.

[2015-10-08 08:47] dan31 commented on #2829
Thanks for an explanation @per-samuelsson! So now it is as plain as that: we decided to make maps be shipped in a form of source code, this is a part of public contract of the apps. We started with just compiling them as apps, and then we realised it's overkill, and the maps has to remain public. Hence it became a requirement. Since you expect that enhancement is to be easy to do, we can address t

[2015-10-08 08:55] per-samuelsson commented on #2829
Sure. No problem. If you build architect like that, I'll make sure to fix it. Maybe I can do that tomorrow. If you guys think it's urgent (considering CodeNight), I can switch out DNX tonight and get my hands dirty with it tomorrow!

Isn't it so that "normal development" - i.e. some end user producing some app - will always use Starcounter Application project anyway? From there, referencing arbitr

[2015-10-08 08:59] andwah commented on #2834
I added some extra information that will be displayed when SCERRSQLINCORRECTSYNTAX, SCERRSQLNOTIMPLEMENTED and SCERRSQLNOTSUPPORTED, error code is returned from an query. Will that cover what we need?

![image](https://cloud.githubusercontent.com/assets/2656996/10361851/27c83e36-6dab-11e5-82b4-a0590ab856a9.png)

[2015-10-08 09:01] warpech commented on #2834
LGTM!

[2015-10-08 09:03] dan31 commented on #2829
It isn't obligatory. But today most of them actually create Starcounter project. And they always will add maps to apps, those maps are to be shipped as a separate cs file, since it is a part of public contract.

@alemoi, please confirm we need to link to arbitrary dlls (to support arbitrary maps).

[2015-10-08 09:36] warpech commented on #2829
Yesterday I misguided @alemoi that for our current usage (https://github.com/Starcounter/Starcounter/issues/2829#issuecomment-146442898) we can move conditional partial logic to the apps and then won't need object references in maps. But in the long term, we will need logic in maps anyway for all the other CRUD operations.

This is not needed for CodeNight.

[2015-10-08 10:27] alemoi commented on #2932
Yes, absolutely. The current requirement for `Http.GET` is to begin with `http:\\`.

[2015-10-08 10:55] careri opened #2939 "Starcounter.Response CreateHeadersDictionaryFromHeadersString"
There's a bug in the parsing of headers. If one of the headers has no value, only whitespace this code will throw an IndexOutOfRangeException
[code]

I'm guessing that sending an empty header is bad practice, but it shoud work. This is my headers:
[code]

[2015-10-08 11:06] andwah commented on #2834
pushed b6aef07a964a990f4a26cbc496498f501f5f8e50

[2015-10-08 11:11] warpech commented on #2834
Thanks, closing!

[2015-10-08 11:11] #2834 closed

[2015-10-08 11:19] dan31 commented on #2939
Hi @careri, thanks for the question! @alemoi, please have a check when possible!

[2015-10-08 11:25] dan31 commented on #2931
How often do we need only JSON but not PAGE? If not frequently, one can change Page back to Json. I'm thinking of P.3 in that respect. WDYT @warpech?

[2015-10-08 11:26] alemoi commented on #2939
Sure, I will check it!

[2015-10-08 11:45] warpech commented on #2931
I would say:

- 75% of cases we use Page
- 24.9% of cases we use Json, but Page would be also fine (just the Page features would not be used)
- 0.1% of cases we want to use Json and Page would cause problems

Option 4: Let's change `Page` to be an interface (similarly to [`IBound`](https://github.com/Starcounter/Starcounter/blob/4c44ec195f9aa3d05cb50e7d57f76fa97db1ca8a/src/Starcounter.XSON.Partial

[2015-10-08 12:15] careri opened #2940 "My database types not loaded/created"
Hi!

I just upgraded to version: Starcounter Edition 2.1.26.2

My polyuice flag is false:
    <PolyjuiceDatabaseFlag>false</PolyjuiceDatabaseFlag>

But it still tries to load the class Something and I get an exception:
An item with the same key has already been added.

[code]

So I end up with a Binding.typeBindingsById that has alot of null-values.

And I can't even start my application, no types

[2015-10-08 12:17] warpech commented on #2940
Hi @careri!

Polyjuice flag was removed in 2.1.x. See: http://starcounter.io/nightly-changes/list-breaking-changes-starting-build-2-1-1-3/

The flag is now called `LoadEditionLibraries` and you will need to manually set it to false.

[2015-10-08 12:27] careri commented on #2940
Seems to be some of the other breaking changes that apply. I'll try following the guidelines and get back to you

[2015-10-08 12:48] careri opened #2941 "Create Index"
Hi!

I just moved from pre 2.1 version to **Starcounter Edition 2.1.26.2**

And now I can't create my indexes, I saw at the breaking changes that types should be referred to with fullname on the breaking changes page:
http://starcounter.io/nightly-changes/list-breaking-changes-starting-build-2-1-1-3/

The exception:

[code]

[2015-10-08 13:04] careri commented on #2940
There is something strange going on I still lack alot of typebindings as state above. This is the exception:
Index was outside the bounds of the array.

	Starcounter.dll!Starcounter.Binding.Bindings.GetTypeBinding(int tableId) Line 267 + 0x2d bytes	C#
 	Starcounter.dll!Starcounter.Internal.DbState.ReadObject(ulong oid, ulong address, int index) Line 460 + 0xe bytes	C#
 	HSM.Concepts.dll!HSM.Concep

[2015-10-08 13:42] eriohl commented on #2933
I fixed the bug I found in the log. Turned out it didn't always evaluate properly when an index was affected by an update which in turn broke the index.

I think most probably this is the cause of the problem. @chrhol: Could you test with fix included (commit 63cbc98672a7afe75a3059d926448ec5704784b8 just pushed to develop, affects sccoredb only)?

[2015-10-08 13:51] chrhol commented on #2931
Hmm, I'm not sure what I like more. I think adding another template might be confusing, better to make `Page` default and then make it easy to switch to `Json` if needed.

Do you have any example of when this can happen? Other then this merging them seems good.

There is some code added to `Page` that needs to added during codegeneration instead, so this option involves a little bit of work.

[2015-10-08 13:56] warpech commented on #2931
This is when I want my Json to NOT have a `text/html` representation. Or if I want to create a `Html` property that is of other type than `string`.

[2015-10-08 13:59] chrhol commented on #2931
Right, thanks.

Then 2 or 4 gets my vote.

[2015-10-08 14:06] alemoi commented on #2940
I wonder if that is related to our new SQL isolation changes: http://starcounter.io/guides/sql/sql-isolation/

One app can not see other app's changes. Maybe some type-binding API is not adopted correctly.

What type-binding functions are you calling? Is there a special reason why you call them?

[2015-10-08 14:09] dan31 commented on #2941
Hi @careri! Is it that you run on a clean DB or with already existing DB? If the latter, did you remove indices prior to that?

[2015-10-08 14:24] mtornwall commented on #2931
Presumably merging `Json` and `Page` would mean that actual JSON responses would always have an `Html` property attached, even if it would be empty? If the client-side uses strongly typed JSON deserialization (as my .NET code does) this would blow up.

[2015-10-08 14:37] alemoi commented on #2932
Big thanks for reporting this! Fixed locally and will be pushed tonight!

[2015-10-08 14:53] warpech commented on #2931
That's not the case. `Html` property is only exposed if you explicitly declare it in JSON-by-example, even with the `Page` class.

[2015-10-08 14:57] jwillmer opened #2942 "Allow to copy text from the server log"
At the moment it is not possible to copy text from the server log. It is only possible to copy the whole record. That is not user friendly if I am trying to copy&past the help url out of one record.

[2015-10-08 15:00] mtornwall commented on #2931
Ah! In that case I have no issues with that solution. :-)

[2015-10-08 15:03] jwillmer opened #2943 "URL to apps"
How do I know which url do I have to enter to open an app (that I have installed from the app store)? Clicking in the database on the app only opens the description and console window of the app but there is no relative path ´~\appstoreApp´.

[2015-10-08 15:09] jwillmer opened #2944 "Launcher 2.0.8 is missing Polyjuice.exe/.dll"
I can't start the launcher becase he is missing the Polyjuice.exe. I did a fresh installation of the database (uninstall  old, install [2.1.95](http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/2.1.95)) but it did not resolve the issue.

Is it a launcher problem or a database problem?

[2015-10-08 15:17] warpech commented on #2944
Starcounter 2.1 introduced some breaking changes (actually simplifications) that are not compatible with Launcher 2.0.8. Make sure you try the current version of Launcher (3.0.3)

List of changes in Starcounter 2.1:

- http://starcounter.io/nightly-changes/starcounter-2-1-now-compatible-with-polymer-1-1/
- http://starcounter.io/nightly-changes/list-breaking-changes-starting-build-2-1-1-3/

We will

[2015-10-08 15:29] warpech commented on #2943
Thanks for the question! The principle is that the first segment of the URL is the same as the name of the exe file (without the ".exe" part).

But I agree that Administrator should be able to display a link to the app. Maybe we should create an entry for this in package.config? @andwah, WDYT?

[2015-10-08 15:30] warpech commented on #2942
Thanks! Taking this on me

[2015-10-08 16:26] #2944 closed

[2015-10-08 16:31] jwillmer opened #2945 "Launcher 3.0.3 fails to load"
The logs for installing the launcher and running it:
(seconds added to make the flow clear)

08.10.2015 19:26:06 - Starcounter
[code]

08.10.2015 19:26:07 - Starcounter.Server.Commands
[code]

08.10.2015 19:26:08 - Starcounter.Server.Commands
[code]

[2015-10-08 16:33] jwillmer commented on #2945
Related #2944

[2015-10-08 17:23] andwah commented on #2943
To have in in the config will be the best solution. but at this point i think it's enough to use the appName as @warpech described. But i will have this in mind when we move to the next package handling (nuget, etc..)

[2015-10-08 18:30] alemoi commented on #2932
Thank you, pushed via 855f00fa638fe69f89ddaf8dfbaa40f4794c4f89

[2015-10-08 18:30] #2932 closed

[2015-10-08 19:32] careri commented on #2941
It's on a clean db.
Den 8 okt. 2015 4:09 em skrev "Dan Skatov" <notifications@github.com>:

[2015-10-08 19:36] careri commented on #2940
I'm not doing any direct typebinding calls. Had disabled "just my code" so
I could see what was crasching. Think it was SQL-calls.

Got a lot of prolog server not available as well.

I'll get back to you tomorrow.
Den 8 okt. 2015 4:06 em skrev "Alexey" <notifications@github.com>:

[2015-10-09 05:49] careri commented on #2941
None of my index declarations work, this is another one without reserved keywords in it:

[2015-10-09 05:55] careri commented on #2941
Hmm, if I remove the fullname of the type in the previous comment it works. So that is a bit confusing when SQL requires fullname for queries

[2015-10-09 07:44] chrhol commented on #2933
Confirmed, both sampleapp and tunity works correctly with indexes now :thumbsup:

[2015-10-09 07:44] #2933 closed

[2015-10-09 07:58] andwah commented on #2943
I Added a ```OPEN``` button, cae854c372bd6f9cd0c331c2d164f3a1f150c559

![image](https://cloud.githubusercontent.com/assets/2656996/10388641/058d84fe-6e6c-11e5-995f-70a92aad0ece.png)

![image](https://cloud.githubusercontent.com/assets/2656996/10388666/2ac9c3b8-6e6c-11e5-8a6c-dfa25518101e.png)

[2015-10-09 08:36] eriohl commented on #2933
Great! Keep in mind that combined indexes may need to be recreated after version with fix is installed. Applies also if someone else has this problem of course.

[2015-10-09 09:52] #2943 closed

[2015-10-09 10:34] k-rus commented on #2935
I want to make a note that Administrator does not know about the types of SQL queries until the queries are executed. In the case of two or more SELECT statements it will require some strategy how to deal with multiple results. I think this was a reason why it was not supported in Administrator. Right, @andwah?

[2015-10-09 10:48] k-rus commented on #2938
Thank you for reporting. It seems to be a bug.
Since the first query finds a table instance of `ClrClass`, then instances of `Column` referring to it should be found too.
Do you steps to reproduce it? It is good if it is possible to reproduce from the step of creating a database.

[2015-10-09 11:43] k-rus commented on #2941
Thank you for your issue.
As you can see it is a syntax error, so it should not be related with short or long name. I guess the problem is that you double quote identifier with dots. Since you mean number of identifiers, then I suggest you quote each identifier separately.
Let me know if it works or if you need to help to find out what the actual error is.
I am sorry that the error is not verbose.

[2015-10-09 12:08] tomalec opened #2946 "Static files in /sys/ does not get refreshed in cache after update"
I'm working with files provided in `\ClientFiles\StaticFiles\sys` directory. Currently I need to restart entire app to see any changes, as:

1. Open the page that uses something from `/sys` in browser
2. Change the file in file system
3. Clear the browser cache, refresh the page

Gives previous non-changed version.

/cc @alemoi

[2015-10-09 12:28] careri commented on #2824
I'm having trouble with "no connection to progol server". And I launch through Visual Studio, so debugger is attached from start.

[2015-10-09 14:33] warpech commented on #2896
I confirm the Dan's solution works, so in the worst case I will use `bat` files for CodeNight.

Remember we are speaking about users without Visual Studio, so for them `csproj` files are only something they can supply as a parameter to `msbuild`, but not actually something that is easily created or edited.

1. @chrhol would it be possible for you to add conditional FrameworkPathOverride to csproj

[2015-10-09 17:40] alemoi commented on #2896
Sure, I will add "C:\Windows\Microsoft.NET\Framework64\v4.0.30319" to PATH environment variable, we already add StarcounterBin to it.

[2015-10-09 17:46] dan31 commented on #2824
Hi @careri! For how long do you experience such issue?

[2015-10-09 19:05] careri commented on #2824
Occurs from time to time. Maybe it's the first debug-session on a newly
started DB. I.I'll check on Monday
Den 9 okt. 2015 7:46 em skrev "Dan Skatov" <notifications@github.com>:

[2015-10-09 22:10] alemoi commented on #2896
Number 2 should be now fixed via 61f024d5d7d6c035119bbef9c088bd19c9b1554c
Available in this nightly.

[2015-10-09 22:17] alemoi commented on #2946
Thank you for reporting! I will check this one!

[2015-10-10 05:11] andwah commented on #2935
@k-rus Well the reason is time and priority :-) .
The basic solution can be that the Administrator will split the text and execute one query at a time then show the result in it's own tab-page (like we had in the early "yellow" days).

[2015-10-10 19:44] jwillmer commented on #2945
Getting the source from github and run it in debug works. Might be that the compiled version is buggy?

[2015-10-11 10:06] warpech commented on #2945
Looking at source, there was a [change](https://github.com/StarcounterSamples/Launcher/commit/e60f26cc51ceeb9fbbf39956bbe5c1f667a3327c) in Launcher source code after 3.0.3 was released.

@alemoi was it an undocumented breaking change? It is not mentioned in https://github.com/Starcounter/Starcounter/blob/develop/CHANGELOG.md. Could you release Launcher 3.0.4?

[2015-10-11 11:33] alemoi commented on #2945
Yes, documented locally but haven't pushed yet. The problem is that we don't have a stable branch yet, so nightlies and appstore apps are affected. Will push the actual change log change and release Launcher 3.0.4.

[2015-10-11 11:48] alemoi commented on #2945
Sorry for the late response! I just checked the details and actually it was intentional that I didn't push anything to CHANGELOG. The change that affected this is suppose to be purely internal, meaning that only our components are affected and users won't be interested in this information. The change is removal of public flag `ProxyDelegateTrigger` from `HandlerOptions` that should never be used b

[2015-10-11 12:27] alemoi commented on #2945
Launcher v 3.0.5 is now available on application store. Pushed the CHANGELOG commit as well (will be available in the following Nightly). Let me know if anything else is needed! Thank you for reporting the issue and sorry for operational mistakes. We noted this and will improve the processes!

[2015-10-11 17:24] alemoi commented on #2939
Thank you for reporting! Fixed via 886605a0b7bdaf6b1cfd74071fb2befd811d8aad Available in the following nightly!

[2015-10-11 17:24] #2939 closed

[2015-10-11 19:14] alemoi commented on #2946
I tried to reproduce this but could not. For example I used Products app, modified "/sys/webcomponentsjs/webcomponents.js", clicked F5 and the actual contents of webcomponents.js were immediately changed. Are you using some kind of network drive or shared network directory in Virtual Machine?

[2015-10-11 19:37] alemoi commented on #2927
I looked and I have left support in installer for creating databases. Just need to recover it and test.

[2015-10-12 06:32] warpech commented on #2832
@alemoi, @dan31 - did any of you have a chance to look at this?

[2015-10-12 06:41] warpech commented on #2823
Breakpoints are working in VS2015 starting from Starcounter 2.1.143. Can this issue be closed?

[2015-10-12 06:43] warpech commented on #2759
@andwah any progress with checking this?

[2015-10-12 06:46] warpech commented on #2931
@chrhol How much work would be required to get option 4 (IBound)?

@alemoi, @dan31, @Starcounter-Jack WDYT?

[2015-10-12 06:56] warpech commented on #2453
I just added a CodeNight label about it

@andwah any chance of fixing this before CodeNight?

[2015-10-12 07:02] warpech commented on #2896
I confirm `msbuild` is now in PATH.

Current state:

InvoiceDemo compiles with msbuild on a fresh Windows 10 image with a single warning:

[code]

![image](https://cloud.githubusercontent.com/assets/566463/10422809/bc6f0206-70bf-11e5-92fe-8ee6d82c6fbd.png)

@chrhol is it possible to get rid of this last warning based on @dan31 instructions?

[2015-10-12 07:13] jwillmer commented on #2945
Now installation and starting the launcher works. Thank you.

[2015-10-12 07:13] #2945 closed

[2015-10-12 07:23] jwillmer opened #2947 "Open web browser then clicking on 'Start Debug' in VS"
If I click on 'Start Debug' in an ASP.NET site my browser opens and navigates me to the website. I find this feature very usefull. Can you implement something like that as well?

[2015-10-12 07:27] chrhol commented on #2896
Probably. I will look into it today

[2015-10-12 07:31] miyconst commented on #2947
+1, I asked about this feature long time ago.

[2015-10-12 07:57] alemoi commented on #2823
I guess so :) Closing it.

[2015-10-12 07:57] #2823 closed

[2015-10-12 07:59] alemoi commented on #2832
I didn't try to reproduce it with exact configuration given, otherwise with VirtualBox 5 and Win10 was never able to get this error.

[2015-10-12 08:09] tomalec commented on #2946
I use just regular local drive, and SC 2.1.116

[2015-10-12 08:56] warpech commented on #2832
Also never happened to me actually. @jansiegel could you pls try again on the current version of Starcounter?

[2015-10-12 10:10] dan31 commented on #2896
@chrhol, please note that having such a ```FrameworkOverride``` in the InvoiceDemo csproj (and in our VS templates) with a direct path might be too brutal. It is okay with system ```PATH```, but with the csproj a thinner approach like from http://source.roslyn.io/#MSBuildProperty=FrameworkPathOverride might be more appropriate.

[2015-10-12 10:15] dan31 commented on #2931
Guys, talking of that solution:
[code]
then one objection there is a lack of simplicity: the instant question of an average user would be "why so"? And then there should go a good way to explain why. Maybe we need to review the classes hierarchy instead?

[2015-10-12 11:56] tomalec opened #2948 "Cross-browser dom-bind-notifier + jsonpatch"
@miyconst pointed out, there is a serious issue with running `dom-bind-notifier` + `Object.observe` shim  and  `fast-json-patch`.
As puppet's observer is called on it's own changes.

Seems to either be a bug deep in puppetJS, or something really wrong with our dom-puppet-jsonpatch flow.

@warpech Some meeting to clearly define and describe Puppet flow would be great.

[2015-10-12 12:11] chrhol commented on #2896
I've pushed some changes based on the findings from @dan31 to the project-files for InvoiceDemo1, 2 and 3.

I've tested it on a clean Win10 VM and it seems to be working. @warpech, please let me know if something is not working as it should. I will wait and see that everything is ok before I make this change to our existing project-templates.

The following code-snippet has been added:

[code]

[2015-10-12 14:58] alemoi commented on #2759
@andwah found two reasons for this behavior. One was missing CRT libraries during temp extraction (fixed via 65bb5a730492aad1a99cb8c3172c51a0fea660c7) and another is that exceptions are not expected in statistics send code, which @andwah will fix.

[2015-10-12 15:01] dan31 commented on #2896
@chrhol looks like exactly what the doctor has prescribed, awesome! :+1:
@per-samuelsson, do you think we can use that one in our VS templates?

[2015-10-12 16:37] andwah commented on #2759
The installer was waiting for a callback, It was never called when there was an exception.
It as been fixed here f5ef02f15091081b2913ec6f89985c9500e5d20a

[2015-10-13 05:15] careri commented on #2941
Yes, you're right. Quoting each part of the fullname works.

[2015-10-13 05:17] careri commented on #2940
Once I checked "just my code" I can no longer recreate. So maybe these are expected internal exceptions?

[2015-10-13 06:47] warpech commented on #2941
@k-rus are the quotes neccessary?

Maybe quoting rules should be explained in .io site? E.g. http://starcounter.io/guides/sql/indexes/

[2015-10-13 06:51] miyconst commented on #2941
The quotes are necessary only when class names collide with reserved sql words.

For example this would not work:
[code]

And this works:
[code]

[2015-10-13 07:07] careri opened #2949 "Json bound property converter?"
Are there any plans for supporting converters when binding to a value in Json.
Example (using attribute from Newtonsoft.Json):
[code]

Converter:
[code]

Json:
[code]

[2015-10-13 07:19] k-rus commented on #2941
@miyconst thanks for explaining.
This is correct. Double quotes are used to specify that an identifier is an identifier and not a keyword, which is needed if an identifier is collide with a keyword. It is not specific to indexes. It is general to SQL and described at [the keyword page](http://starcounter.io/guides/sql/reserved-words/). I updated the page with the detail about a chain of identifier

[2015-10-13 07:19] #2941 closed

[2015-10-13 07:21] chrhol commented on #2949
The short answer is no, there is no current plans to support converters on TypedJson. The current implementation is mainly focused on binding to database data, where these kind of values are not supported.

However, we are aiming at making the TypedJson implementation more independent from Starcounter specifics so this sounds like a nice feature to add. We will definitely have this in consideratio

[2015-10-13 07:49] warpech commented on #2941
Perfect, thanks!

[2015-10-13 09:30] per-samuelsson opened #2950 "Support starting database / code host from command-line"
I've discussed this some with @alemoi, and we have also discussed it previously (I know @k-rus and me discussed it some year ago).

The proposal is we support it via `staradmin`, since thats the tool that already support stopping of databases and/or hosts.

[2015-10-13 11:37] alemoi commented on #2950
:+1: Basically, I would like to have the exact behavior of `star.exe -d=default appname.exe` but without `appname.exe` (e.g. so it will create the database)

[2015-10-14 06:09] careri opened #2951 "Assertion failed, _commit_create_index"
C:\Program Files\Starcounter\2.1.26.2

Got this exception when I started an existing database, not quite sure of the changes I made since last start. But I don't think I changed database-classes.

**I attached the environment as a 7z. But since uploading a 7z isn't allowed I renamed it to png.**

    00007FFEC5E211D3 sccoredbg!_DumpCallstack : callstack-win.cpp (120)
    00007FFEC5E2114C sccoredbg

[2015-10-14 07:05] chrhol commented on #2951
Hi Carl, thanks for reporting this.

Is it reproducible so you get it every time you start the database? And do you still have the image and transactionlog files available?

[2015-10-14 07:07] chrhol commented on #2951
Sorry, too early to read correctly apparently :) Just saw that you already attached it

[2015-10-14 07:07] careri commented on #2951
The environment is attached as I wrote above ;)

I deleted my images and continued working.

[2015-10-14 07:13] chrhol commented on #2951
What version of Starcounter are you using?

[2015-10-14 08:18] chrhol commented on #2951
I've been able to reproduce it using the attached app and datafiles, running latest develop debug version of Starcounter and got almost the same stacktrace

    00007FFBD903164F sccoredbg!_DumpCallstack : callstack-win.cpp (120)
    00007FFBD903152A sccoredbg!do_handle_assertion_failed : assert-win.cpp (76)
    00007FFBD90312F6 sccoredbg!handle_assertion_failed : sccoredbg.cpp (30)
    0000008BFAF

[2015-10-14 08:39] eriohl commented on #2951
It tries and fails to unload the module (DLL) loaded for the index when aborting the index generation. Since in-memory code generation was introduced no DLL is loaded, which is probably the reason for the failure, so this seems some code left since before this was introduced that should have been removed.

So just drop the call to FreeLibrary and it should work better I think.

[2015-10-14 08:47] chrhol commented on #2951
Thanks! I will assign it to @alemoi then.

[2015-10-14 08:57] jakubklekota commented on #2947
+1

[2015-10-14 11:11] eriohl commented on #2951
I can check it next week. Or you could use remove call to FreeLibrary and check if is solves the problem when you have the reproduce up and running. There should be no FreeLibrary in the kernel now that in-memory code generation has been adopted.

[2015-10-14 11:20] alemoi commented on #2951
I will fix it! Probably missed a check when unloading modules.

[2015-10-14 13:55] alemoi commented on #2951
Just checked the code and found that for this specific case the NULL value was not checked for module (with in-memory codegen I set hModule to NULL). We tested on @chrhol machine and he will push the fix. Thank you for reporting and thanks for testing @chrhol !

[2015-10-14 14:03] chrhol commented on #2951
Pushed!

[2015-10-14 14:03] #2951 closed

[2015-10-14 18:08] warpech opened #2952 "Unhelpful error message when Html path not given in Page class"
When I declare a Page without Html property, or with empty value, I get the following runtime exception:

[code]

It looks much better when the file is not found:

[code]

[2015-10-14 18:39] alemoi commented on #2952
Fixed via 30f5ace729caa1503c01f6e601ffd9acd650d5c3
Thank you for reporting!

[2015-10-14 18:39] #2952 closed

[2015-10-14 19:39] per-samuelsson commented on #2950
During some discussion today, me, @alemoi and @dan31 decided that we'll want to use this in the installer, to initialize the environment (using an unelevated process session) and that we want to back that by `staradmin start db` (including implicit creation of default database if it's not created) and also support `staradmin start server`. The former should include the functionality of the later.

[2015-10-15 07:41] mtornwall opened #2953 "Avoid JSON binding for a property"
I have a database object that looks something like this:

[code]

I also have a JSON viewmodel bound to it, defined as follows:

[code]

The JSON layer seems to be attempting to bind the `Name` property of `Person` to the `Name` object in the viewmodel, and this fails for obvious reasons. Is there any way that I can opt out of this binding?

[2015-10-15 09:24] mtornwall opened #2954 "Node/Http should support https"
As it stands right now, an attempt to use a URL with the `https://` prefix with `Http.GET` (or the `Node` functions) produces an `ArgumentOutOfRange` exception. For my purposes, https support is non-optional, and I believe I am not alone in this.

I realize that implementing support for SSL/TLS may require a significant amount of work. Perhaps there should be an officially sanctioned solution in t

[2015-10-15 10:20] chrhol commented on #2953
Yeah, there are a couple of different ways to opt out or bind to another property you can use. The easiest in this case is probably to add another "metadata"-property in the json that specifies the binding.

[code]

You can also do it from code by modifying the underlying Template. There is some documentation here: http://starcounter.io/guides/json/json-data-binding/

[2015-10-15 10:49] chrhol opened #2955 "Inheritance in TypedJSON does not work properly for properties of type object or array."
Possibly the wrong delegate is used for getting/setting values of type object and array when inheriting and exposing properties in json.

**BaseJson**
[code]

**InheritedJson (inherits BaseJson)**
[code]

**Running Main**
[code]

/cc @andwah

[2015-10-15 11:06] #2759 closed

[2015-10-15 11:49] #2955 closed

[2015-10-15 12:01] chrhol commented on #2007
I was not sure if I should reopen this issue or create a new one...

There are still some files and folders left after a database is deleted, although not the same as you described above. No files or folders are deleted from the `Temp` directory and for the `Data` directory the folder is left.

After a succesful delete I have the following folders and files left in the repo (deleting db `default`

[2015-10-16 06:49] chrhol commented on #663
Solved since a long time. Closing.

[2015-10-16 06:49] #663 closed

[2015-10-16 06:56] chrhol commented on #2007
Just remember that the notifications doesn't always work, so pinging @per-samuelsson since he is the assignee for the first issue :)

I guess this is quite low prio since it doesn't hinder anything, other then keeping files unnecessary.

[2015-10-16 07:04] per-samuelsson commented on #2007
Thanks, now I saw! :+1:

Yes, this is a know case, and partly by design. The empty `Data` folder should probably be deleted, but as you say, it doesn't affect anything, so thats really a low-prio bug IMO.

About the temp folder, the idea is to delete that as part of a more general, suggested background task, ran inside the server library, so it's intentionally not done there. There is an issue des

[2015-10-16 07:07] per-samuelsson commented on #2007
And yes, they run the same code. As most stuff regarding management of the server, databases and apps, it's the duty of the admin server library (`Starcounter.Server`). It's the backbone of all our administrative-like tools (i.e. web admin, star, staradmin, etc).

[2015-10-16 08:18] chrhol commented on #2007
Thanks for the answer! I was not aware of the other issue about regularly cleaning up temporary files, makes sense though.

[2015-10-16 09:13] ivarbergman commented on #2299
Hi @alemoi

Short follow up question:

I can see that commit 63421dec9591281f12763e5593aa1ab57a04c662 made these properties public.

But in my Starcounter version, 2.0.33, these properties are still not available. Is this commit only available in SC 2.1?

/Ivar

[2015-10-16 10:23] warpech opened #2956 "Create default .bowerrc"
For those who are using Bower, it would be cool to have a sample .bowerrc file to be used in projects, that includes:

[code]

[2015-10-16 11:37] alemoi commented on #2299
Thank you for the question! Yes, this is correct. You can get the latest version here: http://starcounter.io/download/

[2015-10-16 11:46] mtornwall commented on #2953
@chrhol Excellent, that solved the problem! Thanks.

[2015-10-16 11:46] #2953 closed

[2015-10-17 15:42] atifsheikh opened #2957 "Question : How to create a "List" type variable in a Table"
I want to achieve something like :
[Database]
public class Product
{
    public String Name;
    public List<ShoppingStore> AvailableInStores;
}

[2015-10-17 23:14] alemoi opened #2958 "Nightly database mapping test started to fail because of some changes"
@chrhol do you think it might be related to your changes, because the previous nightly succeeded:

https://scbuildserver/viewType.html?buildTypeId=Starcounter_DevelopNightly

Here is the failing nightly log:

https://scbuildserver/viewLog.html?buildId=31064&buildTypeId=Starcounter_DevelopNightly&tab=buildLog

@chrhol please feel free to reassign if I was wrong!

[2015-10-19 03:37] Starcounter-Jack commented on #2953
We should make sure this goes into the docs.

Sent from my iPhone

[2015-10-19 07:47] dan31 commented on #2957
Hi @atifsheikh, and thank you for the question! To get collections, do like described here http://starcounter.io/tutorials/1-introduction-to-part-1/1-6-create-the-database-classes/. Like that:
[code]
In WHERE clause you will be using a foreign key that you will use to associate products and stores.

[2015-10-19 07:58] chrhol commented on #2953
@Starcounter-Jack: There is an issue a few months old, #2650, about reviewing how we specify metadata (and what should be included) before we document it since it contains a lot of stuff that isn't really used and that is left from other changes.

[2015-10-19 08:03] andwah commented on #2912
@alemoi I did some re-factoring on how event's is fired. now there should be less calls to DbSession.RunAsync. Can you check if it's okey? if so please close this issue

[2015-10-19 08:21] dan31 commented on #2953
@chrhol, maybe we can just document on .io what we have today as much as possible during the work on code? This is the simplest way to make our current users more productive. When it comes to using TypedJson, there are indeed multiple ways today to do the same thing. We can make the whole thing slicker when addressing TypedJson implementation for SC 3.x. I don't think #2650 impedes us from explain

[2015-10-19 09:47] chrhol commented on #2953
Fair enough @dan31 :) I will add a page on io describing the current available options and parameters for specifying special metadata for TypedJSON.

[2015-10-19 10:08] #2958 closed

[2015-10-19 10:16] warpech commented on #2953
I agree with @dan31. `

Bind` metadata is explained on page http://starcounter.io/guides/json/json-data-binding/, but not the `null` usage. I think that only extending info on that page is needed.

A table of contents can be added on that page, similarly to http://starcounter.io/guides/tools/administrator/. Let me know if you need help with that

[2015-10-19 10:25] chrhol commented on #2953
Ahh yeah I see. It's actually in the page already but it's hidden inside another section and you probably will not find it unless you know what to look for. I will update this page first then.

I will take a look and try to add it.

[2015-10-19 10:28] warpech commented on #2953
Wow, indeed! That proves the table of contents would be nice

[2015-10-19 11:43] mtornwall opened #2959 "Question: Is it possible to hide the stack trace on an internal error?"
The stack trace presented by the server is useful for debugging, but may contain sensitive information that shouldn't be leaked to users. Is there a configuration option that I can set to disable the stack traces in my production environment?

[2015-10-19 11:53] mtornwall commented on #2957
@atifsheikh After reading what @dan31 linked I suggest you also take a look at [modeling many-to-many relations](http://starcounter.io/guides/database/many-to-many-relations/), since it should presumably be possible to have products that are available in multiple stores.

[2015-10-19 12:46] warpech commented on #2854
All of the apps now migrated. They require Starcounter 2.1.x, which is the first version compatible with Polymer 1.1 (see [blog post](http://starcounter.io/nightly-changes/starcounter-2-1-now-compatible-with-polymer-1-1/))

Polymer 1.1 is up to date on https://github.com/juicy/juicy.github.io as well.

Remaining tasks:
- Implementation of puppet-dom-bind-notifier still undergoing (#2922).
- Releas

[2015-10-19 12:46] #2854 closed

[2015-10-19 13:26] dan31 commented on #2957
Scheme with an edge-relation as a separate class looks very good, @mtornwall :+1:

[2015-10-19 14:02] miyconst opened #2960 "CLR Class is not loaded for table"
There is a class `MailMessage` in @warpech example for the CodeNight
https://github.com/StarcounterSamples/CodeNight/blob/master/MailMessage/Db.cs
which is inherited from `Simplified.Ring1.Something`.

If there are any `MailMessage` in database and the MailMessage application is not started, then sql query:
[code]

fails to execute with the following exception:

[code]

cc @chrhol, @alemoi, @k-rus

[2015-10-19 14:04] miyconst commented on #2960
Trying to empty database with sql:

[code]

produces same error.

[2015-10-19 14:44] miyconst commented on #2905
Closing this issue as nothing more left to do.

[2015-10-19 14:44] #2905 closed

[2015-10-19 16:12] miyconst opened #2961 "AddOutgoingHeader does not work inside filter"
This header never reach client side.

[code]

[2015-10-19 17:45] mtornwall opened #2962 "Nondeterministic service startup failure"
I have set the Starcounter service to start automatically on my Windows Server 2012 R2 VM. For some reason the server sometimes fails to start, both during system startup and when manually started, with the following error message.

[code]

I have seen the same behavior on my Windows 7 development machine and on a Windows Server 2016 Technical Preview VM.

I'm happy to demonstrate this problem in

[2015-10-19 18:20] dan31 commented on #2962
CC @per-samuelsson Maybe you can take a guess here along with other procmanagement-related things you are about to take.

[2015-10-19 18:54] per-samuelsson commented on #2962
@mtornwall

Sorry you're experiencing this. Not easy to guess what's causing it given just this info. But I guess it happens quite frequently for you, since you can confidently demonstrate it?

A wild guess is that it's something caused by multiple startups at the same time. For instance, that the server, running as a Windows service, starts in parallell to a on-demand started instance of the same

[2015-10-19 19:03] per-samuelsson commented on #2960
I think this is a known limitation (or more precise: a bug). If not this particular case, so at least the fact that some things work a bit poorly when applications are not loaded, there is data in the database, any you do queries on data where apps are not yet loaded. I remember this kind of case has been discussed before.

[2015-10-19 19:04] dan31 commented on #2960
@k-rus, remind me if I'm wrong, I think I recall the discussion @per-samuelsson refers to. This is "by design" in 2.x, right? You have to have apps loaded in order to access their metadata data.

[2015-10-19 19:05] per-samuelsson commented on #2960
Check this mega-thread out: #2439. Think that tells the story pretty much.

[2015-10-19 19:05] per-samuelsson commented on #2960
Yeah, exactly. See the post I referred to.

[2015-10-19 19:05] dan31 commented on #2959
Good input, @alemoi WDYT?

[2015-10-19 19:31] per-samuelsson commented on #2942
@jwillmer

FWIW, if you are OK to go to a CLI environment, you can consume the log from there. Not the same thing o/c, but just saying.

Its done with the `staradmin` command-line tool. For example, putting the last 100 log entries level notice and up on the clipboard, you could fire up a standard command-prompt and do:

[code]

Paste them to notepad or whatever, and do whatever with them there.