[2016-03-17 10:29] chrhol commented on #3443
Aha, then I get your point. But yes, it's possible. Some info are already gathered from the codebehind-file today and when #3439 is in place it will be easier to add more things there. Hopefully enough so that we can keep as much as possible outside the Json-by-example file (or keep everything we don't want out).

[2016-03-17 10:35] tomalec commented on #3450
:+1: LGTM
But shouldn't it be `chatter__autocomplete`?

[2016-03-17 10:51] k-rus commented on #3449
Current implementation of `DELETE FROM` as any SQL statement requires that CLR classes are loaded for the types manipulated in the query. In your case the query tries to delete data of type `Person` and thus it fails.
I think there was already report for the same issue. I will try to find it.

[2016-03-17 10:53] k-rus commented on #3449
@per-samuelsson
I am not sure if it is a case for database refactoring, since the defined classes do not suggest any changes to the schema. It just misses to load a class.

[2016-03-17 10:54] k-rus commented on #3449
@andwah
Can you give a meaningful name to the issue? The exception can happen in different scenarios.

[2016-03-17 10:55] k-rus commented on #3449
See #2960

[2016-03-17 11:08] miyconst commented on #3443
It would be really good. Then we can clean up json file from `$` usage.

[2016-03-17 11:10] miyconst commented on #3450
I think `chatter-autocomplete` is the block name. We do not have a block called `chatter`, and `chatter__autocomplete` means a block `autocomplete` inside a block `chatter`.

[2016-03-17 11:25] eriohl commented on #2890
I've enabled the optimization ``gather_wait_for_more_log_entries_or_write_deadline``. This works best in all scenarios I've tested.

Keeping the code for the other optimizations however. I think we may want to revisit this when tuning asynchronous commits waiting for log to complete.

[2016-03-17 11:25] #2890 closed

[2016-03-17 11:35] per-samuelsson commented on #3443
I think we all agree on the aim outlined in this https://github.com/Starcounter/Starcounter/issues/3443#issuecomment-197271961. And one enabler for that, as @chrhol points out, is #3439, which I volunteered for last week. I already started it (but got interupted by evil @warpech and he's pushing for middleware view-from-viewmodel provision :smile:). As soon as I can finish that, I'm back on #3439.

[2016-03-17 11:39] per-samuelsson commented on #3448
@binte

About this:

How could that be? I don't understand the setup that produce this? Could you try elaborate a little on it, because the best guess I can have from this angle is that is what mess things up.

[2016-03-17 11:50] warpech commented on #3450
Yes :)

Since we all agree, we will adapt this pattern.

I will write separate issues for the apps. I think that Urban might do it in April. @miyconst do you agree? This will give him good CSS experience.

[2016-03-17 11:50] per-samuelsson commented on #3444
Thanks for sharing, @warpech.

I'm interpreting your responses as you think we should go with the more general approach, not the shortcut I suggested to introduce filtering in `HtmlFromJsonProvider` in isolation.

I'm leaning towards that too. Especially so in the light of that we want to go the full way towards how middleware is designed in DNX, and the suggested pattern here is very much in line

[2016-03-17 11:54] miyconst commented on #3450
Yes, totally!

[2016-03-17 12:00] per-samuelsson opened #3451 "Support multiple, chained MIME provider middleware"
Extends #3444, after review.

As defined in #3444 (started [here](https://github.com/Starcounter/Starcounter/issues/3444#issuecomment-197763316)):

1. Mime providers must get access not only to the resource, but also to the request.
2. We must support multiple providers for a single MIME type.
3. We must support chaining of mime providers, so that they can invoke (or choose not to invoke) the next

[2016-03-17 12:06] per-samuelsson commented on #3444
Oh, a thing I forgot to comment.

@warpech, are you guys totally sure we are sticking to that Puppet terminology (the one I've been fighting against for so long :sunglasses:). Because if we go that way (in #3451), we are introducing that term basically on the first few lines of code in every sample- and prefab app we've got, and it's certainly not a term users will feel familiar with (or can in an

[2016-03-17 13:12] binte commented on #3448
I don't really understand why that happens, but I guess it's because of the dependencies. See the remaining of my answer, it might help you reach a conclusion!

Deleting and downloading the code again didn't work. But I managed to fix the issue:

The problem was the project A which had a reference to project B, and the latter runs with no problems. Since the project A just uses few functions from

[2016-03-17 13:49] warpech commented on #3444
Good catch.... I totally would like to avoid making this decision by myself. I urge to discuss this with @Starcounter-Jack and @chrhol.

Just keep in mind that we are speaking here about giving the name to the middleware that injects the proper **client side**, not about giving a name to the server side.

- The server side implementation of this pattern is nameless in code (though commonly referre

[2016-03-17 14:14] per-samuelsson commented on #3444
I fully understand that ...

... but I think I won't, because I've said it so many times over the years already, so I'm just gonna rest my case.

Well, if we name the middleware like it is proposed, every **server side** application will for sure expose it to anyone taking a look at the code. Which means that if you take a glimpse at any of our samples, coming from outside, you'll see this pattern

[2016-03-17 14:16] per-samuelsson commented on #3444
Good, I agree. Lets stick to that.

[2016-03-17 15:29] warpech commented on #3450
Here's a modified idea: @aloscha can you please make reference changes in KitchenSink (https://github.com/StarcounterSamples/KitchenSink/issues/19). Then Urban can follow the example.

I will write an article about using BEM in Starcounter apps.

[2016-03-17 16:05] warpech commented on #3290
The fallacy of the current page was confirmed today by @aloscha. A person who wants to download the latest nightly is the most likely to incorrectly download the latest daily (which is currently 4 months old).

[2016-03-17 16:07] warpech commented on #3290
Sorry, I will merge the issues

[2016-03-17 16:07] warpech commented on #2295
Merged from #3290

Currently, the sorting order of channels on the [Download page](http://downloads.starcounter.com/download) is: `Daily`, `Nightly`, `PnextNighty`, `Stable`.

![screen shot 2016-01-22 at 14 54 19](https://cloud.githubusercontent.com/assets/566463/12512335/0e6d8142-c118-11e5-9fa7-f9758e5b6678.png)

A newbie does not know what to download from here. I think we need to do two things:

[2016-03-17 16:08] #3290 closed

[2016-03-17 17:42] alemoi commented on #2962
We came to the conclusion that the problem was with extremely slow startup for scnetworkgateway (just general system slowness, nothing specific to gateway). So what I did is I extended the waiting time for the gateway to start. However, it would be nice to hear the test results from @mtornwall

[2016-03-17 19:54] per-samuelsson commented on #3448
I'm glad to see you managed to work around it. But sad to see it was not easily solved. Also, I'd really would want to understand *what* happened here, and why it failed.

If it would be possible, I'd really want to take a look at your setup and see what you actually changed to fix it. Or that you describe the full, *failing* setup like a tree, and then I can try reproduce it with some similar set

[2016-03-17 20:49] eriohl commented on #3213
Done.

[2016-03-17 20:49] #3213 closed

[2016-03-17 23:14] aloscha opened #3452 "Make query with having"
I can't find any reference to Having Statement. It is possible to make it just in SQL code without making it on result of query

[2016-03-18 05:13] per-samuelsson commented on #3452
@aloscha

If it's not in our reference section, we probably don't support it. And personally, I've never seen it used, which also indicate we don't.

@k-rus, can you confirm?

[2016-03-18 05:33] per-samuelsson commented on #3451
I'm putting a constant limit on how many MIME types any given application can provide for, setting the limit to 6. I'm doing this to be able to make a more efficient thread-safety mechanism, allowing reads to be lock-free.

Note this does not mean that we limit the number of *providers* in the chain, responding to a certain MIME type. That's still unrestricted.

@warpech, speak up if you think thi

[2016-03-18 06:36] k-rus commented on #3445
The server, git.starcounter.org, is down again with the same error, which implies no builds on build server.

[2016-03-18 07:33] k-rus commented on #3452
We don't support `HAVING` clause. Basically, if a clause is not described, then it is not supported.

[2016-03-18 08:31] linkdata commented on #3445
...and the disk was full, again. GitLab is using up pretty much the entire SDD, and I'm running out of things to clean up. @dan31, how about that new server?

[2016-03-18 09:11] warpech commented on #3451
I think 6 is a low value... For example Google Docs supports 7 export formats:

<img width="572" alt="screen shot 2016-03-18 at 10 03 52" src="https://cloud.githubusercontent.com/assets/566463/13873292/c86a7038-ecf0-11e5-8a00-d071e9d461d2.png">

Another example: This is a chart of the image formats supported by the web browsers: https://en.wikipedia.org/wiki/Comparison_of_web_browsers#Image_format

[2016-03-18 09:19] dan31 commented on #3445
@linkdata @k-rus What does it exactly utilise on space, is that dropbox-based backups or something.

[2016-03-18 09:22] linkdata commented on #3445
Yes, the Dropbox uses up most of the space.

[2016-03-18 09:32] per-samuelsson commented on #3451
Thanks for the input. Then lets go for 20. It waste a little more RAM, but still a very limited amount in real numbers.

The one that comes in asking for 21, we'll simple tell them that the have to switch to write their custom handlers, and not rely on MIME providers. Or, if they pay us (read: me) very much money, we can raise the limit in the upcoming version.

How about that?

[2016-03-18 09:57] k-rus commented on #3445
Putting dropbox on operational server seems to me a bad idea, especially on the same disk.

@dan31
Can you move dropbox from the disk or the server and solve this vital issue for at least some time?

[2016-03-18 10:09] linkdata commented on #3445
Agreed. I was quite surprised to find it there.

@dan31 @alemoi I don't know much about Dropbox (I never use it myself), but if you like, I can try to remove it. Do we need it to be there? What is it used for?

[2016-03-18 10:50] alemoi commented on #3445
We can for example for now create a siblings empty folder and start sybcing there and remove the previous folder in SelectiveSync in dropbox options (NOT just delete).

[2016-03-18 14:41] per-samuelsson commented on #3451
Update: I'm in quite good shape with this one now. I've redesigned the API's and rewritten most of the underlying middleware code from the first version, and have now more or less completed 1-4 in the OP. I've also written a few tests (because underlying structures and locking-free mechanism got quite complex), and things seem to work. I need to move out the tests to some other spot eventually tho

[2016-03-18 14:50] per-samuelsson commented on #3446
In this https://github.com/Starcounter/Starcounter/issues/3444#issuecomment-197886692, @warpech suggest we should isolate this feature into a specific middleware, and the more I think about that, the more sense it makes.

With #3451 in place, the experience will be something like:

[code]

[2016-03-18 14:55] per-samuelsson commented on #3446
An alternative to the above is to promote it as a pattern, but not make it into a built-in middleware:

[code]

[2016-03-18 14:57] per-samuelsson commented on #3451
@warpech

I'm not ready to merge it into main branch yet. But if you want to try it before I do that, branch `/issue/3451` is ready to be fetched and support everything described above.

[2016-03-18 16:21] dan31 commented on #3445
To all guys, please follow the advise since now on, all these issues regarding infrastructure please let us try to create at here: https://github.com/Starcounter/AdminTrack/issues. As an alternative, you can follow @eriohl approach and post to a __private__ gitter: https://gitter.im/Starcounter. Believe me, our users have no interest in knowing when our gitlab stops working, nor they are intereste

[2016-03-18 16:28] dan31 commented on #3445
I moved most backups from Gitlab folder to Gitlab-Archive folder. This should probably help. Write if it helps there.

[2016-03-19 14:08] eriohl commented on #3199
I changed so that all shared object names, including control event, are derived from instance id instead of sometimes instance id and sometimes database name. Furthermore I fixed so that a file lock is set on CFG file loading the database. This prevents multiple instances with the same instance id from being booted up and for multiple instance to access the same database (it does however allow mul

[2016-03-19 14:08] #3199 closed

[2016-03-19 14:14] eriohl commented on #3425
I fixed so that the admin server waits for scdata.exe to accept connection requests rather then waiting for the non-existing event to be signaled. This is sufficient for the code host never to fail because scdata.exe hasn't booted up to a point where is accessible from it.

Note that this does not wait for database to be loaded into memory before proceeding. I figure it was better that this was do

[2016-03-19 14:14] #3425 closed

[2016-03-19 15:44] eriohl commented on #2472
GetTickCount64 is actually updated to include time spent in sleep or hibernation. So this is not an issue.

[2016-03-19 15:48] eriohl commented on #2472
Recalculating clock turned out not to be so easy because system time and GetTickCount64 has different precision. So periodically recalculating the base time is not an option.

[2016-03-21 12:53] linkdata commented on #3404
Got the error again. For some reason I didn't get a dump file, even though it had been set up.

[code]

The exception object had `Code 6005` set on it, if that helps.

[2016-03-21 13:36] per-samuelsson opened #3453 "Make Typed JSON provision middleware enabled?"
In an ongoing initiative, we are gradually introducing middleware and the ability to chain middleware to build up the request pipeline. The most current stuff is in #3451.

Now I'm thinking if we should turn even the most basic Typed JSON -> JSON responses to something that must be opted-in. Or, alternatively, at least make it middleware-provisioned, but we install that middleware by default in an

[2016-03-21 14:42] mtornwall commented on #2962
As far as LLVM goes, it doesn't seem to be the problem. LLVM initialization time is consistently below 20ms across thousands of runs.

Unfortunately, overlaying the patched scservicelib files on my v2.1.177 installation somehow broke it and it will no longer start.

However, I have now been able to reproduce the startup issue on every machine I've tried it on, including Windows 7, Windows Server 2

[2016-03-21 14:58] per-samuelsson commented on #3446
Decided to go with @warpech initial proposal, highlighted in this https://github.com/Starcounter/Starcounter/issues/3446#issuecomment-198394523. Doing it as part of #3451.

[2016-03-21 15:25] linkdata opened #3454 "pnext: Websocket messages are sent out-of-order"
Sending text websocket messages in quick succession, LogStreamer sees them arrive in the wrong order.

Sending order from SC WS server:
[code]

Network traffic as intercepted with Fiddler:
[code]

[2016-03-21 15:35] linkdata commented on #3454
This is happens when sending Websocket messages (on the same websocket) using different SC schedulers. This causes the messages to end up in different IPC queues to the network gateway.

It doesn't matter how well you guard your sends, the IPC queues will break message ordering. The solution is to send all websocket messages for a given websocket on the same SC scheduler.

[2016-03-21 15:50] per-samuelsson commented on #3451
I've now just merged and pushed this one, in https://github.com/Starcounter/Starcounter/commit/a116fc7c1563e31a8d0ab06136d95b64c3e2077e, along with an implementation of #3446.

That merge implements everything in the OP, plus that it split up the `HtmlFromJsonProvider`.

The new experience is described in this https://github.com/Starcounter/Starcounter/issues/3451#issuecomment-198390941. On top of

[2016-03-21 15:51] per-samuelsson commented on #3446
Done, pushed as part of #3451 and highlighted in this https://github.com/Starcounter/Starcounter/issues/3451#issuecomment-199349823.

[2016-03-21 16:13] per-samuelsson commented on #3451
(Now also merged to **pnext**)

[2016-03-21 16:19] alemoi commented on #2962
Thank you for investigating this! I think we should try the latest nightly to see if the patch with longer allowed gateway startup fixes the problem.

[2016-03-21 16:19] alemoi commented on #3454
Thanks for reporting. Yes, the problem is when send occurs in two different queues. I will try to fix it by checking on which scheduler the send occurs and to which the socket belongs.

[2016-03-21 23:11] alemoi commented on #3454
Just pushed a potential fix which basically saves and checks the scheduler id on sockets, and if current scheduler id is different - task is scheduled. Please test tomorrow and let me know :)

[2016-03-22 06:49] #3446 closed

[2016-03-22 06:50] per-samuelsson commented on #3451
Closing this one, and related, finished issues, @warpech. Once we get to another feedback round, we'll open up new specific issues if applicable.

[2016-03-22 06:50] #3451 closed

[2016-03-22 06:51] per-samuelsson commented on #3444
This whole thing is now done. Including the aftermath, isolated in #3446 and #3451.

[2016-03-22 06:51] #3444 closed

[2016-03-22 07:10] per-samuelsson commented on #3444
Now I've also updated and extended the original article draft (chapter, [Multiple representations with middleware](https://github.com/per-samuelsson/Misc/wiki/Demystifying-request-handlers#multiple-representations-with-middleware)) to support our new extensions, and also to contain a new section on a few important [implementation details](https://github.com/per-samuelsson/Misc/wiki/Demystifying-re

[2016-03-22 09:51] warpech opened #3455 "Upgrade Polymer to 1.4"
Upgrade the client-side Polymer library distributed with Starcounter to the current version 1.4

[2016-03-22 10:29] warpech commented on #2690
I just tested current branches:

- https://github.com/Starcounter/Starcounter/tree/issue/2690
- https://github.com/StarcounterPrefabs/Launcher/tree/mergecallback

All the known problems are fixed. I recommend merging to develop branches.

[2016-03-22 10:44] Starcounter-Jack commented on #2690
Are you aware of the orchestrator discussion?

Sent from my iPhone

[2016-03-22 10:58] chrhol commented on #2902
I've merged the changes for #2690 and the other needed fixes for the workspace-problem to develop (and pnext). Hopefully this issue can finally be considered solved.

I will wait until we see that everything works as expected since changes in Launcher is needed as well.

[2016-03-22 11:00] chrhol commented on #2690
I've merged the changes to develop (and pnext). I will close this issue since everything in it is solved.

Maybe this should be discussed in its own thread. The orchestrator is a long-term goal while this issue concerns a needed fix for the current implementation.

[2016-03-22 11:00] #2690 closed

[2016-03-22 13:48] per-samuelsson commented on #3439
@chrhol

I'm having some problems understanding a few constructs in the `CodeBehindMetadata` I'm set to generate.

1. Is `List<CodeBehindClassInfo> JsonPropertyMapList` in `CodeBehindMetadata` simply a list of all classes declared in the code-behind file?
2. `CodeBehindMetadata.RootClassInfo`, is that the "default" class, i.e the class that correspond to the JSON-by-example top-object? (That is: t

[2016-03-22 14:39] chrhol commented on #3439
1. It's a list of classes that have a mapping attribute specified so that the class can be connected to a property in JSON-by-example. The name of the attribute is composed from the classname and the propertyname  (`[MyJson__json.Items]` for example)

2. Yes.

3. Yes, although I cannot remember why this is needed right away. Maybe to be able to write a fully namespaced name when generating code.

[2016-03-22 14:57] per-samuelsson commented on #3439
Great. Thanks.

I think we should force any class being present in the code-behind to somehow relate to a corresponding node in the JSON (i.e. to an object node, either the "master", or a sibling). Do you think that´s doable, or is it even so already?

My thinking is it makes it clearer to understand what the code-behind accept and that it relate to the JSON-by-example.

[2016-03-22 15:04] chrhol commented on #3439
It's not like that today, a class that is not mapped is simply ignored.

But I like the idea that we force every class (in the code-behind) to be mapped. I think overall we have been to forgiving when it comes to what you are allowed to do or not, which make both explaining and understanding TypedJSON more difficult.

It's definitely doable.

[2016-03-22 18:19] per-samuelsson commented on #3439
I agree totally. It's way to often we act like this, and it bites us in the foot. It's often better to be specific.

The most notable example I remember is from our [sessions](http://starcounter.io/guides/web/sessions/) documentation, and this extract from there:

[code]

Thats a bit off-topic, bit it kind of illustrate what you suggest above.

With Roslyn, it sure is. I'm doing it. Thanks for the

[2016-03-22 19:20] Starcounter-Jack commented on #2690
Agreed. I just think understanding the role of the orchestrator and when the other GETs should be called makes it easier to see what fix is the correct one.

In the furure orchestrator, each ```Self.GET``` is recorded in a log. When the request is processed by a single app (the one catching/handling the request) the orchestrator will call the mapped gets and then perform the merge.

[2016-03-22 20:06] tomalec commented on #3014
If it's still an issue, you can naturally try our HTML custom element
http://juicy.github.io/juicy-ace-editor/
http://juicy.github.io/juicy-ace-editor/kitchen-sink.html
which would be probably waay easier to integrate with our blog.

[2016-03-22 20:11] dan31 commented on #2690
I will put the orchestrator description into our dnx plan on gitbook.
Several requested clarification recently.
On 22 Mar 2016 20:20, "Joachim Wester" <notifications@github.com> wrote:

[2016-03-23 06:59] per-samuelsson commented on #2690
Please do. I would very much want to know where it fits in, and how it relates to, the request pipeline and in combo with the new middleware stuff we are currently introducing.

[2016-03-23 07:35] linkdata commented on #3454
Nope, didn't work.

[2016-03-23 08:43] atifwaqar opened #3456 "Question : Whats the difference between daily and nightly build"
What is the main difference between daily and nightly builds. and what is the most stable build after 2.1.177?

[2016-03-23 09:03] per-samuelsson commented on #3456
@atifsheikh

Daily builds runs just the most basic tests. Nighly builds are built once every night normally, and run a lot more tests.

The latest stable is `2.1.177`. We are just about to release a new stable. Maybe @dan31 can provide the best link to read about that plan?

[2016-03-23 09:23] warpech commented on #3456
Related: https://github.com/Starcounter/Starcounter/issues/2295

[2016-03-23 09:24] chrhol commented on #2822
This is now done and merged to develop and pnext branches.

Due to the nature of how generic typing works I opted to not add that many overloads since some code has to be duplicated. We can always add more overloads if needed later.

The following overloads will be available:

[code]

[2016-03-23 09:32] #2822 closed

[2016-03-23 10:03] malx122 opened #3457 "Push seems to work just sporadic"
We have implemented our own chat application and are using CalculatePatchAndPushOnWebSocket() to push messages and notifications to all sessions that needs it.

However, it seems to work very sporadic. Sometimes it works and sometimes it doesn't.
It seems like i have all appropriate sessions in my

[code]

But nothing seems to happen...

[2016-03-23 10:35] dan31 commented on #3457
@malx122 thanks for reporting, @alemoi is now working on a very related zone and will take a look promptly. We now hope to have these all addressed during this week to have 2.2 released.

[2016-03-23 10:47] alemoi commented on #3457
Thank you for reporting! I would ask if 'Session.ScheduleTask' is not working properly or CalculatePatch inside each session task delegate? Do you have some test application with a few sessions to check this?

[2016-03-23 11:35] malx122 commented on #3457
You can call me so I can show you!

[2016-03-23 12:04] malx122 commented on #3457
Might be both actually...
There is definitely problem with Session.ScheduleTask where it seems to skip all sessions provided at times (Can one wrong sessionid make all not run? There should be no problem with given ids since I remove them on Session.AddDestroyDelegate but you never know...)

[2016-03-23 13:46] per-samuelsson commented on #3439
Regarding *base classes*, what's the set of base classes that are valid to specify for any class in the code-behind, @chrhol?

I know `Json` (`Starcounter.Json`), and I've figured out how we process the `IBound<T>` declarations. But can

1. other base **class** types be given, to achieve JSON inheritance or anything like that?
2. classes **omit** to specify a base-class? Should we care about that?

[2016-03-23 14:23] chrhol commented on #3439
1. Yes, exactly. This is the way we do it for inheritance (for example the `Page` class works like this). The requirement is that the baseclass is a subclass of `Json`. Unfortunately I don't think we can make sure this is the case during the parsing since we don't have access to the full type (only a string-identifier).

2. Not sure if we should enforce this or not. How it works today is if you om

[2016-03-23 14:30] warpech commented on #2902
Assigning it on me to do final testing, based on the reproduction steps in the above comments.

[2016-03-23 14:36] per-samuelsson commented on #3439
Yeah, thats what I was thinking too, and Roslyn doesn't help here unfortunately. But I think its a minor limitation, let's just accept it for now.

OK, I'll keep it like that initially. Thanks for the feedback.

[2016-03-23 14:37] warpech commented on #3455
Done

[2016-03-23 14:37] #3455 closed

[2016-03-23 14:51] #3445 closed

[2016-03-23 14:52] dan31 commented on #3299
Is that still an issue?

[2016-03-23 14:53] #2701 closed

[2016-03-23 14:54] #2686 closed

[2016-03-23 14:54] #2627 closed

[2016-03-23 14:58] k-rus commented on #3299
I think developers will meet this issue time to time as it is a limitation of git. So I close the issue.

[2016-03-23 14:58] #3299 closed

[2016-03-23 14:58] #43 closed

[2016-03-23 14:59] dan31 commented on #43
So far TeamCity is a way better option.

[2016-03-23 15:03] atifsheikh commented on #3447
@k-rus sorry for the late response.
you are right, i am using the latest nightly build.
attached are both query plans.
![query without count](https://cloud.githubusercontent.com/assets/4388707/13989441/b2950e2a-f110-11e5-985f-131746af4e2c.jpg)
![query with count](https://cloud.githubusercontent.com/assets/4388707/13989440/b293f67a-f110-11e5-925b-e3983ae5fdca.jpg)

[2016-03-23 15:05] dan31 commented on #225
Whole backup is done for gitlab. Everything is backed into cloud in encrypted way. To be done: secure backing up on a reliable external storage.

[2016-03-23 15:05] #225 closed

[2016-03-23 15:05] #784 closed

[2016-03-23 15:13] dan31 commented on #386
Seems that is off the table now due to CMake build, right?

[2016-03-23 15:13] #944 closed

[2016-03-23 15:19] k-rus commented on #3447
Thank you reporting the plans. I will into them to see the source of the issue and might back with questions. Unfortunately, it will not happen immediately and I hope you are not impeded by the issue.

[2016-03-23 15:23] atifsheikh commented on #3447
Its ok, we are in no rush. i just though its good to report the bug.

[2016-03-23 16:33] atifsheikh commented on #3447
Also i am facing a strange issue in one of my pages, (The content is not being updated).
The issue appears in SC Version 2.1.1399 (Mar 12, 2016 3:00:29 AM)
Just to confirm I installed one day older Version 2.1.1392 (Mar 11, 2016 3:00:16 AM) and the issue disappears.

The issue is that it doesnt update the data from JsonModel, Do ping me on my Hangout to see an example of the issue if you guys are

[2016-03-23 16:55] dan31 commented on #3447
@atifsheikh is it the case that there is no issue for you in Stable 2.1.177?

[2016-03-23 16:59] atifsheikh commented on #3447
yes in Stable 2.1.177 everything works fine.

[2016-03-23 18:16] warpech commented on #2902
I have successfully tested the following scenarios:

1. Going to Procurement page `/Procurement/purchase-order/…`
2. Sign in/out in GoogleSignIn app
3. In People, rename one of the handlers from `/people/organization` to `/people2/organization`
    - needs an additional fix in Launcher, but that's a different story: https://github.com/StarcounterPrefabs/Launcher/issues/208

In all of the cases, th

[2016-03-23 18:16] #2902 closed

[2016-03-23 18:34] k-rus commented on #3447
@atifsheikh
It would be great if you report other issues in new issues, not here as it will make very difficult to help you with any issues.

[2016-03-23 18:51] k-rus commented on #386
No, cmake is not used for Level1. It is used only for Bluestar in pnext.

[2016-03-23 19:09] atifsheikh commented on #3447
@k-rus Sure. I will keep that in mind.

[2016-03-24 07:12] per-samuelsson commented on #43
Minus that we still don't have guarded commits / push-triggered personal builds. Which is quite a large drawback still. And that was the entire reason we once decided to try Bamboo out, but we didn't find the time to make the switch properly.

[2016-03-24 07:54] per-samuelsson commented on #3439
@chrhol

Processing of the custom attributes is not very straightforward, and made even more complex since we support *two different syntaxes*. Do we need that still? Can't we just drop the "old syntax", or is it needed for backwards-compatibility?

[2016-03-24 07:59] chrhol commented on #3439
What is the old syntax? I thought we only had one, but maybe have just forgotten how it works :)

[2016-03-24 08:11] per-samuelsson commented on #3439
Example: `json.ActivePage.SubPage1.SubPage2`. And parser [here](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.XSON.PartialClassGenerator/CodeBehindMetaData/CodeBehindClassInfo.cs#L192-L204).

[2016-03-24 08:13] per-samuelsson commented on #3439
And [CreateClassPathFromOldSyntax](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.XSON.PartialClassGenerator/CodeBehindMetaData/CodeBehindClassInfo.cs#L233-L251).

[2016-03-24 08:15] per-samuelsson commented on #3439
This one is a bit weird though:

[code]

Considering its just a few lines below where we support the "old syntax" and that one contain that pattern... :smile:

[2016-03-24 08:17] chrhol commented on #3439
Aha, thanks for clarifying it. We should remove it and only support the new attributes.

To be honest I don't really know why this is still left in the code. You cannot specify the attributes in this way anymore.

[2016-03-24 08:24] per-samuelsson commented on #3439
OK, then I'll drop it. Thanks. I need to try to trim down the code a bit to better understand how to implement the new parser.

[2016-03-24 08:30] per-samuelsson commented on #3439
Next thing: `BindChildren` custom attribute.

The code look like this:

**Bound.cs**
[code]

And then the parser-code look like this:

[code]

I guess this is never used, because it appears to me that it would be quite hard getting pass:

[code]

Or is the parser for something else? (Since it also use `.Contains("BindChildren")` and not `.StartsWith("BindChildren")`, or is that to support it being

[2016-03-24 08:35] chrhol commented on #3439
It was never fully implemented. We can probably remove it and add it later if needed or when we have decided on how we want to specify these things.

[2016-03-24 08:47] per-samuelsson commented on #3439
OK, good. I vote for that too, so let's do it.

[2016-03-24 09:27] Starcounter-Jack commented on #3439
In Roslyn (ICompileModule) we have access to the entire type tree.

Sent from my iPhone

[2016-03-24 09:43] per-samuelsson commented on #3439
@chrhol

I'm making an attempt to document (raw-ish) my findings and the decisions we'll take for code-behind, hosting it here: https://github.com/per-samuelsson/Misc/wiki/Typed-JSON-and-the-role-of-code-behind

Then we can use that as the base for user documentation eventually.

[2016-03-24 10:57] jwillmer opened #3458 "Setting view-model Array.Data adds new items instead of replacing all of them"
In my launcher I like to display a list of groups the user is associated with. To do this I set the `UserRoleNames` list in my CommitHook class.

[code]

and this is the associated HTML snipped
[code]

but if I log out with my first user and log in with the next user I still see all the groups of the last user plus the groups of the new user. It seams like the old values won't be replaced.

If I a

[2016-03-24 11:05] miyconst commented on #3458
As I found, the issue is not related to client side at all.

On server side replacing `Data` object of an array does not remove existing items.

[code]

@chrhol, @alemoi is it a documented feature or a bug?

[2016-03-24 11:12] k-rus commented on #43
I fully agree with @per-samuelsson
We have problem that developers commit their changes directly to main branch and sometimes break the builds with further negative outcome for other developers. It was promised that the commit guard will be in place as soon we can allocate resources.

[2016-03-24 11:24] dan31 commented on #43
Since TC 9.x there is similar function: https://confluence.jetbrains.com/display/TCD9/Pre-Tested+(Delayed)+Commit. I don't see a difference from what was observed before in Bamboo, hence I think the issue now is not connected to Atlassian products at all. Once we have a volunteer with spare time, it will definitely be introduced by this brave person.

[2016-03-24 12:05] malx122 opened #3459 "Async GET to just get a simple json back, but within session"
When developing a chatter app we want it to be possible to use like githubs markdown language. Normal bulleted lists e.t.c. is no problem since it just formatted html without need for server information. But we also want to incorporate support for certain db objects. So if you mention for an example a user, you will get some user information displayed (and even more info on mouse click).

So a nor

[2016-03-24 12:08] malx122 commented on #3459
Just to be clear. Since the GET request is inside the session, It should be possible to affect the existing twowaybinded json tree. It's just that the return result of the GET handler should not be doing that.

[2016-03-24 12:45] warpech opened #3460 "Cannot restart an app from Visual Studio when 3 apps are running"
This started to happen to me today, using Starcounter 2.1.1527 and apps: Launcher, Procurement, People (all master branches). It is 100% reproducable.

Steps to reproduce:

1. Start Launcher in VS (F5) and then immediately stop
2. Start Procurement in VS (F5) and then immediately stop
3. Start People in VS (F5) and then immediately stop
4. Start Launcher in VS (F5). This fails with the following e

[2016-03-24 18:30] malx122 commented on #3459
Ok, after a talk with @warpech I solved it in another way. (without external requests).
Means that I need to parse markdown both on server and client but its doable.

[2016-03-25 20:45] alemoi commented on #3388
I made a few performance fixes and added queues on top for good distribution. So now its no longer possible to get the ScErrInputQueueFull exception. Distribution and performance improved a lot. A set of automatic tests added, here is an example of performance:
[code]

The documentation is updated as well.

[2016-03-25 21:17] alemoi commented on #3388
Forgot to mention that existing code that has "private" workarounds for queue limit - should probably be cleaned now: @andwah @linkdata you maybe have some.

[2016-03-26 09:46] andwah commented on #3388
@alemoi  Nice work. we all was waiting for a neat solution.

Dont think i have any "private" workarounds as far as i can remember.

[2016-03-26 11:04] warpech commented on #3126
This problem is still reproducable. I have added additional instructions to https://github.com/StarcounterSamples/KitchenSink/issues/10

[2016-03-29 09:16] linkdata opened #3461 "pnext: Under heavy load, received WebSocket messages are dropped"
When under heavy load, received WebSocket messages are dropped, but the connection is allowed to remain open. Either messages must not be dropped, or the connection must be aborted.

[2016-03-29 09:31] dan31 commented on #3461
@alemoi As I recall we encountered the same behavior when stress-testing with the Chatter. I believe @linkdata suggests the right way to have it solved.

[2016-03-29 10:05] warpech opened #3462 "Replace Bootswatch Paper with another theme that does not use shadows"
Bootswatch Paper theme that is currently added by default to Starcounter does not play well with `juicy-tile-table`.

The reason for this is that is uses a lot of box-shadow for not only shadows, but also borders around elements. For `j-t-t`, it causes:

- hiding of the shadows on the top and left of the element
- scrollbars for the shadows on the right and bottom of the element

Long term solutio

[2016-03-29 10:18] warpech commented on #3462
Related: https://github.com/StarcounterPrefabs/Launcher/issues/210

[2016-03-29 10:33] warpech commented on #3188
I believe this is fixed now, @alemoi confirm?

[2016-03-29 11:02] linkdata opened #3463 "pnext: WebSocket application "Disconnect" handler doesn't get invoked under load"
Under heavy load, it's possible for a SC WebSocket application to have it's "Connected" handler invoked and then not have the "Disconnected" handler invoked even though the client connection is closed.

[2016-03-29 11:15] tomalec commented on #3462
I didn't say it's not doable, I said that we need to agree on consistent behavior of `juicy-tile-*` first.

[2016-03-29 14:22] aloscha commented on #3462
@warpech what about Material Design for Bootstrap?
Like that one: http://fezvrasta.github.io/bootstrap-material-design/#getting-started

[2016-03-29 14:48] miyconst commented on #3462
We currently use something like this, and such elements causes the issues described above.

![image](https://cloud.githubusercontent.com/assets/6435556/14112213/188f9c06-f5ce-11e5-9feb-bc8cc8750f8d.png)

[2016-03-29 18:05] miyconst commented on #3118
This issue just hit me with a substitute handler.

I have a handler:

[code]

And a substitute call:

[code]

As not obviously expected the `CurrentPage` object contains only `InfoPage` response.

[2016-03-29 21:52] alemoi commented on #3339
Fixed via 9535c3570dbbc3029653e4cd68a66d86626e88c6

[2016-03-29 21:52] #3339 closed

[2016-03-30 05:55] per-samuelsson commented on #3460
@warpech

Sorry for not answering sooner, I've been away for a few days.

I think we've had old cases that are similar to this, and it's not easily solved unfortunately. It's again the problem with how our architecture with a single process (host) with multiple startable/stoppable apps don't fit 100% with how to do custom debug attaching from within the IDE (VS).

I'll take a look to see if I can

[2016-03-30 05:57] per-samuelsson commented on #3460
#3406 is a recent one that could be related.

[2016-03-30 06:07] per-samuelsson commented on #3460
#2494 is also experiencing something similar.

[2016-03-30 07:04] miyconst commented on #3339
@alemoi thank you.

[2016-03-30 07:46] warpech opened #3464 "Explain SelfOnly"
Explain new API that was added in https://github.com/Starcounter/Starcounter/issues/3339

[2016-03-30 07:46] warpech commented on #3339
Please document: https://github.com/Starcounter/Starcounter/issues/3464

[2016-03-30 07:50] miyconst commented on #3462
I found that applying simple css tricks/styles to the default bootstrap styles fixes issues with layout editor.

For example add the following lines to `/sys/bootstrap.html`:

[code]

[2016-03-30 07:57] warpech commented on #3462
I find this fundamentally wrong, for two reasons:

1. box-shadows should not be part of the tile size
2. there is no such thing as `box-sizing: margin-box`, so how come can a button margin affect the measured size of a tile?

[2016-03-30 08:10] miyconst commented on #3462
I agree, but this could be a short term fix of current bootstrap theme.

[2016-03-30 09:38] aloscha commented on #3462
@miyconst maybe short term would be that one:
`<style>
    .btn {
        box-sizing: none !important;
    }
</style>`
?

[2016-03-30 10:54] chrhol opened #3465 "JsonPatch: send patch for changed sibling instead of sending the whole json."
Currently when a new jsonsibling is detected on a merge, the whole json-object (including all siblings) are marked as replaced and sent to the client.

This should be changed so that only the changed sibling/values are sent, i.e work as patching is intended.

[2016-03-30 11:57] warpech commented on #3464
Sorry, this issue was supposed to be added in https://github.com/Starcounter/Starcounter.io/issues

The point is to explain the new API that was added in #3339 on starcounter.io

[2016-03-30 12:52] alemoi commented on #3464
Thanks for noticing! I explained `SelfOnly` in http://starcounter.io/guides/network/handling-requests/

[2016-03-30 12:52] #3464 closed

[2016-03-30 13:56] dan31 commented on #2962
Guys, any news on it? I want to stage 2.2 release this week :)

[2016-03-30 14:07] dan31 commented on #2822
@chrhol, shall you upgrade the docs on .io accordingly (maybe you have already)?

[2016-03-30 14:07] #3368 closed

[2016-03-30 14:08] dan31 commented on #3388
Great fix long waited :) Not closing it yet, let's see how it survives the staging. However, @alemoi added the new set of tests which reveal a very promising situation.

[2016-03-31 07:34] bigwad commented on #3388
I see several problems with this implementation:
##### 1. Major: async task may never gets executed.
Due to race condition between scheduler queue consumer and producer we may reach the code at DbSession.cs:217 having asyncTasksPerScheduler_[schedId].IsEmpty==true. Thus we are about to add a task to the managed scheduler queue and do not signal unmanaged one.
The same effect if we reach DbSession.

[2016-03-31 07:52] chrhol commented on #3465
I'm currently working on this. It requires some changes in how we treat siblings, but I think I have most of it in place. There are a few things left to make it work properly but should be finished soon.

[2016-03-31 09:04] miyconst opened #3466 "Can't register URI handler "GET /sc/db/{?}/{?}" on port 8080"
I am trying to start multiple applications in same database: [Launcher, Warehouse, SignIn] and getting the following exception.

@alemoi do you have any idea how this could happen and what it means?

[code]

[code]

[code]

[code]

[code]

[2016-03-31 09:31] atifsheikh commented on #3447
I am using SC Version 2.1.1562 now. And following query returns the correct result (which is 52 in my case) :
SELECT count(s) FROM adfenix.database.ecommerce.seller s WHERE PublicationOwner.Name like 'krogsveen'
but if I use '=' instead of 'like' in the same query, I get 0 as result.
and the issue is only with Count query, if i remove the 'count' keyword, i get the correct results.

There may be o

[2016-03-31 09:36] dan31 commented on #3447
Important note: this is present in all versions of Starcounter, including Stable 2.1. This is not a degradation since then. @k-rus for that reason I pointed to v2.x milestone, since this appears to be a generic issue with old QP.

[2016-03-31 10:01] alemoi commented on #3466
Thanks for asking! Usually it was the case when starting in 2 databases but same user port. Are you sure you start in one? No changes were made in that context.

[2016-03-31 10:25] miyconst commented on #3466
Yes, looks like so.

I remember some time ago I saw another error message, explaining that the current port is not available. Can we fix the error message?

[2016-03-31 10:25] #3466 closed

[2016-03-31 10:40] alemoi commented on #3388
Thanks for the great input!
Regarding the first one, yes, it was addressed in my first implementation but I forgot to fix it in latter variant. Good catch! Regarding the 2 and 3 I will take a look, or you can explain how out of ordering is happening.

[2016-03-31 11:28] bigwad commented on #3388
Imagine the size of unmanaged queue is N. When you schedule N+1 tasks, first N tasks go to unmanaged queue and the last one goes to managed. Then the first unmanaged tasks gets executed and right after it finishes scheduler will run task from the managed queue, not letting other tasks from unmanaged go first.

[2016-03-31 11:30] linkdata commented on #3388
I've written an evil little test program to help @alemoi out with testing:
https://github.com/StarcounterSamples/TaskSpammer

[2016-03-31 12:02] bigwad opened #3467 "pnext: tests doesn't work under application verifier"

[2016-03-31 12:12] k-rus commented on #3447
Thank you for another case of the problem. I will investigate the problem as soon as I have time for it.
It would be great if you can post the query plans, preferably by copy and paste of the text from the administrator (if it works, otherwise it is bug in administrator), not as screen shot.

[2016-03-31 12:18] linkdata commented on #3388
`TaskSpammer` functionality:
* Overloads the task queues by producing more work than is consumed.
* Checks that tasks are being run on the scheduler that was requested.
* Checks that tasks on the same scheduler are executed in order.
* Checks that tasks on the same scheduler are not executed in [parallel (concurrent is OK)](http://stackoverflow.com/questions/1897993/difference-between-concurrent-p

[2016-03-31 12:24] bigwad commented on #3467
TLS test suite should be disabled as our code is not compatible with it. Really sad that due to one place with totally unsupported tls usage (threads-win.cpp:26) we can't test other code.

[2016-03-31 12:24] #3467 closed

[2016-03-31 12:28] warpech opened #3468 "Remove Object.observe and Array.observe shims"
I will remove Object.observe and Array.observe shims from client files distributed with Starcounter, since they are no longer needed.

[2016-03-31 13:00] warpech commented on #3468
Done

[2016-03-31 14:57] warpech opened #3469 "Remove juicy-redirect"
@tomalec, do we actually need to distribute `juicy-redirect` with Starcounter? I think it is only used in Puppet web apps, and these rather use `puppet-redirect` (see: https://github.com/StarcounterPrefabs/Launcher/issues/216)

If `juicy-redirect` is needed, then I have to update it to 0.4.1 (released already). If not, then it should be removed.

[2016-03-31 15:55] tomalec commented on #3469
I don't think we need that.  We include libraries that are required to create an app in our way (Puppet-way). If app developer would like to create an app in his own way, he can always include `juicy-redirect`  or Polymer's `carbon/iron-router`

[2016-03-31 17:14] dan31 commented on #3388
@linkdata nice! Any evil materialised with a TaskSpammer so far?? :)

[2016-03-31 17:19] linkdata commented on #3388
Both out-of-order and in-parallel asserts trigger. @alemoi is aware and working on it.

[2016-03-31 18:56] chrhol commented on #3465
I have just pushed a possible solution for this issue to a separate branch (https://github.com/Starcounter/Starcounter/tree/issue/3465). It needs more testing though, which I will continue with tomorrow.

[2016-04-01 07:07] atifsheikh commented on #3447
@k-rus  You can access my server directly aswell if you want. just go to http://144.76.162.53:8181/#/databases/default/sql

Here are  the query plans for both queries

[code]

[code]

[2016-04-01 07:29] chrhol commented on #2822
Added it now on http://starcounter.io/guides/transactions/
Also added missing entry in changelog.

[2016-04-01 07:34] chrhol commented on #3465
I found a couple of bugs and I think this fix is in a good state now. I will check with @warpech though before pushing it to develop.

[2016-04-01 08:21] bigwad commented on #3388
I've take a look at the test.
Regarding parallel execution test fails since it's not aligned with scheduler's design. Actually, the only thing scheduler serializes is the access to ThreadData.ContextHandle to ensure nonconcurrent access to the kernel. In other words, once a task leaves any wait function, it could be executed in parallel with other tasks on the same scheduler up to the next access

[2016-04-01 09:28] per-samuelsson commented on #3459
So, @warpech, is that workaround you proposed something we should recommend to others, and if so, document? Or do we need to improve something here?

@malx122, from your end, can this issue be closed?

[2016-04-01 09:54] warpech commented on #3465
The original problem is fixed, but still there is one redundant replace for Launcher's data.

1. Run Launcher + People
2. Go to `http://localhost:8080/people/organisations`
3. Click on "People" in to menu (morphs to `http://localhost:8080/people/persons`)
4. See the incoming patches: https://gist.github.com/warpech/8faf3d2b568ebdea98673e3f1cd4a30d

The incoming patches first replace every property

[2016-04-01 10:02] chrhol commented on #3465
Yeah, this is another problem. The merger gets called more then once for the same object and two siblings from the launcher get's added. The first sibling get only it's values updated while the whole json is sent for the other.

For this we probably need to investigate and review how the merger and substitute-handlers works, maybe starting with what Alexey suggested in [this](https://github.com/St

[2016-04-01 10:07] chrhol opened #3470 "Review the jsonmerger and in what conditions it should be executed."
After the merge-callback was added we started noticing that the merger of jsonresponses that is used to allow blending on the client gets called a lot and sometimes more then once for the same json.

This together with how the substitute-handlers and the mergecallback works sometimes make an app have more then one json in the siblings which is not good.

As @alemoi suggested in [this](https://gith

[2016-04-01 10:08] chrhol commented on #3465
Added another issue for reviewing the other problem and jsonmerger: https://github.com/Starcounter/Starcounter/issues/3470

[2016-04-01 10:13] chrhol commented on #3470
Here is one problem with the current implementation. I'm not saying that it is the merger that is the problem though, maybe it's the callback or the substitute-handler, but it's difficult to say without knowing exactly how the merger should work. Copied from https://github.com/Starcounter/Starcounter/issues/3465#issuecomment-204335008

1. Run Launcher + People
2. Go to `http://localhost:8080/peopl

[2016-04-01 10:17] malx122 commented on #3459
I still think it should be possible to do a request within the session that not affect the workspaces even though I solved my problems another way.

[2016-04-01 10:39] chrhol commented on #3465
I've pushed the fix to develop and pnext now.

[2016-04-01 10:50] k-rus commented on #3447
@atifsheikh Thank you for posting query plan. I think you posted the same query twice. If you have ability can you post the non-count query plan?
Thank you.

[2016-04-01 11:42] atifsheikh commented on #3447
@k-rus I posted 2 queries.

First one is with "LIKE" keyword and it works fine (returns the correct count 52) :
`SELECT count(s) FROM adfenix.database.ecommerce.seller s WHERE PublicationOwner.Name like 'krogsveen'`

Second one is with "=" sign, and it does not work (returns the incorrect count 0) :
`SELECT count(s) FROM adfenix.database.ecommerce.seller s WHERE PublicationOwner.Name = 'krogsveen'

[2016-04-01 11:58] linkdata commented on #3388
Actually, I don't think we make any concurrency or parallelism guarantees at all. We guarantee that the task runs on a SC scheduler and you can do transactions, but that's about it. I'll change `TaskSpammer` to test for that instead.

I do think the start order within a single scheduler is worth guaranteeing if we can do so, so I will leave those tests in for now.

[2016-04-01 12:07] linkdata commented on #3388
I removed the concurrency checks from `TaskSpammer` and added checks that `Db.Transact()` is available, threadsafe and runs on the correct scheduler.

[2016-04-01 12:37] k-rus commented on #3447
Thank you for clarifying! Sorry, that I was not so careful. I see the same difference in query plans that the failed one is using IS predicate in the plan, which is decided by query optimiser. As soon I have time, I will investigate them.

[2016-04-01 14:45] atifsheikh commented on #3447
Its ok. Take you time.

[2016-04-01 14:51] alemoi commented on #3388
@bigwad again thank you for checking this!

I actually thought that one scheduler can't run two tasks in parallel, only one at a time, i.e. cooperatively (not only the database access part, but the whole scheduled task). @eriohl can you please confirm @bigwad observation?

[2016-04-01 15:15] eriohl commented on #3388
A single scheduler can run multiple threads in parallell. Only one will be "attached" (capable of accessing the kernel) at a time however. The other ones will either be detached or blocked. The detached ones can still run and do stuff other then acessing the kernel (or the query processor).

A scheduler can of course also switch between tasks (start task 2 before completing task 1). But this is in

[2016-04-01 15:39] alemoi commented on #3388
@eriohl thank you for clarification!

I just pushed the fixes for point 1 and 2. The performance is approximately the same. After running current version of TaskSpammer - no errors were observed.

[2016-04-01 15:50] alemoi commented on #3388
Note that in point 1 fix I assume that the size of the queue is more than the number of schedulers (because SYNC tasks can theoretically pollute the queue if it would be too short).
Regarding point 3 I'm not sure if its applicable, because of `Thread.Sleep` the scheduler will switch to a new task (meaning that it would be picked from the queue) and then get back to the previous that was placed asi

[2016-04-01 18:09] dan31 commented on #3388
On one hand, a good practice is to introduce timeouts whenever possible. "Wait forever" situation leads to disasters in production, and there "circuit breaker" is a typical remedy. I believe you are thinking in a right direction. However, when exactly would this happen? Is it somewhat rare situation that might however take place and then "breaking the circuit" will help resolve it, or this will be

[2016-04-04 12:12] linkdata commented on #3388
I wasn't happy with the load (or rather, lack thereof) that `TaskSpammer` was producing, so I rewrote it to use threads instead of timers. The good news is that it worked a treat - it can now push really hard. The bad news is that it occasionally finds an out-of-order execution.

You can now leave it running for extended periods of time, and it will strive to maintain a constant load on the schedu

[2016-04-04 12:17] linkdata commented on #3388
I think this race condition may be because of OS thread scheduling though - it could be that SC is starting them in correct order but on different threads, which means it's up to the OS which thread actually manages to run the sequence number checking code first.

[2016-04-04 12:46] alemoi commented on #3388
For executing async tasks on a specific scheduler there is only one queue now, I don't use internal queue anymore, so everything should be in order unless, as you say:

[2016-04-04 14:55] tomalec commented on #3462
As https://github.com/Juicy/juicy-tile-table/issues/4 is fixed, and `juicy-tile-table` supports shadows for tiles gently. Do we still need this one?

[2016-04-04 15:42] alemoi commented on #3388
@eriohl thank you for clarification! I am quite concerned about parallel execution on the same scheduler. Is there a practical reason for this? When exactly can it occur? I am asking because we have a lot of code that relies on the fact that two tasks can not run in parallel on the same scheduler, for example, for sessions and viewmodels (when, for example, user schedules two tasks on the same sch

[2016-04-04 21:18] miyconst commented on #3462
I don't think so. Now it looks really good with current theme.

@warpech do you agree?

![image](https://cloud.githubusercontent.com/assets/6435556/14263545/7065134c-fabb-11e5-8c47-85a5d170bf20.png)

[2016-04-05 09:18] warpech commented on #3468
To make it smoother for developers, I will add a deprecation notice about removed Array.observe and Object.observe in Starcounter 2.2

[2016-04-05 09:19] warpech commented on #3468
To make it smoother for developers, I will not unremove it, and add a deprecation notice in Starcounter 2.2.

[2016-04-05 09:19] warpech commented on #3468
To make it smoother for developers, I will not unremove it, and add a deprecation notice in Starcounter 2.2.

[2016-04-05 09:19] warpech commented on #3469
To make it smoother for developers, I will not remove it, but add a deprecation notice about juicy-redirect in Starcounter 2.2

[2016-04-05 09:36] jwillmer opened #3471 "How to expose an OData service"
I like to build a reporting app. The reporting app should expose OData feeds.
I know I could use the REST api but than I need to document all urls. With OData I only need to document the url to the svc-file.

For example one of my feeds could look like this:
`/localhost/Reporting/Vessel.svc` - _Exposes all tables with information's about a vessel_

To try OData you can have a look at the [OData AP

[2016-04-05 09:45] warpech commented on #3469
I added a deprecation notice directly in the static file (bypassing Bower). I have no idea how to do it better without increasing repolepsy.

Maybe I should just "freeze" the version by removing `juicy-redirect` from Starcounter client files `bower.json`?

@tomalec WDYT?

[2016-04-05 09:51] tomalec commented on #3469
I think it's worth removing it from `bower.json` it would not get overwritten by update, and it would be easier to spot that something i going one, when you are running clean bower install that entire folder is to be removed.

The only idea that I have is to add a branch to `juicy-redirect` but it definitely increases repolepsy and branchitis.

[2016-04-05 09:54] warpech commented on #3469
Also, we are not deprecating `juicy-redirect` but just its distribution with Starcounter. So this would need to be on Starcounter's fork of `juicy-redirect`. Totally not worth doing.

I will remove it from `bower.json`

[2016-04-05 10:21] chrhol opened #3472 "System.ArgumentOutOfRangeException when gathering changes for patches."
The following exception is thrown from time to time in Tunitys environment.
Starcounter version 1569

[code]

Reported by @malx122

I have a version of Tunity running locally and will try to reproduce it there to be able to investigate what goes wrong. Might be concerning concurrent access to session and pushing changes.

[2016-04-05 10:32] warpech commented on #3469
Note to self: add a blog post that elaborates on why juicy-redirect is deprecated, how to switch to puppet-redirect and how to add juicy-redirect to your app if you want to use that one.

(inspired by https://github.com/Starcounter/Starcounter/commit/8bd57a780f5ff9a04d3919285d1f530788d6ab4a#commitcomment-16966707)

[2016-04-05 10:44] warpech commented on #3471
I think the low level tooling explained at http://starcounter.io/guides/rest/ and http://starcounter.io/guides/network/ should be enough to implement OData feeds in your app, but there is no high level API for that like this one: http://odata.github.io/WebApi/

The only way to know for sure is to build a proof of concept and see if there are any white spots that we need to cover

[2016-04-05 11:09] Ripipip opened #3473 "How to set cookie in Starcounter.Response"
I am failing to set a http cookie. The response looks perfectly fine when I debug but my brwoser is enable to store the cookie that I specify

Code:

		Response response = new Response() {
			Body = responseBody
		};
		string cookie = "uid=testId; path=/; expires=Fri, 10 Jun 2016 11:58:18 GMT; httponly; domain=www.hiddenurl.net:8282;";
		response.Cookies.Add(cookie);
		response["Access-Control-All

[2016-04-05 11:15] miyconst commented on #3473
This happens because Response you set the cookie to is not the root level response.

You should use the following code to set cookies:

[code]

[2016-04-05 11:19] Ripipip commented on #3473
Just as before the response I get contains the right information for storing a cookie without it actually storing it. With this code I dont know how to set expires, path and domain though. How would I do that? Just as before the response I get contains the right information for storing a cookie without it actually storing it. With this code I dont know how to set expires, path and domain though.

[2016-04-05 11:25] miyconst commented on #3473
Seems like your date format is incorrect. See an example: https://www.nczonline.net/blog/2009/05/05/http-cookies-explained/

[code]

You can use `Starcounter.Cookie` class to generate cookie value.

[2016-04-05 11:27] miyconst commented on #3473
The source code for the `Cookie.cs` class is available here: https://github.com/Starcounter/Starcounter/blob/57c6d056c5a43e4ffabbea3f261e3f30219220b1/src/Starcounter.Internal/Http/Cookie.cs

[2016-04-05 11:46] Ripipip commented on #3473
Handle.AddOutGoingCookie(string,string) seems difficult to use for adding cookies. it kinda gives the right response by doing it like this:

                Starcounter.Cookie cookie = new Starcounter.Cookie() { Name = "uid", Value = "testCookie", Expires = DateTime.Now.AddMonths(6), Path = "/" };
                Handle.AddOutgoingCookie(cookie.Name, cookie.GetFullValueString());

But the datetime

[2016-04-05 11:58] warpech commented on #3469
Starcounter 2.2 release notes will contain the following information about why was this removed and how to update your apps:

[2016-04-05 11:58] #3469 closed

[2016-04-05 11:59] warpech commented on #3468
Starcounter 2.2 release notes will contain the following information about why was this deprecated and how to update your apps:

[2016-04-05 11:59] #3468 closed

[2016-04-05 12:01] miyconst commented on #3473
I bet it's something wrong with your browser. I just tested same setup:

[code]

![image](https://cloud.githubusercontent.com/assets/6435556/14281034/e92b7fca-fb36-11e5-9add-ad02f353d487.png)

![image](https://cloud.githubusercontent.com/assets/6435556/14281010/c0ae915e-fb36-11e5-9b0d-f170f89e94c9.png)

[2016-04-05 12:03] Ripipip commented on #3473
I get the exact same response. But if you actually look at your stored cookies in your browser, do you see the cookie? I dont. And when I send a new http request to the same server the cookie is not in the request.

[2016-04-05 12:07] miyconst commented on #3473
Yes, as my images shows, the cookie is stored, and it also persists in the next request:

![image](https://cloud.githubusercontent.com/assets/6435556/14281146/a430ba1a-fb37-11e5-900d-b0981096eba5.png)

[2016-04-05 12:38] jwillmer commented on #3471
I don't have that much knowledge about OData to get it to work. The problem is that there are too many solutions for .NET and I can not find examples of an OData low level implementation. Most solutions use ASP.NET or WEB.API and both are hiding the wiring pretty good.

I gues with this nuget packages and [this instruction](http://odata.github.io/WebApi/#01-01-preface) it should be possible to bui

[2016-04-05 13:52] chrhol commented on #3472
I think I have found the problem (or atleast one problem). Sometimes when scheduling a task for a specific session the current transaction was still set on the thread which lead to that viewmodels in different sessions shared transactions, which lead to some strange errors further on.

I have pushed a fix to develop and soon to pnext.

[2016-04-05 14:12] chrhol commented on #3472
I will keep this issue open until @malx122 can verify that it solved the inital problem.

[2016-04-05 16:02] malx122 commented on #3472
Do you think that this will solve the "sometimes not working push"-problem as well?

[2016-04-05 16:09] chrhol commented on #3472
Possibly yes. I think there's a good chance at least.

[2016-04-06 10:43] Ripipip commented on #3473
Do you return this inside of a scope or something?

I return this in a handler with a url that I then just reload over and over again.

I have tried with multiple browsers without achieving any different result.

[2016-04-06 10:45] Ripipip opened #3474 "Feature suggestion: Download sql admin result"
I don't know the best place to suggest features but if it would be possible to download the result you get in the sql admin panel it would be extremely valueable for us. It is already formatted similar to an excel sheet and if we could just export it to excel we would save a lot of time and effort.

[2016-04-06 11:07] miyconst commented on #3473
@Ripipip I will create an example in KitchenSink. You can track progress in this issue: https://github.com/StarcounterSamples/KitchenSink/issues/30.

[2016-04-06 11:11] miyconst commented on #3474
@Ripipip thank you for the request!

I have changed the issue title to be more understandable. The feature itself should not be difficult to implement if you are fine with `.xlsx` document.

@andwah how much time would this take? I can help you with MS-Excel document generation.

[2016-04-06 12:09] alemoi commented on #3473
Are you using the same version of Starcounter guys? Just to be sure.

[2016-04-06 12:11] miyconst commented on #3473
My version: `Starcounter-DevelopNightlyBuilds-2.1.1605`.

[2016-04-06 12:11] Ripipip commented on #3473
Current version: Starcounter-Stable-2.1.177 (Oct 14, 2015 5:28:43 PM)

[2016-04-06 12:25] andwah commented on #3474
This as to be done:

-  Add Export button in gui. (easy&fast to develop)
-  Add new handler for the file generation that will return the file. (easy&fast to develop)
-  Prepare the query result.

Today we convert the query result to JSON and resturn it to the caller.

**Fastes developing time (1day) **:
      Going to go from Query Result -> JSON -> .xlsx

**Best performence & implementation**

[2016-04-06 12:30] Ripipip commented on #3474
People over here got seriously excited when I accidently mentioned the possibility of being able to download query result...  So whatever it is worth I would say that the faster it can be done the happier we would be :)

[2016-04-06 12:42] andwah commented on #3474
Maybe we should implement the export function in a public 'helper' library. then developers may also use it within their apps. The Admin will also use the same principe as it is also an app.

[2016-04-06 12:50] miyconst commented on #3474
This one is the way to go I think.

@andwah let's do this after the Warehouse demo.

[2016-04-06 13:23] andwah commented on #3474
I dont agree, i think we should aim for performence and a good implmentation..even if it takes 2 more extra days. But let @dan31 deside.

[2016-04-06 13:49] miyconst commented on #3474
This feature will be rarely used and it is always good to have a json-to-excel component which can be used later in other places.

Anyway, let's decide on it after the Warehouse demo.

[2016-04-06 14:14] k-rus commented on #3474
I don't like the idea of having the functionality in the helper library. It is not something crucial for apps. Furthermore, the maintenance cost is too high for us. Converting JSON does not require much maintenance and some external tools can do it, I guess.

[2016-04-06 14:19] miyconst commented on #3474
I agree with @k-rus.

[2016-04-06 16:10] miyconst commented on #3473
@Ripipip I have just created an example in KitchenSink for setting a cookie on server side. The example was tested with Starcounter stable and nightly. Take a look please.

[2016-04-06 19:50] andwah commented on #3474
I added the ability to export to an excel sheet in the DatabaseEditor app (v1.0.7) as an Test, play around and see what you think.  The code can then easy be moved into the Administrator.

**Note**: to Export you need to **RIGHT CLICK** and select **SAVE LINK AS...** on the `Export `link

![image](https://cloud.githubusercontent.com/assets/2656996/14330540/51cd4562-fc41-11e5-9854-22a59a7a6b3b.png)

[2016-04-07 06:40] chrhol commented on #3472
So far the fix seems to have solved the problems. I will close the issue.

[2016-04-07 06:40] #3472 closed

[2016-04-07 07:54] atifsheikh opened #3475 "TypedJSON: Object reference not set to an instance of an object."
I keep getting the following error in my code :

   at lambda_method(Closure , Json )
   at Starcounter.Templates.TObject.BoundOrUnboundGet(Json parent) in C:\TeamCity\TeamCity9\buildAgent\work\sc-develop-nightly-245\Level1\src\Starcounter.XSON\Templates\TObject.cs:line 130
   at Starcounter.Advanced.XSON.StandardJsonSerializer.PopulateObject(Json json, Template template, JsonReader reader) in C:\

[2016-04-07 08:20] chrhol commented on #3475
Hi atif,
do you get this every time or just sometimes?

My suspicion is that it might have to do with the binding between the dataobject and the typedjson object is recreated due to being used with different dataobjects (or with no dataobject set) from more than one place at the same time. We have a number of issues reported for this which yields some strange errors.

If that is the case then this

[2016-04-07 08:22] atifsheikh commented on #3475
@chrhol I get this sometimes.

[2016-04-07 08:23] atifsheikh commented on #3475
and what is the recommended way to fix this kind of issues with typedjson?

[2016-04-07 08:28] chrhol commented on #3475
Ok, then I think my guess is correct. As to exactly why you get it here I cannot say directly. In #3224 the problem arose from setting the `Data`-property to null, and the quick workaround was to not set it to null explicitly.

The proper solution is that we rewrite the parts that handles bindings and make sure they are thread-safe or that they are not allowed to be recreated on the fly (which mig

[2016-04-07 08:29] chrhol commented on #3475
Linking the other issues for this: #2303, #2513

[2016-04-07 08:36] chrhol commented on #3475
I think I have access to your repo, is this code pushed? I can take a look and see if I can see something we can do as workaround if you like.

[2016-04-07 08:49] atifsheikh commented on #3475
That would be great. This code with bug is in Atif-simpleConfigs branch.
Project : AdFenix
File : Configs.cs
Line of exception : 520 (but its not constant with this line, the exception appears on different lines of this function.)

[2016-04-07 09:51] ivarbergman opened #3476 "Build server with multiple starcounter versions"
We have a dedicated build server for our Starcounter apps. What would be the recommended way to build against different versions of Starcounter?

My idea is to

1. manually create a set of Starcounter folders:

    C:\Program Files\Starcounter-DevelopDailyBuilds-2.1.1658
    C:\Program Files\Starcounter-DevelopDailyBuilds-2.1.XXXX

2. set the `StarcounterBin` environment variable in each BAT-file

[2016-04-07 10:37] chrhol commented on #3475
I've been looking through the code and I see no obvious place to try to add some workaround.

The `SyncConfigsSeller` object seems to be used with the same type of dataobject everywhere. The only thing I can think of is that maybe `PublicationOwner` or `Seller` database objects might be null sometimes which makes the bindings being invalidated (`DownloadQueue.cs` row 75-76, `Configs.cs` row 1205).

[2016-04-07 10:52] miyconst commented on #3023
No nightly builds again, the latest one `2.1.1605 (Apr 3, 2016 3:12:53 PM)`.

[2016-04-07 11:20] miyconst opened #3477 "Handle.AddRequestFilter is deprecated in favour to Application.Use"
I just have discovered that

[code]

Is now deprecated, but still promoted on our [Request and response filters](http://starcounter.io/guides/network/request-response-filters/) page.

The new syntax proposed to use is `Application.Use`, and it does not have a sign of documentation.

cc @warpech, @per-samuelsson, @alemoi, @chrhol

[2016-04-07 12:07] warpech commented on #3477
Are "obsolete" and "deprecated" synonyms? CHANGELOG says it is "made obsolete".

First step is to include documentation for `Application.Use` in http://starcounter.io. Right now, it is only on https://github.com/Starcounter/RebelsLounge/blob/master/Uncategorized/Middleware.md, which is not ccessible to the general public.

After that we we need to switch [remaining sample apps](https://github.com/

[2016-04-07 12:08] warpech commented on #3477
Documentation for `AddRequestFilter` for reference should be available at least as long as Starcounter 2.1.177 is available to download.

[2016-04-07 12:16] miyconst commented on #3477
Okay. SignIn app should also be fixed then.

`obsolete` - old, going to be removed feature.
`deprecated` - not recommended, going to be removed feature.

So it's kind of synonyms.

[2016-04-07 13:23] Ripipip commented on #3475
I have a very similar problem. I am just trying to reference an object that is stored as a value in another database object. I am 100% certain that the object is there. As you can see on line above the yellow I have gotten the Name of the SegmentationRule. But when I try to access the SegmentationRule itself it throws a NullReference exception which doesn't make sense. This is completely reproduca

[2016-04-07 13:30] chrhol commented on #3475
@Ripipip: Could you post the stacktrace from the exception you get.

[2016-04-07 13:38] Ripipip commented on #3475
@chrhol    at AdFenix.ApiMirror.FacebookApi.v2_5.AdSet.UpdateAdset(String adSetId, String attributes, String action, Campaign campaign, String AdsetName, FacebookAdCampaign facebookAdCampaign) in c:\adfenix-backend\src\ApiMirror\FacebookApi\v2_5\AdSet.cs:line 231
   at AdFenix.ApiMirror.FacebookApi.v2_5.AdSet.CreateAdset(Campaign campaign, String adAccountId, String AdsetName, DateTime StartTime,

[2016-04-07 14:08] chrhol commented on #3475
@Ripipip: I think your issue is a separate problem. Judging by the stacktrace it's not coming from the same place. I think we should move it to a separate issue and continue investigating it.

[2016-04-07 14:20] atifsheikh opened #3478 "Question : Is there any query to check all Tables and total number of rows in each table"
Is there any query to check all Tables and total number of rows in each table?

[2016-04-07 14:22] Ripipip opened #3479 "Object reference not set to an instance of an object (2)"
I have a very similar problem. I am just trying to reference an object that is stored as a value in another database object. I am 100% certain that the object is there. As you can see on line above the yellow I have gotten the Name of the SegmentationRule. But when I try to access the SegmentationRule itself it throws a NullReference exception which doesn't make sense. This is completely reproduca

[2016-04-07 14:22] Ripipip commented on #3479
@chrhol I would guess you are the guy to notice this :)

[2016-04-07 14:41] Ripipip commented on #3473
Thank you! This helped me figure out how to deal with the cookies :)

[2016-04-07 15:31] miyconst commented on #3473
Glad to help. Please close the issue if it works for you.

[2016-04-07 16:21] #3473 closed

[2016-04-07 16:40] k-rus commented on #3478
Thank you for your question.
Metadata does not contain any statistics. Current version of SQL does not allow to write your request in single query (as any standard SQL implementation). Thus you need to write program, which first retrieves list of tables from meta-data and then issues aggregate queries to count number of rows. Note it will be expensive.

[2016-04-07 17:16] atifsheikh commented on #3478
@k-rus Thanks :+1:

[2016-04-07 17:16] #3478 closed

[2016-04-08 06:46] chrhol commented on #3479
I've investigated this together with @Ripipip and we think we found the cause.

In VS when you debug there is a feature where you can change the execution point, both backward and forward, to allow jumping over pieces of code and execute certain parts.

This is documented here: https://msdn.microsoft.com/en-us/library/y740d9d3.aspx#Anchor_3

In the Caution-block it is specified that this may cause

[2016-04-08 06:46] #3479 closed

[2016-04-08 09:05] per-samuelsson commented on #3477
In practice, yes.

I do.

I can. :smile:

Also, I just recalled that I might have forgot to add this thing to the changelog. I'll take it on me to verify that and do it if it's not done.

[2016-04-08 09:15] ivarbergman opened #3480 "ScErrNetworkGatewayTerminated during start of app"
(This issue originates from a discussion with @ivarbergman @per-samuelsson  and @dan31 .)

On one of our production server we experience an error when starting the Launcher app after a `staradmin kill all`:

    staradmin kill all
    star -d=intranet --resourcedir="Launcher\Client" "%cd%\Launcher.exe"

The error output one the console is:

    Launcher -> intranet (starting database ...)

    [06

[2016-04-08 09:18] per-samuelsson opened #3481 "Starting database is slow"
We are spending some time trying to improve on the cycle, and I'm finding that starting a database even in the simplest scenario is really slow.

[code]

That last step takes approx. 15 seconds (!!) on my machine.

And it does not improve if I do it a second time:

[code]

I'll try polishing of old "log steps" to see if I can find where all that time is spent.

If anyone can post their experience

[2016-04-08 09:21] per-samuelsson commented on #3480
Thanks for taking the time to report this @ivarbergman.

The version used was http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/2.1.1605

[2016-04-08 09:24] alemoi commented on #3480
Thank you for reporting! Strange that there is no stack trace why gateway process terminates. Also is it reproducible in 100% of the cases?

[2016-04-08 09:38] alemoi commented on #3481
Great! I created an issue some time ago about super slowness on sctestsrv03 machine. Around 30 seconds there.

[2016-04-08 09:50] per-samuelsson commented on #3481
Thanks, @alemoi. That's #3442, and let's try to address these two as one. My initial tracing seem to align quite well with those of that issue.

[2016-04-08 10:26] ivarbergman commented on #3481
Around 20 sec on our production server (Azure A2) . approx 10 sec on my local machine.

[2016-04-08 10:42] per-samuelsson commented on #3481
Thanks @ivarbergman. We should really try to improve those numbers.

Here's a script that could be used:

**timeboot.bat**
[code]

Here's a sample run from me, on a locally built version:

[code]

This extract seem to be the most interesting:

[code]

[2016-04-08 11:45] per-samuelsson commented on #3481
I refined the script from above further, so we also produce a diagnostic time log, since traces routed to the log seem not always to turn up.

**timeboot.bat**
[code]

And an extract from a `timeboot.txt`, somewhat prettyfied and with a few comments:
[code]

[2016-04-08 12:08] per-samuelsson commented on #3481
Since the majority of time spent is consumed when booting up an empty host, I'll focus on that initially, trying to find answers. Here's spots I've filtered out from that sample, all consuming more than 1 second, and sorted by their relative impact:

[code]

Not that absolute numbers shouldn't be trusted here, since I'm running a personal build that might contain some debug code. The focus is on r

[2016-04-08 12:28] warpech commented on #3369
All the linked issues apart from https://github.com/Starcounter/Starcounter/issues/3097 are now fixed. Closing.

[2016-04-08 12:28] #3369 closed

[2016-04-08 12:45] per-samuelsson commented on #3097
Wouldn't it be feasible, as a default, to assign the application of the caller of `RunAsync` to the context where the callback actually execute?

Pseudo-code:
[code]

That seem like the least-suprise principle to me at least.

[2016-04-08 12:46] ivarbergman commented on #3480
Should have mentioned that on this server we currently use:
    http://downloads.starcounter.com/download/Starcounter/DevelopDailyBuilds/2.1.1658

It used to be reproducible on this specific server before we upgraded to 2.1.1658 (we upgraded from Starcounter-DevelopNightlyBuilds-2.1.1367). However after SC upgrade I don't get this **all** the time.

Just now I've installed a new server, where I ge

[2016-04-08 12:48] alemoi commented on #3476
Good question!

Yes, if you keep the isolated environments with independent folders with binaries and different `StarcounterBin` variables for each cmd session, then everything should work. However, this might not work with Visual Studio extension, but I suppose you don't need that, do you?

If you need to build certain projects but you don't need UI, then the following might be helpful, for examp

[2016-04-08 13:16] alemoi commented on #3480
As from the logs, I can see that gateway is kind of hanging, right?
[code]

Can you please also change the number of gateway workers to 1 (WorkersNumber scnetworkgateway.xml) and see the effect? Thank you!

[2016-04-08 13:42] ivarbergman commented on #3480
I'll do some more testning during this week-end, when I can do changes on our servers more freely.

[2016-04-08 14:08] chrhol commented on #3475
Update: I'm currently working on this. The full solution requires some rewrite which will take a bit longer to solve (and to determine exactly how it should work).

As an intermediate step I will change so that setting the `Data`-property to null does not invalidate the bindings. However I need to test it a bit more, so I hope I will have time to push it later tonight or tomorrow.

With this step

[2016-04-08 14:10] atifsheikh commented on #3475
:+1: Sounds good. I will test the code with your update on monday

[2016-04-08 14:10] atifsheikh commented on #3475
do you have permission to commit anything in our repository?

[2016-04-08 14:18] alemoi commented on #3476
To create a server repository in folder .srv, run the following command (StarcounterBin should be defined at this point): star.exe @@CreateRepo .srv

[2016-04-08 14:22] chrhol commented on #3475
I dont think so, but I hope this fix will work without any changes in your code.

[2016-04-08 14:22] per-samuelsson commented on #3476
I actually think that should work too, at least in theory. If I recall correctly, the registry entries we need to write to install the extension is specified with that same environment variable, resolved at VS loading up the package.

I've never tested that myself though.

Just be aware of #2109, even that one is pretty old by now and doesn't get much love. :smile:

[2016-04-08 14:29] per-samuelsson commented on #653
@chrhol, isn't this an old duplicate of what you recently implemented? Close it if so.

[2016-04-08 14:47] per-samuelsson commented on #2579
Friday-bump (One year later!) :older_man: :smile:

[2016-04-08 14:50] chrhol commented on #653
Nice catch! It's implemented and I will close it.

[2016-04-08 14:50] #653 closed

[2016-04-08 15:07] per-samuelsson commented on #2738
This specific issue is old and seem resolved. I'm closing it.

[2016-04-08 15:07] #2738 closed

[2016-04-08 18:12] ivarbergman commented on #3476
This is great! Adding `/p:ReferencePath=...` in the msbuild parameter list was the missing piece. Now we build our applications on different Starcounter.

Thanks!

[2016-04-08 18:12] #3476 closed

[2016-04-08 18:43] warpech commented on #3450
I have posted the article about BEM here: http://starcounter.io/guides/web/avoiding-css-conflicts/

I will close this issue once I create issues for BEM-ifying all the existing apps that need it.

[2016-04-08 21:06] alemoi commented on #3480
I have produced a daily build for you with some more strict behavior that can possibly reveal the problem: http://downloads.starcounter.com/download/Starcounter/DevelopDailyBuilds/2.1.1687

Please use it @ivarbergman  in your further tests. Thank you!

[2016-04-09 10:55] miyconst opened #3482 "Unable to create database class Column"
I have a class:

[code]

Trying to start such application ends with the following error:

[code]

I think all the internal queries like `select c from column c where c.table = ? and name = ?` should contain full class name with namespace.

cc @alemoi, @per-samuelsson

[2016-04-09 11:09] miyconst opened #3483 "Remove link to object.obser & array.observe from Partial.cs"
The object.observe and array.observe shims are no longer required.

cc @warpech, @per-samuelsson

[2016-04-09 12:01] k-rus commented on #3482
Thank you for reporting. I will check and fix all paces in Starcounter's code to use full names.

[2016-04-11 06:48] chrhol commented on #3475
There is some problem with our nightly builds so I made a daily build for you which contains my changes. Please try it out and see if you still get this exception. Hopefully it will be gone.

Link to installer: http://downloads.starcounter.com/download/Starcounter/DevelopDailyBuilds/2.1.1708

[2016-04-11 07:13] ivarbergman commented on #3118
This topic was discussed in a meeting with @Starcounter-Jack @dan31 @chrhol . We at Tunity has the following use-case in mind (conceptual code):

The scenario is that we have 3 apps. Each app can provide meta data properties for a file object. Each application should have the possibility to register several Handlers.

[code]

As discussed in the comments above, the html merger can handle this. But

[2016-04-11 07:56] per-samuelsson commented on #3298
We haven't heard either @MLidstrom or @careri report that they have this still, so I think it's now in a state where we can consider it fixed.

I'm closing this. If you guys think thats wrong, just leave a beep and I'll reopen it again and we'll iterate over it again.

[2016-04-11 07:56] #3298 closed

[2016-04-11 07:59] per-samuelsson commented on #3293
I just closed #3298, and I'm closing this on the same premises.

[2016-04-11 07:59] #3293 closed

[2016-04-11 08:04] miyconst opened #3484 "Why substitute handlers should return a result?"
We support substitute `Self.GET` calls like:

[code]

In most cases when a substitute handler is called, the local response is just an empty page. Why do we need it?

I tried:

[code]

It throws null reference exception. I propose to add another overload for substitute handlers:

[code]

cc @alemoi

[2016-04-11 08:32] per-samuelsson commented on #3484
Anyone care to explain exactly

1. what a "substitute handler" is,
2. when those where introduced, and
3. some use-case where they are needed?

I've seen them considered in quite a few spots in the code when I reviewed the request pipeline, and never understood what they were.

[2016-04-11 08:45] miyconst commented on #3484
Here is a short explanation:

1. It's a `Self.GET` call with func to be used instead of handler.
2. It was introduced long time ago, not sure when.
3. This is needed to get partials from other applications via `UriMapping` when requesting app does not have a handler for this url.

The most common example is Launcher. It has a section menu, Launcher has to show menu partials from other applications

[2016-04-11 09:10] malx122 opened #3485 "Error in Json merger"
I probably do something wrong in our apps, but no idea what...
[code]

[2016-04-11 09:14] chrhol commented on #3485
Looks like we missed the check if a response is null in one place. So you probably return null from one of your handlers that returns a partial response. Depending on the order the responses comes in this might happen.

I will fix it.

[2016-04-11 09:17] malx122 commented on #3485
Ok, good. Quite important to be able to return null in a partial ;).

[2016-04-11 09:30] per-samuelsson commented on #3460
@warpech

I'm trying to reproduce this, but I'm not sure if I'm doing the right thing.

Regarding

are you doing that from within VS too? Hitting the Stop button?

And are you running all three projects in separate VS instances?

[2016-04-11 09:45] miyconst commented on #3460
Might be related: https://github.com/StarcounterSamples/AppStoreClient/issues/7

[2016-04-11 09:48] chrhol commented on #3485
Fix pushed to develop and pnext branches now.

[2016-04-11 10:54] per-samuelsson commented on #3460
Thanks. Might be related, but I'm not sure really. And that one is by design, so it's actually not a bug. Whereas this one clearly is.

[2016-04-11 14:23] per-samuelsson commented on #3484
Thanks for the clarification of that @miyconst. Sorry if it was a bit off-topic.

[2016-04-11 15:46] warpech commented on #3460
Yes

Yes

I have just confirmed that the issue is reproducible with the current versions of the Launcher+Procurement+People and current Starcounter nightly (2.1.1690).

I have made a screen recording:
https://www.dropbox.com/s/xsb04ytdon1w3em/sc-issue-3460.mp4?dl=0

[2016-04-11 15:51] dan31 opened #3486 "Installer shows an extension (vsix) issue on deistallation (latest Nightly)"
Moving from SC version from March 24 to a current one. (It was pnext installed before, now it is develop, I don't know whether it matters or not, only mention for report).
This one is reported during uninstallation:
<img width="623" alt="pngimg" src="https://cloud.githubusercontent.com/assets/7162535/14432381/3b099ffc-000a-11e6-95ed-52d3a6b308db.png">
Investigating this further on, I paste and exe

[2016-04-11 16:08] warpech commented on #3484
@miyconst care to add this explanation to http://starcounter.io/guides/network/handling-requests/?

[2016-04-11 16:09] per-samuelsson commented on #3460
Thats what I tried with earlier today too

Wow, thanks. Unfortunately (for me), it's the exact procedure that I tested with on my machine earlier too, and twice. Never saw that thing when I started Launcher the second time. :cry:

It's clearly a problem, so I'll continue investigating it today and tomorrow, because I really want to find the cause for this one.

[2016-04-11 16:10] warpech commented on #3460
I have made a snapshot of my virtual machine. I can provide more info when needed.

[2016-04-11 16:12] miyconst commented on #3484
Added an issue for that: https://github.com/Starcounter/starcounter.io/issues/153, will try to find sometime for it as well.

[2016-04-11 16:14] per-samuelsson commented on #3484
Really, should we? It seem to me that this kind of feature is rather ... well, very niched. Isn't it? And that section there seem quite general in comparison.

If like < 1% of our developers will ever need it or get in contact with it, then I think we should keep it somewhere more "advanced".

Documentation is always good, but we need to consider where stuff are to be documented and about the audi

[2016-04-11 16:20] miyconst commented on #3484
@per-samuelsson I was asked about this feature by @aloscha and Harri from ModularManagement. So, I think it should be explained.

Even if no, I still think it should be explained, and possible renamed to `anonymous handlers`. In c# we have anonymous delegates, anonymous functions, similar things in JavaScript.

The concept of providing `body` of something in place where it is used rather than defi

[2016-04-11 16:23] per-samuelsson commented on #3484
Sound like a wise idea to me! :+1:

[2016-04-11 16:45] dan31 commented on #3486
After deinstalling the installed one I get similar message, but different options reported in the window:
![image](https://cloud.githubusercontent.com/assets/7162535/14434876/7a0ba6d6-0015-11e6-94d0-88ee2614632a.png)

[2016-04-11 16:45] dan31 commented on #3486
One more note: I have VS 2015 with Update 2 (Released March 30 2016).

[2016-04-12 06:44] atifsheikh commented on #3475
@chrhol Thanks for the update, I will test this daily build today.

[2016-04-12 08:31] atifsheikh commented on #3475
@chrhol I have installed your suggested SC Version, and im also feeding traffic to the server, lets see how it performs. So far no exception occurred.

[2016-04-12 09:11] chrhol commented on #3475
Great, lets hope there will be no exception :)

[2016-04-12 10:35] atifsheikh commented on #3475
@chrhol It works perfectly fine for me. The code have processed more than 30K requests with JSON, and i haven't received a single error or exception.
Also we are going to Upgrade SC Version on our Live servers, Do you think we can use [the Daily Build](http://downloads.starcounter.com/download/Starcounter/DevelopDailyBuilds/2.1.1708)?
or should we wait for the next Nightly Build?

[2016-04-12 10:47] chrhol commented on #3475
Awesome!

or should we wait for the next Nightly Build?

Lets wait for the nightly build I think. We are fixing some other issues as well that might be good to get if you are upgrading.

[2016-04-12 10:49] chrhol commented on #3023
Bump. Been quite some time now when we had a nightly that succeeded.

[2016-04-12 10:58] atifsheikh commented on #3475
Sure, We can wait till tomorrow then. Thanks for the update

[2016-04-12 11:04] alemoi commented on #3023
Yes. The reasons are now identified, strange changes in environment and locking files after one test. I'm running now new pnext nightly. And later will start develop nightly. Both only without LaL test. So today we have both nightlies.

[2016-04-12 11:24] andwah opened #3487 "The environment variable holding the path to the Starcounter installation directory was not found."
When i Upgrade from `Starcounter-DevelopNightlyBuilds-2.1.1399 ` to `Starcounter-DevelopNightlyBuilds-2.1.1690`

I get this message

![image](https://cloud.githubusercontent.com/assets/2656996/14458429/5c74ff5e-00b1-11e6-86ec-0e3cb9918ac9.png)

Is this a correct behaviour?

[2016-04-12 11:30] alemoi commented on #3487
Thanks for reporting! I suppose StarcounterBin is not defined? Can you check that?

[2016-04-12 11:34] andwah commented on #3487
It is defined, Bote that i checked after i the upgraded (I clicked Yes in the dialog window)

[2016-04-12 11:35] chrhol commented on #3475
I will consider this issue resolved then. Thanks for reporting the issue and testing the fix @atifsheikh :+1:

[2016-04-12 11:35] #3475 closed

[2016-04-12 11:41] alemoi commented on #3487
"Bote that i checked after i the upgraded" :smiley:

This is very strange then, so the environment variable is defined but can't be read? However, I recall some of such behaviour. I will get back to this shortly.

[2016-04-12 11:51] per-samuelsson commented on #3460
Since a few hours back, I have now been able to reproduce this, but only in like 1/10 attempts or so. I also start to get a vague idea of what might be the problem. I'll update again once I have something new to report.

[2016-04-12 12:17] andwah opened #3488 "Administrator stopped working (develop)"
With the latest develop nightly the administrator caches when user clickes a button (Start Database)

Nightly version:
2.1.1690 (10 apr 2016 03:00:40) : NOT WORKING
2.1.1605 (3 apr 2016 15:12:53) : WORKING

[code]

[2016-04-12 12:23] k-rus commented on #3428
sorry for closing the issue. I made typo in the issue number in the commit message. Reopen.

[2016-04-12 12:24] k-rus commented on #3482
The issue is fixed in develop.

[2016-04-12 12:25] andwah commented on #3487
This happend twice on the Warehouse machine, i will keep my eyes open next time i upgrade.

[2016-04-12 12:49] chrhol commented on #3488
My bad. When fixing so that current transaction was reset when calling Session.ScheduleTask for a session on the same scheduler I did not take the `nodb` switch/setting into account.

I will add a check if transactions are available or not.

[2016-04-12 13:13] andwah commented on #3488
Tested and it seems to work, thanks for the quick response+fix

[2016-04-12 13:13] #3488 closed

[2016-04-12 13:30] k-rus commented on #3482
Merged in pnext.

[2016-04-12 13:30] #3482 closed

[2016-04-12 14:07] k-rus commented on #3447
I am trying to reproduce the issue, thus I will be interested to know about the related part of the schema.
@atifsheikh Can you post the source code of the classes `Company`, `Seller` and `PublicationOwner`?

[2016-04-12 14:20] k-rus opened #3489 "Arbitrary parameter to staradmin"
I called `staradmin` with arbitrary parameter by mistake:

[code]

What is the meaning of the parameter? For me it seems to meaningless and I expect to get an error from `staradmin` instead of running it.

[2016-04-12 14:21] k-rus commented on #3489
cc @per-samuelsson

[2016-04-12 15:01] alemoi commented on #3484
I was thinking a bit about this. For example, for the following Self call:
[code]
what should the `page.Partial` be? Probably it should be a valid JSON, so that it has JSON siblings (that come from other apps) which will be serialized when response is returned. Right?

[2016-04-12 15:10] atifsheikh commented on #3447
1.
[code]
2.
[code]
3.
[code]
4.
[code]
5.
[code]

[2016-04-12 15:13] atifsheikh commented on #3447
Note that we are inheriting Concept class in all of our DB tables. So you can say we are using this syntax only once in our code :
`[Database]`

[2016-04-12 15:46] alemoi commented on #3484
It also means that siblings has to attach to something, so there can't be "no JSON" to attach to, it should be at least an empty JSON object (that we have as a `new Page()` here), right @chrhol ?

[2016-04-12 16:44] miyconst commented on #3484
I don't know how this created on server side. On the client side it's an object with property per each app response. The substitute handler owner's response is empty. For me it is logical to remove it at all.

[2016-04-12 17:11] chrhol commented on #3484
Yes, exactly. The app that makes the original call (or initiates the `Self.GET`) have to return and attach something  to the viewmodel. If nothing is returned, the app cannot attach anything to the viewmodel and the siblings will never be found.

I'm not sure what you mean by remove it all. Not include that property when sending the json to the client if it is empty? Or are you talking about how t

[2016-04-12 17:58] atifsheikh commented on #3475
My server crashed with the following error in SC Admin Logs:

"Access violation (C0000005) detected at bmx.cpp:63 (Thread 8452).
    00007FFB49248A5C KERNELBASE!
    00007FFB3C51E429 clr!
    00007FFB3C51E45B clr!
    00007FFB3C51E465 clr!
    00007FFADD6E4D3C <unknown>!
    000000EBDAA1BF50 <unknown>!
    00007FFB3C40936D clr!

"
Do you think this crash is only in your Daily build (Version 2.1.17

[2016-04-12 19:40] miyconst commented on #3484
Okay, I try to explain a bit more.

### Launcher app

[code]

### Products app

[code]

### On the client side

[code]

So, my question is, what for we need `() => new Page()` and `"Launcher": { "Html": "" }` if it does not make any difference in the application?

I would prefer to see:

[code]

[code]

[2016-04-12 20:21] alemoi commented on #3484
Sure, in this particular case this is not needed. Just a side question: do we use substitute handlers anywhere outside Launcher, @miyconst ?

[2016-04-12 20:43] miyconst commented on #3484
Right now only in Launcher and ModularManagement sample app.

[2016-04-12 20:46] alemoi commented on #3484
Good. How many of substitute handlers return something different then `new Page()`? Just few, none or many? :)

[2016-04-12 20:47] miyconst commented on #3484
Right now all of them return empty page.

[2016-04-12 20:49] alemoi commented on #3484
Good. Do we see other usages for substitute handler, other then this situation related to mapping, that calling app does not define a mapped handler and just wants the substitute with empty page? @warpech maybe you have some opinions also on this.

[2016-04-12 21:08] alemoi commented on #3475
Thanks for reporting! I suppose its some unexpected uncaught managed exception that occurred. I now added wrapper around most outer call, that should log this exception details. Will be available in the coming nightly.

[2016-04-12 21:49] atifsheikh commented on #3475
@alemoi Thank you

[2016-04-12 21:50] atifsheikh commented on #3475
And by upcoming nightly, you mean the one after 2.1.1735, right?

[2016-04-12 21:53] alemoi commented on #3475
Yes, exactly. I will start the new nightly now. Hopefully we will see the exact stack trace in your logs when this error occurs. Thanks!

[2016-04-13 04:35] malx122 opened #3490 "Transaction locked on thread in commit hooks"
Wanted to change the data object on a Json when called from a commit hook and then push the changes to the client but just get this error all the time.
(I can't set the Data property, I can't call Session.ScheduleTask e.t.c.)

[2016-04-13 05:30] malx122 opened #3491 "Argument types do not match? I think its a custom binding that fails but the error does not say much"
[code]

[2016-04-13 07:00] dan31 commented on #3490
@malx122, which version is it? (pls always show the exact one) CC @alemoi @chrhol

[2016-04-13 07:02] malx122 commented on #3490
2.1.1658

[2016-04-13 07:19] per-samuelsson commented on #3460
@warpech You can drop that snapshot. I've figured out the problem yesterday, and it's non-deterministic, cause by a condition where applications are restarted in sequence and when they are to close in time (causing that error, because some shared structures in the host are not properly guarded).

I'm currently doing a redesign to the code host apps bootstrapper, to make sure apps are not affecting

[2016-04-13 07:21] chrhol commented on #3490
See #2766.
Short answer is that it's not possible to switch transactions in a hook since the commit for the specific transaction is executing.

[2016-04-13 07:23] chrhol commented on #3490
About `Session.ScheduleTask` that should still be possible I guess. Maybe the implementation needs to be refined. It doesn't schedule a task if the scheduler is the same as the current one, it executes the delegate directly which doesn't work in this case.

[2016-04-13 07:30] malx122 commented on #3490
Hm, sounds like a quite important missing feature if its not possible to use a commit hook to update client (Ok, you can update as long as you don't update any binded data).

Maybe put a "forceSchedule" into Session.ScheduleTask?

[2016-04-13 07:38] atifsheikh commented on #3475
Thanks for the Nightly Build, I am testing It. Will update here if I get any crashes again.

[2016-04-13 08:30] warpech commented on #3460
Great, thanks!

[2016-04-13 08:57] chrhol commented on #3490
I will take a look at it and discuss with @alemoi to see what can be done.

[2016-04-13 08:59] chrhol commented on #3491
Strange, it should provide a better description of the failing binding. Is there some way to reproduce it in Tunity apps?

[2016-04-13 09:08] #3485 closed

[2016-04-13 11:20] chrhol commented on #3491
I have reproduced it. There are a couple of issues to solve here:
- The message from the exception needs to pinpoint the problem.
- There is a bug in the code that generates the binding when the property is an object itself. Creating a binding to a string or other primitive value works.

[2016-04-13 11:46] atifsheikh opened #3492 "MaximumReceiveContentLength parameter exceeds maximum value"
I get warnings in Latest nightly build :

"Gateway XML: MaximumReceiveContentLength parameter exceeds maximum value. Current value is set to 2096936."

should i be worried?

[2016-04-13 12:27] atifwaqar opened #3493 "Critical type crash : "Assertion failed""
I got this exception and everything crashed. I could not even see the SC Admin Panel.

[code]

[2016-04-13 12:31] per-samuelsson commented on #3460
So this redesign is now made, and I'm quite happy about how it turned out. Let's hope it can stabilize that part of the host.

Merged and pushed in https://github.com/Starcounter/Starcounter/commit/b8b77f024690064eb6ea1d81f706fa177d35142f.

Going to merge it to **pnext** now.

[2016-04-13 12:42] alemoi commented on #3493
Thanks for reporting! My guess that this occurs occasionally when you start a database (or the first application)?

[2016-04-13 12:46] atifsheikh commented on #3493
This occurred 1st time for me. But i could not check the scenario in which this occurred. My team saw the crash and i reported it. Sorry for few details.

[2016-04-13 13:08] per-samuelsson commented on #3460
Done too.

@warpech, I'm thereby closing this, even though I normally would suggest you do that, since you opened it. Just ping me if you have the time to test it and it still seem to fail.

[2016-04-13 13:08] #3460 closed

[2016-04-13 13:10] per-samuelsson commented on #3406
@jwillmer

I finally found the reason for this error and have made a redesign in the code host apps bootstrapper that should fix it. It's pushed as been described in #3460. Let us know if you ever experience this again, and we'll reopen it for you.

[2016-04-13 13:10] #3406 closed

[2016-04-13 13:33] warpech commented on #3483
Thanks for reporting. The highlighted lines need to be removed: https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs#L22-L23

I will do it.

[2016-04-13 13:36] warpech commented on #3483
Done. Once again - thanks for noticing!

[2016-04-13 13:36] #3483 closed

[2016-04-13 14:12] alemoi commented on #3490
I looked at it and current workaround that we suggest is to call `Scheduling.ScheduleTask` without specifying the scheduler and not waiting for completion, and inside this delegate actually call `Session.ScheduleTask`. Let us know if it works!

[2016-04-13 14:26] alemoi commented on #3493
Just to note, the current workaround is to set `WorkersNumber` to 1 in `scnetworkgateway.xml` in your server directory.

[2016-04-13 14:28] atifwaqar opened #3494 "Launching apps take more than 10 min"
I am using 3 Starcounter apps and 4th app is our app (AdFenix). and the apps are launched in following sequence:
1. Launcher
2. UserAdmin
3. Signin
4. AdFenix

When i run my batch file to run the apps, Launcher app takes more than 10 min (sometimes even more than 20 min). Any idea what can be the issue? and is it possible to speed up the launch process?

My DB size (personal folder size) is 27 GB

[2016-04-13 14:44] atifsheikh commented on #3493
Do you recommend to update the xml anyway or should i wait for the server to crash again.
As i mentioned I have seen this crash for the 1st time.

[2016-04-13 14:58] alemoi commented on #3493
I thought if this crash annoys you and occurs not during startup but during runtime (which I doubt actually) then you can set it to 1.

[2016-04-13 15:06] alemoi commented on #3492
Thanks for the question. Nothing to worry about. This value was decreased in time but the configuration contains the old value. If you change the value to `2096936` in the configuration - the warning will disappear.

[2016-04-13 15:06] #3492 closed

[2016-04-13 15:09] atifsheikh commented on #3493
Sure, if it occurs again, i will update the XML. Thanks :)

[2016-04-13 16:06] warpech opened #3495 "Investigate removing of htmlmerger"
As discussed today with @chrhol on Hangouts, a very interesting way of solving problems related to `htmlmerger` (such as https://github.com/StarcounterPrefabs/Launcher/issues/224) would be to remove `htmlmerger`.

Replacement would be to teach [`starcounter-include`](https://github.com/Starcounter/starcounter-include) and [`Launcher's starcounter-include`](https://github.com/StarcounterPrefabs/lau

[2016-04-13 16:08] miyconst commented on #3495
+1! Maybe this could also help to solve the order of merged content?

[2016-04-13 19:29] chrhol commented on #3491
I've added a little better errormessage, so that there is at least enough information about which property and binding that fails. To note here is that this exception actually was a bug in the code that generates the binding, so it was not an expected exception. The expected exceptions should provide more detailed messages.

The bug is also fixed and pushed to develop and pnext, so the binding you

[2016-04-13 19:29] #3491 closed

[2016-04-13 20:15] warpech opened #3496 "Can't use HtmlFromJsonProvider"
Based on the sample use case illustrated in https://github.com/Starcounter/Starcounter/issues/3451#issuecomment-198390941, the code in https://github.com/warpech/SimplePuppet/blob/middleware/Program.cs should result in either:

1. a partial HTML response (blank browser screen without implicit standalone mode)
2. actual working app in the web browser (with implicit standalone mode)

Instead, I am s

[2016-04-14 00:01] alemoi commented on #3480
I made some changes in the code and added more verifications, @ivarbergman can you please test the occurrence of the problem with nightly build #2.1.1761 or later? Thank you!

[2016-04-14 00:41] alemoi commented on #3419
Thanks for reporting! I think the main problem is no check for valid URI characters for Self and external requests and no automatic encoding/decoding. In this example, current URI matcher looks for the first space after URI, that's why it stops after i7, thinking its the end of URI.

[2016-04-14 00:44] alemoi commented on #3388
@bigwad provided a nice explanation on how scheduling works and why there is parallel execution possible (and actually unavoidable). I think at this point we can close this and corresponding issues, until something pops up related to tasks queue. What do you think @dan31 ?

[2016-04-14 00:47] alemoi commented on #3349
@careri do you still experience problems with this? Thank you for the response!

[2016-04-14 05:55] per-samuelsson commented on #3496
@warpech

Give me a moment to consider this and take a look at the code again, and I'll get back to you.

[2016-04-14 06:12] per-samuelsson commented on #3494
@atifsheikh

We are actually in the middle of a sprint where we are reviewing the application launch cycle, both for stability issues and performance. So this feedback suit us well.

With that being said, wow, those timings seem ... well, really out of line. I'm quite surprised you experience something *that* bad.

Let me get back to you on this later today, possibly with some instructions on how

[2016-04-14 07:07] per-samuelsson commented on #3496
I've now set up an environment and diagnosed it, and some recent change in the request pipeline has invalidated middleware to be called. :cry:

I need to investigate more to see what it actually is.

[2016-04-14 07:08] dan31 commented on #3494
Hi @atifsheikh! Please, as usual, refer to an exact version your are running. Thanks!

[2016-04-14 07:09] dan31 commented on #3494
@atifsheikh, did it happen after migrating to recent version or this was there around in 2.1.177 as well?

[2016-04-14 07:12] malx122 opened #3497 "Db.Equals compiler check"
Since we need to use Db.Equals instead of == to compare db objects it would be good if you could add a compilertime check that object_a and object_b at least could be of the same type.

It would save a lot of time and avoid a lot of bugs especially when redesigning code (changing types e.t.c)

[2016-04-14 07:23] per-samuelsson commented on #3496
Wow, this one beats me. As I see it, this could just never have worked. I'm really surprised this did not surface before.

I can add a really simple thing and it will work (just passing an optional parameter), but I'm not sure if it's safe to do so, so I need to consult someone that know that code better before I dare to. I'll get back on that.

[2016-04-14 07:27] per-samuelsson commented on #3496
Note to self: when fixing this, also add #3451 to the changelog. I forgot the last time around.

[2016-04-14 07:32] miyconst commented on #3419
How should I encode the value for `Self.GET`?

[2016-04-14 07:39] atifsheikh commented on #3494
@dan31 this is not version specific, we had this issue in 2.1.177 and even in the SC Stable Version.

[2016-04-14 07:43] k-rus commented on #3447
Thank you for your input! I was able to reproduce the bug in a simple app.

[2016-04-14 08:06] chrhol opened #3498 "Fix the implementation of htmlmerger."
The first implementation of the htmlmerger was added as a hack in the jsonserializer. When multiple partial jsonresponses (siblings) are serialized an extra property is added during serialization which contain the apps and the html they use.

[code]

Apart from being a temporary (and quite ugly) hack this stopped working in some cases after #3465 was implemented since the whole result is not neces

[2016-04-14 08:17] ubbeK commented on #3486
I got the same error message

System.Exception: ScErrVSIXEngineFailed (SCERR11030): The VSIX installer engine failed to install or uninstall the deployment package. Process exit code=1002, Engine path=C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\VSIXInstaller.exe, Arguments=/quiet /skuName:Community /skuVersion:14.0 /uninstall:Starcounter.VS14.96DB7E43-995A-4754-BDDB-7E37EDB2281

[2016-04-14 08:18] dan31 commented on #3486
Seems to me that the reason is having Update 2 installed. More people will eventually have this problem over next 1-2 months.

[2016-04-14 08:28] per-samuelsson commented on #3496
I've now made the proposed fix, after doing some consulting on it, and merged/pushed it in https://github.com/Starcounter/Starcounter/commit/1b4aa1fabf5e6b4a3f42e1aa361b2071302efe57.

Will merge that to **pnext** too, but I need to switch to some other emergency right now, so it will be a little later.

[2016-04-14 08:40] ivarbergman commented on #3480
Hi! I have now installed `2.1.1764` on our stage-server. The first restart of the apps after SC update resulted in the same sc log massage as before (no new log messages)
[code]

The odd thing after the first restart that failed, I now don't get this error any more.. And this is what also happened on our production-server. After we upgraded to 2.1.1658, the `ScErrNetworkGatewayTerminated` error ha

[2016-04-14 09:51] dan31 commented on #3480
@alemoi @ivarbergman If it happens to appear, most likely the issue is diminished but not resolved. @alemoi, what is your further strategy of fixing? What was the reason for having issue occurring and what does the fix constitute? Maybe if you explain some other people will see and show the best way to resolve it 100%.

[2016-04-14 09:56] dan31 commented on #3497
@per-samuelsson Perhaps a suggested enhancement for Roslyn-based processing.

[2016-04-14 10:01] malx122 opened #3499 "Question about changing properties"
Hi, we have a DB object that have properties as

[code]

But we have realised that "Person" was not a good type to use so we want to change it to "TunityUser" instead. We however, want to preserve any data already in the DB. So I try this

[code]

Will this work? (I have an manual upgrade function that moves and update data from `_reciever` to `_userreceiver` )

I also have a Index on `Receiver`,

[2016-04-14 10:36] alemoi commented on #3480
The oddest thing for me is that there is no log entry with corresponding reason. That is really unexpected. @ivarbergman thank you for the tests! Did you run with WorkersNumber set to 1?

[2016-04-14 10:39] alemoi commented on #3419
I think it should be encoded/decoded automatically.

[2016-04-14 10:39] alemoi commented on #3419
Meaning that Self call should do it implicitly.

[2016-04-14 10:40] k-rus commented on #3499
Thank you for your question. First of all this depends on the version, which you are using. Behaviour of version from nightly or stable is different from pnext nightly. This is important to know

I cannot answer your question immediately as it is necessary to check the actual source code.

I can say directly about Nightly or Stable that if you change `public Person Receiver` to `public TunityUser

[2016-04-14 10:40] miyconst commented on #3419
So, this is a bug then?

[2016-04-14 10:58] malx122 commented on #3499
I'm using 2.1.1658 at the moment.
First of all `TunityUser` and `Person` is NOT of any subtype to eachother, totalt different DB-objects.
Second If you look above you see that I only change the get/set property `Reciever` to change Type and point to another property, the `_receiver` property is not changed.

So my hope was that for DB objects already created,  `_receiver` would go unhanged and sti

[2016-04-14 11:07] chrhol commented on #2681
The current API does not use DbSession anymore so there is no good way currently to add this kind of behaviour, and since we cannot fully support it it feels better not to implement anything extra.

In later versions of Starcounter we will implement scheduling in a more task-like manner, and add support for async/await pattern.

[2016-04-14 11:07] #2681 closed

[2016-04-14 11:07] chrhol commented on #3305
Closed as duplicate

[2016-04-14 11:07] #3305 closed

[2016-04-14 11:08] chrhol commented on #2551
Will start to investigate and (hopefully) fix this issue.

[2016-04-14 11:10] k-rus commented on #3499
Thank you for the clarifications. I think it should work as you expect however it is necessary to check to fully confirm. If you don't want to wait you can do small app example with your case and see if it works as expected or not.

[2016-04-14 11:21] malx122 commented on #3499
But my biggest conern is about the Index that looks like this
[code]
What will happen to them? Will they be automatically rebuilt with the new `Recevier` property?

[2016-04-14 11:41] alemoi commented on #3419
I would consider it a missing functionality.

[2016-04-14 11:42] k-rus commented on #3499
Thank you for reminding about the index question. Indexes are defined in terms of underlying columns. If our assumption is correct, then the indexes are defined in terms of `_receiver`.  Thus you need to create new indexes. I suggest to drop the old ones too.

[2016-04-14 11:49] k-rus opened #3500 "Unspecified error in kernelbase during application start"
I use local build of latest develop. I created an app in branch `bug/CountQueryInheritedOpt3447`. Started it few times in default and another database. Last time I started it in default and aborted on assertion failure. The next try gave me kernel error:

[code]

The log contains the same stack trace and then exception:

Version: 2.0.0.
Help page: https://github.com/Starcounter/Starcounter/wiki/SC

[2016-04-14 12:03] malx122 commented on #3499
Ok, thanks!

[2016-04-14 12:26] malx122 commented on #3499
Is this enough to recreate index (no restart of server):
think `forceRecreate=true`
[code]

[2016-04-14 12:26] malx122 commented on #3499
Or do I need "DROP INDEX" ?

[2016-04-14 12:29] k-rus commented on #3499
It is not possible to create an index with the same name. So if you want to use the old name for the index, you have to drop it. Yes, you use `DROP INDEX index_name ON table_name`. See [our guide about indexes](http://starcounter.io/guides/sql/indexes/).

[2016-04-14 12:30] per-samuelsson commented on #3494
@atifsheikh

In #3481, you can see some of the efforts I started some days ago.

I'll take a spin out of those first, and will ask you to try this thing for me on your environment.

1. Create a new folder
2. In that folder, create a file **timeboot.bat** and paste in the below content.
3. Run it with `timeboot [database]`
4. Copy content of **timeboot.txt** and paste that here.

Example of running

[2016-04-14 12:34] malx122 commented on #3499
ok, thanks!

[2016-04-14 12:43] per-samuelsson commented on #3496
Done. Feel free to close this issue once you've had the chance to test it @warpech. And sorry for the inconvenience.

[2016-04-14 12:50] alemoi opened #3501 "develop/pnext tpcc long test fails becuase of PrivateAssemblyStore KeyNotFoundException"
Here is the first time it failed:

https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2672#_focus=6778

@per-samuelsson are there any related changes you can think of?

Assigning to @bigwad for the moment.

[2016-04-14 12:51] alemoi commented on #3501
Note that this is both in develop and pnext.

[2016-04-14 12:53] per-samuelsson commented on #3501
Yep, I made changes to `PrivateAssemblyStore` yesterday, and everything passed the daily builds. Didn't know about failing nightly builds. Sorry for that.

It's clearly on me to investigate.

[2016-04-14 12:54] per-samuelsson commented on #3501
(BTW, shouldn't we keep these infrastructure issues on some other tracker, as suggested by @dan31 some time ago?)

[2016-04-14 12:55] alemoi commented on #3501
Yeah, I agree, if its an internal issue, then sure!

[2016-04-14 13:05] dan31 commented on #3501
@per-samuelsson is correct, I think any devops/infra thing is a noise for customers.

[2016-04-14 13:08] dan31 commented on #3501
Guys keep this one here, but in future let's try to post to public tracker only things which make sense for the users. I don't think they are interested in our failing tests.

[2016-04-14 13:08] alemoi commented on #3375
The problem was in measuring the first Self call that includes code generation/compilation, which is taking significant time since the amount of handlers is 1000. Now the performance measurement is corrected as one can see in the stat graphs. @eriohl thank you for the tip.

[2016-04-14 13:08] #3375 closed

[2016-04-14 13:17] eriohl commented on #3500
It is a breakpoint exception (STATUS_BREAKPOINT). Probably from the CLR somewhere. Is this develop?

[2016-04-14 13:40] alemoi commented on #3494
:+1: to @per-samuelsson for the good measurement way.

[2016-04-14 13:42] warpech commented on #3450
Issues for BEM-ifying all the sample apps created. Closing this one.

[2016-04-14 13:42] #3450 closed

[2016-04-14 13:43] alemoi commented on #3480
@ivarbergman can you please give an overview if there is anything special in the `main()` of your startup application? Like WebSockets registration or something specific? Thank you!

[2016-04-14 13:44] alemoi commented on #3493
@atifsheikh can you please give an overview if there is anything special in the `main()` of your startup application? Like WebSockets registration or something specific? Thank you!
Also did it occur again after setting `WorkersNumber` to 1?

[2016-04-14 13:51] malx122 opened #3502 "GetOffsetKey() always returns null!"
Just as header says.
Never get an offsetkey so can't use offsetkey in my sql...

[2016-04-14 14:54] alemoi commented on #3487
I looked at the code and its very strange. I will explain why: `InstallationDirectory` does call to `Environment.GetEnvironmentVariable("StarcounterBin")` and that returns null or empty. @andwah can you please double check that `StarcounterBin` is defined properly.

I really recall something like this happened before. The target machine was corrupted or something, @dan31 maybe you remember? We rea

[2016-04-14 14:59] dan31 commented on #3502
CC @k-rus

[2016-04-14 15:06] dan31 commented on #3490
CC @miyconst @chrhol pointed to an issue with question from @miyconst https://github.com/Starcounter/Starcounter/issues/2766. In current issue @alemoi proposes sort of solution. @miyconst, does it resolve your question? @alemoi @chrhol if that is a solution, would there be proposed a nicer way to do it rather than mixing Scheduling.ScheduleTask and Session.ScheduleTask? (Isn't similar name mislead

[2016-04-14 15:16] alemoi commented on #3490
I will explain why its like that: when calling `ScheduleTask` with sync flag on current scheduler - it executes the task immediately, without putting it to the queue. And the reason for that I think its because task can't wait on the same scheduler for the task to finish on this scheduler (I suppose it creates a deadlock). And since task is executed directly - there is a problem with transactions

[2016-04-14 15:25] dan31 commented on #3490
@alemoi thanks for explaining, let's see what @miyconst says. My point here is to find more and more ways of how not to force-feed users with all this knowledge of scheduler IDs, how scheduler deals with transactions, thread not attached to a scheduler and all that stuff. Hence I'm trying to smooth out that particular case as well, and to figure out, what the pattern solves and is there a way to l

[2016-04-14 15:28] alemoi commented on #3490
@dan31 im totally on your side regarding this. What I have suggest above is a pure hackintosh and should be considered a bug I would say.

[2016-04-14 15:31] miyconst commented on #3490
Before I can say whether it solves my issue or not, I have to try it out.

[2016-04-14 16:49] andwah commented on #3487
Sorry for the late answer,,i sent you the ip+user in chat, pw is sent in another way.

[2016-04-14 17:03] dan31 commented on #3097
CC @alemoi Question there.

[2016-04-14 17:05] dan31 commented on #3428
CC @andwah @per-samuelsson Please have a look once possible (this is pnext).

[2016-04-14 17:22] alemoi commented on #3097
@per-samuelsson if your suggested `RunAsync` impl would be called from an arbitrary .NET thread, I suppose the `Application.Current` will not be available, isn't it?

[2016-04-14 19:18] eriohl commented on #3500
Regardless, there is nothing in the trace indicating that there is an error from the kernel. It is as I wrote a breakpoint. It is intercepted by the unhandled exception handler and logged. This log doesn't make much sense however since it only logs the unmanaged stack trace. It is not designed to intercept any exceptions from managed code.

Check the (Windows) event log see if you have a stack tra

[2016-04-14 21:17] dan31 commented on #3500
I recall we have some instruction from @bigwad somewhere in comments on how to activate dump recording on Windows, so that on crash it contains needed traces. I couldn't find it now, @bigwad maybe you remember what I refer to and can point us out.

[2016-04-15 05:40] k-rus commented on #3500
@eriohl Thank you for the reply.
It might be related to the assert in the code, which supposes to bring an assert window.

[2016-04-15 05:50] per-samuelsson commented on #3097
I'm not sure I understand that question?

First, `Application.Current` is just a lookup using the `StarcounterEnvironment.AppName`, so if that underlying thing work, `Application.Current` will work. And likewise, if the name is not defined,  `Application.Current` will not work.

Second, what I meant was simply that when a thread has `StarcounterEnvironment.AppName` set to a valid app name, it seam

[2016-04-15 05:59] k-rus commented on #3447
I located the bug and unfortunately it is not easy to fix. We will discuss it and I will post here what we decide about the bug.

[2016-04-15 06:14] per-samuelsson commented on #3501
Update: I was able to reproduce this constantly on my box last night, but I still haven't found the reason. As soon as I do and I can fix it, I'll manually run new nightlies.

[2016-04-15 06:49] malx122 opened #3503 "Commit hooks on base class"
I know we have talked about this one but can't find an issue.
We need to be able to do commit hooks on a base class and have it called for every derived class as well.

(In our example we have a `Notification` class that is never used directly. Instead there are maybe 20 different classes that is derived from it. It gets impossible for our notification app to listen to them all)

[2016-04-15 06:51] per-samuelsson commented on #3501
With some fresh eyes, it was quite an easy bug to spot after all. Now it's fixed, merged and pushed in https://github.com/Starcounter/Starcounter/commit/34deac0a8ae539fb6887264f95982b24b88b98bd.

I've started a new #develop-nightly-274 build, and will merge it into **pnext**, later running that nightly too.

[2016-04-15 06:52] malx122 commented on #3503
Hm! while writing this I realize that this might be a totally bad design for the DB since Indexes is not inherited as well...

[2016-04-15 07:15] per-samuelsson commented on #3503
As you point out, we have discussed this before, and hooks are not polymorphic. I've already opened an issue about it last year: #3151.

I'm closing this one in favor of, and as a duplicate of, #3151.

[2016-04-15 07:15] #3503 closed

[2016-04-15 07:40] bigwad commented on #3500
@dan31, here it is: https://github.com/Starcounter/Starcounter/issues/3297#issuecomment-174574035
But I doubt you'll get the dump in this case, as kernel seems to handle this exception.

[2016-04-15 08:15] per-samuelsson commented on #3481
Doing some closer measurements didn't reveal anything new in the first iteration. Just as everything suggest above, the host "connecting" to the database is what steal almost all of the cycles.

[code]

And that method is nothing more than this:

[code]

I've recompiled experimenting with the flags too, but the impact is close to zero. So I guess the next step for me must be to start profiling Blu

[2016-04-15 08:16] k-rus commented on #3502
Thank you for reporting. Can you let us know which Starcounter version you are using?

[2016-04-15 08:18] malx122 commented on #3502
2.1.1658,
but problem was there earlier as well.

[2016-04-15 08:36] dan31 commented on #3481
I CC @eriohl and @alemoi there to ensure they receive updates on that one (they've recently looked into starting a db standalone and no slowdown was noticeable, hence I believe they might add valuable insights for the current story).

[2016-04-15 09:06] per-samuelsson commented on #3481
Thats kind of weird. I'm doing this on a local build, and one that bring down the Bluestar binaries from our build server, but maybe it's not a sharp version or something like that? I do remember that in the past, there was a huge difference between the Debug and Release builds in booting up (the former doing a bunch of checks on the page level or something like that).

On the other side, we've no

[2016-04-15 09:27] alemoi commented on #3481
I think that might be code generation for indexes that is very slow. It happened when I moved codegen to be in memory using Clang. Might that be true @eriohl?

[2016-04-15 09:35] per-samuelsson commented on #3481
When downloading and installing, numbers improved significantly on my environment, so that indicate that doing a local build of Level1 will bring down some not-optimized Bluestar binaries, which probably is the right thing to do.

WTBS, I still time around 10-15 seconds for booting up just an empty application. I'll go through my diagnostic logs and try to make a selection like the one above, but

[2016-04-15 09:38] binte opened #3504 "Problem connecting to the DB on 2.1.1742"
We have been experiencing some problems since we updated the starcounter version, to the nightly build 2.1.1742. Please see the attached screenshot. We are getting that error every now and then. Do you recognise the issue? Is there a way for us to fix it?

![starcounter bug](https://cloud.githubusercontent.com/assets/5520287/14557565/3a3c925e-02fe-11e6-8164-fe2f80a9f0eb.png)

[2016-04-15 09:41] binte commented on #3448
I am sorry, but I kept postponing this due to a lot of work in the office, and then I forgot about it :/  I am no longer working on the machine where I experienced this, so I can't reproduce the setup in which this error happened... Once again, sorry for that! I am closing the issue now

[2016-04-15 09:41] #3448 closed

[2016-04-15 09:41] miyconst commented on #3504
@binte could you please provide some more information?

- Starcounter logs.
- Send/received patches.

[2016-04-15 09:56] niklasbjorkman opened #3505 "Protected properties cause TypeInitializationException"
If you have a non-persistent property that are declared protected you get a TypeInitializationException when you try to instance the class. No further information is given on why there is a problem.

I think you should be able to declare protected properties in your persistent class. A nice message on WHY you cannot initialize the class would be much appreciated. I have not tried declare protected

[2016-04-15 10:03] per-samuelsson commented on #3501
I was able to run that for about 2 hours, but then the build crashed on something else. I've investigated it, and here's the most relevant extract from the build log:

[code]

@alemoi, do you have a take on that one?

[2016-04-15 10:05] eriohl commented on #3481
I think it is a lot of stuff that is very slow but this certainly hasn't helped any. But it seems not to be all that relevant since there is no real alternative here. And I note that we starting the host without the managed host it goes a lot faster and it also does the code generation (for indexes at least). So perhaps not the biggest culprit.

[2016-04-15 10:15] binte commented on #3504
Seems that the problem was with one of our servers, which was down. And with this new version we were getting a response from SC, which is a new feature and it made us confused. Sorry for bugging you guys!

Closing the issue!

[2016-04-15 10:15] #3504 closed

[2016-04-15 10:25] per-samuelsson commented on #3481
So here's a new extract, where I've cut off some edges that seem not very interesting. In this sample, the bootstrapping takes ~11 seconds, and include:

1. Compiling source on the fly (done by `star.exe`) (~1 second)
2. Starting `scdata` (-)
3. Starting `scdblog` (-)
4. Starting `sccode` (~8 seconds)
5. Weaving (~1 second)
6. Bootstrapping application in host (~1 second)

In the past, we've said

[2016-04-15 10:40] miyconst opened #3506 "Database entity values are reset inside BeforeDelete hook"
All values of an instance are reset to default inside `BeforeDelete` hook.

[code]

Playground test case is available here: https://github.com/miyconst/Playground/blob/master/Playground/Program.cs#L12

cc @per-samuelsson

[2016-04-15 10:43] alemoi commented on #3481
That might help: https://github.com/Starcounter/RebelsLounge/blob/master/buildsystem.md#building-level0-as-part-of-level1

[2016-04-15 10:51] per-samuelsson commented on #3481
Ah, I knew about that of course, but I had missed this:

Thanks for pointing that out! And like I said, I think the current feature is correctly designed, so no need to change anything.

[2016-04-15 11:00] per-samuelsson commented on #3506
What? Really? If that's so, that's clearly a bug.

I must admit I never considered how that `BeforeDelete` hook we introduced would correspond to a `DELETE FROM ...` statement though. It seems it's invoked at least. :smile:

Do you experience the same if you just do a POCO `Delete()` (after first getting a reference to the object)?

[2016-04-15 11:04] miyconst commented on #3506
I just figure out that this happens only inside `Db.Transact` or if the `Db.Scope` immediately commited after deleting an object.

[2016-04-15 11:04] alemoi commented on #3501
Yes, I will check it. I also noticed that server log is overwritten or something. I will add a fix that server log is printed after every failing test! That would be an improvement!

[2016-04-15 11:18] miyconst commented on #3506
You have to use this commit for testing: https://github.com/miyconst/Playground/commit/62e4f3c5b60182100c3d6836495f74717ba027a9

The solution has been updated since that time.

[2016-04-15 11:23] per-samuelsson commented on #3505
Thanks for reporting this.

Unfortunately, issues with non-public fields and properties is something we've been aware of for quite some time. Here's a set of related issues: #2519, #1614, #2520, #2707.

It's one of those things we clearly should fix properly, but never get a timeslot to do so. The biggest obstacle is still that we don't know how those language-specific access modifiers should rela

[2016-04-15 11:27] miyconst commented on #3490
I have created a test case for commit hooks in my playground: https://github.com/miyconst/Playground, and it ends up that:

- I can assign database objects to JSON view-model from a commit hook.
- I can call `Session.ForAll` from a commit hook.
- This might lead to `The operation failed because of an invalid object access.` error inside Starcounter which stops entire database.

Steps to reproduce:

[2016-04-15 11:40] niklasbjorkman commented on #3505
FYI. Took us 1 hours times 2 persons to figure out why it constantly crashed (a structure of 4 inherited classes with a lot of fields). So a proper error message is definitely urgent.

Our opinion is that the NonPersistent fields should be able to define private/protected to support good OO design. For us it is better to skip support on SQL on top of these properties. Could be dangerous anyway if

[2016-04-15 12:23] dan31 commented on #3481
So the biggest breaches appear to be:
```Starcounter.Host: Database configured.: 11.31.02.837```
```Starcounter.Host: Database connected.: 11.31.05.809```
(3 sec) and
```Starcounter.Host: App domain configured.: 11.31.05.844```
```Starcounter.Host: Server command handlers registered.: 11.31.06.890```
(1 sec), the rest is quite equally distributed into small portions of time (4-14 msecs mostly).

[2016-04-15 12:25] alemoi commented on #3481
What about this one?
[code]

[2016-04-15 12:27] dan31 commented on #3481
@alemoi yes also quite a big one, totalling in 5 secs in 3 breaches.

[2016-04-15 12:33] alemoi commented on #3481
And this one which is on me i guess:
[code]

[2016-04-15 12:51] per-samuelsson commented on #3481
Yeah, exactly, that's my conclusions as well.

One thing worth noticing about those is that this

[code]

and this

[code]

seem to relate to registration of handlers.

I'll review what happens when the "apps bootstrapper" initialize, to see if also include that. Then we might get 3 for the price of 1 (if they are "fixable").

[2016-04-15 13:00] alemoi commented on #3481
I am adding more log entries to have more precision.

[2016-04-15 13:05] per-samuelsson commented on #3481
OK cool, I was about to do that, but I'll happily let you. :smile:

Yeah, seem quite a lot of handle registration is going on there too, so it's likely the underlying barrier. But I guess that involves some kind of code generation, so maybe it's not much we can do about it.

[2016-04-15 13:07] alemoi commented on #3481
I just pushed 2 more, you can now add yours :)

[2016-04-15 13:08] alemoi commented on #3481
I think its might be the handlers registration with gateway that takes time. So I will have to look into it, if I can introduce some optimizations.

[2016-04-15 13:29] dan31 commented on #3458
Ping guys!

[2016-04-15 13:29] alemoi commented on #3188
Yes, I haven't seen it since then, we can close this now.

[2016-04-15 13:29] #3188 closed

[2016-04-15 13:32] dan31 commented on #3453
@per-samuelsson Is that one what is done in https://github.com/Starcounter/Starcounter/issues/3451#issuecomment-199349823?

[2016-04-15 13:38] dan31 commented on #3412
@atifwaqar have you experienced similar thing then?

[2016-04-15 13:41] #3067 closed

[2016-04-15 13:42] alemoi commented on #3097
Everything you have mentioned is definitely true. However, when starting arbitrary .NET threads - the `StarcounterEnvironment.AppName` is no longer set there, which is the actual problem. Just to mention `RunAsync` already sets the appname correctly.

[2016-04-15 14:36] alemoi commented on #3481
I added a new measurement to get average simplest handler registration time which is around 0.7 ms(!) (after some optimizations though :smiley_cat:) on my machine, so it should not be the problem (added a test so now we measure this: `SimplestHandlerRegistrationMs`). However, digging deeper, since I think something is still wrong with handlers registration or some magic there!

[2016-04-15 14:49] dan31 commented on #3404
@bigwad Have you investigated this one further on? I thought I have seen something similar today about pnext tests (also without having any dump recorded for some strange reason, but haven't find an issue).

[2016-04-15 14:56] k-rus commented on #3500
I didn't get the exception any more. I suggest it is related to `System.Diagnostics.Trace.Assert`, however I cannot confirm.

I close the issue.

[2016-04-15 14:56] #3500 closed

[2016-04-15 15:05] k-rus commented on #3502
Thank you. For me it was important to know if it is current version or pnext.

[2016-04-15 15:21] k-rus commented on #3506
`DELETE FROM` is just a syntactical sugaring, which executes `SELECT` query and calls `Delete()` on each found instances. So it should be no difference with manually called `Delete()`.

[2016-04-15 15:25] k-rus commented on #3505
I agree that non-persistent private/protected properties can be just ignored, but then they should be explicitly defined to be non-persistent.

[2016-04-15 15:54] bigwad commented on #3404
It's not a crash - it's legitimate __managed__ exception on some problem with transaction log processing.

##### Why did exception raised?
There are 3 possible reasons:
1. Physically corrupted log.
2. Log streamer got behind the log retention, i.e. log retention had removed some files had not been sent yet.
3. Corrupted log reader state due to non serialized access (log reader is not thread safe b

[2016-04-16 01:11] alemoi commented on #3481
Just finished investigating. Looked everywhere. You would not believe what was that :smiley_cat:
It was "localhost" name resolution inside codehost to communicate REST with gateway. When using IP "127.0.0.1" - it solves all the above problems except this one (which we should dig deeper):
[code]

I made that "localhost" when using Http class is translated to "127.0.0.1", so one still can contine us

[2016-04-16 09:21] eriohl commented on #2878
Done.

[2016-04-16 09:22] #2878 closed

[2016-04-16 09:58] dan31 commented on #3481
@alemoi wow, amazing for me is the way you discovered it in real life :8ball: Frankly speaking, I think we've already discussed such phenomena a couple years ago in a completely different context, and it still strikes back.

[2016-04-16 10:21] k-rus commented on #3447
We will fix this bug, but not immediately. The bug happens if an aggregate query contains path expression with equality and the name of the final property in path expression exists also in the table from where the path expression starts and index on the common property exists in the class hierarchy. If

In the above example, both classes `Seller` and `PublicationOwner` have property `Name` (for ob

[2016-04-16 10:49] malx122 opened #3507 "Another Server Jsonpatch error"
Version 2.1.1765
[code]

[2016-04-16 11:38] dan31 commented on #3507
Thanks @malx122, yet another one from a "null-exception" family. CC @chrhol

[2016-04-16 13:15] alemoi commented on #3501
The above problem I just fixed. Thanks for reporting @per-samuelsson

[2016-04-16 13:15] #3501 closed

[2016-04-16 13:24] alemoi commented on #3009
I don't think we can do anything about it. Build is using git to push the build version to BuildSystem repository. If 2 builds are started at the same time, git will try to push approximately at the same time, resulting in this. Writing this so everyone is aware. If this creates a big problem just reopen the issue and I will later try to fix it with retries.

[2016-04-16 13:24] #3009 closed

[2016-04-17 09:29] miyconst commented on #3462
Closing this issue for now.

[2016-04-17 09:29] #3462 closed

[2016-04-17 09:34] miyconst commented on #3133
Large files should be uploaded with WebSocket. Example is available in KitchenSink: https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/FileUploadPage.json.cs.

Maximum request length is 4bm, everything over should be uploaded with WebSocket.

Closing this issue.

[2016-04-17 09:34] #3133 closed

[2016-04-17 22:33] malx122 opened #3508 "Upper and lowercase letters in appname"
This must be reported earlier but I can't find any issue.
Was testing some startup scripts and couldn't understand why it failed. I was using
[code]
and got
[code]
When I had nearly given up I changing the startupline to:
[code]
and everything was working fine.
(I changed `signin.exe` to `SignIn.exe`)

[2016-04-18 07:03] chrhol commented on #3507
The stacktrace is a bit weird, the last line, that the nullreference comes from is this (`totalSize` is an integer):

[code]

Is there some way to reproduce this issue? The last change in this file is from 2016-03-31, so it's not something new that have been added that makes the linenumbers/sourcecode different from your version.

[2016-04-18 07:21] per-samuelsson commented on #3508
@malx122

Sorry to see you experience this. It's a bug recently introduced, and then fixed, so in never builds, you won't experience it again. It was originally reported and fixed in #3501.

[2016-04-18 07:21] #3508 closed

[2016-04-18 07:23] per-samuelsson commented on #3481
I sure will. Great work finding that, and fixing it.

[2016-04-18 08:02] per-samuelsson commented on #3505
Yes, clearly, totally agree. Sorry you had to experience that.

[2016-04-18 08:43] malx122 commented on #3507
I have discussed this with Christian.
There is the SignInApp that removes dbobject `UserSession` and another app that has a commit hook for that object. In that commit hook the other app modifies (removes) som of its Json properties currently being displayed, but make no effort of pushing or anything like that.

I have worked around it and no longer use commit hook for this purpose, mostly because

[2016-04-18 08:44] k-rus commented on #3481
I am wonder: is it once per application start up or was it for each handler?

[2016-04-18 08:49] chrhol opened #3509 "Databindings not properly updated when a dataobject with a different type or that is null is set."
When a different dataobject is set on a TypedJson object, properties that are set to autobinding does not properly invalidate the binding when the previous binding was resolved to unbound.

[2016-04-18 08:50] chrhol commented on #3509
reported by @malx122

[2016-04-18 09:03] per-samuelsson commented on #3481
I can confirm @alemoi's fixes sliced of basically all time from those 3 spots I reported earlier. Well done, @alemoi! I will post some numbers later.

Right now, I'm working on trying to find whatever new spots that are interesting in managed code, so that we try shave those of before we go to the real beast, connecting the database, where we'll need to do unmanaged profiling to get somewhere.

I

[2016-04-18 09:15] dan31 commented on #3481
@per-samuelsson, how much in now shave off in total, is it like 2x faster? (probably -3 secs)

[2016-04-18 09:19] per-samuelsson commented on #3481
I asked for a little more time to properly process the raw data and come with an update, but your curiosity just can't wait, can it? :smile:

Give me 10 minutes, and I'll post some new reflections.

[2016-04-18 09:43] per-samuelsson commented on #3481
OK, so first a sample of those three spots @alemoi addressed:

[code]

With that, they are now well under the radar, and are clearly acceptable.

I've made numerous samples now, doing a few tweaks too, but things are now more or less status quo at showing an overall time of 8,5 - 10 seconds, normally around 9-ish. That, again, include:

1. Compiling source on the fly (done by `star.exe`) (~1 secon

[2016-04-18 10:12] dan31 commented on #3481
@per-samuelsson already an achievement, thanks for an update! Yes I'm very curious :) What do you think would be the best approach to drill down into starting ```sccode``` 5 secs?

[2016-04-18 10:16] per-samuelsson commented on #3481
Well, it's hard to say, because now we are getting closer to have only that `Database connected` thing left, and it takes like > 75% of the overall time. I'm not updated on what is done in there (I know recovery runs, but I've seen that doesn't make a big impact). And also, because of that, I'm having even harder to understand what things can be optimized in there, and those that can not.

My idea

[2016-04-18 13:37] per-samuelsson commented on #3481
An update on this call:

[code]

I've now ruled out that it has anything to do with "plumbing", or the call context itself. I've tested to replace it with an explicit, precreated `Node` instance, and changed to "127.0.0.1" when creating that, and to no prevail. It still is very close to ~ 1 second every time, so it seem to be something with the implementation.

[2016-04-18 13:48] t2-heads opened #3510 "DbHelper.FromID NullReferenceException"
Sometimes using  DbHelper.FromID(objID) results in System.NullReferenceException: Object reference not set to an instance of an object.

For examle:
Transaction current = Transaction.Current;
using (Transaction t = Transaction.NewCurrent())
{
          Persistent instance = DbHelper.FromID(objID);
}
Transaction.Current = current;

/Tony

[2016-04-18 13:49] per-samuelsson commented on #3481
Hmm, seems I have to take a step back from that already. Now I have a sample where it's ~ 1 second from the time the PUT is called, and until the handler is reached. It seem to be some kind of cold starting thingy though, since consecutive calls perform in just milliseconds.

[2016-04-18 14:15] per-samuelsson commented on #3481
More info:

If I precreate the node (in some other thread probably), and keep a reference to it, I can get all calls down to milliseconds, except the first one, that always clock in at ~ 1 second.

[code]

[code]

[code]

[2016-04-18 14:37] tomalec commented on #3495
:+1: for the idea of solving problems by removing code :)

Then we would have to face following problems:
- even bigger performance hit, as we would need to execute `n^m` more HTML Imports (XHR requests for polyfilled browsers) - we already heard complains about it,
- lifecycle / async flow of content - it may be hard to debug and work with parts of partial (tiles) being stamped in and out asynchr

[2016-04-18 14:40] chrhol commented on #3457
Is this still a problem or was it solved (uninentionally) when I fixed another bug around this?

[2016-04-18 14:41] tomalec commented on #3495
However, both ideas mentioned at https://github.com/Starcounter/Starcounter/issues/3495#issue-148108899 and https://github.com/Starcounter/Starcounter/issues/3495#issuecomment-211407011 are in fact moving `htmlmerger` code to the browser rather than removing it

[2016-04-18 14:53] chrhol commented on #3509
Fix pushed to develop (and soon pnext). Hopefully this will solve your (and mattias) problems

[2016-04-18 15:17] per-samuelsson commented on #3496
Bump @warpech.

[2016-04-18 15:20] per-samuelsson commented on #3497
@malx122

Thanks for suggesting improvements.

I'm not sure I follow this one fully though, so if you could find the time and clarify it at some point that would be great.

[2016-04-18 16:06] malx122 commented on #3497
Look at this example
[code]

[2016-04-18 16:11] malx122 commented on #3457
It works a lot better now. But we did have a case last week when one of our members didn't get the pushes for a while. So we are not 100% sure yet.

[2016-04-18 16:13] chrhol commented on #3509
I found one more thing with this when running in Tunity apps. Additional fix will be pushed soon.

[2016-04-18 17:10] chrhol commented on #3470
@malx122 found another place where a lot of `LayoutInfo` objects are added due to having many apps mapped to the same data and making their own `Self.Get`.

This led to that the wrong layout (and merged html) was used on the client.

I'm not sure how to solve this, so I added a workaround/hack in the merger that filters out all old partial responses from the same app. Now this works due to the fac

[2016-04-18 18:24] warpech commented on #3496
Assigning to myself for testing

[2016-04-18 18:31] warpech commented on #3496
I confirm, `HtmlFromJsonProvider` now works as expected. Thanks!

[2016-04-18 18:31] #3496 closed

[2016-04-18 18:37] warpech commented on #3496
@per-samuelsson do you confirm that this is the correct way to use `PartialToStandaloneHtmlProvider`? I am not suspicious, just wanting to confirm :)

https://github.com/warpech/SimplePuppet/blob/6038b47ccecd7fc73f907061b89b1b91212ddbaa/Program.cs

[2016-04-18 19:26] warpech opened #3511 "Puppet inline bindings do not work when button contains elements"
Today I was investigating an issue with a button that did not work well with Polymer data binding:

[code]

This has turned out to be the same issue that was found already multiple times:

- https://github.com/Starcounter/Warehouse/issues/71#issuecomment-210353676
- https://github.com/StarcounterSamples/KitchenSink/issues/14#issuecomment-180283395
- https://github.com/Starcounter/Starcounter/issue

[2016-04-18 19:34] miyconst commented on #3511
I thought of adding it to `bootstrap.html`, but this is not a feature or bug or anything related to bootstrap, so `starcounter.html` should be the way to go.

`[onmouseup]` should also be included.

[2016-04-18 21:17] tomalec commented on #3511
Does it mean that pointer event on `button`'s children does not bubble, or
Polymer catches bubbling event sooner than native listener?

Maybe we could fix it closer to Polymer or at least to bound elements?
`[onmouse...] *` seems auite intrusive, as may colide with other elements
plus there may always be an event listener attached to the element, that is
not covered by our selector.

I'll try to g

[2016-04-19 06:37] per-samuelsson commented on #3496
It is, yes. It's important to remember that the order in which middleware is registered is important, and that follow the design of how DNX / ASPNet 5 model it. The order you register that pair is the correct one. If you toggle it, partial-to-standalone will produce nothing (and you'll just get the partial back).

[2016-04-19 06:51] dan31 commented on #3486
Still have to manually delete a plugin (tried Stable 2.2.1811)

[2016-04-19 06:55] ivarbergman opened #3512 "Suggestion: Improved error message on a failed installation."
Hi!

When I upgrade SC from `2.1.1367` to `2.1.1793`the installer failed with this message:

![screen shot 2016-04-19 at 08 38 49](https://cloud.githubusercontent.com/assets/112064/14630088/8629604c-060b-11e6-8a31-5f0c1cf32636.png)

In the log I see something familiar.

[code]

When I changed the `WorkersNumber` in the `scnetworkgateway.xml` to `1`installation worked fine. Maybe the Installer shou

[2016-04-19 06:57] per-samuelsson commented on #3486
We need to get on top of this.

@dan31, do you know if you changed something in VS between first installing the extension, and later trying to uninstall it? I'm thinking that could be a reason....

[2016-04-19 07:03] per-samuelsson commented on #3486
FWIW, here's a resource that shows VSIXInstaller exit codes:
http://stackoverflow.com/questions/21531596/vsixinstaller-exe-exit-code-documentation/28212173#28212173

So errors here are consistent: the VSIX installer consider the given extension not installed (i.e. `1002`). We just need to figure out why.

[2016-04-19 07:27] per-samuelsson commented on #3486
@dan31 @ubbeK

Can you confirm your workflow have been

1. Having Community (< Update 2).
2. Installing Starcounter extension
3. Altering VS - in @dan31's case, upgrading to Enterprise; in @ubbeK's case, updating to Commnity Update 2.
4. Uninstalling the extension (failing)

[2016-04-19 07:29] warpech commented on #3496
I think this is fully understandable, but it will be good to include a notion of it in the docs.

[2016-04-19 07:52] warpech commented on #3511
`[onmouse...] *` seems auite intrusive, as may colide with other elements
plus there may always be an event listener attached to the element, that is
not covered by our selector.

Yes, the problem might also affect event listeners that work on input value instead of using Polymer's `set` method. But event listeners are not a pattern that we show in our sample apps. Inline `on...` are the pattern t

[2016-04-19 07:53] dan31 commented on #2299
Closing this one as a duplicate of #3427 as reported by @warpech.

[2016-04-19 07:53] #2299 closed

[2016-04-19 07:53] dan31 commented on #1801
Closing this one as a duplicate of #3427 as reported by @warpech.

[2016-04-19 07:53] #1801 closed

[2016-04-19 07:58] dan31 commented on #3512
CC @alemoi

[2016-04-19 08:06] per-samuelsson commented on #3486
I think the installer is a bit too simplistic for VS 2015, just considering "Commnity" edition to be some common denominator when installing (and uninstalling). We probably have to add some logic to detect what exact editions are installed and act on that.

@dan31 @ubbeK

Could you assist and bring down this new utility I've created that reveal some info on editions on a given system. Just clone a

[2016-04-19 08:19] ubbeK commented on #3486
@per-samuelsson: I cannot confirm that I ever had a lesser Update pack than Update 2. Altought, I did install Starcounter when using Windows 7, then upgraded to Windows 10 and then failing when uninstalling Starcounter. I'll try out your solution.

[2016-04-19 08:25] k-rus opened #3513 "pnext: cannot start database due to network gateway terminated"
I have local build of pnext from yesterday (Apr 18). I stopped and deleted default database and then I started the following code with `star constraintviolation.cs`, where `constraintviolation.cs`is:

[code]

The application obviously stops with:

point method raised an exception. ScErrConstraintViolationAbort (SCERR8001): A t
transaction was aborted because a constraint was violated.

Then I modi

[2016-04-19 08:25] k-rus commented on #3513
cc @alemoi

[2016-04-19 08:29] per-samuelsson commented on #3486
Aha, ok, thanks. That information might be usable.

Thanks! I'm just reviewing it, to see if we can somehow better reflect all editions actually installed in a more accurate manner, but I still haven't found anything. Let's see what your results provide. It can be that you will see nothing, which would indicate that "Community Update 2" is considered a unique edition.

[2016-04-19 08:40] k-rus commented on #3513
It is not possible to start or create any database. Manually deleting database files do not help either. I don't really see how can I get back from this situation without re-installing starcounter.

[2016-04-19 08:41] per-samuelsson commented on #3486
Notice I just pushed a new versions that display more diagnostics: https://github.com/per-samuelsson/vseditions. If you can pull and rerun that would be of great help!

[2016-04-19 08:45] k-rus commented on #3512
I've got the same stack trace in different scenario describe in #3513

[2016-04-19 08:46] k-rus commented on #3512
No, actually it is not the same stack trace. Sorry for confusion.

[2016-04-19 08:47] warpech commented on #3470
I just checked the last stable (2.2.1811) and the last nightly (2.2.1813) and still `Html` property does not work well. In fact, when a single app is running, the `Html` property seems to be not populated at all. See the below screenshot.

The code is here: https://github.com/warpech/HelloWorld/blob/0d9cae5f4ad423b7cf65f0287ce2780b0ddd90f5/Program.cs

Instructions:

1. Start HelloWorld app
2. Crea

[2016-04-19 08:48] tomalec commented on #3511
Sorry, by `event listener attached` I meant [`GlobalEventHandlers`](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers) so other inline `on...` added accordint to our pattern - There maybe other (platform/browser-specific) ones, which we won't add to our CSS, but could be used by app devs as it follows the pattern.

[2016-04-19 08:51] chrhol commented on #3513
Check the setting `<WorkersNumber>` in scnetworkgateway.xml and change that to `1` if its not already set. Tunity had the same problem (although in develop) and this helped.

If I'm not mistaken I also think @alemoi changed this value to 1 as default.

[2016-04-19 08:57] ubbeK commented on #3486
@per-samuelsson: I ran your latest version with the result:

[2016-04-19 09:00] k-rus commented on #3513
The number is set to 2. I will set to 1 next time, since I uninstalled starcounter now.

Since it is a common problem, I label it as high priority bug.

[2016-04-19 09:04] per-samuelsson commented on #3486
Thanks a lot.

Those result are a bit surprising. They are similar to those I have on my box, and I have no problem uninstalling, but I'm on Update 1. I'll continue to investigate and try figure out some way to solve this.

[2016-04-19 09:22] k-rus commented on #3486
I have the same problem with uninstallation. I have installation of Starcounter from local build of pnext. It happened that Update 2 was installed yesterday. Today I need to uninstall Starcounter due to #3513. During uninstall I get the same exception as above:

[code]
I run cleanup and it was executed successfully.
Installing Starcounter on latest source code was successful.

[2016-04-19 09:29] per-samuelsson commented on #3486
Thanks for sharing that @k-rus. It seems that @dan31's early guess is spot on - this is something that is caused by introducing Update 2. I'm going to try that loop myself, and see if I can debug what invocation actually change. I have a vague suspicion, let's see how it turns out.

You mean installing again, after you have ran the cleanup? Have you tried again to uninstall after that? (You don't

[2016-04-19 09:36] k-rus commented on #3486
Yes, I installed Starcounter after the clean up and I haven't tried to uninstall it.

[2016-04-19 09:39] k-rus commented on #3510
Thank you for reporting.
It sounds to be a bug. Can you post the stack trace when you meet the error again?

[2016-04-19 09:40] k-rus commented on #3510
Disregard my comment, since I thought it is about version 2.x, not 1.x.

[2016-04-19 09:42] per-samuelsson commented on #3486
Thanks.

@dan31, would be very interesting to see the results of running my new utility on that machine of yours, where you have enterprise installed:

[2016-04-19 09:54] dan31 commented on #3510
Sounds like a thing to look into in 1.x. I will talk to @chrhol so that we allocate time and look into it together with you.

[2016-04-19 10:02] chrhol commented on #3470
Yes, our current solution for htmlmerger does not work together with the new middleware for returning partials as far as I know.

This together with that we require the Launcher to run to use the merger is the two main reason for fixing the htmlmerger.

[2016-04-19 10:04] chrhol commented on #3470
Note: I have not touched how the `Html`-property works in the serializer. This code is exactly the same as before.

[2016-04-19 10:09] bigwad opened #3514 "Error log filtering doesn't work in Chrome"
ver 2.1.177
![image](https://cloud.githubusercontent.com/assets/2953584/14635380/66669df4-0626-11e6-917d-d29648a1485b.png)

cc @andwah

[2016-04-19 10:12] per-samuelsson commented on #3486
From the release notes of Update 2, I found this:

I think that change might be the one that broke our uninstaller, since we keep a workaround (invoking VSIXInstaller twice) to make sure the uninstall is accurately reporting a correct value when the installer later ask if it's uninstalled (I didn't previously).

[2016-04-19 10:18] bigwad opened #3515 "starcounter server crashes on start"
ver 2.2.1811
Can't start server from the tray
![image](https://cloud.githubusercontent.com/assets/2953584/14635922/d40943e6-0628-11e6-8d26-a45bace99c34.png)

[code]

cc @alemoi

[2016-04-19 10:30] bigwad opened #3516 "Starcounter components doesn't have appropriate version info"
2.2.1811
How to know which starcounter version is installed if administrator doesn't work?

ARP reports unknown version:
![image](https://cloud.githubusercontent.com/assets/2953584/14636144/1ecb1fac-062a-11e6-8336-55c6b0f79eb3.png)

Binary components have meaningless versions: 1.0.0.0, 2.0.0.0 or just empty

cc @alemoi

[2016-04-19 10:30] k-rus commented on #3515
See also #3513 and [this comment](https://github.com/Starcounter/Starcounter/issues/3513#issuecomment-211806482)

[2016-04-19 10:38] bigwad commented on #2453
Up. Still actual

[2016-04-19 10:48] bigwad opened #3517 "Link "new version available" redirects to invalid local page"
ver 2.1.177
No download starts.

![image](https://cloud.githubusercontent.com/assets/2953584/14636626/d94dcfda-062c-11e6-8ba5-67fe49277e25.png)

cc @andwah

[2016-04-19 10:50] alemoi commented on #3513
Thank you for reporting. I know what is the problem: its how much time one worker waits for the other to suspend. I will have to significantly increase this value. Typically does not occur on build servers or my machine.

[2016-04-19 11:03] andwah commented on #2453
I need to take another deeper look at this problem.. seems not to work on some Windows versions.

[2016-04-19 11:05] andwah commented on #3514
Any error/notices in the Browser console window?

[2016-04-19 11:10] k-rus commented on #3513
I think it something more in this error. I've never had the problem and suddenly it stopped working after an error.

[2016-04-19 11:12] k-rus commented on #3513
Furthermore, the fix to use single worker is ridiculous. :and

[2016-04-19 11:13] bigwad commented on #3514
![image](https://cloud.githubusercontent.com/assets/2953584/14637245/6302dd44-0630-11e6-9e73-6d4c680bfff3.png)

[2016-04-19 11:14] alemoi commented on #3513
I have increased the global spinning interval 50 times. The error should disapear. If it appears again, the issue should be reopened.

[2016-04-19 11:15] alemoi commented on #3515
The problem should be fixed now. If not, please reopen the issue. Thanks for reporting!

[2016-04-19 11:16] andwah commented on #3514
Thanks for the quick response.

As i can see it that "Notices" is not shown in the first screenshot even if the `Notice` button is selected.

Is it possible to show me the full URL of the first window?

[2016-04-19 11:19] k-rus commented on #3513
This is not serious. Increasing time is not a proper fix, it is just workaround.
Furthermore, my comment about workers is ignored.

[2016-04-19 11:21] bigwad commented on #3514
http://127.0.0.1:8181/#/server/log?debug&notice&warning=false&error=false&source=&maxitems=30

[2016-04-19 11:31] bigwad commented on #3515
Sorry, I don't understand what do you mean by "now".
I reported the issue with latest stable - 2.2.1811
Latest Nightly(2.2.1813) crashes in the same way.

If you believe you have fixed it, I think it has to be uploaded and promoted as the new stable.

[2016-04-19 11:35] andwah commented on #3514
Any clues on how to reproduce?

[2016-04-19 11:44] per-samuelsson commented on #3486
I can now confirm that once I've installed Update 2, I experience the same thing, and that the theory I commented on above holds true - the VSIX installer has changed the exit code the second time it's invoked (it's now 1002, while it was previously 2003, something we handled).

If we are lucky, it might be as easy as taking height for that code too, and it will then work with both Update 1 and 2.

[2016-04-19 11:45] bigwad commented on #3514
1. unselect all filters
2. select debug
3. select notice

[2016-04-19 11:45] atifwaqar commented on #3447
@k-rus it makes sense.
and this bug is not causing any issue at my end. i am using domain or other columns for now. so its ok for me if it takes too much time.

[2016-04-19 11:47] atifwaqar commented on #3412
@dan31 we have upgraded our SC versions, and i havent seen this error after upgrading.

[2016-04-19 11:48] #3412 closed

[2016-04-19 11:49] k-rus commented on #3447
Thank you for clarifying!

[2016-04-19 11:50] atifwaqar commented on #3493
@alemoi we are registering all of our handlers in main(), and nothing other than that.

and the exception didnt occur again.

[2016-04-19 11:52] alemoi commented on #3512
I have increased the allowed spinning interval significantly, so the problem should disappear. Regarding:

That's an interesting idea. I don't have arguments against it actually. @dan31 what do you think?

[2016-04-19 11:53] alemoi commented on #3515
That means that I pushed to develop/pnext.

Yes, I think it actually should be.

[2016-04-19 11:56] dan31 commented on #3513
It is a devil's deal @k-rus. @alemoi couldn't figure out the root for this problem, and the current workaround is to set workers to 1. (I don't know anyone to whom 2+ gateway workers is critical, really). The fix is to address it by abandoning the existing Gateway and using Kestrel in SC 3.0.

[2016-04-19 11:58] dan31 commented on #3513
The problem with this is that all existing customers will bounce on that after upgrading their (2-workers configured) instances to new Stable 2.2. @alemoi, how we should deal with that?

[2016-04-19 12:00] alemoi commented on #3513
I can not say anything else but agree with you.

No this is unrelated. Its a new code that was introduced last week regarding faster database startup.

One gateway worker is waiting for another gateway worker to be in a safe state. Should there be no timeout and wait time to be indefinite? I don't think so. The problem is that there were not enough testing since the fix last week, because people s

[2016-04-19 12:01] dan31 commented on #3515
@alemoi do you mean that we need to cancel 2.2.1811 and make a Stable some new version that contains a fix? Would this version work with old 2-workers configured gateway conf file normally? If so, I suggest you to make a surgery urgently on a download server and other places and replace 2.2.1811 with the version containing the fix. You don't need to promote it to me.

[2016-04-19 12:02] alemoi commented on #3513
The problem in this case is how different machines behave, for some, as one can notice - its not enough wait time, which was discovered only today.

[2016-04-19 12:04] dan31 commented on #3513
@alemoi, can you confirm that the lesson "don't make timeouts tiny" is now learned? ;) I will always repeat that timeouts is a proper thing to have, but they should be reasonably long, since they are just circuit breakers in case of exceptional situation.

[2016-04-19 12:05] k-rus commented on #3513
Thank you for clarifying. So am I correct, that there is only one gateway is needed per server, however the default was 2?

[2016-04-19 12:06] atifwaqar commented on #3494
@per-samuelsson
I ran the timeboot.bat file in my localmachine and as soon i launched it, it closed all my running apps.
so i cant run this batch file on any live server in daytime, i will test this in evening, and will update you afterwards.
Thanks

[2016-04-19 12:07] k-rus commented on #3513
Another nightly build failed on pnext on timeout issue, see [this](https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2876#_focus=14086). Let me know if separate issue should be created.

[2016-04-19 12:08] alemoi commented on #3513
Yes, default before was 2 but now its 1. And I don't modify the gateway configuration during installation.

[2016-04-19 12:09] alemoi commented on #3513
Yes, its a separate issue. That I will have to look at now.

[2016-04-19 12:13] k-rus commented on #3513
Default value for gateworkers 2 is confusing. Can you explain how many gateworkers should run the same machine and why?
Another issue: since the default is 1 now, do you have a regression test, which uses more than one gateworker?

[2016-04-19 12:14] per-samuelsson commented on #3486
I've implemented that fix and tested a few installs/uninstalls on my box, and things now seem to work as expected. I haven't merged it into any main branch yet though, because ...

... I want @dan31 to confirm it works on his env before that, and therefore I'm currently running a personal build with the fix, and generating a new installer based on that. I'll give you a link to it, once the build s

[2016-04-19 12:22] per-samuelsson commented on #3486
[Here](https://scbuildserver/repository/download/Starcounter_DevelopDaily/2894:id/Starcounter-DevelopDailyBuilds-2.2.1819-Setup.exe) you go @dan31, please try that one, and let me know if you can run a successful install/uninstall cycle with it.

[2016-04-19 12:31] per-samuelsson commented on #3486
Decided on a bit more optimistic approach, and merged the fix into **develop**, in https://github.com/Starcounter/Starcounter/commit/8295a380a1c67f24997505daf56dc2171feffb21.

If @dan31 later can confirm it works with that installer I provided above, we know that the fix get part of tonights nightly. Once that happen, I'll also update the changelog and merge it into **pnext**.

[2016-04-19 12:49] alemoi commented on #3513
The value was 2 because we discovered that was enough for most production cases (when gateway saturates the database enough).

Good question. No automatic now (it uses the default configuration). I was running manually on build servers and locally, no problems.

I was thinking through and I am changing the spinning now to use some signalling instead.

[2016-04-19 12:52] chrhol opened #3518 "Suppressing returnvalue to client after input-event need to verify that the value actually changed"
As an optimization to avoid sending unnecessary patches, a value coming from the client that either has no validation (no Handle(...) method declared in codebehind) or that doesn't change the value removes the dirtyflag from the TypedJson property after set.

Before removing the dirtyflag, a check have to be done that the value actually IS changed, since the set-implementation can change it (or no

[2016-04-19 12:59] k-rus commented on #3513
I keep this issue open, since it is necessary to do at least:

1. Implement regression test using more than 2 gateway workers.
2. Change default number of gateway workers to 2 as it is the most common for production environment.

An optional task:
Improve the failing part as you currently suggest.

If the tasks are moved to another issue, this issue can be closed.

[2016-04-19 13:45] per-samuelsson commented on #3516
Tried `star -v` in a CLI?

[2016-04-19 13:48] per-samuelsson commented on #3494
Sorry, I should have been clear about that. It's caused by `staradmin kill all`.

Thanks a lot. We really appreciate that.

[2016-04-19 13:49] dan31 commented on #3516
The version data must be provided to the installer. CC @andwah @alemoi.

[2016-04-19 14:00] bigwad commented on #3516
That works. Haven't known about that. Not the most obvious thing, isn't it? :smile:

[2016-04-19 14:05] per-samuelsson commented on #3516
Well, no. :smile:  I just felt is was a good thing to do at some point a few years ago, and added it. I'm sometimes asking users to utilize it when I want their version. That's all there is too it, I guess. I've always wanted to promote Starcounter more as a CLI-centric platform, but that's not what we do. Instead, the browser (web admin) and VS extension is our main interaction points. So I'm pro

[2016-04-19 14:18] alemoi commented on #3513
I was going to write that I will:

If there will be an issue with this, I will have to fix it. @dan31

[2016-04-19 14:31] warpech commented on #3470
This badly needs a fix then, because Page class is about to be removed (https://github.com/Starcounter/Starcounter/issues/3202, https://github.com/Starcounter/Starcounter/issues/3165).

[2016-04-19 14:41] per-samuelsson commented on #3516
And just to be clear: `star -v` is shorthand for `star --version` (and `-version` also work).

[2016-04-19 15:02] alemoi commented on #3516
Regarding add/remove programs I think I just fixed that. Need to test though.

[2016-04-19 19:02] dan31 commented on #3486
@per-samuelsson interesting output!
[code]

So it thinks I have both Community and Enterprise. However I know that I have no means to run Community, only Enterprise. When I was installing, I first had Community and then installed Enterprise. I simply wanted to have them both. Don't see it is actually possible.

One more cool thing. I also have this:

![image](https://cloud.githubusercontent.com/as

[2016-04-19 19:45] warpech commented on #3516
You are not :) I use `star --info` few times a day to know the version and ask everyone who needs my help to run it. Didn't know about `star -v`, though.

[2016-04-19 19:51] per-samuelsson commented on #3516
Haha, good to hear. :smile:

Just `star` is your guide:

[code]

We should probably review and polish a little on parameters we support and how we promote them though, but since CLI is not our main focus, I guess it can wait. Might be something we want to do for DNX, where we might need to change a few things anyway.

[2016-04-19 19:53] alemoi commented on #3516
The original issue is fixed. Thanks @per-samuelsson for additional info!

[2016-04-19 19:53] #3516 closed

[2016-04-19 20:19] alemoi commented on #3513
I rewrote the original code and tested it, on several machines with number of workers 8. Could not reproduce the hang. Now default number of workers is back to 2 since I consider the issue fixed. If you experience the issue again please reopen it.

[2016-04-19 20:19] alemoi commented on #3515
I rewrote the original code and tested it, on several machines with number of workers 8. Could not reproduce the hang. Now default number of workers is back to 2 since I consider the issue fixed. If you experience the problem again, please reopen the issue.

[2016-04-19 20:19] #3515 closed

[2016-04-19 20:21] per-samuelsson commented on #3497
Thanks for clarifying @malx122. I really don't see still what we could possibly do here? Maybe I'm missing something essential.

As I understand, you would want `object.Equals(object a, object b)` to raise a compile time error if invoked with `Db.Equals(new A(), new B())`? With what means could that be done? First of all, compilation is done by the standard C# compiler, and we don't touch that. An

[2016-04-19 20:27] per-samuelsson commented on #3486
Yes, that's what I expected. And it's good, because then I think the current implementation will work. When we install the extension, we always specify "Community" when we pass it to the VSIX installer, and I think that will work, since all other versions are built on top of that. As an example, if you install Enterprise, I think its "Community + extras" underneath.

Please try that installer I pr

[2016-04-19 20:29] per-samuelsson commented on #3486
Yes, Express never supported extensions, so we could never target it. Now Community does though, and Express is not more an active player.

[2016-04-19 20:34] alemoi commented on #3512
Eventually I decided to rewrite the code. Tested it and it seems working well. The new stable is provided. Thank you for the report @ivarbergman ! Please let us know if you still experience any problems with it.

[2016-04-19 20:34] #3512 closed

[2016-04-19 20:40] alemoi commented on #3493
Thank you for the response @atifwaqar !
The code related to this original issue is rewritten, the issue should be fixed now. However, if it occurs again we will reopen the issue.

[2016-04-19 20:40] #3493 closed

[2016-04-19 21:37] dan31 commented on #3486
The truth is that I never had it! This trace belongs to VS-2012 I believe.

[2016-04-20 06:37] per-samuelsson commented on #3486
Hmm, that's weird, but maybe they design their product updates such as they seem to do with editions, so that 2012 is a release that is 2010 + more, and it comes part of that. No matter what, I guess it's not very important right now. I just want to make sure any problems are actually fixed.

[2016-04-20 06:39] k-rus commented on #3513
You need to add regression test with explicit number of workers (not default). Any bug leads to test and added regression test. Reopening this issue until regression test is implemented or separate issue is open.

[2016-04-20 06:40] per-samuelsson commented on #3486
@ubbeK @dan31

If you guys could verify this issue is actually fixed by running a complete install/uninstall cycle again using our newest nightly - [2.2.1838](http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/2.2.1838) - that would be really great. I'd like to keep this one open until I'm sure you actually confirm it's fixed.

[2016-04-20 06:56] dan31 opened #3519 "Starcounter.TransactionAbortedException: ScErrOutOfLogSpaceAbort (SCERR8016)"
@atifwaqar was staging Version: 2.1.1742 in production for 2 weeks. Nothing weird happened. Yesterday I've added performance counters writing to his machine. In the evening, when no big load is observed, the exception occurred (there is enough space on disk). I suspect there is something with new scheduling scheme, but I might be wrong there and there is something with adding perf counters instead

[2016-04-20 07:07] ubbeK commented on #3486
@per-samuelsson: I still got the same error when uninstalling from version [2.1.1764](http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/2.1.1764) to the newest version you mentioned. But there is no problem when i reinstall it from that point on (2.2.1838 to same verstion again).

[2016-04-20 07:07] per-samuelsson commented on #3519
Appears we've seen `ScErrOutOfLogSpaceAbort` only once before, in #2016.

[2016-04-20 07:24] eriohl commented on #3519
There should be a reason for the failure to expand log logged in the event log (regardless of the reason for the failure). Please check the event log for more information (or send it to us).

[2016-04-20 07:43] dan31 commented on #3519
On production server I identified several log files with this exception, starting from April 3 and including the most recent ones. Here is the archive with logs: https://www.dropbox.com/s/3fune80y16j04pw/pack-AdFenix-2016-04-20.zip?dl=0.

[2016-04-20 07:43] dan31 commented on #3519
Also note guys, on April 3 there has not been any performance counters activated.

[2016-04-20 08:27] eriohl commented on #3519
[code]

This error is also repeated when attempting to restart the server later on.

So clearly the server and the OS indicates there is less then 256 MiB available on the partition where the log is stored and the log can not be expanded for this reason (this error is logged when a file expansion fails on the OS error ERROR_DISK_FULL (112)). If this is not the case is seems kind of odd that the OS

[2016-04-20 08:27] alemoi commented on #3513
Yes, I will add 2 regression tests: 1 for 1 gateway worker, another for 8 :) And that would be a modified star_loop_test.

[2016-04-20 08:58] k-rus commented on #3513
Am I correct that the default will be used in other tests?

[2016-04-20 08:59] alemoi commented on #3513
Yes, that's correct. Now default is back to 2.

[2016-04-20 09:08] aloscha commented on #3486
Maybe I describe my situation, which is really strange.

I modify Chatter example of Starconter and accidentally make some wrong name in class definition. Then Sc go creazy and write down, that I couldn't use namespace SC (no reference). Next I try to uninstall and install again. What I get is the error in first post. I couldn't uninstall it. I try install 5 version back and stable version and hav

[2016-04-20 09:10] dan31 commented on #3486
@aloscha thanks for reporting, can you be more specific (description of changes you made, code samples, exact output message and so on) and open it as a separate issue?

[2016-04-20 09:20] k-rus commented on #3513
Great

[2016-04-20 09:51] dan31 commented on #3519
@eriohl thanks a lot for investigating! @atifwaqar, it appears that in some condition the space on a disk is full. I'm not exactly sure, but maybe @eriohl might hint: might that be a case that a pagefile size setting on Windows is "Choose by operating system", and thus it is changing over time. When the database approaches big sizes in memory and spans to pagefile a lot, the disk space is eventual

[2016-04-20 10:07] alemoi commented on #3513
Ok, the tests are now added :)
Both are nightly and test the actual problem previously: `env.run_star_loop_1_gwworker_test`
and `env.run_star_loop_8_gwworkers_test`
All succeed on all machines now. So I consider the original issue to be fixed.
@k-rus thanks for the input!

[2016-04-20 10:07] #3513 closed

[2016-04-20 10:08] k-rus commented on #3513
Thank for the fix and test.

[2016-04-20 10:23] alemoi commented on #3480
I consider issue to be fixed in latest stable/nightly. Please let us know @ivarbergman if you will reproduce the problem again. Thank you!

[2016-04-20 10:30] atifwaqar commented on #3519
@dan31 I have cleaned up some space in that server, we have 75GB of free space now. I'll let you know if this crash occurs again.
Thank you guys for investigating.

[2016-04-20 11:03] ivarbergman commented on #3480
Hi! Sorry for not given you feedback on this issue lately. We will soon
upgrade to the latest stable starcounter, and I will keep an eye on this.

2016-04-20 12:23 GMT+02:00 Alexey <notifications@github.com>:

[2016-04-20 11:33] dan31 commented on #3519
@atifwaqar I will add a disk space counter in addition to my counters. This will allow us to track what happens next time.

[2016-04-20 12:11] per-samuelsson commented on #3486
Yeah, that's unfortunately nothing we can do anything about, since uninstalling always is done using the same installer as was used to install. And all installers prior to yesterdays fix will show this symptom if Update 2 have been applied. :cry:

Then it works on your machine, and mine. Good at least. I'm still awaiting @dan31's feedback, on an Enterprise machine.

Thanks a lot for all the feedba

[2016-04-20 12:22] per-samuelsson commented on #3486
@aloscha

Sorry you are also experiencing this. It's on us of course, but we couldn't foresee MS would change how the underlying tool (`VSIXInstaller.exe`) works within an update, if that could be something of an excuse.

Regarding this:

That's a really important thing you mention, and I'm instantly going to reinstall one of the older, failing Starcounter versions and see if I can get that to wor

[2016-04-20 12:44] bigwad commented on #3486
Actually, there are some technics to overcome it. Though it's complicated and perhaps an overkill  in our situation. Anyway, I'm aware of two options:
1. Legitimate. Fix old buggy package and distribute it along with the new one. On upgrade, you should at first reinstall old package using REINSTALLMODE=v option. It will substitute buggy package in Windows installer cache with the fixed one. Then j

[2016-04-20 12:52] per-samuelsson commented on #3486
Wow, thanks for sharing that @bigwad. However,

1. does that apply to our scenario? We're not using any standard Windows installer, but rather a custom installer written by us. But maybe the hooking in occurs before that in some way.
2. I'm not sure we still want to do that, considering the time it would take and that the problem experienced is o/c not at all something we want our customers to fac

[2016-04-20 12:55] atifwaqar opened #3520 "Installer fails on Un-Installing SC"
I had SC version 2.1.1742 on one of my server, I want to Upgrade its SC to Latest Stable Build, But im not able to uninstall SC now. I get the following 2 errors on uninstalling :

![image](https://cloud.githubusercontent.com/assets/4388707/14675127/b9116052-0707-11e6-9664-666569d3b06a.png)

On pressing yes, it starts to uninstall SC. but then i get the following error:
![image](https://cloud.gith

[2016-04-20 13:18] bigwad commented on #3486
Ok, this is game changer. If we don't bring standard msi package, then both options above are irrelevant.
Then it's our own decision, what to do on uninstall during upgrade and new package is free to do anything:
-replace old module with the fixed new one before starting uninstall OR
-call some other module to perform uninstall OR
-change a system in a way that make old module work OR
-don't perfo

[2016-04-20 14:06] per-samuelsson commented on #3520
@atifwaqar

I was sure to see the same errors as we've worked with from yesterday, in #3486, but this seem to be something different.

@alemoi, any take on it?

[2016-04-20 14:08] per-samuelsson commented on #3520
Also, @atifwaqar

1. When you get that first question, do you press Yes or No?
2. Can you open VS and look under `Help | About ...` and then see if the version information says you have VS Update 1 or Update 2?

Thanks.

[2016-04-20 15:14] atifwaqar commented on #3520
Looks like the issue was VS 2015 related, I launched the VS 2015 setup and repaired it. now everything works fine.

[2016-04-20 15:23] alemoi commented on #3520
Thanks for reporting! This is very strange. Because it complained about missing file: SetupSettings.xml in your StarcounterBin directory (Program Files). Can you please check if you see this file in directory or is it missing?

[2016-04-20 15:24] atifwaqar commented on #3520
I have the file C:\Program Files\Starcounter\SetupSettings.xml

[2016-04-20 15:27] alemoi commented on #3520
Thank you. I wonder if you start the old Starcounter-Setup.exe in `C:\Program Files\Starcounter` as Administrator and choose uninstall there, will it work? Thanks for trying.

[2016-04-20 15:29] atifwaqar commented on #3520
I havent tried that. but if i see the issue again, i'll surely test it

[2016-04-20 15:33] alemoi commented on #3520
Ok, so now you mean now the old installation succeeded and you have a new version installed already?

[2016-04-20 19:16] chrhol commented on #3509
I pushed some more changes for this just now. Hopefully this push will fix the last glitches (and not introduce some other issues).

As far as I can tell everything seems to be updated and sent to client (tested with unittests and directly in Tunity apps)

[2016-04-20 19:30] chrhol commented on #3518
Fix pushed to develop and (soon) pnext.

[2016-04-20 20:11] malx122 opened #3521 "Staradmin list app does not take --database parameter"
Was trying to use `staradmin --database list app` to list running apps for a certain database but it lists all running apps in all databases totally ignoring the `--database` parameter (And it presents it in a VERY hard form to parse for a GUI admin app)

[2016-04-20 21:14] dan31 commented on #3521
Thanks @malx122! CC @per-samuelsson

[2016-04-21 05:00] per-samuelsson commented on #3521
@malx122

That's clearly a bug and I can confirm it. Thanks for reporting that.

We could of course support additional formats. The single format supported now is intended for users reading the console, not for parsers. We could support a switch to support additional formats. I'll bring that suggestion up internally, to see how to prio it.

[2016-04-21 06:06] malx122 commented on #3521
The format is ok for me if the --database parameter work.

[2016-04-21 06:20] atifwaqar commented on #3520
Yes, i repaired my VS installation.
then launched the SC installer again, it uninstalled things first and then reinstalled everything. and now i have SC 2.2 installed.

[2016-04-21 06:53] miyconst opened #3522 "Deleting a database crashes server"
I tried to delete a database called `warehouse`, the database was not started. The following exception occurs and administrator page hangs. After administrator page reload the is no more databases listed.

After a couple more reloads Starcounter server crashed.

I had another database called `default` running at this time, only SignIn app inside, if this helps anyhow.

### Deleting database log en

[2016-04-21 06:56] miyconst commented on #3522
After server restart I was able to delete both databases, but deleting `default` database again rose an exception and required page reload.

[code]

[2016-04-21 07:00] andwah commented on #3522
It's looks it has something todo with pushing out async changes to the client(s).  There has been recent changes on how things is scheduled and how sessions is used.

[2016-04-21 07:08] chrhol commented on #3522
Looks like something is not releasing the exclusive lock to a session. I will take a look

[2016-04-21 08:13] chrhol opened #3523 "Failure to create database after changing settings on existing database and then deleting"
Do the following steps to reproduce

1. Create database
2. Go to settings for that database in administrator
3. Change some value, "Http port" for example, and save.
4. Stop and delete database.
5. Create a new database with the same name.

[code]

The cause seems to be that the administrator creates a backup file for the configuration and the delete operation does not delete it properly. In my ca

[2016-04-21 09:11] chrhol commented on #3522
The problem is a deadlock in acquiring access to a session and the locks in `ServerManager.cs`. I found one issue with the current scheduling and that is sometimes a task is scheduled with the same session specified as the current one.

As soon as my local build succeeds I will push a fix for scheduling the same session. I have not been able to reproduce it again after this so hopefully this is th

[2016-04-21 09:21] chrhol commented on #3522
Pushed to develop, soon pnext

[2016-04-21 09:30] chrhol opened #3524 "Administrator incorrectly think database is stopped when sccode.exe dies."
I tried to find an existing issue for this but couldn't find any.

1. Start database
2. Manually kill `sccode.exe`
3. Administrator thinks database is stopped.
4. Delete database.

[code]

There is no way to stop it though, so the only way is to start it again (or manully kill `scdata.exe`) and then stop it.

[2016-04-21 10:56] andwah commented on #3522
In #2913 it's explained how we check if a database is running or not.

Admin's check looks like this;
[code]

[2016-04-21 11:32] chrhol commented on #3507
I think I got this exception when playing around with the Warehouse just now. Will investigate.

[2016-04-21 12:31] andwah commented on #3522
Just got this errors , this is ***after*** i pulled the latest code changes in (develop) by @chrhol

[code]

[2016-04-21 12:35] chrhol commented on #3522
Then the deadlock is still not resolved. I wonder if the problem is that we skip scheduling sometimes and execute the task directly if running on the same scheduler.

What did you do to reproduce it this time?

[2016-04-21 12:36] andwah commented on #3522
i think i found a clue,, there is a timeout in a rest call just before the error, i will investigate some more..

[2016-04-21 12:41] chrhol opened #3525 "Crashing database with assertion failure with invalid transaction (coming from Puppet/TypedJson)"
- Start the following apps (not sure if they all are needed):
Launcher, SignIn, Warehouse, WarehouseClient, PlaygroundKeeper.
- go to http://localhost:8080/launcher/settings (or click the cogwheel)
- go to any other page
- go back to settings.
- Database crashes.

[code]

The reason is that unreferenced transactions are cleaned up when session is set to null or leaves a use-block and somewhere som

[2016-04-21 13:48] chrhol commented on #3525
Fix pushed to develop and pnext.

[2016-04-21 13:48] #3525 closed

[2016-04-21 14:09] warpech commented on #3191
@ivarbergman this is absolutely right approach. I would only change `mousedown` to `mouseup`, because we might dump `mousedown` on some point (see https://github.com/Starcounter-Jack/JSON-Patch/issues/98)

I have explained the approach you took in PuppetJs README: https://github.com/PuppetJs/PuppetJs/blob/gh-pages/README.md#generating-patches-based-on-local-changes

A high level API is discussed i

[2016-04-21 14:09] #3191 closed

[2016-04-21 15:15] warpech commented on #3252
Fixing this would improve developer UX a lot. Almost every new developer that talks to me has experienced this problem and did not know what to do because of the vague error message.

This issue is reproducible both with `Page` and with `HtmlFromJsonProvider` middleware.

The smallest app that reproduces it (with middleware): https://github.com/warpech/SimplePuppet/compare/Starcounter_issue_3252

[2016-04-21 15:27] warpech opened #3526 "Non-informative NullReferenceException when binding a data property to an empty array item in JSON-by-example"
I encountered it by accident. When you declare an **empty** array item in JSON-by-example that has the same key name as a property name in the bound data object, you end up with an exception that doesn't give any meaningful clue.

This is my `Person.cs`:

[code]

This is my `PersonJson.json`:

[code]

*Note that the JSON `Expenses` array item has no properties declared.*

When I start the app, I g

[2016-04-21 15:36] chrhol commented on #3526
Wow, this feels like the first thing to test. I assign it to me to fix

[2016-04-21 16:26] per-samuelsson commented on #3523
Thanks for producing such good description. This clearly is a bug. I'll assign it to me to fix.

[2016-04-22 10:37] miyconst opened #3527 "Starcounter HtmlMerger processes urls with parameters in wrong way"
It's assumed that path to an HTML file won't have any parameters, and links like this

[code]

are split into three and more parts. Which results in a ` Self.GET(a[1]);` to a wrong URL.

[code]

https://github.com/Starcounter/Starcounter/blob/21345582673c882eef81f59d77be47f4440b3731/src/Starcounter/Apps/OntologyAndOrdinaryMapping.cs

cc @chrhol, @alemoi

[2016-04-22 10:57] miyconst opened #3528 "Unable to bind Html property value when app in running inside Launcher"
I have a Partial with `Html` property bound to `HtmlBind`:

[code]

The `LanguagePage` is a `Starcounter.Page` with additional property `Language`. The `Language` value depends on `Session.Data` and database.

When Launcher [wraps the partial and calls](https://github.com/StarcounterPrefabs/Launcher/blob/master/src/Launcher/Api/LauncherHelper.cs#L235) `GetHtmlPartialUrl` the code of the `Language`

[2016-04-22 11:44] chrhol commented on #3522
I think we finally found the cause of the deadlock. It looks like it's the same problem as in #3490, that if `Session.ScheduleTask` is called for a session that runs on the same scheduler as the current one it executes the task directly. This together with the locks in parts of the administrator (`ServerManager.cs`) will make it quite easy to end up in a deadlock.

I tested with making sure that n

[2016-04-22 12:03] chrhol commented on #3509
Got confirmation from Mattias that finally it works as expected. Closing...

[2016-04-22 12:03] #3509 closed

[2016-04-22 12:05] #3518 closed

[2016-04-22 12:18] chrhol opened #3529 "Session.ScheduleTask and problems when task is not scheduled, but executed directly"
In  a couple of different issues now we found a problem with the current implementation of `Session.ScheduleTask` and that is that if the session that is scheduled belongs to the same scheduler as the current running one, the task is not scheduled, but executed directly and there is no way for the user to control this.

In #3522 this might lead to a deadlock in the administrator, due to parts of t

[2016-04-22 12:33] alemoi commented on #3529
Just curious, is it possible to do the transactions switch and still execute tasks on the same scheduler? If we would hypothetically have no `Session.ScheduleTask`, and have something to do on a different transaction/session. How would we do that? @chrhol can you elaborate on that, since you know how transactions are switched I suppose. Let's try to find the right way first, and adopt `Session.Sch

[2016-04-22 12:47] chrhol commented on #3529
Well I don't think in the issues that were referenced that it would be possible. When called from commithooks and as the administrator is implemented with multiple threads accessing it, async access to sessions is required I think.

Actually, I think `Session.Use` should maybe not be public either and when you need to do something in a session you have to schedule a task for it since it needs to b