[2016-04-22 12:53] alemoi commented on #3529
I see the only problem is sync calls in ScheduleTask. Otherwise we would be able to schedule the task always and forget about it. @chrhol do you confirm that in all cases above it only about sync calls?

[2016-04-22 13:32] chrhol commented on #3529
Yes, the problem is sync calls, but not only when `waitForCompletion` is `true`, since we make a shortcut, even if it is set to `false`, if we already are on the correct scheduler.

[2016-04-22 13:51] chrhol commented on #3529
Maybe it's enough to tweak so that if waitForCompletion is false we always schedule a task?

[2016-04-22 13:54] alemoi commented on #3529
This I can make so it schedules always. For waiting for completion on the same scheduler we might use some reset count event for synchronization or try to use existing code. Not sure if that will work on the same scheduler, I remember there is some issue with possible deadlock. @eriohl maybe you remember? Thanks.

[2016-04-22 13:55] alemoi commented on #3529
I thought to suggest this, but then automatically thought on how users will do the manual waiting for the task to complete on the same scheduler. I'm just worrying about the possible deadlock. That I am asking above.

[2016-04-22 14:12] eriohl commented on #3529
If you block a scheduler waiting for another task on the same scheduler this results in a deadlock. Same could apply if you are waiting for another scheduler since this scheduler might be waiting for you. Thus you may only block a scheduler if what you are waiting for can not possibly wait for any other scheduler directly or indirectly. This is why wait and retry on queue full is kind of risky. Bu

[2016-04-22 14:40] atifwaqar opened #3530 "Starcounter AppStore Shows the same app multipletimes"
As marked in attached image, i can see 11 apps for "Launcher app" only.
Are all these apps the same? I suspect the difference is in Version's or Builds only. am i right?

![sc store](https://cloud.githubusercontent.com/assets/4388707/14744783/82dfd5b6-08a8-11e6-9b14-1219dca708d7.jpg)

Also if i want to use these apps, is it recommended to just install from AppStore? or should i stick to the tradit

[2016-04-22 15:01] miyconst commented on #3530
Yes, you are right. It's different versions of the same application.

[2016-04-22 15:47] atifwaqar commented on #3530
Thanks

[2016-04-22 16:42] #3530 closed

[2016-04-24 22:00] alemoi commented on #3529
Thanks for the response @eriohl
So basically if I schedule a task on the current scheduler and try to use manual reset event to wait for the event in this task to set when the scheduled task is run - then it will result in a deadlock. Is that correct?

I am just trying to figure out how to wait in one task for the other task to finish.

[2016-04-24 22:55] eriohl commented on #3529
If you use a non-alertable wait then you will block the scheduler. If you use an alertable wait (like the managed manual reset event) the block detection will catch this. Quite a bit of overhead however (which is why the old implemention didn't use this). Exception perhaps being if you run in the thread cap. Not entirely sure this is handled now.

[2016-04-25 06:43] eriohl commented on #2882
This one is completed right?

[2016-04-25 06:55] warpech commented on #3528
In other words, `GetHtmlPartialUrl` executes the `Html` getter with Launcher's session instead of  LanguagePage's session?

[2016-04-25 06:57] bigwad commented on #2882
Absolutely

[2016-04-25 06:57] #2882 closed

[2016-04-25 07:52] chrhol commented on #3528
I would guess that it's the same session, but the wrong appname is used. Everything around Session.Data, Application.Current and database classes is based on the appname.

I wonder, if it's not better to focus on fixing the htmlmerger first? Since we already know that we *have* to fix it ASAP. This particular code with `GetHtmlPartialUrl` will most likely be changed.

[2016-04-25 07:53] chrhol commented on #3527
Should be a quite easy fix to split the string from the first occurrence of `=` instead of from all. I will do it.

[2016-04-25 08:20] chrhol commented on #3527
Maybe wa s a bit too fast with the comment above :)

Take this url for example:
`/htmlmerger?App1=/ScLocale/viewmodels/IndexPage.html?l=en&x=y&App2=/app2/partial.html`

For `App1` the partial is `/ScLocale/viewmodels/IndexPage.html?l=en&x=y`, but how can we separate `&x=` and `&App2=`?

The first one should be a part of `App1`'s url while the second one is the appname for the second partial url.

[2016-04-25 08:30] miyconst commented on #3527
I think, the correct way would be to encode the partial URLs.

[code]

Would look like

[code]

[2016-04-25 08:36] chrhol commented on #3527
Ahh yes, if we have this restriction for parameters on partial url's, then splitting the string will be easy. And I guess the htmlmerger function should decode each partial url before doing the `Self.GET`, or is this something that is done automatically for all requests? I have some vague memory of reading some about this in another issue but I can't remember which one.

[2016-04-25 08:38] miyconst commented on #3527
I doubt it will automatically decode. The parameter value should be decoded by merger and then send a `Self.GET`.

Anyway, this issue might get irrelevant after HtmlMerger rework. So, lets postpone it.

[2016-04-25 08:48] chrhol commented on #3528
I will assign this issue to me as well, to keep track of the ones that concerns the htmlmerger.

[2016-04-25 10:12] mtornwall commented on #3427
Reopening this as there seems to be some issue preventing `304 Not Modified` responses from being sent even if `Last-Modified` matches `If-Modified-Since`. This *could* be due to my nginx reverse proxy setup.

@warpech Did you get 304's in your testing?

[2016-04-25 11:18] alemoi commented on #3529
I have tested the performance difference between manual reset event and RunSync on a different scheduler. The difference is significant I would say, especially when it comes to running and waiting on the same scheduler:
[code]

[2016-04-25 16:57] chrhol commented on #3507
I found a consistent way of reproducing this issue (or at least I think it's the same issue) using the warehouse apps.

It's a bit hard to tell since the stacktrace in the first post is a bit off. And to be honest I'm not quite sure what actually happens, since it involves a lot of different things happening in some specific order. I also tried to come up with some way to write a unittest or regre

[2016-04-25 17:26] chrhol commented on #3507
Pushed to develop and pnext.

[2016-04-25 17:26] #3507 closed

[2016-04-26 06:27] per-samuelsson commented on #3528
I was thinking the same thing. Lets redesign the merger (the cause) before trying to fix any symptoms.

[2016-04-26 07:23] atifwaqar opened #3531 "Unhandled access violation"
I am using SC Version 2.2.1834. as soon i launch my solution i get the following exception. this happened twice in 10 min

![image](https://cloud.githubusercontent.com/assets/4388707/14809731/45b10162-0b8f-11e6-9e59-2276e30f172d.png)

[2016-04-26 07:51] ivarbergman commented on #3480
Hi! Today we upgrade our production server to version 2.2.1872 and I got the same error on Luncher start. But this time I see a `Process exitcode: 2114` message in the logs.

[code]

The behaviour is the same as before. The second time I start Launcher it works.

[2016-04-26 08:03] ivarbergman opened #3532 "Access violation (C0000005) detected"
Hi! Locally on my dev machine, I get this error in the console after upgrading to 2.2.1872.
[code]

[2016-04-26 08:06] malx122 commented on #3502
What is the status of this?

[2016-04-26 08:12] ivarbergman commented on #3532
In the sc log I get this:

[code]

[2016-04-26 08:52] k-rus commented on #3502
I am sorry to say but no time was allocated to look into it.
Actually offset key is part of nightly regression test and it works there. Thus I guess we will need to have description of the problem (example of source code, how it is run and what happens).

[2016-04-26 09:01] atifwaqar commented on #3531
If someone needs access to that server, i can provide. you can investigate the issue directly on my server.

[2016-04-26 09:02] k-rus commented on #3531
cc @alemoi

[2016-04-26 09:03] k-rus commented on #3532
cc @eriohl

[2016-04-26 09:06] alemoi commented on #3531
According to stack trace the exception occurs in some GUI forms with MSHTML in them. So, something is trying to display some sort of dialog maybe?
@atifwaqar do you get this right after doing F5 in Visual Studio?

[2016-04-26 09:36] alemoi commented on #3480
Thank you for reporting! According to the logs that I see that it just exited without any hanging. I will check the code to filter out the possibilities of such silent exit.

[2016-04-26 09:39] eriohl commented on #3532
Could I get access to the database (image files and log files)? Should be easy to reproduce then since it happens during recovery.

[2016-04-26 09:41] atifwaqar commented on #3531
Thats correct @alemoi.
But give me some time to copy the same version of DB again.
I think it occurred without using VS once. but im not sure about this, so let me test it again.

[2016-04-26 09:43] atifwaqar commented on #3531
I have 2 types of details in Unhandled access violation error :
[code]

[code]

[2016-04-26 10:16] ivarbergman commented on #3532
Here is a link to db zip.
http://tunitybuild.cloudapp.net:9999/issue_3532_default.zip

(I have locally reverted to an older backup of my database, and now the database can start.)

[2016-04-26 10:23] atifwaqar commented on #3531
@alemoi I got this crash now and I havent used VS at all, my VS is closed. I launched the app using run.bat. It is possible that this is caused by some of my incomplete codes, but this exception makes it hard to find the error location.

![image](https://cloud.githubusercontent.com/assets/4388707/14814993/251c54d2-0ba9-11e6-83bf-85a96c1db6e2.png)

[2016-04-26 10:56] eriohl commented on #3532
Great. Thank you. I can reproduce the problem. Investigating now.

You don't happen to have the missing log file (DEFAULT.0000000000.log[.bak])? Maybe in your backup? Don't know if it is needed to find what the problem is yet but it might be useful.

[2016-04-26 11:08] alemoi commented on #3531
Is it failing on startup of the specific app that comes after Launcher, UserAdmin, SignIn and AdFenix?

[2016-04-26 11:19] atifwaqar commented on #3531
I am launching only these 4 apps, and for a while everything works fine. and i have access to my app dashboards/pages.

This is my Test server, and before this issue appeared, This is what i did:
1. A week ago I installed almost all of the apps from your store, just to test them.
2. Then today I copied a DB from another server (to test some issues),
3. Saved current "Personal" folder as backup
4.

[2016-04-26 11:33] ivarbergman commented on #3532
Bummer! I must have missed that file when building the zip. And unfortunate I did "delete permanently", but I can send you the log file from the latest backup as you suggested.

http://tunitybuild.cloudapp.net:9999/issue_3532_default.log.zip

[2016-04-26 11:40] dan31 commented on #3457
@malx122 @chrhol @alemoi any more news on it?

[2016-04-26 11:47] eriohl commented on #3532
The problem comes from a corrupted metadata structure. Unfortunately the structure is already invalid when data is loaded from the checkpoint. So it won't be all that easy to figure out why the metadata structure went bad in the first place. Question is also why the original operation succeeded while the recovery of the operation failed.

Would it be possible to get access to the backup that you a

[2016-04-26 11:58] ivarbergman commented on #3532
This is the backup I reverted to, that works.

http://tunitybuild.cloudapp.net:9999/intranet_db.zip

(However the database is named `intranet` in this zip. Locally I have renamed the db files to `default`)

[2016-04-26 12:03] alemoi commented on #3529
Regarding RunSync I think we have no choice but using manual reset events or some alternative. Yes, the performance is different, but in any case very low i.e. not comparable to normal handlers processing.

[2016-04-26 12:05] chrhol opened #3533 "Gathering changes for a viewmodel does not always checkpoint siblings correctly."
When generating changes for a viewmodel, siblings are sometimes not checkpointed, which leads to that they are still considered dirty/modified. This might in turn lead to incorrect behaviour on later patch-requests.

This bug was introduced after #3465 was implemented.

[2016-04-26 12:26] mtornwall opened #3534 "Utilize newly installed memory with the same database image?"
It seems to be well-known (thought I'm not sure if it's clearly stated anywhere in the documentation) that the size of the initial database image is determined by the amount of installed memory at the time of its creation.

Now, suppose that I'd like to scale the capacity of my servers based on actual demand. I start off with a virtual machine with relatively low memory (say, 4 to 8 GiB). I then g

[2016-04-26 12:28] warpech commented on #3427
Yes, I got 304's as expected. Can you try to isolate the problem without nginx?

[2016-04-26 12:31] per-samuelsson commented on #3534
cc @eriohl

[2016-04-26 12:33] per-samuelsson commented on #3534
@mtornwall,

if you don't explicitly specify anything different, we are assuming 2.x-based version, either latest stable or nightly (i.e. not one of the pnext-builds, and neither 1.x).

[2016-04-26 12:43] eriohl commented on #3534
This is addressed in the latest version (2.3/pnext).

(Although you will still have to restart the server process. There is no support for hot add memory currently. But there is no need to an unload/reload.)

[2016-04-26 12:49] mtornwall commented on #3534
Oops, sorry. I've just switched to 2.2.x, so I'm not on `pnext`.

Meaning that until I switch to `pnext` I will indeed have to unload and reload?

[2016-04-26 12:54] mtornwall commented on #3427
@warpech I can confirm that it works as expected without nginx, so it seems to be my fault. Sorry for wasting your time!

[2016-04-26 13:00] warpech commented on #3427
Ok, thanks for the update. Closing then

[2016-04-26 13:00] #3427 closed

[2016-04-26 13:02] eriohl commented on #3532
Thank you. The metadata structure is good in the backup. Running the recovery on top of this checkpoint to see if I can see where the problem originally occurs.

[2016-04-26 13:07] k-rus opened #3535 "Non-user directory installation pop-up in the middle of installation is annoying"
If Personal Server directory is not user directory, the installer shows pop up with the message:

This happens in the middle of installation, when I don't expect any more questions and doing something else hoping that Starcounter will be installed when I back. But when I back the installer actually has not done match. It will be much better user experience if this pop up happens at the same time w

[2016-04-26 13:07] k-rus commented on #3535
cc @alemoi @andwah

[2016-04-26 13:22] miyconst commented on #3434
@ivarbergman were you able to solve the issue? If no, then provide some more details please.

- Your custom style declaration.
- What do you mean by "these css rules area no longer applied to the content of the partials"? Does it work outside of a partial?

[2016-04-26 13:37] alemoi commented on #3535
I agree with your suggestion. @andwah can you please add the check from the Level1\src\Starcounter.Installer\Starcounter.InstallerEngine\Components\PersonalServer.cs:295 to your GUI installer? You can remove the whole if there from PersonalServer.cs:295 once you add it to GUI installer. Let me know if any questions.

[2016-04-26 13:49] chrhol commented on #3533
Fix pushed to develop and pnext.

[2016-04-26 13:49] #3533 closed

[2016-04-26 13:54] miyconst commented on #3533
Now we need a successful pnex build :(

[2016-04-26 14:00] chrhol commented on #3526
It was not my intention to close this issue :) I have pushed a fix to develop though, and in a while to pnext. Will reopen it again so you can verify that it actually fixed the problem @warpech

[2016-04-26 14:06] eriohl commented on #3534
I can't tell you this for sure since I'm not involved in planning at that level but I think that a pretty safe bet yes.

[2016-04-26 14:16] mtornwall commented on #3534
Then I will operate under that assumption.

Thanks for clarifying.

[2016-04-26 14:16] #3534 closed

[2016-04-26 14:16] k-rus commented on #3533
Issue is Starcounter/AdminTrack#32
Vote for it as nothing happens there.

[2016-04-26 14:22] k-rus commented on #3534
It is not said explicitly, but I guess new database needs to be created, which means that data needs to be transferred from the old database to new one. We don't provide such functionality, so unload/reload can be used for it.

[2016-04-26 14:25] k-rus commented on #3502
I checked our regression test and it even works in pnext. For the example, this code works:

[code]

So offset key works as expected.

[2016-04-26 14:36] dan31 commented on #3534
@mtornwall 2.3/pnext is to replace develop as a next major release that we plan for June. However, we already have a customer staging 2.3/pnext (because of a log streaming facility for replication). We carefully add all fixes and changes from develop (2.2.x) into 2.3. When we release 2.3, there will be no pnext and develop, but only single develop. 2.3/pnext has a new storage format, you will have

[2016-04-26 14:58] eriohl commented on #3532
I managed to recreate the database from scratch using the logs from the bad database plus the additional first one from recovery and doing so I manage to get it to fail in basically the same way. So this should be fixable with the information we have. A lot of operations to go through however so it might take a bit of time.

[2016-04-26 15:44] mtornwall commented on #3534
@dan31 So it turns out I can't unload the database either, due to a supposedly nonexistent table (added to the data model quite recently) that definitely does exist when you run the same query in the administrator:

[code]

[2016-04-26 16:21] dan31 commented on #3534
@k-rus can you take a look? I thought we had such issue and you've been fixing it in unload/reload. probably the fix didn't span all the needed cases.

[2016-04-26 20:07] eriohl commented on #3532
Resolved. Problem was caused by a bug in updating the definition structure on drop table. Fixed will be included in next nightly build (2.2.1878). Thank you @ivarbergman for all your help. Much appreciated.

(Note that the faulty checkpoint isn't repaired because the bug if fixed.)

[2016-04-26 20:07] #3532 closed

[2016-04-26 22:20] alemoi commented on #3531
There is a suggestion from @bigwad to obtain crash dumps as suggested here: https://github.com/Starcounter/Starcounter/issues/3297#issuecomment-174574035
I guess we should check them.
On Thursday I can have a personal look through remote desktop to your machine.

[2016-04-27 06:01] k-rus commented on #3532
@eriohl
Am I correct that the bug was in the metalayer?
By the way, do we merge develop of Level0 into pnext or we maintain them separately?

[2016-04-27 06:33] chrhol commented on #3526
Just to clarify: If the binding is not explicitly specifed (I.e. using the default auto-binding, which means it will try to bind) the array will be treated as unbound if it is declared as untyped/empty.

If the binding is specified, an exception will be raised:

[2016-04-27 06:56] k-rus commented on #3534
Unload requires that old database classes are loaded. The above SQL error indicates that the class was not loaded for the existing table.

[2016-04-27 07:02] mtornwall commented on #3534
@k-rus The assembly containing the type was most definitely loaded. Any other reason this might occur?

[2016-04-27 07:09] mtornwall commented on #3534
Furthermore this particular class has never changed. It was committed in its entirety about a month back and has been present in the production databases since.

[2016-04-27 07:14] k-rus commented on #3534
@mtornwall It is better to start separate issue.

[2016-04-27 07:28] mtornwall opened #3536 "Database unload fails"
*This is a continuation of a discussion started in #3534.*

After upgrading to v2.2.1834 I tried to unload one of my production databases in order to rebuild it in a larger database image (mind you, I haven't tried unloading before so this could be present in v2.1.177 as well). Even though all relevant assemblies should be loaded I get the following exception:

[code]

The `UserOrganizationPrefere

[2016-04-27 07:34] atifwaqar commented on #3531
@alemoi Can you please check what am i doing wrong?

I created the Regex entry, The folder is open but i dont have "CrashDumps" folder in it, even after reproducing the crash.
![image](https://cloud.githubusercontent.com/assets/4388707/14844901/1ab7ee68-0c5b-11e6-84a6-9ce68d32f00b.png)

[2016-04-27 07:40] bigwad commented on #3531
@atifwaqar, there are two problems:
1. Wrong registry path - you have excessive key "Registry". Path should be: HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps
2. Wrong value type - should be REG_DWORD instead of REG_SZ

[2016-04-27 07:55] atifwaqar commented on #3531
@bigwad Thanks for you response. can you please verify if this is ok?

![image](https://cloud.githubusercontent.com/assets/4388707/14845377/13dc275a-0c5e-11e6-934d-481c34bf39af.png)

[2016-04-27 07:59] bigwad commented on #3531
Looks right. Have you got a dump with this setting?

[2016-04-27 08:04] atifwaqar commented on #3531
yup, i have the dump now. its 9GB approx

[2016-04-27 08:04] atifwaqar commented on #3531
Thanks @bigwad

[2016-04-27 08:15] bigwad commented on #3531
@atifwaqar
Any chance for me to get it for investigation?
If it's too large to share, you may try to set DumpType to 1. It should generate significantly smaller dump. It will contain less information but still useful.

[2016-04-27 08:17] atifwaqar commented on #3531
The dump is shareable easily, do you have access to server "82.99.7.11" that you have provided us?
if yes, i can put the dump file in that server, and then you can copy it easily

[2016-04-27 08:18] atifwaqar commented on #3531
Or i can provide you direct access to that machine aswell

[2016-04-27 08:32] k-rus commented on #3536
Thank you for creating separate issue and reporting the problem.
I guess the version of Starcounter you are using do not implement app isolation. @dan31 right? So #3399 is not related.

I am wonder how to reproduce it on a simpler example.

Can you try to create a small app, which calls the above query? I believe you should not get the problem, but currently I am lack of ideas. Somehow it should b

[2016-04-27 08:36] bigwad commented on #3531
I don't have an access. Could you give it to me? vadim.senchukov@starcounter.com

[2016-04-27 08:38] bigwad commented on #3531
vadim.senchukov@gmail.com on hangouts

[2016-04-27 09:11] eriohl commented on #3532
It was the definition structure (no replaced with layout). So strictly kernel.

I merge develop into pnext on the rare occassions I update level0 for form. Can't remember when last I didn't just drop the updates however. This change will not affect pnext.

[2016-04-27 10:36] careri opened #3537 "Scdb 1.5.0.5 create images tool"
Just noticed a switch on the tool that says that images can be created from a backup file. What does this mean? I can't create from scdx files. Guessing @per-samuelsson is the author?

[2016-04-27 11:07] mtornwall commented on #3427
Should anyone else find their way here, the problem with nginx resulted from the use of a `proxy_cache` directive that prevented the `If-Modified-Since` request header from propagating to the Starcounter upstream.

[2016-04-27 11:48] mtornwall commented on #3536
@k-rus If you're talking about "SQL Isolation" I believe it's been implemented since sometime in September:

https://github.com/Starcounter/Starcounter/commit/b1ef8474bf4fa3469ee4dafeddc2c1018623e8d4

[2016-04-27 12:41] k-rus commented on #3536
I thought it was done in pnext, but actually it is in develop. I will check if Unload script was updated accordantly.

[2016-04-27 15:21] dan31 commented on #3427
Thanks @mtornwall, I marked the issue as a "KB" label.

[2016-04-27 16:00] per-samuelsson commented on #3537
Hmm, I'm not sure I am actually, and I can't remember I should have ever implemented this (although I *do* have quite a bad memory). @eriohl?

[2016-04-27 16:12] k-rus commented on #3536
This issue might be due to #3399, since isolated apps are implemented already in develop, while the fix for unload was made in pnext. I will implement the fix in develop.

[2016-04-27 16:40] dan31 commented on #3536
Thanks for verifying @k-rus, frankly when it was introduced we haven't even shipped pnext to users (it was 2 months prior to the BAH initiative).

[2016-04-27 16:55] tomalec commented on #1808
Now we have full set of https://github.com/Starcounter/ in place of PolymerBoilerplate

[2016-04-27 16:55] #1808 closed

[2016-04-27 17:05] eriohl commented on #3537
It is for creating an image file (or set of image files) from a backup image. But you can not create a backup image because the API for that is disabled. So it is a less then useful feature.

[2016-04-27 17:27] tomalec opened #3538 "Clarify API and flow for Partials"
As discussed on today's meeting with @chrhol, @per-samuelsson, @warpech, @miyconst and me, we agreed to take some steps towards simplifying/cleaning up the flow and code for partials.

We well provide more self-explanatory methods, to work with partials and mapping:
 - `Partial.Get` - like `Self.GET` which also handles objects as parameters - function used to receive partial's result
 - `Partial.R

[2016-04-27 17:27] tomalec opened #3539 "Simplify Html property for htmlmerger & jsonmerger"
As discussed on today's meeting with @chrhol, @per-samuelsson, @warpech, @miyconst and me, we agreed to take some steps towards simplifying/cleaning up the flow and code for partials.

We will remove `Html` property from merged partial. Client-side `<starcounter-include>` component will build it from namespaced JSON if there is none in given partial.
For scopes (individual apps' partials) without

[2016-04-27 17:28] tomalec commented on #3470
I have created separated issues to the ideas we found today.
https://github.com/Starcounter/Starcounter/issues/3539
https://github.com/Starcounter/Starcounter/issues/3538

To you think we can close this one?

[2016-04-27 20:51] careri commented on #3537
What was the intention of a backup image? Some idea prior to scdx?
Den 27 apr. 2016 7:05 em skrev "eriohl" <notifications@github.com>:

[2016-04-27 22:54] eriohl commented on #3537
More an alternative. Creates a backup from the image file instead of doing a dump in a different format. Faster and less disruptive to create and faster to load but with some other drawbacks as well.

[2016-04-27 23:08] eriohl commented on #2790
Sorry but this one seems to have been forgotten. This is not still a concern right?

Can't answer about the dump API but for the other question: Yes can do incremental dumps or a sorts in 2.3. What you actually do is that you apply recent additions to the transaction log to an existing dump. This you can do offline so what you would do then in this case is to fetch the most recent additions to the

[2016-04-28 06:15] k-rus commented on #3536
@dan31
Should this fix be part of 2.2.1 release?

[2016-04-28 06:19] per-samuelsson commented on #3538
@tomalec

I'm still not 100% about this API, but as I said, it's at least better then the one we have now, and as you wrote, let's try it out and see what it feels like.

What I really wanted to add here was a big :+1: for the way you described it and the great listing of motivations and aims. Really put the finger on what we are trying to improve!

[2016-04-28 06:20] dan31 commented on #3536
@k-rus there is no chance for a fix to be part of any other release, since what you fix is already in Nightly, hence the fix will pop in 2.2.1.

[2016-04-28 06:29] k-rus commented on #3536
The fix is not done, thus I am asking.

[2016-04-28 06:39] dan31 commented on #3536
@k-rus I think it is better to do it the soonest, otherwise @mtornwall is impeded to upgrade his hardware.

[2016-04-28 06:40] k-rus commented on #3536
I will add it to the list and will try to fix today.

[2016-04-28 07:02] dan31 commented on #3536
That'd be great @k-rus, thanks!

[2016-04-28 07:14] per-samuelsson opened #3540 "Suggestion: make apps more partial-centric and less noisy"
As discussed on today's meeting with @chrhol, @tomalec, @warpech, @miyconst and me, we agreed to take some steps towards simplifying/cleaning up the flow and code for partials. (Yes, I just ripped that from you @tomalec). :smile:

My strongest suggestion was that we should try to get apps more "partial-centric", as I've written elsewhere earlier. Since that claim is pretty vague, I'd figured I'll

[2016-04-28 07:15] per-samuelsson commented on #3540
Relates to #3538 and #3539.

[2016-04-28 07:18] per-samuelsson commented on #3540
Also relate to the suggestion I previously wrote [here](https://github.com/Starcounter/TechComm/issues/156#issuecomment-212817478).

[2016-04-28 08:05] k-rus commented on #3540
@per-samuelsson
I think it is great suggestion. I cannot judge details, but reducing number of handlers and concentrating on the important once is good.

[2016-04-28 08:08] #3536 closed

[2016-04-28 08:34] bigwad commented on #3531
Summary of our progress on it so far. Just to let team know.
I've got a dump from @atifwaqar and guessed the problem is in AdFenix app, using Windows.Forms.WebBrowser class in non thread-safe way. Waiting for feedback.

[2016-04-28 08:59] dan31 commented on #3531
@bigwad thanks for investigation. @atifwaqar can you explain exactly how you utilise ```WebBrowser```, inside which facilities: .net threads, Starcounter ScheduleTask (sync/async), .net async/await? Can you provide a code snippet to here also.

[2016-04-28 09:07] careri commented on #3537
Ok, that does sound quite interesting. What would be drawbacks?
Guess it has something to do with migrating data between different schemas?

[2016-04-28 09:11] k-rus commented on #3536
Fixed in develop and correctly merged into pnext, however I was not able to exclude the test from daily build.

[2016-04-28 09:15] mtornwall commented on #3457
Not sure if this is related to the issue I've been having, but here's a hint:

It seems that push, at least for me, is much more prone to failure if it happens very soon after the view model has been constructed. For me this happens when the view model starts an asynchronous operation that completes almost instantly and updates the view model with its result.

[2016-04-28 09:21] careri commented on #2790
Cool, that sounds like a great feature!

[2016-04-28 09:23] careri commented on #2790
How would one know which additions to the translog are added after the dump was made?
And isn't the translog emptied if a checkpoint is made?

[2016-04-28 09:28] eriohl commented on #3537
Well, as mentioned, this feature is not available. Nor is this backup scheme available in later versions. So it is nothing you will actually be able to use.

But yes: The main drawbacks is that you it doesn't handle schema updates or database structure updates. Another drawback is that if the image for some reason gets corrupted the backup will bad as well.

[2016-04-28 09:33] eriohl commented on #2790
The translog consists of multiple smaller files. So you just copy the ones of these that has been updated since the last copy.

Not in version 2 (this works very differently in version 2 compared to version 1). No longer needed parts of the transaction log is compressed and then cleaned out according to a configurable log retention scheme.

[2016-04-28 09:47] careri commented on #2790
Ah, that sounds like a better solution. I get it. Thanks

[2016-04-28 09:48] careri commented on #3537
Yepp, I got that it was disabled. Just curios. Thanks

[2016-04-28 09:53] careri commented on #3349
Sorry for the late response. Been busy with other development. Haven't seen this in av whiile. You can close this issue

[2016-04-28 11:19] malx122 commented on #3502
And still I get null when testing (and in two different places). I can show you!

[2016-04-28 12:44] k-rus commented on #3502
It would be great if you describe how to reproduce your problem locally. Do you experience the same problem in another environment or in a simple case?

From the above I get impression that you have never succeeded to obtain offset key even in simple example. Thus, does your code, which obtains the key, look similar to the above, which I posted?

At least, can you provide the following information

[2016-04-28 12:51] chrhol commented on #2551
Other things and issues have taken focus from this one, so I have not gotten as far as I wanted to.

The reason for the excessive accessing is the dirtycheck together with the serializer, that retrieves it several times.

So a "normal" execution when jsonpatches are created looks something like this.

1. Gathering changes that will be made into jsonpatches. Bound value is read and compared to stor

[2016-04-28 12:57] malx122 commented on #3502
[code]

[2016-04-28 12:59] malx122 commented on #3502
[code]

[2016-04-28 13:00] chrhol commented on #3527
Since we decided yesterday that this part of the htmlmerger will work as before, this needs to be fixed still.

How it should work, as @miyconst pointed out in the comment above (https://github.com/Starcounter/Starcounter/issues/3527#issuecomment-214205151) is that the partial URL:s needs to be encoded.

I will change the handler in Starcounter (and Launcher) to decode the partial URL:s before cal

[2016-04-28 13:00] malx122 commented on #3502
But as I said, with 3 minutes of prepare time (I have of course implemented a workaround), I can show you with stepping in the code.

[2016-04-28 13:01] chrhol commented on #3539
Just adding one point from #3527, the partial URL:s should be encoded to be able to have partial URL:s that contains parameters.

[2016-04-28 13:02] chrhol commented on #3498
Solution for this is in #3539. Will close this issue and add a new one that only contains the server-specific tasks.

[2016-04-28 13:02] #3498 closed

[2016-04-28 13:08] chrhol opened #3541 "Clean up serverside code concerning htmlmerger."
When the parts for the clientside is in place for #3539 the following steps should be done:
- Hack in serializer that generates the `Html` property should be removed.
- Clean up interface `IResource`. The method `GetHtmlPartialUrl()` should be removed. (For this step Launcher probably needs to be updated as well since it uses it in one place)

[2016-04-28 13:09] chrhol commented on #3539
Added issue for serverside tasks and updated the first comment with the link.

[2016-04-28 13:11] chrhol commented on #3528
This part will no longer be used when #3539 is in place. Will close it when I can confirm it.

[2016-04-28 13:25] chrhol commented on #3373
I might have been a bit too quick in making this assumption. The inner object cannot use the default template since you can have more than one instance of the outer template

Consider this example:
[code]

Here you will have two instances of the same template, and the template for `InnerObject` is, and should be, two completely different instances. So the way to access inner templates is throught

[2016-04-28 13:25] miyconst commented on #3528
Yes, let's close this issue then.

[2016-04-28 13:46] miyconst commented on #3373
Hm, does this mean that I can change the "bind" property per instance and not per class?

[2016-04-28 13:56] chrhol commented on #3373
It gets a little confusing. You can change it per instance of the template (or class if you will) but not per instance of Json. Technically you could have one instance of the template for one instance of Json, however this will not be performant at all.

We haven't really promoted this, we aways use the default template, but you *can* if you like do as the above to have separate templates that are

[2016-04-28 14:08] miyconst commented on #3373
I am still puzzled. Any JSON can be attached to any other JSON.

So, if we have `A`, `B`, `C` classes, then I can set template values by:

[code]

Now, if `B` belongs to `A` I have to change it:

[code]

Now, what will happen if I attach `A` as a property of `C`? I have to reset all the template settings using `C.DefaultTemplate`?

[2016-04-28 14:53] chrhol commented on #3373
Yes, I can understand that. I feel a bit confused trying to find some good way to explain it as well :)

Maybe part of it's the `DefaultTemplate` that sometimes should be used and sometime not. I will get back to you, need to be think about this a bit.

[2016-04-28 14:55] warpech commented on #3495
It was decided yesterday that we don't remove htmlmerger, but we are removing a "Html" property from the namespace root level in the serializer. @tomalec will move that part of the logic to `starcounter-include`: https://github.com/Starcounter/Starcounter/issues/3539

[2016-04-28 14:55] #3495 closed

[2016-04-28 15:57] bigwad opened #3542 "App doesn't serve request while stopping another app in the same database"
I have two apps running. The first app stops serving requests with 404 while another is stopping. Everything goes fine again once the second one is stopped.

cc @alemoi

[2016-04-28 16:13] alemoi commented on #3542
When stopping an application, the codehost restarts, meaning that handlers are re-registered. Meaning that there is a moment when all codehost handlers are unregistered, because the whole sccode processes shuts down. Its current design, I don't think I can do much about this. What do you think @dan31 ?

[2016-04-28 16:21] atifwaqar commented on #3494
Sorry for the delay, Luckily our code was not crashing and we did not need to restart the apps.

[code]

[2016-04-28 17:01] dan31 commented on #3542
@alemoi true, in current design (stop app = restart codehost) not much you can do. This is until dnx, to conclude.

[2016-04-28 17:02] #3542 closed

[2016-04-29 05:37] per-samuelsson commented on #3542
I can just confirm @alemoi's conclusion, this is our current 2.x hosting implementation and by design, and nothing we really can change. The alternative would have been to use AppDomain's instead of processes initially, but we chose not to, and hence we get this behavior.

[2016-04-29 07:04] k-rus opened #3543 "Cannot create Starcounter application in VS 2015 Update 2"
I have installation of Starcounter from local source built yesterday. Starcounter was installed after I updated VS2015 with Update 2. I create a Starcounter application. After I pushed button to create I got the following message:

![cannotopenscproject](https://cloud.githubusercontent.com/assets/1726044/14909691/c5304688-0de6-11e6-8758-460781685726.png)

After pressing OK in the error window, VS

[2016-04-29 07:06] dan31 commented on #3535
@andwah bump

[2016-04-29 07:22] bigwad commented on #3542
Technically, it's possible, once we can run many IWP against the same database (https://github.com/Starcounter/CompanyTrack/issues/64#issuecomment-210401741). We may start new codehost, allow it to register handlers,switch processing from old codehost to the new one and finally stop old codehost.
Even if won't go this way now, probably it makes sense to keep this issue on track to ensure dnx won't

[2016-04-29 07:23] chrhol commented on #3373
I started writing down an answer, but I'm not sure it makes sense. The `DefaultTemplate` messes it up. I think we need to change so that `DefaultTemplate` is not public, or maybe removed (doesn't really matter if we hide it then it can be changed whichever way). It should not be used by applicationcode, since it is not always correct to use it.

I guess it depends on how A, B and C are declared. A

[2016-04-29 07:24] chrhol commented on #3373
We could implement a method in the codebehind, that will be called when the template is instantiated. The template itself is sent in as parameter. This will allow setting metadata during creation (like bindings) of the template. This method would also be called for all inner classes if it is declared. Also we are in control of when it's called instead of depending on the static constructor, which

[2016-04-29 07:33] per-samuelsson commented on #3542
Yep, that's the idea. My thinking is that once we support the new multi-host / database design, the default in development scenarios will be to isolate apps one per process. That will mean stopping one app is not affecting the others.

And that we supplement that with a feature that allows stopping apps in multi-app hosts (normally in production) using a scheme something like this:

* Spawn a new

[2016-04-29 07:40] miyconst commented on #3373
I really like your idea with the `Init` function!

- We rid of `DefaultTemplate` and static constructor.
- Able to set different settings per each instance.
- Don't have to keep initialization code in the `OnData` method and then set `this.Data = null` to invoke it.

[2016-04-29 07:50] k-rus commented on #3502
Thank you for posting the code. `GetOffsetKey` can be called when `MoveNext` failed and thus  the key cannot obtained. Can you verify this? What is the value of `count` when `GetOffsetKey` is called? Can you try the following code, which is slight modification of your code?

[code]

[2016-04-29 08:05] k-rus commented on #3502
You don't need too. I was in branch `pnext` and got problem that no results are emitted. Now I switched to branch `develop`, which corresponds to your version, and it seems I was able to reproduce your issue. I will investigate more and report here.

[2016-04-29 08:08] k-rus opened #3544 "pnext: An SQL query does not produce result while expected"
In the following code the first assert is hit, i.e., the query did not emit any results. This part works correctly in develop. It was found during investigating #3502.

[code]

[2016-04-29 08:48] malx122 commented on #3502
Ok, good! (I had removed a part of our code that checked if it was finished enumerating or not before posting, it do some more "app"-specific things not affecting the enumeration)

[2016-04-29 09:07] malx122 opened #3545 "Corrupt DB?"
I started to get failed startups with messages like this on the local machine:
[code]
And then when restarting after `staradmin kill all` I get this all the time:
[code]

[2016-04-29 09:18] dan31 commented on #3545
cc @eriohl @k-rus
On 29 Apr 2016 11:07, "David Rosendahl" <notifications@github.com> wrote:

[2016-04-29 09:22] alemoi commented on #3494
Thank you @atifwaqar! Wow, for me it seems that every single step is extremely slow! And some steps are super extremely slow! Reminds me of situation that @mtornwall had, but with gateway. May it be related that scservice and subsequent processes start with some super low priority? What the overall machine performance? Usage of CPU when you try to start Starcounter? Feels like its 100% used during

[2016-04-29 09:28] k-rus commented on #3543
I downloaded latest nightly for both develop and pnext and both worked successfully. So the problem is only related to development environment and can be local to my machine.

[2016-04-29 09:29] malx122 commented on #3545
2.2.1872

[2016-04-29 09:33] per-samuelsson commented on #3494
Thanks a lot for helping us with this @atifwaqar!

@alemoi

Well, they are clearly slower than those from our machines, but the *relative* slowness is very compatible to what we found. Booting up an empty code host is like 90% of the total time, and out of that, this step

Starcounter.Host: Database connected.: 05.36.30.791

is like 90%. That's 2,5 minutes the code host just wait for database to b

[2016-04-29 09:38] mtornwall commented on #3536
I can confirm that the fix resolves my problem. I just managed to unload 33 million objects without issue.

Thanks @k-rus !

[2016-04-29 09:58] mtornwall commented on #3494
My two cents:

I've seen similar startup times (perhaps not as bad as ten minutes, though) while conducting scalability tests.

My experience has been that starting a large database doesn't take take that long *in itself*. For example, the database on my development machine has tens of millions of records, and it generally starts in less than ten seconds. Instead I've tended to experience these sl

[2016-04-29 10:04] eriohl commented on #3545
Certainly looks to be something wrong with the database structure. We recently fixed an issue related to metadata that messed up the database but I can't see if this is related. Anyway: If you could make the database available to us we'll look into this promptly (we need the image files and the transaction log)?

[2016-04-29 10:36] malx122 commented on #3545
I have them stored but do not want to upload them public. Contact me via chat and I will give you a link

[2016-04-29 10:45] k-rus commented on #3536
Wow

Thank you for confirming!

[2016-04-29 10:46] eriohl commented on #3545
Chat? Like gitter? Is this a production database?

[2016-04-29 11:01] malx122 commented on #3545
Google hangout? Skype? Yea, I had a copy of a production database locally to test things. (However it has worked for a long time before this happened so it was not a problem in the copy/move process)

[2016-04-29 12:06] eriohl commented on #3545
Confirmed that this is the same bug that was detected and addressed earlier this week (#3532). Thank you for your help @malx122.

[2016-04-29 12:24] warpech commented on #3090
This is now documented here: http://starcounter.io/guides/json/code-behind/

@chrhol, @per-samuelsson please check if it could be improved in your opinion. Otherwise this issue might be closed

[2016-04-29 12:25] #3545 closed

[2016-04-29 12:28] warpech commented on #3086
@per-samuelsson does the current text about `Reuse` in http://starcounter.io/guides/json/json-data-binding/ satisfy your question regarding the concept of inheritance?

If yes then this issue can be closed. Otherwise please suggest changes to the text.

[2016-04-29 12:31] mtornwall opened #3546 "Unique constraint not enforced on delete"
See the code below for a concise description of the problem.

This problem mostly manifests itself on reload, where the constraint *is* enforced. We end up in the awkward situation of having a working database that, when unloaded, cannot be reloaded.

Frankly I'm not sure what behavior I can reasonably expect from this. Clearly the delete cannot fail, doing so could give rise to "immortal" objects

[2016-04-29 12:38] bigwad opened #3547 "pnext: LogStreamer suddenly stopped to stream logs with "An existing connection was forcibly closed by the remote host""
Found it while trying to reproduce #3404.

After successfully processing more than 3M transactions, I consistently get this error:

[code]

App restart doesn't help. No other errors in the log.

cc @linkdata

[2016-04-29 12:41] linkdata commented on #3547
cc @alemoi

[2016-04-29 12:41] linkdata commented on #3547
You restarted the LogStreamer app on the upstream server?

[2016-04-29 12:42] bigwad commented on #3547
yes

[2016-04-29 12:50] k-rus commented on #3546
Thank you for reporting.

I remember there was discussion if NULL values should be treated unique (as in SQL standard) or not. @eriohl ?

@mtornwall
If you don't define unique index, then you should be able to reload the database, shouldn't you?

[2016-04-29 13:00] mtornwall commented on #3546
Yes, the fix is to drop the indices, reload the database, delete the bad rows, and then recreate the indices. But I think this needs to be handled consistently. It's no good to have two conflicting behaviors.

[2016-04-29 13:05] andwah commented on #3535
Fixed and pushed to develop.

[2016-04-29 13:09] linkdata commented on #3547
Limitation of SC websocket implementation. Looking into workarounds.

[2016-04-29 13:13] chrhol opened #3548 "Puppet inputhandler is called with the incorrect appname set."
It's possible to have an inputhandler when running several apps that uses the same TypedJson (reused between several apps) that is called with the wrong appname set. This leads to incorrect session data.

The cause is that the appname is stored on the template (`Property.cs`) and that one is set when the inputhandler is called. This is incorrect since the template might be (and in this case is) sh

[2016-04-29 13:25] k-rus commented on #3546
So I guess NULL values are not unique currently, so two null values violate unique constraint. However, deleting an object does not affect references to it, since it is expensive and complicated. (Objects do not know who has references to them. Thus deleting them does not update the reference value to null)

This definitely brings inconsistent behaviour described above.

cc @eriohl @dan31

[2016-04-29 13:33] eriohl commented on #3546
As I see the inconsistent behavior is that the unload changes the value stored in the column to undefined even if a value is stored (id of the target record). You are allowed to set a reference to a value that doesn't exist by design. The unload should then not change the value of the column because the target does not exist.

[2016-04-29 13:35] andwah commented on #2453
Messageboxes is now "TopMost"

Fixed 5a70da8ca6129dacd1f30bbcee8e5682b4cb626a

[2016-04-29 13:36] #3548 closed

[2016-04-29 13:38] chrhol commented on #3548
Pushed to develop and soon merged to pnext.

[2016-04-29 13:49] mtornwall commented on #3546
@eriohl So you're saying that:

[code]

Should instead be:

[code]

With `object 1` being a reference to the `Bar` that was deleted?

[2016-04-29 14:01] eriohl commented on #3546
I suggest that the source of the inconsistency is that it is not as in the second example yes.

[2016-04-29 14:41] alemoi commented on #3547
Yes, this is the same problem as with maximum upload size in HTTP. For now I will write log warning entries that socket is closed because of too big upload. Its quite a big thing to fix, if we want to enable any size streaming to code host.

[2016-04-29 15:18] bigwad opened #3549 "pnext: LogStreamer regularly reopens transaction log"
That is bad for performance.

Probably, such log messages point to the root cause:

[code]

cc @linkdata

[2016-04-29 15:28] linkdata commented on #3549
Out-of-order delivery of transactions indicate a transport layer problem.
Run with @logfile to get detailed log on both server and client transmissions. You can search the logs to find the transaction with that ID, and inspect the surrounding transactions to see what happened.

Usually, the client will send in-order, the server network will recieve them in-order, but the SC application on the serv

[2016-04-29 18:00] alemoi commented on #3547
I have added logging of warning of maximum upload size (which is defined in `scnetworkgateway.xml` in `MaximumReceiveContentLength`) for all protocols.

[2016-04-29 23:02] alemoi commented on #3549
As we discussed before the problem was in pushing data from different schedulers (when the order was controlled), and since there are several IPC channels to the gateway one message can arrive faster then another. By architecture, each scheduler has an independent IPC channel to each gateway worker, and because of this design there are certain problems like above. We should think of redesigning th

[2016-04-30 06:55] dan31 commented on #3549
Currently there are two options. Either we find a fix for this in the existing structure, since the log streamer should be able to work for months and years without any ```kill all``` and so on. Starconuter instances with log streamer must survive nuclear war and all the nuclear winter thereafter. OR (which is a new info which we've discussed just recently with @eriohl and @bigwad) we actually rep

[2016-04-30 07:53] eriohl commented on #3030
I've done some work on to allow a larger number of (and thus individually smaller) storage memory segments as re-implemented support for releasing segments to shrinking storage memory in **pnext** (this will not work optimally however lacking storage memory defragmentation).

But lacking scenarios to work from I can't do much more. So killing project for now.

[2016-04-30 07:53] #3030 closed

[2016-04-30 07:54] eriohl commented on #2884
Project canceled.

[2016-04-30 07:55] eriohl commented on #2540
Project canceled.

[2016-04-30 07:55] #2540 closed

[2016-04-30 08:56] alemoi commented on #3494
Yes, that's correct. Everything becomes super slow. The same I remember from the gateway startup log that @mtornwall provided.

[2016-04-30 09:12] dan31 commented on #3030
@eriohl I think when things you prioritise on pnext track get done, we need to go back to this one. We receive questions from potential customers on how to provide cost-efficient multi-tenancy (for scenarios where multiple customers are run on a single machine on its own database each). Basically, as a production instance you don't want to have 256 Mb default memory layout if your customers only r

[2016-04-30 16:04] #2884 closed

[2016-04-30 16:08] eriohl commented on #2883
Removing this from team backlog.

[2016-04-30 16:08] #2883 closed

[2016-04-30 16:08] eriohl commented on #2880
Removing this from team backlog.

[2016-04-30 16:08] #2880 closed

[2016-04-30 16:17] eriohl commented on #2887
Removing process management from team backlog.

[2016-04-30 16:17] #2887 closed

[2016-05-01 06:24] alexanderstc opened #3550 "TT4 assertion"
level0, branch tt4assert, run project tests/transparent_crud_sampletest, db requirements are the same as for tests/kernel_functest

Assertion failed: !"unexpected bit sequence", file C:/starcounter/repo/pnext/level0/cmake_vs2015/src/turbotext4/src/v4/../tt_collation_en-GB.cpp, line 869

CC @k-rus

[2016-05-01 10:25] Ripipip opened #3551 "ScErrSqlExportSchemaFailed (SCERR7001) on starting apps"
I am trying to start our apps on a production server and I get the following exception:

System.Exception: ScErrSqlExportSchemaFailed (SCERR7001): SQL module was unable
to write a schema file to the current temp directory. Failed to load SQL schema
info from file: C:/Users/Administrator/Documents/Starcounter/Personal/Temp/default/default-20160221T131142365/sqlschemas/schema160501121912738180210708

[2016-05-01 12:48] dan31 commented on #3551
CC @k-rus

[2016-05-01 15:55] #3349 closed

[2016-05-01 15:56] alemoi commented on #3529
I have changed the code now for RunSync to always schedule a task and wait for it using manual reset event. This has worse performance, but previous RunSync implementation was anyway slow. As I remember there were a couple of issues related to this. CC @chrhol @andwah to check if previous problems were solved using this patch.

[2016-05-01 17:03] alexanderstc commented on #3550
False alarm.

[2016-05-01 17:03] #3550 closed

[2016-05-02 05:53] per-samuelsson commented on #3549
As it looks as our transition to .NET Core (replacing DNX) will likely be delayed because of all the changes happening with RC2, this could be a good alternative. If we design a scheduler API similar to that of the one we plan for in .NET Core and expose it already, the transition later will be smoother.

[2016-05-02 06:28] dan31 commented on #3549
Yeah, the whole point is that new scheduling is somewhat independent on .NET Core vs .NET 4.6.x. Yes there are details, but they should not be critical. If we do such replacement, we likely unlock normal way to continue developing changes and enhances in kernel and in infrastructure/management. We discussed that option just last week with @eriohl and @bigwad to see what is the best next step to ta

[2016-05-02 07:08] linkdata commented on #3549
I can certainly evaluate it's feasibility.

It's complicated by the fact that this is not just scheduling (that'd be too easy). The scheduler handles Bluestar scheduler contexts and transactions and thread safety as well, and replacing the current one will obviously affect, oh, around 100% of all existing code. Approximately.

So we need to be careful. Who knows the transaction handling code in pr

[2016-05-02 07:22] linkdata commented on #3549
Hold on. The changes @alemoi did to the scheduling should not let this happen in this instance. The LogStreamer executes all receives on the same SC scheduler. I thought that the latest changes would guarantee that Tasks are started in order?

And this is not off-by-one, this is missing a lot of messages.

[2016-05-02 07:49] bigwad commented on #3549
Probably, LogStreamer receives messages out-of-order due to task yeilding (https://github.com/Starcounter/Starcounter/issues/3388#issuecomment-204304545 and https://github.com/Starcounter/Starcounter/issues/3388#issuecomment-204434409)

[2016-05-02 07:56] chrhol commented on #3529
I think we need to fix the code in `Session.ScheduleTask` as well, since it bypasses the scheduling sometimes and executes the task directly. It should probably always call `Scheduling.ScheduleTask`

[2016-05-02 07:56] bigwad opened #3552 "pnext: LogStreamer opens transaction log even if no upstream configured"
For example in one-way master-slave replication, slave opens transaction log. If it fails to open log for any reason (say due to log retention), replication will stop and no way to restart it.

cc @linkdata

[2016-05-02 07:58] bigwad opened #3553 "pnext: LogStreamer tracks transaction log even if no upstream configured"
For example in one-way master-slave replication, slave opens and tracks changes in transaction log. Performance penalty.

cc @linkdata

[2016-05-02 08:04] alemoi commented on #3529
This one I forgot, that it may run directly skipping scheduling. I will check it. Thank you.

[2016-05-02 08:06] alemoi commented on #3549
Thank you @bigwad Just wanted to write about the same possibility.

[2016-05-02 08:09] linkdata commented on #3552
From the README:
[code]

So yes, both connected machines will open their logs. Having no upstream configured has no bearing on it. Why is this an issue?

[2016-05-02 08:12] linkdata commented on #3553
Reading the transaction log should not have a noticeable impact on performance I think. How much performance impact are we talking about here? What's using up the CPU, and how much?

[2016-05-02 08:14] chrhol commented on #3529
I think the things (i.e hacks :)) I added can be removed if this is changed. They shouldn't be needed if the task is always scheduled.

There is one case when there will be a timeout though with this. If `waitForCompletion` is `true` and `Session.ScheduleTask` is called for the same session as currently is active, the scheduled task will never get access to the session, which will lead to an excep

[2016-05-02 08:15] linkdata commented on #3549
I don't think that applies, as the LogStreamer will only have one Task reading WebSocket messages at a time. And they will all run on the same scheduler.

[2016-05-02 08:15] bigwad commented on #3552
Because there is no logical reason to do so in master-slave replication and it makes master-slave impossible to functioning in long term (after slave performs first log retention)

[2016-05-02 08:17] linkdata commented on #3552
Ok, I see. Yeah, that makes sense. I will add "don't open log if we will never send" as a feature request on the LogStreamer.

[2016-05-02 08:30] bigwad commented on #3553
It's about reading and parsing transaction log. Regarding CPU - it takes about the same time as applying transactions. Regarding IO - it performs unnecessary reads from drive, that are not served by OS cache (log writer uses unbuffered IO).

[2016-05-02 08:47] alemoi commented on #3549
Once again: are you sure that messages arrive in order to the gateway? I thought the problem is with sending from different schedulers which causes out of order arrival. The gateway processes them in order and sends them to the same scheduler in case of the same websocket. If there are several websockets then it might be several schedulers.

[2016-05-02 08:53] miyconst opened #3554 "Unable to create array of arrays in JSON"
I am trying to create array of arrays in my JSON view-model:

[code]

But getting the following error on compilation:

[code]

cc @chrhol

[2016-05-02 08:55] chrhol commented on #3554
Thanks for reporting. This exception comes from the F# parser, so something there is not expecting an array. Will take a look.

[2016-05-02 09:36] miyconst opened #3555 "Unable to change database port from administrator"
I am trying to change database port from `8080` to `8081` and getting the following error:

![image](https://cloud.githubusercontent.com/assets/6435556/14951521/dd9f66fc-1059-11e6-9dd6-6a7dfb45deab.png)

![image](https://cloud.githubusercontent.com/assets/6435556/14951529/eb36038e-1059-11e6-8573-998f2f8ca380.png)

Even if an exception occurs, it should be handled and reflected in UI.

[2016-05-02 09:37] miyconst commented on #3555
The database was created automatically by trying to start an app with arguments `-d=playground`. The database was created, but failed to start because the `8080` port was occupied by another database.

The exception reproduces after page reload and after stopping the `default@8080` database.

Hope this helps to investigate.

[2016-05-02 09:41] miyconst commented on #3555
I am also not able to delete this database, because it's "running".

![image](https://cloud.githubusercontent.com/assets/6435556/14951647/cc5edb1a-105a-11e6-9e69-a164961357e1.png)

[2016-05-02 09:48] miyconst commented on #3418
ping

[2016-05-02 09:49] alemoi commented on #3529
Thanks for the input! Now the things are pushed so you and @andwah can test, if previous problems are resolved.

[2016-05-02 10:12] andwah commented on #3529
I just pulled the latest and i will do some testing during the day.

[2016-05-02 10:24] dan31 commented on #3555
@miyconst 2.2.x develop or 2.3 pnext? Both?

[2016-05-02 10:26] miyconst commented on #3555
Found on `pnext`, but I have a strong feeling, that it will be same on the develop, will update the issue once tested.

[2016-05-02 10:50] miyconst opened #3556 "Gateway throws 404 error without a visible reason"
Testing SWO app I found that reloading same page from time to time causes `404` error:

[code]

There are not direct steps to reproduce the issue with 100% guarantee. To cause the issue I open a page and click a link which points to the same page. This sends a `GET` request with `Accept: application/json-patch+json`. At some point `404` returned.

After this `404` response can be seen in response

[2016-05-02 10:53] alemoi commented on #3556
Thank you! Looking at it!

[2016-05-02 11:03] andwah commented on #3555
In develop i tried this:

1. Started 'warehouse' database on port 8080
2. From cmd, `star -d=warehouse1 ....`

```System.Exception: ScErrHandlerAlreadyRegistered (SCERR13003): This handler has already been registered. Can't register URI handler "GET /sc/db/{?}/{?}" on port 8080. This handler is already registered.```

3. Changed port 8080 on `warehouse` to 8081
4. Stopped and Started `warehouse`
5

[2016-05-02 11:07] miyconst commented on #3144
@jwillmer was your question answered? Can we close this issue?

[2016-05-02 11:10] miyconst commented on #3458
@chrhol this is really annoying, could you please take a look?

[2016-05-02 11:16] miyconst commented on #3347
Closing this issue as answered.

[2016-05-02 11:16] #3347 closed

[2016-05-02 11:23] miyconst commented on #3301
Added to the [readme](https://github.com/Starcounter/Starcounter/blob/develop/README.md).

![image](https://cloud.githubusercontent.com/assets/6435556/14953344/1c77d062-1069-11e6-864a-5e89d542a84d.png)

[2016-05-02 11:23] #3301 closed

[2016-05-02 11:26] miyconst commented on #3183
Thanks to @andwah the is a new app called `Database Editor`, now available from the App Warehouse. It provides functionality to find a table by name and edit it's data.

[2016-05-02 11:26] #3183 closed

[2016-05-02 11:30] miyconst commented on #3471
@jwillmer, as @warpech said, currently we do not have high level API for OData services, but you can return anything from `Handle.GET`, all you need to do is compose the string and skip request filters.

[2016-05-02 11:30] #3471 closed

[2016-05-02 11:35] miyconst commented on #3145
There is another option:

[code]

[2016-05-02 11:35] miyconst commented on #3145
@jwillmer, @warpech, @tomalec, can we close this issue as answered?

[2016-05-02 11:39] miyconst commented on #3120
Closing this issue as answered and will be fixed in the new version of SQL Query Processor.

[2016-05-02 11:39] #3120 closed

[2016-05-02 11:46] miyconst commented on #2926
Added a note to the tutorials page:

[2016-05-02 11:46] #2926 closed

[2016-05-02 11:47] miyconst commented on #3555
Okay, then it's only in `pnext`. Changing the title. Thank you for testing.

[2016-05-02 11:51] miyconst commented on #3134
No, the issue is not solved.

It loads only one class which is requested by `SELECT`.

[code]

[code]

[code]

[2016-05-02 11:56] miyconst commented on #3556
I have found this issue might be related to: https://github.com/Starcounter/Starcounter/issues/3418.

[2016-05-02 12:00] miyconst commented on #3418
This issue happens only if the `Session.Data` of the main app replaced. If an included by another app via `Self.GET` and then replaces it's `Session.Data` it causes this issue: https://github.com/Starcounter/Starcounter/issues/3556.

[2016-05-02 12:55] chrhol commented on #3529
Nice! :+1:

I've done some testing using Warehouse/PlaygroundKeeper and can no longer reproduce the deadlock.

Will test a bit more and also try it from a commithook, but so far it looks like it's working fine.

[2016-05-02 13:21] jwillmer commented on #3144
As I understand it is not possible at the moment so the question is answered. I did not close it because I was not sure if you like to support it and use the question as a reminder to implement the feature. If you do not implement it then close it.

[2016-05-02 13:26] jwillmer commented on #3145
I would like to see this solutions in the wiki before closing because it is very helpful.

[2016-05-02 13:39] miyconst commented on #3144
We do plan to support, but we already have set of issues for supporting null-able numbers, that is why this one can be closed.

[2016-05-02 14:30] atifwaqar opened #3557 "Question : How to rollback a transaction"
I have DB transactions and on some locations, I need to rollback everything done in the transaction. An example of what i want to do is :
[code]

I tried `this.Transaction.Rollback();` but it looks like this syntax is only for Code Behind Json.

[2016-05-02 14:38] per-samuelsson commented on #3557
@atifwaqar

AFAIK, rollbacks are normally triggered by raising exceptions from you scope:

[code]

I'm surprised it's not in our documentation, and maybe we have some other API too, but exceptions like that should work at least.

cc @chrhol ?

[2016-05-02 14:59] mtornwall commented on #3557
The JSON view models hold a reference to their transaction. Outside of the view model you don't have this convenience, but you can still get at the transaction using `Transaction.Current`.

[2016-05-02 15:01] atifwaqar commented on #3557
@per-samuelsson I am actually using the same code as you suggested. but i my apps are crashing a lot, and i suspected these "throw exceptions" may be causing any issue.
and i thought may be i'm roll-backing the wrong way.

[2016-05-02 15:05] atifwaqar commented on #3557
@mtornwall
Thanks for the syntax.

[2016-05-02 15:11] mtornwall commented on #3557
and i thought may be i'm roll-backing the wrong way.

They certainly might, if the code that throws the exception is invoked through `Db.RunAsync` or one of the asynchronous `Http` methods without proper top-level exception handling. See #3032.

[2016-05-02 15:18] atifwaqar commented on #3557
@mtornwall This was exactly the case. I was throwing an exception from inside a `Db.RunAsync`.
Thanks :)

[2016-05-02 15:30] dan31 commented on #3557
@chrhol that is a great addition to our recent discussion on transaction management. Could you please allocate a time (probably once working on adopting to changes in transactions) to also put this knowledge into documentation? (I cross-referenced the current issue on a TechComm tracker).

[2016-05-02 16:19] k-rus commented on #3551
Thank you for reporting the problem.
Can you try to move the `*.pl` files into some place that Starcounter doesn't see them and start your apps again? Do not forget to stop Starcounter by `staradmin kill all` before moving them.

Let us know if it helps, but I doubt.

What version of Starcounter are you using? Have you installed new version on top of existing database?

[2016-05-02 20:12] andwah commented on #3529
I have not got any deadlocks during a full day work, usually i get a couple of them.

Good work!

[2016-05-02 21:09] alemoi commented on #3551
I have checked and there are several possible reasons for the failure:
[code]

Current error message is not providing this extra info. So I just added this information which will be available in tonight's nightly after 2.2.1.1961

[2016-05-03 06:57] chrhol commented on #3490
With the changes made by @alemoi in #3529, you can now access a session using `Session.ScheduleTask` from a commithook. Tasks are always executed async, although having `waitForCompletion` set to `true` inside a commithook might not be a good idea.

@miyconst: I think your issue is the same as #2140, the dirtycheck needs to handle deleted objects. I will copy your comment to that issue instead. It

[2016-05-03 07:02] chrhol commented on #3529
I haven't got any deadlocks either and I also tested scheduling from commithooks and that works fine. I think we can consider this issue resolved!

[2016-05-03 07:03] chrhol commented on #3522
@alemoi have now fixed `Session.ScheduleTask` and `Scheduling.ScheduleTask` and after his changes I can no longer reproduce this issue.

Will consider it resolved and close.

[2016-05-03 07:03] #3522 closed

[2016-05-03 07:07] chrhol opened #3558 "Make sure Session is correctly used."
A `Session` is bound to a scheduler, but verification that it's used from the correct one is only implemented in a few places, which might lead to undefined behaviour. Also since we use a lock to assure that only one thread is accessing a session at a time, we need to secure that no state is accessed without first getting the lock.

- `Session.Use` should check that it's called from the same sched

[2016-05-03 07:08] chrhol commented on #3490
I will consider this issue resolved and close it. If you still have problems with this @malx122, ping me and I will reopen it.

[2016-05-03 07:08] #3490 closed

[2016-05-03 07:13] chrhol commented on #3458
Sorry, missed this one. I think this should be considered a bug. Setting the `Data` property on an unbound array should have the same result as setting a queryresult directly.

These two snippets should be equal:
[code]

[code]

I will fix it.

[2016-05-03 07:21] mtornwall commented on #3558
Well, based on the bug description it sounds like such applications are already broken. :-)

I'll take predictable crashing over UB any day of the week.

[2016-05-03 07:34] miyconst commented on #3558
+1

As of now I can't remember any application which would use Starcounter bug to hijack session of another app and communicate between each other that way. When needed to access another session we use `Session.ForAll` or `Session.ScheduleTask`.

I still don't understand whether, when, and how `Session.Use` should be used inside applications.

[2016-05-03 07:40] chrhol commented on #3558
Yeah, maybe we should remove that one and always use `ScheduleTask` instead.

[2016-05-03 07:44] mtornwall commented on #3558
I use this pattern (and its predecessors `StartUsing` and `StopUsing`) extensively to receive the results of asynchronous background jobs. If I can do that using `ScheduleTask` instead I have no objections to the removal of `Use`.

[2016-05-03 07:49] mtornwall opened #3559 "KB Request: What changes to database classes are considered safe?"
In a conventional RDBMS I can use `ALTER TABLE ...` statements to synchronize changes to the models with the persistent representation. Since Starcounter removes this distinction I think there ought to be some documentation describing how I can safely change the definition of a database class without breaking existing data.

Some relevant questions:
1. If I have a database class that has some inst

[2016-05-03 08:04] k-rus commented on #3502
The reason for this issue is that offset key is not implemented for queries with ORDER BY or GROUP BY clauses. See #71.

[Our documentation](http://starcounter.io/guides/sql/offsetkey/) needs to be updated with unsupported syntax. It can be good idea to raise exception in this case. Otherwise keep returning null as now.

This issue will be closed as duplicate after fixing documentation.

[2016-05-03 08:10] ivarbergman opened #3560 "Installer does not set the provided path to Personal folder."
Hi! I just installed the `Starcounter-DevelopNightlyBuilds-2.2.1.1974-Setup.exe` and choosed to make setting changes during the installation process. I changed the path to the Data folder.

But when I look in `C:\Program Files\Starcounter\Configuration\Personal.xml` my given path is replace with the default `C:\...`

/Ivar

[2016-05-03 08:13] atifwaqar opened #3561 "Assertion failed (!""Reached maximum number of tries to obtain a global lock."")"
I have this crash on 3 of my Live servers. but the strange thing is that this Exception occurred only once on each server. I am trying to investigate the reason of these crashes, but so far I have no idea what actually happened.

Time Stamps of crash on all servers :
[code]

Exception message on server 1 :
[code]

Exception message on server 2 :
[code]

Exception message on server 3 :
[code]

[2016-05-03 08:18] alemoi commented on #3561
Thanks for reporting! I will compare versions with the fix that was made regarding this.

[2016-05-03 08:24] mattiasmak commented on #3560
Mine was: <server-dir>\\Mac\Home\Documents\Starcounter\Personal</server-dir>
Changed it manually to: <server-dir>C:\Starcounter\Personal</server-dir>

[2016-05-03 08:32] atifwaqar commented on #3561
And i forgot to mention the SC version. I have 2.1.1742. I am aware of your latest Stable build, i will install it tonight.

[2016-05-03 08:33] ivarbergman commented on #3560
Yes, manually changing the path in `C:\Program Files\Starcounter\Configuration\Personal.xml` solved the problem.

[2016-05-03 08:50] alemoi commented on #3561
Hi @atifwaqar
Yes, your installed version does not contain the fix regarding this issue :)
Please install the latest and I'm glad to hear from you again :)

[2016-05-03 08:53] alemoi commented on #3560
Thank you for reporting!
Was it a fresh installation or Starcounter was previously installed on the machine?

To what in particular the path was changed? Thank you.

[2016-05-03 08:59] atifwaqar commented on #3561
@alemoi Thanks for your response. I will upgrade my SC installations tonight.

[2016-05-03 09:07] ivarbergman commented on #3560
Hi, It was our stage server that had an existing sc installation. I used this `F:\Starcounter` as path during the installation. `F:` is an mounted data disk on Azure. We have had this path for a long time, without any problems.

But, maybe there is some problems related to network mounted disks.

Usually we get a warning that we should make sure that the path is writable. But I didn't get that mes

[2016-05-03 09:15] malx122 commented on #3502
What? Not supported with ORDER BY? That kind of defeats the whole purpose of OffsetKey, how many times do you want to use part of a table unsorted?

[2016-05-03 09:28] alemoi commented on #3560
@ivarbergman I will try to recreate the situation you have. Let's see what comes out!

[2016-05-03 09:29] dan31 commented on #3502
@k-rus I think the purpose of this issue is to give people an understanding on how to deal with the situation of feature-incompleteness of SQL implementation. For that particular question, the main question is: what people should do in the situation when ```OffsetKey``` is not fully supported across all SQL statements. What would be your answer? Please provide it (as a reply to here or as a part o

[2016-05-03 10:30] k-rus commented on #3502
Offset key is a feature, which unfortunately was not completely implemented. The issue to implement support for queries with ORDER BY is #71 and it is currently in backlog.

Actually Offset key works for some queries with `order by`, when the query plan reads index in the same order as required by `order by`.  This can be forced in rather simple queries by having necessary indexes and hinting to u

[2016-05-03 10:37] malx122 commented on #3502
I don't understand, I DO have an index that is exactly like the query as posted above? Do I need to hint it as well even though it has the properties in exactly the same order e.t.c...?

I'm guessing the custom solution you are talking about is to start the search at 0 and iterate to a stored item instead?

[2016-05-03 10:53] k-rus commented on #3502
I cannot answer about your particular case. You need to look into the query plan (which I actually asked about it above as it would significantly reduce time for the issue investigation). I can speculate that it does not work in your specific case due to compound index and the sorting property not being the first. I doubt that the current query optimiser has a rule to recognise this specific case

[2016-05-03 11:00] chrhol commented on #3458
Pushed a fix for this to develop and pnext. When setting a new dataobject, existing items are removed.

[2016-05-03 11:03] malx122 commented on #3480
Any updates about this?

[2016-05-03 11:10] Ripipip commented on #3551
Today I am unable to reproduce it. If It occurs again I will try and update to latest starcounter version though.

[2016-05-03 12:13] atifwaqar commented on #3557
My DB.Transact code is as following :
[code]

And I have a constructor for `AdFenix.Database.Campaign` as following (where i have the rollback logic) :
[code]

After my rollback code executes, i get the following exception :
(Note : Campaign.cs:line 302 have the code `Transaction.Current.Rollback();`)
[code]

So my question here is, When I execute the rollback command, isn't the control suppose to

[2016-05-03 12:13] warpech opened #3562 "Do Puppet web apps need"
Currently, all the sample apps (and [implicit standalone mode](https://github.com/Starcounter/Starcounter/blob/3e6d5b2cec36e12e09c06d1968b8f8709c33d37d/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs)) have the following code that forces Polymer to use shimmed Shadow DOM instead of Shady DOM.

[code]

@tomalec, @miyconst - do we really need this? If I understand correctly, there is n

[2016-05-03 12:16] k-rus commented on #3502
I created a similar case to the above, then the query plan is:

[code]

It is not necessary that @malx122 case is the same. It can be different, since his application is more complex.

The query plan shows two problems:

1. As @malx122 pointed out the sorting of the query result seems to be unreasonable. This requires investigate and can improve performance of similar queries, but it does not look

[2016-05-03 12:16] alemoi commented on #3480
Checking this right now. Did you get again? Under what circumstances?

[2016-05-03 12:17] miyconst commented on #3562
This is only needed for performance. Native Shadow DOM works much faster in Chrome, compare to the shims.

Note that the puppet apps work in FF and IE, which no where near support native Shadow DOM.

[2016-05-03 12:19] warpech commented on #3562
Polymer does not use Shadow DOM shims. It uses Shady DOM. Is native Shadow DOM noticeably faster than Shady DOM?

[2016-05-03 12:20] miyconst commented on #3562
At least it was told so by Polymer guys on the Polymer Summit. And it was one of their recommendations, to always turn on Shadow DOM if available.

[2016-05-03 12:30] mtornwall commented on #3557
No. The only way to do non-local return in C# is to throw an exception. Since no exception is thrown, control proceeds as usual after `Transaction.Current.Rollback`.

Based on this small glimpse of your code it looks to me as though the case when `classifiedAd == null` is exceptional (as in `ArgumentNullException`?) and should be handled accordingly. Perhaps you could install a top-level exception

[2016-05-03 12:49] atifwaqar commented on #3557
@mtornwall Thanks for explaining.

One last question, and I suspect the answer is `1`, but just to confirm, I see `return;` after `Transaction.Current.Rollback();` in your code :
1. Will this send the control out of Db.Transact only?
2. Will this send the control outside of the function in which we have Db.Transact?

[2016-05-03 13:21] tomalec commented on #3562
The question is: Is the pollyfilled Shadow DOM (if native is not available) faster than Shady DOM?

I suspect it's not.

It would be cool to have at least one benchmark test in Launcher suite. So we could compare those two.

On the other hand supporting shady may also require us to maintain non-encapsulated CSS

[2016-05-03 13:44] atifwaqar commented on #3531
@dan31 & @bigwad sorry for the late response guys, I was stuck with some other crash fixes.

I had a deprecated function, which was using WebBrowser. I dont use that function anymore, but somehow that function was being called on my test server. The error is gone as soon as I removed this deprecated code. But I am pasting the code here, if you guys need to reproduce the error :
[code]

and followi

[2016-05-03 13:45] k-rus commented on #3502
As result I see following tasks in this issue:

1. Document current limitations of offsetkey (and possible solutions)
2. Fix bug of putting fetch offset key operator incorrectly. Since it cannot be put, SQL not implemented error will be produced.
3. Return unsupported error on `GetOffsetKey` instead of null.
3. Investigate removing unnecessary sorting in the case of compound key and equality on ea

[2016-05-03 13:48] k-rus commented on #3551
I am wonder how have you fixed it? As I understood you cannot to get through the problem. Can you describe us what you've done to get through?

[2016-05-03 13:50] atifwaqar commented on #3494
If you guys need that (slow) server's DB dump to check if it takes the same time on your machine, I can help you with that.

[2016-05-03 13:50] malx122 commented on #3502
Will publish my query plan when I can (Have some unresolved other issues making it impossible right now). But no direct comments on the above. Using a uglier count solution for the moment that depends on hooks for changes...

[2016-05-03 13:56] #3418 closed

[2016-05-03 14:00] chrhol commented on #3418
Pushed to develop and pnext (soon).

I don't really get how this could be. Setting `Session.Data` for another app doesn't do anything else then storing the viewmodel on the session. Anyway, lets continue investigating that part in the other issue.

[2016-05-03 14:03] miyconst commented on #3418
Me either, it might be just a coincidence. Thank you for fixing this issue.

[2016-05-03 14:20] miyconst commented on #3556
Exactly same setup of Starcoutner + apps + actions do not produce this error any more, and this is really annoying. The error obviously was there, and @alemoi saw it.

I will close this issue if the error doesn't appear in a while.

[2016-05-03 14:23] dan31 commented on #3556
@miyconst We have to reproduce it instead, no chance for it to survive. @alemoi maybe there are some log entries relevant to the issue that we can extract from the machine where it occurred by time.

[2016-05-03 14:28] alemoi commented on #3480
I added writing of correct error in scservice. If you can try the coming nightly on your machines, that would be great!

[2016-05-03 15:30] atifwaqar commented on #3486
I installed SC 2.1.177 some days ago. I have VS Community 2015 installed.
Now i tried to upgrade my SC to latest Stable version, in the uninstall process the setup uninstalled :
1. SC
2. VS 2013 component

But it gave exception on uninstalling VS 2015 component.

as  @per-samuelsson said :

So i used the 2.1.177 version to uninstall again. but still the same, setup fails to uninstall VS 2015 compo

[2016-05-03 15:39] atifwaqar commented on #3486
I have this issue on 2 live servers. The only way to fix this quickly was to install 2.1.177 again. (by adding components).
But i still need to upgrade SC Version on the servers.

[2016-05-03 18:49] atifwaqar commented on #3486
Since these 2 were my live servers, I had to find some way to make them live again, so I uninstalled VS 2015 and SC from both servers, Deleted Starcounter folder. reinstalled SC Version 2.1.1742 which was previously running on both server. And now everything works fine.

There was 1 issue when i installed SC, As soon as I ran the installer, a dialogue box appeared to install `Microsoft Visual C++

[2016-05-04 05:42] per-samuelsson commented on #3486
@atifwaqar

Thanks a lot for taking the time to feedback this, and sorry for any inconvinence we've brought to you. Let me consider your experience for a bit and get back on it.

[2016-05-04 06:45] per-samuelsson opened #3563 "Installer ask to install VC++ Redistributables when already installed"
Reported by @atifwaqar [here](https://github.com/Starcounter/Starcounter/issues/3486#issuecomment-216627549):

The version in use was 2.1.1742.

[2016-05-04 06:46] per-samuelsson commented on #3486
Regarding this:

I made a separate issue out of it: #3563.

[2016-05-04 07:06] per-samuelsson commented on #3486
@atifwaqar

Now I've considered everything you wrote in this [this comment](https://github.com/Starcounter/Starcounter/issues/3486#issuecomment-216566651), and when thinking about it, it seem to be the expected behavior (which of course is sad, but that's the bug I was trying to fix in later versions).

If I understand [this comment](https://github.com/Starcounter/Starcounter/issues/3486#issuecomm

[2016-05-04 07:15] miyconst commented on #3556
@dan31 I would really love to, but in spite of my desperate tries, I am not able to reproduce the issue.

[2016-05-04 07:18] per-samuelsson commented on #3486
Done. And the fix is part of the latest stable, as I hoped for, as hinted by @alemoi [here](
https://github.com/Starcounter/RebelsLounge/issues/16#issuecomment-212109729):

Which contains all the fixes till now, including @per-samuelsson fixes.

That means, when you want to try upgrading those live servers again from 2.1.1742 to new stable (2.2.1834) or a later nightly, do this:

1. Stop all Starc

[2016-05-04 07:28] chrhol commented on #3526
I will just consider this issue resolved. If not, lets reopen it later.

[2016-05-04 07:29] #3526 closed

[2016-05-04 09:59] aloscha commented on #3486
@dan31

I check that on the last stable version (2.2.1834) and last nightly (2.2.1.1995) and that bug not occur more.

[2016-05-04 11:55] warpech commented on #3562
I made some performance tests using a fork of [PolymerLabs/js-repaint-perfs](https://github.com/PolymerLabs/js-repaint-perfs). Below are results:

**Warning. This can kill your browser**

- ["naive" Polymer with webcomponents-lite.min.js](http://warpech.github.io/js-repaint-perfs/polymer/index.html)
- ["naive" Polymer with webcomponents.min.js](http://warpech.github.io/js-repaint-perfs/polymer/ind

[2016-05-04 12:03] per-samuelsson commented on #3481
Took a new iteration on this today, taking off from [previous findinds](https://github.com/Starcounter/Starcounter/issues/3481#issuecomment-211299273), and this time with the aim to catch what's up with:

[code]

By installing an unmanaged profiler and doing mixed-mode debugging, I've finally been able to produce some results (let's just hope they are accurate).

As stated earlier, like > 80% of c

[2016-05-04 12:18] per-samuelsson commented on #3481
I had a feeling the above might be false diagnostics, and I think they might be. So if someone's reading this, give me a moment to test with a sharp Bluestar version first.

[2016-05-04 12:24] mtornwall opened #3564 "Getting the IP address of the client from the session"
As far as I know the `Session` object doesn't currently expose any functions or properties that allow user code to read the IP address of the client that owns the session.

Having access to this information would be useful for security logging etc.

I realize that the "owning client" is somewhat ambiguous, so I'll settle for the last client that touched the session.

cc @chrhol

[2016-05-04 12:26] alexanderstc commented on #3481
Testing on level0 also gives me an impression the time is spent inside db connect.
My 2 rusty öre.

[2016-05-04 12:33] per-samuelsson commented on #3481
Thanks for sharing that. I also still think it's there, but just not spent like my spreadsheets showed, since it seem just not likely that `__get_image_header_read_ptr` could take up so much of that time. It just doesn't make sense.

[2016-05-04 12:52] alemoi commented on #3481
I think its a code generation and linking using LLVM is what taking time. Just a pure guess.

[2016-05-04 12:54] per-samuelsson commented on #3481
Seem the feeling I had might was on to something. Doing profiling on a locally built **release** version of Bluestar revealed something completely different:

![image](https://cloud.githubusercontent.com/assets/2902045/15014708/de4c52ae-1207-11e6-9d17-536a445b5ea8.png)

And thats more in line what I suspected from the beginning, that some kind of compiling / code generation must be in play here. W

[2016-05-04 12:55] per-samuelsson commented on #3481
We think alike. :smile:

[2016-05-04 13:00] per-samuelsson commented on #3481
A few things now are occupying me:

1. Why did LLVM not even surface in debug version profiling?
2. What's up with that 1 second it take every time for the first Self/Node/Http call (described earlier). I'll try to profile that too, while I'm already at it.

About LLVM, I have no clue what options we have to do anything. In my latest tests (using about time booting script), the isolated time to ru

[2016-05-04 13:27] alemoi commented on #3481
Maybe because its an external call to a DLL?

Hmm, yes, indeed interesting. I can check this once have time.

[2016-05-04 13:32] per-samuelsson commented on #3481
Well, why would it show up in release in such case? It's just different builds.

It's superfrustrating actually, because I can constantly show that 1 second penalty by emitting before/after calls to the diagnostics text file. But as soon as I attach debugger/profiler, the call take "no time". :game_die: :anguished:

[2016-05-04 13:51] alemoi commented on #3481
Maybe the delay takes place in gateway? And the reason for this is again LLVM codegen there? @per-samuelsson you can leave this one for me. I'm pretty sure its code generation delay in gateway.

[2016-05-04 14:07] per-samuelsson commented on #3481
Really? OK, sure. I'm starting to get a feeling there is little I can do here once these analysis have been completed anyway, so if you think I should pause for now, I'll do so. Let me know if I can help you investigate in any way further!

Also, would be nice to also find out the catastrophic **absolute** numbers reported by @ivarbergman [earlier in this thread](https://github.com/Starcounter/Sta

[2016-05-04 14:20] alemoi commented on #3564
Just a note: IP address can be saved when the initial HTTP request comes, along with the session string  ID. But you probably know about this solution :)

[2016-05-04 19:24] jwillmer opened #3565 "The operation failed because the current thread wasn't attached"
Why am I not able to use Db.Transact in this code snippets and how can I fix it?

[code]

[code]

[2016-05-04 20:50] dan31 commented on #3565
Guys, @jwillmer finally approached the topic and we need to help him figure out what one can do and cannot do today with Starcounter 2.x when it comes to .NET threads, and how to properly utilise ```ScheduleTask```. @alemoi could you assist there?

[2016-05-04 20:58] warpech commented on #3511
That's the Polymer issue: https://github.com/Polymer/polymer/issues/2497

It seems unlikely to be fixed by Polymer any time soon, because this is unsupported usage. So I guess we are on our own.

Instead of the solution proposed in OT, I can propose a JavaScript test that will find nodes using `querySelectorAll("[onclick] *, [onmousedown] *, [onmouseup] *")`. For every node that does not have a co

[2016-05-04 21:37] tomalec commented on #3539
https://github.com/Starcounter/starcounter-include/issues/9 implemented, should be available in Nightly `>2.2.1.1995`
@chrhol just to note: URL merged on client-side is not handled by current server-side. It is fully encoded, for example `/starcounter/htmlmerger?Products=%2FProducts%2Fviewmodels%2FProductListPage.html`, and current htmlmerger does not handle `%2F` instead of `/`.

Moreover, not al

[2016-05-04 22:29] alemoi commented on #3565
@jwillmer thank you for the question! The problem you are facing is generic and related to execution of Starcounter code on arbitrary .NET threads (code that is not called in Main, handlers or handles). In your example you have a .NET background worker. In this case "Starcounter code" is your transaction execution `Db.Transact`. For the moment, when executing on arbitrary .NET threads, for all Sta

[2016-05-05 05:28] jwillmer commented on #3565
works perfectly, thank you :)

[2016-05-05 05:28] #3565 closed

[2016-05-05 06:02] warpech commented on #3539
@chrhol could you please fix and release a nightly?

Yes. Could you please fix that?

[2016-05-05 07:20] chrhol commented on #3539
Yes, although probably not during the day. We have a holiday (a "red" day) here so we're not working. But I have a couple of things I will fix tonight.

[2016-05-05 09:54] dan31 commented on #3481
@alemoi, if what you guess will turn out to be a case, then we are bounced into a big need of making a more controlled compilation logic.

Here is a simple version of it. Namely:
1) When developers are in dev env, the LLVM compiler is set to fast compilation without strong optimisation. Result is fast dev cycle. Devs get their apps to run in a blink of an eye.
2) When developers put app in prod en

[2016-05-05 12:14] tomalec commented on #3539
Sure thing

[2016-05-05 13:49] warpech commented on #3145
I think that @miyconst's solution is the best one.

Thank you @jwillmer for caring about improving our docs. This is exactly what we need. I will set up a task to write that. I think that this needs to be a subpage on http://starcounter.io

[2016-05-05 13:51] warpech commented on #2926
I have changed the text to say:

[2016-05-05 15:08] alemoi opened #3566 "Star.exe hangs on during star_loop_8_gwworkers_test on a certain machine"
As you know we now have extended daily builds for both pnext and develop. star_loop_8_gwworkers_test  is always failing there (develop). The test uses 8 gateway workers and star.exe to start a codehost. Here is the test: `Level1\src\Server\sccli\star_loop_8_gwworkers_test.bat`

On sctestsrv03 the test is always hanging during Starcounter.Server.Commands. I run it with `--logsteps` so here are the

[2016-05-05 15:12] alemoi commented on #3566
So according to screenshots there only ReadFileNative that brings my attention. I will try to get more info on this.
@per-samuelsson do you have any idea what can happen within these `Starcounter.Server.Commands` calls?

[2016-05-05 15:53] alemoi opened #3567 "pnext: "staradmin kill all" returns error code 999"
As observed during extended daily pnext. Shows error `Access is denied`.
Here is the place in the build log:
https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=3463#_focus=8099

Probably there should be a retry inside staradmin when this happens.

[2016-05-05 17:00] warpech commented on #3564
I might be totally wrong, so @chrhol and @alemoi correct me. But:

Starcounter session is just a long living in Json object. It is not necessarily a web session, so it doesn't know the concept of "IPs". I think the best approach would be to save the request's IP information as a private field in your Json class.

[2016-05-05 18:21] chrhol commented on #3539
Looks like I will not be able to do it tonight. I cannot connect to my computer at the office from home, as usual when it's left idle for a while. And I doubt anyone is in the office (to restart it). I will do it first time tomorrow and upload a new nightly after.

[2016-05-05 18:34] chrhol commented on #3564
I agree with you @warpech. It's should be up to the application if it want to keep track of client-information. One part we need to improve on is this though:

We have no notion of private state today. We should enhance the `Session.Data` property to distinguish between exposed (to clients) and serverside-only state.

Storing values directly in the class declared in the code-behind is not somethin

[2016-05-05 19:10] per-samuelsson commented on #3566
Not instantly, no. :cry: But it looks like the admin server somehow hangs, according to those logs. If you want me to step in and try to track it down, let me know! I guess my initial thing I would do is to try to attach to admin server to see if I could get some info from there. But it's hard when it's not easily reproducible.

[2016-05-05 19:20] per-samuelsson commented on #3567
I've seen this locally several times as well, and I'm quite sure it only happens in **pnext**.

My suspicion is that it relates to the different way back-end processes are managed in **pnext**, possibly relating to that data manager now start the log writer (I think), and killing that process should no longer be done (because it should be killed, reacting to the killing of the data manager). But t

[2016-05-05 19:29] alemoi commented on #3567
Yes, its pnext. Im thinking to put a few retries there.

[2016-05-05 19:32] alemoi commented on #3566
I got a suggestion from @linkdata that it might be related to console output(IO as stack trace also suggests), since it happens only when run by TeamCity. But then I wonder why its only this test and only with special configuration, 8 gw workers...

[2016-05-06 05:48] per-samuelsson commented on #3566
That's a good suggestion. But then again, this is the admin server - how much does it write to the console? Maybe it something with that routing of that? I'm not sure the details of console routing, but maybe it redirect the code host streams and something there make it fail?

Is it constantly reproducible on that server, @alemoi? If so, maybe we can add more diagnostics and/or disable console rou

[2016-05-06 06:15] per-samuelsson commented on #3566
I've studied the admin server code a bit, and I think it's likely that the hang occur during execution of [CommandProcessor.SetCompleted()](https://github.com/Starcounter/Starcounter/blob/57c6d056c5a43e4ffabbea3f261e3f30219220b1/src/Server/Starcounter.Server/Commands/CommandProcessor.cs#L200). Probably due to some code that react to the setting of that event by doing something that mess with comma

[2016-05-06 06:55] linkdata commented on #3547
I will add splitting transactions into multiple smaller parts as a feature request in LogStreamer.

[2016-05-06 06:55] #3547 closed

[2016-05-06 07:03] linkdata commented on #3549
There is nothing LogStreamer can do in this situation except detect the transport layer error (which it does) and restart the session (which it does).

[2016-05-06 07:03] #3549 closed

[2016-05-06 07:08] miyconst commented on #3562
@warpech thank you for the nice numbers, I am also surprised. I agree, that now we can disable it.

[2016-05-06 07:18] dan31 commented on #3549
@linkdata @alemoi I think this issue isn't about a logstreamer-s problem. It is about a performance problem that is caused by a specific reason in Starcounter. What should be a resolution? What is that problem in WebSocket transport that has to be fixed? I cannot draw it from this issue. Once the problem is clearly and specifically identified, a separate issue should follow regarding fixing it. @a

[2016-05-06 07:19] alemoi commented on #3566
Yes, its constantly reproducible on daily extended. One should just enable this test and disable others. While thinking about it, I am actually thinking to have an env variable to disable all tests but specified in this env var separated by commas :) Will add this to the build system, when back on Tuesday! Yes, some extra diagnostics would be helpful. Right now, as you can see in the batch, I enab

[2016-05-06 07:31] linkdata commented on #3549
I don't really see why opening the log file should be such a performance-intensive operation. Parsing the file structure should be a limited by sequential disk I/O in the worst case and shouldn't use a lot of CPU since it's static data in a known format.

If the file format has forward references (as you write the file, you leave blank spaces you can fill in with "skip here to go to this record nu

[2016-05-06 07:36] linkdata commented on #3566
Redirecting standard I/O changes the execution patterns of the redirected application, as the parent application doing the redirection will usually have different buffer sizes, response times and locking patterns from the operating systems console subsystem.

[2016-05-06 08:01] andwah commented on #2362
I did this test and i as @malx122 expected that both should return the same result. But they did not.
[code]

[2016-05-06 08:02] warpech opened #3568 "Remove usage of dom-bind-notifier from sample apps"
Since Starcounter 2.2, dom-bind-notifier is not used. It can be removed from sample apps and prefabs

[2016-05-06 08:03] warpech commented on #3568
Complete usage can be found here: https://github.com/search?utf8=%E2%9C%93&q=dom-bind-notifier+filename%3A.html+user%3AStarcounter+user%3AStarcounterSamples+user%3AStarcounterPrefabs+user%3AJuicy+user%3AStarcounter-Jack+user%3APuppetJs+user%3ASmorgasbord-Development&type=Code&ref=searchresults

[2016-05-06 08:04] k-rus commented on #2362
See the discussion above. It is correct behaviour according to standard semantics of NULL.

[2016-05-06 08:09] atifwaqar opened #3569 "Image file writer unable to acquire the SE_MANAGE_VOLUME_NAME privilege."
I keep getting a warning, It is not effecting my Apps, so nothing to worry about.
I tried to figure out the reason of this warning, but no clue yet.
The only thing I noticed is that is somehow coupled with "Gateway XML" warning.

![image](https://cloud.githubusercontent.com/assets/4388707/15067617/062dd994-1372-11e6-9886-7bfe96fa2359.png)

[2016-05-06 08:09] andwah commented on #2362
@k-rus Yes i know but i **expected** the result to be different, so maybe many other users will too?
So with this little example we can see what the result will be.

[2016-05-06 08:11] dan31 commented on #3569
@atifwaqar thanks for the question! I looked into our tracker and there is quite some feedback on this matter: https://github.com/search?p=1&q=org%3AStarcounter+SE_MANAGE_VOLUME_NAME+&type=Issues. However, I couldn't find the exact way to address the warning. What would be a recommendation? Run Starcounter with Admin privilege (which should also, in general, improve performance)? cc @eriohl @per-s

[2016-05-06 08:14] chrhol commented on #3557
I missed this issue, my apologies.

`Transaction.Current` will always return null inside a `Db.Transact`. The *only* way, currently, to do a rollback from a `Db.Transact` is to throw an exception.

Now, for the pattern suggested above, the rollback will still happen since calling `Transction.Current.Rollback` will result in a nullreferenceexception.

So the correct pattern to perform a rollback fr

[2016-05-06 08:16] k-rus commented on #2362
We will not change the semantics of NULL just like this, since it might bring other issues, which you don't think of. We have issue #2217, which is suspended now, where we discuss operators in the presence of NULL. We understand that standard semantics of NULL has shortcomings, but we don't want to replace one shortcomings with another shortcomings.

If you have good proposal with solid fundamenta

[2016-05-06 08:33] k-rus commented on #2362
The problem is that semantics of NULL is developer specific. It might be just not-set value, but might mean unknown value. The two options mean different behaviour. In the second case it is not possible to say if one unknown value is the same or not as another unknown, thus the result is NULL, i.e., unknown. If the first semantic is meant then `IS NULL` has to be used to give the hint to our engin

[2016-05-06 09:15] mtornwall commented on #3557
Wow... I had no idea; clearly this is why my transactions have been rolling back as intended:

[2016-05-06 09:20] k-rus opened #3570 "Cannot install Starcounter on Parallels"
It seems that the installer is broken. By default the installer wants to install Starcounter into the user folder, which is usually a mounted network folder on Parallels (*\\psf\Home\Documents\Starcounter*). I manually change it to a folder on local drive *C*. However, the installer ignores my choice and creates the server folder in the default folder, i.e., the network one. And Starcounter do not

[2016-05-06 09:20] k-rus commented on #3570
Tested with *Starcounter-DevelopNightlyBuilds-2.2.1.2038-Setup*

[2016-05-06 09:28] dan31 commented on #3570
This might be related to https://github.com/Starcounter/Starcounter/issues/3535.

[2016-05-06 09:32] k-rus commented on #3570
Exactly. I guess the fix of #3535 was not properly tested and introduced this bug.

[2016-05-06 10:02] warpech commented on #3538
@aloscha, could you please make this?

As proof-of-concept, create a class `Partial.cs` in Barcodes app with three static methods (explained by @tomalec above). These methods should just be one-liners that wrap the existing functionality used in showing partials from other apps.

When done' verify that it works with other apps (test Launcher + Products + Barcodes).

After we are happy with this pr

[2016-05-06 10:08] warpech commented on #3568
I need help:

- @miyconst could you please help me out with Products app?
- @aloscha could you please help me out with Chatter? Do it immediately on the `master` branch. This needs to be done after https://github.com/StarcounterSamples/Chatter/issues/9
- @ubbeK could you please help me out with the remaining apps?

Changes should be done directly on `master` branch.

Wherever there are styles in t

[2016-05-06 10:12] miyconst commented on #3568
Yes, I can take the Products app.

https://github.com/StarcounterSamples/Products/issues/13

[2016-05-06 10:17] per-samuelsson commented on #3569
Yes, this is an old and known issue. It's "just" a warning that file IO could be faster if the user launching that process had that given privilege. I think the way to solve it is to do some Windows-configuration on the user account.

Here's a relevant search that will point to such issues:

https://www.google.se/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=SE_MANAGE_VOLUME_NAME

Make sur

[2016-05-06 10:17] warpech commented on #3568
Sorry, that was a typo. I meant People

[2016-05-06 10:19] per-samuelsson commented on #3566
I've had this idea too, from time to time, and wished it was there. Would be really great to be able to just white list the tests you want to run, starting from 0.

[2016-05-06 10:25] eriohl commented on #3569
You need to run with elevated priviledges (as administrator) or in session 0 (as a det service) for the process to be able to acquire this priviledge. Thus you will aways get this warning when  running user mode.

[2016-05-06 10:53] miyconst opened #3571 "Database crashes when trying to access a nont existing JSON["property"]"
Found in Launcher, when an app responses with a `Json`, not a `Page`.

[code]

cc @chrhol

[2016-05-06 10:57] miyconst commented on #3571
The returned `Json` should be without  `.json` file to cause this error.

[2016-05-06 11:26] chrhol commented on #3571
The problem is that the Json does not have a template. I'm not sure (as we discussed) that this is ok, since the whole point of TypedJson is to have the template define what values the instance has. Also there is a risk that other places will also not work. For example trying to serialize it, will probably fail (or maybe return empty result).

Anyway, this part is solved and pushed to develop. Whe

[2016-05-06 11:44] atifwaqar commented on #3481
@dan31 Sure, I can help.
maybe 1 way is to share the DB from my slow server? or whatever you guys suggest.

[2016-05-06 11:59] chrhol commented on #3527
A fix for this together with @tomalec changes is pushed to develop. The partial url:s are encoded when the handler for the htmlmerger is called and decoded before the call to `Self.GET`.

[2016-05-06 12:03] andwah commented on #3570
I did some investigating and it turns out it's been a bug since day one, so it's not related to #3535.

When an warning was shown in the installer (a yellow circle beside the input field) the entered value was ignored and previous value was then used.

[2016-05-06 12:07] chrhol commented on #3541
- The hack in the serializer is removed.
- `IResource.GetHtmlPartialUrl` has been marked as obsolete and all usage of it have been changed (both internally in Starcounter and in Launcher). Will keep it for some time to not break older versions of Launcher.

Will keep this issue open until the method from `IResource` interface is properly removed.

[2016-05-06 12:14] chrhol commented on #3539
I've done these parts today (finally :smile:):
- Decoding the partial url:s on the serverside (and in Launcher).
- Changed the code in `LauncherHelper.cs` slightly (with the help of @miyconst for avoiding nullreference exceptions) so `IResource.GetHtmlPartialUrl` is no longer used.
- Removed adding the outer `Html` property when serializing json.
- Marked `IResource.GetHtmlPartialUrl` obsolete. Re

[2016-05-06 12:22] chrhol commented on #3539
Nightly with fixes included: http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/2.2.1.2044

[2016-05-06 12:48] dan31 commented on #3481
@atifwaqar Would be best if you can prepack your whole setup (use 7z Ultra compression, include all ```Starcounter``` folder from ```Documents```, all apps that you start and a batch file you use to start them) so that @per-samuelsson (or anyone like @alemoi) can reproduce the run you do to observe slow start. Henceforth we can use this laboratory as a base to measure impact of improvements.

[2016-05-06 12:50] chrhol commented on #3554
I've pushed a fix for this to develop now. As I suspected it was some old code in the parser that didn't allow having an array in an array. Should work now.

Will merge to pnext when the builds there succeeds again.

[2016-05-06 13:09] atifwaqar commented on #3481
@dan31 Sure, the `Starcounter` folder from `Documents` is 30+ GB. I am copying it to our SC Basement server, so your team can easily access it. I will update you as soon as its copied.

[2016-05-06 13:33] andwah commented on #3560
I think i found the cause of this and im working on a fix. See #3570

[2016-05-06 13:42] dan31 commented on #3570
This must be a duplicate of https://github.com/Starcounter/Starcounter/issues/3560.

[2016-05-06 13:49] ubbeK commented on #3568
@warpech: Sure!

[2016-05-06 14:02] dan31 commented on #3014
Guys, I archive this one if you don't mind (when @per-samuelsson will find a moment to go back to his great blogpost writing he will restore it from the closed issues).

[2016-05-06 14:02] #3014 closed

[2016-05-06 14:05] #1923 closed

[2016-05-06 14:06] #1921 closed

[2016-05-06 14:11] dan31 commented on #778
(just cleaning some old issues) @chrhol if you find this one of any relevance, please feel free to do with this one what you find appropriate.

[2016-05-06 14:11] #778 closed

[2016-05-06 14:11] miyconst commented on #3568
Okay, People app is on me - https://github.com/StarcounterSamples/People/issues/24

[2016-05-06 14:18] miyconst commented on #3430
Happens again with normal installer: `2.2.1.2044 (May 6, 2016 1:08:51 PM)`

![image](https://cloud.githubusercontent.com/assets/6435556/15075681/0256813e-13a6-11e6-9caf-ffe4673aadf5.png)

[2016-05-06 14:23] andwah commented on #3570
I pushed a fix 38f211cdd8f4b98a938575b7d5698174bcb92e7e into develop. Needed to redo on how warnings was treated.

[2016-05-06 14:27] dan31 commented on #3430
@andwah maybe this one is fixed with your recent pathes fix?

[2016-05-06 14:32] andwah commented on #3430
@dan31 No this is something else.

According to Microsoft the error description is:
`DirectoryNotFoundException`

this is the code snipped where `GetFiles `throws an exception
[code]

[2016-05-06 14:42] atifwaqar commented on #3569
@per-samuelsson from your search, I followed [this link](https://msdn.microsoft.com/en-us/library/ms175935.aspx), and performed the mentioned steps. Lets see if I get the warning again.

[2016-05-06 14:44] miyconst opened #3572 "htmlmerger should ignore, but not crash if one of the provided values is empty"
Such url should not crash htmlmerger:

[code]

[code]

cc @chrhol

[2016-05-06 15:01] dan31 commented on #3572
CC @alemoi ?

[2016-05-06 15:03] chrhol commented on #3572
This is because the url needs to be decoded before the `Self.GET` is called. It's added in the htmlmerger in Starcounter and in prefab launcher, but probably not in the forked launchers.

[2016-05-06 15:15] miyconst commented on #3572
My bad, internal Starcounter's merger does not crash, it was an issue in the Launcher itself. Already fixed.

[2016-05-06 15:15] #3572 closed

[2016-05-06 15:15] miyconst commented on #3572
@chrhol thank you for the tip.

[2016-05-06 19:29] aloscha commented on #3568
@warpech and Chatter on me - https://github.com/StarcounterSamples/Chatter/issues/14

[2016-05-06 21:25] tomalec opened #3573 "Re-think/simplify partial namespaces and Launcher meta-data structure"
The problem hit us many times and in many fields. We have solved few thing around ( https://github.com/Starcounter/Starcounter/issues/3539, https://github.com/Starcounter/Starcounter/issues/3538). But there are still problems with "array vs map" as mentioned at https://github.com/Starcounter/Starcounter/issues/3495, providing default Layouts etc.

Problems we have with current solution:

1. One pa

[2016-05-06 22:12] dan31 commented on #3559
@mtornwall it is a good question. @k-rus as I recall back to 2014 we actually summarised what changes give what when you do them. Today we are approaching 2.3 (pnext), where schema change isn't yet possible in a way of previous 2.x. Hence we'd have to go back to the topic. This issue is a good point to dance from. @k-rus do you think you can bring back the schema change algorithm in text form? The

[2016-05-07 05:22] per-samuelsson commented on #3481
@dan31

I really like the ideas you present in that post. It gives us best-of-all: fast startup times, yet fast execution of critical code. Let's just hope it hold up, so it's not super-big or challenging in terms of implementation time.

[2016-05-07 05:25] per-samuelsson commented on #3566
@alemoi

I'll take this one on next week, assigning it to me. It's not dependent on that you do that suggested enhancement to the build system (although I really would like it :sunglasses:)).

[2016-05-07 09:15] miyconst commented on #3573
I think it does not worth it. We can solve all the issues in different ways and do not complicate it by replacing the object response with an array.

This is by far the most important issue. There should be some options, for example instead of replacing entire response with an array, we can replace response of an app with an array:

[code]

We can apply ordering on server and/or client side withou

[2016-05-07 10:21] dan31 commented on #3481
There is an interesting alternative, tried it out today: https://github.com/GPUOpen-Tools/CodeXL/releases (ex-commercial AMD Profiler). It comes for free now and nicely integrates in VS. Yes it is optimised for AMD hardware, but it has nicely done sampling analysis (independent on CPU). Apart from all standard sampling data for native code, it also gives you assembly decomposition for each codelin

[2016-05-07 11:03] dan31 commented on #3481
Important to note, if @alemoi confirms what we think is a case, then this work is an absolute need to any future versions (not just a patch for existing stuff), since the dominance of llvm time will still prevail unless it is solved in smart caching manner.

[2016-05-07 12:08] Starcounter-Jack commented on #3481
Just my 2 cents. If the below is already done, please disregard.

### How to make LLVM fast

Before implementing the cache, I suggest we try the following:

1. When doing the JITting, turn of all optimizations.
2. Never use linking.  This is probably how it works already (this is how the URI matcher is currently implemented).
3. If you need to call Bluestar functions, this should be done by writin

[2016-05-07 17:17] dan31 commented on #3481
@Starcounter-Jack very good cents! Not currently sure of all them right now (probably missed something obvious while making llvm in-memory from disk-generated), but @alemoi will consider your notes top prio when he comes back on Tuesday. Yes, currently (since some time) stronger optimisations are on to produce faster functions. On Friday @alemoi tested only with optim flag set to false, resulting

[2016-05-07 17:25] dan31 commented on #3481
@Starcounter-Jack No file system is involved, llvm is completely in-memory for all its users. Most likely the reason is optimisations, and maybe some details on the full jit chain.

[2016-05-08 18:50] dan31 commented on #3252
I had a couple of coding sessions with our partners just recently, as a feedback I confirm that the error messages received (not specifically this one) are pretty difficult to use purposefully. I was impressed how people learned to find out and resolve problems in code only using the error message pretty much like Yes/No indicator (there is some unknown problem, or there is no problem). However, i

[2016-05-09 05:45] per-samuelsson commented on #3252
Well, I can think of two things only:

Either we create the best error message we can, and have the exception occur on the server, with that error message (producing a page with a stack trace on the client).

Or we define some fallback strategy - we catch that specific error and return some default web page that describes the problem.

Maybe @warpech can give his opinion on what would be most reas

[2016-05-09 08:02] HRidge opened #3574 "Websocket error: one or more reserved bits are on..."
I get this error with Starcounter:

[code]

[2016-05-09 08:21] miyconst commented on #3574
@alemoi take a look please. This error happens only on one machine.

[2016-05-09 08:39] k-rus commented on #3559
Schema upgrade in 2.3 was implemented by @chrhol Basically it is just possible to add new column.

In my opinion an important question is how to alter schema. We had such descriptions in some issues, but we need to search for them.

[2016-05-09 08:46] eriohl commented on #1005
Handling out of memory needs to be managed system wide, not on application level (there are tools for this).

[2016-05-09 08:46] #1005 closed

[2016-05-09 09:11] eriohl commented on #2472
There seems to be no simple way of detecting clock adjustments to this should probably be done by process management, not by individual processes.

Not critical since these timestamps isn't currently used for anything.

[2016-05-09 09:42] warpech opened #3575 "JsonAutoSessions middleware does not send `Location` cookie"
A session started in a typical way results in a `Location` cookie sent to client:

[code]

However, a session started in `JsonAutoSessions` middleware, does not result in that cookie being sent to client. The code that fails:

[code]

This makes Puppet unable to create a WebSocket connection. Thus, the HelloWorld app doesn't work. I will post steps to reproduce in few minutes.

[2016-05-09 09:44] eriohl commented on #3138
We need to add support for this in the protocol for asynchronous callback or it won't work with asynchronous commits. Meaning that the asynchronous commits needs to be fully implemented before we can look into this.

[2016-05-09 09:53] warpech commented on #3575
Steps to reproduce:

1. Get the code from https://github.com/warpech/HelloWorld/commits/Starcounter_issue_3575
2. Start the HelloWorld app
3. Go to `http://localhost:8080/HelloWorld`

You will see the error:

![screen shot 2016-05-09 at 11 49 57](https://cloud.githubusercontent.com/assets/566463/15109560/3b15f18e-15dc-11e6-8d51-8ace1c2cbf7e.png)

Code at the previous commit (`415afc67b9007b5334f65

[2016-05-09 09:54] aloscha commented on #3558
I serveral apps we use Session.Current.Data, but now that code return null value.
I do small investigation and create demo to show the problem https://github.com/warpech/HelloWorld/tree/Session_example (that branch from small hello world app).

Generally I register in main application (HelloWorld) PersonJson and InjectionJson. In second app (HelloWorldPart) I register just handler to get from prev

[2016-05-09 09:58] per-samuelsson commented on #3575
[Here](https://github.com/Starcounter/Starcounter/blob/21345582673c882eef81f59d77be47f4440b3731/src/Starcounter/Middleware/JsonAutoSessions.cs) is the implementation of `JsonAutoSessions` middleware, if that is of any help.

[2016-05-09 10:21] alemoi commented on #3574
Thanks for reporting! Will check it tomorrow!

[2016-05-09 10:28] eriohl opened #3576 "Fix log writer write completion signalling on buffered writes"
Currently signal is sent on log entry send to OS buffer, not when flushed to secondary storage.

[2016-05-09 10:34] eriohl opened #3577 "pnext: Configure log writer enable buffered writes and flush interval using JSON config"
Currently this is configured using environment variables.

[2016-05-09 10:39] eriohl opened #3578 "pnext: Fix issues with log writer buffer writes"

[2016-05-09 10:44] warpech commented on #3575
Yeah, I know. I looked into it, even made a local copy if it to inspect with a breakpoint. It seems to be correct, but does not work for some reason. Maybe the session in middleware is created after the headers are collected from the resource?

[2016-05-09 10:47] eriohl commented on #3578
Probably shouldn't put Epics in the main issue tracker. Gets kind of confusing it not using ZenHub.

[2016-05-09 10:47] #3578 closed

[2016-05-09 11:01] eriohl opened #3579 "pnext: Investigate database/application startup performance"
Attempt to get an handle on what takes time during database/application startup and what can be done to improve on it (including everything from process management and communication to DAL structure initialization).

[2016-05-09 11:03] eriohl commented on #2094
Let's close it then.,

[2016-05-09 11:03] #2094 closed

[2016-05-09 11:04] eriohl commented on #2160
This is all working now so closing issue.

[2016-05-09 11:04] #2160 closed

[2016-05-09 11:06] eriohl commented on #1061
This is not an issue anymore. Closing.

[2016-05-09 11:06] #1061 closed

[2016-05-09 11:09] eriohl opened #3580 "pnext: Attempt to improve TT4 decoder performance"

[2016-05-09 11:16] miyconst commented on #3556
I have got this exception again:

[code]

Happened after an application error and page reload.

[2016-05-09 11:21] eriohl opened #3581 "pnext: Investigate use of Clang as cross platform compiler"
Now using mainly MSVC for Windows build and GCC for Linux build (although Clang is used for generated code). Using the same compiler for all platforms should make it easier to optimize, debug and maintain a common code base.

Special attention on how it works with debugger (according to Clang support for debugging is minimal) including crash dumps on Windows and performance (last time this was eva

[2016-05-09 11:24] per-samuelsson commented on #3579
Not sure this applies, since this one is pnext-specific, but at least be aware of (research/discussions in) #3481.

[2016-05-09 11:28] eriohl commented on #3579
Since most of this not in the kernel works about the same in pnext and develop it surely does. (Reason why I added a separate issue was because there was so many issues related to this that I couldn't find a specific one to add to the pipeline.) Thank you @per-samuelsson.

[2016-05-09 11:34] eriohl opened #3582 "pnext: Support wait for log write on commit in code host."
Commit will still be synchronous but context will be released for use by another task while waiting for pending log write.

Requires integration between DM asynchronous callback and legacy task scheduler.

_Dependent on adaption to metadata layer_

[2016-05-09 11:36] eriohl commented on #3582
Possible issue is that per scheduler thread count is limited. Not sure how running into this limit is handled in the code host currently.

[2016-05-09 12:21] miyconst commented on #3556
Once again. And this is not related to `pnext`, happens in develop as well.

[code]

[2016-05-09 12:28] chrhol opened #3583 "Stateful partials (siblings) is not updated correctly which leads to missed patches to the client."
A partial json that is stateful (i.e. has a parent that is saved on the session), is not recognized as replaced when the property on the parent is updated. This leads to that patches for these are not sent to the client.

Solution is to replace the sibling internally when the property is set.

[2016-05-09 13:07] aloscha commented on #3538
@warpech I create proof-of-concept on Image application on branch - https://github.com/StarcounterSamples/Images/tree/Partials_Flow_%233538

I tested that with Chatter on Master branch and it works

[2016-05-09 13:08] ubbeK opened #3584 "Update SamplaApps with Application.Use instead of obsolete handlers"
Collection of all issues regarding discussion [Starcounter/issues/3477](https://github.com/Starcounter/Starcounter/issues/3477)

[SxyTime](https://github.com/StarcounterSamples/SxyTime) - missing issue
[Website](https://github.com/StarcounterSamples/Website/issues/8)
[Complete search for `AddFilterToMiddleware`](https://github.com/search?q=AddFilterToMiddleware+user%3AStarcounter+user%3AStarcounte

[2016-05-09 13:14] linkdata opened #3585 "Administrator crashes in TypedJson trying to show results of SELECT"
Admittedly I'm pushing hard on it, but it shouldn't throw an exception when being asked to render a query result.

`select * from LogStreamerBulker.Record`

[code]

[2016-05-09 13:21] ubbeK opened #3586 "SessionIdString obsolete"
See discussion regarding `SessionIdString` deprecation at [Simplified/12](https://github.com/StarcounterSamples/Simplified/issues/12)

Current repositories still containing `SessionIdString`
[GoogleSignIn](https://github.com/StarcounterSamples/GoogleSignIn/issues/9)
[Chatter](https://github.com/StarcounterSamples/Chatter/blob/e1ad5e783d3a82f807bb195b46b503cccc1638f6/ViewModels/ChatGroupPage.json.c

[2016-05-09 13:24] aloscha commented on #3538
And tested with Products app (Master branch)

[2016-05-09 13:26] linkdata opened #3587 "Administrator doesn't support unsigned longs"
`select * from LogStreamerBulker.Record r where t_ulong = 18446744073709551615`

[code]

Also, `SELECT *` on the data has the unsigned values show as negative. Basically, the underlying code does a bitwise copy of the unsigned data and interprets it as a signed value.

[2016-05-09 13:30] chrhol commented on #3585
What do you mean by pushing it hard? Executing the query several times, or do you get this every time?

Anyhow, something is really wrong here, since what fails is that the buffer allocated for the json-response is way off so I guess either there is a bug calculating needed size or there is some synchronization issue when it comes to creating and returning sql from administrator.

[2016-05-09 13:33] eriohl opened #3588 "pnext: Investigate possible use of anonymous pipes for DM asynchronous callbacks"
Instead of named pipes as now (which doesn't perform all that well).

[2016-05-09 13:36] linkdata opened #3589 "Administrator SQL result view doesn't sanitize data"
Got this when selecting randomly generated data.
Aren't we sanitizing and escaping data before trying to render it?
If not, injecting scripts into the administrator UI is trivial.

[code]

[2016-05-09 13:39] chrhol commented on #3587
Does this really have something to do with Administrator? It looks like from the stacktrace, that it comes from the sqlparser when the literal is included in the query (i.e. using `Db.SlowSQL`)

[2016-05-09 13:40] eriohl opened #3590 "pnext: Investigate use of binary-comparable key in indexes"
Will make is easier to work with keys in index because code will not have to be generated to handle different types in the key.

[2016-05-09 13:40] chrhol commented on #3587
Duplicate of #2988

[2016-05-09 13:40] linkdata commented on #3587
Yeah, that sounds about right.

[2016-05-09 13:49] miyconst commented on #3586
@ubbeK thanks for gathering this all to an issue.

I am not sure why `SessionIdString` was deprecated in favor to `ToAsciiString()` while doing same things. @alemoi could you please clarify on that?

[2016-05-09 13:53] eriohl opened #3591 "pnext: Do write preparation or handle faulty write preparation on DM"
For the purpose of not having to wait for write to complete before releasing context (and freeing transaction structures) on DAL.

Reasons for restart is either because an update prepared record is invalid because the underlying record has changed (only applies to merging writes) or that the index update selection is invalid because an index has been added or dropped.

[2016-05-09 14:05] eriohl opened #3592 "pnext: (Async commit) Allocate and release context independently from channel"
Now context has a one to one relationship with a channel and is released when channel is released. This doesn't work is context can be used to process other transaction while a pending write. Instead all contexts associated with a client needs to be released when client is disconnected independently from the release of channels (which needs to wait until write (if any) associated with channel is r

[2016-05-09 14:11] eriohl opened #3593 "pnext: On demand channel allocation in DAL"
Allocate channel on demand in DAL instead of associating channel with a context. Channel is freed by DM when operation with channel is completed. Allow for more channels then contexts.

Need also handle running out of channels and waiting for one to come available (block thread then?).

Dependent on #3591 and #3592.

[2016-05-09 14:18] warpech commented on #3273
I think this can be closed, as the link is no longer there.

[2016-05-09 14:19] #3273 closed

[2016-05-09 14:25] miyconst opened #3594 "Enhancement for HandlerOptions"
Right now we specify Handle options with:

[code]

Which is non intuitive and against common c# practices. I propose to use an `enum` instead.

[code]

**Note:** we can pass multiple options with enums:

[code]

More reading about enums is available here: https://msdn.microsoft.com/en-us/library/cc138362.aspx#Anchor_0.

A demonstration:

[code]

cc @alemoi

[2016-05-09 14:39] eriohl opened #3595 "pnext: Fix issues Linux kernel build"
Make sure the Linux build compiles and runs properly and that the automatic tests are properly implemented.

[2016-05-09 14:51] joozek78 opened #3596 "Setup: support updating existing SC installation"
1. Install SC in version A with custom settings
1. Open Visual Studio
1. Run setup for version B

Actual:

1. Setup removes completely version A (along with settings)
1. Setup requires you to close Visual Studio (because it needs to remove and then re-add SC plugin)

Expected:

1. Setup Acknowledges existence of previous version ("it seems you have previous version of SC installed. Do you want to

[2016-05-09 14:59] warpech commented on #3596
@joozek78's specific problem was with the database files installation path, which he wants to have outside of current user's `Documents` folder.

I can completely understand that. I keep my database files in `c:\db` and have to change that path manually every time I install Starcounter.

[2016-05-09 15:01] miyconst commented on #3596
+1 for keeping the database files path among installations.

I am afraid this is required by Visual Studio. What we can do, is to check whether latest plugin installed and if so, then don't reinstall it.

@andwah what do you think?

[2016-05-09 15:16] alexanderstc commented on #3595
Do we have Linux version of scllvm?

[2016-05-09 15:54] ubbeK commented on #3568
@warpech: will you merge the fixes from kitchensink branch [KitchenSink_standalone_mode_#37](https://github.com/StarcounterSamples/KitchenSink/tree/KitchenSink_standalone_mode_%2337) to master?

[2016-05-09 15:56] eriohl commented on #3595
Not that I know of. Has never worked to the kernel åt least. Kernel supports falling back to creating binaries however so this is not a showstopper.

[2016-05-09 17:49] warpech commented on #3538
@per-samuelsson, @miyconst, could you please review the implementation linked above?

I am happy with the job done by @aloscha, but still not totally happy with the design. The existence of `Partial.Get`, `Partial.Register` and `Partial.Map` in the app still looks weird. It is certainly less weird that dozens of `Handle.GET`, `Self.GET` and `UriMapping.OntologyMap`, but does not feel to be the swe

[2016-05-09 18:13] alemoi commented on #3586
No special reason for this I would say. It was part of a bigger refactoring, but now there is no reason. I will restore it (remove deprecation).

[2016-05-09 18:14] eriohl opened #3597 "pnext: Re-implement storage memory defragmentation"
Move storage memory blocks to fill up segments and reduce the number segments needed to hold the database. Purpose is to be able to release segments and free up memory.

Prepared for with a reference to the handle table entry referencing a storage memory block in block header.

Must work somewhat differently then in develop because block size can vary. Another complication is that handle table upd

[2016-05-09 18:22] miyconst commented on #3586
Can we make it `SessionId` and deprecate both `SessionIdString` and `ToAsciiString()`?

[2016-05-09 18:22] eriohl opened #3598 "pnext: Re-implement gap garbage collection"
Releases blocks updated and then replaced without anyone referencing the intermediate. Purpose is to reduce memory usage when snapshots are held for a long time.

Less crucial now since checkpoint no longer relies on a snapshot so there is less reason to hold the snapshot for a longer period of time. However, it will now be possible to hold a snapshot during a external request potentially requirin

[2016-05-09 18:34] alemoi commented on #3586
Sure. Will do like this.

[2016-05-09 19:16] alexanderstc commented on #3595
I'll have to disable llvm-dependent part of QP and related tests until scllvm is avalable on Linux,
please let me know when it becomes a priority.

[2016-05-09 20:05] eriohl commented on #3595
Any project not related to the kernel that doesn't build will be removed (from Linux build) when this is addressed (currently this project is in the backlog). This is only about fixing the kernel build (changing the title accordingly).

[2016-05-09 20:14] dan31 commented on #3595
@alexanderstc @eriohl I hear you. This will be a new interesting task for linux for @alemoi. A bit too early (as @eriohl points out this isn't a showstopper) though shall be addressed mid-term.

[2016-05-09 20:17] dan31 commented on #3589
cc @miyconst @andwah (expecting @miyconst get the point on the issue)

[2016-05-09 20:23] dan31 commented on #1005
@eriohl on the other hand, based on my experience, sometimes people don't understand they run out of memory, instead complaining about log entry from Starcounter which is hard to grasp (suspecting a Starcounter bug, while it is not). A better reason in the log entry would be very useful (if having that doesn't impede anything badly like performance drain). I note it since running out of memory cas

[2016-05-09 20:28] dan31 commented on #3594
I agree, and the proposed way doesn't incur unnecessary heap objects (not sure it chooses it for inlining). @alemoi note that these comments on improvements should be applied in a coherent way, not only to a particular case, but trying to apply them to all places of your ownership in the APIs.

[2016-05-09 20:31] dan31 commented on #3556
@alemoi let's consider this one as high prio.

[2016-05-09 20:38] miyconst commented on #3589
If I understood the issue correct, then it's definitely a bug. All the data displayed has to be escaped to avoid any HTML or JavaScript injections. And security is not even a main point in here. Injected scripts and/or HTML elements might break entire administrator page.

The stack trace provided by @linkdata makes me think that this is something wrong with administrator script, not injected data

[2016-05-09 20:40] miyconst commented on #3556
Unfortunately I can't provide reproduce steps, but I can say for sure, that this happens after an error on page which causes connection break while some patches are still not delivered to/from client.

[2016-05-09 20:47] miyconst commented on #3538
Hm, as I remember we agreed to:

- Use `Handle.GET` or `Handle.POST` for partials which are exposed to client and are **not** available for mapping.
- Use `Partial.Register` for partials which are for internal usage only, those are available for mapping.

In the current implementation I don't see any `Handle.GET`. How do I know which are the application entry points and which are the partials?

Al

[2016-05-09 20:50] andwah commented on #3589
I will take a look.

[2016-05-09 20:52] #2441 closed

[2016-05-09 20:54] andwah commented on #3596
I also agree, the settings should be kept between upgrades.

[2016-05-09 21:02] dan31 commented on #2655
We now have public and private ones.

[2016-05-09 21:02] #2655 closed

[2016-05-09 22:02] eriohl commented on #1005
It is almost impossible to make a foolproof solution for making sure that an out of memory is always logged on application level. In addition to that, there may be many reasons why a process fails on out of memory that is not detected in the kernel. And in some cases the OS or some other service can simply kill processes to free up memory. Better then to use outside monitoring checking memory syst

[2016-05-10 04:48] dan31 commented on #3013
@miyconst @alemoi I thought that generally Starcounter doesn't work well from network drive as many other native apps by default. (There are many reasons why it might be so, as one developing in Visual Studio I remember that it isn't a friend with network drives either). @miyconst do you experience the opposite and Starcounter worked fine for you from network drive except this issue? Also @k-rus c

[2016-05-10 04:49] dan31 commented on #2946
@tomalec is that still an issue?

[2016-05-10 04:51] dan31 commented on #3013
However, similar is noticeable presumably on non-network drives. See:
https://github.com/Starcounter/Starcounter/issues/2946
https://github.com/Starcounter/Starcounter/issues/1166

[2016-05-10 05:49] careri opened #3599 "Json action, serverside change url?"
I'm using the KitchenSink partial class to divide my application into pages.
I can think of multiple ways of solving this scenario (it' just an example, not the real scenario).
1. Search for product
2. The search yielded no result, so we show a "create new" button.
3. The user clicks "create new", the json server sides creates a new product with a unique id (4433). The url to this new product woul

[2016-05-10 05:54] per-samuelsson commented on #3599
cc @warpech @miyconst

[2016-05-10 06:02] careri commented on #3599
There is an example in KitchenSink. Seems like pu

[2016-05-10 06:12] chrhol commented on #3554
Everything is merged now.

[2016-05-10 06:12] chrhol commented on #3583
Fix pushed to develop and pnext.

[2016-05-10 06:12] #3583 closed

[2016-05-10 06:33] k-rus commented on #2441
Just a question:
Should mapping between projects and channels revised? Or is it correct that Linux build and extended builds point into the channels of original projects?

[2016-05-10 06:40] k-rus commented on #3013
The installer prevents to use network drive for the database. Network drive, which shares Mac folders into Parallels VM, is extremely slow. I tried to use to our repos and have to stop.

[2016-05-10 06:48] chrhol commented on #3558
Sorry for not getting back to you sooner @aloscha. The `HelloWorldPart` folder and project seems to be missing from this branch. It's included in the solution but fails to load.

There have been no changes directly for Sessions between these versions what I know of, only things around it, which would point to that it's a bug somewhere.

[2016-05-10 07:06] miyconst commented on #3599
@careri thank you for the question. As you already found it out, you have to use `<link is="puppet-redirect" />` to trigger client side redirect.

Please, close the issue if it works for you.

[2016-05-10 07:15] miyconst commented on #3556
Just now this issue happened on @chrhol's machine. And again on mine with fresh app start.

[2016-05-10 07:20] miyconst commented on #3556
Okay, now I have a way to reproduce the issue:

- Install daily build `2.2.1.2075 (May 10, 2016 7:18:51 AM)`.
- Checkout https://github.com/miyconst/Playground/.
- Start the Playground solution.
- Open to `http://localhost:8080/playground`.
- Wait till page opens.
- Reload the page:

[code]

[2016-05-10 07:24] miyconst opened #3600 "System.Exception: TypedJson serializer: written size is larger than size of destination!"
@chrhol it seems like some of your changes in:

- [Unable to create array of arrays in JSON](https://github.com/Starcounter/Starcounter/issues/3554)
- [Stateful partials (siblings) is not updated correctly which leads to missed patches to the client](https://github.com/Starcounter/Starcounter/issues/3583)

Causes the following error:

[code]

[code]

After this error [Gateway throws 404 error with

[2016-05-10 07:35] chrhol commented on #3600
I don't get this error when starting and accessing the playground. Do you have some local changes or do I need to do something to load sampledata or something?

[2016-05-10 07:39] chrhol commented on #3600
Found `/playground/insert`. Will try to create some sampledata

[2016-05-10 07:44] k-rus commented on #3544
I was not able to reproduce it, thus closing.

[2016-05-10 07:44] #3544 closed

[2016-05-10 07:47] miyconst commented on #3600
No, I don't have any local changes, but I have some data inside.

[2016-05-10 07:47] miyconst commented on #3600
I can share binaries, if needed.

[2016-05-10 07:54] miyconst commented on #3600
Some investigation shows that it happens only with big amount of data and long strings inside. The database is available in my dropbox exchange folder, `playground.7z`.

[2016-05-10 07:54] miyconst commented on #3556
Some investigation shows that it happens only with big amount of data and long strings inside. The database is available in my dropbox exchange folder, `playground.7z`.

[2016-05-10 07:55] warpech commented on #3538
This is true. Handlers in lines https://github.com/StarcounterSamples/Images/blob/Partials_Flow_%233538/src/Images/Api/MainHandlers.cs#L29-L53 should be created using `Handle.GET`, not `Partial.Register`. @aloscha can you fix that?

`RegisterPartials` is just an artifact from the current `master` branch. It is not part of the work done in this issue.

[2016-05-10 07:56] miyconst commented on #3600
**Note:** administrator is able to select and display all of the data available, so there is not that much of it.

[code]

[2016-05-10 08:02] #3599 closed

[2016-05-10 08:07] careri opened #3601 "Dynamically generate Json"
Since you already have a msbuild task that generates a Json class consisting of the partial based on the .json-file and the optional .json.cs file I assume there is a tool for building json-classes.

I would like to build my own json-class to be used with the hot-table. The base class should have a SelectedIndex-property to bind to, this reflects the selected row in the UI.
It should also be possi

[2016-05-10 08:12] ubbeK commented on #3568
Remaining:
- StarcounterSamples/People
- StarcounterSamples/Chatter
- Smorgasbord-Development/DatabaseEditor
- KitchenSink_standalone_mode_#37 merge to master
- StarcounterSamples/KitchenSink_TestApr18
- Starcounter/PlaygroundKeeper
- [StarcounterSamples/Products -> SupplierPage](https://github.com/StarcounterSamples/Products/blob/238ed8db2e91435d71cfd5261f5592493a404fbc/src/Products/wwwroot/Produ

[2016-05-10 08:26] miyconst commented on #3013
It worked fine for me except not able to put database files on a network drive and this issue.

[2016-05-10 08:28] eriohl opened #3602 "pnext: Optimize layout translation simple reads"
Generate translation tables to quickly translate expected to actual column index (similar to what is already being done for index compare).

As record updates are not explicitly updated on schema change performance will degrade over time because more actual layouts will differ from expected layout. Currently solution for translating record layouts on simple reads are not optimal unless it can assu

[2016-05-10 08:28] k-rus commented on #2295
BUMP

[2016-05-10 08:40] chrhol commented on #3600
The problem seems to be that the data the array is bound to contains a very large result, with values that keeps growing and growing which leads to an overflow when calculating needed memory for patches. The size is stored in an `Int32` which means that the needed space exceeds 2147483647 bytes (so over 2 gb).

In the administrator there is a maximum number of returned rows of 1000, that's the rea

[2016-05-10 08:51] miyconst commented on #3600
Totally agree. Even if we can send such size to client, browser will hang trying to process it. Could you please just add a nice error message?

[2016-05-10 08:52] miyconst commented on #3600
Also it happened to reproduce the https://github.com/Starcounter/Starcounter/issues/3556 issue, so double profit.

[2016-05-10 09:18] miyconst opened #3603 "One or both of the image files are missing error"
There is a database called `playgruond`.

I try to start an app from Visual Studio with `-d=playground_0`, at this moment all Starcounter services are killed. This ends with the following error:

[code]

cc @alemoi

[2016-05-10 09:23] miyconst commented on #3554
Now I can create array of array, but using such view-model causes the following error:

[code]

The example can be seen in my [Playground](https://github.com/miyconst/Playground/). Just start the app and go to `http://localhost:8080/playground`.

[2016-05-10 09:40] aloscha commented on #3558
Sorry @chrhol, I create Part solution in separate folder. Now updated main HelloWorld branch, by adding that project.

[2016-05-10 10:05] aloscha commented on #3538
Fixed - https://github.com/StarcounterSamples/Images/commit/ce76dbc72efb3229e5805c839f549255e0f30c61

[2016-05-10 10:09] k-rus commented on #3543
I cannot solve this issue on my MV. Any suggestions? Cleaning of Level1 does not help. Cleaning temp files does not help.

Installing Starcounter from downloadable works, but from local always this issue. I guess there is some kind of cache.
@per-samuelsson  May be you can suggestion something where to look?

[2016-05-10 10:28] alemoi commented on #3603
Thanks for reporting! I am not sure I'm the best to answer here. Would CC to @per-samuelsson

[2016-05-10 10:35] per-samuelsson commented on #3543
Can [this](https://github.com/Starcounter/Starcounter/issues/3486#issuecomment-216764160) be of any help?

[2016-05-10 10:37] per-samuelsson commented on #3543
What I mean is, try uninstalling the extension only like that. And the just reinstall the extension ("Add components") using the installer, to see if that helps.

[2016-05-10 11:12] k-rus commented on #3543
No, it does not help. It seems to me that something is broken in the building sequence on my machine.

[2016-05-10 11:14] k-rus commented on #3543
Now I also get another error when I try to create Starcounter Application:

![scnotloadcorrectly](https://cloud.githubusercontent.com/assets/1726044/15144645/1003ca18-16b1-11e6-9ed8-440e8a7670b0.png)

[2016-05-10 11:35] k-rus commented on #3543
In the activity log file I found following warnings:

[code]

[2016-05-10 11:37] k-rus commented on #3543
I think this entry gives a hint:

[code]

I will investigate this.

[2016-05-10 11:47] k-rus commented on #3543
Yes, it was the problem. The project `Starcounter.VisualStudio` of Level1 was disabled.

The issue is resolved

[2016-05-10 11:47] #3543 closed

[2016-05-10 11:59] atifwaqar opened #3604 "An unhandled exception was detected."
My Server crashed again. I have 3 following exceptions in SC Logs (I copied these from SC log file) :

First one is :
`20160507T001301 Critical sc://owneror-pvpjthq/personal/administrator Starcounter - System.Exception: ScErrUnhandledException (SCERR1069): An unhandled exception was detected.\r\nVersion: 2.2.1834.\r\nHelp page: https://github.com/Starcounter/Starcounter/wiki/SCERR1069.\r\n   at St

[2016-05-10 12:02] per-samuelsson commented on #3543
Wow. Well done you found that!

Do you know why it was so? Because this will reoccur then if others set this project not to build, and it's not easy from the experience to tell what is wrong. Even though it's "just" for local builds, it's still time-consuming.

The problem really is that templates and the extension itself are separated. So it's perfectly fine to have the project templates (e.g. "S

[2016-05-10 12:07] per-samuelsson commented on #3604
@atifwaqar

Hmm, those logs really don't look pretty. Sorry for that.

It seem to be something related to Typed JSON, even though I'm not sure. I'm basing this on the extracted:

[code]

It's just a guess, but I'll label it like that now and pinging @chrhol to see if he's seen anything like that before.

[2016-05-10 12:10] chrhol commented on #3558
Something is not working as it should. I will move the discussion to a separate issue and continue there.

[2016-05-10 12:17] atifwaqar opened #3605 "DB_CLOSE_BEGIN & DB_CLOSE_END"
I have 2 entries in my logs SC Version 2.2.1834.

`20160507T012521 Debug sc://owneror-pvpjthq/personal/default Starcounter - DB_CLOSE_BEGIN(True)/OC:29188734/Objects:0/Transactions:0/TScope:0.`

`20160507T012521 Debug sc://owneror-pvpjthq/personal/default Starcounter - DB_CLOSE_END(True)/OC:29188734/Objects:0/Transactions:0/TScope:0.`

I dont think they are harming anything, but i'm posting this j

[2016-05-10 12:18] chrhol opened #3606 "Inconsistent behaviour with mapped partial uri:s and accessing inputhandler."
Moved from other issue to be continued here, @aloscha writes:

In serveral apps we use Session.Current.Data, but now that code return null value.
I do small investigation and create demo to show the problem https://github.com/warpech/HelloWorld/tree/Session_example (that branch from small hello world app).

Generally I register in main application (HelloWorld) PersonJson and InjectionJson. In seco

[2016-05-10 12:22] chrhol commented on #3606
Something is messed up here. Not sure exactly what though yet.

1. The response in `HelloWorldPart` app from calling `Self.GET("/helloworldpart/partials/helloworldpart/" + objectId);` contains the resource from `HelloWorld` app. This should NOT happen, resources should not be accessible from other apps.
2. The handler in `HelloWorldPart` app, `Handle.GET("/helloworldpart/partials/helloworldpart/{?

[2016-05-10 12:26] per-samuelsson commented on #3605
@atifwaqar

These two are kind of a legacy. They've been around for a very long time, and basically just spit out some internal information gathered when the database is closing down.

As you can see from their severity, they are classified as `Debug` messages, so they are normally not displayed, and more for internal use than intended for our users.

[2016-05-10 12:27] per-samuelsson commented on #3605
With that answer, I hope you don't mind me closing this issue. Let me know if we can help you further in any way.

[2016-05-10 12:27] #3605 closed

[2016-05-10 12:27] atifwaqar commented on #3605
@per-samuelsson This makes sense. Thank you.

[2016-05-10 12:29] chrhol commented on #3604
No never seen this before. Apparently the bound data is modified while looping through it, and I guess it's not bound to a result from a database query (then this shouldn't happen), but rather some generic list that is modified while the dirtycheck is running.

Do you know of any places in your code where you use data that is not database-data?

[2016-05-10 12:31] warpech commented on #3606
Thank you @chrhol for taking care of this. We need this to integrate Chatter + Images in a completely non-hardcoded way.

[2016-05-10 12:33] aloscha commented on #3606
1. Why NOT happen, sometimes in first app I crate container just for another one. I would like to see that conainer only if second app is creates
2. It's just create because if don't ontology mapping throw new exception

Please notice that HelloWorld didn't know about HelloWorldPart and viceversa, but if second occurs then first will add something more

[2016-05-10 12:34] k-rus commented on #3543
I cannot tell why it was disabled. May be I disabled as workaround for some issue (thus I hate such work arounds like disable, set an environment variable, similar) and forgot to enable. Or something else happened without my intervention that the project became disable.

Yes, it is very frustrating to lose so much time.

The only thing, which comes to my mind, is to check that all white listed fil

[2016-05-10 12:39] chrhol commented on #3606
The reason why it worked before was probably because of this bug: #3548. Then the inputhandler would have been called with the app that created the first instance of that particular Json.

After I fixed that one, this issue got exposed.

[2016-05-10 12:40] aloscha commented on #3606
So @chrhol how to do it in proper way?

[2016-05-10 12:40] warpech commented on #3538
I propose that `Partial.Register` should not allow providing `HandlerOptions`. Rather than that, it should have hardcoded `new HandlerOptions() { SelfOnly = true }`.

It also should not allow specifying method. Partials are always `"GET"`.

[2016-05-10 12:42] chrhol commented on #3606
I think the bug is in Starcounter code. Not sure where yet. So until I find and fix it, I'm not sure what the proper way is, or if anything should be changed in this code.

[2016-05-10 12:43] atifwaqar commented on #3604
No we are not using "not database-data", If by "not database-data" you mean the variable that can be declared in DB classes. We don't use those kind of variables at all.

But if that's not what you are referring to, then i'm not sure what is not database-data.

[2016-05-10 12:44] aloscha commented on #3538
Maybe instead of null as a default value of HandlerOptions use what you say @warpech `new HandlerOptions() { SelfOnly = true }`?

[2016-05-10 12:45] warpech commented on #3538
Fine for me

[2016-05-10 12:46] miyconst commented on #3538
@aloscha you are right, `Partials.Register` should never register a handler which is accessible from outside.

[2016-05-10 12:48] miyconst commented on #3538
Also consider simplifying mapping, so it will look like:

[code]

[2016-05-10 12:50] chrhol commented on #3604
Sorry, I was a bit unclear. What I meant was using an ordinary C# class that is not marked with `[Database]` attribute or inherit some other database class or array, which contains a list and setting that class to the `Data` property on the TypedJson.

Or maybe a Json-property that is bound to a property in the code-behind that returns an enumerable of some sort.

[code]

[2016-05-10 12:58] atifwaqar commented on #3604
We have code like following in code-behind :

[code]

But this sort of code is always populated from Database.

[2016-05-10 13:21] chrhol commented on #3604
Thanks, yeah this code shouldn't cause any problems. I'm not really sure how to start investigating this, it gets a bit harder when it's not happening all the time.

Can you provoke this error somehow, or do you have any guess if anything special is happening when this occurs?

I will add some better errormessage for these cases, just to get somewhere to start looking.

[2016-05-10 13:24] chrhol commented on #3554
It looks like some parts in the generated code is not correct, not only for arrays and it's been this way a long time :)

It always take some time to work with the codegenerator. It's quite difficult to debug and it's hard to change without messing something else up. I plan on having a fix for this pushed tomorrow.

[2016-05-10 13:36] aloscha commented on #3538
https://github.com/StarcounterSamples/Images/commit/06b381f3ac5483efcf1a1096caf17405ba0ea73b

@miyconst We could consider in next step, I think now we need to create just proof-of-concept (simple wrapper)

[2016-05-10 13:41] atifwaqar commented on #3604
Honestly I have no idea how to reproduce this crash, it just happens.
I tried to investigate the crash, but strange thing is when I'm monitor the servers, they dont crash, as soon as I leave the office, they start crashing :P

[2016-05-10 13:47] per-samuelsson commented on #3566
I've worked this through today, trying different angles, and running special builds on that particular server, and I still have nothing concrete to report.

However, I do have a suspicion, and it relates to one thing I found that I think we must rewrite no matter what. And it could even be the cause of this, actually. It's a thing added to the admin server code some time in april, when the IPC mon

[2016-05-10 13:52] tomalec commented on #2946
It's not. Thanks :)

[2016-05-10 13:52] #2946 closed

[2016-05-10 14:17] chrhol commented on #3604
I tried to investigate the crash, but strange thing is when I'm monitor the servers, they dont crash, as soon as I leave the office, they start crashing :P

I was afraid of that :smile:

[2016-05-10 14:27] warpech commented on #3538
This is something already supported in OntologyMap, so I think that `Partial.Map` can wrap it as well: https://github.com/Starcounter/Starcounter/blob/c7f7424f7fb3984d13f5dbbe0184611ab4b843f7/src/Starcounter/Apps/OntologyAndOrdinaryMapping.cs#L464

[2016-05-10 15:03] k-rus commented on #3437
I reproduced the issue. Not so easy to understand how it is supposed to work. The implementation in pnext was done by @eriohl about 6 months ago.

[2016-05-10 15:16] k-rus commented on #3437
Using diff found a possible solution. Seems to work.

[2016-05-10 15:39] aloscha commented on #3538
Indeed @warpech have good eye for that

[2016-05-10 16:17] k-rus commented on #3437
Fixed and regression test added.

[2016-05-10 16:17] #3437 closed

[2016-05-10 19:51] andwah commented on #2295
@k-rus Thanks for the *bump*.

[2016-05-10 20:48] alemoi commented on #3566
Thanks for investigating, @per-samuelsson ! Can you please point to that parts of code that you found. I wrote it when removed the IPC monitor, and should rewrite it according to your notes.

[2016-05-11 01:44] alemoi commented on #1166
@mattiasmak what's your recent experience regarding this issue? Thanks!

[2016-05-11 01:47] alemoi commented on #3556
@miyconst thank you for the reproduction scenario! Looking forward to see it behave on my machine! I was busy with some support tonight but will check this as a first thing tomorrow.

[2016-05-11 06:36] chrhol commented on #3601
Do I understand you correctly that you want to create TypedJson objects (including the template) runtime, or do you want to use them where the buildtask is not available?

The core concept that we have tried to aim for is that everything that the buildtask does, should be possible to do in your own code. And if you look at a generated file, you can see that it actually builds a template from scrat

[2016-05-11 06:44] per-samuelsson commented on #3603
@miyconst

That's weird. And you haven't moved any files around manually I presume?

Can you go into `\Documents\Starcounter\Personal\Databases\Playground` and look in `Playground.db.config`. It should have an `<ImageDirectory>` tag. Can you verify the image files are in that destination?

If you are running a `2.x` version, there should be a set of files with a `.sci`-extension pattern. And for `

[2016-05-11 07:03] chrhol commented on #3601
I moved the document to starcounter.io: http://starcounter.io/guides/json/typed-json-internals/

[2016-05-11 07:44] miyconst commented on #3603
I didn't move any files manually.

Unfortunately I removed that folder manually, because administrator failed to start or remove database.

As I remember there were files with `.sci` extension. It was Starcounter `2.2.1.x` nightly build, and both of the databases were created under the same instance of Starcounter.

[2016-05-11 09:07] per-samuelsson commented on #3603
OK, then it's kind of hard to do anything at this point, if there's no faulty environment to investigate. I suggest we close this issue, and see if we should hit it again. You've got some other idea, @miyconst?

[2016-05-11 09:19] per-samuelsson opened #3607 "DM terminates with assertion failure"
Intentionally not labeling this a bug, since it might very well be something f-ed up with the environment.

I'm having a ~6 GB database, downloaded from a live server. It was downloaded as part of a full server repository zip (i.e. `Documents\Starcounter\Personal` tree zipped).

I'm not sure what exact version created the database, but I'm running it with a local build of **develop**, latest bits

[2016-05-11 09:23] miyconst commented on #3603
I have a better idea :).

The issue is reproducible on my machine, running the latest nightly build (`Starcounter-DevelopNightlyBuilds-2.2.1.2086 (May 11, 2016 4:58:42 AM)`).

Structure of my `C:\Users\const\Documents\Starcounter\Personal\Data` folder:

[code]

Content of my `C:\Users\const\Documents\Starcounter\Personal\Databases\playground_0\playground_0.db.config` file:

[code]

I am not sure w

[2016-05-11 09:25] per-samuelsson commented on #3494
I downloaded it yesterday, and the apps as well. And I've set up my environment to run it. Right now, I experience some error I'm not sure how to get past though (#3607), so it's a little bit on hold. Just wanted to give you some feedback on the status.

BTW @atifwaqar, do you know if you made sure no Starcounter processes where running when you did copy that `Starcounter\Personal` file structure?

[2016-05-11 09:26] per-samuelsson commented on #3603
Wow, great. That's a much better idea! :+1:

Let me consider it some and get back on that.

[2016-05-11 09:46] per-samuelsson commented on #3603
@miyconst

The underscore in the name is the problem: reported and discussed previously in #2913. Closing this as a dup of that one.

[2016-05-11 09:46] #3603 closed

[2016-05-11 09:51] per-samuelsson commented on #3607
@eriohl, do you have any idea here? Does it make sense to believe that this could be caused by a failing download, where not all bytes have been properly fetched? If so, I'll initiate a new one (and a new copy).

Any help appreciated.

[2016-05-11 09:52] eriohl commented on #3607
This is because both images are marked as volatile (so none can be loaded).

I remember you could get to this state is database initialization was aborted. Can't remember exactly how but it had to do with there having to be a checkpoint after initialization. Can also not remember if it was properly fixed but I think it was.

Otherwise I haven't seen anything like this.

[2016-05-11 09:53] eriohl commented on #3607
You got the error the first time you started locally?

[2016-05-11 09:53] per-samuelsson commented on #3607
OK, thanks. I'll see if we can somehow redo this scheme then. Thanks for the input.

[2016-05-11 09:55] per-samuelsson commented on #3607
To be honest, I'm not sure, since I had some struggling getting the environment right. I know for sure that I never have successfully started this particular instance, but I *attempted* to start it maybe 1 or 2 times before, but got errors b/c of failing setup. I can check the log and try to remember. Hang on.

[2016-05-11 10:10] per-samuelsson commented on #3607
No, it was not the first attempt. It was the second attempt, after I first got an error saying `ScErrCantAccessImageFile`, which in turn was the result of me not running as an administrator, and files were under a directory where such rights where needed.

When I elevated the prompt, I got pass that and instead was faced with the error in the OP.

[2016-05-11 10:14] per-samuelsson commented on #3607
Regarding `ScErrCantAccessImageFile`, there's something weird going on there as well, and I'm trying to find out what. I can constantly reproduce it. The weird thing is that I get the error in the CLI, but there is absolutely no trace of any error in the logs, not even when including `Debug` entries, so I'm trying to understand the flow there.

[2016-05-11 10:27] eriohl commented on #3607
```ScErrCantAccessImageFile``` occurs when the user isn't allowed to access the image file (ERROR_ACCESS_DENIED).

So then it was the first time you actually could read the file I gather? You didn't copy the image files while the database was loaded at the source or something like that?

[2016-05-11 10:30] per-samuelsson commented on #3607
Yes, that much I know, and hence I knew I could get passed it by elevating. But there experience is a bit weird. Nevermind though, it's totally a management thing, I'm just looking it up to see if we should make an issue on it to improve that experience.

Yes.

I don't think so, no. Quite sure actually. But just to be 100%, let me just restart from the ZIP again. I'll unpack it to the correct loca

[2016-05-11 10:47] per-samuelsson commented on #3607
Did that now. To no prevail unfortunately. So my conclusion is that both image files are then marked volatile once they arrive in that zip.

It's a 33GB database unpacked if of any interest, 2 *.sci2-files * 10 GB, 2 *.sci-files * 6,5 GB.

[2016-05-11 11:30] eriohl commented on #3607
Well. Logically: If the database could be restarted on the server is was copied from it has to be broken in transfer. So it the database now up and running again there on the server?

[2016-05-11 12:33] #3552 closed

[2016-05-11 13:34] alemoi commented on #3574
Question: does it happen during handshake? Is there a specific set of steps that leads to this?

[2016-05-11 13:35] per-samuelsson commented on #3566
We discussed this IRL and I've now redesigned those parts with the help of @alemoi's clarification and explaining. I think we got it right this time, but I'm not sure this is the single case we experience this problem. I'm still testing.

[2016-05-11 14:30] atifwaqar opened #3608 "Access violation (C0000005)"
SC Version 2.2.1834
I just got my apps crashed. Here is what i have in my SC Logs (Source is Starcounter) :

[code]

This may not be related, but In logs i can see that 30 seconds before the "Access violation" exception I had the following exception (Source is Starcounter.Host):

[code]

[2016-05-11 14:37] dan31 commented on #3566
Guys @per-samuelsson @alemoi great that you take the issue! One question, do you address both develop and pnext while do testing and assessment (looking into pnext/2.3 shipped to Stable in June, or at least staged with more customers)?

[2016-05-11 14:51] per-samuelsson commented on #3608
@atifwaqar

Thanks for reporting this.

[code]

I guess it's that kind of thing that could actually cause an AV.

@alemoi, any take on this?

[2016-05-11 14:53] per-samuelsson commented on #3607
I'm not sure. But the took it down to send us because it was one of the slow starting ones, not because they had other problems. So I guess so.

I'll ask them to repackage/resend it. Thanks for the feedback.

[2016-05-11 15:50] alemoi commented on #3608
Thanks for reporting! Yes, its an uncaught CLR exception, that says that estimated response size is different from actual. I think it might be related to JSON serialization? @chrhol what do you think?

[2016-05-11 16:39] chrhol commented on #3608
Possibly, but the exception should be different if it was the serializer that caused it. There is the same check as the one logged in the end of serialization that verifies written vs estimated size, which also include some debuginfo about the json that caused the error.

[2016-05-11 16:40] chrhol commented on #3608
We could add some more information to this exception, like the URI for the incoming request and maybe some other stuff from the response to make it easier to guess where to start look.

[2016-05-11 17:28] careri commented on #3601
Great I'll have a look

[2016-05-11 23:51] alemoi commented on #3561
Any negative/positive news on this, @atifwaqar? :)

[2016-05-11 23:59] alemoi commented on #3556
I tried to reproduce the problem on my machine but no luck: when refreshing I never get 404. Thereby I have produced a special build that contains special assertions. Here you can download it: \\scbuildserver\ftp\temp\am\Starcounter-DevelopDailyBuilds-2.2.1.2094-Setup.exe
Would be really nice if you can test it.

[2016-05-12 00:07] alemoi commented on #3574
We checked the client today and I have produced a version that contains certain assertions. Can be downloaded here: `\\scbuildserver\ftp\temp\am\Starcounter-DevelopDailyBuilds-2.2.1.2094-Setup.exe`
@HRidge I will help you testing tomorrow.

[2016-05-12 06:14] atifwaqar commented on #3561
Yes i think its fixed in the latest version. I haven't seen this exception after SC upgrade. Thank you @alemoi  :+1:

[2016-05-12 06:31] chrhol commented on #3608
Lets assume as a starting point that this exception and the one described in #3604 are related. Depending on where it happens (since it's some kind of synchronization issue) you either get this or the other.

I will setup a test and try to provoke it and see what happens. And in parallel enhance the errrormesages to include more information to help pinpoint which resources that fails.

[2016-05-12 06:33] chrhol commented on #3606
I will probably have to postpone investigating this for some time. I got two other quite serious crashes to investigate first.

[2016-05-12 06:33] atifwaqar commented on #3494
If you mean my apps were running while I copied the DB, then yes all of my apps were running and i made a copy of my personal folders, then i zipped the copied personal folders.
I always get error on 2 files when I copy personal folder with all apps running. and both files are in the following folder :
`C:\Users\Administrator\Documents\Starcounter\Personal\Data\Default\Default-20160428T183646289\`

[2016-05-12 06:34] chrhol commented on #3554
Actually, my previous comment was not correct. The code for checkpointing arrays was incorrectly implemented.

I will push a fix for this soon.

[2016-05-12 06:48] dan31 commented on #3481
I've shortly ran .NET profiler [in-vivo](https://en.wikipedia.org/wiki/In_vivo) on SWO. Their suite takes 30 sec. to "Starting a database...". Which is, as we've noticed already, isn't about database. The proper message there should be "Starting Starcounter..." but not "Starting a database...", in my opinion. First I noticed that half of a CPU time over these 30 secs. took ```scnetworkgateway```.

[2016-05-12 06:50] #3554 closed

[2016-05-12 06:51] eriohl commented on #370
Seems a bit obsolete.

[2016-05-12 06:51] #370 closed

[2016-05-12 06:52] eriohl commented on #1227
This one seems a bit obsolete seeing that there is no image files in the latest version.

[2016-05-12 07:07] per-samuelsson commented on #3566
Well, yeah, I doubt there's anything that is different in these areas between those two branches, so once I fix it in **develop**, I think it will be a matter of just merging the same fix in **pnext**.

[2016-05-12 07:17] eriohl opened #3609 "pnext: Drop sccoredbg."
Obsolete code cleanup.

* Unhandled exception handler is no longer used in kernel.

* Use standard asserts for debug build. Release build assertion failure should same as an unhandled exception.

[2016-05-12 07:19] per-samuelsson commented on #3494
Then yes, the database was running when you made the copy. And that's probably why I can't run it on my end, and possibly the reason for #3607.

I think we do unfortunately. I'm not aware of any other way to safely share a database. But I do understand the problematic nature of that, when we are talking about live environments.

Since this is not a showstopper, I'd suggest you wait a little to do

[2016-05-12 07:25] HRidge commented on #3574
Sorry to say, I do not have access to that path.

[2016-05-12 07:31] chrhol commented on #3554
Pushed now and tested in Playground.

[2016-05-12 07:33] eriohl commented on #3494
Yes. If you want the complete database (to this I would like to add that this has been addressed in a later version) or what to make sure that you get a working database.

Although you could get a working database anyway if you are lucky and there is no conflict with a checkpoint. So you could simply try copying it again and if the new copy works.

Very likely yes. A conflict with a checkpoint exp

[2016-05-12 07:39] per-samuelsson commented on #3494
Thanks for the feedback @eriohl.

Then it's up to you @atifwaqar. For me, I can test again and again with new databases until we find one that works, if you don't want to stop the server to do the copy. I'll just act on your instructions on this. And in your timeframe (meanwhile, I'm working something else).

OK. Then I'll close that one with that reason as the probable cause.

[2016-05-12 07:42] per-samuelsson commented on #3607
We've decided to close this one because we think there is a strong possibility it is caused by a database that was copied when running, and a conflicting checkpoint is the cause. For the discussion that lead us to this, see this https://github.com/Starcounter/Starcounter/issues/3494#issuecomment-218671939 and those responding to that.

[2016-05-12 07:42] #3607 closed

[2016-05-12 07:44] eriohl commented on #3494
Actually. Forget that comment. I thought about it a moment longer and I must conclude that although possible it is rather unlikely that the copy will work.

[2016-05-12 07:57] eriohl commented on #3494
But is the actual database image actually required here. If you just need the database data another option is of course to do a SQL dump (unload).

[2016-05-12 08:10] miyconst commented on #3556
The file is no available or I have wrong ip for the scbuildserver. Did you use my database when testing?

[2016-05-12 08:12] miyconst commented on #3574
Yes, it happens during handshake, and it is always like this on @HRidge's machine. I can't download the file as well.

[2016-05-12 08:13] miyconst commented on #3554
Thanks @chrhol, is there a daily build I can test?

[2016-05-12 08:14] dan31 commented on #3556
That is a good question. @alemoi @miyconst I think the best would be if you try to reproduce the problems together using the exact environment to operate in conditional probability but not in absolute probability. As I grasp from the current flow, trying to reproduce the problems without actual apps setup and db isn't helpful, since these problems aren't low hanging fruits.

[2016-05-12 08:17] chrhol commented on #3554
I can make one for you, do you have access to teamcity?

[2016-05-12 08:20] miyconst commented on #3554
I can build one myself, just checked maybe you already have it.

[2016-05-12 08:27] chrhol commented on #3554
Aha, yeah I started one so the last daily build should have an installer in artifacts

[2016-05-12 09:16] miyconst commented on #3554
Thanks. I have tested the build, the issue is fixed.

[2016-05-12 09:31] atifwaqar commented on #3494
@per-samuelsson I will make a copy of DB on any night of coming weekend then.

[2016-05-12 09:47] alemoi commented on #3556
My bad. Missed last comment, going to test with database!

[2016-05-12 10:08] per-samuelsson commented on #3494
We are not sure of that, and actually, it's most likely that it's something with the environment, so the kind of representation is possibly not even important. But we wanted to try just mirroring the exact data setup from their server to one of ours, to see if numbers where similar.

[2016-05-12 10:08] atifwaqar opened #3610 "ERR_BLOCKED_BY_CLIENT"
I'm not sure if this error is Starcounter related, or AdFenix related, so asking here just to confirm it.

![html error](https://cloud.githubusercontent.com/assets/4388707/15211209/3e8d36c8-183a-11e6-8f9c-c4b6a16fd203.jpg)

[2016-05-12 10:42] bigwad commented on #3580
So far. Decoder performance improved for 80%. For tpcc test it gives 25% performance boost.
More to come.
Have dipped into turbotext, I see more opportunities to increase performance (both encoding and decoding, but much for decoding) and to decrease encoded string size.

What's wrong now and what I want to do with it?

1. Symbol ratings are too coarse. This probably leads to inefficient encoding.

[2016-05-12 10:48] bigwad commented on #3580
And all proposed changes will break compatibility for current pnext clients.

[2016-05-12 10:52] k-rus commented on #3481
Great investigation!

How bad is the performance of Starcounter if the optimisation is off?
This quick fix might have drawback for new users, who download Starcounter and test performance. I doubt they will do proper configuration. They will probably run Starcounter as it is. Is it something we should worry about?

May be the switch by default should be on and then we teach our customers to switch

[2016-05-12 11:12] alemoi commented on #3574
Here is the link with ip address:

`\\192.168.200.91\ftp\temp\am\Starcounter-DevelopDailyBuilds-2.2.1.2094-Setup.exe`

[2016-05-12 11:19] atifwaqar opened #3611 "ScErrNetworkGatewayTerminated (SCERR10021): The server detected that the network gateway executable (scnetworkgateway.exe) unexpectedly terminated."
I am using AVG antivirus, and I get this error on launching apps in SC if my Antivirus is fully active. But if I Disable my Web protection in AVG (as shown in attached image) everything works fine.
![antivirus](https://cloud.githubusercontent.com/assets/4388707/15212915/ee119220-1843-11e6-9c19-ad93c5743bd2.jpg)

Is there a way to keep my Antivirus active and still use SC?

[2016-05-12 11:21] HRidge commented on #3574
Sorry, it still doesn't work.

[2016-05-12 11:34] atifwaqar opened #3612 "Public directories not enabled when project launched by hitting F5 in Visual Studio"
SC version 2.2.1834
If I use batch files this is how my chrome console looks like. (Everything is fine till this point) :
![when works fine](https://cloud.githubusercontent.com/assets/4388707/15213190/f47d120e-1845-11e6-99b8-43cca7246e27.jpg)

But when I run my project from Visual Studio by pressing F5 this is what I see in chrome console :
![does not work](https://cloud.githubusercontent.com/asse

[2016-05-12 11:36] HRidge commented on #3574
Still same error after installing the new database version.

@alemoi

[2016-05-12 11:37] eriohl commented on #3580
80% sounds really great!x

Right. Although if this prefix stuff is to be put into place this will be true anyway. @dan31? Also: We need to support changing the encoding without rebuilding the database anyway (although I was hoping to avoid doing this work now).

I though all characters was required to have a prefix (although the prefix would then obviously be the same for a lot of different charac

[2016-05-12 11:53] dan31 commented on #3481
Thank you @k-rus, It is very important point to track. I call us up to be very concise in such changes (and @alemoi in particular). The change itself is just a flag, but we need to clearly get here two numbers as a table summary:
1) What is the decrease in startup time? In which examples and tests (Empty db? TPC-C and which settings? RetailDemo? Customer case?)
2) What is the increase in runtime t

[2016-05-12 12:11] dan31 commented on #3481
I would say like this. Substantially less than people downloading Starcounter and waiting for 6-10 secs at a first app start, not mentioning current customers struggling from minutes of startup. I also have a gut feeling that the decrease in perf won't be times, but probably 10-s of percents. For our published benchmarks, we turn on all perf tunings. Once smart cache is in place, this isn't a conc

[2016-05-12 12:33] bigwad commented on #3481
@alemoi, could you please add appropriate scllvm.pdb to source control?

[2016-05-12 12:34] dan31 commented on #3481
@bigwad +1

[2016-05-12 12:37] dan31 commented on #3481
For the reasons I gave above, I think the most reasonable way to approach it is to provide the off flag by default and do work on smart cache asap and deprecate a flag. Our goal for Core .NET version is to achieve sub-second dev cycle for both start and stop, whilst it will be the same scllvm.dll involved into a loop. Hence, if kept as is and flag is on, it will never be possible to achieve sub-se

[2016-05-12 12:58] k-rus commented on #3481
It is great to see this list being written down.

[2016-05-12 13:02] dan31 commented on #3481
Actually this is only when there is a performance-related evaluation. The other big part of evaluation is the app dev framework, viewmodels with thin clients and all related to app development. When they try and test these (maybe it will be 70-80% of initial evaluation or even more, and this version we use in starting tutorials), compiling high-performant version is quite useless.

[2016-05-12 13:07] dan31 commented on #3481
@k-rus @alemoi Another point, looking at a cap of 20% cpu load on a profiling session for both ```sccode``` and ```scnetworkgateway``` I conclude that llvm gen is run on a single thread. Maybe running this in 4 threads or alike might improve it 1.5-2 times. However, this is still to be 10 secs instead of 20 secs.

[2016-05-12 13:17] dan31 commented on #3580
Oh, yes, sorry guys to answer here, but I didn't have time to formulate in writing in a correct thread. Basically, what we decided with SWO (the only one using pnext right now) is following. They do their demo runs and POC projects on the existing version right now (like the one of today), and we do not introduce breaking change such as prefix thing before end of POC. When the POC is ended (2 more

[2016-05-12 13:57] per-samuelsson commented on #3566
This issue is really getting the best of me.

I've now spent majority of yesterday and most of the day today trying to trace server / code host internals in so many ways I soon can't think of anything more.

I've debugged processes on the build server too, and still I haven't been able to find one single glitch relating to admin server threading / command dispatching. All commands process in the o

[2016-05-12 14:48] dan31 commented on #3611
@atifwaqar there were times when Starcounter generated dlls on disk and AVG was very concerned about it. Now we don't do such thing. So, probably AVG doesn't like us messing with the ports. More likely, we are simply in the blacklist db of AVG because it has been concerned about us big time in the past. Could you simply point AVG to not track Starcounter folders and processes?

[2016-05-12 14:59] alemoi commented on #3481
Sure. @eriohl, since you added the last scllvm.dll, do you still have the corresponding .pdb by chance?

[2016-05-12 15:00] bigwad commented on #3580
Nothing more.

[2016-05-12 16:12] mtornwall commented on #3610
`ERR_BLOCKED_BY_CLIENT` could be caused by an ad blocker. Based on your screenshot you're running ABP, so that might be it. If that's indeed the case I suspect it's triggered by the occurrence of "AdFenix" in the URI.

[2016-05-12 18:20] chrhol commented on #3604
Wait a minute here. Just noticed that in the beginning of the stacktrace it actually points to the administrator, totally missed that before. It makes more sense now. This problem does not come from anywhere in your code @atifwaqar.

[code]

So somewhere in the `ServerManager` there is some state that is not properly secured for access from multiple threads. @andwah, maybe we can take some time to

[2016-05-12 18:47] per-samuelsson commented on #3612
cc @miyconst @warpech @andwah

[2016-05-12 19:35] chrhol commented on #3608
The other issue had nothing to do with this one after all. I'm not sure what's caused this one. One thing that might happen (but maybe is a bit of a long shot) is if the response or serialized json is larger than 2 gb we get an overflow in the variable that holds the estimated size...and since there previously was no check for this, strange things might happen (like the exception above.)

I've add

[2016-05-12 22:04] warpech commented on #3612
As [this page](http://starcounter.io/guides/network/static-file-server/) puts it:

In your case, that would be `--resourcedir=client/partials`

Btw. you can preview the currently used static file directories in Starcounter Administrator (`http://localhost:8181/#/server/network`)

I guess this will solve the issue. If not, please reopen

[2016-05-12 22:04] #3612 closed

[2016-05-12 22:04] warpech commented on #3612
(Or, just change working directory in VS to `client/partials`)

[2016-05-12 23:55] alemoi commented on #3574
@HRidge can you please install Wireshark on your machine, so we can check the WebSocket packets? Thank you.

[2016-05-12 23:55] alemoi commented on #3561
Thanks for the response! Closing the issue.

[2016-05-12 23:55] #3561 closed

[2016-05-13 05:50] dan31 commented on #3610
@atifwaqar this must be most likely related to your AVG issue that you previously posted (as @mtornwall guesses) coupled with internal logic of AVG. I would recommend you to try some other protection software. :)

[2016-05-13 05:54] dan31 commented on #3604
@chrhol @andwah cc @alemoi as I recall, it's been a long-term story with Administrator doing some non-thread safe pattern for some reason. Probably after fixing the task queuing the problems resting under the carpet were made somewhat more surfaced. Maybe it is good time to review the code and identify what pattern is there to fix. This isn't only applicable to administrator, but to any other app

[2016-05-13 05:57] alemoi commented on #3566
Maybe the response is not delivered by the gateway somehow? Is it possible to see if its sent but not delivered?

[2016-05-13 06:08] per-samuelsson commented on #3566
Yes, that's one of my hypothesis at least. But I haven't been able to confirm it yet.

I've added tracing calls to the node layer, and as far as I can tell, all requests from `star.exe` are responded to. But some seem to take an exceptionally long time, I still haven't found any reason why.

I've also switched out one asynchronous call but it didn't help either.

[2016-05-13 06:12] per-samuelsson commented on #3566
One thing I've found though is that a lot of code has been added over the last year that is kind of questionable in it's design and particularly when it comes to synchronization. A bunch of code execute in callbacks that potentially can lock threads for a really long time, and I suspect that somewhere in there, there is a deadlock.

I've also found code that is clearly not even considering concurr

[2016-05-13 06:15] per-samuelsson commented on #3604
I've noticed similar things, as hinted [here](https://github.com/Starcounter/Starcounter/issues/3566#issuecomment-218960279).

[2016-05-13 06:25] per-samuelsson opened #3613 "IServerRuntime.GetDatabaseConfiguration() expose internal state; and server implementation is not thread safe"
The type `DatabaseConfiguration` returned from the interface method is used by the admin server library internally, and should not be exposed.

Also, the implementation in `PublicModelProvider` does not consider concurrent access and will crash if some other thread modify the collection while it's iterated. Also, the data returned is the reference to the servers master data, not a copy, meaning th

[2016-05-13 06:35] per-samuelsson opened #3614 "Admin server unregistration of code host in gateway is not thread safe"
As previously described in this https://github.com/Starcounter/Starcounter/issues/3566#issuecomment-218162292.

What's faulty about it is

1. It runs instantly when a code host process terminates, reacting to the event fired, considering every such exit to be fatal, while in fact the server stop the code host gently. Also there is no guarantee when this event exactly fire.
2. It raise exceptions w

[2016-05-13 06:43] andwah commented on #3604
Sure. anytime.

[2016-05-13 06:45] atifwaqar commented on #3610
@dan31 my AVG is always off in office hours. so it was not an issue

@mtornwall Thanks for the information. ABP was the reason of this error. I uninstalled that extension and now I can access my page easily.

Sorry for the trouble guys :P

[2016-05-13 06:45] #3610 closed

[2016-05-13 06:51] HRidge commented on #3574
Done!

@alemoi

[2016-05-13 06:55] linkdata commented on #3600
Probable duplicate of https://github.com/Starcounter/Starcounter/issues/3585

[2016-05-13 06:59] atifwaqar commented on #3612
@warpech My directory is fine, it should not be `--resourcedir=client/partials` , it should be `--resourcedir=c:/adfenix-backend/src`.

This is what i see when i run my apps using the batch files, and everything works as expected :
![working public dir](https://cloud.githubusercontent.com/assets/4388707/15240154/e3b79d0c-18e7-11e6-9380-feba85210c54.jpg)

This is what is see when I run by hitting F

[2016-05-13 07:04] atifwaqar commented on #3612
@warpech Thank alot. Your suggested method worked, I just had to add `--resourcedir=C:/adfenix-backend/src/` as command line arguments, previously I had this directory set in `working directory`. :+1:

[2016-05-13 07:08] linkdata opened #3615 "System.OutOfMemoryException retrieving a short string from the database"
This is a placeholder issue until I can reproduce this problem. Assuming it's reproducible. All of the strings in the table in question are less than 348 characters long and consists of characters randomly selected from this small set:
[code]

[code]

[2016-05-13 07:08] HRidge commented on #3574
Zipped file with a Wireshark pcapng file in it.

I analyzed the traffic from the point where puppet.js does:
"that._ws = new WebSocket(upgradeURL);"
past the point in the onopen event where the error occurs.

You need more traffic data?

[Winshark Chrome 2016-05-13.zip](https://github.com/Starcounter/Starcounter/files/262661/Winshark.Chrome.2016-05-13.zip)

[2016-05-13 07:26] dan31 commented on #3610
@atifwaqar you mean AdBlocker? :)

[2016-05-13 07:30] atifwaqar commented on #3611
@dan31 I have added the following directories in AVG exception list :

1. C:\adfenix-backend\  (this one have all the code and apps in it)
2. C:\Program Files\Starcounter\
3. C:\Users\atif\Documents\Starcounter\
4. C:\TeamCity\

But AVG still blocks my apps somehow. So i think for now i'll have to keep my AVG disabled. but I will let you know if i find a workaround.

Thanks for you suggestion.

[2016-05-13 07:30] #3611 closed

[2016-05-13 07:39] atifwaqar commented on #3569
This info worked for me, i dont have the warning in my logs anymore. Thanks :+1:

[2016-05-13 07:39] #3569 closed

[2016-05-13 07:40] atifwaqar commented on #3610
Yes ABP is an AdBlocker extension. I dont know why I added it in the first place :P

[2016-05-13 07:58] per-samuelsson commented on #3566
I'm soon out of ideas on how to push this issue further.

I've now setup an environment on the target server where I can debug and pause `star.exe`, `scadminserver.exe` and `sccode.exe` in concert. When things "hang", there simply isn't any user-code threads on the server that can explain it, and neither so in the code host (which wasn't likely either).

As I stated earlier, `star.exe` just sits t

[2016-05-13 08:01] per-samuelsson commented on #3614
Here's the relevant code btw:

https://github.com/Starcounter/Starcounter/blob/develop/src/Server/Starcounter.Server/CoreServices/CodeHostProcessMonitor.cs#L95

[2016-05-13 08:14] warpech commented on #3612
I am happy that you managed to fix the problem. Any suggestion what we should improve in static files root directory discovery?

[2016-05-13 08:25] per-samuelsson commented on #3566
#3613 and #3614

[2016-05-13 08:31] chrhol commented on #3606
I've spent some time this morning figuring out what the problems are. And I found several things that behaves a bit strange. Not sure in all cases what the expected behaviour should be.

**1. Custom converters in mapping**
When null is returned from a custom converter for the mapping, the handler is just skipped, and will never be called.

So having this mapping (where the last converter returns `

[2016-05-13 08:46] chrhol commented on #3600
Yeah that would be my guess as well, thank you for pointing it out.

[2016-05-13 09:20] aloscha commented on #3606
I do that intentionally `UriMapping.OntologyMap("/helloworldpart/partials/helloworldpart/@w", "simplified.ring1.Somebody", objectId => objectId, objectId => null);`

I need to insert code only from others application (not from that), which is mapped to somebody (it's just an example), so is there any other solutoon which do that? (second app don't know about first app).

But let's back to Session.

[2016-05-13 09:30] alemoi commented on #3574
![ws_test](https://cloud.githubusercontent.com/assets/208134/15243783/0f8c79c8-18fe-11e6-9d18-d7d14fd52373.jpg)

[2016-05-13 10:01] dan31 commented on #3569
@atifwaqar that is a great link, I will add it to our http://starcounter.io/guides/tools/run-starcounter-in-production/.

[2016-05-13 10:13] per-samuelsson commented on #3566
Still can't find anything new after what I described above. I guess my last attempt here will be to try setting up so that I can debug the gateway, and see if I can find anything there. I guess I need to trigger a debug build to do so though, to get native debugging to work.

[2016-05-13 10:29] miyconst commented on #3568
People app - `dom-bind-notifier` removed.

[2016-05-13 10:32] dan31 commented on #1227
Let's just close it.

[2016-05-13 10:32] #1227 closed

[2016-05-13 10:32] miyconst commented on #3574
After long investigation it was discovered that the @HRidge's machine is an issue. A simple WebSocket connection test without Starcounter does not work either.

Closing this issue, big thank to @alemoi and @linkdata.

[2016-05-13 10:32] #3574 closed

[2016-05-13 10:36] alemoi commented on #3566
I will help you with that. We can talk on hangouts.

[2016-05-13 10:36] per-samuelsson commented on #3566
Here's the internal gateway state when everything hangs. Can't really tell if it's the expected or not.

![image](https://cloud.githubusercontent.com/assets/2902045/15245501/30a489f8-1907-11e6-9b82-d560e4428ceb.png)

[2016-05-13 10:45] per-samuelsson opened #3616 "Gateway use SCERRDATABASEDELETEFAILED when unregistering code host fail"
Related to #3614.

Once I experienced that unregistering the code host in the gateway failed. The error I got was **ScErrDatabaseDeleteFailed**. This error was initially reserved for a failure to *delete* a database, not unregister a code host with the gateway.

We should try to avoid duplicate meaning of error codes and be specific for particular failures.

I guess it's a low prio at this point,

[2016-05-13 10:59] atifwaqar commented on #3612
I think the way you deal with Public Directories in your Launcher project, or any other project, you make a `wwwroot` and that `wwwroot` becomes the public directory for the project, thats the perfect way to deal with public directories.

So if SC searches/detects a `wwwroot` directory in OR under the directory where we have the project sln file, that directory should automatically become the publ

[2016-05-13 11:41] linkdata opened #3617 "pnext: TurboText4 encoder fails with some prefix bit sizes"
Some strings would be incorrectly encoded if the number of prefix bits exactly matched 1^7, 1^14, 1^21 or 1^28. This issue is simply to track the already completed patch.

[2016-05-13 12:07] linkdata commented on #3617
Merged into `pnext`.

[2016-05-13 12:07] #3617 closed

[2016-05-13 12:16] alemoi commented on #3574
Here is the situation: some clients (like Edge on Win 10) are freaking out when the server pushes a message right after the WebSocket handshake (before even client sending anything). This we tested with Go gateway WebSocket server - meaning its not a Starcounter issue. However, if client, after the handshake, sends the WebSocket message first - then everything is fine. That's why Starcounter log i

[2016-05-13 12:16] alemoi commented on #3574
@HRidge thank you for your patience and help!

[2016-05-13 12:34] linkdata commented on #3587
Closing this since it's a duplicate of #2988

[2016-05-13 12:34] #3587 closed

[2016-05-13 13:48] atifwaqar opened #3618 "http VS https with SC"
I have following handler which works fine :
http://www.hiddenurl.net:8080/ChatBot/https

I have an SSL certificate installed on this server and the certificate works fine:
https://www.hiddenurl.net/

But i cant access the following SC handler :
https://www.hiddenurl.net:8080/ChatBot/https

Any Ideas how can I make this work?

[2016-05-13 13:52] per-samuelsson commented on #3566
I'm leaving off now, and @alemoi is taking over. We have an environment where it's constantly reproducable on the specific server and means to debug all related processes when things hang. Let's just hope we can find what it is soon.

[2016-05-13 14:25] bigwad commented on #3580
Pushed another non-breaking optimization (10% on top of previous one). Now decoding performance has almost reached the encoding one.
Starting off with breaking improvements mentioned above.

[2016-05-13 14:37] dan31 commented on #3618
Hi @atifwaqar! You need to use an HTTPS proxy. Presumably a separate machine (SSL is very expensive operation) running Linux + nginx or HAProxy. This is pretty straightforward. @mtornwall might give you more info on that when he can.

[2016-05-13 14:46] aloscha opened #3619 "ScErrInvalidObjectAccessAbort with multi transactions"
I would like to know how handle multi long running transactions.

I have few classes in relation like that: ChatMessage --- TextRelation --- ChtaMessageText
And create some sample:

            Handle.GET("/helloworld/partials/helloworld/{?}", (string objectId) => {
                var relation = (TextRelation)DbHelper.FromID(DbHelper.Base64DecodeObjectID(objectId));
                return new Tra

[2016-05-13 16:19] mtornwall commented on #3618
@atifwaqar Which type of web server is serving https://hiddenurl.net?

[2016-05-13 16:21] bigwad opened #3620 "Investigate profile guided optimization"
Worth to investigate this promising technology.

One has to develop appropriate test cases to collect relevant statistics. Then evaluate performance gain. And finally integrate with build environment.

[2016-05-13 16:41] mtornwall commented on #3618
I'm guessing your setup is:

1. Generic web server (Apache, nginx, etc) listening on port 443.
2. Starcounter listening on port 8080.

Starcounter doesn't speak HTTPS, so you'll want to configure the generic web server as a reverse proxy. I can provide instructions for nginx, but for others I can't help.

[2016-05-13 17:14] alemoi commented on #3595
Today I looked at the state of Linux build agent and its working actually (project `PNext-Daily-Linux `), but the builds are failing. Here I reference corresponding issue: https://github.com/Starcounter/CompanyTrack/issues/200
Which is kind of a duplicate of this one, so I will close that one.

[2016-05-13 17:27] alemoi commented on #3595
I remember that I produced a binary for you actually :smiley: that was placed in Level0 somewhere, as a part of Cmake. But I need to recover whole building process of scllvm in Linux.