[2015-03-13 16:56] miyconst commented on #2616
Sure, here it is:

[2015-03-13 16:57] miyconst commented on #2616
System.NotImplementedException: The method or operation is not implemented.
 at Starcounter.Query.Execution.NullObject.get_Identity() in c:\BuildAgent\work\sc-2.0.3086.3\Level1\src\Starcounter\Query\Execution\Enumerators\NullObject.cs:line 40
 at Starcounter.Query.Execution.ObjectNoProperty.EvaluateToUInteger(IObjectView obj) in c:\BuildAgent\work\sc-2.0.3086.3\Level1\src\Starcounter\Query\Executi

[2015-03-13 17:01] miyconst commented on #2616
The exception valid for SELECT * queries only.
This SQL works:
[code]

[2015-03-13 17:01] k-rus commented on #2617
Now, I see. You mean that the persons are returned even that the address is not null and the address does not satisfy the condition. We will look at it. I don't know if we will need your help to reproduce it. It would be great if you keep or provide a repeatable way to reproduce it.
Currently, it is expected to look into it at the end of next week.

[2015-03-13 17:03] k-rus commented on #2616
Thank you for the stack trace. I will look to the bug at the end of next week. I might need your help to reproduce it.

[2015-03-13 17:06] miyconst commented on #2617
Yes, Query result contains all Persons and only those AddressRelations which satisfy WHERE condition. As you may see from the second query result, the server returns all Persons with no AddressRelations, because non of them satisfy WHERE condition.

This should happen if condition is inside JOIN clause.
WHERE clause should affect already joined rows.

I could send binaries of my db if needed.

[2015-03-14 09:46] per-samuelsson commented on #2608
I have found the problem now, and I have an idea how to solve it.

[2015-03-14 22:49] alemoi opened #2618 "Deleting Json element from the list and deleting object from database"
Trying to delete an item from database and as well an element in the list.
The following works fine (Parent here is used just as example):

[code]
and this does not work:
[code]

As you can see the order matter in this example. Is there explanation why it is so?

[2015-03-15 01:45] alemoi commented on #2608
:+1:

[2015-03-15 08:50] chrhol commented on #2618
It shouldn't matter in which order you do it so this is a bug I think.

My guess (without any investigation) is that the transaction that is attached to `this` is unregistered on the session and removed from the item when you call LocationList.Remove so when Transaction.Commit is called there is no longer a valid transaction.

There is no exception thrown when running the code that does not work?

[2015-03-15 11:55] alemoi commented on #2618
Yes, there is no exception.

[2015-03-16 05:33] per-samuelsson commented on #2608
I think I will be able to push this today. I can't see any real problems with the new design.

[2015-03-16 10:41] per-samuelsson commented on #2608
I think I now have solved this. Its merged and pushed to develop in https://github.com/Starcounter/Starcounter/commit/45002fc1d814d9f33115e16f798de691cd6b3550.

Let me know if there is something that does not work still, @miyconst.

[2015-03-16 10:41] #2608 closed

[2015-03-16 11:11] per-samuelsson commented on #2610
I agree with this. I looked some in the code on how it works, and it seems to be a few different spots we need to redesign. The ```PolyjuiceAppsFlag``` and its effects is one.

Another thing we need to think about when doing this if we really want all applications that are built on a Starcounter polyjuice edition installation to include the edition libraries. I guess not? And if not, we need a way

[2015-03-17 08:37] per-samuelsson opened #2619 "Support exclusion of edition libraries when weaving application"
As part of #2610, we'll add a new parameter to the weaver, instructing it to exclude possible *edition libraries* found.

[2015-03-17 08:38] per-samuelsson commented on #2610
I created a new issue to implement the above, #2619, and self-assigned it to implement.

[2015-03-17 10:08] per-samuelsson commented on #2619
The weaver now support weaving of applications without considering any installed edition libraries as on option.

``` scweaver --disableeditionlibraries myapp.exe```

When we allow configuration of applications or databases to exclude binding to installed edition libraries, we'll have the admin server utilize this new switch when weaving the application before running it.

Merged and pushed in htt

[2015-03-17 10:08] #2619 closed

[2015-03-17 10:11] per-samuelsson commented on #2610
This is now implemented and pushed to **develop**.

[2015-03-17 10:30] per-samuelsson commented on #2579
I'm spending some time investigating this now, and I can see the initial problem. When the weaver meets a locally deployed library (e.g. in "bin\debug") that is a duplicate of an edition library, it does not know how to treat this case.

Another thing that is somewhat related, that we have discussed before, is when you have locally deployed Starcounter libraries, such as ```Starcounter.dll```. The

[2015-03-17 11:58] per-samuelsson commented on #2579
I'm redesigning the weaver a bit, to detect abnormalties i the form of locally deployed edition libraries and to produce a more descriptive error for this case. The result will be something like this when you try starting the application from within VS.

![image](https://cloud.githubusercontent.com/assets/2902045/6686725/86068000-cca4-11e4-9e78-260585034b51.png)

And a similar error message will b

[2015-03-17 12:53] per-samuelsson commented on #2579
OK, now everything in the [above comment](https://github.com/Starcounter/Starcounter/issues/2579#issuecomment-82304485) is done, merged and pushed to develop (in https://github.com/Starcounter/Starcounter/commit/7cc11a9de96fb3562cb837c4e8a4a79702bb7bb4).

@warpech, with this, and considering what I have written above, should we close this issue do you think?

[2015-03-17 13:58] miyconst opened #2620 "What is the purpose of Session.InitialRequest value"
What is the purpose of Session.InitialRequest value and why it is available only inside first Handle.GET block?

Here are some images showing what I mean:

![initial-request-1](https://cloud.githubusercontent.com/assets/6435556/6688711/a1901e0e-ccc6-11e4-90b9-5936bd0caba4.PNG)
![initial-request-2](https://cloud.githubusercontent.com/assets/6435556/6688709/a18d561a-ccc6-11e4-9f5c-013a709a2c89.PNG)

[2015-03-17 16:39] alemoi commented on #2620
Thank you for the question! Probably it is not used anymore. We will check!

[2015-03-18 10:27] miyconst commented on #2608
@per-samuelsson, it looks like the issue is solved.
Thank you.

[2015-03-18 10:45] chrhol commented on #2618
Actually there is an exception, but the server default behaviour is that the patches are rejected silently and no error is sent back to client. I will change this so default behaviour is that it's not silently rejected with an option to turn it on.

In your case the second example fails because the transaction is attached higher up in the tree, so when you remove the child first and then call `thi

[2015-03-18 11:04] chrhol commented on #2615
This issue is solved. We fixed some parts of the handler that was not correct.

[2015-03-18 11:04] #2615 closed

[2015-03-18 11:17] chrhol commented on #2613
The IBound<T> interface does nothing other than types the Data-property on Json today in generated code. It has no impact on the created bindings or anything else.

Didn't you report something that had to do with binding to interfaces before? I can't remember and I did not find any old issue when looking. That's not saying it doesn't exist though :)

[2015-03-18 11:31] chrhol commented on #2618
My previous comment was not correct. The exception is actually sent back to the client. You can see it if you have the network-tab open, but you get no other notification. It will also be logged in the serverlog

So this was not due to the session rejecting the patch.

[2015-03-18 11:35] chrhol commented on #2618
(and if websockets are not used...)

[2015-03-18 11:35] #2618 closed

[2015-03-18 11:41] chrhol commented on #2613
Maybe I'm was thinking of these issues: #1872, #1876.

I think the problem here is the same as in #1876, the property that is bound needs to be public today and the explicit property is not found.

[2015-03-18 12:27] chrhol commented on #1963
I've removed the code that used this class. Pushed to develop and next

[2015-03-18 12:27] #1963 closed

[2015-03-18 12:38] chrhol commented on #2592
I noticed similar behaviour when trying to find another problem reported by @alemoi in #2618 and what I found was that the error is actually returned from the server (and logged) but not shown to the user in the browser.

If you are using websocket, I don't see any way to find out about the error in the browser and if not you can only see it in the network-tab. It's not directly shown to the user.

[2015-03-18 14:37] peterbergman opened #2621 "Auto incremented property"
Is there any built in mechanism in Starcounter that allows for a property on a database class to be auto incremented for each new object created of that specific class? Or, should this be handled by implementing it in the database class? If so, is there any recommended way of implementing such a property (static field etc.)?

[2015-03-18 14:39] per-samuelsson commented on #2562
I have now redesigned the error propagation a bit, assuring (hopefully) a more informative user experience.

I have also updated the relevant help wiki page, and included source code that examplifies the limiation and shows a suggested resolution:

https://github.com/Starcounter/Starcounter/wiki/SCERR4062

All commits are pushed and merged within https://github.com/Starcounter/Starcounter/commit/1

[2015-03-18 14:39] #2562 closed

[2015-03-18 20:47] miyconst opened #2622 "Unable to unload database: An Application, where the class is declared, needs to be loaded..."
I try to unload a database, but it fails with the following exception:
An Application, where the class is declared, needs to be loaded before unload is called. Table Simplified.Ring3.Supplier cannot be unloaded.

![sc-db-dump-error](https://cloud.githubusercontent.com/assets/6435556/6718978/b1b1e63e-cdc8-11e4-87a3-2b6d82514603.png)

The Supplier class is inside Simplified project which is included

[2015-03-19 07:29] k-rus commented on #2622
Thank you for your question.
Unload in `staradmin` is limited to unload every table found in the database and the tables were created for each declared database class.
It is possible during unload to ignore tables, which classes are not loaded for. For this, it is necessary to write [unload app](https://gist.github.com/k-rus/867bb7bae2ceb1ed41f7), which calls `Starcounter.Db.Unload(string fileName

[2015-03-19 07:54] k-rus commented on #2621
The only auto-incremented property supported in the database is the object identifier, which is guaranteed to be unique. However, it cannot be used to count number of objects or for sequential numbering.
Implementing your request, i.e., auto-incremented property, is **not recommended**, since it will be serious **performance bottleneck**. This is because the objects can be created concurrently. Th

[2015-03-19 08:48] per-samuelsson commented on #2622
Maybe we should extend staradmin to support this with a parameter, just as we support a file to be given?

[2015-03-19 09:08] k-rus commented on #2622
I think it is good idea. Our users quite often ask for the additional functionality such as shift id and ignoring tables.

[2015-03-19 09:38] k-rus commented on #2616
I was not able to reproduce this problem in a simple example. I guess it is related to the complex schema and data together with the selection of everything. Can I get the simplified database? Preferably the code, which creates the data. I guess the schema is SO, correct?

[2015-03-19 09:48] k-rus commented on #2595
I confirm the same problem in the installer. It is still there.

[2015-03-19 09:51] per-samuelsson commented on #2622
OK. I'll assign it to me to fix eventually. Can you reveal some about the shifting? Any documentation on that? Is it to shift series of keys (i.e. object ids)?

[2015-03-19 09:57] k-rus commented on #2622
Some information is available on [the wiki](https://github.com/Starcounter/Starcounter/wiki/Reloading-database-between-Starcounter-versions#unload-stable-or-develop-version-for-reloading-into-branch-1731). Basically, `schiftId` adds the given number to the object ids read from the database. This allows to avoid collusion on reload if some data has to be populated before reload.

[2015-03-19 10:19] k-rus commented on #2617
I was able to reproduce this issue.

[2015-03-19 10:23] k-rus commented on #2616
I was able to reproduce. So no need in help. Thank you!

[2015-03-19 10:39] miyconst commented on #2562
The approach which is described in the wiki worked before and still works.

[2015-03-19 10:52] per-samuelsson commented on #2562
Yes, it is the recommended way too. What I fixed was merely a better user experience in the form of a more descriptive error message, both in Visual Studio and in the CLI, and updated the wiki. Thanks for all the feedback.

[2015-03-19 11:00] miyconst commented on #2622
For now I have created a temporary method to unload db.

[2015-03-19 11:08] per-samuelsson opened #2623 "Support partial and shifted unloads via staradmin"
Background is in #2622.

The solution I'm working on will support two new ```staradmin unload``` arguments: an ```--allowPartial``` flag and a ```--shiftKey=[ulong]``` property.

Also, when doing partial unloads, ```staradmin``` should display all warnings logged during the unload.

[2015-03-19 11:46] #2614 closed

[2015-03-19 11:50] chrhol commented on #2614
I've changed the parser so that negative numbers are handled and correctly set as default value. Pushed to develop and next.

[2015-03-19 12:52] alemoi commented on #2614
Super!

[2015-03-19 12:56] chrhol commented on #2515
Not able to reproduce it using the latest version, so probably fixed already. Will close this issue.

[2015-03-19 12:56] #2515 closed

[2015-03-19 14:20] alemoi commented on #2595
I just experienced this: visually the extension checkbox and area is inactive, but extension is installed anyways. So its some rendering problem I guess.

[2015-03-19 15:36] andwah commented on #2595
I will fix this tomorrow. thanks for all reports

[2015-03-19 22:04] dan31 commented on #2574
http://blogs.msdn.com/b/dotnet/archive/2015/03/18/msbuild-engine-is-now-open-source-on-github.aspx

[2015-03-19 23:09] dan31 commented on #2574
Regarding NodeJs, there is async/await proposal in ECMAScript 7 http://wiki.ecmascript.org/doku.php?id=strawman:async_functions. Didn't dig into detail, seems much like in .NET. Sooner or later will be in NodeJs as well.

[2015-03-20 11:37] chrhol commented on #1602
This is now pushed to develop and next. I opted for only have the possibility to turn it on or off for whole objects and not single properties. If that will be needed in the future we will revisit this decision.

To disable (or enable) the automatic refresh of bound values set the property `json.AutoRefreshBoundProperties` to `true` or `false`

Also the extra state needed for keeping track of chan

[2015-03-20 11:37] #1602 closed

[2015-03-20 14:25] chrhol commented on #2338
Inheritance removed. Pushed to develop and next.

[2015-03-20 14:25] #2338 closed

[2015-03-20 22:15] alemoi opened #2624 "TransactionAbortedException when running several Apps"
I was running Cartographer, People and Launcher together, until I starting getting this exception that:
[code]
Hard to say how to reproduce though.

[2015-03-22 21:59] alemoi commented on #2513
I'm not sure if its related but here is another stack from Next-Nightly:

[code]

from here: https://scbuildserver/viewLog.html?buildId=26698&buildTypeId=Starcounter_NextNightly&tab=buildLog

[2015-03-23 07:25] chrhol commented on #2624
I've been trying to reproduce it but with no luck. Until we find some way to do it, I guess we just keep our eyes open for it to happen again.

[2015-03-23 07:30] careri commented on #2613
Yes, that's it. Thought I give it a ping again :)

[2015-03-23 09:18] #2616 closed

[2015-03-23 09:25] k-rus opened #2625 "Next daily is not run on available agent"
I see that 1 of 3 agents is available. I added build of Next-Daily, but the build is queued and is not run on the available agent.
Why is it so?

[2015-03-23 10:25] k-rus commented on #2617
This one is difficult to fix. As I see from the implementation it was not designed to work in the expected way. We will discuss how to go with this issue.

[2015-03-23 10:29] parherman commented on #2625
scbuildserver3 Is a Linux build machine and is only able to run Linux builds, so only to agents are available for Windows - could that be it?

[2015-03-23 10:35] peterbergman commented on #2621
Ok, thanks for the information!

[2015-03-23 10:50] per-samuelsson commented on #2623
With https://github.com/Starcounter/Starcounter/commit/beab39e495eed2a5154729b564f03321f676bfa8, this is now implemented and pushed.

From the next version, ```staradmin``` can be invoked with the ```--allowPartial``` flag and/or the ```--shiftKey=[value]``` property. In addition, any warning produced by the unload will show up in the CLI (e.g. when a table is not unloaded due to its code not bein

[2015-03-23 10:50] #2623 closed

[2015-03-23 10:51] per-samuelsson commented on #2622
With the implementation of #2623, I consider this issue fixed.

[2015-03-23 10:51] #2622 closed

[2015-03-23 11:03] #2625 closed

[2015-03-23 11:59] dan31 commented on #2617
We discussed subject with @k-rus. The current decision is to 1) check all platform users whether they use outer joins, 2) probably they don't, if someone does – find ways to eliminate the usage, 3) hide support for outer joins in 2.0. That support will reappear when NewSQL processor arrives.

[2015-03-23 12:25] miyconst opened #2626 "An operation was attempted on something that is not a socket 127.0.0.1:8066"
System.Net.Sockets.SocketException: An operation was attempted on something that is not a socket 127.0.0.1:8066
   at Starcounter.Query.QueryPreparation.PrepareOrExecuteQuery[T](String query, Boolean slowSql, Object[] values) in c:\TeamCity\TeamCity8\buildAgent\work\sc-2.0.3100.3\Level1\src\Starcounter\Query\QueryPreparation.cs:line 67
   at Starcounter.Query.Sql.SqlEnumCache.CacheOrExecuteEnumera

[2015-03-23 12:30] miyconst commented on #2626
SC: Polyjuice-DevelopNightlyBuilds-2.0.3100 (Mar 23, 2015 3:59:22 AM)

This exception occurs on attempt to access database in People application.
Method `SelectPersons`:
https://github.com/Polyjuice/People/blob/master/Server/Database/PersonsProvider.cs#L8

Steps to reproduce:
1. Open Launcher app in a VS instance.
2. Open People app in another VS instance.
3. Run Launcher via Ctrl + F5.
4. Run Peo

[2015-03-23 12:34] miyconst commented on #2626
Same happens in here:
http://localhost:8080/people/organizations
https://github.com/Polyjuice/People/blob/master/Server/Database/OrganizationsProvider.cs#L8

[2015-03-23 12:35] miyconst commented on #2626
Forget to mention, that everything works fine without debugging.

[2015-03-23 12:38] k-rus commented on #2621
I close the issue. You are welcome to reopen if you have further questions.

[2015-03-23 12:38] #2621 closed

[2015-03-23 12:40] k-rus commented on #2625
Thanks for the clarification. So it is again lack of the information and misleading interface. Now I know.

[2015-03-23 12:44] parherman commented on #2625
Oki, so this was the issue. I'm sorry you have not received information about this, right now it is not used by everyone so I have not informed about it

I will bring it up on a morning meeting so that everyone gets the information!

[2015-03-23 12:47] k-rus commented on #2625
There are no morning meetings where everyone participate. You might need to discuss with @dan31 the notification model.

[2015-03-23 12:57] per-samuelsson commented on #2544
Just to peak into what we have in front of us to implement, after we have fully solved static analysis, I want to just briefly discuss the ```New()``` implementation applied on a rather complex model.

Considering [1.100 model](https://github.com/Starcounter/Starcounter/wiki/Under-the-hood;-the-VMDBMS-dynamic-type-system#1100-complex-milestone), can we try pseudo-code the operation of the ```New()

[2015-03-23 13:17] k-rus commented on #2544
Am I correct that it means that 351.Inherits = 203?

In the step 4 I would create an object in any case due to definition of `New`. So I will create 352 and set 352.Type = 350. Then I find that 352 should inherit from 200, since 200.Type = 201. Then since 200.Instance = AsianCar I will create 353 and set 353.Inherits AsianCar and 353.Type = 352.

Then I would stop. This I guess is more simplistic

[2015-03-23 14:05] per-samuelsson commented on #2544
Correct, since in the sample, 201 actually had a type already (i.e. 203). My comment was more general.

[2015-03-23 14:27] k-rus opened #2627 "Failed builds: why and how"
I merged my changes into main branch after I tested on personal branch. However, [the auto started build](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_NextDaily&buildId=26735) failed. When I look into the log on the build server I can see only that the build failed during compilation, but I cannot figure out easilty what really happened. Then I started the build again an

[2015-03-23 14:40] alemoi commented on #2627
Thanks for reporting. Searching for " error " in the build log usually reveals the problem. In this case it was a well-known error with error codes project (scerrres.h generated file), that essentially is a MsBuild bug when project dependencies are resolved incorrectly. We will move the build of this errorcodes generator project outside Level1 in the build script, so its always pre-built before Le

[2015-03-23 14:54] k-rus commented on #2627
This tip unfortunately does not really help. I did it in this case and it didn't help me. And, imho, it is not a solution to the issue 1.

[2015-03-23 15:15] alemoi commented on #2627
Yes, its definitely far from being good. I was searching for explicit step labeling in TeamCity using console log, but could not find this functionality. We need to research more on how to improve this.

[2015-03-23 15:25] parherman commented on #2627
@k-rus I have set up a test instans with TeamCity where I'm have among other things tried to enable better reporting during builds, would you like me to create an account for you so that you can see if you like it better?

There is also the Nightly Next CTest job on regular TeamCity where I have tried to enable better reporting for tests

[2015-03-23 15:31] miyconst commented on #2626
The issue is gone after updating Launcher.

[2015-03-23 15:31] #2626 closed

[2015-03-23 15:47] k-rus commented on #2627
I think my questions are answered now. The work on the issues is on-going and there are some ideas how to tackle them. The timeframe is not defined, but somewhere in future.
I suggest to keep the issue open until they are  resolved.

[2015-03-23 15:57] warpech opened #2628 "Misleading exception when handler does not include app name"
Starcounter now disallows applications to register URL handlers that do not begin with `/<AppName>`.

In case I try to register such URL handler, the exception message is quite misleading though...

![misleading](https://cloud.githubusercontent.com/assets/566463/6784025/909637bc-d17d-11e4-8111-58b418e7ddb8.png)

  HResult=-2146233086
  Message=Specified argument was out of the range of valid value

[2015-03-23 19:41] alemoi commented on #2628
Thanks for reporting! Yes, the message dialog is very misleading :) Slightly improved the exception in ccc7654b54113f2defce613d0212441654a26bb4

[2015-03-24 07:32] parherman commented on #2595
I believe this is solved in commit 7add398693a01ad7176325a02560ac92d6188ddc
![installer](https://cloud.githubusercontent.com/assets/231535/6797280/3f8e0894-d200-11e4-83c5-5233bc93bc4b.png)

[2015-03-24 12:54] per-samuelsson commented on #2586
@miyconst

Not sure why this issue never was answered. Sorry.

There are a few callbacks available, some quite stable, others under review and yet others we have supported in earlier versions, but that currently don't work fully.

Let me try summarize:

#### Constructors
Standard **constructors** can be used to initialize instances as they are created. I guess they don't map 1-1 with either Object

[2015-03-24 13:41] miyconst commented on #2586
@per-samuelsson thank you.

IEntity is right what I need. If only it also contains OnUpdate & OnInsert...
I have already heard about the commit hooks, but they don't work, so I didn't even try to use it.
Will read about the new hooks.

[2015-03-25 07:59] careri opened #2629 "More specific error"
I get this weaver error in VS:
An unspecified error caused the operation to fail. Illegal element for the SynonymousTo attribute (ScErrUnspecified (SCERR999))

It would be helpful if it pointed out ther erroneous class

The administrator log:
 HelpLink=https://github.com/Starcounter/Starcounter/wiki/SCERR999

2015-03-25 08:38:36	Error	sc://headsutv180/personal	Starcounter.Server	ScErrWeavingError

[2015-03-25 08:07] per-samuelsson commented on #2629
@careri

Thanks for reporting!

I will assign it to me and eventually fix it.

[2015-03-25 08:09] careri commented on #2629
Is it possible to figure out what's generating the error by searching the weaver temp dir?

I can't quite figure out the problem by browsing the code.

[2015-03-25 08:14] careri commented on #2629
Can I attach a debugger to a process (which exe?) and catch the exception?

[2015-03-25 08:20] per-samuelsson commented on #2629
You can run the weaver standalone, yes. But I'm not sure you will find anything, since you have a release build.

The weaver is in ```scweaver.exe```.

[code]

There is an unofficial switch, ```--sc-debug```, that you can apply and it attach a debugger. But I'm unsure if it works in release builds. Otherwise, just run it via VS.

[2015-03-25 08:22] careri commented on #2629
Was just looking through the code, there is also the verbosity switch?
syntaxDefinition.DefineProperty("verbosity", "Sets the verbosity of the program (quiet, minimal, verbose, diagnostic). Minimal is the default.");

I'll try your suggestion

[2015-03-25 08:27] per-samuelsson commented on #2629
Yep, that might actually give you the reason. Try it. Apply the higest level, diagnostic.

[code]

[2015-03-25 08:28] careri commented on #2629
I did that, the last class processed. Is that the culprit?
ScAnalysis - Validating the database class DummyDB.DummyWorkstationBoundSoftware.
ScErrUnspecified (SCERR999): An unspecified error caused the operation to fail. Illegal element for the SynonymousTo attribute
Version: 2.0.3077.3.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR999.

[2015-03-25 08:30] careri commented on #2629
Strange haven't changed that class since 4 days ago. I'll try deleting the temp folder

[2015-03-25 08:31] per-samuelsson commented on #2629
Hmm, dont exactly understand what you mean I'm afraid?

If you cant see anything particular with your synonym declarations, and want more hands-on help, maybe I can run your code and debug it.

[2015-03-25 08:33] k-rus commented on #2160
I am wonder about kernel assumption on encoded TypeId using the collation. Are null values or empty strings allowed?

[2015-03-25 08:34] careri commented on #2629
The last class written to the cmd log before raising the error:
ScAnalysis - Validating the database class DummyDB.DummyWorkstationBoundSoftware.

Is that the class that has a problematic SynonymousTo?

[2015-03-25 08:34] careri commented on #2629
I'll try attaching the debugger

[2015-03-25 08:35] k-rus commented on #2160
I am wonder about it as I need to understand how type terminator is going to be implemented.
(I know that `TypeId` is renamed to `SetSpecifier`)

[2015-03-25 08:40] per-samuelsson commented on #2629
Yep.

[2015-03-25 08:41] per-samuelsson commented on #2629
Maybe you have changed any class being referenced from the ```DummyWorkstationBoundSoftware```? This can also affect the referencing one.

[2015-03-25 09:00] careri commented on #2629
We'll debugging didn't help much since the exception is thrown in PostSharp from this line:
postSharpObject.ProcessAssemblies(strategies);

I had added a new database class, but I forgot the ````[Database]```` attribute on the new class. Not quite sure why it crashed on analyzing ````DummyWorkstationBoundSoftware````. It had no direct reference to the new class. It has a SynonymousTo typed as ````

[2015-03-25 09:02] per-samuelsson commented on #2629
OK. And this is not supported. This shows the importance of proper, informative error message. Really sorry for the bad experience. I will try fixing this as soon as I get the chance to.

[2015-03-25 09:09] careri commented on #2629
Always expect the user, at least me, to use the product as it wasn't intended ;)
Thanks for the quick responses.

[2015-03-25 10:36] eriohl commented on #2160
Null values are allowed. Then the record will belong to no set. Default is null.

Empty strings I think is not allowed since the set specifier needs to start and end with a ~. This is an encoder issue however.

[2015-03-25 11:46] per-samuelsson opened #2630 "Cherrypick 2544/2583-commits to switch to simplified dynamic type model"
We have decided to go with a heavily stripped, simplified dynamic type model in **next**, and postpone introducing the full mutil-level, unrestricted dynamic type system to an upcoming version.

Thereby, issues #2544 and #2583 will be postponed for now. Some functionality implemented in those issues can still be usable though, and we'll cherrypick the relevant commits.

[2015-03-25 20:52] andan342 commented on #2581
Fixed in branch RestrictiveGraphSyntax2.

[Grammar Synopsis](https://github.com/Starcounter/Starcounter/wiki/Graph-Syntax#4-grammar-synopsis) wiki page updated

[2015-03-26 07:33] k-rus commented on #2581
I tested the changes and found some old queries do not work. I get syntactical error on:
[code]
This query is presented on [wiki page](https://github.com/Starcounter/Starcounter/wiki/Graph-Syntax#4-grammar-synopsis) describing the graph syntax.
I found another problem on the wiki page. It contains syntax of using square brackets after dot, which if I don't mistake does not suppose to work:
[code]

[2015-03-26 08:44] per-samuelsson commented on #2630
Done. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/ac982a980390345108a29f1bff4958934e0fbab6.

[2015-03-26 08:44] #2630 closed

[2015-03-26 08:46] per-samuelsson commented on #2544
This has been reevaluated, and will be put in the backlog. Part of the functionality implemented has been cherrypicked and merged as part of #2630.

[2015-03-26 08:46] #2544 closed

[2015-03-26 08:46] per-samuelsson commented on #2583
This has been reevaluated, and will be put in the backlog. Part of the functionality implemented has been cherrypicked and merged as part of #2630.

[2015-03-26 08:46] #2583 closed

[2015-03-26 10:52] per-samuelsson opened #2631 "Adapt basic dynamic type modelling test to basics and make it work"
With the changed approach to how we'll support dynamic types in **next**, we need to adapt the basic dynamic type modelling regression test accordingly, and make the fundamentals work, before looking into specific cases that need to be adressed.

[2015-03-26 12:16] k-rus commented on #2481
@eriohl
I am wonder why does layout need both layout_id and name? What is the purpose of having layout name?

[2015-03-26 12:35] eriohl commented on #2481
You need a user generated id (or something) to find the layout id. Layout id is allocated on commit so it is not known until after layout is great. Also, you need to be able to lookup the layout for a specific class on load.

This of course can be done some other way (like checking the layout columns). It does not have to have a name really. I suspect locating the appropiate layout will be an issu

[2015-03-26 12:39] eriohl commented on #2481
The layout id should actually be layout handle.

[2015-03-26 15:12] per-samuelsson opened #2632 "Database classes that dont reference custom type will have Type == null by default"
This should be fixed, even in **next**, and is controlled by how the weaver behave; it does not emit the call to `DbState.WriteDefaultTypeReference(...)` if the type (and all its parents) omit to declare a reference to a custom type class.

[code]

This is not a prio, however, so I'm postponing it.

[2015-03-26 21:01] andan342 commented on #2581
Yes, we have disabled the use of '*' outside round brackets - the example (h) on wiki page was updated at that time, test cases should also be updated.

I have fixed the other example (i) - that was certainly a mistype

[2015-03-27 06:31] k-rus commented on #2581
Thank you for clarification! I missed to notice that the example has transitive closure outside parenthesis. I will fix the example and test again.

Thank you!

[2015-03-27 06:57] k-rus opened #2633 "Build server cannot start builds"
There is some problem with build server or some other server. No builds can be started.

[2015-03-27 07:05] k-rus commented on #2581
I tested that it works. I will merge as soon the build server is working.

[2015-03-27 07:06] parherman commented on #2633
TeamCity cannot access github.com for some reason, investigating

[2015-03-27 07:14] k-rus commented on #2633
According to [the status at GitHub](https://status.github.com) it is under DDoS attach.

[2015-03-27 08:05] parherman commented on #2633
It looks like the connection to github is unstable at the moment, and most of the time we get timeouts. It might take some time for them to recover to full capacity from the DDoS attack earlier this morning.

Will continue to monitor this

[2015-03-27 08:10] per-samuelsson commented on #2633
https://status.github.com/

[2015-03-27 08:19] parherman commented on #2633
I have temporally increased the global changes check interval to 30 min, so jobs will not start directly for the time being

[2015-03-27 08:24] k-rus commented on #2633
I think the problem is with our client software used on the build server. Accessing GitHub from git works perfectly.

[2015-03-27 08:33] parherman commented on #2633
I actually get timeouts on git clone https://github.com/Starcounter/Starcounter.git from time to time

[2015-03-27 08:33] parherman commented on #2633
GitHub: 8:31 UTCAt this time we're fully operational but we're still mitigating the ongoing DDoS attack and there may be intermittent connectivity issues as we continue working on the problem

[2015-03-27 08:38] k-rus commented on #2633
I think we need to change our build strategy with cloning. Now the build server does many clones for one single build. This will be always bottleneck.
Note that daily builds should be very smooth and optimised to safe our time. It is necessary to investigate strategies to decrease time to build a daily build, e.g., by pulling instead of cloning.

[2015-03-27 08:47] parherman commented on #2633
That is a good point and there is ongoing work on a setup where we reuse build artifacts and don't pull the repos again unless there is a change for example

We should also investigate having internal/local mirrors of our repos and use web hooks in github to trigger builds instead of pulling for changes

[2015-03-27 09:03] k-rus commented on #2633
The problem is not in pulling changes, but cloning entire repos. I can pull, fetch or push changes to GitHub without big problems even during DDoS, since the changes are small, but cloning entire repository is expensive and still does not work.
Of course, using pulling instead of cloning will complicate things, but I don't see other way to make our work smooth.

[2015-03-27 09:12] per-samuelsson commented on #2633
I agree. Nightly builds are fine using clone, but daily builds should optimally not.

I can not. :cry:. I'm trygin to push recent development in on of my branches, and just don't work. So hard to do personal tests at the moment.

[2015-03-27 09:17] k-rus commented on #2481
Thank you for the explanation! Now it is clear the need in both of them. I agree it is good idea to rename `layout_id` to `layout_handle`.
I wonder if layouts have names. As I understood they don't match one-to-one to tables/classes/types/sets. Can the same layout be used for representing different tables, which have the same schema? What happens if the schema is changed, i.e., there are objects o

[2015-03-27 09:26] k-rus commented on #2633
I was able to pull and push, but personal tests cannot be done. I am trying (in background) to run it without success for long time now. Once I was lucky that a test started but it failed during cloning Launcher. Why launcher is in daily tests I don't know.

[2015-03-27 09:43] parherman commented on #2633
@k-rus the way the jobs are set up right now we do basically the same thing for all the jobs, then run a different set of tests on the builds - if you want to I can give you access to the TC test instants where the jobs are more split up and you can define what tests you want to run in a separate job

[2015-03-27 10:22] eriohl commented on #2481
Yes.

This is this expected layout stuff I had a big presentation on a while back. Essentially the values of any record can be accessed as it has any layout. If in fact the actual layout differs from the expected layout then the kernel reads the value on token.

For example: Lets say you have 2 record layouts: Person1 and Person2. Both have the column Name:String but in Person1 the column has inde

[2015-03-27 11:01] k-rus commented on #2481
I remember the presentation. Wha I really was missing the implementation details and what is assumed by the kernel.

The layout structure is different in my example, but name is the same. Is it possible? For example, a type `Person` was created with one layout, then there was change in the layout, e.g., added a column or removed a column, or switched column places or several such changes. The new

[2015-03-27 11:03] k-rus commented on #2633
I understand that the tests in TC are not set to work as I described and this is not a small task to fix. However, this should be planned and fixed, since we need to have more reliable and better performing environment.

I am still curious: why launcher is a part of daily builds? It was decided to have minimal amount of tests in daily builds and cloning, building and running launcher does not seem

[2015-03-27 11:23] eriohl commented on #2481
No. They can't have the same name. The name has to be unique. But why they could not have a name for this reason I don't really get.

What about this then:

What is not layout_name we can call layout_id (this is a user generated 64-bit id).
What is not called layout_id we call layout_handle (this is generated by database engine and is 16-bits).

Ok?

[2015-03-27 11:24] parherman commented on #2633
There is a test project available in the buildsystem repo for the Luncher but I dont think it runs, it could be left in there by mistake

Except for some test projects repos the same things are pulled for most jobs right now

[2015-03-27 11:41] warpech commented on #2595
I confirm it is fixed now

[2015-03-27 11:41] #2595 closed

[2015-03-27 12:21] k-rus commented on #2481
Yes. I think it will be less confusion. The source for names are user identifiers, which are not one-to-one mapped to kernel represenetation.

Dynamic type object does not require to have name, thus types can be without name. I don't know if Starcounter will provide an interface to add properties to a type object, i.e., create a layout without name. I guess this functionality will be necessary for

[2015-03-27 12:22] k-rus commented on #2633
Will it be investigated? It would be great if Launcher is not pulled for daily builds.

[2015-03-27 12:32] parherman commented on #2633
@alemoi The Luncher repos is pulled in the build script, but from the looks of it, it is not used for anything. As far as I can tell it is possible to build and run test whiteout it - do you know why it was added or if it can be removed safely?

[2015-03-27 13:03] tomalec opened #2634 "Access violation at sccoredb.cpp:3649"
I have just updated Starcounter to 2.0.218.8, (from something at least week old),and  I'm constantly getting.
[code]
When trying to run current [Launcher@4c57eaa07bce3](https://github.com/Polyjuice/Launcher/tree/4c57eaa07bce3d922dac88d3cc6b2beb422a56f2)

Full log entry:
[code]

[2015-03-27 13:10] tomalec commented on #2634
My bad, `2.0.218.8` is Next so probably that's why Launcher fails.
I have just missed that DevelopNightly builds change the position at download page.

[2015-03-27 13:10] #2634 closed

[2015-03-27 13:35] parherman commented on #2633
According to status.github.com things are calming down a bit and I have disabled the cloneing of the launcher repo during daily builds

Jobs seem to pass more frequently now

[2015-03-27 13:51] alemoi commented on #2633
Yes, we thought to have Launcher as a preinstalled application for Polyjuice addition. So we might come back to this later. Let's have a discussion first.

[2015-03-27 14:13] k-rus commented on #2633
In my comment I mean daily build of develop, which should not have relationship to Polyjuice edition. It would be nice that the separation is kept on the build server.

[2015-03-27 14:17] per-samuelsson commented on #2631
I have now pushed a set of commits (in https://github.com/Starcounter/Starcounter/commit/8bee57e32a2c729c29337b1d22ab68d7d48438b8) that takes the simplified dynamic type modeling functionality, and especially the binding, to a level where the most obvious things work.

Now I will focus on adding more regresssion tests (including SQL), define more complex code models and implement constraints on th

[2015-03-27 14:17] #2631 closed

[2015-03-27 14:59] #2581 closed

[2015-03-27 15:53] alemoi commented on #2633
Unfortunately, would not be possible I think. The thing is that Starcounter and Polyjuice editions are different only in the installer, other binaries and features are the same, meaning that Polyjuice apps should be runnable on both editions and vice versa. That's why currently, develop and next daily and nightly are suppose to produce both editions.

[2015-03-29 21:24] alemoi commented on #2620
`Session.InitialRequest` was removed.

[2015-03-29 21:24] #2620 closed

[2015-03-29 21:27] #2602 closed

[2015-03-30 10:11] per-samuelsson opened #2635 "Querying using IS with type that dont declare TypeName does not work"
[code]

The above model works fail the following query:

[code]

The error states:

It can be worked around by changing the model to

[code]

and hence is no showstopper. But it should be resolved eventually - the implicit name column can/should be used by the query processor.

[2015-03-30 10:15] per-samuelsson opened #2636 "Querying using IS fail if no [Inherits] declaration is present"
Relates to #2635.

The following model

[code]

fail this query:

[code]

The error states:

It can be worked around by changing the model to

[code]

and hence is no showstopper. But it should be resolved eventually - there is an implicit column that should be used long-term to resolve this.

[2015-03-30 11:18] alemoi opened #2637 "Add the possibility to access the initial external request"
Inside the nested call hierarchy user code should still be able to access the initial external HTTP request and possibly the requests on each intermediate level.

[2015-03-30 12:10] k-rus commented on #2635
What is the stack trace of the error?
This is not a bug, it was implemented according to the specification. Originally it was decided that the type name is required, otherwise an object cannot be used as type.
I don't know how if the current temporal implementation relies on this.

Since the implementation is temporal I suggest to not put effort to change the implementation.

[2015-03-30 12:13] k-rus commented on #2636
What is the stack trace?
I am wonder which code produces the error.

[2015-03-30 12:14] per-samuelsson commented on #2635
Yes, I know it's according to the original specification. But later we introduced the notion of implicit columns, and I think that the final implementation should eventually use that as a fallback if there are no custom class / reference defined.

And the same goes for #2636.

No prio for none of them, though. I basically just "record" anything I find that I think we eventually should improve on.

[2015-03-30 12:16] per-samuelsson commented on #2636
Like I wrote in this https://github.com/Starcounter/Starcounter/issues/2635#issuecomment-87653327, we should treat this as future enhancements instead. I dont expect you to take any action on these, @k-rus.

[2015-03-30 12:57] per-samuelsson opened #2638 "Fix various flaws in dynamic type binding"
With the change in how we approach the dynamic type binding in **next**, there are still flaws and inconsistencies and lacking functionality, to get to a point where we can successfully run the simplified model to support Heads migration.

This issue will act as a general parachute for this issues, so we don't need to create small issues for each one.

[2015-03-30 21:43] alemoi commented on #2637
For now added a possibility to call handlers using the initial request, as its now working in Launcher with middleware filters. Here is the commit: 26ddd56d690b40cd333600af506085d448b03fbc

[2015-03-31 12:11] per-samuelsson opened #2639 "Change implicit column bool IsType to int Instantiates"
We need to keep track of, on the tuple level, what type instantiates what object/table. In **next** initially, I'm implementing this as an integer column, holding the table ID.

As an optimization, I'm dropping the implicit IsType column, and in the higher levels IsType will be resolved as Instantiates != InvalidTableId.

I'll host this inside the #2638 branch.

[2015-04-01 14:07] per-samuelsson commented on #2638
Internal notes of stuff still to address:

* Db.TypeOf<TypeClass>() should raise exception;
* TupleHelper.New(typeType) should raise exception;
* Binding of type class already bound as not a type should raise exception;
* Constraint inheritance for instance and type classes, restrict only to specialize base constructs.

[2015-04-01 19:49] miyconst opened #2640 "Terrible situation: responseSizeBytes_ > estimatedNumBytes"
From time to time I meet a strange exception.
This happens on page refresh.
The page hangs, but after another refresh it works again.

I could not figure out how to reproduce the bag, it occurs in very different situations.

Here is the stack trace from the admin panel.

[code]

StarCounter version:
http://downloads.starcounter.com/download/Polyjuice/DevelopDailyBuilds/2.0.9457.2

[2015-04-01 20:55] miyconst commented on #2640
Another stack trace which came together with the previous exception:

[code]

[2015-04-01 21:02] miyconst commented on #2640
Okay, I found how to reproduce the exception:

1. Run Launcher, GoogleSignInApp, UserAdminApp all together.
2. Go to the main page (http://localhost:8080/)
3. Sign in with Google.
4. Sign out.

Repeat the steps 3 and 4 a couple more times.
The exception will be there.

[2015-04-02 06:16] k-rus opened #2641 "Next daily does not run automatically"
It seems that pushes to next branch does not trigger automatically daily build. Is it by design? Can it be run automatically on commits as develop daily?

[2015-04-02 06:31] dan31 commented on #2640
Nice name given! :)

[2015-04-02 06:35] parherman commented on #2641
It looks like the last build was triggered by git, or am I missing something?

https://scbuildserver/viewLog.html?buildId=26976&tab=buildResultsDiv&buildTypeId=Starcounter_NextDaily

It triggered on my push now, but I will keep an eye out for this

[2015-04-02 07:00] per-samuelsson commented on #2640
Haha, I thought exactly the same. It might be good to avoid such terminology, especially in end-user scenarios. :smile:

[2015-04-02 07:15] k-rus commented on #2641
Yes, you are correct. I was surprised that the triggered build contained more than just mine changes. I should reformulate my question?
Why are the builds not started sometimes? Why was there no build for changes from @alemoi and @chrhol ?

[2015-04-02 07:19] chrhol commented on #237
I've been working on this for a couple of days now with not as much  progress as I have hoped. There are quite a few places in our code that  needs to be rewritten/refactored (and tested of course) to support primitive arrays. Or rather json as a primitive value I should say since it will not be much difference to support json as a single primitive value and primitive values in arrays.

- **Json-b

[2015-04-02 07:19] parherman commented on #2641
In the history it looks like the previous build was canceled

[2015-04-02 07:29] k-rus commented on #2641
Thank you for clarification. I was confused by this. No more questions from me. I am closing the issue.

[2015-04-02 07:29] #2641 closed

[2015-04-02 09:12] alemoi commented on #2640
I found the issue. Will ve fixed soon. Thank you for reporting!

[2015-04-02 10:43] #2640 closed

[2015-04-02 10:47] alemoi commented on #2640
I on purpose used this "Terrible situation" thingy, so that we can get back to this in future. The thing is that this situation should never occur, its like `Assert(False)`. I by mistake forgot to add estimation of buffer size for outgoing cookies. The reason I left it because I don't know how to do an equivalent of native `assert(false)` in managed code, with process termination and error log ent

[2015-04-03 06:50] miyconst opened #2642 "Corrupt json-patch value"
Same issue with double comma `,,` in json-patch again.
This time in another place:
https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L381

Here is the link to the patch data:
https://jsfiddle.net/qokxbgk9/

How to reproduce the bug:

1. Start Launcher, UserAdminApp, GoogleSignIn, SignInApp all together.
2. Navigate to http://localhost:8080/signinapp/signinuser

Note: the cookie-rewo

[2015-04-03 07:01] miyconst opened #2643 "Cookie.cs class"
GoogleSignIn app and SignInApp share the same class `Cookie.cs`.
https://github.com/Polyjuice/GoogleSignIn/blob/master/Server/Cookie.cs

Lots applications might use cookies and all of them will implement some wrapper to get/set cookies.
That is why I think the class should be included in Starcounter.

Other way is to create a custom `.dll` and use it in GoogleSginIn and SignInApp, but it is never

[2015-04-03 07:07] miyconst opened #2644 "Commit hooks"
There is such line of code inside SignInApp:
[code]
https://github.com/Polyjuice/SignInApp/blob/master/src/Database/CommitHooks.cs#L18

Does this url has some meaning or there may be used anything?

[2015-04-03 20:07] alemoi commented on #2643
Agree, we need something like this and it should probably be integrated into Request/Response classes.

[2015-04-03 20:13] alemoi commented on #2637
Access to initial external request is in `Handle.IncomingRequest` where you can read incoming cookies and HTTP headers. For setting outgoing cookies use `Handle.AddOutgoingCookie`.

[2015-04-03 20:13] #2637 closed

[2015-04-04 16:41] alemoi commented on #2513
Here is another one from Debug Nightly:

[code]

here: https://scbuildserver/viewLog.html?buildId=27001&buildTypeId=Starcounter_Develop_Nightly_Debug&tab=buildLog

[2015-04-06 11:40] eriohl commented on #2481
Been a lot of sickness and such so haven't gotten around to addressing this. But considering this some more I feel reluctant to call what is now name id instead. The reason for this is record id, which is auto generated. So I think it more consistent if the user generated keys in the interface is called name while the auto generated keys are called id.

As for anonymous types I would argue that th

[2015-04-07 06:14] k-rus commented on #2481
I agree with the suggested names. Just clarification questions:
1. Is `token` unique identifier per database or per database object type, i.e., per table, per index and per column?
2. Was Record id earlier called `ObjectId`?

[2015-04-07 06:48] eriohl commented on #2481
There are no tables in the kernel generally it is unique per object type (there can only one layout with a specific token but an index can have the same token). Column tokens are unique per layout and is also used as a column identifier when converting between layouts.

It is the same as ObjectNo in client. It was called object id in kernel interface previously although this was a long time ago. S

[2015-04-07 07:40] andwah opened #2645 "StaticWebServer - NullReferenceException"
Now and then i get this error in my log.

[code]

At the moment i don't have so much more info report,

[2015-04-07 07:46] andwah opened #2646 "ScErrInputQueueFull (SCERR1026)"
After a while "pushing" data on the socket i sometimes get this error

[code]

[2015-04-07 07:57] alemoi commented on #2645
Thanks for reporting! I will check it.

[2015-04-07 08:09] alemoi commented on #2646
Yes, its a known problem with limited queue size. Websocket.ForEach, since it needs to send on all sockets, it does schedule a job for other schedulers (to which those sockets belong). I will however take a look and make sure that sockets job is not per each socket but for all selected sockets per scheduler.

[2015-04-07 08:29] miyconst commented on #2642
Same happens when I run only Launcher ans SignIn app together.
New patch here:
https://jsfiddle.net/tcz4upd1/

The problem is on the server side, not the client.

Note: You have to use cookie-rework branch of SignIn application.

[2015-04-07 08:29] warpech commented on #2642
@chrhol could you take a look? It happens in initial `application/json` response when running just two apps: Launcher (master branch) and SignIn (cookie-rework branch)

[2015-04-07 09:27] miyconst opened #2647 "Response data for REST API"
There should be a way to return clean JSON result for third side applications.

Applications with own GUI would like to see clean API response. Lets take SignIn method for example.

Expected:
[code]

Actual:
[code]

[2015-04-07 09:31] miyconst opened #2648 "Return valid response for unsupported mime-type"
Pages hang if try to access with header:
[code]

The administrator console logs an exception:
[code]

It should not only log the exception, but also return a valid http result to client.

[2015-04-07 09:58] chrhol commented on #2642
I have reproduced it, looking into it now. I thought I fixed the double commas but apparently not in all places.

[2015-04-07 10:27] alemoi commented on #2647
I assume you don't want to modify the user code and still be able to respond with plain JSON?

[2015-04-07 10:34] alemoi commented on #2647
One way could be to send a special accepted MIME type from client, like e.g. application/plain-json.

[2015-04-07 10:55] miyconst commented on #2647
@alemoi yes, that is what I thought about.

I think it is okay to modify server side code to make it work in both `plain-json` and `json-patch` ways, but the goal is to make same method work for both requests.

[2015-04-07 10:56] miyconst commented on #2642
@chrhol will this update be available in today's nighty build?

[2015-04-07 11:02] chrhol commented on #2642
@miyconst, yes I just pushed it to develop (and next). It should be available in the next nightly build. Or I could upload a daily build if you like.

[2015-04-07 11:08] miyconst commented on #2642
@chrhol no need for daily build, thank you.

I will test it tomorrow and close the issue if it works.

[2015-04-07 11:22] alemoi commented on #2648
I will check this one! Thanks for reporting!

[2015-04-07 11:26] alemoi commented on #2647
Another would be to uncheck Polyjuice flag on database where you are running. Then your app will automatically return exactly what you are sending in response. So do you want to simulataneously run both modes or one at a time?

[2015-04-07 11:48] miyconst commented on #2647
@alemoi it should work simultaneously, should not it?

For example, we have an ordinary polyjuice web application and another application which somehow related to our data, they both should run at the same time.

[2015-04-07 12:25] andwah commented on #2646
thanks, and maybe i can switch from ```Session.ForEach``` to ```WebSocket.ForEach``` or does both use the RunAsync method?

[2015-04-07 13:59] alemoi commented on #2646
I have checked the code and `RunAsync` is running for each scheduler with a "thick" delegate, and not for each WebSocket as I first assumed. Then it means that `WebSocket.ForEach` is called very frequently, since each scheduler has a queue size of 1024, which exceeds.

[2015-04-07 14:01] alemoi commented on #2646
`Session.ForEach` also runs a "thick" delegate up to number of schedulers, so the story there is the same as for `WebSocket.ForEach`. On what events is ForEach executed?

[2015-04-07 16:14] miyconst opened #2649 "What means $ in front of variable name in json model?"
Here is an example:
https://github.com/Polyjuice/Images/blob/master/JSON/IllustrationJson.json#L4

[code]

What does `$Name$` means and what is it made for?

[2015-04-07 18:49] andwah commented on #2646
When the server data model changes (if a database/app is started/stopped etc..),  when a database starts there can be many events (the operation has many micro jobs to execute).

I get the feeling that the queue is never emptied?. can that be so?,  it takes a while before i get the error.

[2015-04-07 20:09] eriohl commented on #2481
Discussed changes to naming done (in the interface at least).

[2015-04-08 07:57] chrhol commented on #2649
It's used on the server when generating code from Json-By-Example for TypedJson. It's a way to add metadata information directly in the json-file.

In the example above, `$Name$`, a path is specified that the property should be bound to in the dataobject.

It doesn't look like this is documented anywhere though (as usual). it should probably be reviewed first if it the best way to handle this kind

[2015-04-08 08:17] chrhol opened #2650 "Review and document how we specify metadata in json for TypedJson."
Today we use the `$` char in the beginning of a propertyname in json to specify metadata for the property (or object), like paths for binding, reuse of existing typedjson classes and namespaces.

This should be reviewed to make sure that it's a solution we want and properly documented.

[2015-04-08 08:17] chrhol commented on #2649
I've added a new issue for reviewing and documenting this feature, #2650

[2015-04-08 08:21] careri opened #2651 "Transaction conflict detection"
Hi!

I'm writing a class, Upgrade, that has a DateTime field called Started. This field can only be set once by the Start() method.

The Start-method needs to somehow make sure that no other transaction has called Start and written the Started field.

What is the simplest way of achieving this? At the moment I check the value of the Started field in the current transaction I then create a new tran

[2015-04-08 08:29] careri commented on #2651
Maybe this is a better solution, but I might get exceptions in the transaction calling Start if it has detectConflicts set to true right?
[code]

[2015-04-08 08:35] per-samuelsson commented on #2638
Done. Merged in https://github.com/Starcounter/Starcounter/commit/fab812289923f9cb8e8a359cc8b080681dbab2ab.

[2015-04-08 08:35] #2638 closed

[2015-04-08 08:35] per-samuelsson commented on #2639
Done. Merged in https://github.com/Starcounter/Starcounter/commit/fab812289923f9cb8e8a359cc8b080681dbab2ab.

[2015-04-08 08:35] #2639 closed

[2015-04-08 08:40] andwah commented on #2645
I did some more digging, this is what i found.

In my case the client tries to GET glyphicons-halflings-regular.woff2 (web font format 2.0).

And that mime type is not "registered" in my windows registry (i think woff2 is not yet adopted officially but i may be wrong).

[2015-04-08 11:42] miyconst commented on #2650
Personally I would like to keep JSON files without any logic.

I prefer this:
[code]

Rather than this:
[code]

[2015-04-08 11:44] miyconst commented on #2649
@chrhol thank you for the explanation.

[2015-04-08 12:08] careri opened #2652 "Event on database class"
Hi!

I get a not supported exception when declaring an event on a database class. I'm aware of the use of proxy instances and that event handlers lose their value once I retrieve an new instance from the database.

I doubt that any user expects the EventHandler to be persistent, I suggest removing this exception.

[code]

Error	35	The data type is not supported. The data type of a field or propert

[2015-04-08 12:10] careri commented on #2652
Actually there is a problem here, I can't apply the Transient attribute to an event handler:
Error	36	Attribute 'Transient' is not valid on this declaration type. It is only valid on 'property, indexer, field' declarations.	d:\source\Scdb2Apps\HeadsAdmin\WebApp\DummyDB\DummySoftwareUpgradeStep.cs	40	10	DummyDB

[2015-04-08 12:51] miyconst commented on #2642
The bug is fixed. Closing the issue.

[2015-04-08 12:51] #2642 closed

[2015-04-08 13:00] miyconst commented on #2262
As @alemoi said there is no way to get/set cookies/haeders in Handle method. Instead an HTTP REST call should be used for that.

There are two new methods to set cookies/headers:

[code]

`GoogleSignIn` and `SignIn` apps work in that way to set auth cookie.

@andwah this issue should be closed, should not it?

[2015-04-08 14:04] per-samuelsson commented on #2652
Hi @careri,

Thanks for reporting this and sharing your thoughts.

Regarding

I agree, and regarding

I think I agree as well, but I'm not really sure. I'm thinking that it might be better to make it a specific error and reference to documentation that discuss what database class proxies are and why we consider them a poor choice to hold stuff like events (for the reasons you describe).

Let us th

[2015-04-08 15:07] andwah commented on #2262
@miyconst Yes. ill close it.

[2015-04-08 15:07] #2262 closed

[2015-04-08 17:00] careri commented on #2652
Funny that you suggested an inner class. I've already implemented that.
Thanks
Den 8 apr 2015 4:04 em skrev "Per Samuelsson" <notifications@github.com>:

[2015-04-08 17:33] miyconst opened #2653 "Add Handle.SetOutgoingStatusCode method"
Method `Handle.AddOutgoingHeader` is handy for setting outgoing headers, but there is no way to set response status code by it.

There should be a way to change response status code.

By this piece of code I assume that in the past it was working somehow:
https://github.com/Polyjuice/Images/blob/master/ImageUpload.cs#L50
[code]

[2015-04-08 21:39] alemoi commented on #2653
Added methods for setting outgoing HTTP status code and description: `Handle.SetOutgoingStatusCode` and `Handle.SetOutgoingStatusDescription`

[2015-04-09 04:25] miyconst commented on #2653
@alemoi thank you.

Both of the methods work, I close the issue.

[2015-04-09 04:25] Starcounter-Jack opened #2654 "Could we remove /StarcounterJs and /third_party folders in the GIT repo"
@parherman

They are not used by Starcounter.

[2015-04-09 05:20] miyconst commented on #2653
Found a bug.

Once I set status code and description:
[code]
It applies for all handlers till I change it manually again.

Steps to reproduce:
- Create an app with three handlers, I used People app (`/people/persons`, `/people/persons/@w`, `/people/organizations`).
- To handler 1 add code:
[code]
- To handler 2 add code:
[code]
- Open handler 1 - it works.
- Open handler 2 - it returns error.
- Op

[2015-04-09 05:31] miyconst commented on #2314
I am getting similar excepion:

[code]

This happens in `Images` application after wrong file upload.
https://github.com/Polyjuice/Images/blob/master/ImageUpload.cs#L39

@alemoi could you please take a look? It started to appear after your changes in https://github.com/Starcounter/Starcounter/issues/2653

[2015-04-09 06:00] parherman commented on #2654
Done!

Ref: 55482f093e051eee7000bcee1afb6e29472c68e5 (develop) and 55482f093e051eee7000bcee1afb6e29472c68e5 (next)

[2015-04-09 06:00] #2654 closed

[2015-04-09 06:55] Starcounter-Jack commented on #2654
@parherman Wow, that was quick.

[2015-04-09 07:05] Starcounter-Jack commented on #2610
There is no Polyjuice edition of Starcounter. The installer should install the same exact bits. The only difference should be that the installer will ask you to register your App Store and account at Polyjuice.com. It will also point you to a Polyjuice app centric wiki and getting started tutorial.

## Polyjuice installer

1. Agree to licence agreement and choose directories and options for Starco

[2015-04-09 07:14] Starcounter-Jack opened #2655 "Make gitter chat room public"
Currently, you cannot joint the Starcounter gitter chat room unless you are a Starcounter organisation member.

I think we should change the chat room to be ```gitter/Starcounter/Starcounter``` rather than ```gitter/Starcounter``` and allow anyone in.

[2015-04-09 07:22] per-samuelsson opened #2656 "Add support for inherited fields with same name using new operator"
Today, Starcounter raise an error if you have a field in a class that has the same name as the field in a base class.

[code]

When building hierarchies, this is sometimes a limitation, and we should make an effort to support it. I suggest, by forcing the ```new``` keyword.

As an example, consider dynamic types. If you have a hierarchy of a set of classes, its likely you want to have the referenc

[2015-04-09 07:24] per-samuelsson commented on #2656
Oh, and if it didnt get through, I'm suggesting that fields declared like this function much like synonyms, i.e. they reference the same underlying column, not adding a new one.

[2015-04-09 08:08] alemoi commented on #2653
Thanks for reporting. I think I might know the reason and was expecting something like that.

[2015-04-09 08:41] dan31 commented on #2655
I made a public room: ```https://gitter.im/Starcounter/Starcounter```. @mtornwall, do you get invitation from gitter?
We've been using gitter in private chat mode for some weeks with @parherman, @warpech and @k-rus. It has native mac and windows clients, stores full chat history, supports markdown. We are quite satisfied with it now.

[2015-04-09 08:44] k-rus commented on #2655
The main problem for me is that it does not work well with not native clients. Installing and running native client is not so great option as it explodes number clients on machines.
(I have not tested native client, so I cannot give feedback on its quality).

[2015-04-09 10:38] mtornwall commented on #2655
@dan31 I did. Thanks.

[2015-04-09 10:52] alemoi commented on #2653
Just one comment: I haven't implemented outgoing status code and description initially because of conflicting applications. In comparison, cookies and headers are always just adding with possible replacement. And status code always replaces with last value. I don't know yet the consequences for this, but just noting this here.

[2015-04-09 13:22] miyconst commented on #2653
@alemoi I just figured out that the headers have same wrong behaviour. Method `Handle.AddOutgoingHeader` adds a header to all future responses, which is not correct.

[2015-04-09 13:28] miyconst commented on #2653
Same happens with cookies, if I set a cookie on the server side and then change it on the client side, it will be restored to its original value with the next response.

[2015-04-09 14:05] alemoi commented on #2653
Yes, I just forgot to write that I am aware of this and going to fix soon!

[2015-04-09 14:14] miyconst opened #2658 "Add possibility to delete data from administrator panel"
Sometimes I need to delete some rows from database, and I can't do that from administrator panel by executing an sql statement. This is really annoying.

[2015-04-09 14:18] miyconst opened #2659 "Unable to execute any sql when stopped on a break point in VS"
I could not execute an sql query from administrator panel when VS stops execution on a break point.
The sql query hangs till VS finishes execution. This makes impossible to check database values while debugging.

[2015-04-09 15:42] alemoi commented on #2653
Should be fixed now! Thank you for reporting!

[2015-04-10 05:30] careri commented on #2651
No input?

[2015-04-10 07:13] k-rus opened #2660 "Meta-data tasks after pnext merge"
Number of tasks on meta-data are postponed until next next is merged:
- [x] Rename project `systables` into `metadata_layer` or similar
- [ ] Replace table `token` with `token` values in tables related to database types

[2015-04-10 07:30] dan31 commented on #2659
That's a good point, @miyconst. @per-samuelsson, I guess that isn't solvable, because ```sccode``` is stopped by debugger, so that no query can be executed against any app running in the database?

[2015-04-10 07:51] chrhol commented on #2651
I'm not sure you can get it 100% safe without having a lock or something. In both your examples there is a chance that Start() gets called (and executed) more than once.

Maybe a lock just before setting the Started-property, then it would have less impact than having a lock for evey call to Start()

[code]

As for the conflict, yes I would guess so.

[2015-04-10 08:27] miyconst opened #2661 "When Db.Scope transaction dies?"
I know that there are two sorts of transactions:
`Db.Transact` and `Db.Scope`. The first one starts on the line we call it and ends on the line with the last `}`.

But what about `Db.Scope`?

I have two pages:
- `/People/Persons` - list of peoples.
- `People/Persons/@w` - single person details.

The second page is Db.Scoped.
[code]

Handle event on Save button clicked:
[code]

Handle event on Canc

[2015-04-10 08:53] miyconst commented on #2653
I confirm, the headers, cookies and status code applies for only one response.

[2015-04-10 08:53] #2653 closed

[2015-04-10 09:13] miyconst opened #2662 "Too big request"
Request with content length more than allowed fails to execute.
![request-too-big-error](https://cloud.githubusercontent.com/assets/6435556/7084935/cdd94a0a-df7a-11e4-9c42-ed1d6a36d5cf.PNG)
There should be some informative status code and message.

[2015-04-10 09:17] chrhol commented on #2661
It depends on how it is used. There are three different times it can be disposed, depending on if someone reference it after the scope is ended.

1. Noone is referencing it. It will be cleaned up directly after the end of the scope.
2. A Json-object is using the transaction, but the json-object is not connected to a stateful tree (i.e. a session). It will be cleaned up in the end of the task.
3. A

[2015-04-10 10:37] miyconst commented on #2661
@chrhol thanks for the explanation.

Basically transaction lives as long as it's JsonViewModel lives. Is that correct?

If, for example I want user to save or clean changes by clicking on button, but when user navigates to another page without cancelling the changes then keep them in memory. Then if user navigates back to same page he will see those changes.

For this I have to store JsonViewModel

[2015-04-10 11:02] chrhol commented on #2661
Yes correct, you need to keep it in the viewmodel to avoid that the transaction will be cleaned up.

Hmm yes it should have. This feels like really strange behaviour. Is this code available somewhere in some app? I can take a look and see if I can find an explanation for it.

[2015-04-10 12:35] miyconst commented on #2661
Hm, I could not reproduce the behaviour any more. Now it rises exception `Data in the transaction is created or updated, but the transaction is not referenced and will be discarded.`. Whatever the issue was it has gone.

Thank you for the detailed explanation. I close the issue.

[2015-04-10 12:35] #2661 closed

[2015-04-13 09:03] eriohl commented on #2279
Decision made that layout garbage collection will not be delivered until multi-process solution is done (#2611).

[2015-04-13 10:42] per-samuelsson opened #2663 "Support management of installation ID in admin server library"
Part of #687.

The installation ID series should be managed by the admin server, and allocated for every starting database engine (i.e. database process + code host + more).

About the upcoming implementation, each admin server will consider itself a singleton on a given machine, and also count on that its alone to run/manage the database processes. Hence, if there is a "manual" start of ```scdata

[2015-04-13 10:43] per-samuelsson commented on #687
Made my work implementing installation ID in the admin server library a separate issue (#2663), since I'm not sure if this was the only remaining part of this issue. Will check if I can close both once its done.

[2015-04-13 11:22] per-samuelsson commented on #2663
Here is what happens in **next** currently, when trying to start a second database (while some other database is already running).

![image](https://cloud.githubusercontent.com/assets/2902045/7114671/faa0832a-e1df-11e4-815e-4722699d6881.png)

This should be doable once #2663 has been completed.

[2015-04-13 12:05] careri opened #2664 "Session ended event?"
Hi!

Is there any way of getting informed of a Session ending? I would need to clean up some event handlers bound to the Session Data (JSon).

[2015-04-13 12:07] careri opened #2665 "The quantifier distinct is not supported"
Any chance of distinct being supported?

[2015-04-13 12:36] alemoi commented on #2664
Thanks for the question! You can set a destroy delegate using `Session.SetSessionDestroyCallback`. Let us know about the result!

[2015-04-13 15:11] k-rus commented on #2665
Thank you for your question.
[This comment](https://github.com/Starcounter/Starcounter/issues/2239#issuecomment-53378079) in #2239 answers your question. Unfortunately, I cannot add when it will be supported, but not soon.

Let me know if you have more questions. I will close this issue for now.

[2015-04-13 15:11] #2665 closed

[2015-04-13 15:34] miyconst opened #2666 "Process was not started by this object, so requested information cannot be determined"
What does this exception mean:
[code]

[2015-04-13 15:45] dan31 commented on #2666
@alemoi, @per-samuelsson – can you take a look?
@miyconst, how often does that happen?

[2015-04-13 16:03] miyconst commented on #2666
@dan31 the exception happens when I rename *.json files.

I assume that there is some code generator which does not recognize new file name.
If I open the json file and press Ctrl + S a couple more time, the code re-generates and the exception goes away.

It also happens when Working directory is set to a non existing directory.

Anyway, the exception should be more informative.

[2015-04-13 17:42] miyconst opened #2667 "Update VS template project"
VS project template should be updated according to the latest project structure.
https://github.com/Polyjuice/Polyjuice/wiki/Polyjuice-project-structure

Maybe another Polyjuice project template should be created.

[2015-04-14 07:32] per-samuelsson commented on #2666
Not sure whats causing this, but it appears that it's a monitoring thing that occur when an application is about to start, but fails somewhere in the bootstrapping of the code host.

Yes, of course. But this error is not really one we expect, so I'd like to find the reason to it. The failure occurs when the admin server library tries to create an informative exception that are to describe the fail

[2015-04-14 08:47] per-samuelsson commented on #2663
Done.

I considered a few alternative ways to implement this, and settled on the one that was simplest and had the most straight forward installation ID allocation algorithm. The limitation of this is that we now can only support 255 databases to be created on a given server. If a user reach the maximum, an error will occur:

Version: 2.0.0.0.
Help page: https://github.com/Starcounter/Starcounter/

[2015-04-14 08:47] #2663 closed

[2015-04-14 08:48] careri commented on #2664
Thanks I´ll try that

[2015-04-14 08:49] per-samuelsson commented on #687
Issue #2663 now implemented, merged and pushed to **next**, and closed as done.

Since I'm not sure if this issue is also done with that, I'll just leave it up to someone else to eventually close this. @eriohl maybe?

[2015-04-14 08:56] miyconst opened #2668 "Could not start an app after installing a NuGet package"
After installing Newtonsoft.Json from NuGet package application fails to start with the following exception.

[code]

The app starts if I manually add `weaver.ignore` file:
[code]

https://github.com/Starcounter/Starcounter/wiki/Weaver

Could we automatically add/modify this file when a NuGet package installed?

[2015-04-14 08:56] per-samuelsson commented on #2659
While the code host is being debugged, and a breakpoint is hit, yes, the threads are suspended. I guess it works pretty much like in a normal GUI application, or any kind of server really. If you suspend the threads, the user interface becomes not responsive.

Not sure if its "solvable" or not, i.e. if there is some way we can design thread management as it is used by the SQL admin UI differently.

[2015-04-14 11:17] warpech opened #2669 "Patch replaces the whole JSON tree fragment instead of 2 properties"
There is a case where the whole JSON tree of a mapped app gets replaced in a patch response when only some properties were changed.

Steps to reproduce:

1. Run the current versions of Launcher, SignIn and People (or Products or any other app)
2. Visit the URL [http://localhost:8080/signin/signinuser](http://localhost:8080/signin/signinuser) to create the JSON tree. SignIn is present in 2 places i

[2015-04-14 11:21] chrhol commented on #2669
Thanks for reporting it here. I will take a look.

[2015-04-14 12:55] miyconst commented on #2659
@per-samuelsson thanks for the answer, I should probably stop trying make SC work like MS-SQL.

[2015-04-14 12:55] #2659 closed

[2015-04-14 18:38] peterbergman opened #2670 "ScErrUnsupportLiteral when using LIMIT 1"
When I execute the following query through the Db.SQL method, I get the error "ScErrUnsupportLiteral (SCERR7029): Literals are not supported in the query..."

Query:
SELECT t FROM Foo t ORDER BY Bar DESC LIMIT 1

However, the same query seems to work with the Db.SlowSQL method. Should the Db.SlowSQL method be used in cases where the query contains LIMIT 1? Or is the query supposed to work with the

[2015-04-14 18:49] k-rus commented on #2670
Thank you for your question.
Your query contains literal `1`, thus the query fails if method `Db.SQL`. `Db.SlowSQL` can be used to execute queries with literals. However, it is not recommended to use literals in queries for performance reason, since the query cannot  be prepared and cached and have to be optimised every time.
Our suggestion is to replace the literal with a parameter, e.g.:
[code]

[2015-04-14 18:49] #2670 closed

[2015-04-14 18:56] peterbergman commented on #2670
Thanks for the information!

[2015-04-14 19:43] eriohl commented on #2156
Done: #2663

[2015-04-14 19:43] #2156 closed

[2015-04-14 19:44] eriohl commented on #687
Yes, we can probably consider this one merged now. Closing...

[2015-04-14 19:44] #687 closed

[2015-04-15 06:54] careri commented on #2664
Seems to be working. Thanks. What is the default timeout on a session?

[2015-04-15 08:17] hentil opened #2671 "scnetworkgateway.exe cannot find sccoreerr.dll"
![image](https://cloud.githubusercontent.com/assets/11957872/7154645/7e0d86e4-e358-11e4-9b02-af1a1f8439f1.png)

Installed this version
http://downloads.starcounter.com/download/Starcounter/NextNightlyBuilds/latest

try to run using shortcut.
File doesn't exist on disk

[2015-04-15 08:37] alemoi commented on #2664
The default value is 20 min and its set in `DefaultSessionTimeoutMinutes` in your database configuration. Let us know if that works fine for you!

[2015-04-15 08:38] alemoi commented on #2671
Thanks for report! The problem seems very strange like the installation is corrupted. Which shortcut do you use to start the program? Are there any specific way to reproduce the situation?

[2015-04-15 09:23] hentil commented on #2671
Starcounter Personal Server

[2015-04-15 11:07] alemoi commented on #2671
The reason is probably a not updated white list file for Next Starcounter.

[2015-04-15 12:19] k-rus commented on #2671
It might be good idea to run the acceptance test on next.

[2015-04-15 12:24] dan31 commented on #2671
@k-rus, yes, we will definitely do!

[2015-04-15 14:26] parherman commented on #2671
I finished a first test run earlier today with the acceptance test on next, and it looks like it fails because of this issue

[2015-04-16 07:03] k-rus opened #2672 "Too verbose about static server"
When I start application by `star`, I always get a message about adding directory to static web server in the command prompt window. IMHO, this detail is a debug information and user should not be disturbed by such message in default. This is similar to printing information that new tables are created and added to meta-data whenever an application is started (and we don't print this).
I recommend

[2015-04-16 07:12] per-samuelsson opened #2673 "Unspecified error in sccoredb!_AcquireNxLock_NA"
Me and @chrhol got an off-tracker question about an error that have been spotted twice in two different environments, running Starcounter 1.x:

    000007FEFCE9940D KERNELBASE!
    000000018009C364 sccoredb!_AcquireNxLock_NA : acqnxlock.cpp (13)
    00000001800B96F4 sccoredb!Mdb_DefinitionIndexToStringIndexHandle : sccoredb.cpp (334)
    000007FEF856C0E2 mscorwks!
    000007FF01B86F2D <unknown>!

[2015-04-16 07:14] k-rus opened #2674 "Build server does not stop after error"
After an error happens during running a test the build continues running instead of stopping. See [this build](https://scbuildserver/viewLog.html?buildId=27255&tab=buildLog&buildTypeId=Starcounter_NextDaily&logTab=tail) for example.

[2015-04-16 07:17] k-rus opened #2675 "No information on the specific test running in the build log"
The build logs do not contain information on which exactly test/script is running, making difficult to investigate problems. See [this build](https://scbuildserver/viewLog.html?buildId=27255&tab=buildLog&buildTypeId=Starcounter_NextDaily&logTab=tail) for example.

[2015-04-16 07:27] per-samuelsson commented on #2666
I have now spent time both testing hands-on, without being able to reproduce this, and read throughly about the Process class and reviewed our code. I really can't find anything that we seem to do "wrong", and hence I can't understand how this can happen.

What I'm planning to do now is to add a few extra calls in a few places, and to finally guard for this to happen, and use a dedicated error cod

[2015-04-16 07:52] eriohl commented on #2673
It is a debug timeout that is triggered is spin lock can not be acquired in a reasonable amount of time.

Could be that the lock is broken (not working on current hardware perhaps), that the lock is held for unreasonable amount of time or that the thread holding the lock has crashed (in which case some other error should be logged as well).

(I should note that the referenced version is no longer

[2015-04-16 07:58] k-rus opened #2676 "CycleTime test is not part of build configuration"
Almost all tests can be disabled/enabled for a build run by setting corresponding parameters. However, there is no parameter for CycleTime. Moreover, CycleTime test seems to be built every daily build. Is it by purpose? What does the test actually do?
Can it be configured to be enabled/disabled?

[2015-04-16 08:34] per-samuelsson commented on #2666
@miyconst

BTW, when/if you experience this again, can you take a look in the log for any recent warnings or errors?

Either an error stating something like *When asked to shut down, the user code process agreed to shut down, but the process...*, and/or a warning like *User code process takes longer than expected to exit* is of interest.

Thanks!

[2015-04-16 08:40] k-rus commented on #2676
How can I run the test locally? It is failed on the build server and I need to reproduce locally.

[2015-04-16 09:09] k-rus opened #2677 "Next daily build often fails with missing transaction log during cycle time test"
In general, CycleTime test is the problem, see e.g. #2676.
I noticed that [this build](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_NextDaily&buildId=27110) is failed due to:

I also noticed that @alemoi cancelled number of builds with the same error, but no input in the issue tracker.

It would be nice to understand the issue and fix it.

[2015-04-16 09:56] per-samuelsson commented on #2666
OK, so now I've pushed a few tweaks that will hopefully improve the experience here, they are in **develop** within this https://github.com/Starcounter/Starcounter/commit/373f5139a0a3c2b0895de34f4fb6cc3050a6a508 merge. I'll also merge it to **next** eventually.

I'll keep this issue open for some time, to see if I can get any more feedback as per request, and to see if the problem seem to remain.

[2015-04-16 11:00] alemoi commented on #2677
Thanks for the report! We noticed this problem with @parherman, a problem that occurred occasionally. Cycle time is a super simple test that measures how fast the `star.exe` with application start is. The code is here: https://github.com/Starcounter/Starcounter/blob/develop/src/Samples/CycleTime/CycleTime.cs
It just starts `star.exe s\NetworkIoTest\NetworkIoTest.exe` like the `star_loop_test.bat`

[2015-04-16 11:04] alemoi commented on #2676
The parameter for CycleTime test is `SC_RUN_CYCLE_TIME_TEST`, which was not exposed in Next Daily, for example (now I exposed it and set to True by default). The build scripts are located here: `http://sccode.innowait.se:7990/projects/BLUESTAR/repos/buildsystem/browse/src/Scripts` In this thread I described what the test does: https://github.com/Starcounter/Starcounter/issues/2677

[2015-04-16 11:18] k-rus commented on #2676
Thank you for fixing this.
However, performance tests should not be part of daily builds. I suggest to make it by default only in night builds.

It would be great to have a way to get such information without obtaining build server repository and looking into the script or communicating with you. I.e., we need to have some very simple way to document tests, which I guess a separate issue.

[2015-04-16 11:52] per-samuelsson commented on #2671
Assigning this to me to fix, since we need progress on it for Heads.

[2015-04-16 13:02] hentil commented on #2671
With version 239 I can open Starcounter personal server och create a database. However, when starting my applikation I get the following error message:

C:\Source\Research\SC2\heads.next\src\Heads.Application\bin\Debug>star -d=heads Heads.exe
Heads -> heads (starting database .)

[14:52:06, Starcounter (heads)]
Access violation (C0000005) detected at C:\TeamCity\TeamCity8\buildAgent\work\sc-2.0.23

[2015-04-16 13:13] per-samuelsson commented on #2671
Thanks for reporting again, @hentil. And sorry.

We have decided to make a little extension to our build system, adding a "blacklist" log file to artifacts, to make it easier to see what files are not included. I will do this, take a look at the result, and then try to identifiy if its even more files that are excluded that should not be, and eventually fix it.

I'll keep you updated!

[2015-04-16 13:40] per-samuelsson opened #2678 "Make buildsystem produce "blacklisted" log file"
We are making the build system generate a log file of all files it considers but doesn't find white listed, and that will hence not be part of the installation. The idea is to make the file part of build artifacts, simple to browse.

Relates to #2671.

[2015-04-16 14:16] mottagare commented on #2673
Thanks, I think that is enough info for us. I do think there could be a large clean-up transaction associated with this error, meaning that the transaction is open a long time which might cause the lock to time out.

[2015-04-17 07:53] miyconst commented on #2666
@per-samuelsson with the new SC build I also could not reproduce the bug. I will write here if it happens again.

[2015-04-17 08:06] per-samuelsson commented on #2678
This is done, merged and pushed to both develop and next.

Look for ```FileExclusionLog.log``` in the artifacts hive of every produced build to see what files where built but excluded from the distribution package.

[2015-04-17 08:06] #2678 closed

[2015-04-17 08:08] per-samuelsson commented on #2666
Nice. Then my tweaks might actually worked. Thanks for reporting.

Good. I'll close this issue for now then. When/if you repost, I will reopen it.

[2015-04-17 08:08] #2666 closed

[2015-04-17 08:11] per-samuelsson commented on #2673
Nice. I'll close this issue then. Thanks for reporting.

[2015-04-17 08:11] #2673 closed

[2015-04-17 08:22] per-samuelsson commented on #2671
I'm running a custom build with a fix for this. It will be available on the relevant download channel shortly (versioned 2.0.241.8). Let us know how it turns out!

[2015-04-17 08:32] per-samuelsson commented on #2667
I think most definitely, yes. We should have as our aim not to force Polyjuice on every developer, but instead keep both editions in parallel. And the "raw" / minimal version should always strive to have minified project template, with little/no configuration and just the most basic code to get an application running in a host.

[2015-04-17 08:56] hentil commented on #2671
Following error when trying to start with version 2.0.241.8.

C:\Source\Research\SC2\heads.next\src\Heads.Application\bin\Debug>star -d=heads Heads.exe
Heads -> heads (starting database ...)

[10:53:05, Starcounter (heads)]
Access violation (C0000005) detected at C:\TeamCity\TeamCity8\buildAgent\work\sc-2.0.241.8\Level0\src\sccoredb\export\sc
coredb.cpp:3649 (Thread 1112).

[2015-04-17 09:20] per-samuelsson commented on #2671
That one is more tricky I'm afraid. Access violations are harder to track.

Before continuing, I want to stress that this is version **next**, i.e. a version that not considered stable at all, and which is very much work in progress at the moment. :smile:

Back to topic. Can you take a look if there is some hints in the error log? Run the following to copy the last 5 warnings (and errors) to the c

[2015-04-17 10:16] hentil commented on #2671
[10:53:05, Critical, Starcounter (heads)]
Access violation (C0000005) detected at C:\TeamCity\TeamCity8\buildAgent\work\sc-2.0.241.8\Level0\src\sccoredb\export\sccoredb.cpp:3649 (Thread 1112).

[10:53:06, Error, Starcounter.Server.Commands (scadminserver)]
Starcounter.DbException: ScErrDatabaseEngineTerminated (SCERR10007): The server detected that the user code host executable (sccode.exe) unexpe

[2015-04-17 10:28] hentil commented on #2671
Ok, so this might be connected to the migration project?

[2015-04-17 10:30] per-samuelsson commented on #2671
I'm currently setting up a local environment, to see if I can reproduce. When I run it on a local build (using latest sources), I don't get the problem. Now I'm swtiching to go the exact same path as you, i.e. downloading the exact version and installing it. I'll let you know as soon as I get it settled.

[2015-04-17 10:48] per-samuelsson commented on #2671
I could not. On my machine, doing the exact same thing as you did works fine. The application start without a problem.

Can you do a test for me, @hentil? Do this

And where "foo" is a placeholder for any name really, just make sure its a database name you haven't used before.

Now, do you get the same error?

[2015-04-17 10:51] hentil commented on #2671
That solved the problem! My app is up and running.

[2015-04-17 10:54] per-samuelsson commented on #2671
OK, sweet.

[2015-04-17 11:16] per-samuelsson commented on #2671
So now we have got to a point where things seem to work decent, minus the fact that you get crashes because there are polyjuice edition stuff that interfere with any standard Starcounter application. Which is bad, but its appearently a decision that was made, and it has to be worked around manually every time you are reinstalling Starcounter (renamed folder as I described above).

With this, I'm c

[2015-04-17 11:16] #2671 closed

[2015-04-17 11:34] per-samuelsson commented on #2668
I have considered this issue some, and I can't come to any really good fits-for-all solution.

Technically, sure. But I'm not sure it's the right thing to do. For once, why should we treat binaries coming from NuGet any different than other binaries? And also, at least ahead in time, there might be binaries  that actually DO contain Starcounter code / database classes that come packaged up in NuGe

[2015-04-17 14:17] per-samuelsson opened #2679 "Access violation in NEXT when starting application"
This was reported in this https://github.com/Starcounter/Starcounter/issues/2671#issuecomment-93947135, but we were not able to reproduce it.

Access violation (C0000005) detected at C:\BuildAgent\work\sc-2.0.637.7\Level0\src\sccoredb\export\sccoredb.cpp:3649 (Thread 5016).

Now I have found the pattern to repoduce:

After I do a first, rude "kill all", the problem persist until I delete the datab

[2015-04-17 14:18] per-samuelsson commented on #2671
I was able to reproduce the AV now, Created a separate issue for it, #2679.

[2015-04-17 15:31] miyconst commented on #2668
Okay, then at least we could add `weaver.ignore` file to project template with some comments inside.

[2015-04-17 15:38] warpech opened #2680 "Turn OntologyMap on/off"
Can there be an API to disable ontology maps?

I would like to be able to turn maps defined by `Polyjuice.OntologyMap` on and off in the runtime (throught a JSON handler).

This is useful for demos and debugging.

[2015-04-17 18:57] miyconst commented on #2667
Then another project template would be just fine. Who is responsible for such tasks?

[2015-04-20 06:27] parherman commented on #2504
@dan31 When we run the installer during the acceptance test we have to launch it as admin, otherwise the ui automation won't work, but we might be able to add a separate test

[2015-04-20 06:29] parherman commented on #2675
@k-rus This is a good point and will be addressed once we move to using ctest as test runner

[2015-04-20 06:34] parherman commented on #2674
It looks like CycleTime.exe dose not detect the exception properly

[2015-04-20 06:58] careri opened #2681 "DbSession add return value"
Hi!

Might I suggest adding the same signature for RunSync as Transaction.Scope. So that you don't have to use temp variables to store return values from Transactions.

It would then be possible to skip temp variables like the example below.

Temp variable needed today:
[code]

With improved signature:
[code]

[2015-04-20 08:20] mtornwall opened #2682 "Request hangs forever on type mismatch between properties in Json and Data"
If I define a JSON message Foo.json as follows (with or without code-behind):

    {
        "Bar": 4711
    }

And set up a simple GET handler like so:

    Handle.GET("/FooApplication/Foo", () =>
    {
        return new Foo() { Data = new { Bar = "4711" } };
    });

A GET request to /FooApplication/Foo seems to hang forever, without any error message. Notice that according to the JSON example,

[2015-04-20 10:16] per-samuelsson commented on #2679
I'm really not getting anywhere with this unfortunally. I can constantly reproduce it if I download a nightly version - I've tried both debug- and release build distributions - but I can not get it to reproduce while I'm building a version locally.

I have reached as far as that I now know it occurs somewhere in the scope of ```sccoredb.sccoredb_connect```, but I still don't know the reason (and n

[2015-04-20 10:42] per-samuelsson commented on #2668
Our aim historically have been to always try to include as little as possible in the standard templates, in order to have such templates keep focus on the very most basic things. Especially to keep it down on things being configurable, since they tend to distract new users.

Maybe we need to have some kind of meeting regarding different templates and what should be included in which (also consider

[2015-04-20 10:53] per-samuelsson commented on #2679
Just found #2634, looks like they two are pretty much the same.

[2015-04-20 11:08] warpech commented on #2680
I reviewed the changes and it works great! I can use it as it is for my planned demo.

Just three minor issues for future consideration:

1. The REST interface works on app port (8080), but not on admin port (8181). Therefore it is not possible to control it from Administrator if the database is not running. Also, given that the setting is per system, not per database, shouldn't it only listen on

[2015-04-20 11:15] alemoi commented on #2680
Thanks for review!

1. Yes, I was thinking to make it 8181, but needed more opinions. So now will probably change that!

2. Should only do the middleware filters. I think the behavior you get is because there is no Launcher wrapping HTML that collects and shows all partials. Let's discuss that!

3. Agree and thought about that :) For now just made it so its easier to execute from browser. Will cha

[2015-04-20 11:45] per-samuelsson opened #2683 "Prototype weaver mapping calls"
What the title says. I've got the picture on how it's supposed to work from @dan31 and I'll make a prototype in parallel to my "normal" work. When the prototype is done, we can easily change it to its final form by adjusting API's.

[2015-04-20 12:12] warpech commented on #2669
Another (less painful but unelegant) symptom of this is:

1. Run Launcher and Products
2. Go to http://localhost:8080/
3. Click on "Products" in the left menu
4. Click on "Products" again. No information changes on the screen but the Products app output flickers because the whole object at `/workspaces/0/master` is replaced.

Patch output:

[code]

[2015-04-20 12:38] warpech opened #2684 "Cannot recreate database by the same name"
I had a db called `default`. I stopped it, deleted it and wanted to start a new one by the same name.

I get an error:

[code]

Is this by design? I tried this many times before and it worked.

Killing the server and restarting it does not help.

[2015-04-20 12:42] per-samuelsson commented on #2684
Absolutely not. :cry:

Questions:

1. What version is this - **next** or **develop**?
2. How did you proceed when you deleted the database? ```staradmin delete db```?
3. Can you run ```staradmin list db``` to see what databases Starcounter consider exist?

Thanks.

[2015-04-20 12:46] warpech commented on #2684
1. develop, build 2.0.3131.3 (current nightly)
2. I deleted it using the Administrator GUI
3. `staradmin list db` produces output `No databases found`

Deleting the files from my database folder fixes the problem. Should I keep the state for further investigation?

[2015-04-20 12:54] per-samuelsson commented on #2684
What files did you delete to solve it? The image/transaction logs in the under the **Data** hive (assuming you are using default settings)?

Well, I guess no. Lets try to just keep an eye on this to see if we can get it to appear again, so I can take a look at it while it actually happens. I'm gonna do some quick tests to see if I can provoke it too.

[2015-04-20 13:07] warpech commented on #2684
On my disk there are still both folders:

[code]

Deleting `Data\Default` manually did not help. Deleting `Databases\default` helped.

======

Please note that not only it was impossible to create a database from the Administrator, but also when starting an app:

[code]

[2015-04-20 13:10] k-rus opened #2685 "Cmake scripts and change directory stack"
I use `pushd` and `popd` a lot when navigating between folders in command line. After I execute `cmake_vs.bat` to create solution of Level0 from command line, the stack of changed folders is empty.

For example, I did:
[code]

On `popd` I expect to move back from where I made push, however no directory change happens in the above example, which is quite annoying.

[2015-04-20 13:25] warpech commented on #2680
I created some scripts to control the mapping: https://github.com/Polyjuice/Tools/blob/master/scripts

I used `curl` to make the HTTP requests. Is there some way to change it to use `star` or `staradmin` for those who don't have `curl` installed?

[2015-04-20 14:05] alemoi commented on #2680
Ok, I refactored the handlers, here is the new list:
[code]
As you can see the flags are set per-codehost. Ontology mapping is for Polyjuice only, that's why its perefixed.

I usually use Chrome REST plugin, but curl seems fine!

[2015-04-21 06:33] warpech commented on #2680
Using nightly 3132 and database "default", it seems to not work for me:

[code]

Ideas?

[2015-04-21 08:04] alemoi commented on #2680
Yes :) You are using port 8080, it should be 8181.

[2015-04-21 08:33] per-samuelsson commented on #2683
Just a note: when we eventually really finalize this, we should review and consider the #2420 feature as well. They have a few joinpoints.

[2015-04-21 09:21] warpech commented on #2680
Works perfect, thanks!

[2015-04-21 11:58] per-samuelsson opened #2686 "Local build fails on metadata population"
Since like 2 days, I can not run a standard, "development setup" local build of Starcounter.

I'm using the **develop** branch. I'm starting completly fresh (or at least try to do so):

1. I delete ```Level1\bin``` directory.
2. I delete the server repo completely (i.e. ```Starcounter``` under documents)
2. I build Level1 (with ```LEVEL0_CONFIGURATIOn=Release``` set).
3. I install using ```Starcou

[2015-04-21 12:23] k-rus commented on #2686
The problem looks like mismatch between meta-data implementation versions. May be cleaning and re-building all three solutions (in develop) will help.
When I switch between develop and next, I always clean the solution files and re-build the projects. I don't have any build automation such as building Level1 builds Level0. I use solution files of Level0, SqlProcessor and Level1 in develop, and cma

[2015-04-21 12:50] per-samuelsson commented on #2686
Yeah, that was my initial suspicion. That automating builds from Level1 especially works really poorly when you switch between develop and next branches. And even more so when we have introduced cmake that builds some parts (I think).

Anyway, after our discussions, I now followed the following procedure:

[code]

This did still **not** solve the problem (the same assertion still applies), so I gu

[2015-04-21 13:36] k-rus opened #2687 "Next-nightly-ctest fails with linking error"
Out of all build projects on next only this one, i.e., ctest, fails. This happens after I added new file with source code. I added it to cmake file in the corresponding folder, which works fine locally and for most build projects, e.g., Next-daily and Next-nightly.
I guess ctest project requires more: either more complex way of adding file, or better build script.
Can it investigated and clarified

[2015-04-21 19:19] parherman commented on #2687
The ctest job is a experimental job to evaluate using ctest as a test runner, i will disable it for now and investigate this ones i get back to work!

[2015-04-22 08:17] per-samuelsson commented on #2686
After I retried the above, and added a few more manual deletions of directories, now I finally was able to successfully load an application.

For future reference, here's what was needed to switch from **next** to **develop** (and, I assume, the opposite):

[code]

[2015-04-22 08:26] alemoi commented on #2686
Honestly I would go crazy if I would have to do such procedure :) Maybe its better to keep totally separated folders for `next` and `develop` Starcounter and just switch the `StarcounterBin` env var using SETX script when needed?

[2015-04-22 08:47] chrhol commented on #2669
As far as I can see these responses are actually correct. The `master` property is set with a new json which is then sent to the client, even if parts of the responses returns an existing viewmodel.

The problem lies in `Polyjuice.LauncherHelper.WrapInLauncher(...)` I think.

The following code will always create and set a new json even if some of the siblings are reused, since the returning respo

[2015-04-22 09:59] per-samuelsson commented on #2686
Believe me, I do too! :camel:

Yeah, like you suggested yesterday. I'm actually gonna try that. It will require a little time to set it up I guess, but if it works, it will be a lot less hazzle in the long run.

[2015-04-22 11:52] per-samuelsson commented on #2686
This particular thing works, but with a flaw: it doesn't update the PATH (so that star.exe, staradmin.exe, etc are correctly resolved). I'm testing a procedure where I will instead always do an uninstall/install everytime I switch from one branch to the other (with a *dummy.sci* in each installation folder, so that binaries are not deleted).

[2015-04-22 12:21] per-samuelsson commented on #2686
This seem to work. I know have two isolated hives with a clone of all repos in each, and hence a duplicate set of binaries/installation directories. So far, I haven't found any problem.

Now, when I'm switching between a branch based on next to a branch based on develop, the procedure I need to take is:

[code]

Still not perfect, but at least more predictable than the older procedure.

[2015-04-22 12:33] warpech commented on #2680
The flags are now reset whenever an application is started (or restarted). To make this feature usable, it needs to persist during server restarts. Can this value be stored in config?

[2015-04-22 12:58] alemoi commented on #2680
Yes, I'm thinking to store it inside database config, like the Polyjuice flag that will be there. I will make it work after a short vacation!

[2015-04-23 18:01] eriohl commented on #2679
Why no stack trace? Are you just not publishing it or are you using a distribution without PDB files or something and not getting one?

[2015-04-23 18:22] eriohl commented on #2677
This error occurs on failure to establish a connection to the log writer or if an existing connection is terminated. If no additional error is logged then it is probably because the log writer is yet to initialize when host is started (which should not occur is you start by way of the server or it is a bug).

[2015-04-23 19:21] peterbergman opened #2688 "UDP Handler - Assertion failed"
I have registered a UDP handler in one of my Starcounter apps. When receiving datagrams in the handler, I sometime get an error that causes the app to crash:

Assertion failed (cur_offset < num_available_bytes) at utils.cpp:88 (Data 0). 00007FF86F4C11D3 sccoredbg!_DumpCallstack : callstack-win.cpp (120) 00007FF86F4C114C sccoredbg!do_handle_assertion_failed : assert-win.cpp (77) 00007FF86F4C1039 sc

[2015-04-23 19:35] alemoi commented on #2688
Thanks for the report! Probably is a bug! I will fix it next week!

[2015-04-24 13:01] warpech commented on #2669
@alemoi what was the purpose of using `CallUsingExternalRequestEfficiently`?

[2015-04-24 14:15] alemoi commented on #2669
It uses all information like Cookies, Headers, etc + HandlerId from the external Request object, so its a very efficient REST call (no URI matching, no Request object creation, etc). Do you have any problems with it?

[2015-04-25 15:56] atifsheikh commented on #1282
Did you got any luck with this error? because i am getting the same error too. I am using (Starcounter version 2.0.3023.3).

and I am working on a multi-threaded application, and my DB operation calls are in the Sub-Threads, which may be the reason of this error, without multi-threading I dont get this error.

[2015-04-25 17:40] alemoi commented on #1282
Thanks for the question!

That's probably the reason! When creating arbitrary .NET threads, in order to be able to run database code, one should use `DbSession.RunSync` (to run delegate synchronously, which is slow) or `DbSession.RunAsync` (to run delegate asynchronously - faster). Is there any special reason behind multi-threaded design of your application?

[2015-04-25 19:24] atifsheikh commented on #1282
Yes, i am working on a blog crawler, so I have to launch threads in order to crawl all the pages. Multithreading its kind of the only option I have.
Plus i am new to starcounter, so i dont know a better solution other than multi-threading.

[2015-04-25 19:28] atifsheikh commented on #1282
And can you please send me the DbSession.RunSync Documentation or sample codes, so I get familiar with the usage of the code.

[2015-04-25 19:58] alemoi commented on #1282
Here you go, when running on detached .NET thread, the following code asynchonously performs database select on scheduler 3:
[code]

[2015-04-26 12:48] atifsheikh commented on #1282
:+1:  Thanks a lot.

[2015-04-27 11:56] warpech commented on #2669
It looks that after refactor by @tomalec it is fixed. This was Launcher app problem in the end. Thanks!

[2015-04-27 11:56] #2669 closed

[2015-04-27 11:57] warpech commented on #2669
@miyconst can you please verify that your problem (SignInApp form unexpectedly showing in workspace of another app) is fixed?

[2015-04-27 12:43] per-samuelsson opened #2689 "Query on RawView.AutoTypeInstance with filter yield no hits"
I'm doing a query such as this:

[code]

The Hello never prints.

On the same data, I then do this:

[code]

and I now get the expected number of hits.

I've shown this to @k-rus and I can reproduce it every time. I have only tested it in **next**.

[2015-04-27 13:06] per-samuelsson commented on #2689
If it can be of any help, equality operations **do** work. On the same data set as I use in the original post I can do:

[code]

where ```oid``` is a key in the top of the ulong-range, and I get a hit.

[2015-04-27 15:32] warpech opened #2690 "Callback before merging of Self.GET responses"
For the purpose of Layout app (which serves layouts for `Self.GET` response and its siblings), a callback before merging of `Self.GET` responses is needed.

As a parameter, the callback should provide the array of responses.

In response to this callback, the Layout app will return a sibling page of it's own:

[code]

`PartialID` is the value of the `Html` property of the first response in array.

[2015-04-27 16:01] k-rus commented on #2689
Thank for reporting! I will look into it, which is basically by stepping into execution of the failed query.

[2015-04-27 16:02] k-rus commented on #2689
By the way it has nothing to do with new query processor (NewSQL), since it is not in place yet.

[2015-04-27 19:58] miyconst opened #2691 "ScErrQueryResultTypeMismatch"
What this exception means?

I have created a db class:

[code]

Added some values:
[code]

And unable to retrieve the rows:

[code]

I also tried
[code]

This query executes with no error, but returns some object, whith type `Starcounter.Query.Execution.Row` instead of `DemoShop.Product`.

[code]

[2015-04-28 07:32] miyconst commented on #2669
@warpech, looks like it is fixed.

[2015-04-28 07:53] k-rus commented on #2691
Thank you for your question!

`Product` is not a row, it is an object, while `SELECT *` returns a row, i.e., projection of all columns. Thus mismatch between the type in generic and query result happens.
Projection of more then one column is always represented by `Starcounter.Query.Execution.Row`. See [this page](https://github.com/Starcounter/Starcounter/wiki/SQL-Query-Result) on the wiki for mor

[2015-04-28 07:56] miyconst commented on #2691
@k-rus thank you.

It works as you described.

[2015-04-28 07:56] #2691 closed

[2015-04-28 08:00] k-rus commented on #2691
I forgot to say that obtaining object instance as above is preferable way. Obtaining rows of values should be avoided and is mainly for use from Administrator.

[2015-04-28 14:59] k-rus opened #2692 "DEF files as part of VS solution files"
cmake generates VS solution files for Level0 in branch next. However, it does not include `.def` files, which contain public shared API. Thus it is inconvenient to update these files, when corresponding changes done in C files through VS. I think it is good idea to include such files solution with appropriate properties.
Is it a good suggestion? Can it be done?

[2015-04-28 16:44] eriohl commented on #2692
DEF files has been replaced with pragmas in header files kernel shared libraries. Only works with MSVC.

[2015-04-29 07:05] k-rus commented on #2689
@per-samuelsson Can you provide code to create initial data with auto created types? Some simple example.

[2015-04-29 07:07] k-rus commented on #2226
The page was created and syntax described by @andan342. The page is called [Graph Syntax](https://github.com/Starcounter/Starcounter/wiki/Graph-Syntax).

[2015-04-29 07:07] #2226 closed

[2015-04-29 07:10] k-rus opened #2693 "Internal wiki is unaccessible"
OpenID is gone, thus the internal wiki on scwiki is not accessible.

[2015-04-29 07:53] k-rus opened #2694 "cmake generated solution for Level0 always build 8 projects"
I was happy that cmake generated solution was building only projects, which were modified. However, it is not so anymore. If I build solution using F5 two times in a row, it builds 8 project on second time, while I expect no projects to be built, since no changes. Here is output in VS:

1>Project not selected to build for this solution configuration
2>------ Build started: Project: SC_BEHEMOTH_INP

[2015-04-29 08:35] parherman commented on #2694
Hello @k-rus

These projects are generator projects that generate files and they do their own checks to see if they need to run or not. For instants, if SC_BEHEMOTH_INPUT is generating files it will output "Running behemothrcc" to the log.

I will look into adding a "No changes detected, will not run message" so that this behavior is more clear

[2015-04-29 08:48] k-rus commented on #2694
Thank you for clarification! Indeed the projects seem to skip the actual building process. My main surprise was that the behaviour was cleaner before.
I guess a cleaner solution would be possible in future.
I think this issue can be closed for now.

[2015-04-29 09:03] lawyan opened #2695 "Minsk v0.10.7 crashed with error code MDBE_7"
Minsk server at Interoptik has crashed 5 times recently. One in march, one on last Friday, and 3 times this week already.
We have got a new type of error message in Minsk.log:

 [log]
 time=20150429T090605
 type=Critical
 source=Minsk
 message=MinskDb.ObjectStoreException: Starcounter reported an error with code 7. Error origined at 'Kernel'. Message string: 'Database failure caused by inability t

[2015-04-29 09:06] parherman commented on #2694
Oki, I will close this!

[2015-04-29 09:06] #2694 closed

[2015-04-29 09:08] parherman commented on #2685
@k-rus I believe this issue is fixed in cmake_vs.bat now, please test and report back if it works for you!

[2015-04-29 09:09] k-rus commented on #2694
It would be correct to rephrase:

Is it possible to make a clean solution that the projects are not called to build if no changes? I think there was some another issue where there was comment about behemoth project, right?

[2015-04-29 09:19] k-rus commented on #2685
Thank you, it works now.

[2015-04-29 10:46] parherman commented on #2694
Yes this was brought up in https://github.com/Starcounter/CompanyTrack/issues/10#issuecomment-73957705 where some actual unnecessary rebuilds were reduced

Right now in the case of SC_BEHEMOTH_INPUT we use a [add_custom_command](http://www.cmake.org/cmake/help/v3.2/command/add_custom_command.html) with a DEPENDS on the files that should be monitored for changes in the CMakeLists.txt, and then cmak

[2015-04-29 11:32] k-rus commented on #2694
I don't have knowledge to judge this decision. I just want to have a nice developer experience and I am curious: Why did this behaviour appear recently? Earlier only projects with actual changes were called to build.

And I will repeat my question:

[2015-04-29 11:54] parherman commented on #2694
I'm not sure why I did not appear right away, since its been noticed/appeared long before in the in the issue i linked to. I believe it appears here right away! I will try and see if I can reproduce that here

I'm not sure we can make it a lot better without making a msbuild specific solution

[2015-04-29 12:26] parherman commented on #1495
@alemoi do you still see this?

[2015-04-29 13:53] parherman opened #2696 "InvoiceDemo fails on next branch"
If a use the Starcounter-Polyjuice-NextNightlyBuilds-2.0.255-Setup.exe installer and try to go through the steps of the [invoice demo](https://github.com/Starcounter/InvoiceDemo2/wiki/) I fail on [step 2](https://github.com/Starcounter/InvoiceDemo2/wiki/02.-Create-request-handlers-for-the-home-page). If I create a Starcounter Application project and add the following code:

[code]
and run it will

[2015-04-29 16:08] warpech commented on #2662
This is configurable in `scnetworkgateway.xml` in the Starcounter installation directory:

[code]

I suggest we:
1) Provide a meaningful error message for such error
2) Create a wiki page that describes common configuration options. The wiki page will be moved to starcounter.io eventually

[2015-04-29 16:27] miyconst opened #2697 "Are there any Starcounter.Json/Page life events?"
Are there any life circle events in `Starcounter.Json` or `Starcounter.Page`, or any other way to execute some code when ViewModel unloaded.

The feature I want to implement:

1. User opens New image page.
2. User drags an image and uploads it.
3. User closes the page without saving the image, or navigates to another page without saving the image.
4. **Uploaded file deleted**.

How to do this?

[2015-04-29 17:25] warpech commented on #2697
In that case, the transaction is aborted, so wouldn't it be possible to use Illustration object `OnDelete` method?

@dan31, what is the way to go in your opinion?

I sense a problem to do that since Illustration is defined in Simplified.dll, but that problem should be gone when we have mapping.

[2015-04-29 20:08] dan31 commented on #2697
Good question! We'll take tomorrow with @per-samuelsson.

[2015-04-29 20:17] alemoi commented on #1495
Not anymore, after we made a step to build error codes separately before Level1! Closing the issue.

[2015-04-29 20:17] #1495 closed

[2015-04-30 09:48] k-rus commented on #2687
Is this test easy to run locally with help of cmake?

[2015-04-30 10:14] parherman commented on #2687
Hello @k-rus,

First this issue, the problem was that the TeamcityBuild.bat was not updated in the buildsystem branch that is used to run the ctest runner (next-ctest branch of buildsystem git). So no further action would be required by you when adding files. The only thing that is changed is how the tests are run.

This basicly replaces the RunUnitTests.exe and RunTests.bat in buildsystem repo wi

[2015-04-30 12:03] parherman commented on #2692
Its looks like the generator is filtering .def files from vs projects for some reason: Will investigate best solution, possibly removing def files entirely

[2015-04-30 12:07] parherman commented on #2692
Replacing def files I mean

[2015-05-02 10:12] atifsheikh commented on #925
With AVG Starcounter still gives the following error, even if I add scnetworkgateway.exe to exception:
ScErrNetworkGatewayTerminated (SCERR10021): The server detected that the network
 gateway executable (scnetworkgateway.exe) unexpectedly terminated.
Version: 2.0.3023.3.

[2015-05-04 07:59] warpech opened #2698 "System.NullReferenceException in StaticWebServer"
Today while playing with Starcounter 2.0.3146.3 and current (master) version of People and Products app, for few times the request froze for a long time. In the log I saw the following exception:

[code]

[2015-05-04 22:35] dan31 commented on #2693
Temporarily opened read access to everyone, no write access. Better solution for hosting wiki is being searched. Unfortunately, gitlab gollum doesn't seem to provide all functionality needed.

[2015-05-04 22:35] #2693 closed

[2015-05-05 08:25] miyconst commented on #2698
Getting same exception, could not figure out when and how. Most of the time happens after I start two/three apps then change an app and restart it with `Ctrl + F5`.

VisualStudio hangs and I have to kill all sc processes with `staradmin kill all`.

The log entries:

[code]

[code]

[code]

[2015-05-05 08:34] k-rus commented on #2698
@miyconst, thank you for reporting the additional stack trace.
I see two issues:

1. Incorrect behaviour of StaticWebServer in the case of an exception.
2. Actual problem with the old query processor.

It would be nice to be able to reproduce the query processor error. The error is reported by the prolog part, so I guess it is related to the prolog process and/or database schema files. Unfortunate

[2015-05-05 08:40] miyconst commented on #2698
The People app sends the query.

Take a look at https://github.com/Polyjuice/People/blob/master/src/People/Helpers/DefaultStyles.cs, the idea is to check, whether db has any styles for People app, and if no styles then insert default values.

I have reproduced same error for five times in a row, I can share my screen if needed.

[2015-05-05 08:42] alemoi commented on #2698
I will investigate the static file server problem! Thank you for reporting.

[2015-05-05 08:46] k-rus commented on #2698
My guess is that `JuicyTiles.JuicyTilesSetup` class is not loaded. How can I reproduce it locally? Can you describe steps to set up the environment and applications?

In general it is a bad practice to do projections such as `select *` instead of selecting objects in Starcounter. It, of course, should work, but it will not perform well.

[2015-05-05 08:49] alemoi commented on #2698
Yes, that's probably it. The difference with previous versions is that Launcher now is an independent application that is started separately and that is loading the JuicyTiles class. @k-rus thank you for investigating, I think its on us now.

2 questions:

1. Is JuicyTiles a part of current Launcher or Polyjuice?
2. Why there is a code related to JuicyTiles in People app?

[2015-05-05 08:50] miyconst commented on #2698
My environment:

1. Launcher project under VS 2013.
2. People project under VS 2013.
3. Start Launcher with `Ctrl + F5`.
4. Start People with `Ctrl + F5`.
5. Open browser and do some staff.
6. Change some Launcher code in VS.
7. Restart Launcher with `Ctrl + F5`.
8. VS hangs, three log entries in the admin panel.

I am not sure that the steps 5, 6 are required, currently the exception appears with

[2015-05-05 08:55] miyconst commented on #2698
@k-rus, in the query I don't need any any data at all, just need to know are there such rows. `SELECT COUNT(*)` is the fastest way to get rows count in `MS-SQL`, what would be the fastest way for SC?

[2015-05-05 09:24] k-rus commented on #2698
There is no fast way to do row count in Starcounter. Do you need row count or do you need to check if any record exists? (The code, referenced above, does the second)
In any case I suggest always retrieve actual object, which is the cheapest. For example:
[code]
The second query is much more expensive than the first one.

[2015-05-05 09:28] miyconst commented on #2698
@k-rus thank you. I will avoid `*` and all of the sql operators.

What about those two queries:
[code]
Does `FETCH 1` saves some time?

[2015-05-05 11:07] parherman commented on #2674
The job now stops on error from CycleTime test as seen in [this build](https://scbuildserver/viewLog.html?buildId=27685&tab=buildLog&buildTypeId=Starcounter_NextDaily&logTab=tail)

Closing this now

[2015-05-05 11:07] #2674 closed

[2015-05-05 12:20] parherman commented on #2677
When CycleTime test fails it will properly fail the build now that issue #2674 is fixed. Since it fails every now and then have been doing so for some time I will disable it until we can determine if its a problem with the test or a legitimate issue.

[2015-05-05 12:55] k-rus opened #2699 "Builds failing with fatal error sometimes"
I run a [personal build](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_NextDaily&buildId=27688) on next, which failed with a strange error:

[14:33:49][Step 1/1] c:\teamcity\teamcity8\buildagent\work\sc-2.0.673.7\level1\src\scservicelib\internal.hpp(5): fatal error C1083: Cannot open include file: '../Starcounter.ErrorCodes/scerrres/scerrres.h': No such file or directory

[2015-05-05 15:18] k-rus commented on #2698
The main idea is to retrieve objects and then access properties of the object in C# code. I believe this also is easier from programming point of view and gives flexibility in implementation.

No, I guess it will add additional overhead. Having `.First` is enough, since the execution will retrieve only one object.

[2015-05-05 23:04] alemoi commented on #2698
Static file server error should be fixed via: 6e6d42e74767c0cc1d3ea4197b1ba6b5d8029c43
There is some request with unrecognizable mime type that causes this exception.
I also moved JuicyTiles class definitions (but not handlers) back to Polyjuice project, so the SQL exception should not occur anymore in People application.

[2015-05-05 23:12] alemoi opened #2700 "Can't merge develop into next"
The following is just so you know that it can happen for you as well. I did a standard commit in one file in `develop`, and now I can't merge `develop` into `next`. In GitExtensions I have the following error every time I try to merge:

[code]

Other tools fail to merge as well. I haven't looked deeply into problem yet, will do that tomorrow.

[2015-05-06 05:32] parherman commented on #2677
ScErrTransLogWriterNotAvailable happens outside of CycleTime also:

[During 3LevelSchemaChange test](https://scbuildserver/viewLog.html?buildId=27703&buildTypeId=Starcounter_DevelopNightly&tab=buildLog#_focus=5397)

[During Star.exe loop test](https://scbuildserver/viewLog.html?buildId=27669&buildTypeId=Starcounter_DevelopNightly&tab=buildLog#_focus=2559)

[2015-05-06 05:42] parherman commented on #2677
@eriohl Star.exe loop test is a bat file that runs this in a loop:

[code]
[link to src](https://github.com/Starcounter/Starcounter/blob/develop/src/Server/sccli/star_loop_test.bat)

Do we need to run staradmin kill all before we run star.exe again to kill scdblog?

[2015-05-06 05:46] k-rus commented on #2677
@dan31 or @eriohl
Is it reasonable to postpone investigation of the issue until pnext is merged to next?

[2015-05-06 06:17] parherman opened #2701 "Next Nightly fails with ScErrConstraintViolationAbort during Node HTTP1 Big Data Transfers"
[Next Nightly log](https://scbuildserver/viewLog.html?buildId=27704&buildTypeId=Starcounter_NextNightly&tab=buildLog#_focus=5878)

[Next Nightly Debug log](https://scbuildserver/viewLog.html?buildId=27702&buildTypeId=Starcounter_Next_Nightly_Debug&tab=buildLog#_focus=5226)

Full error:

[code]

You can reproduce by running a personal build with SC_RUN_NODE_TEST=True

[2015-05-06 07:25] k-rus opened #2702 "Remove materialized tables"
Part of #2202

Tasks:
- [ ] Notify users that materialized tables must not be used
- [ ] Remove population of materialised tables during create table
- [ ] Remove populating reference to materialized table during create table
- [ ] Remove population of materialised tables during create index
- [ ] Remove populating reference to materialized table during create index
- [ ] Remove populating referen

[2015-05-06 07:57] warpech opened #2703 "Polyjuice installation and Starcounter installation must be equal"
InvoiceDemo and Polyjuice demo apps should be runnable in Starcounter installer.

This includes usage of `Polyjuice.Map`, `Polyjuice.OntologyMap` as well as making use of data models defined in Polyjuice.dll and Simplified.dll.

Polyjuice installer will include additional *user* features over the Starcounter installer, but the developer tools and libraries should be the same.

@dan31, @Starcounter

[2015-05-06 08:11] k-rus commented on #2701
Thanks for reporting.

It is more important to know how to reproduce it locally. Do you mean that node test is failing? How can it be executed locally?

[2015-05-06 08:14] k-rus commented on #2677
No. The problem is also in develop. See [this build](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_DevelopNightly&buildId=27703).
It looks like that someone did changes that affected Level1 to not work correctly with the kernel.

[2015-05-06 08:54] parherman commented on #2701
You can start the test with:
[code]

[2015-05-06 08:59] k-rus commented on #2701
Thank you.
However, I cannot reproduce the issue locally. It is successfully executed.
Furthermore, I see different error in [the build log](https://scbuildserver/viewLog.html?buildId=27704&tab=buildLog&buildTypeId=Starcounter_NextNightly&logTab=tail):

[04:57:01][Step 1/1]    at NodeTest.NodeTest.Main(String[] args) in c:\BuildAgent\work\sc-2.0.263.8\Level1\src\Samples\NodeTest\NodeTest.cs:line 9

[2015-05-06 09:46] parherman commented on #2701
I can reproduce it on my local machine now, after running two node tests in a row I now get the error all the time

[2015-05-06 10:17] alemoi commented on #2701
I don't think its a problem with SQL. I need to look at the test first, to see if there are any flaws in it.

[2015-05-06 10:38] k-rus commented on #2701
Thank you! I was able to reproduce and know the reason. I am working on fixing it.

[2015-05-06 10:39] k-rus commented on #2701
It's not a problem with SQL. It is problem with database initiation as reported in the stack trace.

[2015-05-06 10:47] warpech commented on #2698
Do you know which one?

[2015-05-06 10:47] dan31 commented on #2703
My strong belief that we must make Polyjuice be non-intrusive. Starcounter is a "2x2=4" thing, while Polyjuice, Ontology, SocietyObjects and other things with rapidly changing definitions and use cases are "commutative algebra, grade 4". InvoiceDemo and all other demos should show "2x2": plain html-s in Client and no mapping and ontologies. Dev people get that story in one click. We cannot loose t

[2015-05-06 10:52] per-samuelsson commented on #2703
For what it's worth, this is one of those few things I feel kind of strong for. I couldn't agree more.

[2015-05-06 12:26] alemoi commented on #2698
That was `application/font-woff2` for fonts.

[2015-05-06 12:36] warpech commented on #2703
I agree as well. But the developer that learns how to mix apps must have a smooth learning experience from 2x2=4 to "commutative algebra, grade 4".

The new InvoiceDemo tutorial is divided into 3 parts:

- **InvoiceDemo1** - show a single invoice with rows, computed totals and buttons: Add Row, Save and Cancel
- **InvoiceDemo2** - add a list of invoices, Delete button, partial templates and URL mo

[2015-05-06 13:14] alemoi commented on #2700
The only way I could merge `develop` into `next` is by manually choosing `ours` merging strategy.

[2015-05-06 13:14] #2700 closed

[2015-05-06 15:12] k-rus commented on #2701
The bug is fixed and the test succeeds.
However, the test has problem that it continue execution after the first failure with exception. This behaviour caused some lost time in investigation of the actual problem. This needs to be fixed. Thus I assign this issue to @alemoi as I guess he is the owner of the test.

[2015-05-06 15:54] dan31 commented on #2703
Exactly! That's one of major prios for us all, to make it more like 2*2 :)

Absolutely agree. I believe it should be easily configurable. As a developer, I want to build my stuff the Polyjuice way as well: like an ISV who builds stuff in-house. It should be a switch: if I want to do that way, I just do that without reinstallations, on the platform. If I want to run my hardcore UDP streamer and nic

[2015-05-07 10:09] dan31 commented on #2677
@per-samuelsson, WDYT? Something with signaling between parties on a startup sequence?

[2015-05-07 10:10] dan31 commented on #2701
So it should be fixed in develop as well?

[2015-05-07 10:17] per-samuelsson commented on #2677
Not sure, since I haven't even seen this issue. But maybe. I have noticed that quite often, signaling between the admin server and the data process (```scdata.exe```) doesn't work in a predictable, expected way, so maybe it's something there. I have tried to the best of my ability to figure out how it is possible to monitor/wait related processes (i.e. ```scdata.exe``` and, later added, ```sclogwr

[2015-05-07 10:27] parherman commented on #2701
The test should be fixed in both develop and next, it __might__ be that NodeTest.exe exited with a negative Exit code, and in the bat files we only check if exit code is grater the 0 with IF ERRORLEVEL 1 GOTO TESTFAILED

@alemoi wants to use something else then bat fails for test, because it can be hard to catch issues like this and I agree. Python is one suggestion but while I personally like pyt

[2015-05-07 10:42] #2565 closed

[2015-05-07 10:43] #2600 closed

[2015-05-07 11:49] dan31 commented on #2566
To conclude, in current version one has to do schema changing and data morphing one simple step at a time. A combination of them might mess things, so that you have to roll back those actions back (doing one simple backwards step at a time) to restore access to your previously available data. The algebra of schema changing will be improved in future versions of SC.

[2015-05-07 11:49] #2566 closed

[2015-05-07 14:48] warpech commented on #2453
Still happens to me and it is very annoying. When my Windows Explorer is full-screen, then the installer window is not visible at all, until I minimise the Explorer first.

Does it happen to anyone else?

[2015-05-07 18:01] miyconst commented on #2453
Sometimes this also happens to me, but only when I install next version of SC over the old one.
After uninstallation finished, the new installation window appears underneath other windows.

[2015-05-08 00:27] tomalec commented on #2453
Same here.

[2015-05-08 05:46] k-rus commented on #2453
This annoying issue was already reported in #1972. I found also another old issue #884, which was fixed, but not any more.

[2015-05-08 07:08] per-samuelsson opened #2704 "Starcounter.SqlException: ScErrSQLIncorrectSyntax with escaped table name"
In 1.x, certain applications used square brackets - [, ] - to escape table names when doing queries, as a way to assure table names did not colide with reserved words.

Hence, a typical query would look something like:

Such query in 2.x (**next**) now generates an exception such as

[code]

Has the notation changed? Should I adapt these queries to something similar?

[2015-05-08 07:18] k-rus commented on #2704
The syntax to surround identifiers described on [our wiki](https://github.com/Starcounter/Starcounter/wiki/SQL-Identifiers)
Basically use double quotes. Square brackets are reserved for property or array access.

[2015-05-08 07:23] per-samuelsson commented on #2704
Thanks! Really stupid of me not to check the wiki first obv. But now we at least have recorded that there is a convertion needed when specifying escaped idenifiers going from 1.x to 2.x, along with the regular syntax conversion.

I'll close this issue.

[2015-05-08 07:23] #2704 closed

[2015-05-08 07:34] andwah opened #2705 ""Deadlock", when using Visual Studio and Star.exe at the same time."
If you try to start an Starcounter Project from within VS (F5) and around the same time you start another app with Star.exe, VS will hang and same with the Star.exe command.

How to reproduce:

1. Run Staradmin kill all
2. Open a starcounter project in VS.
3. Hit F5 in Visual studio
4. When you see this status text in VS, Start another app with Star.exe.
![vs_engine](https://cloud.githubuserconten

[2015-05-08 07:37] per-samuelsson commented on #2705
Thanks for reporting this! I will assign it to me and spend some time investigating it.

[2015-05-08 08:21] k-rus commented on #2704
Yes. The old convention was removed some time ago as we started to work with new SQL syntax. I guess this is another note to fix in the old code during porting to latest Starcounter.

[2015-05-11 10:03] mtornwall opened #2706 "Allow treating enums as strings in JSON"
Presently, if I have a database object that contains an enum like so:

    enum Color { Red, Green, Blue }

    [Database]
    public class Thing
    {
        public Color Color;
    }

The `Color` property will be stored as an integer in the database. This is fine. However, suppose I create the following JSON message:

    {
        "Color": "Red"
    }

Attempting to set the data of this JSON m

[2015-05-11 10:52] miyconst commented on #2706
+1

[2015-05-11 11:30] chrhol commented on #2706
Good suggestion! Since we generate the code for bindings runtime it shouldn't be too difficult to add conversion to and from enum to strings.

I will put it on me to be implemented.

[2015-05-11 11:39] warpech opened #2707 "Unclear error message when property getter overridden"
As a generalisation of https://github.com/Polyjuice/Simplified/issues/1:

The below code gives unclear error message when tried loading:

[code]

Error log reports 3 errors at the same timestamp:

[code]

Mind that when **not** using getter, the error message is clearer, though it results in as much as **4 errors** in total reported at the same time:

[code]

Error log shows 4 (!) errors at the sa

[2015-05-11 11:42] chrhol commented on #2682
I totally missed this one, sorry about that.

There is an exception thrown and logged, but it looks like it's not correctly handled (or handled too late on the server) so no response is sent back to the client.

I will put it on me to fix.

Logged exception:
[code]

[2015-05-11 11:42] warpech commented on #2706
I remember I tried to use enum in the first app I was working on. +1 from me

[2015-05-11 11:47] per-samuelsson commented on #2707
Thanks for reporting this and being so descriptive,  @warpech. I'll assign it to myself to eventually fix, as we have discussed.

A few short comments:

Thanks for highlighting that. I will make sure error reporting is equal for both cases, and I would probably not have noticed unless you had stressed this.

Yes, and the simple answer is that there are several components in play here - all using t

[2015-05-11 11:49] per-samuelsson commented on #2707
Somewhat related to #2629.

[2015-05-11 11:58] warpech commented on #2707
I have to admit that in Visual Studio only one error shows up in each case, respectively.

In case of overwriting a getter:

In case of overwriting a regular string:

[2015-05-12 07:36] miyconst opened #2708 "Add DbHelper.FromID(string ObjectId) method"
Currently we have only `DbHelper.FromID(long ObjectId)` method, but in web we use encoded id, which is string.

So, every time I select an object by id, I have to do like this:

[code]

[2015-05-12 07:53] miyconst opened #2709 "VisualStudio watch window - The name 'DbHelper' does not exist in the current context"
I try to debug some code, and added an expression to Watch windows:

[code]

This rises an error in VisualStudio:

[code]

![dbhelper-watch-bug](https://cloud.githubusercontent.com/assets/6435556/7582314/feb99ef8-f894-11e4-9c3e-4372eec59c3d.png)

[2015-05-12 07:55] k-rus commented on #2708
Thank you for your request. The issue for this enhancement was already created and is #2567. Thus I will close this one as duplicate.
You are welcome to make comment there.

[2015-05-12 07:55] #2708 closed

[2015-05-12 10:17] warpech opened #2710 "Error message missing if Http path part is not provided"
Assume the following project structure:

[code]

If, in my `Program.cs` I provide the path to the HTML file without the `/` at the beginning:

[code]

The browser gets "406 OK" response with no error message at all. Also the Starcounter Log does not show an error message.

This works ok:

[code]

Expected: There should be an error saying that the path to HTML file needs to begin with `/`. Also, th

[2015-05-12 13:25] miyconst commented on #2710
+1

I was going to create this issue, but for me it doesn't response at all.

[2015-05-12 13:33] alemoi commented on #2710
I think I can take this one.

[2015-05-12 16:28] alemoi opened #2711 "Installer needs to check that all chosen network ports are available"
I guess its quite easy to do without me writing any special API. @andwah assigning to you, but let's discuss together!

[2015-05-12 16:30] alemoi opened #2712 "Expose aggregation port as configurable in installer GUI"
Right now port 9191 is not exposed in GUI installer but used underneath for aggregation protocol. I will make some initial work on this and then assign to @andwah

[2015-05-13 15:14] miyconst commented on #2697
@dan31, @per-samuelsson, is there any solution for the issue?

[2015-05-13 17:39] alemoi opened #2713 "Should the Referer header be used for the session value"
Right now we use X-Referer but we have the code that checks for Referer value. Referer field, as I see now, is used by the browser (not set-able through JS) and filled with URI.

Question: should we still use the code around Referer? Should we come up with some better name than X-Referer for browser use and generic REST APIs?

[2015-05-13 18:13] dan31 commented on #2697
BUMP me :) @per-samuelsson, @chrhol, WDYT?

[2015-05-14 08:50] chrhol commented on #2697
There is nothing implemented for this today. At least not in TypedJson.

A similar problem that we have briefly mentioned is that we need to solve save/cancel behaviour for several apps. Maybe this is the same thing. We need to have some way to let all partials get a callback/event when certain things are happening, like save or cancel/close.

Then the image-app should expose a Close for itself wh

[2015-05-14 18:57] miyconst commented on #2697
@chrhol, will there be any solution soon or just leave Images app as is?

[2015-05-15 05:36] parherman opened #2714 "Level1 rebuilds even when there are no changes"

[2015-05-15 05:46] parherman opened #2715 "It should be easier to build and run tests for Level1 from the command line"
It should be easier to build and run tests for Level1 from the command line

[2015-05-18 05:37] parherman opened #2716 "Negative exit codes are not detected during batch file tests"
Currently failed tests can go undetected and hang on the build server because some exceptions use negative exit codes. We use IF ERRORLEVEL 1 to check for errors, but that only checks for exit codes that are grater then 0.

We should try to change to "IF %ERRORLEVEL% NEQ 0 ()" so that we cover also negative exit codes, or "IF %ERRORLEVEL% EQU %KNOW_EXIT_CODE% ()" when we want to check for known ex

[2015-05-18 06:00] k-rus commented on #2716
`errorlevel` is not a real environment variable and using it as another environment variable can bring unexpected results, see #2462 for such example. I suggest to find a solution through documentation. Experiments might not cover some complex but real cases.

[2015-05-18 08:21] alemoi commented on #2513
Still occurs. Here is the example:

[code]

in https://scbuildserver/viewLog.html?buildId=27905&buildTypeId=Starcounter_DevelopNightly&tab=buildLog

[2015-05-18 09:58] k-rus commented on #2716
Can you provide more information about it?
I am wonder if it is possible to fix the application to guarantee positive codes only.

From our experience this way does not always work.

[2015-05-18 09:58] parherman commented on #2716
In C#, when I do this:

[code]

The exit code will be -532462766

This is from IF /?:

So I think its safe to say that "IF ERRORLEVEL 1" will not catch exit codes lower then 1.

Also from IF /?:

So what if we clear %ERRORLEVEL% before we run the tests, [like the highest voted answer](http://stackoverflow.com/a/334890) in the Stackoverflow question you link to in #2462 suggests:

[code]

@k-rus, @

[2015-05-18 10:00] k-rus commented on #2672
BUMP
Any comments?

[2015-05-18 10:09] ivarbergman opened #2717 "Assigning a new object to a property, does not trigger OnData behavior"
Hi!

(Starcounter edition 2.0.3139.3)

I have a Json bound to a database class. This database class has a public property. When I re-assign this property to another object the OnData method for the Property is not called. Neither is the new Property values sent to the client json.

As an example: The our database class Blog has a ProductionGroup property. When I change Data.ProductionGroup I would

[2015-05-18 10:12] parherman commented on #2716
The actual hanging could be the result of the "The application has stopped working" dialog that Windows uses, where the user needs to click Debug/Close to continue. I was able to suppress this dialog when running star.exe in CycleTime.exe with processInfo.CreateNoWindow = true;

[2015-05-18 10:22] k-rus commented on #2716
If I don't mistake `%ERRORLEVEL%` was not set. Thus clearing it will not help. Unfortunately, `%ERRORLEVEL%` is not always set to correct value. For example, we experienced that `%ERRORLEVEL% NEQ 0` was false, while `ERRORLEVEL 1` was true.

Having both conditions might server our need.

We know this and discussed that it might be a problem. And it is a problem now.

[2015-05-18 11:00] parherman commented on #2716
@k-rus one option to implement your suggestion to "guarantee positive codes only" and suppress the "The application has stopped working" dialog could be to write a small wrapper exe that we run star.exe and other applications with that "catches" exceptions

Or we could convert the test *.bats used to start individual tests to C# so that we can use CreateNoWindow, something like [CycleTime.cs](http

[2015-05-18 11:37] warpech commented on #2713
Current usage:
- server assigns session id as a HTTP cookie (`Set-Cookie:Location=%2F__default%2F35AA181932856ED910000000; path=/`)
  - originally server would assign session id as a HTTP header `Location`, but a web client cannot read that
- client patches the session as HTTP header `X-Referer: 35AA181932856ED910000000`
 - originally client would patches the session as HTTP header `Referer`, but

[2015-05-18 11:49] k-rus commented on #2716
Now the existing broken tests need a temporal solution.

Long term there should be strategy how tests should be designed and written without brining much overhead to developers.

Such code should be wrapped in try-catch block, I think. Again we need to have good practice in writing tests and everyone should follow such.

[2015-05-18 11:51] alemoi commented on #2672
I actually agree with your statement and will remove these debug messages. Thank you for the input!

[2015-05-18 12:07] parherman commented on #2716
True, but sometimes star.exe will throw unhandled exceptions like this that we need to catch on the buildserver/bat files

[2015-05-18 12:11] k-rus commented on #2716
Why will it do?

If it is a common case, then yes, it should be handled.
If it is a strange way of writing tests, then it might not worth to cover this.
If users can write code that produce such problem, then there should be a general solution in `star`.

[2015-05-18 12:24] parherman commented on #2716
The problem I see now is that start.exe can crash with a negative exit code but some tests will still report passed result and problems can go undetected on the build server, like in #2674 or #2701

[2015-05-18 12:37] k-rus commented on #2716
The first issue is a C# wrapping calls to `star`. The second might be also due to the same reason. Then it is not problem with `star` and build server, but with the actual tests wrapping the calls. Correct me, if I am wrong.

[2015-05-18 12:52] parherman commented on #2716
I guess its in the eye of the beholder, before I made changes to CycleTime.exe it would exit with negative exit code that went on undetected by IF ERRORLEVEL 1. Maybe its an error that CycleTime.exe did not use positive exit code, but I think it would have been easier to detect if the test/build had failed

[2015-05-18 14:27] alemoi commented on #2712
Internal engine part and configuration fixed via 89cb47ceaf5a23cba33dd0626c4c903bf907ec5c
The remaining part is to expose the aggregation port and check ports availability in GUI installer. Therefore assigning now to @andwah

[2015-05-18 14:28] alemoi commented on #2712
https://github.com/Starcounter/Starcounter/issues/2711

[2015-05-18 15:35] warpech commented on #2713
Maybe we could use `If-Match` header instead of `Referer` / `X-Referer`: http://stackoverflow.com/questions/2157124/http-if-none-match-vs-if-match

[2015-05-19 06:55] parherman commented on #2699
Sometime scservicelib and some other projects manages to build before scerrres even though they are dependent on it

We now build Starcounter.ErrorCodes before we build Level1

[2015-05-19 12:56] eriohl commented on #2472
Timestamp creation moved to writer in 2611. See function clock_calc_base_time.

[2015-05-19 15:27] dan31 commented on #2717
Hi @ivarbergman, thanks for question! @chrhol, WDYT?

[2015-05-20 11:30] warpech commented on #2697
I think this could be solved not with Json lifecycle but with Database commit hooks. @per-samuelsson is there any commit hook that is executed when a transaction is aborted (due to cancellation or timeout)?

PS. Commit hooks are available in `next` branch of Starcounter at the moment.

[2015-05-20 11:31] per-samuelsson opened #2718 "Weaver include files that are not to be included"
Reported off-tracker where @andwah and @alemoi had an issue with the weaver that crashed because of duplicate assemblies.

The error is that the weaver use a to simple matching algorithm when considering what binaries that are worth looking into for references. The weaver use ```Directory.GetFiles(SourceDirectory, "*.dll")``` and ```Directory.GetFiles(SourceDirectory, "*.exe")``` respetively, and

[2015-05-20 11:34] per-samuelsson commented on #2697
Nope. And as opposed to commit hooks, this feature we've never supported (where commit hooks have been supported in previous versions).

[2015-05-20 14:12] warpech commented on #2697
I guess [`OnDelete`](https://github.com/Starcounter/Starcounter/blob/c9e45aaf07b091786f1aa8376ff9c41899f60339/src/Starcounter/IEntity.cs) method is not called in such case either? Any other ideas?

[2015-05-20 15:22] andwah commented on #2712
This is now done.

![image](https://cloud.githubusercontent.com/assets/2656996/7729376/c3df7894-ff14-11e4-86ac-9d0ac444c028.png)

[2015-05-20 15:22] #2712 closed

[2015-05-20 15:24] andwah commented on #2711
This is now done.

Port 135 is occupied on my system.
![image](https://cloud.githubusercontent.com/assets/2656996/7729427/fb6e23b4-ff14-11e4-9b4a-e18c9c0e1eb3.png)

[2015-05-20 15:24] #2711 closed

[2015-05-20 15:27] andwah commented on #2431
Fixed in "newadmin" branch.

[2015-05-20 15:27] #2431 closed

[2015-05-20 15:34] alemoi commented on #2711
:+1:

[2015-05-20 16:22] mtornwall commented on #2314
I'm seeing this too. +1

[2015-05-20 16:47] miyconst commented on #2668
I think the issue can be closed. If someday we come up with some solution, then we can open it again. For now it is okay to manually add the `weaver.ignore` file.

[2015-05-20 16:47] #2668 closed

[2015-05-20 17:00] miyconst commented on #2709
@alemoi could you please teake a look? It is really annoying when trying to debug an app.

[2015-05-20 17:01] #2649 closed

[2015-05-20 17:01] #2643 closed

[2015-05-20 17:03] miyconst commented on #2617
Any news for the issue?

[2015-05-20 17:03] #2588 closed

[2015-05-20 17:04] #2586 closed

[2015-05-20 17:04] #2585 closed

[2015-05-20 17:04] #2560 closed

[2015-05-20 17:06] miyconst commented on #2557
It looks like there are some work in progress, @andwah confirm please, and close this issue if so.

[2015-05-20 17:51] andwah commented on #2557
The work i did was just to check if the port is occupied (in use) when Starcounter is installed (the check is in the installer). it doesn't solve this issue.

[2015-05-20 18:12] dan31 commented on #2709
@miyconst, does IntelliSense work for you for Starcounter classes in that project?

[2015-05-21 06:07] chrhol commented on #2717
Sorry, I should have answered earlier. Clearly a bug, either the Data object on the json is not updated properly in this case, or the OnData() is not triggered.

I will take a look.

[2015-05-21 06:57] k-rus commented on #2617
As @dan31 wrote, the outer join will not be supported in the current version, since as I wrote the current implementation was not designed to work correctly. Basically, our current suggestion is not to use it, but implement necessary behaviour in C#.

[2015-05-21 07:58] miyconst commented on #2617
Then should I close this issue as it won't be fixed?

[2015-05-21 08:00] miyconst commented on #2709
@dan31, it works, but not in the Watch window.

[2015-05-21 08:14] per-samuelsson commented on #2709
Thats kind of weird. Can you try/confirm just a few things here:

1. Are you building ```Debug``` configuration of your project/solution? Just thinking that otherwise, it might be something going on with inlining stuff.
2. Can you try creating a dummy static class and wrap the call to DbHelper, and add a watch to that, to see if that works? Like

[code]

Add watch to ```Dummy.FromID(string)```

No

[2015-05-21 08:16] k-rus commented on #2617
It will be closed as you suggest after the identified tasks are completed:

[2015-05-21 08:17] per-samuelsson commented on #2709
Oh, and also,

3, can you try to fully qualify ```DbHelper```, to see if that helps?

[2015-05-21 08:20] per-samuelsson commented on #2709
And as for this, I think VS tries resolving based on the scope of the current instruction, and if I'm not wrong, ```DbHelper``` is some subnamespace, right? Not sure if that namespace is in the scope of where the instruction execute.

[2015-05-21 10:41] chrhol opened #2719 "Add attribute to TypedJson to specify databinding for single value json in codebehind."
There is currently no way to specify databinding for typedjson that contains a single value after #237 was implemented.

An attribute should be added to put on the class in codebehind that specifies the binding.

[code]

[2015-05-21 10:47] chrhol opened #2720 "Review the API to get and set typedjson that contains single value."
After the implementation to support typedjson that contains of one single value and arrays with primitive values (#237) the public API should be reviewed to make sure it's a solution we are satisfied with.

I will add examples here on how the API looks today (currently no docs written yet).

[2015-05-21 10:49] chrhol commented on #237
I have now pushed this implementation to develop and next. It's a quite big implementation so chances are there might be some bugs in it :) I will continue testing and write some documentation on how to use it.

[2015-05-21 11:11] miyconst commented on #2709
1. Yes, it is a debug build.
2. Yes, a `DbHelperWrapper` class works as expected.
3. `Starcounter.DbHelper` is visible in the Watch window, `DbHelper` is not. The `using Starcounter;` is included on top of the file.

![vs-debugging-error](https://cloud.githubusercontent.com/assets/6435556/7747450/2a7f4d96-ffc3-11e4-8e9d-002bba6b6f24.png)

[2015-05-21 11:43] ivarbergman commented on #2688
Hi! Any news on this?
I use Starcounter edition 2.0.3139.3 and experience the same issue.

[2015-05-21 11:53] alemoi commented on #2688
My apologies, I have overlooked this one. Will check it as soon as possible and notify you! Sorry to keep you waiting!

[2015-05-21 12:07] #2682 closed

[2015-05-21 12:28] ivarbergman commented on #2688
Super! Thanks!

[2015-05-21 13:49] chrhol commented on #2717
I tried to reproduce it but in my sample based on the code above, it works fine. I have access to your code so If you could point me to where it is I can test it in your application instead.

[2015-05-21 14:55] ivarbergman commented on #2717
I think it would be easiest if I could show you over a screen share. (There are a number of steps to recreate the issue). Do you have time tomorrow?

[2015-05-21 16:47] alemoi opened #2721 "ScErrThreadNotDetached when starting codehost in a certain way"
Using `develop` Level1 and Level0. When making round robin scheduling from gateway point of view on system port (8181) I get `ScErrThreadNotDetached (SCERR1007): The operation failed because the current thread was attached to the scheduler and detached thread was expected.` when starting codehost in a certain way.

If scheduler on which gateway sends is the same, the problem does not occur. So I g

[2015-05-21 19:56] eriohl commented on #2721
Used PokerDemo instead of RetailDemo (RetailDemo only supports VS2013, which I do not have). But says it should work with PokerDemo as well so.. Otherwise followed instructions exactly. Running latest release build built locally. 2 hardware threads. Failed to reproduce. Any ideas?

[2015-05-22 05:45] eriohl commented on #2721
Managed to reproduce it on a machine with more threads. Investigating...

[2015-05-22 07:45] eriohl commented on #2721
Resolved. Problem was an on schema updated callback on attaching thread which in turn tried to attach the thread again. Changed so that the thread is tagged at attached in scheduler before before call to attach to database kernel.

[2015-05-22 08:10] #2721 closed

[2015-05-22 09:08] miyconst opened #2722 "What are Session.SetSessionDestroyCallback and Session.GetDestroyCallback?"
Starcounter.Session has two methods:

1. `Session.SetSessionDestroyCallback`
2. `Session.GetDestroyCallback`

Are they getting/setting the same value? If so, then why the names are different?

What are those methonds intend to do? If this is some kind of event, which occurs when session dies, then why not use `event` instead of `Action`, so any app may subscribe and don't worry about overwriting v

[2015-05-22 10:01] alemoi commented on #2721
Wow! Super fast resolution, thank you!

[2015-05-22 10:02] alemoi commented on #2721
Sorry for the late response.

[2015-05-22 10:02] dan31 commented on #2721
:+1:

[2015-05-22 12:09] alemoi commented on #2722
Good question!
There several reasons the session can die. One of those is timeout (set in `DefaultSessionTimeoutMinutes`) in database config.

`GetDestroyCallback` just returns what one sets in `SetSessionDestroyCallback`.

That's a good suggestion that we should consider. Maybe they should work as middleware filters. We can discuss that!

[2015-05-22 12:18] miyconst commented on #2722
Does not the session dies after user closes all browser windows? I am trying to use this event to delete uploaded, and not saved files, but unable to find how to trigger this action.

Refresh page, close browser, stop app, stop server, does not trigger this action.

[2015-05-22 12:28] chrhol commented on #2717
I can reproduce it in Tunity app after Ivar showed me. Will investigate

[2015-05-22 12:30] miyconst opened #2723 "Application.Current.WorkingDirectory returns wrong value"
I have two app running:

1. Launcher.
2. Images.

Images app has a POST handler to upload files.
In this handler `Application.Current.WorkingDirectory` equals to `C:\Data\GitHub\Images\src\Images\wwwroot\media` which is correct.

Images app has a handle for Save button, and here `Application.Current.WorkingDirectory` has wrong value of `C:\Data\GitHub\Launcher\src\Launcher\wwwroot\media`.

@alemoi

[2015-05-22 13:34] alemoi commented on #2722
This is correct since server does not know if it should kill the session or not.

Regarding WebSockets they are now decoupled from sessions: when WebSocket connection closes, it does not destroy the session. But I can fix it back if this behavior is needed.

Regarding connection-less protocols, the client should probably do something (like call a specific REST handler) in order to kill the session

[2015-05-22 13:39] miyconst commented on #2722
No, I think the session should live even if the socket connection died. In theory, the SessionEnd event may not fire at all, for example if server lost power. That is why I ended up deleting old files on application startup.

Anyway, if `Starcounter.Session` has a `SessionDestoyed` event, it should be an `event`, not an `Action`.

[2015-05-22 14:56] alemoi commented on #2723
Thanks for reporting!

Not really, but I can check it when have time. Probably `Application.Current` is not set for Handles.

[2015-05-22 15:57] alemoi commented on #2688
The issue is now fixed! Now incoming UDP datagrams with maximum size of 30000 bytes are supported (however user code can send datagrams up to 65000 bytes).
Automatic tests for different sizes of datagrams are added.
Available in following nightly build.
Thank you very much for reporting!

[2015-05-22 15:57] #2688 closed

[2015-05-22 15:57] alemoi commented on #2672
Fixed via 19b4c4587f87db53d5c3fc47d3323fd57942bf2b
Thank you for reporting!

[2015-05-22 15:57] #2672 closed

[2015-05-25 07:33] careri opened #2724 "PuppetJs: Cannot read property 'replace' of null"
puppet.js:215 Uncaught TypeError: Cannot read property 'replace' of null
puppet.js:215 PuppetNetworkChannel.webSocketUpgrade
puppet.js:146 (anonymous function)
puppet.js:300 PuppetNetworkChannel.xhr.req.onload

I'm having problem with a property not being updated, could that be related to this error?
I've made a custom Polymer-element that work 1-2 months ago, but no longer does.
I bind a text-ele

[2015-05-25 07:34] warpech commented on #2724
Seems to be related to https://github.com/PuppetJs/PuppetJs/issues/51

[2015-05-25 07:41] miyconst opened #2725 "Object reference not set to an instance of an object @ StandardJsonSerializer.cs:line 45"
GoogleSignIn stopped wroking under new version of Starcounter, which is `Polyjuice-DevelopNightlyBuilds-2.0.3179 (25.05.2015 3:08:06)`.

I didn't change a line of code in the app, just started the app and tried to signin/signout.
The following exception occurs:
[code]

[2015-05-25 07:49] miyconst opened #2726 "An unhandled, unidentified (non-Starcounter) exception occurred in the weaver"
After a couple of app rebuilds and tries to signin with SignIn app the GoogleSignIn app refuses to start. The solution builds, but fails to start with the following exception:

[code]

And from administration panel:
[code]

How can I find what part of the app code casuses this exception? The exception does not have any metions about GoogleSignIn or any other app.

[2015-05-25 07:49] miyconst commented on #2726
Previus error: https://github.com/Starcounter/Starcounter/issues/2725

[2015-05-25 07:58] chrhol commented on #2725
Probably something I caused when I merged the implementation of single value json and arrays with primitive values. I will take a look.

How do you get this, just start the app and try to log in?

[2015-05-25 08:09] chrhol commented on #2725
I've reproduced it, investigating...

[2015-05-25 08:27] #2725 closed

[2015-05-25 08:33] careri commented on #2724
I do think I have a session:

[code]

[2015-05-25 08:45] chrhol commented on #2725
A new daily build is available to download that includes this fix, http://downloads.starcounter.com/download/Polyjuice/DevelopDailyBuilds/2.0.9701.2

[2015-05-25 08:48] careri commented on #2724
But you're probably right that it's session related. Because none of my data seems to be bound correctly. The bindings are read and the DOM is rendered. But no changes are reported back to the server

[2015-05-25 08:51] careri commented on #2724
this.referer

referer is NULL, why is that?

[2015-05-25 08:59] careri commented on #2724
I'm using Starcounter Edition, could that be a problem?

[2015-05-25 09:13] warpech commented on #2724
Shouldn't be a problem in this case. Let's investigate the requests and responses on a Hangout.

[2015-05-25 09:15] careri commented on #2724
Tried with Polyjuice Edition, same error

[2015-05-25 09:19] warpech commented on #2724
I guess the problem is what the error says: server creates a new session every time a GET handler is called. It should first check if there is already a session and return that instead.

Compare your handler to: https://github.com/Starcounter/InvoiceDemo/blob/master/src/InvoiceDemo2/Program.cs#L6

[2015-05-25 09:32] careri commented on #2724
In the network tab of chrome I can see that there are still two calls made to my getter, one for text/html and one for application/json.

Alexey told me that this had been resolved and only one request was made? But this is not the case when I debug the code. That's probably the problem, the second time my handler is called, Session.Current is still null and therefore new data is generated.
![scdb

[2015-05-25 09:36] miyconst commented on #2725
Thanks, the issue is fixed now.

[2015-05-25 09:36] miyconst commented on #2726
Fixed together with https://github.com/Starcounter/Starcounter/issues/2725.

[2015-05-25 09:36] #2726 closed

[2015-05-25 09:51] warpech commented on #2724
Seems like @careri is doing everything right in Handle.GET (see the code snippet above).

In the initial response (`text/html`) server does not create a cookie that carries the session ID.

@chrhol could you take a look?

[2015-05-25 09:58] careri commented on #2724
Does Session.UseSessionCookie have something to do with this?

[2015-05-25 10:07] careri commented on #2724
Hmm, there is something strange going on. The website is contained in an assembly.
I have to entry points (executables) to this assembly. One for debugging with a dummy database and one holding more logic for communicating with C# clients over http.

When running in the debug executable I get a session, but then I get this error:
Uncaught Error: WebSocket connection closed1000 Session does not con

[2015-05-25 10:08] chrhol commented on #2724
Can we get a copy of your app somehow? Then we can debug it locally and try to see what goes wrong

[2015-05-25 10:08] careri commented on #2724
Do you have a folder on the network that I can access?

[2015-05-25 10:47] chrhol commented on #2724
I have received copies of the app and will investigate.

[2015-05-25 12:19] chrhol commented on #2724
We found 2 issues:

1. In the debug app, Session.Data was set twice and a bug in starcounter code actually set the data to null the second time which made later patching fail. I will push a fix for this.

2. Some of the handlers in the other app was not registered in the main thread which in case led to `StarcounterEnvironment.AppName` not being set and the handlers were registered without an appn

[2015-05-25 14:16] chrhol commented on #2724
I've pushed a fix for the first point.

[2015-05-25 14:36] peterbergman commented on #237
Ok, great! How can I specify in the typed JSON file that I expect an array of strings for a field?

[2015-05-25 14:54] chrhol commented on #237
I'm a bit behind in the documentation. Sorry about that.

You specify it in json like this:
[code]

In c# you can then get and set the value using the property `StringValue` on class `Json`

[code]

The same pattern is used for all different types (`IntegerValue`, `DoubleValue`, `DecimalValue`, `StringValue`, `BoolValue`). There are also properties to check what type a Json-instance is representin

[2015-05-25 15:38] chrhol commented on #2717
Found the problem after some digging. In one place there was an incorrect `!` in an expression, which in turn made it so that the dirtycheck was skipped.

I've pushed a fix to develop, so next nightly should include it.

[2015-05-25 15:38] #2717 closed

[2015-05-26 06:13] careri opened #2727 "Starcounter.Application.Current Exception"
I think this is related to:
#2724

What I've done is to put a WebSite in an assembly (HAD.WebUI.dll), this assembly contains registration of Handlers etc.
I then start this site either in my test harness (SimpleApp) or in the real application which contains of multiple web services (HAD.exe).

Me and @chrhol figured out that #2724 had something to do with the current application not being found, a

[2015-05-26 06:22] careri commented on #2727
Me and @alemoi is trying to figure out another problem I have with registration static files for the website, I haven't registred an issue for this. But the exception is thrown on this line:

   AppsBootstrapper.AddStaticFileDirectory(port, wwwrootDI.FullName);

Exception:
Specified argument was out of the range of valid values.
Parameter name: Can't add a proxy delegate to a handler that already

[2015-05-26 07:15] k-rus opened #2728 "Create C# meta-data classes from JSON file"
The meta-shema is described in `metaschema.json`, which is the source of truth for all components. This file is already used to generate C code, which is used to create initial meta-data schema in the database and populate with initial data. To avoid redundancy and, therefore, mistakes the same file should be used to generate C# classes representing meta-data, since the classes should be available

[2015-05-26 07:20] ivarbergman opened #2729 "Weaver exception on project start."
Hi!
(Starcounter-DevelopNightlyBuilds-2.0.3182)

I have a problem when starting our Tunity project from VS. Immediately after Start, the system halts with the following exception:

    Error	1	System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
       at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
       at Sc.Server.Weaver.Schema.Databa

[2015-05-26 07:56] ivarbergman commented on #2729
Also:

I did a fresh install of the latest Starcounter-DevelopNightlyBuilds-2.0.3182.
And removed the Simple dll from the EditionLibraries folder.

/Ivar

[2015-05-26 08:54] chrhol opened #2730 "Using shortnames in queries: problem with ambiguous names and mapped database views"
When we are now moving to having several smaller apps running together that have their own mapped views of the database, the likelyhood of having more then one databasetype with the same shortname increases.

This poses a problem since it is really easy to break an working app, by starting another one that happen to have the same shortname for a dabasetype in their mapped model.

This has been men

[2015-05-26 08:55] chrhol commented on #2730
Currently this problem arises when you use society-objects and simplified.dll together, since a lot of the types have the same name in different namespaces.

[2015-05-26 09:00] k-rus commented on #2730
This is the only possible short term solution. I believe it can be done in two working days and more time to fix bugs, since the change needs to be done in several different algorithms.

The long term solution can be: propagating context such as namespaces together with query. This can be similar to C#.

The long term solution needs to be discussed and decided, however not now.

[2015-05-26 09:26] alemoi commented on #2727
Apparently it was an unrelated problem is fixed via 4f67a0fd797461b15bc973c1c7497a5f6325b6cd

Thanks for reporting!

[2015-05-26 09:33] chrhol commented on #2727
A question regarding the stacktrace:

Is it an .net event that is triggered? Then it probably triggers it in a new thread that is not attached to the database, and the same problem occurs here as in the other issue, that the applicationname is not set.

It looks like we have to do some improvement in how we handle and verifies apps and appnames to make sure we set application correctly and in othe

[2015-05-26 09:56] miyconst commented on #2730
I never use short names in sql queries, so the second solution seems to be okay for me.

[2015-05-26 10:14] careri commented on #2727
It's my own event that I invoke inline, check the callstack. It's the same thread and Starcounter.Application.Current is still valid.
The problem was the exception being thrown

    AppsBootstrapper.AddStaticFileDirectory(port, wwwrootDI.FullName);

That exception seems to be handled badly internaly, the result of that exception was Starcounter.Application.Current no longer being set. Even though

[2015-05-26 10:38] peterbergman commented on #237
Ok, thanks! :) And what if I would like to add values to the array programatically?

Given the JSON above, the following does not seem to work (called from the code behind class):

[code]

Should I wrap the "foo"-value in some object before adding it to the array?

[2015-05-26 10:42] chrhol commented on #237
Yes, you need to wrap it in a json-instance with the same type as each item in the array.

The easiest way would be like this I guess:
[code]

If you have any input or suggestions on how to improve or change how you work with single value json, please comment in #2720. I will update that issue with how the API looks today.

[2015-05-26 12:08] k-rus commented on #2728
This issue will require to fix all hardcoded places into using the input. I know about the following places:

1. Actual Class files as mentioned above with additional static methods.
2. Initialisation calls in `AddBasePackage` in `Loader.cs`.
3. Initialisation calls in `InitTypeSpecifications` in `Package.cs`.

[2015-05-26 13:16] warpech opened #2731 "Session gets regenerated for no reason"
Repeatable in 50% of page loads. Repeatable when running only Launcher, as well as Launcher combined with more apps.

There comes some session id with the initial `text/html` response, which is then replaced in the consecutive `application/json` response:

Initially comes `Set-Cookie:Location=%2F__default%2F389B5B6B05A82A2300000020; path=/`:

![session](https://cloud.githubusercontent.com/assets/5

[2015-05-26 13:17] miyconst commented on #2731
This also happens with any other app + launcher.

[2015-05-26 13:22] Ripipip opened #2732 "Index was outside the bounds of the array."
I'm trying to do a query on a class in my database and loop through the results. When going through the second result I do get the exception "index was outside the bounds of the array". I don't get the exception if I remove the parameter _Removed=false from the query.

                    QueryResultRows<ClassifiedHomeAd> availableProperties = null;
                    if (broker != "") {

[2015-05-26 14:21] ivarbergman commented on #2729
@chrhol have you experienced this behaviour when working with TunityCoLab apps?

[2015-05-26 14:32] warpech commented on #2731
This seems to be a server issue, to be clear.

[2015-05-26 14:38] alemoi commented on #2731
Cool! I will take a look!

[2015-05-26 14:53] miyconst opened #2733 "Ambiguous Handle name"
There is a static class `Starcounter.Handle` which has set of methods and properties. The client side events in `Starcounter.Json` class are handled via `void Handle(Input.Xxxx Action)` methods.

That is why calls like `Handle.CallLevel` are invalid inside `Starcounter.Json` viewmodels which has at least one `void Handle` definition. The full name should be used instead: `Starcounter.Handle.CallLe

[2015-05-26 15:01] alemoi commented on #2722
The session destruction API has now changed to usage of standard `EventHandler` property on `Session`: `public event EventHandler Destroyed`.

Fixed via acb6dc07818ebbbc6e9e0d200d82035dd2ee552d

The following test demonstrates the new interface:

[code]

Thanks for the input!

[2015-05-26 15:02] alemoi commented on #2664
The session destroy event has changed its API: https://github.com/Starcounter/Starcounter/issues/2722

[2015-05-26 15:02] #2664 closed

[2015-05-26 15:04] miyconst commented on #2722
Cool!

[2015-05-26 15:04] #2722 closed

[2015-05-26 16:39] alemoi commented on #2733
My input on this: I think that Handlers and Handles are too similar names and its hard to talk about these two in distinguishable way. Maybe Handles should change the name?

[2015-05-26 16:40] alemoi commented on #2731
Can you please provide with some simplest reproduction cycle with only the Launcher app? Thank you!

[2015-05-26 17:03] warpech commented on #2731
Start Launcher with current Starcounter (I use yesterdays daily), go to http://localhost:8080/ and press F5 few times.

[2015-05-26 17:45] peterbergman commented on #237
Ok, thanks, that seems to work!

[2015-05-26 18:04] peterbergman opened #2734 "Populate data from other typed JSON object"
Hi,

I have a use case where I need to populate the data in one typed JSON object with the data from another typed JSON object of the same type. I need to do this from within the code behind class.

The following code worked on Starcounter DevelopNightlyBuilds-2.0.3004.

Code behind for JSON2:
[code]

JSON1:
[code]

JSON2:
[code]

However, after upgrading to DevelopNightlyBuilds-2.0.3179 the assig

[2015-05-26 21:18] alemoi commented on #2731
Hmmm, I would say I can not reproduce the issue. Need to look on your computer tomorrow! I hit F5 again and again and see no errors in browser debug window and no `Set-Cookie` in second localhost request `Accept:application/json`.

[2015-05-27 00:30] alemoi commented on #2610
Here is the info about database Polyjuice flag: http://starcounter.io/nightly-changes/polyjuice-database-flag/

[2015-05-27 00:31] alemoi commented on #2703
Here is the info about database Polyjuice flag: http://starcounter.io/nightly-changes/polyjuice-database-flag/
Since now installations are equal and flag is added on per-database level which seem to work fine, should we close the issue?

[2015-05-27 00:32] #2698 closed

[2015-05-27 00:37] alemoi commented on #2662
Sure. I think I will return 400 Bad Request with the reason.

[2015-05-27 00:40] alemoi commented on #2646
Should not be the case. It can be just a big burst of tasks causing the error.

[2015-05-27 00:41] #2628 closed

[2015-05-27 00:42] alemoi commented on #2591
Now this should not be an issue since I added the Polyjuice database flag: http://starcounter.io/nightly-changes/polyjuice-database-flag/
Closing the issue until any further problems.

[2015-05-27 00:42] #2591 closed

[2015-05-27 00:43] alemoi commented on #2573
Did we notice anything like that with newer versions of Starcounter?

[2015-05-27 00:46] alemoi commented on #2541
Maybe the client keeps the old session and server creates a new one causing client to treat sitation as errornous?

Defined in `scnetworkgateway.xml` in your server directory. The default value is 20 minutes.

[2015-05-27 00:48] alemoi commented on #2503
I guess now such a sample is a Chatter application made by @warpech
I really like it as example. What do you think?

[2015-05-27 00:52] alemoi commented on #2408
I think this one is already fixed long time ago using `Polyjuice.OntologyMap` functionality. Closing the issue.

[2015-05-27 00:52] #2408 closed

[2015-05-27 00:53] alemoi commented on #2394
External and internal requests are now all case insensitive. Closing the issue.

[2015-05-27 00:53] #2394 closed

[2015-05-27 00:55] alemoi commented on #2371
That time there was probably some temporary problem causing this wrong behaviour. Closing the issue.

[2015-05-27 00:55] #2371 closed

[2015-05-27 00:57] alemoi commented on #2332
Still have to verify that closing WS connection on the server with provided error message is working on the client in Puppets.

[2015-05-27 01:00] alemoi commented on #2263
The information about client IP can be retrieved from Request object upon WebSocket upgrade and then can be stored by the user, for example by storing 64-bit WebSocket value and this client IP associated to it. Closing the issue.

[2015-05-27 01:00] #2263 closed

[2015-05-27 01:03] alemoi commented on #2192
Registering two handlers with the same URI is now prohibited, so the issue is no longer relevant. Closing the issue.

[2015-05-27 01:03] #2192 closed

[2015-05-27 01:05] alemoi commented on #2141
I guess this is no longer relevant. Closing until further notice of the same problem.

[2015-05-27 01:05] #2141 closed

[2015-05-27 01:06] alemoi commented on #1957
Building 32-bit components and building of public assemblies are now integrated into Level1 build so does not require any extra steps. Closing the issue.

[2015-05-27 01:06] #1957 closed

[2015-05-27 05:26] k-rus commented on #2728
This issue is only related to DNX track, thus the above comments were modified or deleted.

[2015-05-27 05:49] k-rus commented on #2732
Thank you for the question.
What is the schema of `ClassifiedHomeAd`? How is it and its properties defined?

[2015-05-27 06:03] chrhol commented on #2733
I agree with @alemoi, the input-handler should be renamed. The question is to what :) I will ping @Starcounter-Jack as well so we can decide on how we want the public API to look.

[2015-05-27 06:07] chrhol commented on #2734
We have not yet fully decided if it should be allowed to use one typedjson as dataobject to another, currently there are no restrictions but this might change later.

It's hard to say if there is a better way to do this, I will have to see a more full sample. Is it possible to just assign/move `json1.site` to `site` instead?

As for the exception, this looks like something I caused when implementi

[2015-05-27 06:51] chrhol commented on #2734
Could you add the full stacktrace of this exception as well? There are several places that this could happen and I'm having some trouble reproducing it.

[2015-05-27 07:26] miyconst commented on #2610
@alemoi thanks, this is an old issue, created long before we the flag was added, I close it.

[2015-05-27 07:26] #2610 closed

[2015-05-27 07:40] warpech commented on #2332
We can test together. So idea is that the client should see the exception text as the closing frame [`reason`](https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent) property?

[2015-05-27 07:45] warpech commented on #2503
Chatter is available here: https://github.com/polyjuice/chatter

It would be good to have a simpler working snippet, that shows both broadcasting to all clients and current session. Such snippet should be documented on starcounter.io

[2015-05-27 07:53] warpech commented on #2541
I think 20 minutes is way too short. Your desktop programs (Firefox, Visual Studio, etc) remember their state for weeks.

I think we should do not one but 3 things:

1. change 20 minutes to 7 days
2. if there is no session, server should return `410 Gone` or `404 Not Found` instead of creating a new session
3. if server returns the error mentioned in 2., the client should display a message "Sessio

[2015-05-27 07:54] chrhol commented on #2706
I have added automatic conversion for enums to and from strings now when bound in typedjson. Pushed to develop and next.

[2015-05-27 07:54] #2706 closed

[2015-05-27 08:01] warpech commented on #2662
Or perhaps 413 Request Entity Too Large?

[2015-05-27 08:27] warpech commented on #2731
Still reproducible as of Starcounter 2.0.3183.3. You may try pressing Ctrl+F5. I can show you in person as well

[2015-05-27 09:06] warpech commented on #2314
@miyconst is it still reproducible? Then please open a new issue because this ticket was related to `ScErrCodeHostProcessRefusedStop` while starting an app, not when using it.

@mtornwall - same as above. Do you have some error message in log? Could you describe when this happens?

[2015-05-27 09:17] miyconst commented on #2314
No, I didn't see the error for quite a while.

[2015-05-27 09:53] mtornwall commented on #2314
@warpech I still have this. It tends to happen when I'm repeatedly starting and stopping apps. If you want I'll investigate further.

In the logs the pattern seems to be (in chronological order):

1. `ScErrCodeHostProcessRefusedStop` exception is reported.
2. This is followed immediately by a `ScErrServerCommandFailed` ("the operation 'stopping <something>' failed").
3. About 10 seconds later, the

[2015-05-27 09:54] peterbergman commented on #2734
Full stack trace:
[code]

If I do ```site = json.site``` then I get the same error as with ```site.Data = json1.site```
However, I think I tired that prior to updating to 2.0.3179 and then I got an exception with a message saying something like "Cannot change parent of objects in Typed JSON trees".

[2015-05-27 10:41] warpech commented on #2314
Thanks, reopening then.

[2015-05-27 11:49] per-samuelsson commented on #2729
Hi @ivarbergman,

Thanks for reporting. I'm trying to set up an environment where I can reproduce this.

Where can I find that?

[2015-05-27 11:55] per-samuelsson commented on #2729
Does it help if you **rebuild** the application? Not sure Clean+Build always perform the same as rebuild, and I suspect this *might* have something to do with references in the weaver cache, possibly caused by the manual removing from EditionLibraries (and that we don't handle that well).

[2015-05-27 12:05] miyconst opened #2735 "System.NullReferenceException in Session.CalculatePatchAndPushOnWebSocket"
Sometimes in the Chatter app on `Session.CalculatePatchAndPushOnWebSocket` occurs the following exception.

[code]

I am not able to find what casuses it, but it happens from time to time.

@chrhol could you take a look, please?

[2015-05-27 12:11] chrhol commented on #2735
At first glance it might have to do with https://github.com/Starcounter/Starcounter/issues/2597

How do you reproduce it? Just run the Chatter-app and click around?

[2015-05-27 12:13] careri commented on #2703
So what are you saying, to fix the my project that's suffering from (Starcounter Edition):
Polyjuice applications can only register handlers starting with application name prefix, for example, /myapp/foo

I'm not using Polyjuice, so I would really like to keep using my simple urls. Do I need to prefix them with  the name of the application?

[2015-05-27 12:17] per-samuelsson commented on #2729
Got the invite. Thanks!

[2015-05-27 12:19] miyconst commented on #2735
Yes, but the lates version of Chatter is not pushed yet, doing that.

[2015-05-27 12:23] ivarbergman commented on #2729
Great!

If I Rebuild the solution before the second Start. I get the following error:

    System.Exception: ScErrWeaverCantUseCache (SCERR6077): The weaver was unable to weave the application because of an internal problem with the weaver cache. Run the weaver with the --nocache option to remedy. Assembly: Assembly SocietyObjects.Concepts.Ring1 Version: 2.0.3182.3. Help page: https://github.com/S

[2015-05-27 12:27] per-samuelsson commented on #2729
OK, but that does error surface, or is it just in the log? There are a few known problem areas around building especially SO-stuff, and the server should handle them by re-running the weaver a second time, with the cache disabled. And that should work. Does it not in your case?

Furthermore, when I try to build Tunity 2.0, it complain that it doesnt find references to SO-libraries. But as I unders

[2015-05-27 12:36] miyconst commented on #2735
@chrhol, the apps are pushed now.

You have to run Launcher, Chatter, Images, Products app.

Open a chat room in the Chatter app and start chat between two incognito Chrome tabs. Attach some images, products and other stuff you have in your datase to messages.

The exception will occur at some point.

[2015-05-27 12:45] ivarbergman commented on #2729
The error shows both in the log and in the VS error console. VS indicates that the application is in Ready state. However, the Tunity application is never started. (Ie Main method never reached.)

No, you should not need to build SO. The SO files from the Starcounter installation are used (EditionLibraries & Public Assemblies folder)

Do you still have problems with the SO references?

[2015-05-27 12:50] per-samuelsson commented on #2729
Well, yes. But I don't have any EditionLibraries, since I'm running a local build of the latest code which, I thought, corresponded to DevelopNightlyBuilds. But then appearently it does not. And I was also under the impression that EditionLibraries was only part of Polyjuice edition of Starcounter, but its somewhat a moving target it seems, so I guess I need to catch up.

Anyway, I'll try to figur

[2015-05-27 13:01] warpech opened #2736 "Cannot retrieve session through GET"
When making a request like `GET /__default/483D3E341CAC89F710000030`

I get an error message `404 Session does not contain any state (session.Data).`

This is wrong because the session actually exisists and sending a PATCH to it works.

Error might be caused because `Handle.GET` checks `session.Data`, while `Handle.PATCH` checks `root = session.PublicViewModel`.

@chrhol could you take a look?

[2015-05-27 13:03] alemoi commented on #2703
Only if you are using a Polyjuice database in any edition (`PolyjuiceDatabaseFlag` equals to `true`) you will have to prefix your handlers. If you have `PolyjuiceDatabaseFlag` equals to `false` URLs can stay arbitrary.

[2015-05-27 13:04] chrhol commented on #2736
Yes, looks like we missed this handler when we changed the behaviour when multiple apps share session. I will change it.

[2015-05-27 13:19] per-samuelsson commented on #2729
I now have an environment up, where I can reproduce this. Just a short check:

1 - Create a empty default database.
2 - Pull the latest Tunity2.0 code from github.
3 - Clean, Build, Start the Tunity2.0 application.
4 - **Stop the application**
5 - Start the application again.

With [4], you are using **Stop** in VS, right? Thats what I tried at least. And that does not really stop the application,

[2015-05-27 13:21] ivarbergman commented on #2729
Yes I did a Stop in VS.

[2015-05-27 13:23] per-samuelsson commented on #2729
OK, thanks.

Just for the record, I can reproduce this same thing from the command-line:

[2015-05-27 13:34] #2736 closed

[2015-05-27 14:08] per-samuelsson commented on #2729
Update:

After some researching and stepping code, this seem to be some inconsistency introduced by recent ```PolyjuiceDatabaseFlag```, which is probably why it hasn't occured before. You can read about this flag in #2703 and here: http://starcounter.io/nightly-changes/polyjuice-database-flag/

In short, the second start of the application operates with this flag **not** set, so the edition librar

[2015-05-27 14:32] per-samuelsson commented on #2729
Found the bug: its an issue from this recent commit: https://github.com/Starcounter/Starcounter/commit/b5962cb3cfed459c3986274598f35e7627f7dc8e. The ```WeaverService.CreateWeaverCommandLine``` method is changed to include another parameter, and the call to it when the server retries without the weaver cache always invokes it with edition libraries enabled (not respecting the configuration).

I wil

[2015-05-27 14:58] #2729 closed

[2015-05-27 15:01] per-samuelsson commented on #2729
This is now fixed and merged in https://github.com/Starcounter/Starcounter/commit/f0745c9cede2880b2c84a1fc37a05ca129cd9daa. Let us know how it works @ivarbergman! And thanks for all the help in resolving this!

[2015-05-27 15:07] miyconst commented on #2735
This might be because `Session.ForEach` is async.

The method name is incorrect, `List.ForEach` is sync, and `List.ForAll` is async, we should follow the naming convension.

[2015-05-27 15:18] alemoi commented on #2735
Good input. So, for example, you are suggesting renaming `Session.ForEach` to `Session.ForAll`?

[2015-05-27 15:21] miyconst commented on #2735
Yes, because it is not going through each session one by one, but executing an Action for all sessions.

[2015-05-27 15:25] alemoi commented on #2735
Suggestion accepted :) I see that only `Session` has `ForEach`. Will rename it!

[2015-05-27 15:53] alemoi commented on #2735
Renamed via 984090d05dfe73ebfaf056e5a867fb10abc4fad1
Documentation updated correspondingly.

[2015-05-27 16:03] miyconst commented on #2735
And what about the bug?

[2015-05-27 16:10] warpech commented on #2735
Looks like this is the fix for the bug: https://github.com/Starcounter/Starcounter/commit/f6f182b7c97cfaf590e8866527f2bbabd3516487

[2015-05-27 16:44] miyconst commented on #2735
I was able to locate the issue.

This happens only if I have two or more Sessions, never happens with one session.

This code causes exception:

[code]

And this one does not:

[code]

I may assume that `Session.ForAll` is not thread safe.

[2015-05-27 17:07] chrhol commented on #2735
Yes, It's a problem when bindings between json and dataobject are created. I found a place where the wrong type was used to compare if existing binding should be recreated.

Easiest way I founds to reproduce it was to have several attachements of products and images in a message.

Working on a fix for this specific case so that Chatter-app will work. Issue #2597 is still relevant so solve for othe

[2015-05-27 17:07] alemoi commented on #2731
Should be fixed via f6f182b7c97cfaf590e8866527f2bbabd3516487
Thank you for testing!

[2015-05-27 17:13] warpech commented on #2731
Seems to be fixed in current build. Thx!

[2015-05-27 17:35] careri commented on #2703
I'm running Starcounter Edition: 2.0.3183.3
I get the error, where is this flag stored?

[2015-05-27 17:40] careri commented on #2703
If I look in the Default.Db.Config the flag is set correctly:

    <PolyjuiceDatabaseFlag>false</PolyjuiceDatabaseFlag>

But I'm launching the debugger with a custom database name:

    --d=HAD --name=HAD

And that config sets the flag to true, even though I'm running Starcounter Edition:

    <PolyjuiceDatabaseFlag>true</PolyjuiceDatabaseFlag>

For now I can just revert to the default database

[2015-05-27 17:56] careri commented on #2703
I can confirm that using the default database works as expected

[2015-05-27 18:30] alemoi commented on #2703
Good! Please let us know if you still experience any issues with this.

[2015-05-27 18:31] #2731 closed

[2015-05-27 18:40] alemoi commented on #2646
Since WebSocket API is completely changed and there is no `WebSocket.ForEach` anymore - I am closing this issue. However, the case still could be possible for the `Session.ForAll`, but that would be a separate issue.

[2015-05-27 18:40] #2646 closed

[2015-05-28 06:02] chrhol commented on #2735
Forgot to comment here yesterday. I've pushed a fix for this to develop. After the fix I could not reproduce this problem anymore.

@miyconst can you verify that it's working when you have time?

[2015-05-28 06:08] chrhol commented on #2734
Thank you! I think I found the place that fails. I will set up a test for it and push a fix a bit later today.

[2015-05-28 06:20] ivarbergman commented on #2729
Unfortunately our apps is not yet ready to enable the PolyjuiceDatabaseFlag. (For example we need to rewrite our http uri handling, and this is something we plan to do, but it will take some time.)

This means that Tunity2.0 fails run on the current Starcounter version. We need to find some temporary solution to get us up and running again, until we support the Polyjuice requirements.

Any suggest

[2015-05-28 06:25] k-rus commented on #2703
I guess the issue is not resolved. @alemoi  can you look if flag works correctly in the case of non-default database?

[2015-05-28 07:09] per-samuelsson commented on #2703
From @careri's reply, it seems that by default, a newly created database, created "on the fly", gets the polyjuice-flag set to **true**. This must be wrong in any non-Polyjuice edition.

Also, note that there was a bug in the implementation of the polyjuice flag, that I tracked down and fixed yesterday: #2729. When testing, make sure to test on a version built *after* this bug was resolved.

[2015-05-28 07:24] chrhol commented on #2734
I've pushed a fix for this issue to develop now. Was a problem when setting the Data-property and the json was not an object.

However, I think I tired that prior to updating to 2.0.3179 and then I got an exception with a message saying something like "Cannot change parent of objects in Typed JSON trees".

Ahh right, we don't allow moving json between two trees. Maybe this is something we should t

[2015-05-28 07:24] #2734 closed

[2015-05-28 07:32] per-samuelsson commented on #2703
I did a simple test, like ```star -d=Test empty.cs``` on a version I built from sources yesterday afternoon, and it set the polyjuice flag to **false**, i.e. the correct behaviour. So either I did something different from @careri, or my environment is not the correct. Or #2729 fixed the problem.

@careri, can you grab the latest version (built tonight) and try just using an empty app like this:

[

[2015-05-28 08:12] careri commented on #2703
That seems to be working without installing the latest version. I probably forgot to recreate the HAD database. Sorry

[2015-05-28 08:16] per-samuelsson commented on #2703
No worries! Thanks for helping us tracking down these things. And let us know if there are anything else that seems weird or doesn't work like you expect regarding this!

Should we close this issue for now? I couldn't find any more work that needed to be done while reading it through...

[2015-05-28 08:23] peterbergman commented on #2734
Ok, great, thanks!

Yes, I think it would make it more flexible to be able to move objects between trees.

[2015-05-28 09:11] Ripipip commented on #2732
This is the part related to _Removed (that causes the error).

        public bool _Removed;
        public bool Removed
        {
            get
            {
                return _Removed;
            }
            set
            {
                if (_Removed == false)
                {
                  // Check if removed
                }
            }
        }

[2015-05-28 09:13] Ripipip opened #2737 "CPU drained at __checkp_ver_cksums_memory"
When running the profiler analyzed in Visual Studio on my running Starcounter app I can see that the CPU in intervals goes up to around 16% and that the CPU is used at the function called __checkp_ver_cksums_memory.

What does that mean and how can I solve it?

[2015-05-28 09:22] ivarbergman opened #2738 "PushSocketDataToDb Assertion failed"
Hi!

(Using the latest Starcounter-DevelopNightlyBuilds-2.0.3184)

From time to time (after I updated to 2.0.3184). I get the following crash message, both in the Starcounter log and in the error console of VS:

    Error	2	ScErrNetworkGatewayTerminated (SCERR10021): The server detected that the network gateway executable (scnetworkgateway.exe) unexpectedly terminated.

    (Double-click here for

[2015-05-28 09:33] ivarbergman commented on #2729
Update: It seems like I can get our application to run with the PolyjuiceDatabaseFlag disabled, by changing the SoC References Property "Copy local" from false to true.

[2015-05-28 09:49] k-rus commented on #2732
Thank you for the clarification. It should work.

Can you provide the full stack trace? How can we reproduce the issue?

 Sorry, that I didn't ask about the stack trace from the beginning, and it is always good to report complete stack trace from the log (or all related errors) in issue.

[2015-05-28 09:56] alemoi commented on #2738
Thanks for reporting! The problem is definitely related to recent changes but hard to guess right now. I will investigate!

[2015-05-28 10:08] peterbergman opened #2739 "Using Administrator as app name"
Hi,

I just wanted to check if "Administrator" is a reserved name and cannot be used for my own apps? I have tried to create an app with this name but it causes the following error when started through the ```star``` command:

[code]

[2015-05-28 10:20] chrhol opened #2740 "NullReferenceException when compiling a TypedJson-object with a single array and codebehind"
The following code generates a NullReferenceException when compiling:
*SingleArrayJson.json*
[code]
*SingleArrayJson.json.cs*
[code]

The exception comes from the codegeneration. I will assign it to myself to be fixed.

[2015-05-28 10:50] alemoi commented on #2739
I think this is the case. Maybe we should use some distinctive name instead. @dan31 what do you think?

[2015-05-28 10:58] chrhol commented on #2470
Ignore the last reference. I added the wrong number in the commit-comment. It has nothing to do with this issue! :blush: