[2017-01-17 21:00] andan342 commented on #1915
Every `Node` descendant now has a `location` property, which can be used for error reporting.

The new locations are described in this document:
https://github.com/Starcounter/RebelsLounge/blob/master/query_processor/Locations_in_AST.md

All invalid syntax is reported, specifying the location and offending/invalid token.

[2017-01-17 21:02] andan342 commented on #1916
Every `Node` descendant now has a `location` property, which can be used for error reporting.

The new locations feature line and column numbers, and are described in detail in this document:
https://github.com/Starcounter/RebelsLounge/blob/master/query_processor/Locations_in_AST.md

All invalid syntax is reported, specifying the location and offending/invalid token.

[2017-01-18 08:55] warpech commented on #3208
Ping

This now even shows a warning in Chrome.

@andwah any chance of putting this file in local static files folder?

![2017-01-18 09_54_17-starcounter administrator](https://cloud.githubusercontent.com/assets/566463/22057239/2265fe86-dd64-11e6-85cb-7b713a006ce8.png)

[2017-01-18 09:15] andwah commented on #3208
Sure. not a problem.

[2017-01-18 09:54] LimaPer opened #4048 "Failed to create database"
Is this a known issue. First i deleted a database and then i created a new one with the same name and got the exception below. Havent seen this issue before when i have deleted/created a db. To solve the problem I ended up doing a complete reinstall with a later Starcounter version.

ScErrServerCommandFailed (SCERR10011): The operation "Creating database wms" failed.
Version: 2.3.0.5489.
Help page

[2017-01-18 10:04] per-samuelsson commented on #4048
@LimaPer

Thanks for reporting this.

Not sure, but I don't think so. I do recall there was once some problem with deleting databases after it had installed applications from a warehouse, I'll see if I can find that old issue and see what the conclusion was in that case.

Let us get back to you.

[2017-01-18 10:08] per-samuelsson commented on #4048
@LimaPer

It turned out it actually was already reported and confirmed: #3523. It was just never prioritized to fix I guess. I'll make sure we bump that and get it fixed.

Meanwhile, I think that other issue can give you a hint on what can be done as a workaround if it should happen again. Let us know if you need help with a better explanation for that! Please do so in that issue, if so.

Closing

[2017-01-18 10:08] #4048 closed

[2017-01-18 10:11] chrhol commented on #4048
Huh, it was reported by me...I had no memory of that one what so ever! Good that you found it.

[2017-01-18 11:24] k-rus commented on #1777
Closing, since it is done.

[2017-01-18 11:24] k-rus commented on #1777
Or was I too early? What is left?

[2017-01-18 12:20] andan342 commented on #1777
@k-rus, @Thanh-Truong : I guess, when we know how to identify *not supported* clauses in a general way - we can report it here. I am referring to that issue above.

[2017-01-18 12:32] miyconst commented on #4033
@SenerDemiral here you go - [StarcounterReferenceBenchamrk](https://github.com/miyconst/StarcounterReferenceBenchamrk/).

Please look at the code and implement the same thing in the old Firebird database. Let me know if you need any help.

The database dump is available in the root of the repository.

[2017-01-18 12:38] bazemaze opened #4049 "Installation error"
I've tried to install several different versions of the software but always get the same error message, see screen shot below. Also there's some problems in Visual Studio, see screen shot.
I'm using Windows 10 64x and Visual Studio Enterprise 2015 version 14.0.25424.00 Update 3. Any help is appreciated.

//Basel

![vsproblem](https://cloud.githubusercontent.com/assets/7026982/22064160/9c72351e-dd8

[2017-01-18 12:41] per-samuelsson commented on #4049
@bazemaze

Thanks for reporting this. I don't remember seeing this before.

Could it be something with privileges?

[2017-01-18 12:45] bazemaze commented on #4049
I tried to run as Administrator, but the error remains...

[2017-01-18 12:59] per-samuelsson commented on #4049
Can you try something for us?

Create a standard C# Console Application. Then implement an entrypoint similar to this:

[code]

Can you run it successfully?

[2017-01-18 12:59] SenerDemiral commented on #4033
OK,
I will check it out ASAP.

[2017-01-18 13:02] per-samuelsson commented on #4049
Just FYI:

From https://msdn.microsoft.com/en-us/library/96xafkes(v=vs.110).aspx

[2017-01-18 13:12] bazemaze commented on #4049
Output from the console application:

 at System.ThrowHelper.ThrowSecurityException(ExceptionResource resource)
   at Microsoft.Win32.RegistryKey.OpenSubKey(String name, Boolean writable)
   at System.Environment.SetEnvironmentVariable(String variable, String value, EnvironmentVariableTarget target)
   at ConsoleApplication1.Program.Main(String[] args) in C:\Projects\testStarCount\ConsoleApplicati

[2017-01-18 13:17] per-samuelsson commented on #4049
Thanks, then it's clear what fails, but I can't really tell why. Starcounter rely on that we can set a machine wide environment variable ([here](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Installer/Starcounter.InstallerEngine/Components/InstallationBase.cs#L248) is the source code), and if that is not possible, we can't successfully install.

Exactly why it doesn't wor

[2017-01-18 13:21] per-samuelsson commented on #4036
Didn't get any answer on that. Closing this. @ivarbergman, just let us know if you want to reopen it and extend the discussion.

[2017-01-18 13:21] #4036 closed

[2017-01-18 13:23] bazemaze commented on #4049
Ok Per thanks for your support!

[2017-01-18 14:00] SenerDemiral commented on #4033
Preliminary results [https://github.com/miyconst/StarcounterReferenceBenchamrk/issues/1](url)

[2017-01-18 14:29] Thanh-Truong commented on #1777
The issue should be opened.
Currently, we manually check "not supported" clauses and the reported error should include the position of not supporte clauses. I'll cover this as well as I am reviewing all error reports, case by case, from QP

[2017-01-18 14:36] warpech commented on #4047
cc @alemoi?

[2017-01-18 15:03] alemoi commented on #4047
@SenerDemiral thank you for the question. Can you please describe your application design and what you are trying to achieve?

In general here is the list of possible ways: http://security.stackexchange.com/questions/36420/how-can-a-website-find-my-real-ip-address-while-im-behind-a-proxy

[2017-01-18 15:11] alemoi commented on #3743
This is the things we discussed today on the meeting: only manual reload is possible between 2.2 and 2.34. We just need to write a proper dialog message and no stack trace. @ubbeK can you please post the link to your migration app for 2.2.

[2017-01-18 15:19] SenerDemiral commented on #4047
I have experimental site [www.masatenisi.online](url) about table tennis team tournaments.
I am using Starcounter 2.3 and can not change Http port!
And yet didn't convert 2.4 which in Http port can be changed.
I tried to change port 8081 to 80 using Proxies and I need Client IP address.

[2017-01-18 15:45] warpech commented on #3743
Please note that this error appears also when upgrading from `2.3.(n-1)` to `2.3.n`

[2017-01-18 16:15] k-rus commented on #1777
Correct.

[2017-01-18 18:31] miyconst commented on #4033
Thanks. Let's leave this issue, since it is too long and already closed. Keep discussion in the referenced issue.

[2017-01-18 19:37] ubbeK commented on #3743
Source code: https://github.com/Starcounter/StarDump.Migrator.2.2

There is a version in the old warehouse but it is not updated with the latest since it needs some testing.

[2017-01-19 09:13] warpech commented on #3243
@andwah how does the above compare to `starpack`?

I believe `starpack` covers all of the above requests apart from `Bump the app version`.

[2017-01-19 09:19] bazemaze commented on #4049
Okey I succesfully installed Starcounter on another machine now, but I still have the same problem in VS saying the KitchenSink project is incompatible with current version of VS.

I use Windows 7 64x and VS community 2015 v14.0.25431.01 Update 3.

[2017-01-19 09:43] per-samuelsson commented on #4049
That's odd. Can you share the version of Starcounter you have installed? Try `star -v | clip` in a prompt and paste it here.

Meanwhile, I'll test that same thing on my machine. I have the same version of VS:

[code]

[2017-01-19 09:49] per-samuelsson commented on #4049
Now did that, pulled all latest bits from **master** over at `https://github.com/StarcounterSamples/KitchenSink`, opened the solution in Visual Studio and successfully built it.

I'm on Win 10 though. Also, I'm using a build of Starcounter that is built locally, quite close to our "Develop" channel (http://downloads.starcounter.com/download/Starcounter/Develop/latest). Don't know if that can have

[2017-01-19 10:22] atifwaqar opened #4050 "Question : Is there any plan to make `QueryResultRows` more accessible?"
We know there are ways in C# to add functions like
[code]
But whenever we create a new project, we have to redo them in new Code Repository. or at least merge that code to new Repo.
So my question is, Do you have any plan to implement these in SC so we dont have to code them again in new projects?

[2017-01-19 10:27] miyconst commented on #4050
@atifwaqar could you please explain why you need those?

This is already available as [Enumerable.Count](https://msdn.microsoft.com/en-us/library/bb338038(v=vs.100).aspx).

Same thing - [Enumerable.Last](https://msdn.microsoft.com/en-us/library/bb358775(v=vs.110).aspx).

[2017-01-19 10:39] bazemaze commented on #4049
It works now! Installed latest version of Starcounter. But I think the "problem" was something else; in VS there was this incompatible problem right, but now and also in the screen shot I shared before there was another "problem": In the solution it said "The project requires user input. Reload project for more information" So, I did just that and voila, the solution loaded.

[2017-01-19 10:45] per-samuelsson commented on #4049
Great. 🛩 Then I'm closing this issue. If you have other problems or questions, don't hesitate creating new issues and we'll try to help.

[2017-01-19 10:45] #4049 closed

[2017-01-19 11:36] bigwad commented on #3757
[code]

Done for logreader - all exported methods are wrapped so unhandled exception will crash the host.

[code]
The only problem was with invocation of an entry point being called using reflection. Done with https://github.com/Starcounter/Starcounter/commit/d8c5ac3578e92ca5fcc1f2fec4ca392c635a15a5

[2017-01-19 11:49] per-samuelsson commented on #3874
Done. Will merge this as part of #3869.

[2017-01-19 12:33] chrhol commented on #2966
This is now done.

I also took the opportunity (when we already have breaking changes in XSON) to change the `SessionOptions` enum to a more suitable name. `SessionOptions` is obsoleted in favour of `Session.Flags` and methods using it refactored.

[2017-01-19 12:36] miyconst commented on #2966
@chrhol could you please also provide some code snippets with examples of how to use the new Session?

@Mackiovello could you please document it?

[2017-01-19 13:07] warpech commented on #2966
Thanks @miyconst for catching this. Such work is not done until it is documented.

[2017-01-19 13:11] andwah commented on #3243
True, it will be a bit tricky but not impossible to also bump the version number with `starpack`. `starpack` uses the already build assembly to create a package so it needs to be rebuilt after version number is bumped.

[2017-01-19 13:12] per-samuelsson commented on #3523
Had a good discussion with @chrhol on how to best solve this where he gave some feedback we decided to go with.

First of all, this

is by design. I choose that approach to assure we don't risk deleting files by accident. It's similar to how `MsBuild | Clean` work - it cleans only those files managed by itself / belonging to the project.

We decided to tackle this in two ways:

1. We'll drop gener

[2017-01-19 13:15] andwah commented on #4047
It is possible to change the port by open the configuration file and manually edit the port number tag `<DefaultUserHttpPort>8080</DefaultUserHttpPort>`

The configuration file is located in your database repository

`c:\Users\someuser\Documents\Starcounter\Personal\Databases\yourdatabasename\yourdatabasename.db.config`

After you saved the configuration file you need to restart starcounter.

[2017-01-19 13:22] bazemaze opened #4051 "Creating database Default failed"
I'm using Windows 7 64x, Visual Studio Community 2015 v14.0.25431.01 Update 3 and Starcounter v2.4.0.661. See image for error message.

![vsproblem3](https://cloud.githubusercontent.com/assets/7026982/22108179/1bef3ccc-de52-11e6-8aa1-54fd99d57249.png)

[2017-01-19 13:28] miyconst commented on #4051
@bazemaze thank you for reporting. I think this is a known issue after installing a newer Starcounter version which is not compatible with the previously installed.

Please try to:

- Uninstall Starcounter.
- Remove Starcounter documents folder.
- Install Starcounter again.
- Try to create database again.

[2017-01-19 13:30] miyconst commented on #4051
Looks like a duplicate of - [pnext: `Personal.server.config` is not updated when upgrading Starcounter versions](https://github.com/Starcounter/Starcounter/issues/3343).

[2017-01-19 13:32] miyconst opened #4052 "Typo in the exception text: One of more of the languages the database"
The exception text says:

It should be:

cc @k-rus

[2017-01-19 13:32] chrhol commented on #2966
Right, I totally missed documentation. Sorry about that. However I can find no existing documentation about this.

In the current docs patch versioning is not mentioned at all (unless I missed it)

[2017-01-19 13:32] miyconst commented on #4052
Discovered from - [pnext: `Personal.server.config` is not updated when upgrading Starcounter versions](https://github.com/Starcounter/Starcounter/issues/3343).

[2017-01-19 13:32] #4051 closed

[2017-01-19 13:40] Mackiovello commented on #2966
The only documentation about sessions is [here](https://docs.starcounter.io/guides/puppet-web-apps/sessions.html).

There is nothing about patchversioning in the docs.

Is is correct that the changes from previous session behavior are these?

1. `Session.Current = new Session(SessionOptions.PatchVersioning);` is now `Session.Current = new Session();`

2. `SessionOptions` is now `Session.Flags`

Is

[2017-01-19 13:47] chrhol commented on #2966
Yes, that's correct.

One old thing, that I'm not sure when it was changed (by me, so I missed another thing to document...), `UseSessionCookie` that is also mentioned on this page is obsoleted and replaced with `UseSessionHeader` (and optionally `SessionHeaderName` if enabled).

[2017-01-19 13:50] k-rus commented on #4052
I don't know anything about the error. Looking into the other issue, I can understand the error, but I don't understand why I am explicitly mentioned for the issue.

The type can be fixed by anyone who has access to Level1 source code and knows how to fix it. I guess the fix should be done in v2.3 and develop branches. It is important to run personal build before pushing changes to main branches t

[2017-01-19 13:51] miyconst commented on #4052
Sorry, I thought it is some sort of SQL exception.

@alemoi could you please fix it?

[2017-01-19 13:52] chrhol commented on #2966
I can't find the corresponding issue for that other change I mentioned, I will look some more.

[2017-01-19 14:32] warpech commented on #2966
@chrhol https://github.com/Starcounter/Starcounter/issues/3798. It is mentioned in CHANGELOG.md

[2017-01-19 14:41] per-samuelsson commented on #4051
@bazemaze

Sorry to see you suffering from this. It's something we know about that we aim to fix.

The approach @miyconst describe will work, but it might be easier for you to do this instead:

1. Open a prompt and run `staradmin kill all`
2. Then open the file `Personal.server.config`. If you have installed using defaults, it will be under `C:\Users\[yourname]\Documents\Starcounter\Personal\
3. I

[2017-01-19 14:43] per-samuelsson commented on #3343
Suggested workaround until fixed:

1. Open a prompt and run `staradmin kill all`
2. Then open the file `Personal.server.config`. If you have installed using defaults, it will be under `C:\Users\[yourname]\Documents\Starcounter\Personal\
3. In that file, locate the value of the `<CollationFile>` attribute, change it from **TurboText_en-GB_3.dll** to **TurboText_en-GB_4.dll**

From [here](https://gi

[2017-01-19 14:54] alemoi commented on #4052
Sure. Not my area either, but I will fix the texts!

[2017-01-19 17:33] miyconst commented on #4052
Thanks.

[2017-01-19 21:04] SenerDemiral commented on #4047
Thank you. I got the message.

[2017-01-19 21:04] #4047 closed

[2017-01-20 06:25] warpech commented on #4047
@SenerDemiral anything you think should be added to https://docs.starcounter.io/guides/network/network-gateway.html?

[2017-01-20 07:40] SenerDemiral commented on #4047
Thank you for your attention.
I think following sentence strengthen the subject.
Network gateway process listen port defined by Http Port parameter of database.
In Web Administrator http://127.0.0.1:8181/#/databases/DatabaseName/settings

[2017-01-20 08:54] warpech commented on #4047
@Mackiovello I think that this is a fair point. The above topic (how to configure the HTTP port bound to a database) should be explained on https://docs.starcounter.io/guides/database/database-configuration.html

It is (too) briefly mentioned at https://docs.starcounter.io/guides/working-with-starcounter/administrator-web-ui.html, but Administrator is just a UI to the configuration, so this must b

[2017-01-20 12:16] bigwad commented on #3958
@dan31, you may find draft of the FAQ at https://github.com/Starcounter/TechComm/wiki/draft-of-the-answers-to-https:--github.com-Starcounter-Starcounter-issues-3958

Let's discuss it there until it ready to be published.

[2017-01-20 13:32] atifwaqar opened #4053 "DbException: ScErrCLRDecToX6DecRangeError (SCERR4246)"
Query which produces this error :
[code]

Types of attributes :
public decimal CampaignPriceSEK;
public decimal CampaignBudgetSEK;

[code]

[2017-01-20 13:35] atifwaqar opened #4054 "Invalid result when query have "Name = ?" in query"
SC Version : 2.2.2.3511
I think I have reported this issue before, may be its fixed in latest versions of SC.

This query with `like` works, it returns `1`
[code]

This query with `=` doesn't works, it returns `0`
[code]

[2017-01-20 13:42] miyconst commented on #4054
cc @k-rus

[2017-01-20 14:19] miyconst opened #4055 "Starcounter throws System.ArgumentOutOfRangeException when primitive array in view-model contains strings and ints"
I am trying to get an array with primitive values which would contain string and int values.

Here is my JSON definition:

[code]

And here is the code behind:

[code]

[code]

[2017-01-20 14:20] miyconst commented on #4055
Even if I am doing something wrong or it is not supported, the `System.ArgumentOutOfRangeException` exception should caught and delivered with a proper message.

[2017-01-20 14:36] chrhol commented on #4055
Thanks. I think the reason might be that binding data to an untyped/empty array doesn't work. It should definitely work to mix different kinds of instances of json (including json as single values).

Yeah, agree. Either this should work or be detected earlier with a better exception.

I will take a look.

[2017-01-20 14:55] miyconst opened #4056 "Setting StringValue of an item from an empty array crashes database"
Coming from - [Starcounter throws System.ArgumentOutOfRangeException when primitive array in view-model contains strings and ints](https://github.com/Starcounter/Starcounter/issues/4055).

I am trying to workaround the issue above.

[code]

[code]

This throws the following exception and crashes database.

[code]

[2017-01-20 14:59] mtornwall commented on #4053
Probable duplicate of #3841

[2017-01-20 15:06] mtornwall commented on #4053
If you rewrite the query as `... SUM(product.CampaignPriceSEK - product.CampaignBudgetSEK) ...` (i.e., move the subtraction into the summation) you might be able to avoid overflow.

[2017-01-20 15:14] chrhol commented on #4056
Thank you for reporting this. Unfortunately the dynamic parts doesn't seem to work at all when it comes to using single values.

The workaround for now (until we fix it) is to manually specify the template to use for each new item.

[code]

There is an older issue to review and fix the current syntax, #2720. I make sure this problem is also included.

[2017-01-20 15:15] chrhol commented on #4055
Linking issue for reviewing current syntax for single values: #2720. This part should also be fixed or the exception improved.

[2017-01-20 15:50] per-samuelsson commented on #3869
Boosting the friday feeling with another milestone: after like 10 attempts, I've been able to successfully run a nightly build (after adapting the build system, but not disabled any tests).

That would mean this thing is finally good to merge -mainly waiting some PR's on sample/prefab repositories that I have adapted and that was not approved yet.

[2017-01-20 16:46] k-rus commented on #4054
The issue is #3447. No work on fixing it was done. I close this one as duplicate.

[2017-01-20 16:47] #4054 closed

[2017-01-20 18:21] #4024 closed

[2017-01-21 17:15] MujahidRashid opened #4057 "App stuck in start Loop SC 2.2.2.3511"
SC Version 2.2.2.3511

All the applications run fine (Launcher, Signin, UserAdmin) but  our app adfenix constantly shows as starting and does not start we get the following message in admin panel.

Debug
Recovery completed. 3559 transactions recovered
Starting log writer at address 382901699. Next commit id is 473437739.

Notice
Weaving C:\adfenix-backend\src\bin\Debug\AdFenix.exe failed with code

[2017-01-21 18:04] atifwaqar commented on #4057
Its the same with SC Version 2.2.1.3234.

and this is what we see in SC Admin Logs

![image](https://cloud.githubusercontent.com/assets/4388707/22176490/5bc24f7c-e00c-11e6-8bd3-300fedb37f3f.png)

[2017-01-21 18:04] atifwaqar commented on #4057
And the weird thing is that we have 8 Live servers, and only 2 servers have this exact issue. Rest of the servers are working fine.

[2017-01-21 18:16] atifwaqar commented on #4057
Also 1 day ago i got this exception. Do you think its relevant ?

![image](https://cloud.githubusercontent.com/assets/4388707/22176570/f95e019e-e00d-11e6-83bf-95964db5de0c.png)

[2017-01-21 19:23] per-samuelsson commented on #4057
@atifwaqar

Sorry you are experiencing this.

As for weaver error 6066, that is not critical in itself. It's an error possibly indicating the weaver failed to reuse *cached assemblies* and the servers response to that is to try weaving again, without the cache. We discussed this once already:

https://github.com/Starcounter/Starcounter/issues/3628

WTBS, what is important is you can get pass this

[2017-01-21 19:26] per-samuelsson commented on #4057
Regarding above, please note that error has the **notice** log level: meaning you should pay attention to it, but it's something we don't consider even worth a warning. Hence, we need to try to find what is really wrong here (I doubt its a weaver error).

[2017-01-21 20:42] per-samuelsson commented on #4057
Some observations so far:

1. It's not necessary to start the entire suite of apps to trigger the hanging condition - starting `AdFenix.exe` alone still trigger it.
2. The code host load `AdFenix.exe` but never invoke its entrypoint - it hangs somewhere in between loading the assembly and before it invoke the entrypoint.
3. When hanging, one thread is busy bootstrapping the app (`Hosting.Loader.Ex

[2017-01-21 20:47] per-samuelsson commented on #4057
Here's a snapshot of threads when hanging:

![image](https://cloud.githubusercontent.com/assets/2902045/22177682/20e27e74-e023-11e6-95a0-2ae14ae0f032.png)

[2017-01-21 22:49] per-samuelsson commented on #4057
I having somewhat of a problem resolving source files from PDB's, and I can't create a custom installer as described here:

https://github.com/Starcounter/AdminTrack/issues/211#issuecomment-274291338

I'm trying to get sources over to said server, but its not clear exactly what sources have been used to build that exact version.

As soon as I make any progress on that, I'll update this issue.

[2017-01-21 23:32] per-samuelsson commented on #4057
I've finally been able to install sources and connected them to symbols on said server, and now I can see closer that actually hangs, and this looks like its some bug in Starcounter for sure, even though I dont know what is the cause yet.

Here's the stacktrace:

![image](https://cloud.githubusercontent.com/assets/2902045/22178550/96cd13d6-e039-11e6-87c2-75186634c04b.png)

And FWIW the table name

[2017-01-22 00:20] per-samuelsson commented on #4057
Here's the same thing under a mixed-mode debugger:

![image](https://cloud.githubusercontent.com/assets/2902045/22178773/e7390ef4-e040-11e6-8e7d-de264a3baf3f.png)

[2017-01-22 00:51] per-samuelsson commented on #4057
After some off-tracker discussions, our current belief is that this is caused by the same problem causing #3875. We are discussing a solution to that, along with affected parties. Closing this.

[2017-01-22 00:51] #4057 closed

[2017-01-22 17:34] chrhol commented on #4055
Looks like this is an bug somewhere in the dirtycheck. I tried to reproduce it by only returning the json (without having anything stateful, i.e. without a session) and that works fine so the problem is not binding data to an untyped array as I first thought.

Will continue debugging with a stateful json instead.

[2017-01-22 18:48] chrhol commented on #4055
Not really the dirtycheck either (or at least not only the dirtycheck). It's using arrays in arrays that is not working properly for certain conditions. I will have to take a deeper look to make sure it works properly.

[2017-01-22 18:59] chrhol commented on #4056
I've pushed a fix for this to both `v2.3` and `v2.4`.

The syntax in the example in the first comment should now work fine, and setting the template manually should not be needed anymore.

[2017-01-23 07:39] miyconst commented on #4056
It looks like the `v2.3` build has failed and I can't check it today.

[2017-01-23 08:23] Thanh-Truong commented on #1777
fixed in c5b154b58ba66cb8d6990a3f2ab87019a85c7df8

[2017-01-23 08:23] #1777 closed

[2017-01-23 08:24] Thanh-Truong commented on #1916
fixed in https://git.starcounter.org/BlueStar/level0/commit/c5b154b58ba66cb8d6990a3f2ab87019a85c7df8

[2017-01-23 08:24] #1916 closed

[2017-01-23 08:41] miyconst opened #4058 "The imported project "C:\Starcounter.MsBuild.targets" was not found"
I just have installed Starcounter `2.3.0.5523 (Jan 14, 2017 2:01:29 AM)` and no longer able to open any Starcounter solution.

Visual Studio fails with the following exception.

[code]

![image](https://cloud.githubusercontent.com/assets/6435556/22196923/d73cee48-e14f-11e6-9b61-40221e47844c.png)

cc @andwah

[2017-01-23 08:44] miyconst commented on #4058
Replacing

[code]

With

[code]

Fixes the problem, which is weird, since `echo %StarcounterBin%` returns `C:\Program Files\Starcounter`.

[2017-01-23 08:46] miyconst commented on #4058
Trying to create Starcounter project gives:

![image](https://cloud.githubusercontent.com/assets/6435556/22197097/c01e6cae-e150-11e6-8118-78cfc0d7dc56.png)

[2017-01-23 08:50] miyconst commented on #4058
I have no idea what was the reason, but restarting PC solved it. Closing this issue.

[2017-01-23 08:50] #4058 closed

[2017-01-23 09:46] k-rus commented on #1915
I believe we can close the issue. By default Level1 should utilise the provided token information. If it will be noticed otherwise, then it will be reported and fixed separately.

[2017-01-23 09:49] k-rus commented on #2550
The actual implementation was decided and necessary work was done in the metalayer.

Archiving.

[2017-01-23 09:49] #2550 closed

[2017-01-23 10:46] Thanh-Truong commented on #1915
It is not the case as Level0 does not provide location/token in case of invalid error statement. Thus, I reopen this since work is in progress.

[2017-01-23 11:38] chrhol commented on #4055
In the end, it was a rather small fix. The other problems I had yesterday came from some verification method that is only called for debug builds that was not properly implemented.

I have pushed the fixes (the actual bugfix and the fix for the verificationmethod) to `v2.3` and `develop`. The sample in the first comment should work fine.

[2017-01-23 12:55] linkdata opened #4059 "Remove dependency on python 3"
We only require python 3 because of `level1/src/BuildSystem/Scripts/copy_file_from_url.py`. Rather than failing on missing python 3, rewrite that file so it will run on both python 2 and python 3.

[2017-01-23 14:53] per-samuelsson opened #4060 "ScErrJsonValueWrongType in 2.3.0.5523"
When reviewing a new live environment, this error was noted twice in the log. Things kept working, just thought we might want to have it reported.

[code]

@chrhol any ideas?

cc @atifwaqar

[2017-01-23 15:13] linkdata commented on #4059
Turns out that the only thing using this script is `level0\src\behemoth\CMakeLists.txt`. Since CMake can do downloads without using external tools, I'm fixing that CMakeLists and we can then remove `copy_file_from_url.py` if we wish.

At the same time, I've enabled a simple HTTP server for downloading SCLLVM instead of FTP, so that should improve reliability as well.

[2017-01-23 15:15] chrhol commented on #4060
It looks like some value is specified as string in JsonByExample, but the incoming value when deserializing is a number (integer in this case).

Currently this is treated as an error, since it's not a valid string in json. But maybe we need to be more allowing for these cases.

[2017-01-23 15:21] linkdata commented on #4059
Merged.

[2017-01-23 15:21] #4059 closed

[2017-01-23 16:31] mmnosek commented on #3143
It hit me also today. I've almost created a new issue :). I think that we should deal with this topic somehow. If we can't allow using this names we should at least:
* Change the error message from `The type 'PageClass' already contains a definition for 'SomeName'` to something more understandable. I've spent some time investigating why actually I have any other definition. It's very confusing.
*

[2017-01-23 17:01] warpech commented on #2730
@chrhol, @alemoi is this issue still relevant? I think we don't support shortnames in apps anymore.

[2017-01-23 17:11] warpech opened #4061 "Multiple responses from same app in merged JSON"
As discussed today on a meeting, I'd like to propose JSON structure to fit multiple responses from the apps on the same level in merged JSON:

[code]

In the above example, `People_0`, `Products_0`, `Products_1` are the main responses for some request. Others are sibling responses to them.

I guess this can be recursive, so we might end up with something like `People_0__Products_0__Images_0`, etc.

[2017-01-23 17:12] warpech commented on #4061
cc @diliger

[2017-01-23 17:24] chrhol opened #4062 "Allow automatic conversions (if possible) between different valuetypes when deserializing json."
Currently the serializer throws error when an unexpected type is detected when deserializing. This should be changed to be configurable to convert to the correct value if possible.

Settings:
*Default* - Automatic conversion (if possible) to the type specified in TypedJSON.
*Strict* - Error on incorrect type (i.e. type in TypedJSON differs from type found when parsing json).

[2017-01-23 17:26] chrhol commented on #4060
The change needed to allow this is quite small. Added an issue for implementing this change: #4062.

I will close this issue since the original question is answered.

[2017-01-23 17:26] #4060 closed

[2017-01-23 17:30] per-samuelsson commented on #4060
Great. If we treat it as a bug, we might want to have it in 2.3 already.

cc @atifwaqar, make sure you follow that to see when it get realized.

[2017-01-23 17:38] miyconst opened #4063 "Is it possible to Db.OnTransactionX events?"
In good old Entity Framework `Db` is not a static class, and there is an option to override `OnSavingChanges` and other methods.

Is it possible to add some events to `Starcounter.Db`? Currently I have to execute some code right before a transaction commits.

cc @bigwad

[2017-01-23 17:54] andwah commented on #3143
Not sure, i just check the `Json `class for possible clashes.

[2017-01-23 18:07] per-samuelsson commented on #4063
And *before* is the important thing here, not *as part of* a committing transaction?

Asking because I want to illustrate what would be different from commit hooks. As I understand, there is also no type being involved here? More of like a global callback you want to be able to register that get invoked before any transaction commit?

[2017-01-23 18:14] miyconst commented on #4063
It should be before and a part of.

Yes, there is no type hook, just a global callback upon a transaction.

[2017-01-23 19:32] alemoi commented on #2730
Should not be relevant. SO and Simplified have full names.

[2017-01-23 19:32] #2730 closed

[2017-01-23 21:52] dan31 commented on #4063
@miyconst would you explain your pattern in more detail? (I know it, that's why asking)

[2017-01-23 22:08] miyconst commented on #4063
Which of the patterns?

I want to see something like:

[code]

The list of changes is not required for my current task, but would be a very nice addition.

[2017-01-23 22:44] Thanh-Truong commented on #1915
pushed onto [develop](https://git.starcounter.org/BlueStar/level0/commit/21d1303e78c6fb317fcc8340dedf2f653afa44c4)

Yes

Yes and therefore, I am closing this issue.

[2017-01-23 22:44] #1915 closed

[2017-01-24 07:57] Mackiovello opened #4064 "Make HtmlFromJsonProvider use default path if none is provided"
When using `HtmlFromJsonProvider`, it throws an `ArgumentOutOfRangeException` when there is no HTML document at the path specified in the JSON file. Would it be possible to have a default path where it looks for an HTML document when there is not one already provided?

The path would be `/<AppName>/<PageName>.html`

Right now, we specify the path this exact way in every partial of all our sample a

[2017-01-24 08:07] per-samuelsson commented on #3937
For the record: new customer (AF) that upgraded to 2.3 worried about this today.

[2017-01-24 10:42] Ripipip commented on #4060
I investigated the other issue we had the ScErrJsonValueWrongType issue. That was actually quite obvious, just that we didn't have time to look at it in the confusion. In SC 2.2 you could send an integer where the typed json expected a string. The integer would just convert to a string. In SC 2.3 you need to send an integer or the request is not accepted.

[2017-01-24 10:46] Ripipip commented on #4060
A suggested improvement would be to have either a reference to the typed json or the file in the error message - then it easier for everyone to identify not only the code error but the acutal use case that caused it.

[2017-01-24 11:16] chrhol commented on #4060
Yeah, the serializer/parser in 2.2 was a bit more forgiving. But I will readd that functionality. I have most bits in place for #4062 and then the behaviour will be back like before. I'm aiming at getting it pushed today so you have it in a 2.3 version tomorrow.

Good suggestion 👍 I think at least adding which typedjson it belongs to will be possible, not sure about the handler. I will take a look

[2017-01-24 16:26] chrhol opened #4065 "Improve errormessage from serializer when value is of an incorrect type."
As suggested in [this comment](https://github.com/Starcounter/Starcounter/issues/4060#issuecomment-274769536).

[2017-01-24 16:26] chrhol commented on #4065
Will be submitted together with #4062

[2017-01-24 17:33] Adeelkh commented on #4053
subtraction inside the summation also results in overflow

[2017-01-24 18:53] warpech commented on #4064
I am not sure if providing if am for or against. It would be, after all, some additional magic and we try to move away from magic.

We need to get the actual `/<AppName>/<PageName>.html` as the `Html` value on the client side.

Anyway, does anyone feel that `ArgumentOutOfRangeException` sounds weird in this case?

Related: https://github.com/Starcounter/Starcounter/issues/3252

[2017-01-24 18:55] warpech commented on #4064
Alternatively: have a Visual Studio file template that inserts the HTML file and the path to it in JSON?

[2017-01-24 19:09] Mackiovello commented on #4064
That's a fair point. Wouldn't it then be possible to provide an overload to `HtmlFromJsonProvider` to allow this extra magic without interrupting magicless usage?

Yes, it does

I don't think that's a bad solution at all. Is there any issue with integrating that into the existing template?

[2017-01-24 19:21] warpech commented on #4064
It is possible but then I guess the next step is that we start to use it in all samples, and it becomes as ubiquous as `new Session(SessionOptions.PatchVersioning)` that we just got rid off.

We only have such templates right now:

1) JSON
2) JSON with CS
3) HTML

I guess we could add another one:

4) JSON with CS and HTML

@chrhol WDYT?

[2017-01-24 20:27] chrhol commented on #4065
Pushed to `v2.3` and `develop` now.

As an additional improvement, this change also improves these kind of errors from jsonpatches and not only deserializing of json.

[2017-01-24 20:27] #4065 closed

[2017-01-24 20:34] chrhol commented on #4062
This is now added to `v2.3` and `develop`.

Default setting is to try to convert values that doesn't match types before failing.

Can be configured by either setting the wanted option globally in `Starcounter.Advanced.XSON.JsonSerializerSettings.Default.ValueTypeConversion` or by sending in a specific instance when calling the deserializer.

Valid settings for this is `ValueTypeConversion.TryConve

[2017-01-24 20:38] chrhol commented on #4062
Documentation of this feature belongs to #3806 (along with some other stuff) so will close this one.

[2017-01-24 20:38] #4062 closed

[2017-01-24 22:23] dan31 commented on #4053
CC @k-rus @chrhol

[2017-01-25 07:45] chrhol commented on #4055
I will consider this issue solved and close it. Please reopen it @miyconst if you find something that still doesnt work with this.

[2017-01-25 07:45] #4055 closed

[2017-01-25 07:46] chrhol commented on #4056
I will consider this issue and close it. @miyconst please reopen it, if you find anything that still doesn't work with this.

[2017-01-25 07:46] #4056 closed

[2017-01-25 07:59] chrhol commented on #4053
We also have #4023 which is similar to this and #3841. Maybe it's time to really prioritize or at least take a formal decision if we're going to support X6Decimal or get rid of it since we have quite a few issues around it now where normal usage simply doesn't work.

[2017-01-25 08:31] chrhol commented on #2405
This issue is no longer valid.

[2017-01-25 08:31] #2405 closed

[2017-01-25 08:32] chrhol commented on #2303
Will close this one. #3863 is the issue for solving these problems.

[2017-01-25 08:32] #2303 closed

[2017-01-25 08:33] chrhol commented on #2513
Will close this issue. #3863 is the issue for solving these problems.

[2017-01-25 08:33] #2513 closed

[2017-01-25 08:51] chrhol commented on #1819
I dont think this issue is particular relevant any more. The feature mentioned in the first comment is included in the standard serializer. If the need for having custom serializer arises let's reopen this or create a new issue.

[2017-01-25 08:51] #1819 closed

[2017-01-25 09:10] chrhol commented on #712
Already in place.

[2017-01-25 09:10] #712 closed

[2017-01-25 10:23] per-samuelsson commented on #3869
Finally merged, along with new build-system branch and dependent repos: https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

Going into this now:

* Announce stuff
* Write documentation on self-hosting, unit testing
* Go through and close issues
* Delete remote branches
* Write issues for technical debts

Will close this down after that.

[2017-01-25 11:28] linkdata commented on #4063
It looks like you want to attribute transmitted transactions to a given application.

If you can require the applications to written explicitly to support syncing, I think that having less magic is a good thing.

For example, require all transactions to be sent to require an application name (update, insert or whatever) or the transactions won't be sent. Then provide an easy-to-use API that adds t

[2017-01-25 11:46] warpech commented on #3743
The problem is still reproducible when upgrading from yesterday's RC to today's RC using the instructions from https://github.com/Starcounter/Starcounter/issues/3743#issuecomment-270164216

[2017-01-25 12:01] miyconst commented on #4063
That is correct.

@jwillmer has another opinion.

This might lead to very unpredictable and not desired behavior if someone forgot to mark transaction in a single place of an app.

I don't need it, @jwillmer does.

[2017-01-25 13:38] k-rus commented on #4053
I checked the source code and it seems that the summation is stored in C# decimal. Thus I don't really understand what exactly happens in the above query and its execution. I will try to reproduce it.

[2017-01-25 13:54] per-samuelsson commented on #3874
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 13:54] #3874 closed

[2017-01-25 13:55] per-samuelsson commented on #3941
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 13:55] #3941 closed

[2017-01-25 13:55] per-samuelsson commented on #3942
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 13:55] #3942 closed

[2017-01-25 13:56] per-samuelsson commented on #3946
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 13:56] #3946 closed

[2017-01-25 13:57] per-samuelsson commented on #4011
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 13:57] #4011 closed

[2017-01-25 13:58] per-samuelsson commented on #4018
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 13:58] #4018 closed

[2017-01-25 14:02] per-samuelsson commented on #3948
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 14:02] #3948 closed

[2017-01-25 14:02] per-samuelsson commented on #3980
Done and pushed. Merged in https://github.com/Starcounter/Starcounter/commit/d5aa1ff89fbffba7842275e2e3132c4b19b01ea6.

[2017-01-25 14:02] #3980 closed

[2017-01-25 14:13] chrhol commented on #4023
Since the decision on todays meeting was that we should remove X6Decimal and support a wider type, I think I will not add this workaround. Since it's not a critical fix, it's better to wait for the proper solution.

[2017-01-25 14:13] #4023 closed

[2017-01-25 15:00] dan31 commented on #4053
@atifwaqar, an issue with ```decimal``` type inconsistency will be addressed in one of later 2.3.x releases as a non-breaking change (but not yet in 2.3 itself). Guys, what workaround we can suggest there while the fix is not present?

[2017-01-25 15:54] bigwad commented on #4063
Then kernel provides list of changes in the current transaction. This list is already used to invoke commit hooks. With that, all requested functionality could be implemented in the code host.

I personally dislike such global API's as they tend to complicate application integration and reasoning about an application behavior. But I must admit it's simpler than bringing in some DI framework.

Rega

[2017-01-25 16:57] Mackiovello commented on #3920
Are we getting anywhere on this one?

[2017-01-26 13:44] miyconst commented on #4063
Could you please explain a bit more about this? Why it will grow an infinite? It is just a extra small record per transaction.

Sounds like a good idea. Actually. Will bring this topic up during the next meeting with @jwillmer.

[2017-01-26 13:48] bigwad commented on #4063
Because it will actually add a record to the database on each transaction, but who's going to clean up this record?

[2017-01-26 13:51] miyconst commented on #4063
Why it should be cleaned up? This should be treated as another peace of app data.

[2017-01-26 13:53] bigwad commented on #4063
Because you may run the unlimited number of transactions if those transactions operate on the limited amount of data, but you can't expect database table to hold the unlimited number of records.

[2017-01-26 13:57] miyconst commented on #4063
Okay, I have got the point, another thing for the next meeting. Thanks for taking it up.

[2017-01-26 14:17] miyconst commented on #4056
@chrhol thanks for fixing. I have just tested, it works.

[2017-01-26 14:27] miyconst commented on #4055
Tested, works. Thanks for fixing.

[2017-01-26 20:19] dan31 commented on #2940
Archiving.

[2017-01-26 20:19] #2940 closed

[2017-01-27 07:03] k-rus commented on #4053
I don't really understand why the overflow exception happens here. It needs to be investigated to see what work around can be done.

[2017-01-27 08:00] atifwaqar commented on #4053
Its ok guys, Do not spend time in fixing this in 2.2.x.
We will be on 2.3.x soon, Till then we can afford this bug.

[2017-01-27 08:08] per-samuelsson opened #4066 "Scheduled task not invoked in self-hosted app"
Looks like something broke in self-hosting bootstrapping. Currently below code is hanging:

[code]

Investigating.

[2017-01-27 08:37] atifwaqar commented on #3447
Guys any luck with this one?

[2017-01-27 08:55] per-samuelsson commented on #4066
Found the reason. Bug in new self-hosting bootstrap code when using `host.Start()`, accidentally shutting down schedulers if called in non-blocking mode. Need to think about the use case to fix it.

[2017-01-27 09:16] per-samuelsson opened #4067 "Improve on AppHostBuilder API"
* New `.UseDatabaseDefault()` method.
* [Make `UseApplication` optional](https://github.com/Starcounter/RebelsLounge/issues/56#issuecomment-275039192).
* Default `EntrypointOptions` of all `UseApplication` overloads to `EntrypointOptions.DontRun`.

[2017-01-27 09:17] chrhol commented on #4041
This is done as far as possible without breaking everything.

I started out with moving class `Json` to `Starcounter.XSON` and all templates to `Starcounter.XSON.Templates` namespace but this was simply not feasible. By doing this I break every piece of code and the work needed to get all apps working again will be too much.

So in the end I made sure that all types that belongs together is in the

[2017-01-27 09:18] #4041 closed

[2017-01-27 15:32] k-rus commented on #3447
This is not obvious to fix. I don't spend enough time to say if proper fix feasible, otherwise it would require to hack, which might break something else. Currently, the issue is not prioritised.

[2017-01-27 15:52] atifwaqar commented on #3447
okay, but do you think this issue is fixed in 2.3.X or we'll still be facing it?

[2017-01-29 14:42] SenerDemiral opened #4068 "Uninstalled v2.4.0.618 and installed v2.4.0.797"
When try to start personal server:

[2017-01-29 15:18] SenerDemiral commented on #4068
Same error on v2.4.0.787.
On v2.4.0.775 server started, but run with VS2015 fallowing error:

Error		The data type is not supported. The data type of a field or property in an Entity class is not supported by the database. Attribute: TTDB.Parent.__sc__this_binding__ (Starcounter.Binding.TypeBinding) (ScErrUnsupportedAttributeType (SCERR4012))

I Changed SessionOptions with Session.Flags and worked

[2017-01-29 20:20] andwah commented on #3902
The fix should now also be available in v2.3

[2017-01-29 22:23] bigwad opened #4069 "2.3: logopt may crash if record layout has changed"
Changing record layout is common during schema upgrade

[2017-01-30 08:53] per-samuelsson commented on #4068
@SenerDemiral

2.4/Develop is our bleeding edge bits and we are in the middle of some rather large redesign work regarding development- and hosting models. The problems you are experiencing are likely caused by that.

We will write some documentation eventually, describing stuff that need to be done in order to make the jump, but we are not really there yet.

[2017-01-30 09:02] SenerDemiral commented on #4068
Thank you.
Is it too early to work in v2.4?

[2017-01-30 09:30] k-rus commented on #3447
See my previous comment. I don't have better answer now.

[2017-01-30 09:51] bigwad commented on #4069
fixed

[2017-01-30 09:51] #4069 closed

[2017-01-30 10:43] per-samuelsson commented on #4068
It's not at all production-ready of course. But feel free to try out any version we publish. Just  now that the support for such versions will not be prioritized, and the road might be bumpy at times. 😎

[2017-01-30 11:14] SenerDemiral commented on #4068
I wish I knew what was going on.

[2017-01-30 12:27] #4066 closed

[2017-01-30 12:30] per-samuelsson commented on #4067
All proposed adaptions done and tested. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/885fd520721e0a3354ff979024e6c17cf4d3af31.

[2017-01-30 12:30] #4067 closed

[2017-01-30 12:31] per-samuelsson commented on #4066
Hosting lifetime redesigned and the sampled use case now work. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/885fd520721e0a3354ff979024e6c17cf4d3af31.

[2017-01-30 14:13] dan31 commented on #3434
Archived.

[2017-01-30 14:13] #3434 closed

[2017-01-30 14:15] dan31 commented on #3780
We plan to support all the lacking features of SC communication facilities by re-wiring Starcounter communidation APIs into 3-rd party solutions. This will be done gradually. Currently we try to avoid big additions and enhancements into existing self-made web server.

[2017-01-30 14:15] #3780 closed

[2017-01-30 14:18] dan31 commented on #3894
Archived.

[2017-01-30 14:18] #3894 closed

[2017-01-30 14:43] warpech commented on #3920
No to very much :) I think that [YAGNI](https://en.wikipedia.org/wiki/You_aren't_gonna_need_it) principle should be applied to much in this proposal.

On top to what I said in my previous comment, I think that allowing wildcards in the URI just transfers the need to understand the structure of the merged HTML URL to the programmer that's using the REST API.

And this feels unnecessary, because the

[2017-01-30 14:51] bigwad commented on #3636
Stack trace is the same as in https://github.com/Starcounter/Starcounter/issues/4069
Probably, it's the same issue.

[2017-01-30 14:51] #3636 closed

[2017-01-30 15:05] dan31 commented on #4013
This is a bug. @alemoi follows up in the next 2 days, checks the file caching.

[2017-01-30 16:38] Mackiovello commented on #3920
Is there a better way to do that than this:

[code]

It produces valid JSON, though it seems there should be a better way. I didn't manage to use the `Json` class to return an array of objects.

[2017-01-30 20:23] mtornwall commented on #3920
@Mackiovello Avoid constructing JSON manually. It's tremendously error prone. For example, your code doesn't escape characters like `"` or `\n`.

Here's a working solution. Create a Starcounter JSON-By-Example file `Foo.json`:

[code]

Now, construct and return it from your handler like so:

[code]

[2017-01-31 05:35] Mackiovello commented on #3920
@mtornwall That makes a lot more sense! Thank you

@warpech Can I go ahead and implement that?

[2017-01-31 07:12] per-samuelsson commented on #3898
I'm currently doing some investigation on this. My aim is to introduce something like it, but I think I'll do it in Develop/2.4 only. That way, we can make switch from 2.3 -> 2.4 less bumpy.

Reason I'm not planning to do this in 2.3

1. Majority of users are already on 2.3 now, or are just in the progress of making the 2.2 -> 2.3 switch.
2. I want to limit number of new features in 2.3 since it's

[2017-01-31 09:07] chrhol commented on #4061
I want to take the time to rewrite parts of the serverside code when doing this. There are several hacks in place that can be removed and I found some other functionality that can be simplified when it comes to merging and handling json.

I will assign issue to me for the time being.

[2017-01-31 09:19] linkdata opened #4070 "Installation should be on the logged in user account"
Currently, if you have a non-administrator account for regular use (which is arguably good security practice) and install Starcounter, it will get installed under the administrative account you use to authenticate the install.

Meaning, the user installing SC won't get the SC icons on their desktop. And the database files end up under the administrative user (and thus not accessible).

@alemoi
Is

[2017-01-31 09:23] linkdata commented on #4070
Actually, the solution is to get the current user before requesting UAC, and only request UAC when/if we actually need it.

[2017-01-31 09:34] linkdata commented on #4070
Also a bit worrying, I get this trying to start SC in this configuration:
[code]

[2017-01-31 09:48] linkdata opened #4071 "Starcounter.Hosting missing from installation"
[code]

I think @per-samuelsson forgot to add `Starcounter.Hosting.dll` to the whitelist.

[2017-01-31 09:52] #4071 closed

[2017-01-31 09:53] linkdata commented on #4070
Added `Starcounter.Hosting.dll` to the whitelist. https://github.com/Starcounter/Starcounter/issues/4071

[2017-01-31 09:55] per-samuelsson commented on #4071
Thanks @linkdata. I'm just in the process of verifying what things I've fucked up in user experience / installation scenarios in 2.4. This was clearly one of them 😄

[2017-01-31 09:58] per-samuelsson commented on #4068
Regarding the first error its fixed with #4071.

My *guess* is that the other error happen because you haven't rebuilt your app with 2.4 installed, which is a requirement. I'll document that eventually, and we're also about to add some code verifying such cases to help the user, but it's not yet in place.

[2017-01-31 10:00] linkdata commented on #4071
Found it testing the installer as part of https://github.com/Starcounter/StarDump/issues/27
In general, having the build server produce a custom installer and testing it is a good idea when messing with DLL's.

[2017-01-31 10:04] per-samuelsson commented on #4071
Totally agree. My bad. I was just focused running personal nightlies to make sure things worked (since I knew I had rewritten quite a lot). I should of course have tested real installation scenarios before pushing too.

[2017-01-31 10:06] miyconst commented on #4071
This does not apply to the latest 2.3 version (`Starcounter-RC-2.3.0.5627 (Jan 30, 2017 12:09:53 PM)`) which works well.

[2017-01-31 10:07] linkdata commented on #4071
Thanks for testing, @miyconst

[2017-01-31 10:08] per-samuelsson commented on #4071
It should not affect that version, no. This whole new redesign in projects and hosting is in 2.4/Develop only. Which should be considered quite unstable ATM.

[2017-01-31 14:10] warpech commented on #3920
Yes, please go ahead!

I think that the URI should be changed to `/sc/partial/compositions` to make it more RESTful.

I have started a discussion on that subject here: https://github.com/StarcounterPrefabs/Guidelines/issues/9

[2017-01-31 15:10] chrhol commented on #4061
The initial changes are more or less in place I think. I've only done really limited testing, so it's not ready to be pushed.

So far I've tested it with apps: `Launcher`, `SignIn`, `Products`, `Images`, `Barcodes`. Due to the points mentioned below, I got products to work (i.e. changed hardcoded path). And I also added a second mapping from `Products`.

![products](https://cloud.githubusercontent

[2017-01-31 15:54] warpech commented on #4061
Wow, these issues popping up mean that it works as desired!

Could you please give a link here to the installer artifact?

[2017-01-31 15:56] warpech commented on #4061
Also, this will have big consequences for the stored Compositions. We need to discuss that with @tomalec.

Let's keep this on a branch until we fully prepare our libraries and apps. Thanks @chrhol!

[2017-01-31 16:03] warpech commented on #3594
This should be done now, since we already did that by replacing SessionOptions with Session.Flags: https://github.com/Starcounter/Starcounter/issues/2966

[2017-01-31 16:16] k-rus commented on #4053
This bug was fixed in 2.4 during code refactoring. See 52ce5109c13eae630aa9eb9721555f93e852c80a

[2017-01-31 17:20] chrhol commented on #4061
https://teamcity.starcounter.org/repository/download/Starcounter_DevelopDailyWindows/18544:id/Starcounter-Custom-2.4.0.852-Setup.exe

[2017-01-31 19:42] SenerDemiral commented on #4068
v2.4.0.841 is OK

[2017-01-31 22:14] warpech opened #4073 "HandlerOptions: add SkipMiddleware"
Currently, there is a `HandlerOptions` flag `SkipRequestFilter`, which causes skipping of the **request** middleware, but not the **response* middleware (see Docs: https://docs.starcounter.io/guides/network/middleware/)

In many cases, the app author would like to skip all middleware, hence the proposal to add a new flag: `SkipMiddleware`.

cc @chrhol

[2017-02-01 06:15] per-samuelsson commented on #4068
👍

[2017-02-01 06:15] #4068 closed

[2017-02-01 06:32] k-rus commented on #4053
Actually this is available in 2.3. I close the issue. If you meet this issue in 2.3. (which is unexpected), then reopen the issue.

[2017-02-01 06:32] #4053 closed

[2017-02-01 07:42] per-samuelsson opened #4074 "Have Db.Transact call ScheduleTask if not on a scheduled thread"
Background: https://github.com/Starcounter/RebelsLounge/issues/54#issuecomment-275618627. Target version: 2.4.

This thing would make unit testing story smoother and also give users a nicer experience when running transactions on spawned worker threads.

cc @bigwad @alemoi @chrhol

[2017-02-01 07:59] Mackiovello commented on #4064
I retract my statement on this. If anyone feels like this is needed, please reopen the issue

[2017-02-01 07:59] #4064 closed

[2017-02-01 08:25] #4026 closed

[2017-02-01 08:30] chrhol commented on #4021
Missed this one.

In v2.2 the check for accessing a long-running transaction on the correct scheduler was done in the kernel, and as I understand this is no longer the case for the current kernel (2.3+).

Just so I understand it correctly: it's ok for the transaction to be used from several schedulers, just not at the same time?

[2017-02-01 08:39] bigwad commented on #4021
Right.

[2017-02-01 09:04] warpech opened #4075 "Provide a triplet VS template (JSON + JSON.CS + HTML)"
Continuing the proposal from https://github.com/Starcounter/Starcounter/issues/4064#issuecomment-274908117.

We only have such Visual Studio templates right now:

1) Starcounter Typed JSON
2) Starcounter Typed JSON with Code-behind
3) Starcounter HTML template with dom-bind

I guess we could add another one:

4) Starcounter partial (Typed JSON + Code-behind + HTML template)

The problem is that th

[2017-02-01 09:45] Mackiovello commented on #4075
I like this idea. It further clarifies what a partial is while not introducing any extra magic.

Since Typed JSON with Code-behind and HTML template are almost always used together it makes a lot of intuitive sense.

[2017-02-01 10:51] chrhol commented on #4021
@dan31: is this serious enough so that we should aim to fix in 2.3 or is it enough with develop?

[2017-02-01 10:52] #4031 closed

[2017-02-01 11:13] atifwaqar opened #4076 "Newly created DB object is not accessible sometimes"
SC Version : 2.2.2.3511

We tried with 2 different logic, but the result is always same in both cases.
Code Sample 1 :
[code]

Code Sample 2 :
[code]

[2017-02-01 11:36] bigwad commented on #4076
@atifwaqar,
can you reproduce the issue with this exact sample or it's just a simplification of your real code?

[2017-02-01 12:25] atifwaqar commented on #4076
Its a bit simplified code (But im sure you can reproduce the error with this sample). The real code looks something like this :
[code]
instead of
[code]

[2017-02-01 12:40] k-rus commented on #4076
You need to select the object from the database if you want to access it in another thread. It is unsafe to provide object from one thread to another (scheduled task), thus sometimes you get error.

[2017-02-01 12:53] atifwaqar commented on #4076
@k-rus  Totally agreed. So We have tried that as well. Here is our 2nd code sample :
[code]

[2017-02-01 13:00] k-rus commented on #4076
Then I think it is not guaranteed. At least there is no such requirement in SQL standard. @bigwad can give better explanation. I don't know what is our roadmap on this (dependent tasks), may be @dan31 can clarify.

[2017-02-01 13:12] bigwad commented on #4076
I'm not sure what's wrong with the first sample, but in the second you seems to use implicit long-running transaction. Long running transactions are finally catch up with changes made inside parallel transactions, but it happens at the unspecified moments. So, I suggest you wrap your task with the explicit Db.Transact call.

[2017-02-01 13:48] atifwaqar commented on #4076
Okay, that may work, but the reason we have this `task` separated from Db.Transact is because we have some I/O operations in that task.
If I remember it correctly, HTTP requests are considered as I/O operation. And we have more than 1 HTTP requests in this task.

[2017-02-01 13:50] atifwaqar commented on #3447
@k-rus Got it. Sorry for inconvenience. :)

[2017-02-01 13:55] bigwad commented on #4076
Then instead of wrapping the entire task with Db.Transact, just wrap the database access.

[2017-02-01 14:13] k-rus commented on #4076
Such problem was reported before, but I cannot find the issue.

[2017-02-01 15:46] atifwaqar commented on #4076
This issue does not occur every time this code is ran. It occurs once or twice a week. so percentage of occurring this issue is very low.

[2017-02-01 16:06] bigwad commented on #4076
In the first sample I don't see database access inside the task, so can't even imagine what statement could fail.

[2017-02-01 16:13] k-rus commented on #4076
`ca` is a database object, which is created and assigned in the first transaction, and then accessed in the scheduled task. It is not the first time when I see this pattern in customer code. Our API does not prevent from this.

[2017-02-01 16:14] k-rus commented on #4076
cc @chrhol

[2017-02-01 16:15] bigwad commented on #4076
I don't see it being accessed. It's only a subject of comparison, but it doesn't involve db operation.

[2017-02-01 16:17] k-rus commented on #4076
Sorry, you are right.

[2017-02-01 16:21] miyconst commented on #4076
@atifwaqar could you please try this code snippet and see whether it works:

[code]

[2017-02-01 16:28] k-rus commented on #4076
@miyconst
If I understood @bigwad correctly  yor solution should fail on rare occasion as the second version of the original code. It was suggested above to cover database access with `Db.Transact`.

[2017-02-01 16:32] alemoi commented on #4013
@ivarbergman I dug into the code and have a question: do you see this behavior after a while for a certain file or its from the very first access to this file?

[2017-02-01 20:34] Mackiovello commented on #3920
Closing as the PR #4072 was merged

[2017-02-01 22:08] ubbeK commented on #3837
Any news regarding this issue?

cc @miyconst

[2017-02-02 07:51] Mackiovello commented on #3920
Reopening since I broke something and change had to be reverted

Starcounter/AdminTrack#230

[2017-02-02 10:48] bigwad opened #4077 "Consider improving GC to free all unreachable records"
Say, if we started the transaction T1 at some generation and then created and removed a record R1 at a later generation, then R1 is not reachable from T1 and can be purged (assuming no other active transactions in the system R1 is reachable from).

[2017-02-02 14:51] alemoi opened #4078 "ScErrDataManagerDisconnected on one of customer computers"
Version used: 2.3.something

Here is an excerpt from the log:
[code]

Even if these errors are presented in the log, the server/app seems to work fine, despite the errors are critical! So the question is what does ScErrDataManagerDisconnected and when can it happen?
CC @bigwad @eriohl

[2017-02-02 15:16] bigwad commented on #4078
I'd say that the most common case for this error is unexpected termination of scdata process. Probably, app works due to some watchdog script. At least this error says that something happened with the code host:
[code]

I expect crash dumps to be generated on such errors. Can we ask for them?

[2017-02-02 16:11] alemoi opened #4079 "ScErrDatabaseEngineTerminated when stopping server via TrayIcon app"
Tested in develop and 2.3 but maybe the same behavior is in 2.2.
To reproduce just stop the running server (without any apps even) via tray icon and one gets the following server log entries:
![image](https://cloud.githubusercontent.com/assets/208134/22557310/7d1049e2-e96a-11e6-8e41-aaa547910df5.png)

I am not sure what exactly happens when one clicks Stop in tray icon therefore cc @per-samuelsson

[2017-02-02 16:15] alemoi opened #4080 "Administrator Web GUI does not indicate that server has stopped"
I know that its REST based and WebSockets are not used much in there, but it would be really nice to see the connection drop in Admin GUI. I guess @andwah agrees on this and maybe has plans to fix that already :)

To reproduce just open Administrator in browser and then stop the server via tray icon app - no indication of stop is shown in the browser.

[2017-02-02 22:13] alemoi commented on #4078
Strangely no crash dumps are actually generated!

After investigation there are actually several errors types. For `ScErrDatabaseEngineTerminated` I created a separate issue. It happens just when service is running and i stop it using tray icon.

The remaining one is critical one above happens on application startup.

[2017-02-03 10:14] atifwaqar commented on #4076
@miyconst
I will try this solution on Monday.

[2017-02-04 09:18] atifwaqar opened #4081 "After Signing in User have to refresh the page."
After singing in the page does not update, and user have to refresh the page to see the logged in content.

[2017-02-06 08:33] SenerDemiral opened #4082 "Millions of records iteration."
Do I have to read all the records and assign to variable to iterate?
as:
[code]
or
Are there any alternative way like sequential read one by one?
as:
[code]

[2017-02-06 08:45] mtornwall commented on #4082
Since `QueryResultRows<T>` implements `IEnumerable<T>`, you can get an `IEnumerator<T>` using the `GetEnumerator()` method.

I doubt this would confer any particular benefits, though, as the compiled `foreach` statement is doing exactly that in the background.

[2017-02-06 08:45] k-rus commented on #4082
`foreach` in C# is a syntactical sugaring over `IEnumerable`. The result of calling `Db.SQL` is `IEnumerable`, therefore you can use `MoveNext` and `Current`. Check C# documentation as it is nothing special for Starcounter.

[2017-02-06 08:46] SenerDemiral commented on #4082
Sorry,
You are right, I mixed up Array and IEnumerable!

[2017-02-06 08:47] mtornwall commented on #4082
No problem! Do you have any further questions on this topic? Otherwise I will close the issue.

[2017-02-06 08:48] SenerDemiral commented on #4082
No question, thank you.

[2017-02-06 08:48] #4082 closed

[2017-02-06 14:41] dan31 commented on #4021
@chrhol I suggest to fix it in 2.3 too. We already know that now returning back the proper checks strikes us badly. Let's consider such fix as critical.

[2017-02-06 15:38] andwah opened #4083 "ScErrTypeBaseDeviation, removed inheritance from a class."
Using Starcounter v2.3.

It should be valid to remove the inheritance from a class.

[code]

[2017-02-06 15:57] miyconst commented on #4083
cc @k-rus, @bigwad

[2017-02-06 19:21] k-rus commented on #4083
Starting from 2.3 only adding or removing a column or removing a table is acceptable refactoring. Any more sophisticated refactoring needs to be done in application through steps of different application codes.

[2017-02-06 19:22] k-rus commented on #4083
Note that from 2.3 and above where new kernel was given completely different way of schema upgrade was implemented than in 2.2., since the kernel is different.

[2017-02-07 07:41] andwah commented on #4083
Where can i learn more about the needed steps?

[2017-02-07 08:13] per-samuelsson commented on #4081
@atifwaqar

I guess this belong to either [SignIn](https://github.com/StarcounterPrefabs/SignIn/issues) or [UserAdmin](https://github.com/StarcounterPrefabs/UserAdmin/issues) apps, right? Can you reopen issue there?

[2017-02-07 08:16] per-samuelsson commented on #3831
We abandoned this and instead went with a solution based on self-hosted apps.

[2017-02-07 08:16] #3831 closed

[2017-02-07 08:17] per-samuelsson commented on #3407
This one is done.

[2017-02-07 08:17] #3407 closed

[2017-02-07 08:17] per-samuelsson commented on #3202
Done.

[2017-02-07 08:24] atifwaqar commented on #4081
@per-samuelsson Yes you are right. My bad. I'll close this issue from here now.

[2017-02-07 08:24] #4081 closed

[2017-02-07 08:44] per-samuelsson commented on #28
No longer apply.

[2017-02-07 08:44] #28 closed

[2017-02-07 08:47] k-rus commented on #4083
Nowhere for now. You just need to design a migration algorithm where in one step you can create new tables or add new columns and move data. Then in another step you can drop data from old tables and then drop old tables. If you want to use old names, then you repeat the same two steps but in opposite direction.

[2017-02-07 08:49] warpech commented on #3202
The usage of the class was mostly removed in sample apps, but it is still present in docs and Starcounter (https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/Page.cs), so why closing as Done?

[2017-02-07 09:03] per-samuelsson commented on #3202
Well, so that we could have one less open issue I guess? 😉

I thought we decided to keep `Page` and `Partial` classes for backwards compatibility, but bump middleware as the recommended approach. I probably understood something wrong. What would you say is still needed to consider this "done"?

[2017-02-07 09:17] warpech commented on #3202
You are right, let's keep backwards compatibility for a while. But then let's obsolete `Page` and `Partial` classes.

In docs, rewrite the pages to not use the `Page` class:

- https://docs.starcounter.io/v/Develop/guides/mapping-and-blending/uri-mapping/
- https://github.com/Starcounter/Docs/tree/Develop/guides/network/using-middleware
- https://docs.starcounter.io/v/Develop/guides/puppet-web-app

[2017-02-07 09:37] Mackiovello commented on #3202
Fixed in [8300a](https://github.com/Starcounter/Docs/commit/8300a5c4424549b8dd4562d15b816902cb278da0) on all branches except 2.1.177 for the pages that are in the docs. The using-middleware page is not updated because it's obsolete.

[2017-02-07 09:54] warpech commented on #3202
[code]

^ This is kind of a mental shortcut, because Json class does not have a Html property unless you explicitly declare it in a derived class.

Me and @tomalec started thinking about removing the term "partial" from our docs completely: https://github.com/Starcounter/TechComm/issues/286

[2017-02-07 13:38] per-samuelsson commented on #3898
Having some problem implementing this in a satisfying way.

If it should be based on a version number emitted by the weaver, we must fail to load an assembly into the host if they are not semantically compatible. Problem is that for the case 2.3 -> 2.4, assemblies coming from 2.3 that have not be recompiled, will *neither be weaved*, because of our redesign in 2.4, [replacing build-time with build

[2017-02-07 14:59] chrhol commented on #4021
I think I'm quite finished with the needed changes. I'm currently waiting for a personal nightly build to succeed before pushing.

How it works is that if you're trying to use a (long-running) transaction from more than one thread at the same time, any additional calls to `Scope` for the same transaction will throw an exception (`ScErrTransactionAlreadyBound`)

To make this work I had to change ho

[2017-02-07 16:29] per-samuelsson commented on #3898
I just noticed that the assembly version is never automatically assigned to our assemblies, so `Starcounter.dll` will always have 2.0, no matter if you are running 2.2, 2.3 or 2.4, which makes above approach fail.

I guess we might as well change that though, so that we have same static version number approach, but where 2.3 and 2.4 get their respective major.minor specified.

[2017-02-07 16:53] andan342 commented on #2027
It was actually part of this merge commit `23bd0c0` to **develop**, done later on that day: Jan 16 22:23.

The original commit is `e526895` to branch **grammar4**, done on Jan 11 17:18.

A test case was added in commit `c204464` on Jan 16 14:07.

So my previous comment here was ahead of the actual merge to **develop** - my fault.

@k-rus: please confirm there's no problem now.

[2017-02-07 17:24] per-samuelsson commented on #3898
That was pretty naive. Apps are already depending on 2.0.0.0 with that specific version, so it would break quite a lot. Need another strategy for this to work.

[2017-02-07 17:36] chrhol commented on #4021
Pushed to RC and develop now. I will add a note in the documentation for this change before closing the issue.

[2017-02-07 18:00] chrhol commented on #4021
Doc for long-running transaction is updated (RC and develop branches).

[2017-02-07 18:22] #4050 closed

[2017-02-08 07:08] k-rus commented on #2027
I don't see any new test covering the above syntax fix, i.e., using IN inside argument expression of a function. I cannot confirm that the test cases are added. Can you double check and clarify? Preferably add the test cases.

[2017-02-08 11:29] chrhol commented on #2966
I have (finally) updated the relevant sections with my missing changes. Will close this for real now! 😸

[2017-02-08 11:29] #2966 closed

[2017-02-08 15:21] malx122 opened #4084 "Refactoring by unload/reload"
Hi!
As discussed over hangout I add an example on a type of refactoring I would like to be able to do in SC 2.3
The method I hoping to use is:
1. unload the db with StarDump and apps with the old db structure.
2. Modify sqllite3 file
3. reload into an empy db
4. start apps with new db structure

So the help I want is what modifications I need to do in step 2.

Example:
Old structure
[code]
New str

[2017-02-08 15:25] malx122 commented on #4084
We also have a lot of properties like this:
[code]
And since fields are being removed further along It would be could if that can be fixed as well at the same time.

[2017-02-08 16:01] k-rus commented on #4084
I cannot answer the direct question of using StarDump for this. But I can describe how it can be done with Starcounter.

In old Starcounter installation:

1. Create the new schema with tables `D` and `E`
2. Create an app which reads data from the old schema and creates data in the new schema.
3. Delete the data and indexes for the old schema.
4. Stop the app
5. Remove old classes
6. Start the app,

[2017-02-08 18:35] miyconst commented on #4084
@malx122

Old structure
...
New structure

The example you show above is very simple since it does not involve any changes, only drop old tables, create new tables.

In this case the migration process is fairly simple:

1. Unload database into SQLite.
2. Create the tables `D` and `E`.
3. Fill the tables with data.
4. Insert meta information about the new tables into `Starcounter.Metadata.Table` an

[2017-02-08 18:40] miyconst commented on #4084
This is even simpler. In the SQLite dump you will find only `_status` column. Which you can easily rename to `Status` and reload the dump.

**Notes:**

1. SQLite does not support column renaming, it should be done through create new and drop old column.
2. The metadata information in the `Starcounter.Metadata.Column` should also be updated.

[2017-02-08 18:40] miyconst commented on #4084
@k-rus

Since when the `DROP TABLE` statement is supported?

[2017-02-08 21:37] malx122 commented on #4084
I would say that the biggest problem we have is that this is not 1 or 2 tables we want to refactor. We are talking 100 maybe 150 tables so the manual job needs to be minimum. We need to be able to create scripts that "renames" all classes with names of type "C":s into classes with names of type "D":s (change namespace) and change the base class for every class. Upon that there is some manual renam

[2017-02-08 22:01] miyconst commented on #4084
@malx122 this should not be difficult.

For example renaming all `Simplified.*` tables into `Custom.*`

**Generate SQL to rename all the tables**

**Note:** the execution result of this query should be executed.

[code]

**Update metadata information**

[code]

[2017-02-09 07:47] warpech commented on #3937
@per-samuelsson you a right, this is an unrelated warning...

So yes, this is a crash that is caused by the handler `/Website` in the Website app. It happens also when you visit the URI directly, not from Administrator.

Visual Studio shows me that calling the handler throws:

[code]

The above exception is not registered in the error log.

After that, all running applications stop.

@diliger can

[2017-02-09 09:48] k-rus commented on #4084
The test of it is available in 2.2. So it is available since 2.2.

Some info about metadata can be found at http://stackoverflow.com/a/39490683/840340

You can automate quite a lot by using metadata either through SQL lite or Starcounter. StarDump does some cleaning of data, which you will need to do yourself if you use Starcounter for migration directly.

[2017-02-09 09:48] chrhol opened #4085 "Detect infinite loops in XSON to avoid stack overflows."
There are some places in Starcounter.XSON that might end up in an infinite loop which will lead to stackoverflow caused by the following:

- a json is connected to a parent (somewhere in the tree) that is a child of the json.
- a merge where one sibling is a parent (somewhere in the tree) to the other sibling

This cases should be detected and handled instead of ending up in a stackoverflow. Hopef

[2017-02-09 10:19] miyconst opened #4086 "Typo in the error message: Operation failed be because input does not match schema."
@alemoi could you please fix this typo?

[2017-02-09 13:55] bigwad opened #4087 "Clean build fails"
Clean build of Level1 fails on project Starcounter.Extensions.Tests with:
`
The "Starcounter.Weaver.MsBuild.Weave" task could not be loaded from the assembly C:\projects\starcounter\pnext\level1\src\Starcounter.MsBuild\..\..\bin\Release\Starcounter.Weaver.dll. Could not load file or assembly 'file:///C:\projects\starcounter\pnext\level1\bin\Release\Starcounter.Weaver.dll' or one of its dependencie

[2017-02-09 14:15] per-samuelsson commented on #4087
AdminTrack maybe?

I'll see if I can spot it. Clean, then Build solution, right?

[2017-02-09 14:22] bigwad commented on #4087
I'm always unsure on this matter. Level1.sln is in this repo, hence is the issue. I can move it though.

I removed the entire output directory then built.

[2017-02-09 14:27] per-samuelsson commented on #4087
Yeah, it's not crystal clear. If we wouldn't depend on VPN so users actually could build it, I'd say it would belong here for sure. Anyway, leave it here for now.

I'll see what I can find.

[2017-02-09 14:34] per-samuelsson commented on #4087
I get an error two, same project, but slightly different:

Investigating.

[2017-02-09 14:38] per-samuelsson commented on #4087
Bah, think I know what's wrong. Again stupid dependency of this `StarcounterBin` variable. I thought I had fixed that everywhere. 😢

[code]

Anyway, setting StarcounterBin pointing to output directory should work until I have fixed it.

[2017-02-09 16:40] alemoi commented on #4086
Sure! Right after I push blending.

[2017-02-09 16:53] per-samuelsson commented on #4087
I found now where I had fixed it, described [here](https://github.com/Starcounter/AdminTrack/issues/223#issuecomment-275775070). Seem there is still some flaw in that approach though. I need to consider it more.

[2017-02-09 18:25] warpech opened #4088 "Upgrade to Polymer 1.8 and WebComponents.js 0.7.24"
I propose to do this in Starcounter 2.3 (RC) and 2.4 (develop)

@alshakero could you please test HelloWorld and KitchenSink with Polymer 1.8 and WebComponents.js 0.7.24?

Instructions how to do it are at the bottom of https://github.com/Starcounter/RebelsLounge/blob/master/platform/client-side_libraries.md#local-testing

[2017-02-09 18:27] alshakero commented on #4088
On it.

[2017-02-09 18:27] per-samuelsson commented on #4087
@bigwad

As for my problem, I found the cause. It was due to me having StarcounterBin set to a 2.3 installation on my machine, causing resolving of the `Starcounter.Weaver` assembly to that, despite the path pointed to output folder. Not still sure why.

Two questions:

1. When you experience the problem, did you have StarcounterBin set, and if so, to what?
2. You have pulled latest bits, right? I

[2017-02-09 18:31] warpech commented on #4088
cc @tomalec

[2017-02-09 23:11] dan31 commented on #3902
Thank you @andwah!

[2017-02-10 07:30] Mackiovello commented on #3804
I hit this one again today cc @alemoi

[2017-02-10 07:59] bigwad commented on #4087
To the output folder. It fails worse if it points to 2.2 binaries.

I'm working with the latest develop and Starcounter.Extensions.Tests doesn't depend on Starcounter.Weaver.

[2017-02-10 08:07] per-samuelsson commented on #4087
That is weird, and I noticed I don't either. Let me again look over this.

[2017-02-10 09:20] per-samuelsson commented on #4087
@bigwad

I've now made a few tweaks that I think should get you pass this. Can you please try again?

However, it does *not* solve weirdness experienced when building Level1 with StarcounterBin set pointing to some other installation (like 2.3, 2.2). To be honest, I can't see how that can be solved in any other way than what I have proposed before: we move out all application-like code from Level1

[2017-02-10 09:51] bigwad commented on #4087
@per-samuelsson,

No, it didn't help. And it didn't help to https://github.com/Starcounter/AdminTrack/issues/236 either, which I consider as a more severe issue than this one.

[2017-02-10 10:02] per-samuelsson commented on #4087
😢 You still experience the error that says `Starcounter.Weaver.dll` was not found?

I'm taking that one after this. I can just do one at a time.

[2017-02-10 10:05] bigwad commented on #4087
Yes, but it just for the very first build. It's not that critical.
And I still don't see Starcounter.Extensions.Tests being dependent on Starcounter.Weaver. Did you try to achieve it with your latest commit?

[2017-02-10 10:14] per-samuelsson commented on #4087
Yes, but via Starcounter.MsBuild, which seemed like the most correct thing to do.

[2017-02-10 10:20] Mackiovello opened #4089 "Unhelpful weaver error when using arrays in database classes"
When running code such as this:

[code]

The following weaver error is displayed:
![weavererror](https://cloud.githubusercontent.com/assets/19392292/22823010/2f67ebf0-ef82-11e6-90e3-f8a24c90a184.PNG)

And the log displays this:
[code]

They are not very helpful in finding out what's wrong. The only really useful thing for me here is `Cannot find the method DbState.ReadArray`. It's also not clearly

[2017-02-10 10:42] per-samuelsson commented on #4089
Well certainly. It just involves some work, because error propagation is still somewhat of a pain.

[2017-02-10 10:46] per-samuelsson commented on #4087
This is now down to occasional. I never have seen it, and @bigwad experience it from time to time on his supermachine. I vote we close it, to grab some more urgent tasks. Reopen if you think that's wrong @bigwad.

[2017-02-10 10:46] #4087 closed

[2017-02-10 12:23] alemoi commented on #3804
@miyconst sorry for pointing at you, but is it your Cookie class code?

[2017-02-10 12:30] miyconst commented on #3804
No, this is not "my" code, means I didn't write it. I took it from online sources. And from the cookie point of view it should throw an exception same as `int.Parse` should throw an exception if a string provided.

The host responsibility is to make sure that the exception is caught and properly resolved.

[2017-02-10 12:56] alemoi commented on #3804
User code should do it in this case?

[2017-02-10 13:02] miyconst commented on #3804
Yes. And in our case user code is Starcounter code.

[2017-02-10 13:08] alemoi commented on #3804
I thought that `Cookie` should ignore the wrong cookie and proceed with processing of other cookies. I don't know how its implemented underneath, but thought that if it would throw an exception, then proceeding with other cookies is not possible.

[2017-02-10 13:10] miyconst commented on #3804
I think we should treat such request as no cookies and send a header to clear cookies to browser. If that is possible.

[2017-02-10 13:13] alemoi commented on #3804
That would work, if I see any exception caught, I will return null. But again, after I push new blending stuff.

[2017-02-10 17:17] andan342 commented on #1238
In the following comments, I will refer to the problematic queries in order of their appearance in **src/tests/sqlparser_unittest/queries.hpp** file.

[2017-02-10 17:28] andan342 commented on #1238
**1.**
[code]

The problem was with a missing rule action, when an index hint option clause is the only one used among the optional clauses to SELECT queries. (Other optional clauses are for sorting, locking, limit/offset and WITH / WITH RECURSIVE).

Also, it turned out that some fields of `Node` subclasses were added without proper reflection in `::copy()` and `::out()` methods. This included the

[2017-02-10 18:00] andan342 commented on #1238
**(6)** unclear:
the query is specified as a string `"select \u0066"`, which corresponds to an SQL query
[code]
which is OK, since it selects a valid identifier. If my guess is right, and there's a typo, the query
[code]
is invalid, since SQL does not support selecting characters, and also using escapes `\` outside a string. The correct query would be
[code]
which selects a string literal. Unicode

[2017-02-10 18:10] andan342 commented on #1238
(2): unclear:
[code]
appears to be a valid query. Generics can be part of type names.

Maybe, the idea is to disable casting to generic types?

[2017-02-10 18:39] andan342 commented on #1238
**(3-5)** suggestion:
[code]
In all these cases, the generics in `<>` are assigned to the function call, with function name being `typ` or `a`.

Our current SQL grammar allows calling functions with empty argument lists, while specifying no parentheses. However, I could not find this option mentioned in any official docs:

-  **PostgreSQL** [Calling Functions](https://www.postgresql.org/docs/9.1/s

[2017-02-10 22:15] andan342 commented on #1238
**(7-8)** fixed:
[code]

As I understand, the idea was to validate if the *bit string* and *hex string* literals are correct.

This check is now in place, and errors are returned for these queries, referring to the whole `B'010A010'` or `X'FID13A'` token.

[2017-02-10 22:16] andan342 commented on #1238
**(9)** unclear:
[code]

I can see nothing wrong with this query, from the perspective of Starcouter SQL.

In a standard SQL it would be strange to compare table aliases `u1` and `u2` for non-equality. However, in our object-oriented setting this should be perfectly fine.

It is also quite strange that the query is commented out. It should have been problematic before the #1361 fix, since `user` w

[2017-02-11 19:56] dan31 commented on #4087
This public repo is meant mainly for the customer's eyes - questions, bug reports and so on, we use it as our work items tracker only historically. There have been times when, literally, a broken lightbulb in the projector was discussed on that tracker too. Customers have no interest to know about our failing builds, dust in a server or a broken lightbulb - hence ```AdminTrack```. In the future, t

[2017-02-12 01:07] dan31 commented on #4013
Ping @alemoi @ivarbergman

[2017-02-13 09:43] careri opened #4090 "ScErrThreadNotAttached in Db.Transact"
Hey!
Starcounter-RC-2.3.0.5501 (12 jan 2017 02:01:14)

Got this strange error reading a database field from in an attached thread. At least it should be attached:
![image](https://cloud.githubusercontent.com/assets/4263597/22878081/92a0209a-f1d8-11e6-8386-0fc59a617532.png)

I don't have a session, but ThreadData.Current in the image above seems to indicate that I'm attached.
I just remembered aski

[2017-02-13 09:48] careri commented on #4090
I'm using:
[code]

Is that the problem, maybe I need to switch to Scheduling.ScheduleTask?

[2017-02-13 09:50] k-rus commented on #1238
These methods were not maintained. Now they are, but we have tech debts in their design, so it is easy to miss fixing them according to changes.

The query originates from C# code, where C# translates it into single letter identifier (see line 176 in SqlProcessorTest.cs of Level1). Here the test was disabled during migration to C++. The actual call to native parser was `select f`. Thus the test sh

[2017-02-13 10:22] bigwad commented on #4090
Indeed, looks strange. Is it reproducible?

[2017-02-13 10:31] careri commented on #4090
Thinking it might be debugger related, an evaluation of a field in the local/watch view fails and messes up the session.
I don't get any good logs though

[2017-02-13 11:04] miyconst commented on #4090
I had a similar situation when calling async delay in handler wrapped with a long running transaction.

[code]

[2017-02-13 11:17] #3902 closed

[2017-02-13 11:18] mmnosek opened #4091 "Weird 404 page in web admin"
I've entered a wrong URI on Starcounter Web Admin (port 8181 by default) and scary image appeared :)

![404](https://cloud.githubusercontent.com/assets/4943949/22881258/fd2a6cb0-f1e5-11e6-831e-3eb7d50fadeb.jpg)

It does not look super-nice IMO, also response status is `200` instead of `404` that is suitable in that case. My proposal is to:
* Change returned status code from 200 to 404
* Replace th

[2017-02-13 11:59] miyconst commented on #4091
For me the page looks nice and funny :), still I do agree it should be `404` status code.

[2017-02-13 12:34] mmnosek commented on #4091
I don't insist on changing image if we decide that current one is fine :)

[2017-02-13 12:38] alshakero commented on #4088
Tested HelloWorld and KitchenSink and they work perfectly with:
[code]

[2017-02-13 14:38] chrhol commented on #3712
bump

@mattiasmak came across this one today. Quite hard to understand without debugging why no database classes are loaded.

Tested in starcounter version 2.3.0.5662

[2017-02-13 16:34] k-rus commented on #2295
Seems to be fixed

[2017-02-13 16:34] #2295 closed

[2017-02-14 11:48] bigwad commented on #3945
@chrhol, I've just realized, that in 2.2 we didn't have all those Db.Transact overloads, so no reason to keep them. Can be wiped out. Right?

PS.
Obsoleting is still appropriate for Db.Scope

[2017-02-14 12:23] chrhol commented on #3945
I think we had them in 2.2 as well unfortunately. But they are obsoleted in 2.3 so maybe we can start removing obsoleted overloads in 2.4 to make it more in line with 3.x version?

How long do you usually keep obsoleted items?

[2017-02-14 12:30] bigwad commented on #3945
In 2.2 we had similar ones with the `forceSnaphot` parameter. You already removed them.

[2017-02-14 12:35] chrhol commented on #3945
I removed the optional parameter (that no one ever used) not the overloads themselves. In hindsight I should have made them obsolete, but this was quite some time ago.

[2017-02-14 12:42] bigwad commented on #3945
Doing so you effectively removed some overloads and created unrelated instead :smile:
And I marked those new overloads as obsolete. It just doesn't make sense to create a new method and immediately mark it as obsolete. That's why I want to remove them.

As to putting back old overloads with forceSnapshot and marking them obsolete - it concerns binary compatibility and we may discuss it in other th

[2017-02-14 12:56] chrhol commented on #3945
But it still only required a recompile in 2.3 to work, no changes in the code.

Yes, and the conclusion is that we are not binary compatible and that we probably aren't mature enough in the product to enforce binary compatibility between major releases. But between 2.2 and 2.3 we're still API compatible. Even with me removing the parameter, since no customers at that time (or ever) used this optio

[2017-02-14 13:02] bigwad commented on #3945
Except getting warnings, that quite possible will lead to errors in case of enabled "warning as errors". but I admit, this is more friendly.

Let's wait for @dan31 response in that thread.

[2017-02-14 13:02] #3945 closed

[2017-02-14 15:33] per-samuelsson commented on #3945
This will simplify for #4074 too I guess. Which is good.

And guys, don't feel shy to jump on that and get it done while you are already at it! 😉 🚶 ✋

[2017-02-14 20:44] andan342 commented on #1238
**(3-5)** fixed:

Even though `TypeName` node was generated for `typ<typ2>`, and `a<b>` / `a<b,c>`, the rule was among the rules for function calls. This rule is now removed, which made some other queris in the unit test (**queries.hpp**) invalid:

[code]

These queries are not tested for "incorrect syntax" exception. The changes are in **1238** branch

@k-rus : please confirm that there was no in

[2017-02-14 20:45] andan342 commented on #1238
**(2), (6), (9)** test updated:

Queries (2) and (9) are re-enabled in the test. Query (6) is removed.

[2017-02-14 22:10] chrhol commented on #4021
Reopening this issue since it seems I introduced some nasty bugs with these changes that I haven't been succesful in fixing. I have reverted the changes for now in both `v2.3` and `develop` branches.

[2017-02-14 22:12] andan342 commented on #3716
In the new parser, both mentioned queries
[code]
are parsed correctly - there should be no syntax problem since the #2081fix - i.e. August 2014.

So I guess the problems reported here correspond to the Prolog-based parser.

[2017-02-15 08:25] miyconst commented on #4083
@andwah you can use StarDump tool for this purpose. Please read this [Pull Request](https://github.com/Starcounter/Docs/pull/9) from @Mackiovello, it has some description and information, not finished though.

[2017-02-15 09:07] andwah commented on #4083
@miyconst Mayby stardump can be used. but it's easier just to create a new database and go from there.

If the inheritance is removed the app wont start any longer and you are stuck.

I just think the workaround it's too complicated for the common developer.

[2017-02-15 09:12] miyconst commented on #4083
Agree, but this is the only way to keep the old data 😢.

[2017-02-15 09:26] dan31 commented on #4083
Guys, we took a deliberate decision to remove the magic from automated model upgrade, and kept only 6 transformations: add/remove property/class/field. For the rest, migration tool is meant to be used. Is that true that now what we want to say is that our users want to have this magic back?

[2017-02-15 09:26] andwah commented on #4083
**The main issue i have with this is that the developer will come to a dead end and not know what to do.**

He will get the exception and it basically states what he already knows. He did remove the inheritance.

Maybe a more informative message?, What went wrong, and what can we do about it?

[2017-02-15 09:36] miyconst commented on #4083
I was not involved in this discussion and decision. I would disagree otherwise.

[2017-02-15 09:42] dan31 commented on #4083
This discussion is spread across multiple issues and also brought regularly on release meetings. We have also made a document with a help of @per-samuelsson and @Mackiovello which explains that only those 6 migrations are now supported. So, I guess, we are already very explicit there. You work with 2.3 and it only supports that 6 migrations. If you have a strong feeling we should reconsider, pleas

[2017-02-15 10:39] miyconst opened #4092 "ScErrUnexpMetadata (SCERR7035): Table Palma.ComputedN2Property: kernel reports SCERRCOLUMNNAMENOTUNIQUE"
The database schema was changed, and two columns from `Palma.ComputedN2Property` class where moved to it's parent `Palma.ComputedNProperty` class.

Starting app produces the following error:

[code]

I know and understand how that happened, but technically this operation is just "add" columns to parent class and "remove" columns from the child class, which we claim to support.

Even if we can't im

[2017-02-15 10:39] miyconst commented on #4092
Related - [ScErrTypeBaseDeviation, removed inheritance from a class.](https://github.com/Starcounter/Starcounter/issues/4083).

[2017-02-15 15:22] chrhol commented on #2720
Changes are pushed to develop branch. All properties for single values are obsoleted and the new ones are added to the extension (in `Starcounter.Advanced.XSON` namespace).

Documentation have been updated for the develop branch on docs.starcounter.io (https://docs.starcounter.io/v/Develop/guides/typed-json/primitive-arrays-and-single-value-types/)

Considering this issue solved and will close it.

[2017-02-15 15:22] #2720 closed

[2017-02-16 06:52] k-rus commented on #1238
To make final decision it is necessary to check the specification of C++ standard and C# standard. @andan342 Can you look at them?

[2017-02-16 09:01] chrhol commented on #4013
This also happened for heads a couple of times in 2.3 (unsure about the exact version). Still no consistent way to reproduce it though.

cc @IdieHeads

[2017-02-16 09:05] k-rus commented on #1989
It is already fixed.

[2017-02-16 09:05] #1989 closed

[2017-02-16 09:22] k-rus commented on #4083
I think the error message OP can be easily understood that the base class was removed.

Automating this case has two problems: how to understand what developer wants (e.g., accepting data lost), and how to implement as it is trade off between memory footprint and execution time.

[2017-02-16 09:42] k-rus commented on #4083
I think it is incorrect that we support remove of property or class. We allow not to provide a property or a class, but we do not remove them.

[2017-02-16 09:43] andwah commented on #4083
Well.. but the error does not tell why there is an error or what to do about it. it just confirms what the developer already knows.

By this we will teach or users NOT to remove the inheritance from classes or even that it's not possible. If you do you get exception and will not be able to start your app any longer.

[2017-02-16 09:46] k-rus commented on #4083
Normally error message does not tell how to resolve it. Usually there are several ways to resolve a problem, which depends on the developer need. If I don't mistake, it was the purpose of error web pages, which we don't utilise.

[2017-02-16 09:56] k-rus commented on #4092
Actually we don't support removing columns. We support not specifying properties, which leads to the above problem.

I see two solutions for this issue:

1. Drop support for undefined properties.
2. Improve error message that the column is already defined in a table.

[2017-02-16 09:59] per-samuelsson commented on #4083
Then I think its incorrect to call it incorrect. From the viewpoint of the developer, I would swear on that if you ask them "does Starcounter support removing a class", they would answer "yes".

That we currently provide no way of trimming/vacuuming is something else.

I agree. I think we should not make any effort to support additional automatic migrations except for the 6 simple ones we have tod

[2017-02-16 10:06] miyconst commented on #4092
This at least has to be implemented.

[2017-02-16 10:27] per-samuelsson commented on #4083
[A proposal on how](https://github.com/Starcounter/TechComm/issues/253#issuecomment-280292478).

[2017-02-16 10:37] alemoi commented on #4013
For me the main question is:  do you see this behavior after a while for a certain file or its from the very first access to this file?

[2017-02-16 10:45] IdieHeads commented on #4013
This behavior occurs after a while. I has only happened for a certain file so far.

[2017-02-16 11:11] andan342 commented on #1238
**C# Reference** is available for download here: https://www.microsoft.com/en-us/download/confirmation.aspx?id=7029

Sections 3.8 and  7.6.4 define that constructs like `a.b<c>` are allowed, but the interpretation is limited to the following:
- if `a` is a namespace, and `b<c>` is a generic class defined there, the expression is type-valued.
- if `a` is a variable bound to a class instance, and th

[2017-02-16 11:57] andan342 commented on #1238
**C++ Standard** working draft is available here:
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n4296.pdf

Section 5.2.5 defines class member access of the form `E1.E2` or `E1->E2`, where `E2` is an *id-expression*, which can be a *template-id*, for example, `b<c>`.

If `E2` is a data member, the result is *lvalue*, otherwise, if `E2` is a function member the expression `E1.E2` is method

[2017-02-16 12:09] careri commented on #4090
Got it again, this time the sccode.exe crasched.
[code]

I was stepping in the debugger, might be that I paused the thread to long in the debugger?

[2017-02-16 12:39] andan342 commented on #1238
A simple check with VS2015 shows that it is impossible to declare a C++ class with a data member named like `b<c>`, only a function member.

[2017-02-16 13:00] erikvk opened #4093 "Self calls and HandlerStatus.Handled"
When sending Self calls to a handler that sends responses using request.SendResponse() and returns HandlerStatus.Handled, the returned response from the Self calls seem to contain no data (running on Starcounter 2.2.2.3917). Statuscode is 0 and StatusDescription throws a null reference exception, even though the handler returns data correctly.

When changing the configuration of the handler to ret

[2017-02-16 13:45] k-rus commented on #1238
However, we have properties, which are more like functions, but without arguments and parentheses. So it feels like we should continue support generics in the path for both functions and non-functions, so that we don't close the door for future implementations.

Is it feasible?

[2017-02-16 13:51] andan342 commented on #1238
It is.

This would revert the fix for (3-5), and make those queries valid again.

However, I'm curious what might be the semantics of supplying generics with a property dereference?
One cannot use it to provide the desired value type, since the property types are defined at compile time, thus calling `cheese.expires<Date>`  or `cheese.expires<String>` is not the right use.

[2017-02-16 14:38] k-rus commented on #1238
It is the same semantics as method with generics without arguments. It is not supported in C# now, but I don't know if it will be or not relevant in future. So I prefer keep the syntax and not use it, instead facing of reintroducing the syntax in future.

Post if you see already issues in syntax support for properties with generics.

[2017-02-16 14:56] k-rus commented on #4092
Thanks for the feedback.

We will look at it.

@alexanderstc
I would expect to get unhandled exception here, since it is reported as internal metadata. But now we have request to actually fix the error message something like:

[2017-02-16 14:58] k-rus commented on #4092
I guess the fix should be done for 2.4. Let me know if it should be done for 2.3.

[2017-02-16 15:24] miyconst commented on #4092
It would be nice to see it in 2.3, since this limitation was introduced in 2.3 and this is what our customers will see quite soon.

[2017-02-16 16:48] andan342 commented on #1238
The problem with queries (2) and (9) is that the error "Error: memory state is different" is thrown during the **sqlparser_unittest**

@k-rus : what was the purpose of this check?

[2017-02-17 07:13] k-rus commented on #4092
@dan31
2.3 is planned to release on Monday. Is it good idea to do any fixes now?

[2017-02-17 08:07] alexanderstc commented on #4092
It's implemented and unittested for star_alter_table_add_columns() long time ago.
Any other metalayer call needs fixing?
Could you provide a reproducible branch?

[2017-02-17 08:08] k-rus commented on #1238
This means that your code is leaking. Can you give a link to the commit? I hope it is not merged to develop.

[2017-02-17 08:09] alexanderstc commented on #4092
Maybe it's https://git.starcounter.org/BlueStar/level0/issues/60

[2017-02-17 08:09] alexanderstc commented on #4092
But that one is closed.

[2017-02-17 08:12] k-rus commented on #4092
No, it is different case. Here the column is presented in child layout, not in parent layout.

@dan31 suggests that the fix should go into 2.3.

[2017-02-17 09:09] andan342 commented on #1238
It's in the branch **1238**. I just re-enabled these queries in the test.

I guess the leak was discovered long time ago - can't think of any other reason why these two queries were commented out.

[2017-02-17 09:14] andan342 commented on #1238
regarding (3-5)

No issues, except that in any expression like `a.b<c>`, `b<c>` needs to be stored as a `TypeName` node, since we do not know at parse time whether `a` is a variable or a namespace.

However, we can rename `TypeName` to something like `TypeNameOrGenericProperty`, or something shorter...

How confident we are about the generic properties? @dan31 ?

[2017-02-17 09:25] andan342 commented on #1238
regarding (3-5)

If we do not have any type-valued expressions, then expressions and types might be syntactically separated.

If you think it's worth the effort, I can check and see if that's the case, and we can tell a *type name* from a *generic property* by their place in a query.

[2017-02-17 09:36] warpech commented on #4088
Thanks. I will upgrade the Polymer version in Starcounter 2.3 and 2.4

[2017-02-17 10:19] andwah commented on #4088
@warpech Will that solve https://github.com/Juicy/juicy-jsoneditor/issues/12

[2017-02-17 10:23] warpech commented on #4088
No, because https://github.com/Starcounter/starcounter-debug-aid/issues/38 is not fixed.

[2017-02-17 12:34] bigwad opened #4094 "Get rid of usage of obsolete kernel API in Level1"
All with _OLD suffix

[2017-02-17 12:44] k-rus commented on #1238
Can you create a separate issue about it in our repo?

The only place for types in expression that I can think of is casting.

Of course, it will be nice to fix that the node is meaningful, i.e., it is not a `TypeName` if it is not a type name. On the other side, I understand that grammar is complex and is not very flexible. We don't want to hack the current design of the grammar. So if it is poss

[2017-02-17 12:51] warpech commented on #3743
The problem is still reproducible when upgrading from yesterday's RC to today's RC using the instructions from https://github.com/Starcounter/Starcounter/issues/3743#issuecomment-270164216

![2017-02-17 13_50_47-starcounter installation](https://cloud.githubusercontent.com/assets/566463/23065903/1f771a40-f518-11e6-9e4d-720638ddff30.png)

[2017-02-17 13:17] alexanderstc commented on #4092
Reproduced.

[2017-02-17 13:21] warpech commented on #4088
TeamCity tests passed ok, merging to 2.3 and develop.

Thank you @alshakero for your tests.

[2017-02-17 13:22] warpech commented on #4088
Closing as done

[2017-02-17 13:22] #4088 closed

[2017-02-17 13:39] andan342 commented on #1238
regarding (2) and (9)

Just did - issue [#194](https://git.starcounter.org/BlueStar/level0/issues/194). It turned out that no memory leak is detected - just a misleading error message when the syntax test fails.

(the queries were expected to be wrong, where as they are valid)

[2017-02-17 15:36] iliassays opened #4095 "Cors Issue"
How can we enable CORS for calling handler. I want it for both global and handler level.

[2017-02-17 15:39] miyconst commented on #4095
You should use `Handle.AddOutgoingHeader` to add response headers in order to setup CORS.

[2017-02-17 15:55] andan342 commented on #1238
regarding (3-5)

I have re-enabled the syntax of these queries, so now they are valid.

An expression `a.b<c>`, is now represented as a list (see [#188](https://git.starcounter.org/BlueStar/level0/issues/188)) of an `Ident` node for `a` and an `IdentWithGenerics` node for `b<c>`, so the `TypeName` is not used in this case.

In contrast, an expression `CAST(a AS b.c<d>)` is parsed to a `TypeCast` n

[2017-02-17 16:51] alexanderstc commented on #4092
Fixed, waiting for git.starcounter.org to commit.

[2017-02-17 18:39] alexanderstc commented on #4092
@dan31 fixed my vpn, proceeding with committing and running buildserver tests.

[2017-02-17 19:02] alexanderstc commented on #4092
Pushed a fix (a proper error message) to v2.3 and develop.
Closing for now, will keep an eye on extended and nightly builds.

[2017-02-17 19:02] #4092 closed

[2017-02-18 14:21] andan342 commented on #1238
All the changes described above are merged to **develop**.

Tests in **queries.hpp** are updated. This issue is ready to be closed.

[2017-02-18 16:57] dan31 commented on #3843
On Monday @andwah is on it. Thanks @warpech for additional attention.

[2017-02-18 16:57] dan31 commented on #3743
On Monday @andwah is on it. Thanks @warpech for additional attention.

[2017-02-20 08:52] #1238 closed

[2017-02-20 09:24] chrhol commented on #4085
I got stuck on other issues, and still haven't found the time to finish this one. I will remove the high prio on it I think.

[2017-02-20 11:32] mtornwall commented on #4085
Can this actually occur absent developer error?

[2017-02-20 11:38] chrhol commented on #4085
No, I don't think so. All cases when it's happened it's been an mistake or error from the app developer. The problem is that it's so hard to track down when it happens and take a lot of time to find.

[2017-02-20 12:34] erikvk opened #4096 "Performance issues on 2.3"
I tried upgrading to 2.3 today, but noticed that my code is running way slower than on 2.2. I wonder if its something wrong with my codebase or the Starcounter version.

The two images below show the performance issue, measured in milliseconds. On 2.2 (lower) my code usually takes less than 1 millisecond. The code does:

1. Parse some JSON
2. Write to the log
3. Get some database objects (bids)
4.

[2017-02-20 12:36] erikvk commented on #4096
I tried 2.3.0.5701, 2.3.0.5705 and 2.3.0.5726 – all with the same results.

[2017-02-20 12:50] k-rus commented on #4096
cc @chrhol

Can it be due to the changes that transactions are asynchronous behind, which requires to adopt application code to perform better?

[2017-02-20 12:50] dan31 commented on #4096
@erikvk this is most likely due to an improvement in durability in 2.3, which might require to adopt code which employs certain patterns.
@bigwad please have a look.

[2017-02-20 13:04] k-rus commented on #2027
I read the above again. Do I understand correctly that `f(x IN y)` is not allowed, but `f(x IN (y))` is allowed?

[2017-02-20 13:06] k-rus commented on #2027
I think it is more like rhetoric question. The answer to question is yes. Let me know if not.

Then we will follow SQL server and C# way, where the first argument is what and the second is where, i.e., like now but `,` is instead of `IN`.

[2017-02-20 13:07] k-rus commented on #2027
I think the issue can be closed.

[2017-02-20 13:07] #2027 closed

[2017-02-20 13:11] bigwad commented on #4096
@erikvk, do you have any write transactions in the execution path you measure?

If so, please checkout about changes we made to Db.Transact:
`The Db.TransactAsync function` section at https://docs.starcounter.io/guides/transactions/
and `Synchronous vs Asynchronous transactions` at https://docs.starcounter.io/guides/transactions/more-on-transactions/

[2017-02-20 13:31] dan31 commented on #4096
@bigwad @erikvk I fix the link, as it should point to an "RC" version of the docs: https://docs.starcounter.io/v/RC/guides/transactions/more-on-transactions/. @bigwad's link points to current stable (2.2.1) and it does not contain the new knowledge.

[2017-02-20 13:39] andan342 commented on #2027
That's right!

[2017-02-20 13:43] bigwad commented on #4096
@dan31, actually I checked the links and they worked for me. Probably, it's due to https://github.com/Starcounter/TechComm/issues/290

[2017-02-20 13:47] erikvk commented on #4096
Does this mean, in general, that 2.2-esque Db.Transact() code should be avoided on 2.3?

[2017-02-20 14:05] bigwad commented on #4096
Yes and no. Started from 2.3 it should be avoided like any other synchronous blocking call if an application could benefit from asynchronous.

[2017-02-20 16:41] dan31 commented on #4096
@erikvk by default ```Db.Transact``` calls are made syncronous in 2.3, which means that in certain patterns it will be slower than before. We keep the same API and recommend all users to use ```Db.Transact```. In case of short transactions in concurrent environment (with many simultaneous requests processed at a time) the effect of syncronous call is not visible. It becomes visible on high write b

[2017-02-20 16:48] dan31 commented on #4096
@erikvk could you explain your pattern more? How much writes there really are? It might well be that your code needs to be adjusted to the async fashion.

[2017-02-20 16:54] dan31 commented on #4096
@bigwad I believe our current doc https://docs.starcounter.io/v/RC/guides/transactions/more-on-transactions/ actually lacks this example with ```.WaitAll```. I expect it to appear here, actually, as an answer to @erikvk question. But let's see.

[2017-02-20 16:58] erikvk commented on #4096
Sure, let's look at the first step, Parse:

All database inserts occur within a single transaction scope.

![screen shot 2017-02-20 at 17 56 02](https://cloud.githubusercontent.com/assets/16880339/23134645/e5ebb4b8-f795-11e6-9496-891b9cb79c37.jpg)

BidRequest.ctor:

![screen shot 2017-02-20 at 17 56 41](https://cloud.githubusercontent.com/assets/16880339/23134670/f68d05b0-f795-11e6-965e-4a8c8b52d2

[2017-02-20 16:58] erikvk commented on #4096
That takes 30 ms to perform on 2.3. 0 ms on 2.2.

[2017-02-20 18:23] dan31 commented on #4096
@erikvk thanks for sharing! Let's make sure we are looking to the right direction. If you subs ```.Transact``` with ```.TransactAsync``` (fire and forget), what happens to timings?

[2017-02-20 21:26] erikvk commented on #4096
I'll make sure to try that the next time I upgrade to 2.3 – perhaps next week. Had to go back to 2.2 for the time being. I'll let you know how it goes.

[2017-02-21 08:12] ivarbergman opened #4097 "Asigning long string value to a prop causes json error."
Hi, if I assign a long string value (for me the limit is 3867 chars) to a input value bound to a string property I get an server side error.

[code]

Is there a known max length of string properties?

[2017-02-21 08:42] chrhol commented on #4097
Looks like this exception comes from newtonsoft. I will take a look and see if I can find anything about max supported string length.

Are you sure that the incoming jsonpatch looks ok, so the string is correct? If you know which patch that fails could you post it here?

[2017-02-21 08:55] ivarbergman commented on #4097
Here is the patch:

[code]

[2017-02-21 09:02] chrhol commented on #4097
Thanks, I'll look into it.

[2017-02-21 09:27] chrhol commented on #4097
Looks like `reader.ReadAsString()` parses the value differently than if `reader.Read()` is called and using the value as an object. Really strange. I will see if there are some workarounds, otherwise I have to change the code that reads patches somewhat.

[2017-02-21 09:28] chrhol commented on #4097
So to answer your first question: there is no set maximum limit in our code or in newtonsoft. This is a bug when parsing (in newtonsoft).

[2017-02-21 09:28] bigwad commented on #4096
@dan31, actually `WaitAll()` is mentioned at https://docs.starcounter.io/v/RC/guides/transactions/more-on-transactions/.  Though I don't it's right in general. Neither in this case. After all `WaitAll()` is a blocking call and the right way to make **high-throughput** app is to avoid blocking calls. The right way is to send response in the continuation scheduled with `ContinueWith()` or similar.
P

[2017-02-21 11:43] chrhol opened #4098 "A JSON patch with missing AppName in path received"
Under certain conditions a patch containing blended json, appname is not appended correctly which leads to an incorrect patch is sent to the client.

The reason is that a flag on the jsoninstance is set to false in one place (which is correct), but is not enabled again, which it should be.

I have a fix in place, and will push it soon.

[2017-02-21 12:32] chrhol commented on #4098
Pushed to v2.3 and develop now.

[2017-02-21 12:32] #4098 closed

[2017-02-21 15:43] ivarbergman commented on #4013
Hi! The cache error has now happened on a server that has been running for more than 2 week. So I would also say that the problem did not happened on first file access, but rather some time later.

We have seen this error on different servers and different files.

[2017-02-22 08:37] dan31 commented on #4013
Several customers face the issue with 2.3 RC. It needs to be investigated and fixed.

[2017-02-22 15:44] chrhol commented on #4097
This is strange. When I tested this previously I got the same exception, but now I can't reproduce it...

I have to try with something else.

[2017-02-22 18:28] Mackiovello commented on #4097
I'm consistently hitting this error to in certain situations too when sending a long string. Here's the error:

[code]

This is the patch:

[code]

[2017-02-22 20:35] dan31 commented on #3486
Was strike by this again. I can't say when and how this happens, but it happens quite often when I uninstall. Is anyone else experiencing this?

[2017-02-22 20:37] atifwaqar opened #4099 "Question : Is there any builtin way to time stamp each object on Create and Update?"
One option in my mind is through CommitHooks, but that will be too expensive operation. considering if we have to keep time stamps of each and every object.

[2017-02-22 21:23] chrhol commented on #4021
Reapplied the fix previously reverted including the missing piece, a missing check for an invalid index in one place. How this could have worked without this check, I have no idea. But it did and the only place it could be reproduced was on a machine without VS2015 installed (it actually started working when installing VS) so it took some time to find.

Anyway the working fix is pushed to v2.3 and

[2017-02-22 21:23] #4021 closed

[2017-02-22 22:11] dan31 commented on #2443
@k-rus question answered today positively.

[2017-02-22 22:11] #2443 closed

[2017-02-23 07:28] per-samuelsson commented on #4099
No, there is not I'm afraid. Time-stamping every update of every object seem like a questionable thing to do in general, considering performance.

One pattern that could be used to time-stamp all objects when inserted would be to have a common baseclass:

[code]

[2017-02-23 07:55] atifwaqar commented on #4099
TimeStamp on Object creation is fairly easy. Issue is when we update the Object.

[2017-02-23 08:07] mtornwall commented on #4099
@Mackiovello I think the pattern described by @per-samuelsson is cookbook material!

[2017-02-23 11:59] Mackiovello commented on #4099
It is now here: https://docs.starcounter.io/cookbook/timestamp-on-object-creation/

[2017-02-23 13:03] mandatorySuicide opened #4100 "Question : Is there any challenge to use "Real Time UI" of Starcounter?"
The concept of "Real Time UI" is really nice. But there are few things in my mind and I want to clear those before using starcounter "Real Time UI" in production. I see , it uses websocket to communicate back and forth with server. So, if ~10K people are working on same view at same time , will there be any performance issue? Because I have heard websockets work on TCP and they are stateful, full

[2017-02-23 13:57] per-samuelsson commented on #4100
cc @dan31 @alemoi @linkdata @chrhol

[2017-02-23 14:57] k-rus commented on #4100
I am not expert in this area, but if I don't mistake, number of connections can be scaled by setting several lightweight servers with Starcounter gateway. Then gateways maintain reasonable number of connections and aggregate multiple requests before communicating with the database server, which performs business logic on the data.

[2017-02-23 15:26] dan31 commented on #4096
@erikvk do you think we can have a hangouts call sometime next week to better understand your code pattern before you move on to test 2.3 again?

[2017-02-23 15:33] erikvk commented on #4096
Sure, just go ahead and invite me whenever it works best for you. I'm probably available :)

[2017-02-23 17:27] linkdata commented on #4100
I assume we're disussing Starcounter 2.3?
If so we should let @alemoi and @chrhol answer this.

[2017-02-24 07:01] andwah commented on #3843
Stacktrace and Database Compability check removed,

[2017-02-24 07:01] andwah commented on #3743
Stacktrace and Database Compability check removed,

[2017-02-24 09:41] atifwaqar commented on #4099
Thanks guys

[2017-02-24 09:43] atifwaqar opened #4101 "Question : Is there a way to merge 2 Databases?"
We have more than 1 servers, I was wondering if I can merge them all to see what will be the merged size, and how the server will behave if I run that merged DB.
There is no requirement for this, was just thinking to have a stress test with huge DB :P

[2017-02-24 09:45] miyconst commented on #4101
You can merge two database using [StarDump](https://github.com/Starcounter/StarDump) tool. Just reload dumps of two databases into a single one, but you have to make sure that the object ids are unique.

[2017-02-24 09:48] atifwaqar commented on #4101
@miyconst what do you mean by this? Both Dbs should not have the same ObjectId?

[2017-02-24 09:48] per-samuelsson commented on #4099
Sure. If we ever get into a discussion about supporting scenario for update (not based on hooks), I'll ping you on that.

Feel free to reopen if you think issue is not answered.

[2017-02-24 09:48] #4099 closed

[2017-02-24 09:49] miyconst commented on #4101
Yes. You can modify the SQL dumps manually if needed.

[2017-02-24 09:53] atifwaqar commented on #4101
Ok thats impossible to not have same ObjectId in 2 DBs of size 40GB each.
So is there an easy way or automated way to Change ObjectIds in 1 DB? by just giving the last ObjectId of DB 1 so Db 2 can start setting ObjectIds from that Offset?

[2017-02-24 09:57] miyconst commented on #4101
Currently there is no such option, but we already have it in plans.

[2017-02-24 09:58] atifwaqar commented on #4101
@miyconst Awesome. Thanks :)

[2017-02-24 10:20] atifwaqar opened #4102 "Index Creation failed on having an attribute name like `_PublicationOwner`"
SC version 2.2.2.3511

Index creation failed when I have `_PublicationOwner` in the index:
[code]

and it works fine when I remove `_PublicationOwner`. So to me it looks like I can not have an Index if I have an attribute that starts with a `_`, Am I right?

[2017-02-24 10:50] atifwaqar opened #4103 "Question : Does indexes work for queries with `like` ?"
I have following Index :
[code]

Should it work on following Query?
[code]

[2017-02-24 11:33] miyconst commented on #4103
cc @k-rus

[2017-02-24 12:13] k-rus commented on #4102
I checked the source code and indeed only letters are allowed at the beginning of an identifier in `create index` statement.

[2017-02-24 14:31] chrhol commented on #4097
Oh, sorry for the late response. I thought this comment was a followup from @ivarbergman, and I talked with him on skype later, and decided to finish up some other stuff first.

Thanks for the info, something strange is going on here.

[2017-02-24 14:37] atifwaqar commented on #4102
Oh noo. This is bad. :P
And is this going to be same in 2.3 ?

[2017-02-24 14:53] SenerDemiral commented on #4103
It can work only  `like "abcde%"`  not `like "%abcde%"`

[2017-02-24 15:53] chrhol commented on #4097
A follow up question: Do any of you see this exception in the log, probably just after the one you added here?

[code]

I'm starting to suspect that the whole message is not received from the client, so it's cut off in the middle somewhere. Which kind of makes sense because then the jsonparser correctly throws this exception.

[2017-02-24 16:00] chrhol commented on #4097
It could be that it's the same problem as described in https://github.com/Starcounter/Starcounter/issues/3782#issuecomment-243090264

Since the jsonpatch code have been refactored in 2.3 this is what happens instead of the other exception.

[2017-02-24 16:27] chrhol commented on #4097
I've have done some tests now with the value in https://github.com/Starcounter/Starcounter/issues/4097#issuecomment-281757923, which is a string with a length of 108678 characters.

The test is simply to copy this string and then append it to the textarea (basically multiplying the number of characters with 2)

[code]

I've used the textarea page in the kitchensink project, which is a simple page

[2017-02-24 16:27] Mackiovello commented on #4097
Yes, that exception is thrown every time after the error shown above.

[2017-02-24 16:47] chrhol commented on #4097
Thanks, then I think we're on the right track.

[2017-02-25 15:34] alemoi commented on #4013
I have investigated the issue and one possible reason is gzipping of partials. Starting from version 2.3.0.5753 one can set environment variable `SC_SHOULD_GZIP`  to `False`
(you would need to restart your computer after setting it)

You can see if the problem occurs again.

[2017-02-26 22:34] atifwaqar commented on #4103
@SenerDemiral In my case, the query is `like "abc%hij%"`. I think it should work the same as `like "abcde%"`.  What do you think?

[2017-02-27 06:49] SenerDemiral commented on #4103
@atifwaqar
`like abc%hij%` means in OldSQL is:
Find  `starting with "abc"` using index and then make sequential search for `hij` part.
I mean, OldSQL use index if `like` not start with `%` .

`like "abc%hij%"` is not equals to `"abcde%"`.
But it can find `"abc12345hij52353890"` or `"abchij"`
I don't know if Starcounter follows this way.
Please look WebAdministrator page If you can read/understand

[2017-02-27 08:11] chrhol commented on #4013
@alemoi, does this have anything to do with #5?

[2017-02-27 11:17] chrhol opened #4104 "Using custom set delegates for bound values bypasses caching mechanism"
There is a caching mechanism when reading bound values in TypedJSON. Basically a flag is set in the beginning when generating changelog. While this flag is set, bound values should not be reevaluated.

This is to avoid multiple calls to bound delegates and that bound value changes during the span of generating changelog -> writing patches (which might include several reads).

When custom delegates

[2017-02-27 15:25] chrhol commented on #4104
Merged and pushed to `v2.3` and `develop`

[2017-02-27 15:25] #4104 closed

[2017-02-27 23:08] alemoi commented on #4052
Done.

[2017-02-27 23:08] #4052 closed

[2017-02-27 23:08] alemoi commented on #4086
Done.

[2017-02-27 23:08] #4086 closed

[2017-02-27 23:36] alemoi commented on #4093
That's an interesting scenario, when `Self` calls a handler that, in turn, does `SendResponse`. I will think about it.

[2017-02-28 09:20] atifwaqar opened #4105 "Question : Difference between Db.SlowSQL and Db.SQL"
Is there any difference in performance for these 2 syntaxes :
[code]
and
[code]

[2017-02-28 09:37] k-rus commented on #4105
Thank you for your question.

No, there is no difference in performance between `Db.SQL` and `Db.SlowSQL`. The only difference is that the second one allows literals in SQL queries, while the first one requires usage of parameters.

@Mackiovello Can you check if the documentation needs to reflect this information?

[2017-02-28 09:39] atifwaqar commented on #4105
@k-rus Thanks.
And I tried to find this info in the documentation, couldn't find it.

[2017-02-28 09:45] atifwaqar opened #4106 "Question : How to created Indexes for attributes that are inside another table?"
My question may not make sense so here is an example.
My tables looks like:
[code]

and my query looks like :
[code]

Now Question is, what will be the index for this query?

[2017-02-28 09:53] k-rus commented on #4106
I guess your question if we support path indexes. No, we don't support path indexes, i.e., index takes in account traversing to referenced tables. We discussed it, but it is not easy to maintain efficiently.

Indexes pay off for selective conditions. If conditions are selective on `ParentTable`, then defining indexes on it is straightforward. If you have high selectivity on `ChildTable`, then you

[2017-02-28 10:04] Mackiovello commented on #4105
Is that the case for all Starcounter versions from 2.1.177?

[2017-02-28 10:14] k-rus commented on #4105
Yes

[2017-02-28 10:15] Mackiovello commented on #4105
Closing the issue as the question is answered

[2017-02-28 10:15] #4105 closed

[2017-02-28 10:40] atifwaqar commented on #4106
@k-rus you are right, My question is about path indexes. And thanks, this answers my question.

[2017-02-28 10:45] #4106 closed

[2017-02-28 10:53] atifwaqar commented on #4105
One more thing is there any difference in operation time?
I'm asking cuz when `SlowSQL` give an impression that it might be slower in performance as compared to `Db.SQL`

[2017-02-28 10:57] warpech commented on #4017
Any progress on this one? It allows us to remove a nasty hack in CompositionEditor: https://github.com/Starcounter/CompositionEditor/issues/8

[2017-02-28 10:58] warpech commented on #4017
The partial returned as the main "root" should pull other partials mapped to "root" token using  `Blender.MapUri`.

[2017-02-28 12:22] bigwad opened #4107 "scllvm may show asserts in release build"
---------------------------
Microsoft Visual C++ Runtime Library
---------------------------
Assertion failed!

Program: ...ounter\pnext\level0\msbuild\x64\Release\scllvm.dll
File: scllvm.cpp
Line: 602

Expression: (0 == err_code) && "clang++ returned an error while compiling generated code."

For information on how your program can cause an assertion
failure, see the Visual C++ documentation on a

[2017-02-28 13:33] dan31 commented on #3964
Old way to migrate is deprecated in favor of StarDump:
2.2 -> 2.3: https://docs.starcounter.io/guides/working-with-starcounter/migrating-from-2.2-to-2.3+/
2.3 -> 2.(3+N): https://docs.starcounter.io/guides/working-with-starcounter/unload-reload/

[2017-02-28 13:33] #3964 closed

[2017-02-28 13:34] dan31 commented on #3929
Old way to migrate is deprecated in favor of StarDump:
2.2 -> 2.3: https://docs.starcounter.io/guides/working-with-starcounter/migrating-from-2.2-to-2.3+/
2.3 -> 2.(3+N): https://docs.starcounter.io/guides/working-with-starcounter/unload-reload/

[2017-02-28 13:34] #3929 closed

[2017-02-28 13:53] dan31 commented on #3923
Is that still 2.3 issue?

[2017-02-28 13:54] dan31 commented on #3919
In 2.3 schema migration bug is fixed.

[2017-02-28 13:54] #3919 closed

[2017-02-28 13:54] alemoi commented on #4107
Hmm strange, that there is an assertion, because we recently compiled a version without assertions.

[2017-02-28 13:55] dan31 commented on #3826
Old way to migrate is deprecated in favor of StarDump:
2.2 -> 2.3: https://docs.starcounter.io/guides/working-with-starcounter/migrating-from-2.2-to-2.3+/
2.3 -> 2.(3+N): https://docs.starcounter.io/guides/working-with-starcounter/unload-reload/

[2017-02-28 13:55] #3826 closed

[2017-02-28 14:18] dan31 commented on #3499
All legit refactorings in 2.3 are thoroughly documented in here: https://docs.starcounter.io/guides/working-with-starcounter/database-refactoring/.

[2017-02-28 14:18] #3499 closed

[2017-02-28 14:18] dan31 commented on #3559
All legit refactorings in 2.3 are thoroughly documented in here: https://docs.starcounter.io/guides/working-with-starcounter/database-refactoring/.

[2017-02-28 14:18] #3559 closed

[2017-02-28 14:20] dan31 commented on #3186
What is our answer to this one in 2.3? CC @per-samuelsson @k-rus

[2017-02-28 14:21] dan31 commented on #3387
Is this one still an issue?

[2017-02-28 19:14] dan31 commented on #3920
Is this something that fixed?

[2017-02-28 19:55] dan31 commented on #3958
Moved to https://github.com/Starcounter/TechComm/issues/294 to prepare the material for 2.3 release train.

[2017-02-28 19:55] #3958 closed

[2017-03-01 05:52] Mackiovello commented on #3920
Unfortunately not. Managed to break everything when I tried. Would appreciate if someone with more experience of contributing to Level1 would take it. The changes in #4072 were approved, so all that's needed is for someone to make it build and pass the tests with this change. I could do it if no one else has the time. Although, I can't guarantee that I won't break anything in the process like last

[2017-03-01 08:11] per-samuelsson commented on #3923
Doubt that, but maybe its best to set up for a test to make sure.

[2017-03-01 08:32] warpech opened #4108 "Upgrade to Palindrom 3.0.0"
We have recently renamed PuppetJs to Palindrom. Great! But now lets make Starcounter apps use it, while keeping the backwards compatibility.

The work should be done on a feature branch of Starcounter started from `v2.3`.

We need to make sure that old names are still supported:

- `new PuppetJs()` gives you an instance of `Palindrom` that you can use
- `new PuppetDom()` gives you an instance of `

[2017-03-01 08:34] warpech commented on #3920
Dan I think that this issue really is half of a solution to the problem. A better solution would be https://github.com/Starcounter/StarDump/issues/35. I need your comment on that.

[2017-03-01 09:44] chrhol opened #4109 "Merge private fields that have identical functionality in class `Json`"
Note: this is an internal enhancement in XSON and will have no external effects or improvements.

There are two private fields in class `Json` that keeps track of if the viewmodel is stateful or not, `isStateful` and `trackChanges`.

Stateful meaning that state is kept on the server to allow patching and mirrored viewmodels. This includes having additional metadata that keeps track of if a value h

[2017-03-01 10:16] chrhol opened #4110 "Remove the automatic push on WS when upgrading connection from HTTP to WS."
In our internal handler (`Starcounter.Internal.PuppetRestHandler.cs`), that handles websocket upgrade, we do a push after upgrading.

[code]

I've talked with @andwah and we can't really remember or see the reason for the push here. The push will lead to an extra round of dirtychecking being performed in XSON, which would be good to avoid since it can be a costly operation, and in most cases this

[2017-03-01 10:59] chrhol opened #4111 "When retrieving the whole viewmodel, bound properties are accessed twice."
When the handler to get the complete viewmodel from a client is called, each bound property is accessed twice, instead of once.

This is happening due to the fact that the dirtycheck is not executed, and serialization and checkpointing (resetting flags) are called manually, leading to that bound values are not marked as cached the first time.

This should be improved to reduce the number of access

[2017-03-01 11:10] miyconst commented on #4111
Means it happens once when connection established?

[2017-03-01 11:14] chrhol commented on #4111
Yes, exactly.

[2017-03-01 11:16] alemoi commented on #4110
The push is done just because there was (not sure if still is) a bug in Chrome on Harry's machine when client required at least one push from server.

[2017-03-01 11:18] miyconst commented on #4110
It was actually a bug of his antivirus software and not the Chrome itself, if I remember correctly.

[2017-03-01 12:14] chrhol commented on #4110
If that's the case it shouldn't be any problems with removing it.

If we really need the push, one alternative could be to, instead of calling `session.CalculatePatchAndPushOnWebSocket`, simply send an empty patch to the client. But that feels somewhat strange as well.

It would be nice to get rid of this altogether.

[2017-03-01 12:16] miyconst commented on #4110
@chrhol please remove it in a custom branch and trigger a daily build with installer upload. Me or @ubbeK will test it within PALMA project and see how it goes.

[2017-03-01 12:19] chrhol commented on #4110
https://github.com/Starcounter/Starcounter/issues/3574 is the issue, right?

In https://github.com/Starcounter/Starcounter/issues/3574#issuecomment-219108770 @alemoi  actually asks the same question as we do here. Why is it needed 😸

Sure, lets do it that way. @dan31 wanted to get ready for the release, so I will hold of pushing anything that is not urgent to the main branch for some days.

[2017-03-01 12:22] miyconst commented on #4110
Yes.

It was a workaround for the NOD issue, which (I hope) is already fixed by them.

[2017-03-01 12:24] alshakero commented on #4108
From my end everything in this issue is done. I've sent a PR each. I also tested everything I PRed for with KitchenSink by modifying `ClientFiles` of Starcounter without the need to build it.

[2017-03-01 12:35] chrhol commented on #4110
Oh, I thought it was the other way around, that the issue was happening because of the push.

Anyway, I have pushed the change to branch [`issue/v2.3/4110`](https://github.com/Starcounter/Starcounter/tree/issue/v2.3/4110). I will start a custom build

[2017-03-01 12:36] alemoi commented on #4110
Great! Please remove then.

[2017-03-01 13:05] chrhol commented on #4110
Custom build with the push removed: http://downloads.starcounter.com/download/Starcounter/Custom/2.3.0.5779

[2017-03-01 13:18] miyconst commented on #4110
@chrhol what this could mean?

[code]

[2017-03-01 13:29] chrhol commented on #4110
I think @k-rus mentioned something about updates to the metaschema for the upcoming vacuum functionality. Is this the symptom of that @k-rus? If that's the case you need to recreate the database.

[2017-03-01 13:37] warpech commented on #4061
This is need in SWO.

@aloscha will try out adding multiple icons to Launchpad in one of the SWO apps. For this, we will need multiple responses with an icon.

[2017-03-01 13:39] warpech commented on #4061
@tomalec are there any challenges here for `starcounter-include` and HTML compositions?

[2017-03-01 14:19] chrhol commented on #4061
It's been a while since the Starcounter version in this issue was created. Should we merge in the latest changes into the 4061 branch and create a new installer?

[2017-03-01 14:20] chrhol commented on #4061
Does this mean that we need to include this in a 2.3.x version?

[2017-03-01 14:49] k-rus commented on #4110
Yes, I think it is a case.

[2017-03-01 14:57] k-rus commented on #3387
I started a build where I enabled this test: https://teamcity.starcounter.org/viewLog.html?buildId=20079&buildTypeId=Starcounter_DevelopDailyWindows&tab=buildResultsDiv

It is necessary inspect the result of the build when finished if the test was run and its result.

[2017-03-01 15:30] miyconst commented on #4110
Can we improve the error message?

[2017-03-01 15:43] miyconst commented on #4110
Works perfect for me. @ubbeK?

[2017-03-01 15:52] ubbeK commented on #4110
I will give it a try soon

[2017-03-01 16:16] ubbeK commented on #4110
It works for me aswell, thanks!

[2017-03-01 16:23] ubbeK commented on #4110
Could someone please explain to me the basic functionality of XSON. I get that all the Getters are called twice. First time it is the `XSON.NewtonsoftSerializer` and the second time it is due to `XSON.ChangeLog.Checkpoint()`. **What is the purpose of the second one?**

[code]

[code]

[2017-03-01 17:55] chrhol commented on #4110
The viewmodel keeps tracks of changes by having flags for each property, for example if it's modified or not. After changes have been generated, these flags needs to be resetted to mark that this version is the version that the client have.

So for each dirtycheck there are three steps: collect changes, generate patches and checkpoint the viewmodel.

The checkpointing will also be called the first

[2017-03-01 18:32] alemoi commented on #4107
I know its the actual scllvm not LLVM.

[2017-03-02 08:37] threezool opened #4112 "Customize a apps start uri in the Admin interface"
I just encountered a interesting issue where when i opened the app i am working on from the admin interface it goes to http://localhost:8080/<assembly name> but that is not what i have set as a workable Uri for the app.

So to enable the link to work in the admin interface i would have to rename the assembly name in this case and its certainly doable but it would be much cleaner to be able to set

[2017-03-02 10:10] k-rus commented on #3387
Enabling through environment variable didn't work, since it is black listed.

[2017-03-02 11:21] k-rus commented on #3387
There was nothing indicating that the issue was fixed. I took time and run the test locally, which confirmed that the test is not fixed.

[2017-03-02 11:23] k-rus commented on #3186
I believe it will be an error as there were two issues reporting an error in such scenario.

[2017-03-02 11:28] k-rus commented on #4105
Name `SlowSQL` is so, since it allows to run slow stuff, which is not available through `Db.SQL`.

[2017-03-02 11:33] Mackiovello commented on #4105
What kind of "stuff"? Is there anything in addition to literals?

[2017-03-02 11:33] k-rus commented on #4103
@SenerDemiral Thank you for answering the question!

[2017-03-02 11:35] SenerDemiral commented on #4103
Not at all!

[2017-03-02 11:50] #4103 closed

[2017-03-02 12:47] k-rus commented on #4105
Not any more. Historically it was much more available only through `SlowSQL`. Actually there was a request to rename the function.

[2017-03-02 15:20] atifwaqar opened #4113 "Registering Handlers is slow when we have traffic coming to server"
SC Version : 2.3.0.5767 (behavior is same in all versions)
CC @alemoi

Here are 2 cases:
1. We have no traffic coming to the server. (meaning no handler is being called.)
![2017-03-02](https://cloud.githubusercontent.com/assets/4388707/23513335/eda498de-ff63-11e6-92a9-040953918ceb.png)
Here you can see, all handlers got registered in 1.01 second

2. Traffic is coming to server (Meaning, some handl

[2017-03-02 15:27] alemoi commented on #4100
@k-rus pointed into right direction regarding connection aggregation. So that end machine(s) will receive only aggregated traffic (and will maintain a limited number of TCP connections). We are working on the next generation traffic aggregators. In general it means that networking should not be a bottleneck for your application, but rather the data processing inside your app.

[2017-03-02 15:37] atifwaqar commented on #4105
Ok the following code gives exception :
[code]

Exception is :
[code]

[2017-03-02 15:52] atifwaqar commented on #4113
It seems like as soon as a handler is registered it does not wait for other handlers to get registered, and it starts accepting requests, making other handler registration slow.

There should be a way to Block Network Gateway (Stop accepting requests). When apps and their handlers are being registered. and As soon as an app and its handlers are registered, Network Gateway should start accepting re

[2017-03-02 15:54] atifwaqar commented on #4113
@alemoi for me It was always a problem on production servers. I never faced this issue on local machine where I never have any network load.

[2017-03-02 15:58] bigwad commented on #4113
I think it should work transparently. The reason is that apps could be started (and in future stopped) dynamically.
Looks like some prioritization issue (probably in task queue) - serving requests gets priority over startup code. I think the good starting point is to profile and see what startup code is waiting for.

[2017-03-02 16:48] warpech opened #4114 "Provide a Visual Studio project template"
Proposed by @jwillmer.

We could provide a full Visual Studio template with following variations:

- recommended project structure and bootstrap files
- the above, plus tests
- the above, plus a sample app (Hello World)

Microsoft have done that for ASP.NET MVC. Notice the amazing README page displayed after opening of the project:

![2017-03-02 17_42_29-greenshot](https://cloud.githubusercontent.

[2017-03-02 16:53] warpech opened #4115 "HtmlFromJsonProvider doesn't show any error when you don't provide "Html""
When you take https://github.com/StarcounterSamples/HelloWorld and change the property at line

https://github.com/StarcounterSamples/HelloWorld/blob/tutorial-20161222/src/HelloWorld/PersonJson.json#L2

from `Html` to `html`, accessing `localhost:8080/helloworld` shows an empty page with no error message.

This of course applies to all apps, but Hello World might be the simplest way to reproduce t

[2017-03-02 16:55] warpech commented on #4115
The above applies only when the page is wrapped by Launcher or Website app:

![2017-03-02 17_54_17-helloworld](https://cloud.githubusercontent.com/assets/566463/23517664/510b4f50-ff71-11e6-9873-f39390930b88.png)

[2017-03-02 16:55] warpech commented on #4115
@un-tone could you please check if the same problem is reproducible with the Website app?

[2017-03-02 19:54] un-tone commented on #4115
@warpech yes, it is reproducible with the Website app too

[2017-03-02 21:11] per-samuelsson commented on #4115
Guess it's as simple as [this access pattern](https://github.com/Starcounter/Starcounter/blob/81c9a245f2f3769cb19bb2e2ad0c3d69a14b19b8/src/Starcounter/Middleware/HtmlFromJsonProvider.cs#L36) is case-sensitive, no?

@chrhol ?

[2017-03-02 23:36] warpech commented on #4115
I think that the problem is not really in case sensitivity, but in failing fast.

If Launcher/Website app is not wrapping the response then the user sees a nice shiny stack trace. Launcher/Website replaces the stack trace with an empty page.

@un-tone could you investigate if Website app could skip wrapping the app in case it is not a Json but a text stack trace?

[2017-03-03 08:27] dan31 commented on #3937
@bigwad is this still an issue?

[2017-03-03 08:36] bigwad commented on #3937
nothing has changed

[2017-03-03 09:00] k-rus commented on #4102
I will try to fix it for 2.3.

[2017-03-03 09:45] atifwaqar commented on #4113
@bigwad Do let me know if you need any details on this issue.

[2017-03-03 12:08] k-rus commented on #4102
Fixed and merged. Will come tonight into installer I hope.

[2017-03-03 12:08] #4102 closed

[2017-03-03 12:54] warpech opened #4116 "Self.GET seems not to work in a commit hook"
### Steps to reproduce

1. Check out Website repo https://github.com/StarcounterPrefabs/Website/commit/a2759fad22c925a09e465ad304d274b91636c419
2. Check out SignIn repo `develop` branch
3. Start Website, WebsiteProvider, SignIn
4. Call `http://localhost:8080/website/resetdata` to load default mappings
5. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
6. Go to `ht

[2017-03-03 12:58] miyconst commented on #4116
It is recommended to avoid sync tasks in commit hooks. Please try to wrap inside a `Session.ScheduleTask` or `Scheduling.ScheduleTask`.

P.S. The issue should still be solved. cc @alemoi

[2017-03-03 13:10] un-tone commented on #4115
@warpech it can

[2017-03-03 13:26] warpech commented on #4019
Today it was discovered by @jwillmer that the instructions for blending given at https://docs.starcounter.io/guides/puppet-web-apps/html-view-guidelines/ **do not work** unless you have the CompositionProvider app running.

We need to:

1. Temporarily add instructions how to install CompositionProvider to the "HTML Views Guidelines" page (cc @Mackiovello)
2. Add CompositionProvider as a system app

[2017-03-03 13:38] tomalec commented on #4019
Wow, really? Why is it so, `declarative-shadow-dom` does not work without CompositionProvider ?

[2017-03-03 13:40] jwillmer commented on #4019
No, it will add first the layout and append the slots at the bottom.

[2017-03-03 13:43] tomalec commented on #4019
Then it sounds like a bug in `starcounte-include`. Could you share the way to reproduce?
Are you sure you have Shadow DOM (polyfill) running in the browser?

[2017-03-03 13:58] warpech commented on #4019
@tomalec is right, actually `declarative-shadow-dom` should work, only the custom saved HTML Compositions do not work without the db.

I will contact @jwillmer directly to reproduce the problem, because it might be off-topic for this issue.

[2017-03-03 14:35] Mackiovello commented on #4019
This is fixed for RC and Develop in https://github.com/Starcounter/Docs/commit/be3f93ae12c51291dd5fb66e830d094f74f24c24

I guess it's not applicable to the other branches since CompositionProvider do not work with them. Is Launcher a requirement on the other branches?

[2017-03-03 14:56] bigwad opened #4117 "Reduce memory requirements on linux"
As it's done for windows in https://git.starcounter.org/BlueStar/level0/commit/9d270c4b806fc0928699d8e894cf45e5d689107d

On Linux it's trickier as the whole virtual memory concept is more tangled.

[2017-03-03 15:07] warpech commented on #4115
Pls make a PR for this in the Website app and then lets see, maybe that is a solution.

[2017-03-03 16:53] warpech opened #4118 "Is Self.GET of a `/partial/` URI needed for blending?"
Today I had a Hangouts call with @jwillmer.

One of the surprises for him was that it is needed to define blending points explicitly using a combination of `Self.GET` and `Handle.GET(".../partials/..."`.

Below excerpt from Producs app shows this:

[code]

It is not obvious why such obscure combination of two handlers is needed.

Is there a way we could support implicit blending points every time

[2017-03-03 16:54] warpech commented on #4118
cc @Starcounter-Jack, @miyconst, @alemoi

[2017-03-03 19:13] dan31 commented on #3896
@andwah we are still facing this in 2.3 and above. Please have a look and address.

[2017-03-03 21:10] alemoi commented on #4118
I suppose the blending can be declarative into JSON somehow. I have a question: should it be possible that the partial handler is called directly from browser and blend with other handlers? We discussed on the meeting.

[2017-03-03 21:45] jwillmer commented on #4118
You can use `SelfOnly` as `HandlerOption` to prevent this ([doc](https://docs.starcounter.io/guides/network/handling-http-requests/)) :point_up: :laughing:

[2017-03-04 10:22] #3843 closed

[2017-03-04 10:22] #3743 closed

[2017-03-04 10:27] dan31 commented on #4091
@mmnosek don't hesitate to assign the person you think is relevant for the issue. Otherwise the issue is likely to be lost for any such person with no further reaction. As happened to this issue, which is not answered by CC for already 19 days.
As for me, some time ago, just for fun I made a label to my flat's door with exact same font on it. There is a perfect font for it: http://www.fixedsysexce

[2017-03-04 10:29] #4095 closed

[2017-03-04 10:31] dan31 commented on #4095
@iliassays and guys, I want to kindly ask you for the future try your best to close the issues with questions that you have previously opened in timely manner. We do not and will not have a dedicated person who grooms and grinds issues on the main tracker, and it is quite difficult sometimes to not get lost among issues that are opened for questions and are not closed. Thanks in advance! And feel

[2017-03-04 11:16] dan31 opened #4119 "No compatibility check in Starcounter for 2.3 for breaking changes; error message not comprehendable"
Related:
https://github.com/Starcounter/Starcounter/issues/3743
https://github.com/Starcounter/Starcounter/issues/3843
https://github.com/Starcounter/StarDump/issues/36
Wednesday, March 1, a breaking change was introduced to 2.3 RC (in metadata) on the way to a release, in order to support vacuum. It appears that currently there is no mechanism in Starcounter components and management facilities f

[2017-03-04 11:20] dan31 commented on #4119
There is also trace of work regarding the versioning: https://github.com/Starcounter/CompanyTrack/issues/290. It is hard to say whether this work is forgotten/abandoned/... .

[2017-03-04 11:37] per-samuelsson commented on #4119
Just to make things even clearer, can we get an idea of what exactly the breaking change was?

I wonder if one thing to do is to somehow try to list what *kind* of changes are breaking, like

* Changing of public APIs exposed to application developers
* Changing of public APIs exposed by Bluestar (to more "outer" bits)
* Binary changes in metadata
* Binary changes in storage
* Etc ...

With that,

[2017-03-04 12:14] dan31 commented on #4119
In respect to this issue, I have one question. Is not it a very common sense that the party introducing changes should be in control of verifying compliance to this changes? E.g., metalayer has added a breaking change: now it is metalayer implementing such version checking function that refuses to start database of a particular previous version that is not compatible with the current implementatio

[2017-03-04 12:24] per-samuelsson commented on #4119
I would think so too, yes. Just throwing everything on the installer seem like a bad idea.

If I introduce some change in some module, that I know is incompatible with a previous version (one still considered "alive" o/c, meaning it's in use), I need to spend time thinking about the *whole story*, not just that my change pass some tests in isolation.

WTBS, it's not sure I can correctly address ev

[2017-03-04 12:30] dan31 commented on #4119
@per-samuelsson I deeply appreciate your will to address this on your own. I believe it is important to involve owners of the parts that do introduce breaking changes time to time, which are currently: metalayer, kernel. There is already initial work being done to introduce version functions: https://github.com/Starcounter/CompanyTrack/issues/290, in hope installer will deal with it. There @alemoi

[2017-03-04 13:50] per-samuelsson commented on #4119
Of course not. Like I wrote, those that introduce breaking changes will always know best what was broken, and have to consider the bigger picture for the relevant change. The minimum required when introducing such change is [1] and [2] from my comment above.

[2017-03-04 13:53] per-samuelsson commented on #4119
That would depend on the context, wouldn't it. As an example, if a breaking change is introduced in binary storage format, then the corresponding strategy has to be considered there. And returning a clear and precise error when incompatible (i.e. "old") data is detected.

[2017-03-04 18:11] erikvk commented on #4096
Update:

I have substituted Db.TransactAsync() for all occurances of Db.Transact() in the code, moving from 2.2 to 2.3. Dan was with me when I did this, and we saw the response time drop significantly from previous 2.3 tests. It was, however, not as fast as 2.2, running the same tests.

2.2 performed the tasks faster than 1 millisecond
2.3 performed the tasks in about 2-3 milliseconds.

![screen s

[2017-03-04 22:29] alemoi commented on #4116
My question is to the commit hooks expert, not sure who it is though @chrhol @per-samuelsson
Is commit hooks procedures scheduled on Starcounter scheduler? `Session.Current.Data` is available though, but does it require to be on Starcounter scheduler, @chrhol ? Thanks for the answers!

[2017-03-04 22:54] dan31 commented on #4096
@erikvk: thanks for sharing, @bigwad is currently investigating the potential source of this observation. @erikvk just out of curiosity: what happens if you run the same app in "Release" mode?

[2017-03-04 22:58] dan31 commented on #4116
@alemoi @chrhol @per-samuelsson depending on the answer, we might consider propagating this knowledge into docs.starcounter.io. Such details are important.

[2017-03-05 07:30] per-samuelsson commented on #4116
It's running as part of the transaction-being-committed, so yes, it must be (if nothing has changed recently).

Agree. Maybe @Mackiovello can do so?

[2017-03-05 08:30] per-samuelsson commented on #4119
@dan31, regarding this:

Would this

1. Revert the breaking change (I mean, after all, breaking changes in a RC is something we really should try everything to avoid).
2. Delete any version built with said change from our download page.

be possible?

Then maybe we don't have to put all users through this same pain.

[2017-03-05 09:24] chrhol commented on #4118
Isn't this what we discussed (at length) previous week? There we said that the way to enable blending (blending points) is to retrieve an instance of a (partial) viewmodel  by doing a request (any request, not only `Self.GET`).

We choose this pattern, instead of just creating the viewmodel or calling a method directly, to enable support for blending when we can have multiple codehosts which runs

[2017-03-05 09:26] chrhol commented on #4118
Yes, if I remember correctly, I asked this question as well last week in the meeting. And the conclusion was that *any* request, external and internal, could be a possible blending point.

[2017-03-05 13:14] dan31 commented on #4119
@per-samuelsson "Revert the breaking change (I mean, after all, breaking changes in a RC is something we really should try everything to avoid)." — I can definitely say no: the breaking change is purposeful and its aim is to remove long-standing bug of non-ability to get rid of deleted data inside the database rather than by re-creating database (for most customers this is no-go, to be more precis

[2017-03-05 14:30] Mackiovello commented on #4116
What I understand from this is that on the [commit hook page](https://docs.starcounter.io/guides/transactions/commit-hooks/) it should be explained that `Self.GET` cannot be used inside a commit hook. The solution instead is to use `Session.Current.Data`.

Should the reason for this behavior be documented as well? Is it something that has consequences outside of this one quirk?

[2017-03-05 15:00] per-samuelsson commented on #4119
@dan31, I hear what you are saying. I just have a hard time understanding why we need a breaking change to accomplish that, and that there is really no other way to introduce support for vacuuming without forcing users to undergo a database rebuild (unload/reload).

I probably just don't get the implementation good enough.

But sure, vacuum in 2.3 is a necessity, I understand that. But then exactl

[2017-03-05 15:15] atifwaqar commented on #4102
This is awesome news. thanks

[2017-03-05 15:24] dan31 commented on #4119
@per-samuelsson It is an addition info field in metalayer (@k-rus can explain more). Really maybe there is a way to not treat it as a breaking change, but instead, on load, implement a versioning logic in the metalayer and adopt to this change instead. This will be even more plausible solution. But only @k-rus can judge whether there is such way.

[2017-03-06 07:12] per-samuelsson commented on #4119
That's why I asked this earlier:

I might be wrong, but my experience is that it's often possible to introduce changes without having them to be breaking, just that it takes some more time and thinking.

[2017-03-06 07:20] per-samuelsson commented on #4119
Expanding on my proposal from yesterday on a short term validation scheme based on tagging each database with a version:

If we can get some predicable versioning going on, so that when any change go into the main-track of a RC+ version, me as a developer can somehow easily note if what I now push is breaking or not, things will be more relaxed for the developer.

Like: I'm pushing patch(es) `p`.

[2017-03-06 09:53] tomalec commented on #4061
If the namespace in JSON will match the implicit slot names used in compositions, I think it shouldn't be a big deal.

[2017-03-06 12:01] chrhol commented on #4116
I dont think relying on this is the correct solution. The commithook will be triggered when there is a commit, so you cannot be sure that you will have a session active.

I think what @miyconst wrote is what we should have in our documents:

That is, that if you want to do anything more than update your dbobjects, you should schedule an asynchronous task for it

[2017-03-06 14:42] bigwad commented on #4096
@erikvk,
unfortunately, I can't reproduce such delay with my tests, so I kindly ask you to collect performance profile of your test system.

Prerequisite: install windows performance toolkit.

How to collect performance profile:
1. start your app
2. start simulating user activity
3. start command shell as administrator
4. start performance profile collection with the command **"%ProgramFiles(x86)%

[2017-03-06 14:49] k-rus commented on #4119
This issue was known for long time and was brought few times, but it was ignored. It is very unfortunate that such issues only become important when they hit our customers.

It was decided to implement the check in the installer. This would prevent the most of our users from hitting incapability problem, since they would deal with it at installation time. It is important that the installer does th

[2017-03-06 18:54] dan31 opened #4120 "Enable Starcounter for VS 2017"
The release of the subj is tomorrow!

[2017-03-06 21:19] per-samuelsson commented on #4120
Well, lets just make a plan for when I should spend time doing so, and I will. Like everything else, it's a matter of how we prioritize.

I would say we push this to 2.4, but I have a feeling that the usual not-acceptable-alarm will ring. 😄 And then 2.3 is the target I presume.

[2017-03-06 22:23] erikvk commented on #4096
@dan31 Do you have the profiling data needed?

[2017-03-06 22:44] warpech commented on #4116
Can we make then fail `Self.GET` with some understandable error message? Right now it just returns `null`. That looks as if the problem is in my handler, not in my commit hook.

[2017-03-06 23:09] dan31 commented on #4120
@per-samuelsson Actually, if we are lucky enough, doing extensions for 2017 is no difference than for 2015. Might well be very simple configuration for it to have it built and having templates included into installation too — please take a look.

For future versions of Visual Studio, we should really strive hard to implement the extension ahead of time, with emergence of first RCs. The main reason

[2017-03-06 23:15] dan31 commented on #3791
Looked now. This is still a case + design of the extension is obsolete (old icon). Might be great to package this lifting work together with delivering VS 2017 extension.

[2017-03-06 23:26] dan31 commented on #4096
@erikvk: @bigwad recommends an enhanced way of taking profiling data. It should give him a lot more insight into what is happening, comparing to the VS perf snapshot we've prepared last Friday. Hence, if it is not too difficult for you, could you please re-do our experiment but now taking the measurements in a way @bigwad recommends? Preferably for both 2.2 and 2.3, as we did too.

[2017-03-06 23:32] erikvk commented on #4096
OK, sure

[2017-03-06 23:48] warpech commented on #4061
The implicit slot names which are set by [Starcounter's HTML merger](https://github.com/Starcounter/Starcounter/blob/81c9a245f2f3769cb19bb2e2ad0c3d69a14b19b8/src/Starcounter/Apps/OntologyAndOrdinaryMapping.cs#L1009) most probably will be like `People_0/0`, etc. This is because the namespace is `People_0`.

The explicit slot names look like this though: `People/button`.

This will look confusing at

[2017-03-06 23:53] dan31 commented on #4096
@erikvk thanks a lot! Drop a link to your results over e-mail (I guess the output will not be small).

[2017-03-07 07:39] Mackiovello commented on #4116
The docs are now updated in https://github.com/Starcounter/Docs/commit/5dd52871b33cbcdbe03237d4b3cdb899e668a73c

[2017-03-07 08:13] per-samuelsson commented on #4120
Yeah, it's usually somewhat compatible, but still involves work. And considering the constantly increasing workload, "just" a day or two of new work will have to be somewhat planned.

Even if everything works straight out of the box, I know from experience that this work is always 1-2 days, since it spans several components (including the installer), and all testing of that installers (in all affe

[2017-03-07 08:14] per-samuelsson commented on #3791
Sure. Then related: #4120.

[2017-03-07 08:51] miyconst opened #4121 "Starcounter.Logging throws External component has thrown an exception with no further explanation"
I have left my database with apps running over the night, and one of the databases crashed with the following exception in the logs. The database itself is still in the "Running" state, but all of it's apps stopped.

[code]

[code]

The Windows log has the following entry at the same time:

[code]

Could it be related to the insufficient amount of RAM?

@alemoi, @k-rus, @chrhol, @bigwad, @per-samu

[2017-03-07 09:03] andwah commented on #4120
I can help out with the installer gui part.

[2017-03-07 11:09] per-samuelsson commented on #4121
Huh? What's that?

Sure looks so, given:

[2017-03-07 11:10] miyconst commented on #4121
It is a Windows desktop app fro GitHub access. The Windows log does not contain any entries from Starcounter or `sccode.exe`.

[2017-03-07 11:21] chrhol opened #4122 "Make comparer for dataobjects overridable in TypedJSON"
The comparer is used when bound objects are checked, for all json instances. This includes single value json  and items in arrays that are bound.

This allows apps to override default behaviour and add their own implementation where a more informed decision can be taken.

Small sample that will set a different dataobject on the current instance in the array making the item to be reused rather than

[2017-03-07 11:24] atifwaqar opened #4123 "Drop table giving an error"
SC Version : 2.3.0.5828

My table is empty, we can see here
![image](https://cloud.githubusercontent.com/assets/4388707/23654120/8f490be2-032f-11e7-976f-00a9ff3f4b7b.png)

When I try to execute `drop table AdFenix.Database.AdfenixJs.BookShowingConfig`,  I get the following error :
[code]

![image](https://cloud.githubusercontent.com/assets/4388707/23654437/eb95dc9e-0330-11e7-9399-a048cecc4d8f.png)

[2017-03-07 12:36] dan31 commented on #4123
CC @k-rus

[2017-03-07 13:23] atifwaqar opened #4124 "Exception in SC Admin Logs"
SC Version : 2.3.0.5828

Message :
[code]

Source :
`Starcounter.Host`

Type :
`Error`

[2017-03-07 13:32] atifwaqar opened #4125 "App crashes if sql query length is longer than 5000 Chars"
SC Version : 2.3.0.5828

My app crash if the query is longer than 5000 chars. I can avoid the crash by putting a try catch body around the query. But SC Server should handle that instead of crashing the app.

[2017-03-07 14:15] atifwaqar opened #4126 "Unable to Query from a certain table"
SC Version : 2.3.0.5828

When I execute query `select * from AdFenix.Database.FacebookPage` I get the following Exception :

[code]

[2017-03-07 14:46] SenerDemiral commented on #4123
Close Application then try again. (CLR class is loaded for the table being deleted)
Before running App delete table definition, if not it will created again!

[2017-03-07 14:55] SenerDemiral commented on #4123
If there is inheritance, Deleted parent deletes all children. (v2.4..)
For example:
If Simplified.Ring1.Something table were deleted, all Simplified.* tables also deleted.
Because, all Simplified tables are inherited from Simplified.Ring1.Something.

[2017-03-07 14:58] atifwaqar opened #4127 "Strange Issue Observed at AdFenix"
SC Version : 2.3.0.5828

I just experienced a very strange issue, I am unable to reproduce it, but it happened twice for me.
I have a page which contains a view-model with 2 nested child objects like this:
[code]
and code in JsonCodeBehind
[code]

The issue that I saw was that in my browser (chrome) data against `child` object was not correct, instead, it got a wrong child object with some other O

[2017-03-07 15:01] dan31 commented on #4127
CC @chrhol

[2017-03-07 15:04] atifwaqar commented on #4123
Tried that. Didn't work.

[2017-03-07 15:09] atifwaqar commented on #4123
Let me give a little background on this issue.
1. I have to change inheritance of `BookShowingConfig` from 'Concept.cs' to something else
2. So I clean (Delete data from) the table before running the code with changed inheritance.
3. After cleaning, I try to drop table. if I don't do this, my app(with changed inheritance) crashes when I run it. and on dropping table i am getting this error.

Now,

[2017-03-07 15:09] SenerDemiral commented on #4123
I tried on both version 2.3.0.5726 and 2.4.0.1213, it is working.

[2017-03-07 15:14] atifwaqar commented on #4123
Do you have access to AdFenix code repo?

[2017-03-07 15:17] SenerDemiral commented on #4123
No, I try to simulate on my tables.
Did you look Metada tables?
SELECT * FROM Starcounter.Metadata.Table m order by m.FullName

[2017-03-07 15:23] SenerDemiral commented on #4123
I'm sure you saw below document.
Docs -> Guides -> Working with Starcounter -> Database Refactoring
[https://docs.starcounter.io/guides/working-with-starcounter/database-refactoring/](url)](url)

[2017-03-07 15:41] atifwaqar commented on #4123
Aha, finally I can drop table. but a sequence is needed to do that.

1. Run all apps
2. stop app which has your target table
3. execute drop table query
4. stop DB (this is important, If I don't do this, and directly run my app, it crashes)
5. Run all apps

[2017-03-07 15:42] #4123 closed

[2017-03-07 16:00] dan31 commented on #4123
@atifwaqar was behaviour different to you in pre-2.3?

[2017-03-07 16:05] atifwaqar commented on #4123
Never noticed or tried it before.

[2017-03-07 16:07] dan31 commented on #4123
@Mackiovello can you jump in and verify that what @atifwaqar point in his comment https://github.com/Starcounter/Starcounter/issues/4123#issuecomment-284758478 is deducible from https://github.com/Starcounter/Starcounter/issues/url? (my guess: it is not).

[2017-03-07 16:22] Mackiovello commented on #4123
The second link is broken. Could you paste it again?

[2017-03-07 16:35] k-rus commented on #4126
I guess it is due to your refactoring. I believe there are objects in `FacebookPage`, which contain references to `AdFenix.Database.Concept`, while the type of the property was changed from `AdFenix.Database.Concept` to `AdFenix.Database.Content`.

[2017-03-07 16:36] k-rus commented on #4125
Can you provide information about the crash?

[2017-03-07 16:39] k-rus commented on #4121
I guess crash dump will be useful. See https://github.com/Starcounter/Starcounter/issues/3297#issuecomment-174574035

[2017-03-07 17:26] chrhol commented on #4127
Yes sounds strange.

Is `parent` and `child` properties in this example bound as well?
And is this just a sample or a piece of existing code?

[2017-03-07 17:51] atifwaqar commented on #4127
If by bound you mean they have the same structure in DB then yes. JSON in my view-model is same as my Db Table.

This is a piece of existing code simplified in a parent-child example. actual code looks like this:
[code]
One thing I can see here is maybe `ObId` is messing with some objects cuz its case insensitivity in queries. But I never experienced this sort of issue in 2.2. (Or maybe I never no

[2017-03-07 18:17] miyconst commented on #4121
Thanks @k-rus, I have enabled the dumps, and will see how it works out.

[2017-03-07 19:06] jwillmer commented on #4120
I have VS2017 on my system now. Waiting for Starcounter support :nail_care:

[2017-03-07 19:09] chrhol commented on #4110
Pushed to `v2.3` and `develop` branches now. Fix will be included in the next nightly build.

[2017-03-07 19:09] #4110 closed

[2017-03-07 19:46] chrhol commented on #4111
Pushed to `v2.3` and `develop` branches now. Will be included in the next nightly build.

[2017-03-07 19:46] #4111 closed

[2017-03-07 20:14] chrhol commented on #4122
Pushed to `v2.3` and `develop` branches. Will be included in the next nightly build.

[2017-03-07 20:15] chrhol commented on #4122
Needs to be documented somewhere...keeping it open until done.

[2017-03-07 22:47] erikvk commented on #4096
I have completed the performance profile for 2.3, available [here](https://1drv.ms/f/s!AkMzDM6Effk89ik8vBK43RiIMQTh). I will update that same directory with a 2.2 folder as soon as I get some time to downgrade

[2017-03-07 23:32] erikvk commented on #4096
The 2.2 folder is uploading right now. I figured a good solution was to downgrade tonight and run the performance profiler, and let you guys check it out tomorrow before I upgrade back again – just in case I need to rerun something on 2.2.

[2017-03-07 23:50] alemoi commented on #4013
@chrhol now, after this seems to be confirmed as a gzipping issue, I think these are very related.
I would like to discuss if its ok to drop gzipping completely, and serve all static files as is. Would need some input from customers about this.
In future we will anyway replace current static Web server.

[2017-03-08 00:46] ubbeK opened #4128 "Add <summary> to TransactAsync()"
Could we please add some `<summary>` on the `TransactAsync()` methods?

[code]

From `level1` it is easy to see that `Transact` is only a wrapper on `TransactAsync` or one may read about it on Starcounter.io ([Transactions](https://docs.starcounter.io/guides/transactions/), [More on transactions](https://docs.starcounter.io/guides/transactions/more-on-transactions/)) but it is much faster and easi

[2017-03-08 05:42] per-samuelsson commented on #4120
I hear you. 😄 I'll give it a go within upcoming days. If things work out well, and @andwah will find time to surface it in the installer, we can probably have it in a release within a week.

[2017-03-08 09:20] #4003 closed

[2017-03-08 09:49] chrhol commented on #4127
Might be, but if that was the case, then I think you would get an `CurrentPublicationOwnerDetails` object that you didn't expect and not an incorrect childobject.

The incorrect childobject, is it belonging to some completely different parent (or maybe not belonging here at all), or can it be that the reference in the databaseobject is updated at the same time it's used in a viewmodel?

[2017-03-08 09:58] dan31 commented on #3494
We have discussed that it is not recommended to kill all starcounter processes just to restart apps: this will require database to be started, which, in case of tens of gb-s in Db, require quite some time. Only stop apps, not kill Starcounter.

[2017-03-08 09:58] #3494 closed

[2017-03-08 10:03] atifwaqar commented on #4127
I got the correct `CurrentPublicationOwnerDetails` with an incorrect `childobject`

Yes, its belonging to some completely different parent.

No this is not the case.

[2017-03-08 10:09] dan31 commented on #3857
@atifwaqar I believe @per-samuelsson and @bigwad questions fully cover your question. @atifwaqar please also make sure that you and all your team members are fully accustomed to the current issue and also to a nice wrap-up from here: https://docs.starcounter.io/guides/working-with-starcounter/starting-and-stopping-apps/. Thanks!

[2017-03-08 10:09] #3857 closed

[2017-03-08 10:14] dan31 commented on #3082
This logic is lifted to Starcounter itself through more new issues. This one is archived.

[2017-03-08 10:14] #3082 closed

[2017-03-08 10:15] dan31 commented on #2802
I am not sure of usefulness of this issue, hence I close it until further notice.

[2017-03-08 10:25] dan31 commented on #3433
Archived. Feel free to re-open.

[2017-03-08 10:25] #3433 closed

[2017-03-08 10:28] atifwaqar commented on #4125
If I don't have try catch around this kind of long SQL, the app crashes and I can see following error logged in SC Admin Logs:
[code]

and my SQL query looks like following :
[code]

[2017-03-08 10:36] miyconst commented on #4125
It looks like the issue title is misleading. The `Db.SQL` crashes when passing a string parameter with length more than 5000 characters. @atifwaqar please update the title.

In your example the SQL query is only this:

[code]

And the rest are parameters.

As a solution for this situation I would recommend not passing entire response from Facebook as a query parameter, instead take a SHA1/256 or M

[2017-03-08 10:39] atifwaqar commented on #4125
@miyconst that's a good solution, I'll implement it. But in any case, App should not crash, it should generate an error notification in SC Admin Logs.

[2017-03-08 10:42] miyconst commented on #4125
Absolutely. Starcounter has to be very user friendly, and if something goes wrong, it should be clear what is wrong, and not just a crash.

[2017-03-08 11:23] chrhol commented on #4127
Alright, so something quite strange is going on then. As to what goes wrong is hard to say at this moment.

I see that the `Advertiser` property is also doing a query to get the reference, so (for now at least) this looks like a possible candidate for returning an unexpected object.

If we're trying to rule out possible sources where this error can happen, I can't really see anything in Starcounte

[2017-03-08 11:56] miyconst opened #4129 "There is a potential memory leaks in XSON when the detached objects are kept in RAM"
Investigation is going on.

[2017-03-08 12:55] dan31 commented on #3837
Related: #4013.

[2017-03-08 12:57] dan31 commented on #4125
![image](https://cloud.githubusercontent.com/assets/7162535/23704863/2fa4ee26-0407-11e7-8a7d-70fc61997336.png)

[2017-03-08 13:00] dan31 commented on #4125
The fix would be a better error message for such one case.

[2017-03-08 13:18] dan31 commented on #4120
This time we add it only to installer.

[2017-03-08 14:15] atifwaqar commented on #4127
I agree with @chrhol . And this is why title of this issue sounds like a book title :P
Also, I tried to reproduce it again today, but it's not reproducing. I will surely add more details here as soon as I experience it again.

[2017-03-08 14:17] atifwaqar commented on #4124
I keep getting this exception again and again. Please let me know when more details are added for this exception, so we install that SC version.

[2017-03-08 14:18] #3763 closed

[2017-03-08 14:18] #3752 closed

[2017-03-08 14:18] #3737 closed

[2017-03-08 15:09] un-tone commented on #4115
_(I tested **Website** with **People** app)_

The **HtmlFromJsonProvider** instance defined in the **People** app validates the JSON object which is already a **WrapperPage** object created by **Website**. In this case the JSON object is correct since it has a valid `Html` field, so the app doesn't throw an exception.

In this PR https://github.com/StarcounterApps/Website/pull/57 I added response

[2017-03-08 15:36] bigwad commented on #4096
@erikvk, thanks for the dumps.
On the positive side, dumps you provided gave a lot of information, although they miss symbol in some stack traces. I'm not sure why. Probably it's due to virtualization.

On the negative side, nothing in the dumps shows significant delay of 2.3 comparing to 2.2
Do you have starcounter logs of these runs, where I can see delays?

PS.
Seems there was no purpose bother

[2017-03-08 17:50] mtornwall commented on #3762
@atifwaqar Please confirm that you closed this issue intentionally.

[2017-03-08 17:51] mtornwall commented on #3762
Oh dear, I just realized that this issue is almost a year old. My bad. Closing again.

[2017-03-08 17:51] #3762 closed

[2017-03-08 20:07] chrhol commented on #4129
Conclusions so far: the memory leak is not a memory leak per se, but one that happens due to a number of smaller things working badly together.

The main reason is the versioning for arrays that is used to allow client and server being out-of-sync with each other. This together with a pattern of having a client that rarely sends a request to the server, the server doing a lot of pushing, and that

[2017-03-08 20:13] chrhol commented on #4122
@miyconst found one more improvement that should be done. Even if the comparer returns true (meaning it considers the dataobjects to be equal) the reference on the viewmodel instance should be updated to the   new dataobject.

This will allow the viewmodel instance being reused, without the need for any special hack, and this brings no additional cost for XSON.

I will add the (small) change so it

[2017-03-08 20:54] andwah commented on #4129
If i have an partial that displays a "clock" where the server updates the time by pushing out a new time each second. How can we clean up the logs in that case?. will a client "ping" be enough?

[2017-03-08 21:21] chrhol commented on #4122
Pushed to `v2.3` and `develop`

[2017-03-08 22:07] alemoi commented on #4013
Gzipping is now completely disabled in static file caching. We will reopen the issue if some problems occur with it.

[2017-03-08 22:07] #4013 closed

[2017-03-09 06:48] chrhol commented on #4129
No, the ping will not be enough. The ping only sends an empty patch today (by design) to avoid triggering a complete dirtycheck. In this case you will have this problem that memory just keeps growing, until the client sends a proper patchrequest or memory runs out.

I think maybe we should enhance the ping to send the clients serverversion to allow cleaning up unneeded versioning info, but still n

[2017-03-09 07:05] chrhol commented on #4129
@andwah: Just to clarify, if, every time you push you make changes in some array (i.e. add and remove items) then this would happen. If the only updates when you do the push is a timestamp for the clock then it will not be a problem.

[2017-03-09 07:26] andwah commented on #4129
@chrhol Thanks. Now i understand.

 In my case i make changes in arrays etc. and push them to a "passive" client.  so i'm looking forward for a solution.

[2017-03-09 07:55] per-samuelsson commented on #4120
Also intend to fix #3791 as part of this.

[2017-03-09 08:00] per-samuelsson commented on #4120
@dan31 (and others),

I'm also aiming at dropping every bit of code we have to support VS versions **older** than 2015, even in 2.3 RC. After that, the only support we have left is 2015 and 2017.

Please confirm in time before I eventually merge this one into main trunk.

[2017-03-09 08:28] chrhol opened #4130 "Enhance the client ping to include a test-patch for the clients serverversion."
Currently the keep-alive ping sent from the client is an empty patch (`[]`).  This is to avoid the ping triggering a dirtycheck for the serverside viewmodel.

As recently detected, in some occurrences, when passive clients are used and the server do a lot of pushes this can lead to increasing memory consumption until the server runs out of memory (#4129).

This is due to versioning information is

[2017-03-09 08:33] per-samuelsson commented on #3791
@Mackiovello

Can you help me out creating some good landing pages for the Visual Studio extension? The content initially is not important (could be blank), just some links I can point to where we could write something eventually.

With the Starcounter extension installed, here's how it look in Visual Studio 2015 currently (`Tools | Extensions and Updates`):

![image](https://cloud.githubuserconte

[2017-03-09 08:37] chrhol opened #4131 "Reduce the size of the stored versioning info for arrays in TypedJSON."
Currently, the stored info about changes done in an array that is needed to be able to transform an index is stored using the same list of changes that was used to create the patches. This list includes references to viewmodel instances and templates.

This is rather wasteful, since the only thing needed is for each change, the operation taken place (add, move, remove) and the index for it, which

[2017-03-09 08:43] chrhol commented on #4129
Issue for point 1: #4131
Issue for point 2: #4130

I think the third point is of a much lower prio, and maybe even works as it should. So lets wait with that one.

[2017-03-09 08:59] joozek78 commented on #4130
I think that's possible. Please note that @alshakero is currently taking
care of Palindrom (formerly PuppetJs)

On Thu, 9 Mar 2017 at 09:29 Christian Holmstrand <notifications@github.com>
wrote:

[2017-03-09 09:09] k-rus commented on #4125
According the stack trace the crash happens in the key filter builder. cc @alemoi

[2017-03-09 09:13] per-samuelsson commented on #4120
Not as easy as one had hoped for - extension deployment model seem to have changed in 2017 and after building the extension and trying to install it manually in VS 2017, I get warned it's not compatible.

https://channel9.msdn.com/coding4fun/blog/Its-Time-to-Update-Your-VS-2017-Extension-Manifest

[2017-03-09 09:23] per-samuelsson commented on #4120
Yep, seem we are in need of doing some more stuff for sure, and I need to go deeper into all the details discussed in these pages (including comments):

http://www.visualstudioextensibility.com/2017/01/10/its-time-to-change-the-vsix-manifest-of-your-extension-to-v3-for-visual-studio-2017-compatibility/

https://github.com/Microsoft/visualstudio-docs/blob/master/docs/extensibility/faq-2017.md#can-i

[2017-03-09 09:25] alshakero commented on #4130
From the first look I'd say it's feasible. Even easy to acheive. I'll investigate it a little bit and get back to you.

[2017-03-09 09:34] chrhol commented on #4130
Awesome, thanks! I need to do some changes on the server as well I think, so if we change this, we need to do it around the same time to avoid breaking anything.

[2017-03-09 09:35] per-samuelsson commented on #4120
The whole footprint story of Visual Studio has also changed, and the installer can no longer rely on the registry to find the installed VS 2017.

For all VS versions prior to 2017, it was possible to find the installation path via a registry detour. That's what our installer has relied on from the start. In 2017, that's no longer possible:

http://stackoverflow.com/questions/41106407/programmatica

[2017-03-09 09:35] alshakero commented on #4130
@chrhol that's what I'm planning to investigate, I want to build Starcounter and do the changes myself. I've read XSON code already and miss C# so bad. So I'll play around with it and then share my experience to make your life easier.

[2017-03-09 09:43] per-samuelsson commented on #4120
Seem to be other ways though, I guess I need to spend some time testing which one best fit our propitiatory installer:

https://github.com/Microsoft/vsixbootstrapper
https://github.com/Microsoft/vswhere

[2017-03-09 09:56] alshakero commented on #4130
@chrhol however, I'll give up on it after an hour or two if I don't seem fit for it 😄

[2017-03-09 10:05] chrhol commented on #4130
Let me know if you need any help. Just getting Starcounter to compile is a bit of work, and the code around  jsonpatch and versioning needs some improvement.

[2017-03-09 10:27] atifwaqar opened #4132 "View-Model is missing some data."
SC Version 2.3.0.5828

Case 1 Steps (Expected Behavior):
1. I go to `https://224.adfenix.com/adfenix/signin`
2. I login
3. In left panel, I click on `Admin Notifications` tab
4. I click on `Filter Type` dropdown list and I can see a list like following:
![image](https://cloud.githubusercontent.com/assets/4388707/23745687/6707403c-04b9-11e7-80fb-cb3225c18fdd.png)
5. I check Starcounter Debug Aid an

[2017-03-09 10:39] miyconst commented on #4122
Thanks! Now it seems to be working as it should.

[2017-03-09 10:56] per-samuelsson commented on #4120
Having some trouble understanding if 2017 support the [1.0 schema VSIX manifest format](https://msdn.microsoft.com/en-us/library/dd393700(v=vs.100).aspx) that we still use.

The schema format was completely rewritten in VS 2012, now versioned [2.0](https://msdn.microsoft.com/en-us/library/hh696828(v=vs.140).aspx), but all versions up until now has supported both formats.

Think I'll better update

[2017-03-09 11:59] Mackiovello commented on #3791
What kind of information do we want on this page? Is it a general Starcounter text of some sort?

[2017-03-09 12:07] per-samuelsson commented on #3791
I'm not sure TBH. Maybe @mmnosek or someone from the app team could advice?

But let's pretend I'm a developer (of apps) and I see that I somehow have this Starcounter extension in Visual Studio and I know nothing about it, where would I want to land when clicking [More information](?)? And [Getting started](?)?

I guess, for the former, on some spot teaching me about what Starcounter is in genera

[2017-03-09 12:13] per-samuelsson commented on #3791
I guess what would give us the greatest flexibility would be to reserve 4 URIs for the purpose, and postpone where they actually redirect you. Especially considering links are bundled with the software package and not easy to change once the go into the installer.

So something like:

2015 More Information - > starcounter.io/StarcounterVisualStudio2015MoreInfo
2015 Getting Started - > starcounter.

[2017-03-09 12:15] chrhol commented on #4132
Interesting.

There can be some peculiar behaviour when adding or removing items manually in a bound array (for example #3788) and I've never gotten around to implement a check for it. But since it looks like it's working when you don't load the whole page directy it might not be related to this issue.

I will take a look at it and see if I can understand what's happening.

[2017-03-09 12:22] alshakero commented on #4130
@chrhol OK, I gave up building Starcounter, fixed ~5 issues and still not building, don't want to waste my frontend time. We'll have to work on Palindrom side by side.

[2017-03-09 12:23] per-samuelsson commented on #3791
Also, @dan31, regarding:

If you want us to use some new icon and preview image, ship them this way please. Or you file an epic @dan31 commit to Level1 yourself! 🥇

For the icon file, this is the source:

https://github.com/Starcounter/Starcounter/blob/develop/src/Development/Starcounter.ico

For the preview image, this one:

https://github.com/Starcounter/Starcounter/blob/develop/src/Development/

[2017-03-09 12:23] atifwaqar commented on #4132
I shared the credentials on Hangout General Chat. You can log in and reproduce the issue live ;)

[2017-03-09 12:47] chrhol commented on #4130
:cry: we really need to improve setting up Level1 the first time. Some improvements have been done, but it's still too much work just to get it to compile.

I will do the serverside stuff then.

[2017-03-09 12:51] per-samuelsson commented on #4120
OK, so first step completed: I've now ran the first Starcounter application in VS 2017 after rewriting the package manifest as specified above, and installed the extension manually with the built .vsix file.

Considering the next step - extending the installer - seem to include quite some work, I propose we make that a separate issue. Then I can push what I have now, and anyone interested could st

[2017-03-09 12:53] alshakero commented on #4130
@chrhol my prelimary suggestion is to send the ping patch as any other patch (i.e with versioning), as opposed to only `[]`.

This is slightly different from your suggestion. It makes Palindrom modification much easier to send a _reset_ patch. With its versioning as any other patch.

Then the server could flush it's versions history when it sees this patch. It's something very similar to modifying

[2017-03-09 12:56] jwillmer commented on #4120
Nice documentation about the problems you are facing. If you fancy a blog post about I can offer you a platform for it 🥇

[2017-03-09 13:14] per-samuelsson commented on #4120
Haha, appreciate it. But everything that force me to be structured and think things through make me want to dig a hole, throw myself into it and refuse to come back up again until I'm promised I don't have to anymore. 💨 👾

[2017-03-09 13:21] chrhol commented on #4130
This is what we want to avoid.

The normal flow when the client sends a patchrequest is that the incoming patch is applied and outgoing patches are calculated. This last operation can be quite costly, mostly due to technical limitations on the server (bound values have to be accessed and compared with cached values to determine if they have been changed or not).

We actually had it like that in th

[2017-03-09 13:34] dan31 commented on #3791
@andwah could you please supply these locations with the freshest logotypes?
https://github.com/Starcounter/Starcounter/blob/develop/src/Development/Starcounter.ico
https://github.com/Starcounter/Starcounter/blob/develop/src/Development/StarcounterLogo.jpg
Currently they contain old. Thanks in advance!

[2017-03-09 13:38] chrhol commented on #5
I will close this issue now, since we removed gzipping altogether.

[2017-03-09 13:38] #5 closed

[2017-03-09 14:18] alemoi commented on #4125
We checked the code with @k-rus and its not that easy to put the check for size in one place, because the involved code is in many places. There are different ways to create a better error message but it would require rewriting a lot of code, and the exception message would be approximately the same. So we have to deal with it now by simply instructing customers not to use extremely long search ke

[2017-03-09 14:28] alemoi commented on #4125
To be precise the size limitation is in filter key construction managed code. There is no precalculation of the key size, because of performance reasons, so streaming into fixed size buffer is used.

[2017-03-09 14:35] alemoi commented on #4125
@k-rus do you think we can close the issue?

[2017-03-09 14:40] miyconst commented on #4122
Do we have any documentation for the StrictJson declaration?

[2017-03-09 14:55] chrhol commented on #4130
What if we send a complete patch (with versioning) but don't bump the version? So the ping becomes just an informational patch with current versions.

Then the server can detect that the version for the clients viewmodel is the same as the version it has locally, while the clients serverversion (if different) can trigger a cleanup.

So for example, two pings after each other without anything else

[2017-03-09 15:36] miyconst opened #4134 "The Starcounter-RC-2.3.0.5867 build has disappeared from the download page"
@chrhol did you remove it? @andwah, @alemoi what else could be the reason?

[code]

[2017-03-09 15:42] miyconst commented on #4134
The build is there once again. Why it happened to disappear? Any clues?

[2017-03-09 16:31] tomalec commented on #4019
Well in general the thing is we already published docs for V1 compatibility which is not yet ready.

Until further announcement, at our blog, you should still use `<content>`.
(We plan to release V1 compatibility by the end of this week)

[2017-03-09 17:01] dan31 commented on #3762
@mtornwall self-service from @atifwaqar. Thanks @atifwaqar!

[2017-03-09 17:07] andwah commented on #4134
the reason can be this.
When the upload is done from TeamCity to download server it will be unpacked and then displayed in the page, then it starts to pre-build version, if that fails the version will be removed, but in the background it retrys to build it a couple of times. if that is successfull then the version is re-added to the download page list.

[2017-03-09 17:12] dan31 commented on #4126
@atifwaqar does @k-rus answer your question?

[2017-03-09 17:46] per-samuelsson commented on #4120
Now I've ran it through a nightly build, grabbed the generated installer, and set it up that way too. Seem everything works, at least on my machine.

I'm going for this. What I like about that is that while we continue work on getting everything setup for the installer, we can verify the extension in VS 2017 on different machines and maybe even among partners that are willing to review how it work

[2017-03-09 18:06] per-samuelsson opened #4135 "Support installing of VS 2017 extension via principal installer"
Take off where #4120 finished. As part of that, it's possible to install the extension using a new `.vsix` file.

This next and final step is to get it all part of the installer.

[2017-03-09 18:11] per-samuelsson commented on #4120
First step now done, pushed and merged in https://github.com/Starcounter/Starcounter/commit/5e563807fa114fd34ce44a351a2b48026798b8b2.

With any 2.3 RC > 2.3.0.5867 it is now possible installing the extension manually:

Please report any weird behavior you might find if you decide to give it a try.

Next is to get it supported by the installer: #4135.

[2017-03-09 18:11] #4120 closed

[2017-03-09 19:39] andwah commented on #4135
@per-samuelsson Excellent progress. I will add the GUI Part. then i need @alemoi Help with the Installer engine.

[2017-03-09 20:19] alemoi commented on #123
This is an ongoing work in progress with separate issues etc.

[2017-03-09 20:19] #123 closed

[2017-03-09 21:42] dan31 commented on #157
No longer applies.

[2017-03-09 21:42] #157 closed

[2017-03-09 21:47] atifwaqar commented on #4126
Yes, but we are trying to find a way to fix it.
Do you guys have any suggestions on how to fix this?

[2017-03-09 21:48] atifwaqar commented on #3762
You are welcome :)

[2017-03-10 07:54] per-samuelsson commented on #4135
That is what I'm doing right now. I'm hoping we can leave @alemoi out of it.

If you can do the GUI once I'm done with integration in the installer engine, and maybe also take this: https://github.com/Starcounter/Starcounter/issues/3791#issuecomment-285352385, that would be great! 👍

[2017-03-10 08:18] andwah commented on #3791
@dan31 Looking into it now.

[2017-03-10 08:19] per-samuelsson commented on #4135
From #4120:

I've now spent some time testing both out, and it turns out the former is basically the later wrapped up in a convenient tool. It seem to fit our need pretty well, and my plan now is to

1. Bring it in as part of the distribution
2. Integrate it in the installer engine

The only concern I have now really is how they've changed the behavior of the underlying `vsixinstaller.exe`. We pre

[2017-03-10 09:49] per-samuelsson commented on #2705
The underlying problem here is how Visual Studio extension must work when launching apps, and that it has to differ from how it's done in other contexts.

The core problem:

1. Visual Studio projects build and start in parallel, with no idea of one another.
2. They all compete to start/restart/unload/reload **the same, single code host** and as a shared operation, the debugger must be predictably

[2017-03-10 10:50] per-samuelsson commented on #4135
Realized our installer also need a way to say *if* 2017 is at all installed (as a prerequisite), and that is neither possible to do the way we've done in the past.

I re-reviewed tools from above, and my best option now is to include also `vswhere` for that. The way it would go is that our installer would invoke that, parse the output (via redirected output stream(s)) and judge from there. Or if `

[2017-03-10 11:03] chrhol commented on #4132
I didn't read the snippet carefully enough it seems. I thought you added items to the bound array in it, but it's actually a different array you're adding items to.

So the problem here is when the whole page is serialized, instead of just collecting the changes, the array `AdminNotificationTypes` have already been processed and written when the `AdminNotifications_` is called. The reason it works

[2017-03-10 11:32] atifwaqar commented on #4132
Just moving the declaration will work? I though order of declaration doesn't matter in typed JSON.

[2017-03-10 11:42] andwah commented on #3791
Pushed new icons to `v2.3` and `develop`