[2015-12-13 12:35] eriohl commented on #3172
Resolved. Fix will be included in the next build. Thank you for reporting this.

[2015-12-13 12:35] #3172 closed

[2015-12-14 03:11] dan31 commented on #3178
Thanks to all for questions and follow-ups! For the upcoming versions of Starcounter, we plan to enhance the name resolution technique and make it more C#-ish. For instance, in the case @pluppplupp provides, if there is no ambiguity on the class name given in the query, we can simply resolve it from a short name. This is useful given a debug environment when you run app standalone. However, given

[2015-12-14 04:01] dan31 commented on #2965
CC @linkdata
My suggestion on here is that, if this doesn't show up dramatically in the tests, including some microbenchmark for TT (let's say, decrease is under 30%) and TPC-C test (unfortunately, haven't really seen yet if the test incorporate any of string ops) we can plan it into future releases and rather do more urgent items.

[2015-12-14 07:17] careri commented on #3131
Could someone trigger a build? There is no build from tonight.

[2015-12-14 07:18] careri commented on #3172
Could someone trigger a build? There is no build from tonight.

[2015-12-14 07:22] linkdata commented on #2965
There are microbenchmarks in the repo. IIRC, focus was on correctness first (TT3 has some serious issues), decoder speed second and encoder speed last, as according to @Starcounter-Jack, decoding is a much, much more common operation than encoding.

[2015-12-14 07:25] k-rus opened #3179 "Uploading installation failed due to disk space"
[Last nightly build](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_DevelopNightly&buildId=32612) failed with:

[05:47:44][Step 1/1] Error in response: System.IO.IOException: There is not enough space on the disk.
[05:47:44][Step 1/1]
[05:47:44][Step 1/1]    at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
[05:47:44][Step 1/1]    at System.IO.FileStre

[2015-12-14 07:25] k-rus commented on #3172
This is due to #3179

[2015-12-14 07:28] careri commented on #3172
Ah, hate when that happens!

[2015-12-14 07:47] per-samuelsson commented on #3178
@dan31 @k-rus

Thanks for taking the time to further elaborate on this, and I very well understand the reasoning you provide, and believe me, I *do* respect this step towards app-specifics in general. I think it makes sense.

But - I *still* think this one is going one step to far. You claim it will confuse our users with an inconsistent model if we dont do this. I claim it will confuse our users

[2015-12-14 07:51] per-samuelsson commented on #3178
Just as we've done before, very simple like that. If there is only one `Foo` table/class, we allow `SELECT * FROM Foo`. If another one come along, we fail the same query with an error saying that `Foo` must be fully qualified and provide the names of the full names of `Foo` we have detected.

[2015-12-14 08:13] miyconst commented on #3125
@andwah thanks for fixing.

[2015-12-14 08:13] #3125 closed

[2015-12-14 08:33] per-samuelsson commented on #3176
Some initial feedback on this:

1. I've started using them in my super-slim PIM, and the basics work fine as far as I can tell - now I can run the PIM standalone, just doing `localhost:8080/pim` to get a nice page up. :+1:
2. For some reason, a partial referenced from my main page does not render, and looking at the JSON in the debug aid shows me just 3 out of like 7-8 properties.
3. When I click

[2015-12-14 08:34] k-rus commented on #3178
I guess you mean Administrator here, since select everything is common for Administrator's SQL and should be avoided in application code. Then if Administrator become app specific as you suggest, the suggestion becomes reasonable. With the current database specific Administrator, the suggestion requires to treat SQL from Administrator differently, then from any other app. It is possible, since it

[2015-12-14 08:35] per-samuelsson commented on #3176
Oh, and more about 2+3 from above:

* The [2] partial is `IBound`, while [1] is not (and [1] works). Can that be a problem?
* One of the properties not being returned is "Html", which I guess is why it doesn't render. :smile:

[2015-12-14 08:37] pluppplupp commented on #3178
I've reproduced the problem once more. I get this problem when I execute a SQL query from the Admin UI using a query which references FullName Invoice. i.e. in my demo application "select * from StartCounter_InvoiceDemo1.Invoice". In the Invoice database class there is a property Total, and the query calculating the Total does not reference the FullName just Name of the database class. This causes

[2015-12-14 08:49] per-samuelsson commented on #3176
It seem to be related to the Mime type. For the ones that doesn't work, this statement

[code]

return `MimeType.Unspecified`, which I guess is not what we want? Alternatively, I've modelled this wrong.

[2015-12-14 08:52] pluppplupp opened #3180 "Service does not start automatically when installing starcounter"
I'm reviewing the starcounter tutorials. When I dowloaded and installed starcounter, it did not start after the installation process. The local service is also set to manual startup type.

A better experience when installing would be that it starts automatically.

[2015-12-14 09:07] warpech commented on #3180
Related: https://github.com/Starcounter/Starcounter/issues/2928

[2015-12-14 09:23] warpech commented on #3176
I see more than one difference between your app and StarcounterSamples, but let's take it one by one.

The most importantly, I wonder why it doesn't work when I access this page by a full page load:  `http://10.211.55.4:8080/pim/types/6`.

It seems that the JSON returned to the client is not the root of the partial. See the screenshot from the debug aid:

<img width="1438" alt="screen shot 2015-12

[2015-12-14 09:41] warpech commented on #3176
The above problem get's fixed when I remove this declaration from Partial.cs:

[code]

So it must be related to the implicit session. @miyconst it seems that you will need to tweak your idea

[2015-12-14 09:44] warpech commented on #3176
The problem is that the first `Partial` that creates the view model becomes the `Session.PublicViewModel`.

@chrhol do you remember discussing this? Wasn't the partial that is returned by `Handle.GET` supposed to become the `PublicViewModel`?

[2015-12-14 09:48] alemoi commented on #3180
The current reason is that service is not started when VS extension is installed. Starcounter starts upon first application start,  in this case.

[2015-12-14 09:52] pluppplupp commented on #3180
When running the tutorial, coding and starting the HelloWorld app did not start the service. So you do have to figure out what's going on and why your HelloWorld app doesn't work. It's not hard at all guessing that startcounter have a service that did not start. But maybe somewhat confusing for inexperienced developers ?

[2015-12-14 09:55] warpech commented on #3176
Until @chrhol can propose a fix, Problem 1 can be worked around by changing the line

[code]

to

[code]

This brings us to another:

**Problem 2**

When going to `http://localhost:8080/pim/`, then clicking on a link to `http://localhost:8080/pim/type/6`, the root properties of the view-model should be changed. Currently it is not the case. @chrhol any input on this one?

<img width="1431" alt="sc

[2015-12-14 10:01] miyconst commented on #3176
The initial idea was that only "Pages" will inherit from `Partial`, and by "Pages" I mean only those which will on the root level. Others should be just `Json`.

I am wrong?

[2015-12-14 10:05] warpech commented on #3176
Since partials can be nested at any level, I think it is the best if no such assumption is made. Note that both `Json` at `Page` work at any level.

[2015-12-14 10:11] per-samuelsson commented on #3176
Exactly. Thats what I tried to describe with this:

Guess that was to unclear somehow. :smile: It did return the full result when the code behind derived `Page`. When I switched to `Partial`, this behaviour was introduced.

[2015-12-14 10:15] per-samuelsson commented on #3176
[code]

to

[code]

Well, OK. But then it feels I'm not really testing the `Partial` class anymore, which was what I gave feedback on. :sunglasses: Like I wrote, when I had `Page` as the base class, everthing worked fine. Just revert the last commit and test it if you like. (But you need the launcher to do so o/c).

[2015-12-14 10:28] per-samuelsson commented on #3180
Thanks a bug if so. It should. Its [this one](http://starcounter.io/tutorials/hello-world/) you are referring to, right?

See above.

[2015-12-14 10:29] pluppplupp commented on #3180
@per-samuelsson Yes, that is the first tutorial app after installing.

[2015-12-14 10:39] careri commented on #3179
Any progress? Now the newest build is from the 6th December

[2015-12-14 10:40] alemoi commented on #3179
Attaching this one: https://github.com/Starcounter/Starcounter/issues/3071
@dan31 please prioritize this issue with @andwah

[2015-12-14 10:47] mtornwall opened #3181 "Question: Forcing a JSON change notification"
I have a JSON viewmodel with a notification string that gets displayed using a `paper-toast` element. The notification gets updated periodically, whenever the user should be notified of something. Occasionally, I want to display the same message twice in a row, so as far as the JSON layer is concerned, the value never actually changes.

Is there any way to force a patch to be generated even if the

[2015-12-14 10:54] miyconst commented on #3181
What kind of patch do you want to generate?

Can you create two properties, like `MessageText` and `MessageVisible`? If so, then you can send a change patch for `MessageVisible` property.

[2015-12-14 11:23] per-samuelsson commented on #3180
Thanks.

A follow-up on this: how did you tell it didn't start? Was there an error? Or did you look at the *windows service*, to see its status?

If it was the latest, we vary how we run the *Starcounter server*. Normally, we run it as a *windows service* only when we consider the installation to be a production environment. Otherwise, we run it in the same Windows session as the logged-in user. H

[2015-12-14 11:35] pluppplupp commented on #3180
I coded the HelloWorld example. Then run the app from VS.NET. The tutorial says "goto admin UI and look at the output".. I think I just got an 404 when browsing..

I tried to reproduce it by stopping the service and running the HelloWorld project. But now it works. So I cannot reproduce it. Maybe just a glitch :) I could try to reproduce it by uninstalling and redo the process again. I'll look int

[2015-12-14 11:41] per-samuelsson commented on #3180
OK, thanks. You don't have to retry if you have other stuff to focus on. Just wanted to make sure this was not a reproducable bug we didn't know about. A glitch is not good either, but lets just wait until we see if it happen again, and we can look at it there and then.

[2015-12-14 11:42] pluppplupp commented on #3180
Ok!

[2015-12-14 12:41] alemoi opened #3182 "Apps tests is failing on pnext"
Here is the error:
[code]
Build log: https://scbuildserver/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=32670#_focus=8240

[2015-12-14 12:51] miyconst commented on #3176
Fair enough. Well, I don't have a better idea how to solve this issue, but I really don't want to manually create session each time I am going to use implicit standalone mode.

[2015-12-14 12:53] jwillmer opened #3183 "Database browser"
I think it is a good idea to have a database browser to display all data in the database. I know it could be complicated to archive this with the isolated app concept but for an admin or developer who is searching for a bug in the data that would be supper convenient.

[2015-12-14 12:54] miyconst commented on #3183
Good idea. Was also requested by me a year ago and by TargetEveryOne guys.

[2015-12-14 12:55] warpech commented on #3176
I think that Problem 1 and Problem 2 are related to the behavior of Session, so they should be solved in Session not in Partial. Let's wait for what @chrhol has to say.

[2015-12-14 12:57] malx122 opened #3184 "Weaver can't handle removed properties when type is removed."
I have a class looking like this:
[code]
I create a couple of instances of ExampleClass in the DB.
Then I change my Code to:
[code]
I remove the MyEnum type BUT ALSO removes the property using it. I still get a weaver error
(Concepts.Ring8.Tunity.GanttAccessLevel is the removed enum):
[code]

[2015-12-14 12:59] andwah commented on #3179
i have freed up some space by deleting available version's.

[2015-12-14 12:59] malx122 commented on #3184
I actually just renamed both the enum and the property. I know that I should loose the value that way but needed to be done. However, I can't see why the weaver should fail.

[2015-12-14 13:00] malx122 commented on #3184
Clearing the cache has been tested without luck!

[2015-12-14 14:15] mtornwall commented on #3181
I want to generate a patch that always changes the value of the `NotificationMessage` property, regardless of whether it was "changed" to its current value.

Right now I'm doing something similar: I'm incrementing a counter that causes the toast to be displayed again.

[2015-12-14 14:19] miyconst commented on #3181
This is somehow against the algorithm. The change should represent a change in the view-model, but if there were no change, what to represent?

You can set the value to `null` after showing it, then next time the patch will be generated again.

@warpech what do you think?

[2015-12-14 14:24] warpech commented on #3181
We [don't support nullables in JSON](https://github.com/Starcounter/Starcounter/issues/3144) but very similar pattern is used in [puppet-redirect](https://github.com/PuppetJs/puppet-redirect): After rendering, the client changes the value to `""` (empty string) so that the server can change it again.

[2015-12-14 15:13] warpech commented on #3179
Seems fixed now

[2015-12-14 16:04] k-rus commented on #3182
@alemoi Is it you added the test from ignored into the build? The build fails now and is showstopper for developers. Can you fix it?

[2015-12-14 20:51] per-samuelsson commented on #3183
Just to be clear: are we talking about a tool that display the *schema*, or the *data* (in which case it would be both, I guess)?

A schema browser has been requested several times over the years. A data browser I don't recall I've ever heard anything about. Not sure it will be usable (and thats what we should have query langagues for... well, sort of :smile: ).

[2015-12-14 20:57] miyconst commented on #3183
I think, it should be schema browser with possibility to automatically execute

[code]

On any table.

Also the navigation properties should be clickable.

[2015-12-14 21:02] per-samuelsson commented on #3184
@malx122

Thanks for reporting this. It looks like a clear bug. What you did or didn't do in terms of creating instances in the database is totally irrelevant. The weaver operate on (the binary) code only, trying to validate and transform it. The weaver has nothing to do with the database data at all.

What you are trying shouldn't be any problem either. I'd say its a standard case. But I guess it

[2015-12-14 21:17] per-samuelsson commented on #3183
@miyconst

Yeah, thats what is usually requested. I've always thought of it as something like [.NET Reflector] (https://www.red-gate.com/products/dotnet-development/reflector/), scoped only to properties/fields targetting the database.

Minus methods and the ability to see the code.

And plus the ability to do those selects, now that you bring that into the mix!

As for implementation, in the hist

[2015-12-14 21:26] alemoi commented on #3182
Yes, I added this after it was decided today to add tests that will fail the build: @dan31 @bigwad @linkdata
That was the first one I found failing simply :) Lets discuss this since its quite controversial.

[2015-12-14 21:28] alemoi commented on #3179
@andwah temporary fixed the empty space. He will soon properly fix the thing.

[2015-12-15 06:15] miyconst commented on #3183
@per-samuelsson you described it almost same way I see it. The only one major difference is that I would like to run it in Administrator.

Let's say developer has some issues with his launcher or whatever, which result in not working solution on hist screen. This should not break up debugging tools, and this app is a debugging tool.

Thanks for giving me such privileges. I have similar project to

[2015-12-15 06:59] dan31 commented on #3182
@alemoi why are failing tests are showstopper in our case? How it should be adjusted that people still see how much tests failing and not have it as a showstopper, but let them gradually reduce amount of failing tests instead.

[2015-12-15 07:33] k-rus commented on #3182
This is showstopper for developers, e.g., for @alexanderstc and @chrhol work on schema upgrade.
Please, guys fix the issue. If you want to fix more, there are number of issue in issue tracker. For example, there is disabled code in QueryProcessingTest, which waits to test.

[2015-12-15 07:39] k-rus commented on #3182
I marked as showstopper as failing build is a showstopper, Furthermore, there was a request to build artefacts from @per-samuelsson some time ago. The artefacts also will be needed to be able to install and test on non-development machines. And I guess it will be needed quite soon. Note that Artefacts are not built if tests are failing.

Before gradually adding tests, fix #3042.

[2015-12-15 07:57] chrhol commented on #3087
I noticed this behaviour when testing schema upgrades. The newly created layout gets GC:ed and you get a false positive for doing an upgrade leading to an error.

How much work do you think it is to fix this?

[2015-12-15 08:00] careri opened #3185 "Db.Transact signature improvments"
Is there any chance of adding a few overrides to Db.Transact so it operates more like Db.Scope?
I mainly refer to the ability to provide arguments to the called function and also using Func to return values
[code]

[2015-12-15 08:03] k-rus commented on #3087
Current work around can be to recreate auto index on new layout.

[2015-12-15 08:04] chrhol commented on #3185
Duplicate of https://github.com/Starcounter/Starcounter/issues/2822. I will close this one and keep the other one.

[2015-12-15 08:04] #3185 closed

[2015-12-15 08:05] eriohl commented on #3087
I'll start looking into this today. If it is an issue we can, a temp fix, disable the GC?

[2015-12-15 08:06] eriohl commented on #3177
Done.

[2015-12-15 08:06] #3177 closed

[2015-12-15 08:08] alexanderstc commented on #3087
I'd be happy to help - to provide some api on the metalayer, which kernel can use to find out if a layout is in use, or to call some kernel api whenever metalayer registers/deregisters a layout.

[2015-12-15 08:10] chrhol commented on #3087
I dont think that that will be needed. We can wait for the proper fix.

[2015-12-15 08:36] eriohl commented on #3087
It will be a bit of a fix for now regardless I fear because DM is not aware of meta-data tables currently.

Best approach I think is for the GC to check the "RawView" table. Then is can just add a reference to the layout for each reference from this table. And we are done. I'm not entirely sure how to best do this however since, as mentioned, DM isn't aware of the meta-data tables.

[2015-12-15 08:38] alexanderstc commented on #3087
How/how often to detect the changes?

[2015-12-15 08:45] eriohl commented on #3087
GC currently only runs after load. Possibly it could also run each time all IWPs are disconnected but it is not possible to run while a IWP is connected (and data is being updated).

[2015-12-15 08:58] k-rus commented on #3087
What's about suggestion from @alexanderstc to call kernel API when metalayer register or unregister a layout? Can it allow kernel to know that the layout is still in use?
I understand that it is not a beautiful solution, but I don't see such. And I think it is better than kernel knows about meta-data structure.

[2015-12-15 09:12] careri commented on #2822
Transact will throw an exception if failing after x retries right? So you really wouldn't need the Nullable<T> since it will never return if failed?

Otherwise maybe the Try-pattern is a better fit?
[code]
etc

[2015-12-15 09:17] careri commented on #3131
Seems to be working, Thanks

[2015-12-15 09:18] bigwad commented on #3139
@k-rus, [here](https://github.com/Starcounter/CompanyTrack/issues/137#issuecomment-158057457) in pp 11 and 16 you make some statements about types and layouts. If summarize - different types may refer to the same layout, but not to the same setspecifier.
I want to unambiguously find typename base on layout. Obviously, it's not possible if above statement is true.
So the questions are:
- is it actu

[2015-12-15 09:38] malx122 commented on #2772
Bump!
My ugly workaround code is not working well and I'm now out of ideas!
And no, I probably need them to be exposed externally as well!

[2015-12-15 09:42] eriohl commented on #3087
References are not stored in database but evaluated by GC. So that won't work. GC need to be able to find the reference.

[2015-12-15 10:08] k-rus commented on #3139
No, it is not implemented so, but it will be changed in future.
It will be needed, e.g., for dynamic types. So the assumption is that the same layout can be used in objects of different types.

Normally, you don't search type by layout. Each record knows its type from set specifier. Each type has an expected layout, which is used for creating records. This information is stored in meta-data. For d

[2015-12-15 10:14] bigwad commented on #3139
What kind of "future" do you mean? Is it going to be changed in upcoming release or it's a far future plans?

My task is not normal. So I assume, that now layout is enough, but in the future setspecifier will be required. The crucial question - when will this future come?

[2015-12-15 10:20] per-samuelsson opened #3186 "Removing baseclass, moving field/property to derived class does not show the data"
@malx122 reported a case which I have tried to isolate and show below.

Having this application:

[code]

and running it once produce a `Test` instance that has `Data` equal "Hello".

Now he's changing it to this:

[code]

The `t.Data` is now **null**, where he expects it to be "Hello" still.

When modelling this, I ran it on my machine, and can confirm thats how it works too.

[2015-12-15 10:27] malx122 commented on #3186
Just for information, if Base had been built on a even more "SuperBase" class as well with a property and Test had gone over to use that SuperBase class instead of Base. Then the propertys of the SuperBase class would still work good in the new Test. (So its only the properties of the removed class in the "chain" that gets lost)

[2015-12-15 10:51] alemoi opened #3187 "pnext: logopt.exe stays hanging in pnext builds, blocking the whitelist cleanup"
The new process logopt.exe is not killed by "staradmin kill all" (or some other means) which make it impossible to do white-list cleanup in pnext. Here is an error:

[code]

Here is the build:

https://scbuildserver/viewLog.html?buildId=32706&buildTypeId=Starcounter_PnextDailyWindows&tab=buildLog

[2015-12-15 11:07] k-rus commented on #3139
I don't plan future. I guess there is few months before.
If you understand that your current solution is temporal and you plan to work on a proper solution soon, then it is probably acceptable to implement current work around using layout.
I just want to make sure we don't run in trouble in future

[2015-12-15 11:15] per-samuelsson commented on #3184
I talked this through with @malx122 off-tracker, and we suspect there was something situational in that environment, and its not stratightforward to reproduce. Most likely depended on orphaned old artifacts.

I'm closing this. Let us know if you want this reopened @malx122.

[2015-12-15 11:15] #3184 closed

[2015-12-15 11:17] alemoi opened #3188 "Develop Nighty failed with Launcher app test failure"
Here is an excerpt from the build log:
[code]

https://scbuildserver/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=32684#_focus=6718

[2015-12-15 11:33] tomalec commented on #3072
This also blocks clean solution for  https://github.com/PuppetJs/puppet-redirect/issues/1

[2015-12-15 11:48] eriohl commented on #3087
Would is be possible to create a constant for the set specifier on RawView "table" and the column index on LayoutHandle column in this table. This is basically what I need but figuring this out seems a bit of a hazzle. @k-rus @alexanderstc ?

[2015-12-15 11:52] alexanderstc commented on #3087
Technically it's quite possible. However, @k-rus was leaning towards metalayer providing a clean api for kernel needs, so the kernel wouldn't have to dig around metalayer bowls / know the metaschema etc.

[2015-12-15 11:53] per-samuelsson commented on #3183
By chance, it turns out that @andwah made some kind of mock of this just a few days ago. Still just local on his machine, and not production-ready, but I pointed him here and he'll update here when he get the chance to work on and refine it.

[2015-12-15 11:57] eriohl commented on #3087
I agree with this in principle. Although I think I will have to duplicate a lot of code from meta-layer to implement this fix. But ok: I'll try to do this from the fixed tokens and see how it goes.

[2015-12-15 12:07] alexanderstc commented on #3087
@k-rus and me would rather give you a nice clean metalayer api function which will do all the digging in the RawView table, so you wouldn't have to re-implement metalayer code in the kernel.

[2015-12-15 12:09] k-rus commented on #3186
Thank you for reporting.
It is necessary that someone looks into the code to see which cases are supported and which not. So no answer right now. More importantly the schema upgrade is being reimplemented and it will not work in the same way.

[2015-12-15 12:12] careri commented on #3064
What's the best way of achieving this at the moment? Are there commit hooks?
@per-samuelsson

[2015-12-15 12:20] eriohl commented on #3087
That would be welcome of course.

Could implement support for a subset of the sccoredb API on data manager. Problem is that it can't be fully supported. Will be a lot of work and won't be plug and play anyway.

[2015-12-15 12:40] k-rus commented on #3087
As @alexanderstc pointed it is possible, but will require some time to do it in general way.

Am I correctly interpret this as metalayer cannot use kernel iterators to iterate data at this point?

[2015-12-15 12:55] eriohl commented on #3087
At this point you can't do very much on DM at all. Iterators and other read-only operations can however be supported with a bit of work. Problem is updates. These can't work the same way on DM.

Currently I'm just looking for the easiest way to solve the problem that is unlikely to lead to a lot of work compensating for the fix in future.

[2015-12-15 12:59] eriohl commented on #3087
Best approach I've found so far:

1. Find token for "RawView". Lookup layout on token.
2. Find token for "LayoutHandle". Find column index in layout using token.
3. Find token for "RawViewPK". Lookup index on token.
4. Iterate "RawViewPK" index (it only contains RawView records), and read which layouts are referenced.

Tokens you can lookup using the InvariantName index for which the token is a co

[2015-12-15 13:04] eriohl opened #3189 "pnext: Support create layout with base layout created within the context of the same transaction"

[2015-12-15 14:16] k-rus commented on #3087
We already have some support for token constants. To support token constants should not take much time, I guess. We will create them.

(Creating constants for setspecifier and column index is much bigger task, while tokens are straight forward, since we already have them.)

[2015-12-15 14:26] careri commented on #3064
I've figured out how to register the Hook<T>.CommitInsert.

But it seems to me like this hook is trigger during the commit? Not after the commit is written. So running a task using the new item on another thread (DbSession.RunAsync) will throw an exception InvalidObjectAccess exception.

Is this correct?
@eriohl  @per-samuelsson

[2015-12-15 14:49] eriohl commented on #3064
Commit hooks are triggered at commit (not after commit completed) yes.

[2015-12-15 14:50] eriohl commented on #3087
Ok. I'll do something else until we have the constants then.

[2015-12-15 15:10] andwah commented on #3183
For the moment i posted the app "DatabaseEditor" in the appstore under the "smörgåsbord" store.

***Be away it's still an early prototype.***

[2015-12-15 15:23] per-samuelsson commented on #3183
Great!

You mind open-sourcing it too? Suggest eiher under your personal hub or under `StarcounterSamples` (but you might want to check that with @warpech / @miyconst). I think its one of those tools we can several people involved in eventually.

[2015-12-15 17:28] andwah commented on #3183
Absolutely!. that is my intention!. but i like to get past the "prototype" stage first :-)

[2015-12-15 22:04] alemoi commented on #3182
As decided, I have created a nightly build with failing tests enabled. I will add failing tests gradually there.

[2015-12-15 22:33] alemoi commented on #3038
The curly braces fix are now pushed to develop. Backwards compatible.
Here is an example, I pushed for Products app:
[code]
Change log updated.

Additional change: Its no longer possible to register handlers with same signature. For example, one can't register handler "GET /{?}" with string parameter, and handler "GET /{?}" with integer parameter.

[2015-12-15 22:34] #3038 closed

[2015-12-15 22:53] alemoi commented on #3036
Added improved ontology map API via 18d2122dbf0d9ea9498d4547e74a1c35d28456a2
Updated the Products app as example:
[code]

[2015-12-15 23:09] miyconst commented on #3038
Thanks @alemoi!

Did you add a deprecated warning for the old `@w` syntax?

[2015-12-16 00:05] alemoi commented on #3038
Could not deprecate that unfortunately, because its the same method signature as URI with curly braces.

[2015-12-16 00:22] miyconst commented on #3038
Okay, then leave it like this.

Eventually we will drop support for the old syntax, not now though.

[2015-12-16 00:25] miyconst commented on #3036
Cool! Thank you!

[2015-12-16 07:19] per-samuelsson commented on #3183
Stop being shy like that. :sunglasses:

[2015-12-16 07:22] per-samuelsson commented on #3064
And for the record, this is nothing that has changed, thats the way they've been implemented always. That makes it possible for the hooking part to abort the transaction, if some condition(s) are not met.

[2015-12-16 07:34] per-samuelsson commented on #3186
I suspect that refactorings like this, affecting data, will be a growing concept and something we must improve on while more users come along. I think it deserves a label, hence I created "Database refactoring".

[2015-12-16 07:41] careri commented on #3064
Ok, what's the time plan for the Transaction Log events?

[2015-12-16 07:48] careri opened #3190 "QueryResultRows long running?"
Is there anyway of having a long running QueryResultRows. I'm thinking in the terms of having an instance that will find new items in the database. In this example I try to call MoveNext on an instance that might previously have returned false (there were no items at that moment). The reason to reuse the same instance is to keep track of which items have been returned.

It seems like this approach

[2015-12-16 08:22] miyconst commented on #3183
Come on @andwah, publish it on GitHub, so we can all work on it.

[2015-12-16 08:29] per-samuelsson commented on #3190
@careri

What would be the problem just reshooting the query on each pulse? I mean, I doubt what you are trying here is standard behaviour in any kind of platform? (I'm really not an expert, but just guessing).

[2015-12-16 08:53] chrhol commented on #3142
I think I'm just about finished with this issue. I added a regressiontest for testing the parts of the schemaupgrades that we support and that tests that no data is lost.

Got some weird problem when both SO and Simplified is loaded so want to investigate that a bit before I merge my branch to PNext in case I messed something up.

[2015-12-16 08:56] chrhol commented on #3187
I can take a look at this. Would be nice to have it running properly.

[2015-12-16 09:23] careri commented on #3190
Not a problem, the thing is that I than have to loop/filter the query myself to find the last item already processed and return the next one if any.

Would have been simpler (for me, not for you) to just call MoveNext again to see if any new records are available. I understand that this requires the rows to be sorted, and that items added before the last item according to sort would not be returne

[2015-12-16 09:28] per-samuelsson commented on #3190
And

[code]

is no good?

[2015-12-16 09:32] k-rus commented on #3142
There are schema upgrade regression tests in TestApps, like 3LevelSchemChange. You can use them to test and you can add more regression test based on your current tests in a similar way.

[2015-12-16 09:54] careri commented on #3190
That's exactly the solution I implemented already. Just would have been simpler/cleaner to reevaluate MoveNext.

Simpler for me that is :)
This solution is fine, just wanted to now if it was possible,

You can close this issue as far as I'm concerned

[2015-12-16 09:55] careri commented on #3190
Or actually your solution wasn't exactly how I implemented it. I have a unique sort id, your solution might skip over a couple of items if they have the exact same timestamp.

[2015-12-16 10:27] per-samuelsson commented on #3190
Bah! `WHERE l.Created > ?` => `WHERE l.Created >= ?` then? :smile:

OK, so closing this. Let us know if you want to discuss it more and we'll reopen it.

[2015-12-16 10:27] #3190 closed

[2015-12-16 10:52] ivarbergman opened #3191 "How to trigger a json dirtyCheck?"
Hi!

As far as I can see the  [json-patch-duplex.ts](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.ts)  performs a dirtyCheck either on mouse/key events or on a timeout basis.

This results in a annoying delay in some parts of our apps when the json data is changed without any user mouse/key activities.

Are the some recommended ways to explicitly force a dirtyCh

[2015-12-16 11:03] ivarbergman commented on #3118
Another important use case for us is to at least allow the application to register multiple handlers, coded in such way that I make sure only one of the handlers return a non empty result.

[2015-12-16 11:21] alemoi commented on #3118
@ivarbergman it would be nice to reproduce it! Regarding the multiple handlers returning one result, will the wrapping handler (that underneath calls these handlers and returns just pne response) solve this problem?

[2015-12-16 11:26] miyconst commented on #3191
@tomalec, me and @warpech were also curious about this question.

[2015-12-16 12:41] #2743 closed

[2015-12-16 12:46] alemoi commented on #2541
Since we made a lot of work regarding the session timeout and heartbeat (https://github.com/Starcounter/Starcounter/issues/3084) - I guess I can close this issue as well.

[2015-12-16 12:46] #2541 closed

[2015-12-16 13:53] careri opened #3192 "Transaction Conflict"
Is there any way of enabling more logging for why a conflict occurs? I'm trying to reproduce my conflict with less code that I could publish here. But I can't reproduct with a simple example.

And I can't figure out why I get a conflict. So is there any way of getting more info?

[2015-12-16 13:57] per-samuelsson commented on #3192
@careri

Good question. I don't think there are, but others probably know this better.

/cc @eriohl @k-rus @linkdata @chrhol

[2015-12-16 14:28] atifwaqar opened #3193 "NullReferenceException in MetadataPopulation when starting app"
I have 2 projects in my solution, 1 is working and running fine. but the 2nd one is crashing, and as soon as i run it, it stops the rest of the solutions. I am getting the following error in the StarCounter Error Log :

"System.NullReferenceException: Object reference not set to an instance of an object.
 at Starcounter.SqlProcessor.MetadataPopulation.<>c__DisplayClass4.<PopulateClrMetadata>b__3()

[2015-12-16 14:33] eriohl commented on #3192
No there is not I'm afraid. What specifically are you looking for? Id of record(s) in conflict? What do you intend to use it for?

[2015-12-16 14:37] per-samuelsson commented on #3192
I'm guessing mainly like a way to diagnose a problem, considering this:

[2015-12-16 14:43] per-samuelsson commented on #3193
@atifsheikh

Thanks for reporting this. Its not easy to say exactly why this happens just from tha stacktrace, but lets try finding that out.

First, regarding this

can you be more specific what a) exactly is happening add b) what you would expect / want? Is it so that first you start your first application and that suceeds, and then you start the second one, which crash, and that stops the first

[2015-12-16 14:48] per-samuelsson commented on #3193
And about the actual crash, can you find any pattern in your application as is described in #2428, i.e. do you have some database class with just private data?

There's also an old issue #2547 that experience something similar, but I'm not sure it applies here.

[2015-12-16 15:02] bigwad commented on #3187
@eriohl, I'm going to fix it by creating a job object for logopt. And I don't see the code to cleanup orphaned temporary files - will fix this as well.
Any objections?

[2015-12-16 15:14] careri commented on #3192
Yes, it would be awsome  you could enable some slower diagnostic with ID and field ID. It could even be some special diagnostics build of the kernel.

I can reproduce all the time now. First attempt fails, second is successful. I'll try writing some own diagnostics tomorrow.

[2015-12-16 15:23] bigwad commented on #3187
Will create a job object for scdblog, thus logopt will belong to it automatically.

[2015-12-16 15:30] bigwad commented on #3187
Oh, wait. We don't want scdblog to die immediately once scdata had died. scdblog should flush data and dies after then. Right? So, back to original idea and make job object for logopt only.

[2015-12-16 16:10] warpech opened #3194 "Administrator should be using /sys/ dependencies"
The following libraries are distributed and maintained in the Starcoutner's `/sys/` folder, so there is no need to distribute them separately in the Administrator:

- https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Administrator/app/js/json-patch-duplex.min.js
- https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Administrator/app/js/puppet.js

[2015-12-16 16:29] eriohl commented on #3192
Conflicts are detected on record level, not field level. We do not track which fields has changed. So maybe some misconception on this is why you can't figure out why you get a conflict?

What I meant was why you worried about why you get a conflict in this particular case? Generally they are almost impossible to avoid completely (unless you are only running one transaction at a time) and in gener

[2015-12-16 16:58] bigwad opened #3195 "pnext: scdata doesn't respect death of scdblog"

[2015-12-16 17:00] bigwad commented on #3195
Keeps running and performing writes.
CC @eriohl

[2015-12-16 17:31] bigwad commented on #3187
Fixed. logopt now is automatically terminated once scdblog dies.
As to orphaned temporary files - I'll create new issue for this.

[2015-12-16 17:31] #3187 closed

[2015-12-16 17:33] eriohl commented on #3195
(pnext issue: in previous versions scdata does not send log entries to scdblog).

[2015-12-16 17:35] bigwad opened #3196 "logopt: may leave orphaned temporary files on crash"

[2015-12-16 17:36] eriohl commented on #3195
It will detect it eventually when log buffer fills up. But yes: It should of course detect it as soon as possible (I thought there was an issue for this already).

[2015-12-16 18:00] eriohl commented on #3196
There is also the issue of removing replaced checkpoints. I was planning to put some effort into this when time allows. Maybe we can incorporate cleanup of these files in this (the current idea is that this is to be done on starting log writer and after new checkpoint has been created).

https://github.com/Starcounter/Starcounter/issues/2882

[2015-12-16 18:40] eriohl commented on #3189
Done.

[2015-12-16 18:40] #3189 closed

[2015-12-16 21:05] per-samuelsson opened #3197 "Refine / suggest pattern to include nested partials in "container" pages / templates"
This is something I've been considering and reviewing for quite some time today, and I've asked and discussed it with @warpech.

Basically, the main pattern now is something like that used [here](https://github.com/StarcounterSamples/Products/blob/master/src/Products/ViewModels/EditProductPage.json.cs#L30). Our idea is to refine this, and we'll have discussions about this tomorrow.

I'm bringing i

[2015-12-17 07:13] careri commented on #3192
Morning!

The thing is that I have one http service that creates one item-record in a Db.Transact for each call to the service. The item-record has a sequence number (unique combined index) in combination with it's head-record. When the record is created the sequence number counter on the head-record is increased and stored on the item-record.

I then have a consumer that reads (no write) item-rec

[2015-12-17 07:53] careri commented on #3192
Here's code that will reproduce:
[code]

[2015-12-17 08:19] per-samuelsson commented on #3192
Wow, what a nice sample to reproduce from. Thanks for the effort! Lets see where we get on this.

Not at all sure it matters for this case, but a *delete* would qualify as a modification. If you delete, you are no longer doing read-only processing.

[2015-12-17 08:25] k-rus commented on #3192
Consumer transaction will conflict with each other when they try to delete the same record. As I see in your code your transactions contain wait, which means that they will run too long and it will increase the probability of the conflict.
General practice is that snapshot isolated transactions, which guarantees consistency, should be short running. There should not be any waits, IOs and other exp

[2015-12-17 08:41] careri commented on #3192
There is only one consumer thread. It should not conflict with any of the provider threads.
The item has been written by one provider and commited.
The commit hook then triggers an available item. Which the consumer will consume. The item didn't exist when the Db.Transact was created, is that the problem? That I delete an item that didn't exist when I started my Db.Transact?

[2015-12-17 08:43] careri commented on #3192
This is wrong

There is only one consumer thread and therefore only one consumer transaction

[2015-12-17 08:43] k-rus commented on #3192
I think it should be the problem. @eriohl can you confirm?

[2015-12-17 08:45] careri commented on #3192
I hope that is so, then I understand and can solve the problem.

[2015-12-17 08:49] k-rus commented on #3192
From theory: snapshot isolated transaction takes a snapshot of the database at the moment of starting transaction. Then if the transaction tries to write/modify data, which was committed by another transaction after the snapshot was taken, conflict happens. This is exactly the case here, however I don't know implementation details in Starcounter, thus it would be nice to get the confirmation.

[2015-12-17 08:52] careri commented on #3192
The defaults for Db.Transact indicates that snapshot isolation isn't used?
```public static void Transact(Action action, bool forceSnapshot = false, int maxRetries = 100);```

[2015-12-17 08:54] k-rus commented on #3192
No, it does not indicate. The flag means to force snapshot isolation even if the transaction takes too long, i.e., not allow switching from snapshot to read committed isolation level during executing transaction.
`Db.Transact` means that the transaction is started as snapshot isolated. `Db.Scope` means read committed.

[2015-12-17 08:56] careri commented on #3192
Ok. I'm not quite following. If it is snapshot as you say. Would it still find the new records commited by the provider thread?

[2015-12-17 09:01] k-rus commented on #3192
Yes, I think so. Snapshot is guaranteed for writes. If I understand correctly, you can read data after they were committed in another thread. It is better to ask @eriohl for details. I feel I speculate here.

[2015-12-17 09:08] eriohl commented on #3192
There is a conflict between the provider and consumer then right? I would guess that the conflict is, as @k-rus suggests, that the consumer thread deletes a record created after it started.

Just to be clear here: The consumer thread will not have snapshot isolation because it waits. But conflict is based on snapshot isolation meaning that you update a transaction created after the transaction sta

[2015-12-17 09:11] careri commented on #3192
Great, something I can understand :)
So, to summarize:

Right?

This issue helped my improve the design and security of my app. Thanks!

[2015-12-17 09:15] careri opened #3198 "Starcounter.Rest.UriInjectMethods.IncorrectSessionException"
And your favourite issue reporter moves with the speed of light from one issue to another...

Running an application without any sessions I get this error. Not really a problem, just a log in the debug-window

[2015-12-17 09:19] eriohl commented on #3192
Right: In snapshot isolation you would not see any updates provided by other transactions after the snapshot transaction started. Conflict occurs if data updated by the snapshot was updated after the transaction started (and snapshot was created).

But there is no practical way to ensure snapshot isolation because transaction can implicitly fall back to being a long running transaction. But it kee

[2015-12-17 09:23] alexanderstc commented on #3087
See #45.

[2015-12-17 09:24] alexanderstc commented on #3087
@eriohl please use src/include/star/predefined_metadata.h

[2015-12-17 10:05] alemoi commented on #3198
Thanks for reporting! I will check it.

[2015-12-17 10:20] eriohl commented on #3087
Ok. Great. I'll work in this today then.

[2015-12-17 10:20] eriohl commented on #3087
I fixed so that there constants are used for key and setspec column tokens in kernel.

[2015-12-17 10:20] eriohl commented on #3087
I think the reference to #45 might be a bit off.

[2015-12-17 10:25] eriohl opened #3199 "pnext: Unstable process management back-end"
**scdata.exe** and **scdblog.exe** can too easily get out of sync foiling startup. Needs to be looked over.

[2015-12-17 10:38] dan31 commented on #9
Wow such an old issue. @alemoi promised to address this one before Dec 25 2015. We pray for you, @alemoi, and hope on a very soon resolution :+1:

[2015-12-17 10:41] per-samuelsson opened #3200 "Do I need to explicitly include "Html" property?"
Distant related to #3165.

Having this typed JSON:

[code]
 and this code-behind

[code]

and returning an instance backed with a template HTML like this

[code]

render a white screen (and no errors).

When I extend the JSON to this

[code]

the html renders. Thats a bit confusing.

[2015-12-17 10:43] dan31 commented on #3148
@chrhol will try to address this before 25 Dec 2015, but more likely in January. @chrhol works on a big chunk on pnext branch now that he wants to finish first.

[2015-12-17 10:52] miyconst commented on #3200
Yes, looks like so, otherwise the response is ignored by html merger. @chrhol should know better.

[2015-12-17 10:54] miyconst commented on #3200
Just to note, I prefer to set html value in json:

[code]

[2015-12-17 11:07] per-samuelsson commented on #3200
OK, I really don't understand why. I mean, I *do set* the Html. Just that I do it in code. Or is that some other property then the one generated? Should we consider this a bug?

And I dislike that approach, and prefer the exact opposite, based on my reasoning in #3165. :smile:

[2015-12-17 11:44] chrhol commented on #3200
This is not a bug. This is how we implemented inheritance for TypedJson.

We wanted to allow codebehind being reused, but that you have to specify explicitly properties of the viewmodel that should be exposed to the client.

It's probably a part which could be enhanced though.

[2015-12-17 11:54] alexanderstc commented on #3087
https://git.starcounter.org/BlueStar/level0/issues/45

[2015-12-17 13:32] careri commented on #3192
I changed my code so that it looks somewhat like this (might be syntax error, texteditor coding):
[code]

[2015-12-17 13:48] per-samuelsson commented on #3176
Any progress on this? Any consensus?

Right now, its quite painful to use `Partial` unfortunately. I find myself having to switch to `Json` or `Page` over and over because what ends up on the client with `Partial` is just..., yeah, weird. Properties missing, nothing being displayed, etc.

The sad thing about it is I really love what it tries to solve. Developing stand-alone applications is really

[2015-12-17 14:24] k-rus commented on #3192
What is the reason for `WriteLog` call? Does it write to disk? If so, then it is expensive and should be moved out of the snapshot isolated scope. Furthermore, as you already noticed, it is called for every attempt.

[2015-12-17 14:31] careri commented on #3192
No it's just logging to Debug/Console used for debugging. And this isn't my real code.

[2015-12-17 15:52] miyconst commented on #3165
For me `Html` property is yet another view model value, only because the value is too long and it is more convenient to edit it as a single file, we have the `.html` files.

Changing the value means some business logic of an app.

The ideal workflow would be as follow:

1. Client requests server.
2. Server creates session and view-model.
3. Server responses with json.
4. Client reads the view-mode

[2015-12-17 15:53] miyconst commented on #3200
@chrhol thank you for the clarification. For me it sounds fairly reasonable, that we have to specify which properties are available on the client side.

@per-samuelsson I have responded in your issue about the `Html` property.

[2015-12-17 16:15] atifsheikh commented on #3193
i am using 3 of your apps :
1. Launcher
2. UserAdmin
3. SignIn

they launch perfectly, but when i try to launch my AdFenix App, every thing is closed :
default
  Running         True
  Host process ID n/a
  Applications    n/a

I have another project nammed OneKey, when i launch that one after launching your 3 apps, i get this :
default
  Running         True
  Host process ID 10236
  Applications

[2015-12-17 17:24] warpech commented on #3200
@chrhol - Regarding the problem in the OP, could we throw a warning when setting `Html` value in code if it was not declared in `.json` file?

[2015-12-17 20:10] per-samuelsson commented on #3193
Thanks for providing that feedback, @atifsheikh! Sorry to see you experience this.

That most definitely sound so. But even if it is, we should do better to help you understand what goes wrong. We are constantly trying to improve on this area, but we are clearly not where we want to be yet.

And I guess you don't see an error message either?

There are two concerns I have here:

1. When your faili

[2015-12-17 21:13] atifsheikh commented on #3193
Yes you are right, i dont see any message.
But i missed an important information, I updated Starcounter to the latest version, and then i had to downgrade it back to version 2.0.3226.3 (as my Frontend code is not fully update for polymer 1.0). so after downgrading, this issue started.

1. When the AdFenix app crashes on launch, nothing is restarted again. So the default DB is down after the crash

[2015-12-17 21:20] per-samuelsson commented on #3193
OK, thanks a lot for that information.

I'll try set up something similar like this, and see if I can reproduce it. If I can, I'll report a separate issue about it. I'll let you know in any case.

And a final question about this

Does it mean you build them locally? And run them from within Visual Studio? Or with provided scripts (like `run.bat`)?

That sounds like it could be something that is re

[2015-12-17 21:27] atifsheikh commented on #3193
we always use Run.bat to run your 3 apps. never launched them from Visual Studio.

And thank you for the quick and late night response :) i really appreciate that.

[2015-12-17 21:31] per-samuelsson commented on #3193
OK, great. Thanks. Then I know the whole story here, and it should be enough for me to get started trying to provoke it. I'll update you on any progress as soon as we have any!

[2015-12-17 21:39] atifsheikh commented on #3193
Great. Thanks :)

[2015-12-18 00:32] Starcounter-Jack commented on #3165
There is nothing special about the html property. The page class has a mime type converter for it. Please look at page.cs

Sent from my iPhone

[2015-12-18 00:35] Starcounter-Jack commented on #3165
Starcounter does not know of a "Page". It is actually a user class that we decided to place in Starcounter. I suggest we remove the Page class from Starcounter and let the user deal with mime types. In this way there is no magic html property.

Sent from my iPhone

[2015-12-18 00:38] Starcounter-Jack commented on #3165
I think that it is better that Starcounter does not know of html at all. The page class makes it look like Starcounter has some magic html stuff. In fact, Starcounter works fine without a page class.

[2015-12-18 00:50] Starcounter-Jack commented on #3165
I think that it is better that Starcounter does not know of html at all. The page class makes it look like Starcounter has some magic html stuff. In fact, Starcounter works fine without a page class. The boilerplate code in page.cs is just to avoid a page.json file when building Starcounter.dll.

The method that actualy does something is the mime type converter when the agent (browser) is asking f

[2015-12-18 05:18] per-samuelsson commented on #3165
How does all of the above relate to the new `Partial` class? If you havent noticed, @Starcounter-Jack, we are just about to switch out `Page` for `Partial`, #3176. However, `Partial` still work pretty much the same way regarding the `Html` property.

[2015-12-18 05:20] per-samuelsson commented on #3165
This is a bit off topic, but it would make perfect sense if you were developing a plain REST API.

[2015-12-18 05:24] per-samuelsson commented on #3200
Yes, thats a sound and good decision. I think that too. But it's for sure confusing when you can assign `Html` and it does not render. So the problem here is not a general one, but one very specifc, relating to only that property.

I noticed that. Thanks!

[2015-12-18 05:35] per-samuelsson commented on #3193
I can now confirm this. I'm able to reproduce it. If I run an application outside of Visual Studio, then start an application project (in VS), the former does not restart, and neither do the code host. Just as @atifsheikh describe.

If I do the same pattern, running the crashing app using `star app.exe`, everything work as expected (the first app and the code host restart). So this is a VS bug. Le

[2015-12-18 05:37] per-samuelsson opened #3201 "Code host and fellow apps does not restart when app project crash during boot"
Described in, and confirmed as part of #3193. Only applies to starting application projects. Starting the application from the CLI works fine.

[2015-12-18 05:41] per-samuelsson commented on #3193
#3201.

[2015-12-18 05:52] per-samuelsson commented on #3193
@k-rus

Do you have a take on the acual error in the OP? From looking at the code, I can just tell that it occurs somewhere in `MetadataPopulation.PopulateClrMetadata`, likely when processing properties.

But since there are no error checking at all (just a bunch of `Debug.Assert`s, but these naturally are out of scope since this is no debug build), it's kind of hard to understand what actually fa

[2015-12-18 06:56] Starcounter-Jack commented on #3165
@per-samuelsson
Then, why did you ask

[2015-12-18 07:14] Starcounter-Jack commented on #3165
When a browser asks for a html page, it will send the ```Accept: text/html``` header. When the user responds with an object that cannot automatically be converted to the requested mime type, Starcounter will look for a conversion method. So the tight coupling is only skin deep.

Instead of deepening the coupling, I suggest we remove both the Page class and the Partial class. Instead we could have

[2015-12-18 07:24] Starcounter-Jack commented on #3176
I think we should get rid of ```Page``` and ```Partial``` altogether. I don't think this functionality belongs to any special base class. The Json objects should concern themselves with view models. The puppet/html functionality should not be the responsibility of the view models.

[2015-12-18 07:32] Starcounter-Jack commented on #3176
I think that using  ```<!doctype>``` as the detector is asking for trouble. In addition for it to be omitted by many authors, it is actually optional if you are using xhtml5.

[2015-12-18 07:42] Starcounter-Jack commented on #3165
Warpech wrote:

We could always provide the old Page class as deprecated.

[2015-12-18 07:44] Starcounter-Jack commented on #3200
The merger should be moved from the view model to a separate HTML provision layer. See #3165

[2015-12-18 07:47] Starcounter-Jack commented on #3197
Let's review the possibility to the remove view logic from the view model class. I think perhaps the TypedJson classes should only concern themselves with view models.

See #3165

[2015-12-18 07:48] Starcounter-Jack commented on #3197
I think that introducing more boilerplate classes is not the way to go:

![glue-code-monster-v3](https://cloud.githubusercontent.com/assets/1219049/11891990/2bd243b4-a564-11e5-9a15-2e5c58ed6b7c.png)

[2015-12-18 07:57] Starcounter-Jack commented on #3165
Having view models deal with HTML parsing (or merging) is plain wrong. This magic should be moved away from the universe of TypedJson. I think @per-samuelsson confusion when stumbling on this 8 days ago is obvious.

Of course, we need a good replacement. The challenge is to keep the code clean without having magic. I I think we can refactor this to be more clear.

![glue-code-monster-v3](https://c

[2015-12-18 08:05] per-samuelsson commented on #3165
My biggest concern with the way it goes today was actually more conceptual than technical. For me, it just feel wrong having the view-model specifying its view. I'm always thinking about view models as something that can (and should be designed to) be shared between views.

I suspected and it turned out that "Html" was [just a default](https://github.com/Starcounter/Starcounter/issues/3165#issueco

[2015-12-18 08:10] per-samuelsson commented on #3165
Then I confused you when I asked about partials. I just wanted to bring it into the mix, since it very close in how it works (today, the `Partial` class actually *derive* the `Page` class, although I think the idea was to replace the later. The semantics of a `Partial` is basically "a page that work in both blending mode, and standalone".

When I opened the issue, we still didn't even have the `Pa

[2015-12-18 08:15] Starcounter-Jack commented on #3165
I agree.

### History

Html is supposed to be handled outside of Starcounter. The Page class was originally from PMail (a sample application).

It then got moved to Polyjuice. When Polyjuice needed to merge partial html files, it got used in the Polyjuice server code as well. When Polyjuice was merged into Starcounter, it got into Starcounter.

## Suggestion

We move the code to ```Starcounter.Mix

[2015-12-18 08:17] per-samuelsson commented on #3165
If we go this way, maybe we can consider the prototypish thing I did to support https://github.com/per-samuelsson/HtmlTableRows, driven by #3016 and #3017.

The combination of #3016 and #3017 basically allow any application to register with the host, saying "when a handler return the data type `Foo`, let me take care of it, and convert it to something that match what is requested by the client (li

[2015-12-18 08:21] per-samuelsson commented on #3165
4, Allow independent applications to register custom converters to do the conversion, driven by code host DI (#3017). Remember: our story is "please do it better". Let's get that into some parts of the code host as well.

[2015-12-18 08:24] per-samuelsson commented on #3201
Somewhat related to #3018.

[2015-12-18 08:30] Starcounter-Jack opened #3202 "Remove Page and Partial class"
We are discussing fixing the Page/Partial problem.
### Problems
1. Implicit Magic clouds the understanding of Starcounter
2. Having to set a special base class that is easy to forget.
3. Separation of concerns. View models can be used by many types of views and should not provide HTML functionality. Our friend Martin already have a native Windows clients consuming view models.
### Consequences

Th

[2015-12-18 08:31] Starcounter-Jack commented on #3202
@per-samuelsson @warpech @miyconst
WDYT?

[2015-12-18 08:37] Starcounter-Jack commented on #3202
[code]

personpage.json
[code]

[2015-12-18 08:41] Starcounter-Jack commented on #3165
We already allow custom converters. Page was originally a user class in PMail using this custom converter.

From page.cs:

[code]

[2015-12-18 09:46] miyconst commented on #3202
Personally, I don't like the idea.

Such example:

A WebPage to edit user profile has two states: Editable, Readonly.
The Page is loaded to the client with puppet, mime type: `application/json`.

On the client side `<starcounter-include>` or any other component imports `Html`, which is a property of the view-model. User presses button Edit, and page switches its state from Readonly to Editable by

[2015-12-18 09:50] per-samuelsson commented on #3202
Rather than

[code]

I'd prefer something like

[code]

as our default pattern. I like the fact that some outside authority decide what format to use, I just provide the alternatives. If the request come for JSON, the authority use the plain JSON. If it comes for HTML, it invokes that provider.

As an *alternative*, we provide a pattern that allows custom MIME type switching, for more complex scen

[2015-12-18 09:52] per-samuelsson commented on #3202
Background: #3165 and #3200.

[2015-12-18 09:59] jwillmer opened #3203 "Scope nesting question"
I have a long running method (create object) with a Db.Scope and inside I have a Db.Transact. Why does the object inside of Db.Transact got saved regardless of Transaction.Commit? I thought I can have sub scopes and they are only submitted if the parent is.

[2015-12-18 10:37] eriohl commented on #3087
I fixed so that GC doesn't drop layouts referenced by RawView isn't garbage collected. Code pushed.

I will clean it up a bit and then this should be done.

Question @k-rus @alexanderstc: I used this error SCERRUNEXPMETADATA when metadata can't be understood. Seems like this is used as a generic error for this. Is this ok or should I use something else? The error message seems a bit of a bad fit.

[2015-12-18 10:40] eriohl commented on #3087
(For code reference see writer::fix_add_metadata_layout_references, writer.dll.)

[2015-12-18 10:45] Starcounter-Jack commented on #3202
I think so to. But then there will not be as much magic. We will not have an extra class in our samples because we will do it with an if statement.

[2015-12-18 10:47] Starcounter-Jack commented on #3202
This one is trickier. The user is free to implement a Html property but the question is how to trigger puppet to reload the HTML.

[2015-12-18 10:48] Starcounter-Jack commented on #3202
The question is wether we want hidden magic or not.

[2015-12-18 10:51] miyconst commented on #3202
I would do that only if instructed so. Copy pasting any code is always a bad practice.

The magic itself is not a bad thing as long as it works for us. Any framework requires some magic. You keep using Mac OS with all its magic and don't switch to Linux, which is the most magic less system.

[2015-12-18 10:55] Starcounter-Jack commented on #3202
Developer already knows how to create base classes. They will do that. The importance of samples is NOT to promote teachings about these topics. They should learn generic practises in larger samples or in other literature. These are hello world samples to explain Starcounter.

We will ***NOT*** do the J2EE/Microsoft approach of having dozens of files in small samples. We will have minimal apps con

[2015-12-18 11:27] alexanderstc commented on #3087
SCERRUNEXPMETADATA is fine by me.

[2015-12-18 11:44] eriohl commented on #3087
Ok then.

[2015-12-18 11:44] #3087 closed

[2015-12-18 12:26] per-samuelsson commented on #3201
Update: it turns out this is kind of by design. Well, its by design, because of how the Visual Studio extension must work. To be able to attach the debugger to the code host, Visual Studio has to start the application with an *asyncronous entrypoint*, and because of that, the rather simple process management in the admin server is disabled.

Doing `star --async app.exe` has the same effect.

And,

[2015-12-18 12:37] andwah opened #3204 "pnext: ClrClass table is empty"
The ```Starcounter.Metadata.ClrClass``` is empty even if there is loaded ```classes```

[2015-12-18 12:38] andwah commented on #3069
In the pnext branch  the ```Starcounter.Metadata.ClrClass``` is empty even if there is loaded ```classes``` see #3204, it works fine in ```develop```

[2015-12-18 12:49] per-samuelsson commented on #3203
@jwillmer

Thanks for taking the time creating this issue!

Lets try get simple-as-possible code to discuss around. Is this what you do?

[code]

And you expect `new Foo()` not to be stored, but the actual result is that it *is* being stored?

We have some content about transactions in general, [here](http://starcounter.io/guides/transactions/more-on-transactions/) and [here](http://starcounter.io

[2015-12-18 13:03] bigwad commented on #3069
I'm using Starcounter.Binding.Bindings.GetTypeDef(full_class_name) for the same task. It returns null if such class is not loaded.

[2015-12-18 13:06] per-samuelsson commented on #3203
I made a sample snippet, testing a few simple cases:

[code]

Running that on an empty database gives:

I guess you would expect 0, 1, 2, @jwillmer? (I kind of would, but I'm not fully read up on using `Db.Scope`).

[2015-12-18 13:17] #2817 closed

[2015-12-18 13:18] bigwad commented on #3204
Perhaps, we may get rid of this table? As I see this table makes sense only if there are some clients outside of codehost to query this table. I'm not aware of such clients in pnext.

On top of it, this table is to be wiped out on code host restart. Right? So it imposes unnecessary load on database as we don't have concept of temporary tables.

[2015-12-18 13:19] andwah commented on #2817
Resolved da3abe06064bdd3529cec5fa4464a9b04d26bfcd

![image](https://cloud.githubusercontent.com/assets/2656996/11897716/48c35660-a592-11e5-827c-3c937e46085f.png)

[2015-12-18 13:37] miyconst commented on #3202
As a developer, I try to follow examples I find on official sources. If an example shows, that I have to use an `if` to check mime type - I will do so.. well.. a couple of time. Then I will find it stupid and will add another class, which would does that automatically.

The custom class will do a common thing for almost every Starcounter application. Each new developer working on the solution woul

[2015-12-18 13:59] pluppplupp commented on #3118
+1

[2015-12-18 14:06] per-samuelsson commented on #3193
@atifsheikh

I've posted some content related to the process management things in #3201.

About the exception, we are discussing it internally. We have a few ideas, but they all boil down to one thing: we need an environment to tell for sure. That would be your bin folder, and the database files. Something that is currently not easy to just retreive. We've been discussing providing some tooling th

[2015-12-18 14:30] warpech commented on #3202
While we are at it, it's worth mentioning that `Partial` class now not only provides implicit standalone mode, but also [implicit session](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/Partial.cs#L51) (which is needed to handle patching the partial).

Thanks to this, we have managed to shrink this:

[code]

To:

[code]

This is simpler code with admittedly more magic. Did

[2015-12-18 14:32] warpech commented on #3202
This is technically correct, but realistically none of sample apps nor known customer apps use do this. We should not optimize for unexisting problems.

These patterns are used almost exclusively to reload partials:

- replacing a subtree partial with another partial (using `Self.GET`)
- replacing parent partial with another partial (using `<puppet-redirect>`)
- replacing data of the current parti

[2015-12-18 14:35] jwillmer commented on #3203
In this example I would expect that I do not get another instance of Foo because I have not added ```this.Transaction.Commit()```. I thought I needed to actively commit or abort the transaction in a long running transaction.

[code]

[2015-12-18 14:50] warpech commented on #3036
@alemoi it is a very good change but could you please also update the docs?

http://starcounter.io/guides/apps/ontology-mapping/
http://starcounter.io/guides/web/sharing-screen/

It should be explained that the new API is available since Starcounter `<relevant nightly version>`.

[2015-12-18 15:22] atifsheikh commented on #3193
I dont have any important data in default database. as this issue is on my local machine, so for now i can use the new Clean-DB for my local computer tests and debugging.

[2015-12-18 15:35] atifwaqar opened #3205 "Question: How starcounter is with multi-threading"
I have a project where i have to run 20,000+ threads simultaneously. and each thread will go to a webpage. Now my question is that
1. Is Starcounter good in handling this much of threads load?
2. How can i keep track of Thread crashes? (so i can relaunch the thread)
3. Is AWS Server good for this sort of Starcounter project? (In terms of performance)

[2015-12-18 16:39] andwah commented on #3069
@bigwad Thanks i will try that way.

[2015-12-18 16:44] k-rus commented on #3204
I guess the code was disabled to connect Level1 with pnext Level0 and is marked as TODO. So this is part of the on-going work on brining pnext to develop.

`ClrClass` and related classes already contain some information unavailable in `RawView`and will be necessary in future. Furthermore, there is a big chance that difference between names of the tables and names of runtime classes will diverge in

[2015-12-18 18:04] alemoi commented on #3036
Im sorry, totally forgot about that. Will fix it!

[2015-12-18 18:14] per-samuelsson commented on #3193
OK, so this get you past the most immediate problem at least?

You know you can delete databases with `staradmin delete db` (to delete the default one), or `staradmin -d=[database_name] delete db`? The next time an application start, the database get recreated on the fly.

[2015-12-18 19:53] Starcounter-Jack commented on #3203
Scope() and Transact() work differently. They do not interact. The Db.Transact call will execute an independent transaction.

Scopes are created, attached to a view model and explicitly closed. A scope is never closed automatically. Scopes are used to allow database classes to act as storage for view models. This is powerful as multiple apps can share scope and as domain logic is respected both fo

[2015-12-18 20:10] Starcounter-Jack commented on #3203
In short, Scopes only relate to creation of view models. Any viewmodels created under the same scope will be sharing the same database transactional scope.

On another note, View models should always bind to database objects. Unlike non RAM databases, forms should not have a copy of the data. Again, investigate the invoice demo carefully and you willl see how domain logic is respected in the viewm

[2015-12-19 03:28] jwillmer commented on #3203
O.K., thank you for your example. Now I get it :-)

[2015-12-19 03:28] #3203 closed

[2015-12-19 08:48] k-rus commented on #3193
It is good that you can run your application code on an empty database. Do you remember if you changed anything in database classes at the same time when you were upgrading Starcounter? We experienced similar situations when both Starcounter and application code was updated. Previous corner cases were fixed. This one is new and we don't exactly what is the problem without ability to reproduce it.

[2015-12-19 08:54] per-samuelsson opened #3206 "How to get the admin server port from within my app?"
My app is running inside the code host. How can I retreive the admin server port?

[code]

/cc @alemoi? @andwah?

[2015-12-19 08:57] per-samuelsson opened #3207 "How to get the version from within my app?"
Hello!

My app is running inside the code host. How can I retreive the installed *version* of Starcounter?

[code]

/cc @alemoi? @andwah?

[2015-12-19 11:00] per-samuelsson commented on #3205
@atifsheikh

I'm not the best suited person to answer this, but I think a very general answer is that Starcounter is at least not optimized for this particular case. But lets see if others could provide better answers.

Out of curiosity, care to explain why you have to run that many threads? :smile: Just context switching will take quite some time doing that, won't it?

/cc @eriohl @Starcounter-Ja

[2015-12-19 11:44] atifsheikh commented on #3205
I have to crawl 20,000 websites simultaneously, and then store the crawled data in DB.
So my question is that lets say Starcounter is not good in multithreading, What option do i have to run 20,000 processes at the same time?

[2015-12-19 12:06] atifsheikh commented on #3193
@per-samuelsson i have some data for my other projects in Default DB. so i dont think i will delete the Default DB.
and since the other projects are working fine, so its ok for me to use a new DB for AdFenix project.

[2015-12-19 12:08] atifsheikh commented on #3193
@k-rus Im not sure if there were any changes in the upgraded starcounter. but if you guys want to take a closer look at this issue, i can bring my laptop to your office on monday.

[2015-12-19 12:25] per-samuelsson commented on #3193
I totally understand that. Actually, I'd like to get my hands on that database at some point, so we can diagnose what could have happened. I just started creating a simple tool that can collect application and database artifacts for these kind of cases. Maybe I can pilot it on you next week, if I succeed implemening a working first version by then. :sunglasses:

[2015-12-19 13:10] warpech opened #3208 "Administrator should not load files from a public CDN"
Currently Administrator loads a JS file from a CDN:

[code]

This is bad for 3 reasons:

- security
- will not offline / behind a firewall
- slow

[2015-12-19 13:11] miyconst commented on #3208
+1

[2015-12-19 13:25] alemoi commented on #3207
Good question. Here you go: `Starcounter.Internal.CurrentVersion.Version`

[2015-12-19 13:28] alemoi commented on #3206
Another good question. Here you go: `StarcounterEnvironment.Default.SystemHttpPort`

[2015-12-19 14:20] atifsheikh commented on #3193
Sounds good. so i'm keeping the DB. ;)

[2015-12-19 15:01] per-samuelsson commented on #3206
Great. Thanks. I have verified it works, and now we have this documented when someone else ask that same question! :sunglasses:

[2015-12-19 15:01] #3206 closed

[2015-12-19 15:02] per-samuelsson commented on #3207
Great. Thanks. I have verified it works, and now we have this documented when someone else ask that same question! :sunflower::

[2015-12-19 15:02] #3207 closed

[2015-12-19 15:03] per-samuelsson commented on #3205
@atifsheikh

Thanks for clarifying. Let's see what the experts have to say about it. :smile:

[2015-12-19 16:01] linkdata commented on #3205
There is no point in running more threads than you have cores if you're only using them to store state of individual web crawls. You should run them [concurrently](http://stackoverflow.com/questions/1897993/difference-between-concurrent-programming-and-parallel-programming) to be sure, but not all in parallel. [There are specialized frameworks for this](https://www.google.se/search?q=web%20crawler

[2015-12-19 19:27] alemoi commented on #3036
Updated. Thank you for reporting!

[2015-12-19 19:27] #3036 closed

[2015-12-20 17:25] per-samuelsson commented on #3202
Just want to make clear I really like this

and agree with @warpech on this

There is always a balance between "magic" and explicitness. Some like magic, some don't. And there are grey zones.

And when on the subject: we shouldn't mix magic with support for convention patterns. For me, magic is more often bad when its not based on conventions. Take a system as **Maven** for example. One could clai

[2015-12-20 18:58] mtornwall opened #3209 "128-bit uppecase hex string at the end of the URL breaks WebSocket upgrade"
OK, this is an interesting one! I have an app that exposes a handler of the form:

    /portal/reset-password?token=[128-bit uppercase hex string]

Curiously, the WebSocket upgrade (via PuppetJS) consistently fails for *this particular URL format* (it works perfectly otherwise), reporting an "invalid session" error. It occurred to me that the Starcounter session identifiers also are 128-bit upperc

[2015-12-20 19:58] alemoi commented on #3209
Thank you for reporting. I will check it!

[2015-12-20 23:36] Starcounter-Jack commented on #3202
If we move html merging and standalone mode to middlewarr, we could have both. I.e. Partial and Page would be sugaring.

[2015-12-21 07:18] careri commented on #3193
I got the same error. I think what I did was to by mistake launch in default db, which hosts and app launched from cmd. I noticed that I forgot to change db and did so. Now I get this error every time I hit F5 in VS.

[2015-12-21 07:28] per-samuelsson commented on #3193
Really? In the latest version? And have you done something similar to what @k-rus describe [here](https://github.com/Starcounter/Starcounter/issues/3193#issuecomment-165961326)?

[2015-12-21 07:31] per-samuelsson commented on #3202
I agree, and I think that never was the plan: the plan was to *replace* `Page` with `Partial`. They just exist in parallel b/c `Partial` was really new, and we wanted to test it out before deprecating `Page`.

Correct me if I'm wrong, @warpech.

[2015-12-21 07:48] careri commented on #3193
Only a few rows of new code for a test of websocket. Launched in default, stopped launched in it's own db.

Strange thing is that the db isn't marked as running i administrator. But if I try to delete it i get this error:

Version: 2.1.836.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR10031.
   at Starcounter.Server.Commands.DeleteDatabaseCommandProcessor.CheckPrerequisites(Data

[2015-12-21 08:15] per-samuelsson commented on #3202
Yes, this is what I want too. `Partial` would be sugaring.

For me, I vote we implement a pattern where you can return something for a request that allow the *code host* to pick the most appropriate "response renderer" based on the accepted MIME type.

I think it's fine that we promote that what you normally return is either JSON or HTML. Basically, our message goes

Why? Because these two data fo

[2015-12-21 08:19] per-samuelsson commented on #3193
Yeah, thats a bit confusing, but it can be explained. In adminstrator, you see the status as *not running* when the *code host* isn't running. But the database manager (i.e. `scdata.exe`) could still be. And that hinders you from deleting the database.

Next time, as an experiment, test `staradmin list db`. That will show you the paired status. You will see there that the database process is runni

[2015-12-21 09:31] miyconst commented on #3188
@alemoi any more info on this issue?

[2015-12-21 09:34] miyconst commented on #3181
@mtornwall is your issue solved?

[2015-12-21 09:59] miyconst commented on #3127
Closing the issue as no longer relevant.

[2015-12-21 09:59] #3127 closed

[2015-12-21 10:02] miyconst commented on #3057
Bump.

[2015-12-21 10:05] miyconst commented on #3020
It looks like both `INSERT` and `UPDATE` are not officially supported and both do not accept parameters. So, using `INSERT` in my case would not work, Reflection is the way to go. Closing the issue.

[2015-12-21 10:06] miyconst commented on #3013
I tested Starcounter with a Network path and it failed to start an app as desired. Closing the issue.

[2015-12-21 10:07] miyconst commented on #2924
Looks to be fixed. Closing the issue.

[2015-12-21 10:07] #2924 closed

[2015-12-21 10:08] miyconst commented on #2820
Closing this issue as outdated.

[2015-12-21 10:08] #2820 closed

[2015-12-21 10:10] miyconst commented on #2798
Bump.

[2015-12-21 10:13] miyconst commented on #2662
Closing this issue as outdated.

[2015-12-21 10:13] #2662 closed

[2015-12-21 10:19] miyconst commented on #2592
Closing this issue as answered and outdated.

[2015-12-21 10:19] #2592 closed

[2015-12-21 10:25] bigwad commented on #3020
Actually, there is no need to use reflection,
If I correctly understand what you need, then given table name, you may do the following:

[code]

[2015-12-21 10:36] miyconst commented on #3020
What is `DbState.Insert`? Is it a public api? Why there is no docs about it? How and when should I use it?

[2015-12-21 10:46] bigwad commented on #3020
DbDstate is a class inside Starcounter.Internal namespace. It's public in sense that it's accessible to user code, though I don't know about docs.
I'm not sure about what do you mean in your last question. This method creates the record in the table and does it in the right way, so the record is bindable to database class. You may use it appropriate to your needs.

[2015-12-21 10:49] miyconst commented on #3020
We never promote this method for object creating. Why it is so? And what potential risk it has?

Making a row in the database without filling up the columns is pretty much useless, as I still have to use Reflection to fill up the values.

[2015-12-21 10:59] alemoi commented on #3013
Can you provide the details please?

[2015-12-21 11:05] miyconst commented on #3013
Hm, just checked with the latest nightly build, and the app started from a network drive, and the changes in static files are not reflected unless restarted.

[2015-12-21 11:05] miyconst commented on #3013
I remember I tested it a while ago, and apps failed to start from a network drive.

[2015-12-21 11:05] bigwad commented on #3020
It's really low-level. Perhaps, that's the answer, but I don't know for sure.

As it's low level, obviously, the risk is the possible breaking changes in implementation. Proper tests should be in place.

There are a bunch of helper methods that may help you to fill values. You may take a look at [LogApplicator](https://github.com/Starcounter/Starcounter/blob/pnext/src/Server/Starcounter.Transactio

[2015-12-21 11:07] miyconst commented on #3020
Thank you, I will take a look at `LogApplicator`. Could you please cc guys, who might know more about public usage of `DbDstate` class?

[2015-12-21 11:09] bigwad commented on #3020
@per-samuelsson ?

[2015-12-21 11:42] warpech opened #3210 "Code after await ignored by Starcounter"
I want to play with a very simple own project during the holidays. I use a [3rdparty library](https://github.com/octokit/octokit.net) that wraps a REST API in an elegant asynchronous C# interfact (lots of `async`/`await`).

Here comes a problem. For some reason, any code after `await` gets ignored by Starcounter. `Console.WriteLine` does not write to console. `Db.Transact` does not execute the tra

[2015-12-21 11:47] careri opened #3211 "WebSocketDisconnected event"
I've got a working websocket that I write/read from using a c# client app.
If  I call (System.Net.WebSockets.ClientWebSocket).CloseAsync on the client the event is triggered as expected.

A few questions about the disconnected event:
1. But what if the client just dies, will that event ever be triggered?
2. Is there a timeout that will trigger the event?
3. Do I need to implement a heartbeat to mo

[2015-12-21 12:01] warpech commented on #3210
I have a feeling that [`Db.RunAsync`](http://starcounter.io/guides/transactions/running-background-jobs/) might be involved in solving this problem, but it is not obvious for me how to apply it to my code.

[2015-12-21 12:10] bigwad commented on #3210
I guess the root problem is that you don't have a scheduler attached to a thread that executes continuation. Perhaps in your super simple scenario your awaitable has been finished at the moment of executing await statement. In this case, code after await would be executed synchronously on the caller thread.

To execute transaction on arbitrary thread, I use the code like this:
[code]

[2015-12-21 12:45] per-samuelsson commented on #3210
Regarding this

I've noticed that too. Its been like that for a very long time, but I don't know if its been reported. Any `Console.WriteLine` in a thread like that does not get routed (and hence not displayed).

[2015-12-21 12:54] per-samuelsson opened #3212 "AppShip utility: Ship us that app"
For quite some time, we've longed for an application that allows applications and artificats to be automatically wrapped up and sent, mainly as a way to diagnose problems we can not easily recreate / reproduce. (This of course assume the user agree to do so).

Unfortunatelly, we never really seem to get the time to write this tool.

Now we've at least started on something that can get there in tim

[2015-12-21 12:55] per-samuelsson commented on #3212
And if you have feedback: just use this thread, or https://github.com/per-samuelsson/AppShip/issues.

[2015-12-21 13:07] per-samuelsson commented on #3211
/cc @alemoi?

[2015-12-21 13:15] per-samuelsson commented on #3193
@atifsheikh @careri

The next time you experience the metadata error, and if you have time to pioneer this little thing we are just trying out, it would be cool to see you try #3212.

It means you have to give us access to your databases, and its a bit rough in the edges for sure, but we would really appreciate to get our hands on an environment where we could reproduce this, to see if there is so

[2015-12-21 13:38] atifsheikh commented on #3193
Sure, i'd love to help :)

[2015-12-21 14:17] chrhol commented on #3148
I've been thinking about this one, and I think I have a solution that doesn't require much changes. The namespacing should only be added in two cases:
- The root viewmodel is requested and it is stateful, i.e. stored on a Session, with namespacing enabled
- A patch is requested on the same viewmodel as the point above.

All other cases should simply return ordinary json.

I think I can squeese thi

[2015-12-21 14:21] mtornwall commented on #3210
My understanding is that the async/await pattern is not currently supported; see #2796.

Nevertheless, I make extensive use of async/await API:s in my code by wrapping them using a pattern outlined below. Thus far I haven't experienced any problems, and I believe it to be safe, but as always YMMV.

[code]

[2015-12-21 14:29] careri commented on #3193
Sure, I'll try that the next time

[2015-12-21 14:32] per-samuelsson commented on #3212
First bug report:
https://github.com/per-samuelsson/AppShip/issues/7

I forgot `Partial` is not yet part of any public build. I might just include it in the tool until we get one out.

[2015-12-21 14:40] dan31 commented on #3210
In the DNX track, the lack of support for modern .NET primitives such as async/await has been addressed by implementing a intrusive scheduler. Once the results of that work are smoothly merged back to develop (with the right scheduler by @linkdata), we get full-blown support for that. I don't give you guys yet more details of where exactly this is on the roadmap, though the request from customers

[2015-12-21 15:41] dan31 commented on #3211
@alemoi, after answering please populate the docs there http://starcounter.io/guides/network/websockets/, thanks in advance!

[2015-12-21 15:47] alemoi commented on #3211
Thank you for your questions!

Yes, if connection socket dies, then you will get a disconnect event.

No. Its for the lifetime of the socket.

Yes. For example, we have such custom implementation in Puppets: https://github.com/Starcounter/Starcounter/issues/3084

Let us know if anything regarding disconnect event is not working for you.

[2015-12-22 08:21] per-samuelsson commented on #3200
Is this something that actually work? How does it relate/compare to "Reuse"? I havent seen it documented anywhere?

@chrhol?

[2015-12-22 08:25] eriohl opened #3213 "pnext: Handle creating and/or dropping multiple indexes in a single transaction"

[2015-12-22 08:26] per-samuelsson commented on #3200
Found [this comment](https://github.com/Starcounter/Starcounter/issues/2059#issuecomment-53392122) that I guess explains it and where we are at.

[2015-12-22 09:19] per-samuelsson commented on #2964
I'm doing another round of Typed JSON testing and reviewing, trying to get a clearer picture of what is most urgent to fix, and what is lacking in the documentation.

We should do some rating/voting, since there are quite a few issues now in this area, and when we do that, I really think this one deserves a high prio.

If we adress this, we can write an article / guide promoting the pattern I prop

[2015-12-22 09:20] chrhol commented on #3200
The keyword `inherit` cannot be set in json-by-example as the example above show, but you can just specify inheritance on code-behind and it will work.

`Reuse` is not the same thing. We really need to have this discussion concerning metadata and how we specify it.

[2015-12-22 09:21] chrhol commented on #3200
Hmm, I think that I might not have been correct in that comment. Reuse and inheritance is not the same thing.

[2015-12-22 09:31] per-samuelsson commented on #3200
Thanks for the input, @chrhol.

The it's not really good we write such examples, that will only confuse our users. We should remember this is the public tracker, and people will try the stuff we write here. I'll add a disclaimer to that comment then.

Let's try to document both, to get a better feeling of what we *do have*, and then take it from there when we start those discussions then. I'll upd

[2015-12-22 09:32] chrhol commented on #2964
Just a note on this one: it probably requires us to rewrite the parser for code-behind that currently uses some half internal, half public api from the Mono.CSharp library. This parser collects information that is needed when generating code.

One problem with the current implementation is that the mono-parser is very primitive. Basically you only get low-level tokens. For example when we today fi

[2015-12-22 09:36] chrhol commented on #3200
Yes, but remember that you have to explicitly add all properties you want to expose in `Female.json`

[code]

[2015-12-22 09:37] per-samuelsson commented on #3200
Ah, great. Thanks for clarifying that! Good catch.

[2015-12-22 09:39] per-samuelsson commented on #3086
When documenting "Reuse", we should also document the somewhat related concept of inheritance. Some discussion on this in this https://github.com/Starcounter/Starcounter/issues/3200#issuecomment-166566031.

[2015-12-22 09:41] per-samuelsson commented on #3086
Hm, just found #1028. Are these duplicates? If so, let's close that other one (since it now has less content).

[2015-12-22 10:03] per-samuelsson opened #3214 "Document: difference between unbound and properties bound to code-behind fields"
In the [JSON data binding](http://starcounter.io/guides/json/json-data-binding/) guide, we explain different ways to *bind* properties.

The default binding (**auto**) states that

For me, its not clear what the difference is in terms of gained/lost functionality? More specifically, if my code-behind property is just a regular field, how does that differ from an "unbound" property? They are both s

[2015-12-22 10:14] per-samuelsson commented on #2964
But thats not something we do in a day, right? I guess its at least a week or two to get everything written, tested and up and running again, if we make that switch?

I agree it should be done. But I'm not sure where it would fit into the roadmap.

An alternative would be to keep the suggested pattern in the OP, and just be really clear to describe it in all places where we discuss binding of prop

[2015-12-22 10:16] per-samuelsson commented on #3212
Did so yesterday, forgot to update this issue: https://github.com/per-samuelsson/AppShip/issues/7#issuecomment-166319403.

[2015-12-22 10:25] eriohl commented on #3065
This with input too large may need to be reconsidered.

[2015-12-22 11:52] bigwad opened #3215 "Not properly constructed object may be visible to user code"
Please, consider following code:
[code]

Constructors are to ensure object's invariant. So if we throw an exception from constructor - object shouldn't be created. Thus it's not right that user code may find an object with invalid invariant in database. I think, we should remove appropriate db record automatically if constructor throws an exception.

[2015-12-22 12:49] per-samuelsson commented on #3215
Yeah, this is probably somewhat a marginal case, but it seem right when I consider it, and if so, that's a bug. I'm not sure exactly how we should solve it, but lets try. I think we can just catch any exception in the weaved "insert constructor" and issue a delete if we catch any.

Good catch @bigwad!

I'll assign it to me to first validate it, but it will be after christmas I think.

[2015-12-22 14:39] alexanderstc opened #3216 "stari_context_get_index_infos_by_setspec() doesn't find "parent" setspec's index"
Create base and child table, create an index on the parent, call stari_context_get_index_infos_by_setspec() on the child, returns no index infos.

I assume should return info on the parent index.

Please try branch alexander-bug-index-by-setspec,
see src/tests/metalayer_functest/metalayer_functest.cpp lines 454, 457.

[2015-12-22 14:51] eriohl commented on #3216
Assuming there are two indexes:

A on ~a~a~
B on ~a~a~b~

Query on ~a~ gets index A and B. Query on ~a~a~ gets A and B. Query on ~a~a~b~ gets only B.

It doesn't work this way?

[2015-12-22 15:39] alexanderstc commented on #3216
It does in this case. That means this bug report is false.

However, I think in other cases, when I search by child setspec, it returns info for "base" indices.

I'll try to make another example then.

________________________________
From: eriohl <notifications@github.com>
Sent: 22 December 2015 15:51
To: Starcounter/Starcounter
Cc: Alexander Kirsanov
Subject: Re: [Starcounter] stari_context_get_

[2015-12-22 16:01] eriohl commented on #3216
I figured that I needed to check that because is didn't seem correct. And it isn't.

How is it supposed to work is that if there is an index on A on ~a~ and query is on ~a~b~ then index A is to be included in the output. If it isn't this is incorrect.

But I think I know what the problem is....

[2015-12-22 16:12] eriohl commented on #3216
Actually it is not entirely well defined how it is supposed to work. But this is how I think it should work.

[2015-12-22 16:21] eriohl commented on #3216
Ok. Should work better now.

[2015-12-22 16:21] #3216 closed

[2015-12-22 17:29] alemoi commented on #3199
I have pnext and tried to start an empty database but can't because of the following:
[code]

Is it related to this issue or something else? Thank you.

[2015-12-22 17:34] eriohl commented on #3199
Possibly. Depends on the underlying reason for the failure, which isn't very clear from this.

[2015-12-22 17:41] alemoi commented on #3199
Unfortunately there is nothing else in the log: A fatal error was detected: ScErrTransLogWriterNotAvailable (SCERR4256): Transaction log writer is not available.

[2015-12-22 18:13] eriohl commented on #2160
TT formatter for set specifier does not support infinite character (tested only TT3 now but I case this is probably the case for TT4 as well.)

[2015-12-22 18:44] chrhol commented on #3117
I've added a set of methods with the base signature like: `session.Use(Action action);`. I also added some overloads that takes generic arguments and possibility to return a value (using `Func`).

`session.StartUsing()` and `session.StopUsing()` are no longer public, so existing code that uses these will have to be updated when changing Starcounter version.

/cc: @mtornwall, @andwah

[2015-12-22 18:44] #3117 closed

[2015-12-22 20:04] chrhol commented on #3148
Code with the changes specified earlier is pushed to develop and should be included in the next nightly. Serializing TypedJson should result in json without namespaces except for the cases above.

Let me know how it works out @ivarbergman. I will test a bit more tomorrow to make sure I didn't break anything :)

[2015-12-23 00:44] warpech commented on #3210
Thanks for the suggestions. Thanks @bigwad & @mtornwall for your code snippets.

I combined your techniques in  https://github.com/warpech/GitHubImporter/commit/d32c47df3a20848da764b05db6eb35ff2f69b91b the following way:

- I use `StarcounterEnvironment.RunWithinApplication` as proposed by @bigwad, so that I get console output in Administrator
- I use `RunAsync` as proposed by @mtornwall
- My bloc

[2015-12-23 01:40] Starcounter-Jack commented on #2160
Oops. Forgot about this when I had the heureka moment. Let's just add it.

[2015-12-23 08:38] chrhol opened #3217 "pnext: Cannot create new db from Administrator without going into advanced settings."
When trying to create a new database from the Administrator, I'm forced to go into advanced settings and set values on `First Object ID` and `Last Object ID` to be able to press `Create` button.

These settings should have default values so I don't have to specify anything, especially since I have no clue what the correct values are for these.
![firstoid](https://cloud.githubusercontent.com/assets

[2015-12-23 08:43] chrhol commented on #3217
Nvm :blush: I have been switching between Develop and PNext and forgot to clean my old repo last time I went from Develop to PNEXT.

[2015-12-23 08:43] #3217 closed

[2015-12-23 09:56] mtornwall commented on #3117
@chrhol :+1:

I currently have this (poorly named) method in my code:

[code]

I've found that when I want to reattach the session from an async callback I always want to enter a transaction scope and end by pushing any changes to the WebSocket. Personally I think something like this would be a useful extension to the `Use()` method you proposed. WDYT?

[2015-12-23 10:04] mtornwall commented on #3181
@miyconst I have now implemented the solution proposed by @warpech, and it seems to be satisfactory.

My only concern is that this introduces unnecessary coupling between the elements and the server-side viewmodel.

[2015-12-23 10:24] miyconst commented on #3181
Okay, let's keep it like this for now. I close the issue.

If you would like to discuss the coupling between the element and view-model, then create a new issue, please.

[2015-12-23 10:24] #3181 closed

[2015-12-23 10:25] atifsheikh opened #3218 "Question: How can I create a "SELECT DISTINCT " query in starcounter?"
I want to make a query on a table which have only 1 column "Name". Now i dont want to select duplicate Names, how can i achieve that in Starcounter?

[2015-12-23 10:27] miyconst commented on #3218
[code]

[2015-12-23 10:28] miyconst commented on #3218
[code]

[2015-12-23 10:28] miyconst commented on #3218
Here are two solutions. The first one works slightly faster.

[2015-12-23 10:46] mtornwall commented on #3210
@warpech My understanding is that `RunSync` blocks the calling thread until the delegate has finished executing on the Starcounter scheduler, whereas `RunAsync` simply dispatches the task and returns immediately. It's rather pointless to block the task (which is running on the thread pool) for the duration of its explicit continuation, so I've opted to use `RunAsync`.

[2015-12-23 10:46] atifsheikh commented on #3218
Thank you for replying @miyconst.
Just one more thing, Is the following syntax supported in Starcounter Version 2.0.3226 ?
var names = Db.SQL<T>("SELECT t FROM T").Select(x => x.Name).Distinct();

[2015-12-23 12:25] miyconst commented on #3218
[code]

Does not work, you have to select a specific type:

[code]

And this is `.net` part, not Starcounter.

[code]

[2015-12-23 12:38] atifsheikh commented on #3218
@miyconst Any idea why am i getting this error? i know its not a starcounter specific error, but any sort of help or suggestion will be really appreciated. :)

![error](https://cloud.githubusercontent.com/assets/4388707/11976622/3c4902c2-a97a-11e5-9b2c-e4a3410a3fc3.jpg)

[2015-12-23 12:52] bigwad commented on #3218
Probably, you've missed
[code]

[2015-12-23 12:53] atifsheikh commented on #3218
:+1: @bigwad Thank a lot guys :)

[2015-12-23 13:14] miyconst commented on #3218
Just to note, the returned type will be `IEnumerable<string>`, not `QueryResultRow<ExternalFeature>`.

Please close the issue if your question was answered.

[2015-12-23 13:19] atifsheikh commented on #3218
One last thing, how can make the return type IEnumerable<ExternalFeature> instead of IEnumerable<string> ?

[2015-12-23 13:24] miyconst commented on #3218
Hm, this is not logical for me.

If you have two or more features with same `Name`, they still have different `Id`. Which of the objects you want to select?

[2015-12-23 13:25] atifsheikh commented on #3218
I want to return the entire object, but with distinct applied on Name column only.

[2015-12-23 13:27] miyconst commented on #3218
So, which object you want to return?

You can do like this to return the first object of a group:

[code]

[2015-12-23 13:32] atifsheikh commented on #3218
Perfect. this works fine :+1:
Thank you @miyconst

[2015-12-23 13:32] #3218 closed

[2015-12-23 16:49] #3211 closed

[2015-12-23 16:50] alemoi commented on #2970
Unregistering existing HTTP handlers is added now: `Handle.UnregisterHttpHandler`.

[2015-12-23 22:19] per-samuelsson commented on #3212
First [pioneering case](https://github.com/per-samuelsson/AppShip/issues/7#issuecomment-167001120) about to take place. :santa:

[2015-12-23 23:45] warpech opened #3219 "How to access alias column names in code"
Using SQL `AS` alias syntax for columns (see the below query), I cannot get my aliases to work in C# code as well as in JSON data binding. I don't know how to access the properties `Name` and `Count` of the result in my code.

[code]

Error	CS1061	'object' does not contain a definition for 'Count' and no extension method 'Count' accepting a first argument of type 'object' could be found (are you m

[2015-12-24 16:38] alemoi commented on #9
I have added initial support for this. However its quite primitive and not based on network speed. I will fix that later. The documentation is updated: http://starcounter.io/guides/network/handling-responses/#returning-a-streamed-body
API-wise its ready and can be used.

[2015-12-25 15:37] warpech opened #3220 "NuGet package depends on a different F# version than shipped with Starcounter"
In my [pet project](https://github.com/warpech/GitHubImporter/commit/935f81ebf6d4d2a281a61d94f6ff1f18da0e5ce2) I would like to use [Deedle](http://bluemountaincapital.github.io/Deedle/csharpintro.html) - a library for data exploration.

Installation instructions are simple:

[code]

When starting the project from Visual Studio 2015 (Starcounter 2.1.899), I get an error. It says that Deedle tries t

[2015-12-26 14:42] mtornwall commented on #1801
+1

[2015-12-26 15:01] mtornwall commented on #3219
Not sure if this is the best solution, but you could try binding the `Name` and `Count` properties in your viewmodel to some proxy properties in the code-behind:

     // Comment.json
     {
        "Name": "",
        "$Name": {
            "Bind": "_Name"
        },
        "Count": 0,
        "$Count": {
            "Bind": "_Count"
        }
    }

    // Comment.json.cs
    public string _Nam

[2015-12-27 23:50] alemoi commented on #9
Fixed the adaptive algorithms, which scale downloads much better now. API-wise its the same. Any response regarding this would be appreciated!
In addition, I am thinking of throwing a warning when static files are too large (let's say more than 4Mb), or automatically streaming large files by default without notifying the user.

[2015-12-29 14:11] mtornwall commented on #9
Great work @alemoi! :+1:

This couldn't have come at a better time for me. The fact that I'm synchronously copying the contents of relatively large files (images) into a buffer in one of my handlers has been bugging me for months.

I updated the handler to use `StreamedBody` on my development machine. Looks good!

[2015-12-29 18:31] alemoi commented on #9
Big time thank you for testing! How does it work for you in comparison with previous solution? Do you see the improvement? Do you have any problems/suggestions related to it? Thank you again!

[2015-12-29 21:23] mtornwall commented on #9
I'm working on a benchmarking tool to do some application-specific performance testing. It will need to test the image serving anyway, so I'll try to incorporate some comparative testing of the old solution vs the new one.

[2015-12-30 00:11] mtornwall commented on #9
OK, as it happens I got around to doing this earlier than expected. :-)

I ran the following (naive) microbenchmark to compare my old (byte buffer shuffling in Starcounter thread) solution vs `StreamedBody`. The testing conditions were:

* Asynchronous HTTP client supporting up to 100 concurrent requests
* Server and client run locally
* 1000 served files, chosen at random per request, each of 10

[2015-12-30 13:02] alemoi commented on #9
Thank you for the tests! Do you use Starcounter as a client to the same Starcounter codehost? Because that might be the reason for input queue getting full. Regarding streaming body it should be best for big files, so i expect a decreased performance when serving small. I will write my own tests and we compare the results.

[2015-12-30 13:17] alemoi commented on #9
When it comes to serving like 1000 streamed files, unless there is something else happening in SC server, it should never produce inputqueuefull exception. That was the point of my new implementation of streaming, which should be very resource friendly.

[2015-12-30 13:24] mtornwall commented on #9
The client runs outside of Starcounter (but on the same physical machine) and uses `System.Net.HttpClient`.

[2015-12-30 13:43] alemoi commented on #9
Great! Then if you can publish your hanging test, I will run and investigate it!

[2015-12-30 14:24] ivarbergman commented on #3148
Hi! This change solved my problem.
Thanks!

[2015-12-30 21:56] alemoi commented on #9
I could think of one reason which is RunAsync not doing round robin among all schedulers. I will make it do round robin by default and lets see if it helps!

[2016-01-01 18:55] mtornwall commented on #9
@alemoi I'll try and package the failing test so you can download it tomorrow.

[2016-01-04 07:53] chrhol commented on #3148
Great, then I will close this issue!

[2016-01-04 08:10] Starcounter-Jack commented on #3148
I missed this one. Calling ```ToJSon``` from an app should never return the merged tree. This causes app leakage.

[2016-01-04 12:12] atifsheikh opened #3221 "Question: How to populate Launcher's Header menu?"
Attached is an image to explain my question. Please attach the url, If there is some documentation to achieve this result.

![launcher](https://cloud.githubusercontent.com/assets/4388707/12089390/8cff3600-b2e4-11e5-813f-29283a1d8897.jpg)

[2016-01-04 12:14] atifsheikh commented on #3221
Also how can i use a different URL behind Home button. Currently when i click on Home button, i land on Url : http://localhost:8585/launcher, but i want to land to Url : http://localhost:8585/adfenix/master

[2016-01-04 12:19] miyconst commented on #3221
Current Launcher does not have the top menu section. You can:

- Use css styles to place your menu over the launcher's menu.
- Fork the Launcher and add another section for the top menu.

For the home url, you can use url aliases to rewrite `/launcher` to `/adfenix/master`, or you can fork launcher and replace the home url in the code.

[2016-01-04 12:23] atifsheikh commented on #3221
Thats the solution i was thinking, but what happens when I have to upgrade Starcounter DB version along with Launcher, UserAdmin & SignIn app?
do you guys keep updating code in Launcher, UserAdmin & SignIn apps?

[2016-01-04 12:26] miyconst commented on #3221
We always try to keep our sample apps up to date and compatible with the latest Starcounter version.

[2016-01-04 12:32] atifsheikh commented on #3221
Ok nice, so think i'll fork the Launcher code and modify it as my requirements. Thanks :+1:

[2016-01-04 12:32] #3221 closed

[2016-01-04 15:06] Ripipip opened #3222 "Important: The transaction was aborted because of a failure to allocate file storage space."
Our starcounter apps are suddenly no longer starting and I get the error below.

I can see no lack of space (over 60GB left on hard drive) nor are we close at reaching full usage of memory.

Starcounter.TransactionAbortedException: ScErrOutOfFileStorageAbort (SCERR8010): The transaction was aborted because of a failure to allocate file storage space.
Version: 2.0.3226.3.
Help page: https://github.

[2016-01-04 16:02] miyconst opened #3223 "The application could not be resolved based on the given arguments or context"
Unable to access `Starcounter.Application.Current` inside `AsMimeType` method of `Page` class.

I am trying to make my own `Page` class which inherits `Starcounter.Page` and overrides the `AsMimeType` method.

In the method I try to access `Starcounter.Application.Current` which results in the following exception:

[code]

cc @alemoi, @chrhol

[2016-01-04 19:13] alemoi commented on #3223
I guess its something with Json. @chrhol what do you think?

[2016-01-05 08:17] chrhol commented on #3223
Not directly related to Json I think. The `AsMimeType` method comes from an interface, `IResource`.

The method is called when the response is sent (in `Response.ConstructFromFields`) and is not wrapped with the appname.

I'm not sure how the correct appname can be retrieved. We only have access to the response and the `IResource` object when the response is sent, not the `Json` object (due to dep

[2016-01-05 09:12] chrhol commented on #3222
I've been in contact with @Ripipip and they solved it (temporarily) by using a backup which contained all important data, so now they can run the apps again, which means we have some time to figure out why this happened.

I will receive a copy of the failing database later.

[2016-01-05 09:17] chrhol commented on #3148
This is the bug that was solved in this issue.

I'm not sure what you mean or that you know how it works today, but there is room for enhancment of course, maybe a specific mimetype for this is a better alternative? Or is that what you are talking about?

[2016-01-05 10:32] mtornwall opened #3224 "Concurrent access of typed JSON with Bind directive and Data explictly set to null causes intermittent exception"
Yes, you read it correctly. The only thing missing from this one is a requirement that it be run on a thursday during full moon.

Basically, using a typed JSON document like this one:

[code]

Whose code-behind is simply:

[code]

Now, here's the interesting part. This works fine until you add the magic ingredients:

1. There must be at least two concurrent requests for a page that contains the JS

[2016-01-05 10:48] chrhol commented on #3224
Nice testcase :)

We have some issues concerning TypedJson and concurrent access (#2597) that are not solved so maybe this is something similar, or maybe a bug when determining if an existing databinding can be used or not. I will take a look.

[2016-01-05 11:27] chrhol commented on #3224
Confirmed, it's a problem with synchronization.

This is the key factor in this case. When `Data` property is set to null, all existing databindings are invalidated, and this together with the concurrent access will sometimes result in a nullreferenceexception

So the proper fix for this is to solve the old issue (#2597). We will start building a roadmap and prioritizing existing issues and this o

[2016-01-05 11:34] mtornwall commented on #3224
OK, then I guess it can be worked around for now by not setting `Data` to null?

I agree. I discovered the bug while running some performance benchmarks on my application. It's doubly problematic, because it causes a significant number of requests to fail while decreasing throughput because it has to handle exceptions all the time.

Sounds good; that ought to work for me until a complete fix is re

[2016-01-05 11:52] alemoi commented on #3223
I checked by setting appname at the time when `Response.ConstructFromFields` is called, and there are other problems related to this when mixing several apps responses.

[2016-01-05 12:22] miyconst commented on #3223
I have also tried to access the `Starcounter.Application.Current` directly from the `Main` method - same result.

[2016-01-05 12:26] alemoi commented on #3223
Hmm, so you can access `StarcounterEnvironment.AppName` but not `Starcounter.Application.Current`?

[2016-01-05 12:28] miyconst commented on #3223
`StarcounterEnvironment.AppName` I didn't check this value, but can do that if needed.

[2016-01-05 16:15] binte opened #3225 "Strange behaviour with POST request"
Hey everyone,

I am having some complications with a POST request, in the line highlighted with ** **.The code is shown below:

[code]

It is invoked like this:

                AF.Func.HttpReq.POST(string.Format(URL, token, domain), json);

Everything seems to go smoothly: the URL in the request, immediately prior to the call to getResponse() is correctly formed, the response returned from the as

[2016-01-06 11:30] mtornwall commented on #3225
It sounds like you should debug the server side. If it's a Starcounter application, try starting it in the debugger and set up breaking on all exceptions (Ctrl+Alt+E, then check "Thrown" for "Common Language Runtime Exceptions"). This way you can see when the exception occurs.

Note that if you are POST:ing a JSON document that is automatically parsed by a Starcounter handler, e.g.,:

[code]

Any

[2016-01-06 14:21] binte commented on #3225
I think we are talking about slightly different things. The json is parsed properly from the http body. All the code is running as expected.

The last few lines of our handler looks like this:

                Response response = new Response()
                {
                    StatusCode = 200
                };
                response.HeadersDictionary["Access-Control-Allow-Origin"] = origi

[2016-01-06 14:53] mtornwall commented on #3225
@binte Sorry, I misunderstood your question. :-)

Is it possible that `origin` is null? While I cannot run your exact code on my machine (since `HeadersDictionary` has been removed in Starcounter v2.1) I got a similar result trying to set a header like this:

    Handle.AddOutgoingHeader("Access-Control-Allow-Origin", null);

@alemoi Could we have `AddOutgoingHeader` trap this with an `ArgumentNul

[2016-01-06 21:20] warpech opened #3226 "Problems with negative values in SQL WHERE"
I have a problem with using WHERE with a negative float.

Consider the following data:

[code]

In the `Comment` class, there is a `float Sentiment` field with values from -1 to 4.

Let's try to find all sentiments with value greater or equal 0:

[code]

Now find all with value of less than 0:

[code]

Any idea why do I get no matches in case where I used `< 0` and `= -1`? I would expect all of th

[2016-01-06 21:30] alemoi commented on #3225
Thank you for you question, @binte !

Sure! I will add this check!
And make sure to throw exceptions on null headers.

@binte

[2016-01-07 08:14] per-samuelsson opened #3227 "ScErrWeaverFailedResolveReference: Starcounter.Node"
We have another case of an application that fails to start because of a dependency that can not be successfully resolved, reported by @atifsheikh [here](https://github.com/handsoncode-apps/Braintree/issues/2#issuecomment-168645064).

We really need to put some focus on trying to do better in the UX part, so that users can help themselves whenever these problems occur. I'll spend some time trying t

[2016-01-07 08:59] chrhol commented on #3224
Sorry for the delay in pushing the fix. Couldn't get the buildserver to run a succesful build for some reason.

Anyways it's pushed to develop branch now and will be included in the next nightly build.

[2016-01-07 08:59] #3224 closed

[2016-01-07 09:02] chrhol commented on #3224
Oh, and this should work as well as a workaround:

[2016-01-07 11:34] Starcounter-Jack opened #3228 "When clicking on a link in the app warehouse, the JSON is showed (not the html)"
I visit `http://127.0.0.1:8181/#/databases/default/appstore`. There I'm presented with the Developer Samples store, the Essentials store etc. When clicking at the "Barcodes" link, I get the following in by browser window:

[code]

[2016-01-07 11:44] Starcounter-Jack opened #3229 "Rename App Store to App Warehouse."
The central repository is called the App Warehouse. This is different from the app stores. The app stores are managed by each vendor whereas the app warehouse shows all apps. The warehouse is meant to test third party apps to potentially include them in your own app store.

An example of a text change in administrator:

Before:
[code]

After:
[code]

[2016-01-07 11:51] Starcounter-Jack opened #3230 "When hitting the stop button, the hourglass spinner spins forever"
When stopping an app in the administrator,  the spinner keeps spinning until you refresh the page.

[2016-01-07 13:40] chrhol opened #3231 "pnext: missing files in installer."
I'm trying to add all files that are currently missing in the installer for pnext version. I've found the following differences between my local environment and an installed version. Some are quite clearly needed, but other I'm not sure about.

These I'm currently adding to the whitelist to be able to start database and apps:
- loader.dll
- scdbmetalayer.dll
- TurboText_x-tid_3.dll

These ones are

[2016-01-07 13:44] miyconst commented on #3223
Anything on this issue?

[2016-01-07 18:18] chrhol commented on #3231
The first section is added to whitelist and pushed to pnext branch. Will add any other when I know which ones.

[2016-01-07 20:37] eriohl commented on #3231
logopt.exe should be include as well.

[2016-01-08 00:53] tomalec opened #3232 "Implicit standalone mode check passes partials starting with comment as standalone pages"
The check `"<!"` provided in https://github.com/StarcounterSamples/Partial/blob/master/Partial.cs#L56
treats
[code]
as full HTML document.

We should probably go with at least `<!doctype` or something more sophisticated

/cc @warpech

[2016-01-08 06:24] chrhol commented on #3231
added.

[2016-01-08 09:05] per-samuelsson commented on #3232
This has already been pointed out somewhere earlier, but not in a separate issue. I think @warpech responded something to it, but I can't remember what. It relate to #3202, and what we decide there.

The `Partial` class implementation is not really production-ready as it is today, and we shouldn't spend time on it until we have figured out and decided on the bigger picture.

[2016-01-08 10:03] alemoi commented on #3223
I will try to reproduce the issue with accessing `Starcounter.Application.Current` directly from the Main method first.

[2016-01-08 11:00] alemoi commented on #3223
When I execute the following code, `app` receives correct value.
[code]

@miyconst can you please post the failing code. And original issue code here, so I can debug the thing. Thank you!

[2016-01-08 12:04] tomalec commented on #3232
It was also mentioned at https://github.com/Starcounter/Starcounter/issues/3176#issuecomment-165702285

Before Xmas I was discussing it with @warpech and proposed specific mimetyoes for that `text/html` for full page and `application/vnd.starcounter-partial+html` to somehow correspond with `application/json-patch+json`. But we decided to leave it simpler, so it will work with less (glue) code and

[2016-01-08 12:21] per-samuelsson commented on #3232
Thats the one I was trying to find, but failed doing so. :+1:

Yeah, something like that would probably be most "correct", but we really want to keep the number of lines to a minimum. Its a tuff balance here for sure, with few lines in one corner and "magicless" in the other.

[2016-01-08 13:14] per-samuelsson commented on #3227
I've now done some work to improve the user experience so that the error shows not only the failing dependency, but also the assembly referencing it.

Example:

[code]

I've also updated the relevant error/help wiki page for error [ScErrWeaverFailedResolveReference](https://github.com/Starcounter/Starcounter/wiki/SCERR2147).

@atifsheikh
As for your particular application, I found that the problem

[2016-01-08 13:14] #3227 closed

[2016-01-08 13:20] per-samuelsson commented on #3220
@warpech

Have you tried [excluding the assembly from weaving](https://github.com/Starcounter/Starcounter/wiki/Weaver#how-to-exclude-a-file-from-being-processed)?

[2016-01-08 13:47] miyconst commented on #3223
@alemoi I don't know what happened, but the `Starcounter.Application.Current` value is available in `Main` function now. I tried to test a couple more times, but it works :confused:.

In the `AsMimeType` it still does not work. I am working on a demo project:
https://github.com/miyconst/StarcounterRazor

To reproduce the exception you have to uncomment those lines:
https://github.com/miyconst/Star

[2016-01-09 18:10] alemoi commented on #9
After some testing using @mtornwall test, we identified some issues that I fixed. @mtornwall big thanks for testing. The fixed streaming will be in the coming nightly.

[2016-01-11 00:06] alemoi opened #3233 "Use StreamedBody on download server"
Currently Starcounter setups are transferred using BodyBytes, which is extremely inefficient. We should convert it to use of StreamedBody: http://starcounter.io/guides/network/handling-responses/#returning-a-streamed-body

Related issue: https://github.com/Starcounter/Starcounter/issues/9

[2016-01-11 07:53] chrhol commented on #3142
I think that everything is solved that we discussed in this issue. I consider it done and will close it.

I've readded those tests as well as my own test. They are currently running (and succeeding). Can be found in Level1 repo under `src\Tests`

[2016-01-11 07:53] #3142 closed

[2016-01-11 10:35] careri commented on #2681
No input on this?

[2016-01-11 10:41] careri opened #3234 "DbSession dos and don'ts"
I'm not quite sure how to use DbSession. Can I have a singleton instance to be shared by multiple threads?
If I can have a singleton instance, I guess that using RunAsync is safe. But what about calling RunSync from multiple threads.
Is it lightweight?

It seems to be that DbSession is a factory for producing tasks to put on a scheduler. So my guess is that it's safe to have a singleton instance s

[2016-01-11 14:32] alemoi commented on #3234
Yes, its a singleton and safe to be used. I will create a new API soon with static methods.

[2016-01-11 14:35] atifsheikh opened #3235 "Question : How to make redirect work."
In SC version 2.0.3226.3 i was using the following code to redirect to a url :
void Handle(Input.Redirect action)
        {
            this.RedirectUrl = "/adfenix/campaign/new/view/all";
        }

I have upgraded my SC version 2.0.3226.3 to 2.1.177, and the same code is not working, however if i search this variable my SC Debugger i find 2 variables as shown in the attached image, and updating

[2016-01-11 14:50] miyconst commented on #3235
@atifsheikh do you fully understand how the redirect works on client side?

The `RedirectUrl` in the menu object belongs to `UserAdmin` app, and it is not correct to use some app's model to do your staff.

You need your own property and your own `puppet-redirect` to make the redirection work.

[2016-01-11 14:53] atifsheikh commented on #3235
@miyconst No i dont fully understand how the redirect works on client side. i just checked the existing code.
can you please suggest me any documentation where i can understand this puppet-redirect?

[2016-01-11 14:59] miyconst commented on #3235
Surprisingly the `puppet-redirect` readme is the best tutorial :)
https://github.com/PuppetJs/puppet-redirect

[2016-01-11 15:30] dan31 commented on #2681
Hi @careri! There is a similar issue https://github.com/Starcounter/Starcounter/issues/2822, but you know it already, as I see your comment there :) Yes, we see a consistent way to improve that part and we are going to do it in future releases. Can't tell you more precisely, just show that we hear the inquiry.

[2016-01-11 15:44] k-rus commented on #3226
Thank you for reporting! I will look at it.

[2016-01-11 15:58] atifsheikh commented on #3235
:+1: Great. Thanks @miyconst :)

[2016-01-11 15:58] #3235 closed

[2016-01-12 08:05] careri commented on #2681
Sorry, though this issue looked familiar :)
You can close this one then

[2016-01-12 08:07] careri commented on #2681
Looking forward to the improvements.

[2016-01-12 08:56] andwah commented on #3229
Updated the text in the Administrator

![image](https://cloud.githubusercontent.com/assets/2656996/12258961/bae3900a-b912-11e5-9cc1-9ae7b9b95420.png)

[2016-01-12 09:33] miyconst opened #3236 "System.MissingFieldException: Field not found: 'Starcounter.Handle.ResolveStaticResource'"
Opening a non existing playground results in the following exception:

[code]

[2016-01-12 09:54] miyconst commented on #3236
Solved by upgrading the machine with the latest nightly build.

[2016-01-12 09:54] #3236 closed

[2016-01-12 10:24] miyconst opened #3237 "Layout editor sessions"
This is a discussion issue for morning (11:30 - 11:45) sessions of layout editor with Douglas.

The dedicated playground:
http://douglas-11.mysampleapp.com/

The installed apps:
- [x] Products
- [x] Images
- [ ] Barcodes
- [ ] Procurement

cc @Starcounter-Jack, @dan31, @tomalec, @warpech

[2016-01-12 10:27] miyconst commented on #3237
#### Tasks for the first sessions (2016.01.12):

- [ ] 1. Make image 100x100 in size.
- [ ] 2. Put all three buttons in a row.
- [ ] 3. Put the buttons in a group with a gutter of 10.
- [ ] 4. Move the image on top of the button.
- [ ] 5. Hide navigation buttons, Barcode section, Suppliers section, and Image label.
- [ ] 6. Set label width to 15%.
- [ ] 7. Set input width to 85%.
- [ ] 8. Make but

[2016-01-12 11:05] tomalec opened #3238 "Create flexbox alternative to juicy-tile-grid"
Because of browser compatibility issues of [`<juicy-tile-grid>`](https://github.com/Juicy/juicy-tile-grid/) https://github.com/Juicy/juicy-tile-grid/issues/29
We would like to create a component that works before Chrome and Firefox will un-flag the CSS Grid layout, and something that works in Safari without a shim. http://caniuse.com/#search=grid

The idea is to go back to [flexbox](http://caniuse

[2016-01-12 11:49] miyconst opened #3239 "Add comments about /gw/updateconf to scnetworkgateway.xml"
The `/gw/updateconf` feature described in here: http://starcounter.io/guides/network/networkgateway/ is used so rare that I forget the exact to url when I have to use it again.

Could we:

- [x] Add a comment with a link to the info page and an example of usage to the scnetworkgateway.xml itself?
- [x] Rename or add alias `/gw/updateconfig` as it is easier to remember.

@alemoi, @warpech, what do

[2016-01-12 12:16] per-samuelsson commented on #3112
We've spent some time disucssing this internally, and also done some progress, trying different prototypes. Now there is a spike at [feature/unittests](https://github.com/Starcounter/Starcounter/tree/feature/unittests) branch. Its a bit ugly, contains a hack to get around some weird thing, but it works. I've ran a couple of hosted unit tests to test it out.

I've done the implementation so that wh

[2016-01-12 12:22] k-rus commented on #3112
@per-samuelsson Will or have you written few internal regression tests using your package?

[2016-01-12 12:32] chrhol commented on #3231
Looks like all needed files are included (at least for the time being). I will close this issue.

[2016-01-12 12:32] #3231 closed

[2016-01-12 12:36] andwah opened #3240 "Add Metadata to appstore "Store" item"

[2016-01-12 12:38] chrhol commented on #2362
BUMP. Found this issue when going through some of the tests in the pnext blacklist.

Looks like this is still an issue. Can be reproduced in both develop and pnext by running the `SelectOnNull2362_test` (in `Level1\src\Samples\TestApps\SelectOnNull2362\`) . In develop the test is set to not run as default on the buildserver and in pnext it's currently blacklisted.

[2016-01-12 12:41] andwah commented on #3240
Added description text

![image](https://cloud.githubusercontent.com/assets/2656996/12263694/95008e46-b931-11e5-9e2c-b3cb56cb0ab0.png)

By adding a file ```metadata.json``` in the store folder on the appstore server we can override and add some values.

**metadata.json**
[code]

[2016-01-12 12:41] #3240 closed

[2016-01-12 13:49] chrhol opened #3241 "pnext: SqlProcessor unittests fails."
All unittests currently in project `Starcounter.SqlProcessor.Tests` fails with the same error:

Version: 2.0.0.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR1004.

Should these tests still run as unittests? It looks like some changes in pnext requires them to be run inside a scheduler thread now.

I will disable them for the time being (`MultithreadedTest`, `SequentialTest`, `Pe

[2016-01-12 14:01] warpech commented on #3072
Possible duplicate of https://github.com/Starcounter/Starcounter/issues/3144

[2016-01-12 14:10] miyconst commented on #1842
@budnix, @warpech this is an old issue, I believe it is fixed now. Could you close it if it is so?

[2016-01-12 14:12] miyconst commented on #1813
We have several issues about this feature, could we close this one to don't duplicate?

[2016-01-12 14:13] miyconst commented on #1738
@andwah this is fixed, right? Could you close it?

[2016-01-12 14:16] miyconst commented on #1322
In the current version there is no popup at all, closing the issue.

[2016-01-12 14:16] #1322 closed

[2016-01-12 14:24] #1738 closed

[2016-01-12 14:25] miyconst opened #3242 "Correctly execute queries with semicolon (;) in the end"
It could be easily solved by just removing the character, and would provide much better experience for comers from ms-sql server.

A nice warning like "The semicolon is not supported by Starcounter and ignored" could be added instead of rising "Incorrect SQL syntax" exception.

[2016-01-12 14:56] miyconst commented on #3114
@chrhol did you have a chance to take this? It should be an easy update?

[2016-01-12 15:00] miyconst commented on #3020
@per-samuelsson are there any documentation for `DbState` class?

[2016-01-12 15:17] k-rus commented on #3241
Thank you for reporting!
The tests are supposed to work. I guess they were not adopted to the threading model of pnext.

[2016-01-12 15:50] warpech commented on #1322
Thanks @miyconst for issue gardeninig :smile:

[2016-01-12 20:21] per-samuelsson commented on #3020
No, just like a lot of classes are not properly documented. But this class is not intended for public use, its public only because we had to for some historical reason.

@bigwad

Sorry I haven't replied earlier. I just get random notifications from GitHub, its been like that for long unfortunatelly, and I try to keep up as good as I can, but from time to time I miss a post. Sorry. I think I've ans

[2016-01-12 23:21] alemoi commented on #2362
I checked the code generation and its seems alright on the first look. Data stream has value: 5 0 0 0 0 0 (meaning null value). Instruction array is: string property (13) ORed with shifted data index (2): 525, string variable: 5,  string equality comparison: 21.
Iterator is created with range (full range): 5 0 0 0 0 0 and 13 0 0 0 1 255 255 255 255 255 255 255 255.

During first iteration (MoveNex

[2016-01-12 23:45] eriohl commented on #2362
Are we still discussing reference values? Consider that there is no reference tracking so that if the target reference is deleted the column value of the referenced record is not updated. So the query processor needs evaluate the reference to determine is it is invalid. Maybe the query processor doesn't do this correctly? (This is why IS NULL can't be evaluated against an index in the case of refe

[2016-01-13 01:16] tomalec opened #3243 "Add a tool build to release packages"
It would be great to have a tool to publish app packages.

Even though I have used a grunt tasks I have prepared some time ago, it took me 2hours publish packages for 5 apps, and I'm still not done.

Could we prepare a tool build in star/staradmin or even npm module - just the one simple thing that could be installed globally, not per repo, that would:

1. prepare a package

  1. Build an app if n

[2016-01-13 05:04] miyconst commented on #3243
+1, this was discussed and required so many times, maybe it's time to finally implement this tool.

[2016-01-13 05:08] miyconst commented on #3020
Okay, then I should not use this class in an open source and free Starcounter sample application, am I right?

[2016-01-13 08:24] warpech commented on #1842
I received some code updates from @budnix before holidays. I will test them today and close issues accordingly. Thanks for reminding

[2016-01-13 09:15] warpech commented on #1842
This is unrelated to the last fixes from @budnix, so I can close it right now independently of them.

[2016-01-13 09:15] #1842 closed

[2016-01-13 09:24] warpech commented on #2987
@budnix wrote in an email:

I confirm that https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59 fixes the problem.

I will merge it later.

[2016-01-13 09:25] warpech commented on #2990
@budnix wrote in an email:

I confirm that https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59 fixes the problem.

I will merge it later.

[2016-01-13 09:26] warpech commented on #2986
@budnix wrote in an email:

I confirm that https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59 fixes the problem.

I will merge it later.

[2016-01-13 09:29] warpech commented on #2991
@budnix wrote in an email:

I confirm that https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59 fixes the problem.

This commit changes paths to JS files in `index.html`. I need to make sure they are updated in `.csproj` as well.

I will merge it later.

[2016-01-13 09:29] warpech commented on #3157
@budnix wrote in an email:

I confirm that https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59 fixes the problem.

This commit changes paths to JS files in `index.html`. I need to make sure they are updated in `.csproj` as well.

I will merge it later.

[2016-01-13 09:36] warpech commented on #1635
@budnix wrote in email:

After https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59 I can see that there is a horizontal scrollbar in the DIV container (see the screenshot below).

I would prefer to only use window scrollbars for horizontal and vertical scrolling of the table, as previously. @budnix could you please change this?

![screen shot 2016-01-13 at 10 33 3

[2016-01-13 09:58] warpech commented on #2991
Closing as a duplicate of https://github.com/Starcounter/Starcounter/issues/3157

[2016-01-13 09:58] #2991 closed

[2016-01-13 09:59] warpech commented on #3157
@budnix is there any reason why you kept on using `handsontable.full.css` instead of `handsontable.full.min.css` in https://github.com/budnix/Starcounter/commit/e258f21c0a9490be9fc3f72dd5d32a2d5c6c6e59?

[2016-01-13 10:05] #3157 closed

[2016-01-13 10:07] warpech commented on #3157
Switched to use minified CSS. @budnix said it's ok in IM.

[2016-01-13 10:10] warpech commented on #2990
Merged

[2016-01-13 10:10] #2990 closed

[2016-01-13 10:10] warpech commented on #2987
Merged

[2016-01-13 10:10] #2987 closed

[2016-01-13 10:10] warpech commented on #2986
Merged

[2016-01-13 10:10] #2986 closed

[2016-01-13 10:22] warpech opened #3244 "SQL query browser should use the window horizontal scrollbar"
Currently, the SQL query browser (Handsontable) adds its own horizontal scrollbar when the table does not fit horizontally:

![image](https://cloud.githubusercontent.com/assets/566463/12291456/a844a4a4-b9e7-11e5-8e02-2138fbc894b7.png)

The desired UI is to use the window scrollbar for horizontal scrolling (the same as for vertical scrolling).

After the change, verify that the manual test is passi

[2016-01-13 10:23] warpech commented on #1635
I have pasted this request as a separate issue: https://github.com/Starcounter/Starcounter/issues/3244

[2016-01-13 10:23] #1635 closed

[2016-01-13 12:35] careri opened #3245 "Json instance to JsonString"
A picture says more than...
![json_exception](https://cloud.githubusercontent.com/assets/4263597/12294434/b7710ebe-b9fa-11e5-9b99-3db86da767c8.PNG)

[2016-01-13 13:08] careri commented on #3245
I think I figured it out, I had a property that returned a linq query which resulted in new instances each time the property was queried. I changed it so that the query result is cached and returned.
This was the original property that yielded new instances for each call
[code]

[2016-01-13 13:23] k-rus commented on #1170
Not needed any more due to DNX.

[2016-01-13 13:23] #1170 closed

[2016-01-13 13:24] k-rus commented on #1165
Closing in favour of new planning for new query processor

[2016-01-13 13:26] k-rus commented on #1165
May be it is good to keep it open, since it is already formulated. I fix label instead.

[2016-01-13 13:26] chrhol commented on #3245
Alright, good that you found a way to avoid it. I will take a look why you got the exception though, should not happen.

[2016-01-13 13:30] k-rus commented on #1214
@alexanderstc I guess this issue is valid and will be important when we move to DNX and 3.x, but not now. I remember we discuss similar for meta-layer. WDYT?

[2016-01-13 13:32] k-rus commented on #1235
It was created as guests.

[2016-01-13 13:32] #1235 closed

[2016-01-13 13:33] k-rus commented on #1240
Now the meta-schema is in `metaschema.json`. It is an incremental approach in improving it. Closing this issue.

[2016-01-13 13:33] #1240 closed

[2016-01-13 13:33] k-rus commented on #1242
Incremental approach on improving metaschema, which goes immediately into implementation.

[2016-01-13 13:33] #1242 closed

[2016-01-13 13:35] k-rus commented on #1249
@alexanderstc was it already done?

[2016-01-13 13:35] k-rus commented on #1262
Improvements are done on demand.

[2016-01-13 13:35] #1262 closed

[2016-01-13 13:36] k-rus commented on #1263
@alexanderstc is working on implementing new memory manager. An issue is in Level0 repo.

[2016-01-13 13:36] #1263 closed

[2016-01-13 13:37] k-rus commented on #1266
Closing this issue in favour of future issue with the similar task.

[2016-01-13 13:37] #1266 closed

[2016-01-13 13:40] alexanderstc commented on #1249
Yes,  I believe so.

On Wed, Jan 13, 2016 at 5:35 AM -0800, "Ruslan Fomkin" <notifications@github.com<mailto:notifications@github.com>> wrote:

@alexanderstc<https://github.com/alexanderstc> was it already done?

-
Reply to this email directly or view it on GitHub<https://github.com/Starcounter/Starcounter/issues/1249#issuecomment-171291031>.

[2016-01-13 13:42] alexanderstc commented on #1214
I need to re-examine this.

On Wed, Jan 13, 2016 at 5:30 AM -0800, "Ruslan Fomkin" <notifications@github.com<mailto:notifications@github.com>> wrote:

@alexanderstc<https://github.com/alexanderstc> I guess this issue is valid and will be important when we move to DNX and 3.x, but not now. I remember we discuss similar for meta-layer. WDYT?

-
Reply to this email directly or view it on GitHub<https

[2016-01-13 13:50] #1249 closed

[2016-01-13 13:56] k-rus commented on #1214
Currently, it is backlog issue, but it seems to me we will need to fix it eventually.

[2016-01-13 14:10] alemoi commented on #2362
If I set value("aaa") to LastName of the person, and query becomes `Person q = Db.SQL<Person>("select p from Person p where LastName = ?", "aaa").First;` then result is correctly retrieved (same instruction stream 525 5 21, different value stream of course because of "aaa"). So it must be something with `null` value and code generation scan I suppose.

[2016-01-13 14:16] k-rus commented on #1270
Latest suggestion is Git Book

[2016-01-13 14:19] alexanderstc commented on #1214
Discussed with @k-rus, probably only error reporting from the SQL parser has to be fixed (changed to use the same metalayer error buffers, probably).
Though this must be done before we call the SQL parser compatible with any thread-agnostic scheduler.

[2016-01-13 14:21] k-rus commented on #1290
For development purpose of the component it is good to keep on the low level, since it reduces development time. Will not be done.

[2016-01-13 14:21] #1290 closed

[2016-01-13 14:23] k-rus commented on #1367
I think it was already done. Closing.

[2016-01-13 14:23] #1367 closed

[2016-01-13 14:23] k-rus commented on #1403
On the way

[2016-01-13 14:23] #1403 closed

[2016-01-13 14:25] k-rus commented on #1448
On the way

[2016-01-13 14:26] k-rus commented on #1448
It was discussed with @eriohl and meta-data creation will be done in DM when it is ready. It will be important for DNX version.

[2016-01-13 14:27] k-rus commented on #1490
Migration to VS 2015 was already done.

[2016-01-13 14:27] #1490 closed

[2016-01-13 14:28] k-rus commented on #1497
Done with type `usc2_char`

[2016-01-13 14:28] #1497 closed

[2016-01-13 14:29] k-rus commented on #1624
We are not using the forum any more.

[2016-01-13 14:29] #1624 closed

[2016-01-13 14:43] alexanderstc commented on #1214
@k-rus

Yes, the result was "it's OK to use thread-local vars to keep data while serving a user call, but not between user calls".
Hence we should fix SQL parser error reporting because it requires the user to call another function to retrieve an error which happened in a previous function.

[2016-01-13 15:35] diliger opened #3246 "Error setting long decimal value (1/3)"
Getting the next exception when try to set long decimal value to the decimal field like 0.33333333333..

![long decimal exception](https://cloud.githubusercontent.com/assets/15857369/12298595/f90fa410-ba23-11e5-8fb8-4e02cb244f8d.png)

It says: "decimal cannot be converted without data loss. range error.", then what is the maximum acceptable decimal digits?

cc @miyconst

P.S. piece of code from In

[2016-01-13 15:48] diliger opened #3247 "Glyphicons don't work"
In the tutorial i read that any glyphicon can be used:

So I try to use **glyphicons-vector-path-line** but my icon doesn't appears on the page:
![glyphicon line](https://cloud.githubusercontent.com/assets/15857369/12299014/ed0239e2-ba25-11e5-9d14-e06c866fe41d.png)

![no glyphicon](https://cloud.githubusercontent.com/assets/15857369/12299055/19e91f98-ba26-11e5-8da7-f524399b0fa0.png)

cc @miyconst

[2016-01-13 15:49] miyconst commented on #3246
@k-rus I have never heard about this limitation. What is the supported values range for the `decimal` data type?

[2016-01-13 15:51] miyconst commented on #3247
Thanks for reporting this, looks like we have to update the `glyphicons` in the `/sys/` folder.

[2016-01-13 16:13] k-rus commented on #3246
Starcounter's decimal stores only 6 positions after the dot. Otherwise float should be used.
Decimal and its limitations need to be documented on our IO website. Keeping this issue open until it is done.

[2016-01-13 16:19] k-rus commented on #1679
@per-samuelsson have you looked to this issue already while fixing other issues related to VS?

[2016-01-13 16:20] k-rus commented on #1683
Too old issue. Closing.

[2016-01-13 16:20] #1683 closed

[2016-01-13 16:21] k-rus commented on #1729
Meta-layer is in Level0 now.

[2016-01-13 16:21] #1729 closed

[2016-01-13 16:22] k-rus commented on #1734
Probably, not valid any more. closing.

[2016-01-13 16:22] #1734 closed

[2016-01-13 19:17] miyconst opened #3248 "Very weird exception when trying to execute an expression over a db class"
I am working on a `Starcounter.DbContext` class which would provide basic access to database tables without writing any sql.

Here is the repository: [Starcounter.DbContext](https://github.com/miyconst/Starcounter.DbContext)
Here is the main class: [DbContext.cs](https://github.com/miyconst/Starcounter.DbContext/blob/master/Starcounter.DbContext/DbContext.cs)

Now, strange things happens as soon a

[2016-01-13 19:17] miyconst commented on #3248
cc @alemoi, @k-rus, @eriohl

[2016-01-13 19:52] per-samuelsson commented on #1679
I have a vague memory I looked in to this long time ago, and fixed it, but it's weird the issue is still open. I'll assign it to me to verify it it still apply.

[2016-01-13 20:32] eriohl commented on #3248
I'm just guessing here but if Product and Something is in different assemblies it could be that the assembly with Product links to a different assembly then the one you expect. CLR allows for multiple classes with the same name to be loaded and you can get really weird results when this happens (usually because different assemblies links to different versions of the same assembly).

[2016-01-13 20:35] miyconst commented on #3248
No, `Product` and `Something` both are declared in `Simplified`.

[2016-01-13 20:48] eriohl commented on #3248
Another idea then: You're code probably links the field name while the weaver changed it to a property (thus the field Name is missing). Name is a database field right. The weaver is supposed to change access to a property call but this probably isn't working for some reason.

[2016-01-13 20:51] miyconst commented on #3248
Is it @per-samuelsson responsibility?

[2016-01-13 20:57] eriohl commented on #3248
He has the best handle on the weaver yes so he is probably then one to ask if this is the problem (although this is a guess on my part).

[2016-01-13 21:30] per-samuelsson commented on #3248
I have no instant guess, but I'm a bit tired right now. Let me take a look tomorrow with a pair of fresh :eyes:

[2016-01-13 21:40] miyconst commented on #3248
@per-samuelsson sure, it's time to take some rest.

[2016-01-14 07:15] k-rus commented on #3248
+1

Side note: your implementation of `Starcounter.DbContext` is expensive due to string concatinations.

[2016-01-14 07:43] eriohl commented on #2978
Dealing with this is not so critical. It works as it is and creates no compatibility issues dealing with it later. So postponing work on this.

[2016-01-14 08:15] eriohl commented on #2965
Ok. It was my understanding that switching to TT4 because was important because of these serious issues in TT3. Thus I wanted this done before we move to **pnext** because if it is done later it will add a lot of extra work because of the format change. So in my opinion we either fix this now or kick the can into the tall grass and use TT3 for the foreseeable future.

As for performance the microb

[2016-01-14 08:16] eriohl commented on #2160
Well... Getting to a point now where we really need this with the infinite character addressed....

[2016-01-14 08:17] k-rus commented on #1813
closing

[2016-01-14 08:17] #1813 closed

[2016-01-14 08:24] k-rus commented on #1784
@alexanderstc
Can you look to this issue when you will fix error reporting of the parser (issue #1214)?

[2016-01-14 08:27] miyconst commented on #3248
@k-rus thanks for the note, you are always about the performance :).

Here are my thinks:

- `DbContext` does not support complex sql queries, and those smart guys who work on extremely big tasks will write their sql queries manually.
- In a small to mid size Starcounter application the performance impact would be minimal, as there are about up to 5 sql queries per page.
- As soon as I get the sol

[2016-01-14 08:34] eriohl commented on #3199
I'm thinking that we should have scdblog.exe start scdata.exe instead of the other way around. Then establishing a connection from scdata.exe to scdblog.exe will be a lot more stable because we don't need to handle it with a timeout. Additionally: #3195 will be easy to address as well using job object (as for logopt). I think it will be more correct also since scdblog.exe is to outlast scdata.exe.

[2016-01-14 08:36] k-rus opened #3249 "Public simple type checker of SQL processor"
Simple type checker is implemented for current limited implementation of INSERT INTO in native SQL processor. I suggest to provide type checker API publicly for use in code host. For example, it can be utilised in `Starcounter.DbContext` implementation, see [this discussion](https://github.com/Starcounter/Starcounter/issues/3248#issuecomment-171570648)

[2016-01-14 08:39] k-rus commented on #3248
A proper implementation of `Starcounter.DbContext` should not rely on SQL and should use low level API. It is the only way to have reasonable performance. However, it is not a small task.
To move in that direction I created a small task for our side, issue #3249.

[2016-01-14 08:43] miyconst commented on #3248
Totally agree, but I don't have access to it. Maybe you can feed me with some readme?

I don't know how this all works under the hood, but I do know, that if we implement those few methods I have in the `DbContext`, we would eliminate about 80% of string sql queries in the apps.

[2016-01-14 08:53] eriohl commented on #3065
Will be inconsistent with the range check on other types (like decimal) so I think we are better of leaving as is (bad input does not fail the transaction while all other (non-deterministic) write failures does).

[2016-01-14 08:53] #3065 closed

[2016-01-14 08:55] bigwad commented on #3199
It'll simplify process management a lot, but not so consistent on architecture design. Say, it makes harder to launch readonly db instance that doesn't require scdblog.

[2016-01-14 08:57] k-rus opened #3250 "Propagate meta-layer error messages to the code host"
In some cases meta-layer prepares informative error messages. They are retrieved by calling `star_metalayer_errbuf()` described in *level0/src/include/metalayer.h*.

[2016-01-14 09:12] miyconst commented on #3247
The tutorial has a partially wrong statement.

You can use only icons from *bootstrap* [glyphicon collection](http://getbootstrap.com/components/#glyphicons-glyphs), but not from entire set of the glyphicons.

The tutorials are fixed now. Please choose one of the available icons.

[2016-01-14 09:12] #3247 closed

[2016-01-14 09:33] eriohl commented on #3199
If you want to run without the log writer you can just launch scdata.exe directly. Or scdblog.exe can just not start the log writer thread (running scdblog.exe doesn't actually start the log writer, it is scdate.exe connecting to it that does). So I I don't think running without log writing will be an issue.

As for whether it is consistent with the architecture design I it can of hard to say sinc

[2016-01-14 09:35] k-rus commented on #3248
Since this discussion is off-topic for this issue, I moved it into separate issue Starcounter/CompanyTrack#167

[2016-01-14 09:52] k-rus commented on #1969
Too old issue, thus closing.

[2016-01-14 09:52] #1969 closed

[2016-01-14 09:55] k-rus commented on #1971
Implemented, but few issues left to solve. Separate issues exist for this.

[2016-01-14 09:55] #1971 closed

[2016-01-14 09:57] k-rus commented on #1977
I am not sure if this issue is still relevant. If it would be a problem, users would create another issue. Thus closing this one.

[2016-01-14 09:57] #1977 closed

[2016-01-14 09:58] k-rus commented on #1978
@andwah is it still an issue?

[2016-01-14 09:59] k-rus commented on #1979
Can this issue be closed?

[2016-01-14 09:59] k-rus commented on #1981
Not relevant any more, since we migrated to VS 2015.

[2016-01-14 09:59] #1981 closed

[2016-01-14 10:00] bigwad commented on #3199
On running without logwriter - I mean that it would be perfect if switching to readonly mode would be as simple as passing "-readonly" parameter to db executable. So nobody would care running another executable.

On architecture -  I believe it's more consistent if scdata launches scdblog (as now) as scdata requires scdblog's services, not vice versa. Or some upper level component should exist tha

[2016-01-14 10:05] k-rus commented on #2026
This issue seems to be obsolete. Closing.

[2016-01-14 10:05] #2026 closed

[2016-01-14 10:15] per-samuelsson commented on #1979
I think this issue is one of those that are hard to evaluate, and its not deterministic. On top of that, if it still applies, fixing it most likely need quite a largish redesign.

Thats the input I can give. If you want to close it or leave it open, its for you to decide. :)

[2016-01-14 10:17] dan31 commented on #2160
@linkdata Can you have a look? We aren't yet making test runs on
replicator  expecting pnext further fixes, so you should have capacity to
go into this issue.
On 14 Jan 2016 09:16, "eriohl" <notifications@github.com> wrote:

[2016-01-14 10:21] k-rus commented on #1979
Since it is not deterministic and old, I close it.

[2016-01-14 10:21] #1979 closed

[2016-01-14 10:29] eriohl commented on #3199
Since the actual log writer is launched only when the scdata.exe connects, having scdblog.exe launching scdata.exe is pretty much the same as having a third process launching them both (with the difference that the log writer runs in a separate thread rather then a separate process). I agree that it feels better that scdata.exe launches scdblog.exe (which is why I did this to begin with) but I thi

[2016-01-14 10:29] k-rus commented on #2038
closing

[2016-01-14 10:29] #2038 closed

[2016-01-14 10:31] eriohl commented on #3164
Support for this implemented in kernel as discussed.

[2016-01-14 10:31] #3164 closed

[2016-01-14 10:35] k-rus commented on #2060
SO is included in Starcounter thus all app regression tests include it. (only low level tests require to exclude SO).

[2016-01-14 10:35] #2060 closed

[2016-01-14 10:41] eriohl commented on #2890
Done all I can on this for now. Work is suspended pending setup of proper tests.

[2016-01-14 10:53] dan31 commented on #2965
I believe we all agree we should have a single version of TT in pnext asap, before we merge it in develop. What if we do this in such order:
1) @eriohl fixes this in pnext with TT4 current track as he suggests,
2) @alemoi provides a test-run polygon to run more functional tests with broad code coverage in addition to TPC-C (perhaps in 2-3 weeks he can address it),
3) We get confirmable feedback fr

[2016-01-14 10:55] #3245 closed

[2016-01-14 10:57] andwah commented on #1978
No, it has been resolved, closing issue.

[2016-01-14 10:57] #1978 closed

[2016-01-14 11:02] bigwad commented on #3199
I agree, that we can look at it as scdblog is the main db process. Then we shouldn't run scdata on its own, but only via scdblog (renamed).
Though the better solution from my point of view would be to launch scdata and scdblog piped (scdata|scdblog) under the supervision of some upper process. Maybe it has some problems from performance point of view - has to be probed.
But the simplest solution -

[2016-01-14 11:11] eriohl commented on #2965
Just to be clear: You want me to merge adaption to TT4 into **pnext** asap and hope that the performance difference either doesn't matter or can be worked out later then?

[2016-01-14 11:12] k-rus commented on #2067
Project ParseAndPrint does not exist anymore.

[2016-01-14 11:12] #2067 closed

[2016-01-14 11:16] k-rus commented on #2169
I am not sure if it will be done. If needed separate issue will be created.
Otherwise most tasks are done or separate issues exist.

[2016-01-14 11:16] #2169 closed

[2016-01-14 11:18] dan31 commented on #2965
I will also clarify: I suggest that having TT4 in pnext now and have its performance fixed soon later is better than keep pnext with TT3 and still maintain TT3 and TT4 tracks. (Having less parallel tracks will save us time and energy, and, as being said by someone as an antipattern, nothing is more permanent than the temporary). Do you agree, or you think it is a bad idea to merge adaption to TT4

[2016-01-14 11:21] k-rus commented on #2177
Is this issue still relevant?

[2016-01-14 11:21] k-rus commented on #2177
@warpech
Is this issue still relevant?

[2016-01-14 11:24] k-rus commented on #2178
Reload is tested in regression of QueryProcessingTest, which tests with the same version of Starcounter. It was decided not to test unload/reload between different versions of Starcounter. Also we will try to remove need in unload/reload between incompatible versions of Starcounter. So I close this issue as not worth the effort.

[2016-01-14 11:24] #2178 closed

[2016-01-14 12:05] eriohl commented on #2965
I can't determine that. I just wanted to be clear what you wanted me to do.

[2016-01-14 12:17] dan31 commented on #2965
I'm supporting a decision which makes most sense based on your mutual feedback. Based on this, having TT4 in pnext and have it fixed asap for performance looks the best to go. @linkdata, once @eriohl merges TT4 in pnext, how much would it take you to address performance improvement? @linkdata please confirm you agree with the scheme https://github.com/Starcounter/Starcounter/issues/2965#issuecomme

[2016-01-14 13:25] budnix commented on #3244
I reverted previous behavior. Now when table is wider than browser viewport window scroll appears (https://github.com/budnix/Starcounter/commit/fdabe50e5c502abcced55cb7edfc37448b2783f3). After this fix it will look like this:

![issue-3244](https://cloud.githubusercontent.com/assets/571316/12325338/dca12dd4-bac9-11e5-8e12-c9ff4e10d57d.gif)

[2016-01-14 13:34] warpech commented on #3244
Great! But before we consider it finished, we need to make the top bar look nice in such case.

@andwah do you have any suggestion? Should we use `position: fixed` for the top bar?

[2016-01-14 13:40] alemoi commented on #2824
I have looked at this issue and found the following: the Prolog monitor (PBMonitor.cs in Level0) was shutting down Prolog  sessions that were taking too long time, however they were not actually. Prolog session is time between sending the query to Prolog engine and receiving the response back. I found an issue when Prolog session is closed only when exception occurs which is wrong (basically the s

[2016-01-14 14:10] k-rus commented on #2202
Most tasks are completed. One task is decided not to do. Four tasks are done but not merged. Closing.

[2016-01-14 14:10] #2202 closed

[2016-01-14 14:18] linkdata commented on #2965
The performance difference between TT3 and TT4 in encoding/decoding is mostly due to TT3 only supporting UCS-2 and TT4 supporting full Unicode. While we can't realistically drop Unicode as a feature and limit ourselves to UCS-2, there may be some optimisations possible.

As to testing performance, we should test it in SC. Microbenchmarks are good while developing the library to give an indication

[2016-01-14 14:20] k-rus commented on #2228
next does not exist anymore. the issue is obsolete.

[2016-01-14 14:20] #2228 closed

[2016-01-14 14:20] linkdata commented on #2160
Yep, I will get right on this.

[2016-01-14 14:21] k-rus commented on #2232
This part was redesigned and fixed.

[2016-01-14 14:21] #2232 closed

[2016-01-14 14:21] k-rus commented on #2233
Done

[2016-01-14 14:21] #2233 closed

[2016-01-14 14:22] k-rus commented on #2248
obsolete issue

[2016-01-14 14:22] #2248 closed

[2016-01-14 14:23] k-rus commented on #2257
obsolete

[2016-01-14 14:23] #2257 closed

[2016-01-14 14:23] k-rus commented on #2259
obsolete

[2016-01-14 14:23] #2259 closed

[2016-01-14 14:29] eriohl commented on #2965
I've already done this.

[2016-01-14 14:29] k-rus commented on #2295
Polyjuce edition does not exist, however the order still seems to be strange: it is started from the most unstable and the most stable does not fit the first screen.

[2016-01-14 14:32] k-rus commented on #2396
meta-schema is changed and the issue is obsolete.

[2016-01-14 14:32] #2396 closed

[2016-01-14 14:33] k-rus commented on #2422
I guess it was fixed.

[2016-01-14 14:33] #2422 closed

[2016-01-14 14:34] k-rus commented on #2426
no such tables anymore.

[2016-01-14 14:34] #2426 closed

[2016-01-14 14:35] k-rus commented on #2434
@alexanderstc
What do you think about this issue?

[2016-01-14 14:37] k-rus commented on #2481
obsolete issue

[2016-01-14 14:37] #2481 closed

[2016-01-14 14:37] linkdata commented on #2965
Awesome! :)

[2016-01-14 14:40] k-rus commented on #2660
It was reconsidered to keep as it is.

[2016-01-14 14:40] #2660 closed

[2016-01-14 14:40] k-rus commented on #2675
Running tests in develop was redesigned and improved.

[2016-01-14 14:40] #2675 closed

[2016-01-14 14:41] k-rus commented on #2677
Is it still valid?

[2016-01-14 14:43] k-rus commented on #2692
DEF files are not used any more.

[2016-01-14 14:43] #2692 closed

[2016-01-14 14:43] k-rus commented on #2702
Done

[2016-01-14 14:43] #2702 closed

[2016-01-14 14:48] linkdata commented on #2965
I'll start looking at possible TT4 speedups.

[2016-01-14 14:52] linkdata commented on #2965
@eriohl : Which branch should I be working with? I see pnext-TT4, is that the correct one, with the infinity-char added?

[2016-01-14 15:26] andwah commented on #2295
It's in alphabetical order.

[2016-01-14 15:32] andwah commented on #3244
I think we should only scroll the content of the table (including the column headings). the table should stretch to the browser window (parent container) content width.

What will happen if we have two or more tables?

[2016-01-14 15:33] k-rus commented on #2295
then descending alphabetical order?

[2016-01-14 15:34] warpech commented on #3244
@andwah we are speaking about the case when the table is wider than the window width, so it cannot stretch.

I propose to make the top bar `position: fixed` in that case, so the horizontal and vertical scrollbars will effectively only scroll the table.

[2016-01-14 15:38] warpech commented on #3244
As with a regular HTML table, after scrolling beyond the first table the second table will get on screen.

[2016-01-14 15:39] eriohl commented on #2965
Yes.

[2016-01-14 15:39] andwah commented on #3244
@warpech i know, dont you think it will be better to ***not*** use the browser horizontal scrollbar in that case?, then we dont need to mess with the top bar etc.. Otherwise we need to do "special" thing on every place where we use the handsontable to keep top/bottom stuff where we want them.

[2016-01-14 15:42] andwah commented on #2295
At the moment we have ```Daily```, ```Nightly``` and ```Stable``` and very soon ```pnext```

[2016-01-14 15:44] warpech commented on #2177
No, that was a one time thing. Closing.

[2016-01-14 15:44] #2177 closed

[2016-01-14 17:11] dan31 commented on #2295
@andwah Can you make the channel ordering configurable via some conf table
(Channel-name, Channel-order-number)? So that, if ordering is given by a
number - it is used to order, and for all these channels that aren't given
an order, they are put to the bottom of all other channels in alphabetical
order. It would help a lot not to mislead the majority of downloaders.
On 14 Jan 2016 16:42, "Anders W

[2016-01-14 19:07] andwah commented on #2295
@dan31 Sure that is possible it only take time,  when should i do this?

[2016-01-14 20:45] per-samuelsson opened #3251 "Suggest API's for middleware registration of HTML serving based on JSON"
Today, stateful Starcounter web applications normally serve JSON to clients.

If the JSON has a special property "Html", and the code-behind class derive `Page` or `Partial`, Starcounter render the referenced HTML, using it as a template, populating it with the returned JSON.

Instead of this implicit model, we aim to move towards one that is based on middleware explicitly enabled or provided by a

[2016-01-14 21:00] per-samuelsson commented on #3251
A few general guidelines for the upcoming middleware API's:

1. Aligned with future DNX / ASP.NET 5 stack
2. Middleware handlers should be chained, with handlers being responsible for invoking the next handler in the chain (or terminating if desired)
3. Normal middleware is app-specific, not host-specific ("app isolation")
4. The pipeline is executed in the order it is registered by the applicatio

[2016-01-14 21:30] alemoi commented on #2677
I will check the build history to make a verdict.

[2016-01-15 08:28] per-samuelsson opened #3252 "Non-informative ArgumentOutOfRangeException when deriving Page and not assigning "Html""
Relate to #3251, #3200, #3202.

Having this JSON:

[code]

with this code-behind

[code]

and returning it like

[code]

gives me this

[code]

The reason is I haven't assigned the "magic" `Html` property.

We are about to remove `Page`. But I wanted to highlight this anyway, making sure we provide a better experience even when we register a middleware that instruct the MIME type converter to cons

[2016-01-15 09:11] per-samuelsson commented on #3248
Just a short update on this: the problem is in the weaver, where expressions like the one used is not really supported.

There are a few cases we can't handle, and that we never have bothered addressing. One example is passing database fields as `ref` or `out` parameters. When such code is detected, the weaver produce an error, saying this is not allowed.

For this particular case, I'm just in the

[2016-01-15 10:03] chrhol opened #3253 "pnext: missing index for Starcounter.Metadata.DataType"
The exception below is thrown when executing the following query in the administrator

`SELECT * FROM Starcounter.Metadata.DataType`

Exception:
[code]

Other queries on metadata tables works (have not tried all though)

[2016-01-15 10:22] dan31 commented on #3199
Thanks to @chrhol and @andwah we now produce PNextNightly build with installer downloadable http://downloads.starcounter.com/download. Having installed Starcounter with defaults, I get the same behaviour when run any Starcounter application from Visual Studio on a virtual machine:

What's the difference from you guys running to Starcounter built locally from source code to Starcounter installed fr

[2016-01-15 10:27] tomalec opened #3254 "Performance of WebComponents - Vulcanizing"
I think maybe it's a time to vulcanize our imports, asn HTTP2 is not yet here.
Thanks to that we could improve performance of our pageload, I think it should give better improvement for browsers, that does not have native HTML Imports, as then we would need to shim only single instance of `<link rel="import"` per page.

I think we could strat with vulcanizing `starcounter.html`.
So, when developer

[2016-01-15 10:33] alemoi commented on #3199
Most of the tests are running in the environment that is equal to installation, except for whitelists, for example.

[2016-01-15 10:35] chrhol opened #3255 "pnext: broken database and no informative logentries"
After running some tests locally my default database stopped working. It's no longer possible to start it (only the database, no applications) and the only error that is reported and logged is this one:

[code]

It's reproducible every time.

A copy of my repo is available on dropbox (`Exchange\Christian.Holmstrand\broken_db.zip`). I will try to attach a debugger and see if I can find anything mor

[2016-01-15 10:36] chrhol commented on #3255
Oh, forgot to add: deleting it and using a fresh database works fine!

[2016-01-15 10:42] chrhol commented on #3199
We found the problem, not related to this in this case. @dan31 had an old database in the repo so a new one was not created, and the imagefiles could not be found.

[2016-01-15 10:43] dan31 commented on #3199
My false alarm, I simply forgot I haven't removed the old database dir. It worked well now, whilst the error message today is too generic. We will have a separate issue on its improvements. @alemoi, can you now try to install and run pnext from the download website as we done last time to try replicator?

[2016-01-15 10:43] k-rus commented on #3253
Why do you try to select from `DataType`? There is no index defined for it. I wonder if there is use case to query it?
This will work as soon the global index is in place. The work is on-going and will be merged into pnext.

[2016-01-15 10:53] chrhol commented on #3253
Since there are very little documentation on how to use metadata, mostly when I need to do something it's trial and error. I found the best way for me is to select all values in the administrator and try to find what I need. I don't use it in code, there I have it as reference from `Column`.

Then it will be solved by that.

[2016-01-15 10:56] chrhol commented on #3253
About this, I guess not really. You probably never query datatype directly except for just curiosity.

[2016-01-15 11:03] dan31 commented on #3253
@k-rus what's your suggestion on documenting the metadata tables? I remember we've had a documentation for it internally with a nice picture for more than a year. Maybe it is a time to publish it. What do you think?

[2016-01-15 11:04] chrhol commented on #3255
I found this in eventlog:

[code]

@eriohl: can you take a look?

[2016-01-15 11:23] k-rus commented on #3253
There is an issue to document meta-data.

Existing graphs are out dated. More changes in meta-schema will be done. It would be nice to generate graph based on `metaschema.json`, which contains the actual state.

[2016-01-15 11:25] alexanderstc commented on #1784
Shouldn't this be "to ucs2_char" instead of "to wchar_t"?

[2016-01-15 11:39] warpech commented on #3254
Right now, `starcounter.html` only imports `puppet-client.html`, so there is little to vulcanize, but of course it would save few roundtrips.

Do you mean to include more imports there? If so, then a question:

Consider that our vulcanized `starcounter.vulc.html` contains: `puppet-client.html`, `polymer.html`. If some partial imports `polymer.html` explicitly, then the browser will attempt to relo

[2016-01-15 11:43] eriohl commented on #3255
The application has managed to write a log entry with an update to a reference value with size 0, which is  kind of unexpected according to the recovery.

Could I get some instructions on how to run the code that created the bad log entry?

[2016-01-15 11:47] eriohl commented on #2965
Done.

Note to @linkdata: pnext-TT4 branch is dropped.

[2016-01-15 11:47] #2965 closed

[2016-01-15 11:48] chrhol commented on #3255
I was running and debugging the `Tunity.CRM` app several times. Not really sure exactly what happened, but I killed the processes in an unfriendly way more then once to start the debugging from the beginning.

I can try and see if I can reproduct it on a clean database.

[2016-01-15 12:06] dan31 commented on #3222
Any news on this one?

[2016-01-15 12:09] dan31 commented on #2793
@Ripipip can we close this one?

[2016-01-15 12:19] chrhol commented on #3255
I've been able to reproduce it by simply starting and killing all processes over and over.

There is a zip-file with the app on dropbox, same place as before (`CRM.zip`).

Simply start the app (there is a bat file that can be used) and after it's sucessfully started kill all processes (with `staradmin kill all` for example) and then repeat. After a few times the error occurs.

It doesn't seem to h

[2016-01-15 12:38] per-samuelsson commented on #3248
OK, I don't think I can justify spending more time on this without us putting it into the context of the roadmap.

The weaver fail to detect the reference to the field because it is in a lambda expression, and when I've studied the IL, it's clear the compiler does not emit any instructions we currently act upon, i.e. neither `ldfld` nor `ldflda`.

In fact, reverse-enginering the produced code show

[2016-01-15 12:51] alemoi commented on #2793
Yes, this one is resolved. I was just waiting for confirmation.

[2016-01-15 12:51] #2793 closed

[2016-01-15 12:51] linkdata commented on #2965
I just checked in a version of TT4 with a hash-based encoder that is about 50% faster in pnext-TT4.

@eriohl Can you merge those changes into the branch you want it in, and then let me know which branch I should be working in when I start working on decoder speed?

[2016-01-15 12:57] k-rus commented on #1784
Yes, of course. Renamed.

[2016-01-15 12:58] eriohl commented on #2965
Merge what from where? Merged TT4 into pnext as described. Can't you just push you're stuff there as well?

[2016-01-15 13:04] linkdata commented on #2965
I did development in pnext-TT4 since you told me to, but you merged and removed that branch before I could push my local changes. But no problem, I'll copy my changed files from pnext-TT4 into pnext. Should be an easy merge.

[2016-01-15 13:08] eriohl commented on #2965
OK. Sorry. Should have waited a bit dropping the branch of course.

[2016-01-15 13:17] per-samuelsson commented on #1679
Tested using F5, and everything works just as expected. Protocol I followed:

1. Created a solution with 3 Starcounter Application projects (App1, App2, App3).
2. Set them all to "Start".
3. Hit F5. All of them start.
4. Hit Stop debugging.
5. Set App2 to "None"
6. Hit F5. App1 and App3 start.
7. Hit Stop debugging.
8. Set App2 to "Start".
9. Hit F5. All of them start.

I'll run it with Ctrl+F5 al

[2016-01-15 13:21] per-samuelsson commented on #1679
Same thing - everything works just as one would want it to.

I'll close this issue.

[2016-01-15 13:21] #1679 closed

[2016-01-15 13:23] linkdata commented on #2965
Push into pnext.

[2016-01-15 14:09] eriohl commented on #3255
Need some SocietyObjects assemblies as well (weaver is missing SocietyObjects.Concepts.Ring1.dll as far as it gets). Where can I find these?

[2016-01-15 14:20] chrhol commented on #3255
Ahh, right. These are included when you install starcounter so I always forget them. I have copied them to the zip.

[2016-01-15 14:22] miyconst commented on #3248
@per-samuelsson thank you for the investigation. In spite of this issue really upsets me, I don't think you should spend more time trying to fix it.

Can you propose me any solution of providing property name of a db class property without typing any strings?

[2016-01-15 14:33] binte commented on #3225
Hey guys, sorry for not following the conversation, but I have been on holidays until today. @mtornwall you are correct. Seems that the problem was that origin was NULL, as you said. The value was being changed by reference, and I didn't notice that.

Thank you so much for your help!

[2016-01-15 14:33] #3225 closed

[2016-01-15 14:38] k-rus commented on #3204
I found the problem, generated CLR classes for meta-tables do not set `SetSpecifier` property for inserted records. I will investigate how to fix it.

[2016-01-15 14:49] alexanderstc commented on #2434
The parser and sqlprocessor are fine both makefiles and projects.
Fixed the metalayer makefile too, now it's OK.
Succeeded on the buildserver on my pvt build, pushed to pnext, waiting for the buildserver to be fixed.

[2016-01-15 16:06] k-rus commented on #3248
I guess you can use our internal structures, which contain meta-data about database classes and properties for .NET code host use: `TypeBinding`, `TypeDef`, `PropertyDef`. They don't have any separate documentation. So it is necessary to look to their definitions and how they are used in Level1.

[2016-01-15 16:33] tomalec commented on #3254
puppet-client still have some dependencies that we could concatenate. Then maybe we could vulcanize Launcher's imports.

Regarding your question, you're right as it would not only send the request - it's not that bad because number of request would still be less or equal to the number in current solution.

The worse thing is a fact it would execute the same code once again, what may lead to tons o

[2016-01-15 17:33] miyconst commented on #3248
@k-rus you misunderstood me.

I am trying to replace string sql queries with something that won't compile if the db class was changed.
So, my first solution for such query:

[code]

Was

[code]

But `x => x.Name` is not supported by Starcounter. Any replacement?

[2016-01-17 06:53] per-samuelsson commented on #3248
Yeah, it makes perfect sense, and this is kind of why the community has wanted C# operators like `propertyof`, `fieldof`, `methodof` etc for, in addition to the current `typeof`, but C# still lack that.

Even if what you tried would work, it's still not really what we want I think. Because it's slow. Acessessing and interpreting the lamda expression like that is not compile time optimized, so I th

[2016-01-17 14:06] miyconst commented on #3248
Thank you @per-samuelsson, I go with `nameof` for now, and hope to see linq support in Starcounter 3.0. Closing this issue for now.

[2016-01-17 14:06] #3248 closed

[2016-01-17 18:03] mtornwall commented on #3112
@per-samuelsson I have some qualms about this approach. There's just too much "magic" going on -- since tests will touch the database, possibly in a rather destructive manner, I must be *absolutely certain* that no testing code *ever* gets deployed to and run on a production machine. The suggested method, in which I assume the application project would reference the test project in order for the t

[2016-01-17 22:31] mtornwall opened #3256 "JSON binding to Nullable<T> broken"
*The following is technically a duplicate of #3144, but I think this issue will be easier to search for.*

Starcounter's typed JSON currently (2.1.177) doesn't seem to support `Nullable<T>` types. Real-world use case:

[code]

Bound to JSON:

[code]

The result:

[code]

[2016-01-18 07:03] per-samuelsson commented on #3112
Thanks for the feedback @mtornwall.

No, the application project does not reference the tests. The code host match on a naming pattern, as I describe above.

I don't really see the benefit of having to introduce a separate extra application. Would that application have to explicitly trigger the tests do you mean?

I can see your point that maybe it's more "magic" than what is good, in the way I pr

[2016-01-18 07:05] per-samuelsson commented on #3112
No, I haven't, and no, I don't plan to. This is not in any main branch, remember. It's just a spike in an isolated branch, to see what alternatives we have and testing stuff out.

[2016-01-18 07:15] per-samuelsson commented on #3256
Thanks for creating this issue @mtornwall.

As the referenced #3144 suggest, we have never supported this. So I changed the title. Hope you don't mind.

We are about to do some inventory of issues we want to pinpoint to certain milestones, trying to better have a visible roadmap. Typed JSON is one of the main areas. Let's see where this one fits into the mix. I'm interpreting it as you think it's

[2016-01-18 07:49] alexanderstc commented on #2434
Fixed, in pnext.

[2016-01-18 07:49] #2434 closed

[2016-01-18 09:14] mtornwall commented on #3112
@per-samuelsson

Ah, sorry, I read that part too quickly. :-)

The "extra application" could just as well come in the form of a built-in feature in `star` or `staradmin`, like you proposed. I agree that there is no direct benefit to having another application to start.

This sounds like an excellent solution to me. As long as I must opt in to running the tests I'm happy.

[2016-01-18 09:17] mtornwall commented on #3256
Not at all!

I wouldn't say I consider this a high-priority issue. But I think that since nullable types are supported in the database layer, it makes sense for them to be seamlessly supported in the JSON layer as well.

[2016-01-18 09:20] per-samuelsson commented on #3112
Yeah, the more I think of it, the more sense that makes. Thanks for taking the time to point this out to us. I'll make sure we respect this once we make it into a final implementation.

[2016-01-18 09:22] per-samuelsson commented on #3256
Couldn't agree more. Thanks for the feedback.

[2016-01-18 09:27] bigwad opened #3257 "pnext: loader reopens log file for every log entry"
logreader class may reopen log file many times (presumably for every log entry). It affects db loading and logreader component.

[2016-01-18 10:12] per-samuelsson commented on #3251
More design guidelines:

1. Middleware should ultimately be provided with a context that include at least request, response, session, application info.
2. Built-in middleware should support options / customization; custom middleware should be presented with a straight-forward way to support the same.

[2016-01-18 10:45] eriohl commented on #3255
Ok. I assumed this should come from the installer but when installing from a downloaded installer I still didn't get the binaries... But no matter. I can reproduce the problem. Working on trying to figure out what goes wrong.

[2016-01-18 11:01] tomalec opened #3258 "Create a <table> alternative to juicy-tile-grid"
As an alternative approach to https://github.com/Starcounter/Starcounter/issues/3238 for [browser support of `<juicy-tile-grid>`](https://github.com/Juicy/juicy-tile-grid/issues/29)

It seems that even though flex box layout is now widely supported, and gives lots of flexibility to applying responsive layouts, it's hard to mimic grid-like 2d behavior to single dimensional flexbox.

I thought, that

[2016-01-18 11:29] miyconst commented on #3258
@tomalec I thought and even tried to make something like this.

The `colspan` and `rowspan` is not supported on

[code]

This is what stopped me. If you can find an alternative for this, then I really vote up for the idea!

[2016-01-18 11:47] eriohl commented on #3255
Resolved. Was a fix in recovery when setting default value in reference column that caused the problem.

[2016-01-18 11:47] #3255 closed

[2016-01-18 12:25] tomalec commented on #3258
I hope for `<td>` in shadow dom :)

[2016-01-18 13:41] per-samuelsson opened #3259 "Minimum cermony HTML bound to view model?"
Having this

[code]

and this,

[code]

whats the minimum required in `test.html` with a body like this

[code]
returned like this

[code]

to have **Per** rendered in the browser?

Read-only display is fine, i.e no patching, and preferably something a little less than what is suggested [here](http://starcounter.io/tutorials/1-introduction-to-part-1/1-5-render-json-in-html/#displaying-json-in-html

[2016-01-18 13:42] per-samuelsson commented on #3259
/cc @warpech @tomalec @miyconst

[2016-01-18 13:47] per-samuelsson commented on #3259
Basically, what I want is to have the built-in template engine to just replace that single mustache for me, not bothering with sessions, patching, styling, whatever.

[2016-01-18 14:26] warpech commented on #3259
In order to use the templating engine that we use in apps (Polymer), you need to use PuppetJS (which itself requires session and includes patches support) that loads the view-model and binds it to a JS object.

The minimum HTML becomes:

[code]

Which is not very different to https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/Partial.cs

[2016-01-18 14:29] warpech commented on #3258
@tomalec if you get bugged by the default auto column resizing in `<td>`, you can check out the CSS `table-layout: fixed` property.

https://css-tricks.com/fixing-tables-long-strings/

It is used in Handsontable

[2016-01-18 14:52] tomalec commented on #3258
Thanks :)

[2016-01-18 14:53] alemoi commented on #2981
I guess this one can be closed now? Since @chrhol resolved all the problems we had.

[2016-01-18 15:02] miyconst commented on #3258
So.. you are actually going to generate `<table>` layout in Shadow DOM?

[2016-01-18 15:13] per-samuelsson commented on #3259
Thanks @warpech, I actually almost nailed it by just playing around, but couldn't get it to work because I missed including `<puppet-client ref="puppet-root"></puppet-client>`.

[2016-01-18 15:43] per-samuelsson commented on #3202
We have a work issue for this now, and it's in the loop. I'm responsible for #3251, so I think we can close this one down once we nail that one. I'll therefor reassign this one to me as well.

[2016-01-18 16:24] k-rus commented on #3034
Seems to be similar problem with insert into, see [this comment](https://github.com/Starcounter/starcounter.io/issues/117#issuecomment-172562030)

[2016-01-18 18:38] tomalec commented on #3258
yes

[2016-01-19 08:39] per-samuelsson commented on #3259
This one is clearly answered.

[2016-01-19 08:39] #3259 closed

[2016-01-19 08:52] eriohl commented on #3257
I think you might have misunderstood this. I double checked this and, unless you are doing something very different from what I'm doing (running recovery), log reader opens each log element file only once during load.

[2016-01-19 08:58] eriohl commented on #3222
Starcounter allocates a fixed size file based on the size of the memory of the machine. Generally you should not be able to run out of this space unless you moved the database to a machine with more memory without recreating the database image (although in theory file fragmentation along with swapping could cause this error as well).

This issue has been addressed in next version of Starcounter (w

[2016-01-19 09:05] bigwad commented on #3257
Have you tried to load database from log with more than one log file? I noticed this problem with all log files except the first one.

[2016-01-19 09:10] MLidstrom opened #3260 "Default database not installed"
Had to manually create the default database after installing Starcounter (Windows 8.1 using VMware Fusion on OSX).

[2016-01-19 09:17] miyconst commented on #3260
@MLidstrom could you please also past here the tutorial link and provide your Starcounter version?

[2016-01-19 09:25] MLidstrom commented on #3260
http://starcounter.io/guides/tools/administrator/

I had no "default" database. The only option I had was to create a new database. I created one named "default" and I was back on track.

Starcounter-Stable-2.1.177

[2016-01-19 09:28] eriohl commented on #3257
You are right. There is something that isn't working properly.

[2016-01-19 09:50] eriohl commented on #3257
Problem is that file_.elem_index isn't updated when opening a new file (so reader always things it is file 0 that is open and thus closed and opens a new one for every read). Fix pending.

[2016-01-19 09:59] k-rus commented on #2824
I experience `no connection to Prolog Server` two times today during debugging Level1. I am working with branch pnext, where latest develop is merged.

[2016-01-19 09:59] eriohl commented on #3257
Fixed.

[2016-01-19 09:59] #3257 closed

[2016-01-19 10:10] chrhol commented on #2824
I think this fix in Level0 develop is not yet merged to pnext Level0. I can do that when I'm finished with some changes in LaL for running it in pnext.

[2016-01-19 10:23] chrhol commented on #2824
Merged now.

[2016-01-19 10:34] chrhol commented on #2981
Yeah, you are right. I will close it!

[2016-01-19 10:34] #2981 closed

[2016-01-19 10:40] mtornwall commented on #3260
@MLidstrom Note that the `default` database is created automatically if you attempt to start a Starcounter application.

[2016-01-19 10:56] k-rus commented on #2824
Yes, of course, the changes were not merged yet. Thank you for merging them!

[2016-01-19 11:17] warpech commented on #3260
@MLidstrom's case was that after reading this page http://starcounter.io/sample-apps/ he wanted to **use** Administrator to start an app from the App Store, by:

1. Install Starcounter
2. Start Starcounter Server by clicking on the desktop icon
3. Go to Administrator (localhost:8181 in a browser)
4. Click on App Store
5. Install an app

Point 4 doesn't work because you need to manually create a da

[2016-01-19 11:31] per-samuelsson commented on #3260
Another option would be to support access to App stores "globally", i.e. not enabling that link only from inside a database tab. I know I once searched for the AppStore link in Administrator, and found it a bit confusing I could only find it after first browsing to a database.

WTBS, to support that story would also require us to allow a database to be automatically created when installing an app

[2016-01-19 11:37] per-samuelsson opened #3261 "pnext: Building Starcounter ("Level1.sln") without access to Bluestar"
In 2.x, I can clone the Starcounter repo, checkout `develop` and build `Level1.sln` only having access to the network for the build system to fetch the Bluestar bits for me.

If I try the same with **pnext**, I experience a myriad of errors.

Starting to diagnose it, I noticed one of the first was that `GenerateMetadataClasses.exe` build tool couldn't find `\PNext\Level1\bin\Debug\metaschema.json`

[2016-01-19 12:51] chrhol opened #3262 "pnext: failing builds on buildserver"
From time to time a build fail on the buildserver and I see the following error

[code]

Running the same build again often succeds.

It doesn't happen quite that often though, and since the history was cleaned in the last teamcity upgrade, I only found two builds in the existing history:
https://teamcity.starcounter.org/viewLog.html?buildId=88&buildTypeId=Starcounter_PnextDailyWindows&tab=buildRe

[2016-01-19 13:10] k-rus commented on #3262
I often get this problem locally. For example, if I clean Level1 then I catch it on the first build.

[2016-01-19 13:26] warpech commented on #1972
Closing this as a duplicate of #2453. The other issue has more evidence.

[2016-01-19 13:26] #1972 closed

[2016-01-19 13:27] warpech commented on #2453
This is still a problem. Very confusing for anyone who upgrades Starcoutner using the installer.

[2016-01-19 13:32] warpech commented on #2858
Closing this umbrella issue. Remaining point is covered in https://github.com/Starcounter/starcounter.io/issues/119

[2016-01-19 13:32] #2858 closed

[2016-01-19 13:35] warpech opened #3263 "Change the text on desktop icons"
Currently, the desktop icons are barely indistinguishable:

![image](https://cloud.githubusercontent.com/assets/566463/12419978/c39bcca6-beb9-11e5-8e61-ed40d094a3a7.png)

Why don't we change the icon text to:

- Starcounter Server
- Starcounter Administrator

[2016-01-19 13:51] miyconst commented on #3237
#### Tasks for 2016.01.20 session:

The first version of `juicy-tile-simple-editor` is done and ready for testing here:
http://juicy.github.io/juicy-tile-editor/simple.html

On the demo page I have faked response from Products, Images, Barcodes applications.

- [ ] 1. Put Save & Cancel button to the very bottom.
- [ ] 2. Put Barcode value section under Description.
- [ ] 3. Hide Image label.
- [ ]

[2016-01-19 14:41] MLidstrom opened #3264 "Nightly installations fail"
After installing latest stable 2.1.177 (14 okt 2015 17:28:43) I wanted to install the latest nightly so I uninstalled 2.1.177 and installed 2.1.1048 (19 jan 2016 03:00:59) but it failed with:

![1](https://cloud.githubusercontent.com/assets/538395/12421327/0f543ac2-bec2-11e5-81da-9b0a8d684ea4.png)

and

![2](https://cloud.githubusercontent.com/assets/538395/12421336/1f1aa068-bec2-11e5-8139-b87743b

[2016-01-19 14:57] alemoi commented on #3264
Thank you for reporting this! There are some known problems in Windows regarding VS 2015 redistributable. We have a thread addressing this: https://github.com/Starcounter/Starcounter/issues/3067

[2016-01-19 15:23] alemoi commented on #3264
I will modify the messages so they comply with each other.

[2016-01-19 15:32] alemoi commented on #2824
Thank you for testing @k-rus
Let me know if you see it again (or if you not see :)) !

[2016-01-19 15:41] per-samuelsson commented on #3263
Should we even have them at all? I don't really like them. Is it normal for servers to put icons on the desktop like this?

I think we could at least consider removing the icon to the server. And, if so, rename admin icon like suggested.

[2016-01-19 15:49] dan31 commented on #3264
Nice catch @MLidstrom :+1:

[2016-01-19 16:05] alemoi commented on #3264
The error 3010 is an exceptional case that we didn't met before. It means that restart is required after redist installation. I made a patch that shows a special message box for this case: "Installation of Microsoft Visual Studio 2015 Redistributable (x64) succeeded but requires system restart. Please restart your computer now and start Starcounter installation again.". Later I need to fix that St

[2016-01-19 16:39] warpech commented on #3263
For me the opposite, actually. The Administrator icon is more confusing than Server. It brings an empty page if the Server is not started:

![image](https://cloud.githubusercontent.com/assets/566463/12425062/5969bbda-bed3-11e5-89c6-222d4065125b.png)

I use the Server icon quite a lot (after `staradmin kill all`). I also use the Administrator icon, but more rarely.

[2016-01-19 16:42] warpech commented on #3264
Can the first alert message also say "Microsoft Visual Studio 2015 Redistributable (x64)"?

Right now it says "Microsoft Visual Studio C-runtime", which is confusing because it is not apparent if it means the same thing.

Also, can we make it clear that installation of "Microsoft Visual Studio 2015 Redistributable (x64)" does NOT mean that Visual Studio 2015 will be installed?

[2016-01-20 00:47] alemoi commented on #3264
Yea, i fixed the texts as well. Not the clarification though)

[2016-01-20 06:06] per-samuelsson commented on #3263
OK. I'll rest my case in this issue, since I don't have any real strong opinion. I agree that if we keep them, they should be renamed like you suggested in the OP.

[2016-01-20 07:26] chrhol opened #3265 "pnext: tpcc_long_test fails with timeout"
The `tpcc_long_test` fails from time to time with a timeout when a rest-call is invoked. I'm not sure if there is some underlying problem or that the call simply takes longer time then currently allowed.

[code]

Builds 2.3.457, 2.3.468 and 2.3.491 have all failed with the same error.

[2016-01-20 07:38] chrhol opened #3266 "Label of the current task in the build log in TeamCity sometimes gets mixed up."
The label of the current executing task in the build log sometimes gets mixed up with some earlier task making a little harder to read the log.

In the snippet below, `[sqlregression_test-bat]` comes up both when starting the next test and in the end of the current (as well as starting the test after that)

[code]

Another snippet from the same build, when generating installer and uploading packag

[2016-01-20 08:09] linkdata commented on #2160
I'm scratching my head trying to figure out what the problem is here. Could you elaborate on what you mean by this:

[2016-01-20 08:12] chrhol commented on #3253
I think this issue can be closed. A fix for this will be available when the global index is in place.

[2016-01-20 08:12] #3253 closed

[2016-01-20 08:17] linkdata commented on #2160
Ah, ok, now I remember. I'll add it to the collation, but it'll bloat it a bit per code point (literally).

[2016-01-20 09:00] linkdata commented on #2160
Ok, push to pnext. The collation encoding now has the infinite character. I had to rebalance the encoding to get it in there, so it now encodes `a` to `d` in 2 bits less but everything else uses one more bit.

[2016-01-20 09:02] k-rus opened #3267 "Teamcity builds with random changes"
I noticed that updated Teamcity starts builds with changes from different time instead of latest one. Thus it starts builds, which cannot succeed. It uses changes, which were committed to a personal branch and were committed to master branch with other changes, but the teamcity ignores the other changes. See latest builds in [pnext-daily-windows](https://teamcity.starcounter.org/viewType.html?buil

[2016-01-20 09:04] MLidstrom opened #3268 "Failed database creation doesn't clean up files."
If a database creation fails - for example trying to create a database on a port that is already in use - it fails with "ScErrHandlerAlreadyRegistered (SCERR13003): This handler has already been registered. Can't register URI handler "GET /sc/db/{?}/{?}" on port 8080. This handler is already registered. Version: 2.1.1048. Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR13003."

The

[2016-01-20 09:09] per-samuelsson commented on #3268
@MLidstrom

Thanks for reporting this. I also noticed this when I tested, so its easy reproducible.

@andwah?

[2016-01-20 09:09] miyconst commented on #3268
+1

@andwah I think that:

- Administrator should check whether port is available before creating any files.
- Administrator should ask "The directory *myDatabase* is not empty, do you want to remove it?" if by any chance there left some old or corrupted files.

[2016-01-20 09:10] per-samuelsson commented on #3268
We have a really old issue somewhere that we want to "pick next available port" when creating databases, but it seems it never got any real love.

[2016-01-20 09:12] miyconst commented on #3268
Here is the issue: https://github.com/Starcounter/Starcounter/issues/2557

But it is a bit different. It is when we start an app from Visual Studio, there is no database yet, and the `8080` port is occupied by some other program.

[2016-01-20 09:13] k-rus opened #3269 "Teamcity does not recognize native tests"
Teamcity was reporting passed and failed tests for native tests, which are written in gtest and run with ctest, earlier. But now it does not report them, instead only exit code is used for errors and log requires inspection.
See [this build](https://teamcity.starcounter.org/viewLog.html?tab=buildLog&buildTypeId=Starcounter_PnextDailyWindows&buildId=145) of pnext daily windows.

[2016-01-20 09:34] andwah commented on #3268
Does it mean that we should block so databases can not use the same port number?

Then we may change so we have a range of portnumbers in the configuration that we can pick from rather just to specify one port (8080) in the configuration.

[2016-01-20 09:35] warpech commented on #3106
As an easy fix for this issue, Administrator C# code could just check it the `Count` of the result is `> 1000` and show an error message ("Too many rows in the result").

If we want to use pagination, this repo http://github.com/handsoncode-apps/InvoiceDemo is supposed to show how to add pagination. Basically, it uses `FETCH` & `OFFSET`.

[2016-01-20 09:37] warpech commented on #3229
Can this be closed?

[2016-01-20 09:41] warpech commented on #3097
My workaround for this is to use `RunWithinApplication`:

[code]

[2016-01-20 09:45] warpech commented on #2971
@careri was the problem solved?

[2016-01-20 09:46] warpech commented on #2934
Any reason why this was closed? It is still reproducible in current nightly 2.1.1058

This was reported to me again yesterday by @MLidstrom

[2016-01-20 09:55] miyconst commented on #3268
No, I didn't mean that. There might be other databases using same port, but not running at the moment.

[2016-01-20 09:55] warpech opened #3270 "Installing an app from "App Warehouse" does not start it"
As reported to me by @MLidstrom, it is misleading that when installing an app in the "App Warehouse" it is not started immediately.

The green icon suggests that installation finished with success, so it feels like the app is available for trying out. There is no indication saying that you need to go back to database home page to start it manually.

![bug](https://cloud.githubusercontent.com/asset

[2016-01-20 09:56] miyconst commented on #3106
This should not be an error, it should be a warning.

"There are X records in this result. Displaying first 1000 records."