[2015-10-19 19:44] per-samuelsson commented on #2947
@jwillmer @jakubklekota

Sorry no one answered this yet. And thanks for the feedback!

I guess the title should be "Open web browser **when** clicking on 'Start Debug' in VS", not *then*, right? If so, I understand the request, and yes, that sounds like a good enhancement. (If I misunderstood, please clarify).

Technically, this could most certainly be done. I even checked the code, and it looks l

[2015-10-19 20:18] atifsheikh commented on #2957
@mtornwall . :+1: Great. I needed this exact thing.
I am currently doing it the way @dan31 suggested, but its not very optimal.

Thank you guys for the help :)

[2015-10-19 20:18] #2957 closed

[2015-10-19 20:25] dan31 commented on #2957
@mtornwall @atifsheikh Super-easy :+1:

[2015-10-19 21:26] warpech commented on #2959
In other platforms, application exception produces a HTTP 500 status code, which can be handled using an error handler that uses a web template (for `Accept: text/html`) or just a string response (for other types):

RoR: http://wearestac.com/blog/dynamic-error-pages-in-rails
Django: https://docs.djangoproject.com/en/1.8/howto/error-reporting/
Express: http://expressjs.com/guide/error-handling.html

[2015-10-19 21:31] warpech commented on #2961
Mind that `AddFilterToMiddleware` is a request filter so this might be by design. Is this needed?

@alemoi can you elaborate how this works? If this is by design, could you provide a meaningful exception when `AddOutgoingHeader` is used in wrong context?

[2015-10-19 21:37] alemoi commented on #2961
Actually I just fixed the issue via b2f8c1637131fe9f0cba903debfffc42ad3cd90b
Available in this nightly.
I have rewritten the code regarding how outgoing response fields are processed, now, for example, if one adds a header, then all responses, including static files, will contain that header.
It was working wrong before (not covering all cases), and setting outgoing headers in `AddFilterToMiddlewa

[2015-10-19 22:01] warpech commented on #2942
Additionally, when copy pasting multiple rows, changes are copied in strange CSV format. This was reported by @andwah by email and may or may not be related.

[2015-10-19 22:05] warpech commented on #2942
Thanks a lot for the useful tip @per-samuelsson!

[2015-10-20 06:17] dan31 commented on #2954
Hi @mtornwall! @alemoi, WDYT?

[2015-10-20 06:22] miyconst commented on #2960
Well, this is a very big limitation then.

Basically it means, that applications can't create any db classes inherited from `Simplified` because this will break all other applications if the original one is not started.

[2015-10-20 06:23] k-rus commented on #2960
I confirm that SQL processor in 2.x is tightly bound to .NET host environment, thus applications must be loaded, i.e., classes are loaded and runtime metadata populated, to allow SQL processor work on them.

[2015-10-20 06:25] dan31 commented on #2960
Our users would benefit if we explain the limitation and the proposed workflow for 2.x, having the limitation in mind. However, I don't see the best way right now to do the explanation, so I rely on discussing that with you @k-rus.

[2015-10-20 06:26] dan31 commented on #2960
CC @alemoi This relates to how shared data models are to be used in 2.x.

[2015-10-20 06:36] k-rus commented on #2960
I confirm that queries cannot retrieve objects for a general class if they are of the class, which was not loaded.
I guess the query processor should cast objects to general type when asked. This is not so obvious in 2.x. It will be much simpler in 3.x, I guess, due to hierarchical set specifiers.

I believe the following query also fails in 2.x:
[code]

[2015-10-20 06:46] miyconst commented on #2961
Confirm to be fixed.

[2015-10-20 06:46] #2961 closed

[2015-10-20 06:48] miyconst opened #2963 "Middleware filter is not being hit for sc/htmlmerger request"
@alemoi,

Should
[code]
Be invoked per `http://localhost:8080/sc/htmlmerger?` requests?

I need it, but not sure it should.

[2015-10-20 06:53] chrhol commented on #2949
Of course, you can get the same behaviour by binding the json-property to a codebehind property that does the exact same thing as the converter in your example so maybe a specific Converter implementation is not needed.

The only drawback with this solution is that you need to specify the binding-path manually since properties in JSON-by-example file and codebehind cannot have the same name curren

[2015-10-20 07:12] chrhol opened #2964 "Binding JSON-by-example to property in codebehind"
The current solution to bind a property in JSON-by-example to a property in the codebehind requires that the properties have different names.

[code]

[code]

The reason for this is that for each property in JSON-by-example an property is added to the generated code that gets and sets the value. This could be simplified and enhanced so that if a property in codebehind exists with the same name, no

[2015-10-20 07:13] chrhol commented on #2949
Hmm, I cannot find it even after browsing through all TypedJSON issues, maybe it's not labeled correctly. Anyways I created a new issue, #2964

[2015-10-20 07:17] miyconst commented on #2902
Some input from @malx122:

[code]

[2015-10-20 07:20] chrhol commented on #2902
I have a solution for this. Want to spend a little time and see if It's possible to simplify it. Will probably push the fix before lunch.

[2015-10-20 07:22] eriohl opened #2965 "pnext: Switch to TurboText 4"
Replace TT 3 with TT 4.

* No need to keep support for TT 3.
* No need for log upgrade since previous versions are not compatible anyway.

[2015-10-20 07:26] miyconst opened #2966 "Default constructor for Starcounter.Session"
Right now we do not use any kind of Session except `SessionOptions.PatchVersioning`.

I think this should be default value when session created, so instead of:

[code]

We just write:

[code]

Moreover, I think that Session should be created automatically if there is no session yet.

In asp.net session is created automatically, but it can be disabled via configuration file if needed.

cc @alemoi,

[2015-10-20 08:30] chrhol commented on #2902
I pushed a fix for this to develop now.

**Note**: When updating to a Starcounter version that contains this fix it is also needed to update the Launcher, I moved setting a field to there when a `LauncherWrapperPage` is created

[2015-10-20 08:49] mtornwall commented on #2962
Curiously this seems to happen much less frequently once the service has successfully started at least once. This may be a coincidence, but I'll look into it some more.

Unfortunately I cannot say as I've only tried running the service with the 2.1.x versions.

[2015-10-20 09:17] chrhol commented on #2902
After discussion with @miyconst, just to make it more visible, that this is a hack (as usual) to make layout-information to be injected in the response.

The proper solution is to implement #2690 to allow Launcher (or other app) to handle it and remove all magic code from serializer.

[2015-10-20 10:30] miyconst opened #2967 "Add possibility to pass x-referer value as a query string parameter"
In cms application I need to protect some static html files from unauthorized access. To be able to check current signed user, the request should be executed in same session scope as main page.

Request for static content is coming from HtmlMergerer via Self.GET(). Request to HtmlMergerer is coming from `<link rel="import" />` which makes it impossible to add custom session header.

The cookie can

[2015-10-20 10:39] warpech commented on #2967
Perhaps point 3. may be done by @alemoi

I agree it should be more specific than just `SessionId`, because someone might want to have a better use for such key in their query strings. `StarcounterSessionId` looks better.

Or `SCSESSID`, to make it look familiar with other languages (other frameworks [use](http://www.sphider.eu/forum/read.php?2,7176) PHPSESSID, JSESSIONID, ASPSESSIONID, sid, zenid)

[2015-10-20 10:43] eriohl opened #2968 "pnext: Node interleave storage memory."

[2015-10-20 11:15] warpech opened #2969 "Replace AddFilterToMiddleware with AddRequestFilter"
This is of low priority.

In Handle class, there a method called [`AddRequestFilter`](https://github.com/Starcounter/Starcounter/blob/ffdeadd3bfc4d8b0440cb150ea16bd415a31daba/src/Starcounter.Internal/Handle.cs)

[Git blame](https://github.com/Starcounter/Starcounter/blame/ffdeadd3bfc4d8b0440cb150ea16bd415a31daba/src/Starcounter.Internal/Handle.cs) shows that it was created as an alternative name f

[2015-10-20 11:19] warpech commented on #2966
+1

[2015-10-20 11:27] alemoi commented on #2963
Thank you for the question! All external requests are inducing invokation of middleware filters. The exception is if handler uses SkipMiddlewareFilters flag when created. If request is internal - then no middleware filters are involved.

[2015-10-20 11:27] miyconst opened #2970 "Thoughts on Handle.X methods"
Right now we have set of `Handle.X` method for REST handlers, such as `Handle.GET`, `Handle.POST`.

Once a REST handler was attached it can't be detached unless application stopped. This is a limitation. In my CMS application I would like to add/remove pages/handlers dynamically.

Also we have the following methods in `Handle` class:

[code]

- Same as for REST handlers, there is no way to remove

[2015-10-20 11:28] miyconst commented on #2970
Related issue: https://github.com/Starcounter/Starcounter/issues/2969

[2015-10-20 11:29] miyconst commented on #2970
cc @alemoi, @warpech

[2015-10-20 11:32] warpech commented on #2690
As discussed today with @miyconst and @chrhol, this will also solve point 3 from https://github.com/StarcounterSamples/GoogleSignIn/issues/6#issuecomment-103860894 by allowing Launcher to check if an app handled the request by returning something from handler.

Currently Launcher creates a workspace for SignIn & GoogleSignIn, even when the app response is null. This is because Launcher doesn't act

[2015-10-20 11:50] warpech commented on #2964
+1

[2015-10-20 11:50] careri opened #2971 "Where are my static web files?"
Hi!

I've upgraded to:

And I no longer see the root folder of my application as a source for public web folders. Only the default ones are showing:

Do I need to supply any new arguments when launching through the debugger?

[2015-10-20 11:52] alemoi commented on #2969
Glad you noticed it. I created this new one exactly because of reasons above (+after I added the response filter now that people are using) ! And will gladly do the work to replace it!

[2015-10-20 12:02] warpech commented on #2954
@mtornwall if I understand correctly, the actual TLS part is done by nginx in front of Starcounter. Just thinking, isn't it possible for nginx to rewrite the URL so that Starcounter is called with `http://`?

If not then we might need to allow `https://` handlers before we have TLS support.

[2015-10-20 12:05] mtornwall commented on #2954
@warpech Yes, when Starcounter is taking on the role of server this is how it works. But my Starcounter apps need to make external HTTP calls, and to do this they use `Http.GET` et al.

[2015-10-20 12:09] alemoi commented on #2971
Thanks for the question! I guess you are refering to Administrator that does not show the folders. The folders are actually registered, they are just not displayed in Adminstrator. There is an issue for that, i will link here.

[2015-10-20 12:18] warpech commented on #2954
I didn't notice this issue is for outbound calls. This makes my comment irrelevant, sorry!

[2015-10-20 12:23] miyconst opened #2972 "sc/htmlmerger throws System.NullReferenceException if one of the Self.GET fails"
If one of the html files provided to `/sc/htmlmerger` does not exist then the following exception reaches client:

[code]

The exception text should be improved indicating which of the files does not exist.

cc @alemoi, low priority

[2015-10-20 12:50] warpech commented on #2970
@miyconst Can you write what are the consequences of this?

If I understand correctly:

- a user is not able to remove a page in CMS UI without restarting the server
- SignIn will not work as intended if it is started after Launcher

Please write if there is anything else or I got it wrong

[2015-10-20 12:53] miyconst commented on #2970
I have reworked CMS app, so it does not create dynamic handlers, instead it has only one `/content/{?}` handler which does all the things.

So only second item left.

[2015-10-20 13:38] careri commented on #2971
OK, but my site isn't working. Maybe it's because of the Polymer changes?
I only get a blank screen

[2015-10-20 13:40] careri commented on #2949
Yepp, but it's much cleaner/simpler to just tag the properties with the attributes like in the example

[2015-10-20 13:47] warpech commented on #2971
Do you see any errors in Chrome Dev Tools console?

Did you follow the template upgrade instructions on http://starcounter.io/nightly-changes/starcounter-2-1-now-compatible-with-polymer-1-1/ ?

Let me know if you need any help with the upgrade.

[2015-10-20 13:50] #2912 closed

[2015-10-20 13:59] alemoi commented on #2970
Thanks for asking!

Probably you mean `AddRequestFilter`? Then no difference, the first will be gone in future.

Initially I added support for this. However, no one used it so far. If you need this functionality I will go through and expose/test it.

Legit. Will add removal of filters. Initially it was on purpose made very primitively, so that applications can not interfere between their filters.

[2015-10-20 14:00] alemoi commented on #2971
I was referring to this issue: https://github.com/Starcounter/Starcounter/issues/2817

[2015-10-20 14:34] miyconst commented on #2970
I don't have a good solution for filter execution order. In asp.net I used for long time we have to specify kind of filters in `web.config`, which is an xml document and the order of xml nodes specifies the order of execution.

In our cases applications add those filters on their own, and we can't guarantee that one application will start before/after another one.

So, my suggestion is to add `pri

[2015-10-20 14:45] alemoi commented on #2960
Yes, an example where shared DLL has to be used.

[2015-10-20 14:49] eriohl commented on #2889
Duplicate: https://github.com/Starcounter/Starcounter/issues/2878

[2015-10-20 14:49] #2889 closed

[2015-10-20 15:32] andwah commented on #2453
Pushed a fix for this. i hope it works for all.

[2015-10-20 15:46] warpech opened #2973 "`staradmin new db` does not work"
According to `staradmin help new`, the following syntax is supported:

[code]

Trying to create a database using `staradmin new db marcin` gives me an error message:

I wanted to add a description to the page http://starcounter.io/guides/tools/staradmin/, but I will skip it until it is implemented.

I suggest removing the information about `db` from `staradmin help new` or fixing this.

[2015-10-20 15:46] warpech opened #2974 "`staradmin delete log` does not work"
According to `staradmin help delete`, the following syntax is supported:

[code]

Trying to create a database using `staradmin --database=default delete log` gives me an error message:

I wanted to add a description to the page http://starcounter.io/guides/tools/staradmin/, but I will skip it until it is implemented.

I suggest removing the information about `log` from `staradmin help delete` or f

[2015-10-21 06:14] careri commented on #2971
I'll try refactoring to Polymer 1.1, that seems to be the problem

[2015-10-21 07:54] miyconst opened #2975 "Directory contains files hint should be visible only if the final destination folder has files"
![image](https://cloud.githubusercontent.com/assets/6435556/10630744/60a6adc2-77d9-11e5-81b4-f629df45c1a4.png)

This icon is visible if `C:\Program Files` has any files inside, but should be visible only if `C:\Program Files\Starcounter` has any files inside.

cc @andwah

[2015-10-21 07:57] eriohl commented on #2871
Now in branch pnext.

[2015-10-21 08:49] mtornwall commented on #2962
OK, I managed to observe this on my production VM again. The log contained mostly application errors that I know the causes for, but here are some items from the failed start this morning:

[code]

[2015-10-21 08:55] per-samuelsson commented on #2962
Thanks @mtornwall! That can be of great help I think.

@alemoi, do you have a take on that?

[2015-10-21 09:26] careri opened #2976 "ResourceDir changes Application.Current.WorkingDirectory;"
Maybe I misunderstood the switch for setting the resourcedir.
If I start my program from cmd folder:

Command:

At the entry point for my application the WorkingDirectory of my Application is:

That certainly wasn't my intention! I just wanted my static files hosted from the WebApp folder, not the WorkingDirectory of my application modified.

[2015-10-21 09:33] miyconst opened #2977 "New Version available link points to wrong url"
At the administrator at `localhost:8181` I see a link
[code]

which points to
[code]

The link should either be fixed or removed.

[2015-10-21 10:55] alemoi commented on #2962
Sure! It seems that `scadminserver` Administrator process is starting faster than gateway. I will add a step controller in scservice!

[2015-10-21 10:58] andwah commented on #2977
@miyconst Can you please check which version of Starcounter you have installed in the [Administrator Settings](http://localhost:8181/#/server/settings)
![image](https://cloud.githubusercontent.com/assets/2656996/10634619/70df9806-77f3-11e5-8a62-08c39119e565.png)

[2015-10-21 12:05] andwah commented on #2975
Well actually it checks the folder ```Starcounter``` in the folder you selected

![image](https://cloud.githubusercontent.com/assets/2656996/10635919/6b9cffb0-77fc-11e5-870b-852715d5a7b0.png)

Maybe we can make it a bit clearer in some way.

[2015-10-21 12:40] eriohl commented on #2968
* Block based interleave storage memory.
* Object level interleave handle tables.

[2015-10-21 13:02] warpech commented on #2975
For me it would be clearer if the displayed path in the input field was `C:\Program Files\Starcounter`. Most other software present it that way:

![bug](https://cloud.githubusercontent.com/assets/566463/10637232/b976ca4c-7804-11e5-9b26-15bd1fab8447.gif)

[2015-10-21 13:16] miyconst commented on #2975
@andwah, I checked my `Program Files` directory, and the folder `Starcounter` was not there, so there is something wrong with the check.

Agree with @warpech.

[2015-10-21 13:23] eriohl opened #2978 "pnext: Drop reference type (internally)"
Will still have a reference type in meta but it will be treated as unsigned long internally. No storing of last known address (since this is not maintained it will almost always be invalid anyway).

(Will be revisited in future as part of performance work for graph selections.)

**NOTE:** Decided not to drop storing last known address in memory storage, only in logs. See comments below.

[2015-10-21 14:03] eriohl opened #2979 "pnext: Built-in basic system tables."
Same as built-in in 2.x + tokens.

Token table is required for proceeding with replicator.

Synchronize token table constants for key and setspec column names between system tables and database create (now stored in database configuration file).

[2015-10-21 14:33] alemoi commented on #2976
Thanks for the question! @per-samuelsson do you remember if there were some initial reasons for this behavior?

[2015-10-21 14:37] alemoi commented on #2962
Big thanks for reporting this. The issue should be fixed via 7742306a700fef3a867661d1069e4519cc75ab5e
Available in the following nightly. Would be nice if @mtornwall would confirm the fix! Thank you!

[2015-10-21 14:46] per-samuelsson commented on #2973
There can be only one, thats why! :wink:

I'm implementing #2950 as part of work I do next week. Let's get this one done while we're at it. The other one basically depend on this functionality.

[2015-10-21 14:51] per-samuelsson commented on #2976
Hi @careri

I just think this was not reviewed enough. I agree the experience sound strange. I'll look into it, probably within a few days, and get back to you on that. Hope you can work around it? Maybe pass %cd% as one of your application level arguments, and use that inside your bootstrapper?

[2015-10-21 14:54] per-samuelsson commented on #2974
Maybe we should consider removing this from the help, rather than implement it? It's not very hard to implement I guess, but it's also something we probably don't want users to do easily (because then we can't ask them for logs when they're in trouble. WDYT, @warpech?

[2015-10-21 16:54] warpech commented on #2865
In future, one might also consider using [H2O](https://h2o.examp1e.net/). It has HTTP/2 support, TLS and reverse proxy and claims superior performance to nginx:

![](https://h2o.examp1e.net/assets/8mbps100msec-nginx195-h2o150.png)

[2015-10-21 16:56] warpech commented on #2974
No problem, as long as there still is a way to delete the log. I guess this can be done by just deleting the file?

[2015-10-21 17:18] careri commented on #2976
Yepp, no worries. I'll get by for now.
Den 21 okt. 2015 4:51 em skrev "Per Samuelsson" <notifications@github.com>:

[2015-10-21 18:23] eriohl commented on #2605
Split into separate tasks.

[2015-10-21 18:23] #2605 closed

[2015-10-21 23:45] careri commented on #2971
Hmm, got most of the page working again.

But all my bindings had to be prefix by model. e.g.

Your example doesn't prefix InvoiceNo with model:
http://starcounter.io/tutorials/1-introduction-to-part-1/1-5-render-json-in-html/

But I just can't get my Polymer element to work:

Properties defined in the dom-module:

      is:"had-upload",
      properties: {
          uploadedInfo: { type: String,

[2015-10-22 05:43] andwah commented on #2975
@miyconst yep then it's not good,

In "total commander" i guess that the user can change the folder to his liking, in our case the last folder must be **Starcounter**.

[2015-10-22 07:09] per-samuelsson commented on #2974
Exactly (minus its more than one file). Just deleting everything under the `%serverrootfolder%\Logs` folder will do it.

[2015-10-22 07:13] per-samuelsson commented on #2974
So, I'll remove it from the command line help, along with all the other stuff I'm planning to do. And you'll remove it from the docs, @warpech. Thanks for the feedback.

[2015-10-22 07:29] per-samuelsson opened #2980 "Remove montoring configuration from database / server configuration"
This part:

[code]

We never consume it, and its not supported in 2.x. Its a legacy, and it's unlikely that we'll start to support it in 2.x.

[2015-10-22 07:31] dan31 opened #2981 "Migrate Level1 and Bluestar/Level0 develop to VS 2015"
To move adoption of new kernel to 2.x, develop Level1 has to be moved to vs-2015 (classical, non-dnx project types C#/F# + native projects C++). The opposite direction (new kernel to vs-2012) is no longer viable. @alemoi is busy, and I call for @per-samuelsson or @chrhol to do the move. It is not trivial, and perhaps will take a couple of days. I can assist with native parts on Monday-Tuesday. I'm

[2015-10-22 07:32] warpech commented on #2975
I didn't know that. Is it a long term decision or short term limitation?

Anyway, this is common for any other program I can recall. Seeing `C:\Program Files` suggests to me that it will be installed without a subdirectory at all.

Compare to:

![](http://blogs.msdn.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-blogs-components-weblogfiles-00-00-00-65

[2015-10-22 07:37] warpech commented on #2971
http://starcounter.io/tutorials/1-introduction-to-part-1/1-5-render-json-in-html/

Thanks for noticing! we tried to update all of the examples but apparently we missed that. I will fix it.

Maybe some lower/uppercase problem? See https://www.polymer-project.org/1.0/docs/migration.html#property-name-to-attribute-name-mapping

Have you tried using the miration tool that Polymer provides? http://poly

[2015-10-22 07:39] per-samuelsson commented on #2981
I'd be really glad if this was not on me. :cry: I've just recollected a list of issues I plan todo around process management, server refining and the developer experience in general, based on the new directions from yesterday. Plus I totally suck on Visual Studio / msbuild / projects, etc.

If it turns out that really no one else can take this, I'll still do it o/c, but I'll need a few paid Mallor

[2015-10-22 07:48] per-samuelsson opened #2982 "Routed console output is broken?"
Doing

[code]

[2015-10-22 08:18] chrhol commented on #2981
I can take it, I dont have anything super urgent at the moment assigned to me and need to wait for @alemoi to catch up on some fixes I need for the other stuff I'm working on.

[2015-10-22 08:19] per-samuelsson commented on #2950
At the end of this:

1. Update documentation on `starcounter.io`
2. Change TestApps to use this rather than the "empty app" workaround.

[2015-10-22 08:21] per-samuelsson commented on #2981
Next time we play poker, I'll fold the nuts to you heads up on the river! :moneybag:

[2015-10-22 08:21] dan31 commented on #2962
@alemoi, so where is our State Machine for the processes? :)

On Wednesday, 21 October 2015, Alexey <notifications@github.com> wrote:

--
Kind regards,
Dan Skatov

[2015-10-22 08:24] per-samuelsson commented on #2962
Haha! Is that a rhetorical question? Considering **you** are the state machine. But @alemoi is also of course. We all are. Everything is. :wink:

Nice you solved this one, @alemoi :+1:

[2015-10-22 08:35] chrhol commented on #2981
I guess this also includes, besides simply migrating Level1, to update/make sure that the buildservers and downloadserver correctly builds and generates downloads.

[2015-10-22 08:44] eriohl commented on #2981
And level0/develop needs to updated also I guess.

[2015-10-22 08:50] eriohl commented on #2981
Alternative is to look into moving level0 back to vs2012. Looked (very) briefly at this yesterday and concluded that a lot of the NewSQL stuff won't compile.  Otherwise this should not be much of an issue I think. And we don't actually need these. So one option could be to disable them when building with 2012 (possible to to in the cmake file maybe).

But on the other hand: Since 2.x will get an e

[2015-10-22 08:57] chrhol commented on #2981
Alright, then we have two options to move forward.

To me it sounds better to migrate to VS 2015, even if it's a bit more work since we probably want to do that anyway later but on the other hand we will most likely save some time going the other direction. @dan31 WDYT?

[2015-10-22 08:58] eriohl opened #2983 "pnext: Simplified process management back-end services."
DM starts log writer. Log writer dies after DM dies (and any pending writes has been written to storage).

[2015-10-22 09:02] eriohl opened #2984 "pnext: Load database on DM start"
Simplification. Related to #2983.

[2015-10-22 09:06] eriohl opened #2985 "New kernel version 2.x"
Umbrella for all kernel adaptions required for the new kernel to work for the 2.x client.

[2015-10-22 09:36] alemoi commented on #2982
No changes in WebSockets I would say, for a long time at least. Probably something with console processing, that @andwah knows more about.

[2015-10-22 09:43] alemoi commented on #2975
By always appending Starcounter to the end of the path we excluding lots of problems during installation. I wonder what will happen if one install some of the above software in C: and then do uninstallation. In any case, long term we should support a list of installed files to track.

[2015-10-22 09:58] andwah commented on #2975
We decided to have a dedicated folder **Starcounter** so we know what to delete during uninstallation, This is a simple solution until we track the files we install in a log.

[2015-10-22 10:00] andwah commented on #2982
i can confirm that it do not work as expected.. i will take a look

[2015-10-22 10:12] miyconst commented on #2975
It could be automatically added to the path, if not in there.

[2015-10-22 10:33] miyconst commented on #2977
It was `2.1.143`.

[2015-10-22 10:54] andwah commented on #2977
what did it say before the version number.
 See previous picture (**Starcounter-CustomBuilds-2.0.0**) ?

[2015-10-22 10:55] miyconst commented on #2977
`Starcounter-DevelopNightlyBuilds-2.1.143`

[2015-10-22 12:10] chrhol commented on #2981
The decision is to migrate to VS2015. I will keep everything in this issue even though there are parts outside of Level1 that needs to be migrated.

Steps:
- Migrate Level0/Bluestar develop
- Migrate Level1 develop
- Update buildservers
- Update downloadserver

[2015-10-22 12:13] andwah commented on #2977
thanks..  i will take a look

[2015-10-22 12:26] chrhol commented on #2981
Just to be clear so I don't do anything stupid, migrate Level0 develop to VS2015 means that we switch over to the compiler and build tools for 2015 or should we keep the current?

[2015-10-22 12:29] per-samuelsson commented on #2981
Sounds reasonable, but lets change the title.

[2015-10-22 12:53] miyconst opened #2986 "Query result table goes outside of the bounds"
[code]

![image](https://cloud.githubusercontent.com/assets/6435556/10665585/89fe7788-78cc-11e5-8104-8f891d2b111f.png)

[2015-10-22 12:55] miyconst opened #2987 "Query result table header & body scroll is not synchronized"
[code]

![image](https://cloud.githubusercontent.com/assets/6435556/10665646/e2928650-78cc-11e5-9028-d7283c73c87a.png)

[2015-10-22 13:10] miyconst opened #2988 "System.OverflowException - if SQL query contains too big number"
[code]

[code]

[2015-10-22 13:19] miyconst opened #2989 "Where there are two Metadata.Type for System.String type?"
[code]

![image](https://cloud.githubusercontent.com/assets/6435556/10666171/4106a8bc-78d0-11e5-91e0-ea1b8feac654.png)

[2015-10-22 13:42] mtornwall commented on #2962
@alemoi Glad I could help. :-) I conducted a quick test on my Windows Server 2016 VM and got five out of five successful service startups. I will define that as "working" until proven wrong. :-)

I'll close the issue now. In the off chance that this bug is in fact still present I will reopen it.

[2015-10-22 14:23] warpech commented on #2987
Thanks! Looks like a duplicate of https://github.com/Starcounter/Starcounter/issues/2828.

@budnix has already prepared a fix for the above, I will check if it fixes this one.

[2015-10-22 14:24] warpech commented on #2986
Thanks! May be fixed by the fix for https://github.com/Starcounter/Starcounter/issues/2828.

[2015-10-22 14:28] k-rus commented on #2979
Will the system tables replicate data stored in meta-tables?

[2015-10-22 14:53] warpech commented on #2987
Seems to not be a duplicate. Will assign this on @budnix

[2015-10-22 15:08] dan31 commented on #2981
@chrhol, did you conclude with @eriohl that Leve0/Bluestar develop as it is there today has to be adopted to vs-2015? Or instead, pnext kernel will be reused in a form of cmake-generated project for vs-2015 or compiled binary? (there are also cross-dependencies between Level0 and Level1).

[2015-10-22 15:21] eriohl commented on #2979
The idea is to have it compatible with the kernel maintained system tables in develop now. But details is not yet worked out.

[2015-10-22 17:10] dan31 commented on #2989
CC @k-rus

[2015-10-22 17:17] dan31 commented on #2982
Something quite recent. A month ago I was doing some routed console outputs and haven't noticed such.
How would it be possible to test? Maybe through acceptance test @alemoi @andwah?

[2015-10-22 17:35] dan31 commented on #2980
@per-samuelsson, that's actually an important question. You remember the "watchdog" discussion? We want that when something dies, it is restored. So that everything is "self-fault-tolerant". I think our system service doesn't work like that today. E.g. you can kill the gateway and no one will restore it, right? For production-use, we need some watch-dog behaviour. Very simple watch-dog-alike thing

[2015-10-22 18:35] eriohl commented on #2980
I'm not all that familiar with how 2.x service installation operates. But this configuration I think is not for the service but for the "server/admin" I think? If it is not used it should be removed.

[2015-10-22 19:15] per-samuelsson commented on #2980
@dan31

Yes, we certainly need that kind of functionality, but this configuration is a legacy, and we should drop it since it's basically nothing more than clutter today.

In some old, old version, we had a trivial restarting of code hosts that unexpectedly crashed, but that code is based on a completely different arch. The configuration is a leftover from that.

I'm dropping this, and then lets o

[2015-10-22 20:14] per-samuelsson commented on #2989
I've been confused by the metadata model too a couple of times, and I'm not 100% in this case either. But i *think* that `Type` is a base class for some more specialized ones, where one probably is like `PrimitiveType` and maybe the other is `MapPrimitive` or something like that.

I'm quite sure at least that `Type` is a really general one, and there are several specializations. One of them is `Ta

[2015-10-22 21:40] dan31 commented on #2980
Sure @per-samuelsson, thanks for explaining! Let's keep it in some other issue. Maybe it exists somewhere and you will identify it during your cleanup.

[2015-10-23 06:29] miyconst commented on #2989
`Starcounter.Metadata.Type` is the table referenced by `Starcounter.Metadata.Column` to indicate data type of the columns. At least I was told so by @alemoi.

In c# `System.String` & `string` are same types, same as `System.Int32` & `int`, so there should be only one record in `Starcounter.Metadata.Type` table.

[2015-10-23 06:58] chrhol commented on #2981
@dan31,
I'm not really sure what you mean by if pnext should be reused. Do you mean that we should switch over to pnext now? (pnext is not the new kernel?)

I talked with @eriohl yesterday and he didn't think it would be that difficult to migrate Level0 develop.  And that together with that we don't have to maintain two branches (again) while waiting for the new kernel sounds like a good way to go

[2015-10-23 07:22] eriohl commented on #2979
I'm hoping that the only built-in table we need will be the token table. For now I will use a hardcoded token table and just try to get things working with this (we'll see how this goes...).

Once I gotten the hello world working (or discovered that the hello world won't work without work on meta-tables) I intend to start looking into this.

Would be great if we could use the new metadata tables o

[2015-10-23 07:43] dan31 commented on #2981
Yeah, by pnext I meant the new kernel. But I got your scheme now, first you migrate all develop to vs-2015, including level0 develop, that's the first result and it becomes develop. Then @eriohl plugs in the new kernel in some branch of that result. This branch is short-living enough and it eventually becomes develop as well. So we have short-living branches all the way. I assume you agreed upon t

[2015-10-23 07:50] #2982 closed

[2015-10-23 07:50] andwah commented on #2982
A long time ago we decided to only show console outputs per app (before we had one console output window on the database page). during that work something broke, i found the problem and pushed the fix d27215f2f7aca5ff261823e045a8c6e39b9aebef

[2015-10-23 07:52] andwah commented on #2977
Found the issue, reolved and fixed 19819d5f7f8813a311002a364e78814ceb38831e

[2015-10-23 07:52] #2977 closed

[2015-10-23 17:48] warpech commented on #132
Not reproducible anymore in the SQL browser. Also, the columns in the log are no longer resizable.

[2015-10-23 17:48] #132 closed

[2015-10-23 17:52] #2942 closed

[2015-10-23 17:53] warpech commented on #2942
Fixed in https://github.com/Starcounter/Starcounter/commit/38b7402b041fa5ca05dbd18f84b4b84c04b046c3. Thanks @jwillmer for reporting!

[2015-10-23 17:54] warpech commented on #2400
Fixed in https://github.com/Starcounter/Starcounter/commit/38b7402b041fa5ca05dbd18f84b4b84c04b046c3. Thanks @k-rus for reporting, sorry that it took so long!

[2015-10-23 17:54] #2400 closed

[2015-10-23 17:54] warpech commented on #1993
Fixed in https://github.com/Starcounter/Starcounter/commit/38b7402b041fa5ca05dbd18f84b4b84c04b046c3.

[2015-10-23 17:54] #1993 closed

[2015-10-23 17:56] warpech commented on #2828
Problem with max column width fixed by https://github.com/Starcounter/Starcounter/commit/38b7402b041fa5ca05dbd18f84b4b84c04b046c3. Problem with headers rendering tracked in https://github.com/Starcounter/Starcounter/issues/2987.

[2015-10-23 17:56] #2828 closed

[2015-10-23 17:57] warpech commented on #2987
Problem still reproducible with recent update of Handsontable. @budnix can you please take a look?

[2015-10-23 18:00] warpech commented on #2211
Fixed by https://github.com/Starcounter/Starcounter/commit/38b7402b041fa5ca05dbd18f84b4b84c04b046c3. Handsontable now defocuses correctly when focusing the SQL textarea. Dobule scrollbars are not there anymore.

[2015-10-23 18:00] #2211 closed

[2015-10-23 18:06] warpech opened #2990 "Keyboard arrows up/down do not scroll the SQL browser result"
Keyboard arrows up/down do not scroll the SQL browser result in Administrator as expected.

Screengrab:

![bug](https://cloud.githubusercontent.com/assets/566463/10700943/727b6cba-79c1-11e5-879c-23b42cc3803f.gif)

[2015-10-23 18:08] warpech commented on #1635
@budnix After fixing https://github.com/Starcounter/Starcounter/issues/2990, could you please check if the issues described here (including comments) are still reproducible?

[2015-10-23 18:08] warpech commented on #2990
Related: #1635

[2015-10-23 18:09] warpech commented on #1980
Not reproducible anymore. Probably fixed with other fixes or with the redesign of Administrator.

[2015-10-23 18:09] #1980 closed

[2015-10-23 18:17] warpech commented on #1842
After upgrading to Handsontable 0.19.0 this is largely improved. I created a Gist that produces a table of 60 columns and puts 1000 rows in it: https://gist.github.com/warpech/90ffa8782ff21aa1d3f7

Result:

- performance in Chrome is perfect
- performance in Firefox is good
- performance in Edge is very bad

@budnix could you take a look is something can be improved? Instructions to use the Gist:

[2015-10-23 18:31] warpech commented on #2986
Column width is now fixed, but horizontal leaking problem prevails. This is what happens when Handsontable does not fit horizontally in the layout:

![bug](https://cloud.githubusercontent.com/assets/566463/10701455/ddaf5ba2-79c3-11e5-83fb-a5a99363b99e.gif)

The desired result is to expand the main container without leaking out from it or adding any special scrollbars.

@budnix could you take this?

[2015-10-23 19:03] warpech opened #2991 "Update to stock, minified version of Handsontable"
Currently, Administrator is using a custom build of Handsontable 0.19.0 and a stock build of ngHandsontable 0.7.0-beta2

With the release of Handsontable 0.20.0, we should switch to be using the normal build, **minified**. ngHandsontable should also be minified.

[2015-10-23 20:02] per-samuelsson commented on #2989
Well, like @dan31 suggest, its probably best to let @k-rus give the true answer. But maybe its so that one record (of e.g. "primtive type" type) is `System.String` and another might be the C# `string` keyword? And both are types.

[2015-10-23 20:11] per-samuelsson commented on #2950
And update the changelog obv! :smile:

[2015-10-23 20:26] per-samuelsson commented on #2982
[code]

Works like a charm now, and I've tested `staradmin console` too, and that works equally well! :clap: :fireworks:

[2015-10-23 20:29] per-samuelsson commented on #2982
When @andwah fixed this, now its only #2446 left for this to work like it once did.

I think #2446 was caused by @alemoi moving the application class some time, from `Starcounter` to `Starcounter.Internal` or something like that. Thats when it was broken at least. I can assign it to me to try to figure out what broke it though.

[2015-10-25 18:47] mtornwall commented on #2962
Now it happened again, this time on version 2.1.257 (the most recent nightly as of this writing). This time the Starcounter log simply said:

[code]

The following message was left in the system log:

[code]

@alemoi

[2015-10-25 19:26] alemoi commented on #2962
Thank you for reporting! It even might be a different problem! I will go through start up sequence and put verifications there.

[2015-10-25 21:10] alemoi commented on #2962
I just produced a special build of SC that logs gateway startup sequence. @mtornwall can you please install it and post here the last log contents when you experience a stuck? Thank you!
Here is the setup: http://downloads.starcounter.com/download/Starcounter/DevelopDailyBuilds/2.1.260

[2015-10-25 21:14] mtornwall commented on #2962
Thanks for the characteristically rapid response @alemoi. :-) I will set this up on my testing server tonight.

[2015-10-26 09:49] per-samuelsson opened #2992 "Review server/service terminology"
Again, I know!

But since I'm now working on the new directives from last week, and a few of the issues I'm working on touches on this, I just thought I'd bring it up once. The most notable issues are #2950, #2973 and #2423.
### Background

Basics: to run Starcounter applications inside Starcounter databases / VMDBMSs / hosts, a few **supporting processes** must be running. These processes are typ

[2015-10-26 09:50] per-samuelsson commented on #2992
/cc @miyconst @warpech @alemoi @dan31

[2015-10-26 10:24] miyconst opened #2993 "Invalid exception text when trying to execute wrong SQL query on application start"
In my application I had a class, which was removed later, but an SQL statement left in `Program.cs` which was executed on application start.

Trying to start such application results in the following exception, which looks like something internal. The exception should indicate why the application failed to start and show the original exception text.

[code]

[2015-10-26 10:39] per-samuelsson commented on #2993
Totally agree. I think *has* worked, but your stuff look terrible indeed.

[2015-10-26 10:45] per-samuelsson commented on #2993
So, @miyconst, can you create just a new isolated application (e.g. `staradmin +`) and copy/paste in this content:

[code]

Then run it with `star app.cs`.

When I do, I get:

Starcounter.DbException: ScErrFailingEntrypoint (SCERR4259): The user code entrypoint method raised an exception. Failed to process query: SELECT f FROM Foo f: Unknown class Foo.

[2015-10-26 10:47] per-samuelsson commented on #2770
This one is done.

[2015-10-26 10:47] #2770 closed

[2015-10-26 10:48] per-samuelsson commented on #2679
Closing this since NEXT is discontinued.

[2015-10-26 10:48] #2679 closed

[2015-10-26 11:14] chrhol commented on #2981
I have migrated both Level0 develop and Level1 develop locally. I tested compiling, installing and running some of our apps and so far everything seems to be working fine. Boost and gtest, if you build level 0, have to be updated (compiled with vs2015). Both packages can be found on the buildserver-ftp

Boost generates quite a lot of warnings so I had to disable 'treat warnings as errors' in the p

[2015-10-26 11:17] per-samuelsson commented on #2981
Wow, sweet. :ghost:

[2015-10-26 11:44] miyconst commented on #2993
Well, I just minified my application and can't longer reproduce the error.
Now I see a valid exception for a missing class.

Closing the issue as not reproducible.

[2015-10-26 11:44] #2993 closed

[2015-10-26 15:08] dan31 commented on #2982
I think it is reasonable to grasp @per-samuelsson. Maybe cover with some more tests as well (some changes like that, with good intentions, might happen to be brutal in result).

[2015-10-26 15:11] dan31 commented on #2981
Great @chrhol! :+1: Is that the latest versions of boost & gtest that produce walls of warnings? I think we should deliberately disable the warnings with pragmas and return the strict warning check (CC @chrhol @eriohl). If I recall correctly, that way it has been done already in some projects?

[2015-10-26 15:41] per-samuelsson commented on #2982
@dan31, I think #2446 is probably simple to figure out and fix, so lets just do it. This one @andwah fixed was a lot more serios IMO, so I'm glad its now fixed. It seem to work fine.

[2015-10-26 15:53] eriohl commented on #2981
Boost warnings I probably already addressed this way in level1 pnext (chunks). Boost not yet working properly with 2015 last checked.

Unsure what the GTest stuff is about but we use this fine in pnext. Although maybe with disabled warnings.

[2015-10-26 15:58] chrhol commented on #2981
No problems with GTest I think, warnings comes from boost and ipc (maybe not all warnings comes from boost).

I will spend some time going through them, after I get the buildserver to work.

[2015-10-27 07:24] per-samuelsson commented on #2992
After thinking some more on this, I'm leaning towards keeping the "server" term. And describe it / think of it as a compound, virtual server, enabling databases to consume its services (i.e. via the gateway and with the maintenance services of the admin server).

If there is no feedback, I guess no one feel strongly in any other direction, so I think I'll go with that.

[2015-10-27 07:36] per-samuelsson opened #2994 "Develop daily broken"
[code]

[2015-10-27 08:02] per-samuelsson commented on #2994
Now that Simplified are a required part of Starcounter, we need to be as careful there as we are in Starcounter repo. This means every push **must go through a personal build** with the latest Starcounter bits.

Right now, I'm in a situation where I can't push/merge the stuff I have ready, because my personal builds fail b/c of the failure in Simplified.

Should we add some config so that building

[2015-10-27 09:13] per-samuelsson opened #2995 "Add new `staradmin delete` option --failmissing"
Doing this as part of #2950.

[2015-10-27 10:04] chrhol commented on #2994
/cc @miyconst

[2015-10-27 10:08] miyconst commented on #2994
@per-samuelsson sorry for this issue.

I fixed a bug and a wrong file name in Simplified, but forgot about `csproj` file, which still was referencing the old file.

This is fixed now.

[2015-10-27 10:08] #2994 closed

[2015-10-27 10:10] chrhol commented on #2994
And now there is some other problem with the buildserver :) I think it's out of harddrive space.

[2015-10-27 10:16] miyconst commented on #2994
Is there anything I can help with?

[2015-10-27 10:20] chrhol commented on #2994
I'm talking with @alemoi.

[2015-10-27 10:25] chrhol opened #2996 "Buildserver down due to out of space."
There is no space on harddrive for scbuildserver. It needs to be cleaned up. We're working on this now, but the buildsystem will not be available for a while.

[2015-10-27 10:52] per-samuelsson commented on #2994
Sure, no problem. It has happened all of us at some point. My comments where more general than that, trying to suggest a way to get away from these things in the future, something we all can commit to follow. My best bet is (as I always suggest) that everybody striktly adhere to the branching model and never push one like of anything until a personal build has succeeded.

:+1:

Yeah, its been like

[2015-10-27 11:24] miyconst commented on #2994
@per-samuelsson

This would really complicate the workflow, at least for me.

I remember, some time ago I was receiving notifications from the build server, if a build fails, so I was aware when some of my changes broke the build. Those notifications were really useful, no longer see them though.

[2015-10-27 11:40] chrhol commented on #2996
I uninstalled some old studios and did some minor disk cleanup, the buildserver is up and running again.

I will remove the showstopper label but keep the issue open so @alemoi  can remove some additional items.

[2015-10-27 11:43] miyconst opened #2997 "Weaver exception after code refactoring"
I have made some code refactoring in an app, and no longer able to start it.

Application fails with the following weaver exception:

[code]

What this exception could mean, and where should I look? The application builds, but fails to start.

[2015-10-27 11:44] miyconst commented on #2997
cc @per-samuelsson, @chrhol, @alemoi

[2015-10-27 11:46] per-samuelsson commented on #2997
Ouch. Not sure what this one is I'm afraid. But I'm assigning it to me.

[2015-10-27 11:48] per-samuelsson commented on #2997
@miyconst, can you try just running the weaver in isolation on this?

Just `cd` to the directory of your .exe and run `scweaver <yourapp.exe>` and see what you get.

[2015-10-27 11:50] per-samuelsson commented on #2997
Also, can you post the logs here, just those happening before this error, to see if there is some info there? Thanks.

[2015-10-27 11:51] miyconst commented on #2997
[code]

[2015-10-27 11:51] per-samuelsson commented on #2997
`staradmin list --max=10 log | clip` and paste the content here.

[2015-10-27 11:51] miyconst commented on #2997
[code]

[2015-10-27 11:52] miyconst commented on #2997
[code]

[2015-10-27 11:53] per-samuelsson commented on #2997
Thanks. No help there really.

My initial guess is that this has something to do with synonyms. Any chance those are in use in this context?

[2015-10-27 11:56] per-samuelsson commented on #2997
Hmm, seems we've been through this one before, #1203. And that it needs some redesign that has not been done.

So you got the same error running it isolation, @miyconst?

[2015-10-27 12:02] per-samuelsson commented on #2997
And oh, please try running it without the cache: `scweaver --nocache app.exe`

[2015-10-27 12:07] miyconst commented on #2997
Yes, there is same exception from command line.

Here is the result with `--nocache` run:

[code]

[2015-10-27 12:11] alemoi commented on #2996
I cleaned up the artifacts in TeamCity. Now there is 250Gb free on scbuildserver and around 130Gb free on scbuildserver2.

[2015-10-27 12:11] #2996 closed

[2015-10-27 12:13] per-samuelsson commented on #2997
OK. Bad. I think I need access to that application to try to find out what this one is. Can you zip the binaries and hand them to me? Drive or DropBox or whereever.

[2015-10-27 12:31] miyconst commented on #2997
@per-samuelsson could you accept my HO request and send me your email?

[2015-10-27 12:34] per-samuelsson commented on #2997
Trying to find where to accept it. :smile: They move around this stuff like nothing else...

[2015-10-27 14:03] miyconst commented on #2997
It looks like this is an issue with my machine. Going to reinstall windows. Closing the issue.

[2015-10-27 20:24] miyconst commented on #2997
Fresh installation of Windows 10 from modern.ie parallels image file.

Tried to run Launcher first -> worked.

Checked out latest Simplified (I added Web folder with some classes to there).
Checked out Content.
Rebuild both solutions.
Tried to run Content -> same error.

After this can't run anything. Tried to revert Simplified changes, tried to stop/start & delete/create database.

This error is

[2015-10-27 20:40] miyconst commented on #2997
Reinstalling Starcounter with different version makes Launcher to work again, but rebuilding Simplified breaks everything up.

[2015-10-27 22:09] per-samuelsson commented on #2997
@miyconst

Sorry to hear. If I just can get that environment and the instructions on how to run it, I'm quite confident I can find what goes wrong in not to long. And then we'll know if there are workarounds and/or what time it will take to fix defintely.

Did you push those changes that made it break in the first place to Simplified? If so, I just need that Content.exe source, right? If thats in

[2015-10-27 22:31] miyconst commented on #2997
Here are steps how I got the error:

1. Download and start this image: https://az792536.vo.msecnd.net/vms/VMBuild_20150801/Parallels/MSEdge/Mac/Microsoft%20Edge.Win10.For.Mac.Parallels.zip
2. Install Visual Studio Community 2015.
3. Download and install Starcounter.
4. Checkout Launcher https://github.com/StarcounterSamples/Launcher
5. Start Launcher and make sure that it works.
6. Checkout Simpli

[2015-10-27 23:37] warpech commented on #2743
@alemoi would it be possible to put at least some minimum information on the pages

- `Map`: http://starcounter.io/guides/apps/uri-mapping/
- `OntologyMap`: http://starcounter.io/guides/apps/data-mapping/

Usage of Map & OntologyMap is now demonstrated on every presentation but there is zero docs on how to use it

[2015-10-28 00:28] alemoi commented on #2743
Sure, I will add this information.

[2015-10-28 08:22] per-samuelsson commented on #2997
OK, thanks for that. I'm currently busy trying to reproduce it on my end, but with a little simplified setup, since I cant really run an image like that. But since you said you could reproduce it also in an isolated context (running the weaver), I hope to be able to do the same.

Worst case, if I cant reproduce, I have a least come up with an idea how to better find what the failure indicates. I h

[2015-10-28 09:50] eriohl commented on #2981
Merged 2981 into pnext.

[2015-10-28 10:59] chrhol opened #2998 "Databinding with path is incorrectly invalidated each time property is called."
When databinding for a json-property is specified with a path, incorrect datatype is set that is used to verify existing binding, leading to databinding being invalidated and recreated for each call.

**Database classes**
[code]

**PersonView.json**
[code]

[code]

/CC @andwah

[2015-10-28 12:07] #2998 closed

[2015-10-28 12:09] alemoi commented on #2963
I guess I will close this one.

[2015-10-28 12:09] #2963 closed

[2015-10-28 12:09] alemoi commented on #2962
@mtornwall was you able to reproduce this? Thanks!

[2015-10-28 12:10] per-samuelsson commented on #2997
OK, I've setup everything (including installed VS15) and been able to reproduce it locally. I've added traces and I can now see what fails. Thats the good news.

The bad news is I dont understand why. There is really nothing special regarding the declared synonym or its target, and its not chained as I first guessed. My current hypthesis is that its some bug relating to the dependency chaning, and

[2015-10-28 12:56] mtornwall commented on #2962
@alemoi It's been running for a few days now, but unfortunately I cannot simply reboot that machine at will. I can try and set it up in another environment and try to provoke it into breaking.

[2015-10-28 13:00] chrhol commented on #2981
I think I have gotten as far as I can with this. Most of the warnings are fixed and 'treat warnings as errors' is set back to true on the projects I changed before. The buildservers have been updated.

What is left, is to fix so that the needed c++ runtime is included and installed from the installer and upgrade the downloadserver.

I will assign the issue to @alemoi since he will fix the c++ runt

[2015-10-28 13:22] alemoi commented on #2962
Thank you very much!

[2015-10-28 14:02] per-samuelsson commented on #2997
OK, still nothing concrete to report, but I just cant figure this one out - the use case that break is super simple, and I'm quite sure we must have had that before (and it has worked).

My new hypothesis is that this is caused by some external change, so my guesses are 1) the altered way we use PostSharp, 2) Visual Studio 2015, and/or 3) that code from the "global" directories (i.e. EditionLibrar

[2015-10-28 14:49] k-rus commented on #2988
Thanks for reporting! I will put in my backlog list.

[2015-10-28 15:05] k-rus commented on #2989
`Type` is general class and it contains descriptions of data types for different host environments (currently only .NET) and for stored schema. To interpret above query knowing class/type of the objects is important. `string` belongs to `DbPrimitiveType`, i.e., primitive data type supported by kernel, and `String` belongs to MappedType, i.e., CLR type `String`, which is then mapped in `string`.

I

[2015-10-28 15:12] per-samuelsson commented on #2997
This still hold true - I searched the code, and we have no relevant changes that could have suddenly caused this. So very likely, it was caused by some of the above.

WTBS, I have now be able to work around it. I think this will address all similar cases, and it for sure resolved the one described by @miyconst. I have tested it locally, and now I can run the launcher without problem in the second

[2015-10-28 15:15] per-samuelsson commented on #2989
Wow, then my guess:

was pretty spot on then. :crown:

Thanks.

[2015-10-28 15:19] per-samuelsson opened #2999 "Support arbitrary libraries when running star.exe with source code"
Exending #2829.

Came up with an idea about this, and I've spiked it. I'll provide a description on it as soon as I'm done with the other stuff I'm doing on the server refactoring and tooling.

[2015-10-28 15:33] miyconst commented on #2989
From the c# developer point of view this is very confusing, as `System.String` and `string` are absolutely equal. This is why I asked.

Okay, the long story short: it is not a bug, but some kind of requirement for kernel, which should not be visible for end user.

@k-rus, thank you for the clarification, and please, close the issue if I understood you correctly.

[2015-10-28 15:35] miyconst commented on #2997
I will test the fix tomorrow with the nighty build.

[2015-10-28 16:18] miyconst commented on #2997
`Starcounter-DevelopDailyBuilds-2.1.298` - same exception.

[2015-10-28 17:44] per-samuelsson commented on #2997
No? Can't be. :cry: Either the fix somehow didn't end up in that version I built, or... well, I dont know what.

@miyconst, can you try this:

[code]

You dont have to paste it all here, its huge. But just the last couple of lines. Thanks.

[2015-10-28 18:48] miyconst commented on #2997
Finally it works :)

Not sure what was the reason, but after rebuilding solution and running the command you provided it started to work.

I will investigate a little further and close the issue if everything works.

[2015-10-28 19:20] per-samuelsson commented on #2997
Great. Thanks.

[2015-10-28 21:39] dan31 commented on #2989
Just to add. Today me and @k-rus discussed documenting Metadata for our users. User-friendly docs basically, since metadata is used in a numerous of scenarios (maintaining indices is one of them). This is pushed into @k-rus backlog. This point on ```string```, I believe, should be explained there as well.

[2015-10-28 21:42] dan31 commented on #2962
This one is important, invokes unintended downtime. Maybe @alemoi we'd have to address it more deliberately, such as running this pattern in an acceptance-test like way.

[2015-10-28 21:44] dan31 commented on #2981
One more thing there, popped up while discussing with @alemoi today. Should it be the case that we all switch to .NET 4.6 there? Including: building all managed projects, and Starcounter templates for VS? I personally don't see practical reason to run 4.5/4.5.1 instead of 4.6. CC @per-samuelsson @k-rus @alemoi @eriohl @chrhol.

[2015-10-28 22:14] per-samuelsson commented on #2981
Sounds reasonable. And if there are problems building our stuff, we can just back it down to 4.5 again, shouldn't be to much work.

And then the road is open to C# 6.0! :)

[2015-10-28 22:24] dan31 commented on #2981
@per-samuelsson Exactly, and this is so cool :bomb: I was just dazzling @alemoi with Elvis operator https://msdn.microsoft.com/en-us/library/dn986595.aspx today :)

[2015-10-28 22:27] alemoi commented on #2981
And I was totally dazzled! telling you! :)

[2015-10-29 06:52] k-rus commented on #2994
I agree with @per-samuelsson. Failing public builds might be show stopper for others. Our current model in Starcounter is that any commit/push to a main branch in any repo, which affects the product, should first be executed on personal branch on build server and then if the build succeed to push it into the main branch.
I understand that it compacts workflow, but otherwise it complicates life for

[2015-10-29 07:39] per-samuelsson opened #3000 "Support additional command parameter for some staradmin commands"
I wonder if we shouldn't let commands `staradmin start db`, `staradmin stop db`, `staradmin new db`, `staradmin delete db` should allow the name of the database as the first parameter, not only via the `-d` option.

[2015-10-29 07:40] per-samuelsson commented on #3000
(And yes, I admit, this one was mostly to snitch issue #3000). :man_with_gua_pi_mao:

[2015-10-29 07:48] per-samuelsson commented on #3000
The [Basic usage of staradmin](http://starcounter.io/guides/tools/staradmin/#basic-usage) tells the background; we allow `-d | --database` to specify a named database a specifc command targets, and if nothting is given, we run the command on the default database.

[code]

It seems the way users guess these commands should work is more like

[code]

Because of that, I think its fair we support both

[2015-10-29 07:53] chrhol commented on #3000
:+1:

I always use the second one first, with the database name as the last parameter, because it just feels right and then I get an error and remember you have to use `-d` switch.

[2015-10-29 08:43] bigwad commented on #2981
Actually, AFAIK, you don't have to target .Net 4.6 to use c# 6. Compiling with vs 2015 is enough. So don't stop yourself :)

[2015-10-29 09:03] k-rus opened #3001 "Document meta-data to be used by users"
Starcounter stores information about created tables and indexes, i.e., meta-data, in tables (meta-tables). Meta-tables are designed to cover internal use, mainly for the query processor. The same meta-data are also important for users. Thus the meta-data needs to be documented and explained how to interpret them and to use them.

[2015-10-29 09:03] k-rus commented on #2989
Created documentation issue #3001. Closing this one.

[2015-10-29 09:03] #2989 closed

[2015-10-29 09:04] k-rus commented on #3001
See #2989 for type of confusion users get.

[2015-10-29 09:12] per-samuelsson commented on #2950
The functionality of this is done, merged into main trunk with https://github.com/Starcounter/Starcounter/commit/1c928c6d7c7bba03d81946ab5cd862042d5fa08d.

With this, we now support `staradmin start server` and `staradmin start db`. The later is now the base of `star app.exe`, i.e. it will automatically create the database if it doesn't exist and before starting it.

Done.

Done.

Doing that, and

[2015-10-29 09:18] miyconst commented on #2994
Do StarcounterSamples (previously Polyjuice) applications included in this? There are some test which may file during build, but the applications themselves do not affect Starcounter build.

If you are talking about Starcounter/Starcounter and StarcounterSamples/Simplified repo, then I agree.

[2015-10-29 09:20] k-rus commented on #3000
When I don't remember usage of `staradmin` I expect to provide the name of a database directly after `db`, i.e., the first case.
I think the flavour in the documentation of the command should be given to the first case, while the second case is already described in general usage of `staradmin`.

[2015-10-29 09:27] chrhol commented on #3000
I see that my comment is a bit confused...I agree with Ruslan, I always use the FIRST one (not the second one) with the name of the database last.

[2015-10-29 09:44] miyconst commented on #2997
Yesterday tested with daily build, and today with nightly build. Everything seems to work as expected.

Thanks for fixing.

[2015-10-29 09:47] chrhol commented on #2981
@k-rus found some problems with nuget today. It seems that for the newer versions of nuget you no longer need the `.nuget` folder and `nuget.targets` file. I have removed all references from all projects in Level1.

For the buildsystem I added scripts to download latest `nuget.exe` and execute a restore before building. This means that when we do the switch we can remove `\\scbuildserver\FTP\SCDev

[2015-10-29 10:06] alemoi commented on #2994
Yes, right now we test apps as part of daily build, and i want to keep it this way. @miyconst i can help you and show current development workflow with Teamcity.

[2015-10-29 10:07] k-rus opened #3002 "Building Level1 copies kernel header files into Level0 include"
After I run build of Level1 I see that header files in Level0 include (`level0\src\include\`) folder changed or added. It seems that Level0 copies them from some remote location. Is it so?

An example of modified file is `coalmine.h`and added file is `pluto.h`. In total around 30 files.

cc: @eriohl

[2015-10-29 10:09] alemoi commented on #2950
Super good! Then i will catch up with this once have a time slot!

[2015-10-29 10:12] alemoi commented on #2981
That would super awesome regarding auto pull of needed versions of Nuget packages! Did you test this on automatic builds on buildservers? Great if it works!

[2015-10-29 10:25] k-rus commented on #3002
I unloaded `CopyDependenciesRemote` and the header files are not changed in include any more.

[2015-10-29 10:34] eriohl commented on #3002
Probably the same process that copies the kernel DLLs from build server. The idea is obviously to allow for building level1 without having to build level0. Which is as intended. I guess that what we should do it change the source of the DLLs and header files in level1/pnext branch.

[2015-10-29 10:58] chrhol commented on #2981
Yeah, I've changed it in the buildsystem-repo (`issue/2981`), and it seems to be working without problem. I will show you what I changed when you are in the office. Maybe we want to refine it a bit.

[2015-10-29 11:01] warpech commented on #3000
:+1: The syntax proposed in the OP is guessable, in contrast to the current one.

It is similar to other well known command line tools, like `git` (where branch name is almost always given as a parameter, rarely as an option).

[2015-10-29 11:09] k-rus commented on #3002
Yes, `CopyDependenciesRemote` and `CopyDependenciesLocal` should be fixed for Level1/pnext. The current work around is:

1. Unload/disable `CopyDenepndenciesRemote`
2. Manually copy Level0 output into Level1 output.

I reduce priority of the issue.

[2015-10-29 11:10] k-rus commented on #2981
Another finding is that VS projects cannot be built on a clean machine with VS2015 without previous versions of VS.

[2015-10-29 11:13] warpech commented on #2963
In the [htmlmerger handler](https://github.com/Starcounter/Starcounter/blob/66b8b35c34631c49c4cb4cc54248fb86f2810ba3/src/Starcounter/Apps/OntologyAndOrdinaryMapping.cs#L1001), the `SkipMiddlewareFilters` flag is not set, which means the filters should be applied. The OP suggests it is otherwise.

@miyconst was your problem solved?

[2015-10-29 11:15] miyconst commented on #2963
Yes. The issue was solved in another way.

Instead of capturing all requests and authenticating sessions, I just check whether user is signed in by incoming cookie.

[2015-10-29 11:16] miyconst commented on #2994
I would really appreciate your help. Let's do it when I back to Stockholm.

[2015-10-29 11:41] warpech commented on #2992
On the other hand, I lean towards the term "service".

Admittedly, in stacks like LAMP, Apache and MySQL processes are called *servers*. On Windows, you run a [MySQL *server* as a service](https://dev.mysql.com/doc/refman/5.1/en/windows-start-service.html).

But our architecture is unlike LAMP. As @per-samuelsson puts it:

:+1: this.

Starting `staradmin start server` doesn't serve anything by its

[2015-10-29 11:50] k-rus commented on #3002
After talking to @alemoi I made a fix that `CopyDependenciesRemote` and `CopyDependenciesLocal` work with VS2015 and Level0 presented. It does not work correctly if somebody tries to build Level1 pnext without Level0 presented.

The above work around is not needed any more.

The fix pushed to pnext Level1.

[2015-10-29 11:57] warpech commented on #2992
But then again, my proposal makes sense only if we replace all the usage of the word "server" mentioned in https://github.com/Starcounter/Starcounter/issues/2423 with "service". And that seems like too much work for a little benefit.

Calling this a "server" is way less of an effort, so I will not have any regrets if you do it.

[2015-10-29 12:04] per-samuelsson commented on #2995
Done. Merged and pushed with https://github.com/Starcounter/Starcounter/commit/1c928c6d7c7bba03d81946ab5cd862042d5fa08d, and documented in [staradmin CLI | Delete command](http://starcounter.io/guides/tools/staradmin/#delete-command)

[2015-10-29 12:04] #2995 closed

[2015-10-29 12:20] per-samuelsson commented on #2973
Done. Merged/pushed as part of https://github.com/Starcounter/Starcounter/commit/1c928c6d7c7bba03d81946ab5cd862042d5fa08d, and documented at [staradmin CLI | New command](http://starcounter.io/guides/tools/staradmin/#new-command).

[2015-10-29 12:20] #2973 closed

[2015-10-29 13:05] per-samuelsson commented on #2950
Done too: [staradmin CLI | Start command](http://starcounter.io/guides/tools/staradmin/#start-command).

[2015-10-29 13:05] #2950 closed

[2015-10-29 13:08] per-samuelsson commented on #2974
This one is done, merged/pushed as part of https://github.com/Starcounter/Starcounter/commit/1c928c6d7c7bba03d81946ab5cd862042d5fa08d.

I alsso have updated the [staradmin CLI | Delete command] (http://starcounter.io/guides/tools/staradmin/#delete-command) documentation, and the help output is now:

[code]

[2015-10-29 13:08] #2974 closed

[2015-10-29 13:42] per-samuelsson opened #3003 "Investigate super-simple application story"
I have an idea how.

[2015-10-29 13:49] warpech commented on #3003
Sounds intriguing! //sub

[2015-10-29 14:17] chrhol commented on #2981
Everything should be fixed now for the issues that have been found.

And we have merged everything to develop!

[2015-10-29 14:55] k-rus commented on #2992
service has special meaning in Windows. So we cannot use word service in this case.

[2015-10-29 15:31] dan31 commented on #3003
I think @per-samuelsson means console-first experience (point also to https://github.com/Starcounter/Starcounter/issues/2896) :-)

[2015-10-29 15:33] per-samuelsson commented on #2992
Right.

Wrong. :smile:

With the same reasoning, we couldn't call it server either, because there are other servers. And Windows server is an OS. Or apps can't be apps, because thats what they're called in your IPhone.

WTBS, and considering everything @warpech wrote, I still think we should call it server. I **think**. I do agree fully on your reasoning @warpech, but I'm still hesitating... Lets

[2015-10-29 15:35] per-samuelsson opened #3004 "Make star.exe [source.cs] ensure Starcounter reference for produced artifact"
Requirement for #3003.

Already have this prototyped.

[2015-10-29 15:45] per-samuelsson commented on #2947
I just realized this is a duplicate of #2558.

I have a plan to implement this rather shortly. Its also somewhat usable from #3003.

[2015-10-29 15:47] per-samuelsson commented on #3003
And at the end, blog post about it.

[2015-10-29 15:50] per-samuelsson opened #3005 "Extend weaver to acknowledge assembly level [Database] declarations"
Requirement for #3003.

At the end, write section on [starcounter.io](http://starcounter.io) on the different ways to declare database classes (including `db.types`).

[2015-10-29 15:52] k-rus opened #3006 "Tasks for QP for replacing SqlProcessor with pnext"
In develop SqlProcessor is used to create meta-data and clean them on start and to process queries.
Here is list of tasks to replace SqlProcessor with scdbmetalayer and scsqlprocessor:

- [ ] Call create index from metalayer and remove meta-data population in managed code instead of internal call to kernel
- [ ] Call drop index from metalayer and remove meta-data population in managed code instead

[2015-10-29 15:54] k-rus commented on #2979
Basic meta-tables are created on database start by calling metalayer from pnext. However, I haven't verified property yet.

[2015-10-29 16:10] atifsheikh opened #3007 "Question: How to recover Lost Data"
I launched my database with some new handlers, and all of my data is gone. Now how can I recover the data?

[2015-10-29 16:46] dan31 commented on #3007
Hi @atifsheikh! What do you mean by gone? What are other changes to the code you made, and what is the current state of image files?

[2015-10-29 17:17] atifsheikh commented on #3007
I cant see any records in the DB. i have one table in the DB with 2 columns in it. and i have added only one handler in the code. thats the only change I did.

The image files
![imagefiles](https://cloud.githubusercontent.com/assets/4388707/10826291/556e4320-7e69-11e5-9b46-d34cebe7d449.jpg)

[2015-10-29 17:53] eriohl commented on #3007
Hi @atifsheikh. I must say I find your statement seriously disconcerting. Would it be possible for you to compress your transaction log (default.0000000000.log and default.0000000001.log) and make it available to us so we can investigate?

[2015-10-29 18:19] atifsheikh commented on #3007
Here is the link to both files.
https://drive.google.com/folderview?id=0B3OphiyFByHRM3RVQ01PRmZ0Zzg&usp=sharing

[2015-10-29 18:20] atifsheikh commented on #3007
I am certain that there is some fault at my end, but i'm just looking a way to recover the data.

[2015-10-29 19:20] per-samuelsson commented on #2947
@jwillmer @miyconst

I think I have worked out a rough idea for this, and how it should work in terms of ways to configure what site are to be displayed. Do you have any input on what could be good defaults?

1. Should the default be that this feature is turned on or off? Im thinking **on**.
2. What site should open by default (I'll make this customizable on both global level and per application).

[2015-10-29 19:20] eriohl commented on #3007
Thank you for the files.

Nothing odd about the transaction log I can see however. There are 18371 transactions in there and 28620 record in the database after database has been created.

Also looked for schema upgrades or something like that that might have messed up your data and I can see nothing like that near the end of the log other them some new tables created right at the end.

So nothing

[2015-10-29 19:21] per-samuelsson commented on #2558
Doing this in #2947. Closing this one as a duplicate (even though it was clearly the first one). :8ball:

[2015-10-29 19:21] #2558 closed

[2015-10-29 19:22] per-samuelsson commented on #2947
In #2558, I just noticed @miyconst suggested:

So I guess thats what I'll do if I dont get any other feedback

[2015-10-29 19:27] eriohl commented on #3007
H

[2015-10-29 22:36] per-samuelsson commented on #3007
@atifsheikh

Sorry to hear you experience difficulties like this. We are currently busy in a joint effort trying to catch cases like this, where the product somehow behave in a confusing way or misbehave, causing disturbances.

The table you mention, I guess its created by you defining a C# database class? If so, any chance you might have *renamed* that class. Thats the sort of thing that could ca

[2015-10-29 22:42] per-samuelsson commented on #3007
If this turns out to be a case where the class/namespace was renamed, here are some relevant issues from previous refactoring experiences: #2845, #1764, #1766, #2122, #2116.

[2015-10-30 07:22] atifsheikh commented on #3007
@eriohl The table name is "WebSites" and and the column in it is URL.
@per-samuelsson you are right, i created this table in C# Database Class. and i have not modified anything in this class, not the names or the letter or the namespace. I have only added 1 new handler in the solution. the solution is very simple and small, it have only 3 tables. and my target table (which is "WebSites") have no c

[2015-10-30 07:23] per-samuelsson opened #3008 "Support new star.exe option --transact"
Required fo #3003.

When reviewed, consider renaming.

[2015-10-30 07:45] eriohl commented on #3007
Right a the end of the log there is a new table created "ReconnaissanceProject.Database.WebSites". There is also a previously created table called "ReconnaissanceProject.WebSites". Could it not be the case that you've in fact changed the namespace of the class like @per-samuelsson suggests? If so then if you restore the class "ReconnaissanceProject.WebSites" then you should again be able to access

[2015-10-30 07:51] per-samuelsson commented on #3007
@atifsheikh

I'm very sure there is no data lost here, even though it might look like that on the surface. We've basically not experienced data loss in any installation in ... well, 10 years.

If that stint should break today, here and now, yes, we can of course help you bring the data back with some low-level manipulation. So don't worry.

This finding from @eriohl is very likely the case you are

[2015-10-30 07:54] eriohl commented on #3007
There seems to be 12922 records in the table ReconnaissanceProject.WebSites and 3 in the table ReconnaissanceProject.Database.WebSites.

[2015-10-30 07:57] per-samuelsson commented on #3007
Hmm, and the log clearly tells a different story (see above, indicating the **namespace** of the Websites class has in fact changed).

If you haven't done so on purpose, can it be that Visual Studio somehow confuse us here? I know it has some little tricks (that I dont particularly like) here and there, and one of them is that sometimes **when you move files** around in the solution (like moving a

[2015-10-30 07:59] atifsheikh commented on #3007
:+1: Awesome. Thank you very much guys, and sorry for my blunder :P
Thank you again for the quick responses :)

[2015-10-30 07:59] #3007 closed

[2015-10-30 08:12] per-samuelsson commented on #3007
I take that as some of the above helped solving your case, so that you now can see your data again. Thats good.

Your "blunder" is on us, not you. Sorry for the disturbance.

As I wrote earlier, Starcounter is still sometimes a little rough in the edges in the user experience (the intial company lifetime focus has been on the core functionality, i.e. the database engine itself). We are trying to a

[2015-10-30 08:27] atifsheikh commented on #3007
@per-samuelsson well thats very nice of you, and sure, i always create issue tickets on this form when ever i get in to trouble. So Thank you very much for this encouragement. I really appreciate it. :)

[2015-10-30 08:32] per-samuelsson commented on #2981
Yeah, that one is nice for sure. I also like the neat new `nameof` operator. That one I've longed for for years, since it makes refactorings much more accurate and saves us from quite a few problems we have today.

I also like the new auto-property initializers, while I don't particulary like the new lamba-way of declaring method bodies. Methods are the holy grail for me, you don't mess with them

[2015-10-30 08:34] k-rus opened #3009 "Nightly develop failed due to git push failed"
In [the log](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_DevelopNightly&buildId=31369):

[02:00:46][Step 1/1]  ! [rejected]        developbuildnum -> developbuildnum (fetch first)
[02:00:46][Step 1/1] error: failed to push some refs to 'git@git.starcounter.org:BlueStar/buildsystem.git'
[02:00:46][Step 1/1] hint: Updates were rejected because the remote contains work tha

[2015-10-30 09:13] per-samuelsson commented on #2981
Vedict from 9km south of HQ: Worked like a charm, straight out of the box! :clap: to @chrhol and @alemoi.

[2015-10-30 09:27] per-samuelsson opened #3010 "Support transient classes"
Relates to, but is not a *requirement* for, #3003.

Implement the long-time story summarized [here](https://github.com/Starcounter/Starcounter/issues/2216#issuecomment-51774708) by @dan31:

[2015-10-30 09:29] per-samuelsson commented on #3009
People must stop working @ 2 o'clock. Go to bed, or to bars. Just dont work. :wink:

[2015-10-30 09:36] miyconst commented on #3009
@per-samuelsson :+1:, good idea.

[2015-10-30 09:53] per-samuelsson opened #3011 "Make star.exe [source code] treat all classes as database classes by default"
Requirement of #3003. Enabled by #3004 and #3005.

I'll get back on instructions on how it will work and how to customize it (with #3010 or by modifying template).

[2015-10-30 10:21] k-rus commented on #2728
Now this issue needed for current work on 2.x. @per-samuelsson is it feasible to do it? Can you estimate how much time will it take for you?

[2015-10-30 12:08] per-samuelsson commented on #2728
So I guess this no longer hold true? We need it in 2.x as well?

I guess if I'd do it in 3.x, I'd use Roslyn, but there are sufficient stuff in 2.x to do this quite easily as well, a little bit depending on the complexity of the result. I estimate it to somewhere in the range 1-3 days.

@dan31, @k-rus , can you prioritize this within the current context. I'm having a hard time seeing how important

[2015-10-30 12:20] k-rus commented on #2728
Any changes in the schema requires update json file and meta-data classes in Level1. Now I am doing this work to sync the two files in pnext. This is double work, which I have to do, and which easily produces bugs. @per-samuelsson already experienced once when he needed to update meta-data schema himself.
Now I am fixing the interfaces already and we can leave with current solution for a while, ho

[2015-10-30 12:40] jwillmer commented on #2947
In ASp.NET you can configurae which site will be opened if you press F5. I guess it is the application url.

[2015-10-30 12:41] careri opened #3012 "Starcounter 1.X, Starcounter.Transaction.State"
Hi!

This queston regards old SCDB.
What is the field State on Starcounter.Transaction used for? Is it free for use? Or does it have an internal purpose?

I was thinking of caching some data there to speed things up.

@chrhol indicates that @eriohl might have some input?

[2015-10-30 12:53] miyconst opened #3013 "Application restart required to see change in static files"
Recently I have noticed that application restart is required to see changes in static files.

My environment:
Windows 10
Visual Studio 2015 Community
Starcounter DevelopNightlyBuilds-2.1.300

This is very annoying, because application restart takes quite some time, especially on slow machines.

The easiest way to check:

1. Checkout https://github.com/miyconst/Playground.
2. Start the application.

[2015-10-30 13:03] warpech commented on #3013
Related? https://github.com/Starcounter/Starcounter/issues/2946

[2015-10-30 13:07] per-samuelsson commented on #2728
Great. Then I'll aim to be there at least one of those days too, and we can look through it.

[2015-10-30 13:10] per-samuelsson commented on #2728
@k-rus btw, where's the JSON metadata schema file at this very point? somewhere in bluestar i assume, can you just give me the relative path, so i can take a glipse at it? thanks.

[2015-10-30 13:14] k-rus commented on #2728
It is copied into Level1 output folder that you can use it. It is in branch pnext. The name is `metaschema.json`.

[2015-10-30 13:16] miyconst commented on #3013
Probably related, but have to ask @alemoi.

[2015-10-30 13:18] eriohl commented on #3012
"User defined attachment." according to documentation. Not used internally. Basically it is to provide a means for application code to attach data to the transaction. Could be used for something in VisualObjects or something however. @chrhol?

[2015-10-30 13:29] alemoi commented on #3013
Maybe something specific with Windows 10. I will take a look at this later.

[2015-10-30 13:42] per-samuelsson commented on #2728
Thanks.

I discussed this with @dan31. I'll bring it on beginning of last week. We can just have a short online session on it, and then I should be good to go I think.

[2015-10-30 13:44] k-rus commented on #2728
Great! Just call me. I am usually online.

[2015-10-30 14:30] per-samuelsson commented on #3008
Seem to work decent, only thing I'm unsure on how to design is how it relate to application restarts. Will need to consider some before I'm ready to merge this.

[2015-10-30 14:35] per-samuelsson commented on #3008
A general note on this: I'm thinking we should review restarts some, and provide an option for developers to be notified and adapt.

Consider tools that stay resident. if they are restarted, because some other, unrelated app restarts, they should be given the option to opt-out (i.e. either by a flag, so they can customize the entrypoint, or opt out from having the EP invoked at all).

Maybe define

[2015-10-30 15:02] careri commented on #3012
Thanks

[2015-10-31 11:21] per-samuelsson opened #3014 "C# editor web component?"
Any good one out there? What I'm after is one that is easy to use and that provide basic syntax highlighting (and where the source code being edited is accessible of course).

What stuff do we use for syntax highlighting in the web admin SQL tab?

@warpech @tomalec @miyconst @andwah

[2015-10-31 12:02] per-samuelsson opened #3015 "Move temporary files created by star.exe [source.cs] to temp under server repo"
Now we store them in user temp directory. More polite storing then under our hive.

Low prio but should be done eventually.

[2015-10-31 12:38] miyconst commented on #3014
Ace Editor is the best choice.

Here is a demo for all supported modes:
https://ace.c9.io/build/kitchen-sink.html

Here is the WebComponent wrapper around the editor:
https://github.com/Juicy/juicy-ace-editor

[2015-10-31 12:49] per-samuelsson commented on #3014
Wow, thanks @miyconst, that one looks super. I have these two ideas where an editor like this could come in handy. I'll brief them to you guys after I've done some more progress on #3003, to see what you think.

[2015-10-31 12:54] miyconst commented on #3014
Sounds intriguing :smile:

[2015-10-31 15:09] andwah commented on #3014
You may also take a look at OmniSharp http://www.omnisharp.net/ if you want more integration such intelligence etc.. It's a supplement for the editor you choose.

[2015-10-31 21:59] per-samuelsson commented on #3014
Yeah, thanks @andwah, I looked at that b/c its whats used behind VS Code in the new DNX / AspNet 5 context, but for this particular case, I think syntax highlighting is enough to start with.

I want to discuss one of these ideas with you next week, btw. I think we can do quite cool new things pretty soon, and parts of it relates to the web admin. I'll get in touch. :sunglasses:

[2015-11-01 09:31] per-samuelsson opened #3016 "Enable response views"
Just this thing I'm prototyping, I'll write more if it turns out the way I want it to. Note to self: simple DI it.

[2015-11-01 20:21] per-samuelsson commented on #2728
@k-rus

We are generating these classes into the Starcounter assembly, right? I was thinking maybe we should host them in there own assembly, but I'm not sure. Do you have any opinion on that?

Also: my idea is a generate them as partials. Because when I do, we can mix it up if we need some programming, i.e. implementing some methods on them. I can't see any problem with that. Can you?

[2015-11-01 21:12] per-samuelsson opened #3017 "Introduce simplest possible DI-mechanism"
The general stuff in `Starcounter.Internal.Ioc`. And service retrieval in `Starcounter.Hosting` namespace for consumption in the code host.

[2015-11-01 21:12] per-samuelsson commented on #3016
#3017

[2015-11-01 21:26] per-samuelsson opened #3018 "Review application restarts"
I suspect these will be subject to some confusion when more users come along. We should get ahead of that, describing the scenarios, and possibly allow some customization (rambling about it [here](https://github.com/Starcounter/Starcounter/issues/3008#issuecomment-152542405)).

When do the occur?

1. When a fellow application is stopped
2. When a fellow application fails to boot

Review how they r

[2015-11-01 21:27] per-samuelsson commented on #3008
#3018

[2015-11-02 01:29] alemoi commented on #3002
Since now it seems fixed I will close the issue. Thank you.

[2015-11-02 01:29] #3002 closed

[2015-11-02 01:34] alemoi commented on #2981
In installer, after research and tests, I had to embed VS CRTs setups, so the size of installer is now increased significantly :(
CRTs are detected/installed as a first thing in installer now (e.g. tested with clean Win7, works fine) before the .NET framework (which is still 4.5 until we decide to switch).

[2015-11-02 01:38] alemoi commented on #3013
Linking this issue: https://github.com/Starcounter/Starcounter/issues/2946

[2015-11-02 01:39] alemoi commented on #2962
Agreed, but let's wait until this is reproduced again.

[2015-11-02 01:50] alemoi opened #3019 "Write docs on mapping"
Starting from here: http://starcounter.io/guides/apps/

[2015-11-02 05:40] Starcounter-Jack commented on #3013
There is a cache invalidation mechanism based on file system changes. It uses a .NET api. Put a breakpoint in the callback function and see if we recieve notifications when file changes.

Sent from my iPhone

[2015-11-02 07:00] per-samuelsson commented on #3018
And of course, (3), the explicit restart happening when a user ask to run an application that is already running. The two above is the implicit ones.

For the explicit restart, the case is clearer - we run it as instructed by the user.

[2015-11-02 07:37] per-samuelsson commented on #3008
Need to leave this WIP for some time now, been assigned other work.

Note to self: The restart still have to be solved eventually, and the current implementation in the code host does not respect the passed parameter, but is hard coded. Other than that, most stuff is in place.

[2015-11-02 08:24] dan31 commented on #2981
Unfortunately this is as good as we get it today. Redistributing with self-instanller is a Microsoft recommended way, and we pay a price of size for simplicity of installation.

[2015-11-02 08:45] eriohl commented on #2981
Not sure if the size is actually a problem. But could we not have the installer download the CRT and CLR setups in case they are not installed (which the probably are on a developer machine).

[2015-11-02 08:49] per-samuelsson commented on #2981
+1 on this. Not sure if it applies to this case (I guess @alemoi  knows that), but in general, every opportunity we have for on-demand dependency resolving, we should take.

[2015-11-02 08:53] dan31 commented on #2981
Yeah @alemoi has chosen the easiest way to support so far. @alemoi, do you think there is any complication for doing @eriohl's suggestion (it isn't high priority, though necessary soon)? I suggest there should be no obstacle to keep it silent in downloadable scenario as well.

[2015-11-02 09:09] alemoi commented on #2981
Yes, I did the easiest way so far. But downloading is fine as long as links for CRTs are persistent.

[2015-11-02 09:12] alemoi commented on #3013
Yes, and it suppose to work. Maybe some differences with how Win10 works.

[2015-11-02 09:18] dan31 commented on #2981
I would suggest (didn't check it though) that MS provides some special API/REST API for that. Remember, link to a download page they always give persistent, but when you click download, they generate you some hash-like address. Note: license doesn't allow you to store those installers elsewhere rather than taking them from MS website. It'd been the case 6 years ago, presumably the same applies as

[2015-11-02 09:34] k-rus commented on #2728
Yes, we generate the classes for Starcounter assembly.
It's fine to do the simplest way now. But I think it would be nice not to add more assemblies. We know that the classes are always needed for .NET Starcounter to work.

I don't see any problems with it.

[2015-11-02 09:51] dan31 commented on #3009
Just space-time paradoxes, solar storm etc. :8ball:

[2015-11-02 09:52] per-samuelsson commented on #2728
Yeah, I considered this some more, and then changed my mind. Lets stick to what we decided.

I'm currently doing progress now, and I think it will take a few days to get the whole thing working, if you deliver the stuff on you (fixing Pnext Level1 and the output of the JSON), which I'm sure you will.

[2015-11-02 10:06] dan31 commented on #3007
@k-rus, I assign to you so far. Maybe you would create a separate issue. I couldn't find another issue on that topic of documenting. Basically we want to explain in that part of docs: a) what happens when user is changing its classes definitions, b) that data is never lost, c) how to observe all your data you have using metadata info (#3001).

[2015-11-02 10:09] alemoi commented on #739
This one is now can be closed since @chrhol added automatic restore supported by VS2015: https://github.com/Starcounter/Starcounter/issues/2981

[2015-11-02 10:09] #739 closed

[2015-11-02 10:10] alemoi commented on #1457
I guess this one is now can be closed since @chrhol added automatic restore supported by VS2015: #2981

[2015-11-02 10:54] dan31 commented on #3019
Entalis #2743.

[2015-11-02 12:40] per-samuelsson commented on #2947
Thanks for the feedback, @jwillmer! That looks quite similar to what I had in mind to implement here, in this previous comment:

Now I was assigned some other stuff, but I'm really eager to get back to this (and the set of issues I plan to improve on that improve the user experience), so lets hope it doesn't take to long.

[2015-11-02 12:53] dan31 commented on #1939
CC @alemoi @andwah Is it a case that we completely moved to in-memory llvm now and the issue should be resolved? In-memory llvm is there for around a month already. Have you noticed anything related to false antivirus positive?

[2015-11-02 12:53] per-samuelsson commented on #2728
@k-rus

So whats the take on columns that need to map to a certain high-level type that is not 1-1? The most concrete sample being `bool` (e.g. `Column.AlwaysUnique`, `Property.Get`, `Property.Set` etc). As you know, the kernel type set is much narrower.

I guess either we can introduce some kind of simple (hard-coded) configuration in the tool. Or we can try a strategy where we define high-level

[2015-11-02 12:55] dan31 commented on #2858
I like the idea with photo. @warpech, maybe we can ask Sabrina next time to get proper images and make nice non-JPEG-corrupted sharp thumbnail photos?

[2015-11-02 12:56] alemoi commented on #1939
Current 'develop' should completely eliminate this problem. I haven't noticed any malware detections.

[2015-11-02 13:04] #2699 closed

[2015-11-02 13:41] k-rus commented on #2728
I think we can use cast type. I need to check how we should deal with boolean in the metalayer. I guess it is ok to map them into UInt64 for now. I will be back tomorrow with better suggestion.

[2015-11-02 13:49] andwah commented on #1939
Haven't noticed any malware detection either.

[2015-11-02 14:03] per-samuelsson commented on #2728
Great. I will design it so that it use cast type until we decide something else.

[2015-11-02 14:46] #2860 closed

[2015-11-02 15:14] dan31 commented on #2830
@alemoi should be closed?

[2015-11-02 15:50] alemoi commented on #2830
I guess so. The way aliases work was changed completely so the issue is no longer relevant.

[2015-11-02 15:50] #2830 closed

[2015-11-02 15:56] miyconst opened #3020 "Improve SQL INSERT"
It would be really useful if `INSERT` statement would return inserted object. Something like this:

[code]

Or

[code]

cc @k-rus, @per-samuelsson

[2015-11-02 16:10] per-samuelsson commented on #2728
Another thing (not equally important) is we must have a pattern for what classes should become abstract.

[2015-11-02 16:36] k-rus commented on #3006
.NET runtime meta-data are populated for important meta-tables, created by meta-layer. Bootstrapping is working except tables with binary columns. SQL queries fail, since no auto-indexes and user-defined indexes are created.

[2015-11-02 16:39] k-rus commented on #2728
We can skip it, it is more as internal assurance that internal code, which is used to create meta-data creates correct objects. I think this assurance is not important and cannot be guaranteed outside .NET host.

[2015-11-02 18:01] per-samuelsson commented on #2728
Yeah, I was thinking the same. I guess if we can prevent user code from creating metadata entities, that we should. But I think it's not easily done by mistake anyway, since it use the system insert.

[2015-11-02 18:04] per-samuelsson commented on #3020
Just out of curiosity, when would one do that, when `new Product() { Name = "Starcounter database" }` is available.

As for the question, I wouldn't know. Sorry. Maybe @k-rus has a take on it.

[2015-11-02 18:06] per-samuelsson commented on #3020
Hmm, I guess when you have the type only available as a string, correct? :smile:

FWIW, there are (other) ways to create instances from type name strings already, just don't know how well they are exposed and/or documented.

[2015-11-02 18:34] miyconst commented on #3020
I am working on import/export tool. The tool does not have reference to the class, only meta data for loaded clr classes. When importing data back to database I need id of the object or the object itself to make references later.

[2015-11-02 20:38] k-rus commented on #2728
The user is prevented, since all constructors and set properties are internal. (If we don't speak about very sophisticated users, but they will be on their own.)

[2015-11-02 21:01] per-samuelsson commented on #2728
Yeah, true. I'm just being paranoid. :frog:

I made really good progress today. I had an overall design goal to try to introduce no new dependencies, and that has succeeded.

In its current state, the tool can now

1. Parse and interpret the entire metadata schema (the JSON file) and build up a domain model from it.
2. Generate the full set of metadata classes as a DOM (based on the domain model),

[2015-11-03 06:49] per-samuelsson opened #3021 "Simple reserved admin (demo) URLs?"
As part of #3003, I'm trying to figure out ways to get a user from the CLI context and into some well known points in the administrator.

One idea I had was to support `staradmin browse sql`, that would open up a browser on `localhost:[default_admin_port]/default/sql`, and maybe `staradmin browse app [myapp]` that open up on the console output of the app.

Another is if we could reserve a few real

[2015-11-03 07:48] k-rus commented on #2728
After @alexanderstc's fix I added Cast type to `bool` in `metaschema.json`.

[2015-11-03 07:56] per-samuelsson commented on #2728
You did? Where, when browsing `/pnext/src/metalayer/metaschema.json` I can't see that?

The two "CastType" I can spot is: `uint8_t` and `uint16_t`. Whats the full range, DYT? Should I try to be future-compatible for that?

[2015-11-03 08:00] k-rus commented on #2728
My pushed failed when I wrote the comment. Now it is pushed.
This is current full range, which is mainly based on the kernel interface. I don't know if there will be more changes.
Can you have a place/file with mapping between C type names and C# type names? Is it possible to have a general solution in the generator that C# type names are used directly without hardcoding?

[2015-11-03 08:04] per-samuelsson commented on #2728
Yeah, I see. Super.

Yeah, its already a central spot, so it will be very straightforward to change/extend.

[2015-11-03 09:01] andwah commented on #3021
Not 100% sure about the background for this question,, are we talking about "console-first experience" like @dan31 pointed out in #3003, then i think we should have a ```sql query``` command line tool and not involve the gui administrator at all.

Otherwise i agree with @per-samuelsson that we can use ```staradmin``` to open the Administrator.

[2015-11-03 09:28] warpech commented on #2922
[Polymer 1.2](https://blog.polymer-project.org/releases/2015/11/02/release-1.2.0/) released. Does it include the fixes you were anticipating? Is the upgrade straightforward or are there any backward compatibility problems to be expected?

[2015-11-03 09:31] warpech commented on #2922
@tomalec, I remember you said that JSON-Patch is missing the old value information, which is required for Polymer. If needed, we can make the patches include this information, since we control our own implementation.

[2015-11-03 10:06] per-samuelsson commented on #3021
I'm not sure how usable a command-line SQL tool will be TBH. And its quite some work, so I'm not sure it's worth it. But yeah, maybe, as a future thing. But its out of context for what I would like to achive now.

Thanks for the feedback @andwah.

Any opinion on this? Is it doable? Any obstacles with it?

[2015-11-03 10:12] warpech opened #3022 "Upgrade bundled Polymer to 1.2"
@malx122 says he needs `getEffeciveChildNodes`

@tomalec needs it for https://github.com/Starcounter/Starcounter/issues/2922

[2015-11-03 10:38] k-rus commented on #3020
You can use reflection to create objects. It will do the job.

[2015-11-03 10:40] miyconst opened #3023 "Nightly builds failing"
The last available for download nightly build is `2.1.324 (Oct 30, 2015 9:52:22 AM)`, and today is November 3.

cc @alemoi

[2015-11-03 10:42] warpech commented on #3022
When done, remember updating the changelog

[2015-11-03 10:42] k-rus commented on #3020
I don't see how to implement desired functionality through general interface of SQL in a clean way. I think a specialised host oriented API will be needed and will be also cleaner.

[2015-11-03 10:56] alemoi commented on #3023
Thank you for letting us know! The builds are successful on build server. I guess something happens on download server, cc @andwah

[2015-11-03 10:57] alemoi commented on #3023
Most probably related to recent switch to VS 2015.

[2015-11-03 11:14] andwah commented on #3021
i can't see any obstacles by adding some new endpoints to the administrator, just let me know and ill add them.

[2015-11-03 11:22] andwah commented on #3023
Some snippets from the build log from the build/download server

[code]

**Another one**:
[code]

[2015-11-03 11:33] per-samuelsson commented on #3021
OK, sounds super. Then I'd like initially (but no stress):

```localhost:[port]/sql```: open up SQL interface to the default database.
```localhost:[port]/sql/[name]```: open up SQL interface to database with [name]

Long term, I think we should adapt web admin a bit like I have suggested previosly, so that we extend pages that now show applications, to include not only the console output, but als

[2015-11-03 11:56] alemoi commented on #3023
Installer now needs VS 2015 to be build and I guess there ia no VS 2015 installed on download server. Please correct me if im wrong @andwah I will check meanwhile how native installer is built.

[2015-11-03 12:37] andwah commented on #3023
```Microsoft Visual Studio Community 2015``` was installed on the server at ```2015-10-30```

[2015-11-03 12:45] andwah commented on #3021
I added the two redirects:

If there is no ```default``` database then it will redirect to the first database in the list (if one exists).

[2015-11-03 12:45] per-samuelsson commented on #3021
Wow. Thanks! :clap:

[2015-11-03 13:28] per-samuelsson commented on #2728
About the input schema, the above is what you have in mind for the final solution, is it? So when I integrate the tool in the build pipeline, generating the metadata classes before the Starcounter assembly is being compiled, its in **Level1 output directory** I should expect the schema file to be? And should it not exist, I'll fail the build?

[2015-11-03 14:52] k-rus commented on #2728
Yes. I don't see better solution with minimal effort.

[2015-11-03 14:52] miyconst commented on #3022
I have tested our applications and `dom-bind-notifier` with Polymer 1.2

Most of the features work, but there are still some issues:

1. `dom-bind-notifier` test fails on updating nested arrays: `[["Alice", "Tomek"], ["Tomek", "Alice"]]`.
2. Applications fail to remove array items (tested with product, barcodes, images), but same thing works fine in my test ShoppingCart application. This may be ca

[2015-11-03 14:57] per-samuelsson commented on #2728
OK, good. Its totally fine by me. I just wanted it confirmed so I can finalize this thing. :smile: Thanks.

[2015-11-03 15:07] miyconst commented on #3022
I have investigated the second point, seems like `dom-bind-notifier` for some reason notifies Polymer about a splice two times.

[2015-11-03 15:38] alemoi commented on #3023
Is it installed with C++ support as described here? Seems its not. https://github.com/Starcounter/Starcounter/issues/2981#issuecomment-151836580

Since the build servers are building the installation package fine.

[2015-11-03 17:10] warpech commented on #3022
@malx122 do you mind if we upgrade to Polymer 1.2 only after we manage to point 2 listed above? We don't want to introduce regression.

Perhaps for now, you can upgrade Polymer in your installation:

[code]

[2015-11-03 17:12] miyconst commented on #3022
Okay. The issue is located.

In most of our apps we have Master -> Details concept which requires this structure:

[code]

And the partial for `starcounter-include` has same structure. Both `dom-bind-notifier`, from the master and from the details page observe same array, and both of them notify Polymer about the change in the array.

Polymer 1.1.x somehow ignores it and lets it go through, but Po

[2015-11-03 17:16] malx122 commented on #3022
Hm, can't do a manual upgrade since I will have the same problem then... Just solve the issue and I take it when its available :). (I do an ugly workaround for "geteffectiveChildNodes while waiting)

[2015-11-03 21:22] alemoi commented on #3023
Yes, the problem is that VC++ and other tools are not installed on the download server. However I can't install them, because of the following situation:

![image](https://cloud.githubusercontent.com/assets/208134/10922050/54f1dff6-8279-11e5-9d1d-8db50eac0050.png)

[2015-11-03 21:27] per-samuelsson commented on #3023
Whatt? Just do your usual magic?! :tophat:

[2015-11-03 21:54] alemoi commented on #3023
Sure :) Just need to clean this C:\Windows\Winsxs directory,

[2015-11-03 21:55] dan31 commented on #3023
Guys, I move pagefile to D:, give it a sec to restart.

[2015-11-03 21:56] dan31 commented on #3023
I think if you literally clean it, windows will no longer work :100:

[2015-11-03 22:02] alemoi commented on #3023
No, I was talking about this: https://technet.microsoft.com/en-us/library/dn251565.aspx

But then provocative question, @dan31 why do we have so little space on our main download server? :)

[2015-11-03 22:08] alemoi commented on #3023
I guess because the price for Amazon hosting jumps up significantly with more space?

[2015-11-03 22:09] dan31 commented on #3023
Provocative answer @alemoi, go check and see, it is 8 Gb now :grin:
But really, 30 gb for main drive is a given default. However the D: disk is 200 gb.

[2015-11-03 23:04] alemoi commented on #3023
Thanks @dan31
Now I updated VS 2015 with native packages, so the build should succeed tonight. Let's observe this.

[2015-11-04 07:40] eriohl commented on #2879
We've decided to keep the current model where we pass configuration on command line since this works well with the 2.x process management.

[2015-11-04 07:40] #2879 closed

[2015-11-04 07:52] k-rus commented on #3006
Auto indexes are created with using token table accessible through meta-layer, however kernel API is used instead of meta-layer API, thus no meta-data is populated about created meta-data indexes.

[2015-11-04 08:37] alemoi commented on #3023
Nightly was published fine tonight, so closing the issue.

[2015-11-04 08:43] per-samuelsson commented on #2728
I've found another detail I can't solve only based on the metadata schema, related to abstract classes: how to generate constructors. Only some types (the non-abstract ones) are to have a ctor that actually insert something.

The only pattern I can find is I should generate one if

1. The type does **not** inherit the root base type (SystemEntity), **AND**
2. No other type extend that type.

It re

[2015-11-04 08:55] k-rus commented on #2728
As discussed above no abstract or sealed classes, since it adds unnecessary complexity. Enforcing abstract class is not important, since there is no external users of it. So we skip it.
And there is no pattern, since I have a meta-schema modification in mind, which will break the current patter.

[2015-11-04 10:21] per-samuelsson commented on #2728
Yes, we agree on that. But thats not what I asked for.

What does this mean? I'm soon done with the tool, will I need to redesign it already?

What I asked: how should I know if I should emit a default constructor or not? All default constructors in the currentt version **insert** instances. If I add one in one class, I must be sure that none of the base classes insert too. That kind of thing is c

[2015-11-04 10:43] per-samuelsson commented on #2728
You know what, never mind. I'll just figure out something that works, and we can revise it if needed.

[2015-11-04 10:58] bigwad opened #3024 "Doesn't it make sense to automatically discover JSON properties if JSON is bound to CLR object"
Now I have to duplicate all properties of my CLR object in JSON definition

[2015-11-04 11:03] bigwad opened #3025 "Instantiate CLR object from JSON object"
Is there any way to instantiate CLR object from JSON object if JSON has type binding? It will allow  to easily convert JSON object one gets from http request to data model object.

[2015-11-04 11:44] bigwad opened #3026 "Simple way to create JSON array is desirable"
Given json definition:
[code]
and CLR object
[code]

I have to do something like this to initialize items:
[code]

wouldn't it be more convenient to write like this:
[code]

[2015-11-04 12:08] eriohl commented on #2984
Done.

[2015-11-04 12:08] #2984 closed

[2015-11-04 12:10] eriohl commented on #2983
Done (on Windows).

[2015-11-04 12:10] #2983 closed

[2015-11-04 12:11] eriohl opened #3027 "pnext: Remove installation id from configuration (on Windows)?"

[2015-11-04 12:41] miyconst commented on #3022
I have located the issue. I believe it is Polymer's bug, but they may consider it as a "feature". Anyway, here is the issue I reported to Polymer: https://github.com/Polymer/polymer/issues/2680.

[2015-11-04 13:39] per-samuelsson commented on #2728
OK, I'm now done with my part of this.

The new tool is working and it's integrated in the building of the Level1 solution (builds as part of it, and then runs as part of it, before Starcounter is built). With this, all metadata classes are now generated from the Level0 `metaschema.json`, just as were the requirement.

I'll leave it off with commit 88669715a510a546ee0f83f3c28171af5a4edb42 in branc

[2015-11-04 13:50] warpech commented on #3022
We decided to wait until Polymer responds to this issue

[2015-11-04 14:00] eriohl commented on #3027
Not workable. Dropping this task.

[2015-11-04 14:00] #3027 closed

[2015-11-04 15:05] warpech commented on #2925
Thanks for reporting!

Not relevant since the redesign of the page. Future sign-up forms should work ok.

[2015-11-04 15:05] #2925 closed

[2015-11-04 16:18] k-rus commented on #3006
User-defined indexes fixed and work in simple cases. Auto-indexes do not work due to setspec, which will be fixed. Not pushed to pnext.

[2015-11-04 20:47] per-samuelsson commented on #3008
Done, merged and pushed in feature set of #3003 enablers, in https://github.com/Starcounter/Starcounter/commit/7feda6c312233a08dcdc1d1a1dc3c59e6c62f990.

[2015-11-04 20:47] #3008 closed

[2015-11-04 20:48] per-samuelsson commented on #3003
Remember: document #3005, #3010, #3008.

[2015-11-04 20:48] per-samuelsson commented on #3005
Done, merged and pushed in feature set of #3003 enablers, in https://github.com/Starcounter/Starcounter/commit/7feda6c312233a08dcdc1d1a1dc3c59e6c62f990.

[2015-11-04 20:48] #3005 closed

[2015-11-04 20:49] per-samuelsson commented on #3004
Done, merged and pushed in feature set of #3003 enablers, in https://github.com/Starcounter/Starcounter/commit/7feda6c312233a08dcdc1d1a1dc3c59e6c62f990.

[2015-11-04 20:49] #3004 closed

[2015-11-04 20:49] per-samuelsson commented on #3010
Done, merged and pushed in feature set of #3003 enablers, in https://github.com/Starcounter/Starcounter/commit/7feda6c312233a08dcdc1d1a1dc3c59e6c62f990.

[2015-11-04 20:50] #3010 closed

[2015-11-04 20:50] per-samuelsson commented on #3011
Done, merged and pushed in feature set of #3003 enablers, in https://github.com/Starcounter/Starcounter/commit/7feda6c312233a08dcdc1d1a1dc3c59e6c62f990.

[2015-11-04 20:50] #3011 closed

[2015-11-04 22:22] alemoi commented on #3013
@warpech I tried this in the same environment in Virtual Box as yours and it worked fine. Is it occasional behavior or you can constantly reproduce on your machine? Can I check on your machine tomorrow?

[2015-11-05 08:22] per-samuelsson commented on #2446
From #2982

@alemoi, what was the reason you did this move, do your remember? I saw now you didn't only move that, but moved `ApplicationBase` into there too.

It kind of messed up much of the thought I had with these classes, and the experience they would have inside the code host to application developers, and I think I will have to now make some redesign to get this to work back like it used to

[2015-11-05 08:45] k-rus commented on #3006
Finally, the enabled part QueryProcessingTest works through meta-layer. Pushed to `pnext`. Huge amount of unacceptable hacks there.

[2015-11-05 09:20] k-rus commented on #2728
@per-samuelsson
I am trying to merge this branch into pnext, however building Level1 failed due to `Starcounter.Metadata.Table` does not exist:

Error	CS0234	The type or namespace name 'Table' does not exist in the namespace 'Starcounter.Metadata' (are you missing an assembly reference?)	Starcounter	C:\GitRepositories\Starcounter\Level1\src\Starcounter\Apps\OntologyAndOrdinaryMapping.cs	588

Is th

[2015-11-05 09:21] k-rus commented on #2728
I found the problem:

10>  System.NotSupportedException: Unknown data type, cant map column ColumnIndex: type STAR_TYPE_ULONG, cast type int16_t
10>     at GenerateMetadataClasses.CodeGenerator.DataTypeMap.MapCastType(DataTypeMap map, Column column) in C:\GitRepositories\Starcounter\Level1\src\BuildSystem\GenerateMetadataClasses\CodeGenerator\DataTypeMap.cs:line 64
10>     at GenerateMetadataClass

[2015-11-05 09:26] per-samuelsson commented on #2728
It's because you have introduced a new data type:

`
System.NotSupportedException:
Unknown data type, cant map column ColumnIndex: type STAR_TYPE_ULONG, cast type int16_t
`

Its **int16_t**. That one wasn't part of the original "spec".

Its easy to add support though, just extend this method implementaton:
https://github.com/Starcounter/Starcounter/blob/issue/2728/src/BuildSystem/GenerateMetadataC

[2015-11-05 09:37] per-samuelsson commented on #2446
Hmm, its pretty clear why the original issue stopped working too, since both properties `Application.DisplayName` and `Application.FullName`, and the overridden, `Application.ToString()` method was just deleted in 52311370cf8c72529199046f53062ea22dd525d5.

[2015-11-05 09:55] malx122 commented on #2788
Bump! Was has happened here? Seems everyone was ok with it? Was going to start the same issue when I found this one.

[2015-11-05 10:18] miyconst commented on #2788
@malx122 what Starcounter version do you use?

The version folder is removed for quite some time.
Current default installation path is `C:\Program Files\Starcounter`.

[2015-11-05 10:19] miyconst commented on #2788
Closing this issue.

The version folder is removed, checked with Starcounter `2.1.352`.

[2015-11-05 10:19] #2788 closed

[2015-11-05 10:37] k-rus opened #3028 "Develop nightly build failed on AppHostTest"
See [the log](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_DevelopNightly&buildId=31539#_focus=5566):

[02:49:36][Step 1/1] Version: 2.1.362.
[02:49:36][Step 1/1] Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR2150.
[02:49:36][Step 1/1]    at Starcounter.Hosting.Package.ExecuteHost(Application application) in C:\TeamCity\TeamCity8\buildAgent\work\sc-deve

[2015-11-05 11:12] k-rus commented on #2728
Great! It was really simple to extend!

I am merging to pnext and fixed build errors and part of the problems with bootstrap, however I cannot fix problem init type specifier thus reopen this issue and ask @per-samuelsson to look at it.
In addition it is necessary to change handcoded initialisation of typedefs (line 81 in Loader.cs) and of type specifiers (line 416 in Package.cs). Note that condit

[2015-11-05 11:25] k-rus commented on #2728
I forgot to say that the merging branch is `pnextMerge2728` in Level1, and use `pnext` in Level0.

[2015-11-05 11:26] k-rus commented on #2728
So far the problems with bootstrapping were related to the base class `MetadataEntity`. It is probably the biggest difference between hardcoded meta-classes and generated ones.

[2015-11-05 11:26] per-samuelsson commented on #2728
I was under the impression that I was to implement code generation of classes, not messing with how bootstrapping work. especially since jumping back and forth between my work in normal 2.x and **pnext** is pretty expensive in terms of switching problems. The classes are there, can't you guys solve this with reflection for example?

[2015-11-05 11:29] k-rus commented on #2728
@dan31 can you find someone to look into the bootstrapping issue? Otherwise I will have time to do it on Monday instead of the other prioritised ask.

[2015-11-05 11:37] k-rus commented on #2728
The breaking change in generated classes is that they extend `MetadataEntity`, which might be a reason for failing bootstrap. Since I don't have knowledge about the bootstrap, I was not able to see problems with introducing the base class when we discussed this.

[2015-11-05 11:38] per-samuelsson commented on #2728
Pseudo code:

[code]

[code]

[2015-11-05 11:39] k-rus commented on #2728
I will try this.

[2015-11-05 11:41] per-samuelsson commented on #2728
You know what, I'll switch over again trying to fix the bootstrap instead. I think its faster. Will do it when I'm at some point where I can do the context switch.

You have made everything compile now at least?

[2015-11-05 11:43] per-samuelsson commented on #2728
Ah, thats this one?

[2015-11-05 11:46] k-rus commented on #2728
correct

[2015-11-05 11:56] alemoi commented on #2446
I guess the reason was a need to use application name in low levels, far below what it was placed initially. Since we started to use application name in many different areas, that was a quick fix I made, Im not sure if I discussed it with you.

[2015-11-05 12:19] per-samuelsson commented on #2446
OK, thanks.

But I find only one single place where it is used, in `\src\Starcounter.Apps.JsonPatch\BuiltInRestHandlers\ConsoleOuputRestHandler.cs`, in class `CircularStream`, I find method `GetAppName()`, implemented like this:

[code]

And if the current name is all you need, its already there, without moving these classes, since if you look at the implementation of `Application.Current`, it jus

[2015-11-05 12:20] per-samuelsson opened #3029 "Rewrite metadata classes bootstrapping in Level1 "pnext""
Extends #2728.

[2015-11-05 12:21] per-samuelsson commented on #2728
Thanks. I've opened #3029 for the redesign and assigned it to me.

[2015-11-05 12:21] #2728 closed

[2015-11-05 12:29] k-rus commented on #3029
I noticed that I forgot to commit one change in metaschema.json. Now it is pushed to pnext.

[2015-11-05 12:30] alemoi commented on #2446
Thanks for the clarification! In this case, I guess you can revert the change, if you can of course. As long as all tests pass, this is not an issue at all. Let me know if I should revert/check it.

[2015-11-05 12:42] per-samuelsson commented on #2446
OK, great! That will both solve this issue, and also I can do the stuff I planned to do in the code host, and what was the idea of those classes in the first place. Thanks for the feedback. I'll do it. Just wanted to check with you first. :+1:

[2015-11-05 12:44] per-samuelsson commented on #3028
Thanks @k-rus, I can take a look what could have caused this.

[2015-11-05 12:54] per-samuelsson commented on #3028
I can see right away what the problem is, its a combination of #3011 and this thing I did to support legacy applications for Heads. Its quite easily fixed, just got to decide on the best way.

[2015-11-05 13:22] alemoi commented on #2446
Sounds awesome! Thank you for your work!

[2015-11-05 13:23] #1457 closed

[2015-11-05 14:07] per-samuelsson commented on #3028
Resolved, and I've ran the apps tests successfully in a personal build. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/f0f0e8f92b4f3c6dbad11f4af62fa775c4159035.

Comes with a new mini-feature too: transient interfaces. With such, you can define an interface as transient. When applied to a class in a database context (for example when the class is in a database assembly, con

[2015-11-05 14:07] #3028 closed

[2015-11-05 14:09] per-samuelsson commented on #3029
Super.

[2015-11-05 14:56] malx122 commented on #2788
Strange, it seems so for me as well. I just thought it was yet there since I needed to restart my command prompts to find "star.exe" in path after I installed a new version... Must have been something else that failed.

[2015-11-05 19:51] eriohl opened #3030 "More efficient resource management for small installations"
For the purpose of making it less costly to run a lot of instances with smaller databases.

[2015-11-05 20:44] alemoi commented on #3013
After investigation we found that its again an issue with Parallells and their network folders sharing (PSF). I have added now a check when resource directory is registered: in case if its a network folder or on network drive - the exception is thrown. Pretty much like in installer regarding server directory. @miyconst is going to test this solution and then I will push the changes.

[2015-11-05 20:54] warpech commented on #2948
Is this solved by https://github.com/Starcounter-Jack/JSON-Patch/issues/82?

[2015-11-05 20:54] warpech commented on #2948
Related: https://github.com/Starcounter/Starcounter/issues/2922

[2015-11-05 21:53] alemoi commented on #3019
Forgot to mention that initial version of documentation is published.

[2015-11-06 05:45] per-samuelsson commented on #3019
Great. I'll read it today / weekend, and will give feedback if I have any!

[2015-11-06 09:37] miyconst commented on #2948
No, this was solved by https://github.com/MaxArt2501/object-observe/issues/16 and https://github.com/MaxArt2501/object-observe/issues/18.

[2015-11-06 09:37] #2948 closed

[2015-11-06 09:57] jakubklekota opened #3031 "Simplified data model"
Hi guys,
Can you help me described  simplified data model ?
What is Ring1, Ring2, Ring3, Ring4, Ring5, Ring6 and for example where put new database class if i can create common for app ?

Maybe good idea is creating tutorial ?

[2015-11-06 10:09] miyconst commented on #3031
I can give you basic ideas referring to @warpech:

Ring1 - something that even a monkey could understand.
...
Ring6 - something that only specific range of people could understand.

So, you should think of how many people could understand your entity/class and then decide to which Ring add the class.

In the Simplified data model we do not add custom namespaces, but do add custom folders.

For exa

[2015-11-06 10:09] per-samuelsson commented on #3031
@jakubklekota

This stuff is still pretty much onging work, but I'm sure there are some help you can get. And yes, we should most definitely document this more throughly eventually.

@warpech @miyconst ?

[2015-11-06 10:17] miyconst commented on #3013
Seems to work right.

Trying to start an app from a network drive end with the following exception:

[code]

Starcounter logs have more details:

[code]

[2015-11-06 11:39] mtornwall opened #3032 "Unhandled exception in asynchronous task brings down database"
If an exception is thrown and left unhandled in an asynchronously executed task the whole database instance terminates. Shortest repro:

[code]

The asynchronous versions of the methods in `Node`, `Http` etc all seem to suffer from this problem as well.

Running Starcounter v2.1.257.

[2015-11-06 11:47] per-samuelsson commented on #3032
@mtornwall

Thanks for reporting this! We'll surely look into it ASAP.

Not sure who'll take this, @dan31?

[2015-11-06 11:55] per-samuelsson opened #3033 "Support enumerating view values as strings"
Distantly related tto #3003. Came as a nice and pretty cheap bonus when I implemented #3016 and needed a proof.

Basically, what this is is support for a pattern like this:

[code]

Output:

[2015-11-06 13:09] dan31 commented on #3032
Hi guys! @chrhol + @alemoi is a way to go. Both are on vacations, @chrhol is back next week in the end of it. Thanks for reporting!

[2015-11-06 13:23] per-samuelsson commented on #3032
Sounds good enough. After reconsidering it, maybe P/High is borderline, since its quite easy to get around it, just not throwing any exceptions at this spot. At least thats why its not a showstopper.

But since its still somewhat serious, I guess that label is fine.

[2015-11-06 13:30] mtornwall commented on #3032
Agreed. A responsibly written asynchronous callback will likely do some kind of error handling on its own anyway (I'd like to think that's why it has taken me so long to get bitten by this one :-)).

I'm not sure what I think the appropriate behavior is, to be honest. Clearly it's no good to bring down the entire node. On the other hand, if exceptions occurring in callbacks are simply suppressed a

[2015-11-06 13:31] dan31 commented on #3032
@per-samuelsson, considering the amount of priors for those two happy guys when they are back, I'd say this one is "whenever possible" :) Luckily, we have a bunch of related issues there. E.g. we've recently addressed that part to optimise the download server. Also, considering that new scheduler (with async support and other nice stuff) is to be addressed in the upcoming months, finding some subs

[2015-11-06 13:35] dan31 commented on #1939
@alemoi @andwah
@Starcounter-Jack reported to me that a friend of him experienced antivirus alert 2 weeks ago, which means it happened on a version with in-memory llvm. Hence I'm not closing issues related to antivirus so far.

[2015-11-06 13:42] dan31 commented on #3010
Great way how you evolve the story, @per-samuelsson! In the meantime, do you intend to put some docs regarding this feature on .io website? How transient classes are configured?

[2015-11-06 14:07] per-samuelsson commented on #3010
Most definitely: https://github.com/Starcounter/Starcounter/issues/3003#issuecomment-153859381. :smile:

[2015-11-06 14:14] alemoi commented on #1939
Will be good if we can get details on this matter.

[2015-11-06 14:16] dan31 commented on #1939
@Starcounter-Jack, greatly asking for details!

[2015-11-06 14:18] alemoi commented on #3032
I thought it was fixed already, so that entry about exception is added to the server log.

[2015-11-06 14:22] alemoi commented on #3013
Thank you for testing! I will fix so that Starcounter specific error is returned instead of out of range exception.

[2015-11-06 14:25] miyconst commented on #3013
Would be also cool if all of such exception would be visible and not require digging into log entries.
Another very common error is when working directory is pointing to a wrong folder.

[2015-11-06 14:36] mtornwall commented on #3032
@alemoi I can confirm that an entry is indeed written to the log.

However, I'm questioning whether it's reasonable for an error in an asynchronous task to bring down the entire database.

Here's something to compare with. If you run the following in a regular .NET console application:

    Task.Run(() => { throw new Exception(); });

... the program does *not* terminate.

[2015-11-06 14:51] miyconst opened #3034 "Unable to execute DELETE statement with WHERE clause"
In administrator this query fails with syntax error exception:

[code]

[code]

The log does not contain any info about this error.

This query passes through without exceptions:

[code]

cc @andwah, @k-rus

[2015-11-06 15:18] jakubklekota opened #3035 "Database - Not delete items in one-to-many relation"
Hello,

I have database model:

[code]

I observed when in starcounter administrator execute DELETE statments like:
[code]
and then

[code]
record of Bin was deleted, but in Rubbish items stay. Only the reference/key to Bin was deleted in the Rubbish database .

It's correct for one-to-many relation ?

[2015-11-06 15:25] miyconst commented on #3035
Yes. Currently it is by design. You can use commit hooks to manually remove the Rubbish of your Bin.

[2015-11-06 15:36] bigwad commented on #3032
Hi,
Just two cents.
Actually this Task's behavior has been changed recently for better async/await support. Here is [more details](http://blogs.msdn.com/b/pfxteam/archive/2011/09/28/task-exception-handling-in-net-4-5.aspx). You still can experience program crash in this case if specify [ThrowUnobservedTaskExceptions]( https://msdn.microsoft.com/en-us/library/jj160346(v=vs.110).aspx) option in app.

[2015-11-06 16:12] dan31 commented on #3024
CC @chrhol

[2015-11-06 17:08] alemoi commented on #3032
I agree that exception should not bring down the database. For me RunAsync is like any other code inside the main thread.

[2015-11-06 19:51] per-samuelsson commented on #3035
@jakubklekota

I think what you are looking for here is what is normally referred to as *cascading deletes*, and we in Starcounter, we don't support those of the shelf currently.

As @miyconst suggest, you have the option to use something called *commit hooks*, which basically allow you to register a delegate that is being called on certain transactional commits.

Another way for this specifc scen

[2015-11-06 19:53] per-samuelsson commented on #3034
@miyconst

You've tried the same in the SQL programming API? Still a flaw in administrator of course, just curious if it would work out there.

[2015-11-06 20:56] alemoi commented on #3013
I agree. @andwah how is it possible to display the message in tray icon? Do you have some REST API for that. I mean that we log an error and displaying notification in tray icon.

For example, if a folder does not exist or you provide a file path instead of folder?

[2015-11-07 06:59] per-samuelsson commented on #2446
Done. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/2a6bc915338ab39889dacd4ace82ccbc17a25797.

[2015-11-07 06:59] #2446 closed

[2015-11-07 07:01] per-samuelsson commented on #3016
Done. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/2a6bc915338ab39889dacd4ace82ccbc17a25797. Documentation (and planned blog article) still TBD before closed.

[2015-11-07 07:09] per-samuelsson commented on #3017
Done. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/2a6bc915338ab39889dacd4ace82ccbc17a25797. Documentation still TBD before closed.

Basically, services can now be consumed with this pattern:

[code]

and for service providers to register them

[code]

I made the default service container trivial by design. We might want to support additional common features along the way

[2015-11-07 07:10] per-samuelsson commented on #3033
Done, pushed and merged in https://github.com/Starcounter/Starcounter/commit/2a6bc915338ab39889dacd4ace82ccbc17a25797. Documentation to come.

[2015-11-07 07:48] Starcounter-Jack commented on #3032
Of course, the behaviour is not reasonable. User code bringing down the database is never reasonable.

Sent from my iPhone

[2015-11-07 07:59] Starcounter-Jack commented on #3031
I will post a tutorial

[2015-11-07 08:07] andwah commented on #3013
@alemoi We have an Rest api for getting the log, the tricky part will be filtering out the right log entry to show in the try.

[2015-11-07 08:18] andwah commented on #3034
According the the documentation at http://starcounter.io/guides/sql/limitations/

But maybe ```DELETE``` is partly supported? anyone knows?

[2015-11-07 08:27] alemoi commented on #3032
I guess by "entire database" we are talking about hosting code process only. Is that right @mtornwall?

[2015-11-07 12:24] per-samuelsson commented on #3034
In `SlowSQL` it is, if I remember correctly. Because the implementation is somewhat naive. Maybe @k-rus can fill in some blanks.

[2015-11-07 13:18] mtornwall commented on #3032
Sorry, I should've expressed myself more clearly. What I've *actually* observed is that the code host and the particular database instance to which it belonged terminated (as in: no longer listed as Started in the administrator).

[2015-11-07 13:39] alemoi commented on #3032
As far as I know, the database is shown to be running in Administrator, if and only if the codehost is up (it does not care about scdata process, which the actual database engine). @andwah @per-samuelsson  please correct me if I am wrong.

I was thinking a bit, and the problem with just logging and not terminating sccode is that developer might not notice that something died. Usually if most of fu

[2015-11-07 14:13] miyconst commented on #3013
@alemoi

Most of the time it happens when project was moved, renamed, or one of the parents folder got renamed. So, it happens when working directory path points to a non existing folder.

[2015-11-07 14:14] miyconst commented on #3034
@per-samuelsson, I tried to execute same query, but with a parameter, not with inline value.

[2015-11-07 14:25] andwah commented on #3034
I think i found the problem. it's about the newline's

Try to write the query in a single line (without newlines).

```DELETE FROM Simplified.Ring3.SystemUser WHERE Name = 'test'```

[2015-11-07 14:26] alemoi commented on #3013
Very reasonable. I will add this check as well!

[2015-11-07 14:32] andwah commented on #3032
The database is shown "running" if there is a database and a host process running.

[2015-11-07 14:43] miyconst commented on #3034
Yes, inline version work without error.

[2015-11-08 08:30] per-samuelsson commented on #3032
In response to the above, if you ever need the details, the CLI will reveal them.

Do first

[code]

and then

[code]

[2015-11-08 08:33] per-samuelsson commented on #3034
Great you found it, @andwah. Is it simple to fix? IMO, doing SQL statements like @miyconst does in the OP is really useful when statements get a little more complex, so I think it would be good to support.

[2015-11-08 09:18] andwah commented on #3034
@per-samuelsson It sounds simple to fix what do you think @k-rus ?

[2015-11-09 06:40] per-samuelsson commented on #3029
@k-rus

Now that I switch to **pnext** again, do I have to regenerate the VS-env, or is that just a one-time operation? I mean, will the one I generated last time always be up-to-date for example if files are added?

[2015-11-09 06:43] k-rus commented on #3029
I can answer only from my experience: if I am not sure, then I always run cmake to create the solution and project files and then build Level0. However, it might working by just building Level0, since it seems that the projects are re-generated if needed. But I am not sure if it always work or not.

[2015-11-09 06:45] per-samuelsson commented on #3029
OK, thanks. I'll just go with trial and error then. :smile:

[2015-11-09 07:32] k-rus commented on #3034
`DELETE` is parsed in managed code. It is necessary to check how the managed parser behaves in the above case to see how to fix it.

[2015-11-09 08:14] per-samuelsson commented on #3029
I've got things to compile finally (by deleting everything and building totally from scratch), but starting the server fails on a error in the gateway, I think its a access violation, and I just cant seem to get around it, so right now the progress of this is 0.

[2015-11-09 08:20] per-samuelsson commented on #3029
[code]

[2015-11-09 08:22] k-rus commented on #3029
I don't know the reason, but it might be because branch merge2728 is not synchronised with latest changes in pnext. I often experienced such kind of problem.

[2015-11-09 08:26] per-samuelsson commented on #3029
I've merged `pnext` into this branch you pointed me to, so its something else.

[2015-11-09 08:43] per-samuelsson commented on #3029
Looks like I might be experiencing something like #2962. You regularly merge the fixes in `develop` into `pnext`, @k-rus?

[2015-11-09 08:48] per-samuelsson commented on #2962
What strategy do we have now when there are 2 long-living Level1 branches, *develop* and *pnext*? Who's merging stuff between them?

For those of us that need to jump back and forth between these two contexts, its quite a pain. I've spent hours lately just doing context swtiching and trying to get things up and running. Thats just not very inspiring, and very much a waste of resource IMO.

@alemoi

[2015-11-09 08:52] k-rus commented on #3029
No. Usually @eriohl was doing such merge, since he knows better about important changes in Level0.
So far I haven't done any merges of develop into pnext.
We haven't defined any procedures and responsibilities how to move forward with merges. So it is completely ad hoc on need basis. I guess now conflicting changes might fall to different developers as several people works with managed pnext and c

[2015-11-09 09:31] per-samuelsson commented on #3029
I have now tried running things in isolation, and if I first start the IPC monitor and then setup a debugging session and start the gateway there (using the same arguments as those used by `scservice`), I end up with this:

![image](https://cloud.githubusercontent.com/assets/2902045/11030212/e08a990c-86cc-11e5-90c9-35d4d0e37f3d.png)

So its clearly not the same thing as #2962, but instead somethin

[2015-11-09 09:36] per-samuelsson commented on #2962
Looks like it isn't after all, its something w/ my env most likely: https://github.com/Starcounter/Starcounter/issues/3029#issuecomment-155008391

[2015-11-09 09:49] k-rus commented on #3029
I merged pnextMerge2728 branch and pnext locally and QueryProcessingTest works until bootstrap error. @per-samuelsson Should I push the merge into pnextMerge2728 or would you prefer to do it yourself when you solve the environment problem?

[2015-11-09 10:01] per-samuelsson commented on #3029
You can push it, no problem. My problem with my env is not really related.

[2015-11-09 10:07] k-rus commented on #3029
Done

[2015-11-09 10:26] miyconst opened #3036 "Simplification to OntologyMap method"
Right now we do `OntologyMap` like this:

[code]

And this looks much cleaner:

[code]

Just need to add another `OntologyMap` override:

[code]

--------------

Or even more simple:

[code]

And the override:

[code]

cc @alemoi, @dan31

[2015-11-09 10:41] bigwad opened #3037 "Interface between managed Starcounter.SqlProcessor and scsqlprocessor.dll has been broken"
The problem is that interface function signature has been changed: ```scsql_process_query```. Appropriate fix in managed code is required. On top of that problem is masked in Debug configuration of Starcounter.SqlProcessor since Debug doesn't use scsqlprocessor due to some #ifdef.

I'm going to fix it, but I need to understand one thing. Are we going to process SELECT statements using scsqlprocess

[2015-11-09 10:48] k-rus commented on #3037
`#ifdef` was always there. I guess @eriohl added PROLOG_ONLY symbol to project configuration in Debug. So I add the task to fix calls to metalayer API in this case, see #3006. (there are also many other places where kernel non-existing functions are called)

[2015-11-09 10:52] k-rus commented on #3037
I am not agree with this. I would prefer that the managed code takes care, since it is problem of managed code, which does not have support for returned iterator.

Reload must call scsql_process_modifyquery.

[2015-11-09 10:55] eriohl commented on #3037
Comfirming that PROLOG_ONLY was set on project level to get around it not working (not required for queries to run).

[2015-11-09 10:57] miyconst opened #3038 "Enhancement to Handle.GET method"
It is always not a good idea to keep string values inside code, especially when the values are presented more than one time.

Right now we do:

The handler

[code]

The map

[code]

Things to improve:

### Unify url format

We should not use different url format, `{?}` vs `@w`. Even me, after using this for a year, still sometimes forget where I should use which.

### Copy pasting url value

The u

[2015-11-09 11:04] miyconst opened #3039 "Umbrella: Server side enhancement"
This is an umbrella issue for server side improvements, which I would like to see before the Indian trip

- [x] [Simplification to OntologyMap method](https://github.com/Starcounter/Starcounter/issues/3036)
- [ ] [Enhancement to Handle.GET method](https://github.com/Starcounter/Starcounter/issues/3038)
- [ ] [Ambiguous Handle name](https://github.com/Starcounter/Starcounter/issues/2733)
- [ ] [Def

[2015-11-09 11:13] per-samuelsson commented on #3029
So, I've spent some time now trying to debug the gateway and how it use `scllvm`, which seem to be the originator of the access violation. I still havent found the exact cause, but its clear that its happening when the gateway ask the compiler to compile the URI matcher.

Not sure its the cause, but in `GenerateUriMatcher` I can see `g_gateway.clangCompileCodeAndGetFuntions_` is called with one pa

[2015-11-09 11:14] miyconst commented on #2733
I would like to see something more traditional.

[code]

[code]

This approach would provide intellisense for every part, and it also wold be possible to discover how to  subscribe for model changes without actually reading the docs.

[2015-11-09 11:17] bigwad commented on #3037
@k-rus, what you suggest is effectively cease to support INSERT statement through Db.SQL.

Besides reload I'm aware of several places that issues "INSERT INTO" statement.
1. InsertIntoTests in QueryProcessingTest project
2. [Starcounter.Extensions/Layouts.cs](https://github.com/Starcounter/Starcounter/blob/pnext/src/Starcounter.Extensions/Layouts.cs#L76)
May there're other in other projects. And m

[2015-11-09 11:21] k-rus commented on #3037
Why is it going to be breaking change? When pnext will be merged to develop public functionality including using Insert into from Db.SQL will be the same.

Great.

[2015-11-09 12:17] miyconst commented on #2960
Closing this issue, as this behavior is due to current design/implementation/limitation.

[2015-11-09 12:17] #2960 closed

[2015-11-09 12:52] k-rus opened #3040 "Enable unload/reload code in QueryProcessingTest in pnext"
Currently running unload and reload code fails due to unexisting native API functions. There are might be other issues as well.
Reload should call `scsql_process_modifyquery`, however it obviously will fail, since insert into is not implemented in pnext.
It should be tested through running QueryProcessingTest.

[2015-11-09 13:17] per-samuelsson commented on #3029
Update: @alemoi has been really helpful and we've debugged this on my machine over a debug build of `llvm`. Unfortunally, to no immediate previal.

It turns out that some method in CLANG return a NULL where we really don't expect any a NULL to be returned. And its not clear why. So I can't really make any more progress here, we'll have to wait and see how this turns out.

[2015-11-09 13:45] per-samuelsson commented on #3036
That seem most in line with would be the expected I think. I vote for that.

But could it be that we still need to support a string based version as well, for future scenarios where types can exist without a class?

[2015-11-09 13:46] per-samuelsson commented on #3039
Really good initiative, @miyconst. I wish I was at a point where I was more fluent on how these parts worked today, so I could give more/better feedback. Will still try in micro-contexts where ever I can.

[2015-11-09 13:48] per-samuelsson commented on #2733
Whats the current approach, @miyconst? Is it [this](http://starcounter.io/guides/web/server-side-view-models/) (just using new/alternative naming, i.e. Page != View)?

[2015-11-09 13:49] k-rus opened #3041 "Make SQL regression test to run in pnext"
This test might involve fixing different parts. A known part is support Binaries in meta-layer.
However, current problem is that starting test fails with:

must be performed in the context of a valid transaction

I haven't looked what the actual problem is. @eriohl what do you think?

[2015-11-09 13:52] miyconst commented on #3036
@per-samuelsson is there a typo in your code snippet? There is no generic type in your `OntologyMap` call and only one parameter, which is url. If no type, then how do we know to which class map?

Of course we have to keep support for the original mapping, this is just some overrides of the method.

[2015-11-09 13:55] miyconst commented on #2733
Page is almost a `Json`, just with some nice features for htmlmerger.
https://github.com/Starcounter/Starcounter/blob/21e3eccd53af2c80a9945d5e09a66da93251bb7e/src/Starcounter/Page.cs

[2015-11-09 13:55] per-samuelsson commented on #3036
Argh, its this thing with using quotes with code - if you hit [Edit comment] on my comment, you'll see it correctly, just that GH drop brackets in comments. :cry:

Good. Then I'm all for your suggestions.

[2015-11-09 13:56] miyconst commented on #2733
The new part in my approach is `Input.X` events, not the `Page` class and view-model itself.

[2015-11-09 13:58] miyconst commented on #3036
No missunderstanding then :smile:, I have updated your snippet.

[2015-11-09 14:10] per-samuelsson commented on #2733
Yeah, that much even I understood. I compared it to `Handle(Input.[Class] input)` in the referenced guide, I just wanted to know that comparison was valid, and now I see it is, when you have provided the whole picture. Thanks.

I'm not sure exactly where I stand on this. I see pros and cons of both initially. Let me get back on it.

[2015-11-09 14:14] miyconst commented on #2733
Sure. Even if we implement the new approach, we still should not abandon the old one, we need the backwards compatibility.

[2015-11-09 14:34] miyconst commented on #2918
This is fixed, thanks to @alemoi.

[2015-11-09 14:34] #2918 closed

[2015-11-09 14:35] miyconst commented on #2848
@andwah, this is fixed, right?

[2015-11-09 14:37] miyconst commented on #2805
Closing this issue as handsoncode guys are working on handsoncode-invoicedemo.
https://github.com/handsoncode-apps

[2015-11-09 14:37] #2805 closed

[2015-11-09 14:38] miyconst commented on #2801
Closing the issue, as there is actually a way to change application name.

[2015-11-09 14:38] #2801 closed

[2015-11-09 15:12] eriohl commented on #3041
I can look at that specific error at least. I'll check it later today.

[2015-11-09 16:16] andwah commented on #2848
Yes,
Note that wrapping can still occur depending on page width

[2015-11-09 16:16] #2848 closed

[2015-11-09 16:17] dan31 commented on #2960
@miyconst, I bet we don't have any article regarding this behaviour yet (I believe this should be together with explaining Shared DLLs)? At least I haven't found one. The only mention so far is http://starcounter.io/guides/sql/sql-isolation/. If so, I'd create a ticket to write one.

[2015-11-09 16:17] alemoi commented on #3029
Found the reason. 3 months ago I pushed a change to develop Level0 in URI-matcher code: 725e7ae6dc788823cc3742b034f35c198a357fef
Simply didn't push it to pnext, because of many reasons. Anyways, I'm going to push the change to pnext now. And later release more protected scllvm module with more checks.

[2015-11-09 16:19] alemoi commented on #3029
I wonder why this didn't appear before. Probably because usage of Level1 with pnext is quite recent.

[2015-11-09 16:20] miyconst commented on #2960
Yes, looks like we don't have any article about this design/limitation.

[2015-11-09 16:33] dan31 commented on #2962
@per-samuelsson That one defined by @eriohl is what you look for https://github.com/Starcounter/CompanyTrack/issues/120#issuecomment-151806293 (merge changes from develop into pnext), with an assumption that the merge actually manual and no single person is responsible for the merging process. This actually 1-to-1 to what we've been doing with "next" branch in its days. Please everyone take care o

[2015-11-09 16:36] k-rus opened #3042 "Enable or reimplement meta-data test"
Part of QueryProcessingTest is test of populated meta-data. It is good to enable it to see that meta-data are populated in expected way. It is important to fix it that it does not fail on included so classes.
It is important that the test checks not just that meta-data was created, but also that it was not created more than should be.

[2015-11-09 17:25] alemoi commented on #2962
Great you brought this topic. Which is an off-topic here now though :smile_cat:
I myself bumped on the merging policy but in Level0: since I didn't work on `pnext` 3 months ago, I simply didn't merge anything there from `develop`, which was a mistake causing you know what :)
About the automatic tests - I totally agree. Let's define what is suppose to work in `pnext` and move the corresponding test

[2015-11-09 17:30] alemoi commented on #3029
Just pushed the change via 175e157a4155ebbc8dda203d24ad5e73ff2b1487
Let me know if you still have problems.
In general we should start adding automatic tests to pnext branches. Otherwise these kind of issue will appear again and again.

[2015-11-09 18:08] per-samuelsson commented on #2962
@dan31, thanks for the clarification, it all very clear inedeed now. Good.

And yeah, really off topic, and the fault is mine. Sorry.

[2015-11-09 18:15] per-samuelsson commented on #3029
Great @alemoi, now I've totally messed up my environments, but I will sure try this in a while. I'll let you know the result. Thanks.

[2015-11-09 22:11] eriohl commented on #3041
I changed so that db_util::Transaction::Create sets the newly created transaction as current. This seemed to be the intention although not done (causing this particular error).

[2015-11-09 23:20] eriohl commented on #3041
Fixed a few issues and got it running. SqlTest2Input has 15 failures while SqlTest3Input and SqlTest4Input has none. SqlTest1Input has A LOT of failures however. I'll work a bit more on this tomorrow.

[2015-11-10 01:17] alemoi commented on #3013
Unfortunately is not that simple after I did some tests: for example, adding a shared network directory as resources directory works fine, and this functionality seems to be very useful. Probably its some border case with Parallels shared folder.

[2015-11-10 06:47] k-rus opened #3043 "Test project for pnext converging to develop"
Current pnext test checks only native tests, which were designed for new track. Now it is connected to current code host implementation, but no tests are performed on this. One of the reason is that no regression test successfully runs in current state.
The problem is that it is not possible to see if working parts are working with changes.
It would be nice to have build server to auto-test the cu

[2015-11-10 06:48] k-rus commented on #3029
Good idea. I also think that we need automatic tests on build server. The question is how to make them useful. I created an issue #3043.

[2015-11-10 07:15] miyconst commented on #3013
@alemoi, didn't @per-samuelsson suggested to stop working at 2am :laughing:?

[2015-11-10 07:58] per-samuelsson commented on #3029
Just realized I forgot to give you the feedback I promise, sorry. When I started fresh, and including your fix, starting the server now works like a charm! :clap: Thanks for all the support, @alemoi.

[2015-11-10 08:12] per-samuelsson opened #3044 "pnext: scdata started by server exit with error "bad arguments""
Get this when trying to start a (new) database when working on #3029.

[code]

I'm running Bluestar pnext + Level1 pnext (latest, merged into pnextmerge2728 branch).

Guess its something done in the native parts that haven't been fixed in the admin server? I think I'll try finding the error myself, since I'm not really up for waiting at this point.

[2015-11-10 08:21] per-samuelsson commented on #3044
Just found out myself: yes, thats it, considering [company track #126](https://github.com/Starcounter/CompanyTrack/issues/126). So I guess I should start doing that one, because completing #3029 will be rather hard wihout even being able to start the database. :smile:

[2015-11-10 08:30] jakubklekota commented on #3035
@miyconst @per-samuelsson thx :)

[2015-11-10 08:30] #3035 closed

[2015-11-10 08:32] per-samuelsson commented on #3044
Seems not after all. Got a confirmation from @k-rus that at the moment, management stuff is broken, and the only way to run a database is a sequence of manually starting processes; `star.exe` is not operative at this moment.

I'll just adapt to that and try to get #3029 going with such a setup.

[2015-11-10 08:32] jakubklekota opened #3045 "OnInstall /OnUninstall event for app"
Hi,
It's any events to call when app is install or uninstall ?

[2015-11-10 08:34] k-rus commented on #3044
Currently, pnext uses low level API to run tests and does not use admin server. There are broken changes described in another issue.

[2015-11-10 08:34] per-samuelsson commented on #3044
Closing this, because its a known issue then (we'll need to rewrite management parts to adapt to [company track #126](https://github.com/Starcounter/CompanyTrack/issues/126).

[2015-11-10 08:34] #3044 closed

[2015-11-10 08:36] miyconst commented on #3045
:+1:, I am also curious.

[2015-11-10 08:38] malx122 opened #3046 "Crashes in latest stable, 2.1.177"
Having random server crashes in 2.1.177. I can not find any patterns, it does not happen often and there is no evident cause by me triggering it. (It always happened on a full reload of a random webpage). I do however get som things in the log:
[code]

[2015-11-10 08:42] miyconst commented on #2814
In current applications I manually remove json item before removing it from database. This approach seems not to be possible when two or  more applications share same screen.

The main application, which contains `Save` and `Cancel` buttons, knows when to update json view-model, but the secondary apps have no idea of when the main app is going to rollback transaction.

So, the questions are:

- Ar

[2015-11-10 09:26] jakubklekota opened #3047 "No connection to Prolog Server"
Hi,
Somethimes i have error "No connection to Prolog Server", when I execute SELECT statments.

Looks like app started faster then database.

[2015-11-10 09:28] k-rus opened #3048 "Internal query processing failure on meta-data match during IndexQueryTest in pnext"
IndexQueryTest fails with:
[code]

It has to be checked after #3029.
Part of #3006

[2015-11-10 09:31] k-rus commented on #3047
Thank you for reporting. It was reported in #2824. Do you also experience it during debug?

[2015-11-10 09:33] jakubklekota commented on #3047
Yes.

[2015-11-10 09:34] k-rus commented on #3047
Thanks. I close this issue as duplicate in favour of #2824.

[2015-11-10 09:34] #3047 closed

[2015-11-10 12:14] per-samuelsson commented on #3046
@malx122

Thanks for reporting this. Can't recall I've seen anything like it lately, so I can't provide much info straight away, but I'll surely make sure we take a look at it.

How often is "does not happen often" approx? Can you isolate it in some smaller context, or is this when you are running full application suite?

[2015-11-10 12:16] per-samuelsson commented on #3045
@jakubklekota

Can you clarify what you mean by install/uninstall? Is this an AppStore related thing? Thanks!

[2015-11-10 12:38] dan31 commented on #3045
Hi @jakubklekota! What kind of activity you'd like to execute in Install/Uninstall event?
// CC @warpech

[2015-11-10 12:41] miyconst commented on #3045
As I assume @jakubklekota would like to insert some initial data after application is installed and remove something when the app is uninstalled.

But I am afraid, that it is not possible. Because the app is not running when it is being installed or uninstalled.

We can use `Program.Main` function to execute some preparation code, but there is no possibility to know whether user going to uninstall

[2015-11-10 12:50] miyconst opened #3049 "Starcounter.Metadata.ClrClass AssemblyName has invalid value"
The following sql code would return `ClrClass` records for all classes from `Simplified` assembly.

[code]

And I would expect to see `Simplified.Data.Model` as `AssemblyName` for those classes. Instead I see the name of an app which initialized this assembly to get loaded. It can be `Welcome` or `Luancher` which does not even have reference to `Simplified.Data.Model`.

@per-samuelsson confirms, t

[2015-11-10 12:56] per-samuelsson commented on #3049
Just to be clear, what I meant was that I also find this very confusing, just like @miyconst, and based on that, I consider it a bug. But I haven't implemented this, and I'm really not sure whats the semantics of the `ClrClass.AssemblyName` field. I can confirm its populated in a fashion that @miyconst describe above (I checked).

Thats only partially true, because if I'm corrrect, `Simplified.Dat

[2015-11-10 13:01] k-rus commented on #3049
Thank you for feedback about meta-data related to `ClrClass`. I agree that the design should be improved. This is first feedback about them.

[2015-11-10 13:03] dan31 commented on #3049
CC @alemoi This is also aftermath for our app isolation changes. I don't think we have capacity to address it soon. But once we can, this is for @k-rus and @alemoi to negotiate who will address the redesign.

[2015-11-10 13:03] k-rus opened #3050 "Fix implementation of calling native query processor in pnext"
Managed query processing logic should call `scsql_process_query(uint64_t context_handle, const ucs2_char *query, uint8_t *query_type, uint64_t *iter)` from scsqlprocessor, which is used for syntax errors and for insert into (#3037). Prolog execution should be used for query execution, which is either based on error (in code now0 or on `query_type==0`, i.e., the query is select statement.

[2015-11-10 13:04] k-rus commented on #3037
Separate issue #3050

[2015-11-10 13:20] jakubklekota commented on #3045
@miyconst describe my idea.

[2015-11-10 13:22] alemoi commented on #3013
Hahah :smiley_cat: No comments!
In any case I added only a check for existence of directory for now via c4dc1a5c363ec60bde19213e9d88d06396b1edd0
I will add documentation regarding Parallels case specifically.

[2015-11-10 14:14] malx122 commented on #3046
Never tried "full suite", normally run launcher, signin (our modified version) and the application I'm developing on for the moment. Has happened maybe once a day last 5-6 work days with different applications running. (When developing I mostly just restarting the app I'm working with but sometimes I restart all if I have to do something in our shared library that also SignIn uses)

[2015-11-10 14:16] per-samuelsson commented on #3046
OK, thanks @malx122. I'm a little unsure how we should approach this going further, since its somewhat nondeterministic. We'll back to you on that. Maybe @eriohl has some idea on this?

[2015-11-10 14:55] warpech commented on #3045
The apps (nor the app store) doesn't have a concept of "installation" of the apps. What it does is just download and start an app.

Every time you start the app, it is potentially started for the first time. Similarly, every time you stop the app, it is potentially the last time it will be stopped.

Related: https://github.com/Starcounter/Starcounter/issues/2780

Could you explain what kind of tas

[2015-11-10 15:05] eriohl commented on #3046
Haven't seen this before. Thank you for reporting. Always the same stack-trace?

[2015-11-10 15:11] alexanderstc commented on #3037
scsql_process_query returs SCERRNOTSUPPORTED on SELECT statements.

[2015-11-10 15:32] k-rus commented on #3037
Why? Some select statements are already processed and an iterator is generated. For other select statements the above error code returned is correct.

[2015-11-10 15:38] k-rus commented on #3037
Created a separate issue for this in the Level0 repo.

[2015-11-10 16:15] malx122 commented on #3046
Tried to look back but could only see the latest in the log. But as I remember it is always the same stack-trace (otherwise very similair)

[2015-11-10 16:29] per-samuelsson commented on #3029
Made some good progress on this today. I have redesigned bootstrapping of metadata to be driven by code generated code, so

1) we are not limited by static calls when/if we want to expand on number of metadata tables / classes
2) bootstrapping of metadata is faster

[code]

Some refinements left and checking that I've covered all code, but I should be able to push this either later tonight or at l

[2015-11-10 17:44] warpech commented on #2453
Still reproducible in 2.1.397 nightly (uninstalling 2.1.397 or 2.1.177 gives the same effect).

This time with the prompt to uninstall the previous version:

![bug](https://cloud.githubusercontent.com/assets/566463/11070083/f2b2ed9c-87d9-11e5-82f0-cd9726ef3b8b.gif)

[2015-11-10 17:44] warpech commented on #2453
When done, pls also close #1972

[2015-11-10 19:55] k-rus commented on #3029
Great!
Passing the test to this level is enough. Don't forget to merge latest pnext, I enabled more tests in QueryProcessingTest.

I am wonder should call to metalayer to create meta-tables and populate meta-data (function `PopulateRuntimeMetadata`) be earlier during bootstrap?
The only requirement is that context (kernel function `star_get_context`) is created before calling it.

[2015-11-10 20:36] per-samuelsson commented on #3029
I did that today during the day, but I'll of course merge again before the final test, I always do.

Wow. That I don't know, sorry. What has changed to drive such change? I really dont have the big picture to give an accurate answer. Maybe we can try discuss that and see?

[2015-11-10 20:39] k-rus commented on #3029
Current place (if you haven't changed) is unsafe, since it depends if the call for base package or user-defined classes. The condition checks if table name is the first meta-table in the json list and if the first meta-table is changed, the condition has to be changed too.

[2015-11-10 23:17] warpech commented on #3024
Do you mean that CLR object should be treated differently than database objects?

I guess that the whole point is that in JSON you express which properties exactly do you want to expose.

That said, I acknowledge that more people were asking for a possibility to autogenerate JSON based on the data. Maybe there should be some meta flag for that?

[2015-11-11 05:52] Starcounter-Jack commented on #3045
You can easily detect and installation now. Simply create a database class called Installed. In the main function of the app, do a check if there is an installed record. If not, create it and do your oninstalled stuff.

As for uninstall, we would have to do a call. Maybe we should add an "POST /starcounter/installed" and a "POST /starcounter/uninstalled"? These would then be called by the app stor

[2015-11-11 06:39] eriohl commented on #3046
OK. Thank you. If you could confirm this next time you see this it would be appriciated. I will check the code see if I can discover what might be wrong (no recent updates to this code).

[2015-11-11 06:52] per-samuelsson commented on #3029
Well, I've already redesigned that, b/c that kind of check seemed quite ... well, not really safe. I've made it a little more OOP, so that the starcounter package logic is in its own package class (`StarcounterPackage`).

For initializing of type specifications, for example, the call in `UpdateDatabaseSchemaAndRegisterTypes` to `InitTypeSpecifications` is now virtual. The standard package define n

[2015-11-11 06:57] per-samuelsson commented on #3029
BTW, the idea now is I merge this `pnextmerge2728` branch into `pnext`? Or is it better you do that? Its up to date with latest `pnext`, so its ready in that sense.

[2015-11-11 07:29] per-samuelsson commented on #3045
I was thinking in the exact same lines last night, with the little twist that I was thinking in terms of making it a into a single-source app (like `Program.cs`), that we can promote users to make "auto-started" in all their databases.

We could even support it with the new simple DI-mechanism I've introduced in the code host, so that apps could enjoy it on event level. But lets not go into detail

[2015-11-11 07:47] k-rus commented on #3029
You can merge it, if you haven't moved from it. We need it in pnext.

[2015-11-11 08:08] per-samuelsson commented on #3029
OK, I will when you clear that one last time. Feels a bit shaky, since I can't do the normal personal build + testing, etc. But if you say its fine, I'll do it. No probs.

Just to be clear, with the latest `pnext` merged into this branch, the point I'm at now is that the first run of the query processing test succeed:

[code]

And the second run fails on this:
[code]

If you say I can merge like t

[2015-11-11 08:31] bigwad commented on #3024
That's not exactly what I mean. At least as I see it.

What I mean is if I have json document with datatype declaration and I want all properties to be exposed, there is no reason to duplicate all those properties in json declaration.

Auto-generation of JSON will do the thing as well. And we can introduce special attribute to ignore some fields. Like XmlIgnore for xml serialization.

[2015-11-11 09:23] per-samuelsson commented on #3029
@k-rus cleared this merge, so now I've merged this whole effort into **pnext** in https://github.com/Starcounter/Starcounter/commit/d91220b96632239efda8c8b081cb7774bb1eb6e5. This merge also include the former pending merge of #2728.

Let me know how this turns out @k-rus, and close the issue once verified. Thanks.

[2015-11-11 09:45] dan31 commented on #3045
But maybe to support some notification mechanism, similar to:
```Application.ApplicationExit += new EventHandler(this.OnApplicationExit);```

[2015-11-11 09:51] warpech commented on #3036
Looks like a low hanging fruit :+1:

[2015-11-11 09:59] warpech commented on #2966
This will be beneficial for reducing the amount of boilerplate (Barcodes2).

[2015-11-11 10:05] k-rus commented on #3029
I am trying to build Level1 with this change and I fail with:
[code]

[2015-11-11 10:16] per-samuelsson commented on #3029
Hmm, thats bad. So maybe I shouldn't have merged after all. Looks there is some diff in "treat warnings as errors", maybe my settings were softer for some reason (although I haven't changed that on purpose for sure).

Can you try just relax that as a test? Under Project Properties. Then I'll remove the warnings meanwhile.

[2015-11-11 10:21] k-rus commented on #3029
Does not help. It is really errors (not warnings treated as errors). An interesting thing that I didn't have problem to build #2728 some time ago.

[2015-11-11 10:23] warpech commented on #2931
The purpose is to declare that there exists a different representation of the JSON - a HTML template. Maybe `Page` or `IPage` isn't the best word for that at all. `IHtml` anyone?

To speed up the decision, I will repeat the aforementioned solution proposals and add another one (5):

1. Merging `Page` into `Json` class directly
2. Don't merge, but just make the Visual Studio template use the `Page`

[2015-11-11 10:24] k-rus commented on #3029
Rebuild of exactly this project with not treating warnings as errors worked.

[2015-11-11 10:25] per-samuelsson commented on #3029
[Compiler Warning (level 4) CS0109](https://msdn.microsoft.com/en-us/library/css4y2c4(v=vs.90).aspx)

Yeah, but I decided to change generation to support binding via generated code, not reflection, for a nicer bootstrapping that was also faster.

[2015-11-11 10:30] k-rus commented on #3029
Finally, I found where I should do it. I set Treat warnings as errors to none on Starcounter project and build succeeded.

[2015-11-11 10:32] k-rus commented on #3029
After this, QueryProcessingTest works as expected! So it is only left to fix warnings.

[2015-11-11 10:35] miyconst commented on #2931
Same here.

[2015-11-11 10:43] per-samuelsson commented on #3029
Pushed. Sorry for the inconvenience.

Turn the strictness on again, test and close this when confirmed it works. Thanks.

[2015-11-11 10:46] warpech commented on #3039
Are there any "must haves" here in your opinion? Or are they all "nice to haves"? This will help to prioritize.

[2015-11-11 10:53] miyconst commented on #3039
Very important issue, I would say "must have":
[Transaction.Rollback: The operation failed because of an invalid object access](https://github.com/Starcounter/Starcounter/issues/2814)

I would really like to see fixed:
[Ambiguous Handle name](https://github.com/Starcounter/Starcounter/issues/2733)

[2015-11-11 10:55] warpech commented on #3031
That will be very welcome!

A similar explanation to this given by @miyconst is available in https://github.com/StarcounterSamples/Simplified/blob/master/README.md

[2015-11-11 11:01] k-rus commented on #3029
Confirm the fix. Closing.
Thank you!

[2015-11-11 11:01] #3029 closed

[2015-11-11 11:01] k-rus commented on #3048
After #3029 the problem disappeared.

[2015-11-11 11:01] #3048 closed

[2015-11-11 11:07] miyconst commented on #2833
Here is a work in progress: https://github.com/miyconst/StarcounterImporter

[2015-11-11 11:09] miyconst commented on #2658
Administrator now supports `DELETE` statements, not multiline though: https://github.com/Starcounter/Starcounter/issues/3034. Closing this issue.

[2015-11-11 11:09] #2658 closed

[2015-11-11 11:11] miyconst commented on #3013
Sounds good. Close the issue when done.

[2015-11-11 11:13] miyconst commented on #3038
@warpech, @dan31, @alemoi, @per-samuelsson any input? My other issues got comments, but not this one.

[2015-11-11 11:16] per-samuelsson commented on #3038
Sorry, didn't feel I had the right insight to comment on this one on that specific level. Just generally, I totally support this statement:

[2015-11-11 11:35] warpech commented on #3038
Totally agree!

Maps are meant to be written in a separate file, so I don't think this is applicable :(

[2015-11-11 11:50] bigwad commented on #3006
First INSERT INTO implementation has been pushed.
What I need from sql processing group - is support for decimal, floats and doubles.
To do: objects and objects references support support

[2015-11-11 12:02] alemoi commented on #3038
Sorry I missed this issue! Totally agree with unified URL format. Reason why I used processed URI is that in the beginning I was expecting other types of possible parameters not just last string. I also agree with @warperh about separation.

[2015-11-11 12:04] k-rus opened #3051 "GenerateMetadataClassses does not generate new classes on metaschema.json change"
I changed `metaschema.json`, however building Level1 or rebuilding `GenerateMetadataClasses` does not generate new classes. The current work around is manually delete `GeneratedMetadataClasses.cs`.

[2015-11-11 12:06] alemoi commented on #3036
Yes, this is very low hanging. I will fix it.

[2015-11-11 12:15] k-rus opened #3052 "Fix native API in Level1"
Most public API from kernel and metalayer was changed. Some changes already reflected, but all the old API function are in place and there is still some source code used.
Some old kernel API functions should be replaced with new kernel API, but some should call metalayer.

[2015-11-11 12:28] warpech commented on #3038
Can you estimate the effort to do this?

As always, the old syntax should be kept for backwards compatibility.

[2015-11-11 15:18] per-samuelsson commented on #3051
It's probably something with the semantics of the **msbuild** `prebuild` event, like it doesn't run on all instances, etc. If so, the same thing should apply to error code generation I guess.

I'll take a look at it eventually.

[2015-11-11 15:22] k-rus commented on #3051
Code generation seems to work correctly. I've never experienced such problem with it.

[2015-11-11 19:16] per-samuelsson commented on #3051
You mean with error codes? Yeah, I've never experienced problems with that either. So something funny going on. I will investigate what.

[2015-11-11 19:28] k-rus commented on #3051
Yes, I mean error codes. Sorry for confusion.

[2015-11-11 20:42] alemoi opened #3053 "Database subclasses question"
Does Starcounter allow adding database classes as subclasses having corresponding SQL support for them, like they are namespaced? Asking because of a good potential isolation for many classes inside one test.

[2015-11-12 07:48] k-rus commented on #3053
@per-samuelsson was mentioning this case in some issue some time ago. May be he can clarify how weaver deals with this.

[2015-11-12 07:51] per-samuelsson commented on #3053
Dont understand the question fully? Subclasses are used all the time?

[code]

`Bar` will of course be a database class too.

[2015-11-12 07:57] eriohl commented on #3041
Seems like the main reason why SqlTest1Input doesn't work is because DROP INDEX failed silently (this test is basically SqlTest2Input but expecting full scans because all the indexes are supposed to have been dropped).

It is not apparent to me why it fails. Error is ScErrTypeNotFound. Could I get some help investigating?

[2015-11-12 08:01] k-rus commented on #3053
Do you mean subclasses or nested classes?

[2015-11-12 08:07] k-rus commented on #3041
I fixed this problem and will push shortly.

I found this problem today morning . @alexanderstc fixed it now in pnext.

[2015-11-12 08:08] miyconst commented on #3053
I think @alemoi meant something like this:

[code]

[2015-11-12 08:15] k-rus commented on #3041
I tested the fix and it does not work properly.

[2015-11-12 08:15] per-samuelsson commented on #3053
Ah, **nested** classes. That make more sense. :smile: Thanks @miyconst.

We don't support that pattern today, no. I looked in to it once and it turned out the SQL went nuts to resolve that naming pattern.

The weaver fully support it though. You can paste the code provided by @miyconst above to an **app.cs** file and try it yourself:

[code]

Then look at it at some tool, like Reflector. But I dou

[2015-11-12 08:18] per-samuelsson commented on #3053
#2375 for some background.

[2015-11-12 08:20] chrhol commented on #3012
I don't remember this property at all, and have not found any use of it in old code for presentations or visualobjects, so it seems to be fine to use.

[2015-11-12 08:20] #3012 closed

[2015-11-12 08:25] k-rus commented on #3053
As I see it should be easy to fix by using dot notation instead of plus sign between classes.

[2015-11-12 08:27] per-samuelsson commented on #3053
Then maybe we should make an effort to get this to work. @dan31 WDYT?

[2015-11-12 08:32] chrhol commented on #2814
I started implementing check for invalid dataobjects, but did not finish. I got stuck on the proper way of handling an jsonobject having a deleted dataobject. Should the dataobject be removed or should the whole jsonobject be removed? And then I got sidetracked before finishing.

No, there are no events on Transaction (or anywhere else for that matter) other than Commithooks, and I'm not sure list

[2015-11-12 08:46] k-rus commented on #3041
Now it works.

[2015-11-12 08:49] eriohl commented on #3041
Great. Thank you

[2015-11-12 08:54] chrhol commented on #2733
The main reason for not having these patterns is that the actual instance of the json should be treated as a proxyobject (same as for databaseobjects) and have as few values stored in the instance as possible so they are fast to create and clean up. The instance might also be recreated during different requests (not implemented at this time though) to avoid keeping alot of clrobjects in memory sin

[2015-11-12 08:58] k-rus commented on #3042
After discussion with @dan31 the issue is assigned to @per-samuelsson

[2015-11-12 09:06] per-samuelsson commented on #3042
Where can I find this test?

[2015-11-12 09:08] k-rus commented on #3042
It is in QueryProcessingTest.  The test function called `MetadataTest.TestPopulatedMetadata()`, which is currently disabled in the main program of the test.

[2015-11-12 09:31] per-samuelsson commented on #3042
Its [this](https://github.com/Starcounter/Starcounter/blob/pnext/src/Samples/QueryProcessingTest/MetadataTest.cs), right?

I just how no idea how I should verify and own this stuff, when I'm not involved in metadata generation <i>**at all**</i>?

How should I know the type of low-level instricts that your checks do? Like that if I do a query on `DbPrimitiveType`, the first hit should be `string`,

[2015-11-12 09:31] miyconst commented on #2733
Okay.. does this all mean that I should avoid creating custom events in my TypedJson classes?

Other possible solutions:

[code]

[code]

Any other ideas are welcome. The points I try to achieve:

1. Intellisense works for TypedJson handles.
2. Project does not build with a wrong handle.

[2015-11-12 09:43] k-rus commented on #3042
Now, it is enough that the meta-data test checks if corresponding instances are created in `Metadata.ClrClass`, `MappedProperty` and `CodePropery` for some user-defined classes used in the test. And that there is no duplicate instances are created. And that the instances are correctly referencing `RawView` and `RawColumn` and no duplicates there.

Now, there is no materialised tables any more. Tes

[2015-11-12 10:01] dan31 commented on #3053
Especially considering changes in SQL apps level isolation, this should be now a low-hanging fruit (or at least lower). I suggest let's keep it for a moment when we stabilise the new-kernel version of 2.x and then address the issue in a regular manner.

[2015-11-12 10:08] per-samuelsson commented on #3042
Thanks. Thats a whole different story.

Generally, **my opinion** (and I've told you that earlier) is that we should transforrm these tests to work based on what the **end user / consumer** would expect. For me, testing *implementation details* is the task of unit testing (if ever; even better, I think unit testing of API's + code coverage is a better approach).

Regression tests like these should

[2015-11-12 10:13] alemoi commented on #3053
Yeah, nested :) Sorry for late response! Thank you for the answer!

[2015-11-12 10:25] k-rus commented on #3042
I agree with your vision.
Since the test is about the database state, it is not just unit test, but more like functional system test. Such test will need to be put inside bootstrapper, but then it will be assurance not a test, or it should take weaver result as input to match with the meta-data state. So I guess it is not so simple task.

The main consumer is new SQL processor. Starcounter's users

[2015-11-12 10:53] per-samuelsson commented on #3042
Yes, but still, why does this consumer care if there are 4 columns named "Inherited" in the column table?

My point is those kind of test serve very little purpuse. They make it hard to refactor the **implementation** and yet provide no real need to consumers, b/c consumers just wouldn't know about them. **And** they make it really hard for someone else to write/verify, since you need to be the lo

[2015-11-12 10:57] k-rus commented on #3042
Correct. Great!

I agree. It was bad idea. I used my knowledge of C# classes, which I wrote, and moved this knowledge into the test.

[2015-11-12 13:58] eriohl commented on #3041
Now all the tests work except for some checking for errors. In these cases the error messages are wrong because it gets the error from the Prolog parser and not the new parser. This I guess will be addressed once the new parser is again working.

[2015-11-12 14:32] alemoi opened #3054 "Daily started to fail with msbuild JsonToTypedJsonCsMsBuildTaskNoLocking task"
Here is the stack trace of fail:

[code]
so the reason is `Could not load file or assembly 'Starcounter.XSON.JsTemplateParser`

Maybe its some build order issues?

Here is an example of failed build:
https://scbuildserver/viewLog.html?buildId=31743&buildTypeId=Starcounter_DevelopDaily&tab=buildLog#_focus=3138

[2015-11-12 14:36] miyconst opened #3055 "Self hosting application"
Right now Starcounter is an application development platform, which hosts applications inside itself.

I have a theoretical question. Could it be possible to change things inside out?

I want to get only Database functionality of Starcounter and run it inside my application (.exe). The main purpose of this is to get a lightweight light speed database shipped with my console or windows application.

[2015-11-12 15:00] alemoi commented on #3054
And its on one build server only, so must be some build order issue.

[2015-11-12 15:03] jakubklekota commented on #2964
:+1:

[2015-11-12 15:41] miyconst opened #3056 "Sometimes download page shows error"
Sometimes I see this instead of download page:

![image](https://cloud.githubusercontent.com/assets/6435556/11122587/3101c0a4-895c-11e5-80eb-e66e4212db3e.png)

cc @alemoi, @andwah

[2015-11-12 16:39] alemoi commented on #3054
Again some problems with Msbuild failing to resolve dependencies correctly. Possible fix pushed via fb097b54cf512e5e3acba7258655d076ee0b1f7f

[2015-11-12 16:39] #3054 closed

[2015-11-12 16:41] dan31 commented on #3056
Me too. After refresh it disappears.

[2015-11-12 16:42] dan31 commented on #3055
@per-samuelsson, isn't it precisely a subject of your new blogpost?

[2015-11-12 16:44] miyconst opened #3057 "downloads.starcounter.com should redirect to downloads.starcounter.com/download"
It is not clear why http://downloads.starcounter.com/ returns 404.

I think, it should either rewrite to http://downloads.starcounter.com/download or redirect, but not show an error.

cc @alemoi, @andwah

[2015-11-12 17:05] warpech commented on #3057
+1

--
Marcin Warpechowski
+48 603 607 801

On Thu, Nov 12, 2015 at 5:44 PM, Konstantin <notifications@github.com>
wrote:

[2015-11-12 17:39] bigwad commented on #3006
INSERT INTO is fully functioning as required for Db.Reload.
To do: profiling.

I was worrying if object referencing is more performant once we have both object_id and object_ref. Thorough tests showed it's not the case - performance is about the same.

[2015-11-12 21:18] per-samuelsson commented on #3003
First part of blog series published:

http://starcounter.io/uncategorized/transacted-apps/

Enabled by #3005, #3008 and #3021.

Next part will be a smallish one just introducing the basic SQL API, and the one wrapping it up will show this new cool feature enabled by #3016 and #3017.

[2015-11-12 21:39] per-samuelsson commented on #3055
Nah, not really. [That one](http://starcounter.io/uncategorized/transacted-apps/)'s about the simplest possible case for what we have enabled recently. What's requested here is a bigger architectural change.

@miyconst

I totally understand that idea, and we've discussed similar things on and off over the years. But Starcounter is still rather much about hosting, and the VMDBMS in particular. Ther

[2015-11-12 21:44] per-samuelsson commented on #2964
Most definitely. :+1:

[2015-11-13 01:02] malx122 opened #3058 "Detecting other apps"
Apps are supposed to live standalone and separated, that I understand. But sometimes in more advanced app you want some more integrated GUI elements (shortcuts/links) to be available if you know if another app is available or not.

Its not practical (in many aspects) to use internal requests in all cases. Is there any way to find out which apps that are running from a single app. A hook that gets

[2015-11-13 08:25] chrhol commented on #3009
This happened again tonight. I'm not sure if this happens because of someone pushing during the build or if there is something else that we missed.

[02:00:47][Step 1/1] To git@git.starcounter.org:BlueStar/buildsystem.git
[02:00:47][Step 1/1]  ! [rejected]        developbuildnum -> developbuildnum (fetch first)
[02:00:47][Step 1/1] error: failed to push some refs to 'git@git.starcounter.org:BlueSt

[2015-11-13 08:32] k-rus commented on #3040
Insert into was [implemented](https://github.com/Starcounter/Starcounter/issues/3006#issuecomment-156178737) thus unload/reload can be implemented.

[2015-11-13 08:43] per-samuelsson commented on #3058
This one, I have thought about for quite some time, testing out different ideas on how to. I have quite a lot of other things right now, but my plan is to introduce this.

[code]

[2015-11-13 08:46] k-rus commented on #3040
According @bigwad unload/reload is working. So specific problem with QueryProcessingTest left.

[2015-11-13 08:52] per-samuelsson commented on #3058
On top of the above, I have recently introduced a very simple DI mechanism.

Use this pattern to get an installed service

[code]

And use this to register services:

[code]

Be aware though that this feature is still being evaluated, and the implementation is trivial by design. We don't want to build yet another IOC library. Details about that are in #3017.

[2015-11-13 09:00] malx122 commented on #3058
Thanks, that ``Db.Applications´´ was helpful! (But detecting it by hooks and react by push would be cool :) )

[2015-11-13 09:02] k-rus commented on #3050
Done

[2015-11-13 09:02] #3050 closed

[2015-11-13 09:02] k-rus commented on #3037
Fixed

[2015-11-13 09:02] #3037 closed

[2015-11-13 09:08] k-rus commented on #3041
This is addressed. Now errors are related to:

1. Incorrect execution plan due to name of auto index was changed
2. Transaction locked on thread exception for create index

[2015-11-13 09:12] k-rus commented on #3041
@eriohl or @chrhol Can you look into this problem? Background: nowadays create and drop index creates own transactions and commits them, however it does not restore an old transaction.

[2015-11-13 09:12] k-rus commented on #3041
This will be fixed when all other errors are fixed.

[2015-11-13 09:24] k-rus commented on #3043
After discussion with @alemoi we decided that pnext Windows project should be extended to build Level1 and run Level1 tests. Any objections or other ideas?

[2015-11-13 09:27] eriohl commented on #3041
? I fixed these yesterday (other then the "wrong exception" these was the one remaining after drop index was fixed). Do you have the latest version?

[2015-11-13 09:28] k-rus commented on #3041
Sorry, I missed to pull and push. Will do it now.

[2015-11-13 09:30] eriohl commented on #3041
Or did you break these changes when fixing the "wrong exception" errors?

[2015-11-13 09:32] k-rus commented on #3041
No, I just missed to pull your changes. Now the test completely works. I will push to pnext now.

[2015-11-13 09:34] k-rus commented on #3041
Pushed. We have now one fully working regression test.

[2015-11-13 09:34] #3041 closed

[2015-11-13 09:34] eriohl commented on #3041
(Actually the "transaction locked on thread" error is not wrong because all tests are executed within a transaction scope. The difference was that this was checked before the parsing was complete and so this error was prioritized over the parsing error. So all I did was to change the priority order of the errors. And corrected the error output, was a special error code when DDL failed because of t

[2015-11-13 09:54] k-rus opened #3059 "Calls to DDLs should return more meaningful error on transaction locked on thread"
Now execution of DDL creates own transactions, thus applications should call them, e.g., create or drop index, outside transaction scope. If DDLs are called inside an explicit transaction transaction locked on thread error is returned, which is not very informative to the user. The error message can be easily improved in the case of DDLs.

[2015-11-13 10:44] k-rus opened #3060 "IndexQueryTest fails with invalid transaction"
Now IndexQueryTest fails after creating index due to invalid transaction:

[code]

Can anyone look at it?

[2015-11-13 11:15] k-rus commented on #3060
@eriohl Can you look at it?

[2015-11-13 11:28] eriohl commented on #3060
Sure. Once I'm done with what I'm currently doing.

[2015-11-13 12:18] miyconst commented on #3055
@per-samuelsson thank you for the detailed answer. I cannot suggest anything as a developer, as I know too little about the internal Starcounter implementation. Everything I ask/say/suggest should be taken as customer's wish or something like this.

About the points:

1. Right now apps going to Starcounter's process to access same memory. I want to make it inside out, bring Starcounter to apps pro

[2015-11-13 12:46] k-rus commented on #3006
I fixed last bug that QueryProcessingTest works. So two tests are working from now: SQLTest and QueryProcessingTest. Only IndexQueryTest left, see #3060.

[2015-11-13 13:09] k-rus commented on #3060
I found the problem. It is because user application created a transaction scope.

[2015-11-13 13:17] k-rus commented on #3059
Another error for the same problem is `ScErrNoTransactionAttached`.

[2015-11-13 13:30] k-rus opened #3061 "Allowing calling DDLs inside or outside transaction scope"
In current develop version of 2.x it is possible to call create index from or outside transaction scope. However it is broken in pnext with new implementation of create index.
Should we fix this and what is the good way to do it?

[2015-11-13 13:33] k-rus commented on #3060
The test is fixed. New issue is #3061.

[2015-11-13 13:33] #3060 closed

[2015-11-13 13:44] eriohl commented on #3060
I'm not sure what you did but the problem is that the DDL function was called from inside a Db.Scope. Presumably in order for current scope to be restored at the end of call. But the transaction was not actually restored. So I've fixed a special scope for this case that works. I was just about to push it. Should I drop this then?

[2015-11-13 13:47] eriohl commented on #3061
See comment #3061.

[2015-11-13 13:48] k-rus commented on #3060
it is good if you push it. users will request this.

[2015-11-13 13:49] dan31 commented on #3043
@alemoi, when can you take on this? I remember you've been onto general changes for the build system, do you want to incorporate them together with this issue?

[2015-11-13 13:50] eriohl commented on #3060
Ok. Pushed.

[2015-11-13 13:52] k-rus opened #3062 "Using inherited indexes does not work properly"
IndexQueryTest is not able to find instances. I don't know what exactly is the problem. The test is `TestInheritedIndexes()` on line 63 in *Level1\src\Samples\IndexQueryTest\InheritedIndexTest.cs*

[2015-11-13 13:56] k-rus commented on #3061
Fixed by @eriohl

[2015-11-13 13:56] #3061 closed

[2015-11-13 14:56] miyconst opened #3063 "Add db classes diagram"
Today @atifsheikh asked me about db classes diagram.

I think it would be nice to add at least some basic diagram builder into Administrator.
If the diagram builder is too much of an effort, then class navigation tool at least.

[2015-11-13 15:02] atifsheikh commented on #3063
True, this sort of tool is a must for Starcounter DB. We are facing this issue, when we hire a new developer, we have to give them instructions for our DB classes, and it takes too much time for both developers (new and old).

[2015-11-13 15:04] miyconst commented on #3063
While we are working on own tool, you can use build in Visual Studio class diagram: https://msdn.microsoft.com/en-us/library/33864ckt.aspx.

[2015-11-13 15:08] per-samuelsson commented on #3063
I've had ideas about this for really long, but no one has requested it. It might a reason we get this one going at some point soon then, now that we know there is a need.

[2015-11-13 15:39] per-samuelsson commented on #3063
Just expanding on the above: most should already be available in SQL just by querying the metadata classes. But unfortunatelly they are somewhat unpolished and doesn't really serve good as a public API at this point.

And also, here's a **super extra special hack** if you want to try to get a schema I'm producing in the weaver. It's very unsupported of course, and will not survive once we move fur

[2015-11-13 16:25] per-samuelsson opened #3064 "Investigate story regarding configurable event logging"
We have a need for a general way to define that certain *actions* happening in a particular application should generate *logs*. The exact nature of what be in every such log is context-bound.

As a simple example, we need to support systems that need to contain logic such as "when an artifact with state x change to state y, we want a log to be generated including the timestamp and the current user

[2015-11-13 20:16] dan31 commented on #3063
I was thinking of the DiaApp the other day. But it can only work to output classes, not to draw them :) It's just that you visualise graph from metadata via http://mdaines.github.io/viz.js/ or any similar. If one have some time, building such an app is several hours of work.

[2015-11-13 23:13] alemoi commented on #3043
Yes, want to fix the new tests env first and this will come automatically!

[2015-11-14 09:51] eriohl commented on #3064
Sounds like a (the) transaction log (although no user in this since we lack a built concept of users.).

[2015-11-14 10:00] per-samuelsson commented on #3064
Yeah, but the idea is not to support any build in user, but to support a context defined by the application developer. So to support this requirement, we need to support running some kind of user defined code on such event.

Some kind of transaction log subscription to drive it might be the best way to implement it. The idea I had build on code-generated callbacks + commit hooks. I'm not all throu

[2015-11-14 10:01] eriohl commented on #3062
I'm checking this.

[2015-11-14 10:04] eriohl commented on #3059
Currently generates the error SCERRCANTEXECUTEDDLTRANSACTLOCKED together with the type of DDL operation that failed. Think it rather specific personally.

[2015-11-14 10:05] eriohl commented on #3059
This error should generally not occur because of the implicit transaction.

[2015-11-14 10:39] eriohl commented on #3062
It is a kernel issue. The insert verified the updates between insert and setting set specifier and then index seems not to be updated properly. This is also rather expensive so I addressed this (see DbState.Insert) and then the test works.

But the underlying issue is still there so looking into that.

[2015-11-14 10:56] eriohl commented on #3062
(Call to GetSpecifier in DbState.Insert will add a lot of overhead to insert by the way. Set specifier should be stored with type binding instead. Doesn't change for a given table at runtime after all.)

[2015-11-14 11:44] eriohl commented on #3062
Underlying kernel issue addressed as well.

[2015-11-14 11:44] #3062 closed

[2015-11-14 11:46] eriohl commented on #3052
I removed declaration of all obsolete kernel interface functions.

[2015-11-14 12:38] eriohl opened #3065 "Make sure transaction is always aborted on write failure"
(Except for then the write fails because there is no transaction of course.)

There seems to be some exceptions to this policy and this makes error handling in client really complex.

[2015-11-14 14:49] eriohl opened #3066 "Check if same record expected from key iterator recreate is incorrect"
Data is read from the recreate key and compared against the record handle. This is not correct. The recreate key does not contain the record identity but internal data to be used to find the correct position in the index. Id is only valid is only valid if relevant for finding the correct position in the index (which is only true if indicating position in shadow indexing). Second value (keyETI) can

[2015-11-14 14:50] eriohl commented on #3066
I will check is I can adjust the iterator recreate key to always contain the record id. If not then query iterator recreate key must contain this value (making the key a bit bigger).

[2015-11-14 21:24] dan31 opened #3067 "VS-2015 runtime fails to install on certain clean Windows Server 2012 R2 instances"
For an unknown reason, VS-2015 fails to be installed on a clean installation of Windows Server 2012 R2 Standard. Quite lots of people experience similar problem: https://social.msdn.microsoft.com/Forums/vstudio/en-US/64baed8c-b00c-40d5-b19a-99b26a11516e/visual-c-redistributable-for-visual-studio-2015-rc-fails-on-windows-server-2012. A potential solution lies in bundling specific Windows Updates pa

[2015-11-15 12:13] miyconst opened #3068 "Do not display stores without apps in the AppStore section of Administrator"
There is a checkbox  in the Administrator on the AppStore page `Show Compatible`. It check's compatibility of applications and hides incompatible ones.

It should also hide entire store, if it doesn't contain any compatible applications.

cc @andwah

[2015-11-15 12:35] dan31 commented on #3067
After experimenting, I found that fixing this is worth installing several Gigabytes of Microsoft updates. This KB https://support.microsoft.com/en-us/kb/2999226 is a prerequisite for vs-2015 redist. Which in itself depends on https://support.microsoft.com/en-us/kb/2919355. This is a 700 Mb update. When it is installed – kb2999226 is installed fine alongside with vs-2015 redist installation (it dow

[2015-11-15 12:49] dan31 commented on #3067
Note this is only an issue on machines without recent updates. This isn't likely an issue on Amazon and Azure, but most likely an issue on Hetzner and my issue on GleSYS.

[2015-11-15 17:03] mtornwall commented on #2962
Apologies for not getting back to you on this sooner. The log output below is from a failed start on the verbose build. Hope it helps. @alemoi

[code]

[2015-11-15 20:17] andwah commented on #3068
Good point, ill assign it to me.

[2015-11-15 20:36] alemoi opened #3069 "What's the best way to check if database class is loaded?"
Right now I have the following check, which is not consistent I guess:

[code]

Thank you!

[2015-11-16 07:16] k-rus commented on #3059
Seems not to be an issue. Errors are not fired. Closing.

[2015-11-16 07:16] #3059 closed

[2015-11-16 07:38] k-rus opened #3070 "Optimise calling native API from Level1 in pnext"
Kernel API and metalyaer API are different now. To work efficiently managed code and runtime managed meta-data needs to be adopted. Metalayer API function signatures need to be improved too.

[2015-11-16 07:39] k-rus commented on #3062
Agree. Had a task about it, now created issue #3070.

[2015-11-16 07:43] k-rus opened #3071 "Nightly build failed with no disk space"

[2015-11-16 07:46] k-rus commented on #3052
I removed obsolete declaration to sql processor. Closing.

[2015-11-16 07:46] #3052 closed

[2015-11-16 07:50] chrhol commented on #3071
Not the buildserver, the downloadserver

[2015-11-16 07:51] chrhol commented on #3071
I cleaned up a little, there is 8.9g available now on D: on the downloadserver and started a new build.

[2015-11-16 07:54] chrhol commented on #3071
I think we need to upgrade our downloadserver to a machine with much more space available. Both C:  and D: partitions are almost full, and especially C: we cannot do much about.

[2015-11-16 08:05] k-rus commented on #3069
You can check if `Starcounter.Metadata.ClrClass` contains a record describing your class. For example:

[code]
I am not sure if it is the correct column in the meta-table is `FullName` or `FullClassName`.

[2015-11-16 08:15] miyconst commented on #3069
`Starcounter.MetaData.ClrClass.FullName` - class name with namespace, for example `Simplified.Ring1.Somebody`

`Starcounter.MetaData.ClrClass.Name` - only class name, for example `Somebody`

[2015-11-16 10:05] eriohl commented on #3046
Found the problem (most likely). Fix will be included in next build (2.1.470). Please re-open the issue if you seen something similar after upgrade.

[2015-11-16 10:05] #3046 closed

[2015-11-16 12:57] dan31 commented on #3071
I will run the procedure over the night. The expectation on Amazon is to have it seamless.

[2015-11-16 13:15] eriohl commented on #3065
Transaction is always aborted on write unless the failure is caused by bad input (in which case it is deterministic). Should be good enough.

(Possible problem is when input value is too large on write string or binary. But reasoned that it is probably best to let the client handle this in this case as well.)