[2015-05-28 11:22] chrhol commented on #2740
Fix pushed to develop and next.

[2015-05-28 11:22] #2740 closed

[2015-05-28 11:45] k-rus commented on #2387
Since next is discontinued and new implementation is built based on pnext, this issue is closed as won't fix.

[2015-05-28 11:45] #2387 closed

[2015-05-28 11:50] k-rus opened #2741 "Huge number of dead branches in Level1"
I have noticed that there are again huge number of branches of form issue/number. This really complicates working with remote branches. It would be great if not needed once are removed ASAP.

From past experience I can guess that they were created by @per-samuelsson, thus I assign the task to him. Correct me if I am wrong, since I haven't checked.

[2015-05-28 11:55] per-samuelsson commented on #2741
You have already created an issue like this: #2578. And its assigned to @parherman.

I can briefly repeat what I have said before: its the duty of the infrastructure to clean up abandoned remote branches. I'm just not changing the way I work, b/c its the **right** way to work.

[2015-05-28 12:00] k-rus commented on #2741
To my knowledge there is official decision that there are will be no changes in the build infrastructure for current version of Starcounter. So the dead branches have to be cleaned up manually.

I will close this issue and will repeat my request to manually delete unused branches in #2578.

[2015-05-28 12:00] #2741 closed

[2015-05-28 12:03] k-rus commented on #2578
It is again huge amount of dead branches in Level1. It is good to clean up them we currently do significant changes related to repos.
Removing dead branches has to be done manually, since no tools will be provided in nearest future.

[2015-05-28 12:07] per-samuelsson commented on #2578
Seriously?!

[2015-05-28 12:10] k-rus commented on #2741
Do you mean that it is the right way to keep all non-used branches open? I do agree that it is good practice to open separate branches for different issues, but I disagree that it is right way to keep them open forever.

[2015-05-28 12:11] alemoi commented on #2738
The problem should be fixed via 82a471ffe5ff0d60705f3a99c59cbf5dde8e6e10
Please let us know how it goes!

[2015-05-28 12:23] parherman commented on #2741
@k-rus like @per-samuelsson suggests here and like I suggested yesterday, we can auto delete branches one they are merge

[2015-05-28 12:29] per-samuelsson commented on #2578
I really curious how this can be a **P/High** issue, and what the real problem is here? Yes, I can delete my branches manually. I just think its a waste of time.

What exactly is it that is the problem? Is it that you need to fine one of your branches that you don't remember the name of, or what? And that my branches get in the way when you are doing so? Is https://github.com/Starcounter/Starcount

[2015-05-28 12:39] k-rus commented on #2741
There are two cases: a final merge or an intermediate merge. I have not investigated how removing branch at intermediate merge will affect continuation of the work with the branch. The scenarios for investigation include different commonly used GUIs and development on several machines with the same branch.

By the way it is closed issue.

[2015-05-28 13:15] peterbergman commented on #2739
Ok, thanks for verifying. I will just change the name of my application for now.

[2015-05-28 13:17] k-rus commented on #2578
While cleaning up issues it's necessary to choose a branch among all remote branches, which is not an obvious task with so many remote branches. One solution for me is to change the tool, which I use and this requires to waste some time in learning the other tool.
I don't think it is good to have so many open branches in general. And I want bring attention to this issue as it is nothing happen to

[2015-05-28 13:32] parherman commented on #2578
I suggested a solution to this problem/how to work with this in the future to you yesterday that you rejected, so the issue at least has my attention

[2015-05-28 13:46] k-rus commented on #2578
We haven't discussed this issue yesterday. We discussed how to implement guarded commits or better to say guarded merges into a main branch.
@parherman I don't really like that you blame me for something that we even haven't discussed. Furthermore, you have to describe your solution before you refer to it.

[2015-05-28 13:52] parherman commented on #2578
@k-rus I'm sorry if I was unclear, but I described yesterday on the meeting how I would like to implement automatic merging of branches and how it would solve this issue by automatically deleting merged branches with the help of a naming convention

[2015-05-28 14:16] dan31 commented on #2578
Hey guys, come on! This should not even be an issue once we move to modular repos, since other's working branches wouldn't impede. If we move to something rather than modular repos, the point will be addressed as well. But let's move in a friendly, constructive manner.

[2015-05-28 14:16] k-rus commented on #2578
You need to describe your solution. I don't see how what I heard from you solves the above problem. Or I don't know what your assumption about development work are.

[2015-05-28 14:20] k-rus commented on #2578
What should we do now with Level1? Should I just keep my unfinished or dead branches? After I will delete them locally (and I want to have clean local environment), I would not be able to help with understanding them on remote.

[2015-05-28 14:25] per-samuelsson commented on #2578
I have now gone through all my branches, and manually deleted as many as I possibly could. I think I have like 3-5 branches left, all of them with code for either prototypes (e.g. the mapping prototype I did) that are to be continued at some point, or that contain code that I'm working on that I want to keep. I hope this is OK.

[2015-05-28 14:36] warpech commented on #2703
Before closing, I would like to get a confirmation that Polyjuice Edition installer is sufficient as the only installer linked on for http://starcounter.io/download/

Polyjuice Edition is the only one that has the correct default settings to run the sample apps.

[2015-05-28 14:37] warpech commented on #2703
cc @dan31

[2015-05-28 15:05] peterbergman commented on #2734
I downloaded the latest version (2.0.9733.2) from the DevelopDailyBuilds channel to test this fix. It doesn't throw the exception anymore so thats good.

But if I have a field with a primitive array in ```Protocol.Site``` then it does not get populated when I do ```site.Data = json1.site``` (even if the array contains values in ```json1.site```). Can you have another look at it?

[2015-05-28 15:33] miyconst commented on #2735
Thank you. Looks like the bug is fixed. Closing the issue.

[2015-05-28 15:33] #2735 closed

[2015-05-28 15:50] k-rus commented on #2578
Thank you very much. Sorry that I was pushing so much about this. I agree with you that it should not be so big problem.
I hope @parherman will describe his solution and after our feedback he can implement something that will work for us.

[2015-05-29 06:21] ivarbergman commented on #2738
Hi! Problem seems to be solve. I have not encountered the error after I upgraded to latest starcounter.
Thx!

[2015-05-29 08:36] k-rus opened #2742 "Operator IS NOT is not supported for object type comparison"
Starcounter implements operator `IS`, which allows to compare if an object belongs to a type or not. However, operator `IS NOT` is not implemented for this purpose.

[2015-05-29 09:01] k-rus commented on #2732
I made a test application based on the information above and I was not able to reproduce the issue.
@Ripipip
Can you provide the application and steps to reproduce the issue?

[2015-05-29 10:59] warpech opened #2743 "Explain Polyjuice.Map and Polyjuice.OntologyMap"
Add a (simple or more elaborate) explanation of using Map and OntologyMap:

- `Map`: http://starcounter.io/guides/apps/uri-mapping/
- `OntologyMap`: http://starcounter.io/guides/apps/data-mapping/

You can rename the pages if you find the name inadequate.

[2015-05-31 21:57] dan31 commented on #2739
@alemoi, what about ```SCAdmin```?

[2015-05-31 22:02] dan31 commented on #2730
@k-rus, I think you suggest a very good long-term solution! Ideally name resolution in queries must be done similar to how unqualified names are resolved in the given codehost (currently C#). Short-term, we will have in a plan for 2.0 adding a feature: making db be a polyjuice-db (@alemoi's flag) will require all db types in queries to be qualified, exception/error otherwise.

[2015-06-01 05:47] k-rus commented on #2739
In addition with improving the name of the administrator application I suggest to improve the error message. The general improvement is that the error message should contain the name, which caused the error. Specific for this case improvement is to explain that the name is reserved for the administrator application.

[2015-06-01 05:50] k-rus commented on #2730
The functionality is currently not supported. Adding flag will not help without implementing the functionality in the legacy query processor.

[2015-06-01 06:09] parherman commented on #2677
Just a note that DevelopNightly failed whit ScErrTransLogWriterNotAvailable during TestClassSchemaChange test, [log](https://scbuildserver/viewLog.html?buildId=28333&buildTypeId=Starcounter_DevelopNightly&tab=buildLog#_focus=5447)

[2015-06-01 10:29] dan31 commented on #2703
The main problem now is following: if I install Polyjuice edition, I cannot run simple demos because of URI restrictions. @alemoi, would it be possible to activate the polyjuice db flag dynamically just once polyjuice features are observed in one of the apps running in the database?

[2015-06-01 12:26] alemoi commented on #2703
Probably its possible but we have to detect this before the application `Main()` is called.

[2015-06-01 12:28] k-rus opened #2744 "Compiling non-C files in VS"
An example of non-C, which is part of Level0 branch `next`, is `gram.y`. As I understood the only way to build it, i.e., to generate c and h files, is to build entire project. Is it possible that CMake generates VS project file that allows to build just this file, i.e., using Ctrl-F7, like it was in branch `develop`.

[2015-06-01 12:29] parherman commented on #2148
It looks like there are now official NuGet packages for fsharp: https://www.nuget.org/packages/FSharp.Core

[2015-06-01 13:00] warpech commented on #2160
Example of select:

[code]

[2015-06-01 13:00] parherman commented on #2744
Hello Ruslan,

Currently, the generation of gram.c/gram.h is done in the SqlParser Project, so that project and all its dependencies would have to be built in order to trigger the generation.

We could brake out the generation part into a project that you could run as a stand alone

[2015-06-01 13:16] k-rus commented on #2744
I am speaking about compiling a single file, thus breaking into a project will not help.

[2015-06-01 13:53] alemoi opened #2745 "Make REST mapping traverse the real database tree"
Right now we use a simulation involving ripped SO tree. We have to use the database objects instead.

[2015-06-01 14:22] miyconst opened #2746 "Can Handle.GET use methods instead of Actions?"
In VS we can
1. Navigate between methods with the top right drop down.
2. Collapse/expand methods' body.

This is not available for actions like: `() => { ... }`.

Could we replace:
[code]

With:
[code]

[2015-06-01 14:27] peterbergman opened #2747 "ScErrWeavingError on application start"
Hi,

I have a strange issue that started to occur after re-installing a Starcounter edition version from the DevelopNightlyBuilds channel (v. 2.0.3185). When I try to start an application from Visual Studio I get an pop-up with an error message (see screenshot) followed by a stack trace. Also, in the Starcounter error logs the following mesages appear:

First message:
[code]

Second message:
[code

[2015-06-01 14:36] peterbergman commented on #2747
I might add that the database seems to be created. Also, the same issue occurs if I start the application from command line with the ```star``` command.

[2015-06-01 14:38] dan31 commented on #2746
It would be nice to navigate in between handlers. However, the Starcounter's way feels for us of minimal verbosity and corresponds to other actual frameworks as well. Going in class-style handlers means for me polluting namespace too much, stealing focus. What I believe in is, since Roslyn, we can provide very customized tools for new VS. E.g., not only there should be a way to provide collapsing

[2015-06-01 14:46] miyconst commented on #2746
Sometimes it is difficult to find a handler in a big app.

I tried to use:

[code]

But it is not allowed, this works for functions without parameters only. All I want is to somehow efficiently organize the Handlers, methods or actions, does not really matter.

[2015-06-01 14:54] Ripipip commented on #2732
Okay, so I cleaned the database and weren't able to reproduce it again. So it is some bug somewhere but for now it is solved. Thank you anyway!

[2015-06-01 14:54] #2732 closed

[2015-06-01 15:41] dan31 commented on #2746
Good point @miyconst. I couldn't find a reason why this doesn't work. E.g., I tried also as such:
[code]
@alemoi, maybe you can tell how to cook it properly?

[2015-06-01 16:10] dan31 commented on #2737
We see that in certain cases akbakqa.dll and __checkp_ver_cksums_memory drown CPU (2.0 "develop"). @eriohl, can you shortly guide what it originates from and probably how that is addressable? Image files are around 28 Gb in total in that database (64Gb RAM available at the machine).

[2015-06-01 16:14] Ripipip commented on #2737
Correction: 32 GB RAM is available at the machine.

[2015-06-01 16:24] dan31 commented on #2737
Okay, I thought it was 64Gb. Of course since it is not Xeon, it won't allow for 64Gb. Then it looks pretty much like approaching of RAM boundary and going into pagefile with all connected phenomena...

[2015-06-01 16:27] alemoi commented on #2746
Sure, no need for anything extra, here is how you can organize your particular example:

[code]

[2015-06-01 17:48] eriohl commented on #2737
As for __checkp_ver_cksums_memory if part of a checking memory against checkpoint checksums on checkpoint. This you can turn on and off: Flag SCCOREDB_ENABLE_CHECK_MEMORY_ON_CHECKP passed to sccoredb_connect. I see it is always set. Unsure of why but there is generally no reason to.

As for akbakqa.dll I'm assuming this is a generated index search function (although I can not be sure by name alone

[2015-06-01 22:06] alemoi commented on #2746
Did it work out for you guys?

[2015-06-02 06:40] k-rus commented on #2732
Can it be that you changed some database class and tried to run in existing database? Such changes can make mismatch between the database schema and class definitions.

[2015-06-02 07:38] miyconst commented on #2746
@alemoi thanks, it does work!

I can even go for some polymorphism like this:

[code]

[2015-06-02 07:38] #2746 closed

[2015-06-02 07:53] miyconst commented on #2709
Is this going to be fixed somehow?

If not, then it would be nice to add some documentation, because it is very frustrating when you copy a piece of your code which works to the Watch window and it does not work in there.

[2015-06-02 08:06] alemoi commented on #2746
Hmm, I wonder why the example with one parameter works.. I thought it should be very strict.

[2015-06-02 08:20] miyconst commented on #2746
I can use it with up to five parameters:

[code]

[2015-06-02 11:01] alemoi commented on #2746
So unused parameters are taking the default values? Or some strange values, like for integer, boolean and other primitive types?

[2015-06-02 11:07] alemoi commented on #2709
I have the same problem trying to debug inside Starcounter, I have to specify full namespaced names in some cases. I guess when its outside the current namespace, or in different assembly, not sure about that.

[2015-06-02 11:10] miyconst commented on #2746
I don't have access to the internal code, but `Handle` class has some definition for those `GET` methods:

[code]

That is why it works.

[2015-06-02 11:14] warpech commented on #2746
I think you have access to the source code: https://github.com/Starcounter/Starcounter/blob/6faab03b67711436f4fad4eb35335d153c929485/src/Starcounter.Internal/Handle.GET.cs

[2015-06-02 11:49] alemoi commented on #2746
No problems, I will check myself and add unit tests probably. My question was related to the situation that you use 1 parameter template but 2 parameters function. So I wondered what values got the undeclared parameters.

[2015-06-02 13:02] miyconst commented on #2746
@warpech, yes, looks like so.

@alemoi, I have two functions with the same name. One accepts single parameters, the other one accepts two parameters. That is why it works.

[2015-06-02 13:04] alemoi commented on #2746
Ok, then everything is like it suppose to be! I thought its the same function :)

[2015-06-02 13:25] alemoi commented on #2703
But I don't really see it as a big problem as long as its 1 button click in Administrator.

[2015-06-02 14:19] alemoi commented on #2710
I tried to implement this via check in Page.cs Html property like this:
[code]
But it does not help because the `Html` property is not virtual so, for example, Launcher's `Html` property is totally independent, so the following code throws no error:

[code]

Should `Html` from Page be virtual? @chrhol what do you think?

I will check now regarding "406 OK" case.

[2015-06-02 14:53] warpech commented on #2710
PS. I don't know if it matters, but the value of the `Html` property can come either from CS or from JSON.

[2015-06-02 15:08] warpech commented on #2703
It doesn't seem like much, but it makes a significant difference. Because of the flag, the developer needs to learn that Administrator exists. It would be good to have no reason for asking developers to go to the Administrator - it should be used as a fine-tuning tool only.

[2015-06-02 15:12] alemoi commented on #2710
Ok, the check code for `page.Html` and fix for "406 Not acceptable" pushed via 9ec95c657dc5053b1f685a8b71efd58f360df812

Since there are many ways to set Html property, we need to discuss further.

[2015-06-02 16:30] dan31 commented on #2737
Thanks @eriohl! I remember, frequency of checkpoint creation was adjustable in 1.x. What parameter is in 2.0 for it? I incline to make it configurable for clients.

[2015-06-02 17:08] dan31 commented on #2703
@alemoi, completely forgot about administrator, I just ~~used Ildasm.exe and patched MSIL~~ changed configs :) @warpech is absolutely right, makes big difference. We should let developers feel as comfortable as possible, if we don't sacrifice reliability and consistency. Would be really cool to have polyjuice be nonintrusive and easy to activate (and scheduling adaptive, crashed apps self-recovera

[2015-06-02 17:16] dan31 commented on #2746
@alemoi, @miyconst, C# gods! :100:

[2015-06-02 18:06] eriohl commented on #2737
You can not configure checkpoint frequency in 2.0 (nor in 1.x actually although you can then turn of the async checkpoint). Checkpoint frequency is determined by log written since last checkpoint.

[2015-06-02 19:50] alemoi commented on #2662
I looked at the code I wrote and it was already 413 there :) But the browser does not display this message.

The problem is more general here. It occurs because server rejects (drops the connection) the request before its being uploaded completely (request is too long, so it obviously can't be uploaded/processed). Here is the same issue people have with nginx (probably because of the same reasons

[2015-06-02 20:58] alemoi commented on #2662
I will check with @linkdata or @dan31 tomorrow how nginx behaves on too big file upload.

[2015-06-02 22:15] alemoi commented on #2662
Here is another discussion regarding this issue: http://stackoverflow.com/questions/4947107/nginx-upload-client-max-body-size-issue

If the client behaves, it will send the `Expect: 100-Continue` header in request, but this is not always the case, of course. Our server should already behave well with `Expect: 100-Continue`, but, as I said, its just a single case.

Some people do hacks like this: h

[2015-06-02 22:34] alemoi commented on #2662
Wrote a bit about network gateway configuration: https://github.com/Starcounter/Starcounter/wiki/Network-gateway

[2015-06-02 23:39] alemoi commented on #2580
I just checked with a really huge cookie (maximum the Firefox allowed me) in `wsupgrade` and could not reproduce the problem. I guess it was fixed after my throughout refactoring of WebSockets. Closing the issue until further notice.

[2015-06-02 23:39] #2580 closed

[2015-06-02 23:48] alemoi commented on #2459
Currently we use auto-detecting `wwwroot` folder as described above. Applications then have sub-folders named as applications, and also `sys` folder sometimes. Closing until changes required.

[2015-06-02 23:48] #2459 closed

[2015-06-02 23:51] alemoi commented on #1831
@dan31 should we get back to this? :)

[2015-06-02 23:53] alemoi commented on #680
We have completely removed the internal cache: https://github.com/Starcounter/Starcounter/issues/2474
Closing this one, since irrelevant.

[2015-06-02 23:53] #680 closed

[2015-06-02 23:54] alemoi commented on #731
I don't think we have this anymore, after @parherman did some reinstallations/hardware changes.
Closing this issue.

[2015-06-02 23:54] #731 closed

[2015-06-03 00:02] alemoi commented on #1855
The tests were written for this a while ago (unit tests that is). And "X" is now completely gone. "Self" uses templated syntax to retrieve certain types of response (e.g. `Self.GET<Json>`). When not templated - it returns `Response` object. When called handler is not found - `null` is returned.

[2015-06-03 00:02] #1855 closed

[2015-06-03 00:05] alemoi commented on #2343
I am not sure if this issue is still relevant, but will assign @parherman if its ok for you.

[2015-06-03 00:12] alemoi commented on #2676
CycleTime test is now a configurable part of all build configurations. But in all cases its set to false because of a different issue (which occurs also in star loop test): https://github.com/Starcounter/Starcounter/issues/2677

So closing this one.

[2015-06-03 00:12] #2676 closed

[2015-06-03 06:23] dan31 commented on #2662
There should be some standard pattern described when user needs to upload large files with "Continue". E.g., some documents in PDF's might be uploaded to server in certain apps. I'd say there are some issues on tracker from @careri, when he did such thing, but I couldn't find them rapidly.

[2015-06-03 06:32] dan31 commented on #1831
Such an archeologist @alemoi! I all following starting-up projects I've never seen that repeated since maybe July 2014. @careri, do you confirm not having it repeated?

[2015-06-03 06:34] dan31 commented on #2580
Thanks @alemoi, guys will confirm if it ever happens again.

[2015-06-03 06:42] dan31 commented on #2709
@alemoi, @miyconst, does it happen _when you update versions of Starcounter_? My theory now is that, first time you install SC and create a project from template – it is all fine; then you upgrade Starcounter and the references in your project creep. Isn't it the case?

[2015-06-03 08:11] miyconst commented on #2709
Looks like so. I have created a new Solution and Watch expressions work as expected in there, but not in the old apps.

[2015-06-03 08:13] warpech opened #2748 ""Service unavailable" errors in the app store"
With about 10% chance, I am getting the following errors (happens both in Administrator and AppStoreClient):

- `Failed to install application. Service Unavailable.` when trying to install an app
- `*some error message that I don't remember*` when loading the list of apps

This has a tendency to especially happen during presentations.

![screenshot 2015-06-03 10 04 17](https://cloud.githubusercont

[2015-06-03 08:35] dan31 commented on #2748
Experienced the same around 3 weeks ago.

[2015-06-03 08:42] warpech commented on #2748
The fact that I'm now on a train may be a factor today. But it also appears on WiFi with good signal strength (in the office and on client premises).

[2015-06-03 09:23] parherman commented on #2343
I believe this happened because of a hardware error that was corrected in February and I have not seen this since, closing this issue now

[2015-06-03 09:23] #2343 closed

[2015-06-03 10:01] alemoi commented on #2709
Ok, then its weird. I meant that in Level1 I have to specify namespaces always in watch window for the cases outside the current namespace.

[2015-06-03 12:37] careri opened #2749 "Unexpected critical windows error detected at"
I saw that you had some old issue related to this, but now solved?
Version: 2.0.3183.3

2015-06-03 14:26:11	Critical	sc://headsutv180.innowait.se/personal/had
 Starcounter	Unexpected critical windows error detected at "unsigned long __cdecl __wthread_proc(void *)" (error=6).
2015-06-03 13:36:04	Notice	sc://headsutv180/personal
 Starcounter.Server	Weaving d:\source\Scdb2Apps\HeadsAdmin\BootApp\bin\

[2015-06-03 14:11] parherman opened #2750 "VS2013 fails to create new Starcounter project"
There is something wrong with the acceptance tests that makes them fails even for builds that previously passed. During the tests Visual Studio is unable to create a new Starcounter project from the templates because "There is a missing project subtype". I am unable to reproduce this whit the installer that is uploaded to the FTP by the same build, so I believe the problem is with the test.

I hav

[2015-06-03 16:13] peterbergman commented on #2747
I  think I found the possible source of the error. One of my database classes contained a private field which was an array of another database class. If I remove that array, the error goes away. Can you confirm that this is a bug or something that is by design?

[2015-06-03 16:23] #2747 closed

[2015-06-04 06:40] parherman opened #2751 "Raw sockets tests Unstable on build server"
Performance Tests: Raw sockets tests has failed during several, but not all nightly builds since yesterday, link to logs logs:

[Starcounter_Next_Nightly_Debug](https://scbuildserver/viewLog.html?buildId=28448&buildTypeId=Starcounter_Next_Nightly_Debug&tab=buildLog#_focus=5937)

[Starcounter_Next_Nightly_Debug](https://scbuildserver/viewLog.html?buildId=28445&buildTypeId=Starcounter_Next_Nightly_D

[2015-06-04 08:58] miyconst opened #2752 "Public web folders are not updated after an app stops"
App's public folders should be removed from `Public web folders` list when the app stops. Currently server restart required to remove web folder from stopped apps.

[2015-06-04 09:47] alemoi commented on #2752
Thanks for reporting! There are several issues regarding this. I will fix as soon as finished with current tasks!

[2015-06-04 09:48] alemoi commented on #2751
This one is on me. Probably some client missbehavior, regarding how it checks statistics.

[2015-06-04 17:48] dan31 commented on #2749
Hi @careri! I only find that one: https://github.com/Starcounter/Starcounter/issues/1831 , but not likely the latter is similar. How many times did you get it, any way to reproduce? @eriohl, anything looking familiar?

[2015-06-04 18:17] eriohl commented on #2749
Yes. We've seen this one before.

Found this duplicate: #972. I'm pretty certain this is not the only one however.

[2015-06-04 23:03] alemoi commented on #2751
Still haven't found the exact problem, but working on it. For tonight I will disable the node test so overall build passes.

[2015-06-05 04:03] careri commented on #2749
I do get the error from time to time. Haven't been able to narrow down when and why. Restarting the application usually solves it.

I'm starting/stopping from within VS using F5/debug

[2015-06-05 07:45] dan31 commented on #2749
@alemoi, what do you think? Could we affect the task scheduler with uniformity fix to work distribution? Seems like that one and #972 both happen at service exit.

[2015-06-05 09:07] warpech commented on #2244
@chrhol - I think this can be closed now, do you agree?

[2015-06-05 09:35] parherman commented on #2751
@alemoi Is this a problem with the test? Is the client the test i mean? Assigning this to you!

[2015-06-05 10:23] miyconst opened #2753 "Change to OntologyMap"
By @alemoi on 4 Jun 2015 01:29:16 AM

However, I guess the common Polyjuice applications (Launcher, People, Products, ..) are broken now regardless: tried People, Products, Launcher and the partials were not displayed correctly (with or without my changes).
That's why I didn't push the changes to develop and kept them in my local branch.

http://downloads.starcounter.com/download/Polyjuice/Develop

[2015-06-05 11:14] alemoi commented on #2753
Thank you for creating the issue. Here is the related one: https://github.com/Starcounter/Starcounter/issues/2745

[2015-06-05 11:15] alemoi commented on #2751
No, seems some bug introduced during big refactoring. Hope to resolve this today/weekends. Will then reenable the tests!

[2015-06-05 22:59] alemoi commented on #2753
I have just pushed the discussed changes via 3154c4ade9ed1398659e9aea87ddeee3b7c38b00
Big thanks to @miyconst for testing!
Waiting for your next week response @warpech :)

[2015-06-06 10:00] eriohl commented on #2241
No longer relevant. Write phase moved out of process.

[2015-06-06 10:00] #2241 closed

[2015-06-06 10:04] eriohl commented on #1816
No longer relevant.

[2015-06-06 10:04] #1816 closed

[2015-06-06 10:07] eriohl commented on #1815
No longer relevant. Loader resets the generation so previous generation stamp can no longer be recreated regardles.

[2015-06-06 10:07] #1815 closed

[2015-06-06 10:10] eriohl commented on #792
Resolved with the new update log.

[2015-06-06 10:12] #686 closed

[2015-06-06 10:14] eriohl commented on #660
No longer relevant with new architecture. Applikation host process no longer communicates with log writer.

[2015-06-06 10:14] #660 closed

[2015-06-06 16:18] #2235 closed

[2015-06-06 16:19] eriohl opened #2754 "Commit hooks in 2.0"

[2015-06-06 19:40] warpech commented on #2754
:+1:

[2015-06-07 14:15] eriohl commented on #2754
Support available in kernel.

Works pretty much the same was as in NEXT with some difference in the interface.

To configure commit hooks use: star_set_commit_hooks(transaction_flags, table_id, commit_hook_mask). Note that id is used instead of token and the function creates its own transaction, same approach as with the other schema update functions. Also, the mask constants if different. As befo

[2015-06-08 08:30] malx122 opened #2755 "ScErrIteratorNotOwned (SCERR4035)"
Starcounter.DbException: ScErrIteratorNotOwned (SCERR4035): A cursor operation failed because the cursor wasn't owned by the current thread and transaction.

Following code will fail during iteration:
[code]

Is this by design?

[2015-06-08 10:39] k-rus opened #2756 "Fix char bugs in SQL parser"
The source code of the parser was fixed from `char` to `wchar_t` some time ago. It was found during conversion of `wchar_t` into `ucs2_char` that there are still number of places where `char` presented, i.e., bugs which need to be fixed.

The found rules are:
- [x] `CharacterWithLength` and `CharacterWithoutLength` defined on lines 4669 and 4688 respectively. Both rules analyse input from rule `op

[2015-06-08 11:30] k-rus commented on #2756
I just want to mention about next:
I also noticed buggy use of functions `makeString` and `makeSimpleA_Expr`, which takes `wchat_t` as arguments, but used with `char`. It might be already fixed in the conversion branch.

[2015-06-08 15:06] per-samuelsson commented on #2754
OK, commit hooks are now usable in 2.0. The relevant API and sample can be found in **Listing 1** in [this old comment](https://github.com/Starcounter/Starcounter/issues/2235#issuecomment-55898680), which in turn use the defined database model from [this comment](https://github.com/Starcounter/Starcounter/issues/2235#issuecomment-53554124).

Its pretty straightforward I think. Let me know if somet

[2015-06-08 15:06] #2754 closed

[2015-06-08 15:09] per-samuelsson commented on #1863
Commit hooks are now part of 2.0, see recent #2754 issue and the last comments in it.

[2015-06-08 15:09] #1863 closed

[2015-06-08 15:11] per-samuelsson commented on #2697
With #2754 pushed, its also available in 2.0.

[2015-06-08 16:47] miyconst commented on #2697
Closing this issue as no longer relevant.

[2015-06-08 16:47] #2697 closed

[2015-06-08 23:28] alemoi commented on #2751
This one should be resolved now! Introduced because of massive refactoring. Thanks for reporting!

[2015-06-09 05:28] parherman commented on #2751
@alemoi looks like [Starcounter_Next_Nightly_Debug](https://scbuildserver/viewLog.html?buildId=28684&buildTypeId=Starcounter_Next_Nightly_Debug&tab=buildLog#_focus=5923) failed with System.Net.Sockets.SocketException so there might still be a problem, or did your changes not make it in time for that build? We also have a hung build, [Starcounter_DevelopNightly](https://scbuildserver/viewLog.html?b

[2015-06-09 07:55] miyconst opened #2757 "Latest Documentation (2.0.3XXX.3) button does not work"
There are green and blue buttons on the download page: http://downloads.starcounter.com/download

The blue `Latest Documentation (2.0.3XXX.3)` buttons redirect to a non existing page, and only the last one `Latest Documentation (2.0.0.0)` redirects to the real documentation.

The buttons should be disabled or redirect to the latest existing documentation, not to a 404 page.

[2015-06-09 08:21] dan31 commented on #2757
That is because doc tool license has expired. We need to choose something modern and free instead. We will have a look with Par sometime this week.

Sent from Outlook<http://taps.io/outlookmobile>

On Tue, Jun 9, 2015 at 12:55 AM -0700, "Konstantin" <notifications@github.com<mailto:notifications@github.com>> wrote:

There are green and blue buttons on the download page: http://downloads.starcounte

[2015-06-09 09:46] malx122 opened #2758 "Starcounter polyjuice edition only loads static files on port 8080"
Have a server with several databases with different ports. Now installed the SC polyjuice edition to start using polymer and other static files from the sys directory. Only the db using port 8080 is finding the files.

[2015-06-09 10:20] mtornwall opened #2759 "Installer hangs indefinitely when installing on 1-core VM"
When attempting to install Starcounter on an Azure VM with 1 core and 1.75 GiB memory running Windows Server 2012 R2 the installer hangs indefinitely on "Checking system requirements...".

I'm aware that Starcounter requires two cores, but I think this should be reported as an error instead.

I can provide a VM for testing if required.

Update: Switching to a VM configuration with two cores resolv

[2015-06-09 10:22] alemoi commented on #2751
Thanks for notifying! Next was not merged properly yet so I will keep an eye on this! Maybe the problem still persists!

[2015-06-09 10:31] alemoi commented on #2758
Thank you for the question! By default there is only one default user port in the system, on which the above handler is registered. Is each database/codehost using a different default user port? If yes, than they should register different port handlers. Let us know if they don't! If user would like to register some directory explicitly (not a working directory, and not `wwwroot`) then `AppsBootstr

[2015-06-09 10:31] alemoi commented on #2759
Thanks for reporting! Definitely should not hang like that! Let us test this case and see what's going on!

[2015-06-09 10:39] mtornwall commented on #2759
Let me know if you want me to set up a VM for you.

[2015-06-09 10:40] chrhol commented on #2758
I can confirm that if you create a database with a different default port than 8080, the static files included in Starcounter are still registered on the default port (8080). Running for example the launcher  in that database will not work, it will not find the static files.

[2015-06-09 10:49] alemoi commented on #2751
I checked the situation and `next` branch wasn't merged from yesterday (so it didn't contain the fix for this that was pushed yesterday). @per-samuelsson can you  merge your `develop` changes to `next` because they cause a merging conflict? :)
Hanging situation is with `UrlsTest` using aggregation, I guess another refactoring problem that only occurs intermittently. I will check it! Thanks for rep

[2015-06-09 11:16] miyconst opened #2760 "Thoughts on Commit hooks 2.0"
After short play with the Commit hooks I have some thoughts.

1. The `Hook<T>.OnDelete` should also pass an object, but not its ID. Commit hook with an ID makes it useless. The object is deleted by that time and there is no way to know what other entity or file was associated with this object.
2. The `Hook<T>.OnXxxx` should be called for every object of type `T` or `X : T`. Lets say I have a class

[2015-06-09 11:18] #2758 closed

[2015-06-09 11:24] miyconst opened #2761 "Administrator panel: wrong column size in sql query result"
Something has happened to the query result table in the new Administrator panel. Now the select result looks like this:

![sa-sql-query-wrong-column-size](https://cloud.githubusercontent.com/assets/6435556/8056649/f6dc9b8e-0eb2-11e5-9003-ce66d803bad1.png)

I have to manually resize columns to make the result readable.

[2015-06-09 12:06] miyconst opened #2762 "Invalid Session scope inside Hook<T>.OnAction"
Two applications `SignIn` and `GoogleSignIn`, each application uses `Session.Current.Data` to save ViewModel instance and update it's state when user signs in/out.

When user signs in with `SignIn` app it creates a new `SystemUserSession` and then in `GoogleSignIn`:
[code]

The `SignIn.SessionContainer` class is defined and set to Session in `SignIn` app, but visible in `GoogleSignIn` app.

If I m

[2015-06-09 13:18] alemoi opened #2763 "StarcounterEnvironment.AppName should be internal (at least for setter)"
Right now getter and setter are public. We should check that no apps are using the setter, and should disallow user code modification of these variables.

[2015-06-09 13:24] per-samuelsson commented on #2683
Reminders:

1. Optimize call to MapInvoke (use TypeBinding.FullName and construct static template/formatter string.
2. Support config - at what level do we notify the weaver to generate the calls? A Polyjuice application?
3. Add tests, and test in combination with ISetValueCall.

[2015-06-09 13:27] miyconst commented on #2762
https://github.com/Starcounter/Starcounter/issues/2763

[2015-06-09 13:38] alemoi commented on #2762
I would say the hooking system should save the application name whenever hook is created. I don't know how the hooks are implemented by @per-samuelsson but I just guess it should work like this:
1. Creator application name should saved with hook when hook is created.
2. When the hook is called, it should save current AppName, set hook-creator AppName before the hook is called and restore back to c

[2015-06-09 13:42] per-samuelsson commented on #2762
Hooks are totally not aware of contexts at all. The are invoked in the context of the transaction being committed. If they must change, please open a change request and we can formalize some kind of specification and I can implement it eventually.

[2015-06-09 14:05] warpech opened #2764 "Improve error message for unnamespaced app handlers"
I have an app called "HelloWorld" in which I tried to create a handler `/hello` (Polyjuice flag turned on)

The error message that I receive is:

A better error message would be:

![image](https://cloud.githubusercontent.com/assets/566463/8059617/46b1458e-0ec1-11e5-9931-42531a5f7a68.png)

[2015-06-09 14:43] alemoi commented on #2764
Thanks for reporting! Done via ac4619787a0e5ced00ec14dc9a40db2a6793780f

[2015-06-09 14:43] #2764 closed

[2015-06-09 15:38] warpech commented on #2761
The fix is to add the following line:

[code]

After line 138 in https://github.com/Starcounter/Starcounter/blob/2c79d0cdf5a12ab2b30f26d472034ba8a17ae5f0/src/Starcounter.Administrator/app/controllers/SqlCtrl.js#L138

The complete code should look:

[code]

Btw. Administrator is using quite old version of Handsontable. I asked Handsontable guys for help in upgrading to the current version.

[2015-06-09 15:53] warpech commented on #2762
Before the session/appname problem is fixed, @miyconst can continue testing commit hooks by overwriting `StarcounterEnvironment.AppName` property before reading Session.Current

After the session/appname problem is fixed, @alemoi proposes to change `StarcounterEnvironment.AppName` to be readonly again so that the apps will not compile without removing the line that changes it.

[2015-06-09 22:01] dan31 commented on #2751
The procedure of completely discontinuing "next" is discussed in here: https://github.com/Starcounter/CompanyTrack/issues/76 . We will, asap, either freeze it and then delete, or just delete, so that only "develop" and "pnext" remain in use. What we've learned from maintaining a couple of big syncronised branches is that it is, ugh, doesn't work well and consumes time. Instead, we are approaching

[2015-06-09 22:50] #2479 closed

[2015-06-09 23:52] dan31 commented on #2749
BUMP, @alemoi check my question

[2015-06-10 07:13] per-samuelsson commented on #2760
Hi @miyconst,

Thanks for the feedback!

I will consider each item eventually, and comment on them, and after that we can consider which we should turn into real work items.

[2015-06-10 07:24] per-samuelsson commented on #2760
Starting with the most simple ones to answer/comment:

This is by design, to avoid recursive (and possibly infinite) behaviour. Yes, we probably **can** make it work, if we introduce something like a visited-table to keep track of what objects have been visited, and instead raise an error once we detect a circular trigger, but the current implementation is more trivial.

[2015-06-10 07:30] warpech opened #2765 "Using Polyjuice.Map in non-Polyjuice database"
Currently, if the Polyjuice flag is disabled for a database, executing the following code:

[code]

results with a startup exception:

In issue https://github.com/Starcounter/InvoiceDemo/issues/20 it was suggested to enable URI mapping feature generally by renaming this to `Handle.Map` or something similar.

[2015-06-10 07:30] miyconst commented on #2760
I agree on the point 3. EntityFramework ORM works in the same way.

[2015-06-10 07:33] per-samuelsson commented on #2760
I wouldn't go as far as to say it makes it useless. A replication/mirroring mechanism could use it, for example, propagating the delete to some slave(s).

Also, changing this would require a rewrite of the kernel transaction commit, since by the time we invoke the commit hooks, the proxy object is just not usable any more (semantically, it's already deleted).

Furthermore, we have complementing IE

[2015-06-10 07:52] per-samuelsson commented on #2760
We have referencing to this as inheritable hooks, and the current implementation is by design: we choose to have registration per class/table, rather than propagating it down to childs. There were several reasons why.

The main reason was that we want to keep the "low-level" implementation as **simple** as possible, and the described behaviour can be achieved on a higher, application level, even t

[2015-06-10 07:56] per-samuelsson commented on #2760
Hmm, this sounds like a bug to me, but I'm not sure to be honest. I have to consider it some. What if you try a simple transaction (not involving hooks) on the same class and do:

[code]

Just from the top of my head, I think both should work equally, but maybe the shouldn't...

[2015-06-10 08:00] per-samuelsson commented on #2760
There is currently no way to detach hooks, but we probaly should support it eventually. Right now, hooks are registered on a code host lifetime.

We could certainly consider refining the API's. And, after that, document them.

[2015-06-10 08:05] per-samuelsson commented on #2762
I discussed with @alemoi yesterday, and he suggest hooks should be extended to support the same kind of mechanism / app-context awareness as the other stuff you've done with handlers, etc. Basically, what he described [here](https://github.com/Starcounter/Starcounter/issues/2762#issuecomment-110359674).

I said it's fine by me, and I can do it, but I need some more info on exactly how it should wo

[2015-06-10 08:28] andwah commented on #2761
This is now solved,  instead of calling ```$apply()```. I removed the ```ng-hide``` attribute to the element that contains ```handsontable```.

[2015-06-10 08:28] #2761 closed

[2015-06-10 08:29] per-samuelsson commented on #2762
@alemoi have given me the info I need, I just need to figure out how it should relate to hooks, but I'm changing this to in-progress now.

[2015-06-10 08:30] alemoi commented on #2749
As looking in the code its a combination of some errors, even with weaving, then thread not attached. I heard that some 3rd party framework is extensively used there. @careri can you provide us with details? It would be also cool if we can reproduce the problem somehow.

[2015-06-10 09:31] per-samuelsson commented on #2762
Its not perfectly clear to me how you guys want this to work. Consider the following case, for example.

[code]

What should happen on a new ```Base``` being committed? Should the callback be called twice, one for each scope? That is, is the application name to be considered to be part of the unique identity of every installed hook?

Currently, only a single call would be made. In the kernel, the

[2015-06-10 10:24] ivarbergman commented on #2743
Hi! Any progress on mapping documentation?

I trying to understand Polyjuice.Map and why mappings are restricted to only map to /polyjuice/ URIs? Wouldn't it be possible to allow arbitrary URIs in Polyjuice.Map ?

[2015-06-10 11:03] miyconst opened #2766 "Can't modify the state of the transaction on assigning ViewModel.Data value from Hook"
I have three apps: `GoogleSignIn`, `SignIn`, `Chatter`.

All of the apps have hooks to `SystemUserSession` for all actions. If user signs in with an app, the other one updates. This works as long as the view model which is being updated is not inside a `Db.Scope`.

In the `Chatter` app I call ViewModel.RefreshUser inside a commit hook:

[code]

Here is the exception text:

[code]

@chrhol could yo

[2015-06-10 11:28] miyconst commented on #2760
I need a hook which would be invoked just before deleting an object, so the current one could be renamed to `OnDeleted` and another one `OnBeforeDelete` should be introduced.

`IEntity.OnDelete` is available only in the assembly which defined the class. In our case this is `Simplified` project. I can't modify the method in each app I need the hook.
The only way to use it would be to add an event `

[2015-06-10 11:30] per-samuelsson commented on #2760
Another comment regarding this:

Hooks are executed **as part of** a committing transaction, so I frankly dont know exactly what that means in the context of your comment.

Consider this pseudo code:

[code]

In the above, **no new** `Foo` **will be inserted**. At the end of the transact scope, the hook will be invoked, and since the hook fail, the transaction will fail as a whole. The hook operat

[2015-06-10 11:43] miyconst commented on #2760
The `foreach (var t in GetLoadedDatabaseTypes()) {` works for already loaded classes only. This would not have a practical use aas Polyjuice is a set of tons small apps, which can be started and stopped at any time.

In my example I assume that two apps are developed by two different developers. And the author of `Photo` class is not aware of any hooks for `Image` class.

An example: class `A` wit

[2015-06-10 11:45] miyconst commented on #2760
@per-samuelsson should we start a new issue for each of the items? This one seems to grow too fast.

[2015-06-10 11:57] miyconst commented on #2760
This one works:

[code]

But this one fails:

[code]

Lets say there are two `Hook<Something>.OnInsert` hooks. The first hook deletes the object, what the second one will receive? An exception will occur. It is logical for me. Entities can't be removed inside hooks.

[2015-06-10 12:00] miyconst commented on #2760
Okay. Then it seems like current hooks are already behaving like `OnBeforeUpdate` & `OnBeforeInsert`, but the `OnDelete` hook is very confusing. I can cancel the transaction by throwing an exception, but can't access the object, because it is already "deleted".

[2015-06-10 12:14] per-samuelsson commented on #2760
Yes, I can see your point, and I agree to some level. At the same time, its consitent with how a proxy behave right after you have deleted it, like this:

[code]

[2015-06-10 12:15] alemoi commented on #2743
Thank you for the question! Since I see a big interest around this, I would prioritize the thing, make it generic, and document it!

[2015-06-10 12:18] per-samuelsson commented on #2760
Sounds like a good idea to me, but maybe we shouldn't create one for all 7 points, but rather try to see where they intersect and make some assesment on what issues are actually to be created.

I'm also working on #2762 in parallel to this now, and as part of that, I'm trying different ideas on how to make the API simpler to understand and use.

[2015-06-10 12:25] miyconst commented on #2762
There are two hooks (yes, they are the same), so the callback should be called twice. Each app receives the callback only once and with it's name inside `StarcounterEnvironment.AppName`.

So, the result on console should be:

[code]

This is how I see it.

[2015-06-10 12:30] per-samuelsson commented on #2762
Thanks for the input.

What about this then? Invalid (b/c duplicate)? Call once? Call twice?

[code]

[2015-06-10 12:35] miyconst commented on #2762
Also twice. Maybe the `OnInsert` method counts number of calls and does different logic depending on that ))

[2015-06-10 12:40] per-samuelsson commented on #2762
OK. Good point. And both consistent with how it works when registering from separate apps, and probably also the simplest implementation (i.e. never check for duplicates, just treating every registered callback as a unique entity).

The only problem I can see with it is how we then should treat future deregistering of hooks, but maybe its as simple as just removing the last identical hook installe

[2015-06-10 12:43] miyconst commented on #2762
We should follow native c# behaviour.

[code]

And the result:

[code]

[2015-06-10 12:52] miyconst commented on #2762
I have updated my example. If you have several same hooks then detaching a hook with the same type should remove one of them and does not really matter which one, as they are the same.

[2015-06-10 13:14] miyconst commented on #2766
`GoogleSignIn` and `SignIn` are updated to use new Commit Hooks. Chatter does not longer update signed in user automatically, a page refresh is required.

When this issue is fixed, the app will be updated and will work as before again.

[2015-06-10 17:06] miyconst commented on #2766
I found a workaround for Chatter app. Replacing `IBound<SystemUser>` ViewModel with plain text properties fixed the issue.

This issue should still be fixed though.

[2015-06-10 21:26] alemoi commented on #2745
This is fixed now. The remaining part is documentation.

[2015-06-10 21:26] #2745 closed

[2015-06-10 21:41] alemoi commented on #2743
Today I have spent time regarding this. And possibly we would even put more constraints on mapping, but first lets have a discussion around this.

The thing is that `Polyjuice.Map` is a very specific thing used to get results from several application handlers mapped to a known one. This is needed, for example, for `/polyjuice/menu` specifically for Launcher. I am thinking to disallow mapping to ro

[2015-06-10 23:09] alemoi commented on #2743
Right now `Polyjuice.Map` is used only for the common URIs used in Launcher. Maybe we should even rename this to `Polyjuice.LancherMap` or `Polyjuice.MapCommon`?

[2015-06-11 05:27] parherman commented on #2751
@alemoi UrlsTest hangs again: [Starcounter_Develop_Nightly_Debug](https://scbuildserver/viewLog.html?buildId=28769&buildTypeId=Starcounter_Develop_Nightly_Debug&tab=buildLog#_focus=4956)

And Raw sockets fails: [Starcounter_Next_Nightly_Debug](https://scbuildserver/viewLog.html?buildId=28770&buildTypeId=Starcounter_Next_Nightly_Debug&tab=buildLog#_focus=5932) - maybe we should keep this bug open u

[2015-06-11 07:03] per-samuelsson commented on #2762
Yep, that seem logical. We'll adopt this once we get to detaching of hooks. My prio is to first solve this thing with application context (original post), probably sticking to the current API. And then revise everything we've discussed here and translate it to work items.

[2015-06-11 07:41] miyconst commented on #2762
Sure. The context problem is the most important one.

[2015-06-11 07:43] miyconst opened #2767 "Hook<T>.OnDelete behaviour"
This is a subissue of https://github.com/Starcounter/Starcounter/issues/2760

[2015-06-11 07:44] miyconst commented on #2767
By @miyconst

Okay. Then it seems like current hooks are already behaving like OnBeforeUpdate & OnBeforeInsert, but the OnDelete hook is very confusing. I can cancel the transaction by throwing an exception, but can't access the object, because it is already "deleted".

[2015-06-11 07:45] miyconst commented on #2767
By @per-samuelsson

Yes, I can see your point, and I agree to some level. At the same time, its consitent with how a proxy behave right after you have deleted it, like this:

[code]

[2015-06-11 07:46] per-samuelsson commented on #2762
I'm on it, and I now have an idea on how it should be implemented. If all goes well, I can push it today.

I will also change the implementation so that there is no matching of equality when hooks are installed, so that the semantics of hook registration change to what you outlined in this https://github.com/Starcounter/Starcounter/issues/2762#issuecomment-110734978. Hence, installing the same hoo

[2015-06-11 07:51] miyconst commented on #2767
Yes, this is a big limitation.

Let's assume that I have access to `X.OnDelete` method and `Hook<X>.OnDelete` hook. Then if I want to remove a file associated with the object I have to:

1. Subscribe to `X.OnDelete` and save file path to a variable.
2. Subscribe to `Hook<X>.OnDelete` and check the variable, if any values in there, then remove the files.
3. The question is how and when to clean the

[2015-06-11 07:52] miyconst commented on #2762
Cool. Thank you.

[2015-06-11 08:51] warpech commented on #2332
@miyconst, could you test if this works client-side?

[2015-06-11 12:04] alemoi commented on #2751
The `next` branch is still not merged and won't probably merge. So I guess it will continue to fail, but I can disable this test.

Regarding hanging I found the reason for it. Just need to push a fix.

[2015-06-11 12:22] per-samuelsson commented on #2762
This is now resolved and merged/pushed in https://github.com/Starcounter/Starcounter/commit/5f07a3f0f1c25dab66adfe46a7587611e312863f. Commit hooks are now aware of the application context, and assured to run in the context of the registered application. And every registration of a hook will always execute (duplicates are no longer considered redundant).

Simple regression tests has been added to t

[2015-06-11 14:01] miyconst opened #2768 "Server does not respond on WS patch"
The server does not response on WS in this scenario, but should.

Request
[code]

Response
[code]

Request
[code]

Response
[code]

WebSocket connected to `/__default/wsupgrade/D11C498A1A5F64ABD0000010`
[code]

No answer from the server and none of the breakpoints in Images app hit.

Works as expected if the second request sent to `http://localhost:8080/images` instead of `http://localhost:8080/__

[2015-06-11 14:02] miyconst commented on #2768
This issue is related to: https://github.com/PuppetJs/PuppetJs/issues/58

[2015-06-11 14:31] miyconst commented on #2762
Will this be available in today's nighty build?

[2015-06-11 15:08] per-samuelsson commented on #2683
The basic prototype is in place, pushed and merged in https://github.com/Starcounter/Starcounter/commit/9ca2385bbae48ec07fda6404f647faf6dc6e63f1.

Given this **app.cs**:

[code]

1. Run it with ```star app.cs```.
2. CURL/browse ```localhost:8080/test1```
3. Watch the output of the application. It should be blank.

Now enable mapping and restart:

1. ```staradmin kill all```
2. set SC_ENABLE_MAPPIN

[2015-06-11 15:27] per-samuelsson commented on #2767
@miyconst, sorry i didnt respond sooner to this, i've been busy doing #2683 today.

I think you have provided several important points about inconsistencies around delete, both regarding hooks and for the ```OnDelete``` callback. I agree with what your write. Lets try improve on it!

The hardest thing to achieve is to provide access to the object in the scope of the commit hook, since it would req

[2015-06-11 15:54] miyconst commented on #2767
As we can't change current implementation of deleted objects, but have to solve the issue somehow, a crazy idea came to my mind.

The `OnDelete` method of db class should return an object, this object should implement `IDeleted` interface which would have a `Dictionary<string, object>` of values. This object should be passed to the `Hook<T>.OnDelete` action instead of objectId.

Then, if I need to

[2015-06-11 16:20] miyconst commented on #2762
`Session.Current` works as desired! Thanks!

[2015-06-11 16:20] #2762 closed

[2015-06-11 18:54] Ripipip opened #2769 "Apps freezes, akbaqka.dll & scnetworkgateway"
I am running my apps perfectly fine for some time (up to 12 hours) and then suddently the apps freezes, no error is shown, scnetworkgateway shows high cpu usage and akbakqa.dll drains cpu in analyzer.

There doesn't seem to be any correlation between this crash and the load. (It has crashed last night at 4 AM which should be at a time with a very low load).

How can I investigate this further?

[2015-06-11 19:17] alemoi commented on #2769
Thanks for reporting!

I just have checked and Gateway can start spinning in two possible scenarios:

1. The database always sends something on the gateway, e.g. intensive push on websockets.

2. The gateway is not able to push to database because either IPC channels are full or gateway can't obtain IPC chunks. I guess it because the chunks are leaked somewhere and gateway can't get any so it spin

[2015-06-11 22:44] alemoi commented on #2769
When you have this situation, how many threads does the sccode.exe process have (look in task manager)?

[2015-06-11 23:05] alemoi commented on #2763
Done via 60be2e78691f65dd6d465577ff35bc3c087ba734

[2015-06-11 23:05] #2763 closed

[2015-06-11 23:16] dan31 commented on #2737
@k-rus / @eriohl, can you hint: having a generated index search function dll (in our case ```akbakqa.dll```), how to figure out which index it corresponds to? Some metadata entry exist perhaps?

[2015-06-12 05:35] k-rus commented on #2737
I think it is possible to analyse query plan programmatically, similar to how Administrator prints the query plan.

[2015-06-12 07:05] per-samuelsson commented on #2767
I'm probably missing something from your description, but I can't see what would not work for the same use case, if we had changed to what I proposed here:

With such solution, we encourage decoupling too. Any piece of code can easily subscribe to events triggered when - or actually, *before* - any object of an arbitrary database class is deleted, and developers could quite easily couple that with

[2015-06-12 07:19] miyconst commented on #2767
Yes, if we introduce the new `Hook<T>.BeforeDelete`, it will solve some of the problems.

In your example, who and when will delete the `DeletedPhoto` objects after they inserted?
Also, as mentioned before, the hooks don't fire for objects created/updated inside hooks. I assume that this is not the case for the `BeforeDelete` hook?

[2015-06-12 07:37] per-samuelsson commented on #2767
Exactly - its not. Because its not really a hook in the traditional sense. Its merely a callback triggered at the very time of a ```Db.Delete``` call, and hooks are actually a very specific type of callback - their full name is *commit hooks*; i.e. they are invoked at the time of commit (as you already know).

When on the subject, we should probably review the terminology as well. One idea might b

[2015-06-12 07:46] miyconst commented on #2767
I really like your events list, nothing to add. Would be really good to see that implemented.

If we leave `DeletedImage` object in database for further deleting by *Clear cache* button, then why do even bother myself with `DeletedImage` class? Why not just delete old files by *Clear cache* button?

I also came up with using list/dictionary in combination with `OnDelete` event and hook, but the qu

[2015-06-12 07:59] miyconst commented on #2332
What means `closing connection`? How do I check that? If an exception occurs during WS call, this exception will never reach client, and for client it is like "nothing happened".

[2015-06-12 08:00] per-samuelsson commented on #2767
Again, it was just a suggested approach, and I provided a non-storage based alternative in this follow-up https://github.com/Starcounter/Starcounter/issues/2767#issuecomment-111394569. I'm sure there are a whole bunch of alternative ways.

As yet another example, here's a tweaked one that use persistance but require no manual maintainance, always assuring there are only the "latest" DeletedPhoto i

[2015-06-12 08:09] alemoi commented on #2513
Just reporting that problem still in place (https://scbuildserver/viewLog.html?buildId=28801&buildTypeId=Starcounter_DevelopNightly&tab=buildLog&state=56#_state=56&focus=5578):
[code]

[2015-06-12 08:13] per-samuelsson opened #2770 "Review and redesign hook API"
Part of #2760.

Preparing discussions can be found in #2760 (originally triggered by OP-section `[5]`) and in #2767.

Goals:

1. Make **hook** the general term, and support ```IEntity.OnDelete``` this way too, either as a complement to it, or a replacement (preferably the later).
2. Use notion of events as the principal entry.
3. Use generics as primary mechanism, but support runtime types / type

[2015-06-12 08:26] miyconst commented on #2767
Nice! I close this one.

[2015-06-12 08:26] #2767 closed

[2015-06-12 08:29] miyconst commented on #2770
Sounds solid. The item 4 is not necessary, I guess. c# events support native detaching, no more work required here.

[2015-06-12 08:34] per-samuelsson commented on #2770
Well, I wish it was that easy. :sunglasses: I will need to write custom event add/remove sequences, since there is a synchronization thingy going on with how to configure the kernel in correspondance. Hence, I will prepare the API for detaching, but not implement it as part of this issue (I'm thinking you will recieve an ```NotImplementedException``` if detaching before we fully support it).

[2015-06-12 09:03] mtornwall opened #2771 "Installer automation?"
Is it possible to run the installer automatically, without GUI interaction? I want to use this for automatic deployment of Starcounter instances.

[2015-06-12 10:23] alemoi commented on #2771
Thank you for the question! That was made some time ago, but then we abandoned the feature. We need to recover it now.

[2015-06-12 11:26] malx122 opened #2772 "Appify: Register url:s outside application name scope"
Use case:
Many app sharing a common base library. All apps includes a copy of this common base so they work standalone. But instead of all apps having their own copy of the base data/utils on the server/client only the FIRST started register the common data/urls.

Needed:
A way to register url handlers outside the apps name and a way to check if an url handler already been registred ex:
´´´
if (!H

[2015-06-12 11:26] eriohl commented on #2737
Name of DLL is generated from table id and columns indexes. So should not be overly hard if this is in metadata in develop. Is it?

[2015-06-12 11:47] malx122 opened #2773 "Appify: Common client files"
Apart from the server side, we also have static client files that need to be shared between the apps. Example common tunity webcomponents, styles  e.t.c.

1. Those files can only exist in one place code-vice. (If you need to fix a bug it should only be needed to fix that one once and it should easy be transferred to all apps)

2. It should work simple from a developer perspective

3. It must work

[2015-06-12 12:03] alemoi commented on #2772
Thanks for the question!

The only missing functionality as I see is a check if handler is already registered. Otherwise when using the library code from application, the handler registration will be like its happening from within this application.

Do you see any other obstacles?

[2015-06-12 12:40] miyconst commented on #2770
Fair enough. Currently we don't need detaching in our apps.

[2015-06-12 12:49] malx122 commented on #2772
I fill in even if alemoi know after discussion. I actually want possibility to register in other name than my applications name, but only after really specified that I want to change "app-space".

[2015-06-12 12:51] malx122 opened #2774 "Starcounter Page loosing binding on "Html" property"
If I have a json of type Starcounter.Page and return it in a url-handler of polyjuice edtion, any bindings on the "Html" property will be removed silently and the result will be an empty "Html" property.

Not good!

[2015-06-12 13:19] per-samuelsson commented on #2770
I've worked out a first draft proposal of the new API. I have considered 3-5 from the OP especially, trying to craft an complete API that covers all cases, even though we won't support all the functionality as part of this issue.

There are two facets to the proposal: one simpler, "everyday" API, that will cover most cases, and that we'll use in the basic samples. And then an extended one to suppo

[2015-06-12 13:20] miyconst commented on #2332
By @alemoi

[code]

[2015-06-12 13:21] miyconst commented on #2332
I confirm, that Disconnecting WS message reaches client.

[2015-06-12 13:35] per-samuelsson commented on #2770
### Basic API

Based on generics; you hook the type (or hierarchy) you specify as the generic argument. The delegate signature must therefore compile-time match the given argument.

[code]

Pretty much what we discussed I think. I want "hierarcial hooks" separated from the single-type ones, since we should advocate care when they are used. The can be quite expensive performance wise if used carele

[2015-06-12 13:41] miyconst commented on #2770
Looks good to me.

Only one small note: To follow c#'s rules in here `(s, foo)` the `foo` should be `HookEventArgs : EventArgs`, not the instance of class `Foo` which is being Deleted/Updated/Inserted.

[2015-06-12 13:55] per-samuelsson commented on #2770
Continuing with the extended API. Basics in previous post.

### Extended API

Code first; comments below.

[code]

The rationale not to use Hook in the name of the class is because it would be confusing since here, the generic argument is **not** the type being hooked (we can use generics for that, since we hook dynamically, runtime). The generic type instead specifies the signature of the callbac

[2015-06-12 14:08] per-samuelsson commented on #2770
Yeah, but how much of puritans do we want to be? Personally, I'd slightly favor the propsed solution meaning a few less characters to type (and objects instantiated). The custom EventArgs wouldnt really add anything...?

[2015-06-12 14:10] malx122 opened #2775 "Long running threads make restart of apps "impossible"/timouts"
In my app i start separate threads handle som reminders and stuff in the background. When restarting the application, starcounter fails to kill them and it makes restart very slow since it waits untils timeout.

(The threads are starcounter threads)

[2015-06-12 14:18] miyconst commented on #2770
Custom `EventArgs` could add something if we like. Lets say we want to read some value from a hook, the value may be stored inside the agrs.

If don't use `EventArgs`, then also don't use `sender` as it does not have any practical usage, does it?

[2015-06-12 15:02] mtornwall commented on #2772
I would also like to be able to register handlers outside of the application namespace. I realize that they could clash with system handlers or other apps, so ideally I'd like a "I know what I'm doing" danger button cover when registering the handler. :)

+1

[2015-06-12 16:20] Ripipip commented on #2737
I'm following this but I'm not really sure what I should do at this time?

[2015-06-12 16:22] dan31 commented on #2737
@Ripipip, we are on a path to figuring out a route. @k-rus, do we have such in metadata?

[2015-06-12 16:48] dan31 commented on #2770
@per-samuelsson @miyconst Maybe provide version with EventArgs and overload without EventArgs? Depending on what the caller code wishes. The latter will be used most of the time. I opt for less verbosity and indirection. Making object be part of EventArgs hides logic, and we shouldn't violate "Less code for more" principle.

[2015-06-12 17:27] k-rus commented on #2737
Yes, we have this numbers in meta-data.

[2015-06-12 17:35] dan31 commented on #2737
@k-rus, can you hint a query/queries to extract metadata info related to that particular dll name?

[2015-06-12 17:46] k-rus commented on #2737
[Here](http://scwiki.innowait.se/Graphs/metadatatables.svg) is the schema of meta-data (available only internally). I think the names are quite clear. Table id and column indexes can be found in `MaterializedColumn`. I don't know how the numbers are translated into the dll name, but I guess it is something simple.

[2015-06-12 17:57] dan31 commented on #2775
@malx122, you mean ```.RunAsync``` spawned threads?

[2015-06-12 17:59] alemoi commented on #2772
For that you can pass a `HandlerOptions`  with `AllowNonPolyjuiceHandler` set to True. But this API is not recommended for normal use.

[2015-06-12 18:30] dan31 commented on #2332
:+1:

[2015-06-12 18:47] dan31 commented on #2774
@alemoi, @chrhol, bump at next Polyjuice meeting!

[2015-06-12 21:20] dan31 commented on #2743
Also see https://github.com/Polyjuice/Polyjuice/issues/15#issuecomment-111595135, join us @alemoi

[2015-06-12 22:14] alemoi commented on #2765
Polyjuice.Map is working in a way specific to Launcher so far. We discussed and we are not sure if generic Polyjuice.Map is needed at all. So let's monitor this one.

[2015-06-12 22:16] #2633 closed

[2015-06-12 22:17] alemoi commented on #2769
Via the commit 453fe6c01387d80e1a322e6eff3d572e5b5b125b I added the statistics to see current number of available chunks in IPC shared interface. @Ripipip when the stuck situation occurs, can you please go to `http://127.0.0.1:8181/gwstats` and copy here the databases section, like this:
[code]
Thank you!

[2015-06-12 22:40] dan31 commented on #2644
@miyconst, would you review the question in a light of 2.0 commit hooks?

[2015-06-12 22:45] alemoi commented on #2769
By the way what version of SC do you use?

[2015-06-12 22:51] dan31 commented on #2769
I will answer.
Polyjuice-DevelopDailyBuilds-2.0.9585 (May 8, 2015 10:49:25 AM)
Quite old, but I wonder why daily, is it intentional?

[2015-06-12 22:55] dan31 commented on #2481
What about that one @k-rus, closing?

[2015-06-12 23:01] dan31 commented on #2658
Good suggestion.

[2015-06-13 07:49] k-rus commented on #2481
The task 2 is important to do. The task 3 is ongoing. Only the task 1 is not needed, since new code host will be implemented.
Since there is no separate issue for task 2 I suggest to keep this issue open.

[2015-06-13 21:57] alemoi commented on #2769
Added statistics for chunks pushed to channels:
[code]

[2015-06-14 09:35] Ripipip commented on #2769
@dan31 I think it were a fix that was pushed to that build and thats why we started to use that particular build.

@alemoi I will  check for number of threads when it freezes, but I have to be able to monitor it and I've been busy this weekend. Regarding the added statistics, how do I use that?

[2015-06-14 12:01] #2611 closed

[2015-06-14 12:02] eriohl commented on #2279
Done.

[2015-06-14 12:02] #2279 closed

[2015-06-14 12:03] #2604 closed

[2015-06-14 12:03] #2486 closed

[2015-06-14 12:04] #2251 closed

[2015-06-14 12:04] #2242 closed

[2015-06-14 12:04] #2158 closed

[2015-06-14 12:05] #2096 closed

[2015-06-14 12:06] #880 closed

[2015-06-14 12:06] #1233 closed

[2015-06-14 12:06] #1731 closed

[2015-06-14 12:07] eriohl commented on #483
No longer relevant. Log writer will not be optional in future versions.

[2015-06-14 12:07] #483 closed

[2015-06-14 12:13] #2090 closed

[2015-06-14 12:13] #2095 closed

[2015-06-14 12:14] #2092 closed

[2015-06-14 12:15] #683 closed

[2015-06-14 12:20] eriohl commented on #2088
Will not be possible to run Starcounter without disk backing in future versions. For now however the Linux build lacks disk backing.

[2015-06-14 12:20] #2088 closed

[2015-06-14 12:22] #2527 closed

[2015-06-14 12:24] eriohl commented on #2737
My mistake. Table id is not included in the file name of the generated file, only column index and column type information (for details see behemoth!generate_label).

[2015-06-14 13:04] eriohl commented on #2093
This was broken with the introduction of CMake build. Will not be addressed.

[2015-06-14 13:04] #2093 closed

[2015-06-15 05:55] miyconst commented on #2644
Yes, there is no such code anymore. The commit hooks has replaced it.

[2015-06-15 05:55] #2644 closed

[2015-06-15 06:20] per-samuelsson commented on #2770
Yeah, this is one of the core principles of Starcounter, and the reason I suggested the design without ```EventArgs```. I too vote for this.

With that being said, it's also important to adhere to patterns "standard" .NET developers are used to, so @miyconst has a point to. This is somewhat of a hard call IMO. Each approach has benefits.

Thats a valid point too. If we expose hooks as events, we s

[2015-06-15 07:25] k-rus opened #2776 "Switch pnext to rely on Level1 from develop"
Currently, usually **Level1** from **next** is used for building **pnext**, since it has dependencies to some bits of **Level1**.
Can we start using **Level1** from **develop** instead of **next**? I have tested on build server and both pnext build projects succeeded.
Can the build projects `pnext-daily-windows` and `pnext-daily-linux` be switched to **develop** of **Level1**?

@eriohl @parherman

[2015-06-15 07:38] miyconst commented on #2592
When debugging, VS usually stops on the line of code which fires an exception, but not in this case. This has nothing to do with client side.

It acts like the exception was caught by some internal `try catch` and not thrown again.

[2015-06-15 07:38] malx122 commented on #2775
Exactly, on startup I have something like this:
[code]

[2015-06-15 07:39] warpech commented on #2332
@miyconst but it seems that the message is not displayed in the client, or I cannot reproduce it. Were you able to see the disconnection error message on the client?

[2015-06-15 07:41] miyconst commented on #2332
Yes, the message is not displayed, I saw it in the `Network` tab of Chrome.

[2015-06-15 07:46] warpech commented on #2332
I created a separate issue for this: https://github.com/PuppetJs/PuppetJs/issues/62

[2015-06-15 07:47] parherman commented on #2776
pnext-daily-windows switch to build with develop branch of level1.

From the looks of it pnext-daily-linux dose not currently build correctly with develop, investigating...

[2015-06-15 07:51] per-samuelsson commented on #2770
Just a little thing I noticed: in the [older API doc of EventHandler{T}](https://msdn.microsoft.com/en-us/library/db0etb8x(v=vs.100).aspx), the generic argument is constrained to be a derivate of ```EventArgs```, while [in the never](https://msdn.microsoft.com/en-us/library/db0etb8x(v=vs.110).aspx) (>= 4.5) it is not. This might indicate the community/MS is going in the direction of less verbosity

[2015-06-15 07:52] miyconst opened #2777 "Starcounter uninstaller does not remove version folder"
When uninstalling Starcounter, it's version folder is not being removed, and after some updates I have huge number of `2.0.xxxx.3` folders in `C:\Program Files\Starcounter`.

Uninstaller should not only remove the version folder, but also `Starcounter` folder.

@andwah is this your responsibility?

[2015-06-15 07:53] warpech commented on #2777
Confirmed, happens to me as well.

[2015-06-15 07:56] andwah commented on #2777
It's in the Installer Engine, but i can take a look at it.

[2015-06-15 07:56] miyconst commented on #2770
Okay, lets go this way.

[2015-06-15 08:02] k-rus commented on #2592
Just a note that Query processor fires exceptions and catches them, but they are not general exceptions. I guess it is not related to the above behaviour, but I wanted to note for a case.

[2015-06-15 08:13] k-rus commented on #2776
I raised questions if it is doable or not. According to @eriohl (see [this comment](https://github.com/Starcounter/CompanyTrack/issues/78#issuecomment-111972583)), **next** of **Level1** must be used with **pnext**. Thus, can you change back to **next** in the build project? Unfortunately, we have to keep this hassle with merging certain files from **develop** to **next ** for now.

[2015-06-15 08:16] eriohl commented on #2776
No. You misunderstand. You can run PNEXT with level1 DEVELOP. Just disable the projects dependent on the IPC (which @parherman is doing). I will enabled them when needed and then build with NEXT. So as long as you do not delete NEXT branch until these projects are deleted then I'm good.

[2015-06-15 08:19] k-rus commented on #2776
Sorry, for misunderstanding. Is it possible to run tests which requires to create a database, create tables, load data and then read data from the database on without NEXT branch of LEVEL1, i.e., on DEVELOP branch? I need to run such tests for the meta-layer and IMHO such tests should be enabled on the build server.

[2015-06-15 08:24] dan31 commented on #2770
Let's decide as a rule and follow: we follow the most recent MS changes to align in our API's (coreclr5.0 and its libraries, and sometimes 4.6) and catch ourselves not falling back to existing/old APIs. @miyconst, @per-samuelsson, I see your agreement!

[2015-06-15 08:26] alemoi commented on #2777
There is a task that deletes the internals installation directory like a few seconds the process exit (because otherwise we have running processes and corrwsponding binaries in that directory) . I can check it.

[2015-06-15 08:30] miyconst commented on #2770
The only reason why I like `EventArgs` is because it lets different hooks share information about an object, but I could not come with a good example where it could be needed.

[2015-06-15 08:32] miyconst commented on #2592
@k-rus, actually this is also very annoying. I would like VS to hit the line of code which tries to execute a wrong sql query, instead of silently return null or die.

[2015-06-15 08:33] alemoi commented on #2769
We think we identified an issue and working on bugfix now, which will be soon, hopefully tomorrow, available.

[2015-06-15 08:45] eriohl commented on #2776
Yes. Kernel function tests works. DNX host will work. Anything dependent on legacy scheduler will not.

[2015-06-15 08:50] k-rus commented on #2592
This is current temporal architecture. It is not possible to know if the query is wrong at the point, when the legacy code throws the exception. New Starcounter version will not have this annoying feature.

[2015-06-15 09:00] andwah commented on #2777
@alemoi okey, thanks

[2015-06-15 09:07] k-rus commented on #2776
Great! Then I am for having build project to be running on DEVELOP. It would be nice that kernel function test is also part of the build, but I don't know how much work to fix this.

Actually, I was not able to build PNEXT with DEVELOP locally. I cloned Level0 at PNEXT and Level1 at DEVELOP, generated the solution file of Blue with CMake, but building in Debug from VS failed with:

Error	C1083	Can

[2015-06-15 09:09] parherman commented on #2776
I have now commented out all the Chunks dependencies in level0, [link to commit](https://git.starcounter.org/BlueStar/level0/commit/d339d944d14c15c17dcd7f4be479986b7d7f251a), so that pnext-daily-linux builds correctly and switched both jobs to develop branch for level1

[2015-06-15 09:13] k-rus commented on #2776
I confirm that building locally work now with DEVELOP after I pulled this change.

[2015-06-15 09:34] parherman commented on #2776
@k-rus what tests are you running that should run on the build server?

[2015-06-15 09:54] chrhol commented on #2768
I found a problem that the changelog of the viewmodel was not refreshed when the initial state of the viewmodel was returned. This in turn led to a mismatch in versioning. I will push a fix as soon as my build on the buildserver succeeds.

[2015-06-15 09:59] chrhol commented on #2768
Fix pushed!

[2015-06-15 09:59] #2768 closed

[2015-06-15 10:02] k-rus commented on #2776
I don't run, but it would be great to have the test described in Starcounter/CompanyTrack#79
However, it requires to at least write a bat file, which will prepare environment for the test, and another file to clean the environment after the test. Or something like this.

[2015-06-15 10:59] miyconst commented on #2768
@chrhol will there be a daily build or wait till tomorrow and test with the nighty build?

[2015-06-15 11:17] andwah opened #2778 "Exception and unable to shut down application"
**Reproducing steps** (all done within the Administrator)
1. Start the database
2. Install the Launcher (2.0.0-pre14) from the AppStore.
3. Start the Launcher
4. Stop the Launcher....
(it's now not even possible to stop the database)
[code]

[2015-06-15 12:10] chrhol commented on #2768
Sorry, missed your last comment. I didn't start a daily build but I can do that if you want a new version directly.

[2015-06-15 12:12] miyconst commented on #2778
Similar exception if trying to open Launcher instead of stopping it:

[code]

[2015-06-15 12:15] miyconst commented on #2778
This does not happen with Images app, maybe this is Launcher's problem, but it worked on previous versions of Starcounter.

[2015-06-15 12:16] miyconst commented on #2768
Yes, do it please.

[2015-06-15 12:17] chrhol commented on #2768
I've started a build, will post the link here once it's done and uploaded.

[2015-06-15 12:31] chrhol commented on #2768
http://downloads.starcounter.com/download/Polyjuice/DevelopDailyBuilds/2.0.9950.2

[2015-06-15 12:46] andwah commented on #2778
I build a new Launcher version and deployed it on the AppStore (2.0.0-pre15). with that everything works.

[2015-06-15 17:23] miyconst commented on #2768
Thank you, it works.

[2015-06-15 18:59] miyconst commented on #2662
This is how it looks in asp.net under iis: http://dotnetcodebytes.blogspot.ru/2010/10/error-maximum-request-length-exceeded.html

So, there should be some way to display a user friendly message of what has happened.

[2015-06-15 20:31] malx122 commented on #2772
Yepp, you can provide ```HandlerOptions``` to the Handle.Get but not to the Polyjuice.Map which is required for internal gets between apps if I understand correctly?

[2015-06-15 23:12] alemoi commented on #2662
Hmm, are you sure its really happening? :)
Because when I google, I see the following: https://www.google.se/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=asp.net+upload+Connection+was+reset

[2015-06-15 23:14] alemoi commented on #2772
Let's organize a hangout, where we can discuss this situation, as we planned last week.

[2015-06-16 07:10] miyconst commented on #2662
As you can see from the search result, the most recent one is for year 2013. Maybe the old versions of iis did act like this, but the current does not.

I have created an empty asp.net website with simple upload form, limited request length to 500 bytes. The source code is available for download here: http://www.miyconst.com/BlogImages/UploadError.zip

Here is the result when I try to upload a fil

[2015-06-16 09:28] parherman commented on #2751
I believe this is resolved, will close this now!

[2015-06-16 09:28] #2751 closed

[2015-06-16 11:19] eriohl opened #2779 "Pass context information to kernel as argument (rather then getting in from the thread)"
Pass context information to kernel as argument (rather then getting in from the thread).

For example:

Interface function:

[code]

Will be replaced with

[code]

(Exactly what this "context" will contain and called is currently being debated).

Note that this will not fundamentally change how anything actually works. But it will have a pretty big impact on interface and so break compatibility wi

[2015-06-16 12:29] chrhol commented on #2766
I dont think this is an issue that can be solved, at least not to make it work according to the first part of the code.

You are (as far as I understand) allowed to modify and add/delete database objects that belongs to the same transaction as is committed, but you cannot switch to another transaction and as a part of that, modify database objects that belongs to another transaction.

In this case

[2015-06-16 12:32] chrhol commented on #2755
Yes, as far as I understand it, when the transaction is committed it's actually recreated in the kernel so you cannot continue to use iterators.

[2015-06-16 12:32] #2755 closed

[2015-06-16 12:33] peterbergman commented on #2734
Any updates on this? @chrhol have you had time to look at my last comment?

[2015-06-16 12:37] per-samuelsson commented on #2770
With https://github.com/Starcounter/Starcounter/commit/14a6ab452df774e9bcb8134c464f2fe619f2cb24, this is now implemented and merged/pushed into develop/2.0.

To see the basics in action, [CommitHooksTest.cs](https://github.com/Starcounter/Starcounter/blob/develop/src/Samples/TestApps/CommitHooksTest/CommitHooksTest.cs) implement a simple regression test, run as part of nighly builds by default. Ev

[2015-06-16 12:40] per-samuelsson commented on #2770
And oh, a small detail: I pass **null** as the sender argument to all delegates at this point. I guess this is not ultimate, but I'm unsure what to actually pass. I'm up for suggestions.

[2015-06-16 12:53] k-rus commented on #2685
If I use cmake to build project, then popd cannot be used. For example:

[code]

[2015-06-16 13:02] parherman commented on #2685
Oki, it looks like running just cmake_vs.bat works, but cmake_vs.bat Debug breaks popd - something during build runs cd I suspect.

@k-rus Did this stop working now? cmake_vs.bat Debug/Release I mean

[2015-06-16 13:09] k-rus commented on #2685
No. It would be nice to fix eventually.

[2015-06-16 13:11] #2774 closed

[2015-06-16 13:36] parherman commented on #2685
Oki, it looks like cmake adds "cd ." to every project file it generates, I guess that breaks pushd

Will see what we can do about this

[2015-06-16 13:56] miyconst commented on #2766
Okay, this sounds reasonable. Can I somehow force a piece of code be executed in scope of another transaction?

For example I start a new thread, attach it to the ViewModel's transaction and start it?

[2015-06-16 14:01] miyconst commented on #2770
@per-samuelsson could you please start a daily build for me? So I modify apps according to the new hooks api.

I also thought that current transaction should be passed as `sender`,

[2015-06-16 14:05] miyconst commented on #2648
Ping @alemoi.

[2015-06-16 14:08] miyconst commented on #2753
Closing this issue as we are satisfied with the current implementation of OntologyMapping.

[2015-06-16 14:08] #2753 closed

[2015-06-16 21:39] Ripipip commented on #2769
@alemoi I caught the error again and were able to check the number of threads  in sccode.exe: 39

[2015-06-16 22:57] alemoi commented on #2769
Thank you!  In this stuck situation, can you please also go to `http://127.0.0.1:8181/gwstats` and copy here the databases section, like shown above?
In any case, we have fixed a few problems related with this. Patches will be available in this nightly build. Let's do a follow up with @dan31 regarding the upgrade!

[2015-06-17 05:02] #2760 closed

[2015-06-17 05:05] miyconst commented on #2770
In here https://github.com/Starcounter/Starcounter/blob/14a6ab452df774e9bcb8134c464f2fe619f2cb24/src/Starcounter/Hooks/Hook.cs
I see that you have written the meta comments for each hook, but for whatever reason they are not visible in VisualStudio intellisense, could you please take a look?

[2015-06-17 05:29] parherman commented on #2776
This is done and pnext builds with develop in the build jobs now so i'm closing this issue

[2015-06-17 05:29] #2776 closed

[2015-06-17 05:55] miyconst commented on #2770
Fixed all of the apps according to the new commit hooks.

[2015-06-17 07:11] per-samuelsson commented on #2770
Writing XML doc is not enough for the comments to be visible in the Intellisense, they must be generated too. And we currently don't do that I think. :disappointed:

[2015-06-17 07:22] miyconst commented on #2770
For us it is obvious what each hook mean and when it is called, but someone new might now know, the comments would be really useful.

I can create a new issue, if you think this is an important task.

[2015-06-17 07:31] per-samuelsson commented on #2770
I honestly don't know the state of our API docs, if they are supposed to be generated or not, and how to get them to turn up properly in the Intellisense. I guess its a task for @parherman? Or maybe @dan31 can provide some insight? I noticed [this comment by @dan31](https://github.com/Starcounter/Starcounter/issues/2757#issuecomment-110272609) some week ago. Maybe they somehow relate?

@miyconst,

[2015-06-17 07:33] miyconst commented on #2770
No, I don't see any comments for `Db.Transact` and `Handle.GET`.

[2015-06-17 07:36] per-samuelsson commented on #2770
OK, then this is part of a bigger problem though, probably caused by the expired license. Lets give @dan31 a chance to reply his thoughts, either here or in #2757.

[2015-06-17 08:24] malx122 commented on #2772
@Starcounter-Jack

[2015-06-17 09:15] warpech commented on #2772
David, can you clarify why you find this needed?

1) This is a performance question. It feels bad for multiple applications to register handlers that do the same (assuming you have 4 apps, you would prefer to have 100 handlers running, not 400).
2) This is a isolation question. You want to share state between apps. Creating handlers in App1 that are callable from App2 would make it possible to sha

[2015-06-17 10:03] malx122 commented on #2772
1. It is a resource/performance issue on both client, server and the communication between them. Not only the handlers...

2. Since all apps are running in the same process there are no way of disallow sharing of state between the apps. Already a static variable in a common library will share states. However, I wanted to avoid that since it not a nice solution in my opinion but I can probably solv

[2015-06-17 10:17] warpech opened #2780 "Pattern for application cleanup"
As said in https://github.com/Starcounter/Starcounter/issues/2697, there is no commit hook aborted transactions (due to cancellation, timeout, change of view, etc). If my application creates a temporary file on disk even if it was not committed to the database, it will result in growing amount of temporary files.

Any ideas for solving this?

[2015-06-17 11:18] Ripipip commented on #2769
I removed the handlers and this is what I could see on that url.

{
    "ports": [
        {
            "port": 8181,
            "acceptingSockets": 22,
            "activeSockets": "33-0",
            "registeredUris": []
        },
        {
            "port": 9191,
            "acceptingSockets": 1,
            "activeSockets": "1-0",
            "registeredUris": [],
            "registered

[2015-06-17 12:09] alemoi commented on #2769
For this we need you to install the latest version. Should we coordinate this with @dan31 ?

[2015-06-17 13:24] alemoi commented on #2648
I was discussing this around and we decided that a strict mime type check is fine. So in this case a `406 Not acceptable` will be returned without logging the exception. What do you think about this?

[2015-06-17 13:53] k-rus opened #2781 "Python for building pnext"
I am wonder is Python required to build `pnext` or not?
When I run CMake it complains:

What is Python used for?

[2015-06-17 13:58] alexanderstc commented on #2781
I always have this warning on my PC, never had python installed.

[2015-06-17 14:04] parherman commented on #2781
I did a build on a new vm to check the dependencies, I did not install python and I do not have python on my laptop and do not get this warning.

What version of cmake are you running?
Are you running Windows 8.1?
Have you tried to run in a vs cmd prompt?

[2015-06-17 14:06] k-rus commented on #2781
No. I always forgot about this. It is so inconvenient. I will try now.

[2015-06-17 14:07] k-rus commented on #2781
but which one? it is 8 different VS command prompts?

[2015-06-17 14:11] parherman commented on #2781
Try native x64 vs2015

But pnext dose not require python, its just a warning, if it was a depend
to build then cmake would abort

On Wed, Jun 17, 2015, 16:08 Ruslan Fomkin <notifications@github.com> wrote:

[2015-06-17 14:15] miyconst commented on #2648
Looks like a desired behaviour, the client should know that the server works, but does not accept this mime type. And yes, this is not an error.

[2015-06-17 14:16] k-rus commented on #2781
I tried this one and still get the warning.

We try to achieve builds, which are warning free in Starcounter. Therefore, if Python is not used then, imho, it should be excluded from CMake.

Latest (3.3.0)

Yes

[2015-06-17 14:18] parherman commented on #2781
Yes we will remove this warning, I just need to reproduce it

On Wed, Jun 17, 2015, 16:16 Ruslan Fomkin <notifications@github.com> wrote:

[2015-06-17 14:41] miyconst commented on #2780
In Images app I remove all temporary files when user presses `Save` or `Cancel` button, and also when app starts.

I tried to attach to any event, but could not find any suitable. Even if we manage to create an even which would fire if user closes browser, app crashes, server crashes, we still would never be able to run this event if server loses power.

We could somehow restore the server state,

[2015-06-17 14:42] alemoi commented on #2648
Thank you for reporting! Fixed via 4be20c5588e8c340758bbc5c3bffa24db05f2128

[2015-06-17 14:42] #2648 closed

[2015-06-17 17:19] andwah commented on #2777
This has been fixed,
The version number will be added (under the hood) to the installation path that the user specifies.
When uninstalling/upgrading the version folder will be deleted and the parent path will be left along

[2015-06-17 17:20] #2777 closed

[2015-06-17 19:07] alemoi commented on #2777
:+1: will check later how it works out!

[2015-06-18 07:41] warpech commented on #2332
@alemoi wrote in https://github.com/PuppetJs/PuppetJs/issues/62:

Can this be reconsidered?

The sole purpose of this issue (#2332) was to send runtime Exceptions to the client that is connected using WebSocket, who otherwise has no clue that something went wrong on the server.

@andwah can you confirm that was your intention?

[2015-06-18 07:57] miyconst commented on #2777
Build `2.0.3226.3` works for me. It leaves `C:\Program Files\Starcounter` folder, but removes `C:\Program Files\Starcounter\2.0.3226.3` folder.

[2015-06-18 07:59] andwah commented on #2332
@warpech my goal is that an server exception should reach the client (in some kind of error window)

[2015-06-18 12:03] warpech opened #2782 "Cosmetic changes to the installer"
The first screen of the installer now looks like this:

![image](https://cloud.githubusercontent.com/assets/566463/8230628/61feb738-15c2-11e5-8a0f-3f16b04c5f24.png)

There are 2 changes to be made there:

1. Replace the logo with the version that says just "Starcounter". It is now more than only the "lightspeed database".
2. Replace the first sentence (`Starcounter is the worlds fastest concurrent

[2015-06-18 12:19] warpech opened #2783 "Map/OntologyMap should work disregardless of "Polyjuice flag""
The features of URL mapping, currently exposed as `Polyjuice.Map` and `Polyjuice.OntologyMap` rely on Polyjuice flag being enabled or disabled per database.

Polyjuice installer sets the flag by default to ON. Starcounter installer sets it by default to OFF.

Because of that, that apps that use these features cannot work in the default installation of the Starcounter editition.

I propose that Map

[2015-06-18 12:20] warpech commented on #2703
This issue resulted of isolating "Polyjuice" features behind "Polyjuice" flag set per database.

The remaining problem was separated into a new issue: https://github.com/Starcounter/Starcounter/issues/2783

[2015-06-18 12:20] #2703 closed

[2015-06-18 12:57] alemoi opened #2784 "Console WriteLine ConsoleOuputRestHandler.cs should assume that there is no app running"
We have system components that are doing Console.WriteLine (e.g. static file server) and that are outside of any app scope (no Application.Current set).

ConsoleOuputRestHandler.cs GetAppName() throws exceptions because Application.Current is not set.

To reproduce run an app with static files, e.g. Launcher, attach the debugger to sccode.exe set catching all exceptions and then go to 127.0.0.1:80

[2015-06-18 15:32] andwah commented on #2784
Thanks for reporting.. i will not be able to look into it tonight, maybe tomorrow.

[2015-06-18 17:36] alemoi commented on #2332
I have investigated it and now closing the WebSocket with an error message when there is an uncaught exception. Unfortunately the error message can not contain the stack trace because Chrome by some reason rejects WebSockets with big error descriptions. For this reason I am sending the following error message as a Close event.reason:
`An exception occurred on the server. Please check Starcounter s

[2015-06-18 17:57] warpech commented on #2332
Thanks! Would it be possible to send at least the first line of the exception?

[2015-06-18 20:40] alemoi commented on #2332
That's maximum what I can get:
[code]

[2015-06-19 19:32] dan31 commented on #2659
To be addressed in the new version (dnx). According to current vision: data would be shared among multiple codehosts, so the query, in general, would be codehost-agnostic and thus independent of codehost threads.

[2015-06-20 13:02] k-rus commented on #2783
I am wonder: is there definition what is the standard Starcounter and Polyjuice Starcounter? What are the  roadmaps for both editions?

[2015-06-20 13:51] dan31 commented on #2783
@k-rus No editions, check that for clarification: https://github.com/Polyjuice/Polyjuice/issues/2#issuecomment-113161046 . ```Polyjuice```-named APIs will be soon renamed, entire mapping becomes a feature of Starcounter. Three kinds of core mapping has been recently identified, including data mapping, and are in process of logical alignment.

[2015-06-20 20:47] Starcounter-Jack commented on #2783
All technology will be Starcounter.

Sent from my iPhone

[2015-06-21 11:41] k-rus commented on #2783
If I don't mistake is that Polyjuice edition uses Society Objects, while Starcounter has empty database with only meta-tables. I believe it is good to keep these two setups. What are the plans? May be this should be presented in a separate issue?

[2015-06-22 08:43] dan31 commented on #2667
Wait with that one until the simple project structure evolves.

[2015-06-22 09:53] warpech commented on #2783
This issue applies to Starcounter in general, with any data model, not only Society Objects.

Currently, Starcounter edition **does contain** SO dlls. They are just not loaded to the database if the database Polyjuice flag is OFF. Any changes to this should be a separate issue.

[2015-06-22 10:42] #2756 closed

[2015-06-22 16:35] alemoi commented on #2332
@warpech do you want it to be like that?

[2015-06-22 16:37] warpech commented on #2332
Could it be without the `Uncaught Error: WebSocket connection closed1011 ` prefix?

[2015-06-22 16:39] alemoi commented on #2332
Its the client that prints this part of the info. Look at the screenshot above.

[2015-06-22 17:04] dan31 commented on #2783
@k-rus, to add to what @warpech explained: we attempt to make a data and app integration feature be intrusive and on-demand essential feature of Starcounter. Currently it is controlled by "Polyjuice" flag, which is set per-database. So today, if you install Starcounter, it is very easy to start developing Polyjuice applications with it by changing a flag. In future we think that the flag will be s

[2015-06-22 17:23] warpech commented on #2332
My bad! Please commit :)

[2015-06-22 20:10] eriohl commented on #2779
Now "works" (in the sense that the code generally does what it's supposed to although generally also in a rather inefficient way).

New API is built around 3 basic types: Context, transaction and iterator.

All transaction is created within a context. An iterators is created within a transaction.

![objmod](https://cloud.githubusercontent.com/assets/3438751/8291482/3f7f1606-192a-11e5-85d6-da081129

[2015-06-23 05:29] parherman commented on #2757
I'm working on building the docs with doxygen instead

[2015-06-23 05:35] parherman commented on #2770
Since this [commit](https://github.com/Starcounter/Starcounter/commit/9f49bbd7cd9f99e30117c4cdd31a1f864e18250d) we also copy Starcounter.XML, Starcounter.Bootstrap.XML, Starcounter.Apps.JsonPatch.XML, Starcounter.Internal.XML, Starcounter.Logging.XML, Starcounter.Hypermedia.XML, Starcounter.Node.XML, Starcounter.XSON.XML to Public Assemblies during build, so now there should be intellisense docume

[2015-06-23 09:24] miyconst commented on #2770
Yes, it works! Thank you.

[2015-06-23 10:54] miyconst commented on #2778
Again happens for me, with the build: `Polyjuice-DevelopNightlyBuilds-2.0.3231 (Jun 23, 2015 3:00:29 AM)`

[code]

The exception does not appear when I build and start Launcher from Visual Studio, but the fact that the same exception was caught by three different people (me, @warpech, @andwah) tells me that something is wrong in there.

@alemoi, @chrhol, could you take a look, please?

[2015-06-23 13:03] alemoi commented on #2778
Thank you for the question! This is a strange exception, it feels that its some mismatch in DLLs. Are you sure there are no local copies of Starcounter libraries around?

[2015-06-23 13:07] alemoi commented on #2778
Or you are using an old version of Launcher?

[2015-06-23 13:13] miyconst commented on #2778
This happens when I update SC and then install Launcher from the app store which was compiled under previous version of SC.

Recompilation with new version of SC with no change to the code fixes the issue.

[2015-06-24 05:46] parherman commented on #2781
We get this warning because we include gtest in third_party and some of its tests and utility scripts requires python

[2015-06-24 06:39] parherman commented on #2781
This should be solved now, so you should not get a warning that python is missing.

[2015-06-24 08:41] parherman commented on #2781
I will close this now, open it if you see it again!

[2015-06-24 08:41] #2781 closed

[2015-06-25 14:45] warpech commented on #2332
Server part works as expected, closing

[2015-06-25 14:45] #2332 closed

[2015-06-25 14:56] warpech opened #2785 "Wrong WebSocket closing status code in case of malformed JSON-Patch"
When testing #2332 I discovered that sometimes WebSocket disconnects with wrong closing [status code](https://tools.ietf.org/html/rfc6455#section-7.4.1).

If WebSocket disconnects because of an uncaught exception in C# app code, then the status code is `1011` as could be expected.

If WebSocket disconnects because of a malformed patch, then the status code is `1000`, which is incorrect, because RF

[2015-06-26 05:52] parherman commented on #2757
In commit 1463bd28bb4e081ba2deb940244c8395a5a39bc9 I pushed some initial support for building documentation with doxygen. You can test it by installing doxygen and run it in src/BuildSystem/Doxygen/

It also looks like only the latest documentation button is broken, but the links to docs for each build still works - will look into why that is

[2015-06-26 08:59] parherman commented on #2757
Now it works again! Will see it it still works after the next nightly builds tomorrow

[2015-06-26 09:01] eriohl commented on #2779
Done.

Not entirely happy with iterator interface, too much overhead probably, but I think we'll work on this one in the scope of new query processing so optimizing this is probably premature.

[2015-06-26 09:01] #2779 closed

[2015-06-26 09:34] parherman commented on #2771
@mtornwall, @alemoi This is a duplicate of #2609, I will close this and we can continue the discussion in that issue!

[2015-06-26 09:34] #2771 closed

[2015-06-26 10:06] miyconst commented on #2757
I confirm, it works.

[2015-06-26 11:34] warpech commented on #2684
This just happened again.

Database was deleted in Adminstrator and then tried creating it again from VS.

Starcounter 2.0.3233.3

Should I provide more details? I fill freeze development for few minutes

Screenshot:

![image](https://cloud.githubusercontent.com/assets/566463/8376461/d9683538-1c07-11e5-8274-a992a073aad2.png)

[2015-06-26 11:48] per-samuelsson commented on #2684
Argh. Lets try solving it together. I'll contact you to get some environment.

[2015-06-26 16:13] alemoi commented on #2785
I looked at Json patch code and in this case an exception with message is thrown: No value found in patch. I treat all exceptions the same, that's the result. I guess this one is quite low prio?

[2015-06-26 18:41] warpech commented on #2785
Yeah, the same exception message can be seen on the screen shot. I think that the exception message is OK. Only the WebSocket closing status code is wrong: `1000`. I would expect `1008` or `1011`.

Also see: http://stackoverflow.com/questions/22587438/websocket-close-code-1002

Yes, this is low priority.

[2015-06-26 20:00] per-samuelsson commented on #2684
I'm quite confident now that I've found the reason for this. It seems to be caused by recent playlist-functionality added to the administrator, and that files remain in the database specific server repo even after it being deleted.

WTBS, I'm not 100% on how to deal with it. The question is basically if app-related stuff should stick around for a database when it's deleted or not. I think I can so

[2015-06-27 07:22] per-samuelsson opened #2786 "Delete installed apps as part of deleting a database?"
When working with #2684, I found that what causes it, is that when deleting a database, applications installed in that database - i.e. "playlists" - is not deleted as part of the deletion.

We need to decide how a "delete database" operation relate to installed applications.

If they are to be deleted along with the database, I need help from @andwah to understand the full structure in order to be

[2015-06-27 07:24] per-samuelsson commented on #2684
Pausing this until we have taken decisions as formulated in #2786.

[2015-06-27 09:01] per-samuelsson commented on #2780
Have no idea if this applies, but FWIW there is a code host level ```Db.DatabaseStopping``` event I did some time ago, that fires every time the code host is about to shut down.

Source is [here](https://github.com/Starcounter/Starcounter/blob/14a6ab452df774e9bcb8134c464f2fe619f2cb24/src/Starcounter/Db.cs#L38) and intial request / info in #1302 (with some additional commenting on it in #2407).

[2015-06-27 09:10] per-samuelsson opened #2787 "Migrate extension to Visual Studio 2015"
Making a prototype first. Then we need to decide when to migrate Level1 to 2015 (which I think will be a prerrequisite; maybe its doable by just installing VS SDK 2015 though).

[2015-06-27 18:35] per-samuelsson commented on #2787
It turned out that we don't need to add any build-time dependency at all, as far as I understand. It should be enough to build the extension as part of Level1 in VS 2012 still, and it even looks as if we don't need to install the 2015 SDK.

So, things have turned out good. This is now "done". I have been able to produce a deployment package for VS 2015, which I have installed, uninstalled and test

[2015-06-28 17:55] dan31 commented on #2680
Isn't that something solved already?

[2015-06-28 23:05] dan31 commented on #2624
Any new evidence there?

[2015-06-29 05:44] parherman commented on #2757
It looks like this works now, will close this

[2015-06-29 05:44] #2757 closed

[2015-06-29 06:13] miyconst opened #2788 "Can we remove version folder from the installation path?"
The default installation path for Starcounter is: `C:\Program Files\Starcounter\2.0.XXXX.3`.

Two different Starcounter versions cannot live alongside and can not even be installed, what the `2.0.XXXX.3` folder is for then?

I often work with installed javascript files from `C:\Program Files\Starcounter\2.0.3237.3\Polyjuice\StaticFiles\sys` folder, and have some VisualStudio projects to access `Pu

[2015-06-29 08:43] dan31 commented on #2786
If we view database approximately as an isolated VM that runs apps, then up to my feeling apps should be removed together with the database. This behavior would be consistent. @warpech?

[2015-06-29 08:48] per-samuelsson commented on #2786
This is my take too. I think we need to go this way, despite it will mean more effort when "recreating" databases, like @warpech tried in the first place, because he will need to reinstall all apps on every such cycle I think.

[2015-06-29 12:23] warpech commented on #2786
I agree that by default deleting the database should delete the apps. Just like in VM, deleting the image deletes the apps. Or in SQL, deleting the database deletes the stored procedures.

Then again, for dev purposes, I would find it very useful to be able to clear the database without deleting it. Should I create a ticket for that?

[2015-06-29 12:39] warpech commented on #2788
+1

[2015-06-29 12:44] warpech commented on #2680
Yes it is solved. Remaining part is to describe it: https://github.com/Starcounter/Starcounter/issues/2743

[2015-06-29 12:44] #2680 closed

[2015-06-29 12:45] warpech commented on #2743
Explanation should include turning OntologyMap on and off (see the above link)

[2015-06-29 13:13] per-samuelsson commented on #2787
Thanks to @parherman, this is now tested, and I have merged it and pushed it to develop. Everything is in place except for making the GUI-part of the installer, i.e. exposing this as a checkbox and set the corresponding installer flag. I'll open a separate issue for that.

[2015-06-29 13:17] per-samuelsson opened #2789 "Expose new VS 2015 extension in the installer GUI"
Tails #2787. Its basically about adapting the installer GUI, exposing the flag `ConstantsBank.Setting_InstallVS2015Integration` as a checkbox. Everything else is prepared for.

Not sure when this should be done, and if its best done by @andwah or @alemoi or anyone else. I guess @dan31 can set a prio.

[2015-06-29 13:19] per-samuelsson commented on #2787
#2789 created. To test the extension before that, it can be installed/uninstalled manually. Just get a copy of VS 2015 (RC at this point), and doubleclick `Starcounter.VS14.vsix` (in `%StarcounterBin%`) and try it out.

[2015-06-29 13:21] dan31 commented on #2789
@alemoi, @parherman will push it to "develop", would you add a checkbox in Installer?

[2015-06-29 13:44] miyconst commented on #2786
+1

[2015-06-29 14:49] dan31 commented on #2788
It is reasonable, since developers barely would ever had 2 versions of SC installed and moreover how would you make them run parallel and why. @alemoi, any principal objections to that step, what do you think?

[2015-06-29 14:51] dan31 commented on #2788
This will likely also solve the path creeping issue in your projects when upgrading Starcounter.

[2015-06-29 15:05] dan31 commented on #2786
We discussed the point with @per-samuelsson and came to the same conclusion: there is no practical reason to delete database physically if there will be a simple mean to vanish it (like you have it SQLite, MongoDB, whatever). @k-rus, there is a way today to DROP INDEX https://github.com/Starcounter/Starcounter/wiki/Index-Declaration, but is there a way to DROP TABLE? I assume there is no DELETE FR

[2015-06-29 15:09] dan31 commented on #2779
Yes, let's view it in complex while approaching iteration API's in new SQL proc.

[2015-06-29 16:19] warpech commented on #2788
In case someone wants to have multiple versions of Starcounter installed, they could still potentially install it in a custom path.

[2015-06-29 17:15] alemoi commented on #2788
I guess the reasons are only historical when we wanted several versions at a time. One more cool addition will be that we would not need to restart cmds :) How about that?? :smile_cat:

[2015-06-29 20:37] warpech commented on #2647
This is important for the project that we discussed today on the meeting.

The requirement is to have a JSON REST API as well as an admin web interface for the same information (wrapped in Launcher).

I can think of 2 solutions:

1. Provide a special mime-type: `application/json-root+json`. Only with this mime-type client would receive the view-model wrapped in Launcher. This is something that we

[2015-06-30 05:49] careri opened #2790 "Incremental database dumps?"
Hi!

I've been doing some work with our FTP where we recieve daily database dumps from our customers. This soon turns into alot of data.

I'm thinking it would be nice to be able to make incremetal dumps, e.g. only dump the changes since the last dump. I understand this involves some kind of alternative transaction log. Or maybe the transaction log could be used in some clever way?

Another altern

[2015-06-30 07:49] miyconst commented on #2788
Looks like everyone likes my idea ;-)

[2015-06-30 08:21] miyconst commented on #2647
Launcher creates its own session and wraps every page, no matter this page is attached to the session or not.

[2015-06-30 09:09] warpech commented on #2647
@alemoi, @Starcounter-Jack, @chrhol what do you think of solution proposed in point 2 above?

The implication would be that stateless responses will not get wrapped in Launcher. I think this is a good thing, because previously we had problems with stateless responses with apps anyway.

[2015-06-30 09:36] chrhol commented on #2647
I thought this was the way it worked today. If you don't attach the json to a session and return it you will get the json you returned. Unless it's called from a `Self.GET` I guess and it's merged...but then I saw the earlier comment from @miyconst:

Is it treated as a workspace perhaps and the function in launcher adds an empty workspace-page to wrap it in. So the thing we need to change is in ho

[2015-06-30 10:57] malx122 commented on #2775
Any news on this?

[2015-06-30 10:58] malx122 commented on #2772
Where are we at this?

[2015-06-30 11:19] dan31 commented on #2772
@alemoi, can you look?

[2015-06-30 11:19] dan31 commented on #2775
@per-samuelsson, what do you think?

[2015-06-30 11:26] andwah commented on #2786
@dan31 it will not be so difficult to add this "Clean Data" button,  if there is a way to actually do the job (DROP TABLE, DROP INDEX etc..) on the server side.

[2015-06-30 11:46] warpech commented on #2647
Yeah, Launcher does that explicitly here: https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/api/LauncherHelper.cs#L24

So Launcher should only wrap the responses if they are attached to a session. Currently Launcher doesn't know that, because:

1. apps are isolated, so Launcher cannot check response from another app
2. AddFilterToMiddleware runs before the request, not after it (@alem

[2015-06-30 11:47] alemoi commented on #2772
We still haven't had a common discussion with you and @Starcounter-Jack regarding this.

[2015-06-30 11:58] alemoi commented on #2647
Yes, middle-ware filters, once added are running before the external requests: http://starcounter.io/nightly-changes/addingskipping-middleware-filters/

[2015-06-30 12:07] k-rus commented on #2786
Only `DROP INDEX` exists. `DELETE FROM` does not work with large data sets.
From development point of view deleting database is good, since it guarantees to have clean database. Note that deleting any database object such as table, column, index requires to modify meta-data.

[2015-06-30 12:13] per-samuelsson commented on #2787
Reopening this, since it turned out not to work properly in the installer. I will try fixing that and repush it.

[2015-06-30 12:20] parherman commented on #2787
Yes I did not test this properly yesterday! @per-samuelsson Here is a screenshot of the problem with the installer:

![acceptance_tests](https://cloud.githubusercontent.com/assets/231535/8430607/fe56c462-1f32-11e5-83d1-884c69e722b7.png)

[2015-06-30 12:24] warpech commented on #2647
So, `AddFilterToMiddleware` can only judge if a request is wrappable based on the request properties (such as URL, headers, ...), not based on the response properties.

How could we make judgement based only on request properties? Currently, Launcher wraps all requests [that are not system handlers](https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/api/LauncherHelper.cs#L29), ignoring

[2015-06-30 12:33] per-samuelsson commented on #2787
Thanks! I got it from @chrhol too. :) It seems the outer WPF installer and the inner installer engine is more interrelated than I knew, but with the help of @alemoi I think I have a fix for this shortly. Its just a matter of testing it again though, and then I can hopefully remerge it.

[2015-06-30 13:02] dan31 commented on #2772
Okay, I recall that discussion now.

What I see here is:

1) Applications should be independent in order to run in Polyjuice store. It means that application is a humble entity: it can listen, it can emit, it cannot intrude outside its scope. The state is always shared between apps from one vendor and apps from different vendors, and is shared using data model. There are also commit hooks availabl

[2015-06-30 14:01] per-samuelsson commented on #2787
Me and @parherman have now got this to work again, so now it should be possible to run the installer. Closing this again.

[2015-06-30 14:01] #2787 closed

[2015-07-01 08:26] warpech opened #2791 "Change session WebSocket upgrade URI"
Currently, the REST URI for a session looks like `/__default/D11C498A1A5F64ABD0000010`
The WebSocket upgrade URI for the same session looks like `/__default/wsupgrade/D11C498A1A5F64ABD0000010`

The `/wsupgrade` parameter in the above URL is hardcoded in an ugly way on the client: https://github.com/PuppetJs/PuppetJs/blob/d04702dcf4377f4d13133cca10f9b7241aa0fb6a/src/puppet.js#L187

The same day a f

[2015-07-01 08:34] miyconst commented on #2791
@chrhol, please notify me when there is something to test.

[2015-07-01 08:38] warpech commented on #2647
As @alemoi explained in the Hangout, the problem expressed in first message of this thread is solved with using `skipMiddlewareFilters` flag in the request handler. Explained here: http://starcounter.io/nightly-changes/addingskipping-middleware-filters/

I think this is better than all the proposed solutions in this thread :+1:

@alemoi, @miyconst if you're fine with this, we can close this issue

[2015-07-01 08:43] chrhol commented on #2791
I'm working on this now. Should I push the changes to develop and you will fix PuppetJs today, or is it better to push to a separate branch until you are finished on your side?

[2015-07-01 08:45] miyconst commented on #2647
Does this mean, that all *Pure REST API* handler should be with `SkipMiddlewareFilters = true` flag?

I am okay with this, but what if I want to use a filter to check authentication in my api application, but not wrap it with Launcher?

[2015-07-01 08:50] miyconst commented on #2791
I like the first way, push to develop, give me a link to daily build, and I fix PuppetJs.

[2015-07-01 09:26] chrhol commented on #2791
Changed pushed to develop now. A daily build can be downloaded here: http://downloads.starcounter.com/download/Polyjuice/DevelopDailyBuilds/2.0.10094.2

[2015-07-01 09:26] #2791 closed

[2015-07-01 10:05] alemoi commented on #2647
Hmm, if the same handler should be wrapped in some cases and pure on other, I guess the only way to tell this to server is to send some indication from the client.

[2015-07-01 10:17] miyconst commented on #2647
Then the client will be able to bypass an authentication filter.

Let's say I am a developer of a single app. I have some auth logic, and for that purpose created a filter. Then someone runs my app inside a Launcher. The app still should call only mine own filters, not Launcher's.

[2015-07-01 10:19] miyconst commented on #2647
In asp.net we **enable** filters, not disable. I don't know how that could help since Launcher has no idea of the handler from other apps.

[2015-07-01 14:16] warpech commented on #2647
Shouldn't both filters be applied in such case? I agree that we may need to refine the filters (or maybe let them be fine-controllable in mappers), but that is not the purpose of current issue.

To discuss filters, please create a new issue when needed. It would be good to illustrate it with links to reference material in other platforms. I expect that in JS world, [Koa](https://github.com/koajs/k

[2015-07-01 16:06] warpech commented on #237
@chrhol can this be changed? Does Starcounter support adding and removing array properties through `add` and `remove` operations?

[2015-07-01 19:05] Starcounter-Jack commented on #237
The idea is to also support arrays without a hosting object.

[2015-07-01 20:11] dan31 commented on #2772
BUMP cc @Starcounter-Jack

[2015-07-01 20:12] dan31 commented on #2788
No objections, good to go. @alemoi?

[2015-07-01 20:18] #2695 closed

[2015-07-01 20:20] #2696 closed

[2015-07-01 20:22] #2687 closed

[2015-07-01 21:04] alemoi commented on #2788
I think its all fine! However, @andwah implemented some recent changes that we should take into account in installer GUI. So we must do this changes when I and him are both available.

[2015-07-01 22:13] alemoi commented on #2769
These problems should be resolved now. Is that correct @dan31 ?

[2015-07-01 22:53] Starcounter-Jack commented on #237
If we make an extension cast method on string such that we can
do ```myArr.Add("foo") ``` such that it matches ```void Add( Json value )```

[2015-07-01 22:54] Starcounter-Jack commented on #237
@chrhol WDYT?

[2015-07-02 06:04] miyconst commented on #2748
This also happens for me, especially after installing an app, I have to wait for some time and then refresh page.

[2015-07-02 06:10] miyconst commented on #2713
+1

[2015-07-02 06:12] miyconst commented on #2690
@warpech what this callback is for?

[2015-07-02 06:15] miyconst commented on #2575
@parherman this is already fixed, right?

[2015-07-02 06:20] parherman commented on #2575
Yes! The reason for this is that not every nightly build would generate documentation, this is now fixed so that all nightly builds will also build the docs

I will close this!

[2015-07-02 06:20] #2575 closed

[2015-07-02 06:41] miyconst commented on #2647
Yes, it works as expected:

[code]

This returns pure json of the `IllustrationPage`.

[2015-07-02 06:50] miyconst commented on #2752
@alemoi, any success on this?

[2015-07-02 06:59] dan31 commented on #2748
@andwah, please investigate. Maybe have to switch machine from Glesys to EC2?

[2015-07-02 07:23] per-samuelsson commented on #2775
Not at all my area of expertise, I'm afraid. But I think there might be some other issue similar to this, where there were some discussion. I'll see if I can find it.

[2015-07-02 07:27] per-samuelsson commented on #2775
#2407.

[2015-07-02 07:28] parherman opened #2792 "QueryProcessingTest fails on buildserver"
QueryProcessingTest fails on both buildservers:

[code]

[log](https://scbuildserver/viewLog.html?buildId=29298&buildTypeId=Starcounter_DevelopNightly&tab=buildLog#_focus=4195)

To reproduce on the build server, run a new job and only select QueryProcessingTest and it will fail

[2015-07-02 07:37] per-samuelsson commented on #2790
@careri

I'm afraid you'll be somewhat left on your own with this one. In 1.x (which this is about), I don't think we'll do many changes, more than fixing critical bugs.

I *think* there is an 1.x API for reading the dump (I vaguely remember adapting such at some point, and even doing some kind of utility that translated a binary dump into a text log, using that API). But I'm not sure, and I'm afr

[2015-07-02 07:55] chrhol commented on #237
I guess it should be possible to simplify this, I have to look into it. I guess we want to avoid bloating the API and I'm not sure you can filter extension-methods properly since the (primitive) type the array contains is specified on the template and not the instance (the instance is always Json or subclass).

Maybe it would be better to add it in the generated code for that specific type? Add, r

[2015-07-02 09:39] dan31 commented on #2790
The API might help if @careri will find a way to use it for forming diff on-flight. @per-samuelsson, I sent you info on accessing the old perforce, it is up now at the other location.

[2015-07-02 12:17] parherman commented on #2750
This happened because we installed VS2015 on the build machine that would build and run the acceptance tests. The build would then use the newest version of Microsoft.VisualStudio.Shell.10.0.dll, version 14.0.0.0 for VS2015, to build the VS extensions and since VS2013 only installs v12.0.0.0 VS would fail to create a new project using the extension.

In commit 637ca6e4ba4762a959583c18d357fc3897859

[2015-07-02 12:19] #2750 closed

[2015-07-02 12:36] chrhol commented on #2792
The reason was that new databaseclasses was added and the assertions for number of tables, columns and indexes fails.

I've updated the test with correct assertions, waiting for a personal build to succeed before pushing to develop.

[2015-07-02 13:41] chrhol commented on #2792
I've pushed a fix for this and Started a nigthly build. Will close this issue once it succeeds.

[2015-07-02 13:56] Ripipip opened #2793 "Internal URI matcher code generation error!"
Suddenly, without any noticable errors or difference in behaviour I get this error message when trying to view a page in my Starcounter app (it is running with the launcher).

System.Exception: Error code=0x7B. Internal URI matcher code generation error!
Version: 2.0.3226.3.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR123.
   at Starcounter.Rest.PortUris.GenerateUriMatcher(UInt

[2015-07-02 14:06] warpech commented on #2690
To achieve "1b. PartialId - desired structure" from https://github.com/Polyjuice/Launcher/issues/114

The difference is that `PartialId` would be created by a callback in the Launcher app, not by the serializer.

[2015-07-02 14:11] Ripipip commented on #2793
Okay the problem is that I added this handler. Any idea why it would cause this error?

            Handle.GET("/adfenix/ImportClassifiedAdURLs", (Request r) =>
            {
                Response response = 0;
                response.HeadersDictionary["Location"] = "http://www.adfenix.com";
                response.StatusCode = 302;
                QueryResultRows<IObjectView> Variable1 = Db.

[2015-07-02 16:46] alemoi commented on #2793
Thank you for reporting! How many handlers do you have on your port?

[2015-07-02 17:18] Ripipip commented on #2793
90 in adfenix and then the other apps; Launcher, Signin and Useradmin

[2015-07-02 19:41] miyconst opened #2794 "JavaScript error at server/log"
![js-error-server-log](https://cloud.githubusercontent.com/assets/6435556/8486155/73db12cc-210b-11e5-9bb5-531504a784d4.png)

[2015-07-03 05:43] parherman commented on #1246
@alemoi I have not seen this, do you believe we can close this?

[2015-07-03 05:55] parherman commented on #2377
scbuildserver2 had memory problems due to hardware error, this is now fixed. Once we will move/upgrade TeamCity we will use a external db as suggested by the message, I have it as a task in [Build system and development infrastructure improvements](https://github.com/Starcounter/CompanyTrack/issues/72) and will close this issue now

[2015-07-03 05:55] #2377 closed

[2015-07-03 06:11] #2792 closed

[2015-07-03 06:34] parherman commented on #1639
This happens every now and then with the latest docs folder, version tacker fails to delete latest folder because access is denied. To solve it I restart Starcounter and it will be able to delete the folder.

Would it be possible to make a html link to the latest docs instead of using a copy? So that /doc/Polyjuice/DevelopNightlyBuilds/latest would rewrite the url to the latest docs so that you ca

[2015-07-03 09:47] miyconst commented on #2794
By @warpech

[12:36:19 PM] Marcin Warpechowski: I fixed Log in the Administrator. One dependency was not added.

https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Administrator/app/filters/LogMessageHost.js
add this file to Program Files/Starcounter/<ver>/scadmin/app/filters

[2015-07-03 09:47] #2794 closed

[2015-07-03 12:03] alemoi commented on #1246
I think this can be closed now. Never seen the error again after we started to build the project explicitly before Level1.

[2015-07-03 12:07] #1246 closed

[2015-07-03 15:20] warpech opened #2795 "Using filters with unregistered handlers"
As discovered in https://github.com/Polyjuice/AppStoreClient/issues/6#issuecomment-118050724, `AddFilterToMiddleware` does not work for requests that are not matched against explicitly defined handlers.

The filtering functionality should be expanded to allow:

1. a global filter that adds a HTTP header to any response, regardless of the HTTP method. Compare with:
  -  http://enable-cors.org/serve

[2015-07-03 16:48] warpech commented on #2713
From reference it is yet not clear to me if it is correct to use `If-Match` without ETag.

Reference:

- http://tools.ietf.org/html/rfc7232#section-2.3
- other links at https://en.wikipedia.org/wiki/HTTP_ETag

Probably `ETag` replaces our `Location` and `If-Match` replaces our `Referer`.  Let's gather some more pros and cons of that.

[2015-07-05 18:29] careri commented on #2790
I'm ön vacation now, back in 5 weeks.
Can I havet access to that API?

Maybe you can keep incremental dumps in mind for 2.x?

[2015-07-06 07:32] mtornwall opened #2796 "async/await triggers ScErrThreadNotAttached"
The .NET async/await pattern mixes with Starcounter code. The following crashes the application with `ScErrThreadNotAttached`:

    [Database]
    public class Foo {}

    // ... somewhere in a transaction scope ...
    await Task.Delay(1000);
    new Foo(); // exception

While my understanding of Starcounter internals and the .NET async model is quite limited, it would appear that the Starcounter

[2015-07-06 08:19] dan31 commented on #2796
Hi! That feature is no.1 feature already addressed in new version of Starcounter (so-called 'dnx'). Since you feel to be quite in that topic, you'll find a pleasure to talk more about this with Johan L. at the office this week :) He can tell you how it works in upcoming version.

Sent from Outlook<http://taps.io/outlookmobile>

On Mon, Jul 6, 2015 at 12:32 AM -0700, "Martin Törnwall" <notification

[2015-07-06 08:22] mtornwall commented on #2796
Thanks Dan! Is this new version available somewhere, or should I work around this problem for the time being?

[2015-07-06 08:34] dan31 commented on #2796
This version is in early stage (and we'll keep you posted on its availability), so you have to workaround in 2.0. If you post here what exactly a task do you want to solve with async, @chrhol can guess for you the right pattern in 2.0.

Sent from Outlook<http://taps.io/outlookmobile>

On Mon, Jul 6, 2015 at 1:22 AM -0700, "Martin Törnwall" <notifications@github.com<mailto:notifications@github.com>

[2015-07-06 08:42] mtornwall commented on #2796
Basically I want to do something like this:

    async void Handle(Input.Foo input)
    {
        var result = await DoSomeWebRequests();
        this.Data.Foo = result.Foo;
        this.Data.Bar = result.Bar;
    }

I've tried to hack around this using an asynchronous `Http.GET`:

    void Handle(Input.Foo input)
    {
        Http.GET("http://some.site/some/path", null, null, (response, _) => {

[2015-07-06 12:13] mtornwall commented on #2796
@Starcounter-Jack

[2015-07-06 13:10] k-rus opened #2797 "Switch Windows pnext build project to use VS 2015"
The discussion about switching building pnext/DNX to VS 2015 was [here](https://github.com/Starcounter/CompanyTrack/issues/68#issuecomment-107837432). The conclusion is that it should be possible to build .NET 4.6 and .NET Core 5 versions of Starcounter in VS 2015.
VS 2015 contains features, which are extremely important for cross-platform code of QP.

QP group needs to know if the build projects

[2015-07-06 13:56] parherman commented on #2797
I understand this as QP group needs pnext to build in VS2015.

From now on PNext-Daily-Windows will build with VS2015/Boost 1.58, as a consequence it will only run on scbuildserver2

I will close this now - please open again if there are issues

[2015-07-06 13:56] #2797 closed

[2015-07-06 14:34] k-rus commented on #2797
:thumbsup:

[2015-07-06 18:07] miyconst opened #2798 "Administration panel: add "Database" link to AppStore page"
There should be a nice and easy way to get back to your database from AppStore page.

Currently I have to click on the *Databases* dropdown list and select my database. This requires two steps instead of one, moreover it is confusing, why should I choose my database if it is already chosen?

Things I suggest:

1. The dropdown should appear only if there are more than three databases, otherwise eac

[2015-07-07 06:47] andwah commented on #2798
I really like yout suggestions 1) and 2) i hope i get some time to implement them.

I think 3) is already there, it's the "House/Home" icon in the toolbar

![image](https://cloud.githubusercontent.com/assets/2656996/8540250/20a10054-2484-11e5-8ae5-06f8f5dd6681.png)

[2015-07-07 07:38] miyconst commented on #2798
This is not an urgent task, it should wait till you are back from the vacation.

3) Sorry, my bad, but could we improve the home button to look more clickable, not just an icon?

[2015-07-07 07:56] k-rus opened #2799 "Cannot build Blue from cmake"
I checked out branch 2779 and tried to build it using command line:

The solution generation works fine but build fails:

[code]

Can it be eventually fixed?

[2015-07-07 08:26] k-rus opened #2800 "Build on build server does not fail on compilation errors"
I run a [build](https://scbuildserver/viewLog.html?tab=buildLog&buildTypeId=Starcounter_WindowsPNextDaily&buildId=29397#_focus=44&state=44) on branch 2779 on the build server. The build succeeded. However, I can see in the build log number of errors:

[09:40:52]C:\BuildAgent\work\sc-2.0.151.7\level0\src\include\../systables/systables.hpp(138): error C3861: 'star_complete_delete': identifier not fo

[2015-07-07 08:34] miyconst opened #2801 "Application name can only contain letters, numbers and underscores"
It is a common practice to put projects of same solution into sub-namespaces. Something like:

- MainApplication;
- MainApplication.Database;
- MainApplication.SubApplication1;
- MainApplication.SubApplication2;
- MainApplication.SubApplication3;

But Polyjuice does not allow application with `.` (dot) in the namespace, such applications fail to start with the following error:

[code]

[2015-07-07 08:54] alexanderstc commented on #2756
Fixed the mentioned problems and similar ones which were found by converting the parser from C to C++.

[2015-07-07 09:27] alexanderstc opened #2802 "SQL parser issues"
- [x] Make the SQL parser on the pnext branch compile on Windows/VS2015 and Linux/GCC and pass unit test.
- [x] portably (re) implement ucs2 utility functions, just enough to port the parser to Linux
- [x] move QP's ucs2 funcs and unit test to star/ucs2 and tests/ucs2_unittest
- [ ] investigate how to properly clean memory context around calls to parse_query(),
  prompted by the difference: after

[2015-07-07 10:04] mtornwall commented on #2801
+1

[2015-07-07 10:16] dan31 commented on #2801
+1

[2015-07-07 12:28] alemoi commented on #2801
There were some reasons of not using the dot. Right now I don't remember exactly though :) Something with places where `StarcounterEnvironment.AppName` is used. Maybe @per-samuelsson remembers?

[2015-07-07 13:22] chrhol commented on #2796
I guess this might be due to the delegate for handling the response is executed after the request that calls the input-handler is finished.

This looks ok to me if you manually need to switch to a transaction that is already attached to the viewmodel.

One thing that came to mind is that I'm not sure if the response delegate is always executed on the same scheduler as called from. If not, then usi

[2015-07-07 15:06] parherman commented on #2800
I believe this this is fixed now, and if you run a build with 2779 the job will [fail](https://scbuildserver/viewLog.html?buildId=29400&buildTypeId=Starcounter_WindowsPNextDaily&tab=buildLog)

[2015-07-07 15:23] k-rus commented on #2801
@alemoi Thank you for mentioning this!
It might be even several reasons why identifiers are not allowed to contain dot. One is that dot is a separator between identifier and application name is an identifier, which was important for future SQL. I think this can be changed but this requires deep planning for DNX.

[2015-07-07 15:27] miyconst commented on #2801
Can the app name be different from it's namespace? I mean, what if the app name will be constructed as `Namespace.Replace(".", String.Empty)`?

[2015-07-08 07:39] k-rus commented on #2800
Thank you!
The build fails now.

It's difficult to find the error, so it would be great to investigate in future if visibility of the error can be improved. I add this point to Starcounter/CompanyTrack#72.

I close this issue.

[2015-07-08 07:39] #2800 closed

[2015-07-08 09:06] mtornwall commented on #2796
Running the requests synchronously is not an option for me as they can take on the order of seconds to tens of seconds. A similar problem occurs in the initial construction of the viewmodel. GET:ing synchronously there could potentially have the client waiting on a response for a minute (!) or more.

Is there any way of getting at the Starcounter scheduler so that I can manually submit tasks to ru

[2015-07-08 10:40] k-rus commented on #2799
I was providing the configuration build in an incorrect way. I should not give '-C', while I have to do it for 'ctest'. Can we fix that `cmake_vs.bat` has the same syntax as cmake?

[2015-07-08 12:37] chrhol opened #2803 "Invalid session sent from the gateway to the codehost even though a session exists."
When session is specified as parameter in the uri, the gateway sometimes overwrites correct sessioninfo in the datablob with invalid values which leads to an IncorrectSessionException in the codehost.

As far as I understand, this happens when the referer (or x-referer) headers have a value of a specific length.

The following condition will be true even though it shouldn't (in http_proto.OnHeader

[2015-07-08 13:01] alemoi commented on #2803
Thanks for reporting! I will take a look at this when have time!

[2015-07-09 09:44] alexanderstc opened #2804 "Is there a way to see the (error) output of a custom tool in VS?"
If, during the build of level0, an external tool such as metaschema_json2cpp fails and/or writes something to sdterr, is there a way to make it visible in the visual studio build output window?

If that requires any changes in the code of the tool itself, @alexanderstc will be glad to make such changes.

[2015-07-09 10:33] bigwad commented on #2804
Try to prepend output with prefix "error: "

[2015-07-09 17:36] miyconst opened #2805 "Starcounter & Puppet & Handsontable"
In my Polymer 1.0 demo application (https://github.com/PuppetJs/PuppetJs/issues/65) I tried to use Handsontable (http://handsontable.com/) and met some restrictions/limitations.

Here is the list of my questions/suggestions:

- How to define and fill plain data array for Handsontable in json view model?
- I can define an array inside json view model like `"Data": [""]`, but this will be array of s

[2015-07-09 18:45] alemoi commented on #2803
I went through the specs in https://github.com/Starcounter/Starcounter/issues/2713
and for `Referer` and `X-Referer` I follow the formats from there (e.g. `X-Referer: 35AA181932856ED910000000`).

[2015-07-09 19:47] alemoi commented on #2803
I just added the fix via 74870bc6a2a03ed955ac75079c1aa7ef569867b0 and Products are loading fine. But when I press `Add new product` I have an exception on the client: `throw new Error("Given version was already applied.");` in `json-patch-queue.js`

[2015-07-09 20:56] alemoi commented on #2803
Ok, after I added another patch 80d6afe8422cf0e69dcc187905455571f53f95fe to read `X-Referer` and `Referer` as "ends-with", then all started to work (no more JS error above). That however means that https://github.com/Starcounter/Starcounter/issues/2713 specification is not really correct (about `X-Referer: 35AA181932856ED910000000`) :)

Still would like to get some confirmation that stuff works :)

[2015-07-10 05:23] chrhol commented on #2805
I will try to answer your questions in order.

I can define an array inside json view model like "Data": [""], but this will be array of strings only.

If you want to have an array of different items you define it as an empty array, `"Data": []`, in that one you can put all different kinds of items.

Currently it's a bit bulky to work with primitive values in arrays. See #237.

No there is no way

[2015-07-10 07:46] chrhol opened #2806 "Specifying an array in an array in JSON-by-example doesn't work."
The following json raises an compiler-error

[code]

[code]

[2015-07-10 07:47] chrhol commented on #2805
Added a separate issue for the last comment, arrays in arrays: #2806

[2015-07-10 07:47] miyconst commented on #2803
@alemoi thanks. The build `2.0.3257.3` works good. I close the original issue and leave this one for you.

[2015-07-10 08:07] miyconst commented on #2805
@chrhol thank you for the answers. This issue is not something to fix, to change, to do immediately.

These points just indicate problems with Starcounter & Handsontable integration. Starcounter might/should not fix/support all of the points.

[2015-07-10 08:08] miyconst commented on #2805
I am not sure this is a bug, if client sends a replace patch to an array item which is not exists, then server exception happens:

[code]

[2015-07-10 08:21] eriohl commented on #2576
No longer relevant since scheduler has been replaced.

[2015-07-10 08:21] #2576 closed

[2015-07-10 08:29] eriohl opened #2807 ""Refresh" unused handle tables"
"Refresh" unused handle tables (or they will prevent storage memory GC).

Not properly working in the new application host. New solution required.

[2015-07-10 08:30] eriohl opened #2808 "pnext: Maintain snapshot isolation switching between transactions within context"
Maintain snapshot isolation switching between transactions within context.

[2015-07-10 08:37] eriohl opened #2809 "pnext: Support transferring transactions between contexts"
Support transferring transactions between contexts.

Different options to solve this is still being considered. Requirements are still somewhat unclear.

[2015-07-10 08:49] eriohl opened #2810 "PNEXT: Address issues with DAL memory management"
* Up front resource usage too high.

* Size limited to 256 GiB.

* Address space allocation is not working properly on Linux.

 Possible solution for this yet to be evaluated is using MAP_NORESERVE reserving address space)

* Memory cache reclaim not working in new application host.

* Not possible to combine moving memory blocks between non thread-safe memory pools.

 Problem if to move transacti

[2015-07-10 08:55] eriohl opened #2811 "Kernel support reading and writing strings in native format"
Kernel support reading and writing strings in native format (TurboText).

[2015-07-10 09:00] miyconst opened #2812 "Index was out of range exception - on client-server patch to replace entire object in an array"
Server throws the following exception if client tries to replace entire object in an array:

The patch:
[code]

The exception:
[code]

[2015-07-10 09:09] miyconst commented on #2812
I have created a laboratory branch in Images application. There is a `TEST` button on the main page.

Steps to test:

1. Insert at least one image and save it.
2. Navigate to the main page at http://localhost:8080/images.
3. Press the `TEST` button.

There should be the exception.

The button does the following action:
[code]

[2015-07-10 09:09] miyconst commented on #2812
The patch may be invalid from the server point of view, but the exception should be more informative.

[2015-07-10 09:10] miyconst commented on #2812
cc @chrhol

[2015-07-10 09:23] miyconst commented on #2805
Here is the issue with details of the previous error: https://github.com/Starcounter/Starcounter/issues/2812

[2015-07-10 13:34] alemoi commented on #2803
Thanks for response! Closing this one as well!

[2015-07-10 13:34] #2803 closed

[2015-07-10 15:38] k-rus opened #2813 "Test gets ignored instead of failing on the buildserver"
Created by @alexanderstc in Starcounter/CompanyTrack#83:

If, in the level0/src/tests/\metalayer_functest/CMakeLists.txt rename run_metalayer_functest.bat into whatever.bat, instead of failing on the build server the test gets ignored.

In general: it is important that build fails on everything that is not expected, instead of ignoring and succeeding build.

[2015-07-10 19:36] miyconst commented on #2812
Met same exception when trying to delete an image.

The patch:
[code]

This worked before, but stopped to work.

[2015-07-13 06:25] miyconst opened #2814 "Transaction.Rollback: The operation failed because of an invalid object access"
Trying to rollback transaction

[code]

causes this error:

[code]

cc @chrhol

[2015-07-13 07:10] miyconst commented on #2805
Looks like I can't replace entire array either. The following example does not work:

The model:
[code]

The patch:
[code]

[2015-07-13 07:53] chrhol commented on #2814
My first thought is that this is probably the same problem as in #2140

Puppets does not correctly handle databaseobjects that is deleted or does not exist anymore (which might happen if you create a new object and then rollback the transaction).

[2015-07-13 08:37] chrhol commented on #2796
Sorry for the late response. For some reason I do not get an email notification for updates in this thread.

This is an interesting case I think, and maybe not that uncommon. I see two things that needs to be solved:

- Handling the response from the external request inside a scheduler AND in the context of the correct session and viewmodel. We have an API for scheduling tasks that runs inside a S

[2015-07-13 10:15] chrhol commented on #2805
Sorry, I missed a word before. The client is only allowed to request a change for a single **primitive** value. That is a change for number, boolean or string. Replacing objects or arrays is not allowed.

[2015-07-13 13:45] dan31 commented on #2796
@chrhol, for some reason, I don't get notifications from SOME of Github threads either (and no regularity really), but I thought it is only my glitch. Since it isn't, that is a big warning sign. Maybe that's the consequence of recent months github ddos-es.

[2015-07-13 14:12] alemoi commented on #2796
About delayed responses you can read here: http://starcounter.io/guides/network/handling-responses/
"Delayed or explicitly handled responses".
So its supported.
Regarding running tasks with specific session we can add an API on Session. So far you can do the following (inside `RunAsync` delegate):

[code]

[2015-07-13 15:41] miyconst commented on #2805
Do we plan to add support for adding items for array with primitive values?

[2015-07-14 07:19] chrhol commented on #2805
Do you mean to add it on the server or support for the client to add it? As for the client it's a good question. An array of primitive values falls somewhere in between.

The basic criteria is that the client is not allowed to change anything at all in the viewmodel. It can suggest a change for the server to decide. For convenience we have implemented this as the client sets a value in the viewmod

[2015-07-14 07:48] mtornwall commented on #2796
Thanks for the input @chrhol and @alemoi!

I tried the solution @alemoi proposed above, but it didn't make any visible difference - i.e. still no change propagation to the client. I suppose this is explained by @chrhol's earlier remark:

I can easily extend my Puppet implementation to regularly exchange "empty" patches with the server. Would doing so cause the server to piggyback changes onto the

[2015-07-14 07:52] miyconst commented on #2805
Yes, I was asking about server side support.

I used exactly same approach.

Though in some situations it is very frustrating, for example a custom web component which does some logic over an array. The component has "Add" function. The function should be hacked or replaced to make the component work on top of Starcounter view model object.

Instead of inserting an item to the array it should pass

[2015-07-14 07:54] mtornwall opened #2815 "Middleware filters interfere with internal SC REST calls"
One of my applications installs a strict middleware filter to prevent unauthenticated clients from accessing any resource outside the `/authentication` namespace. Since I will run a known set of apps in a controlled environment I thought this would be okay, if a bit unorthodox. :-)

Unfortunately it seems that middleware filters also affect internal Starcounter REST calls. Effects include:

* `sta

[2015-07-14 07:55] miyconst commented on #2815
/sub

[2015-07-14 08:31] alemoi commented on #2815
Thank you for the question! Internal calls should not be affected at all. It must be a bug or something. If you can describe simple steps to reproduce, I can take a look!

[2015-07-14 08:41] mtornwall commented on #2815
Try this:

    Handle.AddFilterToMiddleware(request =>
    {
         if (request.Uri == "/works")
                return null;
         else return 401;
    });

Version is 2.0.3231.3.

By the way, the simplest way I've found to recover from this is to force scsqlparser.exe to quit, taking the rest of Starcounter down with it.

[2015-07-14 08:41] alemoi commented on #2795
Thank you for the issues. This works in the way how static files serving is currently implemented. I will think how to change this.

Other thoughts: I started to dislike the name "middleware filters" :) I was thinking to also add filters for outgoing responses, so I thought to have: incoming filters and outgoing filters. What do you think?

[2015-07-14 08:48] chrhol commented on #2785
I will change this. I'm doing some other stuff with patches and errorhandling on the server and this is a quite small change.

[2015-07-14 09:25] alexanderstc opened #2816 "flex/bison are needed for sql parser on linux build servers"
https://scbuildserver/viewLog.html?buildId=29482&buildTypeId=Starcounter_LinuxNextDaily&tab=buildLog

flex is missing, I'd assume bison is missing too.

[2015-07-14 14:25] k-rus commented on #2815
I would prefer that you rather use `staradmin kill all`

[2015-07-14 14:44] mtornwall commented on #2815
Thanks for the hint, I didn't know that command.

[2015-07-14 22:11] parherman commented on #2816
I installed flex and bison and the build passed, [build log](https://scbuildserver/viewLog.html?buildId=29487&tab=buildResultsDiv&buildTypeId=Starcounter_LinuxNextDaily)

Please verify and close this if it works!

[2015-07-15 01:26] alemoi commented on #2795
Ok, I just tested the modified way of codehost-dependent static file resources handlers and it seems working fine (I'm talking about adding custom 404 page). It also solves current big problem of removing static files paths from codehosts that died (now you need to restart the whole sc). It requires however that each codehost has a unique user port, which is a requirement nowadays anyway. Will pus

[2015-07-15 08:01] alexanderstc commented on #2816
Fix confirmed, closed #2816.

[2015-07-15 08:01] #2816 closed

[2015-07-15 08:38] chrhol commented on #2812
I have fixed the problem that led to the NullReferenceException that you described in the first comment (and the same for the delete).
I have also added a proper errormessage for sending a patch from the client that is not supported.

Both fixes are pushed to develop.

[2015-07-15 09:53] chrhol commented on #2796
Yes, the response will include all changes that have not yet been sent.

[2015-07-15 09:59] chrhol commented on #2785
I've pushed a fix for this now. A more correct errorcode is sent ot the client.

[2015-07-15 09:59] #2785 closed

[2015-07-15 17:40] #2769 closed

[2015-07-15 17:41] alemoi commented on #2723
Sorry for the late response. Is this still not working @miyconst ?

[2015-07-15 17:42] #2573 closed

[2015-07-15 17:42] alemoi commented on #2573
Closing the issue because of no evidence of this in the latest versions of Starcounter.

[2015-07-15 17:46] alemoi commented on #2246
I think this issue was fixed during the last month. Closing.

[2015-07-15 17:46] #2246 closed

[2015-07-15 17:47] alemoi commented on #1887
Closing this issue. It was probably fixed recently.

[2015-07-15 17:47] #1887 closed

[2015-07-15 17:48] alemoi commented on #2196
This problem should be automatically fixed during recent major changes. X is gone and replaced with Self and Http.

[2015-07-15 17:48] #2196 closed

[2015-07-15 17:50] alemoi commented on #1779
This was completely changed when I created a all-in-one batch script. So this should already work for a while.

[2015-07-15 17:50] #1779 closed

[2015-07-15 17:53] alemoi commented on #33
With the help of @eriohl this was fixed long time ago. Closing the issue.

[2015-07-15 17:53] #33 closed

[2015-07-15 17:56] alemoi commented on #2020
I think this is no longer relevant since we started to always install into existing server directory meaning that there is no such message box anymore. Thanks for the input anyways!

[2015-07-15 17:56] #2020 closed

[2015-07-15 17:57] alemoi commented on #739
Reassigning this to @parherman Thank you!

[2015-07-15 17:59] alemoi commented on #732
Closing this two-years issue. Not sure what was the problem. Will get back to it if it pops up.

[2015-07-15 17:59] #732 closed

[2015-07-15 18:04] alemoi commented on #2326
This is most probably fixed recently. Closing the issue.

[2015-07-15 18:04] #2326 closed

[2015-07-15 18:05] alemoi commented on #2390
Most probably this is no longer relevant. And the build log is not available anymore. Closing the issue.

[2015-07-15 18:05] #2390 closed

[2015-07-15 18:06] alemoi commented on #2443
Reassigning this issue to @parherman
Let me know if you want to discuss this.

[2015-07-15 18:18] alemoi commented on #2752
I have changed the architecture behind the static file handler. Now each codehost owns its static file handler (which sits on user port for that codehost). This architecture automatically solves the above and some other problems. Done via cedf011b66a3b737c6de621c76f3ea8e3dd60427
Feel free to open this issue if you have any problems.

[2015-07-15 18:18] alemoi commented on #2795
I have added some experimental code in `Handle.AddOutgoingFilter` and `Handle.SetCustomResourceNotFoundResolver` via cedf011b66a3b737c6de621c76f3ea8e3dd60427
An example of a 404 page can be found in: https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Administrator/Server/Program.cs#L104

[2015-07-15 18:18] alemoi commented on #1832
I have changed the architecture behind the static file handler. Now each codehost owns its static file handler (which sits on user port for that codehost). This architecture automatically solves the above and some other problems. Done via cedf011b66a3b737c6de621c76f3ea8e3dd60427

[2015-07-15 18:18] #1832 closed

[2015-07-15 18:18] alemoi commented on #1804
I have changed the architecture behind the static file handler. Now each codehost owns its static file handler (which sits on user port for that codehost). This architecture automatically solves the above and some other problems. Done via cedf011b66a3b737c6de621c76f3ea8e3dd60427

[2015-07-15 18:18] #1804 closed

[2015-07-15 18:38] alemoi opened #2817 "Public web folders should be adopted to new schema"
Since I changed that each codehost now owns its static file handler (not like it was before that Administrator owned all static file handlers), now each codehost have their handler `/staticcontentdir` on its port. Because of that, right now Administrator in Network tab `Public web folders` shows only 8181 port folders but should go through each codehost default user port number and execute on it `

[2015-07-15 19:24] alemoi commented on #2815
I checked the problem and the behavior is expected with the example filter that you gave. The problem is that there are system and other handlers that are getting filtered as well, which prevents their normal work. We have to refactor our system code so all handlers are starting for example with specific prefix `/sys/...` But this is not done yet! However even now its possible to exclude most of s

[2015-07-15 22:02] dan31 commented on #2769
akbaqka.dll isn't solved yet. @Ripipip, can you make a separate issue for it?

[2015-07-15 22:06] dan31 commented on #2246
@alemoi, what was the related issue number?

[2015-07-15 22:11] alemoi commented on #2246
I'm not sure if @chrhol created an issue related to some problem in JSON serialization because that was the cause of the issue, as I understood. @chrhol what do you think?

[2015-07-16 07:28] miyconst commented on #2723
Previously it returned wrong value, and now it throws an exception:

[code]

Throws:
[code]

[2015-07-16 07:43] miyconst commented on #2817
/sub

[2015-07-16 07:56] miyconst commented on #2812
The response for an incorrect patch is good for http request:

[code]

But not for WebSocket, which simply accepts the patch with no answer at all.

[2015-07-16 08:25] chrhol commented on #2812
When I run websocket I get this text in the console output, no other notification though:

![ws_err](https://cloud.githubusercontent.com/assets/1658979/8718471/ecc2dc80-2ba4-11e5-8c9f-43058cc50d2d.jpg)

[2015-07-16 08:29] miyconst commented on #2812
Okay I check it again.

[2015-07-16 11:48] miyconst commented on #2812
Yes. The exception is visible. Closing the issue.

[2015-07-16 11:48] #2812 closed

[2015-07-16 12:39] miyconst commented on #2752
This issue is fixed, but another one appeared:

Launcher has some content which replaces `/sys/` content. After restarting launcher Starcounter server always returns file from `/sys/` folder in spite of Launcher has same file.

The file: `http://localhost:8080/sys/polyjuice-include/polyjuice-include.html`

Without Launcher should look like this: https://github.com/Polyjuice/polyjuice-include/blob/

[2015-07-16 15:48] alemoi commented on #2752
Thanks for reporting! Ok and look up is done on the same port. That's probably a different issue, I guess related to the order in which folders for files are looked up. Just prpbably by luck we didn't have that before. I will check this tonight!

[2015-07-16 20:12] alemoi commented on #2752
Big time thanks for reporting and concrete reproduction steps! Should be fixed via f2a8c11586254f9b1196b88dac15991aa0494734
Let us know if anything.

[2015-07-17 07:41] miyconst commented on #2752
Thank you for quick fixing, it works now.

[2015-07-17 07:41] #2752 closed

[2015-07-17 07:48] mtornwall opened #2818 "Incorrect value in request.BodyBytes when body contains non-ASCII values"
tl;dr: POST:ing binary data containing values outside the ASCII range to a Starcounter handler produces an incorrect value in `request.BodyBytes`.

Steps to reproduce:

1. Set up a simple post handler like:

        Handle.POST("/post", (Request request) =>
        {
            return 200;
        });

    And set a breakpoint on the return line.

2. POST some binary data to the server using curl

[2015-07-17 09:44] alemoi commented on #2818
Thanks for thorough description! I will take a look at it!

[2015-07-18 00:22] alemoi commented on #2818
Fixed via 9945436d21dd628fea8f688301f315a67e58d7d7
It was the order how body bytes were created (they were created from the body string if it existed, so I changed that).
However we don't check for correct UTF8 sequences.
Here is an example demonstrating the problem:
[code]
And one more remark, in Windows for Curl to send the binary character the only way I found is through the file:
`curl -v -X P

[2015-07-18 00:22] #2818 closed

[2015-07-18 10:47] mtornwall commented on #2815
That's good enough for my needs! Thanks.

[2015-07-18 13:28] alemoi commented on #2815
I have another idea I came up tonight, to skip all system handlers automatically. Will check if it works and get back to you. So far use the above solution.

[2015-07-19 23:48] alemoi opened #2819 "All Starcounter system handlers should be prefixed"
All Starcounter system handlers should be prefixed, for example, with `/sc/`. Right now we have several prefixes: `/codehost/`, `/_`, `/polyjuice/`.
Let's come up with a good prefix name and change each code part responsibly.

[2015-07-20 00:00] alemoi commented on #2815
Ok, I was working on the idea that system handlers should be automatically skipped from middleware filters by default. This seems to work fine! I have removed the `Handle.IsSystemHandlerUri`. So please check the latest https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/Api/LauncherHelper.cs for changes.
This means that your original filter should work now:
[code]

Any input would be ap

[2015-07-20 12:26] warpech commented on #2815
We will explain `staradmin kill all` on the .io website. Thanks for mentioning this.

[2015-07-20 12:31] warpech commented on #2795
Discussed with @alemoi. The original problems can be fixed this way:

1. Not a global filter, but a wildcard handler can be used: `Handle.OPTIONS("/people{?}")`
2. 404s in current app can be solved with `Handle.GET("/people{?}")`. Global 404s can be done with `SetCustomResourceNotFoundResolver` (needs better name)

@alemoi will explain this on the .io website (I will create separate issues for tha

[2015-07-21 09:23] mtornwall commented on #2815
Will I get this if I grab the latest daily build?

[2015-07-21 14:28] alemoi commented on #2815
Latest nightly I would say :)

[2015-07-21 15:58] warpech commented on #2148
The same error still happens, with almost an empty project.

![image](https://cloud.githubusercontent.com/assets/566463/8805513/de962ff0-2fd1-11e5-80f2-5c268d2d4fd3.png)

My config: Windows 8.1, VS2012, Starcounter 2.0.3268.3

@miyconst says it also happens to him

[2015-07-21 16:00] warpech commented on #2148
Downloading and installing the solution posted by @dan31 does not solve the problem

[2015-07-21 16:59] miyconst commented on #2571
@chrhol can I set dynamic properties like this?

[code]

On the client side I get an array with objects `{ Length: int }`, instead of array with strings.

[2015-07-22 07:22] dan31 commented on #2148
@warpech, this is a new behaviour. But if you restart VS and create new project, the same happens? @chrhol, what do you think?

[2015-07-22 07:32] chrhol commented on #2148
Maybe we can try to use the nuget package for this project. I will update it during the day.

[2015-07-22 07:35] chrhol commented on #2571
@miyconst: Not sure why this isn't working, maybe we depend on some interface that the array does not implement. I will take a look.

In the meantime you can use a `List<string>` instead and fill it with the string you want. That one I know works.

[2015-07-22 07:59] miyconst commented on #2571
@chrhol thank you for the answer, but `List<string>` also didn't work for me. I will double check it again.

[2015-07-22 08:25] miyconst commented on #2571
No, `List<string>` does not work either.

[code]

![image](https://cloud.githubusercontent.com/assets/6435556/8821176/56bd5f0c-3064-11e5-83af-e9ff941172b0.png)

[2015-07-22 08:37] chrhol commented on #2571
Thanks for trying. I will investigate.

[2015-07-22 08:52] miyconst opened #2820 "Dynamic Json and unsupported types"
I met the following limitations with dynamic json, not sure it is a bug though.

### Response type
[code]

[code]

### Dynamic type
[code]

[code]

@chrhol take a look, please.

[2015-07-22 08:59] miyconst commented on #2820
Looks like I can't assign value of any class type, not only dynamic type.

[2015-07-22 09:16] warpech commented on #2148
Steps to reproduce are super simple for me:

1. Create a new project in VS2012
 - creates `Program.cs`, builds OK
2. Use solution explorer to add "Starcouter Typed JSON with Code-behind"
 - creates `Message1.json` and `Message1.json.cs`, build fails with the error message:

[code]

[2015-07-22 09:40] chrhol commented on #2820
I start with how it works at the moment.

**Response type**: Json have implicit conversions between Response and Json which means ordinarily you don't need to convert a Response to Json when used with for example `Self.GET`. However when used as dynamic you have to manually cast the response to Json to make it work.

[code]

**Dynamic type**: The use of dynamic Json does not work with single objec

[2015-07-22 10:21] chrhol commented on #2571
I meant thanks for testing, not trying in the comment above :)

Anyway, I have reproduced this behaviour. Will debug and see what the problem is.

[2015-07-22 10:24] miyconst commented on #2820
So, the main restriction is that dynamic json may contain properties with primitive types. The objects should be of type `Json`. Right?

I have a class:

[code]

And dynamic json:

[code]

This throws the following exception:

[code]

[2015-07-22 10:34] chrhol commented on #2820
The problem is that the Jsonobject is just a proxy-object, so you cannot create a class that inherits json and add properties like this. You need a Template defining the values and then the properties in the Json-class use the template to get and set the value.

The actual value/s is not necessarily stored on the instance, but it's decided based on the template and underlying storage.

For example

[2015-07-22 10:45] chrhol commented on #2820
Actually, I don't get the exception you get. I just get an empty json.

Could you paste the whole bit you are running when you get this?

[2015-07-22 10:46] miyconst commented on #2820
Thank you for the explanation. Looks like creating typed json is much simpler then manually fill template.

[2015-07-22 10:52] chrhol commented on #2571
Found the problem. Working on a fix.

[2015-07-22 10:54] miyconst commented on #2820
You can take the whole project: https://github.com/Polyjuice/Website

Uncomment two lines:
[code]

Navigate to `http://localhost:8080/website/team/konstantin`.

[2015-07-22 11:56] chrhol commented on #2148
I tried to change the reference and F# build tools to use nuget packages instead and locally it seems to be working fine, however I'm not sure how to download needed nuget packages on the buildservers. The problem might be, I guess, that the F# build tools need to be downloaded before the project can be opened (dependency on a .targets file). Not sure how this is solved for other cases.

I saw the

[2015-07-22 12:59] alemoi commented on #2148
For now we can manually upload Nuget packages to buildserver FTP: ftp://scbuildserver/... Somewhere there their is a packages folder containing existing Nuget packages. I was uploading my working version of packages from Level1/src/packages I think.

[2015-07-22 13:25] warpech commented on #2787
I tried to install the VS 2015 extension manually, but there no `Starcounter.VS14.vsix` in `%StarcounterBin%` (using Starcounter 2.0.3268.3). Was it ever included in the installation?

[2015-07-23 07:47] chrhol commented on #2148
Thanks for the help @alemoi and @parherman. I copied the needed packages to the ftp and it seems to be working. I will test and see that the installed version works as it should as well before pushing any changes.

[2015-07-23 08:51] chrhol commented on #2148
Everything seems to be working fine. I've pushed the changes to develop now.

NOTE: For those that build level1 the first time after this change you will need to do a couple of steps since the F#-project depends on a targets file, so it cannot be loaded until the f# build tools are downloaded.

1. Open Level1 solution
2. Run nuget package restore (The needed nuget is `FSharp.Compiler.Tools for F#

[2015-07-23 09:49] chrhol commented on #2148
Was a bit too fast here, I noticed that for some reason running fsharp tools (fsc.exe) from nuget on scbuildserver fails, but works fine on scbuildserver2.

[code]

@alemoi, @parherman: Do you have any idea what could be different between scbuildserver and scbuildserver2? It's a bit strange since it works fine in some places. One thing I can think of is that on scbuildserver2 there are no `FSharp.

[2015-07-23 09:52] chrhol commented on #2148
Ohh sorry, my bad. scbuildserver2 (and my computer) actually had 4.3.1.0 in gac, so most likely some mixup in loading the correct version on scbuildserver. I hate the gac...

[2015-07-23 15:23] alemoi commented on #2148
So if the DLL is not in GAC but in packages than VS cannot find it during the build?

[2015-07-24 07:51] chrhol commented on #2148
Yeah, still trying to find a correct solution. For now I added the needed dll to gac on the buildserver just to make the builds work. It looks like the FSharp.Core.dll in the f# tools package is only delay-signed and you actually get an exception running fsc.exe (the F# compiler). Maybe there is something I missed.

[2015-07-26 20:24] alemoi commented on #2815
How is the situation now? Is it working properly? Please close the issue if it is.

[2015-07-26 20:32] alemoi commented on #2795
`SetCustomResourceNotFoundResolver ` is now gone again and replaced with new schema. I described the new schema in blog post and network guide: http://starcounter.io/guides/network/handling-responses/

[2015-07-26 20:39] alemoi commented on #2723
I appreciate your response! Will check this tomorrow!

[2015-07-26 22:32] mtornwall commented on #2796
For the record, the solution I ended up using is this:

1. The asynchronous operation is initiated, at the client's request, by triggering an internal handler using an asynchronous `Http.POST`.
2. When the asynchronous POST returns, the result is applied to the viewmodel by attaching the session as suggested by @alemoi and entering a transaction scope.
3. In order to refresh the client, I have set

[2015-07-26 22:34] mtornwall commented on #2815
Apologies - I had forgotten about this while working on other things. It seems that the download page is down at this time, but I'll take it for a spin tomorrow and see if I can reimplement my original filter without breaking things.

[2015-07-27 05:23] miyconst commented on #2795
Good guide :+1: . I have fixed a couple of typos.

[2015-07-27 06:22] miyconst commented on #2820
Another exception when trying to assign an array value to a dynamic json.

[code]

[code]

Some reading:
https://msdn.microsoft.com/en-us/library/dd799517(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/dd997386(v=vs.110).aspx

[2015-07-27 07:24] miyconst commented on #2820
And another exception:

[code]

[code]

[2015-07-27 07:41] miyconst opened #2821 "Why substitute handler returns null?"
I have a substitute handler:

[code]

Where `ContainerPage` is a Json View Model class, `sectionJson` is an instance of a Json View Model class, `Rows` is an `Arr<Json>`.

In this example `json` variable is always `NULL`, regardless of what substitute action returns.

cc @chrhol, @warpech

[2015-07-27 07:49] dan31 commented on #2815
Working on that now

[2015-07-27 07:53] alemoi commented on #2821
Thanks for the question. I should probably look at this. Do you have your project online or easy steps to reproduce?

[2015-07-27 08:01] mtornwall commented on #2815
The administrator now works correctly alongside my middleware filter (which still filters user requests, as intended). Case closed. Thanks @alemoi!

[2015-07-27 08:01] #2815 closed

[2015-07-27 08:13] miyconst commented on #2821
I pushed full source code to a branch: https://github.com/Polyjuice/Website/tree/playground

The solution is a bit of a mess right now, but should be enough to see the error. Set a break point here: https://github.com/Polyjuice/Website/blob/playground/Website/Website/Program.cs#L91 and navigate to `http://localhost:8080/website/team`.

[2015-07-27 10:44] alemoi commented on #2821
Big thanks for reporting. The issue should be solved via 8444e23bfbab0c752b32567f9312e745c3c576ae
The problem was in static file handler changes: static file handler now responds with 404 non-null response which was considered a normal response. Now I have to filter out 404 internal response specifically, which seems to work fine now. Let me know!

[2015-07-27 16:54] miyconst commented on #2821
Confirm the fix in the 76 & 78 builds, the 77 has a bug.

[2015-07-27 16:54] #2821 closed

[2015-07-28 06:59] chrhol commented on #2820
I've been going through the dynamic parts of Typed Json and I think we need to review and rework all parts so that it works as we want. I have found a lot of stuff that simply does not work or is just confusing.

The problems in both these exceptions above is that the array (`Arr<T>`) is created directly and then set as a property on an jsonobject, or I should rather say the problem lies in the im

[2015-07-28 07:03] chrhol commented on #2148
I think that the correct solution is to move away from using F#. There is only one project that uses F#, and that is used to parse the Json-by-example file and using an interface have callbacks to methods that creates a Template. This could be implemented in C# instead.

[2015-07-28 07:22] miyconst commented on #2820
Thanks for looking into this, for now I went with a solution with type json view model.

[2015-07-28 12:28] mtornwall opened #2822 "Allow Db.Transact delegates to return values"
I want to initiate a write transaction that returns a value that depends on the object written, such as its ID. Presently it seems that this cannot be done using `Db.Transact()`, so my workaround is this:

    Db.Scope<string>(() => {
        var foo = new Foo();
        // ...
        Transaction.Current.Commit(); // :-(
        return foo.GetObjectID();
    });

If `Db.Transact()` could propagat

[2015-07-28 13:57] dan31 commented on #2148
@chrhol, that'd be reasonable. Do you think we can reuse some ready-made well-proven parser written in C# and hook into it a bit to do the Template logic?

[2015-07-28 22:29] alemoi commented on #2148
I installed VS 2015 community edition and had problems building Level1 after that, in particular, the F# project ("fsc task was not found"). I've spent some time trying to resolve the issue and ended up installing FSharp tools ver 4.0.0.1 instead of v 3.x that is now used. I'm testing VS plugin installation locally now, but possibly it wil cause problems later. Just sharing my experience :)

[2015-07-29 09:06] alemoi commented on #2148
So I added FSharp.* packages ver 4.0.0.1 to build server FTP. scbuildserver2 builds fine. scbuildserver in comparison throws: `ScErrWeaverFailedStrongNameAsm (SCERR2143): A locally deployed strong-named assembly was detected. Assembly: FSharp.Core, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a. Consider excluding this file by adding a "weaver.ignore" file to your project.` @chr

[2015-07-29 09:09] chrhol commented on #2148
It was the same problem as I had on scbuildserver (scbuildserver2 worked fine). I added the dll manually using `gacutil`

[2015-07-29 09:29] alemoi commented on #2789
I have finalized the started work and VS 2015 extension is now available in installer.

[2015-07-29 09:29] alemoi commented on #2787
I have finalized the started work and VS 2015 extension is now available in installer.

[2015-07-29 09:32] alemoi opened #2823 "Breakpoints are not working in VS 2015 Starcounter application"
Since I just finilized adding VS 2015 extension (using VS 2015 community edition), I tried a simple application:
[code]
Everything starts fine, but breakpoints never work, because symbols were not loaded. I tried starting the same app in VS 2012 using same installation and it works fine. Assigning to @per-samuelsson so far.

[2015-07-29 09:33] alemoi commented on #2148
Thanks. I switched now the FSharp project to use Fsharp.* packages version 4.0.0.1. Both build servers are building fine now. Those who use Level1 will have to do nuget packages update, as @chrhol described above.

[2015-07-29 09:35] alemoi commented on #2823
Maybe its because of community edition? Some debugging limitations?

[2015-07-29 11:29] chrhol commented on #2148
I have not spent that much time into looking into existing parsers, but I guess we could use parts of Json.Net (newtonsoft). They seem to have a `JsonTextReader` class that can be used to enumerate json from some input. I've only tried it briefly and not sure it supports all that we need but maybe. I guess it depends on how standalone we want the XSON project to be.

The other option is to write a

[2015-07-29 14:26] dan31 commented on #2823
@parherman, what version of VS did you use when tested? Maybe some deviation between 2015 and 2015 RC?

[2015-07-29 15:29] parherman commented on #2823
I have not tested breakpoints

[2015-07-29 22:09] alemoi opened #2824 ""No connection to Prolog Server" when debugging in Visual Studio"
By some reason if I put Debugger.Launch() before the first Db.SQL call, then almost every time I get "no connection to Prolog Server" exception. However if I put the Debugger.Launch() after the first SQL call - then everything is fine. Maybe its somehow related to debugging session that disturbs the communication with Prolog?

[2015-07-29 22:11] alemoi commented on #2823
@dan31 tested with RC VS 2015 and the problem persists. Maybe there are some new flags that extension should pass to VS 2015 in order to enable symbol loading or something? @per-samuelsson what do you think about this?

[2015-07-30 11:21] Ripipip commented on #2793
This error is stupid. It comes up now and then and forces us to make strange workarounds.

For example:
(1) works perfectly but (2) does not work
1. Handle.GET("/adfenix/test/any/view/{?}", (string id, Request request) =>
2. Handle.GET("/adfenix/atest/any/view/{?}", (string id, Request request) =>

[2015-07-30 13:18] dan31 commented on #2793
@alemoi, any good ideas? Looks like @Ripipip's case is 100% reproducible.

[2015-07-30 14:51] alemoi commented on #2793
I have the file with URI from @Ripipip that reproduces the error. We just need to sit on it. Sorry, for delay @Ripipip

[2015-07-31 07:26] eriohl commented on #2807
Plan: Move handle tables to shared memory and allow both host and PM to synchronize. Should bring pretty much no overhead compared to old solution and make synchronization more snappy in case of unused handle table.

Host needs however to release ownership of handle table when snapshot need no longer to be maintained. Which is basically when no transactions with snapshot isolation is running withi

[2015-07-31 15:19] alemoi commented on #2793
We have identified the issue with the help of @Starcounter-Jack
The fix will be available with the following nightly build! Thank you for the bug report @Ripipip!

[2015-07-31 17:24] miyconst commented on #2820
Unable to set value of a dynamic json, if it was initialized with json string:

[code]

[code]

This is probably not a bug, but I still expect it to work.

[2015-08-01 06:19] miyconst opened #2825 "Setting Json.StringArray.Data does not set values"
I have a json view model:

[code]

Then in code I set data for it:

[code]

And this is what I got on client side:

![image](https://cloud.githubusercontent.com/assets/6435556/9020864/39e56092-382e-11e5-9311-42bb1fddda65.png)

The array items are there, but the values are not.

cc @chrhol, @alemoi

[2015-08-03 07:10] per-samuelsson commented on #2823
Have no idea to be honest. Maybe something changed in how the debugger attaching API's work, that we need to reflect in the extension DLL. Or maybe symbols are loaded differently (like lazy or whatever), and we need to adapt in some way.

Its fine to assign it to me. Hopefully I can take a look at some point during the ucpoming days.

[2015-08-03 07:12] per-samuelsson commented on #2787
:+1:

[2015-08-03 07:23] per-samuelsson commented on #2801
I remember we had quite a few discussions about it, and I'm quite sure there were some issue too. But I dont remember the core reason. I *think* it had to do with polyjuice/launcher and/or possibly handler registration, and I'm quite sure it was not me that finally implemented the restriction.

Maybe look in git history for the commit that implemented the relevant error messages to find some clue

[2015-08-03 08:31] eriohl commented on #1198
Addressed in **pnext**.

[2015-08-03 08:32] #1198 closed

[2015-08-03 08:33] #792 closed

[2015-08-03 08:34] eriohl commented on #792
Addressed in **pnext**.

[2015-08-03 08:35] eriohl commented on #1066
Related to #2810

[2015-08-03 08:59] per-samuelsson opened #2826 "Can not build Level1"
![image](https://cloud.githubusercontent.com/assets/2902045/9034222/480a8c32-39ce-11e5-8ceb-cbadabc35345.png)

Trying Develop and have been pulling down the latest bits early this morning, after being back from vaccation. Restoring packages seem not to help. Any one with an idea?

[2015-08-03 09:38] Ripipip opened #2827 "Access violoation"
I am running into this error without being able to figure out exactly why.

Access violation (C0000005) detected at ..\..\src\sccoredb\sccoredb\sccoredb.cpp:2524 (Thread 17888). 000000592A687A36 sccoredb!determine_separately_stored_value_and_calc_record_sizes : pw_calcpropins.cpp (185) 000000592A688070 sccoredb!calc_fragmented_record_size_and_header_properties_update : pw_calcpropupd.cpp (155) 000

[2015-08-03 11:17] alemoi commented on #2826
Here is the related issue: https://github.com/Starcounter/Starcounter/issues/2148
For me restoring didn't help either. Try either of two:
1. Manually install FSharp.Compiler.Tools and FSharp.Core version 4.0.0.1
2. Or copy corresponding packages from buildserver FTP: ftp://scbuildserver/SCDev/ThirdParty/packages/

[2015-08-03 11:24] per-samuelsson commented on #2826
This worked out perfect. Thanks @alemoi!

[2015-08-03 11:24] #2826 closed

[2015-08-03 13:11] per-samuelsson commented on #2789
Then we can close this, right?

[2015-08-03 13:14] #2789 closed

[2015-08-03 13:47] miyconst opened #2828 "Broken layout for SQL results with long text values"
I have a table with long string values, selecting such values from administrator panel causes broken layout in handsontable.

![image](https://cloud.githubusercontent.com/assets/6435556/9038639/87d183ea-39fe-11e5-8c7e-4782298a4bd5.png)

![image](https://cloud.githubusercontent.com/assets/6435556/9038661/ac29e340-39fe-11e5-820c-80adfca8c25f.png)

- The table should not overflow its container, inste

[2015-08-03 14:46] warpech commented on #2828
Will forward this to @budnix

[2015-08-04 06:55] per-samuelsson opened #2829 "Support Starcounter.Extensions classes when running star.exe with source code"
When passing source code to `star.exe`, its currently not possible to reference the new `Starcounter.Extensions` classes. This need to be supported.

CC @alemoi

[2015-08-04 07:10] k-rus commented on #2160
I am wonder which encoding is implemented in TurboText for TypeId? This is important, since meta-layer needs to generate proper set specifiers.
@linkdata Can you point to specification or source file, which describes the encoding? I need to know supported characters and the order.

[2015-08-04 07:22] linkdata commented on #2160
For TurboText3, in `level0\src\Turbotext\TurboTextGenerator\Collations\Collation_X_TypeID.xml`.
For TurboText4, in `level0\src\turbotext4\src\generator\Collations\Collation_X_TypeID.xml`.

[2015-08-04 07:23] k-rus commented on #2160
Thank you. Which one is used in pnext? Or is there difference between the versions, which affects me?

[2015-08-04 07:31] linkdata commented on #2160
The collation definition files are identical. Both TT3 and TT4 should be built for `pnext`, which generates the `TurboText_x-tid_3.dll` and `TurboText_x-tid_4.dll` libraries. Which one is used depends on the kernel code that loads it. I *think* it's defined in `level0\src\include\sccorever.h`. @eriohl would know for sure.

[2015-08-04 08:32] miyconst opened #2830 "Mapping to "/" causes: A stack overflow has been detected."
Steps to reproduce:

Checkout the playground branch of Website project: https://github.com/Polyjuice/Website/tree/playground

Run Website application and navigate to `http://localhost:8080/`.

Full exception text from administrator log panel:
[code]

Version of Starcounter:

[code]

@alemoi take a look please.

[2015-08-04 08:35] per-samuelsson commented on #2829
This is now done, all commits merged and pushed in https://github.com/Starcounter/Starcounter/commit/dc38d38bc41e96a97644916e99d739300e3cee3d.

Can be verified by running `staradmin +` and then add the following to the generated `app.cs` file:

[code]

The run it with `star app.cs`.

@alemoi, please confirm this works like you want it to, and then we'll close this.

[2015-08-04 09:53] eriohl commented on #2160
STAR_SETSPEC_STRING_FORMAT in sccorever.h = TurboText_x-tid_3.DLL

There is some compatibility issue with TT4 (can't remember what exactly) so it is never used.

[2015-08-04 09:58] per-samuelsson commented on #2829
After some discussion with @alemoi, we have decided to futher extend this a little. We will change `star.exe` to include *any* class library found in `LibrariesWithDatabaseClasses` as a reference when passing source code, not only `Starcounter.Extensions` library. I will do this as part of this issue.

[2015-08-04 10:45] alemoi commented on #2830
Thanks for reporting! I took a look and the problem seems to be in Json code:
![image](https://cloud.githubusercontent.com/assets/208134/9059019/87dabc64-3aa6-11e5-925b-a3897fdb2943.png)
I will look further but not sure if I will succeed fixing the issue because its in Json. @chrhol what do you think about this one?

[2015-08-04 10:48] k-rus opened #2831 "Implement SetSpecifier"
To be able to add retrievable records set specifier needs to be allocated. For this table SetSpecifier is created, which maps types and already allocated set specifier. A set specifier or TypeId is a string with a special format. See [this comment](https://github.com/Starcounter/Starcounter/issues/2160#issuecomment-127505943) for formal specification and [this comment](https://github.com/Starcount

[2015-08-04 11:14] miyconst commented on #2828
Steps to reproduce:

1. Check out Website project, playground branch: https://github.com/Polyjuice/Website/tree/playground.
2. Run the project.
3. Navigate to `http://localhost:8080/website`.
4. Go to admin panel `http://localhost:8181/#/databases/default/sql`.
5. Execute the following SQL:

[code]

[2015-08-04 11:26] miyconst commented on #2830
I have commented out the line to keep project in working state.
This line should be un-commented to test the issue:

https://github.com/Polyjuice/Website/blob/playground/Website/Website/Program.cs#L94

[2015-08-04 11:39] warpech commented on #2658
This is tracked in https://github.com/Starcounter/Starcounter/issues/166

[2015-08-04 11:40] warpech commented on #1813
It is desired to do all CRUD operations in the Administrator (INSERT, SELECT, DELETE, UPDATE) if possible. Currently only SELECT is supported.

The development is tracked in: https://github.com/Starcounter/Starcounter/issues/166

[2015-08-04 12:12] alemoi commented on #2830
Here is the issue:

If I run without map "/ <-> /website", then if I go to "http://127.0.0.1:8080/website" in browser, the handler "/website" is not called (middleware filter returns a filtered request and never calls /website), but instead a substitute handler is called.

However, if I run with map then "/website" is called AND a substitute handler, so it merges, which I guess later causes proble

[2015-08-04 12:20] dan31 commented on #2827
Thanks for reporting @Ripipip, can you give more details? How much space left on disk, swap file configuration, memory consumed?

[2015-08-04 12:28] Ripipip commented on #2827
Hundreds of GB left, not much memory consumed at all, swap file is 60GB. I can't detect anything really. No spike in CPU usage, no increase in memory consumtion.

[2015-08-04 12:40] per-samuelsson commented on #2829
This is now also done, merged and pushed in https://github.com/Starcounter/Starcounter/commit/59b226ea8a739cec7e23c84b6d8e96c0cc5e6c2d, ready for @alemoi to test further.

[2015-08-04 12:59] miyconst commented on #2830
@alemoi thank you for the investigation. Let's meet on HO so I can explain what is in there and what for.

[2015-08-04 14:01] jansiegel opened #2832 "Error during Starcounter installation: -1073741819"
While installing Starcounter on Windows 10 (64-bit) on VirtualBox, I got this error:

![pastedgraphic-1](https://cloud.githubusercontent.com/assets/7397134/9062129/b60cefa2-3ac0-11e5-86ab-68c1b0240033.png)

I've used:
- VirtualBox v. 4.3.30 r.101610
- Windows 10 iso
- Starcounter versions 2.0.3286.3 and 2.0.0.0
- fresh Windows install (no Visual Studio)

**VirtualBox config:**
* memory: 4096 MB
*

[2015-08-04 14:29] dan31 commented on #2827
I asked @Ripipip to check with the latest version. @eriohl, maybe you can advise how to make use of PDBs (they are included in the distribution) in that case to deliver more failure info info to the issue report? This is a local machine case and is well reproducible, so we have more freedom to operate.

[2015-08-04 14:40] eriohl commented on #2827
If it is reproducible then please let me know how to and I'll look into it?

[2015-08-04 14:51] alemoi commented on #2832
Thank you for reporting! Do you get this right after starting the installer? You probably don't see any setup windows?
And yes, we will definitely test on Windows 10!

[2015-08-04 15:11] dan31 commented on #2827
@Ripipip, maybe you can provide access to @eriohl to your machine via RDP?

[2015-08-04 15:18] eriohl commented on #2827
No. Send me what I need to reproduce it and instructions on how. Then I can run it through a debugger and figure out what is wrong. Bug in the kernel most likely.

[2015-08-04 17:21] miyconst opened #2833 "Import/export from administrator panel"
### Export

By @warpech:

This seems easy and can be done with Web Components (https://github.com/chris-l/csv-download/). Konstantin can you create an issue for that so we can collect some feedback before doing that? It can also be done by just using CTRL+A, CTRL+C and then CTRL+V to Excel (Handsontable supports that)

### Import

By @warpech:

I guess this is 2 step process. One is to transform X

[2015-08-04 17:25] miyconst commented on #2833
We can surely add some basic excel export features, but this is actually not what I was talking about.

I thought of adding some rich import/export wizard which would allow to select multiply tables, join them, and export all together to an excel document.

[2015-08-04 19:50] alemoi commented on #2829
Thank you, works good so far! Closing the issue!

[2015-08-04 19:50] #2829 closed

[2015-08-04 20:34] per-samuelsson commented on #2829
Good. Let me know if there is anything we should adapt for later on. But I think we should try keeping the on-the-fly compiler as simple as possible, considering how it will be totally redundant in future dnx-based version.

[2015-08-04 21:49] eriohl commented on #2827
Resolved. Resolution included in next build.

[2015-08-05 07:04] jansiegel commented on #2832
Exactly right, nothing shows up except the error

[2015-08-05 08:53] warpech opened #2834 "Add information in Administrator about supported SQL statements"
Novice users are surprised about the fact that only SELECT statements are supported and spend  minutes of investigation until they give up on using other queries. We should write it clearly in the Administrator what queries are supported, with a link to a page that describes it in more detail.

[2015-08-05 11:36] warpech opened #2835 "Set MatchingHost in the reverse proxy"
Currently, reverse proxy only supports `MatchingMethodAndUri` as explained here: https://github.com/Starcounter/Starcounter/wiki/Gateway-Reverse-Proxy

I would like to have multiple databases on the same server, each database for a different customer. Databases should be exposed as a subdomain, eg. `<customername>.mysampleapp.com` and accessed on port 80.

To be able to achieve that with Starcount

[2015-08-05 11:41] k-rus commented on #2831
My definition on the next and last letter is not correct. The algorithm does not need to maintain the same order as the collation order. The only important thing is that all letters of the collation are utilised before increasing number of letters.

[2015-08-05 12:01] alexanderstc commented on #2831
I think the delimiter (~) "position" or "precedence" or "sort priority" relative to other characters is different in the setspec collation versus index search collation, which is Unicode-like, if I'm not mistaken.
Not sure if this can interfere with our setspe allocation rules.
In any case, I have a workaround in mind.

[2015-08-05 12:16] k-rus commented on #2831
I think the same. Only the delimiter should require special attention, since we don't not which collation is used for the database and we don't control collation on our column `TypeId` of `SetSpecifier`.

[2015-08-06 08:28] k-rus opened #2836 "Populate meta-data about meta-tables"
During meta-layer preparation, which is part of database initialisation, meta-tables are created and need to be populated with meta-data about themselves. The source of information for meta-tables is the json file with the description and ids/handles from the kernel.

For each created table a record is inserted into meta-table `RawView`, which has the following schema (see also the JSON file):
[co

[2015-08-06 09:41] k-rus commented on #2836
For each column of a table a record is inserted into `RawColumn`, which has the following schema (see also the JSON file):
[code]
Since `RawColumn` extends `Column` and `Member`, it contains 7 columns.

It is important that inserted columns for a table describes directly specified columns, but also all inherited columns. For example, number of columns inserted for table *RawView* will be 7.

The c

[2015-08-06 09:44] k-rus commented on #2836
Important note, which I forgot to mention:
Functions `verify`calculates some values, which are then used during meta-data population. First version of meta-data population can be found in file *populate_metatable.cpp*, which is excluded form the project. The code from file can be used to clarify the population or even be reused.

[2015-08-06 10:02] dan31 opened #2837 "Update releases strategy for Starcounter deliverables"
Discussed with @mtornwall is a new strategy for releases.

Among all daily built deliverables, we pin those which are considered released (and not intermediary) for a particular customer and/or for us. When pinned, the deliverable is considered released so that it doesn't disappear from the download site, kept there forever and preserves permanent download link.

Let's say, @mtornwall finds that v

[2015-08-06 11:10] alemoi opened #2838 "Nightly build failed because of LibrariesWithDatabaseClasses and QueryProcessingTest metadata"
After we started to have LibrariesWithDatabaseClasses needed for database mapping and other purposes (it includes DLLs with database classes that are loaded on each codehost startup), it interferes with the metadata for query processing test. For example, via a78733c4ed08bfcf5cddd2a7f2663fde9105449e I changed the properties of one database class, and now the test fails: https://scbuildserver/viewL

[2015-08-06 11:17] k-rus commented on #2838
I don't understand how the changes are related to metadata. I need more information to understand the changes. For example, I don't know what LibrariesWithDatabaseClasses means. Can you debug the test to see the difference between expected and actual values?

[2015-08-06 11:28] k-rus commented on #2838
If your changes generate additional tables or columns for each created table, then the correct assertions should be corrected to include them. Another approach is to avoid such generation for the test database and test application as before there was differentiation between pure empty Starcounter and Polyjuice.

[2015-08-06 11:30] alemoi commented on #2838
Its a set of DLLs that are include database class ([Database]) and loaded upon the code host start. Those libraries are needed, for example, for database mapping and other purposes in future. I guess metadata test assumes there is a certain predefined number of database classes, so if I added one more classes to LibrariesWithDatabaseClasses DLLs, then metadata test will fail again and will require

[2015-08-06 11:44] k-rus commented on #2838
Thank you for the clarification! Now it is much more clear what is happening. Yes, the test assumes that only database classes and thus tables, which are defined in the application, exist. It does not follow the concept that someone can load more classes into the application without modifying the application. The Polyjuice flag was important for tests on SQL such as the query processing test.
IMHO

[2015-08-06 11:45] alemoi commented on #2838
Great! Then I will do temporary folder renaming for the time of Query Processing Test!

[2015-08-06 12:16] dan31 commented on #2838
Guys, off-top comment here. Out of those 6 messages, only 2 of them I received as email notifications. Anyone else experience the same?

[2015-08-06 12:47] mtornwall opened #2839 "Suggestion: Declaratively specifying indices"
The following is a feature proposal.

Since the database schema is derived from classes marked with the `[Database]` attribute, I think it's unfortunate that indices must be manually created and maintained. Accordingly, I devised the following method for declaratively specifying indices in code:

1. A special `[Index(...)]` attribute is applied to relevant database classes. For instance:

[2015-08-06 13:14] alemoi commented on #2838
I guess it accumulates if replies are within a minute or so.

[2015-08-06 13:28] warpech commented on #2837
Generally I think it would be good to adopt semver. But semver + CI is a mess. The best solution I would have for semver-compatible build numbering is something like: `2.0.0-develop.3287`.

This still doesn't solve preserving *some* builds on the download page. I guess normally this is done by having a release cycle.

Maybe we should do weekly builds, let's say Monday 2am and preserve these foreve

[2015-08-06 15:14] per-samuelsson commented on #2838
I have had a few cases the last couple of days where I would have expected a mail, but didn't get one. For example, I didn't get one when @linkdata  mentioned me in that CompanyTrack thread about the Kernel API in pnext. :cry:

[2015-08-06 15:29] alemoi commented on #2838
The original problem fixed via b38e387bf7c326f6d6ad689fb526de6a16538fd9
I also reverted the fixes made by @chrhol since now for query processing test we skip the folder completely.