[2015-11-16 13:24] tomalec opened #3072 "Cannot serialize to null"
I would like to serialize `null` to my JSON, for example in Launcher's launchpad layout [Launcher/Api/LauncherHelper.cs#L69](https://github.com/StarcounterSamples/Launcher/blob/536ac0bc2ef463b6c1b00ebd794383bb9327be06/src/Launcher/Api/LauncherHelper.cs#L69)
However, it's being serialized to `{}`.

I tried changing JSON-by-example to `null` (at [LauncherPage.json#L34](https://github.com/Starcounter

[2015-11-16 15:03] bigwad commented on #3006
I'm done with unload/reload. Have pushed speeding up unload/reload processing using multiple working threads. It gives significant speed up for reload and moderate for unload. Would be good to figure out why unload doesn't gain as much as reload. Deserves separate task to be scheduled once we have time for it.

[2015-11-16 15:16] dan31 commented on #3006
@bigwad, my curiosity lets me ask for any absolute numbers you have for this. Can you share some? I'm asking, because Unload/Reload is a major operation done by our current customers on 1.x, either at development cycle when they load test data, or in production cycle when they import/export stuff from/to 3rd party systems, and they struggle with performance.

[2015-11-16 15:42] bigwad commented on #3006
I tested unload/reload on tpcc database that contains about 3.7M records scattered over 9 tables.
Below are results for 8 cores machine. Not all cores were dedicated to the test, so I can't make an educated guess about scalability factor. Obviously, it's notably less than 1 at least for unload.

 |single-threaded|parallel
------------ |------------ | -------------
Unload time (sec)|62|34
Reload ti

[2015-11-16 18:22] alemoi opened #3073 "Is DbHelper.FromID equivalent to Db.SQL select to find if object exists in database"
Are the following equal?

[code]

and

[code]

Thank you!

[2015-11-16 18:40] miyconst commented on #3073
Yes and no.

The first one will return `true` if there is an object with id `rel.ToOid`.

The second one will return `true` if there is an object with type `toClassFullName` and id `rel.ToOid`.

[2015-11-16 18:42] alemoi commented on #3073
Sure :D But I need to know the simplest working way to check if an object with certain ID is in database. For SQL I must supply class name, or is there a way using SQL but no class name?

[2015-11-16 18:50] miyconst commented on #3073
`DbHelper.FromID` should be the simplest way :laughing:

[2015-11-16 18:59] alemoi commented on #3073
I mean does it check with database or some local copy of the object? Just want to be sure.

[2015-11-16 19:16] tomalec opened #3074 "Arrays of different items in dynamic json"
I get an error while parsing a JSON containing an array of two slightly different elements into `dynamic Json`

JSON is valid, and is stored as Layout
[code]

error:
[code]

[2015-11-17 07:31] k-rus commented on #3073
No, SQL always requires table name nowadays.

You can easily track implementation of `FromID` in Level1. I think it is always a request to the kernel to obtain an object from the database with the given ObjectId.

[2015-11-17 07:39] miyconst commented on #3073
But it works in given `Db.Scope` only.

If I have an object with id `123` in my database, then removed it, but not yet commited, `DbHelper.FromID(123)` will return `null` inside the `Db.Scope`.

[2015-11-17 08:23] per-samuelsson commented on #3073
Yes, this is  by design. Its transaction isolation in effect. In that transaction, the object is deleted. So its not returned. Same as it wouldnt be if you query for it after you deleted it.

[2015-11-17 08:29] per-samuelsson opened #3075 "Including JSON files in project might make compilation fail"
This one was found by @jwillmer.

If you add a common directory that include random JSON files to a Starcounter project, compilation will fail because Starcounter will consider these to be "JSON-by-example" and they are in fact not.

Its easily reproducable by taking `/Launcher/wwwroot` and do "Include in project".

We've discussed it, and @chrhol is aware of it. We have come up with an idea how t

[2015-11-17 08:35] per-samuelsson opened #3076 "Reimplement broken management in pnext"
Basically this: https://github.com/Starcounter/CompanyTrack/issues/126

[2015-11-17 08:41] alemoi commented on #3073
That's the answers I needed. Thank you!

[2015-11-17 08:41] #3073 closed

[2015-11-17 09:02] careri opened #3077 "Starcounter VSPackage with VS2012"
Hi!

There seems to be references to a newer version of Visual Studio, I can't use your package. Meaning that I can't use any of my projects.
From the VS activity log

    C:\Users\careri\AppData\Roaming\Microsoft\VisualStudio\11.0\ActivityLog.xml:

[code]

[2015-11-17 09:21] chrhol commented on #3077
Hi, we noticed this on friday but have been busy with a demo. The projects are sill comaptible, this is due to a bug.

The first problem is some missing dependencies after we upgraded our buildenvironment to VS2015. We tried to include those in the installer but for some reason it does not copy them to output which means that they are not included in the installer.

The solution for the moment is

[2015-11-17 10:08] careri commented on #3077
I tried installing without the VSPackage. Then I installed an older VSPackage 2.1.177 I think.
But that didn't work, VS still tried to load a newer version of Starcounter.VisualStudio.dll

So I overwrote the one in %StarcounterBin% with the one from the extension, now the old Starcounter.VisualStudio.dll is loaded.

It compiles but I still can't start from VS because of a missmatch in the API:
Err

[2015-11-17 10:15] careri opened #3078 "Running multiple apps in multiple databases"
Hi!

I'm trying to run two apps, I want to separate their data. Call them App1 and App2.
App1 runs in default

[code]

App2 runs in HAD (or should run):

[code]

But when I try to start App2 I get this error:
 ScErrHandlerAlreadyRegistered (SCERR13003): This handler has already been registered. Can't register URI handler "GET /sc/db/{?}/{?}" on port 8080. This handler is already registered. Versio

[2015-11-17 10:27] careri commented on #3078
If I run App2 without -d=HAD it starts. But I doesn't actually start because a seconds sccode.exe instance isn't created. Only App1 is running.

Is that as intended? They seem to be running in the same AppDomain as well

[2015-11-17 10:42] tomalec commented on #3022
Here is separated `dom-bind-notifier` upgrade https://github.com/Juicy/dom-bind-notifier/issues/8

[2015-11-17 11:35] per-samuelsson commented on #3078
Applications run in a shared process, yes. In the same application domain. Thats one of the key concepts in our hosting model.

ScErrHandlerAlreadyRegistered (SCERR13003): This handler has already been registered. Can't register URI handler "GET /sc/db/{?}/{?}" on port 8080. This handler is already registered.

cc @alemoi

[2015-11-17 11:41] bigwad opened #3079 "Outdated .Net framework requirements on the download page"
Probably should state 4.5 or higher.
@alemoi, hope I'm right mentioning you. Please redirect if I'm not.

[2015-11-17 15:18] careri opened #3080 "Cant start application"
Hi!

I've had an application up and running. But now I can't get it to launch again. I've tried

    staradmin kill all

Then restarted my app with star.exe

But I just keep getting:

[code]

[2015-11-17 15:20] careri commented on #3080
My bad, uncaught exception in an attached thread

[2015-11-17 15:20] #3080 closed

[2015-11-17 21:04] per-samuelsson commented on #3076
Done. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/c9185d704d5767005573c987cc37b46e90c9c3a5.

[2015-11-17 21:04] #3076 closed

[2015-11-18 01:44] alemoi commented on #3078
I guess HAD database has the same default user port as your DEFAULT database? Can you please check that and get back to us. Thank you!

[2015-11-18 09:30] per-samuelsson opened #3081 "Consider supporting optional log buffer size configuration"
In the upcoming 2.2, we'll support an optional log buffer size parameter to `scdata.exe`. Its not possible to specify this one in configuration currently. Maybe we should at some point.

Background in this https://github.com/Starcounter/CompanyTrack/issues/120#issuecomment-157508321.

[2015-11-18 09:39] per-samuelsson opened #3082 "Adapt installer for 2.2 to new upgrade policy"
Basically this: https://github.com/Starcounter/CompanyTrack/issues/120#issuecomment-157378644.

And the background is in the previous comments, leading up to that point. In some way or the other, we need to adjust the installer for 2.2, becuase the strategy implemented now is not sufficient (it was broken in **pnext** and will now raise an exception during reading of the image versions, as hinted

[2015-11-18 10:17] careri commented on #3078
Yes, they have the same port. Changing in the admin GUI solved it.
Is it possible to supply the database port when launching with star.exe?

Or is it only possible through admin gui?

[2015-11-18 11:14] alemoi commented on #3078
Yes, it is possible I believe. Let me find it. I think its shown in the extended help for star.exe: star - hx

[2015-11-18 11:27] per-samuelsson commented on #3051
Done, merged and pushed in https://github.com/Starcounter/Starcounter/commit/5ea76f82d929391da0be13819660fcd249cd0956.

I also took the opportunity to redesign how metadata class generation integrate in the MsBuild flow, turning to a new approach assuring incremental builds. So now it should work as expected + not trigger any generation of the input schema and existing generated classes are up to

[2015-11-18 11:40] per-samuelsson opened #3083 "Update Transacted Apps blog to latest stable link"
The [Transacted Apps](http://starcounter.io/transacted-apps/) blog now reference [latest nightly]( http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/latest), because there was no stable built after recent features that it depends on (e.g. #3008).

When a new stable is built, the blog should instead reference http://downloads.starcounter.com/download/Starcounter/Stable/late

[2015-11-18 12:20] k-rus commented on #3051
No, it does not work for me. I still have to manually delete generated file to be able to get new class definitions.

[2015-11-18 12:26] per-samuelsson commented on #3051
Thats weird. I'll contact you to ask some follow-ups.

[2015-11-18 13:10] alemoi commented on #3078
Here is an example of how to do it:
`star --sc-codehostargs="--DefaultUserHttpPort=8282" Products.exe`

[2015-11-18 13:21] per-samuelsson commented on #3078
Officially: no.

This is an **unofficial** feature, one we made for our own testing needs. Use it if you want to try, but we'll provide no support for it, and we leave no guarantees its future compatible.

Notice the output of `star -hxx` (stripped):

[code]

[2015-11-18 14:57] per-samuelsson commented on #3051
@k-rus, now I've done further refinements in the project dependencies, to try to cover all cases. Basically, the Starcounter project now has dependencies not only to the generator tool, but also to the master `metaschema.json`. So every time `CopyLocalDependencies` decide that file is out of date, and copies it, the Starcounter project should rebuild.

Please try this and let me know if it solves

[2015-11-18 15:53] k-rus commented on #3051
Fix confirmed. Closed.

[2015-11-18 15:53] #3051 closed

[2015-11-18 16:13] chrhol commented on #3075
The extension enhances all files with an ending of `.json` with properties that allow runtime generation of code to enable intellisense, and groups it with a codebehind file (`.json.cs`) if it exists

**The problem**: When you have json-files you want to include in a project that should NOT be treated as a TypedJson json-by-example you have to manually remove set properties on EACH file, which is

[2015-11-18 17:19] careri commented on #3078
Great, I'll give it a try tomorrow. What happens if the database is started. Will it restart with the port from the command line?

[2015-11-18 17:26] per-samuelsson commented on #3078
No it wont. Thats why I'm not totally happy this very specific internal functionality is exposed like this.

[2015-11-18 18:03] jwillmer opened #3084 "Session timeout"
If I leave the Starcounter website (launcher) open for half an hour and come back (from lunch) to use it, I can click on the menu items but nothing happens. I am guessing the session times out but as a user it is just a bug if I don't get redirected to a login/refresh screen if my session times out.

[2015-11-19 07:36] per-samuelsson commented on #3084
Agree. Labeled it such. Lets see if this is something we know about before and have plans to fix.

[2015-11-19 11:15] per-samuelsson opened #3086 "Document JSON dollar signs ($) and "Reuse""
Being part of application development as an observer, I find the dollar sign usage is non intuitive, and also I can't find any good throught documentation on it.

I understand also that dollar-sign has double meaning: one if its place in the beginning of a name (metadata?), another if its at the end of it (editable?). Please someone convince me this is good, because right now, I think its not.

Al

[2015-11-19 11:18] miyconst commented on #3086
There is a page on starcounter.io: http://starcounter.io/guides/json/json-data-binding/

[2015-11-19 11:19] miyconst commented on #3086
The `Typed JSON` section has to be improved with explanation of `Readonly` and `Editable` properties.

[2015-11-19 11:24] eriohl opened #3087 "pnext: Prevent layouts from being garbage collected when referenced from meta-data"

[2015-11-19 11:25] per-samuelsson commented on #3086
Yeah, thanks, I read that through last night. But it could neither find the $ properly explained to me (only how its use to define metadata), and not a word on "Reuse". Hence this issue.

[2015-11-19 11:39] k-rus commented on #3087
Note that the relevant design of meta-data will be changed.

[2015-11-19 11:56] per-samuelsson opened #3088 "SQL alias support?"
[code]

Should we support that? If not, shouldn't we add it to [SQL Limitations](http://starcounter.io/guides/sql/limitations/)?

[2015-11-19 12:09] k-rus commented on #3088
As I can see from the test code it is supported. However, I don't see how to fit this into current documentation structure. And I don't think it is important. The only place, where it is useful, is Administrator.
Note, SQL documentation must be completely rewritten.

[2015-11-19 12:22] per-samuelsson commented on #3088
I couldn't tell. Just noticed it was used by one our customers (in code), and it failed on an exception.

OK. Lets try investigate this and notice our stand on it at that point then. This is not a top-prio at all, just wanted to catch it since it confused the customer.

[2015-11-19 12:29] k-rus commented on #3088
As I wrote aliases supposed to work. One of our regression test runs this every night:
[code]

So I am wonder which query failed and with which exception.
I can come up with the case, that a customer tried to use alias in where clause. I don't know if it is supported in Starcounter or not. I know that some well-known DBMSs allow such use and some other well-known commercial DBMSs does not allow su

[2015-11-19 12:34] per-samuelsson commented on #3088
I can find out for sure if you want me to. But I'm quite sure it contained a WHERE that used the alias, so that differentiates from the test you referred to.

[code]

I adviced the customer to change to using path expressions instead, and it solved the use case.

[2015-11-19 12:39] k-rus commented on #3088
Thank you for clarification. I don't think we should call it a limitation, since it is not very common among DBMSs. It is our current definition of aliases, which is not written anywhere. We might improve this in future version of our SQL.

[2015-11-19 12:52] careri commented on #3078
Ok, good to know. Thanks

[2015-11-19 13:28] per-samuelsson opened #3089 "Typed JSON: editable field clash with method name"
Having this model

**Foo.json**
[code]

with this code-behind

[code]

prevents any Starcounter application from compiling:

Code | Description
--- | ---
Error CS0102 | The type 'Foo' already contains a definition for 'AddNew'

This is probably known, and the reason for it too: because the `AddNew$` generates an integer named "AddName" in the generated class, and that field clash with my method.

[2015-11-19 13:56] per-samuelsson opened #3090 "Typed JSON: The generated [Type]_json type"
Having this

**Foo.json**
[code]

allow me to enjoy `new Foo()`, supported by a code-generated code-behind class.

Whats also generated is a class named `Foo_json`. I've seen somewhere how this is used to somehow explicitly type entries, or something like that. Is this documented?

Also, a minor drawback of this approach is it affects the Intellisense when using VS.

![image](https://cloud.githubu

[2015-11-19 15:06] malx122 opened #3091 "How do I best create index for the classes in the following sql?"
[code]

[2015-11-19 19:37] per-samuelsson opened #3092 "Typed JSON: An overview"
When introduced to the concept, it's [here](http://starcounter.io/guides/json/). And there is really not much concept about what it really *is* and what its *needed for*. I'm missing the background / overview.

Most of us know what it is and how it works, at least to some agree, but we shouldnt count on that all our users can figure it out just by the name.

Are there some other place this is docu

[2015-11-19 19:44] per-samuelsson commented on #3084
Discussed this briefly with @chrhol today. Its known, but not adressed.

We suggest to extend the host environment and/or the launcher. This should be dealt with on the server side. When a request comes in, and before the response is sent to the client with the error saying that the session has timed out, we should broadcast that interupt among all loaded applications, asking if someone's willing

[2015-11-20 06:32] careri commented on #3077
Any progress?

[2015-11-20 07:45] careri opened #3093 "Bind a checkbox"
Hi!

I can't figure out how to bind a checkbox with the new version of Polymer. I tried to use the button as a template:

    <button value="{{model.SaveAll$::click}}" onclick="++this.value">Save All</button>

So I though a checkbox should look something like this:

    <input type="checkbox" value="{{model.ShowDenied$::checked}}" onchange="++this.value"/>Show Denied</input>

But nope, I just can'

[2015-11-20 07:59] miyconst commented on #3093
What is data type of ShowDenied? It should be Boolean.

The binding works like this:

[code]

[2015-11-20 08:02] careri commented on #3093
Yes it's a boolean, I had it working with previous version of Polymer.
I'll try that. Thanks

[2015-11-20 08:07] careri commented on #3093
It works, thanks

[2015-11-20 08:09] k-rus commented on #3091
It depends on cardinalities of the properties used in conditions. I guess `ObjectState` is not really selective. Is `WhatIs` selective? If so, then having index on `DocumentOwner(WhatIs)` can be helpful. In this case, I expect that the query optimiser will produce a plan, which:

1. First finds `DocumentOwner` instances, which matches `WhatIs` value, in the index.
2. Retrieves all `Document` insta

[2015-11-20 08:10] warpech commented on #3093
I have created a repo to show such patterns: https://github.com/StarcounterSamples/KitchenSink

Need to advertise it a little bit more

[2015-11-20 08:10] #3093 closed

[2015-11-20 08:43] chrhol commented on #3089
Yeah, one problem with the pattern described above is that there is no specific type for triggers/actions in JSON, which means that all properties in JSON-by-example will have a value, even if the value is only used to trigger the callback.

We had a workaround before, by setting a value to `null` in JSON-by-example and use that as a trigger. Then we could skip generate a property for those and th

[2015-11-20 08:54] chrhol commented on #3086
There is an issue created some months ago, https://github.com/Starcounter/Starcounter/issues/2650 about reviewing and documenting it, but no time have been spent on it.

I think the only argument you will get is that this is the way it was first implemented in the really early prototype and then never touched again. It would be really good to have some discussion about this and see if we want to c

[2015-11-20 09:00] chrhol commented on #3090
The attribute `Foo_json` is used to allow having multiple classes declared in code-behind and tag the one that is connected to the object (or array)

It's not documented as far I know and should probably also be discussed with the other issues about specifying metadata (#2650, #3086)

[2015-11-20 09:37] chrhol commented on #3077
I've started working on this today. Will let you know when a fix is in place.

[2015-11-20 10:31] malx122 commented on #3091
Thanks!

How do I know how it worked?

I realized that in the current case, ToWhat will always be a document (if not someone made an error in the db). Would it be faster to skip nr 2:
[code]
or (not sure if subsubproperties above works):
[code]

[2015-11-20 10:36] warpech commented on #3086
Clone of: https://github.com/Starcounter/starcounter.io/issues/88

[2015-11-20 10:52] per-samuelsson commented on #2650
+1.

I'm just trying to learn all this JSON-stuff. I'll gladly try to help out whereever I can.

[2015-11-20 11:04] chrhol commented on #2650
I have no opinion on the sample, if you rather create another object that is automatically bound, it is perfectly fine to do that, but sometimes it might not be possible to change the structure of the viewmodel but you still want it to be bound. And you dont always want to keep the viewmodel looking exactly as the database objects.

I think that is a good thing. Both you and @miyconst come with go

[2015-11-20 11:08] per-samuelsson commented on #2650
Sure, I'm all for it. But I need to allocate even more time to read/test/consider before doing this though, because I'm still such a novice compared to you guys. Basically, all thoughts I have so far, I've turned into issues.

[2015-11-20 11:46] k-rus commented on #3091
This query works and is good way to write. See [path expression article](http://starcounter.io/guides/sql/path-expressions/)

I expect you will not see performance issue with your query. It is also to see for sure, but I don't go in details if you don't ask me.

[2015-11-20 13:30] chrhol commented on #3077
Update: I found three problems that I'm working on solving. The first one is described above.

The second one is missing c++ runtime for vs2015 that unmanaged parts of the extension needs. So the workaround here is to manually install it from [here](https://www.microsoft.com/en-us/download/details.aspx?id=48145) and select and run `vc_redist.x86.exe`

The last one is that errorreporting does not s

[2015-11-20 14:33] alemoi commented on #3077
After checking with @chrhol we found that current check for redist x86 was not working on the machine, since the registry entry existed but redist x86 wasn't installed. So I will add a different check.

[2015-11-21 19:11] mtornwall commented on #3084
+1, this happens every time I RDP to one of my servers (where the administrator is typically left open).

[2015-11-22 12:50] eriohl commented on #2890
Fixed so that DM signals log writer if to wait for additional input before flushing or not. Tested with TPC-A test and it works splendidly. Should be no reason for it to not work with with other loads as well. So space utilization on high load should be much improved.

[2015-11-23 08:13] chrhol commented on #3077
Update of current status: The latest nightly build includes the fixes for c++ runtime and the missing dependencies, so now the extension for 2012 and 2013 (I haven't verified 2013 though, will do that today) works and you can start the app and connect debugger from the studio directly.

One last thing remains however: I cannot get the error-reporting to work. No exceptions, nothing seems wrong, it

[2015-11-23 08:21] warpech commented on #3084
I can see two solutions:

- default: automatic session extension
- opt-in session timeouts

**Default: sessions are automatically extended.** We should assume that if the client is connected, then we always want to prolong the session.

WebSocket has a built-in mechanism for this (server gets a callback when a client disconnects). HTTP fallback would need to resort on client sending occasional pin

[2015-11-23 08:24] warpech commented on #3089
It was also reported as a quirk by @jwillmer, but when I explained it (similarly to what @chrhol explains above), it got clearer.

@chrhol any idea how to improve the docs on this?

[2015-11-23 08:33] warpech commented on #3092
Starcoutner uses Typed JSON for server-side view-models, which are explained here: http://starcounter.io/guides/web/server-side-view-models/

Maybe this is just a matter of improving the links between sections? Or put "Puppet web apps" before "Typed JSON" in the left column?

[2015-11-23 08:46] per-samuelsson commented on #3089
I don't. Yet. But I've been obsessed trying to get deeper into the whole JSON-domain during the weekend, and come up with ways to write improved (and more) documentation, on several areas. Let's hope this can result in anything, if @chrhol doesnt come up with a super-pattern! :smile:

[2015-11-23 09:16] careri commented on #3077
Gr8, I'll install it later today. Have some other work in the pipe first

[2015-11-23 11:09] per-samuelsson commented on #3092
I think its a combo of that, and to add some extra content, to better introduce people like me (that doesn't normally work in this field) to a background and context. Let me come up with some suggestions that we can discuss before we rush into doing changes.

[2015-11-23 11:20] eriohl commented on #2890
Smaller block sizes is off the table.

After investigating this we concluded that supporting smaller log block sizes then 4 KiB, to improve space utilization in case of a lot of small writes that can't be grouped with other writes, turned out to be a bad play since most new storage devices uses 4 KiB physical block size. So added complexity doesn't seem justified.

Instead the idea is to:

1. Wait

[2015-11-23 13:00] #3077 closed

[2015-11-23 13:02] chrhol commented on #3077
Just pushed a fix for this problem. Hopefully this issue will now be fully solved. The current pushes will be available in tomorrows nightly build.

[2015-11-23 13:22] chrhol commented on #2981
We have had some problems with the VS extension after the upgrade (#3077). Hopefully the problems will be solved now. It boils down to this: you can only reference VS-SDK dlls that are from the lowest version you wish to support. Since we support extension for 2012, 2013 and 2015 this means that we can only use VS2012 SDK dlls.

The problem with this is that the SDK for 2012 is not included in the

[2015-11-23 13:36] alemoi commented on #3084
Just wanted to add some information: one can change Session instance timeout, when its created using `Session.TimeoutMinutes` property.

Other noticeable properties on Session instance:
* DateTime LastActive: time when session was active.
* void Destroy(): destroys a session.
* EventHandler Destroyed: Event which is called when session is being destroyed (after timeout, manual destroy, etc)

[2015-11-23 16:23] warpech commented on #3084
Thanks for that info! Actually it is all listed in http://starcounter.io/guides/web/sessions/

But I would not like all of the apps to overwrite the value of `Session.TimeoutMinutes` to infinity, so I still vote for some client ping mechanism as proposed in https://github.com/Starcounter/Starcounter/issues/3084#issuecomment-158875117

[2015-11-24 09:35] warpech opened #3094 "Can't debug an application when a database on port 8080 is not called "default""
I have a database "mydatabase" started on port 8080.

When I open a project in Visual Studio and try to start and debug it, I get the following error:

Error		This handler has already been registered. Can't register URI handler "GET /sc/db/{?}/{?}" on port 8080. This handler is already registered. (ScErrHandlerAlreadyRegistered (SCERR13003))

What happens is Starcounter creates a new database "def

[2015-11-24 12:41] warpech commented on #3084
What we discussed today on the meeting (@dan31, @chrhol, @malx122):
- Server
   - Session timeout can be incremented by the server admin in server config (`InactiveConnectionTimeout` in http://starcounter.io/guides/network/networkgateway/)
   - Session expiry date should be included automatically as the view-model meta data
- Puppet
   - Connection keepalive should be done automatically by Puppet

[2015-11-24 13:03] careri opened #3095 "resourcedir"
Hi!

I can't seem to provide the resource dir when launched from VS.
Debug settings in VS:
Command line arguments:
[code]
Working directory:
[code]

It works if I launch from cmd with PWD=D:\source\Scdb2Apps\HeadsAdmin\BootApp\bin\Debug
[code]

I figured out that the static resources can be viewed at this url:
http://localhost:8080/staticcontentdir

This is when launched from Visual Studion:
[code

[2015-11-24 13:08] careri commented on #2976
Any progress?

[2015-11-24 13:12] careri commented on #3095
Tried providing the full path to the resourcedir form VS, didn't work either. So no debugging from VS for me :(

[2015-11-24 13:17] per-samuelsson commented on #2976
I've just waited for you to ask that, hating the fact that I still havent had any time to look at this. Sorry. :cry:

I really want to work with these general improvements, but right now I stuck on things we must deliver, so I constantly have to re-prio. I can just assure you its still on my list, I haven't forgot about it. I'll try find some time to look at it eventually, but I'm just not sure wh

[2015-11-24 13:40] per-samuelsson commented on #2898
I'm assigning this to me. I have an aim to fix this and #2976 in a batch, hopefully within days.

[2015-11-24 14:04] alemoi commented on #3084
We talked with @chrhol and he has ideas on how to make it work with WebSockets protocol and puppets, by simply touching the session (when session is touched - its automatically prolonged). Regarding HTTP I can provide a handler which takes the session ID inside the URI and going to touch, and thereby, prolong the session.

[2015-11-24 14:28] per-samuelsson commented on #3095
Hi @careri,

Thanks for reporting!

This worked before, right? If so, my guess is that its related to VS 12 -> 15 migration. But its weird not even the full explicit path work.

I can investigate this when I kick up those other two issues relating to the resource directory, i.e. #2976 and #2898.

[2015-11-24 14:31] jwillmer opened #3096 "Odd button behaviour"
This button click event works:
[code]

[2015-11-24 14:33] per-samuelsson commented on #3095
@careri

As a workaround, try specifying the resource dir in the "Working Directory" textbox (`Project | Properties | Debug | Working directory`). Think that should work.

[2015-11-24 14:54] linkdata opened #3097 "Console.WriteLine() does not print when called using Timer and DbSession.RunAsync"
I would expect this program to emit `Foo` in the Administrator console for the application every second, but nothing appears.

Version: Nightly, 2.1.538

[code]

[2015-11-24 15:27] miyconst commented on #3096
This is Polymer bug: https://github.com/Polymer/polymer/issues/2497.

[2015-11-24 15:27] #3096 closed

[2015-11-24 15:33] per-samuelsson opened #3098 "WebSocket connection closed. Status code: 1011. Reason: No value found in patch."
Reported by @jwillmer.

I've now set up an environment and can reproduce it on my machine, and @alemoi helped me to find where I could look at the diagnostic content. I have isolated it, but I cant really understand what goes wrong.

These are the three relevant patches being sent:

[code]

I'll preserve the environment here on my box. Maybe @chrhol has some idea? You are free to ask followups / i

[2015-11-24 16:00] per-samuelsson commented on #3094
Yeah, this case will really confuse developers, and we need to get a top it. Its related also to recent #3078. We must consider this a bug IMO, because the combo of 1) high likelyhood of happening and 2) hard to understand how to get passed it for a new developer.

[2015-11-24 16:02] per-samuelsson commented on #3094
Also related: #2557.

[2015-11-24 19:18] chrhol commented on #3098
The last patch on the third row is not correct, the `op` and `path` pairs looks correct but there is no value which is not allowed according to the jsonpatch rfc (https://tools.ietf.org/html/rfc6902#section-4.3):

   with a new value.  The operation object MUST contain a "value" member
   whose content specifies the replacement value.

`{"op":"replace","path":"/workspaces/0/PIM/ProductTypeModel/Br

[2015-11-24 20:17] per-samuelsson commented on #3098
Wow, I'm not really sure. But I'll make sure to doublecheck that, and get back to you. If I'd do my best guessing, I think its this one:

[code]

I'll get back to you once I find out for sure. Thanks for the help.

[2015-11-24 20:46] per-samuelsson opened #3099 "Rework ResourceDir and WorkingDirectory"
I plan some rework to adress #3095, #2976 and #2898. Since we now have several inconsistencies, I'm planning to do this sooner rather then later.

My ideas are this:

**a)** The working directory is a logical directory, accessible from `Application.Current.WorkingDirectory`, just as it is today. When an application is started from the command-line, the *directory where star is run from* will be se

[2015-11-25 06:51] k-rus commented on #3040
It was enabled and runs.

[2015-11-25 06:51] #3040 closed

[2015-11-25 07:15] jwillmer commented on #3098
I created a bug report as well but it seams like it is a polymer bug: [Bug report at Starcounter](https://github.com/Starcounter/Starcounter/issues/3096)

[2015-11-25 07:48] careri commented on #3095
Morning! Yes, this used to work. But rework to make it more straight forward seems nice.

[2015-11-25 08:08] miyconst commented on #3098
@per-samuelsson, @jwillmer, @chrhol,

You don't need to waste your time on this.

Puppet has two modes, debug mode and production mode. The production mode is enabled by default. In the production mode all of the patches are not validated. That is why a patch with `undefined` value got through to the server. This is obviously an incorrect patch, and server closes the connection.

Polymer has a bug

[2015-11-25 08:28] per-samuelsson commented on #3098
@jwillmer @miyconst

Thanks for that guys. Great we got on top of it at least, even though its still a problem (but one we can workaround). Let's just wait for Polymer to address it then. :+1:

[2015-11-25 08:32] per-samuelsson commented on #3095
[code]

:sunglasses:

Nah, just kidding. Lets just wait a little then, until I'm working out #3099. My aim is to have it fixed by tomorrow-ish.

[2015-11-25 09:17] per-samuelsson commented on #3099
Regarding **f)**, I've browsed around and "static resources" seem to be the dominant umbrella term, and "resource directory" is what I've seen most. Other alternatives include "content" (Nancy and ASP seem to use that lingo).

I leaning towards naming the parameter `--resources`, with `-res` as the short alternative. I suggest we change `http://localhost:8080/staticcontentdir` in a similar fashion

[2015-11-25 09:44] andwah commented on #3097
After a quick investigation:
When the Console.WriteLine is called the ```Application.Current``` property is throwing an ```InvalidOperationException```

The ```Application.Current.Name``` is used to direct the message to the correct application.

Changed the Assignee back to "no one". i dont have a solution to this (maybe using the stack to get the application?), I hope @per-samuelsson, @chrhol or

[2015-11-25 09:47] careri commented on #3099
Looks good to me.
Just one question about H, is that the directory in which the assembly resides? (Not the weaved assembly)

[2015-11-25 09:48] careri commented on #3095
Yepp, I'll get by for now

[2015-11-25 09:51] careri opened #3100 "Html delay update value?"
Is it possible to delay the update of a bound value in e.g. a input textbox?

Now each keypressed sends and update to the server, this is great in most cases. But sometimes it would be better with a delay or an update on focus lost

[2015-11-25 10:03] per-samuelsson commented on #3099
Yes. The loaded/weaved shadow files are not exposed anywhere in the API's and that is by design.

[code]

With that, `Application.Current.FilePath` should give you `c:\Users\careri\foo.cs`.

And similarily, if you're running from within VS and you compile your application to `D:\source\Scdb2Apps\HeadsAdmin\BootApp\bin\Debug`, then `Application.Current.FilePath` should give you `D:\source\Scdb2Apps

[2015-11-25 10:19] warpech commented on #3100
Yes, it is. The below code sends changes after each keystroke:

[code]

This one sends after input is unfocused:

[code]

I will add it to [KitchenSink](https://github.com/StarcounterSamples/KitchenSink)

[2015-11-25 11:58] alemoi commented on #3099
Regarding B Im thinking it can be a potential security problem. I wonder if its possible so that Visual Studio extension should set the working directory as resource dir, but in other cases (unless its wwwroot as now) - user will have to specify the resource dir explicitly.

[2015-11-25 12:20] per-samuelsson commented on #3099
Thanks for the feedback, @alemoi!

Technically, its not a problem at all. I can implement a pattern that it works one way in VS, and another way in tools like `star.exe`. But I can't understand exactly the reason for that pattern? How would security differ between the two, do you mean?

Also, if we dont add the working directory as a resource directory, the default for any application (whereever i

[2015-11-25 12:25] alemoi commented on #3097
Maybe its related to recent changes around moving appname?

[2015-11-25 12:32] andwah opened #3101 "Suppress exception in PopulateFromJson(..)"
When source and destination model differ ```destination.PopulateFromJson(source)``` will throw an Exception.

It would be nice if there was an option to Suppress the exception and let ```destination.PopulateFromJson(source)``` only bind matching properties.

[2015-11-25 12:35] andwah commented on #3097
I think it has been like this since ```Application.Current``` was introduced.
 It was then an acceptable behaviour :-(

[2015-11-25 12:50] chrhol commented on #3101
Thanks for reporting this. We had another request for this quite some time ago, but unfortunately it was not implemented then, and other things got in between.

[2015-11-25 13:26] careri commented on #3100
Nice thanks!
What frameworks exposes these events? Polymer or Puppet?

[2015-11-25 14:09] per-samuelsson opened #3102 "User story: How to simply "empty" a database?"
We've had this up before, and discussed it like the other day in some context. I think it deserves an issue to provide advice / patterns for those requesting it.

The basic story is basically: we have a database. We want to drop all (*) data, i.e. all records in all tables. Whats our options?

 (**) Preferably, we'd like a way to white-list some table(s), but thats a follow-up*

(FYI: Deleting the

[2015-11-25 14:29] jwillmer opened #3103 "Space in JSON file returns multible errors"
Because VS does not like properties in JSON without quotes it is easy to (accidentally) write something like this:

[code]

[2015-11-25 15:34] jwillmer opened #3104 "How to add a list of items to a database class?"
I get a compile error ([DataTypeNotSupported](https://github.com/Starcounter/Starcounter/wiki/SCERR4012)) with this code:

[code]

Which data type do I have to use to add a list of items to my class? [Creating database classes on Starcounter.io](http://starcounter.io/guides/database/creating-database-classes/) does not have any example on lists.

[2015-11-25 16:10] k-rus commented on #3102
Delete all objects from loaded classes can be easily implemented already now in managed code. The code can be based on Unload implementation. The performance will not be so great and can be improved by moving implementation in native code later.
Would it be enough?
The implementation will not prevent to run other transactions in parallel, which might bring data in unexpected by application state.

[2015-11-25 16:10] warpech commented on #3104
The [InvoiceDemo Tutorial](http://starcounter.io/tutorials/1-introduction-to-part-1/1-6-create-the-database-classes/) example shows the usage of `QueryResultsRows<T>`. That should work.

[2015-11-25 16:12] warpech commented on #3104
Note to team: This should be explained somewhere in the http://starcounter.io/guides/database/ section

[2015-11-25 17:23] per-samuelsson commented on #3102
I think it will, yeah. Maybe we should take a look at such case.

Thats totally fine given the prerequisites I think. Everytime I've heard of this is for demo/startup-like scenarios where there is a "prepare" phase like stage, and thats where this all happens.

Thats OK too, given above context.

[2015-11-25 17:27] per-samuelsson commented on #3102
@k-rus

I took a look at the implementation of the unload, seem straightforward enough. Just a question: will `DELETE FROM X` fail if X class is not loaded? I guess so?

[2015-11-25 17:30] per-samuelsson commented on #3102
Its this one I'm referring to. The use case will be less usable if there is a prerequisite that a class is loaded. Still might be good enough, just thinking about it a little...

[2015-11-25 17:36] per-samuelsson commented on #3104
Totally agree, this is a super common case, I can't understand we havent caught it earlier.

@jwillmer, the way this is normally done is that you would implement a pattern like this:

[code]

[2015-11-25 17:40] per-samuelsson commented on #3104
To be even clearer on the above, the normal pattern is

1. You define some class that is the "item", referencing the "head".
2. You have this:

[code]

[2015-11-25 17:41] per-samuelsson commented on #3103
Thanks for reporting this @jwillmer. We'll surely look in to it and improve the error message.

[2015-11-25 20:33] per-samuelsson opened #3105 "Use case: Modelling view with data from independent models"
Consider this imaginary model:

[code]

Both classes have a relationship, but solving it is not trivial. Lets say we must do a set of selects to find a certain supplier we want. Bottomline: it's not warrant to expose suppliers from the `Product` class in terms of a property, not even one with a path (like `Product,Something.SomehingElse.Supplier`).

Now lets say I want to design a view model that

[2015-11-26 05:03] miyconst opened #3106 "Administrator hangs with huge select results"
As TargetEveryOne guys pointed out, Starcounter Administrator hangs if select returns many records, tested with 1 000 000 records.

I know, this is crazy to manage such number of rows in a browser, but we have to automatically add `FETCH 10000` or something like this to avoid the hang. If the total number of records exceeds the visible number, then a message like `There are too many rows matching

[2015-11-26 05:08] miyconst opened #3107 "TargetEveryOne guys claim our benchmark against MariaDB be unfair"
@moander from TargetEveryOne says that our benchmarking against MariaDB is not fair, because NodeJs is a super slow platform for such things, and MariaDB should be tested with c# instead.

cc @warpech, @dan31, @Starcounter-Jack

[2015-11-26 06:25] jwillmer commented on #3104
So in short I need to create the reference class/table myself.
Thank you @per-samuelsson for the example.

[2015-11-26 06:25] #3104 closed

[2015-11-26 06:56] miyconst opened #3108 "Hook on a base class"
@per-samuelsson is it possible to fire hooks of parent class for children instances?

Something like this:

[code]

The idea is to fill `CreateDate` field in one hook for all classes inherited from `Something`.

[2015-11-26 07:11] k-rus commented on #3102
DELETE FROM uses high level managed API, thus it cannot work on non-loaded classes.

I understand. It is very easy to do implementation using high level managed API, but API requires classes to be loaded. Since meta-data contains information about all tables, then it is possible to implement delete on non-loaded classes, but it requires implementation using low level API.

In pnext branch it is po

[2015-11-26 07:18] k-rus commented on #3105
I don't fully understand the original schema. What is the relationship between `Product` and `ProductSuplier`? Is it many-to-many? Then an additional relationship class needs to be defined.

I believe setting rating property manually is an option. Or introducing code property, which retrieves the values.

[2015-11-26 07:21] miyconst opened #3109 "The RAM not being released when data deleted from database"
I have ran test with inserting and then deleting `1 000 000` records into database.

Once data was inserted, the RAM usage grew up for 2-3 gb.
Once data was deleted, the RAM usage didn't go down till I restart database.

Is it a bug or I miss something?

@alemoi, @k-rus, @per-samuelsson, @warpech

[2015-11-26 07:26] k-rus commented on #3107
cc @linkdata

[2015-11-26 07:27] k-rus commented on #3109
If I don't mistake the memory is never released, but it is available for the database use.
cc @eriohl

[2015-11-26 07:30] jwillmer commented on #3105
In short the problem is that you like to display a table with property values from different classes that don't need to have a relationships (like product and country tax). To accumulate all the data from all sources you introduce a POCO (viewmodel) and like to use this object to send to the view.

[2015-11-26 07:46] chrhol commented on #3109
It might also be that the implicit transaction is blocking the purge of deleted objects, if there are any threads running forever or longrunning jobs (see second paragraph in http://starcounter.io/guides/transactions/running-background-jobs/)

[2015-11-26 08:06] per-samuelsson commented on #3108
@miyconst

No, its not. Sorry. By design, hooks are for the class they are specified on only.

[2015-11-26 08:12] per-samuelsson commented on #3105
Yes, of course, but it requires manual coding, and we dont like that. I'm trying to raise the question if we can come up with a smarter way to solve this general case.

[2015-11-26 08:14] miyconst commented on #3109
No, there are no background threads, at least I didn't create any. Only one handler to insert rows, and then deleted the rows manually with an sql query from administrator.

[2015-11-26 08:20] per-samuelsson commented on #3108
For information, the recommended pattern for this particular case is to use simple constructor logic:

[code]

[2015-11-26 08:22] miyconst commented on #3108
Yeah, thank you @per-samuelsson! For me it is a pleasant news, because I thought that constructors are not supported for db classes.

[2015-11-26 08:22] #3108 closed

[2015-11-26 08:33] jwillmer opened #3110 "Literals are not supported in the query"
I try to get all ProductTypes there TypeCode is not string empty with this query:

[code]

Exception:

The help page is empty. Can you tell me what excatly is not supported and how to do it the 'right' way?

[2015-11-26 08:36] linkdata commented on #3107
Node.js is a popular (and quite fast) framework, and it's MySQL driver is one of it's most tested components. We could certainly have tested more frameworks, but in the time given we had to choose just one. The test is well documented and on github, so anyone can repeat it with other frameworks.

I am a bit surprised hearing that "NodeJs is a super slow platform for such things". Especially since

[2015-11-26 08:39] miyconst commented on #3110
Hello @jwillmer.

You should pass values as parameters:

[code]

[2015-11-26 08:41] #3110 closed

[2015-11-26 08:55] per-samuelsson commented on #3106
@miyconst

Yeah, wow, thats cool. Really nice to see someone querying a result that big.

I'm not sure how we can solve this fast, but we should of course support paging. In fact, we have support for it already, since a few years back, in the lower level (kernel + managed iterators), but we've never took it "all the way", simply because there hasn't been some urgent need.

Unsure how we should pri

[2015-11-26 09:21] per-samuelsson commented on #3103
Checked what standard JSON has to say about spaces, and it turns out to be legal: you can have keys and values with spaces.

Run this

[code]
 in [this](http://jsonlint.com/#) to see.

Why we can't support it is because of the generated code; C# does not allow spaces in fields/properties.

Talked to @chrhol about it. We will adress this by validating keys for this pattern, and raise an informative

[2015-11-26 09:32] per-samuelsson commented on #3102
Thanks for your insight, @k-rus.

We can still not use this, because of contracts we've agreed to in host languages. I'm thinking about `OnDelete` and hooks. They both require code to be loaded.

My suggestion is we implement a simple way that allows certain configuration and filtering. I think we can have it all in a simple call, like this:

[code]

[2015-11-26 09:37] per-samuelsson commented on #2931
@jwillmer also reported this as a headache, so its clearly something we should do *something* about.

[2015-11-26 09:47] warpech commented on #2931
Even simpler solution would be to add more usage of **"partial"** to our jargon, as opposed to "page".

Partials are explained on the website but are still counterintuitive. You create an instance of `Page` to make a partial. Also, the word "Page" is less searchable than "Partial".

Since nobody fell in love with the previously proposed solutions, here is a new one:

6 . Create a clone of `Page` c

[2015-11-26 10:12] k-rus commented on #3105
One possibility to write a query and then populate the result directly into json collection of objects. We discuss that such scenarios can be valuable and new SQL processor can support this by creating objects as result of the query. But this is future plans and details will need to be investigated further.

[2015-11-26 10:12] per-samuelsson commented on #2931
Im all for this one. I'm usually against introducing to many words that are not super-intuitive, but in this case, I think partials is really something we should promote and add to our core lingo. I'm all with @warpech on this one.

[2015-11-26 10:25] k-rus commented on #3110
[This page](http://starcounter.io/guides/database/variables/) describes the need of using variables/parameters in SQL queries and not use literals directly.

This is due to [this bug](https://github.com/Starcounter/Starcounter/issues/1728#issuecomment-37878999). So I bumped there.

[2015-11-26 10:26] warpech commented on #2931
Speaking with @miyconst and @jwillmer I got confirmation that the concept of "partial" also exists in ASP.NET and is not very far from ours.

@per-samuelsson then maybe actually you have enough information to implement the solution?

@tomalec Could you provide what should be the Visual Studio template for `Starcounter Partial HTML Template`?

[2015-11-26 10:36] k-rus commented on #3102
I believe they can make a problem during deletion of all objects.

As I see delete all objects of running database with apps can break the application logic and affect both consistency of the data and performance.

To my understanding that the main wish is to bring database into empty state, like it was just created. This requires to prevent applications to run their logic in parallel or in respon

[2015-11-26 10:41] per-samuelsson commented on #3099
When reviewing how the code host currently bootstrap the application in terms of resource directories, I find some smallish things I find peculiar:

First, if a resource directory is passed, [this if-hive](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Apps.JsonPatch/AppsBootstrapper.cs#L411) are doing `Path.GetFullPath(webResourcesDir);` How could that ever work? From my

[2015-11-26 11:10] tomalec commented on #2931
Something like this: https://gist.github.com/tomalec/45271780b0736b6f2ced
or is it to elaborate?

[2015-11-26 11:16] warpech commented on #2931
I think these comments are great for a starcounter.io page, but the actual VS template should go without them. Could you paste the commented version in http://starcounter.io/guides/web/partials/ ?

[2015-11-26 11:22] tomalec commented on #2931
.io updated: http://starcounter.io/guides/web/partials/#example
Then the skeleton should look like:
[code]

[2015-11-26 11:31] malx122 commented on #2772
I'm still waiting for this feature after 5 month. It is important for us! Right now I have a couple of really ugly workarounds but they do not solve all problems!

[2015-11-26 12:18] alemoi commented on #3099
Just by having an architecture when some directory is always exposed by default (one can not ban exposing, its always on) is not a good security friendly thing.

[2015-11-26 12:48] careri opened #3111 "Benefits of SynonymousTo"
Are there any benefits of using the SynonymousTo attribute compared to a getter?

[code]

Compared to

[code]

I'd rather use the getter since the simplifies refactoring

[2015-11-26 12:55] careri commented on #3111
On second though SynonymousTo should enable SQL querying without creating a CLR instance, right?

[2015-11-26 13:11] warpech commented on #2931
Could the template for `Starcounter Partial JSON with Code-behind` (`.json` part) look like this?

[code]

Where `<appname>` is the name of the .exe and `<filename>` is the same name as provided for the `.json`

[2015-11-26 13:16] warpech commented on #2931
And of course the partial for `Starcounter Partial JSON with Code-behind` (`.json.cs` part) should be something like this:

[code]

[2015-11-26 14:18] per-samuelsson commented on #3099
Update:

We've had good creative discussions about how to tweak apps bootstrapping and sew it all together.

I'm at the point where I'm getting pretty ready to push all of this. Some more testing to do, then documentation and updating the changelog.

[2015-11-26 14:48] binte opened #3112 "Question: How to add a unitTest Project"
Hello guys!

I created a project which is supposed to test our application. I added a reference to the project where the database is located, but it doesn't work. I keep getting this exception:

Result Message:
System.Exception : ScErrThreadNotAttached (SCERR1004): The operation failed because the current thread wasn't attached to the scheduler.
Version: 2.0.3226.3.
Help page: https://github.com/S

[2015-11-26 16:17] per-samuelsson commented on #3112
@binte

Welcome here!

We'll gladly help, but I think we'll need a clearer picture of the setup. You have two projects - one Starcounter application project, and then some other project where you want to implement tests? Is that right?

Can you maybe describe the structure and/or show some code?

For example, can you open a command prompt, browse to the solution directory and do

[code]
and paste

[2015-11-26 16:18] per-samuelsson commented on #3112
Also, when exactly do you get this? Is that when running your Starcounter project?

[2015-11-26 16:21] per-samuelsson commented on #3111
Yep, but if you implement the pattern exactly as in your second case, where your getter contain just a single statement that return a database field, we detect that and know that we can skip the managed code.

[2015-11-26 16:23] per-samuelsson commented on #3111
Here's an [old discussion](https://github.com/Starcounter/Starcounter/issues/1193) by the way. This has been "on tapeten" previously.

[2015-11-26 16:57] binte commented on #3112
@per-samuelsson thanks for the reply!

In the solution I have a Starcounter application project and, as you said, a project that will test the application.

I got no output when I used that command!

I got that error when I run or debug the unit test (I am using xunit for unit testing), whenever I query the Starcounter database.

[2015-11-26 17:04] per-samuelsson commented on #3112
You mean `tree | clip`? Try just `tree`. That one displays a tree. Then `tree I clip` does the same, but sends the output to the clipboard. After that you can do "paste", to paste it.

But you dont have to now, I get the picture better.

I think this is what doesn't work. Starcounter works a little differently. You run queries *within* a Starcounter application: applications are **hosted**. Are yo

[2015-11-26 17:11] per-samuelsson opened #3113 "Feedback request: Relative resource directories"
All,

We are trying to finalize #3099, but we have one thing we just can figure out the right approach to.

If you are giving a **relative directory** to `star.exe`, where would you expect it to be quailified from?

**A)** From the current directory
**B)** From the executable

Example:

[code]

For **[A]**, "myfiles" would expand to `C:\Users\Per\myfiles`.
For **[B]**, "myfiles" would expand to `d

[2015-11-26 17:17] per-samuelsson commented on #3099
Turns out I'm not after all, since we cant figure out really how to resolve relative paths given. We've been discussing back and forth, and cant find any real strong case for any of the alternatives. Created #3113 for that.

[2015-11-26 17:57] malx122 commented on #3113
My vote is [A], everything else will confuse normal terminal users.

[2015-11-26 18:01] malx122 commented on #3099
As feedback I agree that adding a static file directory without active involvement is a major security flaw.

[2015-11-26 18:03] per-samuelsson commented on #3099
Thanks @malx122. I've changed that. This new story will be very straightforward and simple to comprehend I think.

[2015-11-26 18:08] per-samuelsson commented on #3113
Thanks @malx122. Appreciated! That is our current track too, and we actually decided to push that as a first alternative.

But we are very open to changing it to something else if users get back to us with strong opinions for some other way, so we are keeping this open for a while, to hear what people will say.

[2015-11-26 18:10] per-samuelsson commented on #3099
Happy to say I finally sew this together and just merged and pushed it in to the dailys. I'm gonna as @andwah to do a check so I haven't accidently destroyed anything in the client layers, and especially regarding the app store.

The aim/plan is we release this in a new stable coming up early next week. Meanwhile, I'll document all the new behaviours.

[2015-11-26 18:55] eriohl commented on #3109
Storage memory is allocated in segments with a size depending on the size of memory of your machine. This segments will be released if no longer in used (and then RAM usage will shrink).

However: There is some limitations to this.

First, as @chrhol pointed out there might be and open transaction preventing memory from being purged. The memory used for a deleted record is not released immediately

[2015-11-26 20:04] per-samuelsson commented on #3099
I've started documenting these changes over at [starcounter.io](http://starcounter.io/guides/network/static-file-server/). I'll eventually add a simple sheet cheet to this issue to illustrate whats been done for those not keen on docs.

[2015-11-27 04:57] miyconst commented on #3109
Does this all mean, that memory won't be released at all in Starcounter 2.x? Once some memory were used for database, it will be occupied till server restart.

[2015-11-27 05:29] per-samuelsson commented on #3112
On a more general note, Starcounter applications and unit testing currently really dont go hand in hand. We have that story to investigate in our backlog. Maybe this can be the initiator to get that going.

Interested in getting involved? ;)

At the heart of the problem lies the fact that Starcounter applications are ***server applications***. The live in, and depend on, a runtime *host*. And in t

[2015-11-27 06:54] eriohl commented on #3109
No. Sorry for not being clear. What I meant to explain was that:

1. Memory is generally released to OS when space is freed but generally not immediately.

2. In 2.2 (development version) it is currently not working but it will in future (and probably better then is does in current released).

[2015-11-27 06:58] miyconst commented on #3109
Okay, now it's clear. Thank you.

[2015-11-27 06:58] #3109 closed

[2015-11-27 07:10] careri commented on #3111
Ok, I'll stop using it in new code at least.

[2015-11-27 07:42] k-rus commented on #3111
Only in the case if you want to narrow down the type. Otherwise I prefer to use getter and as @per-samuelsson  mentioned Starcounter recognises it and it works in SQL.

[2015-11-27 08:26] warpech commented on #3022
Anything here useful for us? [Binding to Arrays -- Polycasts #35](https://www.youtube.com/watch?v=HBUb8frm2Tw)

[2015-11-27 09:06] tomalec commented on #3022
Not really, as I had to figure it out by myself a moth ago :/
But what is more important, I think we should not traverse through entire JSON tree to create observers for all arrays manually, and computed bindings does not help us either as we are usually using "dom-repeat", and even in that case we have problem with Polymer's API

[2015-11-27 09:08] per-samuelsson commented on #3111
That could be done by hand in a manual case as well of course, but with some extra typing:

[code]

equals

[code]

[2015-11-27 11:49] andwah commented on #2262
The answer is that you can not get the cookies.

[2015-11-27 11:51] andwah commented on #2637
```Starcounter.Handle.IncomingRequest``` is null if you have enable WebSocket's.

[2015-11-27 12:47] binte commented on #3112
@per-samuelsson,

thanks for the detailed explanation! The test project was created as a class library, and the line that fails is a query to our DB, in a file inside that class library. And you guessed well, that's precisely the way we have it setup in here. We thought about using a workaround, creating an intermediate Starcounter project, with a reference for our main Starcounter project, that w

[2015-11-27 13:14] per-samuelsson commented on #3099
Here's how it goes.

#### Working directory
Regarding **working directory**, thats is now always the *current directory* from where `star.exe` is invoked, when starting from the command-line.

For
[code]

the working directory is `c:\foo\bar`.

If you run from Visual Studio, based on an application created from `Starcounter application` project template, we'll set the **default** working directory

[2015-11-27 13:21] per-samuelsson commented on #3112
Cool. Let us know if there's anything we can do to help!

Also, I've raised this issue internally, and also proposed a possible way forward.

In short, I'm thinking we can write our custom `xunit` runner, maybe based on this [cool AssemblyRunner facade](https://github.com/xunit/xunit/blob/master/src/xunit.runner.utility/Runners/AssemblyRunner.cs.) they expose, and with the help of thatt, we can di

[2015-11-27 13:46] binte commented on #3112
Yes, please do keep me posted about further developments! But for now I think the workaround I proposed will suffice.

Thanks one more time!

[2015-11-28 06:51] miyconst opened #3114 "Improvements: running background jobs"
In the end of the article: http://starcounter.io/guides/transactions/running-background-jobs/

Can't this issue be solved by replacing:

[code]

with

[code]

In this case the `RunForever` won't block main application thread, and the app will shut down properly.

cc @chrhol, @dan31

[2015-11-28 09:41] miyconst opened #3115 "Weaver exception"
One of our machines throws this exception when trying to run an application.

The same code works good on other machines.

@per-samuelsson if you have any clue what can cause it, tell me please. If no, then I just close the issue as it looks to be a machine issue.

[code]
[code]
[code]

[2015-11-28 10:18] miyconst commented on #3115
Not sure it was the reason, but during investigation we discovered that VS key has expired. The issue has gone after applying new key.

[2015-11-28 10:18] #3115 closed

[2015-11-28 10:24] alemoi commented on #3043
Yesterday I created a new build in TeamCity: New Pnext Daily Windows. Its basically based on current Develop Daily: does same steps, except how Level0 is built. It uses "pnext" branches for Level0, Level1 and Buildsystem repos. To add/enable tests - follow the new test framework regulations. Please let me know if you have any issues with the build.

[2015-11-28 12:24] per-samuelsson commented on #3115
@miyconst, happy you got pass it, but seems unlikely it was the cause. Bit strange. But yeah, it *could* be that, something that when the weaved assembly are to be rebuilt, it fails b/c invalid license. Never seen that before though.

If you want me to investigate it, can you take a lock in the logs, see if there's something there? From th above, I can only see that the weaver fails, not why.

[2015-11-28 13:13] miyconst commented on #3115
No need to waste time on this, thank you. If it will appear again, then I will try to gather some more information.

[2015-11-29 12:59] andwah opened #3116 "Starcounter setup failed. Redistributable x64 failed"
![image](https://cloud.githubusercontent.com/assets/2656996/11457134/4b903bce-96a1-11e5-8228-296dd59c59cb.png)

Git this error when i tried to update Starcounter where the AppStore server (glesys) is runnint.

[2015-11-29 14:06] warpech commented on #2817
ping

[2015-11-29 16:19] chrhol commented on #3043
There is still some problem with the build. I will take a look at it since @alemoi is on vacation. I was going to do this on friday, but didn't have the time to fix it.

[2015-11-29 16:57] chrhol opened #3117 "Replace public API for switching into a Session from manually calling start and stop."
In some cases you have an asynchronous callback and want to reconnect to a `Session` and a viewmodel (for example if you want to update or push latest changes).

Currently there are two methods that needs to be used, `session.StartUsing()` and `session.StopUsing()`. Since we limit the access to the session using a waitevent, it is important to always call `session.StopUsing()` when finished otherw

[2015-11-29 17:06] miyconst opened #3118 "Unable to map more than one handler to one uri in one app"
I have mapped these two urls of my app to same url with `UriMapping.Map`:

[code]

And htmlmerger combines it to:

[code]

Same parameter passed two time in the query string, in the result I see two `TextWidget.html` pages. If this is not supported, then app with such maps should fail to start.

cc @alemoi, @chrhol, @warpech

[2015-11-29 17:07] chrhol commented on #3114
Thanks for the input @miyconst!

I was not aware of this, I just assumed that these two patterns would work the same when it came to shutdown. I've tested it and using threadpool instead of creating your own thread works.

I will update the documentation :santa:

[2015-11-29 19:01] chrhol commented on #3043
The failing thing in the build is this custom target in `Starcounter.csproj`:

[code]

which fails with:

I think I need some help from @per-samuelsson (as he seems to be the one who added this) to understand what this does and how we can make it work on the buildserver.

[2015-11-29 19:49] alemoi commented on #3116
Hmm, I wonder if its the Microsoft problem that Dan experienced some time ago. I think he created a separate thread for this. What is the target server?

[2015-11-29 19:54] alemoi commented on #3118
Thanks for reporting! Yes, seems to be a problem with URI mapper.i will take a look next week.

[2015-11-29 21:35] alemoi commented on #3116
Now I think it might be a different issue since Starcounter was already installed there. What is the version you ate trying to install and whats the Windows version on this machine?

[2015-11-30 05:33] miyconst commented on #3023
Nightly builds are missing again, the last one was on `Nov 26`.

[2015-11-30 06:06] eriohl commented on #2979
Using the new metadata tables instead.

[2015-11-30 06:06] #2979 closed

[2015-11-30 06:13] per-samuelsson commented on #3117
What about `Use`? `Reuse`?

[code]

[2015-11-30 06:48] k-rus commented on #3113
From my experience with command line, I expect **A**, i.e., the current directory. I also have experience, e.g., in VS, that the actual location of my project is the starting folder.
Since we are speaking about executable, then I vote for **A**.

[2015-11-30 06:57] per-samuelsson commented on #3113
This is because we set it like that by default (in our template). It makes sense.

Thanks for the feedback. And extra thanks because it suggest what I decided to push as a first version.  :wink:

[2015-11-30 07:01] per-samuelsson opened #3119 "Review changes in working- and resource directory from perspective of web admin and app stores"
Basically, just check that everything I've done in #3099 haven't messed up anything in the client parts. I have tried to adapt where I thought it was needed, but it's best @andwah verifies this as well, before we ship a new stable.

[2015-11-30 08:42] chrhol commented on #3117
Yeah, I like `Use()`. Will go for that :thumbsup:

[2015-11-30 08:43] alemoi commented on #3023
That's probably because some tests needed to be added to longtests.txt. I will take a look soon!

[2015-11-30 08:44] per-samuelsson commented on #3043
Are we sure the error is because the `GenerateMetadataClasses.exe` does not exist (like you told me off-tracker)?

[2015-11-30 08:52] per-samuelsson commented on #3043
Its a bit weird, because this [has in fact worked](https://github.com/Starcounter/Starcounter/issues/3051#issuecomment-157757013), so I can't see what could have changed that caused it not to work any longer.

[2015-11-30 09:00] chrhol commented on #3043
It's never worked on the buildservers, since Level1 was not built there before for pnext (we found out). So maybe something on a completely clean build?

I assumed it was since I could not find `GenerateMetadataClasses.exe` in the output folder, and errorcode 9009 means that the tool was not found, but maybe something else is making the project not build correctly.

I will investigate more, I just

[2015-11-30 09:40] jwillmer opened #3120 "SQL console can not handle GROUP BY"
If I navigate to ```http://127.0.0.1:8181/#/databases/default/sql``` and enter something like
[code]
I get an incorrect syntax error. Maybe [Db.SlowSQL](http://starcounter.io/guides/sql/aggregates/) is not used?

[2015-11-30 09:45] andwah commented on #3119
I fixed the issue where the resource folder was not set when starting apps from Administrator.

[2015-11-30 09:49] andwah commented on #3116
Tried to install Nightly 2.1.577 (26 Nov 2015 02:05:03). on Windows Server 2012 R2 Standard.
Current installed starcounter version on the machine is Stable 2.1.177 (14 Oct 2015 17:28:43).

[2015-11-30 09:58] dan31 commented on #3116
I confirm this is a problem of MS. Anders, please run a complete Windows
Update for this machine (it will install in total around 60 updates) and
the problem will have gone. That is a problem of 'clean' WinServer redists
shipped without bundled updates, and Glesys is using the one.
On 29 Nov 2015 13:59, "Anders Wahlgren" <notifications@github.com> wrote:

[2015-11-30 10:06] miyconst commented on #3120
Can you try to run same query type in one line?

[2015-11-30 10:09] jwillmer commented on #3120
[code]
does also not work

[2015-11-30 10:11] miyconst commented on #3120
Bad. Anyway, I vote up to fix this.

[2015-11-30 10:21] alemoi commented on #3043
I just checked it and there is no GenerateMetadataClasses.exe in the build output directory.

[2015-11-30 10:32] miyconst opened #3121 "UPDATE does not support parameters"
It is really annoying that `UPDATE` and `INSERT` can't use parameters same as `SELECT`.

@k-rus, @dan31, @warpech

[2015-11-30 10:39] alemoi commented on #3043
I looked more and it seems to be again a glitch with MsBuild not properly resolving the build order. Starcounter project even if it depends on GenerateMetadataClasses - its being built before the last one. Its the same story as with error codes project, as you remember.

[2015-11-30 10:44] alemoi commented on #3043
I think here is the case: http://stackoverflow.com/questions/3640179/visual-studio-and-msbuild-fire-beforebuild-differently-on-a-wix-project

[2015-11-30 10:48] k-rus commented on #3111
Will the weaver treat the getter as database property or code property?

[2015-11-30 10:49] alemoi commented on #3043
Testing the resolution now.

[2015-11-30 11:02] per-samuelsson commented on #3043
WTF? So if I specify a dependency from a standard C# library project, saying that it depends on another one, `msbuild` **dont** guarantee that the depedency is built first?! Are you sure? That sounds like a huge thing to me.

[2015-11-30 11:05] alemoi commented on #3043
Yes, and its a difference if built from VS or using MsBuild, you can read here in the suggested answer: ttp://stackoverflow.com/questions/3640179/visual-studio-and-msbuild-fire-beforebuild-differently-on-a-wix-project

That's why it works locally but I guess never worked in automated mode (MsBuild).

[2015-11-30 11:06] per-samuelsson commented on #3120
Yeah, like I said off-tracker, I think there are some limitations in web admin SQL compared to `Db.SQL`. I don't know what those are though, or if its documented. And neither why the need to differ. But this might be one of them?

Me too.

[2015-11-30 11:08] per-samuelsson commented on #3043
And we are using WiX?

[2015-11-30 11:09] dan31 commented on #3120
CC @k-rus @andwah

[2015-11-30 11:12] alemoi commented on #3043
No, but there is a general explanation of a problem there in the answer.

[2015-11-30 11:38] dan31 commented on #3116
https://github.com/Starcounter/Starcounter/issues/3067

[2015-11-30 11:45] per-samuelsson commented on #3043
Ah, ok, yeah, now I saw. Thanks.

Wow. Thats inconsistency to me. Why would the ever want to design it like that... :cry:

Lets just bring our setup into the light. Its this.

[code]

Thats in `Starcounter` project. And `Starcounter` is setup to depend on `GenerateMetaClasses` project (that is a tool), to ensure the tool is built before the `Starcounter` project is.

And clearly, thats not suffici

[2015-11-30 11:50] per-samuelsson commented on #3043
Maybe remove `BeforeBuild` and implement this pattern instead, @alemoi? WDYT about that?

[code]

[2015-11-30 11:54] alemoi commented on #3043
I tried BeforeCompile and that didn't work well either. I even moved the build of "GenerateMetadataClasses" project outside Level1, but then it complains about not finding "metaschema.json" in Release folder, which I guess is copied from Level0?

[2015-11-30 11:56] k-rus commented on #3043
Correct. The json file is defined in Level0, used there for C++ code generation, and copied into Level0 output folder for input to Level1 to generate CLR classes.

[2015-11-30 12:00] per-samuelsson commented on #3043
@alemoi, could we try this:

[code]

Just exactly that in `Starcounter`, and have GenerateMetadataClasses remain as is. Replace both BeforeBuild and previous `<Target Name="GenerateMetaClasses" ...` and see if that works.

[2015-11-30 12:00] alemoi commented on #3043
Sure, I will try it.

[2015-11-30 12:10] per-samuelsson commented on #3119
OK, good. Thanks. Have you verified all app-related use cases you know of and they seem to work? When you say "go", I'll close all related issues and will OK the upcoming stable build w.r.t to this set of issues.

[2015-11-30 12:15] alemoi commented on #3043
Let's see if that works, because as I wrote I already tried BeforeCompile and that didn't work well either.

[2015-11-30 12:19] per-samuelsson commented on #3043
Did you try?

[2015-11-30 12:20] per-samuelsson commented on #3043
Those crazy VS strategies always ... sigh. They claim that in this new version X, everything has changed, now VS just runs as on top of msbuild, working the same way. And then you still find stuff like this over and over. :smile:

[2015-11-30 12:26] alemoi commented on #3043
Haha, the "AfterResolveReferences" seems working, but not the "BeforeCompile". So I just pushed it.

Yes, just waste of time for us.

[2015-11-30 12:26] k-rus commented on #3121
`UPDATE` does not exist in our SQL. `INSERT` is not available for public use. No plans to do any enhancements to SQL in the current version. This will be targeted in new version.

[2015-11-30 12:27] per-samuelsson commented on #3043
Great. Thanks a lot.

[2015-11-30 12:30] k-rus commented on #3120
The answer is [here](https://github.com/Starcounter/Starcounter/issues/2834#issuecomment-145847483). It is used.

`Order` is [a reserved keyword](http://starcounter.io/guides/sql/reserved-words/) in current version of SQL. It will be relaxed in future version.

[2015-11-30 12:30] k-rus commented on #3120
Since it is reserved keyword in current version and not in future version, good error message is not reported.

[2015-11-30 12:58] chrhol commented on #3043
awesome! :raised_hands:

[2015-11-30 13:00] jwillmer commented on #3120
I encountered another problem that is related:
```SELECT o FROM Namespace.Order.OrderItem o```

This throws an incorrect syntax. If I query for something else that does not have the name "Order" in the Namespace it works.

[2015-11-30 13:06] k-rus commented on #3120
As I [wrote](https://github.com/Starcounter/Starcounter/issues/3120#issuecomment-160616766) `Order` is [a reserved keyword](http://starcounter.io/guides/sql/reserved-words/) in current version of SQL. The workaround is to double quote it.

[2015-11-30 13:55] andwah commented on #3119
I have not.

At the moment all my time is invested in the Demo project, no time for testing :-(

[2015-11-30 14:01] per-samuelsson commented on #3119
OK, I see. Thats probably the right thing to do. Dont worry about this for now then. I'll check with the others whats the way forward. Thanks for clarifying.

[2015-11-30 15:05] ivarbergman commented on #3099
Hi! I have a issue when using a relative resource directory.

    C:\Tunity\Project\Tunity-3\Tunity.Gantt>star --resourceDir="Client;..\Tunity.Common\Client" "bin\Debug\tunity_gantt.exe"

result in the following error message:

    Please check it existence and correct access rights.
    Directory path: C:\Tunity\Project\Tunity-3\Tunity.Gantt\..\..\Tunity.Common\Client

It seems that it adds en ex

[2015-11-30 19:46] andwah commented on #3119
If someone finds an issue i will of course fix it as soon as possible. probably i will take me 1-5min to find and fix the it.

[2015-11-30 20:05] per-samuelsson commented on #3119
I know you will, you always do :smile: I just wanted to run through all the stuff once before we decide on a stable release. But again: dont bother with this now, @andwah. Focus on the demo. Either we wait with a stable (don't think theres an urgent need), or else I can set that up some other way. No problem.

[2015-12-01 08:31] careri commented on #3099
Nice, makes much more sense now. Even I understand what's going on :tada:

One problem though, providing the resourcedir from the debug tab in VS seems inconsistent:
Works:

    --resourceDir=..\..\wwwroot

Doesn't work (quotes seems to be thre problem):
[code]

[code]

[2015-12-01 08:40] per-samuelsson commented on #3099
Haha, thanks. Glad you like it. :smiley:

I see. I never tried with quotes actually. I'll see if I can verify it and open up an separate issue regarding that bug.

So you are already using it? Your deploy nightlys, do you? Cool.

[2015-12-01 09:19] careri commented on #3099
Yepp, nightlys. I was looking at your example for cmd:
[code]

[2015-12-01 09:23] per-samuelsson commented on #3099
You should always stick to the CLI. Never any problems there! :wink:

[2015-12-01 10:09] alemoi commented on #3023
This was the case. Some tests took longer time to complete and were not in longtests.txt. Now everything should work fine again.

[2015-12-01 10:28] careri commented on #3099
Yepp, CLI is usally the fastest way of doing things. I'm all for hotkeys and minimizing mouse usage.
This is faster (one key):
F5 in VS

This is slower:
CTRL+SHIFT+B (build solution)
ALT+TAB to cmd (or Win+3 in my case as it's pinned to taskbar)
Up arrow to go to previous command
ALT+TAB to VS (or win+4 in my case)
CTRL+ALT+P (attach debugger)
type sccode
hit enter to attach

;)

[2015-12-01 10:33] andwah opened #3122 "NullReferenceException When navigating back in bowser"
This is clues all i can find.

Starcounter log:
[code]

[2015-12-01 10:49] careri commented on #3099
One more though. Shouldn't the default working folder for the project in VS be the output folder and not the project folder?

For most other project types hitting F5 (debug) means that the code in the output folder is executed

[2015-12-01 11:06] alemoi opened #3123 "pnext sqlregression test fails at TableCreate.Eval"
Just so we can track the current state of issues.
Here is the exception:
[code]
Can be found in artifacts for the personal build I made: https://scbuildserver/viewLog.html?buildId=32277&buildTypeId=Starcounter_NewPnextDaily&tab=artifacts

[2015-12-01 11:09] alemoi opened #3124 "pnext indexquery test fails with transaction"
Just so we can track current issues with pnext tests separately.

Here is the issue stack trace:
[code]
in https://scbuildserver/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=32276#_focus=6267

[2015-12-01 12:23] andwah commented on #3099
If we run our app and and modify some html then we do not want to rebuild the project , we just want to hit refresh in the browser.

[2015-12-01 12:50] bigwad commented on #3124
This test tries to issue "CREATE INDEX" sql statement twice in a row to test that second time statement will fail with specific error so customer will know that index already exists.
The problem is that due to latest changes in the kernel (https://github.com/Starcounter/CompanyTrack/issues/120#issuecomment-159921368), kernel's stari_transaction_create_index function doesn't return as error in such

[2015-12-01 13:04] alexanderstc commented on #3124
I'm on this.

[2015-12-01 13:15] miyconst opened #3125 "If a table has nullable property and some rows with null in there, then administrator fails to run select over it"
Was just discovered by TargetEveryOne guys, that if a table has a nullable field, like `DateTime?` and a row with `null` value in it, then query like:

[code]

Fails with the following exception:

[code]

cc @andwah

[2015-12-01 13:33] careri commented on #3099
Thats what's the resourceDir argument is used for right? If I follow your conclusion about auto loading static resources and not doing any files in the project folder shouldn't be auto loaded either?

I suggest:
output=$(outputpath)
Arg=--resourceDir=$(MSBuildProjectDirectory)

This makes the app run in the output directory. What I the user want's to read som custom datafiles residing in the $(out

[2015-12-01 13:41] per-samuelsson commented on #3099
They aren't. If you read the docs, you'll see that we look for `wwwroot` as a *subfolder* to working directory. So the working directory (i.e project directory) is not exposed by default.

With that being said, the design with working dir = project directory is not mine, so I can't really say whats right or wrong. For me, the setup you suggest would be the most natural too. But there might be thin

[2015-12-01 13:42] alexanderstc commented on #3124
@bigwad please verify #41.

[2015-12-01 13:55] bigwad commented on #3123
I believe, it's environmental problem. Due to bad machine performance, scdata failed to start in allocated timeslot (3 sec), so test failed.
During normal host startup, star.exe has been waiting for scdata for 5 sec. So I increased timeout in the script to 5 sec to match star.exe's behavior.
Worth to mention that star.exe is checking for special event during that 5 seconds, so it may stop waiting

[2015-12-01 14:01] bigwad commented on #3124
it's ok now

[2015-12-01 14:01] #3124 closed

[2015-12-01 14:07] andwah commented on #3122
I could not reproduce this on my machine.. anyone knows where to begin looking?

[2015-12-01 14:18] careri commented on #3099
Right, I read about hte FilePath. But forgot about it again.
We'll just my two cents. Works both ways as long as you're aware of the unconventional way of working in the project dir. Just need to specify the working dir and resource dir.

[2015-12-01 15:15] bigwad commented on #3123
Another reason why it fails is the presence of SocietyObjects. Investigating it now.

[2015-12-01 16:17] bigwad commented on #3123
I haven't dig deep enough to point to the problem more closely, but something wrong with metalayer I believe. Host tries to register a table Concepts.Ring1.FixedType that is inherited from Concepts.Ring1.Something. To do so it's looking up for definition of base class (Concepts.Ring1.Something), but it can't find its definition, though base class was successfully registered right before derived.
@

[2015-12-01 16:21] bigwad commented on #3123
Copy the folder "\\scbuildserver\ftp\Temp\EditionLibraries" to your output folder in order to reproduce on local machine.

[2015-12-01 18:06] alemoi commented on #3123
https://github.com/Starcounter/CompanyTrack/issues/156

[2015-12-01 22:03] per-samuelsson opened #3126 "Merged response end up empty via layers of handlers"
This bug is kind of tricky. Me, @warpech and @jwillmer has spent the majority of the day today trying to figure it out. We found a way around it earlier today, but didn't understand the full picture. Now I've nailed it (after yet a few hours trying to trim it), but it spans several layers, so I'm not sure who should look into it though.

Here it goes:

A) Create an application that runs under the

[2015-12-02 06:02] per-samuelsson commented on #3126
After sleeping on it, I can see the heart of the problem clearer: the (misspelled) [C] handler will "hide" static content, because it's pattern overlap static files with that naming scheme.

Some suggestions on how we possibly can improve:

1. Always assure we merge just `html` responses (this one returned JSON, thats why the result ended up crappy)
2. Check handlers at registration and compare th

[2015-12-02 07:19] jwillmer commented on #3126
Greate catch @per-samuelsson! But why/how does ```Handle.GET("/foo/bartest"``` call the second handler if I invoke him? I noticed that too and find it strange.

[2015-12-02 07:30] miyconst opened #3127 "Unable to start Starcounter on a machine"
Starcounter fails to start on a fresh install of windows 10.

Here are the records from Windows Event Log:

[code]

[code]

[code]

This happens with Starcounter `2.1.656` and up, does not happend with Starcounter `2.1.177`, not sure about the middle ones.

@k-rus, @chrhol, @alemoi, @per-samuelsson, @eriohl

[2015-12-02 08:01] warpech opened #3128 "Exception caused by Handle.GET crashes the database"
A below exception, which is likely to occur during development, cases a critical error and crashes the database:

![image](https://cloud.githubusercontent.com/assets/566463/11525385/fa3a0bea-98d2-11e5-8dd3-f7e56b795204.png)

From error log:

[code]

[2015-12-02 08:17] miyconst opened #3129 "Static content served wrong when Working directory points to wwwroot"
Starcounter `2.1.656` and up fail to serve static content if working directory points to `wwwroot`, work fine when working directory points one level up of `wwwroot`.

This is a big issue, because Images app needs it to be set to `wwwroot` so the `Starcounter.Application.Current.WorkingDirectory` gets correct value.

Even bigger issue comes when static content folder is not `wwwroot`.

@alemoi, @c

[2015-12-02 08:26] chrhol commented on #3127
Hi @miyconst.

If I understand you correctly, you can properly install Starcounter and this happens afterwards? or is the installation reverted when scservice is started in the end (assuming you don't install the VS extension)?

I've tried to reproduce it in a virtual machine using an image from https://dev.windows.com/en-us/microsoft-edge/tools/vms/windows/ (MSEdge on Win10) and could not get the

[2015-12-02 08:28] chrhol commented on #3129
This is probably something to do with @per-samuelsson latest changes in how resourcedirs are handled. I will assign it to him.

[2015-12-02 08:32] miyconst commented on #3127
Yes, you are correct. The issue occurs when I try to start Starcounter, either from VS or from anchor on desktop.

It does occur only on one particular machine, works fine on others. And the `2.1.177` version works fine on that machine.

[2015-12-02 08:34] per-samuelsson commented on #3126
It does so when the merger tries to get the static resource, ``BarPage.html``. Since the handler registered with a typo, `Handle.GET("/foo/bar{?}"`, will match that pattern, Starcounter will use the result of that handler, instead of the static resource, when creating the merged HTML. In this case, it will be invoked with {?} == "Page.html".

[2015-12-02 08:37] chrhol commented on #3127
2.1.177 is built before we switched over to VS2015, so maybe the C-runtimes for VS2015 is corrupt or not installed properly on that machine.

Could you try to manually install/repair them and see if that works? https://www.microsoft.com/en-us/download/details.aspx?id=48145

You need both runtimes, x86 and x64

[2015-12-02 08:40] per-samuelsson commented on #3129
@miyconst

This is now by design. We no longer make the working directory an implicit resource directory, since it was suggested that would be a security vulnerability.

You can read about the changes done in this https://github.com/Starcounter/Starcounter/issues/3099#issuecomment-160137228, and also under [Static file server](http://starcounter.io/guides/network/static-file-server/) on `.io`.

We

[2015-12-02 08:43] per-samuelsson commented on #3129
You can always explicitly instruct Starcounter to include the working directory as a resource directory. Just add `--resourceDir=.` Works in both in CLI and VS.

[2015-12-02 08:46] miyconst commented on #3129
@per-samuelsson thank you for the info.

Could you please provide instruction here what should I do to let Starcounter serve static files from `Images/wwwroot` and the same time `Starcounter.Application.Current.WorkingDirectory` gets correct value?

[2015-12-02 08:46] miyconst commented on #3129
And we also should update our tutorials.

[2015-12-02 08:48] per-samuelsson commented on #3129
Did so [here](https://github.com/Starcounter/Starcounter/issues/3129#issuecomment-161220648) just 5 minutes ago. :smile:

[2015-12-02 08:52] per-samuelsson commented on #3129
Cheat-sheet:

In Visual Studio, set Working directory under `Project | Properties | Debug` to where you want it to be. This hasn't changed from before.

Then, in "Command-line arguments" text box, specify the `--resourceDir=[path]`. The path can be absolute or relative. If its relative, its relative to the *working directory*. You can provide several paths by separating them with ";", like so `--r

[2015-12-02 08:56] miyconst commented on #3129
@per-samuelsson, thank you. Internet sucks in here, didn't see your answer, but the second one I like much more ;)

[2015-12-02 08:56] #3129 closed

[2015-12-02 09:06] careri opened #3130 "ScErrTransactionClosed"
Hi!

I'm writing a performance test where I stress a message queue that I'm implementing.
My first attempt was to use SemaphoreSlim to synchronize the writing. But I wasn't satisified with the performance. 8000 messages took 2sec to write.
So I though that I just handle any TransactionConflicts or ConstraintViolations that occur and try again.

The Ensure/Create-methods in the code below first tri

[2015-12-02 09:36] chrhol commented on #3118
I got the same question from @ivarbergman today. He also tried to respond with two (different) partials from the same app and got the same result.

Worth to notice is that the html and the htmlmerger have both responses, but the viewmodel (json) only contains one of them.

What is the correct behaviour here, should we only allow one map for one type per app?

[2015-12-02 09:36] alexanderstc commented on #3123
I debugged, the order of events is this:

- a table "Concepts.Ring1.Something" is created, with token 281, yielding layout 84
- the transaction is commited
- stari_context_get_layout_infos_by_token() is called with token 281, returning 0 and no layouts found
- the test fails because of no layouts have been found

@eriohl, could you have a look please

[2015-12-02 09:45] per-samuelsson opened #3131 "Quoted resource directories in VS extension prevent app from starting"
Reported by @careri [here](https://github.com/Starcounter/Starcounter/issues/3099#issuecomment-160893288). I have now tested and confirmed; doing this:

[code]

in VS raise an error. Removing the quotes make it work. Doing `star --resourceDir="somefolder" app.exe` works fine though.

[2015-12-02 10:30] chrhol commented on #3130
Are you using `Db.Scope(...)` or `Transaction` directly for this test? Creating alot of longrunning transactions in the same request will be really slow since all created transactions are kept and cleaned up in the end. There is a limited number that are fast to handle, but after that the performance will drop.

The exception should be checked and handled though.

[2015-12-02 10:33] alemoi commented on #3127
Does Starcounter log contain something?

[2015-12-02 10:42] miyconst commented on #3127
No, nothing :(

[2015-12-02 10:46] alemoi commented on #3128
It says "GET /braintree/app-icon  on port 8080" is already registered. Do you have it in some other app? And it crashes the codehost I guess, not the database process.

[2015-12-02 11:28] warpech commented on #3128
Thanks for clarification. All I see as a user is that the database gets stopped in the Administrator.

[2015-12-02 11:30] alemoi commented on #3118
I will check tomorrow current reasons for this behavior and come up with the answer.

[2015-12-02 11:32] alemoi commented on #3127
Ok thanks. Seems like incomplete environment since DllNotFoundException is thrown, as @chrhol suggests. What if you run scservice.exe from cmd directly, I would like to see which DLL is not being found.

[2015-12-02 11:33] alemoi commented on #3128
But what about the duplicate handler? :) How it ended up there?

[2015-12-02 12:05] warpech commented on #3128
The developer copy pasted this by mistake.

I only think that there is a flaw in Starcounter that such a simple problem causes the database to stop.

[2015-12-02 12:46] alemoi commented on #3128
You mean the codehost again :)

Anyways, in this case, when two same handlers are added, what do you expect from the codehost? Should it start? :)

[2015-12-02 13:35] per-samuelsson commented on #3128
I've said this before: what I would expect as a developer is very simple: an exception saying I can't register such handler, becuase one with the same name is already registered.

[code]

Very similar in semantics to what happens when I add a key to a directory that already exist.

(Yes, this exact same case, we've seen before. Thats why I have a comment on it). :smile:

[2015-12-02 13:39] per-samuelsson commented on #3128
About that above comment: I think the implemented pattern is already pretty much in place. To make it perfect, we should map it to an exception I can distinguish, like above. But that's just a minor thing really. Simple to do (with the excpetion factory) and not really a bug if its not done, the more general argument exception is fine too.

[2015-12-02 13:57] per-samuelsson commented on #3128
@warpech

Just to clarify our take here: what we do when there is a fault detected in an application **that is not handled** is to "throw the application out".

Its very much in line with how a normal C# desktop application work. If an error occurs, and the application doesn't handle it (catch it, in exception-based lingo), it "bubbles up" out of the scope of the application, and the OS will termi

[2015-12-02 15:28] alemoi commented on #3128
Just curious about the existing distinguished exception types that we already throwing right now. I guess its not so many of them right? Probably covering quite a small subset of problem cases.

[2015-12-02 15:33] #3131 closed

[2015-12-02 15:34] per-samuelsson commented on #3131
Fixed, pushed and merged in https://github.com/Starcounter/Starcounter/commit/02b0b7ca42294f3c1fd57a783384fff6267035da.

@careri, it should be part of the next nighly. Please verfify it if you have some sparetime. (I know you have a lot of that!) :sunglasses:

[2015-12-02 18:27] eriohl commented on #3123
Should include \scbuildserver\ftp\Temp\EditionLibraries files in SQLTest then?

[2015-12-02 18:29] eriohl commented on #3123
Why does the build server do this?

[2015-12-02 18:29] k-rus commented on #3123
As I understood EditionLibraries folder should be placed in output folder of Level1.

[2015-12-02 21:33] alemoi commented on #3123
SO and Simplified are built automatically on the build server, after Level1 and Level0. We, as developers, need to build these repos, first SO, then Simplified (building should be done with StarcounterBin defined so that MsBuild for those projects knows where to output those libraries, should point to your binaries folder):
https://github.com/StarcounterSamples/Society-Objects
https://github.com/S

[2015-12-02 21:59] eriohl commented on #3123
Question was why they where loaded as part of the SQLTest.

[2015-12-02 22:02] eriohl commented on #3123
Anyway: Problem resolved. Token size was not calculated correctly when creating layout so token was not correctly in layout.

Test now fails on some constraint violation creating tables instead. I can check this tomorrow.

[2015-12-02 22:18] alemoi commented on #3123
These libraries are loaded as a part of every codehost, so they are a mandatory part of Starcounter now. I created a separate issue regarding these components: https://github.com/Starcounter/CompanyTrack/issues/156

[2015-12-03 00:13] malx122 opened #3132 "Question: Writing sql questions that ignores parameters"
Hi!
Let say I have a db class:
[code]
Now I want to write a function:
[code]
if includeA is false, I want to get MyClass where A is false, if includeA is true, I want to get MyClass  independent of the value of A.
Is this the "only" way to write this?
[code]
Or is there a way of saying "ignore" instead of "false"?
I'm gussing that indexing the above might be a little to much as well, I probably sh

[2015-12-03 05:58] miyconst commented on #3127
![image](https://cloud.githubusercontent.com/assets/6435556/11553045/f72a35ea-99b0-11e5-8393-79ece9f66f3d.png)

[2015-12-03 05:58] miyconst commented on #3127
Here is what happens when I try to run Starcounter from command line.

[2015-12-03 06:03] miyconst commented on #3127
Trying to reinstall vc runtime gives this error:

![image](https://cloud.githubusercontent.com/assets/6435556/11553118/a85e9d9c-99b1-11e5-9514-07b792a3036b.png)

[2015-12-03 06:29] miyconst commented on #3127
Googled for the issue, seems like Windows 8.1 installation is corrupted. The logs shows some failures trying to install Windows update. Updating the system now, will see what happens next.

[2015-12-03 06:36] k-rus commented on #3123
As I replied there it is incorrect to assume that regression tests are product/system tests. Regression tests also contain unit tests and component tests and they don't assume that Starcounter is installed.

[2015-12-03 06:46] k-rus commented on #3132
This is good questions for [stackoverflow](stackoverflow.com).

You can put all the conditions into a single SQL statement by using disjunctions. For example:
[code]
You can try simplified version of the query:
[code]

[2015-12-03 07:00] miyconst commented on #3127
I was wrong about windows 10, it's windows 8.1 Enterprise.

Just installed all of the updated, reinstalled vc++ runtime. Same issue.

[2015-12-03 07:51] miyconst opened #3133 "Unable to upload large files"
I am trying to upload file of 6mb size.

For this I have changed Starcounter gateway settings:

[code]

In
[code]

Restarted server to get setting loaded. But still, trying to upload the file ends up with the error:

[code]

Should I do something else?

cc @alemoi

[2015-12-03 09:19] jwillmer opened #3134 "DbException occurred in Starcounter.dll"
This problem is reoccurring every now and then:
I have two Projects in my Solution. One is created via Starcounter project template and the other is a library there I put my database models.
Sometimes if I change something and run the solution I get an DbException. I think it is a caching problem. Cleaning & rebuilding of the solution does not help every time, sometimes the only option is to delet

[2015-12-03 09:42] alemoi commented on #3123
That's correct. However no tests should fail when missing components are added.

[2015-12-03 10:04] eriohl commented on #3123
Some tests have hardcoded record ids. Changing the input might change the output obviously.

[2015-12-03 10:25] alemoi commented on #3123
I see. Then best would be to use a flag "LoadEditionLibraries": https://github.com/Starcounter/CompanyTrack/issues/156#issuecomment-161584406

I will make sure its working and get back here.

[2015-12-03 10:36] alemoi commented on #3123
I see there is another error with sqlregression test now, which I saw before in other tests:
[code]

[2015-12-03 10:36] eriohl commented on #3123
I didn't say it was a problem. Just that it migth be optimistic to assume it should not be.

[2015-12-03 10:43] alemoi commented on #3123
Sure. I have to fix the proper work of the flag LoadEditionLibraries anyways. Because it will be much simpler for us to run these kind of tests. Right now we rename the EditionLibraries folder in tests scripts, which is a mess :) I will fix this.

[2015-12-03 10:46] alemoi commented on #3133
My bad, because I found a missing warning entry report in the server log. Now I fixed that there is a warning logged to server log:
`20151203T114436 Warning sc://alemoi/personal/networkgateway Starcounter - Gateway XML: MaximumReceiveContentLength parameter exceeds maximum value of 2096936. Value of 2096936 will be used.`

The maximum value for this parameter is now 2096936. If people would like t

[2015-12-03 10:46] alemoi commented on #3133
The fix I can provide in daily build for you! So you don't need to wait for nightly.

[2015-12-03 10:56] alemoi commented on #3128
I found the problem with current solution. I need to use ErrorCode.ToException. Fixing this now!

[2015-12-03 11:01] per-samuelsson commented on #3128
Yeah, sorrry, I thought you new that. Thats the way we broadcast exceptions via the installed `ExceptionFactory`.

Right. And it shouldn't be that many either. There are good guides on exception best practices out there. One simple think I use to think about is how meaningful it is for a caller to be able to catch (and handle) a certain errornous case. If you can think of a good standard way to ha

[2015-12-03 11:14] alemoi commented on #3128
Throwing error code SCERRHANDLERALREADYREGISTERED fixed via 747136d16e04f8b04bfd24f9aacf81af1e40fe9a
No special exception type is thrown, after discussion with @per-samuelsson

[2015-12-03 11:14] #3128 closed

[2015-12-03 11:17] k-rus commented on #3123
Can non-system tests be run before installing Starcounter? Build Level0, run Level0 tests, build Level1, run Level1 tests, install Starcounter and run app and product tests.
Having SO sometimes complicates writing component tests enormously, which leads to bad test coverage, since the tests are not created.

[2015-12-03 11:25] miyconst commented on #3133
Thank you @alemoi, I don't need it today, but nice having it fixed. I will close the issue after testing it.

[2015-12-03 11:30] alemoi commented on #3133
The reason for this limitation is simple: where there 2 Megabytes, there are 10 and 100. That's why I set the limit to 2 Mb approximately and everything on top of that should be handled using user-code streaming, where I am suggesting WebSockets.

[2015-12-03 11:34] alemoi commented on #3123
Having SO sometimes complicates writing component tests enormously, which leads to bad test coverage, since the tests are not created.

Unfortunately I would say no. At least with the new test framework. I tried to make the rules as simple as possible to cover most of the use cases needs. Corner cases would need to adopt I suppose. Let's make a discussion on this and get some opinions: @dan31 @per

[2015-12-03 11:47] malx122 commented on #2772
Bump! Its starting to get ridiculous here now. We need a solution before our code has gone beyond saving!

[2015-12-03 11:48] malx122 commented on #2772
Handles starting to look like this:
[code]
(And if of course registred once per app even though we only need

[2015-12-03 11:54] chrhol commented on #2772
I will try to set up a meeting for this so we can discuss it properly. Unfortunately both @dan31 and @Starcounter-Jack will not be here next week, so it might still take some time before we can come up with a solution.

[2015-12-03 12:01] bigwad opened #3135 "pnext: scdata terminates unexpectedly reloading database"
cc @eriohl

Steps to reproduce
1. Build level0 and level1 pnext in debug configuration
2. Edit sqlregression_test.bat to overcome #3123:  pass --disableeditionlibraries flag to scweaver in the line 22
3. Run sqlregression_test.bat
4. Edit sqlregression_test.bat to prevent database cleanup on second run: comment out line 10 and 11
5. Run sqlregression_test.bat
6. See scdata terminates unexpectedly.

[2015-12-03 12:08] eriohl commented on #3135
I can look at this.

[2015-12-03 12:18] per-samuelsson commented on #3134
@jwillmer

Thanks for reporting this. I'm afraid I dont have an instant answer to what could be the cause.

The `ScErrSchemaCodeMismatch` error you get indicates the code and the database data is not in sync. I have in the back of my head we've had issues regardin this before. Lets see if there are some clues out there.

[2015-12-03 12:20] miyconst commented on #3134
I have similar issue when I was trying to run some SQL query over a database class before accessing that class.

Starting an app is not loading it's classes into database, you have to do any kind of manipulation with that class, and if you try to access it with SQL, then it throws such exception.

[2015-12-03 12:23] per-samuelsson commented on #3134
Looks like there is an open issue #2439 (looooong one) that at least have similar traits on the surface. Cant tell for sure its the same thing though.

That issue in turn reference issue #2460, which might be a clue too.

Lets see if someone else can give any leads to this case? Not sure who to ping though. @k-rus? @chrhol?

[2015-12-03 12:26] per-samuelsson commented on #3134
Ah, this old case I remember. Thanks @miyconst. Does it still apply, do you know?

We are using a lazy-loading thing, to simulate what the CLR does. So when you start your application, we don't instantly load classes. And in the past, we had problems that doing SQL before classes where loaded didn't trigger the load (like they should). But I was thinking that was fixed. Maybe it was only fixed in

[2015-12-03 12:29] per-samuelsson commented on #3135
@bigwad, others

What about we either create a "pnext" label, or at least use a "pnext" title prefix in all issues specific to that?

[2015-12-03 12:35] bigwad commented on #3135
I heard that there is a label "BAH" to be attached to issues to be fixed for upcoming release. Is it the case to attach it?

[2015-12-03 12:37] jwillmer opened #3136 "Metadata binding error"
This json:
[code]
gives me the compile time error: ```Metadata but no field for 'Harbor' found```

But this is valid:
[code]

Why is it not valid if I like to change the property value from the client?

[2015-12-03 12:40] chrhol commented on #3136
Looks like the check for this is a bit incomplete. It requires the ending `$` to be set on both, so the following will work:

[code]

I will assign issue to me to fix so that your first example will work.

[2015-12-03 12:43] per-samuelsson opened #3137 "JSON views don't expose referenced objects properties"
Me and @jwillmer noticed that if you have this triplet:

[code]

[code]

[code]

and you return an instance of `BarPage` like this:

[code]

the resulting model will show "Bar.Foo" as "empty".

I'm not saying this is wrong, because I have explicitly not mapped "Fubar" in the view. But it lead to confusion until @jwillmer found out the cause, and hence I want to bring it up.

1. This is by design r

[2015-12-03 12:53] eriohl opened #3138 "pnext: Additional information about the error on constraint violation"

[2015-12-03 12:53] chrhol commented on #3137
I'm not really sure I follow what you are trying to do here.

The design is that you specify everything you want to expose in the viewmodel. The viewmodel is the master for the view, not the dataobject. So if you dont add Fubar in the viewmodel, Fubar will not be shown.

If you are trying to have some autocreated viewmodels, this is not really something we spent any time on and perhaps there is so

[2015-12-03 13:04] per-samuelsson commented on #3137
Yeah, I get that. That answer my question "Is this by design". I think that approach is good.

Yet, for a fact we both got a bit confused for a while when the view model indicated "Foo" was empty.

I think you would expect **something** to show up when you declare this

`BarPage.json`
[code]

and initialize a *bound* object with this:

[code]

Again, I'm not saying the current implementation is wr

[2015-12-03 13:09] per-samuelsson commented on #3135
I can't answer that. Sorry. The cryptic ones like "bt" and "BAH" I've never figured out what they mean.

[2015-12-03 13:11] eriohl commented on #3123
Seems like the current problem is a duplicate set specifier if I read the code correctly (the conflict is on the SetSpecifier table index in set spec, column index 2).

Type where the error occurs is Concepts.Ring1.Category. @k-rus or @alexanderstc?

[2015-12-03 13:41] bigwad opened #3139 "pnext: API to query table name and column name is required"
To make replication work, I need to get table name, column name and column type based on layout_id and column index. Could you expose such API? @k-rus, @alexanderstc

[2015-12-03 15:08] k-rus commented on #3134
This should be not difficult to fix, since DELETE is complete implemented C#. See `_SqlProcessor.cs`. @per-samuelsson can you look?

[2015-12-03 15:15] eriohl commented on #3135
Title prefix is good on bugs in development version I think. Makes it fairly easy for customers to understand that this doesn't apply to them (more so then a label does). But maybe some other prefix would be better.

(Seems like this discussion might be unrelated to the issue however.)

[2015-12-03 15:18] per-samuelsson commented on #3135
Exactly. That was my main concern actually.

Yeah, OT is my fault. Sorry. Back to topic now.

[2015-12-03 16:19] warpech opened #3140 "Request for a static resource should not create a session"
A direct request to a static resource (e.g. `http://localhost:8080/sys/polymer/polymer.html`) results in a session cookie being sent in response. A direct call for a static resource should not create session. It will be a zombie session with 0 view-models attached to it.

![screen shot 2015-12-03 at 17 04 47](https://cloud.githubusercontent.com/assets/566463/11565922/7b17a926-99e0-11e5-9853-72032d

[2015-12-03 16:27] warpech commented on #3140
Too bad that I can only reproduce it sometimes... :(

[2015-12-03 16:35] warpech opened #3141 "406 Not Acceptable response should not create a session"
When a request to a URL handler in the app results in a `406 Not Acceptable` response (I think due to the incorrect Accept header, what else?) the response contains a new session. See the below screenshot (server sends a 406 response with a `Set-Cookie` header):

![screen shot 2015-12-03 at 17 31 16](https://cloud.githubusercontent.com/assets/566463/11566767/217de1d8-99e4-11e5-93a6-a6b1a72bc512.pn

[2015-12-03 18:19] k-rus opened #3142 "pnext: Implement schema upgrade"
Now metalayer provides an API function to alter table and add columns. What it does it creates layout and updates metadata. The function returns metalayaer handle. So the schema updates, need to decide about the upgrade, call the metalayer function with columns to add, retrieve layout handle and update .net metadata such as type binding into new layout handle. In Level1 the method is in `Starcount

[2015-12-03 19:40] per-samuelsson opened #3143 "Typed JSON and name clashes"
Relates to old #239, #240 and #299.

@chrhol: notice I wont even assign you, this is *not* something I expect you to solve. At least not in in the near future. :wink:

Case: defining certain properties in typed JSON clash with properties in the underlying template. Just now I defined:

**ProductTypePartial.json**
[code]

and got

[code]

Ideally, we should try get away from it completely. But I th

[2015-12-03 19:44] per-samuelsson commented on #3143
Like:

[code]

[2015-12-03 21:41] jwillmer opened #3144 "[Question] How to define a number in JSON without initial value?"
This works:
[code]

[code]

But I like to set the initial value to undefined to display the input placeholder:
[code]

If I use null the mapping to the backend does not work :(

[2015-12-03 22:17] jwillmer opened #3145 "[Question] How to get a event in JS if some JSON property changes?"
Is there a way to register for some property change event in JS?

[2015-12-04 08:49] jwillmer commented on #3145
Have it, I use this method to observe changes in my viewmodel:

[code]

[2015-12-04 09:13] Starcounter-Jack commented on #3145
If this is Raphael Weinsteins Ecmascript ```Object.observe()```, it has been rejected by Ecma and will be removed, right @warpech?

[2015-12-04 09:20] Starcounter-Jack commented on #3145
@jwillmer
We made an alternative to Object.observe() that works on all browser.

@warpech How do we add a callback function to a viewmodel without adding a new listener? Should we add a function for this. It would be to expensive to have more than one. It would be simple for json patch to call multiple callbacks for an observed object and the viewmodel already have an attached observer using githu

[2015-12-04 09:35] chrhol commented on #3142
Thanks, I will start working on this today.

We have discussed a couple of different approaches when it comes to batch-upgrade of existing objects or not.

1. The schema is changed and metadata is updated but existing objects will still use the old layout. The first time something is written to an object that have an updated layout, the layout will be changed to the new one. This mean that the man

[2015-12-04 09:43] eriohl commented on #3142
Only add columns?

[2015-12-04 09:47] chrhol commented on #3136
I've pushed a fix for this to develop. The first example in your code should work with the next nightly build.

I wanted to not allow specifying editable on a metadata-property (since it makes no sense) but opted for allowing it, since the change would break to many existing applications. So now the ending `$` on a metadata-property will simply be ignored.

to recap, all of these are valid:

[code

[2015-12-04 09:47] #3136 closed

[2015-12-04 09:48] k-rus commented on #3142
Yes. It is realistic, since does not require large amount of work. It is also very close to what available now. The only difference is that the type upgrade will not available. As said earlier it is used not so often in comparison with column rename, which is not supported in current version.

[2015-12-04 09:51] eriohl commented on #3142
Keep in mind then that this new layout may be garbage collected since it won't have any indexes referencing it (and no records initially or course). This will always apply if indexes no longer keeps layouts in future. Should we address this in meta-layer or GC?

[2015-12-04 09:53] eriohl commented on #3142
What if a column is removed then? Should it be kept in the table?

[2015-12-04 09:54] k-rus commented on #3142
Metalayer will reference new layout immediately. I remember you had an issue to address that layouts referenced from metalayer are not GC.

[2015-12-04 09:57] k-rus commented on #3142
This was never supported, since we never remove data automatically.

This can be supported through the means of dropping table. Fixing it requires to fix drop table implementation in Level1. However, manual upgrade is not trivial.

[2015-12-04 10:05] eriohl commented on #3142
We didn't really discuss details on this one. So GC then? Then data manager needs to be aware of the meta-data tables so it can check with layouts are referenced by these.

[2015-12-04 10:06] eriohl commented on #3142
So what happens now if I remove a field from a C# database class?

[2015-12-04 10:12] warpech commented on #3145
Yes, `Object.observe()` is deprecated. The polyfill for it is only temporarily distributed with Starcounter for the internal use of `dom-bind-notifier`.

I recommend to go the Web Components way, which is to use a Custom Element that is able to observe changes in the external array. We need to add some example of that to [KitchenSink](https://github.com/StarcounterSamples/KitchenSink/blob/master/s

[2015-12-04 10:17] jwillmer commented on #3145
Implement it to be available in web components is a good thing but please provide a way to use it with plain javascript as well, not all make sense to be implemented with web components ;-)

[2015-12-04 10:18] k-rus commented on #3142
The field becomes unavailable through the C# class, but nothing happens with the database. There were discussion long time ago with decision that we never remove data automatically.

You create issue #3087, which I assumed to reflect your decision.

I guess the possible solution in meta-layer is to check during meta-layer initialisation that all layout handles are valid. Will it be enough?

What d

[2015-12-04 10:29] warpech commented on #3145
Good point. But maybe we can go with what is there already. How about this?

[code]

[2015-12-04 10:32] jwillmer commented on #3145
I like it - is it a proposal or is it already usable?

[2015-12-04 10:33] warpech commented on #3145
I just tested that it works, so feel free to use it and please let me know if you find it suitable! I will then add it to the KitchenSink.

[2015-12-04 10:43] alexanderstc commented on #3123
I'll have a look at this a bit later today and tonight. Will keep you guys posted.

[2015-12-04 10:46] eriohl commented on #3142
So what happens if you change the type of a column? Exception?

[2015-12-04 11:28] dan31 commented on #3135
Guys, I think I need to re-order "Milestones" labels here, so that the "bug" goes to the right version being in work. Just I need to come up with a right scheme according to today's layout. I will keep you posted.

[2015-12-04 12:32] tomalec commented on #3145
I really like the computed property way @warpech proposed. We may consider adding some sugar for it in dom-bind-notifier later - after we will finish polymer vs aurelia template binding competition and/or workaround Polymer API issues.

[2015-12-04 13:26] eriohl opened #3146 "pnext: Remove extra prefix byte binary"
Legacy. Binary values keps a byte to keep track of how the data is stored. This is no longer needed and should be dropped.

(Will also affect client).

[2015-12-04 13:37] chrhol commented on #3143
I think it will not just be hard, but rather impossible with our current solution, since this is a limitation in .Net (and I guess alot of other languages) and there will always be some clashes. The only option would be to totally rework how the generated code looks like (for example have a special namespace or special names for the generated properties).

Worth to notice though is that the genera

[2015-12-04 16:26] warpech commented on #3145
@tomalec would it be possible to get a callback as proposed by @Starcounter-Jack?

[2015-12-04 16:38] jwillmer commented on #3145
:+1: for an API

[2015-12-05 10:06] eriohl commented on #3146
Prefix byte is used to define a full range. So might not be so easy to drop.

[2015-12-05 20:53] per-samuelsson commented on #3144
Guess we could consider supporting all the [Nullable types](https://msdn.microsoft.com/en-us/library/1t3y8s4s.aspx) and some syntax that maps to that, like "Number" : "?".

AFAIK, its not supported as of today, so maybe we can find some nice workaround next week?

@chrhol, was this ever discussed?

[2015-12-05 20:57] per-samuelsson commented on #3143
Great. Simple as "small pancake" then! I volonteer to write docs about it; I'll assign this to me for that.

[2015-12-06 10:17] Starcounter-Jack commented on #3143
Maybe the reserved names should be less generic?

Sent from my iPhone

[2015-12-06 12:19] per-samuelsson commented on #3143
Yeah, I know we did that for "Index" and "Name" earlier. Lets see what we can do about the ones we have still, and document them no matter what (even after we make them less generic).

The thing is, most typed JSON (I think) is maintain mainly as... well, JSON. Not as the typed instance. And at least not so when its about developers accessing built-in properties.

As an example, how many developer

[2015-12-06 16:33] warpech commented on #9
I just found that it is explained in docs as if it was already supported. Removing it from docs and pasting the documentation below:

---

When you create a Response object, you have the choice of setting the body to a `byte[]`, a `string` or a `Stream`.

[code]

As Starcounter schedules threads in a highly optimised way, it is recommended that you allow Starcounter to handle streaming. This is do

[2015-12-06 19:15] eriohl commented on #2965
Kernel adaption to TT4 complete. Merge pending.

[2015-12-06 20:59] tomalec commented on #3145
If Polymer will work as expected, and if I get you correctly, we should be able to reuse puppet's (fast-json-patch) listener, so every part of DOM/JS may attach its callback for a change, but I thought about also adding listeners, but not for an object, but regular DOM event (triggered by single `<puppet-*component*>`

[2015-12-06 23:00] alemoi commented on #9
This one I have a plan to fix.

[2015-12-07 08:03] chrhol commented on #3144
No, not that I can remember. It sounds like a good feature enhancement to support nullable types though.

[2015-12-07 08:20] per-samuelsson commented on #3105
Adding Typed JSON label to this. I think that to come up with pattern will mostly involve extending that.

[2015-12-07 08:47] per-samuelsson commented on #3105
I considered this on and off for some time now, and also experimented a little.

An assumption: you would normally always have a "main" data type from the underlying model. In my above example, it would be `Product`. In @jwillmer's, it could be either `Product` or `ProductType`.

Based on that assumption, maybe we should promote the pattern to simply implement this kind of logic in the view model

[2015-12-07 10:05] per-samuelsson opened #3147 "ScErrStackOverflow from Typed JSON - am I modelling it wrong?"
**Foo.json** (plain JSON, no code behind)
[code]

**Program.cs**
[code]

makes the code host crash with

Im trying to model the equivalent of this:

[code]

[2015-12-07 10:19] k-rus commented on #3142
Yes.

Your issues normally do not say much. Thus it is difficult for external to judge if you meant to do the fix or to discuss. Never mind, it is clear now.

I understand and thus looking into other possible solutions.

I am wonder what will happen if index on new layout and the same set specifier is created and the old index is dropped. Will the new index find all records including those having

[2015-12-07 10:32] alexanderstc commented on #3123
Workaround with creating additional index on SetSpecifier with column TypeId descending seems to do the trick. Will commit shortly.

[2015-12-07 10:52] eriohl commented on #3123
I'm not sure I understand?

Since character i is sorted after h then naturally is i will come before h if you iterate the index in the reverse order.

But if you search the index with ~h~<infinite> you should not get ~i~ at all.

[2015-12-07 10:53] alexanderstc commented on #3123
@eriohl

My point exactly.

[2015-12-07 10:59] eriohl commented on #3142
Maybe we should do the token+type key discussed earlier so that column with same token but different type is treated as a different column?

Of course.

[2015-12-07 11:00] eriohl commented on #3123
A bug on descending searches then maybe? Not figured a lot in function tests. I will investigate.

[2015-12-07 11:01] alexanderstc commented on #3123
Thank you!

[2015-12-07 11:10] chrhol commented on #3147
I'm a bit suprised that this pattern doesn't work, but thinking about it, it's quite obvious that this will happen.

I would say that there is nothing wrong in your code, the problem is how values for properties in TypedJson are handled internally. All values are initialized to a default value when a an instance of TypedJson is created, and for objects and arrays the default value is an empty inst

[2015-12-07 11:34] k-rus commented on #3105
@per-samuelsson Interesting idea. It will be necessary to introduce naming convention to avoid confusion between model class and middleman class. Otherwise it might make difficult for bug hunting in the application code.

[2015-12-07 11:36] alexanderstc commented on #3123
@k-rus  a workaround is in pnext, commit 20383a1b39efdd6417f6c733e9364d92d2ff4967.
Should be removed after @eriohl fixes the reverse search.

[2015-12-07 11:39] k-rus commented on #3142
I don't see why we should put any effort in this, but if you feel to adopt kernel, you are welcome. We will adopt meta-layer accordantly. I am more worry about column rename strategy. Should it be supported in the kernel? Which layouts are/will be compatible?

[2015-12-07 11:41] k-rus commented on #3142
Then, my suggestion is that either meta-layer or managed level recreates the index. Let me know if it is bad idea to create new indexes on new layout and drop indexes on the old layout in meta-layer.

[2015-12-07 11:58] miyconst commented on #3133
Starcounter `2.1.733` still not able to upload a file of size `4.3mb`.

[code]

[2015-12-07 11:59] miyconst commented on #3121
Okay, closing the issue.

[2015-12-07 11:59] #3121 closed

[2015-12-07 12:05] k-rus commented on #3123
It sounds like we need to add a func test to regression tests, which creates hundreds of tables in an automatic way. This will reproduce this bug without Starcounter installation and will allow to catch it if met in future.

[2015-12-07 12:13] eriohl commented on #3142
I think we should follow the plan previously discussed for now. I will try to work something out as I said.

[2015-12-07 12:19] alemoi commented on #3133
Yes, the old gateway configs contains a value of 4Mb which is not supported now. I was thinking now and I will override the value of old configs in the installer. I want to publish an example of streaming data upload using websockets. Will talk to @andwah, he has one I think.

[2015-12-07 12:22] eriohl commented on #2965
Need to put some effort into improving encoder and decoder performance. Especially the encoder is a lot slower with TT4.

[2015-12-07 12:24] miyconst commented on #3133
@alemoi, I have manually changed the config file by adding a `0` in the end, so it should be `40mb`.

[2015-12-07 12:29] per-samuelsson commented on #3147
Yeah, I came to the same conclusion. When it happened, and after I thought some about what could cause it, it was quite obvious. But I still wanted to open an issue, since we must find a way for this pattern and also make sure we don't crash the code host. :smile:

Given that there are quite a few issues around Typed JSON, and the topic is quite broad and not always straightforward, we should try

[2015-12-07 12:44] k-rus commented on #3142
I just realise that it will not work in future implementation of  indexes when index will not refer to layout, right?

So there are two alternatives:

1. Check all layout handles on meta-layer initialisation. Here we need to be sure that GC will not remove handle after the meta-layer initialisation.
2. Keep track of reference from meta-layer. The implementation will need to be updated when meta-sc

[2015-12-07 12:59] eriohl commented on #3142
There is currently no way to check if a handle is valid. A problem with this also it that handles han be reused. So even if valid it might not be the expected layout.

I think that the best approach is to have the GC check the meta-data tables for references. Should be workable but I have not checked it yet.

[2015-12-07 13:38] k-rus commented on #3142
Right. Thank you for the clarification.

[2015-12-07 14:10] miyconst commented on #3133
Looks like I misunderstood @alemoi. Current limitation of Starcounter is maximum 2mb of request length.

The bigger files should be send over WebSocket.

@warpech could you post here a link once you get any response from Tunity about the custom component to send files over WebSocket?

[2015-12-07 14:13] miyconst commented on #3107
By @moander on Skype

Closing the issue.

[2015-12-07 14:13] #3107 closed

[2015-12-07 14:30] chrhol commented on #3147
Yes, I agree. There are more and more of these kind of issues where the question is more how we want it to work, or issues which require bigger parts of the code to be reworked.

[2015-12-07 14:33] per-samuelsson commented on #3147
Exactly. I feel guilty everytime I report something, just because it feels like I put more on you. :santa:

We should probably sit down a few of us at some point and discuss "Typed JSON 2.0", based on all the input we've collected.

[2015-12-07 15:03] ivarbergman opened #3148 "ToJson() returns the namespaced json."
Hi!

When I use the `ToJson()` method to serialise a view model I get the merged json as string (namespaced by `AppName`).

I would expect the `ToJson()` to only return the json specific for my application.

I guess the `ToJson` and `PopulateFromJson` should be each others inverse operations.
However:

    myJson.PopulateFromJson( myJson.ToJson() )

fails if  `myJson` contains a `AppName` namespac

[2015-12-07 15:03] miyconst commented on #3013
@alemoi, this is done, am I right?

[2015-12-07 15:04] miyconst commented on #2986
@warpech can you increase priority of this issue, as it is really annoying and was pointed out by TargetEveryOne guys as well.

[2015-12-07 15:04] miyconst commented on #2987
@warpech can you increase priority of this issue, as it is really annoying and was pointed out by TargetEveryOne guys as well.

[2015-12-07 16:53] chrhol commented on #3148
Thank you for reporting this. You are correct, the namespace should not be added in this case, and perhaps `PopulateFromJson` should handle namespaces as well.

This happens when a TypedJson instance that is part of a Puppet viewmodel (i.e. is connected to a session) is serialized and the session have namespacing enabled.

I will take a look at it when I'm finished with my current assignment.

[2015-12-07 17:02] warpech commented on #3100
This is a Polymer's thing: https://www.polymer-project.org/1.0/docs/devguide/data-binding.html#two-way-native

[2015-12-07 17:17] warpech commented on #3100
I added a more proper example using `::input` and `::change` to the KitchenSink app: https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/wwwroot/KitchenSink/TextPage.html

Thanks for asking!

[2015-12-07 17:17] #3100 closed

[2015-12-07 19:15] alemoi commented on #3013
This is the current state: network directories work fine in general. Its only the case with Parallels, and maybe some other software.

[2015-12-07 21:21] eriohl commented on #3142
I am more worry about column rename strategy. Should it be supported in the kernel?

How do you mean?

[2015-12-07 21:28] alemoi opened #3149 "StarcounterEnvironment.AppName is not set inside .NET threads"
As we know `StarcounterEnvironment.AppName` is crucial, many concepts rely on correct app name. The following scenario is not working now:

1. Start a .NET thread inside main() -> inside this new thread "StarcounterEnvironment.AppName" is always null, which is incorrect.
2. Inside this .NET thread do dbSession.RunAsync/Sync ->  "StarcounterEnvironment.AppName" will be null even inside the schedule

[2015-12-08 02:40] Starcounter-Jack commented on #3148
You should not get the merged JSON. This is a bug.

Sent from my iPhone

[2015-12-08 02:42] dan31 commented on #2772
Hi guys, I have a solution on my mind. What you really want here is to
internally reuse some shared handlers from multiple apps, so that they
never exposed externally outside of the apps cluster. Correct?
On 3 Dec 2015 3:54 am, "Christian" <notifications@github.com> wrote:

[2015-12-08 06:45] k-rus commented on #3142
It can be implemented in similar way as you suggest for type change. For example, associate for each column in layout three values: name token, type and column identifier. A column identifier is unique within set specifier. Then type and name can be changed, but column still will be the same.

I am not really advocate for complicating layout to support dynamic schema upgrades. In my opinion it is

[2015-12-08 08:14] eriohl commented on #3142
If you want type specific column tokens you could simply have type specific column tokens. Then you can change the value of the token without it affecting anything else.

I'm not sure your variant will actually hold up but it will at the very least have a huge overhead compared to this.

[2015-12-08 08:48] per-samuelsson commented on #3149
I'll gladly help if I can, but I really have no idea how to do this, and what you have in mind.

I mean, this is very basic threading in .NET. Thread statics are / thread and of course its null by default if you have a reference. How could we ever get it not to be that?

I guess it must somehow be set when the thread attach to a scheduler? I dont know the full picture of how this thread-local app

[2015-12-08 08:56] chrhol commented on #3142
I have a first version of the most basic schema upgrade up and running (not pushed though since I need to do more tests).

- Removed fields from CLR class is kept in metadata/layout
- Added fields are added using metadata layer
- In case of changed type on column an exception is thrown. This also includes changing from a non-nullable to a nullable value (or the other way around).
- No records are

[2015-12-08 09:19] k-rus commented on #3142
Meta-data contains the expected layout, thus using metadata instead of kernel function will help. We can create an API function, which will provide layout handle for the given full table name.

I think I am wrong in my comment. Since the type and table defs are being created, then it is important to create them with correct layout handle. And I guess this is the source of the problem you reported:

[2015-12-08 09:33] chrhol commented on #3142
Ahh, yes I will debug it. Then it's probably something I missed. Wanted to make sure before I started investigating.

Yes. I looked at that one, but couldn't figure out how to provide the correct values (didn't spend that much time on it) so that sounds good.

Alright, will do that.

Do you mean CompanyTrack or is there some other place for internal Level0 issues?

[2015-12-08 09:41] k-rus commented on #3142
I was guessing this, but this is how I understood your solution. But now I understand that I was wrong. This your comment clarifies this:

Good. This basically means no incompatible changes between version, right?
I assume that the change of the value of the token will require to create new layout, right?
Am I understand correctly that the kernel will be responsible for updating layout of a record

[2015-12-08 09:42] k-rus commented on #3142
Level0 is a repo in our internal git server. All issues related to meta-layer, which is part of Level0, are created there.

[2015-12-08 09:45] chrhol commented on #3142
Aha, I wasn't aware that we were using issuetracker there. I thought we only used the ones on github.

[2015-12-08 09:46] eriohl commented on #3142
Not sure what you mean?

By value of the token I meant the string value in the token table. That you can change without affecting anything in the kernel. Might have some implications for log reader and such however.

You can not change the token in an existing layout. This might break indexes so it can not be allowed.

Yes. Records are read and written according to the layout provided by the clien

[2015-12-08 09:51] eriohl commented on #3142
This incorrect. There is no guaranteed order between them. You need to get this from meta-data.

Remember that you need to register a type binding for each layout for the type so that type binding can be looked up on layout handle. Also, you need to change the expected layout in the record reference on record fetch (iterator_next, filter_iterator_next and lookup).

[2015-12-08 10:15] ivarbergman commented on #3118
Hi! I think that it would be very useful to allow an app to register several mappings on the same uri. I would say that this allow app developers to achieve clean composition of view models with in an application, not only as a mechanism to allow integration between different applications.

As an example:

If we have an file manager application. Where each file can have several different propertie

[2015-12-08 10:41] warpech commented on #3133
It is Heads (@careri). I asked, waiting for response.

[2015-12-08 11:00] warpech commented on #2987
The priority P/Normal is good, but the progress is bad :) I will bump @budnix about it.

[2015-12-08 11:00] warpech commented on #2986
The priority P/Normal is good, but the progress is bad :) I will bump @budnix about it.

[2015-12-08 11:54] andwah opened #3150 "ActiveSocket is null"
[code]
Im running with websockets enabled. but ```session.ActiveWebSocket``` is ```null```

Is this expected behaviour?

[2015-12-08 11:54] per-samuelsson opened #3151 "Feature request: Polymorphic hooks"
I had a discussion with @malx122 earlier, and they would like us to support polymorphic hooks.

[code]

Based on the above model, registering a hook such as this:

[code]

will **not** be triggered when deleting a `Bar` instance.

This is by design, and the rationale is that we reconsidered polymorphic/hierarichal hooks and found they are not trivial to implement, so we decided not to. A the core

[2015-12-08 11:56] warpech commented on #2244
Closing as done

[2015-12-08 11:56] #2244 closed

[2015-12-08 11:59] warpech commented on #3084
Added related issues (links above)

[2015-12-08 12:02] eriohl commented on #3123
@alexanderstc: I added some tests now on this and it seems to work as expected.

See kernel_functest read_write_string_test ("Starts with search on set specifier formatted strings").

Is there an isolates test to reproduce this I can look at see if I can see what is wrong? Currently I can't find anything wrong with this. This is a regular string field we are searching right?

[2015-12-08 12:02] warpech commented on #2895
I fixed both pages:

http://starcounter.io/tutorials/hello-world/
http://starcounter.io/guides/tools/starting-and-stopping-apps/

by removing the section about running `hello` just by its own name:

<img width="675" alt="screen shot 2015-12-08 at 12 52 29" src="https://cloud.githubusercontent.com/assets/566463/11655169/ce427652-9dab-11e5-8c08-a8bc957541d9.png">

[2015-12-08 12:02] #2895 closed

[2015-12-08 12:07] miyconst commented on #3084
So, what I can do without touching Starcounter server side is:

I start with it, and see how it goes.

[2015-12-08 12:46] jwillmer opened #3152 "Add partial page after assigning a model to the Data object"
I try to assign a partial view to my current page but it is not possible if I like to assign my model as well:

[code]

[code]
My current wiring looks like that:

Class | Logical Function
------------ | -------------
URL Mapping | Open page X if url equals Y (call init on page)
View | Display the UI
ViewModel | Properties needed in the view (Name & Age)
CodeBehind | Reference ViewModel, partial vi

[2015-12-08 12:55] malx122 commented on #3151
While I can see the implementation problems and the logical aspect on why its not hierarchical right now, I must say that from a User/Developer aspect you more or less expect a hierarchical behavior as standard. That is one of the main reasons for object orientated programming.

[2015-12-08 12:58] per-samuelsson commented on #3152
Would [this](http://starcounter.io/guides/json/json-data-binding/#specify-datatype) be of any help?

[2015-12-08 13:07] jwillmer commented on #3152
I am afraid not @per-samuelsson

[2015-12-08 13:20] warpech commented on #3152
I did this multiple times, though the value of `this.Data` was always a database object.

I wonder why do you need to have a separate `ViewModel` class. `Page1` *is* the viewmodel.

Can you paste what the text of the exception?

[2015-12-08 14:02] jwillmer commented on #3152
Now it is working. Seams like while investigating the problem I added a property to my model that was called exactly like the one I tried to use to input the partial.

@warpech Why I need a seperate viemodel: #3105

[2015-12-08 14:02] #3152 closed

[2015-12-08 14:04] per-samuelsson commented on #3149
Something like this.

[code]

And used like this:

[code]

And if users still do `new Thread(...)`, they are on their own.

Maybe, in some future version, we could enforce it by means of the weaver. But lets try postpone that until we get to the brand new Roslyn world.

[2015-12-08 14:08] per-samuelsson commented on #3152
Great.

@jwillmer, did you consider what I proposed [here](https://github.com/Starcounter/Starcounter/issues/3105#issuecomment-162450065)? Would remove quite a few lines of code from what you have now I think. Is it to trivial for you case do you think?

[2015-12-08 14:21] warpech commented on #3152
You intrigued me so much that I created a working example of partial nesting, which works after assigning `Data`: https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/NestedPartial.json.cs. `Data` is assigned by the code that creates an instance of NestedPartial.

Hopefully we can come up with something elegant that will take use of implicit data binding, so we can keep be

[2015-12-08 14:32] per-samuelsson commented on #3090
I just cant figure that one out. If you have a minute some time @chrhol, could you just show a simple sample of what it solves?

I added an extra class in my code behind file, not using the attribute on the "real" code behind class, and everything worked as usual. (At least on the surface).

[2015-12-08 14:47] bigwad commented on #3149
If that matters, I used to avoid this problem using StarcounterEnvironment.RunWithinApplication.
For example:
    public async Task Run(byte scheduler)
    {
      string app_name = Starcounter.Internal.StarcounterEnvironment.AppName;
      await Task.Yield();

      new DbSession().RunSync(() =>
      {
        Starcounter.Internal.StarcounterEnvironment.RunWithinApplication(app_name,
          (

[2015-12-08 14:56] jwillmer commented on #3152
Cool :+1:

@per-samuelsson & @warpech I have a good example of why I need (extra) models for the view. Maybe we can have a look at them and infer some good pattern for it next week :)

[2015-12-08 15:02] alemoi commented on #3149
Yes, if we can provide some wrapping API around .NET threads (including simpler start delegate) then its fine. I was just thinking that we can not restrict users for that, because I thought there can be many ways to run things outside Starcounter. @dan31 what do you think about limiting user API running outside Starcounter scheduler?

[2015-12-08 15:10] alexanderstc commented on #3123
I have a branch alexander-3123 which fails sqlregression_test.
When you run sqlregression_test.bat, it displays "attach!" and waits.
Gives you a chance to attach your debugger early.
To continue, press, say, a letter, then enter.

The test displays then a bunch of setspecs being inserted, and errors messages eventually.
The error printing comes out of pnext\level0\src\metalayer\metalayer.cpp funct

[2015-12-08 15:12] bigwad commented on #3149
I mean we already has the API to solve this problem and it doesn't limit user in any way. But maybe I just don't understand the topic. Then please ignore my post :)

[2015-12-08 15:16] alexanderstc commented on #3139
Missing e-mail notifications.

[2015-12-08 15:20] k-rus commented on #3139
Actually, this repo is not appropriate for this issue. Issues related to native meta-layer are in Level0 repo.

[2015-12-08 15:22] alemoi commented on #3150
Thank you for the question! Did you attach a session to a WebSocket when you did request SendUpgrade?

[2015-12-08 15:33] bigwad commented on #3139
API is not required now, since design of replicator has been changed. But "pseudo sql query" how to query metatable to extract table name and column name base on layout_id and column index is appreciated.
What I know now, that I can get table name using
```select FullName(5) from RawView where Layout_handle(8)=?```
and for column name:
```select Name(3) from RawView, RawColumn where RawView.__id =

[2015-12-08 15:42] alemoi commented on #3084
Today after discussion with @miyconst we decided to close the WebSocket connection when session is expired. The following closing message is now sent to the client: "Session is expired.", of code WebSocket.WebSocketCloseCodes.WS_CLOSE_GOING_DOWN.

[2015-12-08 15:48] k-rus commented on #3139
Metalayer does not provide query functionality. It only provides higher level API to call indexes defined on meta-data tables. They are already exported as C++ if I don't mistake. Examples of how to use them can be found in implementations of public C API.

[2015-12-08 15:52] bigwad commented on #3139
Thanks, I know that. That's why I called it pseudo query. I need them to be logically right. Physical implementation is my concern.

[2015-12-08 16:08] miyconst commented on #3084
I have added session ping interval in PuppetJs, puppet-client, and Launcher. It was simple. Now the session keeps staying alive as long as page is opened and server responses.

[2015-12-08 16:19] alexanderstc commented on #3123
@eriohl just in case you are missing notifications, please see the comment above.

[2015-12-08 16:20] miyconst commented on #3084
Restoring connection is not that trivial though.

I have made some tests:

### Manually close WebSocket connection

For this case I have created a handler which does the following:

[code]

And on client side just restore connection if it was "normally" closed. This works fine.

1. Client establishes connection.
2. Client sends some patches.
3. Server responses with some patches.
4. The handler ma

[2015-12-08 17:30] warpech opened #3153 "SetFlag/GetFlag does not work"
According to the page http://starcounter.io/guides/database/database-configuration/, the following requests should work:

GET http://localhost:8080/sc/default/SetFlag/UriMappingEnabled/True
GET http://localhost:8080/sc/default/GetFlag/UriMappingEnabled
GET http://localhost:8080/sc/default/SetFlag/OntologyMappingEnabled/False
GET http://localhost:8080/sc/default/GetFlag/OntologyMappingEnabled

But

[2015-12-08 19:08] k-rus commented on #3139
I don't like to use SQL notation for this purpose, since using API is completely imperative.

Since you want to retrieve column by `LayoutHandle` and `ColumnIndex`, you need to find the record in `RawView` for `LayoutHandle`. Then you can use compound the primary key index on `RawColumn` to retrieve a column and then its name. You don't need to search `ReferenceRawColumn`, since `RawColumn` extent

[2015-12-08 19:09] tomalec commented on #3084
I have posted my proposition for Puppet re-establishment flow https://github.com/PuppetJs/PuppetJs/issues/71#issuecomment-162983663
WDYT?

[2015-12-08 21:16] andwah commented on #3150
No, Maybe that is done underneath (with the puppet handling)?

[2015-12-08 21:25] alemoi commented on #3153
Thanks for reporting! I will check this!

[2015-12-08 21:27] eriohl commented on #3123
Thank you @alexanderstc. Managed to get it up and running. Investigating further tomorrow.

[2015-12-08 21:51] alemoi opened #3154 "List of failing splitting apps"
After splitting small apps (apps_test.bat is now liquidated) the following tests are failing:
* 3LevelSchemaChange
[code]

* SelectOnNull2362
[code]

Failing build example (branch develop-alexey):

https://scbuildserver/viewLog.html?buildId=32386&buildTypeId=Starcounter_DevelopDaily&tab=testsInfo

Here is the original issue:

https://github.com/Starcounter/CompanyTrack/issues/156#issuecomment-1617

[2015-12-08 22:05] alemoi commented on #3153
From the documentation: `All should be called on system port.` Can you please try the same but on your system port, by default 8181. Thank you!

[2015-12-08 22:44] alemoi opened #3155 "List of ignored tests in pnext"
Here is a list of ignored (not necessarily failing, can be simply not tested) tests in pnext. Posting it just to track things. Eventually the list should become empty:

SimpleMainWithHandler_test-cs
fletcher32_test-exe
log_reader_test-exe
log_writer_test-exe
max_io_bandwidth_test-exe
sccorelog_test-exe
stream_buffer_test-exe
tt_test-exe
sc_ipc_test-exe
CycleTime_test-exe
ipc_test-bat
loadandlatenc

[2015-12-08 23:05] alemoi commented on #3150
Please check that ActiveWebSocket existed at some point (for puppets Level1\src\Starcounter.Apps.JsonPatch\BuiltInRestHandlers\PuppetRestHandler.cs seach SendUpgrade) and that WebSocket is still alive (not disconnected).

[2015-12-09 02:23] Starcounter-Jack commented on #3105
@per-samuelsson Have tou checked with @chrhol because binding i supposed to prioritize view model properties before viewmodel.Data properties. I thought your example would work already.

[2015-12-09 09:15] warpech commented on #3153
Sorry! I have made this mistake more than once. What fools me is that the initial implementation used the current database port (8080, etc).

I have taken the liberty to make it more apparent in the docs: http://starcounter.io/guides/database/database-configuration/

[2015-12-09 09:15] #3153 closed

[2015-12-09 09:35] warpech commented on #3084
Looking good! But it should be treated as a separate task, possibly to be completed next year.

@miyconst could you make a list of what's needed to finish this one? Implicit adding of "_timeoutMinutes" by the puppet server, anything more?

[2015-12-09 09:42] miyconst commented on #3084
Also need an event `ConnectionEnd` or something like this in PuppetJs, which would fire when session expires, server error occurs, or connection drops.

`puppet-client` should show simple `alert` and ask user to reload page if the event was not handled by someone else.

[2015-12-09 09:48] warpech commented on #3126
I have another case which reproduces the problem: https://github.com/StarcounterSamples/KitchenSink/issues/10

[2015-12-09 09:56] warpech opened #3156 "Reference to Simplified dll, Copy Local: True"
Typically when working with Simplified DLL, when I set a reference to it in Visual Studio, it has a value "Copy Local: `True`" by default.

I need to remember to manually change it to `False`, otherwise it causes a weaving error. It happened to me multiple times on presentations.

Even if I remember to change it, is there anything we may do to improve the learning curve for developers that will no

[2015-12-09 09:59] miyconst commented on #3156
It also applies to `Starcounter.Extensions` and `SocietyObjects.*`.

[2015-12-09 10:00] warpech opened #3157 "Reduce Handsontable file size in the Administrator"
@budnix since we are only using Handsontable for readonly purposes, could you switch to use a minimal build?

Currently Administrator is using a "maximal" build that weights about [1 MB](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Administrator/app/vendor/handsontable/handsontable.full.js) unminified uncompresseed. I believed this can be shrinked to a fraction of that.

[2015-12-09 10:04] miyconst commented on #3157
@warpech, I would like to use it for editing purposes in future as well.

[2015-12-09 10:05] warpech opened #3158 "Start the new database by default"
When I'm creating a new database, I always forget that I need to start it before it can be used.  Being used to traditional RDBMS, I always find this surprising.

Could we add a checkbox to the "Create a new database" form (checked by default):

`[x] Start the database now`

<img width="1431" alt="screen shot 2015-12-09 at 11 02 41" src="https://cloud.githubusercontent.com/assets/566463/11682382/b

[2015-12-09 10:06] budnix commented on #3157
Connected with https://github.com/Starcounter/Starcounter/issues/2991

[2015-12-09 10:12] k-rus commented on #3155
This list is a strange mix. Some names are duplicated. I am not sure that some names correspond to tests.
Can you explain how did you get the list and why do you think they are tests?

[2015-12-09 10:15] alemoi commented on #3155
Can you explain how did you get the list and why do you think they are tests?

Now I see the duplicates too. Will fix that, thank you.

The list contains everything that the testing framework picked up, using patterns: "*_test.cs *_test.exe *_test.bat *_hosted_test.exe", but what is currently not running as tests.

[2015-12-09 10:18] alemoi commented on #3153
Thank you for adding clarification!

[2015-12-09 10:24] warpech commented on #2931
Actually this does not need to be a clone, since I have a working implementation of the desired `Partial` class. Info here: https://github.com/StarcounterSamples/Barcodes2/issues/2

[2015-12-09 10:30] alemoi commented on #3156
I think we should add Simplified and SO to VS project templates by default, so user does not need to add them explicitly.

[2015-12-09 10:31] miyconst commented on #3156
+1 for the suggestion from @alemoi.

[2015-12-09 10:33] per-samuelsson commented on #2931
Since I've been asked to look at this some week ago (and I have, and tested how it works), I have a question related to the upcoming switch: how should we promote naming of triplet items?

Now, the standard pattern is:

[code]

Are we refining this as well, reflecting the `Page` -> `Partial` base type recommendation? Or are we to promote both, where pages are more like stand-alone mode, while part

[2015-12-09 10:35] chrhol commented on #3090
The root class is mapped by either the attribute or the name of the codebehind-class, so if the codebehind class has the same name as the jsonfile (not counting the extension `.json`) it will work anyway.

The main use for this attribute is for mapping properties that are objects and arrays so you can handle input-event on children.

**Order.json**
[code]

**Order.json.cs**
[code]

[2015-12-09 10:42] eriohl opened #3159 "pnext: Fix native filter to handle unexpected layouts in result"
Since a filter is built for a fixed layout (the expected layout), filter processing needs to use the expected layout rather then the layout of the record.

[2015-12-09 10:45] eriohl commented on #3142
Just realized that native filter doesn't handle unexpected layouts (but assumes that all records in the result has a compatible layout). Added an [issue](https://github.com/Starcounter/Starcounter/issues/3159) for addressing this. Should not be too:

[2015-12-09 10:49] alemoi commented on #3155
Except for duplicates that I will fix, the list of succeeding, failed and ignored tests can be seen in Tests tab of every build in TeamCity, e.g.: https://scbuildserver/viewLog.html?buildId=32502&buildTypeId=Starcounter_NewPnextDaily&tab=testsInfo

[2015-12-09 11:22] warpech commented on #3157
No problem, I think that the minimum build also contains editing. Anyway, you are most likely never going to use 100% of the features, so using a custom build will still a way to go.

[2015-12-09 11:26] miyconst commented on #3157
Agree.

[2015-12-09 11:36] jakubklekota commented on #3156
+1 @alemoi good suggestion

[2015-12-09 12:03] miyconst commented on #3084
I have added another callback `onConnectionError` to `PuppetJs` and `connectionerror` event to `puppet-client`.

`puppet-client` shows "connection error" `alert` if the event is not handled.

Launcher subscribes to the `connectionerror` event and displays custom dialog message. It looks like this:

![image](https://cloud.githubusercontent.com/assets/6435556/11684791/63cbef14-9e74-11e5-980a-89d0747

[2015-12-09 12:06] eriohl commented on #3123
Fixed. Turned out to be a bug in the reverse iterator. (Applies to develop as well, working on addressing it there as well.)

[2015-12-09 12:07] alemoi commented on #3084
Just a small comment. Is it a real connection error or the session is just timed out. Can be a bit misleading for the user.

[2015-12-09 12:09] warpech commented on #2924
Just checked, the problem still exists with the current webinar signup:

<img width="853" alt="screen shot 2015-12-09 at 13 08 02" src="https://cloud.githubusercontent.com/assets/566463/11685004/0613354c-9e76-11e5-9d2f-83fe283d3962.png">

@sabrinareflex could you take a look?

[2015-12-09 12:09] miyconst commented on #3084
This dialog will appear in both case. We do not have solution to reestablish connection so far.

If user really goes offline, then the dialog will appear and user will try to reload page. The reloading will fail, and user will see offline message from Chrome.

[2015-12-09 12:35] sabrinareflex commented on #2924
With the CSS, I can’t change that the form turns yellowish when it’s not filled correctly. This is a default setting with Act-on that I already talked to them about before but there is nothing that can be done to change the color of it. They said that they are working on it for future updates of Act-on so we might be able to do it later on.

I did change the text-color though so if the form turns

[2015-12-09 13:04] jwillmer commented on #2931
I differentiate between partials and pages by putting the partials in a subfolder "Partial"

[2015-12-09 13:17] alexanderstc commented on #3123
@eriohl PNext-Daily-Windows has failed.

[2015-12-09 13:24] alexanderstc commented on #3123
@eriohl  I also think I still observe a similar bug with a forward search on a descending column, preparing a test case.

[2015-12-09 13:32] jwillmer opened #3160 "How to trigger a model change event in JS"
With this code I can access the model in JS

[code]

But how can I trigger an model change event?

Related Issue: [How to get a event in JS if some JSON property changes?](#3145)

[2015-12-09 13:35] per-samuelsson commented on #3160
/cc @warpech @miyconst @tomalec

[2015-12-09 13:35] warpech commented on #3160
There is no need to trigger a model change event, since PuppetJS observes for changes in the existing viewmodel. You just make a change and it will be observed and sent to server in the next few miliseconds.

Do you have any particular problem with it?

[2015-12-09 13:41] per-samuelsson commented on #3158
Lets not even add that checkbox IMO. If you create a database, we start it. And if someone comes back saying this is wrong, we adress it there and then.

[2015-12-09 13:44] per-samuelsson commented on #2931
OK, I'm now quadripel-voting this one up, after spending like 2 hours myself trying to understand why the f** I couldn't see anything when requesting a certain resource, refactoring the PIM down to half the size just to find out, before it hit me. Its just super-sick. :smile:

[2015-12-09 13:57] alexanderstc commented on #3123
@eriohl , seemingly another bug with reverse search on a normal column.

Search by infinite ~c~z finds ~c~.

Level0 branch alexander-3123-2. The same drill to debug.

[2015-12-09 13:58] miyconst commented on #3160
But if you really need to trigger a model change event you can do that as follow:

[code]

[2015-12-09 13:59] miyconst commented on #3160
***Note***: This works in Chrome only. Scripts inside `dom-bind` and `dom-if` are not properly executed in FF and IE.

[code]

[2015-12-09 14:10] jwillmer commented on #3160
With this JSON

[code]

and this JS

[code]

the breakpoint in ```HasChanged(TValue property)``` will not be reached.

[code]

[2015-12-09 14:11] eriohl commented on #3123
That is not incorrect. ~c~ is less then ~c~z~<infinite> but more then NULL which is used in this case (it is the same search right). If you only want things that starts with ~c~z~ the range needs to be ~c~z~ to ~c~z~<infinite>. Not NULL to ~c~z~<infinite>.

[2015-12-09 14:13] miyconst commented on #3160
Are you sure that this js is executed and executed without errors?
Are there any patches to server about that change?

[2015-12-09 14:14] eriohl commented on #3135
Resolved.

[2015-12-09 14:14] #3135 closed

[2015-12-09 14:15] miyconst opened #3161 "Add _timeoutMinutes automatic json property"
Right now we have two automatic values in the root json object: `_ver#c$` and `_ver#s`. There should be another one `_timeoutMinutes`. The property should be automatically filled with current session timeout.

Original issue: https://github.com/Starcounter/Starcounter/issues/3084

[2015-12-09 14:16] alexanderstc commented on #3123
I agree. Sorry for the false alarm. I see no more bugs.

[2015-12-09 14:21] jwillmer commented on #3160
In the patch I can see that the value will be send. (I did not mention that this is a partial page if that makes any difference.)

16:18:24.697
[code]

16:18:24.721
[code]

[2015-12-09 14:23] miyconst commented on #3084
`puppet-client` now has default `session-timeout` value, which is `20 minutes`. This means that by default `puppet-client` will ping server after each `19.5 minutes`.

The value can be changed by setting `session-timeout` attribute of `puppet-client`.

[code]

[code]

Launcher automatically sets current session timeout after the first patch was sent. There is a new object in `LauncherPage.json` to

[2015-12-09 14:24] miyconst commented on #3160
Then it is a server side issue, not client side. The client does it job properly, - generates and sends the change patch.

[2015-12-09 14:31] eriohl commented on #3123
Unless there is ~c~a~ or something you are missing of course?

[2015-12-09 14:33] per-samuelsson commented on #3160
@chrhol, do you have a take on that?

[2015-12-09 14:39] alexanderstc commented on #3123
No, I was missing "no records found" result.
Now I search from infinite string to the same string, instead of from infinite string to null, and everything works as expected. All tests pass, I pushed to pnext already.

[2015-12-09 14:48] eriohl commented on #3123
OK. Great. Close this one then?

[2015-12-09 15:02] jwillmer commented on #3160
Have created a [test project](https://github.com/jwillmer/StarcounterModelChangeEventTestProject) to demonstrate the probblem.
It seams like it is not related to a partial class but to changing properties of objects.

[2015-12-09 15:12] alexanderstc commented on #3123
Fine with me.

[2015-12-09 15:30] #3123 closed

[2015-12-09 16:17] malx122 commented on #3084
No, that is not a good implementation of ping. Ping should be a lot more often than the session-timeout value. Lets say that I have a session timeout of 20 minutes. If I loose connection at 18 minutes I will now only have two minutes to reconnect before session times out.

Ping should be at least every minute, maybe every 15 seconds, unless there are traffic that touches the session without the pi

[2015-12-09 16:41] warpech commented on #3160
Thanks a lot for illustrating the problem!

Note to @chrhol: any chance of explaining HasChanged on starcounter.io? There is an issue about that: https://github.com/Starcounter/starcounter.io/issues/91

I will take my chance to explain the solution. `HasChanged` method of the `Json` class is only triggered for the changes at the root of the Json.

If you want capture a change in a child subtree, y

[2015-12-09 16:50] warpech commented on #3084
@malx122 has a point here

[2015-12-09 16:50] miyconst commented on #3084
@chrhol can you confirm that session dies in two minutes if WebSocket connection drops?

@malx122 ping won't help fix connection problems. If connection drops because user gets offline, then this is the end for this session. Even if the connection restored after some time, the previous patches will never reach server, and session won't be usable. This is another issue, which will be addressed in 2

[2015-12-09 17:40] malx122 commented on #3084
No, I can not confirm it since I have not tested it and as you said it does not work because of the other issue. It was just pure logic from your implementation description! Just because the reconnect issue is not solved (but NEED to be solved) does not say that the ping implementation should be flawed.

And yes, I can fix it by setting session-timeout to a smaller value, it was my first thought.

[2015-12-09 18:12] per-samuelsson commented on #3160
Just wow, @jwillmer. You just set the standard for how to approach issues being reported. Now there is no turning back! :wink:

Really, thanks a lot. I'm too eager to see the final answer for this.

[2015-12-09 18:42] miyconst commented on #3084
Okay, I can easily replace `session-timeout` property with `ping-interval`. @warpech do you agree?

[2015-12-09 19:43] per-samuelsson commented on #3158
@andwah, WDYT? Just send a `StartDatabaseCommand` once you've created it? Shouldn't be more than that, no?

[2015-12-09 19:45] per-samuelsson commented on #3090
Aha, that makes sense! I need to consider this some, but the example even I can understand. Thanks for the feedback!

[2015-12-09 23:45] alemoi commented on #3155
I thought through and now the tests are shown with the full filename with extension (however I can't use the dot for extension, because TeamCity formats it specifically).
Ignored tests duplicates are fixed. Thanks for noticing.

[2015-12-09 23:55] alemoi commented on #3155
Some tests are being run using CTest, that's why not all of the have extension.

[2015-12-10 00:48] dan31 commented on #3156
I think it is necessary. Until NewSQL with views is emerged, models are
needed to have in place. @per-samuelsson, your view on this?
On 9 Dec 2015 3:36 am, "Jakub Klekota" <notifications@github.com> wrote:

[2015-12-10 07:08] jwillmer opened #3162 "Create different project templates"
Yesterday I created a new project to showcase some problem and it took more time than it should be because you project template does not create any files.

Why not support two project templates?
* A minimal project template aka "Hello World" that has only one site
* A extended project template that has a folder structure for normal apps (viewmodels, wwwroot, etc) integration for the launcher, a st

[2015-12-10 07:22] jwillmer commented on #3160
@warpech thank you, it works but my example did not cover lists. How do I proceed if I have a list?

[code]

[2015-12-10 07:32] miyconst commented on #3162
+1, I did suggest this long time ago.

[2015-12-10 07:35] miyconst commented on #3160
You can define `partial` class for lists as well:

[code]

The `IBound` and `Json` is not required, unless you need it.

[2015-12-10 08:10] eriohl opened #3163 "pnext: Constraint checks during load not working properly"
Loader can detect a constraint violation even it there isn't one if an entry replaces another entry with the same key within the context of the transaction.

[2015-12-10 08:16] eriohl opened #3164 "pnext: Re-implement commit hooks."

[2015-12-10 08:20] jwillmer commented on #3160
@miyconst I have updated the example (and added a $ to the name) and it works. The only thing that does not work is adding a new object in JS.

[code]

[2015-12-10 08:23] miyconst commented on #3160
This is not supported by Starcounter server. You have to add `model.AddPropertyClick$` value, subscribe to it's change and add the array item on server side.

Starcounter does not support any model changes from client side.

[2015-12-10 08:40] per-samuelsson opened #3165 "On Page and Page.Html"
So whats the story behind this design?

For me, I'm confused there is a special meaning "Html" property.

And even more: considering separation of concerns, I'm a little concerned about this tight coupling between a view model and the view.

Please confirm or correct this: the "Html" is there to allow JSON without code behind, and as a convenient thing? The idea is you can specify it there, as sor

[2015-12-10 08:43] per-samuelsson commented on #2931
Somewhat related to a discussion I'm pushing here: #3165.

[2015-12-10 08:52] per-samuelsson commented on #3162
@jwillmer

Thanks for taking the time to make an issue out of this. We've discussed this back and forth for a long time, and the decision has been taken to do this. We are basically aiming to support a suite of templates, out of the box, both project templates and additional item templates, such as tracked in #2931.

Its mainly a resource issue right now. Hence, I cant really promise where it woul

[2015-12-10 09:16] jwillmer opened #3166 "Partial class does not generate properties"
Related to this issue #3160 I created a partial class with an attribute ```[Page_json.Products]```. If this class is in the same file as the ```Page``` I can access the properties i defined in the JSON file but if I move this class into a seperate file (Products.cs) the properties are not generated anymore.

You can test it with this project: [test project](https://github.com/jwillmer/StarcounterM

[2015-12-10 09:26] #3160 closed

[2015-12-10 09:33] warpech commented on #3084
As we discussed this morning with @miyconst, we will do a `ping-interval` with a default value of 60 s. It will work for both WS and HTTP PATCH if WS is not available.

Reestablishing a dropped network connection is another problem (https://github.com/PuppetJs/PuppetJs/issues/71)

[2015-12-10 09:50] miyconst commented on #3084
Done. `session-timeout` is now replaced with `ping-interval` in seconds, the default value is `60 seconds` or `1 minute`.

[2015-12-10 09:50] #3084 closed

[2015-12-10 10:06] warpech commented on #3165
A view-model is a resource. It is stateful, when attached to a session. It might have multiple representations.

- `application/json` - declared by `.json` and `.json.cs` files in your project. Enabled by `Json` class. Holds the actual data (acts as view-model)
- `text/html` - declared by `.html` file in your project. Enabled by `Page : Json`. Only holds the template for the view. The actual view

[2015-12-10 10:11] warpech commented on #3161
@miyconst is this still needed, given the final solution to https://github.com/Starcounter/Starcounter/issues/3084?

[2015-12-10 10:14] miyconst commented on #3161
I don't think so. It might be in use later, but not now.

[2015-12-10 10:14] #3161 closed

[2015-12-10 10:14] warpech commented on #2924
Thanks. Just to note, the same problem applies to the .io form:

<img width="1132" alt="screen shot 2015-12-10 at 11 13 43" src="https://cloud.githubusercontent.com/assets/566463/11712739/3c864cb8-9f2f-11e5-897e-80746f90acf7.png">

[2015-12-10 10:58] andwah opened #3167 "Http.DELETE() never returns if invalid url"
Note the "invalid" url below

[code]

[2015-12-10 11:20] careri commented on #3130
Im creating long running transaction. I'll look into the Db.Scope. What is the difference between Db.Scope and Db.Transact?

I'm guessing that Db.Transact will create a new transaction?

[2015-12-10 11:27] andwah commented on #3167
I did not add a timeout.

[2015-12-10 11:51] eriohl commented on #2882
This basically works now but performance needs to be evaluated.

There is however an issue concerning how to determine checkpoint urgency on starting up. Currently it assumes that a optlog file is always created at threshold which might not be the case (and even if it was it can have been removed). Error handling is also not fully functional.

Then there is also the problem of removing replaced op

[2015-12-10 12:04] careri opened #3168 "ScErrTransactionModifiedButNotReferenced"
What does it mean?
Code looks samewhat like this:

[code]

[2015-12-10 12:14] careri commented on #3168
Seems like I have to call Transaction.Current.Commit() before leaving the scope?

[2015-12-10 12:14] chrhol commented on #3168
You are using a `Db.Scope()` (i.e a longrunning transaction) and writes to a database-object, but you don't do a Commit or Rollback, and you are not referencing the transaction (using it for TypedJson or getting a `Transaction` object), which means that the transaction will be cleaned up in the end of the scope.

The error was added to avoid doing writes thinking they would be committed, and being

[2015-12-10 12:23] chrhol commented on #3130
Both creates a new transaction, but the `Db.Scope()` transaction does not check for conflicts and you need to handle commits and rollbacks manually. They are mainly used together with a viewmodel, when the transaction needs to survive between requests.

`Db.Transact` checks for conflicts and have automatic retries in case of conflict (can be turned off though).

If you create a lot of new transact

[2015-12-10 12:48] careri commented on #3130
Ok. I'll try using Db.Transact for this case. Thanks

[2015-12-10 13:06] andwah commented on #3167
Even with a ```Timeout``` set the Http.DELETE do not exit.

[2015-12-10 13:07] andwah commented on #3167
@alemoi Assigned it to you, i think you will have a good input about this issue.

[2015-12-10 13:15] careri opened #3169 "Transaction.Current is null"
How do I commit the current transaction?
In the code below m_factory will make another call to Db.Transact, creating a nested transaction on another thread. But then when I return to ```Transaction.Current.Commit();``` Current is null. Is that as intended?

[code]

[2015-12-10 13:18] alemoi commented on #3167
Sure. This should be assigned to me.

[2015-12-10 13:25] chrhol commented on #3169
If you use `Db.Transact()` you don't call commit explicitly, but the transaction is committed automatically when the code leaves the scope. And for the same reason you have to throw an exception and catch it outside the scope if you want to do a rollback or cancel the transaction.

[2015-12-10 13:31] andwah commented on #3158
Not hard to do,,

What do you think ppl usually want to do directly after they created the database?
1. Install apps.
2. ?

I can not directly come up with a scenario when a user do not want to have it started.
I agree with @per-samuelsson that there is no need for a checkbox.

[2015-12-10 13:31] careri commented on #3169
Yeah, just added some debug code where I noticed Transaction.Current is never set.
Thanks

[2015-12-10 13:38] careri commented on #2824
No it's not the first debug session. Seems totally random and not that frequent, not even every day

[2015-12-10 13:40] per-samuelsson commented on #3158
I'm also curious about this. @warpech? @miyconst?

And why do *you* create databases like this normally, @warpech? I mean, we always create the database for you once you start an application.

[2015-12-10 13:57] per-samuelsson opened #3170 "Typed JSON: Explicit binding to model property that exist in Json base class"
In #3143, I experienced that having a property named "Parent" in JSON-by-example raised an error, because that property exist in the `Json` base class.

To get around this, I remodelled my app to this pattern:

[code]

[code]

[code]

When using this like

[code]

it display "ParentJson", not "Parent" as I would expect.

I talked to @chrhol about this, and the problem is that the binding now will

[2015-12-10 14:01] per-samuelsson commented on #3166
@jwillmer

Thanks for reporting this.

I'm not sure, but I think its by design that code behind classes have to be in the code-behind file. Otherwise, the parser/compiler won't find them. @chrhol, can you confirm?

[2015-12-10 14:15] malx122 opened #3171 "Question: Overriding synonymousTo"
What will happen here?
[code]
(Something is another baseclass and Somebody:Something)

[2015-12-10 14:30] eriohl commented on #3163
Resolved. Now loader updates indexes in the same order as writer so behavior will be the same.

[2015-12-10 14:30] #3163 closed

[2015-12-10 14:55] alemoi commented on #3150
Is this issue still relevant, @andwah ? If not please close it.

[2015-12-10 14:58] andwah commented on #3150
It's totally normal that the ActiveSocket can be null at the point that i was trying to use it.

[2015-12-10 14:58] #3150 closed

[2015-12-10 15:20] #3019 closed

[2015-12-10 15:23] warpech commented on #3158
This is fine for me. I proposed a checkbox in case there would be opposition of someone in the team who thinks it is important to be able to create databases without starting them.

Ha! Assume I don't have VS. I have just installed Starcounter on a new PC.

1. I start Starcounter server
2. Go to the Administrator
3. Create a database
4. Start the database
5. Go to the app store
6. Install an app
7

[2015-12-10 15:27] warpech commented on #2931
I propose:

[code]

For me, the word `Page` or `Partial` in the file name is redundant. Just 4 (7) more letters to type. @miyconst WDYT?

Note that the view-model name cannot be called just `Product`, because that would be ambiguous with the data model name (bad for namespace resolution, bad for human trying to understand what's going on).

[2015-12-10 15:35] warpech commented on #3019
Just a friendly note, please don't use newline unless you mean to start a new paragraph. And if you mean to start a new paragraph then make two newlines. MarkDown needs this to understand a new paragraph.

Compare the [Database mapping](http://starcounter.io/guides/apps/database-mapping/) page with http://elixir-lang.org/getting-started/mix-otp/agent.html - see how they use a lot of short, clearly

[2015-12-10 16:03] per-samuelsson commented on #3158
Aha, so it seem the workflow is quite different, and not really consistent. In the CLI or in VS, you just run your application. The database "is there" for you like that.

Wouldn't it make sense to have the same workflow in the web administrator? Like "Download and run this app from the app store", and that creates a default database if I dont have one, and run the app inside it.

[2015-12-10 16:10] per-samuelsson commented on #2931
[code]

Yeah, this is in line with what we discussed earlier. I too favor something like this.

For sure.

[2015-12-10 16:12] alemoi commented on #2966
I tried to modify the default constructor for session to use `SessionOptions.PatchVersioning` but the unit tests started to fail regarding the Json patch: https://scbuildserver/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=32564#_focus=4216

I will re-assign to @chrhol since he is more knowledgeable in this area.

[2015-12-10 17:17] per-samuelsson commented on #3171
All fields (translated to properties) will read/write to/from `BaseClass.BaseProperty`. Is this in line with what you would expect?

[2015-12-10 17:19] per-samuelsson commented on #3169
Seems this one is fully answered.

[2015-12-10 17:19] #3169 closed

[2015-12-10 17:35] malx122 commented on #3171
But lets say I do this:
[code]
Or do I get another behavior?

[2015-12-10 19:17] andwah commented on #3158
Is done if you use the AppStore application.

We had some thoughts of removing the appstore part in the administrator and run the "real" appstore client there instead. so only ONE appstore app.

I think we agree that point (4 start database)  can be automated in code. It's an easy fix, 1h or so.

@dan When do you think i should do this?

[2015-12-10 20:13] per-samuelsson commented on #3171
Well, you would get an `InvalidCastException`. Because the `new Something()` is (obv) not a `Somebody`.

Just the same as you would have this in regular C#:

[code]

and do this:

[code]

[2015-12-10 20:14] per-samuelsson commented on #3158
You want to ping @dan31, I think. :smile:

[2015-12-10 21:13] andwah commented on #3158
oups. yes, thanks :-)

[2015-12-10 21:30] per-samuelsson commented on #3099
Finalized and merged in https://github.com/Starcounter/Starcounter/commit/7f39c363fb191c2db0eebebf5bfef8bb33cea4c5. Documented and reviewed.

[2015-12-10 21:30] #3099 closed

[2015-12-10 21:31] per-samuelsson commented on #3119
Reviewed, and we haven't found anything that indicate anything was broken.

[2015-12-10 21:31] #3119 closed

[2015-12-10 21:32] per-samuelsson commented on #3113
Thanks for the feedback everyone. We settled for what was documented as described in #3099.

[2015-12-10 21:32] #3113 closed

[2015-12-10 21:33] per-samuelsson commented on #3095
Done. Merged and documented as part of #3099.

[2015-12-10 21:33] #3095 closed

[2015-12-10 21:33] per-samuelsson commented on #2976
Done. Merged and documented as part of #3099.

[2015-12-10 21:33] #2976 closed

[2015-12-10 21:33] per-samuelsson commented on #2898
Done. Merged and documented as part of #3099.

[2015-12-10 21:33] #2898 closed

[2015-12-10 21:44] per-samuelsson commented on #3165
In the light of that, what I suggest would make *even more* sense, not less, no? If I decide statically that my view *is a* page (by deriving `Page`), how could I return that same resource as Json when the MIME type indicates that?

With my suggestion, we would `return new Partial(new ProductView(), "mytemplate.html")` when the request ask for `text/html`, and `return new ProductView()` for `appli

[2015-12-10 21:58] malx122 commented on #3171
Ok, good to know! Then it is at least possible to do even if its ugly and you need to avoid using Property1. (The reason of the question is that I want to change some structure in our DB and might be limited by our current data)

[2015-12-11 06:30] careri opened #3172 "Db.Transact, how does Retry work?"
Hi!

I'm trying to figure out what the retry logic does. I have a stress test that runs on thread on each cpu-core (8 cores). I get this exception:
ScErrConstraintViolationAbort (SCERR8001): A transaction was aborted because a constraint was violated. Index=MQParticipant_UID Key='Carl'.

The default value for the retry-parameter of Db.Transact seems to be 100.
The code looks like this:
[code]

The

[2015-12-11 06:55] k-rus commented on #3172
Thank you for the question. Retry runs on conflicts. In your example, you have constraint violation, i.e., your input data violate unique constraint by inserting value, which already exist in the index. There is no reason to retry on such error, since it is unlikely existing data will be removed to allow you new insert.

[2015-12-11 07:32] eriohl commented on #2985
Closing this. Using **pnext** milestone instead.

[2015-12-11 07:32] #2985 closed

[2015-12-11 07:39] eriohl commented on #2871
Layout and index handle is returned to client as output from create layout and index respectively.

[2015-12-11 07:39] #2871 closed

[2015-12-11 07:57] per-samuelsson commented on #3171
I take that as an "question answered". :smile: Let me know if you want us to reopen this.

[2015-12-11 07:57] #3171 closed

[2015-12-11 09:04] careri commented on #3172
Well my scope first makes a get (SQL), if get returns an object I return it. If Null is returned from get I create a new instance and return that.

I'm running a stress test so 8 threads does this at the same time. Some of the threads will retrieve null from the get and try to create a new instance. The threads then commits and fails for one/many threads. A retry would solve the problem. So I don'

[2015-12-11 09:21] andwah commented on #3158
This has now been fixed, now when user creates a database it will also be started.

[2015-12-11 09:21] #3158 closed

[2015-12-11 09:27] k-rus commented on #3172
I don't see how retry will help. I guess two threads find that an object does not exist and try create new instance for the same key. The one, which commit first, succeeds. The other one obviously fails on commit. Retrying the second transaction will never succeed.

[2015-12-11 09:28] andwah opened #3173 "Better errortext when trying to start second database on same port"
![image](https://cloud.githubusercontent.com/assets/2656996/11740270/9f138cca-9ff1-11e5-9410-dcc54e2f2a46.png)

It's hard for the user to know what's wrong.

[2015-12-11 09:29] eriohl opened #3174 "pnext: Built-in global index on set specifier"

[2015-12-11 09:42] andwah commented on #3125
I tried a couple of different scenarios, but i could not reproduce.
Can you descried the class and the content of object.
Where did you see there error? in log, gui popup?

[2015-12-11 09:56] per-samuelsson commented on #3156
Well, based on the fact that we have already taken a decision that these are necessary dependencies in our new versions, I would consider it rather strange **not** to have them part of the templates. :sunglasses:

[2015-12-11 09:59] per-samuelsson opened #3175 "Add Simplified, Starcounter.Extensions and SocietyObjects.* to project templates"
Background in #3156.

Applies to both `Starcounter Application` and `Starcounter Library`.

[2015-12-11 09:59] per-samuelsson commented on #3156
#3175 up for grabs!

[2015-12-11 09:59] #3156 closed

[2015-12-11 10:09] warpech commented on #3173
+1. This has bit me few times

[2015-12-11 10:09] warpech commented on #3158
Nice, thanks!

[2015-12-11 10:13] warpech commented on #3156
Cool!

[2015-12-11 10:14] Prav962 commented on #3125
Hi @andwah ,

Please try run application with given below sample code. you got the same exception.
there are two DB object one is nullable and other not nullable.
1. http://127.0.0.1:8080/NullableobjectError/InsertNullable
2. http://127.0.0.1:8080/NullableobjectError/InsertNotNullable

when you try this (Select * from NullableobjectError.NullableobjectEN)) sql query in SQL panel you got error mess

[2015-12-11 10:44] miyconst commented on #3125
@Prav962 thank you for the detailed explanation.

[2015-12-11 11:06] warpech opened #3176 "Introduce implicit standalone mode"
Initially discussed here: https://github.com/StarcounterSamples/Barcodes2/issues/1

I have created an implementation of the implicit standalone mode.

When a viewmodel extends `Partial` class instead of `Page`, then it gets this feature: when a response is sent to the browser, and it does not contain a `<!doctype>` (meaning it's a partial) it gets automatically wrapped with main HTML (that loads P

[2015-12-11 11:21] eriohl commented on #3159
This is not so trivial because of inheritance. Even if the layout of the record is not the same as the layout of the filter it could still be a compatible layout. And figuring this out from the layout handle is both costly and unnecessary (because the client already know this).

Also, we want to use the expected layout rather then the the filter layout in case the layout is incompatible because th

[2015-12-11 11:55] k-rus commented on #3159
What is the filter?

Expected layouts are registered in meta-data and connected to setspecifier and any layout has connection to a setspecifier, therefore it is just technical work to register expected layouts for all layouts. Actually this can be done in meta-data as part of new meta-schema design.

[2015-12-11 12:15] eriohl commented on #3159
Filter created by ```star_context_create_filter```. Not sure what you mean?

I was thinking to register the layout with the filter processing when registering the type binding in managed code. This is legacy stuff to be discarded so we should avoid additional references to it I think (to filter.dll that is). And yes, this is trivial to implement. But it will add a bit of maintenance possibly.

[2015-12-11 12:24] per-samuelsson commented on #3166
I talked to @chrhol - he confirms what I wrote above. And in the light of all the things we have to do right now, and that we are low in resources, its unlikely we'll try to come up with some improvement in the close future. I'll close this one b/c of that. Let us know if you think that is very wrong, @jwillmer.

[2015-12-11 12:24] #3166 closed

[2015-12-11 12:26] k-rus commented on #3159
I've never dealt with it, thus I don't know what it is and how it is used. Therefore, my question. To understand I will look into the actual code.

[2015-12-11 12:29] alemoi commented on #3173
I think its easier to do this check in server database manager that has a list of databases (running and that are going to be started).

[2015-12-11 12:33] per-samuelsson commented on #3176
@warpech

You pushed it to the "master" branch. That one's not active. Can you push it to "develop"? Thanks.

[2015-12-11 12:34] per-samuelsson commented on #3176
No, sorry, I was wrong. Looked in samples (followed your link).

[2015-12-11 12:36] eriohl commented on #3159
Ok. I thought you owned this code. Thus the question.

I'll fix so that is works according to option 1. It is fairly trivial and we can address this later if this is not good enough.

One more question @k-rus @alexanderstc: If query processor comes across a record of an unregistered type: Is this record simply filtered from the result or should there be an error? I remember this was an error earli

[2015-12-11 12:38] per-samuelsson commented on #3176
Ah, now I saw what was wrong - you pushed the file, but didn't add it to the project. So it's never built. I'll do that locally, and I'll push it if it works to build it.

[2015-12-11 12:44] eriohl commented on #3159
Never mind. I can see from the code that an error is generated.

[2015-12-11 12:51] andwah commented on #3125
@Prav962 Thanks for the example, i could reproduced the issue, i tested with a DateTime property and it seemd to work fine, but all other types gives the same error as in this issue.

@chrhol Should it be possible to set/bind a nullable value to a property in a template?

[2015-12-11 12:55] careri commented on #3172
I'll show you our ensure pattern in code instead, this recreates the violation every time. If the retry would kick in the second attempt would succeed for the threads that got the constraint violation:
[code]

[2015-12-11 12:55] eriohl commented on #3142
@chrhol: Which branch is these changes in. I'm fixing the [filtering](https://github.com/Starcounter/Starcounter/issues/3159) and I need to fix the type registration in this code.

[2015-12-11 12:58] chrhol commented on #3125
We dont support nullable values today in TypedJson, so the value needs to be converted (to default value) before setting it. This is similiar to this issue: https://github.com/Starcounter/Starcounter/issues/3144

It should be discussed by us and see if we should support nullable valuetypes or not.

[2015-12-11 13:01] chrhol commented on #3142
None yet, I only have it in a local branch. Give me a couple of minutes to remove debug stuff and I will push it.

[2015-12-11 13:12] k-rus commented on #3159
Great that you found. @alexanderstc is not involved with old query processor at all. I am involved for bug fixing and enhancements, but the most of the code is written by someone else. Usually I need to look to the code to understand what is happening as you did.

[2015-12-11 13:14] chrhol commented on #3142
Code is pushed to branch `issue\pnext\3142`.

[2015-12-11 13:38] k-rus commented on #3172
Thank you for providing example. Now your pattern is clear.
In general retry cannot treat constraint violation as conflict. In your case it is a conflict of two inserts into the same key. This is not handled as conflict in Starcounter. I don't know how it is difficult to have conflict here. @eriohl WDYT?

You can handle your case with your own retry on constrain violation, which is simple. Or may

[2015-12-11 13:38] eriohl opened #3177 "pnext: Fix so that pending updates can be read with an unexpected layout"
Currently a commit record can be read through the lens of any record layout. However, when reading a pending update it is assumed that the expected layout is the same layout as the pending update. Pending updates can be read through the lens of any record layout as well.

[2015-12-11 13:41] miyconst commented on #3176
I have included the file into solution, replaced `ASCII` with `UTF8` encoding, and made all partials be statefull.

[2015-12-11 13:44] eriohl commented on #3159
Because the records are not filtered for unregistered types we need to be able to check the filter against records without a registered expected layout as well. So in this case we use the layout of the filter.

However, because of previously mentioned issue with pending updates this might not be completely stable (although generally it is probably pretty safe to assume that a record where type is

[2015-12-11 13:46] andwah commented on #3125
@chrhol Thanks for the clarification.

I have adapted the query result so it handles nullable's,
If property value is null the value will be converted to it's default value (false/0/"") and returned.

Note: The original value in the database will not be changed.

Fix 94b912bfa3b75c5c1c40b92e1ceacf969c7cff6c

[2015-12-11 13:51] miyconst commented on #3125
@andwah thank you for the fix.

I will close the issue when a nightly build available for test.

[2015-12-11 14:03] miyconst commented on #3176
I have two suggestions:

Add

[code]
to the default template.

Add
[code]

In the beginning of `AsMimeType`, so the `OnData` method always executed, even if no data assigned.

[2015-12-11 14:08] eriohl commented on #3159
Done.

[2015-12-11 14:08] #3159 closed

[2015-12-11 14:10] jwillmer commented on #3166
I think it is not a showstopper but I think it is a strange behaviour. Is it only because you implemented it that way or is this behaviour equal with other implementations in .NET?
I just assumed that it is a bug because I do not get any warning then I put the attribute on a class that is not in the same file.

[2015-12-11 14:15] eriohl commented on #3172
If the conflict exists when the transaction started then you will get a constraint violation (and the transaction is not restarted). If not but is created by a parallel transaction this is a conflict (and the transaction is restarted).

You example is seems to me  should probably generate a few conflicts but not a constraint violation (since you check if the record exists before creating it). So t

[2015-12-11 14:19] eriohl commented on #3142
In ```issue\pnext\3142.```, this is not being done properly for the filter iterator at least. The record reference keeps the actual layout handle rather then the expected one after fetch.

[2015-12-11 14:28] k-rus commented on #3172
@eriohl
Thank you for clarifying! I was not aware about this details. Will you look to the bug? Or who is more appropriate?

[2015-12-11 14:32] eriohl commented on #3172
Sure. I can check it out.

[2015-12-11 14:52] chrhol commented on #3142
Yes, this I missed. Will add it.

[2015-12-11 15:16] per-samuelsson opened #3178 "SELECT * FROM [simple table name] does not work in Administrator"
[code]

Running that, and doing this

[code]

give me this:

![image](https://cloud.githubusercontent.com/assets/2902045/11747149/de72c266-a021-11e5-94db-de809cae981c.png)

I'll be the devil here: this is just *way wrong* in several ways:

1. I know, we need to go towards isolated apps, and I guess thats why this is not supported any more? However, I think this is going one step to long. This is j

[2015-12-11 15:19] per-samuelsson commented on #3178
/cc @pluppplupp

[2015-12-11 15:24] pluppplupp commented on #3178
This also occurs in InvoiceDemo SQL statements. Using the FullName of the type works.

![2015-12-11_16-22-36](https://cloud.githubusercontent.com/assets/1765023/11747454/99a65074-a023-11e5-94f7-e4809baed5e2.png)

[2015-12-11 16:01] warpech commented on #3176
Good idea, but let's make the comment shorter because it has a chance to finish in production (if Launcher also relies on implicit standalone mode).

I think this needs to be consistent with whatever the `Json` class is doing. Perhaps you want to mitigate the fact that constructors can't be used in `.json.cs`? Maybe @chrhol could add some `OnInit` method to `Json` so solve that.

[2015-12-11 16:02] alemoi commented on #3178
Thank you for your question! That was introduced a while ago (blog post regarding this change: http://starcounter.io/list-breaking-changes-starting-build-2-1-1-3/ and in documentation: http://starcounter.io/guides/sql/sql-isolation/).

However I totally agree with your points. Our unfinished idea was that we should have a combobox in Administrator SQL to select a currently running app in which con

[2015-12-11 16:03] alemoi commented on #3178
@pluppplupp
this is definitely a bug if it is like so. I will take a look.

[2015-12-11 16:15] budnix commented on #2986
I have pushed changes to my branch 5 hours ago that relates to this issue but please ignore it. After more testing I found that my solution is not good enough and needs improvement. Still working on that.

[2015-12-11 16:23] miyconst commented on #3176
Agree on both. I am fine with any text with would have same/similar meaning, and the `OnInit` method would really do the job.

[2015-12-11 16:28] alemoi commented on #2969
The replacement is pushed via 8719a2e49d01ad5250f228185d60bacbe23dbad6
I added Obsolete attribute to AddFilterToMiddleware and SkipMiddlewareFilters, which produces a warning when building a project containing it. Documentation is updated and the scripts in https://github.com/StarcounterSamples/Tools/issues/5
WIll be available in following nightly.

[2015-12-11 17:12] andwah commented on #3178
The query should be executed and if there is ambiguous namespaces etc. alert user with an error otherwise return the result.

I can implement an combobox but it would be nice if it worked without that,

[2015-12-11 19:00] eriohl commented on #3172
I can reproduce it.

[2015-12-11 19:43] eriohl commented on #3172
I know what the problem is: Bug in the constraint check. Working on addressing the problem.

[2015-12-11 20:17] per-samuelsson commented on #3178
@alemoi @andwah

Thanks for the quick responses on this. Really appreciated.

I understand that we are going towards a "app context specific model", but not being able to do really trivial queries like this without having to explicitly specifying an application... isn't that going one step to far?

I mean, there's just a single table in play here, "SuperSimple", defined by me, in my super-slim app

[2015-12-11 20:20] per-samuelsson commented on #3176
I noticed @jwillmer had introduced a specifc interface, like `IPageInitialisation`, that he applied to all of his pages, supporting generic initialization like that. Thats at least one indication this might be a good idea.

[2015-12-11 22:59] #2969 closed

[2015-12-11 23:40] alemoi commented on #3178
I tried with latest Starcounter and latest InvoiceDemo1, and everything works correctly with the following code that uses short name:
[code]

@pluppplupp can you please provide the details of your test environment?

[2015-12-12 08:12] k-rus commented on #3178
@per-samuelsson It was decided to support short names in SQL queries only inside applications, since otherwise as soon new application loaded SQL query can be broken due to ambiguity. It will break Starcounter, since apps developed independently will stop working when combined with others.
Administrator is another app. Thus obvious consequences. Implementing special behaviour to cover Administrato

[2015-12-12 09:14] warpech commented on #2969
Note to future searchers: `SkipMiddlewareFilters` is now called `SkipRequestFilters`

[2015-12-12 10:30] warpech commented on #3176
This is something we do in most of the apps somehow:

- in KitchenSink, we assign [`Data = null`](https://github.com/StarcounterSamples/KitchenSink/blob/662c2cb8cce97e59ad91101502f84eaaf72b5ac4/src/KitchenSink/Program.cs#L105) which triggers [`OnData`](https://github.com/StarcounterSamples/KitchenSink/blob/662c2cb8cce97e59ad91101502f84eaaf72b5ac4/src/KitchenSink/DatepickerPage.json.cs#L6)
- in Pro