[2016-06-09 12:05] miyconst commented on #3694
@warpech I spoke to you about this issue before, so if you have something to add, please do so here. I am fine with skipping NULL properties as long as it is optional.

[2016-06-09 12:34] miyconst commented on #3680
@chrhol thank you for describing this. I have added the JSON template for the `SessionContainer` and it works!

[2016-06-09 13:02] chrhol commented on #3680
I'm currently working on this issue. I have made some progress, but there's still some way to go to have it work properly.

[2016-06-09 13:14] bigwad commented on #2160
Some changes has been done recently:

- encoding

bits | symbol
---------------|----------------
00 | ~
00001..11110 | a ..w
11111 | infinite char

- leading separator is not required. trailing separator is still required.
- empty element is permitted

Thus very first setcpec lexicographically is "~"
The next sibling to "~" is "a~"
The first descendant from "~" is "~~"
Similarly, the first descend

[2016-06-09 13:27] miyconst commented on #3674
Unfortunately we don't yet have a recommended way of doing this in Starcounter, but I can share some experience I have.

There are multiple types of date time fields:

- Date without time and time zone. For example birth date of a person. It should be displayed the same regardless of Client's time zone.
- Date time value. For example date time displayed on a photo. It should be displayed the same

[2016-06-09 13:39] atifwaqar opened #3695 "Question : What is the table name of "MaterializedIndex" in SC Version 2.3.1657?"
The query `SELECT i FROM MaterializedIndex i` works fine in SC Version 2.2.1.2237, but not in SC Version 2.3.1657

[2016-06-09 14:09] atifwaqar commented on #3663
@dan31 This is correct. I read [unique indexes](http://starcounter.io/guides/sql/indexes/) as @per-samuelsson suggested. I created a new project just to test it, It really works fine :
`Db.SQL("CREATE UNIQUE INDEX tableIndex ON TestTable (Name)");`

I noticed that when I create this sort of UNIQUE-KEY index, I can not create a new object if `Name` already exists in DB, But I am facing 2 issues :
1

[2016-06-09 14:13] malx122 commented on #3674
Yes, I know my preferred way of doing this. It is that all datetime in the db should be in UTC and everything else handled by the apps (Probably at the client since the client is the best one deciding timezone). But if some applications (3:rd party) store in server time and our apps in UTC and even one more in something else, there will be impossible to map together. Therefore there MUST be a stan

[2016-06-09 14:51] eriohl commented on #2160
Different characters to choose from for the set specifier then? Affects set specifier generation then I suppose?

cc @k-rus @alexanderstc

[2016-06-09 14:53] bigwad commented on #2160
Already posted number of issues in level0 issue tracker

[2016-06-10 05:38] per-samuelsson commented on #3695
@atifwaqar

This is one of the areas that has changed quite a lot between versions 2.2 and 2.3. Metadata has been extended and changed a lot.

Let's see if @k-rus can answer.

[2016-06-10 07:57] bigwad commented on #3580
Done.
Have investigated the paper ragarding [partial alphabetic trees]( http://www.sciencedirect.com/science/article/pii/S0196677405000672). It briefly addresses our problem but suggests only brute-force like solution, which has unacceptable cost.
Haven't investigated prefix free codes. Probably will return to it later, but I don't expect significant improvement out of this.

[2016-06-10 07:57] #3580 closed

[2016-06-10 08:17] careri opened #3696 "Custom constructors are not currently supported in typed json (BindHelper)"
I have a private helper class withing a typed Json. The constructor check should ignore inner classes that don't inherit json

[code]

[2016-06-10 08:24] chrhol commented on #3696
Thank you for reporting this. Which version do you use of Starcounter?

[2016-06-10 08:24] per-samuelsson commented on #3696
The problem today (even after switching to Roslyn) we have no context to traverse the tree, so we can't tell for sure if a class derive Json or not.

We should ignore it if it doesn't map to a JSON hive though. I'm surprised we don't already. That's a bug.

And @careri,

[code]

Just saying. :wink:

[2016-06-10 08:35] careri commented on #3696
I'm using 2.2 stable.

Hehe, I'll look into how to use syntax highlightning :)

BTW, I turned the inner class into a struct, that worked

[2016-06-10 08:38] chrhol commented on #3696
Then you're not running the new parser for code-behind (based on Roslyn). I will test it in the latest version and see if this bug is fixed already.

[2016-06-10 08:42] linkdata opened #3697 "Weaver error"
@per-samuelsson : is this something you want to look into?

2016-06-10 10:31:02	Error	#sc://anteater/personal	Starcounter.Server.Commands
[code]

2016-06-10 10:31:02	Error	#sc://anteater/personal	Starcounter.Server.Weaver
[code]

2016-06-10 10:31:02	Error	#sc://anteater/personal	Starcounter.Server
[code]

[2016-06-10 08:46] per-samuelsson commented on #3697
Define *want* to? :wink:

Looks very much like #3411.

[2016-06-10 08:48] per-samuelsson commented on #3697
Are you stuck, or can you get out of it with help of #3411?

If you're not stuck, I'll close this as a duplicate of that, and raise the prio of getting it fixed.

[2016-06-10 08:48] linkdata commented on #3697
It's a duplicate, so I'll close this one.

[2016-06-10 08:48] #3697 closed

[2016-06-10 09:40] chrhol commented on #3696
This seems to be working fine in the latest version. Since you found a workaround in the version you use, and it's solved in later versions I will close this issue.

[2016-06-10 09:40] #3696 closed

[2016-06-10 09:58] miyconst commented on #3696
It's very easy, when you define a code block add the language after it's name like:

- \```cs
- \```js
- \```json
- \```css

[2016-06-10 11:11] miyconst commented on #3674
I don't see how that can be achieved.

- How to know what is the time zone of a particular value being saved?
- How to know that a value coming from an app is not yet converted into UTC?
- How to know which values to convert and which not?

In the future the database mappers will be moved outside of the apps. It will be up to the mappers to decide which value to convert from which time zone to whi

[2016-06-10 12:34] careri commented on #3696
Thanks @miyconst

[2016-06-10 13:46] alemoi opened #3698 "KitchenSink test fails on scbuildserver2"
Here is the build log:

https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=5260#_focus=8926

Interestingly tests fail only on Firefox, with Firefox crashing on scbuildserver2:
![image](https://cloud.githubusercontent.com/assets/208134/15966180/4b15a566-2f22-11e6-8e2a-1a0de83d23e9.png)

The Selenium has the following log entries:
[code]

cc @warpe

[2016-06-10 14:54] aloscha commented on #3698
It's not a problem with KitchenSink (I tested it locally and works).

Probably problem occurs on TeamCity, need more investigation

[2016-06-11 17:43] alemoi commented on #3698
You mean Selenium probably, since TeamCity just starts the test. As I pointed, there are a lot of crashed Firefox instances on the build machine. Do you want me to restart Selenium process or you would like to look at its state using remote desktop?

[2016-06-13 07:31] ivarbergman opened #3699 "Access violation (C0000005) detected"
Hi! On one of our production server we get an access violation error on Launcher start.
We are using SC Version=2.2.1.2230

Can you help us understand if there are some problems with our database, or if there is something else we need to do to fix this problem?

(Since this is on our production server, the priority on this issue is high.)

[code]

[2016-06-13 07:33] ivarbergman commented on #3699
You can download a zip archive of the Data files here:

http://tunitybuild.cloudapp.net:9999/issue-3699-intranet.zip

[2016-06-13 07:36] per-samuelsson commented on #3699
Hi @ivarbergman,

Sorry to see you experience this. It looks like it's something already in our pipe, considering older issues with similar stack, such as #3545.

Let's see if we can first establish that. @eriohl?

[2016-06-13 07:37] per-samuelsson commented on #3698
Something for https://github.com/Starcounter/AdminTrack/issues, no?

[2016-06-13 08:15] k-rus commented on #3682
Thank you for the question. I am not a right person to ask about .NET interfaces on top of SQL. May be @per-samuelsson has better knowledge.

From SQL point-of-view `DISTINCT`needs to be supported natively in SQL and it will happen in future.

 I don't know if supporting C# method `Distinct()` by implementing `IEqualityComparer` will be done for the current version of code host. May be @dan31 or @

[2016-06-13 08:45] eriohl commented on #3699
I'll check the database and see if I can see what is wrong.

[2016-06-13 08:58] eriksunsol commented on #3682
I was just looking at this again (was going to re-factor my `.Distinct()` LINQ query a bit) and realized this is related to #1694 and #3689, because my use of `.Distinct()` where `m.Source` and `m.Destination` as exemplified above are also database classes.

Whatever the equality comparer used by `.Distinct()`, be it the default comparer or the one provided by the user code, there is an element of

[2016-06-13 09:12] eriohl commented on #3699
At first glance it looks like the same problem reported before. I will try recreating the database to see if I can reproduce when the problem occurs.

[2016-06-13 09:26] eriohl commented on #3699
It seems that there is still some with table updates unfortunately. I can reproduce it but it will probably take some time to address.

[2016-06-13 09:54] k-rus commented on #3682
Just a side note that this actually will not work as expected due to #1694. It should be:

[code]

[2016-06-13 10:04] eriksunsol commented on #3682
@k-rus

(missing negation, should be: `!x.GetObject(i).Equals(y.GetObject(i))`, but that's minor...)

Actually `x.GetObject(i) != y.GetObject(i)` worked just fine when I tried it (probably because the instances came from the same query), but as discussed in #1694 this may not work in other cases.

[2016-06-13 10:55] malx122 commented on #3674
You can't compare time zones with units, that is two totally different things. One is scaled, the other one is moved. First one its reasonable to be able to take by looking at the tables, the second one not. Do you expect the mapping person to be in contact with all developers of third party apps?

[2016-06-13 11:51] per-samuelsson commented on #3682
@eriksunsol

Thanks for taking the time providing us with all this feedback. It's certainly appreciated!

Just to make this clear here: `Distinct` is a `Linq` extension method, operating on collections, and I'm not surprised at all it use standard comparisons for the platform being (.NET). And in such context, equality between reference types is conducted on addresses, not by-value.

Hence, we cou

[2016-06-13 11:53] ivarbergman commented on #3699
Hi! Thanks for the feedback. A couple of questions:

Is there something in our code that causes these errors? (Ie something we need to fix.) I have seen a number of

    ScErrStackOverflow (SCERR1011): A stack overflow has been detected.

errors in the starcounter log for this database. Could circular references between database objects be the  reason for these Access violation errors?

When you i

[2016-06-13 12:02] eriohl commented on #3699
I found the problem. Embarrassingly enough it is another bug that causes pretty much the same problem as in the case #3532.

Unfortunately the bug has messed the image file. But since I have all the log I can rebuild it for you. Then you should be able to just swap out the database and start as normal. Would that work for you?

[2016-06-13 12:23] ivarbergman commented on #3699
Super!!

Would it be possible for you to rebuild the images before tomorrow morning? That would be awesome :)

Will we need to upgrade SC to some specific version or will your "cleaned" image files be sufficient?

[2016-06-13 12:35] eriohl commented on #3699
Rebuilding now. Should not take long. A few minutes if I got the configuration right this time.

4 GiB RAM on your server right?

Do you have anywhere I can put the database when done?

You need a new version for the underlying bug to be fixed. But you should be able to start with the new image file with the current version.

[2016-06-13 12:45] eriohl commented on #3699
Got a rebuilt database for you.

[2016-06-13 13:03] eriohl commented on #3699
Fix pushed. Will be included in next build (2.2.1.2535).

I'll make sure a new version is available as soon as possible.

[2016-06-13 13:28] ivarbergman commented on #3699
Great! We are running Azure A2 instances (3.5 GB RAM) it has worked fine so far. Do you think that we need to increase RAM?

[2016-06-13 13:30] eriohl commented on #3699
No. Just asking to get the database configuration correct.

[2016-06-13 14:17] miyconst opened #3700 "Invalid Request.Url and CallingAppName values in RegisterMergeCallback"
I have the following setup up:

- App Playground.
- App Subground.
- App Playground has a property `SubPage: { }`.
- App Playground fills the value via `Self.GET("/playground/sub");`.
- The `"/playground/sub"` is mapped to `UriMapping.MappingUriPrefix + "/playground-sub-page"`.
- App Subground also has a response mapped to `UriMapping.MappingUriPrefix + "/playground-sub-page"`.

If the Subground a

[2016-06-13 14:18] miyconst commented on #3700
Can be tested with my [Playground & Subground](https://github.com/miyconst/Playground/) apps.

[2016-06-13 14:52] ivarbergman commented on #3699
Startup now gets past the Access violation problem, but it looks like I have another problem with my database.

[code]

It should be mentioned that the class `Concepts.Ring8.Tunity.OrderNumber` is added in the latest update of our apps.

(I will send you our  binaries shortly.)

/Ivar

[2016-06-13 14:56] ivarbergman commented on #3699
Here is a zip with our binaries. Most likely it should have been enough to test with `Launcher.exe` since start up fails on this app.

http://tunitybuild.cloudapp.net:9999/issue-3699_app_binaries.zip

Hope this helps!

[2016-06-13 15:02] eriohl commented on #3699
cc @k-rus @alexanderstc Any insight?

[2016-06-13 15:24] alexanderstc commented on #3699
This is develop, right - @k-rus is the man.

[2016-06-13 15:52] eriohl commented on #3699
I can reproduce (with a version including the fix). Just running Launcher.exe with the rebuilt database.

[2016-06-13 16:53] alemoi commented on #3698
Yes, my bad. Again forgot to put it there.

[2016-06-13 17:07] k-rus commented on #3699
If I don't mistake the exception happens in MetadataPopulation.cs line 76. I think as work around the population of CLR metadata can be disabled without breaking functionality of this version of Starcounter. Some our regression test will fail. If to run daily develop, then it should succeed I think. @eriohl can you try, since you have environment in place? Just comment line calling `PopulateClrMet

[2016-06-13 17:30] eriohl commented on #3699
Sure I can try that. But I don't see why that would really help.

There problem seems to be that there is a Starcounter.Metadata.Table record for OrderNumber but no entries in the Starcounter.Metadata.Column table for the table (ie the metadata for the class is incomplete). Can't I just reset it for example removing the record in Starcounter.Metadata.Table so that the metadata is recreated properl

[2016-06-13 17:58] k-rus commented on #3699
I don't think it will help, since if stored table definition is equal to the definition coming from class, then no meta-data population code for the class is called.

[2016-06-13 18:04] eriohl commented on #3699
I managed to get it to create the Starcounter.Metadata.Column records for OrderNumber by fooling it that the table has been updated. But then I got the same problem with a table called FormData. After doing the same with that table it starts.

Not sure on how to verify that everything works properly after that however....

[2016-06-13 18:08] k-rus commented on #3699
If I remember correctly, in develop metadata is not used anywhere.

[2016-06-13 18:12] ivarbergman commented on #3699
The FormData class was added in the same app update as OrderNumber. I forgot about that class.

@eriohl  Can you upload the Data images you have used when you successfully started the Launcher? I can give it another try on our server.

Thanks!

[2016-06-13 18:22] eriohl commented on #3699
As far as I can tell my tampering created the metadata table entries for the columns and nothing else. So it shouldn't have caused any problems. But I will double check that it didn't do anything strange.

@ivarbergman : I've uploaded the database to your FTP: issue-3699-intranet-rebuild2.zip

There is also a new nightly with the fix included: 2.2.1.2540. I would recommend you upgrade as well alth

[2016-06-13 18:28] k-rus commented on #3699
@eriohl How do I build Level1, develop nowadays? I remember I've seen something recently that requires some manual work. I have problem:

[2016-06-13 18:37] k-rus commented on #3699
Great! This approach is better than disabling metadata, since it does not require to use specialised build of Starcounter with disabled metadata population. (I tested that disabling metadata works, see [this build](https://teamcity.starcounter.org/viewLog.html?buildId=5316&tab=buildResultsDiv&buildTypeId=Starcounter_DevelopDaily)

For the safety, after starting production database the data can be

[2016-06-13 18:37] eriohl commented on #3699
Yes. I had this problem as well. NuGet config was wrong so it couldn't download the packages.

In the upper right corner of "Manage NuGet packages for this solution" there is a package source which was empty. Click on the cogwheel and check the one that says "Microsoft and .NET". After that package restore worked.

[2016-06-13 18:44] k-rus commented on #3699
Thank you! The instruction worked great! Now I am able to build Level1 again.

[2016-06-13 19:44] ivarbergman commented on #3699
@eriohl our server is back online!! Latest images work perfekt! Thanks!!

[2016-06-13 19:51] careri commented on #3363
I get the same exception. But I get it when I'm debugging. Maybe you should check if the debugger is breaking before throwing the exception?

[2016-06-13 20:04] dan31 commented on #3699
Thank you @eriohl @k-rus @ivarbergman @per-samuelsson for operativeness! @k-rus, should we assume your commit alongside this issue is a fix (to get included in upcoming stable release)?

[2016-06-13 20:07] dan31 commented on #1559
@alemoi reports this has been eventually addressed. Hence I'm closing it. Please reopen with comments if you find it is closed incorrectly.

[2016-06-13 20:18] alemoi commented on #1559
Though we need to start writing test script in py :smiley:

[2016-06-13 20:58] alemoi commented on #1559
I just checked develop for sqlregression_test.bat and it still has the above problems. Should probably be rewritten in python. Reopening the issue.

[2016-06-13 21:05] eriohl commented on #3699
I've double checked and the only additional transactions applied are metadata updates. Nothing looks odd from what I can see. Doesn't mean that metadata is all as it should now however. This I can't tell. So maybe taking @k-rus advice and rebuilding the database is prudent.

Great! Thanks for all your help and patience.

[2016-06-13 21:05] eriohl commented on #3699
Underlying problem seems to be that the Starcounter.Metadata.Column entries for the new tables was not created properly (they are created in a separate transaction). I think because the initial error took down the database before they could be created and after that, since the tables was already created, it saw no need. Disabling creation of these CLR metadata tables does not solve the underlying

[2016-06-13 21:13] eriohl commented on #3699
On this I can't advice unfortunately other then to say that it is unrelated to this problem. This message only says that a stack overflow has occurred in the host. It provides no additional information nor affect the result of the exception.

The reason why this output was added was because the CLR had a policy of silently dying when this occurred unless there was a debugger attached. To actually

[2016-06-14 00:41] alemoi commented on #2907
To be sure that codegen is not used for this test I simply renamed scllvm.dll and clang++.exe - the test runs ok without them, so they are not used. I see there are some memory allocations in `scsql_process_query`, maybe something is not freed there?

CC @k-rus
Not setting the label showstopper but its quite high prio because all debug builds are failing because of this.

[2016-06-14 05:37] per-samuelsson commented on #3699
I've never seen that one reported. It's likely something related to us now using Roslyn. I'm opening up an admin track issue about it to see if we can improve.

[2016-06-14 05:42] k-rus commented on #3699
I didn't fix anything. I just tested a work around to start the database.

Thank you for the investigation. I will look at it for a possible fix. Metadata are not crucial in branch develop, however they play more important role in branch pnext.

[2016-06-14 05:43] per-samuelsson commented on #3699
If that refers to the occurrence of the stack overflow, I know for a fact we have a know case where it happens in Typed JSON, that @chrhol is aware of, but where there is no clear way to fix it: https://github.com/Starcounter/Starcounter/issues/3147. That's my best guess, but hard to say for sure when we don't have anything else to go on.

Maybe @ivarbergman can give some insight when things have

[2016-06-14 05:45] per-samuelsson commented on #3363
[Debugger.IsAttached](https://msdn.microsoft.com/en-us/library/system.diagnostics.debugger.isattached(v=vs.110).aspx).

[2016-06-14 07:03] miyconst commented on #3674
@malx122 I am not comparing time zone to measure units, just mentioned it as another issue to be solved by mapping.

No, but each app developer should provide a default map with full description for his app. If an app lacks the default map, or the default map is not good enough, such app won't be accepted to the Warehouse.

[2016-06-14 07:58] eriohl commented on #3609
sccoredbg is still used by some components outside the kernel. Current plan is to leave that as is and have separate definitions for these things for the kernel. But I can remove these as well if that is preferred? @alemoi @dan31

[2016-06-14 08:05] miyconst opened #3701 "Unable to install pnext and dev into different folders"
After the latest update to Administrator it is no longer possible to install pnext version over develop and choose another folder to store database files. The installer automatically picks up current folder and then Starcounter server fails to start due to incompatible binaries.

The upgrade dialog box should have three buttons: [`Yes, upgrade`, `Manual installation`, `Cancel`].

cc @andwah, @warp

[2016-06-14 08:22] eriohl commented on #3609
I will also replace all the process termination in the kernel with exceptions for consistency. Host is required to terminate process on unhandled exception regardless. This way it might be possible to get more information about the reasons for the failure. Critical errors will still be logged as before.

[2016-06-14 10:29] andwah commented on #3701
Solution:
if the user want to change settings between versions he need to uninstall the current versions first, then install the new version and change the settings.

@miyconst  In the upgrade dialog box did it not warn about compability issues with the database images?

[2016-06-14 11:38] miyconst commented on #3701
This is a very bad solution. It requires much more manipulations :(.

No.

[2016-06-14 13:30] andwah commented on #3701
The installer should detect with database images is not compatible. so that should be fixed.

I agree that we should improve the experience.

So if the user click `Manual installation` it should uninstall current version in unattended mode and then start the new installer without the "unattended" flag, like a fresh installation but with previous settings and with the ability to reset to default se

[2016-06-14 14:48] eriohl opened #3702 "pnext: Wait for log write for commit to become visible"
[Wait for log write on commit](https://github.com/Starcounter/Starcounter/issues/2878) only suspends the signal write completed until transaction is secure on secondary storage. Result of write however is made visible when submitted to storage memory and log write has been scheduled.

This is not really a problem for other write transactions since completion of this will not be signaled until all

[2016-06-14 14:56] eriohl commented on #3609
Discovered a case where an exception thrown from an APC (block detection) is translated to an out of memory exception by .NET framework (seems to be the case regardless of what exception is thrown) hiding the underlying exception. Only possible way to get around this I found is to raise a fail fast exception.

[code]

Note that this is a host specific problem however an beyond the scope of this wo

[2016-06-15 07:57] eriohl opened #3703 "pnext: More special values."
For new query processing we need to support a broader range of special values and we want to separate unknown (SQL NULL) and null/0.

Currently we only support one special value: Unknown (or undefined). But depending on context unknown is treated differently (for example .NET null is not exactly the same as SQL NULL causing some inconsistencies between value checks in SQL and value checks in code)

[2016-06-15 08:34] miyconst commented on #3701
I would prefer fresh installation without picking up the old settings. Manual means manual, have to enter everything again.

[2016-06-15 09:20] thebrauer opened #3704 "Binding on a multilevel path doesn't seem to real time update"
We have a model that looks like this:
http://screencast.com/t/C3XgQOzsa

At first we only had Name, Address and Metadata with children. When we updated the value for Errors and we had a binding like this inside a repeat: {{menuitem.Metadata.2.Value}} the binding works but the value only updates in the browser after a refresh.

But when we added the properties directly on the menu item and bound li

[2016-06-15 09:23] warpech commented on #3698
What is the status of this?

Are the versions of `selenium-server-standalone` and Firefox the same on scbuildserver and scbuildserver2?

I think it would be do to kill all instances of `selenium-server-standalone`, Firefox, IE and Chrome after running each test suite.

[2016-06-15 09:24] #3698 closed

[2016-06-15 09:24] warpech commented on #3698
Issue moved to [Starcounter/AdminTrack #60](https://github.com/Starcounter/AdminTrack/issues/60) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-06-15 09:26] alemoi commented on #3609
Sorry for confusion but will _SC_ASSERT and _SC_BEGIN / END function tge same way as before regarding logging the exceptions? As I understood the definitions are for now just moved to kernel but have the same behavior.

[2016-06-15 09:43] warpech opened #3705 "Dynamic stateless partials - again"
@miyconst commented on [Fri Jun 10 2016](https://github.com/Starcounter/TechComm/issues/207)

In ModularManagement we need dynamic stateless partials in multiple places. The partials are dependent on database objects. It is impossible to update the partials from commit hooks, because they are not attached to the session.

I have a trick to update such partial by making a bound property and update

[2016-06-15 09:45] warpech commented on #3705
@miyconst could you please show some code how it works right now, and how it would work after the proposed change?

I would prefer if we used some language feature like getter for this. But as far as I understand, you've already evaluated that.

@chrhol WDYT?

[2016-06-15 09:54] miyconst commented on #3705
This is how it looks like now.

[code]

And this is how it will look with my suggestion:

[code]

[2016-06-15 09:55] miyconst commented on #3704
@thebrauer could you please provide some more info of what you are trying to do? The HTML template might help.

I don't understand why would you need a binding by an array item number like this `menuitem.Metadata.2.Value`.

[2016-06-15 10:11] eriohl commented on #3609
_SC_BEGIN / END is not used in the kernel. _SC_ASSERT will not work the same in the kernel as before (instead it will throw an exception in release and work as regular assert in debug). Kernel will no longer use sccoredbg.

Question was it I should make the same changes outside the kernel or if I should leave the stuff outside the kernel as it. If I leave it as is it will work just as before. If I

[2016-06-15 10:35] careri commented on #3704
We're using partials to update part of a page. Each partial page is bound to a menu item.
The menu item can then display additional information based on metadata.

In this case it's the menu-item that takes us to the workstations page. This page aggregates all known errors from all known workstations into a number that is displayed as an angry digit in the lower left corner of the menu item.

Othe

[2016-06-15 10:44] miyconst commented on #3704
It looks like this is a Polymer issue. Please see my jsfiddle - https://jsfiddle.net/qpf1235c/.

[2016-06-15 11:20] careri opened #3706 "Sessions not dying"
When I hit F5 in the browser a new Starcounter.Session is created on the server.
I have a list of created sessions, that I sometimes call refresh upon.

The strange thing is that all sessions seem to return IsAlive() even if they haven't been used for hours.
Any pointers to what I'm doing wrong?
From the VS debugger:
[code]

[2016-06-15 11:31] miyconst commented on #3689
Documented - [Comparing database objects](http://starcounter.io/guides/database/comparing-database-objects/).

[2016-06-15 11:31] #3689 closed

[2016-06-15 12:02] careri opened #3707 "DbSession obsolete"
I'm not quite certain that replacing DbSession with Scheduling.ScheduleTask is a great idea?

That forces me to have an instance of Starcounter.Session, which seems to be a client oriented session with Json references etc.

It should be possible to run database tasks without a client session instance

[2016-06-15 12:05] careri commented on #3706
Eh, s.Created seems to use Zulu-time? It's two hours of because of the swedish summer time. That's strange?

[2016-06-15 12:29] per-samuelsson commented on #3706
What, is that not where you live? :wink:

Can you try [Session timeout](http://starcounter.io/guides/web/sessions/#sessions-timeout) and related callback, to see if it works as it is documented?

@chrhol @alemoi any ideas?

[2016-06-15 12:34] per-samuelsson commented on #3706
@careri

Also don't forget all our host-level bits are open source: [Session](https://github.com/Starcounter/Starcounter/blob/6788776513bfd0f85ffe5f2600d149889fa967f4/src/Starcounter.XSON/Sessions/Session.cs).

[2016-06-15 12:53] careri commented on #3706
This gives me the time in my region.
[code]

Have a deadline tomorrow, can't investigate more right now

[2016-06-15 13:35] chrhol commented on #3707
There are two different methods to use to schedule a task, `Session.ScheduleTask` and `Scheduling.ScheduleTask`. Only the first one requires a session. The second one only takes the delegate  to execute, and is not connected to a session in any way.

[2016-06-15 14:32] warpech commented on #3670
This is a long known limitation and we need to either:

1. Implement this proposal and explain when and how to use it
2. Not implement this proposal but find a different pattern that satisfies the requirement

I think that we need @Starcounter-Jack's opinion on this. @miyconst can you grab @Starcounter-Jack when possible and discuss this with him?

[2016-06-15 14:57] alemoi commented on #3706
Yes, the session creation time is now set as `s.Created = DateTime.UtcNow;`
Sessions timeout is based on internal counters though, so its not related to UTC time.
Should we save local time instead probably?

[2016-06-16 07:19] careri commented on #3707
Ah, missed that one. Thanks

[2016-06-16 07:19] #3707 closed

[2016-06-16 07:41] per-samuelsson commented on #3706
I'm thinking that the actual means we use to compare, retrieve and store times are not crucial as long as we provide a **consistent user experience**.

Looking at the output provided by @careri in the OP, I can totally understand the confusion, and we should aim to get rid of that.

It's this extract that seem confusing IMO:

[code]

WTBS, someone else might compare using `DateTime.UtcNow`, and if

[2016-06-16 09:57] warpech commented on #3704
Yeah, looks like this should be reported to Polymer. Thanks @miyconst for investigating this

[2016-06-16 13:17] miyconst commented on #3556
@alemoi please update the issue status so we don't forget it.

[2016-06-16 13:47] miyconst opened #3708 "Is it possible to define a Handle function which would catch all of the changes in a view-model?"
Right now I can define a change handler in a view-model by a function:

[code]

Is there a way to catch changes in all properties? Something like:

[code]

[2016-06-16 13:49] miyconst opened #3709 "Writable view-model without Db.Scope"
Is it possible to get a writable view-model outside of `Db.Scope` with automatic `Db.Transact` execution on data change?

cc @chrhol

[2016-06-16 13:49] miyconst commented on #3708
cc @chrhol

[2016-06-16 15:30] chrhol commented on #3708
No, there is no such way today. You can only add a handler for specific properties. Might be a good enhancement for the future though, but it's not currently in the roadmap.

[2016-06-16 15:33] chrhol commented on #3709
No, automatic handling of transactions only works with `Db.Scope` currently. What is the exact reason for having an automatic `Db.Transact` instead of committing the long-running transaction each time? Do you want conflicts?

[2016-06-16 15:33] miyconst commented on #3708
Is it difficult to implement? It would be really nice to have such feature. I have been asked about it a couple of time, including today by Modular Management guys.

[2016-06-16 15:35] miyconst commented on #3709
How to do that?

[2016-06-16 15:37] joozek78 opened #3710 "Upgrade mode: even though uninstallation failed, installation goes on"
I was upgrading SC and an error occurred during uninstallation step:
![image](https://cloud.githubusercontent.com/assets/6013217/16122819/d8ef9a66-33e8-11e6-8a12-bf6376d4bf66.png)
But then, installation went on like nothing ever happened. It hanged.
I don't have any reproduction available, I don't know why uninstallation has failed

[2016-06-16 15:37] chrhol commented on #3708
I guess the actual implementation would not be that difficult to implement, when we know how we want it.

The main reason for waiting with it, is that there is a couple of quite serious issues concerning databinding, how metadata is set and allowing same instance for stateful partials in several places that keeps getting pushed back all the time. And these take some time to get in place. I would r

[2016-06-16 15:40] chrhol commented on #3709
There is a method that can be overriden in the code-behind, `protected void HasChanged(TValue property)` which is called every time a property is updated. There you can call `this.Transaction.Commit()` to enable autocommits. But you will get no conflicts from this, of course.

[2016-06-16 16:37] miyconst commented on #3708
@dan31 can we add this feature to the to do list?

[2016-06-16 17:03] miyconst commented on #3709
Thanks @chrhol! I will try it out.

[2016-06-16 18:21] andwah commented on #3710
Interesting.. It seems that the uninstallation was "cancelled" and a cleanup was executed. after uninstallation the new version checks if there is an existing version installed if not then the new version is installed.
The question is why was the uninstallation aborted, i will take a look and see what i can find.

[2016-06-16 18:32] andwah commented on #3710
The installer generates a log file here:
%ProgramData%/Starcounter/ScSetup.log

Will you take a look and see if you can find some related error in the file?

[2016-06-16 23:34] alemoi commented on #3556
Yes, thank you. The problem is identified and i am working on solution already.

[2016-06-16 23:36] alemoi commented on #3706
@per-samuelsson thank you for attention on this! I like the last suggestion about living active time.

[2016-06-16 23:48] alemoi commented on #3609
Ok, now i understand. Practically I wonder how the unhandled exception in native code would be handled in managed code? Right now sc_assert in release terminates the process and creates a server log entry with stack trace etc. For me, regarding gateway and codehost I just need stack traces and termination, and if its possible using the new exceptions way - I would prefer same new way to be used ev

[2016-06-17 06:20] eriohl commented on #3609
It should not be handled preferably. Instead it should let the process crash so a crash dump can be produced.

In managed code this is a bit of a problem of course since anyone can intercept the exception. This can be handled by turning the exception into a fail fast exception for example.

[2016-06-17 07:14] atifwaqar commented on #3363
@careri I guess you are right. when i detached my debugger, I stopped getting this error in log.
@per-samuelsson you can close this issue now.
Thanks guys :)

[2016-06-17 07:17] atifwaqar commented on #3695
Its ok, I have switched back to SC 2.2.
I noticed some DB images change as well. and it looks like upgrading from 2.2 to 2.3 will be quite a struggle. So we can wait a bit for 2.3 to get stable.

[2016-06-17 07:21] atifwaqar commented on #3667
Thanks @dan31 . I see your point. We can wait till 2.3 becomes stable.

[2016-06-17 11:18] alemoi commented on #3262
Same happens on develop for two nights in a row: https://github.com/Starcounter/AdminTrack/issues/62

[2016-06-17 11:47] joozek78 commented on #3710
It seems that it was case of VS running (but I got no warning about it from installer)

[code]

[2016-06-17 11:51] alemoi commented on #3262
@chrhol was the dependency fix applied to develop as well?

[2016-06-17 11:56] chrhol commented on #3262
I don't really remember what I did...seems strange if I only made the changes in pnext. I will check

[2016-06-17 12:08] chrhol commented on #3262
For some reason I only added it in pnext. I will do the same for develop. Lets hope it will help.

[2016-06-17 12:16] atifwaqar commented on #3661
@miyconst Thanks for the help, I am creating my Objects as you suggested.

[2016-06-17 12:16] #3661 closed

[2016-06-17 12:17] #3663 closed

[2016-06-17 12:18] chrhol commented on #3262
Fix pushed to develop as well now. Let's hope it will help!

[2016-06-17 12:21] chrhol commented on #3363
Thanks for the input @careri and great that you found out it was the same problem @atifwaqar . I have some other changes for sessions pending (just waiting for the next stable to be released). I will make sure that I include the check for if the debugger is attached or not.

[2016-06-17 12:21] #3363 closed

[2016-06-17 12:42] per-samuelsson opened #3711 "No tables generated when starting app"
Reported by @niklasbjorkman, and verified. For some reason, the weaver doesn't detect any classes as database classes (no .schema files produced).

[2016-06-17 13:04] andwah commented on #3710
Thanks for the log.,  I will try to fix this.

[2016-06-17 16:02] alexanderstc commented on #3648
I started to test the api and I get the impression:
if I forget to properly release a transaction it hangs around until db restart.
Is that so?

[2016-06-17 16:23] eriohl commented on #3648
The system is unable to GC a generation referenced by an snapshot isolation transaction. This lock on GC will be released however if the IWP that is holding the transaction open is terminated however (which is not exactly a db restart). Is that what you were asking?

[2016-06-17 18:54] alexanderstc commented on #3648
Yes, thank you.

I don't mean to criticize or anything, but isn't this relying on client's good behaviour?
(Mine metalayer_functest seems to misbehave a lot, I'll fix it, of course).

[2016-06-17 21:57] eriohl commented on #3648
I agree that it makes the system a bit more fragile (although the system has always relied on the workers to behave to some degree, now less then before). Discussed it a bit [here](https://github.com/Starcounter/CompanyTrack/issues/196). But I reasoned that, because of the compatibility break, it was more important to get the snapshot working with the current transaction scheduling quickly rather

[2016-06-18 07:43] per-samuelsson opened #3712 "Blank lines in weaver.ignore cause no classes to be weaved"
Discovered this bug yesterday, causing #3711. The weaver translate a blank line to a regular expression that match every assembly passed to it, interpreting that as the assembly should be ignored.

Somewhat similar to the bug fixed some time ago in #3414.

Luckily the workaround is simple: just remove any blank lines and you'll be good to go.

I'm fixing this ASAP.

[2016-06-18 07:45] per-samuelsson commented on #3711
Cause found: #3712. Closing this in favor of that.

We also have another issue with some reference problematic. I'll open up a separate issue on that once I have found out more what it's about.

[2016-06-18 07:45] #3711 closed

[2016-06-18 14:48] per-samuelsson opened #3713 "ScErrWeaverFailedResolveReference (SCERR2147) when starting application"
After resolving #3711, weaving failed on the same application.

[code]

[2016-06-18 14:49] per-samuelsson commented on #3713
After doing some tests and studying these assemblies in .NET Reflector, it appears the reason is a **version mismatch**, which is also indicated by the (to verbose) error: `Cannot load assembly System.Data.SQLite. [Version mismatch]`.

The problem turns out to be that the referencing assembly (the executable, not the library guessed by the weaver) reference version `1.0.90.0` of `System.Data.SQLit

[2016-06-18 14:51] #3713 closed

[2016-06-18 16:49] eriohl commented on #3609
Done. Left level1 as is.

[2016-06-18 16:49] #3609 closed

[2016-06-19 16:52] dan31 commented on #3609
@alemoi so how it looks now after the change?
Also note that in 3.x architecture apps are independent (in default setup, unless a setup is done deliberately so that several apps are hosted in a single process for performance reasons), and only small amount of things actually happen directly inside of the app process. Meaning that there is pretty much nothing to intercept from other parts, they are

[2016-06-20 00:50] alemoi commented on #3556
@miyconst the problem was identified and should be fixed now.

[2016-06-20 00:50] #3556 closed

[2016-06-20 06:34] careri opened #3714 "Session thread?"
Is there any way of figuring out if the current thread is executing within a Session?

In my applicaiton the same method can be triggered either by an evaluation of a property within a json-session. Or by updating a database-property, say that it's a poll loop looking for changes.

If the method is called from a json-property there is no need to call
[code]

But if the call is made from a db-chang

[2016-06-20 07:15] chrhol commented on #3714
Yes, that should work. `Session.Current` will always be set to the currently running session for that thread.

[2016-06-20 07:31] chrhol commented on #3262
Looks like it helped for this problem on develop as well. Closing...

[2016-06-20 07:31] #3262 closed

[2016-06-20 08:32] alemoi commented on #3609
Need to test regarding some asserts failures/access violations in gateway and codehost. If processes are terminated correctly and stack traces exist - then its all we need I suppose.

@eriohl I now remember one thing regarding:

Is it possible to switch to use releasing assertions handling for debug builds when running on build servers? This is probably needed for running debug builds: https://git

[2016-06-20 08:51] miyconst commented on #3556
Could you please write a bit more, what was the reason? I am just curious.

[2016-06-20 09:01] eriohl commented on #3609
This one is however for managed assertions, but still can be the same problem for native if they behave standard.

We use regular CRT asserts in the kernel a lot as well. So you are better of changing the global definition of the CRT assert I think.

[2016-06-20 11:42] alemoi commented on #3556
The reason was that Chrome uses the same socket to send different HTTP requests (from old and new tabs) and I was not fully accumulating the requests before sending back 404 - I was sending 404 immediately once I saw a non-matching URI.

[2016-06-20 12:16] alemoi commented on #3595
Just to remind the Linux build still fails with Windows related things and some other errors (https://github.com/Starcounter/CompanyTrack/issues/200#issuecomment-219100042):
[code]

[2016-06-20 13:34] miyconst commented on #3556
Were not we able to reproduce the issue with Chrome + FF?

[2016-06-20 18:32] per-samuelsson commented on #3714
@careri

Does that answer your question fully? If so, can you close this issue?

[2016-06-20 22:36] miyconst opened #3715 "pnext: Unable to install app from Warehouse"
Trying to install SignIn `3.2.0` from Warehouse in the latest pnext `2.3.1870 (Jun 20, 2016 2:44:50 AM)`, but getting the following errors on application start:

[code]

[code]

[code]

[code]

[code]

The most confusing part is:

[code]

[code]

cc @andwah, @per-samuelsson

[2016-06-20 22:37] miyconst commented on #3715
After this exception database gets into a wrong state, impossible to start/stop/delete database from administrator. Requires to restart server.

[code]

But the database is not actually running.

[2016-06-21 04:55] chrhol commented on #3715
This is the root problem:

[code]

The app needs ro be recompiled since the signature of `Db.Transact` have changed in pnext (`forceSnapshot` removed). It might be good practice to always recompile when switching versions since you cannot be sure that everything is the same (constant values for example).

The errors that follows that one is more serious though, you shouldn't get in a state which y

[2016-06-21 05:20] per-samuelsson commented on #3715
That's a known bug, isn't it: #3524?

[2016-06-21 07:25] #3714 closed

[2016-06-21 07:31] eriohl commented on #3595
No one has been working on this so not so odd that it still isn't working.

[2016-06-21 07:36] eriohl commented on #3595
But on this topic: We have some C# in the source tree again I noticed yesterday (for code generation). So we to set up so this builds properly with Mono or .NET Core on Linux.

[2016-06-21 08:14] chrhol commented on #3715
Ahh yeah looks like it is. And it was me that reported it :blush: Had no recollection of that. Nice catch!

[2016-06-21 08:39] chrhol commented on #3680
This is going sloooow. The actual creation of patches is not a major obstacle. My main problem, and what got me stuck is the jsonmerger. With the changes needed internally to support the pattern of having the same jsoninstance in several places, it's becoming more and more obvious that the current version of how and when the merger is called is not working.

The conclusion is that #3538 is needed

[2016-06-21 08:43] chrhol commented on #3538
I've been working on #3680, and haven't gotten very far. I got stuck on the jsonmerger, so improving the partial flow is getting a bit more important I think.

 I will spend some time trying out the implementation here (I should have done that a long time ago...)

[2016-06-21 10:53] miyconst commented on #3715
@per-samuelsson, @chrhol thank you for the fast reply. I will release another version of SignIn app compatible with pnext for now, and close this issue as the database state problem already reported.

[2016-06-21 10:53] #3715 closed

[2016-06-21 11:14] alemoi commented on #3595
What code is it related to? URI matcher generator or something else?

[2016-06-21 12:03] dan31 commented on #3595
@alemoi my guess it is TurboText tool that generates TT source code from collation files. URI matcher isn't needed for that Linux build in work. As I recall, this TT tool is straightforward to build by mono ```xbuild```. I've tried that on TT tool back in 2014, but I lost this code and it is just 7 lines in a script. @alemoi you are the closest one to fix it straight in a build, correct me if not.

[2016-06-21 12:06] alemoi commented on #3595
Yes, it should be easily fixable using a build script. I just need to know what exactly we want to build as a highest priority first. I will check what exists there regarding C# code.

[2016-06-21 12:33] dan31 commented on #3595
@alemoi these are all the things beyond the kernel but which kernel needs in order to run. For instance, this TT tool is needed in a chain to actually having the kernel run. I will not name you more, this is common sense, you simply navigate though build reports and bring the other needed parts to surface.

[2016-06-21 12:41] chrhol commented on #3538
I pointed @Starcounter-Jack to this issue today, and I (tried to :smile:) explain what problems we have and what we were experimenting with.

His suggestion was to start from the other direction, with documenting how blending and mapping should work, together with examples on what happens on different levels (client, gui, server, orchestrator), and what the requirements are instead of starting wit

[2016-06-21 12:49] eriohl commented on #3595
I'll make it build locally first. Just a note that we need to install tools on buildserver.

[2016-06-21 14:49] atifwaqar commented on #3604
SC Version: 2.2.1.2237
I got the exception again and the apps/DB crashed, but good thing is that now the error message have some more details.

[code]

I can see my code reference in this exception, and when I go to my code (GeneralAPI.cs:line 752), I have a handler declaration :

[code]

[2016-06-21 14:56] per-samuelsson commented on #3604
@alemoi, anything you recognize?

[2016-06-21 15:26] aloscha opened #3716 "Failed to process query. Incorrect syntax."
I have two classes, example:
`public class OrderItem : Something {`
`    public Order Order;`
`    public int Quantity;`
`}`
And
`public class Order : Something{ }`

I would like to find all OrderItem from current order:
`Db.SQL("SELECT r FROM Simplified.Ring6.OrderItem r WHERE r.Order.Key = SomeKey ")`

But I receive Failed to process query. Incorrect syntax.

[2016-06-21 15:30] k-rus commented on #3716
Thank you for reporting. `ORDER` is reserved keyword, so it needs to be covered with double quotes to make it to be identifier. See [the list of keywords](http://starcounter.io/guides/sql/reserved-words/) and [page about identifiers](http://starcounter.io/guides/sql/identifiers/)

[2016-06-21 16:03] alemoi commented on #3604
Hmm, yes stack trace says the connection was closed by gateway. @atifwaqar can this be constantly reproduced? Or just an occasion?

[2016-06-21 16:06] alemoi commented on #3604
The version seems also a bit old. Is it possible for you to install the latest nightly @atifwaqar?

[2016-06-21 16:16] #3034 closed

[2016-06-21 16:26] k-rus commented on #3034
I revisited the source code (in Level1, not parser) and found place for a fix, which was done for `SELECT`. I believe it should work and the fix in admin is not needed any more.

[2016-06-21 17:15] per-samuelsson commented on #3716
We have an old working item to fix this, #1989, that could possibly provide some more info too.

[2016-06-21 21:12] eriohl commented on #3699
Closing this one since no additional input.

[2016-06-21 21:12] #3699 closed

[2016-06-22 05:01] k-rus commented on #3688
Thank you for reporting the issue!
It would be great if you post entire stack trace by copy-pasting it in text. Screen shots are great, but it is difficult to use information from them. The stack trace will help us to understand which part of the system to look for the bug.

[2016-06-22 05:09] per-samuelsson commented on #3688
@andwah, can we at some point add a Copy-button to these dialogs allowing the user to copy all relevant content to the clipboard, or is that something not easliy done?

[2016-06-22 05:33] miyconst commented on #3688
As I remember `uniqueidentifier` is a reserved keyword and it should be escaped with `"`.

[2016-06-22 05:39] warpech commented on #3716
Is there a chance to improve the error message so that it is a little bit more pointing to the right direction? We have had exactly the same problem so many times already. Yet, while trying to help @aloscha, I still missed to connect the dots that the word `ORDER` causes the problem.

[2016-06-22 05:40] warpech commented on #3716
What is more confising - @aloscha reports that such query works ok in C#. Only Administrator is the problem.

[2016-06-22 05:56] k-rus commented on #3688
`uniqueidentifier` cannot be a reserved keyword. `unique` is a reserved keyword. Furthermore, if I understood correctly, the second query works, but the third query, which is combination of the first and second, does not work.

[2016-06-22 05:59] per-samuelsson commented on #3716
I'll let @k-rus answer that, but my impression was that the idea was instead to release "ORDER" from being a reserved word, according to #1989. That would be even better IMO.

Agree, that seem strange and clearly a source of confusion.

[2016-06-22 06:18] k-rus commented on #3716
The working item is about new query processor, while the error is in the old one, so #1989 is not related.

According to [the initial report](https://github.com/Starcounter/Starcounter/issues/3716#issue-161467244) from @aloscha, he gets the error in C#, since he specifies use of `Db.SQL`. See:

The prolog parser, which is used in the old query processor, does not report details. Thus it is difficu

[2016-06-22 06:30] atifwaqar commented on #3688
@k-rus here is the full stack trace :
[code]

@miyconst are you sure about `uniqueidentifier` when you say :

Because I can execute the following query :
[code]

[2016-06-22 06:40] per-samuelsson commented on #3716
Yeah, it's a challenge trying to find the right balance. We really want focus to be on the new processor, messing as little as possible with the old one.

[2016-06-22 06:43] atifwaqar commented on #3604
@alemoi this can not be constantly reproduced. I got this exception twice in entire week. and the occurrence is random.
Also, this is my live server, so i can not update my SC to latest right now. I will do that tonight.

[2016-06-22 07:12] atifwaqar commented on #3688
Ok I installed the latest nightly build (2.2.1.2604) just now and here is the stacktrace :

[code]

[2016-06-22 07:15] tomalec opened #3718 "Add version number to Starcounter.Layout"
As we are now moving towards completely different layout concept, previous layouts will not work with new code, even though we would like to store them in the same manner.

Therefore we need to store the version, to be able to filter those.

Naturally we need it, only if we would like to support new layouts still keeping old ones.

[2016-06-22 15:01] warpech commented on #2782
1. This done since long time
2. This is done since https://github.com/Starcounter/Starcounter/commit/acd306fcdc0a9076d987315380813a915f790f7e

The text is slightly different, though:

Anyway, closing as done

[2016-06-22 15:01] #2782 closed

[2016-06-23 07:20] k-rus commented on #3688
Thank you for reporting the stack trace! It gives information where to look for the problem. Now I want to reproduce it locally. Can you give description of the schema of classes and properties used in the query? If you can also provide query plan, it will be awesome.

[2016-06-23 08:00] k-rus commented on #3699
Putting population of properties into the same transaction seems to be not possible due to limitation that tables should be created in separate internal transaction.

However, it is possible to check and repair meta-data, but it is probably not worth it, since version 2.3 has different implementation for DDLs and meta-data population (and own issue on meta-data repair). So I suggest to skip fix fo

[2016-06-23 08:41] chrhol commented on #2964
The Roslyn-parser is in place, and is working fine. I will start to implement this feature now.

A couple of things before I start:
- Using this pattern will mean that the Json-property will be a bit more cumbersome to access on the serverside. This shouldn't matter for primitive values, since they will be the same (a string in json will be the same string in the code-behind property), but it will

[2016-06-23 08:58] atifwaqar commented on #3688
Will this work :
[code]

[2016-06-23 09:05] k-rus commented on #3688
Thank you for the query plan. Just a note that the query plan comes from another machine by obtaining it from C# app, not from admin. Since the exception happened during query execution, Administrator should be able to provide the query plan.

@atifwaqar reported that the exception happens only on one server and does not happen on other machines. Thus it is also data related. Probably something wi

[2016-06-23 09:30] warpech commented on #3718
@alemoi could you pls help @tomalec with this?

[2016-06-23 10:50] alemoi commented on #3718
Yes, sure! Just describe what exactly field should be added there of what type? String version? Or Int32 version?

[2016-06-23 14:22] tomalec commented on #3718
`.Version` with SemVer is tempting, so we could keep it in line with `starcounter-include`, but Int32 is fair enough so far, and probably way faster and easier to handle.

[2016-06-23 14:37] k-rus opened #3719 "Administrator provides query plan even the execution failed"
The query plan is available when enumerator is received before the actual query execution. Thus it can be obtained and provided even execution failed due to some reason. This will help to investigate issues such as #3688.

[2016-06-23 15:23] alexanderstc commented on #3648
Just to be absolutely clear: is that the earliest referenced of both index and "non-index" generations?

[2016-06-23 15:44] eriohl commented on #3648
As I commented previously: First generation is the oldest generation. Index generation is the last generation where indexing has changed (which then is more then likely to be earlier then the first referenced generation).

For example: Lets say you have this series of transactions:

G1: Update record.
G2: Create index.
G3: Update record.

Then if all transactions would reference the latest generat

[2016-06-23 16:06] alexanderstc commented on #3648
I think I need both, could you upgrade stari_get_local_first_referenced_generation() to return the index generation as well?

[2016-06-24 07:41] eriohl commented on #3648
Kind of tricky since it isn't tracked the same way. But I'll look into it.

[2016-06-24 07:47] alexanderstc commented on #3648
I'd like to remind that I only need a way to know if an object (index or layout), deleted in a particular transaction, is no longer referenced by other transactions.

[2016-06-24 08:33] eriohl opened #3720 "pnext: API for accessing handle table generation 2"
Follow up on #3648. Additional features required.

[2016-06-24 09:14] warpech commented on #3538
I think this is a good approach. Just please check this with @Starcounter-Jack every few days or so, so we are not stuck on this, because the developer UX on partials really needs improvement.

[2016-06-24 09:49] warpech commented on #3705
I think the name `OnGatheringChanges` could be improved, but I like this proposal.

[2016-06-24 09:54] warpech commented on #3701
Maybe the dialog should say:

**An existing Starcounter intallation was found at `[path]`. Do you want to upgrade the existing installation or install a new one? (This allows to have multiple installations side-by-side)**

<kbd>Upgrade</kbd> | <kbd>Separate installation</kbd> | <kbd>Cancel</kbd>

[2016-06-24 09:58] warpech commented on #3694
Personally I like what we currently have, because Typed JSON is mapped to JSON 1:1.

If we do this, this should only apply to the scope of the current app.

I think this is a big change. Changing null to not null is currently a `replace` operation in JSON-Patch. If we apply this change, that will be an `add`/`remove` operation.

@chrhol could you perhaps propose a pattern that dynamically changes

[2016-06-24 15:39] warpech commented on #2713
I think this is still a valid discussion.

I just don't know how `ETag` and `If-Match` will work if the browser has aggressive caching policy. Can't we just check that? This would require you to (temporarily?) allow `ETag` as a duplicate of `X-Location` and `If-Match` as an alternative of `X-Referer`.

[2016-06-24 16:10] warpech commented on #3575
@per-samuelsson, any progress on this one? Or can this maybe be transferred to @chrhol?

[2016-06-24 16:30] warpech commented on #3568
@aloscha, could you please take care of https://github.com/StarcounterPrefabs/Chatter/issues/14 and https://github.com/StarcounterPrefabs/Images/issues/35?

@diliger, could you please take care of https://github.com/StarcounterSamples/Products/issues/14?

[2016-06-24 16:41] warpech commented on #2710
I think this can be closed. The objective in OP was achieved. Please reopen if you disagree

[2016-06-24 16:41] #2710 closed

[2016-06-24 16:43] warpech commented on #3252
I think that the correct messages would be:

1. `Html property is not defined. HtmlFromJsonProvider expects a Html property defined in Json, which holds a URI to a HTML template`
2. `Html property is empty. HtmlFromJsonProvider expects a Html property defined in Json, which holds a URI to a HTML template`

[2016-06-24 16:54] warpech commented on #3573
What I discussed a while ago with @chrhol on Hangouts: https://gist.github.com/warpech/217dda5bef531c94227dd35affbc808f

## Solution 3: Array of enveloped responses

[code]

[Source](https://gist.github.com/warpech/217dda5bef531c94227dd35affbc808f)

I think it has benefits of @tomalec's Solution 2, with the simplicity near to Solution 1. But still has the hazards of Solution 1 as well.

[2016-06-24 20:27] warpech commented on #3701
Then how was @miyconst able to install pnext and develop side-by-side, as mentioned in the OP?

[2016-06-24 21:04] miyconst commented on #3701
I was never able to install two Starcounter versions side by side. It was possible to keep two Starcounter database folders and install particular version when needed without losing the data. In my case the folders were `Documents/Starcounter` and `Documents/StarcounterPnext`.

[2016-06-24 21:17] aloscha commented on #3568
@warpech I will cleanup tomorrow all that.

[2016-06-25 22:06] alemoi commented on #3718
I looked at the code @tomalec @warpech and have a few questions to you guys:
I can of course add `Int32 Version` to the `Layout` but need to know how you are going to access the field. Right now the `Value` filed is a `Body` in `/sc/layout` handlers (either POST body request or GET body response).

What about having `Body` as a Json instead?:
[code]

[2016-06-25 22:13] alemoi commented on #3718
At the same time, if I change the layout to be Json (instead of pure body = `Value` as today), than it breaks backwards compatibility. Client and server commits have to be synchronized also.

[2016-06-25 23:18] alemoi commented on #3718
Here is the code I am talking about: https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Extensions/Layouts.cs

[2016-06-26 09:39] tomalec commented on #3718
I think, all we need is to select layout using version, we do not need to fetch version - I suspect Launcher will use only one version at a time (not to over-complicate things).

So we would need
[code]
if version is not given it will pick the last one.

Then, it may return it as currently.

[2016-06-26 14:19] eriohl commented on #3648
From this comment it, for me, became kind of less clear what you actually want.

But for indexes you can determine when (in which generation) an index is dropped (although we would have to add an API function for this) and you can determine if this generation is still referenced with this API. Would this be sufficient?

For layouts I don't really understand what you mean since layouts are only del

[2016-06-26 16:00] alexanderstc commented on #3648
I plan track that myself in metalayer index delete function, can leave without api function. However, if it's really, really easy to add that function, that would be nice too.

Yes, thank you!

Again, I track not the actual layout deletion, but metalayer-level table deletion in the metalayer drop_table function, I already have everything I need there, no additional support is required for tables.

[2016-06-27 00:38] aloscha commented on #3568
Images app - `dom-bind-notifier` removed - https://github.com/StarcounterPrefabs/Images/issues/35
Chatter app - `dom-bind-notifier` removed - https://github.com/StarcounterSamples/Chatter/issues/14

[2016-06-27 07:37] chrhol commented on #3694
If the setting is specified on the template for TypedJSON, then it will be valid for all instances of JSON that uses the specific TypedJSON, normally this would mean that it's for one app, but it could of course be reused. I don't think it would be a global setting, it would be a per-template setting.

I'm not sure what you mean by this. The thought behind templates is that they should *not* be ch

[2016-06-27 07:43] chrhol commented on #3538
Yeah, will do that. I think the part about the **Orchestrator** is the most important, since this is something that is not discussed that much, mostly heard about in bits and pieces around the office.

[2016-06-27 08:18] atifwaqar opened #3721 "Question : How to restrict access of SC Admin Panel"
(Note : I remember I have posted this question before but i can not find it now, so I'm re-posting it, please ignore this if its a duplicate.)

We can access SC Admin Panel by going to `http://[server-ip]:8181/#/databases/default/sql`. Which is kind of dangerous when we have it on a live server, because anyone can come to this link and can manipulate our DB data, or even delete the records from DB

[2016-06-27 10:28] warpech commented on #3694
I was thinking that there might be a way to modify (or replace) the Typed JSON template, so that the unwanted `null` properties are removed from JSON.

Basically, I am asking if there's a way for @eriksunsol to achieve his desired JSON with in runtime, without any new JSON configuration as proposed in OP point 2. Convention over configuration.

[2016-06-27 10:41] warpech commented on #3718
I have a reflection on this. Would you agree that `v` (or `version`) can mean so many different things:

1. API version
2. resource version

And actually we don't mean either of that. We mean **3. resource schema version**.

Wouldn't it be simpler to put the resource schema version as **part of the key**? Then we leave the `v`/`version` concept for some future use (for API versions or resource ver

[2016-06-27 10:42] chrhol commented on #3694
Aha I see. I'm not sure what the best way would be. Will have to take some time when this is about to be implemented to see what option is the best.

[2016-06-27 10:52] warpech commented on #3701
Aha, so maybe then the question should be:

**An existing Starcounter intallation was found at `[path]` (database files stored at `[path]`). Do you want to keep the current configuration or customize your upgrade?**

<kbd>Keep current configuration</kbd> | <kbd>Customize</kbd> | <kbd>Cancel</kbd>

[2016-06-27 11:01] alemoi commented on #3718
Interesting suggestion! Then no server changes are needed! What do you think @tomalec

[2016-06-27 12:44] tomalec commented on #3718
Good catch @warpech.

We have already thought about versioning of layout resources (within same schema version), that's why, now I would say that `Version` in JSON should be reserved for __resource version__

I'm a little bit afraid adding version as a part of the key could make it confusing.

On the other hand, I thought about renaming "Layout" to "Composition". With full HTML structure it could

[2016-06-27 12:44] bigwad opened #3722 "pnext: it's possible to commit two objects with the same object id, though hopefully not at the same time"
Optimized log doesn't keep track of latest allocated object id.

Hence consider the scenario:
1. Create an object.
2. Remove the object created in p1.
3. Perform logopt.
4. Restart database.
5. Create an object.

Objects created will share the same object id.

[2016-06-27 13:02] dan31 commented on #3721
@bigwad is this the installer which reopens the ports?
CC @alemoi @andwah

[2016-06-27 13:15] atifwaqar commented on #3721
@dan31 Sorry, my bad.
I just confirmed from my network admin. Installer do not reopens the ports.

[2016-06-27 22:20] dan31 commented on #3674
Related: https://github.com/Starcounter/Starcounter/issues/3706

[2016-06-27 22:45] dan31 commented on #3497
@per-samuelsson I think @malx122 suggestion is very good. This is one of the numerous enhancements suggested in order to prevent wrong code. This makes sense, because no source code sanitiser / static checker available for .NET today actually knows about Starcounter. Hence this is Starcounter which needs to care.

I think there are at least two ways to attain what @malx122 suggests:

1. If we coul

[2016-06-27 22:49] dan31 commented on #3558
Current 2.2.1 Stable candidate is now (finally) being staged.

[2016-06-27 22:56] dan31 commented on #1259
@per-samuelsson just bumped on that one, looking at the ```IEntity``` API and don't find any mental reference. Is that commit hooks which we encourage to use today to implement cascaded deletes? No IEntity today, correct?

[2016-06-27 23:33] dan31 commented on #3721
@bigwad sorry for typing in your name :)
@atifwaqar thanks for confirming! I will close it now.

[2016-06-27 23:33] #3721 closed

[2016-06-28 05:45] per-samuelsson commented on #1259
Nope. Not correct. `IEntity` is still there as an optional thing to use, and still work like I describe it [here](https://github.com/Starcounter/Starcounter/issues/1259#issuecomment-27756686). It's just not in our docs (which is why this issue is still open, labeled "document").

If we should keep it that way, promote hooks instead, or whatever else, is a another question.

[2016-06-28 06:21] atifwaqar commented on #3721
@dan31 The question is still there, is there a way to restrict access of SC Admin Panel with a user login?

[2016-06-28 06:47] dan31 commented on #3721
@atifwaqar currently there is no such plan to support admin panel's sign-in in the run of next releases, however, even presented, the recommended way is to always protect the main admin panel in hard way and do administration through a secure tunnel. This is applicable to any software product with web panel. I recommend not to open admin panel at all, or at least to route and hide the port beyond

[2016-06-28 06:50] dan31 commented on #1259
@per-samuelsson thanks for the info! I think that we can reconsider this taking other APIs review during August. The question of subscribing to object events is quite generic, and both facilities such as ```IEntity``` and commit hooks might be still reasonable. And might be not. We will see.

[2016-06-28 06:51] atifwaqar commented on #3721
Ok. For now I have blocked the port for public network, and created an VPN for my servers. Now i can access the port 8181 only on my VPN.
Thanks for the info. :)

[2016-06-28 07:15] miyconst commented on #1259
I would like to be a part of that discussion.

[2016-06-28 08:09] warpech commented on #3540
@per-samuelsson, the suggestion is obviously neat, but should I read it as "let's rearrange the source code of the sample apps" or "let's redesign how partials are declared"?

If it is about rearranging the source code, I couldn't agree more. We can do this right away.

If it's about the redesign, I think that https://github.com/StarcounterSamples/HelloWorld (esp. this issue https://github.com/Sta

[2016-06-28 08:32] miyconst opened #3723 "Unable to stop a database with custom name from CLI"
I am trying to stop a database called `mm` from command line:

[code]

cc @andwah, @per-samuelsson

[2016-06-28 08:33] miyconst commented on #3701
Yes. This would be the perfect solution.

[2016-06-28 08:37] k-rus commented on #3723
I think it is incorrect use of `staradmin`. It should be:
[code]

I was also confused, but it is not a bug and our manual contains correct description.

[2016-06-28 08:37] miyconst commented on #3511
This actually sounds good, but the cruel reality is that many people don't even read the console and start to ask "Why your sample is not working?!". This has already happened many times with `juicy-redirect`/`puppet-redirect`.

[2016-06-28 08:42] miyconst commented on #3723
@k-rus thank you for the answer. You are right.

[2016-06-28 08:42] #3723 closed

[2016-06-28 08:44] per-samuelsson commented on #3723
Also, we have a related issue where we plan to improve this, but we never prio'd it: #3000.

Also somewhat related #3489.

[2016-06-28 08:46] per-samuelsson commented on #1259
The more the merrier! :+1:

[2016-06-28 09:09] dan31 commented on #1259
@miyconst surely do. We really plan to undertake this in August.

[2016-06-28 11:17] alemoi commented on #3718
Yes, adding a new class will not break the existing apps. I can add the class, even with the version in there. Can we have a meeting about this, so we decide?

[2016-06-28 11:38] atifwaqar opened #3724 "Exception on accessing SQL Query result in code"
Tested on SC Versions : 2.2.1.2237 + 2.2.1.2628 + 2.2.1.2631

Query with 4 rows as result :
[code]

The same query in C# code gives me exception when I try to access the records (Using code like  `budgetTemplates.First`):
![image](https://cloud.githubusercontent.com/assets/4388707/16413913/10cb0ed4-3d35-11e6-8324-95c1943aa4f9.png)

StackTrace Image :
![image](https://cloud.githubusercontent.com/as

[2016-06-28 11:42] chrhol commented on #2964
I took some time to refactor and adding some code-comments to the codegenerator, since it's kind of difficult to get in to, when you forgotten how it works, and a lot of bad names for fields and methods were used.

Anyways, when implementing the changes in the codegenerator it occurred to me that there is one more restriction to this pattern, and that is a property that is declared in a base-class

[2016-06-28 11:50] atifwaqar commented on #3724
Query with 3 parameters in code works fine. Query with 4 parameters in code gives the crash.

Query with 4 parameters (which is crashing) :
[code]

Query with 3 parameters (which is working fine) :
[code]

[2016-06-28 12:21] chrhol opened #3725 "Treat empty strings as default value for numbertypes when parsing jsonpatches."
Original issue: https://github.com/StarcounterSamples/HelloWorld/issues/7

We allow clients to send patches with values for non-strings as strings in jsonpatches

[code]

Sometimes, the client sends an empty string. This is currently is treated as invalid input and the patch is rejected.

This should be changed so that an empty string is allowed and treated as default value for the specified type

[2016-06-28 12:28] tomalec commented on #3718
Sure, just say when.

[2016-06-28 13:21] chrhol commented on #3725
The title was a bit to broad. Empty strings will be supported as default value for number (long, decimal, double). Changed the title accordingly

[2016-06-28 14:47] k-rus commented on #3724
Thank you for reporting!
Can you provide the query plan? It might help to understand more or to reproduce.

[2016-06-28 15:03] k-rus commented on #3724
To keep in mind while investigating: #3226, #3688,

[2016-06-28 15:51] warpech commented on #3705
This `OnGatheringChanges` callback could be also used for validation, couldn't it?

cc @diliger

[2016-06-28 15:57] warpech opened #3726 "Calling code handle *after* a JSON change is applied"
Currently, `Handle(Input.FirstName input)` is called **before** a change is applied. This allows us to cancel applying of changes, for example:

[code]

([source](http://starcounter.io/guides/json/code-behind/))

However, problem starts when you want to apply changes and **then** call some code. You need to do unelegant things like:

[code]

Could we have some method like `input.Apply()`? Or separ

[2016-06-28 16:05] diliger commented on #3726
Yes, but that wasn't my original problem.

Original problem - `Button.Click` happens before `Input.Change`,
so in next scenario changes can not be saved to database:

1. focus input
2. change value (Name)
3. press button (Save)
4. Save handle fired and **old** data committed to Database
5. Name changed **but not saved**

[2016-06-28 16:09] warpech commented on #3726
That problem is related to https://github.com/PuppetJs/PuppetJs/issues/29

Maybe a temporary solution is to change the bound event in your HTML `<input`> field from `::change` to `::input`?

[2016-06-28 16:20] diliger commented on #3726
Yes, maybe, but still that is not nice.

[2016-06-28 19:25] miyconst commented on #3726
I know the problem and was hit by it many times. The `action.Apply()` can be a solution, but I would not rush with implementation.

It is common to have events like `PropertyChanging` and `PropertyChanged`, the first one can be cancelled, the second one occurs after the change applied.

I would like to review our `Handle` API and:

- Remove the ambiguous `Handle` name.
- Make it intellisense-able.

[2016-06-28 19:28] miyconst commented on #3726
so in next scenario changes can not be saved to database:

@diliger could you please clarify on this.

- Is it really a browser's issue with firing events in wrong order?
- Are the patches combined together and then applied in wrong order on the server side?
- Are the client side events fired in correct order but patches sent to server in wrong order?

[2016-06-28 19:44] miyconst commented on #3705
Agree, it was just the first name which came to my mind.

Yes, and no. It won't be possible to cancel an action if validation fails.

[2016-06-28 21:47] warpech commented on #3726
- Are the patches combined together and then applied in wrong order on the server side?
- Are the client side events fired in correct order but patches sent to server in wrong order?

I have just checked. The patches are bundled together in the reverse order of definition in JSON.

This can be explained by how JSON-Patch works (see lines [29](https://github.com/Starcounter-Jack/JSON-Patch/blob/c9b

[2016-06-28 22:20] miyconst commented on #3726
Then maybe the issue can be solved by just reordering the view-model properties definition?

[2016-06-29 06:34] chrhol commented on #3705
We have a few of these kind of issues now, that aims at enhancing the callbacks in TypedJSON. We need to think this through so we actually do the proper thing, to make it more usable.

I will add this as a part to review and see how it can be implemented in a way that doesn't introduce other sideeffects.

[2016-06-29 06:46] chrhol commented on #3726
Similar enhancement: #3705

[2016-06-29 06:52] #3148 closed

[2016-06-29 06:58] chrhol opened #3727 "Enhancing the callback-system in TypedJSON"
We havea few issues reported concerning the callback-system in TypedJSON (or the lack of a good one rather :smile:). Improvements are needed to allow apps to have more control over validation of input and manual refresh of data and also have good patterns so that ugly workarounds can be avoided.

Creating this issue to keep track of the existing issues and to remember to assign time to investigate

[2016-06-29 07:11] chrhol commented on #3725
One thing found after this change is that we have some inconsistency between the client and server.

On the server, we have the optimization that if the value that comes from the client, is not changed (only accepted) it's not sent back to the client again.

With this change this will lead to that the value `0` is accepted on the server, but in the clients viewmodel there is an empty string. Which

[2016-06-29 07:27] k-rus commented on #3690
Thank you for the report.
Index is always added in metadata after its creation, however if something goes wrong, then it might happen that the index was created but was not added to metadata. It can happen, for example, if apps is stopped exactly at the place of inserting metadata.

The reason for this is that index creation and meta-data insertion is done in two transactions in the current versio

[2016-06-29 08:17] dan31 commented on #2850
@alexanderstc shall this issue be closed?

[2016-06-29 08:17] warpech commented on #3726
Yes, reordering the view-model properties definition fixes the problem. It seems like we've been having it for last 2 years.

[2016-06-29 08:21] k-rus commented on #2850
It is quite clear that the tasks are not done. The task, which is done, is not the same as in the original list.

[2016-06-29 08:30] alexanderstc commented on #2850
I think this issue is replaced by https://git.starcounter.org/BlueStar/level0/issues/3 and can be closed.

[2016-06-29 08:32] alexanderstc commented on #2850
... and by a number of setspec-related issues on gitlab.

[2016-06-29 08:33] k-rus commented on #2850
Agreed, closing.

[2016-06-29 08:33] #2850 closed

[2016-06-29 09:38] k-rus commented on #3688
I was able to reproduce the same query plan, but not the error:

[code]

[2016-06-29 11:08] chrhol commented on #3725
This is now in place. empty strings will be treated as default value and sent back to client if needed.

Pushed to develop, soon pnext.

[2016-06-29 11:37] chrhol commented on #3725
And pnext now.

[2016-06-29 11:37] #3725 closed

[2016-06-29 12:08] k-rus commented on #3688
I cannot reproduce the issue on a small example. So I will need to obtain the database, where it fails. However, I will be on vacation and cannot do in nearest future.
@atifwaqar
Can you let me know if the failing database will be provided to someone else in Starcounter for the other reason or if it is already available?

[2016-06-29 15:34] atifwaqar commented on #3361
Hi, I just saw the following syntax from [this url ](http://starcounter.io/guides/network/static-file-server/)

`AppsBootstrapper.AddStaticFileDirectory("C:\\MyWebsite\\Content", 80);`

I am using SC Version 2.2.1.2631. and the Syntax is not working. Am I doing something wrong or missing some info on how to use the syntax?

[2016-06-29 20:14] per-samuelsson commented on #3361
Sorry to hear that. I'm reopening this.

Can you specify in what way it doesn't work? You get a 404 when accessing a static resource in the given folder? Are you providing a relative or an absolute path?

[2016-06-29 20:20] atifwaqar commented on #3361
I'm not able to build the solution with this line of code. May be I'm missing some reference. This is what I see when I use the code line and try to build :

![image](https://cloud.githubusercontent.com/assets/4388707/16467432/903c1042-3e47-11e6-82cb-a5ce2112162d.png)

[2016-06-29 20:24] atifwaqar commented on #3724
Here is the query plan (got from SC Admin Panel)
[code]

[2016-06-29 20:25] atifwaqar commented on #3724
Question :
Is there a way to get the query plan from code as well?
And when you ask for query plan, do you expect it from SC Admin Panel or from Code?

[2016-06-29 20:28] per-samuelsson commented on #3361
Aha, I see. Looks like it has been moved to an internal namespace. I think you should be able to use it still though, and I'll ask around some tomorrow to see whats up.

Try adding `using Starcounter.Internal` to the file. Or qualify the type:

[code]

[2016-06-29 20:30] atifwaqar commented on #3361
I tried that as well, Still the same :
![image](https://cloud.githubusercontent.com/assets/4388707/16467778/188a2cee-3e49-11e6-9ec5-7b6adb2d6f58.png)

[2016-06-29 20:30] per-samuelsson commented on #3361
You might also need to add a reference to `Starcounter.Apps.JsonPatch.dll` if it's not already referenced in your project.

[2016-06-29 20:32] per-samuelsson commented on #3361
Can you try:

[2016-06-29 20:32] atifwaqar commented on #3361
Also, I've been noticing some strange behavior in SC Version 2.2.1.2631.
We can have a Hangout chat tomorrow if you want some feedback on the strange behavior.

[2016-06-29 20:34] per-samuelsson commented on #3361
We can have a Hangout chat tomorrow if you want some feedback on the strange behavior.

We could certainly have a hangout if you want that. But please report the strange behavior as an issue too, even if you just describe it vague in one or two sentences.

[2016-06-29 20:34] atifwaqar commented on #3361
Awesome, This worked. Thanks :+1:

[2016-06-29 20:35] per-samuelsson commented on #3361
Great. Sorry for the trouble. I'll see if we can have a review on this with the team tomorrow. I'll keep it open until then.

[2016-06-29 20:37] atifwaqar commented on #3361
May be its something that you guys coded recently, and its part of your plan. So I suspect it may not be an issue, but i'll still create the issue if you say.

[2016-06-29 20:40] atifwaqar opened #3728 "Strange behavior of SC Databasae"
1. When I Stop any of my 4 apps, my DB gets unloaded, and then reloads again, which takes some time.
2. The SC Icon in `Icon Tray` is not showing the correct status. Sometimes the DB is loaded and running, but the Icon stays gray and if I right click on it, it shows an option `Start Server`

[2016-06-29 20:50] dan31 commented on #3728
@atifwaqar do you currently run cbwatchdog on this machine?

[2016-06-29 20:51] dan31 commented on #3728
CC @alemoi please be in a loop if @atifwaqar needs follow up.
I think @atifwaqar meant that the codehost stops and then starts, not that db is unloaded (which is a very different thing).

[2016-06-29 21:01] atifwaqar commented on #3728
@dan31 I had to stop the cbwatchdog, because nothing was working. apps were behaving very strange.
but I will give it a try again tomorrow.

I'm not sure about the difference, I just monitored the RAM. When I stop AdFenix app, the RAM gets freed up and only 1.5 GB is in use at that point, then it starts getting full, and when its 14 GB acquired, The app disappears(/Stops) from SC Admin Panel.

[2016-06-29 23:15] alemoi commented on #3728
The SC Icon in Icon Tray is not showing the correct status. Sometimes the DB is loaded and running, but the Icon stays gray and if I right click on it, it shows an option Start Server

Yes, we probably talk about the codehost here.
Regarding the trayicon it has a polling interval, when it fetches the state of databases. But that seems to be a different issue. CC @andwah

How much memory do you hav

[2016-06-30 04:57] k-rus commented on #3724
You need to get it programmatically by modifying program or by debugging and watching the enumerator variable. To get in the code you need to obtain enumerator instance explicitly and then ask for the string, e.g.:

[code]

[2016-06-30 05:08] k-rus commented on #3724
By the way, can you try to run the same query, which retrieves object `b` in administrator (however you need to put parameters inside the variable)? Do you know which input values produce the error?

I am interested to see the query plan of the failing query or even better both.

[2016-06-30 05:45] per-samuelsson commented on #3361
Is it #3728 you are referring to? Then I think we are already on it (seeing that @alemoi and @dan31 is now involved in it).

[2016-06-30 06:26] atifwaqar commented on #3728
I have 64 GB of memory, which is more than enough for my DB

[2016-06-30 06:36] atifwaqar commented on #3361
Yes this is what i was talking

[2016-06-30 06:56] dan31 commented on #3728
@atifwaqar any log record for that? And which exactly version do you run?

[2016-06-30 07:51] miyconst opened #3729 "Issue when upgrading Starcounter and uninstallation fails"
If uninstallation fails for whatever reason, the installer still runs and then hangs trying to install a new version.

[2016-06-30 12:29] warpech commented on #3562
@tomalec, @miyconst I plan to do this change today. Any suggestions how to check that nothing broke down?

[2016-06-30 13:27] #3361 closed

[2016-06-30 16:16] careri commented on #3690
I get this error on an empty database as well. Not sure why.

Throws exception that the index exist on first call.

I'll look into it.
Den 29 juni 2016 9:28 fm skrev "Ruslan Fomkin" <notifications@github.com>:

[2016-06-30 16:24] k-rus commented on #2160
It will be great if TT coalition for types provide an API that the metalayer doesn't need to know details of the algorithm. Like what is next symbol and how to get the first symbol on next level. Having knowledge about symbols in two components is error prone potentially. Thus can TT coalition for types provide the additional two API functions?

[2016-06-30 19:29] #3662 closed

[2016-06-30 19:40] dan31 commented on #3690
@careri just to orientate you, 2.3 is around end of August 2016 (the one with a new core and replication built-in).

[2016-07-01 08:30] #3667 closed

[2016-07-01 08:33] #742 closed

[2016-07-01 08:36] #2372 closed

[2016-07-01 08:59] bigwad commented on #2160
@alexanderstc already asked about it [here](https://git.starcounter.org/BlueStar/level0/issues/67#note_587). Although I expect some minor issues, seems he has a good point to start off from.

Besides that, I see you might have some wrong assumptions about setspec collation and how it affects the kernel.
Neither collation itself nor the kernel has the notion of 'first', 'last', 'next' and 'level'.

[2016-07-01 09:51] miyconst commented on #3562
The only automated way we have is the KitchenSink. Others - check `starcounter-debug-aid` and layout editor.

[2016-07-01 10:19] tomalec opened #3730 "Remove unused bower packages from /sys/"
In `/sys/` folder we still have packages not mentioned in `bower.json`, are thay still there on purpose, or could we do `bower prune`?

The packages are:
[code]

//cc @warpech

[2016-07-01 13:38] miyconst opened #3731 "HTTP header is corrupted!"
Reloading a page I have got the following exception:

[code]

Here is the request details from Chrome.

[code]

cc @alemoi

[2016-07-01 13:41] miyconst commented on #3731
I can reproduce it:

- Setup URL rewrite to rewrite `/` to `/launcher`.
- Run Launcher + SignIn.
- Open `/launcher`.
- Sign in with any user.
- Reload page.
- **Open `/` - exception happens.** It seems like URL rewrite does not deal with cookies well.

[2016-07-01 14:52] alemoi commented on #3731
Thanks for reporting! I will reproduce and check!

[2016-07-01 15:21] #3709 closed

[2016-07-03 19:58] dan31 commented on #3731
@alemoi let's assume this is high prio. The thing looks really weird.

[2016-07-03 20:15] dan31 commented on #3723
Guys, I confirm we'd likely prioritise that story even in 2.x track. I constantly have difficulties with the current syntax (the current way doesn't resemble any typical way I might know of from other CLI tools on *nix, thus I don't memorise ours), and recently @okostina had the same difficulties with using CLI tools.

[2016-07-03 22:30] alemoi commented on #3718
I have added initial support as we discussed, some things might not work, so lets test it with your stuff @tomalec. The `Version` field I made a string for now because of reusing same handlers, just easier, e.g.: `GET /sc/partialcomposition?key={?}&ver={?}` where `ver` can be an empty string.
So the API is:
`GET /sc/partialcomposition?key={?}&ver={?} ` returns `Value` in the response body.
`POST /

[2016-07-03 22:59] alemoi commented on #3731
I just reproduced the issue. Looking into it.

[2016-07-04 06:49] per-samuelsson commented on #3723
OK, lets treat these related ones in a batch. I'm not sure exactly how though, since even if the supported CLI syntax today is not as intuitive as we'd like it to be, it's still *consistent*. How to still achieve that *and* be backwards-compatible is a challenge.

@dan31, what timeframe are you thinking on here? Is August fine, or should we bump it even more?

[2016-07-04 07:27] chrhol opened #3732 "Force execution of msbuildtask for TypedJSON to generate code."
There is a buildtask used for msbuild, that is responsible for generating code for TypedJSON. This buildtask is invoked, currently if needed when user starts a compilation or a JSON-by-example or code-behind file is changed and saved.

However, if VS detects no changes in the sourcefiles compared to the already generated file the task is never invoked. This is a good thing of course in most cases,

[2016-07-04 08:19] chrhol commented on #3443
sorry, missed your last comment. Lets keep it open for now, as a reminder. I will probably start to work on some of these points. I assing it to me for the time being.

[2016-07-04 09:15] tomalec commented on #3718
LGTM :) thanks!

[2016-07-04 09:42] tomalec commented on #3718
I've just get a doubt regarding naming...

_PartialComposition_ - means it's rather part of composition,
It should be rather _Partial's Composition_? In view-model, `instanceOfPartial.Composition` looks good. but how we can achieve `'` in C# class name? _"PartialsComposition"_ would suggest sommething different - composition build of many partials.

Can we use `Starcounter.Partial.Composition`?
(h

[2016-07-04 11:01] dan31 commented on #3728
@atifwaqar hi! Any fresh news on this?

[2016-07-04 13:42] alemoi commented on #3731
The problem was found in URI aliasing miscalculation in gateway. Fixing it now.

[2016-07-04 22:33] alemoi commented on #3718
I now enclosed the class into namespace and changed URIs ("/partialcomposition" -> "/partial/composition"). Going to push tonight.

[2016-07-05 00:36] #3731 closed

[2016-07-05 07:09] chrhol commented on #3732
Found some disadvantages with this (of course) when it comes to building Level1. The problem with certain dll's being locked during build have increased a lot after I added the extra buildtask. Now, at least when I tested it, it's not enough to simply restart VS. You have to close VS, delete the locked dll and then start again.

I will simply add a hardcoded value in the targets-file instead. The

[2016-07-05 10:20] miyconst commented on #3731
It looks like the nightly build failed and I can't test the fix.

[2016-07-05 11:48] chrhol commented on #3732
Pushed to develop and pnext. Had some problems with pnext (what boiled down to me messing things up :smile:) so it took some extra time to merge and run.

[2016-07-05 11:48] #3732 closed

[2016-07-06 13:26] atifwaqar opened #3733 "DB & Apps are running. But Handlers are unresponsive"
I took a snapshot of threads in code, is this normal?
![image](https://cloud.githubusercontent.com/assets/4388707/16619288/d05de7c2-438d-11e6-9352-8dca856c46cc.png)

[2016-07-06 17:39] tomalec opened #3734 "JSON Patch OT Queue auto sync (solution for missing message/package problem)"
Here comes the idea to make out JSON Patch communication even more bulletproof and solve also a problem of missing messages problem.

Due to the nature of JSON Patch, it's necessary to apply them not only in sequential order (what is solved by JSON Patch Queue), but also not to miss any individual message.

Hopefully, with modern networking protocols it should not happen often, but it could happen

[2016-07-07 07:29] atifwaqar opened #3735 "System.Exception: Written size (###) is larger than estimated size (###)"
I am getting this exception on one of my servers. We dont understand the issue clearly, may be it is related to our code. So just to confirm, i am posting it here. Is this exception SC related or we have to fix our code somehow?

SC Version : 2.2.1.2631 (Jun 28, 2016 5:07:42 AM)

[code]

[2016-07-07 07:38] atifwaqar opened #3736 "System.NullReferenceException: Object reference not set to an instance of an object."
SC Version : 2.2.1.2628 (Jun 27, 2016 5:05:54 AM)

My apps crashed and I can see the following in Logs :
Type : Critical
Source : Starcounter
Host : Administrator

[code]
Right after the above exception i got this :
[code]
Other than the above 2, i can see lots of warnings aswell :
[code]
This is how it looks in SC Admin Panel's logs :
![image](https://cloud.githubusercontent.com/assets/4388707/16

[2016-07-07 07:41] atifwaqar opened #3737 "ScErrAcquireDbControlTimeOut (SCERR2059)"
SC Version : 2.2.1.2628

I got this exception 2 days ago, Is this something to worry about?

[code]

![image](https://cloud.githubusercontent.com/assets/4388707/16645808/cec07d50-4426-11e6-9792-69f988fe6e87.png)

[2016-07-07 07:42] per-samuelsson commented on #3735
Might relate to #3608.

cc @chrhol @alemoi

[2016-07-07 07:42] chrhol commented on #3735
Thank you for reporting this and adding the exception output!

This is definitely a bug in Starcounter, and a quite serious one at that. At first glance, the `Location` header is quite long, maybe we miscalculate something there (especially when it contains å, ä, ö)

I will take a look right away.

[2016-07-07 07:58] chrhol commented on #3735
I did a quick unittest using the same `Location` header as in the exception and got the same problem, the needed size is calculated incorrectly.

We will work on a fix for this ASAP.

[2016-07-07 08:33] joozek78 commented on #3734
*Author's suspicion* is exactly what I implemented so far. I think that it's just easier (no need to introduce protocol changes and less server changes) then what's proposed in puppetjs/puppetjs#71. IMO we should implement the latter when (if) we discover problems with this one. What you propose here just covers and extends the case described in puppetjs/puppetjs#71.

*Recipient's suspicion* is IM

[2016-07-07 08:34] eriohl opened #3738 "pnext: DbState.ReadObject always stores the handle of the actual layout in the proxy."
DbState.ReadObject always stores the handle of the actual layout (of the record) in the proxy rather then one used to represent the proxy type.

[2016-07-07 10:28] atifwaqar commented on #3735
That would be great. Thanks

[2016-07-07 11:23] #3639 closed

[2016-07-07 12:24] chrhol commented on #3735
Pushed a fix to develop and soon pnext that addresses the error in this issue.
Will be available in the next nightly. Maybe it should go into the next planned stable as well @dan31?

And as @per-samuelsson pointed out above, it is likely that the access violation in the other issue is caused by this. I will close the other issue for the time being, and keep this open.

[2016-07-07 12:24] chrhol commented on #3608
Closing this in favor for #3735

[2016-07-07 12:24] #3608 closed

[2016-07-07 12:30] atifwaqar commented on #3735
Thanks @chrhol for the quick fix.
Should I install the latest nightly build on my live server to test if the code fix works as expected?

[2016-07-07 12:37] chrhol commented on #3735
Well, I think that would be good. I haven't started a new build though, so next nigthly that will have the fix will be available tomorrow.

You're already running quite a new version so hopefully upgrading will not be a problem. Although I guess confirming that it works as it should might take some time, since the original problem doesn't happen that often.

[2016-07-07 13:23] atifwaqar commented on #3735
I cleared the SC logs a couple of hours ago, and now I can see 3 exceptions. So the original problem occurs quite often on one of my server.
I'll install the latest SC version tomorrow. and hopefully we'll see the result on Monday. Thanks for the quick fix. :)

[2016-07-07 17:52] tomalec commented on #3562
This seem to break existing ::shadow CSS selectors in
https://github.com/StarcounterPrefabs/Launcher/blob/2886d9b746917eb953a051601d40178f5077085e/src/Launcher/wwwroot/Launcher/css/style.css

[2016-07-07 18:45] warpech commented on #3562
Thanks for noticing. Reported as a separate issue: https://github.com/StarcounterPrefabs/Launcher/issues/235

[2016-07-08 06:18] chrhol commented on #3735
A new nightly build is available now that have this fix. Please let me know how it goes!

Link: http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/latest

[2016-07-08 07:03] chrhol commented on #3736
Missed this one yesterday. Unfortunately the stacktraces doesn't say that much.

Do you use any timers in your code? I guess two possible reasons could be (but this is purely a guess :)) that it either is some concurrency issue where a times is stopped or disposed at the same time it's triggered, or that it might be caused by the other reported issue (#3735) where parts of the .Net memory gets cor

[2016-07-08 07:11] chrhol commented on #3733
What do you mean here with unresponsive, do you have to restart everything to make it work or do you have to wait some time? From the threads in the screenshot it looks like at least one is working on something and two others are waiting for access to a session (probably the same session).

[code]

/cc @alemoi

[2016-07-08 09:02] atifwaqar commented on #3735
SC version 2.2.1.2685 also have the same code?

[2016-07-08 09:05] atifwaqar commented on #3733
I have to wait some time with no traffic feeded to that server, and then the server is back to normal after a while.
but when I feed the traffic again, it goes back to the same state.

[2016-07-08 09:37] chrhol commented on #3733
Alright, then it looks like you might have some operation that is executed with a Session active, that takes a long time to finish. That would also explain all the warnings you have in the log-file.

We should try to find out which part of your code that is slow. Maybe you have some query that lacks indexes, or that some external resource is accessed (like a http-request to a server outside of Sta

[2016-07-08 09:38] chrhol commented on #3735
No, that version does not include the fix.

[2016-07-08 09:38] chrhol commented on #3735
You want this one: `2.2.1.2697 (Jul 8, 2016 5:06:57 AM)` (or later)

[2016-07-08 09:49] eriksunsol opened #3739 "Weaver fails on combining IEnumerable.GetEnumerator(), yield break or yield return and a seemingly infinite loop."
While this example may seem a bit pointless, it does not reflect what I was originally attempting to do, but this is the minimum example that reproduces the problem:

[code]

When this code is present in an assembly processed by the Weaver it fails with the errors in the next comment. No actual calls to `foo()` need to be present.

Slight alterations will make the Weaver accept the code though, e.

[2016-07-08 09:52] eriksunsol commented on #3739
Errors, most recent on top. Sorry about the formatting, copy-paste from Starcounter Admin web interface...

[code]

[code]

[code]

[2016-07-08 10:07] miyconst commented on #3739
@eriksunsol thank you for finding this out. I will reference the guys responsible for the weaver.

cc @per-samuelsson, @chrhol

[2016-07-08 10:12] alemoi commented on #3733
Hi @atifwaqar
Regarding the irresponsivness of the handlers, I would simply add some empty handler that just returns some text (different, like current date) and 200 OK, without doing anything or using session. When you have hangs, you can test if this specific handle is responding: it should work without hangs.

[2016-07-08 10:28] atifwaqar commented on #3735
Installed.
We'll have to wait for couple of hours or may be a day to see the result.

[2016-07-08 13:20] per-samuelsson commented on #3739
@eriksunsol thanks for reporting this.

Yeah, the weaver does some stuff to assure a few constraints we have, like that you are not allowed to pass database fields to methods as a reference. It looks like you've found a bug in that code (which is like untouched for, I guess, 5+ years).

I'm assigning it to me, but will probably not be able to provide a fix for it any time soon (within a few weeks)

[2016-07-09 10:37] per-samuelsson commented on #3739
Did some quick research on this, and I think it might be worse than I first expected. Why? Because I think the problem here lies in our old `PostSharp` version, not being able to properly read IL emitted by more recent compilers.

[Here](http://blog.alexyakunin.com/2009/10/disappointing-news-i-cant-merge.html)'s a (very old) reported problem that illustrate something similar, where ILMerge tool ge

[2016-07-09 11:37] k-rus commented on #2907
As you can see the problem has existed for two years already. Thus it is not easy to say what are the problems with it. I think now native test of SQL parser in Bluestar replicates the managed test and checks memory leaking, thus this failing test can be disabled in the nightly debug project. I think it is still good to keep in other builds, where it doesn't fail, since it doesn't check memory lea

[2016-07-09 18:10] eriohl commented on #3738
Done.

[2016-07-09 18:10] #3738 closed

[2016-07-09 18:15] eriohl commented on #3602
Done.

Record layout translation tables are store in a cache on context and cache-misses are pretty expensive. Follow up might be required to make sure that cache utilization is good mature databases with many generations of layouts.

[2016-07-09 18:15] #3602 closed

[2016-07-09 18:34] k-rus commented on #3703
I personally don't have clear picture about NULL semantics and how it should be represented. Currently, we have problem of different expectations from different users: SQL and C# users.

[2016-07-10 09:00] eriohl commented on #3703
SQL NULL is more like UNKNOWN in this case. Part of the problem I think is that in C# NULL is not very well defined what it actually means. In the case of references I think it usually means not referencing anything while in the case of other types (like strings or integers) I think it generally means something more like not set (ie more like UNKNOWN).

[2016-07-10 12:03] k-rus commented on #3695
Thank you for the question. Any materialised tables are not supported and should not be used in any 2.x version. For the purpose of index table `Starcounter.Metadata.Index` should be used. The change was made few years ago and issue describing the changes exists somewhere, but I cannot find it. The documentation will come, but there will be more changes in metadata schema.

[2016-07-10 12:41] k-rus commented on #3663
You can write a group or sorting query to get duplicates and then programmatically resolve them.

[2016-07-11 06:59] atifwaqar commented on #3733
@alemoi

I made one handler that returns just the text. And I am still having the same behavior.

@chrhol
What is the max count for creating threads in SC?
Also, Is there any timeout for these threads?
How can I investigate SC session behavior?

[2016-07-11 07:40] chrhol commented on #3733
There is no fixed max number of threads, however there is a limited number of threads that can access the database that can run at the same time. The exact count depends on how many cores/virtual processors the machine you're running on has.

No, there are no timeouts (except the timeout for access to a session, but that is a different thing).

If this is true:

When my other handlers get stuck, t

[2016-07-11 07:41] chrhol commented on #3735
Have you had any chance to see if you got this exception during the weekend, or if it's (finally) been solved?

[2016-07-11 09:59] atifwaqar commented on #3735
Looks like its solved. I cant see this error anymore.

[2016-07-11 10:02] chrhol commented on #3735
Awesome! Then lets consider this issue as resolved :raised_hands:

[2016-07-11 10:02] #3735 closed

[2016-07-11 10:04] chrhol commented on #3736
Has this one occurred again after we fixed #3735?

[2016-07-12 09:51] atifwaqar opened #3740 "ScErrUnhandledTransactConflict (SCERR4090)"
SC Version: 2.2.1.2709

I guess this is my code's issue, but this error message dont give me any info or stacktrace. How can I point or get to my code which is executing the transaction?

[code]

[2016-07-12 10:20] alemoi commented on #3733
Is it possible to get access to the machine that is in such state?

[2016-07-12 12:03] k-rus commented on #3690
Can you describe what you exactly mean here? Every step what you do and what happen. Do you mean newly created database? How did you created new database? Did you give new unique name?

[2016-07-12 12:27] chrhol commented on #3733
I had a talk with @ripipip about this issue and got some more information. It looks like it's the handlers for the specific app that is not responding. Using the Administrator, and for example submit queries works fine.

Since this is quite difficult to find somewhere to start, two possible ways would be:
- Get access to a server where this has happened (as @alemoi asked/suggested in the comment a

[2016-07-12 12:33] chrhol commented on #3740
That's weird, the stacktrace should include your code as well. As you say, with this information it's not possible to find out where it happens.

I will take a look.

[2016-07-12 16:04] miyconst opened #3741 "Do we have any benchmark suite?"
I want to compare Starcounter performance on two rigs, do we have any kind of benchmark suite?

[2016-07-12 16:05] miyconst commented on #3741
cc @dan31

[2016-07-13 06:54] atifwaqar commented on #3740
I found this in my logs.
And is it possible to add/print the query in logs which generated this exception?

[2016-07-13 06:55] atifwaqar commented on #3733
@alemoi It is possible, I will ping you on Hangout as soon as the server gets in that state again.

[2016-07-13 06:59] chrhol commented on #3733
@atifwaqar, please ping me instead. I will do the initial investigation. @alemoi is currently on vacation so lets try to keep him out of this as much as possible :smile:

[2016-07-13 06:59] atifwaqar commented on #3728
@dan31
Sorry for the late response. I was trying to understand the behavior. In the latest nightly build, it looks like the behavior is back to normal. so I started your CB WatchDog. It works fine, but sometimes, if i stop any one of my apps, CBWatchDog does not start the app. even if I restart the CBWatchDog.

[2016-07-13 07:02] chrhol commented on #3740
Yes, it's possible. The query is available. I will add another issue for enhancing the errormessage in this case for the sqlhandler.

[2016-07-13 07:31] chrhol opened #3742 "Improve the information from the logged exception in SqlRestHandler"
Taken from #3740.

For some reason you get an unhandled conflict exception from the sql-handler for the Administrator. The exception is then logged, but it's really hard to figure out what it is when seeing this error at a later time since the sqlhandler is generic.

The logged exception should be improved to contain the actual query and highlight that it comes from the sqlhandler, and not directl

[2016-07-13 07:33] chrhol commented on #3740
I added a new issue for enhancing the logged error. I will close this one, since you found the exception in the log and you can safely ignore it.

[2016-07-13 07:33] #3740 closed

[2016-07-13 07:38] atifwaqar commented on #3740
@chrhol Thanks

[2016-07-13 08:10] atifwaqar commented on #3728
SC Version : 2.2.1.2709
Ok this is strange. I just experienced the same behavior again on the server where we have CBWatchDog running.
1. I stopped AdFenix from SC AdminPanel
2. Ram Dropped and started filling again
3. I was expecting that CBWatchDog will run AdFenix exe but it didnt
4. I restarted CBWatchDog, just to check if it takes any action to start the AdFenix app, but it did nothing
5. I r

[2016-07-13 11:54] chrhol commented on #2964
This now done and pushed to develop and pnext. I also added a short section in the databinding document on starcounter.io (http://starcounter.io/guides/json/json-data-binding/#binding-to-a-property-in-code-behind)

[2016-07-13 11:54] #2964 closed

[2016-07-13 11:57] atifwaqar commented on #3724
@k-rus Thanks for the code sample, I had no idea how to get this from code.
Here is the query plan :
[code]

[2016-07-13 12:04] atifwaqar commented on #3688
I prepared the backup for you, where should I Share it?
Do you guys have any common space where people send you the DBs to investigate?

[2016-07-13 12:56] warpech opened #3743 "Stack exception in the 2.3 installer when upgrading from any version"
I have Starcounter 2.2.1.2657 (`develop` nightly).

When trying to install 2.3.2083 (`pnext` nightly), I get the following error message with a stack exception inside of it:

![2016-07-13 14_50_30-starcounter installation](https://cloud.githubusercontent.com/assets/566463/16803955/8ee6627a-4909-11e6-9bcb-a06bc5075111.png)

Clicking "Yes" and "No" works as expected.

[2016-07-13 13:40] aloscha commented on #3743
If in some reason, you don't get this notification, installed pnext and start debugging app you received unexpected error, you should:
1. Uninstall SC
2. Remove Starcounter folder from ProgramFiles
3. Remove Starcounter folder with older database from Documents

[2016-07-13 14:18] k-rus commented on #3688
I can share a special folder on dropbox to your email address. I know one with attic sheikh87. Can I share to there? How big is the back up?

[2016-07-13 14:47] atifwaqar commented on #3688
Its a rar file of 3.29 GB

[2016-07-14 05:22] k-rus commented on #3688
I guess dropbox will be to slow. @dan31 do we have any place where such archive can be uploaded?

[2016-07-14 09:40] miyconst opened #3744 "The weaver failed to resolve a reference to an assembly"
I am trying to start an app with a `weaver.ignore` file which contains one entry - `EPPlus.dll`.

The application fails to start with the following error:

[code]

Starcounter version: `Starcounter-DevelopNightlyBuilds-2.2.1.2697 (Jul 8, 2016 5:06:57 AM)`.

What this could mean and how to try to resolve it? The application does does not contain any reference to the `System.Xml` assembly.

cc @per-

[2016-07-14 09:49] miyconst commented on #3744
Tried with the latest `Starcounter-DevelopNightlyBuilds-2.2.1.2718 (Jul 14, 2016 5:06:09 AM)` version. Same issue.

Tried to reference the `System.Xml` assembly and include it to `weaver.ignore`. Nothing seems to work.

[2016-07-14 09:56] Mnosek commented on #3744
I just had a very similar problem (not System.Xml but System.Drawing) and for me it was enough to install ".NET Framework 3.5 (includes .NET 2.0 and 3.0)" Windows feature. I think that System.Xml v2.0.0.0 refers to another version of .NET

[2016-07-14 10:17] miyconst commented on #3744
Yes, it seems to be the reason. I will close the issue as soon as I have a chance to install .NET 3.5 and make sure that it solves the problem.

[2016-07-14 11:20] chrhol commented on #3733
Alright, I got access to the server while it was more or less unresponsive (and when it was responsive).

I tested with accessing the handler that @atifwaqar added, and also pinged the gateway directly, used the administrator and attached an debugger to see what all threads were doing.

- CPU usage on the machine was normal, no excessive load.
- The testhandler was unresponsive. However, if I unde

[2016-07-14 11:28] bigwad opened #3745 "pnext: logopt.exe crash"
dump and symbols:
[logopt.exe.8004.zip](https://github.com/Starcounter/Starcounter/files/363562/logopt.exe.8004.zip)

sources revision: 5b973500bec7e17ba24e005511bb8f7c7ba99c27

[2016-07-14 13:07] Mnosek opened #3746 "Unhandled exception crashes all another apps"
I have four apps running in one db: SignIn, UserAdmin, Launcher and ChecklistDesigner (currently developed). After starting ChecklistDesigner uncaught exception occurs and then all running apps stop immediately. I think that the other apps should be untouched.

Exception in ChecklistDesigner app:
[code]

Starcounter log message:
[code]

Starcounter v2.3.2083 pnext nigtly

[2016-07-14 13:29] bigwad opened #3748 "pnext: scdblog leaks a handle on every logopt call"

[2016-07-14 13:38] bigwad commented on #3748
fixed

[2016-07-14 13:38] #3748 closed

[2016-07-14 13:50] warpech commented on #3118
Related: https://github.com/Starcounter/Starcounter/issues/3573

[2016-07-14 13:54] chrhol opened #3749 "Unable to start database, codehost spinning"
Reproduced in version 2.2.1.2718.

when starting existing database, `sccode.exe` spins forever. Attaching debugger and checking stacktrace gets this:

[code]

All files are available, but the package is quite big, 11 gb zipped, and the image-files are too big to run on my machine (with 16 gb ram). Reproduced on the AdFenix testserver in our basement. The package is also available there.

cc @erioh

[2016-07-14 14:02] bigwad opened #3750 "pnext: log optimization errors may be ignored and not logged"
on_new_log.cmd is supposed to log its errors, but if some unexpected error occurs, then scdblog should take it on.

[2016-07-14 14:15] miyconst opened #3751 "ORDER BY ASC breaks WHERE clause"
I have the following SQL query:

[code]

Which produces the following result:

![image](https://cloud.githubusercontent.com/assets/6435556/16842456/dd80098e-49dd-11e6-87bb-965b1d1433fd.png)

The first record which matches the `WHERE` value `DATE'2016-07-14T11:30:44.4842845'` should not be included in the result.

The interesting thing is that it works as expected with `ORDER BY DESC` or without `O

[2016-07-14 17:37] k-rus commented on #3751
Thank you for reporting the problem. I will need to reproduce the problem and it will be great if it is possible to do with the database where it is observed.

I guess the issue is related to any version of Starcounter.

[2016-07-14 19:09] miyconst commented on #3751
Starcounter version: `Starcounter-DevelopNightlyBuilds-2.2.1.2718 (Jul 14, 2016 5:06:09 AM)`.
This issue was reproduced on two different machines with different data inside database. The database schema was the same.

[2016-07-15 05:31] k-rus commented on #3751
Thank you for the information. Can you provide the database schema and the query plans for failing and successful execution with DESC?

[2016-07-15 05:52] miyconst commented on #3751
Query execution plans:

### ASC

[code]

### DESC

[code]

[2016-07-15 06:04] miyconst commented on #3751
I have reproduced the issue on a smallest possible database. Now it fails with `DESC` and passes with `ASC`.

### DESC

![image](https://cloud.githubusercontent.com/assets/6435556/16865089/847f572e-4a62-11e6-97a0-0c524e18dbc2.png)

[code]

### ASC

![image](https://cloud.githubusercontent.com/assets/6435556/16865106/a1f4b100-4a62-11e6-8186-964e56a19aa6.png)

[code]

### Database

[code]

[code]

T

[2016-07-15 06:33] chrhol commented on #2931
I can do that. Sounds like a good issue to fix before vacation :)

[2016-07-15 11:54] k-rus commented on #3751
Thank you for reporting the query plans. The query plans seem to be correct, i.e., they should produce the correct result. (probably, the first two was placed flipped)
Thus the bug is either in the preparing input for the kernel or in the kernel itself.

[2016-07-15 11:55] k-rus commented on #3751
Can I also get the script populating data?

[2016-07-15 12:23] chrhol commented on #2931
I always forget what a hassle it for anything around VS and templates (and extensions). I think I got it working now, currently doing a personal build and after I will just verify that everything works with the installer before pushing it.

[2016-07-15 12:31] warpech commented on #2931
Thanks a :100:!

[2016-07-15 13:07] miyconst commented on #3751
You can run my [Playground](https://github.com/miyconst/Playground/) project and create some items with the  `Add Item` button.

![image](https://cloud.githubusercontent.com/assets/6435556/16875088/c6d06fc4-4a9d-11e6-8dc9-63692b165e92.png)

[2016-07-15 13:11] chrhol commented on #2931
Pushed to develop and pnext now.

[2016-07-15 15:01] atifwaqar opened #3752 "Access violation (C0000005) detected"
SC Version : 2.2.1.2709
Error time : 7/15/2016 4:47:04 PM
Message :

[code]

Previous Log entry :
Time : 7/15/2016 4:45:41 PM
Message :
`Image sync completed. Time=37703 ms.`

[2016-07-15 17:22] bigwad commented on #3745
https://git.starcounter.org/BlueStar/level0/commit/ffc695f804086dc424ca832991672d168605052e

[2016-07-15 17:22] #3745 closed

[2016-07-18 07:17] eriohl commented on #3749
Just saw this. This is still an issue? If so would it be possible to move the database to sctestsrv03 (...103)? I'm unable to access the "AdFenix testserver" (I'm guessing this is ...104?) with the credentials available to me.

[2016-07-18 12:59] warpech opened #3753 "Fix Index table name in PartialComposition"
Right now, PartialComposition looks up the database index table using a query: `SELECT i FROM MaterializedIndex i` (https://github.com/Starcounter/Starcounter/blob/43031cb658e9545c0387f7e735c6f418f434bb51/src/Starcounter.Extensions/PartialComposition.cs)

This will not work in Starcounter 2.3 / pnext.

Change the index lookup to use `SELECT i FROM Starcounter.Metadata.\"Index\" i`, as explained in

[2016-07-18 16:30] warpech opened #3754 "Rename Starcounter.MergedPartial.Composition to Starcounter.HTMLComposition"
Rename `Starcounter.MergedPartial.Composition` to `Starcounter.HTMLComposition`, as discussed today with @tomalec on Hangouts.

[2016-07-18 16:49] warpech commented on #3754
Fixed on https://github.com/Starcounter/Starcounter/tree/feature/HTMLComposition-3754 branch, running a personal build to verify.

[2016-07-18 16:49] warpech commented on #3753
Fixed on https://github.com/Starcounter/Starcounter/tree/feature/HTMLComposition-3754 branch, running a personal build to verify.

[2016-07-19 08:09] eriohl commented on #3722
This is a bug. Optlog files already stores next record id for this purpose. Not sure why it is not set properly after load but it should be.

(Should double check also that this value is properly transferred when creating a new optlog file from a previous optlog file.)

[2016-07-19 12:02] warpech commented on #3753
Verified, merged to develop and pnext.

[2016-07-19 12:02] #3753 closed

[2016-07-19 12:02] warpech commented on #3754
Verified, merged to develop and pnext.

[2016-07-19 12:02] #3754 closed

[2016-07-21 09:10] miyconst opened #3755 "Starcounter.Json as an anonymous response is not merged"
Since the last JSON merging rework we can use `Starcounter.Json` instead of `Starcounter.Page`, but this does not work with anonymous (substitute) handlers.

### App Playground

[code]

### App Subground

[code]

The `this.AnonymousPage` object is always sent as `{ }` to the client. If I replace `Json` with `Page` then it works as expected.

Also the `OnJsonMerge` callback is called properly with

[2016-07-21 10:03] eriohl commented on #3595
Done. Kernel without persistence is again running on Linux.

[2016-07-21 10:03] #3595 closed

[2016-07-21 10:08] eriohl opened #3756 "pnext: Support in-memory compiler for kernel code generation on Linux"
Currently generated source files is stored on disk and shared libraries are built from them and then loaded into memory.

[2016-07-21 10:54] ubbeK commented on #3755
:+1:

[2016-07-21 12:48] eriohl opened #3757 "pnext: New error handling policy for 2.x Windows"
Basically do out best to make sure that as much information as possible available on unexpected errors in the kernel and other native code.

With the change in policy on how exceptions are intercepted in the kernel it is currently a bit of a challenge to get sufficient information about errors when the occur to be able to figure out what causes them. Furthermore we want to move away from logging s

[2016-07-21 13:13] eriohl opened #3758 "pnext: OS X kernel port"
Port kernel (without persistence) to OS X.

[2016-07-21 14:42] warpech commented on #3098
Closing as this is the same issue as https://github.com/Starcounter/Starcounter/issues/3096

Solution is tracked in #3511

[2016-07-21 14:42] #3098 closed

[2016-07-21 16:14] eriohl commented on #3648
New function ```stari_context_get_index_generation_dropped``` added. Sorry it took a while.

[2016-07-21 16:14] #3720 closed

[2016-07-21 18:20] ubbeK opened #3759 "Accessing Enum property from Json by string indexer returns NULL"
There is some problems regarding `Enum` in a database. When assigning `QueryResultRows<T>` to an JSON object array which does not contain any predefined properties, `"List": [ { } ]`, Enum values cannot be accessed through `jsonObjArr["iAmAnEnumProperty"]`. It returns null like it does not exist.

It does work through reflection though. See demo for more information.

Get demo from [here](https://

[2016-07-21 18:46] miyconst commented on #3759
@chrhol I confirm the issue, please take a look.

[2016-07-22 07:56] warpech opened #3760 "Improve the error message in case of Starcounter.DbException: ScErrInvalidObjectAccess (SCERR4174): The operation failed because of an invalid object access."
A known issue is that when we are delete an object in the database, the JSON bindings stop working. One of such examples is [here](https://github.com/RemoteCloud/SweOffshore/commit/e3452bdf834f6581a3f8519e81e2407619a79572#diff-bd62e0a291241423282222c3507775c4R32):

<img width="641" alt="screen shot 2016-07-22 at 09 52 23" src="https://cloud.githubusercontent.com/assets/566463/17050233/13cb1f64-4ff

[2016-07-22 10:28] miyconst commented on #3744
Thanks @Mnosek, it really was missing .NET 3.5. Closing the issue.

[2016-07-22 10:28] #3744 closed

[2016-07-23 17:10] ubbeK opened #3761 "Fetching entries randomly from Database"
Is there a way to get random entries from the Database?

For instance, if I have 1000 entries in the `MyEntry` Database and want to get exactly 10 random entries.
[code]

It does not seem to be efficient to get all entries through Db.SQL request
`var allEntries = Db.SQL<MyEntry>("SELECT i FROM SomeNamepace.MyEntry i);` and then get results randomly from the query result `allEntries`.

cc @miyconst

[2016-07-23 17:14] miyconst commented on #3761
@k-rus do we have something for it? This is a very common functionality for DBMS.

MS-SQL Server supports

[code]

MySql Server supports

[code]

[2016-07-23 19:01] k-rus commented on #3761
No, we don't have such functionality. Can you describe motivation for the functionality?

This is the only way to get correct distribution. Theoretically you can get targeted distribution if you have a unique index with known constant difference between existing key values, but this is not realistic to have. If you don't care about the distribution, then you can use index on, e.g., integer to obta

[2016-07-23 19:04] miyconst commented on #3761
There are many cases where such thing can be needed, for example show random ads on a page, or random reviews per product item.

[2016-07-24 07:34] k-rus commented on #3761
You can show the first ad in the index or the first review in the index. Such approach satisfy the requirements.

[2016-07-24 08:47] eriohl commented on #3756
This was not so difficult as I imagined since the in memory compiler seems to like pthread. So works after addressing some minor compiler issues.

However: Needs to fetch libscllvm.so as part of the build process. Could you help out with this @alemoi?

[2016-07-24 09:16] miyconst commented on #3761
No, I can't. Because the shown items should be random on each page reload.

[2016-07-24 11:49] alemoi commented on #3756
Sure! I will try to find some time next week to add "\\scbuildserver\FTP\Temp\scllvm_linux\libscllvm.so" to the build system. How urgent do you need this?

[2016-07-24 11:57] alemoi commented on #3756
Maybe even tonight/tomorrow. I will do simplest way so that "libscllvm.so" is stored in git and copied in Linux to the output directory.

[2016-07-25 06:26] k-rus commented on #3761
If it gets the same page it does not mean that it is not random. For example, if normal distribution is chosen for random generation with expected mean value, but the database contains only one value close to the mean value, while the most of the values in tails, then the same page will be shown the most of the time.

I guess you know much more about the requirements, but they are not described.

[2016-07-25 07:58] atifwaqar opened #3762 "Assertion failed"
Version: 2.2.1.2709

[code]

[2016-07-25 08:00] atifwaqar opened #3763 "An internal node call returned an unexpected response. 503"
Version: 2.2.1.2709
Source : Starcounter.Server.Commands

[code]

[2016-07-25 08:01] atifwaqar opened #3764 "The user code entrypoint method raised an exception. (UserAdmin-master)"
Version: 2.2.1.2709.

[code]

[2016-07-25 10:13] eriohl commented on #3636
Have you seen this one again? I have yet to be able to reproduce it unfortunately.

[2016-07-25 10:30] atifwaqar commented on #3749
@eriohl Sorry for the delayed response.

[2016-07-25 10:32] atifwaqar commented on #3749
BTW, I tried to reproduce this issue locally, but failed. So what im going to do now, is that i'll try to reproduce the Traffic Feed on testServer (Just like we have on our live server). And then hopefully we can reproduce the issue on TestServer.

[2016-07-25 10:35] atifwaqar commented on #3736
I'm not sure, give me 24 hours to verify it, as i have cleared the logs today. So if I see the error again, i'll update you.

[2016-07-25 10:40] atifwaqar commented on #3749
@eriohl can you please add me on hangout? I have uploaded the DB on GoogleDrive, I can share the drive link on Hangout.

[2016-07-25 10:41] eriohl commented on #3749
The error is during startup so it should be enough to simply start a cold database. It should be the same everywhere since the startup will run the exact same way every time. I understood from the original post that this database was available (in a ZIP file) on the test server. I just need this database.

Or are you saying that it is only reproducable on certain machines?

[2016-07-25 10:44] atifwaqar commented on #3749
No, I confused this issue with another one, its not reproduceable, i have
the DB in Zip file, uploaded on GoogleDrive, if you add me on Hangout, i
can share the Drive Link with you

Best Regards,
Atif Waqar
Head of Development
AdFenix AB

On Mon, Jul 25, 2016 at 12:41 PM, eriohl <notifications@github.com> wrote:

[2016-07-25 10:45] eriohl commented on #3749
Sorry. Is this issue not reproducable?

[2016-07-25 10:48] eriohl commented on #3749
(Added you to hangout.)

[2016-07-25 11:19] atifwaqar commented on #3618
Thanks @mtornwall .
My network guy fixed it using IIS.

[2016-07-25 14:19] k-rus commented on #3761
We discussed this functionality briefly. The actual requirements can be narrowed for each application. For the current application the requirement is to chose show different objects for the same user on every page request. It is not necessary to be always different, but usual. The list of object to chose from varies over time in both directions, i.e., more objects appear in the least or less objec

[2016-07-25 14:24] eriohl commented on #3749
Ok. I'm checking the database you sent me and I'm not sure if it hangs but at the very least startup takes a very long time and it seems it spends most of this time purging deleted records, which there seems to be an awful lot of. Which is consistent with the original stack trace. So this should be sufficient to investigate what is going wrong. Thank you for your help @atifwaqar.

[2016-07-25 15:16] atifwaqar commented on #3749
Anytime :)

[2016-07-25 20:46] eriohl commented on #3749
I've concluded that it doesn't actually spin forever but load takes a very long time to complete (as in hours). What happens in that after load it purges many millions of records. Not sure why but it is kind on unexpected. But because of this the slot allocator (slots being where records are stored) flips and gets really slow. And this is what takes such a long time.

Needs to be addressed obvious

[2016-07-25 21:11] atifwaqar commented on #3749
@eriohl
Its ok with us. As we had a backup of this DB, so we immediately started using the backup DB.
I reported this issue so that in future if this thing happens again and in case we dont make a backup of Db in time, we should be able to fix this issue.

And as you mentioned this issue will be fixed in August or September, we'll be careful in taking backups everyday, so we dont lose data.

Thank

[2016-07-26 07:10] atifwaqar opened #3765 "The operation failed because of an invalid object access"
I am getting this exception on my local machine. I tried to reproduce it on another machine, but couldn't.

[code]

The issue occurres as soon as I enter in `RunAsync(()=>{`

Attached are 2 images.
1. Everything is fine here. I can see the `ca.ObId` & `ca.IsFacebookAdNeeded`
![first_state](https://cloud.githubusercontent.com/assets/4388707/17128922/3a0d248a-5310-11e6-81d8-5b7fd32be49e.png)
2. I ca

[2016-07-26 11:35] miyconst opened #3766 "Unable to retrieve a struct object via DbHelper.FromID"
The `DbHelper.FromID` method returns `IObjectView` which is not possible to cast to `struct` type. This makes it impossible to get items from `struct` tables.

[code]

[code]

[code]

cc @chrhol, @k-rus

[2016-07-26 11:57] joozek78 opened #3767 "Administrator SQL: strange error when using semicolon at the end of statement"
If I put a semicolon at the end of my SQL statement (e.g. `select o from simplified.ring2.organization o;`) I get the following error:

It is extremely confusing, as the error points the user to position `0` which is perfectly fine. Probable cause is that the statement is split by semicolon, and second line is (of course) empty.

**Proposition:** Error message should refer to line (or statement) n

[2016-07-26 12:07] k-rus commented on #3766
I don't know anything about struct tables. Where are they described?

[2016-07-26 12:09] miyconst commented on #3766
I didn't see any specific documentation about `struct`, but this is just another type in c#, and it is supported to declare `[Database]` structs.

[2016-07-26 12:09] k-rus commented on #3767
I am sorry to say but it is not possible to improve error message in this case in current old SQL.

[2016-07-26 12:12] k-rus commented on #3766
Then structs are not supported. Probably, weaver sees them as classes and to reject them some specialisation in implementation is needed. cc @per-samuelsson

[2016-07-26 12:14] miyconst commented on #3766
Hm, that would be a penalty in my case, right now they are widely used in the Palma project.

[2016-07-26 14:03] bigwad commented on #3766
Declaring structs as a database type is not supported according to [Database attribute declaration](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/DatabaseAttribute.cs#L15).
So, you should have compilation error declaring such type in the first place.

It would be strange if it was permitted because it would break expected struct behaviour. Here I mean that when you assign

[2016-07-26 14:11] miyconst commented on #3766
@bigwad thank you for the answer. I missed this one out, and it looks like the structs are not `[Database]` types, they only access database inside property getters.

Closing this issue as invalid.

[2016-07-26 14:13] k-rus commented on #3766
I think the correct behaviour will be to get error when database attribute is defined on structs, instead of accepting. I will re-open the issue to see what @per-samuelsson think about it.

[2016-07-26 14:17] miyconst commented on #3766
@k-rus it was my mistake, it is not allowed.

[code]

[2016-07-26 14:18] k-rus commented on #3766
I see. I missed that you actually got the error.

[2016-07-26 14:18] #3766 closed

[2016-07-27 08:31] joozek78 opened #3768 "Can I observe an aggregation?"
I can select an object from database and later bind it with puppetjs. That way, it will always be up-to-date in the browser window, even if someone changes it from another application.

Can I achieve this when I bind to an aggregate? For example `select sum(pi.quantity) from simplified.ring3.productInstance pi where ...` (of course I could select interesting objects and sum them manually). To obse

[2016-07-27 08:41] joozek78 opened #3769 "OT is badly applied"
1. Let the initial state be `{val:0}`
1. Change it on server to `1` and send an update to client
1. Before the update reaches the client, change the state on client to `2` and send it to server
1. Let the update from server reach the client
1. Now both sides changed the value independently - OT should be applied and server version (`1`) should "win" and prevail on both sides
1. What happens is cli

[2016-07-27 08:54] miyconst commented on #3768
Yes, it is possible.

See an example here: https://github.com/miyconst/Playground/blob/master/Playground/IndexPage.json.cs#L7

[2016-07-27 08:57] miyconst commented on #3768
And more detailed answer:

[code]

[code]

[2016-07-27 08:58] miyconst commented on #3768
Although it is possible, you should be aware that the bound property getter will be executed on every patch to check if the value was changed.

If you have a very complex query which takes time to execute, you have to apply some caching inside the property.

[2016-07-27 09:04] miyconst commented on #3769
Good catch @joozek78! I think this is something @tomalec and @chrhol should take a look at. Not related to `Typed JSON` though.

[2016-07-27 09:13] joozek78 commented on #3768
So it's not really observing, it's more like recalculating every time the change could've happen. But that can do the trick, thanks

[2016-07-27 09:13] #3768 closed

[2016-07-27 09:16] miyconst commented on #3768
What do you mean by "observing" then? With database classes a value is a read/write property, it's getter will be executed on each "observation", the only difference is that the `Bind = ""` is done automatically.

If you have an `Order.TotalAmount` property which performs `SUM(Order.OrderItem.Amount)` then it will be calculated on each observe as well.

[2016-07-27 10:10] atifwaqar opened #3770 "Question : How to bind (1 attribute) Query result with Json"
I am trying to bind data with my following Json :
[code]
and the code-behind-Json looks like :

[code]

This how it looks when I debug it :
![image](https://cloud.githubusercontent.com/assets/4388707/17171853/bbbc9064-53f2-11e6-8316-9cf9ab9f5685.png)

And this is how it looks in frontend :
![image](https://cloud.githubusercontent.com/assets/4388707/17171889/de167986-53f2-11e6-9444-c6ce4a2bc6bd.png

[2016-07-27 10:17] miyconst commented on #3770
Replace this:

[code]

With

[code]

[2016-07-27 10:21] atifwaqar commented on #3770
@miyconst Thanks a lot, its working now.  :)

[2016-07-27 10:24] #3770 closed

[2016-07-27 10:40] miyconst opened #3771 "Invalid Json object observation when contains response from multiple apps"
I have the following model:

### Playground app

- Three pages:  `IndexPage`, `SubPage`, and `DatePage`.
- Each page has a handler.
- The `SubPage` handler is mapped to `/sc/mapping/playground-sub-page`.
- The `IndexPage` has a property `SubPage: { }`, which is set with a `Self.GET`.

### Subground app

- Single `SubPage` and a handler.
- The `SubPage` handler is mapped to `/sc/mapping/playground-

[2016-07-27 11:01] tomalec commented on #3769
ehh.. once again I miss some time to finally write a paper on JSON Patch OT

Even though Puppet protocol is symmetric, Transformations in our case are not. As we decided that "server-side JSON is the only source of truth" server-side operations should always be effectively included ("win"). See ET and IT at https://en.wikipedia.org/wiki/Operational_transformation#OT_functions.

If server-side tran

[2016-07-27 11:03] tomalec commented on #3769
BTW, at 5, 6 none of the sides "accepts" or "rejects" the change. The are both transforming the changes no matter what.

[2016-07-27 11:20] tomalec commented on #3769
You can use my 2yrs old tool http://tomalec.github.io/PuppetJs-operational-transformation/visualization.html to create patches (it's obviously not yet finished, and works with really old version of everything).

I'll translate @joozek78's example to the realt JSON Patches:

1. Browser (Alice) changes `smth` to `1` and sends it:

[code]
2. Server (Bob) changes `smth` to `2` and sends it:

[code]
3.

[2016-07-27 12:15] tomalec opened #3772 "Make reconntection respond with JSON Patch"
After first implementation of re-connection https://github.com/Starcounter/Starcounter/pull/3747. Server responds with entire JSON tree to be replaced on client.

This is expensive not only dues to traffic, but most of all in UX by blinking, and re-rendering everything.

As re-connection is triggered by a peer who sends all the pending Patches (https://github.com/PuppetJs/PuppetJs/issues/71#issuec

[2016-07-27 14:26] alexanderstc commented on #3756
I remember @alemoi once told me scllvm compilation was not thread-safe.
We should then make a bluestar-wide serializer for scllvm, since more than one subsystem is going to use scllvm: kernel and metalayer.
Or make scllvm tread-safe.

[2016-07-27 14:40] alemoi commented on #3756
Thanks for reminding here. I will simply make scllvm thread-safe.

[2016-07-27 14:40] alemoi commented on #3756
@alexanderstc are you struggling with no libscllvm.so in build? I will try to add it today.

[2016-07-27 17:18] alexanderstc commented on #3756
I'm OK, but Team Cognitive were sort of asking if bluestar on linux is gonna be available sometime.

[2016-07-28 07:51] atifwaqar opened #3773 "System.Exception: ScErrUnexpectedResponse (SCERR6080)"
I start the DB it starts fine. but when i run my exe file, i get the following error

[code]

[2016-07-28 07:59] atifwaqar commented on #3773
it happened only once, I ran the command `staradmin kill all` and launched the solution again, it works fine now.

[2016-07-28 11:29] eriohl commented on #3756
Linux build is not using in-memory compiler for kernel code generation.

[2016-07-28 11:29] #3756 closed

[2016-08-01 10:06] linkdata commented on #3636
No, I haven't seen it again. Looks to me like it's a close race condition, so it will be hard to reproduce, and may be impossible to reproduce in a debug environment. I think the work you're doing in securing post-mortem information after crashes is the best bet to fix this.

[2016-08-01 12:42] atifwaqar commented on #3733
Guys, did you find any fix for this issue?

[2016-08-01 20:45] alemoi commented on #3756
Just pushed the thread-safe scllvm (both for Windows and Linux).
@alexanderstc any other requests maybe?

[2016-08-02 07:57] linkdata commented on #3733
Is that normal *on average*? In particular, is one or two of the cores fully loaded and the rest close to idle?

[2016-08-02 07:58] atifwaqar commented on #3733
its normal. and none of the cores have the load. both are on 1 or 2% usage.

[2016-08-02 08:06] linkdata commented on #3733
To me, it sounds like all the database schedulers are busy, waiting for some external operation to complete. Are you using I/O (network, disk, pipes) from within `Db.Transact()`?

[2016-08-02 08:18] atifwaqar commented on #3733
not really. We refactored all the code, and removed all I/O operations from within `Db.Transact`

[2016-08-02 08:19] atifwaqar commented on #3733
Also @chrhol investigated this issue on our live server when the DB was in hang state. I think he have a better knowledge on this issue.

[2016-08-02 08:19] linkdata commented on #3733
And you have no thread synchronization mechanisms (locks, mutexes, semaphores etc) inside `Db.Transact()` either?

[2016-08-02 08:20] atifwaqar commented on #3733
No we dont use it anywhere in the code

[2016-08-02 08:22] linkdata commented on #3733
You're probably right. I think he's on vacation now though.

That's really weird then. I don't have any obvious candidates for the behavior then.

[2016-08-02 08:29] atifwaqar commented on #3733
I agree.
Ok, Just to be 100% sure again, i'll go through all `Db.Transact` in my code today, and verify if we still have any I/O operations there.

[2016-08-02 08:33] linkdata commented on #3733
It's really weird that you have hundreds of regex's running and no CPU load. A regex operating on strings should be CPU-bound. Doing more of them in parallel than you have CPU cores will slow things down due to thread context switching and trashing the cache, but the CPU load should still be high.

[2016-08-02 08:34] linkdata commented on #3733
Is one of the arguments to the regex actually a `Stream` or something else hiding some I/O?

[2016-08-02 08:48] atifwaqar commented on #3733
I agree with you. and this is weird, the load is not there for regex.
Also, I am using StarCounter's log system alot, and most of it is inside `Db.Transact`. Now that i think of it, it can also be an I/O operation. Am I right on this?
[code]

[2016-08-02 08:50] linkdata commented on #3733
They most certainly could be. It'd be weird if they weren't, to be honest. But I'm not familiar with that part.

[2016-08-02 08:54] linkdata commented on #3733
Yeah, those are doing IPC, so that's I/O. Might be an IPC channel congestion issue.

[2016-08-02 08:56] atifwaqar commented on #3733
Let me fix those first. I really hope this solves the issue.

[2016-08-02 09:00] linkdata commented on #3733
Hmm.. possibly you're doing some database work from within the regex callbacks. That would explain them not using CPU if the IPC channels are full and the database not responsive.

[2016-08-02 11:53] linkdata commented on #3746
Known issue, being discussed in https://github.com/Starcounter/Starcounter/issues/3032

[2016-08-02 11:57] linkdata commented on #3741
Not that I'm aware. I've suggested elsewhere that we should probably implement the [Techempower benchmarks](https://www.techempower.com/benchmarks/) for SC.

[2016-08-02 12:15] miyconst commented on #3741
I would rather implement something standalone. The reason for this is that I want to compare Starcounter performance between machines, not Starcounter vs something else on the same machine.

I can take this task on me and develop a test suite like a side project, but I need some tips, what tasks would actually compare Starcounter performance.

[2016-08-02 12:38] linkdata commented on #3741
Any benchmark suite would fulfill that requirement. Being able to compare to other products doesn't prevent comparing against itself on different machines or between different versions.

[2016-08-02 12:49] miyconst commented on #3741
Let's discuss it a bit when you are in the office, it seems like you are not catching my idea.

[2016-08-02 13:02] linkdata commented on #3741
After discussing (I was in the office :), I recommend seeing if https://github.com/StarcounterPrefabs/LogStreamerBulker will suffice.

[2016-08-02 13:04] miyconst commented on #3741
Thanks @linkdata I will use the source code to make some nice benchmark with UI.

[2016-08-02 14:03] atifwaqar commented on #3733
Ok, so there were quite a lot of loggings inside Db.Transact.
We will launch this new refactored code. lets hope it works fine.

[2016-08-03 05:37] miyconst opened #3774 "Scheduling.ScheduleTask - what is schedId and documentation"
I am trying to use `Scheduling.ScheduleTask` to execute some code in multi-thread mode.

The `Scheduling.ScheduleTask` method has a third parameter `byte schedId = 255`.

- If this is `schedulerId`, then why `schedId`?
- How do I get list of available schedulers?
- What happens if I pass a wrong value in there?

How to make sure that the scheduled tasks will be distributed between all available sc

[2016-08-03 06:02] miyconst opened #3775 "Session.ForAll executed right after another Session.ForAll ignored"
In my app I have the following code:

[code]

The second `Session.ForAll` block never executed and the `"Session.ForAll #1"` log entry never appears in the log.

You can test this via my [Playground](https://github.com/miyconst/Playground/).

- Start the app.
- Go to `http://localhost:8080/playground`.
- Click `Add items via Session.ForAll`.
- Check the log entries or observe on screen changes.

[2016-08-03 08:38] linkdata commented on #3774
No clue. Bad speller?

`255` means to use some unspecified scheduler (round-robins in current implementation). Range is from zero to `StarcounterEnvironment.SchedulerCount - 1`.

Probably nothing good.

The main use case for `Scheduling.ScheduleTask` is to queue up some `Action` for execution onto one of the SC database schedulers so you can do database operations. Don't confuse this with .NET `Ta

[2016-08-03 08:42] linkdata commented on #3775
I'm pretty sure `Session.ForAll()` has been deprecated. You're now supposed to track your active sessions and iterate over them.

[2016-08-03 11:34] miyconst commented on #3775
As I remember I asked @alemoi to get this function back, and he did so.

[2016-08-03 11:37] miyconst commented on #3774
Today I tried the things again, and scheduling tasks on `[0, 1, 2, 3, 4]` schedulers actually execute it on different cores.

I still would like to change the API and provide documentation as well as inline code comments.

It would be good to replace `StarcounterEnvironment.SchedulerCount` with list of schedulers and update `Scheduling.ScheduleTask` method to accept a scheduler rather than it's nu

[2016-08-03 11:41] linkdata commented on #3775
Oh, ok.

[2016-08-03 13:29] alemoi commented on #3775
`Session.ForAll()` is valid. I will check the example, probably session died between calls or something.

[2016-08-03 13:41] alemoi commented on #3774
Just to remind here is our documentation on scheduling in Starcounter: http://starcounter.io/guides/transactions/running-background-jobs/

[2016-08-03 17:36] bigwad commented on #3659
Numerous improvements have been pushed.
One of them is a filtering of log entries based on a table name. Pass Func<string, bool> predicate to ILogManager.OpenLog to enable filtering. The predicate is assumed to be idempotent.

[2016-08-03 17:36] #3659 closed

[2016-08-03 20:23] alemoi commented on #3775
By some reason both tasks start to run on the same scheduler but different threads. I first thought its because of log.debug, but no.

[2016-08-03 20:50] alemoi commented on #3775
The scheduler seem to pick a new task right during the call to `sccoredb.sccoredb_set_current_transaction`, which is probably causing yielding:
![image](https://cloud.githubusercontent.com/assets/208134/17381404/058cd6c0-59cc-11e6-8ccb-43be8bec4f24.png)
I need a discussion with @linkdata and @dan31 and @bigwad regarding this.

[2016-08-04 07:41] miyconst commented on #3252
There should also be a proper message when a wrong value is provided for the `Html` property.

The message should not only include the wrong value of the property, but also list of all paths where file was looked for.

[2016-08-04 12:28] atifwaqar opened #3776 "Question : Does modifying Json changes data in DB?"
I have the following code :
[code]

`info` is a Json object. If I dont use `Db.Transact` I get an exception on `info.Products.Name = "Test";`. The code runs fine when I have the `Db.Transact`.
Should I expect the DB value changed?

[2016-08-04 13:15] miyconst commented on #3776
@atifwaqar in your case the JSON view-model represents database objects. The values are not copied to the view-model, they are just shown in there.

Updating view-model will update the database object. This is also true for non database objects.

[code]

In this case both `json.Name` and `item.Name` will be the same and equal to `Custom view-model`.

[2016-08-04 20:21] mtornwall opened #3777 "ScErrOutputBufferToSmall for long SQL parameters"
If a very long string parameter is passed to `Db.SQL` an `ScErrOutputBufferToSmall` error occurs. Unfortunately the message is not very informative, so unless you're aware that you are dealing with very long strings (I wasn't) you're probably in for a frustrating debugging session.

Personally I think it's a bug that you can't pass arbitrarily (within reason of course) long strings to `Db.SQL`. Bu

[2016-08-04 22:10] mtornwall commented on #3774
`SchedulerCount` implicitly defines the list of schedulers as noted by @linkdata. I think this would be an unfortunate and unnecessary API change that would break existing applications (disclosure: it will break my code, so I'm biased :-)).

[2016-08-05 13:48] alemoi commented on #3774
I added the check to verify correct scheduler ID supplied and renamed the parameter.

[2016-08-07 09:54] iliassays opened #3778 "SystemUser.SignInSystemUser(Username, Password) throwing object reference error"
I am trying to use SystemUser.SignInSystemUser out of SignIn app. It is throwing me following error.  Please have a look.

[code]

[2016-08-07 14:05] miyconst commented on #3778
@iliassays you can access the source code of the `Simplified` library here - [StarcounterPrefabs/Simplified](https://github.com/StarcounterPrefabs/Simplified).

The exception is pointing to this like:

[code]

The most likely reason is that `Session.Current` is `null`, means you have not created `Starcounter.Session` in your app.

[2016-08-08 07:09] linkdata commented on #3733
Are you still seeing this problem?

[2016-08-08 07:42] atifwaqar commented on #3733
Yes. its still an issue. Trying to detect the code location using profiler

[2016-08-08 07:59] miyconst commented on #3778
@iliassays I am closing the issue since you have solved your problem. Feel free to reopen if there are still some questions left.

[2016-08-08 07:59] #3778 closed

[2016-08-08 08:07] linkdata commented on #3733
Can I have a look at the code?

[2016-08-08 12:44] atifwaqar opened #3779 "DbObject gets corrupted while entering DbSession()"
SC Version : 2.2.1.2850

State 1 (Before entering DbSession. `ca.ObId` & `ca.IsFacebookAdNeeded` displayed fine):
![first state](https://cloud.githubusercontent.com/assets/4388707/17480060/53615b48-5d76-11e6-9062-6f682fece2f6.png)

State 2 (After entering DbSession. `ca.ObId` is still there but code can not access `cs.IsFacebookAdNeeded` or any other Db attribute):
![second state](https://cloud.gi

[2016-08-08 12:49] Ripipip commented on #3733
You can have access to the code but please add my on Skype at "andre.hegge" first, if you can :)

[2016-08-08 12:53] linkdata commented on #3733
Thanks. I don't have Skype, but I think you have hangouts? I'll try adding you there.

[2016-08-08 12:56] atifwaqar commented on #3779
One thing I forgot to mention is, the code is in a Handler, database object `ca` is created in the same handler. and then I try to use the created object `ca` inside `DbSession`.
I get exception when i access it in `DbSession`, but when I query in SC Admin Panel, I can see the object.

[2016-08-08 13:25] linkdata commented on #3779
/cc @alemoi

[2016-08-08 13:35] linkdata commented on #3733
You're using `DbSession.RunAsync()`.

That's deprecated. It's been replaced by `Scheduling.ScheduleTask()`. Be careful using that though - keep your delegate runtimes as short as possible (milliseconds). Using those wrong can block the database, same symptoms as IPC queue congestion.

If you don't need to access the database, run background tasks using standard .NET `Task`s and threads. If you som

[2016-08-08 13:40] miyconst commented on #3779
@atifwaqar could you please provide full stack of the exception thrown?

[2016-08-08 13:48] alemoi commented on #3779
@atifwaqar please use `Scheduling.ScheduleTask` because `DbSession` is deprecated. Also let's see what `DbException` is thrown there.

[2016-08-08 13:48] atifwaqar commented on #3779
@linkdata mentioned about `DbSession.RunAsync()` in https://github.com/Starcounter/Starcounter/issues/3733#issuecomment-238237976

I updated the code with `Scheduling.ScheduleTask()` and it works fine now.
@Ripipip can you verify at your end as well?

[2016-08-08 13:52] atifwaqar commented on #3779
I'm not getting any DbException now (after the fix).
But if you want the exception, I can revert the code for you to reproduce the exception.

[2016-08-08 15:08] ivarbergman opened #3780 "Support for Byte range requests in Response.StreamedBody"
Hi!

I'm trying to use StreamedBody to serve video content for direct playback in browser, via the html5 tag `video`. But the playback fails. Network inspection  reveals that the mp4 file is downloaded. (Playback works when serving the same file with IIS.)

After some reading I believe that the web server needs to support Byte ranged request to allow playback in the browser.

Is this some thing th

[2016-08-08 15:11] miyconst commented on #3780
cc @alemoi

[2016-08-08 18:55] alemoi commented on #3780
You can probably implement a custom handler that processes such requests that has offset/position in video stream. Have you tried this?

[2016-08-08 19:00] alemoi commented on #3780
I don't think we will support video streaming with Starcounter 2.2/2.3 but in later versions I think this would be possible. @dan31 what do you think?

[2016-08-09 07:26] ivarbergman commented on #3780
Thanks for the feedback! I thinks we for now will use a IIS setup to serve video content. If I have time I might look into a custom handle.

(But eventually it would be nice to have Starcounter handle these request. The setup up would be simpler when it comes to authorization and access control if we could manage the stream within Starcounter.)

Thanks

[2016-08-09 07:59] chrhol commented on #3759
Looks like the implementation that dynamically created needed properties from a dataobject does not handle enums. I will take a look at the code and see how to add support for it.

[2016-08-09 11:08] warpech opened #3781 "Visual Studio 2015 hangs when opening a project from Windows Explorer"
Visual Studio 2015 Community often (but not always) hangs when opening a project by double clicking on the **sln** file in the Windows Explorer.

It opens project correctly when starting VS and then opening from the recent projects or File > Open.

Last reproduced by me today with Products app (https://github.com/StarcounterSamples/Products/commit/f384810fa89b7fae9480618f1a0ce03f7a280aa8)

Visual

[2016-08-09 11:43] warpech commented on #3781
For me this happens usually when I am opening a project from a freshly cloned GitHub repo (for the first time).

[2016-08-09 11:51] chrhol commented on #3759
I've pushed a fix to develop, and will soon merge it to pnext. Can you please verify that it works, when you have time @ubbeK or @miyconst

[2016-08-09 12:24] chrhol commented on #3755
I have reproduced it and have an idea what's causing it. If I'm correct it shouldn't be that difficult to fix.

[2016-08-09 13:27] chrhol commented on #3755
The problem was a shortcut in the jsonserializer that skipped some parts if no template was defined. I fixed this so that an empty jsonobject gets no special treatment in case it's a part of a merged result.

Pushed to develop and pnext.

[2016-08-09 13:28] chrhol commented on #3755
Let me know when you verified that it works as expected so I can close this issue :)

[2016-08-09 14:04] chrhol commented on #3771
There is some mixup here with an older change that I made (#3583), so in this case the old sibling (SubPage) gets overwritten and existing siblings gets connected with the new page (DatePage). So not a problem with the merger (which is correct, only DatePage is merged)  or the patches that are sent, but a problem in another place inside TypedJSON code.

Not really sure how to fix it yet, will have

[2016-08-10 07:35] chrhol commented on #3771
It was a quite small change needed to fix this. I have pushed a fix to develop and pnext.

Could you please verify if it works as expected when you have time @miyconst

[2016-08-10 07:36] miyconst commented on #3759
I confirm the fix, thank you @chrhol.

[2016-08-10 07:36] #3759 closed

[2016-08-10 07:41] miyconst commented on #3755
Checked, works good! Thank you.

[2016-08-10 08:02] chrhol commented on #3601
I think this issue is answered and will close it.

[2016-08-10 08:02] #3601 closed

[2016-08-10 10:05] miyconst opened #3782 "End of content reached unexpectedly"
I am seeing this exception for no visible reason:

[code]

[code]

[code]

[code]

cc @alemoi, @chrhol

[2016-08-10 10:09] miyconst commented on #3782
I don't know what debugging info I can provide, because it does not always file with the exception. Only fails when I manually debug app with `F10` on each line. If I don't debug it either goes well or server stops sending model changes to client side.

[2016-08-10 10:29] miyconst commented on #3782
After some more investigation with @chrhol we figured out that the reason for this exception is puppet reconnection.

- Server does not respond while the code execution is stopped for debugging.
- Puppet tries to reconnect sending multiple requests.
- The requests waits till debugging is finished.
- Puppet aborts the requests and sends new one.
- Once debugging is finished those aborted requests r

[2016-08-10 12:33] warpech commented on #3746
@linkdata are you sure it is the same? In @Mnosek's case, the code that causes the exception is not async.

[2016-08-10 12:46] atifwaqar opened #3783 "Question : How to check object Count in `QueryResultRows`"
I have following C# code :
[code]

Currently if I need to check count I either use `foreach` loop or make another query as following :
[code]

But is there any non-expensive way to get count? like 'imageTemplates.Count`?

[2016-08-10 12:52] miyconst commented on #3783
@atifwaqar you can use the following method to get number of object inside an `IEnumerable`.

[code]

**Note:** `IEnumerable` is not an `IList` and it may return different result per each call. Read more here: [IList vs IEnumerable for Collections on Entities](http://stackoverflow.com/questions/376708/ilist-vs-ienumerable-for-collections-on-entities).

[2016-08-10 12:52] #3783 closed

[2016-08-10 14:16] chrhol commented on #3755
Found another place, when gathering changes, which also suffers from this. Siblings are not checked properly. Will push a fix for it shortly.

[2016-08-10 14:33] chrhol commented on #3755
Pushed the fix to develop now. Will push it to pnext a bit later tonight.

[2016-08-10 15:23] bigwad commented on #3646
implemented as described [here](https://github.com/Starcounter/Starcounter/issues/3646#issuecomment-221230875)

[2016-08-10 15:23] #3646 closed

[2016-08-10 17:27] bigwad commented on #3750
https://git.starcounter.org/BlueStar/level0/commit/c60adbb4669492bb3512aa87267f24ad8e9dc628

[2016-08-10 17:27] #3750 closed

[2016-08-10 19:28] atifwaqar opened #3784 "Issue in Frontend (or may be in Session or Handlers or WebSocket)"
SC Version : 2.2.1.2850

This is correct behavior. All windows/Chrome-Tabs are opened separately with some time interval. All are different pages, with their separate handlers.  :
![correct behavior](https://cloud.githubusercontent.com/assets/4388707/17567078/2e6ca058-5f3e-11e6-9834-e51ae9daf25e.jpg)

In following 3 images, I opened all 4 tab together, (Refreshed all windows within half second) :

[2016-08-10 19:35] miyconst commented on #3784
@atifwaqar could you please explain what means "wrong data" and why it's "wrong". What is the exception message and stack trace?

[2016-08-10 20:28] Mnosek commented on #3781
Same for me, it doesn't depend on Starcounter version (I use the newest pnext through last month)

[2016-08-11 06:36] atifwaqar commented on #3784
By wrong data, I mean wrong page. if you see the urls/handlers, they are different for all 4 pages. but in 2nd image, 2 different urls received same page.
The expected behavior is in 1st image.
And there is no stack trace or exception message in SC Admin Log.

[2016-08-11 06:47] miyconst commented on #3784
@atifwaqar please investigate the `Patches` tab of the Starcounter Debug Aid and provide here the reason of disconnection.

It is not possible to debug or check this issue without source code available. Can you create a small application which would reproduce the issue and share it via GitHub?

[2016-08-11 07:22] miyconst commented on #3771
The issue is fixed. Thank you @chrhol.

[2016-08-11 07:22] #3771 closed

[2016-08-11 07:32] linkdata commented on #3779
Seems fixed after replacing `DbSession.RunAsync()` with `Scheduling.ScheduleTask()`. Please reopen if the issue is seen again, or if @alemoi wants to try reproducing it.

[2016-08-11 07:32] #3779 closed

[2016-08-11 08:34] chrhol commented on #3755
Which I didn't do. Pushed now though!

[2016-08-11 10:46] miyconst commented on #3755
Found another bug. See my [Playground](https://github.com/miyconst/Playground/) as usual.

- Start both apps: Playground and Subground.
- Open `http://localhost:8080/playground`.
- Click `Load sub page` button.
- It loads two responses from Playground and Subground.
- Click `Unload sub page`.
- It removes response from Playground, but keeps the one from Subground.

**Note:** the `Unload sub page`

[2016-08-11 10:47] miyconst commented on #3755
@chrhol sometime ago you told me to empty JSON object by setting the value to `new Json()` because setting to `null` had some issues. Are those issues resolved now? How should I empty the JSON objects?

[2016-08-11 10:49] chrhol commented on #3755
Yes, this is how we implemented it. When simply replacing a partial json, the other partials are kept. Ideally you would only control your apps responses, not all other apps so I'm not sure what the bug is in this case. Maybe that setting it to null removes other apps responses?

[2016-08-11 10:50] chrhol commented on #3755
Just to clarify: Somewhere there is a bug or inconsistency, I'm not sure what the correct behaviour of this is.

[2016-08-11 10:51] chrhol commented on #3755
Since we dont support null-values, using null will produce undefined behaviour. It might work in some cases and in other not.

[2016-08-11 10:54] miyconst commented on #3755
I would consider it be a bug.

Replacing a JSON object with another value should replace app's own response with the value provided **and** responses from other apps with the one attached to the new value. If there is no values attached to the new value, then the old one should simply be removed.

It is ridiculous to do the following to just empty a JSON value.

[code]

[2016-08-11 10:55] chrhol commented on #3755
But then stateful partials will not work, which was the reason we added this behaviour in the first place...so we need to decide which features we want

[2016-08-11 10:57] chrhol commented on #3755
I would like to take a step back and decide how things should work before fixing anything more. Especially when it comes to merged partials beacuse there are a lot of vaguely defined behaviour now, and as seen we have some conflicting features.

[2016-08-11 11:10] joozek78 opened #3785 "Starcounter sample apps do not work in Edge 38.14393 (Windows 10 Anniversary Update)"
Starcounter apps doesn't work in latest edge browser. The window is blank (nothing renders) and the following error is logged in console:

See attached screenshot:
![image](https://cloud.githubusercontent.com/assets/6013217/17586878/beb25ef6-5fc4-11e6-85e4-8da6dccdab1b.png)
(I suspect that 404 is unrelated, but I'm not sure)

[2016-08-11 11:28] k-rus commented on #3785
As I heard Win10 anniversary update does not really work well even without Starcounter. Microsoft has many problems with this update, thus I am wonder if this issue related to Starcounter or Microsoft.

[2016-08-11 11:45] joozek78 commented on #3785
Example polymer apps work in this version, only SC apps do not. So I guess
there's at least a little bit of guilt on our side ;)

On Thu, 11 Aug 2016 at 13:28 Ruslan Fomkin <notifications@github.com> wrote:

[2016-08-11 12:13] miyconst opened #3786 "Change behavior of statefull partials"
Right now we have the following behavior:

**Launcher.MasterPage.json**

[code]

**SignIn.MasterPage.json**

[code]

The SignIn has handler to return `SignInForm` and it's mapped to `/sc/mapping/user`.

Launcher fills `UserPage` with a `Self.GET`. In the result we get the following JSON tree:

[code]

The `Launcher.UserPage.SignIn` object is a statefull partial from the `SignIn` app. That is why w

[2016-08-11 12:14] miyconst commented on #3755
The last issue has been moved to it's track: https://github.com/Starcounter/Starcounter/issues/3786.

Closing this one.

[2016-08-11 12:14] #3755 closed

[2016-08-11 12:15] chrhol commented on #3786
Thank you for investigating this @miyconst! I will change the behaviour to how it's explained in this issue.

[2016-08-11 12:23] warpech commented on #2931
@chrhol, the file template actually ended up containing the text `{cursor goes here}`: https://github.com/Starcounter/Starcounter/blob/48c8ff5c8ab2c2a86b4fba2dfaec34ea16f3d7ca/src/Development/Starcounter.VS.HTMLTemplateItemTemplate/HTMLTemplate.html#L5

My intention was not to put that text there, but to place the text caret in that position. Is that possible?

[2016-08-11 13:12] atifwaqar commented on #3784
Here I reproduced the error on different pages :
![image](https://cloud.githubusercontent.com/assets/4388707/17589458/3a61ba14-5fd5-11e6-947c-a5e8ce1a688d.png)

Error with Patches open :
![image](https://cloud.githubusercontent.com/assets/4388707/17589499/75b65246-5fd5-11e6-856c-fbfcddce983e.png)

and creating a small application which would reproduce the issue is gonna take some time, but if you

[2016-08-11 13:51] atifwaqar opened #3787 "Question : Install SC on 1 machine with 2 user accounts"
I have 2 user accounts in my laptop. And VS + SC is installed. And I can Open/Build/Run the project in only 1 user account.
But when I try to open the same project in 2nd UserAccount, I get "Project not supported" error in VS. Is there a workaround for this sort of issue?

[2016-08-11 14:01] miyconst commented on #3787
Unfortunately this is not supported at the moment.

Closing this issue as duplicate of: https://github.com/Starcounter/Starcounter/issues/2929.

[2016-08-11 14:01] #3787 closed

[2016-08-11 14:01] miyconst commented on #2929
@andwah, @alemoi can we do something about it?

[2016-08-12 06:55] eriohl commented on #3636
How do you figure it is a race condition? A race between which parties?

[2016-08-12 07:58] linkdata commented on #3636
[SWAG](https://en.wikipedia.org/wiki/Scientific_wild-ass_guess).

(Insert joke about US election here)

I'm just relaying my gut feeling. I've no clue if the thread running the code shares data with other threads or processes. Could just as easily be a side effect of undefined behavior triggering pseudo-randomly. Or deranged gophers tunneling inside the CPU.

If you've gone through the code and ar

[2016-08-14 18:34] miyconst opened #3788 "How could a single patch contain items to add and remove the same item"
I have such situation:

![image](https://cloud.githubusercontent.com/assets/6435556/17651025/8510b148-625d-11e6-9880-472226414e22.png)

A single JSON patch contains two operation, to add and remove the same item. Even if an item was added and then removed on server side, it does not make sense to send this to client side.

cc @chrhol

[2016-08-15 08:30] miyconst opened #3789 "Access violation writing location 0x000000000000001C"
I am trying to attach debugger to `sccode.exe` process to debug a starting application. And getting infinite amount of the following errors:

[code]

Is it something I am doing wrong?

cc @alemoi

[2016-08-15 08:59] per-samuelsson commented on #3781
Not labeling this a bug just yet, until we know for sure it's caused by Starcounter.

A quick search shows hanging VS on opening solutions is not at all something new. Especially [this Stackoverflow thread](http://stackoverflow.com/questions/20120705/visual-studio-2013-hangs-when-opening-a-solution) has quite a lot of content, from 2013 and forward.

This [recent comment](http://stackoverflow.com/

[2016-08-15 09:13] alemoi commented on #3789
Strange, I never experienced this myself. Seems its some database related operation, since the library is sccoredb.dll. Do you see anything in the log? Do you have this only when attached?

[2016-08-15 09:17] miyconst commented on #3789
This happens immediately after attached to debugger. Visual Studio keeps popping up a dialog box with option to select a `*.cpp` file, don't remember the exact name.

[2016-08-15 09:18] miyconst commented on #3789
Does not happen if I start app in debug mode.

[2016-08-15 09:43] alemoi commented on #3789
Can put the file name here with code line that it complains about? Thanks. I can provide you with the actual file, to see where it throws an exception there.

[2016-08-15 09:46] miyconst commented on #3789
![image](https://cloud.githubusercontent.com/assets/6435556/17661177/de189d8e-62dd-11e6-8ed3-37643d1df0cc.png)

[2016-08-15 09:46] miyconst commented on #3789
[code]

[2016-08-15 09:52] miyconst commented on #3789
![image](https://cloud.githubusercontent.com/assets/6435556/17661327/c7aacefe-62de-11e6-8702-be50f786823d.png)

[2016-08-15 10:00] alemoi commented on #3789
So its some transaction creation code. Strange why its throwing access violation, maybe its actually some misleading exception. @eriohl @bigwad do you know anything about it?

[2016-08-15 10:06] eriohl commented on #3789
My guess is that this is not an unhandled exception but a first-chance exception intercept? This piece of code is excepted to sometimes throw an access violation exception so this is not a problem.

[2016-08-15 10:08] miyconst commented on #3789
Should I just ignore it or? It's very annoying as it throws the exception every 2-4 seconds. I can disable it, but then I won't see other exceptions as well.

[2016-08-15 10:34] eriohl commented on #3636
In the logopt case I can't really see how a race condition could be involved seeing that it is single threaded and only reads static data, although it does do asynchronous reads.

But OK. I'll go over the code again see if I can get any new inspiration. Otherwise I'll archive this one for now and hopefully we'll get some more information the next time those cosmic rays comes around.

[2016-08-15 10:41] miyconst commented on #3789
As it turns out I can disable only this one specific exception. Thanks for help @eriohl. Closing the issue.

[2016-08-15 10:41] #3789 closed

[2016-08-15 10:42] eriohl commented on #3749
... @dan31 @chrhol ?

[2016-08-16 07:11] chrhol commented on #3788
Is the array in question bound or are items added and removed manually? If it is the latter then there are no checks or optimizations if the same item is added and removed, the operations are simply logged, and it is up to the application to decide what behaviour is wanted.

[2016-08-16 07:13] miyconst commented on #3788
The array is bound to items, but an item was added manually :D. So, this is a known limitation, and not a bug?

[2016-08-16 07:18] chrhol commented on #3788
That's interesting. Then it might be a bug, or some inconsistency in handling the array. Should it be allowed to add and remove items directly for a bound array do you think? I'm not sure what the proper way is here.

Was the item added on purpose, or was the point to add an item to the bound data?

[2016-08-16 07:22] chrhol commented on #2931
:smile: I was actually wondering what that code did, but I simply copied everything.

No that's not possible. There is no way to (or at least no way without adding some strange hack in the extension) to control where the caret is positioned. The template is simply a static file that are copied and renamed when added.

What we could do is add a comment there instead saying that usercode goes here o

[2016-08-16 07:26] miyconst commented on #3788
Well, I thought of "helping" the observer by adding the newly added item manually. It was something like this:

[code]

I know it's kind of silly and manual item addition should not disable the call to `ItemsBind`, but this is how I ended up in this situation.

In my case the newly added item was not returned by the `ItemsBind` property, and on client side I saw a patch to add and then remove the

[2016-08-16 08:35] warpech commented on #2931
That will be food, thanks!

[2016-08-16 13:00] chrhol commented on #3786
I have pushed some changes now (basically removed my other "fix" for this in #3583 :smile:). Tests and running in Playground seems to work as expected now.

@miyconst: Could you please also confirm that the behaviour is as we want it to now?

[2016-08-16 13:09] chrhol commented on #3583
The "fix" I made in this issue have been removed. It did not work as expected. Instead the behaviour should be as described in #3786

[2016-08-17 07:54] miyconst commented on #3786
Seem to be working as described. @warpech please take a look and see if it breaks anything for SWO.

cc @ubbeK, @aloscha, @joozek78, @Mnosek

[2016-08-17 08:48] Mnosek commented on #3781
I've had a problem again, so it was a good opportunity to make some more research according to given links.

Unfortunately nothing worked for me, so I've tried to play around with VS extensions and started to disable them one by one. After disabling Starcounter VS2015 freezing stopped (of course VS was unable to open solution properly because extension was missing), but then I enabled Starcounter

[2016-08-17 08:51] miyconst commented on #3781
I have never get this error myself, but yesterday @Joltrix got exactly the same issue on a new machine with clean Windows + VS + Starcounter installation.

[2016-08-17 09:08] k-rus commented on #3751
The bug is reproduced in test SQLDatetimeOrder3751_test currently in branch bug/SQLDatetimeOrder3751

[2016-08-17 09:40] chrhol commented on #3788
I assign it to me. I think either this should work or it should not be allowed to directly add or remove an item from a bound array (probably easier to fix).

[2016-08-17 09:47] warpech commented on #3786
@aloscha, @Mnosek could you please update to PnextNightly 2.3.2998 and see if partials work as before?

[2016-08-17 09:47] miyconst commented on #3788
I think for now just throwing an exception when trying to add an item to a bound array would be fine.

Also it should be easy to remove added and then removed item from server -> client patch.

[2016-08-17 12:10] aloscha commented on #3786
For me works as before :)

[2016-08-17 12:50] atifwaqar commented on #3784
@miyconst Any luck with this issue?

[2016-08-17 13:05] miyconst commented on #3784
@atifwaqar sorry, not yet.

[2016-08-17 16:20] warpech opened #3790 "Staradmin unload command crashes and stops the database"
I am trying to make a backup of a database to a SQL file (to load it to another system) using the `staradmin unload` command.

Unfortunately, the command crashes with an stack trace. After the crash, the database is stopped.

This happens on "Playground Europe" machine (AWS), but I guess it can be reproduced locally.

Starcounter 2.2.1.2895
App versions: Launcher 5.0.0-develop.0, People 4.0.0-deve

[2016-08-18 07:10] k-rus commented on #3790
Thank you for reporting. The error clearly states that you didn't load a class, for which a table exists in the database. Current unloading tool requires that a table to unload needs C# class to be loaded.

[2016-08-18 07:12] k-rus commented on #3790
more information in #2622 and #2623

[2016-08-18 08:05] Mnosek commented on #3786
It works for me either. I didn't notice any issues.

[2016-08-18 08:24] eriohl commented on #3757
sccoredbg is dropped.

[2016-08-18 08:39] eriohl commented on #3757
Metadata layer seems to, as a general rule, intercept all exceptions (```catch (...)```) and convert them to a vague error. So this needs to be addressed. Otherwise there is, I think, no unmanaged code that intercepts platform exceptions that might originate from the kernel (there are some catch all in legacy code still but I don't see them intercepting any error from the kernel).

Going over this

[2016-08-18 08:39] chrhol commented on #3786
I will consider this issue resolved then and close it! Thanks for the feedback!

[2016-08-18 08:39] #3786 closed

[2016-08-18 08:40] mmnosek opened #3791 "Broken docs links in VS 2015 Extension"
In Visual Studio 2015 "Extension & Updates" window there is a list of installed extensions. When you try to follow links in description of Starcounter VS2015 the 404 page on starcounter.com appears. This issue is about two links:
- More information http://starcounter.com/wiki/MoreInfoAboutExtension14
- Getting started http://starcounter.com/wiki/GettingStartedFromExtension14

[2016-08-18 08:42] chrhol commented on #2931
Can we consider this issue solved @warpech , or is it some point left to do for it?

[2016-08-18 08:48] bigwad commented on #3757
As to catch(...) - it's enough to make sure that we compile the code with /EHs or /EHsc flags (no /EHa) - then it won't catch SEH exceptions.

[2016-08-18 08:49] warpech commented on #3790
Yeah, sorry, I missed it. The table `OrganizationPerson` does not exist, because it was refactored a while ago. Most probably there are no objects of that type in the db.

Is there any chance to force unload the db without it? If not, then I guess I need to recreate and load the definition just for the sake of calling the unload.

What is the recommended workflow to avoid such problems? Should I n

[2016-08-18 08:54] warpech commented on #2931
Yes, well done! Closing.

[2016-08-18 08:54] #2931 closed

[2016-08-18 09:06] warpech opened #3792 "Remove dependency on Google Web Fonts"
Bootstrap theme that we are using requires Google Web Font. This is wrong for multiple reasons:

- privacy
- security
- requires to be online

Please fix this by overwriting `font-family`. Don't do this by hacking the Bootstrap theme, but by adding rules to our `bootstrap.html`.

[2016-08-18 09:35] warpech commented on #3790
Starting the following dummy app with command `star -d=databasename filename.cs` fixed the problem:

[code]

[2016-08-18 09:49] joozek78 opened #3793 "Non-starcounter json treated as TypedJSON"
Problem
---

1. Add an existing JSON file to starcounter project
1. SC tries to compile it and build probably fails
1. It's because the file has build action 'TypedJSON' by default. You can change it in file properties -> Build action set to 'None'
1. It can be hugely confusing for user (build errors not always event hint that they come from starcounter, for user it can be 'error out of nowhere')

[2016-08-18 10:10] chrhol commented on #3793
Duplicate of #3075. I will close this one in favor of that one. As you noted though, the proposed change there has not been implemented yet.

[2016-08-18 10:10] #3793 closed

[2016-08-18 10:11] chrhol commented on #3075
Happened to @joozek78 as well.

[2016-08-18 10:16] chrhol commented on #2065
Similar/same issue as #3143 and also brought up by Mopedo, that certain names cannot be used. I will keep the other issue open since it has some more comments and close this one so we keep it all in one place.

[2016-08-18 10:16] #2065 closed

[2016-08-18 10:18] chrhol commented on #2066
List available on the first page for TypedJSON on starcounter.io: http://starcounter.io/guides/json/

[2016-08-18 10:18] joozek78 commented on #3075
Can't we just make it so 'TypedJSON' is not default type for jsons? I always feel that visual studio context menu has already been 'enhanced' to its limits :|

[2016-08-18 10:18] #2066 closed

[2016-08-18 10:25] chrhol commented on #3075
I guess it would depend on what the most common usage of json is in a C# Starcounter application. It's not only the type that needs to be set, also the custom tool property needs to be set correctly.

But what about the suggestion to only set these values when you include the code-behind file? Fairly specific to SC TypedJSON and would allow you to include any other json without getting any extra p

[2016-08-18 10:26] joozek78 commented on #3075
This is actually a great idea and I agree with it 100%

[2016-08-18 12:22] eriohl commented on #3757
Seems to me like not catching all exception and producing a vague error message would be a better approach.

[2016-08-18 12:24] eriohl commented on #3757
Exceptions thrown by the kernel on fatal errors upgraded to fail fast exceptions on throw. Seems to work as is should.

[2016-08-18 12:33] k-rus commented on #3790
The link above describes how to ignore non-loaded tables during unload. It is also possible to drop table using `DROP TABLE` syntax.

[2016-08-18 12:33] k-rus commented on #3790
I guess documentation needs to be improved to describe how to deal with such cases in the current version.

[2016-08-18 13:03] chrhol commented on #3727
I'm currently writing down a proposal for this and doing some investigation/prototyping of possible ways when it comes to declaring and registering callbacks, based on the existing issues that have been brought up. Will try to have something in place soon to post here.

[2016-08-18 15:32] bigwad commented on #3722
fixed by https://git.starcounter.org/BlueStar/level0/commit/0f51c90d7c48b31e1a9a6e4e7e0906dfe4d772dd

[2016-08-18 15:32] #3722 closed

[2016-08-18 19:14] alexanderstc commented on #3757
I'm feeling obliged to mention this here:

metalayer critically depends on proper c++ stack unwinding on any non-fatal exception.

[2016-08-19 08:44] per-samuelsson commented on #3781
If you can constantly reproduce it, that would be a huge step forward. When it occurs, attach a debugger to the "freezing" VS IDE and take a look at what threads are running. To debug the Starcounter extension, you would need Level1 sources (i.e. those in the current repo). Most of the implementation is in `Starcounter.VisualStudio.dll`.

The flow of that would be something like:

1. With Starcoun

[2016-08-19 08:52] warpech commented on #3781
@joozek78, since you have a configured Level1 environment, could you please try these instruction? I suppose you can reproduce this problem the same as me and @Mnosek.

[2016-08-19 10:56] chrhol commented on #3075
I've pushed the change above now. Existing json-files without a code-behind that are added/included to a SC project will no longer be treated as TypedJSON.

It's still possible to add a code-behind file as well though, and the json and code-behind will be grouped and properties set.

If a single json-file should be TypedJSON, you either have to create a new TypedJSON from the add new item dialog o

[2016-08-19 11:09] chrhol opened #3794 "Incorrect case-insensitive comparison for suppressing properties in generated code."
The implementation for the enhancement for automatic binding to code-behind property (#2964), by suppressing the codegeneration of accessor-properties if the property exist, incorrectly ignores case when checking if the property already existsts.

The code should be changed to do a case-sensitive comparison.

cc: @erikvk

[2016-08-19 11:43] chrhol opened #3795 "Allow usage of properties in JSON-by-example with the same name as a reserved name."
A similar issue as #3143, although not exactly the same so I opted to create a new instead of posting it there.

Brought up by @erikvk (Mopedo) recently. They have an existing json-model (from a 3rd party) which contains properties that .Net considers to be reserved keyword (in this specific case the name `ref`).

To be able to use TypedJSON at all for this, an ugly hack/workaround is needed.

A s

[2016-08-19 12:21] atifwaqar commented on #3784
Ok, Feel free to ping me if you need more details on the issue.

[2016-08-19 13:37] chrhol commented on #3794
I've made some changes for this and my initial tests seems to work fine. I will wait with pushing the changes until after the weekend though to avoid messing something up :smile:

[2016-08-19 13:46] joozek78 commented on #3781
I managed to reproduce and attach debugger. All threads had either native code or "external code" (so no call stack). I'll try again with my own build of SC, but since all pdbs are present SC code shouldn't be treated as "external", right?
[Threads dump for reference](https://gist.github.com/joozek78/4c0ffd74094e0f9b254e0c90d31879e8)

[2016-08-19 13:49] erikvk commented on #2600
@chrhol
+1 for the option to ignore undefined properties when populating a typed JSON.

[2016-08-19 13:57] joozek78 commented on #3781
Okay, with my build of SC I got the call stacks.
Main threads seems stuck in this:
[code]

I also have a few worker threads that seem to be in process of writing logs - nothing special, but I'm attaching for reference:
[code]

[2016-08-19 14:32] miyconst opened #3796 "Is it possible to define an index on type?"
@k-rus we support `IS` operator in the SQL queries, like this:

[code]

Is it possible to define an index for this comparison so it will be executed much faster?

[2016-08-19 14:36] eriohl commented on #2888
@k-rus @alemoi @bigwad : I had an idea on this with metadata creation. How about we run this ```star_create_metadata``` as part of the build process to create a template for the log file. Then when creating a new database we can use this template to initialize the first log element file. Then metadata tables will already be there when initializing the database. What do you think?

[2016-08-19 14:54] bigwad commented on #2888
Why do we need such compilation? Is it because we need to run star_create_metadata in exclusive mode. like singleton initialization?
Then probably it's better to come up with some generic technic to handle such issues? Won't we come across the same problem on metadata update otherwise?

[2016-08-19 15:13] eriohl commented on #2888
Yes. I'm trying to find a pragmatic way to make this work that does not involve rewriting a lot of code. I recognize it is not a beautiful solution.

Well, the base metadata tables are kind of special. I think you have to basically recreate the database to change these anyway?

[2016-08-19 15:46] warpech opened #3797 "Upgrade Polymer to version 1.6.1"

[2016-08-19 15:58] warpech commented on #3797
Change submitted, running a test build

[2016-08-19 18:17] miyconst opened #3798 "Invalid Session.Current treatment"
This issue was originally reported by @atifwaqar at https://github.com/Starcounter/Starcounter/issues/3784.

Now I have made a very simple example in my [Playground](https://github.com/miyconst/Playground/) which reproduces the issue.
- Clone the application.
- Start Playground project.
- Open `http://localhost:8080/playground/child/apple`.
- Quickly click on all links on the page with middle mous

[2016-08-19 18:19] miyconst commented on #3784
@atifwaqar thank you very much for reporting this problem. I was able to reproduce the issue and reported it with right description and steps to reproduce: https://github.com/Starcounter/Starcounter/issues/3798. Closing this one.

[2016-08-19 18:19] #3784 closed

[2016-08-19 18:34] miyconst commented on #3798
After some more investigation and logging I found the following:

On middle mouse click Chrome opens a new tab and establishes connection, but does not finish request. As soon as user navigates to a newly opened tab Chrome finishes the request.

Somehow it happens, that the last opened tab (established connection) is treated as the only one.

[2016-08-19 18:36] miyconst commented on #3798
New steps to reproduce:

- Clone the application.
- Start Playground project.
- Open http://localhost:8080/playground/child/apple.
- Click on `Apple` and `Orange` links with middle mouse button (opens in new tab).
- **Focus the first opened tab (`/playground/child/apple`), the title says Orange**.
- You can do the same thing for any other two tabs.

[2016-08-19 18:37] miyconst commented on #3798
This issue is also reproducible in FireFox, so this is not a Chrome issue for sure.

[2016-08-19 19:00] miyconst commented on #3798
Even deeper investigation shows the following:

- User opens page `A`.
- Browser requests page `A`.
- Server creates session `A` and sets cookie `Session = A`.
- Chrome loads HTML and the cookie.
- Open page `B`.
- Browser requests page `B`.
- Server creates session `B` and sets cookie `Session = B`.
- Chrome loads HTML and the cookie.
- User focuses page `A`.
- Chrome starts to execute JavaScript

[2016-08-19 20:12] miyconst commented on #3798
I have made a local fix for the issue which contain the following:

- Update `PartialToStandaloneHtmlProvider` to set `remoteurl` or `<puppet-client>` element.
- Update `puppet-polymer-client` to use `remoteurl` attribute: `remoteUrl: this.remoteUrl || this.getAttribute("remoteUrl")`.
- Update `PuppetDOM` to do not use location set by cookie if the location was set by parameter.

The fix is not pu

[2016-08-20 09:22] k-rus commented on #3796
To discuss an efficient implementation I want to understand the use cases and what should be the correct data model. Obviously, selecting directly from Person with its own index will be the most efficient approach, but you have some requirements, which you don't describe in the issue. It is possible to utilise the global index, which can be enough if you don't have filtering index as in your examp

[2016-08-20 11:31] warpech commented on #3797
Tests passed, merging

[2016-08-20 11:43] warpech commented on #3797
Done

[2016-08-20 11:43] #3797 closed

[2016-08-20 11:53] warpech commented on #3798
Thank you for investigating this.

I'd really love to see a solution that does not require custom generated HTML documents.

But then additional hit for the HTTP handler on the server would be needed, so the cost is high.

[2016-08-20 11:54] warpech commented on #3785
@tomalec Could you please take a look?

[2016-08-20 12:17] miyconst commented on #3798
What is the solution with additional request?

[2016-08-21 08:26] miyconst opened #3799 "Long running handlers hang entire session"
If a an action invoked by user takes too long time then entire session hangs. The ping patches do not receive response and Puppet tries to reconnect.

Also if user tries to navigate to any other page the server still does not respond. The only way is to start a new session by opening a new tab or waiting till operation completes.

Is it something we can do about it? IIS for example aborts all aban

[2016-08-22 05:40] dan31 commented on #3749
@eriohl thanks for popping up this issue. let's keep it until 2.3 release. @atifwaqar presumably some particular change in your app code let to get this behaviour pop up. @atifwaqar do you think you could dedicate some time with you soon to verify running the same data and code in 2.3? (you can download it from our download site already). The only question is that you'd need to reload your data fr

[2016-08-22 06:10] k-rus commented on #2888
I don't see any obstacles if metadata are created on build server. It also means that the creation of initial metadata cannot fail. This, of course, will complicate building process and also creation of databases. How would the meta-tables with meta-data appear in new databases? Will they be read from the log?

Yes, currently it is required to start with an empty database and reapply DDLs to get c

[2016-08-22 06:15] k-rus commented on #3796
My first impression is that the query execution should use an index on `Person` if it is defined, however I am not sure if there is an optimisation rule for this. Or what do you mean?

[2016-08-22 07:24] miyconst commented on #3796
What index should be defined on the `Person` class to get it work?

If the `IS` comparison applied on a property like:

[code]

Can I define an index on the `Company.Owner` property? Will this index be used with the `IS` operator?

[2016-08-22 08:32] eriksunsol commented on #3796
More elaborate example:

[code]

[2016-08-22 08:50] bigwad commented on #2888
Am I right that the only special about base metatables is that kernel permits to create two layouts with the same token? Thus two metalayer initializations running in parallel may create two parallel meta-structures?
Then it's kind of kernel inconsistency: description of stari_context_create_layout says that layout token should be unique, but the kernel doesn't ensure this restriction in any way.

[2016-08-22 09:00] k-rus commented on #3796
Thank you for more specific example.
How can you imaging defining index on one table and include property of referenced table? I don't really get this. Note that reference using dot notation is a sugaring for a join.

[2016-08-22 09:24] eriohl commented on #2888
Actually: It is configurable weather the layout token (or index token) is enforced to be unique. This enforcement is currently turned of however. It was enforced before however, documentation needs to be updated.

The reason is is not enforced has to do with table upgrades in 2.3. All layouts for a specific table needs to have the same layout.

Regardless: Maybe you are on to something here. Maybe

[2016-08-22 09:25] eriohl commented on #2888
Yes. The log is the database and the database is loaded into memory from the log always. It would be the same as loading the database for the second time is compared to now.

[2016-08-22 09:28] warpech commented on #3798
Right now, after 1 request to my app's HTTP handler, 2 requests to `/__database` and 1 cookie , we have a session and WS established

Request #1:

[code]

Response #1:

[code]

Request #2:

[code]

Request #3:

[code]

Sometimes I fall to think that Response #1 is cacheable, because the content is the same for every response.

In reality, it is not completely cacheable, because it needs a regenera

[2016-08-22 09:29] eriksunsol commented on #3796
I take it that `Owner IS ?` is sugar for (conceptually, behind the scenes) `Owner.GetType() = ?`. If so then use of `IS` also implies a `JOIN`?

[2016-08-22 09:48] k-rus commented on #3796
Actually, in the case of operator `IS` applied to a reference I am not sure and may be wrong. So `IS` is just complex filter operator on the reference.

[2016-08-22 10:29] chrhol commented on #3794
A fix have been pushed to develop and pnext and will be included in the next nightly build.

[2016-08-22 10:29] #3794 closed

[2016-08-22 11:08] bigwad commented on #2888
I read something about it [here](https://github.com/Starcounter/Starcounter/issues/3582#issuecomment-220262364) but still don't get it (shame on me). Would you mind to go into some details on this?

[2016-08-22 11:18] eriohl commented on #2888
Tricky to explain better in this context but in essence:

1. ```star_context_commit_sync``` in synccommit.dll does won't work unless the host uses this library to do so.

2. ```star_create_metadata``` needs to commit data synchronously and currently it is using this library to do so (does not apply to any other metadata API however.)

3. We want use of synccommit.dll to be optional for the host.

[2016-08-22 12:15] warpech commented on #3785
Of course when you are back from vacation 🌴

[2016-08-22 13:10] miyconst commented on #3796
@k-rus I don't know how it is implemented on the low level side, what I know is that references access is much faster than `JOIN`. I also don't know whether it's possible or not to create such index.

In our project we hit a bottleneck executing an SQL query with `WHERE x IS X`. We can eliminate the bottleneck by adding an extra sting property to save the type name and add an index on the field, b

[2016-08-22 13:18] miyconst commented on #3798
@warpech I don't see a way how could the last proposed solution be implemented.

We need to get view-model to figure out what HTML to return in response to the first request.
**Now, how do we know which view-model to use when the second request comes?**

It would be possible if we would declare two handlers like this:

[code]

But in this case we would have to completely rethink our client-server

[2016-08-22 14:21] warpech opened #3800 "Launcher needs to play nicer with Application.Use"
## Problem

Current Launcher's use of middleware causes skipping of any other middleware if Launcher was started as the first app.

## Why is it so?

There are few reasons why this happens:

- `Application.Use` middleware is executed in the order of definition. The order in which the apps are started, affects the order of middleware execution. This is good.
- Launcher wraps the request using `Appl

[2016-08-22 14:29] warpech commented on #3800
## Steps to reproduce

1. Start apps in this order: Launcher (`develop` branch), Sign In (`master` branch), People (`develop` branch)
2. Go to `localhost:8080/signin/generateadminuser` to generate the admin user
2. Put a breakpoint in SignIn `Application.Current.Use` callback ([line 30](https://github.com/StarcounterPrefabs/SignIn/blob/6c22967f540b723c9d54ff92d038a597b8abdd01/src/SignIn/Api/MainHa