[2016-08-22 14:53] miyconst commented on #3800
+1! I have also got the same issue, but we have a bat script to run apps in the needed order.

[2016-08-22 15:22] k-rus commented on #3796
I am sure the query plan uses reference access in this case. Do you have query plan where it shows opposite?

We have a kind of standard CREATE INDEX statement and I don't really understand how to incorporate type of reference value in index statement syntax.

I don't really understand your use case. You have presented two completely different use cases, which require different functionality.

[2016-08-22 15:30] miyconst commented on #3796
Unfortunately I don't have it right now on hands, but here you can see some benchmark results - [Performance benchmarks](https://starcounter.gitbooks.io/rebelslounge/content/query_processor/performance_benchmarks.html).

Well, if we have anything for any of the cases, I would appreciate if you describe it here :).

The main use case is described by @eriksunsol which is identical to mine example wi

[2016-08-22 15:48] warpech commented on #3785
Seems to be deeply related with webcomponentsjs or Polymer, because I could isolate it to a four-line jsFiddle: https://github.com/webcomponents/webcomponentsjs/issues/575

[2016-08-22 17:33] warpech commented on #3798
We don't. The result of the first request is discarded. The second request creates the new instance of the view-model. This is how it worked for few months in the past.

I am not advocating it, just presenting it as the only solution that comes to my mind, which has a cacheable first response.

[2016-08-22 17:47] miyconst commented on #3798
Okay, but unfortunately we can't rely on it, as there is no guarantee, that the view-model created in both requests will actual return the same HTML.

[2016-08-22 17:58] warpech commented on #3798
We can change [PartialToStandaloneHtmlProvider](https://github.com/Starcounter/Starcounter/blob/c959d78a43766fa92deccf7bb694e8ea014abcd8/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs) to actually return the HTML document without forwarding the request to the HTTP handler in the app. That would solve it, wouldn't it?

[2016-08-22 18:03] miyconst commented on #3798
No it won't, because the "partial" will still be created, and the HTML will be read from the view-model. And there is no way to guarantee that the HTML been read from the view-model in the first request will be the same as in the view-model created for the second request.

[2016-08-22 18:22] warpech commented on #3798
If we make a change in `PartialToStandaloneHtmlProvider` to be a request filter instead of response filter, it can be like that:

If the request has `Accept: text/html` mime type, `PartialToStandaloneHtmlProvider` returns implicit HTML without forwarding the request to the app. If the request has some other mime type (`Accept: application/json`), it passes through this middleware. The app handler

[2016-08-22 19:50] miyconst commented on #3798
Sorry @warpech, but I really don't see how it can work. The name `PartialToStandaloneHtmlProvider` itself means that it converts a partial to HTML. The partial is not available in the request filter, as the app has not yet received the request and has not yet created the partial.

What partial or more precise what HTML will be returned in this request filter?

[2016-08-23 07:08] malx122 opened #3801 "Json error happens now and then disconnecting server"
[code]

[2016-08-23 07:11] chrhol commented on #3801
Thank you for reporting this.

Do you have some way to reproduce it? Looking at the code it can be a couple of different things that causes it. Most likely cause is that a property that holds a jsonobject is set to null (which is handled very poorly in all areas currently in TypedJSON).

[2016-08-23 07:18] malx122 commented on #3801
Not in any consistent way... but I will keep an eye out for a null next time

[2016-08-23 07:54] bigwad commented on #2888
Thanks, I see now.
And the reason for №2 is that star_create_metadata split it work into several transactions and the reason for that is that kernel doesn't allow creating and working with a layout in the single transaction. Right?
So the answer could be splitting star_create_metadata into several methods (probably, using continuation-passing?).

More generally, the problem is that async commits r

[2016-08-23 07:59] k-rus commented on #3796
We supported such case through `SynonymousTo` and I don't know what is the status. @per-samuelsson was voting to remove the support for it by replacing with properties. Using properties requires to use casting, so Starcounter cannot treat it efficiently currently. `SynonymousTo` or derived property with casting allows to provide another name to a database-stored property and more narrow subtype, w

[2016-08-23 08:06] warpech commented on #3800
We discussed with @chrhol that the request filter must return `null`, otherwise other request filters will not be executed.

Maybe we can prepare the response in the request filter but attach it in the response filter.

[2016-08-23 08:24] chrhol opened #3802 "Add possibility to ignore unknown properties when populating TypedJSON."
The current behaviour when populating a TypedJSON object with data and a property from the source JSON is found that does not exist in the schema for the TypedJSON, is to throw an exception.

This should be changed so that it's possible to just ignore the properties that are unknown, and possibly as a feature enhancement, have some mechanism to allow the user to handle these cases.

This first ste

[2016-08-23 08:37] joozek78 opened #3803 "installer hangs if destination directory is not empty"
Sometimes uninstall process doesn't actually delete files from program files (I don't know why and when, so not submitting bug). If that happens, installer always hangs (telling you nothing in the interface and in the logs)

[2016-08-23 08:54] k-rus commented on #2888
The host must not expose ability to create transactions to an application code in the case of DDL calls, because of layout creation cannot be combined with layout accesses as you mentioned above. To guarantee this the metalayer does not allow host transactions. Furthermore, the metalayer controls if a transaction succeeds or fails for query cache invalidation. However, if the kernel limitation wil

[2016-08-23 09:04] bigwad commented on #2888
As I guessed, metalayer (and any other entity except the host itself) can't commit transactions. If it's true, then metalayer-host interaction should be redesigned.

I don't consider solely metalayer data here, but any changes that are required to be applied to the database to support mapping. If mapping doesn't require any - that's fine.

[2016-08-23 09:09] per-samuelsson commented on #3802
@chrhol: Is this a concern in the `PopulateFromJson` API? I just want to understand where the problem lies.

[2016-08-23 09:12] chrhol commented on #3802
Yep, that's the spot.

[2016-08-23 09:20] eriohl commented on #2888
The idea discussed is basically to treat the DDL operations them selves as an asynchronous operation. This then allows them to create the, and initialize commit of, the transaction. Although perhaps not be able to determine the result of the operation. It was then assumed that this worked fine for every operation except for ```star_create_metadata```. As discussed with @alexanderstc previously.

I

[2016-08-23 09:29] alexanderstc commented on #2888
I'll try to program at least the sql cache invalidation without relying on knowledge of completion of a commit.

@k-rus should evaluate if we can program the rest of DDL with async commits.

[2016-08-23 09:30] bigwad commented on #2888
I suppose that's twofold:
1. User code is likely to be interested in DDL result (at least to get an exception on the conflict).
2. A Subsequent transaction is probably dependent on DDL, implying that DDL should be synchronous.

[2016-08-23 09:34] bigwad commented on #2888
My point here is that we have more problems with sync commits, than just metalyer schema initialization.

[2016-08-23 09:39] chrhol commented on #3802
The particular case for this is receiving data from some provider which follows a standard (https://openrtb.github.io/OpenRTB), but the actual json contains properties that are not defined in the standard.

For example a user can be defined like this (in OpenRTB):

[code]

But the actual data that is received look like this:

[code]

[2016-08-23 09:56] eriohl commented on #2888
We'll obviously a transaction, or any thing else (like returning the result to the client), relying on the result of a previous transaction must execute after the previous transaction is completed. This is true for any transaction.

But: How this is handled must be up to the host. In Node.js for example is would have to be a callback when transaction is completed. Same goes for .NET with async/awa

[2016-08-23 12:27] miyconst commented on #3796
After discussion with @k-rus we came to conclusion that the best way in our case would be to add a custom string property to save related object's type.

In the long term we should add support for indexes over path expression. Something like:

[code]

Closing this issue.

[2016-08-23 12:27] #3796 closed

[2016-08-23 12:36] k-rus commented on #2888
I don't really understand why you guessed so. Metalayer creates and commits transactions, since DDLs do not involve any application or host transactional code.

DDLs implementation uses single transaction, thus it does not need to do synchronous call, especially if the query cache is designed not to control the commits.

I agree it will be correct to move transaction outside metalayer into a host.

[2016-08-23 13:18] bigwad commented on #2888
First, I must reiterate that here we're talking about hosts with async commit model.

As I mentioned before, I see two points that make it impossible to make async commits from DDL:
1. User code is likely to be interested in DDL result (at least to get an exception on the conflict).
2. A subsequent transaction is probably dependent on DDL, implying that DDL should be synchronous.

Actually, the se

[2016-08-23 13:58] chrhol commented on #3802
I have pushed the changes for this now to develop. I have some trouble running my personal build on pnext, so I am a bit behind to push it to there, but will do that as soon as possible.

There are currently two ways to specify that missing members should be ignored. Either change it globally, which means that missing members will be ignored for all TypedJSON instances when populating data or a se

[2016-08-23 15:01] k-rus commented on #2888
This is not fully clear for me if it will be so. The only DDL, which user code can contain nowadays, is create index statement. The rest is done internally in a host.

Thus I agreed with the correctness of moving transaction handling to hosts, but the described complexity should be taken in account. So none of the solutions are clean.

[2016-08-23 15:13] bigwad commented on #2888
The simplest solution as I see is to provide "native" blocking synchronous commit, that doesn't interact with host's transaction model. It will reduce throughput if host supports async commits, but I think it's acceptable for DDL and metalayer initialization.

[2016-08-23 15:15] alexanderstc commented on #2888
@bigwad sounds nice and simple.
@eriohl would you approve that?

[2016-08-23 17:19] warpech commented on #3798
Commit is worth a thousand words: https://github.com/StarcounterSamples/HelloWorld/commit/49a8e95323b4f271de71de8647f44d3ff278444f

The example linked above uses `PuppetJsProvider`, which implements the idea explained in https://gist.github.com/warpech/422b553d95d47f3dee6da8fa0c85178f

It does not use `HtmlFromJsonProvider` nor `PartialToStandaloneHtmlProvider` and is much simpler than these middl

[2016-08-23 17:31] miyconst commented on #3798
@warpech this does make sense for me, and thank you for the example, because I thought that you want to read the `.Html` property of a partial somehow in the middleware.

Also, I like the `PuppetJsProvider` over `HtmlFromJsonProvider` + `PartialToStandaloneHtmlProvider` even if the two would not have any issues.

[2016-08-23 19:23] warpech opened #3804 "Starcounter.Cookie.ParseString crashes with "Invalid cookie part""
cc @alemoi

Whenever `Starcounter.Cookie.ParseString` encounters a request with a cookie that it cannot parse, it crashes with an exception:

[code]

A behavior that I would expect is to skip unparseable cookies.

Steps to reproduce:

1. Load any Starcounter app in Google Chrome
2. Open Chrome Console and execute the following script to set a cookie with name and no value: `document.cookie = "oooo

[2016-08-23 22:16] warpech commented on #3785
@k-rus was right. It is an Edge problem and was fixed in one of the yesterday's updates:

- Update for Windows 10 Version 1607 for x64-based Systems ([KB3176936](https://support.microsoft.com/en-us/kb/3176936))
- Cumulative Update for Windows 10 Version 1607 for x64-based Systems ([KB3176934](https://support.microsoft.com/en-us/kb/3176934))

Thanks @joozek78 for reporting and evaluating this!

[2016-08-23 22:16] #3785 closed

[2016-08-24 08:09] atifwaqar commented on #3618
@mtornwall the fix we have is not working 100%. Like the simple Handlers that return HTML, they work fine. but when I want to use Launcher pages, it doesnt work.
Like for example [this](https://botchattechnology.com/adfenix) works fine, but [this one with launcher page](https://botchattechnology.com/adfenix/master) does not work fine.

It would be great if you can provide some instructions on how

[2016-08-24 08:16] eriohl commented on #2888
I don't follow what you mean by "native" blocking synchronous commit?

But I think that in general there should be no kernel operations blocking the thread for the simple reason that the threading model of the host may not allow this (like Node.js for example). So it doesn't matter if you ask the host to block the thread or support kernel blocking the thread because if might simply not be possible

[2016-08-24 08:36] dan31 commented on #3618
@alemoi your input on this? Why this is not meant to work in a configuration @atifwaqar describes?

[2016-08-24 08:40] bigwad commented on #2888
By "native" I mean that kernel provides sync commit that doesn't interact with host's commit model (practically: use another pipe for sync notification or simply blocks inside kernel channel).
Don't see how it may clash with the host's threading model. It's not perfectly aligned with async hosts design (like node.js), but still legitimate. Even official node.js API has several sync calls (for file

[2016-08-24 08:47] mtornwall commented on #3618
@atifwaqar The error you are experiencing with the launcher page is:

This is very strange indeed. Looking at the request and response headers of the WebSocket handshake it looks ok, though I haven't verified the `Sec-WebSocket-Accept` value that the browser is complaining about.

My best guess is that the WebSocket upgrade is being trapped by IIS rather than forwarded to Starcounter.

See here fo

[2016-08-24 10:16] atifwaqar opened #3805 "Question : How indexing can be optimized?"
I have a query :
[code]

and my Index is :
[code]

Is this the correct way of indexing?
or should i have 2 indexes like following :
[code]

[2016-08-24 10:26] chrhol commented on #3694
Similar request from @erikvk (Mopedo), both supporting null/nullable and omitting values.

[2016-08-24 10:55] k-rus commented on #3805
Thank you for the question. Query execution can use only one index on a table. Thus defining second index will not help to improve the same query execution. Furthermore, the index on aggregated valued cannot really give any improvements, since aggregate needs to iterate over all values to calculate the result, i.e., you don't need to include `MediaCost` in any indexes.

The order of columns in a c

[2016-08-24 11:02] chrhol commented on #1782
I will change the title of this since this page is both moved and contains some out-of-date handling on how we specifies datatype and custom bindings.

[2016-08-24 11:03] chrhol commented on #1782
New location of page: http://starcounter.io/guides/json/populate-json-with-database-data/

[2016-08-24 11:04] eriohl commented on #2888
Well, regardless of that: Surely we can agree that it would be better if there was no synchronous commits (or other blocking operations) in the kernel of metadata and this is what we should strive for.

[2016-08-24 11:20] chrhol opened #3806 "Write page describing how to convert JSON to and from TypedJSON"
I.e. `json.ToJson(...)`, `json.PopulateFromJson(...)`, automatic handling for requests and responses (mentioned in some other place though) and how to configure parts of it (#3802)

[2016-08-24 11:21] chrhol commented on #3802
Looks like this change works as it should. I added a new issue to document these features, and will consider this issue resolved.

[2016-08-24 11:21] #3802 closed

[2016-08-24 11:27] atifwaqar commented on #3805
@k-rus Thanks for the detailed info. I had no idea about this. Also, I was having performance issue in `SUM`

Thanks again

[2016-08-24 11:41] alemoi commented on #3618
@mtornwall thanks for the notes! I think IIS proxy does interfere somehow with network packets, maybe even modifies them (like adds extra headers and such). And WebSocket protocol is quite strict in that way. So, @atifwaqar please follow the advice from @mtornwall and let us know.

[2016-08-24 11:46] linkdata commented on #3733
Have you gotten any further on this issue?

[2016-08-24 11:54] #3774 closed

[2016-08-24 11:55] linkdata commented on #3765
Seems like a duplicate of https://github.com/Starcounter/Starcounter/issues/3779
Please re-open if you think it's a different bug.

[2016-08-24 11:55] #3765 closed

[2016-08-24 11:56] #3405 closed

[2016-08-24 11:57] #3097 closed

[2016-08-24 12:00] linkdata commented on #3615
Fixed by https://github.com/Starcounter/Starcounter/issues/3617

[2016-08-24 12:00] #3615 closed

[2016-08-24 12:01] #3642 closed

[2016-08-24 12:02] linkdata commented on #3647
Duplicate of https://github.com/Starcounter/Starcounter/issues/3463

[2016-08-24 12:02] #3647 closed

[2016-08-24 12:03] #3310 closed

[2016-08-24 12:06] #170 closed

[2016-08-24 12:07] #229 closed

[2016-08-24 12:07] #1437 closed

[2016-08-24 12:17] miyconst commented on #3805
@atifwaqar make sure to cast your value to `decimal?` when using `Sum` otherwise it will throw an exception if there are no items.

Like this:

[code]

[2016-08-24 12:42] joozek78 opened #3807 "Support Input Handlers in Middleware"
Middleware currently allows filtering HTTP requests (for example getting a page for the first time), but it doesn't allow to interfere with existing page's behavior.
To add custom behavior reacting to input on a page (such as authorization) one has to create base class, like `SecurePage` and add there a bunch of calls to `Property<T>.AddHandler`. I would like to be able to add a Middleware in simi

[2016-08-24 14:47] atifwaqar commented on #3618
@mtornwall It worked, i just had to install websocket in IIS, and i did not needed to modify the config file. simple installing the websocket in iis fixed the issue.

Thanks a lot guys :)

[2016-08-24 14:47] #3618 closed

[2016-08-24 19:11] atifwaqar commented on #3733
Its reduced by removing SC Error logs. but the issue is still there.
We are refactoring some code, will update here when the issue gets fixed completely.

[2016-08-24 19:12] atifwaqar commented on #3805
@miyconst Thanks

[2016-08-25 07:52] warpech commented on #3097
Is it fixed?

[2016-08-25 08:13] linkdata commented on #3097
IIRC @alemoi worked on it so the behavior is as expected when called from within a `ScheduleTask()` delegate. When called from a .NET thread, it would require parsing the callstack so that isn't supported.

So it's a mix of "improved" and "wont fix".

[2016-08-25 08:53] bigwad opened #3808 "fix UB in TT library"
violates 5.7.4 performing pointer arithmetic

[2016-08-25 10:02] bigwad commented on #3309
@alemoi, please consider applying the same change to the build scripts: https://git.starcounter.org/BlueStar/buildsystem/tree/develop/src/Scripts

Haven't actually experienced any problem, but don't want it hits us suddenly.

[2016-08-25 10:04] alemoi commented on #3309
@bigwad thanks for reminding! The idea is to rewrite those in Python, so we never face such problems again :)

[2016-08-25 14:50] bigwad commented on #3808
fixed https://git.starcounter.org/BlueStar/level0/commit/54244290b1efe4fd398caefd8c5cdade65afc6a6

[2016-08-25 14:50] #3808 closed

[2016-08-25 15:55] bigwad opened #3809 "async commit: notification may get lost if pipe is full"
May happen on high load

[2016-08-25 16:26] bigwad commented on #3805
@miyconst, are you sure about that?

Sum() should return zero on empty sequence and I expect conversion to decimal? to slow down calculation significantly due to boxing/unboxing.

[2016-08-26 11:50] warpech opened #3810 "Order of execution in middleware"
It seems that the `Application.Current.Use` middleware in Starcounter executes in the reverse order of registration. Perhaps it is because of [this line](https://github.com/Starcounter/Starcounter/blob/21345582673c882eef81f59d77be47f4440b3731/src/Starcounter.Internal/Handle.cs#L482);

In other system, middleware executes in the order of registration:

## ExpressJS

ExpressJS [executes the middlewa

[2016-08-26 12:31] miyconst commented on #3805
@bigwad you are right, only `Min` and `Max` throws `System.InvalidOperationException: Sequence contains no elements` exception. The `Sum` returns `0`.

@atifwaqar please ignore my comment, you don't have to cast it to `decimal?` when calculating the sum value.

[2016-08-26 12:50] atifwaqar commented on #3805
I dont understand when you guys say

For me when I run a query with sum in it I get results

![image](https://cloud.githubusercontent.com/assets/4388707/18005782/73014e48-6b9c-11e6-8c2f-e5ee104d8656.png)

[2016-08-26 13:21] alemoi commented on #3807
The API was changed recently. @per-samuelsson can you give some insight on the question? If not, I will check it. Thanks.

[2016-08-26 13:30] chrhol opened #3811 "Replace the JSON-by-example parser in TypedJSON"
As a step in moving towards the next version of Starcounter and start to clean some things up, it's time to remove the old parser used for JSON-by-example, which is a 3rd party library written in F#.

An advantageous side-effect of this is that we also remove the need for F#, which will make our development-environments a bit cleaner as well.

The replacement is not yet decided, but NewtonSoft.JSO

[2016-08-26 13:52] miyconst commented on #3805
@atifwaqar we are talking about the LINQ `Sum` function, how it behaves if the collection is empty.

[2016-08-26 14:23] atifwaqar commented on #3805
@miyconst Thanks, got it

[2016-08-28 08:01] miyconst commented on #3807
@joozek78 I understand your question and concern.

Do you think it would be easier to use attributes instead of filters and custom `SecurePage` classes? I mean something like this:

[code]

This is how it works in ASP.NET and I liked it when used.

[2016-08-29 05:44] k-rus commented on #3805
@atifwaqar Let us know if you have more question, or we can close the issue.

[2016-08-29 06:45] atifwaqar commented on #3805
@k-rus My questions are answered. Thanks for asking.
I'll close this question/issue now.

[2016-08-29 06:45] #3805 closed

[2016-08-29 06:52] per-samuelsson commented on #3807
Sorry, didn't see this until now. Sure I can, I just have to review the code I wrote to remember. :wink:

I guess the question I can provide an answer for is this:

[2016-08-29 07:13] per-samuelsson commented on #3807
@joozek78, something like this?

**Foo.json**
[code]

**Program.cs**
[code]

**http://localhost:8080/foo**
[code]

[2016-08-29 07:22] per-samuelsson commented on #3810
I need to spend a little time trying to remember what design decisions we took. Just initially, this seem like a bug:

[2016-08-29 07:27] per-samuelsson commented on #3810
I think that was a conscious decision we took. We said we would introduce the middleware pattern in 2.x in the simplest possible fashion, just as a way to get people used to that instead of previous request- and response filters, and extend those with reusable *middleware classes*. And that we would push a more mature implementation to next big version. See [this](https://github.com/Starcounter/Re

[2016-08-29 07:50] warpech commented on #3810
I am fine with no presence of `next()`, but I think it makes big sense to fix the order of execution now, if you agree that this is a bug.

Thanks!

[2016-08-29 08:03] per-samuelsson commented on #3810
I've now set up a test, and can confirm your finding:

[code]

In an application with that setup, 500 is returned (i.e. from the last registered handler) and handlers above are never invoked. That's clearly a bug.

Since actually invoking middleware delegates still build on the legacy implementation (request- and response filters), the bug is inherited from there, and hence I must verify with some

[2016-08-29 08:31] joozek78 commented on #3807
@per-samuelsson thanks for answer. Unfortunately, my question wasn't precise :) Let me rephrase it:

@miyconst I do think it would be a cleaner solution. Base class is a work-around, because middleware I described is not yet implemented

[2016-08-29 09:42] per-samuelsson commented on #3807
Then I'm not sure exactly what you mean I'm afraid. Do you have any pseudo code you could provide that illustrate what you ultimately would want?

The closest I can think of is this really trivial pattern, using a request filter. But I'm not at all very knowledgeable in this area. So it's probably not what you are after.

[code]

[2016-08-29 10:35] linkdata commented on #3782
This sounds like a bug in the Websocket implementation. A WS frame should not be delivered to the application unless it's been fully received.

[2016-08-29 11:07] careri opened #3812 "NuGet for building starcounter"
Hi!

I've made some scripts that extracts the needed file from a Starcounter(2) installation and creates a NuGet using the VersionInfo.xml to define the version of the NuGet.

The reason for doing this is that we want our build-server (Jenkins) to output the assemblies that we distribute to our customers.

But I don't want to install Starcounter on the buildserver. The other reason for using a NuG

[2016-08-29 13:02] per-samuelsson commented on #3810
Done.

Also done.

Both pushed to `develop` in merge https://github.com/Starcounter/Starcounter/commit/316bd052a8d01016928b761fd92303e4a052b1fb.

@warpech, I'm closing this as fixed. Feel free to reopen it if you don't find it working and/or sufficient.

[2016-08-29 13:02] #3810 closed

[2016-08-29 13:46] per-samuelsson commented on #3810
Now also pushed to **pnext**.

[2016-08-29 14:13] per-samuelsson commented on #3812
Hi @careri,

I'm not sure I understand what you request here, nor what you are trying to do? Are you asking if it would be possible to develop apps on Starcounter without doing an installation, just relying on a NuGet package (or packages)?

If so, we have certainly had discussions in such direction and would like a more lightweight experience long term. But we don't have anything that support tha

[2016-08-29 14:22] warpech commented on #3810
Thanks a 💯 !

[2016-08-29 19:15] careri commented on #3812
Nah, it's build server related.
We develop on machines with Starcounter installed.

A real case for us now is that we
re going to use 2.3 for Retail. While I haven't migrated my product from 2.2 yet.

The build server must be able to build both products. This could be done with two installations of starcounter and removing the StarcounterBin environement var and instead pass it on build command li

[2016-08-30 06:35] per-samuelsson commented on #3812
Aha, ok, thats clearly a different case, but now I understand it fully. It's more marginal than that of supporting the model I proposed above.

Let us consider it a little and get back to you.

[2016-08-30 06:39] per-samuelsson commented on #3812
The case you describe actually share some ideas we've discussed allowing Starcounter applications to be developed using just abstractions, and that you have to take a certain action to run it in a real installation - and that installation could very possibly be hosted in the cloud.

That's a good thing, since it make it more likely that this story is something we want to eventually address.

[2016-08-30 06:44] careri commented on #3812
Yes, using interfaces/abstractions for the development would work nicely.
If you put such interfaces in a NuGet your server code could depend on that NuGet. And the same NuGet could be distributed to developers that are not running the server locally.
It would also solve the build server case discussed here.

[2016-08-30 08:01] miyconst commented on #3798
We are being hit by this issue in MM as well. We have to resolve it in either way.

[2016-08-30 08:33] chrhol commented on #3727
## Callback system for TypedJSON

This is a proposal for updates in the callback-system used in TypedJSON. Some new callbacks have been added and existing ones updated.

List of callbacks:
- Initialization of a template (new)
- Initialization of a jsoninstance (new)
- Dataobject changed (exists)
- Property changed (exists)
- Validation of a request for a change from client (exists)
- After request

[2016-08-30 08:34] chrhol commented on #3727
cc @miyconst, @warpech

[2016-08-30 08:55] miyconst commented on #3798
I have moved the `Database.Inti()` call from `SignIn` and `QFD` apps into the `Test` project. Available under `/palma/init` handler.

[2016-08-30 09:51] careri opened #3813 "Starcounter 1.5.0.5, SC_E_SCHEMA_CODE_MISMATCH_ABORT"
Hi!

I'm trouble shooting an error that occurs if we start a database from scratch without loading any dumps. So there can't very well be schema changes.

There is a plugin that creates a singleton instance of a system wide configuration class.
This class has 71 fields (not my design). Is there a limitation on fields?

**Would it be possible to get access to the .Net-layers of scdb 1.5? Since you'

[2016-08-30 09:53] chrhol commented on #3813
@dan31

[2016-08-30 09:57] atifwaqar opened #3814 "Question : How to open a new browser tab from Json with Code-behind"
I want to open a new browser tab by clicking on a button. (Button click triggers Code-behind Json). Currently I am using the following code :
[code]
But the issue is, this opens a new tab on server end, We want the new tab on client end.

[2016-08-30 10:07] miyconst commented on #3814
@atifwaqar you have to use client side tech to open a new tab on client side, obviously.

[code]

This has nothing to with JSON with or without code behind.

[2016-08-30 10:31] atifwaqar commented on #3814
Ofcourse its not. My bad.
Actually we have to calculate/makeup the url in code behind, which can take 30 seconds or more sometimes. Thats why we were trying to open the new tab directly from Code-Behind. But now im setting the url in a Json attribute, and then I use your syntax to open the new tab, just need to set a delay in Polymer Script.

This is not Starcounter related question, But I will up

[2016-08-30 11:12] joozek78 opened #3815 "Improve error reporting for SCERR2149"
Currently the only information I get is:

(Double-click here for additional help)

Specifically, I don't get any information about where is the prohibited field. It should be pointed out in error message. It is also possible that it would be mentioned in separate error, but I didn't get anything more, so that could be a bug here

[2016-08-30 11:20] chrhol commented on #3811
One thing that does not work out-of-the-box with NewtonSoft (and probably with other implementations as well): There is no way to distinguish between decimal and double values when parsing JSON-by-example.

There is a setting that allows you to use either double or decimal when parsing floating point values, but not that can use both.

Possible solutions:
- Modify the part of the code that handles

[2016-08-30 11:29] per-samuelsson commented on #3815
Just generally, we could certainly improve in how to deal with and present errors. If I'm not mistaken, we have a few of these in the backlog already.

Just out of curiosity, regarding

You didn't find any such entries in the [error log](http://starcounter.io/guides/tools/error-log/)?

[2016-08-30 11:32] joozek78 commented on #3815
The information was there, thanks. I just had no idea to look there, since I treated this more like a build error

[2016-08-30 14:26] warpech commented on #3800
Proposed fix by @chrhol in:

https://github.com/Starcounter/Starcounter/tree/issue/3800
https://github.com/StarcounterPrefabs/Launcher/tree/fixRequestFilter

Not merged yet to `develop`

I am testing this out today

[2016-08-30 16:25] warpech commented on #3800
Looking OK so far! I think it can be merged.

Is it backwards compatible? In seems so for me. That's very good!

[2016-08-30 16:31] miyconst commented on #3814
@atifwaqar could you please explain this a bit more?

You should not static timeout values, you never know how long certain action will take to finish on a different server. You need an event instead.

[2016-08-30 16:51] miyconst commented on #3811
I didn't even know we have such an option right now :D. For me it does not make much sense to have double values in JSON view-model.

P.S. We do not distinguish `int` and `long`, all the values are `long`.

[2016-08-30 17:58] chrhol commented on #3800
Pushed to develop and pnext now.

Yes, it should be. No changes in existing functionality.

[2016-08-30 19:30] miyconst opened #3816 "Index was out of range exception in Starcounter.XSON"
From time to time I get this error:

[code]

cc @chrhol

[2016-08-31 06:59] chrhol commented on #3811
Yeah, it's not commonly used I think :) There are a few specific places where you need to use double to get correct values, like the carthographer app which uses coordinates for a map.

But maybe we can just assume that a floating point value should be decimal, and add some other way to explicitly say that this property should be treated as a double (on the server)

[2016-08-31 07:21] chrhol commented on #3816
Well, it's clearly a bug. These kind of exceptions should not be reported to the user. The question is why the index is incorrect in this case.

Is there some place or some apps that gets this exception more often than others so I can try to reproduce it before fixing it, or is it just randomly occurring in different places?

[2016-08-31 08:07] chrhol commented on #3800
The changes should be included in the latest uploaded build, so I will assign it back to you @warpech to update the Launcher.

[2016-08-31 08:23] miyconst commented on #3816
It happens when navigating to the Launcher app and removing all workspaces. We have a custom Launcher which keeps only one workspace at a time.

Most or the time it happens when navigating from big apps, means removing big view-model from the JSON tree. Not sure it's related though.

[2016-08-31 08:35] miyconst commented on #3811
For me using double for map coordinates looks to be wrong, I would rather use a string. Also syncing such values between client and server might get tricky. Floating point values may end up be different between client and server just because of a `0.00001`.

[2016-08-31 11:07] chrhol opened #3817 "No objects gets transfered during upgrade of modified class"
Reproduced with Tunity apps in Starcounter 2.2 develop (not tested in pnext)

When doing an upgrade of a class with only added properties, existing objects does not get moved to the new table.

Four objects exists before upgrade with oids: `In, EAv, JN, HUe`

Old class structure (taken from `TableDef`)
[code]

New structure

[code]

What I found so far is when it's time to move existing records fr

[2016-08-31 11:52] warpech commented on #3743
Still happens for me, but now actually the error message asked me if i want to "downgrade":

[code]

The pnext and develop nightly builds were done in the same night:

[code]

Screen:

![2016-08-31 13_50_05-starcounter installation](https://cloud.githubusercontent.com/assets/566463/18127665/1d908994-6f82-11e6-939e-071c87157b7a.png)

[2016-08-31 11:55] chrhol commented on #3817
The bug has been found. When creating the iterator, incorrect flags was specified which had the effect that all values were not included.

I will push a fix for this soon.

[2016-08-31 12:21] andwah commented on #3143
Just ran into this problem myself. I had a property named `Parent` in my db class.

As i understand these names should be avoided as property names in your db class.
(From the current Json class)

- AutoRefreshBoundProperties
- BoolValue
- ChangeLog
- Data
- DecimalValue
- DoubleValue
- IndexInParent
- IntegerValue
- IsArray
- IsBool
- IsCodegenerated
- IsDecimal
- IsDirty
- IsDouble
- IsInteger
-

[2016-08-31 12:24] chrhol commented on #3817
Pushed to develop now.

I'm not sure this fix is applicable for pnext, I have to check that.

[2016-08-31 12:43] chrhol commented on #3817
This particular code does not exist in pnext. Closing as resolved.

[2016-08-31 12:43] #3817 closed

[2016-08-31 16:07] miyconst commented on #3800
@chrhol could you please update the documentation a little bit with explanation for `Starcounter.Advanced.XSON.JsonExtension` class and particularly the `MergeJson` method.

Also how and when should the `Starcounter.Session.PublicViewModel` property be used? Why it's set in the `/launcher` handler instead of the response filter?

Call to `/launcher` may or may not require wrapping into Launcher, t

[2016-08-31 16:24] warpech commented on #3800
Just informing that today I have merged https://github.com/StarcounterPrefabs/Launcher/commit/39da52caab8b6f9275d05d97d0e4cac6794d71d0 to Launcher `develop`.

The method `WrapInWorkspace` is actually called in a response filter, but I agree that putting it explicitly in response filter would look better.

Is there a reason to diverge from our Launcher? If the change is beneficial for our Launcher

[2016-08-31 16:37] miyconst commented on #3800
It's more like the customer's choice. They want to have it separately and private.

I try to keep the code clean, and in current implementation we have `session.PublicViewModel = launcher;` [twice](https://github.com/StarcounterPrefabs/Launcher/commit/39da52caab8b6f9275d05d97d0e4cac6794d71d0#diff-41d1afd27053322fdd23d4b9c4d792d6R61). If this would be moved to [WrapInWorkspace](https://github.com/S

[2016-08-31 18:54] miyconst opened #3818 "A stack overflow has been detected exception is shown without stack trace"
If a `A stack overflow has been detected` happens then database crashes and in log it is is shown without stack trace and any other additional info.

It is very difficult and frustrating to debug.

Can we do something about it?

cc @per-samuelsson

[2016-08-31 19:04] tomalec opened #3819 "Use new starcounter-include in /sys/, and move it to Starcounter/starcounter-include"
If we are ok with the new `<starcounter-include>` that uses just Shadow DOM Composition, maybe it's the time to finally ship it with Starcounter installation.

As designed the new `starcounter-include` (currently at https://github.com/StarcounterPrefabs/launcher-include):

1. Will does nothing if does not receive composition (performance of pure `starcounter-include` remains untouched)
2. Is no lo

[2016-08-31 19:05] miyconst commented on #3147
![image](https://cloud.githubusercontent.com/assets/6435556/18142599/a0f83502-6fbe-11e6-845f-72865f27c810.png)

@chrhol is it something you can investigate?

[2016-08-31 19:16] miyconst opened #3820 "Stack overflow exception in JsonExtension.MergeJson"
Calling JsonExtension.MergeJson with two objects from same app and tree causes stack overflow exception.

It should try to merge objects if that is not possible, instead a meaningful exception should be thrown.

[2016-09-01 05:19] per-samuelsson commented on #3818
Really hard to say given that there is no information that shows what is happening. You mean it's just general, or what?

Can you try do an infinite recursive call in user code inside the entrypoint and see if it turns up in the log?

[2016-09-01 05:21] #3815 closed

[2016-09-01 07:06] eriohl commented on #3818
We added that to the log because prior to that the worker crashed with no error message. This was when we where using CLR 2.0 of course so maybe something changed. I do know however that there is no way to intercept this exception in managed code and there is no way to print the stack trace from the intercept. Back then the only way to intercept them was by having the debugger attached when the er

[2016-09-01 07:07] chrhol commented on #3820
Is this happening in the current version in the Launcher?

[2016-09-01 07:21] miyconst commented on #3820
Yes.

[2016-09-01 07:24] miyconst commented on #3820
On this line https://github.com/StarcounterPrefabs/Launcher/blob/develop/src/Launcher/Helper/LauncherHelper.cs#L231 I made a typo and instead of `workspace.MergeJson(resource);` wrote `workspace.MergeJson(launcher);`.

The `workspace` is an array item of `launcher.Workspaces` and this caused the stack overflow exception.

[2016-09-01 07:25] chrhol commented on #3820
Thanks, then I get it. I will add a check for that.

[2016-09-01 08:08] bigwad commented on #3818
@miyconst, please make sure you have collecting local dumps enabled ([here] (https://github.com/Starcounter/Starcounter/issues/3297#issuecomment-174574035) you may find instructions). Pnext would have crashed with a dump in such case. Hopefully, the same with develop.

Then you may just open a crash dump for analysis.

[2016-09-01 08:46] miyconst commented on #3818
@bigwad I have already found the reason of the stack overflow, this issue is about enhancing developer friendliness.

Pointing to the place which caused the error would help a lot, or at least some hints.

[2016-09-01 08:52] bigwad commented on #3818
I'm afraid that analyzing crash dumps is the only way (if you don't have debugger attached). Moreover, in pnext we deliberately have disabled all logging of unmanaged unhandled exceptions (and StackOverflowException may be considered unmanaged as managed code can't handle it).
It's a good time to get used to crash dumps.

[2016-09-01 10:03] miyconst commented on #3818
Okay. So the answer to my question is no, we can't do anything to improve this situation. The only way is to examine crash dumps.

Closing the issue.

[2016-09-01 10:03] #3818 closed

[2016-09-01 13:44] chrhol commented on #3816
After some investigation I found that using 'Clear()' on an array in TypedJSON does not work well together with OT. So when a patch is sent from the client for an older version, the server does not correctly detect and reject it. Instead it ends up with a nullreferenceexception.

I will work on a fix.

[2016-09-02 10:07] careri opened #3821 "PNext, ScErrDatabaseLangUnsupported"
PnextNightlyBuilds-2.3.3694

The TurboText dlls in my installation are called 4, e.g:

From VS:

Error	1	Creating database Default failed due to an unexpected problem. ("Error invoking ""C:\Program Files\Starcounter\sccreatedb.exe" -ip "C:\Users\carle\OneDrive\Documents\Starcounter\Personal\Data\Default\Default-20160902T120302179" -coll TurboText_en-GB_3.dll -oid 1 -lastoid 4611686018427387903 Def

[2016-09-02 10:09] careri opened #3822 "Administrator Create new database"
I am required to fill in First Object ID and Last Object ID.
That should be prepopulated to ulong.max right?

[2016-09-02 10:12] careri commented on #3821
I copied the assemblies and changed to version 3. Seems to work

[2016-09-02 10:16] Adeelkh opened #3823 "Assertion failed Error"
Our Database is crashing due to following error. Quick Response in this regard will be a great help

Assertion failed (released_chunks_num == num_ipc_chunks) at OurSources\worker_db_interface.cpp:21 (Data 0).
   00007FF861B411E9 sccoredbg!do_handle_assertion_failed : assert-win.cpp (76)
   00007FF861B41039 sccoredbg!handle_assertion_failed : sccoredbg.cpp (29)
   00007FF72465B166 scnetworkgateway!

[2016-09-02 10:20] atifwaqar commented on #3823
SC Version 2.2.1.2709
And this is a critical issue, our Live Server is crashing again and again.

![image](https://cloud.githubusercontent.com/assets/4388707/18200981/ad1021b6-7107-11e6-8d38-e18f6f0bf2ff.png)

[2016-09-02 10:21] warpech commented on #3819
We need to make sure it works cross browser first, because I can't get it to work in browsers other than Chrome.

[2016-09-02 11:04] ubbeK commented on #3819
:star:

[2016-09-02 11:19] alemoi commented on #3823
Hi @atifwaqar I am looking at it now! Will get back to you asap!

[2016-09-02 11:28] tomalec commented on #3819
@warpech Do we have any issues reported related to lack of cross-browser support? The problem you described to me on slack seems to be rather Products-SignIn problem https://github.com/StarcounterSamples/Products/issues/30 https://github.com/StarcounterSamples/Products/issues/29

[2016-09-02 11:34] iliassays opened #3824 "Starcounter issue"
Error : ScErrExternalAbort (SCERR8034): The transaction has been aborted by the framework because of an external event that suggested that the transaction should be considered invalid.
Version: 2.2.1.2825.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR8034.

StackTrace :    at Starcounter.Internal.DbState.ReadString(UInt64 oid, UInt64 address, Int32 index) in C:\TeamCity\TeamCity

[2016-09-02 11:36] alemoi commented on #3823
The problem seems to be in IPC code. I wonder if I can give you a different version of scnetworkgateway executable with more checks, so you can run it instead?

[2016-09-02 11:37] miyconst commented on #3824
@iliassays please provide a piece of the code which causes this exception and the full stack trace.

@per-samuelsson, @chrhol, @alemoi, @eriohl any idea of what is it?

[2016-09-02 12:09] iliassays commented on #3824
try
                                {
                                    Db.Transact(() =>
                                    {
                                        ad.AdFenixAd.FacebookFeedAd.LeadAdImage = "1";
                                    });
                                    item.FacebookLeadAd.Image = ad.AdFenixAd.FacebookFeedAd.LeadAdImage;
                                }

[2016-09-02 12:11] per-samuelsson commented on #3824
Seem to stem from Bluestar ("kernel"). Also curious what could be the cause.

@eriohl @bigwad

[2016-09-02 12:29] atifwaqar commented on #3814
@miyconst I am on vacations, So I assigned this task to another developer, looks like the issue is resolved. So im closing this issue for now. but When i come back I will update the complete solution aswell.

[2016-09-02 12:29] #3814 closed

[2016-09-02 13:30] atifwaqar commented on #3724
Here is a small project where I have reporduced the issue.
https://drive.google.com/open?id=0B3OphiyFByHRYkNSRXVHOW51TFk

[2016-09-02 13:33] atifwaqar commented on #3724
In this case, when i remove the keyword "Order By", the code works fine

[2016-09-02 13:37] eriohl commented on #3824
This error code is set when the transaction is aborted on the initiative of something outside the kernel.

In this case the transaction  is aborted when transaction crosses the the boundary of a transaction scope.

[code]

[2016-09-02 14:41] alemoi commented on #3803
So its uninstaller that is hanging during uninstall process? Or installer during installation?

[2016-09-02 14:45] k-rus commented on #3724
Thank you for the example. Which version of VS was it created?

[2016-09-02 14:48] #3637 closed

[2016-09-02 14:59] k-rus commented on #3724
I cannot open it in VS 2015, but I will create new project based on your C# code. I believe it should work.

[2016-09-02 15:13] k-rus commented on #3724
Your example uses OffsetKey, which is not supported on query plans, which requires sorting.

I don't understand how it is related to this issue. There is no Offsetkey involved in the original issue to my understanding.

[2016-09-02 16:21] atifwaqar commented on #3724
@k-rus
I guess these are 2 different issues, but our developers and I thought they are the same. Sorry for the confusion.
and this project is a VS 2015 project

[2016-09-02 16:58] warpech commented on #3819
I confirm, the cross browser problem was another thing.

If this is the only risk, then let's go for it!

[2016-09-05 08:40] joozek78 commented on #3803
It's during installation and it happens after installer failed to remove files. It'll probably hang too if I just select a non-empty directory (or maybe directory with specific content, IDK)

[2016-09-05 08:48] per-samuelsson commented on #3822
cc @andwah @linkdata

[2016-09-05 09:18] miyconst opened #3825 "Call Database.Intit from Launcher on app start"
See the Test project `/palma/init` handler.

[2016-09-05 11:53] chrhol commented on #3816
I've pushed a fix for this to develop. Will soon push to pnext.

[2016-09-05 11:55] aloscha opened #3826 "ScErrFieldSignatureDeviation (SCERR4128)"
I've create database model:

Then I used that model in my app. I realized that this field could be `null`, so I change my datamodel to:

I start debug and received `
"ScErrFieldSignatureDeviation (SCERR4128): A database type declared a persistent field that did not match the signature of the attribute in the core schema. The type for property/field 'NewDate' in class 'Sweoffshore.Checklist.Event.D

[2016-09-05 12:27] joozek78 opened #3827 "Consistent naming of backing properties"
With `DefaultTemplate.<property>.Bind = nameof(<backing-property>)` you can set the property that Starcounter will use to calculate the value of <property>. We seem to have no agreed upon idea on how to name those 'backing properties'. I've already seen at least three different conventions.

We should develop a common naming convention for our own convenience and to avoid confusion in apps develop

[2016-09-05 12:34] miyconst commented on #3827
Me and @ubbeK in Palma project just add `Bind` in the end.

So it looks like this:

[code]

[2016-09-05 12:35] miyconst commented on #3827
I dislike the `_` solution in front or in the end of the name, the `Calculated` is fine, but just too long for me.

[2016-09-05 12:44] diliger commented on #3827
I would follow `Bind` postfix to the name.

[2016-09-05 12:49] chrhol commented on #3827
Also look at this issue: #2964. You can get automatic binding to properties in code-behind by using the same name.

[2016-09-05 13:02] Joltrix commented on #3825
Implemented in: 985a4c9

[2016-09-05 13:05] Joltrix commented on #3825
Implemented in commit: [985a4c9 ](https://github.com/HRidge/PalmaServer/commit/985a4c9936977a44abf66e6e8758b4503c5aae78)

[2016-09-05 13:06] miyconst commented on #3825
See my comment in the commit.

[2016-09-05 13:46] Joltrix commented on #3825
Fixed: Implemented in commit: [1a60a4e](https://github.com/HRidge/PalmaServer/commit/1a60a4ea62dc6659b3ed5c4de21f2c962c136571)

[2016-09-05 14:08] linkdata commented on #3822
That should be prepopulated to ulong.max right?

In the web UI, yes. I think that would be reasonable. Defaults should be `1` and `ulong.MaxValue`.

[2016-09-05 14:09] #3825 closed

[2016-09-05 14:15] per-samuelsson commented on #3822
Actually, I came to think of this again. We have defaults for these values in the server config. If I'm not wrong, the client use some of those defaults to initialize fields already. If so, it's probably most correct to use those.

In turn, I think *those* values are defaulted to what @linkdata suggest, so in practice normal case, it would make no difference. But anyway.

[2016-09-05 17:05] #3819 closed

[2016-09-05 19:26] eriohl commented on #3821
With 2.3 TurboText version 4 should and must be used. It won't work fine with TurboText 3. Is that command line generated by Starcounter? Then something is not working as it should.

[2016-09-05 19:31] eriohl commented on #3821
Could it be this incomaptible base config from previous installation causing problems again? cc @per-samuelsson

[2016-09-06 06:12] careri commented on #3821
The command are generated by starcounter. I only renamed my TurboText4 dlls to TurboText3, then it worked. I'll scan my configs

[2016-09-06 06:14] careri commented on #3821
You're probably right. The default config file:
Documents\Starcounter\Personal\Personal.server.config

Contains a reference to TurboText3. Might be that it's a file kept from previous installation of sc2.2

[2016-09-06 06:40] dan31 commented on #3821
@careri while testing nightly builds, this is indeed sometimes unsafe to keep the old config files around. At release time, we will instruct how to address changes in these old files, migrate data (2.2 and 2.3 are not compatible at disk storage format) and address other changes. Until the release time - sorry for inconvenience!

@eriohl is that fine if we just remove TT3 files from 2.3 distributio

[2016-09-06 07:08] per-samuelsson commented on #3824
@iliassays

Was the answer given by @eriohl helpful to you? Are you satisfied with it? If so, can we close this issue?

[2016-09-06 07:11] per-samuelsson commented on #3827
More specifically, [here](https://github.com/Starcounter/Starcounter/issues/2964#issuecomment-166563857) we discuss a suggested pattern.

@joozek78, does that apply to what you guys try to accomplish here? If not, can you highlight the problems you find with the pattern we discussed / proposed earlier?

[2016-09-06 07:15] per-samuelsson commented on #3826
@aloscha, could you expand a bit on that last section (commented above)? I don't fully understand it.

Meanwhile, I'll try to set up a test to see what options you have doing the thing you are trying to do (essentially, changing the data type, or rather allowed "range", or a database field). I'll get back to you on that.

Finally, what version is this? Can you run `star -v | clip` and copy the con

[2016-09-06 07:28] per-samuelsson commented on #3826
Also @aloscha, you might find issues #3499 and #3559 relevant to this discussion.

cc @chrhol @k-rus (both has been involved in past discussions about database refactorings)

[2016-09-06 07:31] k-rus commented on #3826
I don't fully understand the issue. It sounds that deleting database has not deleted the database is the main issue. Otherwise according to the post the error was meaningful and understood correctly. The suggested strategies (remove database or add another field) feel to me reasonable.

[2016-09-06 07:32] eriohl commented on #3821
I think TT3 is already removed from the installation (which is why operation failed initially). If not they should be. 2.3 does not work with TT3.

Yes @careri: It will work if you rename the DLL because then you are actually using TT4. I got the impression that you copied the DLLs from a previous installation or something.

[2016-09-06 07:37] per-samuelsson opened #3828 "Confusing error message from ScErrFieldSignatureDeviation (SCERR4128)"
In **pnext** / 2.3x, having this:

[code]

and changing it to this:

[code]

give me this:

[09:32:48, Critical, Starcounter (default)]
Starcounter.DbException: ScErrFieldSignatureDeviation (SCERR4128): A database type declared a persistent field that did not match the signature of the attribute in the core schema. The type for property/field 'Value' in class 'Foo' has been **changed from 'Int64'

[2016-09-06 07:38] per-samuelsson commented on #3828
Related to #3826.

[2016-09-06 07:41] per-samuelsson commented on #3826
And to preserve data when changing data type? Is that not possible in neither version (2.2x | 2.3.x)? For this case, could unload/reload be used for that?

[2016-09-06 07:56] ubbeK commented on #3670
What is the status of this issue?

[2016-09-06 08:28] joozek78 commented on #3827
Woah, you're saying we don't have to use `DefaultTemplate.<property>.Bind`? That's cool. So why do even do that? I thought that was the only possible way?

[2016-09-06 09:34] careri commented on #3821
Yepp, that was why I tried renaming. Sorry for being unclear.

[2016-09-06 09:38] Mnosek commented on #3827
Me too!

I've just checked it on pnext and it simply works fine! That's a great enhancement. Thanks @per-samuelsson for explanation! So if it is possible we should definitely use a new feature, but for the backward compatibility if necessary - I would vote for `Bind` postfix as a pattern.

[2016-09-06 11:02] k-rus commented on #3826
I think Unload/Reload should move the data into the new database schema. The other mentioned approach is to create new column. Then the data can be preserved by manually copying them (i.e., by app code) from to new column.

[2016-09-06 11:44] ubbeK commented on #3827
Weren't we suppose to remove the _magic_ from the `JSON`-files? https://github.com/Starcounter/Starcounter/issues/3443

[2016-09-06 12:09] joozek78 commented on #3827
True. After initial hype over easy-to-use I try to cool down to be more reasonable.

On the one hand this behavior is truly magic - VS will complain that property is already defined, but your code will build and work regardless. You have virtually no chance to discover this feature by yourself. Binding will be different in a way that is not obvious, but have potentially profound consequences (refr

[2016-09-06 12:35] per-samuelsson commented on #3827
@ubbeK @joozek78

Nice to see you guys reflect on this. I'm not 100% sure on the right approach here either.

I'm normally against most magic, and often vote for a little more explicit approach that better illustrate what actually goes on. But there are of course borderline cases. I mean, some things based on common-sense *convensions*. Compare for example Maven w/ MsBuild - I would vote for Maven

[2016-09-06 12:41] per-samuelsson commented on #3827
Continuing from previous comment, to illustrate what I mean:

**Foo.cs**
[code]

**FooJson.json**
[code]

**FooJson.json.cs**
[code]

[2016-09-07 08:14] miyconst commented on #3827
This is really frustrating. If we can rid of this error, then I would say that the magic is not bigger than between JSON view-model and database objects binding, as pointed out by @per-samuelsson.

A nice way to resolve this issue would be inheritance.

- Weaver generates an abstract class with all the properties in there.
- The code-behind class inherits the base class.
- Developer overrides any

[2016-09-07 08:55] chrhol commented on #3827
I don't get this. What complain is this? Is it reported it anywhere? If the property exists in code-behind, it will not exist in the generated code so there should be no warning or error.

[2016-09-07 12:50] miyconst commented on #3827
@joozek78 could you please explain what you mean by this? I just have tried it myself, and it works flawlessly without any complains from Visual Studio.

And I have to say, I really like it.

[2016-09-07 13:11] per-samuelsson commented on #3827
FWIW, me neither.

[2016-09-07 13:32] alemoi commented on #3823
I have increased the time needed for chunks to be returned to shared chunk pool, and the problem seems disappeared so far. Via: 2ef871ae45377dfb973ac4e21902f2142c5724a0

[2016-09-07 13:32] #3823 closed

[2016-09-07 15:28] joozek78 commented on #3827
At first your code is wrong - weaver already generated partial class
definition with the property. VS highlights your definition as duplicate.
Only after you run build and weaver regenerates the partial definition it
omits the property you defined. At least that was the experience for me,
I'll check again this evening or tomorrow in case I remember something wrong

On Wed, 7 Sep 2016 at 15:11 Per

[2016-09-08 07:26] chrhol commented on #3827
Thanks for the explanation @joozek78. I understand what you mean now.

Just to be clear of definitions, it's not actually the weaver (or what we call the weaver) that is responsible for this part. There is a custom MsBuild task that is responsible for generating the code for TypedJSON.

The task is triggered only when you save the json or code-behind file, so you are correct. If you first add the

[2016-09-08 07:28] chrhol commented on #3816
Looks like this issue still persists for some cases.

[2016-09-08 07:28] per-samuelsson commented on #3827
If it's not very low-hanging, I would say it it's not.

[2016-09-08 07:32] per-samuelsson opened #3829 "JSON code-behind property with same name treated as duplicate"
Scenario:

* You add a property to a JSON viewmodel and *save* the file
* You add a property with the same name to the code behind class

Until you *save* the code behind file, VS will highlight the property in the code behind as a duplicate.

More info in [this 3827 comment](https://github.com/Starcounter/Starcounter/issues/3827#issuecomment-245515588).

[2016-09-08 07:35] per-samuelsson commented on #3827
Made a separate issue about that: #3829. So we can have this issue be about convention, and have a separate issue to refer to if anyone report about this problem in the future.

[2016-09-08 11:39] mtornwall opened #3830 "UriMapping.OntologyMap throws nondescript exception when handler is missing"
Calling `UriMapping.OntologyMap` with a handler that isn't registered results in a `NullReferenceException`. You have to look at the code to figure out what's wrong.

[2016-09-09 07:25] per-samuelsson opened #3831 "Add support for hosted unit tests"
This has been an ongoing discussion for quite some time. We have now made a principal decision to give it a go.
### Main idea

Allow developers to **write unit tests** using a common framework. Probably [xUnit](https://xunit.github.io/) to start with. And support **running those tests** (transparently) inside a database host. In a sense, the host become a custom test runner.
### Why not support co

[2016-09-09 07:31] per-samuelsson commented on #1297
Unit test support coming up: #3831. Closing this one in favor of that. Please redirect any further questions / comments to that issue.

[2016-09-09 07:31] #1297 closed

[2016-09-09 07:31] per-samuelsson commented on #3112
Unit test support coming up: #3831. Closing this one in favor of that. Please redirect any further questions / comments to that issue.

[2016-09-09 07:31] #3112 closed

[2016-09-09 07:51] chrhol opened #3832 "Remove code for codegenerated TypedJSON serializer"
The codegen part for the TypedJSON serializer is currently disabled (and have been for a long time), and not kept up-to-date. Also the implementation is badly done, and needs to be properly rewritten (if we need it at all).

I will simply remove this "feature" and the corresponding code as part of cleaning up the project and making it more standalone.

[2016-09-09 09:16] bigwad commented on #3831
Do we really the entire control over the host? To my knowledge, we are free to perform our initialization at any point and the only real problem is to make sure an actual test is running on starcounter thread. I don't see immediate solution how it could be implemented in NUnit, but it's an open source. Just a small new attribute like ThreadInitializer may handle it :)

Just a dream.

[2016-09-09 09:19] bigwad commented on #3831
Probably, not even a new attribute, but an overload to existing RequiresThreadAttribute.
Still just a dream :smile:

[2016-09-09 09:24] per-samuelsson opened #3833 "Preferred way to invoke app bootstrap unit test runner?"
As part of #3831, we plan to support two runners initially:

1. The **app bootstrap test runner** will run tests when an application bootstrap into the host, *if specified to do so*.
2. The **App Test Panel** app will support discovery and explicit loading of tests, as well as running them by means of a UI, driven by the user.

The first runner will be [1]. Whats the preferred way to expose it to

[2016-09-09 09:30] per-samuelsson commented on #3831
Not sure I understand what you mean?

[2016-09-09 09:31] per-samuelsson commented on #3831
Discussion issue, for a small part of this: #3833.

[2016-09-09 09:44] bigwad commented on #3831
Probably, it's the same approach you mentioned as self-hosted app. I just tried to say there is a possibility that:
1. enabling self-hosted app is not that hard
2. by enabling self-hosted app we may achieve simpler integration with NUinit without bothering with custom runners etc

[2016-09-09 10:09] per-samuelsson commented on #3831
2. by enabling self-hosted app we may achieve simpler integration with NUinit without bothering with custom runners etc

Thanks for clarifying, @bigwad. Then I do understand what you mean. But I disagree.

Supporting self-hosted apps in 2.x I just don't see as an option (knowing that there are major things that need to be solved for this, and several of those, we haven't figured out yet). If someo

[2016-09-09 10:39] per-samuelsson commented on #3833
Just came to think of a disadvantage not going with `star --test app.exe`. If we don't do that, it's not possible to trigger tests on app restarts from within VS (using the extension). That's probably something we want to support.

[2016-09-09 10:55] jwillmer commented on #3831
As long as I don't need to rewrite all tests after you support self-hosted apps and only need to switch the "target" I would participate in testing the nightlys on our current project.

One remark: Did you thought about the problem to start from a prepared database and revert it back to that state after each test?

[2016-09-09 11:11] chrhol commented on #3811
About backwards-compability and legacy support:
We have a bunch of weird stuff in the current parser for adding metadata inside the json (which we are now trying to get away from).

Doing a quick search in the code that I have available (both our own and customer code), I found that most of this was never used or known outside our internal tests. Which is really good, then I can simply remove (or

[2016-09-09 11:49] miyconst opened #3834 "Is it possible to get physical size consumed in RAM for a database and/or specific object?"
So, the questions are:

- Is it possible to get physical size of a database in RAM?
 - And on HDD.
- Is it possible to get physical size of an object in RAM?
- Is is possible to get physical size of tables in RAM?

[2016-09-09 11:57] per-samuelsson commented on #3831
That's our absolute aim. And one of the benefits of using a standard framework to **define tests**. Once defined, we "just" have to make sure we can bring tests along from one (older) version to another (new).

Yes, we did. Or more precisely: we touched on it. Thanks for pointing it out. We need to do more thinking about that.

A very simple approach (for us at least) is to advice users to run tes

[2016-09-09 14:36] erikvk opened #3835 "Failing transactions within CommitInsert hooks"
@chrhol

While executing the `Action<object,T>` _a_ associated with a `Hook<T>.CommitInsert`, I will sometimes get failing and restarting transactions when getting and updating existing db objects within _a_. In my case i have a transaction _t_
`Db.Transact(() => new T());`
triggering the hook, and in _a_ I then get and update an existing db object like
`Db.Transact(() =>
{
    var myT = DB.Get<T>

[2016-09-09 14:39] erikvk commented on #3835
+ it's hard to know to what extent this can be generalized to commitinsert hooks in general, it's possible it's just a result of how my hook is set up in this particular instance, in my particular solution.

[2016-09-10 09:19] k-rus commented on #3834
see #2448

In general, there is no notion of a table in the physical storage.

[2016-09-12 08:34] chrhol commented on #3811
A note about double: I found a few places where double is used today, but these ocurrences are all from our own code, so as long as we have some way to support it I think it's fine that the default handling is to treat these numbers in json-by-example as decimal.

[2016-09-12 11:02] miyconst commented on #3811
@chrhol currently we have automatic binding in place, like this:

[code]

[code]

Can we use the same technique to define `double` properties? By default all the number are treated as `long` or `decimal`. If double needed then we can define the property manually.

[code]

[2016-09-12 11:03] miyconst commented on #3811
For the backwards compatibility I would vote to abandon all usage of `$` in JSON except the editable properties mark.

[2016-09-12 11:10] per-samuelsson commented on #3831
Regarding this clause from the OP:

I propose one constraint to start with: that databases must be **explicitly configured** to run tests. That would mean `star --test app.exe` would return an error unless the database was configured to support running tests: `staradmin -d=testdb new db --allowRunningTests` (or similar).

Pretty simple to guard it from within the host.

Another alternative is not

[2016-09-12 11:26] chrhol commented on #3811
Hmm, yeah maybe this is a way to use it. I will try it out and see if it's possible. Would allow us to not have any strange pattern or any more special characters in the jsonfile, which is good.

That would be awesome, however I think that its simply not feasible. There is too much usage of this in existing code and would require quite a lot of effort to find and rewrite all places. So I think we

[2016-09-12 13:35] warpech opened #3836 "HTTP header with disk location for static files"
## Problem

Starcounter's static file server is serving static files from multiple directories on the local file system.

When you find a problem in the static file, it is hard to guess what is the file path on disk.

This is especially a problem, when there are multiple paths with the same file. Which one wins?

## Actual behavior

Starcounter serves the file from the last app that was started. B

[2016-09-12 13:36] tomalec commented on #3836
Very big :+1: from me, I get hit by this sooo many times.

[2016-09-12 14:12] per-samuelsson commented on #3831
Update: as hinted earlier, we are making the first hosted tests driven by `xUnit`, meaning that's the API to use to write tests in the first version.

I'm making a thin abstraction in between the host and the underlying test engine though, to make it straightforward to support other test frameworks, most notably `NUnit`.

Anyone has thoughts about this? Should I try to support both right from the

[2016-09-12 14:32] alemoi opened #3837 "Add support for frame fragmentation in WebSockets"
Here are some examples of message fragmentation: https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers

[2016-09-13 08:06] dan31 commented on #3835
Hi @erikvk! Seems to be an interesting condition. @per-samuelsson, could you have a look in the issue?

[2016-09-13 08:28] per-samuelsson commented on #3835
@erikvk

Sorry we haven't replied to this earlier. We'll try our best to help you.

First, I'm not sure I completely get the picture. Can we try writing some more complete pseudo-code to illustrate the flow you use?

One idea could be to take a look at or main [commit hook tests](https://github.com/Starcounter/Starcounter/blob/pnext/src/Samples/CommitHooksTest/Program.cs) and see if any of those c

[2016-09-13 08:29] per-samuelsson commented on #3835
Just very generally (and you are probably already aware of this): commit hooks get executed *as part of* a commit, meaning that for that code to run, there has to be a commit taking place.

[2016-09-13 12:05] per-samuelsson opened #3838 "Proposal: Invoke commit hooks for transactions in commit hooks"
In our [commit hook documentation](http://starcounter.io/guides/transactions/commit-hooks/), we state that hooks are not invoked for transactions committed inside a hook:

This design will save code such as the below not to enter an infinite loop, filling up the database:

[code]

It has been suggested that such constraint is **not acceptable**, and that it should be up to the developer to assure

[2016-09-13 12:08] warpech commented on #3798
This issue is stuck and is quite important.

@chrhol, @per-samuelsson do you have an opinion about the solution proposed in https://github.com/Starcounter/Starcounter/issues/3798#issuecomment-241807109 ?

[2016-09-13 12:10] malx122 commented on #3838
What I didn't understand is why the limititation is there? Infinite loops can accidently be designed everywhere, that is one of the thing we developers have to look out for in every row of code...

We can design the code without this feature, just that the code looks better with.

[2016-09-13 12:16] per-samuelsson opened #3839 "Pattern: Using commit hooks as a mean to communicate between apps"
We recently discussed a pattern in use that utilize [commit hooks](http://starcounter.io/guides/transactions/commit-hooks/) as a mean to notify / communicate between apps.

**Shared.dll**
[code]

**App1.exe**
[code]

**App2.exe**
[code]

Is this one of our recommended patterns, one we want to promote? Are there alternatives?

cc @warpech @miyconst @chrhol @k-rus

[2016-09-13 13:34] warpech commented on #3839
Yes, this is a pattern that we are using right now. Personally I think this is the only possible pattern to integrate apps that don't know about each other.

Note: As @aloscha reports, right now you cannot use `Db.Transact` in a commit hook, because commit hook is already in a transaction. There is a pattern to bypass that: https://github.com/Starcounter/Starcounter/issues/2766.

Code that shows t

[2016-09-13 14:54] per-samuelsson commented on #3839
Thanks for giving feedback, @warpech.

We need to straighten this out, because it sound confusing. If hooks are used for this kind of thing, we really need to document them more properly IMO.

What exactly do you mean that `Db.Transact` **cannot be used** in the context of a hook? What exactly happen? Operations in the scope of `Db.Transact` just get part of the outer transaction, no? Isn't this t

[2016-09-13 15:08] k-rus commented on #3839
I think it will be necessary to design a mechanism to share database changes (not necessary commits) between apps on common/shared data. However, no thoughts were put in this. So it is future, not something should be taken in account now. For now I don't have any good suggestion for the pattern.

[2016-09-13 17:19] chrhol commented on #3839
I guess the problem is long-running (fuzzy) transactions, not `Db.Transact`. You cannot switch from one to another inside a hook, and have to schedule a task instead.

[2016-09-13 20:11] warpech opened #3840 "HTTP handler does not respond if mapped in UriMapping.Map but called from the outside world"
# Problem

If in my app defines `UriMapping.Map` for a URL that is requested from the outside world (not only from the `Self.GET`), the response times out (goes into an infinite loop?).

This will cause Starcounter build tests to fail after Launcher `develop` branch gets merged to Launcher `master`. (The tests that checks that: [test.js](https://github.com/StarcounterPrefabs/Launcher/blob/6ede4d03

[2016-09-14 08:07] IdieHeads opened #3841 "cErrCLRDecToX6DecRangeError (SCERR4246)"
Get this exception when trying to set the value 4.91071428571429
Runing Starcounter-Stable-2.2.1834 (Apr 19, 2016 9:41:00 PM)

{"ScErrCLRDecToX6DecRangeError (SCERR4246): The CLR Decimal cannot be converted to a Starcounter X6 decimal without data loss. Range error.\r\nVersion: 2.2.1834.\r\nHelp page: https://github.com/Starcounter/Starcounter/wiki/SCERR4246."}

[2016-09-14 08:19] per-samuelsson commented on #3838
We've had some internal discussions about this. We do understand the pain you are suffering from this constraint, but still feel it's not something we can just open up. At least not short term, since we can't foresee all possible consequences easily.

What is kind of special here is that while you are right in that we as developers have to be careful not to write code with flaws like this, the con

[2016-09-14 08:38] per-samuelsson commented on #3838
The idea is simple: schedule a new task and make additional inserts in a separate transaction. Those inserts **will** trigger additional hooks:

[code]

There are drawbacks to this approach though:

1. The thing as we guard against as described above is now in the hands of you. If you change `new Bar()` to ´new Foo()` in the above example, you are up for trouble.
2. If the commit fail after your h

[2016-09-14 08:38] k-rus commented on #3841
The error reports that your value cannot be stored without data loss as type Decimal. Decimal supported in Starcounter is more limited/different than C# Decimal. If I don't mistake it allows to store only 6 digits after dot. You either need to use `Double`, which does not store exact value and does not complain about data loss, or reduce the value.

I think there was a documentation of Starcounter

[2016-09-14 08:51] per-samuelsson commented on #3839
I do too.

To start with, we should document very precisely the do's and dont's regarding this, if it is like @warpech says, that this approach is the one we recommend for app developers.

One of these is that things can go very wrong if applications use this technique to ensure things like "for every order that is ever placed, I want to be sure informing the IT-department about it":

[code]

The

[2016-09-14 08:56] warpech commented on #3839
FYI we have a new [Cookbook](http://starcounter.io/cookbook/) section on .io that should evolve into a presentation of patterns and other "how do I..." material.

[2016-09-14 09:27] chrhol commented on #3841
The main issue (besides the fact that documentation is lacking) with the current solution is that you, as the developer of the app/datamodel, declares the property in the database class as `decimal`, but it's treated as an `X6Decimal` internally. And most likely everything will work fine when testing, but then, from out of nowhere, this exception is thrown.

So current solution: makes it really ha

[2016-09-14 10:38] per-samuelsson commented on #3839
That's a great initiative. Rename it "How to"? Think that is more standard for that kind of thing, no?

As for hook documentation specifically, we should expand the [dedicated page](http://starcounter.io/guides/transactions/commit-hooks/) IMO. And add sections covering:

1. That hooked types don't expand to subtypes of said type (common pitfall).
2. That hooks are not invoked for CRUD ops executed

[2016-09-14 11:50] joozek78 commented on #3807
I feel that I unwittingly spawned an off-topic discussion here. I'll extract it to a separate issue.
Back to the main topic:
**Can we expect support for Input handlers in middleware, or are there any problems that prevent it from happening?**

[2016-09-14 13:16] k-rus commented on #3841
One of the main usage for Starcounter's Decimal is to store amounts, i.e., money. Thus rounding is not acceptable.

I agree that getting exception at runtime is not something acceptable.

I am not sure if we need to store full decimal. I would expect that the above example should use floating point type instead.

Having special type will make things clear, however it will more complicated to progr

[2016-09-14 14:57] warpech commented on #3801
@chrhol these errors happen a lot as you are aware. And they are very hard to track.

Would it be possible to enhance this exception with information what JSON property failed exactly, and what was the patch sequence that caused it to fail?

[2016-09-14 14:57] warpech commented on #3801
@chrhol these errors happen a lot as you are aware. And they are very hard to track.

Would it be possible to enhance this exception with information what JSON property failed exactly, and what was the patch sequence that caused it to fail?

cc @Mnosek

[2016-09-14 15:55] IdieHeads commented on #3841
In my opinion, it is not a goods idea to pretend to support decimal and then throw exception at runtime. This will most certainly cause problems for all your users. Full support for decimal and a storage/performance efficient X6Decimal sounds goods to me. I would use that all the time, because it it not that i need all those decimals, i just don´t know how to make all developers round their decima

[2016-09-14 16:32] alemoi commented on #3840
Thanks for reporting! I found the problem, but want to ask additional question: what if another app do map to `UriMapping.Map("/anotherapp/signinuser", "/sc/mapping/userform");` what response (for external request of course) you would expect by calling:
1. `localhost:8080/signin/signinuser`
2. `localhost:8080/anotherapp/signinuser`
3. `localhost:8080/sc/mapping/userform`
Thanks!

[2016-09-14 20:20] alemoi commented on #3840
And the response is just a partial in a correct case, right?

![image](https://cloud.githubusercontent.com/assets/208134/18528472/7d697ac2-7ac9-11e6-9d5e-06b22f009d44.png)

[2016-09-14 23:59] alemoi commented on #3836
Was a bit messing with commits, so you see a duplicate. But otherwise added and tested this feature. For existing databases add the new entry in database config `XFilePathHeader`:

![image](https://cloud.githubusercontent.com/assets/208134/18534040/f0931a58-7ae7-11e6-90be-34665145324a.png)

Appreciating your input.

[2016-09-15 06:01] k-rus commented on #3841
@IdieHeads
I am curious: Will it work for you if you store your value in `Double`? And if not, why?

[2016-09-15 07:17] miyconst commented on #3836
I also have been hit by this issue, but we should understad that exposing physical file path is a potential security hole.

[2016-09-15 07:45] IdieHeads commented on #3841
Ofcourse a could use Double. But i want and will use your storage/performance efficient StarcounterDecimal
I dont need the precision of a full decimal.
The problem i see, is that when you declare your Db-property as decimal you are fooled to believe that it actually is a decimal and as soon as you do a division decimal=decimal/decimal you will have a potential problem.
I will implement my decimal

[2016-09-15 09:11] miyconst commented on #3836
@alemoi it looks like after your rework Starcounter stopped detecting changes in static files and I have to restart an app to see the changes.

[2016-09-15 09:58] warpech commented on #3840
Yeah, right now I would expect a partial, that is wrapped by Launcher if Launcher is running.

[2016-09-15 10:07] warpech commented on #3840
Yeah, right now I would expect a partial, that is wrapped by Launcher if Launcher is running.

Regarding what I expect:

1. localhost:8080/signin/signinuser - response from SignIn, without siblings on the root level
2. localhost:8080/anotherapp/signinuser - response from AnotherApp, without siblings on the root level
3. localhost:8080/sc/mapping/userform - 404, because this is a mapping URI, not a

[2016-09-15 10:12] alemoi commented on #3836
Sorry, about that! Going to check right now!

[2016-09-15 10:13] warpech commented on #3836
Oops, this needs a fix before stable.

[2016-09-15 10:55] alemoi commented on #3836
Just fixed. Producing a nightly now. Will be ready in an hour approximately.

[2016-09-15 13:08] alemoi commented on #3836
@miyconst can you please test the latest nightly http://downloads.starcounter.com/download/Starcounter/DevelopNightlyBuilds/2.2.1.3178

Just want to be sure it works on your computer. Thanks!

[2016-09-15 13:08] andwah commented on #3836
After quick test with latest level1 "develop" branch.. Still not working for me.. i will now do a rebuild of level1 and test again.....

[2016-09-15 13:09] alemoi commented on #3836
No need to rebuild, just build latest develop. Thanks for testing @andwah

[2016-09-15 13:13] andwah commented on #3836
@alemoi pulled latest level1 (develop). still not working for me sorry..

[2016-09-15 13:21] alemoi commented on #3836
@andwah works fine for me. Lets test on your system. @miyconst what about you? :)

[2016-09-15 13:51] alemoi commented on #3840
@warpech can you please test the build http://downloads.starcounter.com/download/Starcounter/DevelopDailyBuilds/2.2.1.3180

I tested with/without Launcher and it was fine. Except the case 3 since it returns the mapped URI, as a redirect, which is correct.

[2016-09-15 14:12] alemoi commented on #3836
@andwah thx for debugging session, some system differences! The fix is pushed now to develop and pnext.

[2016-09-15 14:20] andwah commented on #3836
@alemoi pushed a new fix and that solved the problem, now it works.

It was an issue with comparing filenames that had both upper and lower case characters.

[2016-09-15 20:49] warpech commented on #3840
I have just tested Starcounter 2.2.1.3180 + Launcher `develop` + SignIn `master`.

The `npm test` is successfully passing, so I guess it is fixed! Thanks!

[2016-09-16 09:47] warpech commented on #2956
I consider now the [`.bowerrc`](https://github.com/StarcounterSamples/KitchenSink/blob/bfe1175366c6cf34abce20218fedc965aa6ce89e/src/KitchenSink/.bowerrc) in KitchenSink to be the sample one. I will copy it to all other sample apps.

It is also pasted in http://starcounter.io/guides/web/using-web-components/

[2016-09-16 09:47] #2956 closed

[2016-09-16 09:52] HRidge opened #3842 "Exception: Exclusive access to the session could not be obtained"
I'm inserting/creating huge amount of data inside a session that takes a few minutes to run.

This is the exception details:
[code]

[2016-09-16 10:02] miyconst commented on #3842
cc @linkdata, @eriohl, @alemoi, @per-samuelsson

[2016-09-16 10:03] miyconst commented on #3842
@HRidge thanks for reporting.

[2016-09-16 10:20] chrhol commented on #3842
While you are running someone else (a patch from the client for example) tries to get access to the same session.
We only allow one at a time to access the view model, the timeout is 3 minutes I think.

Would it be possible to do the long running updates outside of the session and switch back to it when it's really needed?

[2016-09-16 13:38] chrhol commented on #3811
The coding for this task is more or less done. I have a couple of things left to do, adding a warning when using the old deprecated way of specifying metadata inside the jsonfile and creating errorcodes with good errors.

 I'm currently testing it, and probably need to write some more tests as well but so far it seems to be working fine.

I found a way for specifying double and to get away from ha

[2016-09-16 14:03] chrhol commented on #3832
This will be done when #3811 is pushed. I removed the codegen stuff at the same time I did some other refactoring.

[2016-09-16 14:05] mmnosek opened #3843 "Incomprehensible error message when trying to upgrade pnext"
When I'm trying to upgrade pnext from Starcounter v2.3.3675 to v2.3.3824 I've got following error message:
![upgrade_error](https://cloud.githubusercontent.com/assets/4943949/18588171/a7fa0722-7c25-11e6-8b68-ff9de12e5c57.png)

According to the links in the message it should not be possible to do the upgrade automatically, but I think that this message is a bit confusing:
- There should not be stac

[2016-09-18 18:28] alemoi commented on #3840
Thanks for reporting! I just merged to develop/pnext. Should be available in the next nightly.

[2016-09-18 18:28] #3840 closed

[2016-09-19 08:58] eriksunsol commented on #3727
We have a general pattern that we would like to enforce, which I'm trying to map into the call-back system here.

I think this is actually easier to explain without involving the view-model and call-backs. What we need is strict control of the following phases:

a. Storing to database
b. Reading from database

We need to execute some code before __a__, between __a__ and __b__, and after __b__, and

[2016-09-19 11:14] #2451 closed

[2016-09-19 14:07] careri opened #3844 "PuppetJS and Partials"
Starcounter: 2.2.1834

I'm using the partial page pattern from the KitchenSink example.

I click a link in my meny that shall replace the CurrentPage in the json-model. This works fine for most of my partials.

But I have one that behaves strange.

First I get a call to replace a path that will be rendered as a grid using hot-table:
![image](https://cloud.githubusercontent.com/assets/4263597/18634

[2016-09-19 16:07] miyconst commented on #3727
@chrhol this is a very nice proposal. Down there are some comments from me.

Yes.

Why we can't use the same approach with `override`?

[code]

I would prefer inheritance here as well.

[code]

[2016-09-19 18:48] per-samuelsson commented on #3831
My recent struggles has been to find the best way to approach *how to run* tests, and how they *relate to application state**.

Right now, after a few considerations and testing, I have settled with the simplest possible solution: we run tests as part of application bootstrapping and based on some precondition(s) (probably "enabled" host/db + switch). And we always do that *after* executing the en

[2016-09-19 18:56] per-samuelsson commented on #3844
Probably. Also pinging @miyconst.

[2016-09-19 18:57] per-samuelsson commented on #3844
And @tomalec :sunglasses:

[2016-09-20 04:54] careri commented on #3844
I did another check, and it's not a second call to:
[code]
It's actually the for-loop that replaces the value of obj.
The problem seems to be that the value of CurrentPage\CurrentPage\HAD has not yet changed it's value to the new page. But it still holds the Json for the previous page.

So the patch recieved from the server tries to patch a model that has yet to be assigned to the client json.

[2016-09-20 07:01] per-samuelsson commented on #3831
Realized a usability limitation regarding this from the OP:

The idea I had was that any **app** (i.e. executable) could include tests, and that the host would detect (and run) those. Plus that if next to the app, there was a `[appname].tests.dll` library, it would get the same treatment. That would allow for a simple and yet flexible alternative for app developers.

Problem with it is that it's k

[2016-09-20 07:15] per-samuelsson commented on #3727
@chrhol

Very well drafted! I wish I had more time to give detailed input on it.

Could you explain what could be bad about that approach, and why we would define a instance-level `Init` method instead? Default constructor seem like the obvious choice, since it's kind of all what that thing is all about.

@eriksunsol

That seem like a dangerous path to take, doesn't it?

That would be standard [in

[2016-09-20 07:21] per-samuelsson commented on #3727
@chrhol

}
[code]

[2016-09-20 09:04] careri commented on #3844
I've added some logging to the Puppet.js
And the patches recieved from the server looks fine. The error seems to be the patch that shall replace "HAD" on the current page.
This actually does nothing, so the next patch that expects HAD to have the new value fails.
The patches received.

=====================Received:
[{"op":"replace","path":"/_ver#s","value":6},{"op":"test","path":"/_ver#c$","value

[2016-09-20 10:24] careri commented on #3844
I figured out what goes wrong. The server seems to send the wrong revision number for the patch. So this method places my patch in the waiting array instead of applying it:

My patch ends up in ```// add sequence to queue in correct position.```

[code]

Then the crashing method assumes that the patch is applied, which isn't. BOOM

So this might actually be something for @chrhol or @alemoi

[2016-09-20 10:27] warpech commented on #3844
Just to make sure that we are not investigating an already fixed issue, could you please try the current nightly?

We did some changes to queue processing in the last few weeks.

If the problem persists, could you package the app and send it to me for investigation with a zipped database?

[2016-09-20 10:29] careri commented on #3844
My app works without any data. So you should be fine just starting from scratch.

I'm running 2.2.1834. What nightly are you refering to?

[2016-09-20 10:31] warpech commented on #3844
2.2.1.3240 from http://downloads.starcounter.com/download

We are planning to make a new stable release this week.

[2016-09-20 10:32] careri commented on #3844
Ok, didn't know if you were referring to 2.3 or 2.2.
I'll give it a spin

[2016-09-20 10:42] careri commented on #3696
Version:
We'll my internal struct is no longer allowed to have a constructor. Damn it!
Starcounter-DevelopNightlyBuilds-2.2.1 (20 sep 2016 04:34:45)

[2016-09-20 10:43] careri commented on #3844
#3696 Argh, my code no longer compiles...

[2016-09-20 11:00] tomalec commented on #3844
As @warpech said, I'd also suggest updating to latest version, as we have removed problematic `markObjPropertyByPath` entirely.

But to get the better understanding on what is going on with what you describe in you previous comment  https://github.com/Starcounter/Starcounter/issues/3844#issuecomment-248262316, could you provide a full list of patches being exchanged?

[2016-09-20 11:03] warpech commented on #3844
We are investigating on Hangouts. @tomalec I will let you know if the problem is reduced to patches. Probably just the symptom is in patches.

[2016-09-20 11:03] careri commented on #3844
I'm in contact with @warpech  right now. Sending him the code.
The client no longer crashes, but it populates the waiting array with all patches sent after the problematic one.

[2016-09-20 11:35] warpech commented on #3844
@chrhol can you pls take a look? This is definitely a server side issue.

When clicking on "Backups" and then "Logs", I get the following `_ver#s`: 1, 4, 3, 3.

There are at least 2 problematic symptoms as we can see on the screenshot:

 - version 2 is never sent
-  version 3 is pushed twice at the same timestamp, with different content

I guess @chrhol will need access to the app source code.

![

[2016-09-20 12:33] warpech opened #3847 "Cookie Expires date is serialized in wrong format"
The date set in [`Cookie.Expires`](https://github.com/Starcounter/Starcounter/blob/57c6d056c5a43e4ffabbea3f261e3f30219220b1/src/Starcounter.Internal/Http/Cookie.cs) is serialized to string in a wrong format:

Is: `soauthtoken=OtS8ogGxO384xYwAsCpZ0Q2; expires=2016-09-21T14:22:28.617Z; path=/`

Should be RFC 1123: `soauthtoken=OtS8ogGxO384xYwAsCpZ0Q2; expires=Thu, 21 Sep 2016 14:22:28 GMT; path=/`

[2016-09-20 12:34] warpech commented on #3847
Similar problem was here: https://github.com/Starcounter/Starcounter/issues/3427#issuecomment-195961404

[2016-09-20 13:16] eriksunsol commented on #3727
@per-samuelsson

Nevertheless, it's what we need! ;-)
We have lots of information shown in our UI that is derived from information stored in the database as a result of user input, sometimes using computationally expensive algorithms. Without going into detail, we need to cache these derived results to get the performance we need. In the future we might be able to refactor this to run the algorith

[2016-09-20 13:31] per-samuelsson commented on #3831
WRT the last comment: I'm starting to lean towards a model where we make a clearer distinction between tests and apps, and have a dedicated tooling for tests. Then maybe support a "shortcut" to allow tests to be run as part of app bootstrapping. But the default being that you give your tests to the host and they are run separately and on demand.

[2016-09-20 13:40] alemoi commented on #3847
Thanks for reporting! Should be fixed now. @miyconst so you know also, since its in `Cookie.cs`.

[2016-09-20 13:40] #3847 closed

[2016-09-20 14:26] careri commented on #3844
I stepped through the server code and I can confirm that the same local version is used twice:
src\Starcounter.XSON\Sessions\JSON-Patch\JsonPatch.cs
[code]

Guess it's a sync issue when executing on multiple threads?

[2016-09-20 15:53] bigwad commented on #3834
I assume, that in general you're asking for a programmatic way of getting this information, but as long as we don't have it yet, I'll share what we do have.

Let's try to answer it piecemeal. Here is some info regarding 2.3 (aka pnext).

1. Physical size of a database in RAM
Pnext kernel tracks amount of memory it allocates. One may use perfmon utility to get it. Utility is not included in the set

[2016-09-21 07:38] chrhol commented on #3844
Alright, I have gotten the app from @careri and have reproduced it. Not sure what the problem is at the moment, but there is a lot of pushes taking place (Session.CalculatePatchAndPushOnWebSocket())

Yes, for some reason. It shouldn't be though, since only one thread should have access to the session at a time. Maybe we have missed some pattern that is bypassing the lock. I will investigate more w

[2016-09-21 08:11] warpech commented on #3847
Tested, looking good!

[2016-09-21 08:18] warpech commented on #3836
Could you please add documentation of this feature to http://starcounter.io/guides/database/database-configuration/?

[2016-09-21 08:47] chrhol commented on #3727
Thanks for the feedback! Awesome.

**1**

I think the initial (flawed) thought of this was that since we have been talking about the instance of `Json` to be simply a proxy object (same as database objects) it will be recreated and you would only want to invoke the constructor the first time when the user creates the instance, and not when the object is recreated.

This can be solved by having ano

[2016-09-21 08:52] per-samuelsson commented on #3727
Yep. I think using an attribute instead of a virtual call for this is a premature optimization. Let's do what users are familiar with before that kind of optimizations. And as you state, we can always detect it later (and never invoke the empty default if it's not overridden). In fact, we already do that for delete callbacks since years back.

[2016-09-21 10:57] chrhol commented on #3844
I found the problem. It's not directly a sync-issue, but a problem of recursive calls to generate and push patches.

So when creating the first set of patches, when gathering changes some code is triggered that does a push directly on the session (since it's already active and current) which leads to a second generation of patches is started, before the first one is finished.

Not quite sure how t

[2016-09-21 11:25] careri commented on #3844
So what you are saying is that when you're reading one of my properties I do a CalculatePatchAndPushOnWebSocket?

That might be so, I wrote this code before summer.

[2016-09-21 12:03] chrhol commented on #3844
Yes, that is what I think is happening. Maybe we could just check in Starcounter that we're already gathering changes and just skip further calls to push. The latest changes and patches will be sent anyway when it's finished.

[2016-09-21 12:06] alemoi commented on #3836
Was going to ask if this feature should be public. Anyways, added the documentation for it. You can close the issue if you think its done here.

[2016-09-21 12:12] warpech commented on #3836
It must be explained, since it is **true** by default for developer's comfort. It should be disabled for production.

Thanks!

[2016-09-21 12:12] #3836 closed

[2016-09-21 12:19] alemoi commented on #3836
Done! :)

[2016-09-21 12:38] per-samuelsson commented on #3831
Just for the record, I wan't to bring up that there is a thing we possibly need to eventually resolve with this: the fact that code loaded into the host can not be unloaded (w/o restarting host) will mean that passing subsequent builds of a certain test suite into the same host will result in undefined behavior.

In the first version, I plan to just load it transparently and be done with it. Let's

[2016-09-21 12:41] alemoi commented on #2907
@k-rus are you going to disable this test?

[2016-09-21 14:11] joozek78 opened #3848 "Using Expression crashes the weaver"
[code]
Mere adding a line like this to the code crashes the weaver on start with the following message in VS:

[code]

And the following message in Log:

[code]
Both `RolePersonGroup` and `Role` are Database Classes.

1. I read somewhere that this is unsupported. Even so, is it really required to abort execution?
1. Even if so, the error messages should be clear about what happened

[2016-09-21 14:37] k-rus commented on #2907
We don't know what is the source or sources of the problem. Originally there were some leakage in other tests. I didn't look to the current state of the problem. So far this was not a concern to investigate the potential memory leaking in 2.x. If so, then the test can be disabled.

[2016-09-21 15:05] k-rus commented on #2907
I am not a right person do decide, but imho the test can be disabled.

[2016-09-21 15:15] dan31 commented on #2907
Well, if this memory leak takes place every time QP is invoked, this requires investigation. @k-rus, does it? 2.x will be run for quite some time by current users, linear memory leaks aren't an option. I cannot derive from this issue (and 3 accompanied issues) if this occurs every call (linear memory leak) or just at a startup time (constant memory leak). Both are not good, but you understand that

[2016-09-21 15:25] alemoi commented on #2907
@dan31 you are talking about old NUnit here I suppose. I can upgrade to the newest version and see if it helps.

[2016-09-21 15:28] bigwad opened #3849 "pnext: can't change port number of existing database from admin UI"
The problem is that change doesn't pass validation due to settings.FirstObjectID=0 (https://github.com/Starcounter/Starcounter/blob/pnext/src/Starcounter.Administrator/Server/Utilities/RestUtils.cs#L174)

cc @linkdata, @andwah

[2016-09-21 15:28] per-samuelsson commented on #3848
@joozek78

I need a little more time to check what happens here, but I'm quite possitive we've had something similar reported before, and it showed that the old version of PostSharp we use for the weaver can't handle all the new .NET features of later runtimes / compilers.

[2016-09-21 15:44] per-samuelsson commented on #3848
Could be this https://github.com/Starcounter/Starcounter/issues/3248#issuecomment-171950174 and related investigation I was thinking about.

Not sure what to do up front, but we certainly need to have a discussion on what we can do here, and what we can't, and prioritize what to go after, considering 2.x-limitation on old PostSharp. I need help from @dan31 for this.

[2016-09-21 15:47] per-samuelsson commented on #3848
Here's the relevant PostSharp exception:

[2016-09-21 15:50] chrhol commented on #3844
I've pushed a fix for this to develop and (hopefully) soon pnext. Should be available in the next nightly.

@careri: It would be good if you could verify that it works as it should. I tried with HAD and as far as I can tell it seems to be working.

[2016-09-21 16:06] chrhol commented on #3844
Pushed to pnext now.

[2016-09-21 22:04] alemoi commented on #2907
After updating NUnit to the latest version, the problem is still reproducible, here is the log:
[code]

[2016-09-22 06:03] k-rus commented on #2907
Originally, the memory leak was in another test not related to QP. Since then architecture of calling QP has changed, so actually this QP test can be leaking as well. Note, that it does not mean if QP is leaking or not. It was not the case, when the problem was observed with leaking.

[2016-09-22 06:28] careri commented on #3844
I built your code, seems to be working nicely.

So just to figure out what I've done wrong. If I'm on a thread where Session.Current isn't null, I don't need to call CalculatePatchAndPushOnWebSocket?

If I'm doing work on a thread where Session.Current is null I need to call CalculatePatchAndPushOnWebSocket on all Sessions that should be updated with my work?

[2016-09-22 06:28] careri commented on #3844
This goes into the upcoming stable 2.2 right?

[2016-09-22 07:14] per-samuelsson commented on #3848
Well, it's not optimal. But what options do we have? I think it's comparable to a compile-time error. It's a syntax 2.x does not support. Kind of like if you try to use `nameof` with the C# 2.0 compiler.

In essence, I really agree. However, since the error we get back from PostSharp is a non-informative `NullReferenceException`, it's kind of hard to make this happen. The situation is less from id

[2016-09-22 07:20] per-samuelsson commented on #3848
Another, non-technical way, given all above parameters to consider: we create a dedicated FAQ / Support page and point to that for all uncategorized weaver errors similar to this (i.e. those we can not really handle).

So, when you get the exception, it look like this:

[code]

And on that page, we list symptoms and what could be done to get pass them.

[2016-09-22 07:34] joozek78 commented on #3848
That's a good idea. That would at least mitigate the feeling of being lost
and helpless :)

On Thu, 22 Sep 2016 at 09:21 Per Samuelsson <notifications@github.com>
wrote:

[2016-09-22 07:48] per-samuelsson commented on #3848
Cool. Considering it more, I actually think is the best choice here, given

1. We have no real idea how to handle the underlying problem.
2. We are stuck with an old version of PostSharp in 2.x
3. The new Starcounter.Core version is an increasing priority, and this problem will not occur there.

@joozek78

If I volonteer to write that page and sharpen the error message, could you provide me with a

[2016-09-22 08:07] per-samuelsson commented on #3848
I tried myself now, but the most trivial thing pass weaving:

[code]

[2016-09-22 08:21] eriksunsol commented on #3727
@chrhol

Yes, let's do that!

We haven't figured out how to best work around it yet, so the answer is: We don't!

[2016-09-22 09:05] careri opened #3850 "500+ threads stuck in Processor.RunMessageLoop"
Starcounter 2.2 (Latest nightly)

I have similar issues as #3733
Around 10 threads that seem to be doing something useful.

And 500+ threads that looks like this:
Not Flagged >   22408   798 Worker Thread   <No Name>   [Managed to Native Transition]  Normal  0

If I double-click the thread to show the location I end up on row 42 in Processor.RunMessageLoop

@chrhol You have the code from yesterday

[2016-09-22 09:09] careri commented on #3850
I'm starting(F5)/stopping(Shift+F5) my application from Visual Studio.
I also noticed that the code changes I make don't load with F5.

So it seems that the sccode process isn't stopped and restarted

[2016-09-22 09:16] careri opened #3851 "Error in Request.cs, ClientIpAddress"
I got an exception for a request:
[code]

The value of ```http_request_struct``` is ```0x0000000000000000```

[2016-09-22 11:00] careri commented on #3844
FYI: I removed all calls CalculatePatchAndPushOnWebSocket when Session.Current != null.
Seems to work fine on 2.2 stable

[2016-09-22 11:00] linkdata commented on #3849
cc @per-samuelsson

[2016-09-22 11:05] per-samuelsson commented on #3849
The web admin is @andwah.

[2016-09-22 11:06] linkdata commented on #3849
Thanks, I wasn't sure.

[2016-09-22 11:20] andwah commented on #3849
@bigwad zero (0) is not a valid value, Is it possible to edit the value in the gui to a value higher then zero (0)?

@linkdata Can `FirstObjectID` have a default valid value? At the moment `FirstObjectID` is not initilized as far as i can see.

[2016-09-22 11:22] linkdata commented on #3849
I think the defaults must be taken from the existing configuration (if any). If there is no current configuration, the default for FirstObjectID would be `1`.

[2016-09-22 11:32] bigwad commented on #3849
It's not possible to modify FirstObjectID  and LastObjectID for existing database. Probably, the best course is to separate validation logic for the creation and modifying.

[2016-09-22 11:46] andwah commented on #3849
@bigwad How is it not possible?
No GUI entryfield to change value?  Sorry at the moment i do not have pnext running so i can test myself.

[2016-09-22 11:49] bigwad commented on #3849
It's not possible technically, hence not exposed in the UI. I need to emphasize - it's all about **modification** existing database.
For a new database there is corresponding setting in the UI and validation makes sense.

[2016-09-22 12:03] andwah commented on #3849
As far i can see in the code there is no place where the default value one (1) is set.

@bigwad Thanks. Then we need to add an entryfield for `FirstObjectID `and `LastObjectID` in the GUI.

[2016-09-22 12:09] bigwad commented on #3849
You don't have to. It makes sense only as read-only fields for user information. I'll try to rephrase my point: once a database is created it's not possible to modify those parameters. Kernel does provide means for such modification.

[2016-09-22 12:18] andwah commented on #3849
@bigwad Now i understand.  the issue is that `FirstObjectID `and `LastObjectID` can have an invalid value, due to not existing in the configuration file (default value is 0).

**Proposed solution**
1. Fix so `FirstObjectID `and `LastObjectID` has a valid default value.
2. Ignore validation of `FirstObjectID `and `LastObjectID` when modifying database settings from GUI

[2016-09-22 12:36] careri opened #3852 "Starcounter as a service?"
Is it possible to install starcounter as a service?
I think it used to be an option in the installer, but it's no longer there?

[2016-09-22 14:22] per-samuelsson commented on #3852
@careri

Quite some time since this was discussed the last time around, but AFAIK, there is no principal problem why it shouldn't be possible to do that.

Here is a relevant https://github.com/Starcounter/Starcounter/issues/2928#issuecomment-145775228 on that topic.

Just be sure you understand debugging the code host (and applications inside it) will be a pain when run in that fashion.

As for th

[2016-09-22 14:24] per-samuelsson commented on #3851
cc @alemoi

[2016-09-22 17:20] alemoi commented on #3851
Thanks for reporting! Did you get it during external request or internal Self call?

[2016-09-22 17:24] alemoi commented on #3852
There's a practical case when @ubbek installed it as a service, as I remember. @per-samuelsson there are certain conditions when its installed as a service, that wasn't changed. Just need to look for tje exact conditions, it was related to VS plugin, as I remember.

[2016-09-22 20:05] ubbeK commented on #3852
@alemoi Yes, I had to start the `scservice.exe` as a service when I ran a Jenkins Continuous Integration server as a service.

What I did was to create a service through a console with the command (note that sc.exe is the windows Service Controller)
`sc.exe create MyStarcounterService binPath="C:\Program Files\Starcounter\scservice.exe"`

After that one may simply start `scservice.exe` as a servic

[2016-09-22 23:10] alemoi commented on #3851
Its strange that you got an exception, because the code should fallback into returning loopback address:
[code]

[2016-09-22 23:15] alemoi commented on #3852
I have reviewed the code and Starcounter always installs as a service, which has manual start if VS extensions are also installed, because of the following reason:

@careri can you please clarify, maybe your installation does not create the service like this?

![image](https://cloud.githubusercontent.com/assets/208134/18769180/31c1ccb0-812b-11e6-940d-1620b3c0ea97.png)

[2016-09-22 23:17] alemoi commented on #3851
Ok, I see the comment in your code excerpt now. So the test for `if (null != http_request_struct_)` is not working in your case? Or maybe `socket_data_ ` is null?

[2016-09-23 04:42] per-samuelsson commented on #3831
Turned out this was not as straightforward as I first imagined. Quite a setback. The problem is that as soon as tests contains code that target database classes that was *weaved*, things don't work that well (obv). And running tests through the weaver on demand is something that require quite some redesign of the weaver.

[2016-09-23 05:25] careri commented on #3852
@ubbeK Just curious, why would you run starcounter on the builder server (Jenkins)?
I made some custom NuGets containing the necessery DLLs to build starcounter projects. If no StarcounterBin Environment variable is defined I redirect the assembly referenes to the ones in my NuGet

[2016-09-23 05:32] careri commented on #3852
@alemoi I think I might have missed something here.
scservice.exe - The monitor/manager of other starcounter processes
I have two instances of this process. One running as system and one running as me.

When is the one running as system used? The one bound to the registered windows service that is.

I can stop that service and still use star.exe, start/stop from Visual Studio.

The reason for me a

[2016-09-23 05:38] careri commented on #3851
@alemoi yepp, my http_request_struct_ pointer isn't null, but it has the value default(HttpRequestInternal)

Sorry can't say, didn't keep the call stack.

But I'll inform you if it occurs again

[2016-09-23 06:14] per-samuelsson commented on #3852
Really? I thought that was not even possible. It's certainly not desired, if I haven't missed on something new.

[2016-09-23 06:17] per-samuelsson commented on #3852
Should I write my own service that calls star.exe with my application as argument?

Can you elaborate some more on this? I don't understand it.

As we modelled it initially, the idea was that in production environments, Starcounter would bootstrap as a Windows service. And as a consequence of that, code hosts would be run in the same context, i.e. in Windows session 0. Do you see a problem with th

[2016-09-23 06:22] per-samuelsson commented on #3852
Exactly. That is the design we choose.

We actually discussed surfacing this in the installer - like have a radio-box combo where you would choose either "Production" or "Development" installation. If you choose "Production", we would configure the Windows service running Starcounter to **auto start**. If you choose "Development", we would instead set the service to **manual start**. And the later

[2016-09-23 06:41] careri commented on #3852
We'll might be that there is some info I haven't read. But please explain to me how we would go about running in production?

This is the Install procedure for production:
1. Install stable 2.2
2. Extract our code into a directory
3. Create a database in the Administrator (called HAD in this case)
4. Register/start our application using star.exe and the database HAD

Seems correct so far? But now

[2016-09-23 06:44] careri commented on #3852
1. Start the Starcounter service it will spawn a scservice in system session.
2. "Starcounter Personal Service", right-click run as administrator
![image](https://cloud.githubusercontent.com/assets/4263597/18776505/edb1428c-8169-11e6-8292-593dc7ebd4e9.png)

[2016-09-23 06:50] per-samuelsson commented on #3852
Yep.

No. We don't have restart functionality like that built in to my knowledge. The (admin) server will start (because it's configured as an auto-starting service), but you will need to start your databases / applications as in [4] from the above list.

Normally not, no.

Not sure actually. Maybe @alemoi knows. No matter what, just ignore it if so.

[2016-09-23 06:52] per-samuelsson commented on #3852
I'm surprised this didn't result in that the personal server refused to start (because an instance of `scservice` and related backend-processes already execute, and ports would be occupied. But again, I haven't been part of this area for quite some time, so maybe something has changed and this is a supported state.

[2016-09-23 06:53] per-samuelsson commented on #3852
FYI, you can create databases in the CLI as well: `staradmin new db`. Just in case you find a need to.

[2016-09-23 07:10] careri commented on #3852
That's why I'm suggesting writing my own service that is depending on the starcounter service. In the start-callback I would launch star.exe with the arguments needed for my application.

And in Stop I would just stop my database HAD

[2016-09-23 07:11] careri commented on #3852
Could you please explain why debugging processes running in System session would be a problem?
As long as I run VS as administrator I can see no problem?

[2016-09-23 08:20] bigwad commented on #3834
Here goes some info about 2.2:
1. Physical size of a database in RAM
Generally, you have two same ways of getting this information: perfmon and vmmap. Command line for perfmon in 2.2 has different format: perfmon \<servername_databasename\>, where servername is usually PERSONAL. Consumed memory is reported with storage_memory.total_pages parameter, that gives the number of 1Kb pages.
2. Database s

[2016-09-23 08:20] ubbeK commented on #3852
@per-samuelsson
Sure! Because we use the same server as a test server and we wanted to use the same scipts for build and deploy.
NuGet, what version of Starcounter is there? Latest Stable?

[2016-09-23 08:27] per-samuelsson commented on #3852
Yeah, that should work. I just remember we had problems with different privileges and how to enable debugging in Windows in the past, when trying to debug Session 0 processes. Hence the different two runtime modes. Feel free to do whatever you find necessary, it's just not under our "super-easy" umbrella. 🌂

[2016-09-23 08:29] bigwad commented on #3834
Some observations about 2.2 vs 2.3 resource consumption:

1. 2.2 seems to be more thrifty about RAM. My test shows 2.2 takes about 20% less RAM than 2.3 for  the same amount of data.
2. It's opposite for the disk. 2.3 seems to occupy half as much space as 2.2 does. But it goes with the cost of increased database startup time.

[2016-09-23 08:37] careri commented on #3852
@ubbeK I just made a NuGet for Heads (my company) for the needed assemblies.
Were currently at 2.2 stable. But moving to the new stable as soon as it's released.

So I'll make a new one then.

[2016-09-23 08:38] dan31 commented on #3834
@bigwad what is your current observation on startup time? We admit it is synthetic test.

[2016-09-23 09:33] bigwad commented on #3834
For my ~60M records database:

Version|Time, sec
-------|-------
2.2|30
2.3|400

[2016-09-23 11:27] alemoi commented on #3852
This is only for manual start, if needed by some reason.

Say that the computer restarts, the starcounter service will pull upp the scservice.exe. But will it also start the HAD database and the registered application?

As far as I know, @andwah maybe has some info about this. I thought it was implemented in one of our installations, but not sure.

[2016-09-23 11:33] andwah commented on #3852
There is no auto start of databases when scservice starts.

[2016-09-23 11:35] alemoi commented on #3852
Ok, I guess I confused it with auto-start of apps, when starting the database, right?

[2016-09-23 11:36] careri commented on #3852
Ok, sounds like I'll implement my own service then.
You can close this issue if you don't have any internal questions based on this

[2016-09-23 11:44] careri opened #3853 "ResourceDir locked"
@thebrauer sometimes has problems with git pull -rebase when he has changed web resources loaded with e.g. --resourcedir="..\..\wwwroot"
Working dir for the debug process=bin\debug

If his local changes needs to be rebased on changes from origin, git will first reset to the previous commit. Meaning that his local web resources will be removed from his working directory. Then git will reapply these

[2016-09-23 11:54] careri commented on #3852
How does the auto-start of apps feature work?

[2016-09-23 11:56] alemoi commented on #3852
@andwah I am not sure if it was just experimental. But you can elaborate on this better.

[2016-09-23 12:02] andwah commented on #3852
When a database is started from the admin gui all apps that is "auto-started" will also start.

Note: The apps will not be started if the database is started with star.exe or visual studio (f5).

[2016-09-23 12:04] careri commented on #3852
So to get them autostarted you need to register them through the Web UI? Or can this be achieved from the commandline?
Production wise it would be nice if an installer could do all of this without using the Web UI.

[2016-09-23 12:06] andwah commented on #3852
@careri You can use star.exe to start your apps from a batch file.

[2016-09-23 12:10] careri commented on #3852
@andwah Yes that is what I'm doing now.
But I was asking how this autostart feature works, is it only if you register through the Web UI?

I'll probably end up writing a service that starts stops the database/app

[2016-09-23 12:20] andwah commented on #3852
@careri yes

`Auto-started` is a button on each application in the admin gui aka Web UI.

There is an undocumented REST API to Start a database and it's 'auto-started' applications. And we also have a dll (in a private repo at the moment) for communicating with the server

[2016-09-23 12:29] careri commented on #3852
I'm guessing this Auto-started is a new feature not in 2.2-stable? Because I can't find it anywhere

[2016-09-23 12:31] andwah commented on #3852
Cant remember when it was introduced.

Here is a screenshot of my admin gui (latest starcounter version).

![image](https://cloud.githubusercontent.com/assets/2656996/18785734/3b9fc1f0-819a-11e6-9fdf-31e3e06aee50.png)

[2016-09-23 12:56] careri commented on #3852
Ah, that explains it. My App isn't that kind of App. It's just an executable, not a micro app.

[2016-09-23 13:01] andwah commented on #3852
@careri ahh :-) .  Then with just an executable your right. they can not be auto-started.
The scservice/database does not know that they exist until they are started.

So i recommend to use `star.exe` to start/stop the database and applications.

[2016-09-23 13:27] per-samuelsson commented on #3831
With all things above taking into consideration, the best I can produce right now, without having to do some hefty design of stuff I really don't want to touch in 2.x, is this:

1. From your application, add a reference to xUnit (normally from NuGet).
2. Write your tests.
3. Run your application.
4. Run tests in your application with `staradmin test [appname]`.

Because of above-mentioned limitati

[2016-09-24 13:50] SenerDemiral opened #3854 "Starcounter Not running!"
[code]

[2016-09-24 14:39] andwah commented on #3854
Some anti-virus software may interrupt and block Starcounter from working properly and you will get a similar error as you describe.

See https://github.com/Starcounter/Starcounter/issues/925

[2016-09-24 19:21] SenerDemiral commented on #925
Only I have Windows Defender and real-time protection is off.

[2016-09-24 19:22] SenerDemiral commented on #3854
Only I have Windows Defender and real-time protection is off.

[2016-09-24 21:16] dan31 commented on #3854
Hi @SenerDemiral! I believe that the reason for the current problem is the different installation path mixed with your user settings. @alemoi can you please follow up on the issue to see what might have gone wrong?

[2016-09-24 21:17] dan31 commented on #3853
@careri thanks for your question! @alemoi could you please follow up?

[2016-09-24 21:23] dan31 commented on #3850
@chrhol seems like an important reproduction! Should you continue on that or this is related to process management and thus go to @per-samuelsson?

[2016-09-24 21:25] SenerDemiral commented on #3854
I already tried to install default path. But result is the same.

[2016-09-24 21:26] dan31 commented on #3842
@miyconst have you managed to address it? (I do not recall we looked at this when running bigdata tests).

[2016-09-24 21:37] #2401 closed

[2016-09-24 21:58] dan31 commented on #3841
After discussion with @jedynykaban we obviously come to the point that the issue with decimal support must be addressed asap. From 1.x users I stem that 1.x decimal behavior is desired behavior. As @k-rus points out - rounding for decimals in floating point style in isn't an option (however note that ```decimal``` is not a ```BigInteger``` either). It is not clear why it is different and misleadin

[2016-09-24 22:03] dan31 commented on #3854
@SenerDemiral thanks for checking! Looks like definitely something specific to your Windows environment (most likely reason). @alemoi will get back to you asap.

[2016-09-24 22:29] SenerDemiral commented on #3854
I think found the problem.
I'm using Win10 with Administrator account/login.
If I signed-in the regular account Personel Server started as usual.
Sorry to take your time.
Maybe you mention this behaviour in getting-started documentation for newbies like me.

[2016-09-24 23:49] alemoi commented on #3854
@SenerDemiral so when you was signed in again as Administrator - the Starcounter did not start, right? Can you please post here the contents of the Starcounter server log that corresponds to startup failure? (server log is usually located in `Documents\Starcounter\Personal\Logs`) Thank you!

[2016-09-25 00:43] alemoi commented on #3853
I have just tested with simple Launcher application and resource directory becomes locked (e.g. you can't delete or rename it) once at least one file was served from it.

I just wrote an independent console application that uses `FileSystemWatcher` to observe some files, and upper directory becomes non-movable (can't rename or delete).

I guess the reason why it was so random in your case, because

[2016-09-25 01:02] alemoi commented on #3853
Here is the note I wrote about locking: http://starcounter.io/guides/network/static-file-server/#directory-locking

[2016-09-25 06:15] SenerDemiral commented on #3854
@alemoi Log is already in the first comment. anyway.
Log:
20160924T162732 Error sc://senerm/personal/service Starcounter - ScErrNetworkGatewayTerminated (SCERR10021): The server detected that the network gateway executable (scnetworkgateway.exe) unexpectedly terminated.
20160924T162732 Error sc://senerm/personal/service Starcounter - Process exitcode: -1073740791

[2016-09-25 07:11] SenerDemiral commented on #3854
Yes, with adminisrator signin, Personel Server is not running.

[2016-09-25 17:41] dan31 commented on #122
.NET Core is for the resque. Obsoleting 😺

[2016-09-25 17:41] #122 closed

[2016-09-25 18:45] dan31 commented on #159
Proposed resolution:
Support for comments in interactive SQL: won't fix.
Support for ```delete``` in interactive SQL and single quotes: due to #161.
Close by now.

[2016-09-25 18:45] #159 closed

[2016-09-25 19:46] dan31 commented on #189
An outsourced task to archive old forum is created: https://github.com/Starcounter/AdminTrack/issues/107.

[2016-09-25 19:50] dan31 commented on #197
The video is discontinued, so the issue is.

[2016-09-25 19:50] #197 closed

[2016-09-25 20:55] #207 closed

[2016-09-26 06:39] careri commented on #3853
Ok, thanks. That clarifies things

[2016-09-26 06:57] miyconst commented on #3842
@dan31 I have updated the big data generation, so not it takes much less time and not failing with this exception with fair number of generated data.

It is enough for now, and we should not spend more time on the project which just generates data. @HRidge what do you say?

[2016-09-26 07:14] HRidge commented on #3842
I'm happy with the fix @miyconst made, now a typical data generaton only takes a few seconds.

[2016-09-26 07:48] miyconst commented on #3842
Good. Then I close this issue.

[2016-09-26 07:48] #3842 closed

[2016-09-26 08:22] miyconst opened #3855 "CalculatePatchAndPushOnWebSocket: Object reference not set to an instance of an object"
[code]

Here is the line 188:

[code]

@chrhol please take a look, what is wrong in here?

[2016-09-26 09:29] chrhol commented on #3855
Thanks for reporting!

Do you have any way to reproduce this issue? The problem is probably not coming from the push itself, but for something when gathering changes.

[2016-09-26 09:53] chrhol commented on #3850
It looks like two different issues perhaps?

One is the huge amount of threads and the other, from the second comment, that code isn't updated and it looks like sccode.exe is not restarting.

I have the app so I can do some initial investigating and see if I can reproduce the behaviour.

[2016-09-26 10:43] miyconst opened #3856 "Setting Array.Data = null throws exception"
I remember some time ago this worked fine and removed all the array items. Currently it throws an exception.

[code]

[code]

You can see an example in my Playground solution by clicking the `Remove all` button in the matrix section.

[2016-09-26 10:44] miyconst commented on #3855
This issue might be the same as this one [Setting Array.Data = null throws exception](https://github.com/Starcounter/Starcounter/issues/3856), but I am not sure, investigating.

[2016-09-26 12:49] erikvk commented on #3835
Hi,

The issue seems more complex than I initially thought, and I sometimes have hooks working just fine when updating existing objects, and sometimes not. I think the issue is local to our current solution, where a lot of logic and transactions (relatively) are executed inside a commit hook. I have found another way of doing things that do not involve commit hooks, and I will transition our syste

[2016-09-26 13:40] #3718 closed

[2016-09-26 15:10] dan31 commented on #253
The documentation is now in-place http://starcounter.io/guides/sql/fetch/

[2016-09-26 15:10] #253 closed

[2016-09-26 15:14] #261 closed

[2016-09-26 15:22] dan31 commented on #270
Currently in 2.x we interleave the use of .NET tasks and SC tasks with ```ScheduleTask``` API (http://starcounter.io/guides/transactions/running-background-jobs/). Basically you nest one from another. In 3.x there are no more Starcounter tasks, all Starcounter jobs are done on regular .NET tasks.

[2016-09-26 15:22] #270 closed

[2016-09-26 15:32] dan31 commented on #277
Tried this with latest:
[code]

Got this:
[code]

So I guess --1 to the world's entropy.

[2016-09-26 15:47] k-rus commented on #277
New line will not be seen in VS debugger I believe. The test above is about experience using write line, not VS debug facility. I believe there is no improvements in the usability. Reopen the issue, until it is tested and confirmed to be fixed.

[2016-09-26 16:29] dan31 commented on #288
Addressed with a new kernel (2.3+).

[2016-09-26 16:29] #288 closed

[2016-09-26 16:45] #294 closed

[2016-09-26 16:48] #297 closed

[2016-09-26 18:49] dan31 commented on #302
This is now explained on http://starcounter.io/guides/transactions/running-background-jobs/ - a little weird place, but let's consider it as done.

[2016-09-26 18:49] #302 closed

[2016-09-26 20:38] careri commented on #3850
I'm guessing it's the same issue? That somehow new threads are spawned within the same sccode.exe?
That's why the new code isn't loaded and I end up with a lot of threads.

But that's just me shooting from the hip

[2016-09-26 21:02] dan31 commented on #331
No demand raised from current users. Perhaps it shows that decision to support only ```public``` was good. Please reopen if you consider it differently (cc @warpech @miyconst).

[2016-09-26 21:02] #331 closed

[2016-09-26 21:11] dan31 commented on #336
@alemoi just for curiosity — why? (Building clang as a part of build process would be unacceptably time-consuming). So far we use pre-built clang.

[2016-09-26 21:11] #336 closed

[2016-09-26 21:18] dan31 commented on #352
@alemoi have recently found a principal solution using object files.

[2016-09-26 21:18] #352 closed

[2016-09-26 21:29] dan31 commented on #3834
@bigwad thanks, what is the size in Gb approximately? I guess the difference feels really noticeable, and we'd have to work on improving it soon, most likely before releasing 2.3. Not discussing it further there, this is a separate issue subject.

As for objects and tables. A tool existed in 1.x https://github.com/Starcounter/Starcounter/issues/372. I guess the current repeated customer demand is

[2016-09-26 21:33] dan31 commented on #3841
Here https://github.com/Starcounter/Starcounter/issues/373 is explained that trimming 128 bit ```decimal``` in .NET to 64 bit X6 decimal is intentional. But not more motivation is explained. Was it motivated by a fact that "64 bit ought to be enough for anybody"?

[2016-09-26 22:24] alemoi commented on #336
I don't think it should be built automatically. Its not only time consuming, but takes enormous amount of space, around 20 Gb for one build configuration, if I remember.

[2016-09-27 04:08] miyconst commented on #3834
Not only in Administrator, but also as an API to be able to get the values in an application.

[2016-09-27 07:45] dan31 commented on #277
I confirm it is not pretty-printed in debugger. Perhaps just substitute newline to ```; ```.

[2016-09-27 07:50] dan31 commented on #3844
@chrhol @warpech can you confirm it comes in ```2.2.1.3234```? If not, it shall come in ```2.2.2.x```.

[2016-09-27 07:51] dan31 commented on #2907
@k-rus so you mean shortly: the test leaks?

[2016-09-27 08:16] k-rus commented on #2907
Originally SQL tests didn't leak, but some other tests were leaking, which might mean that Starcounter was/is leaking somewhere outside SQL. Now, SQL tests might leaking due to architecture of new SQL changed, so the test became meaningless. The last change was possible, since the original leakage was never found and solved.

[2016-09-27 08:19] k-rus commented on #277
I guess it will be good to have both and a space. Thus in debugger it will be:

[code]

and in console:

[code]

[2016-09-27 08:25] warpech commented on #3844
This fix was added to `develop` 3 days after `2.2.1.3234`, so it will not be part of this stable release but the next one.

[2016-09-27 08:28] warpech commented on #331
Sometimes I get asked about it by developers. I respond that the databases classes cannot be private, at least for now. It is always met with understanding so far, so I think it is good to mark it as won't fix.

[2016-09-27 08:29] miyconst commented on #331
+1 for what @warpech says. It is not possible to make `private` table in SQL, and everyone understands that.

[2016-09-27 10:00] #3816 closed

[2016-09-27 11:37] dan31 commented on #3458
Since no feedback awhile, let's consider this closed. Please reopen if you still experience the issue.

[2016-09-27 11:37] #3458 closed

[2016-09-27 11:37] dan31 commented on #3075
Since no feedback awhile, let's consider this closed. Please reopen if you still experience the issue.

[2016-09-27 11:37] #3075 closed

[2016-09-27 11:44] jwillmer commented on #3458
@dan31 you know there is a [GitHub bot](https://github.com/twbs/no-carrier) that can do this for you? Just noticed that you closed a couple of old issues.

[2016-09-27 12:18] atifwaqar opened #3857 "Question : Is there a way to restart an App without Unloading and Reloading DB"
Here is what I am experiencing :
1. I have 4 apps up and running. I can see it in SC Admin Panel.
2. I have tiny logic changed in 1 app (Adfenix app). by logic change I mean change in some algorithm, not in DB Schema.
3. I press the stop button for AdFenix app only

Note : On my Live server I have a DB of 60 GB
1. The DB is unloaded from RAM. (Dont know the exact wording for this. What I notice is

[2016-09-27 12:20] atifwaqar commented on #3798
Hello guys, Any luck with this issue?

[2016-09-27 12:26] atifwaqar commented on #925
I managed to run SC with my AVG antivirus active :

![image](https://cloud.githubusercontent.com/assets/4388707/18873115/22107a14-84be-11e6-8af6-e0aab77206eb.png)

I added a lot of things in AVG Exception list. let me know if you guys need that list.

[2016-09-27 12:29] #3480 closed

[2016-09-27 13:08] #3854 closed

[2016-09-27 13:33] per-samuelsson commented on #3857
@atifwaqar

I'm afraid there is not. Not in our 2.x versions. The reason for this is because how our hosting model in those versions work, with a single host for many applications. To unload a version of an application, the only technical possibility is for us to terminate and respawn the process.

To bring some positive news long-term, we are aware of that this model has its drawbacks and hence w

[2016-09-27 13:51] atifwaqar commented on #3857
@per-samuelsson  Thanks for the detailed response.
I would like to add some info here. If I stop an app (step 3 in my first comment) on my local machine, the app stops immediately without unloading the DB from RAM.
Now i'm guessing that if any function/process/handler is running from that app, the stopping process will take too much time. Am I right with this assumption?

[2016-09-27 13:53] bigwad commented on #3857
@per-samuelsson, given the required time and fact that memory usage drops, I assume entire database is restarted here. Isn't it enough to restart required application only, like:
[code]

[2016-09-27 13:58] atifwaqar commented on #3857
[code]
Yes, that is correct. And that's exactly what I do. But still the entire DB is restarting.

[2016-09-27 14:25] atifwaqar commented on #3857
@bigwad , I will check this tomorrow, and update you then.

[2016-09-27 14:28] dan31 commented on #3769
CC @chrhol

[2016-09-27 14:36] per-samuelsson commented on #3857
@bigwad, good catch. I was under the impression that what took time was the code host *attaching/connecting* to `scdata` that took time, but maybe I remember wrong.

Let me investigate this a little and get back on that.

[2016-09-27 17:00] per-samuelsson commented on #3857
Over here, things seem to work as expected.

Starting fresh, I do

[code]

That sequence will recycle the `sccode` host process, while `scdata` stays resident.

Changing that to

[code]

will instead recycle both processes. This is all by design.

Please let us know the experience you have doing this, @atifwaqar!

[2016-09-27 17:05] per-samuelsson commented on #3857
Issues related to slow-starting databases: #3481, #3494.

[2016-09-28 06:36] ivarbergman commented on #3481
HI! I just want to check with you if there are any progress (or new findings) on this issue? We are still suffering from slow database & application startup. About 30 sec for each app.

Some of our servers have 10 database with 15 apps each. Which means that restarting the services is a 1+ hour process.

We use Azure A2 instances and using starcounter version Starcounter-DevelopNightlyBuilds-2.2.1

[2016-09-28 09:08] niklasbjorkman opened #3858 "Client side send-receive callback"
Is there any callback in the client side framework where we can use to get a callback when the user invokes a call to the server and also when a response is received? We need a way to block the users from using the interface while a call i being processed server side (a "please wait" symbol).

We need to be able to differentiate the user induced calls from the Starcounter idle refresh that occurs

[2016-09-28 10:53] miyconst commented on #3858
The only callback is available is the JSON view-model state changes. In your case you can easily add a property `Busy$: false` to the client side. Set it to `true` on user interaction, and then revert back to `false` on server side once the calculations finished.

[2016-09-29 07:01] chrhol commented on #3769
Thanks for the ping @dan31. Totally missed this issue.

It's clearly a bug on the server. I think I missed this part, and the server simply applies the change without consideration of the version.

[2016-09-29 07:52] chrhol commented on #3844
Conclusion is that then the fix works, but is not included in 2.2.1. It will be included in 2.2.2 release. I consider this issue resolved then and will close it!

[2016-09-29 07:52] #3844 closed

[2016-09-29 13:27] tomalec opened #3859 "Partials without explicit slot attributes, get unscoped from auto-assignment"
as @warpech noticed in HellowWorld app.

When you create partial without specifying slot attributes for some elements, the names that are created automatically are prefixed with `""` ;)

This is because Starcounter (w/o Launcher) does not add `juicy-composition-scope` not `juicy-tile-group` elements between scopes.

We decided to change `<juicy-composition-scope>` to `<meta itemprop="juicy-scope"

[2016-09-29 13:39] warpech commented on #3859
I think the attribute should be `content`, not `name`:

[source](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta)

[2016-09-29 13:49] tomalec commented on #3859
`content` or `scope`?

[2016-09-29 14:08] warpech commented on #3859
`<meta itemprop="juicy-scope" content="AppName">` seems to be the most spec-compliant to me

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/itemprop

[2016-09-29 14:19] tomalec commented on #3859
Cool, thanks :)

[2016-09-29 16:31] warpech opened #3860 "Calling OntologyMap in a mapper app sometimes crashes the previous app"
I have 3 apps:

- HelloWorld
- Images
- HelloWorldMapper - defines `OntologyMap` for partials in HelloWorld and Images

Once every two-three occasions, when I restart **HelloWorldMapper** from Visual Studio, I get the following exception:

![2016-09-29 18_19_21-helloworld debugging - microsoft visual studio](https://cloud.githubusercontent.com/assets/566463/18962861/c4fb89ac-8672-11e6-8882-81144b5

[2016-09-30 00:01] alemoi commented on #3860
Hi @warpech Thanks for reporting! I will check tomorrow. I guess `HelloWorldMapper` just consists of this one Program.cs file, is it?

[2016-09-30 07:27] niklasbjorkman commented on #3858
Thanks for the reply. Yes, we could implement that but the problem is that we need some way to know when something is updating the JSON model in the client. Is there a way to do that without having to implement "busy" code manually on every component throughout the system.

There are user interaction that is client side only, and do not update the model, and should therefor not set the busy flag.

[2016-09-30 07:33] chrhol commented on #690
This issue is already solved. Closing.

[2016-09-30 07:33] #690 closed

[2016-09-30 07:38] chrhol commented on #1477
Probably fixed when we're switching over to Newtonsoft (#3811). I will verify that that's the case and close this issue when finished with the other issue.

[2016-09-30 07:53] #3571 closed

[2016-09-30 08:01] warpech commented on #3860
Yes. I will push it later to GH

On Sep 30, 2016 2:01 AM, "Alexey" <notifications@github.com> wrote:

[2016-09-30 08:06] chrhol commented on #3373
Part of #3727

Will be solved by having a specific init method for templates.

[2016-09-30 08:11] chrhol commented on #2650
Parts of this is already covered, and with the change of jsonparser to newtonsoft (#3811) these parts will be documented by that issue. Closing this one.

[2016-09-30 08:11] #2650 closed

[2016-09-30 08:14] chrhol commented on #2059
Considering that we have had the reuse-functionality for quite some time and the need for adding additional properties to a reused object have not surfaced, I think it will be good enough to keep it as-is.

That is, with reuse you reuse a whole object, and cannot add additional properties. With inheritance you can add any properties you like.

Closing this issue.

[2016-09-30 08:14] #2059 closed

[2016-09-30 08:15] chrhol commented on #3086
I think this issue can be closed now. The documentation will also be updated with issue #3811 and the switch to have more of this set in code-behind.

[2016-09-30 08:15] #3086 closed

[2016-09-30 08:17] chrhol commented on #3443
Closing this issue now.

[2016-09-30 08:17] #3443 closed

[2016-09-30 08:20] chrhol commented on #3798
Sorry, totally missed your comment. Good thing you bumped it @atifwaqar.

Haven't really followed this issue. I'm going to need a little time to read through and test it to give an opinion.

[2016-09-30 08:28] chrhol commented on #3401
Since we have taken the decision to move away from specifying metadata inside the JSON-by-example file, and that this can be solved by setting a binding to the `Data` property in json this will not be added.

[2016-09-30 08:28] #3401 closed

[2016-09-30 08:29] chrhol commented on #3736
@atifwaqar: have you seen this again? Otherwise I will close this issue for now.

[2016-09-30 08:31] chrhol commented on #3672
This doesn't seem to occur anymore. I will close this issue for now.

[2016-09-30 08:31] #3672 closed

[2016-09-30 08:31] chrhol commented on #3604
@atifwaqar: Do you still get these exceptions or have they been resolved now?

[2016-09-30 08:39] chrhol commented on #3626
The NPE doesn't occur anymore after the switch to Roslyn. Closing.

[2016-09-30 08:39] #3626 closed

[2016-09-30 08:41] chrhol commented on #3101
It's now possible to specify that properties that does not exist in the template will be ignored (#3802)

[2016-09-30 08:41] #3101 closed

[2016-09-30 09:16] chrhol commented on #3856
Reproduced. Quite easy fix, and pretty bad to miss in the first place :blush:

Fix pushed to develop and soon pnext

[2016-09-30 10:08] niklasbjorkman opened #3861 "Heads application do not work after upgrade to 2.2.1.3234"
Application worked before upgrade, after upgrade nothing is displayed in the "IndexPage" section (implemented according to sample on SC site).

JSON is update correctly. Cleared temp, delete DB.

Even more critical is that it is not possible to downgrade to a working version. After downgrade the weaver no longer works.

[2016-09-30 10:37] atifwaqar commented on #3736
You can close this issue. Thanks.

[2016-09-30 10:41] #3736 closed

[2016-09-30 11:04] warpech commented on #3860
Code is here:

- https://github.com/StarcounterSamples/HelloWorld/tree/images-integration-new-refactor2
- https://github.com/StarcounterSamples/Images/tree/images-integration-new-refactor2

[2016-09-30 11:20] per-samuelsson commented on #3861
Hard to say why. I guess you have tried disabling the browser cache? (I just seem to remember that previously, weird browser caching stuff has caused "blank" pages like that).

cc @warpech @miyconst @chrhol

You uninstall "2.2.1.3234", reinstall the previous version (successfully), and then the weaver fails when you rebuild your application? If so, what kind of error do you get?

[2016-09-30 11:29] chrhol commented on #3798
I tried to use `PuppetJsProvider` together with Playground, but I'm not sure exactly how it's supposed to work. How can you determine in the request-filter that what the client asks for is actually the standalone page? You only know that when we have the actual response.

[2016-09-30 12:32] tomalec opened #3862 "Replace imported-template-scope with meta tag"
As we are replacing `juicy-composition-scope` with `<meta>`, we can do the same with `imported-template*`.

@warpech WDYT?

If so, should we do in same batch with juicy-composition, or wait little bit longer, as such change potentially affects all apps.

[2016-09-30 13:15] dan31 commented on #3861
We checked with @niklasbjorkman and it appears that everything works, patches go through, except that the response is not rendered at all. Most likely we missed something when moving from Polymer versions 1.4 -> 1.6.1 (he upgrades from 2.2 to 2.2.1 Stable) and what we had to reflect in release notes to let users migrate the code. But what this might be?

[2016-09-30 13:52] tomalec commented on #3861
Do you have `starcounter-include.html` in you app code? (custom one, different that one shipped with Starcounter)

Could you post a piece of code around `<starcounter-include>`? and a screenshoot of output from (Browser Dev Tools') elements tab around  it?

[2016-09-30 13:52] andwah commented on #3861
maybe some duplicated mix of polymer versions? (one version in the app solution and another one in starcounter?)   just guessing....

[2016-09-30 14:00] niklasbjorkman commented on #3861
We do not have any reference to starcounter-include.html. Only reference to that is from a file we no longer use.

[2016-09-30 17:32] dan31 commented on #3858
CC @tomalec @warpech

[2016-09-30 17:37] #3853 closed

[2016-09-30 19:37] miyconst commented on #3858
@niklasbjorkman please look at the [Polymer observers](https://www.polymer-project.org/1.0/docs/devguide/observers).

[2016-10-01 08:15] miyconst commented on #3861
I am trying to run this project and seeing the following error:

[code]

Anyone seen this thing before?

[2016-10-01 09:02] miyconst commented on #3861
Here is the fix for the issue above:

**Before** unpacking the downloaded `zip` or `rar` archive right click on it and unblock it.

![image](https://cloud.githubusercontent.com/assets/6435556/19013042/64f03030-87c6-11e6-8f2c-d2d673ab1e21.png)

Otherwise windows will mark the files as unsafe and the compiled assemblies as well. This will result in the error above on app start.

[2016-10-01 09:17] miyconst commented on #3861
And here is the fix for the main issue:

The application works, and as expected. The partial handling magic has been removed from Starcounter side. That is why the following partial usage no longer loads the partial:

[code]

This `model.IndexPage.Html` property was previously calculated and set by the server as sum of all HTML responses from all the partials. This magic is no longer there. Explan

[2016-10-03 06:41] chrhol commented on #3856
I will close this issue, please reopen it @miyconst if the problem still exists.

[2016-10-03 06:41] #3856 closed

[2016-10-03 07:13] miyconst commented on #3856
Thanks @chrhol for fixing, I will reopen the issue if I get the error ever again.

[2016-10-03 10:11] niklasbjorkman commented on #3858
Thanks. We will try to implement that now client side. What we then need to do is to set the "Busy" to false server-side on each GET + handler. Can we somehow hook into all the responses centralized to prevent the requirement to remember to set Busy=false in all handler implementation?

[2016-10-03 10:14] miyconst commented on #3858
@niklasbjorkman there is an option to use middleware filter to catch all requests/responses. Please read this page - [Using middleware](http://starcounter.io/guides/network/using-middleware/).

[2016-10-03 10:32] niklasbjorkman commented on #3858
Neat. Implemented the Response middleware but the client never get a response and eventually chrome gives a timeout. The method is called and the "return response;" is reached.

What am I doing wrong?
<code>
            Application.Current.Use((Request request, Response response) =>
            {
                if (Session.Current.Data != null)
                {
                    LoginSession l

[2016-10-03 10:35] niklasbjorkman commented on #3858
Found one more thing to try. Please hold :)

[2016-10-03 10:39] niklasbjorkman commented on #3858
Ok, that solved the call to URI:s but how to handle the button click and value-changed events?

[2016-10-03 10:51] miyconst commented on #3858
[code]

[code]

[code]

[2016-10-03 10:56] miyconst commented on #3858
Explanation to the code above:

- There is a variable `LoadingButtonClick$` which is `0`, means `false`.
- The button applies `++` to the variable on click, and the value became `>0`, means `true`.
- The button has a `disabled="{{model.LoadingButtonClick$}}"` binding. Means the button will be disabled as soon as `LoadingButtonClick$` is `true`.
- On button click the `LoadingButtonClick$` became `t

[2016-10-03 12:17] niklasbjorkman commented on #3858
Hmm. A few things I do not get:
- This will only disable the button? We cannot trigger our "please wait" message that will lock the whole page for this?
- We actually need to Cancel() all Actions?

Then it will be as much work as setting a .Busy = false manually on all requests?

[2016-10-03 12:34] chrhol commented on #3850
I have not been able to reproduce the issue with the codehost not restarting and changes not being reflected. Do you have any way that you can consistently reproduce it @careri, or do you know if you are doing something specific when it happens?

As for the large number of threads, if I understand correctly, a scheduler can spawn additional threads (I think the hard limit is 200 threads per schedu

[2016-10-03 12:41] careri commented on #3850
No, I can't reproduce consistently.
It happends some times, I'll give you a call next time. But it seems to me that the codehost doesn't restart since new code isn't loaded/used.

The debugger is extremly sluggish as well.

[2016-10-03 12:48] chrhol opened #3863 "Fix problems with databinding in TypedJSON"
Current implementation of how bindings between a TypedJSON object and an underlying dataobject has a couple of issues that needs to be fixed.

**How it works today**

- A TypedJson object consists of two parts: a proxy-object (the `Json` class or subclass) and a template. The template defines how the TypedJson object looks and what properties it has and might (and in most cases will) be shared bet

[2016-10-03 12:50] chrhol commented on #2597
Created anoher issue with more specific details (actually missed that I already created an issue for it :blush:).

[2016-10-03 12:50] #2597 closed

[2016-10-03 12:52] chrhol commented on #2582
Resolved and not really relevant any more. Closing.

[2016-10-03 12:52] #2582 closed

[2016-10-03 12:54] chrhol commented on #2624
Over a year since the last comment. I will close this one, haven't seen or heard anything of the problem described here.

[2016-10-03 12:54] #2624 closed

[2016-10-03 12:59] chrhol opened #3864 "Support null/nullable in TypedJSON"
Add support for null/nullable values in TypedJSON.

[2016-10-03 13:04] chrhol commented on #3864
#269, #3072, #3694

[2016-10-03 13:07] miyconst commented on #3858
As I already wrote, you can add any logic you needed on top of the `LoadingButtonClick$` variable. For example adding loading dialog.

[code]

[2016-10-03 13:13] niklasbjorkman commented on #3858
Yes, but we can already achieve that globally with the suggested polymer observers? The problem is still the server side where we need to manually cancel all actions in all Handle() implementations.

If we instead of using click-handlers use observers we do not need to handle click, evaluations and so on differently in the client if we use the Busy-flag proposed.

Resetting the Busy flag server si

[2016-10-03 13:14] chrhol commented on #2806
Already fixed.

[2016-10-03 13:14] #2806 closed

[2016-10-03 13:22] miyconst commented on #3858
Currently I can think of only one solution. Override the `HasChanged` function in your JSON class.

[code]

cc @chrhol

[2016-10-03 13:26] chrhol opened #3865 "Allow (optionally) to omit values that are null"
Original issue: #3694.

Take in consideration https://github.com/Starcounter/Starcounter/issues/3694#issuecomment-228306561.   Requires `add`/`remove` support for patches.

[2016-10-03 13:27] chrhol commented on #3694
Created two separate issues: #3864, #3865

[2016-10-04 08:38] atifwaqar commented on #3604
I checked all of my logs, and it looks like we dont get this error anymore. So feel free to close this ticket, if I see the exception again, i will reopen this card.
Thanks for follow up :)

[2016-10-04 08:50] chrhol commented on #3604
Awesome 😁 thanks for the feedback @atifwaqar!

[2016-10-04 08:50] #3604 closed

[2016-10-04 13:19] miyconst opened #3866 "Add possibility to modify array of primitive values from client side"
Today it was decided between @tomalec, @warpech, @chrhol, and me to let client modify data inside the primitive arrays.

The main point is that an array of primitive values is a data container similar to a string or integer property. The client should be able to update data inside the view-model, but not the view-model itself.

Proposal for the code implementation:

[code]

Same as other propertie

[2016-10-04 15:18] warpech commented on #3798
`PuppetJsProvider` assumes that any request with `Accept: text/html` to any of your `Handle.*` asks for a standalone page.

If you don't like that behaviour, you can wrap `PuppetJsProvider` with a conditional middleware.

[2016-10-04 15:44] thebrauer opened #3867 "Custom element with input with type bound to 'text' not working"
I have a custom element that has an input field in it. That input has a binding on type so you can control it from where it is implemented. If I try to send 'text' in type, nothing is bound but if I send anything else it works.

`<dom-module id="heads-input">
...
<input type="{{type}}" value="{{value}}">
...
Polymer({
            is: 'heads-input',
            properties: {
                type: {

[2016-10-04 16:01] RickardR opened #3868 "Problems when installing/upgrading SC"
This has happened everytime I try to install SC (upgrade) when SC already is installed:
It has happened every time so far (4 times).

![sc1](https://cloud.githubusercontent.com/assets/15194364/19081211/bf5c6332-8a59-11e6-9c1b-a5d3c7f1ad0c.png)

SC don’t uninstall properly, after klicking “Yes” I get

![sc2](https://cloud.githubusercontent.com/assets/15194364/19081219/c3f414e4-8a59-11e6-9278-09aedd

[2016-10-04 20:31] per-samuelsson commented on #3868
@RickardR

Thanks for reporting this. Sorry for the inconvenience.

It seem to be some state we don't properly handle, and I recall we've seen something like this previosly, and it appeared around some certain VS release.

Can you take a look and see if #3486 seem familiar to what you are experiencing?

[2016-10-05 11:03] tomalec commented on #3867
I suspect it might be related to the fact that you bind to native element via property `type="{{` according to Polymer docs https://www.polymer-project.org/1.0/docs/devguide/data-binding you should do it like `type$="{{`

[2016-10-05 11:18] thebrauer commented on #3867
Yep, that did the trick! Strange that it just stopped working all of a sudden. And that password and number still worked. Thanks!

[2016-10-05 11:18] #3867 closed

[2016-10-05 13:00] tomalec commented on #3867
Maybe you were using the SC version with Polymer <1.0

attribute values provided as string works as usual, the only thing that require custom `$=` setter are binding from Polymer to native elements.

[2016-10-06 10:04] Mnosek commented on #3852
The scservice/database does not know that they exist until they are started.

I've just faced the same problem, that I can't auto-start apps which are not installed from the warehouse (executables). On a test environment I need to write scripts manually to start everything. It would be very useful to mark apps executed once as auto-starting. Maybe we should consider implementing it in the future?

[2016-10-06 11:41] per-samuelsson opened #3869 "Prototype self-hosted app bootstraping in 2.x"
Found myself researching/prototyping this to get further on https://github.com/Starcounter/Starcounter.Core/issues/120.

We've taken a principal decision to try realizing this in a future 2.x-based version, initially with a limited scope though (basically, one self-hosted app / database), possibly extending that over time.

There are oldish but still relevant background discussions in the .Core tr

[2016-10-06 13:49] joozek78 commented on #3394
Well, I just got hit by this issue today. This is really confusing, and I subscribe to the idea that application name should be taken from assembly name, not file name. I wrote a script that finds SC applications and runs them. It turns out, python normalizes the paths to lowercase (on windows).

[2016-10-06 14:29] bigwad commented on #3559
My experiments and source code analysis show following behaviour:

schema modification| effect in 2.2|effect in 2.3
------|-----|-----
type change|data loss without warning|error on upgrade, so data is intact
field remove|data loss without warning|data is intact. safe to add the field back

[2016-10-06 15:47] andwah commented on #3852
@Mnosek It's possible already today to add an local executable to be autostarted (via a configuration file).

It's **not user friendly** as you need to edit the configuration file manually.

**AND** you need to start the database from the administrator gui (or with a REST call).

I can help you to set this up if this is the way you like to go.

[2016-10-06 23:34] #3859 closed

[2016-10-07 07:50] per-samuelsson commented on #3869
Just for the record: I'm doing this in **pnext** only.

[2016-10-07 08:43] AElmoznino opened #3870 "Unable to run HelloWorld and InvoiceDemo (SCERR4117)"
Hi!
My name is André, I'm doing the KitchenSink coding assessment.

Tried doing the HelloWorld and InvoiceDemo apps, but I get 'ScErrCantFindImageFile (SCERR4117)'. I couldn't find any solution for it in the Wiki.

Any ideas on how to solve it? I've followed the instructions exactly and copy-pasted the code from the tutorial, but always that error, so I can't load the http://localhost:8080/invoice

[2016-10-07 08:59] miyconst commented on #3870
Hello Andre.

Could you please share you code on GitHub and provide which Starcounter version do you use?

[2016-10-07 10:28] per-samuelsson commented on #3869
If we decide to actually realize this, we must decide how to front it on the highest level. Two dedicated templates, e.g.:

* Starcounter Application
* Starcounter Self-hosted Application

Or via configuration on the former? Or something else?

Just from the top of my mind, it seem a single customizable template / application would be most reasonable, since how to *run*/*host* an application is mo

[2016-10-07 11:21] per-samuelsson commented on #3869
Adding to the above: how to handle references to Starcounter assemblies.

In our standard 2.x context, references are resolved without requiring "Copy Local" and we expect that Starcounter assemblies are not part of the application distribution. Resolving them runtime is implicit: since the host is `sccode`, they are all available.

For this model to work, we need to explicitly resolve them at run

[2016-10-07 12:42] per-samuelsson commented on #3869
I think the way to go here, considering that we likely want to preserve the model for our standard/legacy apps (where binaries are not copied), is that we introduce a custom assembly, e.g. `Starcounter.SelfHost` (or `.Standalone` or whatever we want to call it) containing the front API to bootstrap apps in independent hosts. This assembly is just thin and standard copied to output, and include a r

[2016-10-07 12:58] per-samuelsson commented on #3869
Bah, just realized that still won't work, since failure to resolve will happen earlier, before we get a chance to install the resolver.

Maybe it's better to review the model we have today actually, and support local copying of our fronting assemblies after all. It's probably involve some work, but is good since it's more in line what can be expected from other frameworks (I think).

[2016-10-07 16:13] per-samuelsson commented on #3869
Did some reviewing of how projects in the standard framework support transitive dependencies and it seem to work to our advantage. That is, if we introduce a copy-local dependency to a new self-hosting specific API assembly, assemblies referenced from that seem to be copied as desired.

If that hold true, it gives us a way to configure this new independent hosting style using copy local and still

[2016-10-07 17:40] Mnosek commented on #3852
Hi @andwah, thanks for your reply.
My goal is to run Starcounter and executables automatically if the process is shut down or machine is restarted. For now I do it by custom watchdog running as a service and scheduled system task to run everything after startup. Batch file is responsible for starting Starcounter server and executables. Unfortunately it isn't a good solution, there is no way to mak

[2016-10-07 21:00] dan31 commented on #3852
@andwah Do you think you could wrap up the use of manually autostarted executables as an .io article? All our users would largely appreciate that! I would suggest this section: http://starcounter.io/guides/tools/.

@Mnosek which watchdog do you use? There is one https://github.com/dan31/cbwatchdog that I've made to substitute the absense of a watchdog process in Starcounter 2.x. This is a temporar

[2016-10-07 22:14] dan31 commented on #3868
@RickardR seems exactly like the one I've had with Update 2. It happened before Anniversary update and bounces on something Microsoft has done between Update 2 and Update 3 that we couldn't control during the installation.

[2016-10-08 11:58] andwah commented on #3852
@Mnosek The configuration file `applications.json` is located in the database repository e.i. `\Documents\Starcounter\Personal\Databases\mydatabase\applications.json`. If there is no autostarted apps the file will not exist. And you need to created it manually.

**applications.json**  example:
[code]

The ***Deployed*** array is populated by the administrator gui.
The ***Local*** array is where yo

[2016-10-08 12:02] Mnosek commented on #3852
@dan31 I've used exactly this watchdog made by you :)

Perfect!

Unfortunately it does not. I've checked once again. When DEP is turned on, Starcounter server starts, but apps (executables) doesn't. Service is set up for "Automatic (Delayed)" start, log on as "Local System Account". **Actually the problem occurs only when I restart the machine**. If I just kill all Starcounter processes by `starad

[2016-10-08 12:03] andwah commented on #3852
@dan31 Im not sure. it's very internal use and if we are going to make it public then i think we need to solve on how to start a database first.

[2016-10-08 12:04] Mnosek commented on #3852
@andwah thank you, I will take a look at it and try it out .

[2016-10-08 13:07] Mnosek commented on #3870
Do you use virtual machine to run it?

[2016-10-08 13:54] Mnosek commented on #3600
Hi,
I just faced the same problem at Sweoffshore project. My current version of Starcounter is 2.3.0.4048. Problem occurs only when I reload the page manually by the browser. If I navigate to it from the other part of application it is ok. Page is quite complex and complicated compare to sample apps, but I don't think that there is to much data there. What might be important there are many `Self.G

[2016-10-08 17:05] Mnosek opened #3871 "Starcounter apps don't work on iOS 10"
Starcounter apps don't work on iOS 10 at all. The window is blank (nothing renders) and there is an error in console: `TypeError: undefined is not an object (evaluating 'descriptor.value')`

As every iPhone user already got an update to the newest iOS 10 I think that it is a major issue.
### Affected browsers:

Chrome and Safari on iOS 10

I've investigated it a bit and it seems that it is a webco

[2016-10-10 06:39] chrhol commented on #3600
@Mnosek: Is there some way I can run the apps locally? Or maybe we can do a hangout when you are available.

[2016-10-10 07:38] chrhol commented on #3032
I'm not really sure why this issue is assigned to me or if we have found on an actual way forward (other than agreeing that this needs to be "fixed" somehow).

@dan31: is this something we should change in 2.x, and if so who should do it? :smile:

[2016-10-10 07:56] chrhol commented on #2846
Going through all issues on me and found this one which I missed before. Not many comments here :smile:

I think with the current structure with mappings and `Self.GET` it will be very difficult to implement.

**App started**
We have to keep a log of all mapped calls (`Self.GET`) that belongs to viewmodels still alive and only make the partial call to one specific app, and make sure that it's merg

[2016-10-10 08:03] chrhol commented on #2896
Old issue. @dan31: Should we still add the snippet above to our VS templates?

[2016-10-10 09:52] per-samuelsson commented on #3870
@AElmoznino

Thanks for reporting this.

Any chance you have created a database with an **underscore** (or similar, non-standard) letter in the name? If so, you could be suffering from #2913. (It's just a long-shot guess, but worth checking).

[2016-10-10 10:14] per-samuelsson commented on #3869
Regarding the weaver strategy we have for this (https://github.com/Starcounter/Starcounter.Core/issues/120), one thing that involve extra work is if we want to support unit testing of standalone Starcounter *libraries* (i.e. not only exe assemblies). Which I guess we must?

**MyLib.dll**
[code]

**MyLib.Tests.dll**
[code]

To support that, we must redesign some core parts of how the weaver operate

[2016-10-10 10:28] per-samuelsson commented on #3684
I'd really like to do this as a pre-requisite before going further with 2.x self-hosted app story (current working issue #3869).

[2016-10-10 11:49] joozek78 opened #3872 "[future] Allow loading different versions of the same assembly"
Currently starcounter doesn't allow loading two assemblies with the same display name, even if their strong names are different. This is because of two reasons:

1. Database objects are referred to by dispaly name of assembly (e.g. `Simplified.Ring1.Something`) - this will hopefully be alleviated once new mapping is in place. This also pertains only to assemblies that introduce database classes (w

[2016-10-10 13:28] chrhol commented on #3872
For the second point, this is an old problem that surfaces from time to time, and we have yet to solve it correctly. I actually bumped an old issue a couple of days ago since this might be a problem when I push the change in which jsonparser we use.

It would be really good to raise the priority on this and finally solve it.

Old issues: #1601, #1620

[2016-10-10 13:41] miyconst commented on #3872
+1.

From HO chat by @joozek78:

Some more readings and a reason to support `app.config` file in Starcounter - [Referencing 2 different versions of log4net in the same solution](http://stackoverflow.com/questions/3158928/referencing-2-different-versions-of-log4net-in-the-same-solution/3163050#3163050).

[2016-10-10 14:37] k-rus commented on #3872
Isn't it a source for potential problems when it is unclear which actual assembly is used? Such flexibility is usually difficult to debug.

[2016-10-10 15:05] alemoi opened #3873 "Starting apps from scratch VS restarting one app"
Assuming the database is running. We have 3 apps A, B, C.
What should be faster in calendar time:
1. Codehost is empty. Start all apps sequentially: A, B, C.
or
2. All apps are running in codehost (A, B, C). Then start one already running app, lets say A (which causes all apps restart).

My initial guess was that 1 would take less time, because we don't restart the codehost there. But seems its no

[2016-10-10 15:10] Mnosek commented on #3151
I would like to join to this feature request. Commit hooks are the only proper way to integrate separate apps, so polymorphism here would be very useful IMO.

[2016-10-10 15:22] alemoi commented on #3873
https://github.com/Starcounter/Starcounter/issues/3481

[2016-10-10 15:27] joozek78 commented on #3872
I agree it can be confusing, but sometimes it's necessary. Imagine two
completely independent 3rd party apps that use the same library (let's say
log4net or FluentValidation), but in different versions. Currently we can't
even run them together.

On Mon, 10 Oct 2016 at 16:37 Ruslan Fomkin <notifications@github.com> wrote:

[2016-10-11 05:10] per-samuelsson commented on #3872
FWIW, we are going towards a model where we can support multiple hosts / database. With such ability, we can ask to load apps that necessarily need this to run in independent hosts. Maybe we should push this until we have that?

Anyone interested in looking at the loading strategies we employ today in more detail, the code host [AssemblyResolver](https://github.com/Starcounter/Starcounter/blob/dev

[2016-10-11 05:13] per-samuelsson commented on #3872
And [this method](https://github.com/Starcounter/Starcounter/blob/develop/src/Hosting/Starcounter.Hosting/AssemblyResolver.cs#L154) would probably be of most interest.

[2016-10-11 08:34] chrhol commented on #3708
Part to review for #3727

[2016-10-11 23:38] alemoi commented on #3155
This is no longer relevant.

[2016-10-11 23:38] #3155 closed

[2016-10-12 07:19] per-samuelsson commented on #3873
Not a clue I'm afraid. Option 1 should be the fastest for sure. But that assumes you don't include bootstrapping the host within the timed scope.

To be clear what I mean

[code]

If 1 is "app bootstrapping timer", 1 should be faster than 2.

[2016-10-12 07:22] per-samuelsson opened #3874 "Merge Starcounter.Bootstrap and Starcounter.Hosting"
Their concerns are rather similar as the code looks like today. If it's not to big of a hustle, I'll probably merge them as part of #3869. Let me know if you have objections to that.

[2016-10-12 07:35] chrhol commented on #3465
Some more issues with this was found by @malx122. Does not work properly when changing and reusing siblings/partials.

Working on a fix that is almost done.

[2016-10-12 07:57] chrhol commented on #3855
Do you think this issue was caused by the same thing as in #3856 @miyconst? Or have it occurred again.

[2016-10-12 08:01] chrhol commented on #3600
The issue from @Mnosek is solved now. Was actually caused by another problem, similar to what is described in #3705.

I do think though, that the serializer and the patchgenerator needs to be refactored and simplified, to use a better pattern and probably not use our custom jsonwriter, but this belongs to another issue.

I will close this one for now.

[2016-10-12 08:01] #3600 closed

[2016-10-12 08:23] AElmoznino commented on #3870
Hi all!
Thanks for everyone getting so involved, and sorry for a slow response!
I was using the latest Nightly build at the time of writing, but I see now that you release several a day, so not 100% sure which one it was. I was running it on my mom's Windows desktop, and I haven't been there since, thus the slow response. Next time I'm there I can upload the code to GitHub and see what build I use

[2016-10-12 09:28] bigwad opened #3875 "Database kernel may hang deleting an object"
In certain cases, a database may hang deleting an object if there is a quite long binary or string field inside the record.
Other possible evidence of this problem could be the failure to find such a record using index on that field.

Found in 2.2. Possible reproduction in pnext is under investigation.

[2016-10-12 09:46] dan31 commented on #3871
@Mnosek please CC those you think should participate in this issue and respond.

[2016-10-12 09:46] dan31 commented on #3871
CC @warpech @tomalec @miyconst

[2016-10-12 11:26] atifwaqar opened #3876 "CommitUpdate triggers even if I modify data in my JSON"
lets say my class is 'YetAnotherClass'. I have a 'CommitUpdate' hook for this class.
Now I have a GUI dashboard (Developed in SC) from where i can modify this object.
For my Dashboard i have 3 files :
1. dashboard.Json.cs
2. dashboard.Json
3. dashboard.html

In my dashboard.Json i have some code like :
[code]

In my dashboard.Json.cs i have code :
[code]

and my Commit Hook code looks like :
[code

[2016-10-12 11:32] miyconst commented on #3876
@atifwaqar the `CommitUpdate` commit hook should be triggered when there is a change being committed to the database.

If you didn't make any changes and didn't commit them, the commit hook should not fire regardless of binding to the view-model.

cc @per-samuelsson, @chrhol

[2016-10-12 11:33] atifwaqar commented on #3876
@miyconst So you think its a bug in SC Commit Hook?

[2016-10-12 11:34] miyconst commented on #3876
If the behavior you describe is true, then yes, it is a bug in Starcounter, but I will have to check it up first.

[2016-10-12 11:34] atifwaqar commented on #3876
Let me know if you need my help in reproducing it.

[2016-10-12 11:37] per-samuelsson commented on #3876
@atifwaqar

Thanks for the good sample!

As @miyconst says, the hook should only be called if there are actually updates.

Otherwise it's a bug. If I would guess, I think the bug is that there is an (appearently unintentional) update somewhere, and that the bug is not in the hooking layer. It still might be a Starcounter bug though, if the update happens somewhere in JSON/patching layer for exampl

[2016-10-12 11:42] per-samuelsson commented on #3876
I missed this the first time around. Are you modifying the bound property? If so, it's bound to the underlying database object(s), and then yeah, you are in fact modifying those. Or I don't understand the bound Typed JSON good enough. @chrhol?

[2016-10-12 11:45] atifwaqar commented on #3876
@per-samuelsson
If I just open my Dashboard, my control enters in CommitHook `CommitUpdate`.
In this case im not even modifying any data in Json.

[2016-10-12 12:23] miyconst commented on #3876
@atifwaqar I cannot reproduce the issue. You have to look for the stack trace of what change causes the hook to trigger or prepare a example with minimum code which reproduces the issue.

[2016-10-12 12:26] thebrauer opened #3877 "Connection error after some time of inactivity"
It has happen two times, one time for me and one time for Fredrik, that if you leave the application untouched for some time you will get a connection error. I had left the application for about 40 minutes.

Chrome log:
http://screencast.com/t/f3FwCAUR6

Patches:
http://screencast.com/t/QnUzQOrQ5

Using version 2.2.1.3234

[2016-10-12 12:32] per-samuelsson commented on #3877
@thebrauer

Thanks for reporting this. I *think* I have heard about something similar earlier. Let's see what the smart guys have to say about it.

cc @warpech @alemoi @chrhol

[2016-10-12 13:24] atifwaqar commented on #3876
Sorry guys, I found the issue.
It was due to my dirty code. I had a Get constructor in my DB Class. Which was something like following :
[code]

So whenever i was accessing any object of `YetAnotherClass`, I was making a transaction.

[2016-10-12 13:25] #3876 closed

[2016-10-12 13:31] SenerDemiral opened #3878 "Is there any GUI tool for Startcounter to view Class hierarchy, fields,.. like traditional SQL?"

[2016-10-12 13:36] per-samuelsson commented on #3878
@SenerDemiral

Today, AFAIK, no there is not. Sorry.

We've had this discussion several times though, and we should make one at some point. There are some previous discussions on the tracker, for example in #3063.

[2016-10-12 13:46] per-samuelsson commented on #3878
Also, if you need something low-level to diagnose some condition, there is a thing you can do that I do from time to time. It's a command-line thing:

1. Browse to the folder of your Starcounter Application exe (e.g. `myapp\bin\debug\myapp.exe`).
2. Run `scweaver myapp.exe`. This will produce a folder named `.starcounter` under the current folder.
3. CD into `.starcounter`.
4. Run `scweaver schema

[2016-10-12 13:48] SenerDemiral commented on #3878
It would be great!
Especially, coming from traditional SQL side.
I feel myself blind!

[2016-10-12 13:55] SenerDemiral commented on #3878
Trying to get meaningful view on Administrator SQL using
Starcounter.Metadata.Table
Starcounter.Metadata.Column
but...

I will try your suggestion.

[2016-10-12 13:59] SenerDemiral commented on #3878
How can I use StarcounterDB from Windows Forms Application? (Classic Desktop App)

[2016-10-12 14:00] per-samuelsson commented on #3878
Starcounter.Metadata.Table
Starcounter.Metadata.Column
but...

Yeah, that's another alternative, but the way those are modeled is not always easy to understand, not even from an insider such as myself.

@k-rus Do we have any documentation on those? I know I've asked that before, but I keep forget. Maybe it would be good to just write a short help page on the most common ones.

[2016-10-12 14:14] bigwad commented on #3875
Fixed for 2.2

[2016-10-12 14:22] bigwad commented on #3875
Note about how to apply the fix.
The root cause of the problem is the wrong data in the record header. As 2.2 stores records in the image, just upgrading SC wouldn't help out. Unload/reload to the rescue.

[2016-10-12 14:53] chrhol opened #3879 "When setting dataobject to null, bound arrays are not emptied."
The arrays is cleared on the server but no patch are sent to the client.  The problem is that the array is not marked as dirty properly.

Found by @IdieHeads. Will be fixed shortly.

[2016-10-12 15:12] mtornwall commented on #3878
Unlike conventional database management systems, Starcounter doesn't provide a network protocol for issuing queries. This is because all application logic is running in the database itself, analogous to an application implemented entirely in stored procedures.

The easiest way to interact with a Starcounter application from the native world is through an HTTP-based protocol, such as a REST API.

[2016-10-12 15:21] mtornwall commented on #3870
@AElmoznino

If you accepted the default database path during the installation (if you aren't sure, you did), please check the following directory:

    C:\Users\{UserName}\Documents\Starcounter\Personal\Data\Default

There should be a directory called `Default-{Timestamp}`. Could you please post a list of the files found in this directory?

[2016-10-12 15:49] atifwaqar opened #3880 "GetType() not working in SQL"
I have 2 tables :
1. Parent
2. Child : Parent

When i query Parent table, I get all the object from child table, which is not what I want. I need only the Parent objects. I saw a note in [this](http://starcounter.io/guides/database/inheritance/) page, which says :

As a side note, you can use the GetType() function to get only instances of a exact class

[code]

But this does not work in SC Admin

[2016-10-12 15:53] miyconst commented on #3880
@atifwaqar there is an example of how to do that on starcounter.io - [Comparison predicates](http://starcounter.io/guides/sql/comparison-predicates/).

[code]

[2016-10-12 15:53] #3880 closed

[2016-10-12 17:11] per-samuelsson opened #3881 "How can I use Starcounter from Windows Forms Application? (Classic Desktop App)"
The question was originally posted in this https://github.com/Starcounter/Starcounter/issues/3878#issuecomment-253221351 by @SenerDemiral:

@mtornwall provided the first answer ([here](https://github.com/Starcounter/Starcounter/issues/3878#issuecomment-253242617)):

[2016-10-12 17:12] per-samuelsson commented on #3878
Moved that question (and the @mtornwall answer) into its own topic: #3881.

@SenerDemiral

Do you feel your original question was fully answered? Can we close this issue?

[2016-10-12 17:23] #3878 closed

[2016-10-12 17:28] SenerDemiral commented on #3881
What a  sad news!
There is super fast DataBase in my hand, but I can't use in Desktop App.

[2016-10-12 17:32] SenerDemiral opened #3882 "How can drop class/table property/column in production database?"

[2016-10-12 17:52] SenerDemiral opened #3883 "Starcounter should be amongst them!"
Elixir: Everything in Memory!

[https://moz.com/devblog/moz-analytics-db-free/](url)

[2016-10-12 18:05] atifwaqar commented on #3880
@miyconst For me its not working as expected, or may  be im not able to understand to concept of `WHERE p IS MyNameSpace.Parent`.
Can you please take a look at this image and let me know if its explaining my point?

![issue](https://cloud.githubusercontent.com/assets/4388707/19321807/cbaf1f40-90b6-11e6-9bc7-f39a355b4ff0.png)

My expected result for :
First query is `66`
Second query is `204` &`205

[2016-10-12 18:22] chrhol commented on #3879
Fix is pushed to develop and soon pnext. Will be included in the next nightly build.

[2016-10-12 18:22] #3879 closed

[2016-10-12 19:01] andwah commented on #3878
There is an app called DatabaseEditor in the appstore that can be used to see all tables and also edit values.

[2016-10-12 19:11] SenerDemiral commented on #3878
Thanks, I'll check it out now.

[2016-10-12 21:53] tomalec commented on #3871
webcomponents.js update to V1 is coming soon (I bet it will happen at Polymer Summit)

[2016-10-12 22:14] alemoi commented on #3873
Yes, we will double check this. But so far we were reproducing exactly like this. Except that we used .exe instead of .cs

[2016-10-13 05:17] per-samuelsson commented on #3881
We are actually working on a complementary hosting model, where Starcounter will be possible to run in a way that more resemble a transitional client-server model. In such case, the desktop app could "connect" to Starcounter and utilize the same services as apps do today.

It's planned for an upcoming release sometime this year, or in the beginning of next, but I won't dare make any final promises

[2016-10-13 05:18] per-samuelsson commented on #3882
In the current version of Starcounter, the class model is defines the schema, so dropping a "table" / "column" would be done by removing the corresponding item from the domain code.

[2016-10-13 05:26] SenerDemiral commented on #3881
Good news.
It is possible to write more solid DB tools then.

[2016-10-13 06:01] SenerDemiral commented on #3882
If accidentally rename some field of table and run.
What happens to oldField data?

[2016-10-13 06:15] SenerDemiral commented on #3882
oldField's data stay in DB!
Means you can't drop field with data, only hide.

[2016-10-13 06:17] k-rus commented on #3880
Operator `IS` verifies that object can be casted to the type, so the child object will be accepted by the predicate for its parent time. To my knowledge there is no syntax in our SQL to select only objects of a given type and exclude children. So currently a solution for you will be to filter objects in C# code or to redesign the class hierarchy. The second requires careful migration of data from

[2016-10-13 06:21] per-samuelsson commented on #3882
Means you can't drop field with data, only hide.

I'm quite sure that's by design. And the way to physically remove the data is by issuing an [unload](http://starcounter.io/guides/tools/staradmin/#unload-command) (and a corresponding [reload](http://starcounter.io/guides/tools/staradmin/#reload-command)).

@k-rus, can you confirm this please?

[2016-10-13 06:24] k-rus commented on #3878
Currently the best description can be found [here](http://stackoverflow.com/a/39490683/840340)

[2016-10-13 06:35] SenerDemiral commented on #3882
Changing of field string to int in production DB is a long and exhausting journey.

[2016-10-13 06:37] k-rus commented on #3882
In 2.2 data from old field is removed. So if a property is renamed by mistake, the data will be gone. In 2.3 the data from old filed are kept in the database.

I confirm that we currently we don't have support for schema refactoring.

[2016-10-13 07:40] dan31 commented on #3875
@bigwad which means that those migrating to 2.2.2 would have to unload/reload the database whatsoever, as the image file would become incompatible? @bigwad pls add the reference to the fixed problem to https://github.com/Starcounter/Starcounter/blob/develop/CHANGELOG.md.

[2016-10-13 08:01] bigwad commented on #3875
No, it's not incompatible in any way.
2.2.2 will just work in the same way as 2.2.1 does. Hence, if kernel hangs deleting a record in 2.2.1, it will continue to hang deleting the same record in 2.2.2.
But, as we don't know whether a particular image is the subject of this problem or not, it's safer to always do unload/reload during upgrade to 2.2.2.

[2016-10-13 08:03] SenerDemiral commented on #3882
I'm already using 2.3..
Is behaviour stay as 2.3 in the feature?

[2016-10-13 08:23] atifwaqar opened #3884 "Consider excluding this file by adding a "weaver.ignore" file to your project. (ScErrWeaverFailedStrongNameAsm (SCERR2143))"
### SC Version :
2.2.2.3422

### How to reproduce the bug :
1. Open your project in VS (i'm using 2015)
2. Make sure you have some DLLs in your project
3. Clean the solution and run it (it should work fine)
4. Stop the DB
5. Make a tiny change in your code, and build it again (Do not clean this time)
6. Try to run the project again (this time you will have an error related to `weaver.ignore`)

###

[2016-10-13 08:55] bigwad commented on #3875
Not a problem for 2.3

[2016-10-13 08:55] #3875 closed

[2016-10-13 08:57] dan31 commented on #3884
CC @per-samuelsson Pls have a look, appears to be a regression.

[2016-10-13 09:05] per-samuelsson commented on #3884
@atifwaqar

Thanks for reporting this.

Based on versions specified that are problematic, I think this relates to recent changes on our part, mainly #3811. It's related in history to #1620.

I'll make sure we take action on this ASAP.

[2016-10-13 09:06] per-samuelsson commented on #3884
@chrhol

Is #3811 pushed and part of those versions @atifwaqar mention that have this failure?

[2016-10-13 09:07] chrhol commented on #3884
No no, I haven't pushed it, and it will not be pushed to current develop.

[2016-10-13 09:11] per-samuelsson commented on #3884
OK, thanks. Then something else that influence this must have been pushed between those versions. Weird. I'll see if I can find what the problem could be.

[2016-10-13 09:12] alemoi commented on #3877
I suppose its a session timeout which is around 20 min by default, as I remember.

[2016-10-13 09:13] chrhol commented on #3884
Unless I messed something up really bad, of course, and committed stuff in the wrong branch...

[2016-10-13 09:15] alemoi commented on #3860
Sorry for delaying this. I wanted to address this issue as a part of big refactoring regarding mapping, and, in particular, ontology mapping.

[2016-10-13 09:16] thebrauer commented on #3877
Ok, so how do we remove that or configure it to something else?

[2016-10-13 09:17] chrhol opened #3885 "Installer fails when upgrading from 2.2.1.3234 to 2.2.2.3422"
![image001](https://cloud.githubusercontent.com/assets/1658979/19343408/6760ab82-9136-11e6-84ea-6c90a28bc413.png)

[2016-10-13 09:21] chrhol commented on #3885
cc @alemoi, @per-samuelsson

[2016-10-13 09:24] alemoi commented on #3877
I thought the client should reconnect automatically. @warpech can elaborate better on this and maybe point to some documentation.

And here is the documentation regarding session timeout:
http://starcounter.io/guides/web/sessions/#sessions-timeout

[2016-10-13 09:25] alemoi commented on #3885
Hmm, my initial guess would be that a DLL wasn't added to white-list by the author?

[2016-10-13 09:27] alemoi commented on #3885
However this sccoredbh.dll DLL seems to be in the white list:

https://github.com/Starcounter/Starcounter/blob/develop/src/BuildSystem/WhiteList.txt

[2016-10-13 09:30] chrhol commented on #3885
It was reported by @IdieHeads, I will try it locally and see what happens.

[2016-10-13 09:55] chrhol commented on #3885
I get this as well when trying to install 2.2.2.3422. The previous versions works fine, and latest develop (compiled by me) seems to work as well. I will try a new installer from a daily build and see.

[2016-10-13 10:03] chrhol commented on #3885
Still occurs on installer from daily build. So something has happened after version 2.2.2.3391

[2016-10-13 10:05] miyconst commented on #3880
@atifwaqar in your case you can add a custom property:

[code]

It will be available in SQL like:

[code]

[2016-10-13 10:12] alemoi commented on #3885
So there is some file dependency. I have a guess why its so. Let me build a new version of develop.

[2016-10-13 10:33] alemoi commented on #3885
@chrhol thanks for testing and reporting, the fix is pushed! Forgot to add a dependency extraction. I have started a "short" develop nightly now.

[2016-10-13 10:52] atifwaqar opened #3886 "Question : Is there a way to have a Commit Hook `BeforeUpdate` like we have `BeforeDelete`?"
I am working on TransactionHistory. And I want to keep both states of DB Object :
1. Before Updating the object (Old State)
2. After Updating the object (New State)

For now I have only the new State. How can I have the old state?

[2016-10-13 10:57] per-samuelsson commented on #3886
I'm afraid there is not. And it's quite hard to achieve too, for several reasons, so it's unlikely we can implement it on that level.

[2016-10-13 11:04] atifwaqar commented on #3886
@per-samuelsson Thanks for the response.
If its hard then I think I have a simple solution for it.
Just mentioning here so that if anyone else need this solution :

1. When I create the object, I'll transact it in my `TransactionHistory` table
2. When I update the object, I'll transact the changed object in my `TransactionHistory` table
3. When I update the object again, I'll transact the changed

[2016-10-13 11:04] #3886 closed

[2016-10-13 11:06] atifwaqar commented on #3880
Thanks for the help guys.
I am not using this solution though. I changed my logic entirely.
But thanks anyway :)

[2016-10-13 11:45] k-rus commented on #3882
Can you clarify your question? I don't follow to which feature you relate here.

[2016-10-13 12:05] SenerDemiral commented on #3882
Ok.
You already answered question.
 In future 2.3 the data from old filed are kept in DB

[2016-10-13 12:05] #3882 closed

[2016-10-13 12:11] #3465 closed

[2016-10-13 12:53] per-samuelsson commented on #3884
I havent had any success reproducing this although I've tried many times and alternatives. I really want to help you @atifwaqar and see what the problem is, because clearly it's something that happens in a certain condition.

The setup I've tried:

1. Create a new Starcounter Application project.
2. Add a reference to `Newtonsoft.Json`, via NuGet.
3. Making sure I'm using both Starcounter and Newt

[2016-10-13 12:59] atifwaqar commented on #3884
@per-samuelsson try adding any dll, other than Newtonsoft.Json.dll

[2016-10-13 13:04] per-samuelsson commented on #3884
OK, just a reference to whatever file you mean? The thing is that for the weaver to reject it, it must be strong-named.

[2016-10-13 13:19] per-samuelsson commented on #3884
Now I did that too, and made that a strong name assembly.

So the full story is the 10 steps from above, and then

* Create a new Class Library project ("ClassLibraryWithStrongName").
* Made sure "ClassLibraryWithStrongName" is signed when it's built.
* Set my application to reference the "ClassLibraryWithStrongName" project.
* Run (F5). I get an error, saying I should add "ClassLibraryWithStrongN

[2016-10-13 13:35] dan31 commented on #3885
@alemoi I wonder whether it is possible to add such test: upgrade the latest installed Stable to the latest available Nightly. Feasible?

[2016-10-13 13:46] alemoi commented on #3885
Feasible when I add a silent version working. Now its only manual.

[2016-10-13 13:46] #3885 closed

[2016-10-13 14:02] mtornwall commented on #3881
@SenerDemiral Perhaps I misunderstood your question. Do you want to use Starcounter as an *embedded* database, distributed with a desktop application?

[2016-10-13 14:17] #3861 closed

[2016-10-13 14:20] SenerDemiral commented on #3881
No I want to use Starcounter as SQL Server in LAN. Not embedded!

[2016-10-13 14:29] atifwaqar commented on #3884
@per-samuelsson there is something wrong with my newly created project. Im guessing this is another Bug or may be im not doing something right.

SC version 2.2.2.3422

Here is what I am facing :
1. Create a new Starcounter Application project.
2. Add a reference to Newtonsoft.Json, via NuGet. and add another dll `Twilio.Api.dll`
3. Making sure I'm using both Starcounter, NewtonSoft and Twilio (see

[2016-10-13 14:40] atifwaqar commented on #3884
Case 2 (When I'm working on already created `AdFenix` Project. )

SC version 2.2.2.3422

Here is what I am facing :
1. I open `AdFenix` project.
2. I have lots of Dlls in this project and all are added in `weaver.ignore`
![image](https://cloud.githubusercontent.com/assets/4388707/19353149/b30bbdb6-9162-11e6-8dea-6af5476fd44e.png)
3. I clean the project
![image](https://cloud.githubusercontent.com/

[2016-10-13 16:37] per-samuelsson commented on #3884
@atifwaqar

Thanks for the first-class samples!

I'll continue working on this for sure, and won't stop until we've found and solved your problem. I'll let you know of any progress ASAP.

[2016-10-13 16:37] mtornwall commented on #3881
@SenerDemiral

In that case you can definitely use Starcounter, but you have to expose your database objects through a custom API (e.g., REST). You still get the benefits of a VMDBMS if you implement most of your application logic on the Starcounter side.

[2016-10-13 17:35] SenerDemiral commented on #3881
You are right, it is the only way (e.g., REST) by now.

[2016-10-13 18:39] per-samuelsson commented on #3884
@atifwaqar

Regarding the first case, where the **weaver.ignore** don't end up in the project output directory - could it be that you have forgot to configure it to be copied to the output directory? If you right-click the file in VS and check the value of the "Copy to output directory" - it should be either "Copy if newer" or "Copy always". It's part of [How to exclude a file from being processed

[2016-10-13 22:19] atifwaqar commented on #3884
1. Set weaver.ignore file "Copy to output directory" to "Copy always".
2. Make sure there are no blank lines at the the beginning or end of it.

@per-samuelsson this fixed both of my issues. I had totally forgot about this `Copy to output directory` property. I still dont understand why this problem appeared after latest stable build, because previously `Copy to output directory` was set to `Copy

[2016-10-14 05:07] per-samuelsson commented on #3884
Great!

That beats me as well. We certainly don't do anything with this setting - it's just an advice from us, not something we will or can enforce.

We know quite a few things seem to have happened in this recent Windows anniversary update, including stuff they fiddle with that affect Visual Studio. Maybe that could have something to do with it, but it's hard to say for sure.

I'll keep this open

[2016-10-14 06:47] atifwaqar commented on #3884
@per-samuelsson Its ok with us.
We have no issue in setting weaver.ignore file "Copy to output directory" to "Copy always".
I think its pointless to spend time in fixing this issue :P So feel free to close this.

[2016-10-14 08:56] chrhol opened #3887 "Refactor the TypedJSON serializer."
The current implementation of the serializer has some flaws, which leads to some strange (and bad!) errors, for example #3600.

Should be refactored and problably use Newtonsoft internally instead of our custom-made writer, so a prerequisite for this issue is #3811

Will be changed only in 2.3+

[2016-10-14 19:10] #3883 closed

[2016-10-15 05:07] per-samuelsson commented on #3884
I did spend some time last night thinking about what could be done to improve this, and the only thing I could come up with is to add to the error message a reminder to copy it to the output folder. I'm adding that to 2.3+ at least.

I'll also mark this "Knowledge base", witch I intend to some day make a FAQ from.

[2016-10-15 05:13] #3884 closed

[2016-10-17 07:58] warpech opened #3888 "Upgrade to Polymer 1.7"
Polymer 1.7 is out since few days.

@tomalec have you evaluated it? What is the status of upgrading to it in Starcounter?

Related: https://github.com/Starcounter/CompanyTrack/issues/233

[2016-10-17 08:43] tomalec commented on #3888
Currently, I'm evaluating Polymer 2.0 https://github.com/Starcounter/CompanyTrack/issues/233

[2016-10-17 09:19] atifwaqar opened #3889 "Question : How to run installed apps using command prompt?"
I have 3 StarCounter apps installed :
1. UserAdmin
2. SignIn
3. DatabaseEditor
![image](https://cloud.githubusercontent.com/assets/4388707/19432095/4deb75f6-945b-11e6-99e1-ecedb97fb147.png)

1. How can I run these using a command in command prompt?
2. Is there any app which monitors these apps and run them if they are not running?

[2016-10-17 09:21] per-samuelsson commented on #3889
cc @andwah

[2016-10-17 09:32] andwah commented on #3889
We do not have a command line tool for managing the Administrator.  the closest thing is to use `star.exe` or `staradmin.exe`.  Installed apps exist in the database repository on your drive. So you may use `star.exe` to run an installed executable.

No.

[2016-10-17 09:47] atifwaqar commented on #3889
Is there any document on how to use `star.exe` to run an installed executable?

[2016-10-17 09:59] andwah commented on #3889
No. it's more like a workaround to solve your issue (short term).

Maybe we should extend `star.exe` to support the handling of `installed` applications or in some other way  be able to do this from command line.

[2016-10-17 12:41] careri opened #3890 "Dynamic loading of database entities"
I tried to dynamically load an assembly from a subfolder, e.g. plugins.
The assembly is loaded as expected. But there is no weaving activated.

So my Entity1 exampel class with the Database-attribute is just a plain CLR-class with no connection to the database.

I looked through the code for DeployManager and PackageManager for the Administrator. But the example Apps don't seem to have any private