[2017-03-10 11:42] bigwad commented on #4117
done

[2017-03-10 11:42] #4117 closed

[2017-03-10 11:43] chrhol commented on #4132
It matters in this case, when you update one property inside the binding of another. Then the property being updated might already have been processed. It doesn't matter for anything else.

Another workaround, that I know some people used, is to use the `OnData` callback to initialize these kind of values, and if no dataobject is used, then it can be triggered with setting it to null:

So the code

[2017-03-10 13:03] per-samuelsson commented on #4135
In some discussion, a new proposal has been raised (issued initially by @linkdata):

1. We start offering Starcounter Visual Studio extension on the Visual Studio marketplace (so any developer having a Starcounter installation can manage it themselves).
2. We redesign the package so that we have a single VSIX for all supported versions (2015, 2017 and beyond).
3. In the installer, we present user

[2017-03-10 13:09] warpech commented on #4116
Good temporary solution, though the statement

is not something anyone would expect in a mature web framework

[2017-03-10 13:16] warpech commented on #4115
If some app exposes a REST API, then in fact you would want to return a JSON response without `Html` property.

So I think that a desired solution to https://github.com/Starcounter/Starcounter/issues/4115#issuecomment-285066563 would be to make WebsiteProvider wrap only reponses that are of type `Json` and have `Html` property.

If your response is not `Json` or it is a `Json` without a `Html` pro

[2017-03-10 13:39] k-rus commented on #4126
I believe you want to keep data, right? Have you entered any new data, i.e., do you have a mix of `AdFenix.Database.Concept` and `AdFenix.Database.Content` instances in the column now?

[2017-03-10 13:47] bigwad commented on #4096
@erikvk, any chance to get those logs I mentioned?

[2017-03-10 13:49] erikvk commented on #4096
Oh, sorry – i forgot to answer. I don't have any logs from for the test runs.

[2017-03-10 14:02] bigwad commented on #4096
Ok, then probably it's better for me to investigate it in your lab or set it up in my lab.
Probably, the former is better as I'm not 100% sure we'll be able to reproduce it on my side.

What do you think?

[2017-03-10 14:02] k-rus commented on #4126
Can you describe what kind of refactoring have you done? Have you just changed a type of a property from `AdFenix.Database.Concept` to `AdFenix.Database.Content`?

[2017-03-10 14:06] k-rus commented on #4126
If so, then, for example, you can change the type of the property into a base class.

[2017-03-10 14:11] erikvk commented on #4096
Well, if you can't find anything, maybe we should interpret that as there not being a (critical) problem to fix. I think Dan has a video where we shift between sc versions and see differences in the logs – but who knows how reliable those logs are? In any case – this is not a big problem for us since we managed to improve speeds using TransactAsync.

[2017-03-10 15:52] un-tone commented on #4115
It is exactly a better approach. Thanks @warpech. I updated the PR.

[2017-03-10 16:06] warpech commented on #4115
Great, thanks!

As it turned out, this was a problem in Launcher & Website, not in HtmlFromJsonProvider.

@un-tone has fixed the problem in Website. I don't think it is needed to fix in Launcher, because Launcher is being phased-out.

[2017-03-10 16:06] #4115 closed

[2017-03-10 18:11] Mackiovello commented on #4105
From the [comment](https://github.com/Starcounter/Docs/issues/20#issuecomment-283004380) by @mmnosek too, what's the actual deal with `DELETE` in SQL?

[2017-03-11 08:45] mmnosek commented on #3791
From my perspective, there is no reason to create separate pages. We want neither to distribute information between too many pages nor create separate pages just because we have some links in VS extension. I support current idea by @per-samuelsson:

This is perfectly fine! 👍

[2017-03-11 09:12] Mackiovello commented on #3791
I do agree with this. Although, are there Visual Studio specific things that we might want to document? I'm not quite sure myself what is included in the Starcounter VS extension apart from the templates and the ability to start apps.

[2017-03-11 13:29] andwah commented on #3791
We are planning to publish the extention on Visual Studio Marketplace https://marketplace.visualstudio.com/

So maybe the links should point to that direction. And on that page we can document the functions of the Extention?

[2017-03-11 17:37] k-rus commented on #4105
`DELETE` fails if transaction becomes too large. It was easy to experience the failure in 2.2. I believe this is initial reason for not recommending.

Another problem it is not efficient. It is just sugaring around `foreach` loop.

[2017-03-11 18:15] Mackiovello commented on #4105
Is there a better way to delete elements?

I guess the performance would be the same as doing the following:
[code]

[2017-03-12 08:21] k-rus commented on #4105
Yes, it is what `DELETE` does. But in the above case, you can control the size of transaction. For example, do commit every 1000 delete.

I believe the main problem was in 2.2. If I don't mistake the size of transaction in 2.3 and above corresponds to few gigabytes. So it should be no problem to use `DELETE FROM`. May be it is good to test.

[2017-03-12 14:47] alemoi opened #4136 "Is there a way to disable TrayIcon"
I would like to disable tray icon app, because it creates traffic (hard to debug gateway) and popping up with app start messages, which is a bit distracting. I can of course kill it, but searching for a better way. Maybe some server configuration? CC @andwah

[2017-03-12 14:47] alemoi commented on #4136
For displaying notifications, I see there is an option in the tool itself.

[2017-03-12 14:49] alemoi commented on #4136
I also get this all the time:
![image](https://cloud.githubusercontent.com/assets/208134/23832733/67f43048-073b-11e7-9ca0-a9e20662a565.png)
Is it because I have some XML document corrupted?

[2017-03-12 15:48] miyconst commented on #4135
I just have checked the extension with VS2017, works like a charm, good job @per-samuelsson.

[2017-03-12 17:52] andwah commented on #4136
Do you get anything in the windows log (Eventlog)?

[2017-03-12 20:57] per-samuelsson commented on #3791
That's basically it. To support a simple-as-possible development cycle where you edit-debug-edit-debug, and that works with our somewhat non-conventional model (hosted apps in, currently, a shared process that need to be debugged as standalone applications).

Well, it could be worth having some text about how to work with Starcounter applications from within Visual Studio. For example, a section d

[2017-03-13 00:16] alemoi commented on #4113
Today I pushed the fix for 2.3 and develop. @atifwaqar would be awesome to hear your test result when you can :)

[2017-03-13 08:06] per-samuelsson commented on #4135
Suggestion: now that we are already heading against the marketplace and there is new suggested templates in the pipeline, what about we move out project- and item-template projects and the VSIX project (building the package) to a separate repo, e.g. "Starcounter.VisualStudio"?

Then on the build server, we just bring that in and build it, so we still package the package in the distribution.

That

[2017-03-13 08:14] k-rus commented on #4135
Changes to repo structure should take in account our need as developers of Starcounter. It should not make our development and testing more difficult than now. So if the proposed change will not add any additional steps to current workflow or requirements for network connectivity, then I am completely for. If this step means that it will be more dependencies on build server, additional repo to che

[2017-03-13 08:15] Mackiovello commented on #3791
I'll create a page about the VS extension in the "Working with Starcounter" section of the docs that explains the templates and the other page you mentioned. It'll be done before the end of the week.

[2017-03-13 08:23] iliassays opened #4137 "Issue in Simplified.Ring3.EmailAddressRelation"
There is no Email address in SystemUserTable. I was trying to create a relationship with following snippet for existing users.

[code]
Now when i try to call Simplified.Ring3.SystemUser.GetSystemUserByEmail(email), i am fetching bellow error:

System.InvalidCastException: Unable to cast object of type 'Simplified.Ring3.SystemUser' to type 'Simplified.Ring1.Somebody'.
   at Simplified.Ring2.Contact

[2017-03-13 09:25] per-samuelsson commented on #4135
@k-rus

IMO, not everything is that black or white.

There are probably some benefits to have everything monolithic, but cons too, and vice versa.

For me, its about learning to think and work a bit differently. I'm sure when you do your daily work, you rarely will need to do any kind of maintenance regarding the Visual Studio integration. On the extreme - running kernel tests should obviously hav

[2017-03-13 09:29] atifwaqar commented on #4113
Fix tested.
Ammazing fix. this solved a lot of things for us. You rock @alemoi :)

[2017-03-13 09:41] per-samuelsson commented on #4135
Done: https://github.com/Starcounter/Starcounter.VisualStudio

[2017-03-13 10:50] chrhol commented on #4131
Fix pushed to `v2.3` and `develop` now. References to viewmodel and template instances are set to null so they can be GC:ed.

[2017-03-13 10:50] #4131 closed

[2017-03-13 12:41] per-samuelsson commented on #4135
Decided to do so straight away, meaning the experience for anyone building Starcounter ("Level1") will be principally the same - at the end of the build, `Starcounter.VS.vsix` will be part of the output.

The reason was I still need build system to somehow bring it in, and the best approach is to make that transparent, instead of making some build-system dependent thing. The approach I'm taking no

[2017-03-13 13:45] miyconst commented on #4137
This line of code should be replaced:

[code]

With:

[code]

[2017-03-13 13:45] #4137 closed

[2017-03-13 14:35] Mackiovello commented on #3791
A draft of the page is not created as a PR here: https://github.com/Starcounter/Docs/pull/30

Please take a look and notify if there's something you'd like to add.

[2017-03-13 14:54] Mackiovello commented on #1362
Closing in favor of https://github.com/Starcounter/Docs/issues/20

[2017-03-13 14:54] #1362 closed

[2017-03-13 15:15] alexanderstc commented on #4125
Metalayer also currently limits key buffers sizes.
There should be a relevant gitlab issue, if sclerosis serves.

[2017-03-13 15:19] alexanderstc commented on #4125
Oh yeah, @k-rus already mentioned https://git.starcounter.org/BlueStar/level0/issues/140

[2017-03-13 16:06] per-samuelsson commented on #4135
Done. Merged an pushed to 2.3 in https://github.com/Starcounter/Starcounter/commit/21849168344fbde37bae1f1253fa547c1ec7cc20.

[2017-03-13 16:06] #4135 closed

[2017-03-13 16:26] k-rus opened #4138 "Implement calling SQL DDL from Db.SQL through new QP"
From now new native query processor allows to execute DDL SQL statements. First implemented statement is `DROP INDEX`. More statements are on the way.

To call DDL SQL statements new QP provides separate public C API: `scsql_process_ddl_query`. It is a separate function, since DDLs have different transactional requirements than DMLs. To follow the transactional requirements following pattern is pr

[2017-03-13 17:04] atifwaqar opened #4139 "Question : How to get current directory of a running app?"
How I normally get current directory in C# apps:
`Environment.CurrentDirectory`

In Starcounter app I get:
`C:\Program Files\Starcounter`

And it makes sense why, but Expected values should be something like:
`C:\adfenix-backend\src\bin\Debug`

So is there any SC syntax that can give me the expected value?

[2017-03-13 17:08] miyconst opened #4140 "Need help with CacheOrExecuteEnumerator logic"
I am trying to implement prepared statement in Starcounter to increase performance in certain cases.

So far I was able to implement two methods:

- `IExecutionEnumerator PrepareSQL<T>(string query, bool slowSQL, params object[] values)`
- `PreparedQueryResultRows<T> SQL<T>(IExecutionEnumerator enumerator, string query, bool slowSQL, params object[] values)`

The names speak for themselves.

But I

[2017-03-13 17:09] miyconst commented on #4139
See these:

[code]

[2017-03-13 18:14] k-rus commented on #4140
As name says the function either cache or execute. Thus it passes arguments. I don't have more details without going through the code, which I guess you can do also.

[2017-03-13 18:39] #4139 closed

[2017-03-13 20:17] k-rus commented on #4140
No, the cache is done per string only.

Note that `Db.SQL` accepts any kind of SQL, not only SELECT statements.

[2017-03-14 06:44] per-samuelsson commented on #4139
@Mackiovello. something for our docs? Working with applications? There are quite a few APIs in the Application class we could describe.

[2017-03-14 07:01] per-samuelsson opened #4141 "Review new installer experience"
With #4135 pushed, the installer experience has changed quite a bit:

* There is no more option to add/remove components - only install or uninstall.
* There is no way to choose if to install the "server component" or not - it's always installed.
* At the first page, you need to make an active choice to install other "Developer" or "Production". For the former, you have the option to install the e

[2017-03-14 07:03] per-samuelsson commented on #4141
Also, @andwah, notice I have a tiny scroll to the right? 😕

[2017-03-14 07:06] k-rus opened #4142 "Execute DROP INDEX through new QP"
New native query processor supports execution of `DROP INDEX` statements from now. Thus the oldSQL should be replaced with new QP for executing the statement. It should be done in connection with #4138 as test case.

[2017-03-14 07:07] linkdata commented on #4141
Should we not have `Production` pre-selected and topmost of the radio buttons?

[2017-03-14 07:09] k-rus commented on #4141
I am wonder what happens if the extension was not manually removed (will be a common case) and  installation of new Starcounter version is running. Will it replace the extension with new version?

[2017-03-14 07:15] Mackiovello commented on #4139
This should absolutely be documented. Ultimately I would like to create some kind of auto-generated documented for things where one or two lines would sufficiently describe it. See https://github.com/Starcounter/Docs/issues/32

If that's not possible I'll go ahead and document this separately

[2017-03-14 07:38] per-samuelsson commented on #4141
@andwah? @dan31? Me personally, I'm not sure what is preferable tbh.

No, but since last night, I'm currently implementing a check so that if you have a version of the extension that is not compatible with the installed version of Starcounter, you'll get an error when trying to build your project, advising you to adjust the version of the extension you are using. See https://github.com/Starcounter

[2017-03-14 07:45] per-samuelsson opened #4143 "Building application / library should verify proper project target version"
The other side of https://github.com/Starcounter/Starcounter.VisualStudio/issues/1. Will verify templates / consuming products are in sync with the installed runtime.

[2017-03-14 07:51] andwah commented on #4141
Interesting, it did not pop up on my screen. but i will fix that by removing some padding/margins.

[2017-03-14 08:00] warpech opened #4144 "CalculatePatchAndPushOnWebSocket gives wrong result when run syncronously"
Yesterday I have spent half of a day investigating a problem in SWO, which they have been investigting for even longer. It turns out that `Session.CalculatePatchAndPushOnWebSocket` gives strange kind of failures when used outside of `Session.ScheduleTask`.

The below snippet illustrates the problem:

[code]

The above snippet shows the two problems:

1. `Session.CalculatePatchAndPushOnWebSocket` c

[2017-03-14 08:02] warpech commented on #4144
cc @chrhol

[2017-03-14 08:15] jwillmer commented on #4141
I think the development option is that 99% of the users like to do so I think the default is o.k.
Everyone knows that you need to know what you are doing if you like to setup a system for production so it can be expected that they read the installation and not just click it trough.

[2017-03-14 09:03] chrhol commented on #4144
I'm not sure what the issue is here. This method does exactly what the name says, it calculates the patches of the public viewmodel, as the public viewmodel looks at the time the method was called. So that means if it's called before parts of the tree have been blended, this is what happens.

I cannot think of any way to stop or warn appdevelopers from doing this, other than document the behaviour

[2017-03-14 09:08] chrhol commented on #4144
Maybe we should refactor the method to be async in itself? So (we probably need to change the name of it :smile:) we always schedule a task for it, `session.CalculatePatchAndPushOnWebSocketAsync()`

[2017-03-14 10:10] warpech commented on #4144
The biggest problem for me is the unpredictability of the behaviour. Why does line (1) have `Session == null`, whereas in line (2) `Session == Session.Current` yet it causes no-namespace? Both lines are constructed at the same time, since `Spendings` array is bound to the data property `Spendings`.

I am sure that perhaps line (1) might be correct, but then line (2) behaves obviously wrong.

[2017-03-14 10:12] warpech commented on #4144
Maybe the correct solution is to make it throw an exception when not called in `Session.ScheduleTask`?

[2017-03-14 10:46] chrhol commented on #4144
Yes, I can understand that, but this is a different topic, and depends on how you write your code. `OnData` is triggered when you set the dataobject (manually or by a binding).

If you do it manually and use this pattern (for example):
[code]
Then the property `Session` will be null when `OnData` is triggered, since its triggered before you attach it to the full viewmodel tree.

If you do like thi

[2017-03-14 10:47] warpech commented on #4141
Installing through an upgrade from 2.3.0.5828 to 2.3.0.5943, the upgrade installer has removed the extension but not installed the new one.

When opening a project in VS I get this now:

![2017-03-14 11_47_21-greenshot](https://cloud.githubusercontent.com/assets/566463/23897049/01975ee8-08ac-11e7-9662-f30743c14b26.png)

[2017-03-14 10:57] chrhol commented on #4144
I'm not sure that will help. If you do a push when you are in the middle of updating or creating the viewmodel, you will still do a push that might return something that you didn't expect. And we cannot really detect that from this place in the code you should not be allowed to call push. After all this code will execute the same way, even if it's from a scheduled task.

And also if we do the whol

[2017-03-14 10:57] per-samuelsson commented on #4141
@andwah, and idea why?

You could have just brought it down from the market place instead: https://marketplace.visualstudio.com/items?itemName=Starcounter.StarcounterforVisualStudio

Just sayin. 😉

[2017-03-14 11:11] andwah commented on #4141
The old installation still uninstalls the extension and in the new installation we never install the extention on an upgrade (only in a first time installation).

So we need to figure out a nice solution for this..

[2017-03-14 11:15] warpech commented on #4144
TL;DR right now `CalculatePatchAndPushOnWebSocket` shoots you in foot by default :)

Then I think we should change it to `CalculatePatchAndPushOnWebSocketAsync`, as you have proposed.

[2017-03-14 11:28] chrhol commented on #4144
:trollface: A good summary of the discussion and the behaviour of this function.

[2017-03-14 12:35] per-samuelsson commented on #4141
Ah, ok. That explains it.

Any ideas on how? Can you take that?

[2017-03-14 12:46] andwah commented on #4141
Yes,  Maybe one solution can be that we check the version date of installed version. if it's the "old" installer then we will launch the extention installation on an upgrade otherwise not.

[2017-03-14 16:20] atifwaqar opened #4145 "System.ArgumentOutOfRangeException: Self should be called with URI starting with a slash."
SC Version : 2.3.0.5319

A handler that used to return a Json as response is now returning this error.
Is it because of latest SC Version?

[code]

[2017-03-14 16:21] atifwaqar commented on #4145
My Json :
[code]

My Handler :
[code]

[2017-03-14 17:38] warpech opened #4146 "Upgrade to Polymer 1.8.1"
Let's upgrade Polymer in Starcounter 2.3 and 2.4 to the current version (Polymer 1.8.1)

@alshakero can you pls do that?

The method is as follows:

1. Start a feature branch in Starcounter from branch `v2.3`
2. Upgrade client side libraries there
3. Make sure to update CHANGELOG.md and bower-list.txt (using `bower list > bower-list.txt`)
4. Push changes to the feature branch
5. Make a build of th

[2017-03-14 17:39] warpech opened #4147 "Upgrade to PuppetJs 2.4.1"
After https://github.com/Palindrom/Palindrom/pull/124 is finished and PuppetJs 2.4.1 is released, let's upgrade PuppetJs in Starcounter 2.3 and 2.4 to the current version (PuppetJs 2.4.1).

The method is explained in https://github.com/Starcounter/Starcounter/issues/4146

This can be done on the same feature branch as https://github.com/Starcounter/Starcounter/issues/4146

[2017-03-14 17:44] alshakero commented on #4146
On it.

[2017-03-14 17:46] warpech commented on #4146
I will copy the instructions to https://github.com/Starcounter/RebelsLounge/blob/master/platform/client-side_libraries.md

[2017-03-14 17:53] miyconst commented on #4145
cc @alemoi

[2017-03-14 18:44] alemoi commented on #4145
I checked the code and `HtmlFromJsonProvider.cs` calls `Self.GET` via `var result = Self.GET<T>(filePath);` so the value of `filePath` contains something not a valid URI i suppose. @chrhol can you some insight on what this value can contain?

[2017-03-15 08:58] atifwaqar commented on #4145
Any luck with this one guys?

[2017-03-15 09:15] miyconst commented on #4145
@atifwaqar, I don't see the `Html` property in your view-model? Is it defined at all? What is it value?

[2017-03-15 09:18] atifwaqar commented on #4145
We never needed Html property, because this is not a page, its a simple Json response. like RestAPI

[2017-03-15 09:22] miyconst commented on #4145
Then it might be a bug in the `PartialToStandaloneHtmlProvider` class. Please try comment out the lines with it's usage and try again.

[code]

[2017-03-15 09:46] chrhol commented on #4132
Did any of these workarounds work for you @atifwaqar?

[2017-03-15 09:47] chrhol commented on #4134
I will close this issue as answered.

[2017-03-15 09:47] #4134 closed

[2017-03-15 10:29] atifwaqar commented on #4145
Ok commenting out following line fixed the issue :
`Application.Current.Use(new HtmlFromJsonProvider());`

[2017-03-15 10:43] jwillmer opened #4148 "Improve Ontology mapping in docs"
I am reading about ontology mapping in the docs and I get the concept (or I knew it) but I am missing an example. The code pieces are not enough.

For instance I know that in our projects we are using something like this:

    UriMapping.OntologyMap("/App/partials/appicon/content/@w", typeof(EditAnnouncement).FullName);
    Handle.GET("/App/partials/appicon/content/{?}", (string objectId) => new P

[2017-03-15 10:45] Mackiovello commented on #4148
Thanks for the notice. I've moved the issue to the Docs repo

[2017-03-15 10:45] #4148 closed

[2017-03-15 10:55] miyconst commented on #4145
Then it's a bug in the `HtmlFromJsonProvider`. It is trying to determine HTML for a view-mode, which is does not have HTML.

[2017-03-15 10:55] miyconst commented on #4145
cc @warpech

[2017-03-15 11:01] miyconst opened #4149 "Unable to install Starcounter via an installer after local builds"
I have set up the environment for Level1 compilation, and after that I am not able to install Starcounter via an installer.

Running installer shows the following window:

![image](https://cloud.githubusercontent.com/assets/6435556/23945435/c5ff214c-0976-11e7-8a30-2f2d01b5d3a7.png)

Successfully "uninstalls" Starcounter and exits. Running the installer again produces exactly the same result.

[cod

[2017-03-15 11:06] warpech commented on #4145
@atifwaqar can you make a local copy of these classes:

- https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/Middleware/HtmlFromJsonProvider.cs
- https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs

Use your local copy and tell me where it goes wrong? With intended usage you should not be getting these kind of e

[2017-03-15 11:10] chrhol commented on #4149
Can it be tied to the changes for the VS extension? As I understand it, the extension is no longer uninstalled when uninstalling Starcounter, and maybe the installer still looks for it when deciding if you have Starcounter installed or not.

[2017-03-15 11:12] miyconst commented on #4149
Could be. I have also checked the old installers, they all "think", that Starcounter is still installed.

[2017-03-15 11:33] miyconst commented on #4149
I also have VS2017 installed, if that may be the reason, somehow.

[2017-03-15 11:48] miyconst commented on #4149
Okay, so with help of @alemoi we discovered that the new Installer does not uninstall Visual Studio extensions.

While old (and new) installers believe that Starcounter is installed if extension is installed.

[2017-03-15 11:51] andwah commented on #4149
A bit related https://github.com/Starcounter/Starcounter/issues/4141 about old and new installer

[2017-03-15 11:54] miyconst commented on #4149
Manually removing the extension from Visual Studio solved the problem.

[2017-03-15 11:59] per-samuelsson commented on #4143
If things work out OK, I'll push this today, and tweak it and merge it into develop after that.

Here's how it works:

In all 2.3-based versions, when a project targeting Starcounter is *built*, we verify that the project either is explicitly tagged to target that platform version. That's done in the project file, using:

[code]

The be backwards compatible, versions in the 2.3 range treat any pro

[2017-03-15 12:26] miyconst commented on #4149
Now I am able to install Starcounter, but not start the server.

[code]

Why it's looking for the config file in a relative path?

[2017-03-15 14:05] atifwaqar opened #4150 "Page Scrolling have some issue"
Hi guys, this is a very old and annoying issue. If we use SignIn app with Launcher or Website app our page gets an additional Scroll bar at right side of the page, and to us it looks like Launcher or Signin is messing something. Do you have any suggestions to get rid of this scrolling issue?

![image](https://cloud.githubusercontent.com/assets/4388707/23952153/c8596172-0990-11e7-9f80-7abc2ac690a3.

[2017-03-15 14:15] per-samuelsson commented on #4149
Regarding

that is by design, and written explicitly in OP of #4141:

[2017-03-15 14:46] andwah commented on #2494
was just hit with this.

Solve it by deleting the "default" database.

[2017-03-15 14:47] per-samuelsson commented on #4143
Done. Merged and pushed to 2.3 in https://github.com/Starcounter/Starcounter/commit/1120af8965b1a2c0d7cd9b61007e37f75aa90766, and thereafter merged into `develop` and adapted to that context.

[2017-03-15 14:47] #4143 closed

[2017-03-15 14:51] per-samuelsson commented on #3791
Everything here is now done, including updating links. I'm now using the new great page created by @Mackiovello to land "More information", and our tutorial index page for "Getting started".

@mmnosek, just reopen if you find anything should not work to your satisfaction!

[2017-03-15 14:51] #3791 closed

[2017-03-15 15:08] atifwaqar commented on #4132
Ah, my bad, i totally forgot about this issue.
It is fixed btw, just moving the `AdminNotificationTypes` fixed my issue. Thanks for the help @chrhol :)

[2017-03-15 15:08] #4132 closed

[2017-03-15 17:37] SenerDemiral opened #4151 "How the client get/download streamed file from server?"
1. Client click the download link.
2. Server prepare stream, and sent in response object
3. But download does not start.
 If MouseRightClick->OpenLinkInNewTab selected Instead of MouseLeftClick download starts.

1
[code]
2
[code]

[2017-03-15 17:43] miyconst commented on #4151
I think this is due to [`Palindom`](https://github.com/Palindrom/puppet-js) catching the link click and trying to morph it as a JSON patch. Try to open the URL manually.

[code]

[2017-03-15 18:48] SenerDemiral commented on #4151
Thank you. It worked.
Parameter needed to pass.
[code]

[2017-03-15 20:58] dan31 commented on #4113
Guys, is this one related: https://github.com/Starcounter/Starcounter/issues/4027?

[2017-03-15 21:05] dan31 commented on #4096
Let's close this issue by now. However, it is very curious why there is a consistent difference in the profiling.

[2017-03-15 21:05] #4096 closed

[2017-03-15 21:07] atifwaqar commented on #4113
Yes, it is. and I'm sorry for the duplication.

[2017-03-15 21:07] #4113 closed

[2017-03-15 21:17] atifwaqar commented on #3995
I think we can close this?

[2017-03-15 21:47] dan31 commented on #3982
@alemoi I am sort of fluctuating on what type of problem that is. Please put your eye on this one?

[2017-03-15 21:48] dan31 commented on #3932
@k-rus question: how it this resolved with 2.3 RC?

[2017-03-15 21:51] dan31 commented on #3428
Ping @andwah

[2017-03-15 21:51] dan31 commented on #3410
Is that still a bug?

[2017-03-15 22:06] mmnosek commented on #3791
LGTM, thanks a 💯 💯 !

[2017-03-15 22:17] alemoi commented on #3982
I would say that I would make `RunWithinApplication` internal. Simply because it violates the principle of apps not knowing about each other.

@warpech this should be solved with Blending.

[2017-03-15 22:37] warpech commented on #3982
Could you pls check if https://starcounter.io/hello-world/mapper-app-images-hello-world-part-8/ can be realised with `Blending`, without `RunWithinApplication`?

If yes then perfect for my case, though that does not fix the problem in the OP.

[2017-03-15 22:49] alemoi commented on #4113
@atifwaqar how is the new handlers registration speed? Any faults?

[2017-03-15 22:53] alemoi commented on #4097
I think this one is related to general maximum one message size (either HTTP request or WebSocket) limitation. In HTTP probably a bit bigger value would cause this problem. So, I will need to implement codehost data accumulation + WebSockets fragmentation.

[2017-03-15 22:54] dan31 commented on #3193
Archived.

[2017-03-15 22:54] #3193 closed

[2017-03-15 22:55] dan31 commented on #3531
Archived.

[2017-03-15 22:55] #3531 closed

[2017-03-15 22:56] dan31 commented on #3688
It would be difficult to trace the issue back. I am archiving it.

[2017-03-15 22:56] #3688 closed

[2017-03-15 22:58] dan31 commented on #3631
Since it is not reproducible, I am archiving it. However, we've created a separate topic in 2.4 release dedicated to scheduling.

[2017-03-15 22:58] #3631 closed

[2017-03-15 23:02] dan31 commented on #3959
I assume it is published already @mmnosek. Reopen if otherwise.

[2017-03-15 23:02] #3959 closed

[2017-03-15 23:03] dan31 commented on #2439
Archived. The track for improving schema migrations is born starting from v2.3.

[2017-03-15 23:03] #2439 closed

[2017-03-15 23:03] dan31 commented on #3916
2.2. Archived.

[2017-03-15 23:03] #3916 closed

[2017-03-15 23:04] dan31 commented on #3449
@k-rus interesting how we classify this issue now in 2.3?

[2017-03-15 23:05] dan31 commented on #3134
@k-rus still an issue?

[2017-03-15 23:05] dan31 commented on #3995
Archived.

[2017-03-15 23:05] #3995 closed

[2017-03-15 23:06] dan31 commented on #3733
The issue is old. If that is still an issue, high odds it is to be improved in 2.4 with Scheduler track.

[2017-03-15 23:06] #3733 closed

[2017-03-15 23:07] dan31 commented on #3773
High odds @alemoi has addressed it throughout work on some fixes.

[2017-03-15 23:07] #3773 closed

[2017-03-15 23:08] dan31 commented on #3889
@andwah: is @atifwaqar question about playlists?

[2017-03-15 23:09] dan31 commented on #4076
@atifwaqar have you checked the matters further?

[2017-03-15 23:15] dan31 commented on #4076
@atifwaqar do you understand @bigwad explanation? Unfortunately, our current abstraction of an implicit read-only transaction is leaky, and it does not deliver always what people expect from it. We are going to improve on that in the future together with other things related to scheduling.

[2017-03-15 23:17] dan31 commented on #3904
Arcived.

[2017-03-15 23:17] #3904 closed

[2017-03-15 23:17] dan31 commented on #4101
Nice answer from @miyconst. @atifwaqar feel free to close issues if you consider them answered ;)

[2017-03-15 23:17] #4101 closed

[2017-03-15 23:18] dan31 commented on #1821
Old, archived.

[2017-03-15 23:18] #1821 closed

[2017-03-15 23:23] dan31 commented on #3111
Archived.

[2017-03-15 23:23] #3111 closed

[2017-03-15 23:23] dan31 commented on #3078
Archived. @per-samuelsson feel free to reopen if needed.

[2017-03-15 23:23] #3078 closed

[2017-03-15 23:24] dan31 commented on #2790
In fact, there is more interesting things in 2.3, where storage is literally a set of incrementally updated logs.

[2017-03-15 23:24] #2790 closed

[2017-03-15 23:25] dan31 commented on #3314
I will follow an @andwah advise there.

[2017-03-15 23:25] #3314 closed

[2017-03-15 23:26] dan31 commented on #3537
Archived.

[2017-03-15 23:26] #3537 closed

[2017-03-15 23:27] dan31 commented on #2971
Archived.

[2017-03-15 23:27] #2971 closed

[2017-03-15 23:30] dan31 commented on #3890
v2.4 is to address these. Archiving the question.

[2017-03-15 23:30] #3890 closed

[2017-03-15 23:37] dan31 commented on #3497
I still think that @malx122 suggestion to strengthen the development experience with stronger supportive behaviour from weaver is of big help for applied developers. As you say, ```We would need to do some kind of static analysis on all expressions in the tree I presume```, and this is what Roslyn delivers. There will be more demand into smarter weaver (preprocessor of the code) to understand deep

[2017-03-15 23:39] dan31 commented on #3457
Last time we chatted in regards to 2.2.1 release and this issue. Should have been fixed by now. If not, let's reopen.

[2017-03-15 23:39] #3457 closed

[2017-03-15 23:41] dan31 commented on #3421
Archived. Don't think things are different in 2017 either.

[2017-03-15 23:41] #3421 closed

[2017-03-15 23:50] dan31 commented on #4119
@bigwad @per-samuelsson
Currently we have some people trying to move from 2.2 to 2.3, but not using 2.2 really. We did not instruct them to manually do unload/reload and wipe the old images. As a result, the error message when running 2.3 after de-installing 2.2 is not comprehendable:

![image](https://cloud.githubusercontent.com/assets/7162535/23975553/bc29a01e-09e1-11e7-9621-be7a62cb306c.png)

I

[2017-03-16 00:25] malx122 opened #4152 "maximum number of uri alias"
The network gateway has a maximum number 32 of uri alias and crashes the server if you try to add one more. Since our application suite adds 6 uri alias, this means we only can run 5 dbs on the same server. Not good...

[2017-03-16 00:28] miyconst commented on #4152
cc @alemoi

[2017-03-16 07:12] linkdata commented on #3410
Probably. Race conditions are hard to find.

[2017-03-16 07:39] per-samuelsson commented on #4119
I don't want to be harsh, but re-stating that "something have to be done" and that "everyone will need to help out" will not get us far.

What we need is

1. Some proposals: what options to we have?
2. Very explicit instructions what versions should include these compatibility checks
    * 1.x -> 2.2?
    * 2.2 -> 2.3?
    * 2.3 -> 2.4?
    * 2.4 -> 3.x?
3. Forcing everybody that should be involve

[2017-03-16 08:06] per-samuelsson commented on #3497
I'm not sure I agree. I would like *less* things to be done by the weaver, not more. But we should sure evaluate each proposition. Some might be worth do add.

This I'm already doing in the new weaver.

Well, as I've written several times before, it's technically impossible to implement a proper equality check for the `==` / `!=` operators, and very simple to understand too: we do weaving at the b

[2017-03-16 08:16] atifwaqar commented on #3688
I still have this issue in SC Version 2.3.0.5916
![image](https://cloud.githubusercontent.com/assets/4388707/23987285/1ed008a6-0a29-11e7-8126-3992da7530d9.png)

[2017-03-16 08:17] atifwaqar commented on #4113
Its very fast now. it takes less than a second now.

[2017-03-16 08:17] per-samuelsson commented on #3889
@dan31

Not exactly. (And btw, we should use "app suites" rather than playlists).

What we lack is support for all management of "installed applications" - i.e applications being downloaded and installed from some store/warehouse - in our *core* management tools. The admin server library and our CLI tooling like `star` and `staradmin` simply don't know about that concept at all. It's built complet

[2017-03-16 08:22] andwah commented on #3428
Works as expected in develop 2.4.0.1340 and in RC 2.3.0.5971

[2017-03-16 08:23] per-samuelsson commented on #3428
Then lets close it 💯

[2017-03-16 08:23] #3428 closed

[2017-03-16 08:28] alemoi commented on #4113
Thanks! Is it also very consistent? Meaning 100%? :)

[2017-03-16 08:31] andwah commented on #3889
No. it's about starting apps that has been downloaded and unpacked with the administrator.
That apps can be started with `star.exe` as normal but the tricky part is to find where the apps was unpacked (they are unpacked in the database repository).

**App suite** : is a packet of apps,
**Playlist** : is a list of apps/apps suits that should start when the database is started.

Im in working on an

[2017-03-16 08:33] atifwaqar commented on #4113
That I am not sure. I have tested all servers once, and they all ran fine in first attempt.
But I will reopen this issue if I see anything wrong :)

[2017-03-16 08:40] andwah commented on #3982
Then it would not be possible to do a Database Editor App ?

[2017-03-16 08:40] k-rus commented on #3932
The issue is with the old unload. The issue is not resolved.

[2017-03-16 08:56] per-samuelsson commented on #3889
Ah, I was wrong then. Thanks for explaining. That make sense. The I guess playlist have similarities to proposed "system apps" (i.e. the start with the first host / database).

Hard to say, but maybe, yes. No matter how, what we should strive for is a single, well-working management model - not have it in different places. I know we both agree on that, just that there is never any real time to syn

[2017-03-16 09:10] k-rus commented on #3292
Is it a duplicate of #3042?

[2017-03-16 09:26] alshakero commented on #4130
So if I understand correctly, the client simply has to send it's last versioning data again instead of empty pinging. Right?

[2017-03-16 11:14] per-samuelsson commented on #4119
Question about schema version numbers here: https://github.com/Starcounter/CompanyTrack/issues/290#issuecomment-287026826.

[2017-03-16 11:17] miyconst commented on #3932
I don't think it is going to be ever resolved in the old `unload` tool. The solution is to use the new `StarDump` tool. Am I right @k-rus?

[2017-03-16 11:17] #4151 closed

[2017-03-16 12:24] per-samuelsson commented on #4119
I will setup a test for this, following this info:

1. Install 5767. Create and run an application.
2. Update to 5816. Start the application.

Let me know if that is wrong.

[2017-03-16 12:32] k-rus commented on #3449
Can you explain your question? Which classification do you mean?

[2017-03-16 12:33] k-rus commented on #3134
I don't know. Nobody wrote that it was fixed, which usually it means it is not fixed.

[2017-03-16 12:35] #4122 closed

[2017-03-16 12:38] miyconst opened #4154 "Document custom Typed JSON data bound objects comparison"
Original issue - [Make comparer for dataobjects overridable in TypedJSON](https://github.com/Starcounter/Starcounter/issues/4122).

@chrhol please assign the issue to @Mackiovello once finished. He has to be aware of this features, and possible polish the text.

[2017-03-16 14:59] per-samuelsson commented on #4119
I've now simulated the exact case, using said approach. Summary:

* Metadata APIs is the cause to crashing the code host.
* Metadata API provide no specific error code.
* Web administrator handle this correctly if starting the app from there.
* Using `star.exe`, you also get the "correct" error (i.e. the correct one as in "the one produced by metalayer", but that error is giving no one no help wha

[2017-03-16 17:39] dan31 commented on #3428
Thx (adjusted in https://github.com/orgs/Starcounter/projects/2 correspondingly).

[2017-03-16 17:54] dan31 commented on #3704
Hm, interesting one. @warpech do you know if this has been moved on the Polymer side?

[2017-03-16 17:57] dan31 commented on #3877
CC @warpech @miyconst

[2017-03-16 18:19] dan31 commented on #3484
The question is almost a year old, thus I am archiving it in hope it is answered fully enough. @miyconst if it isn't, please feel free to re-open. Often don't be ashamed to close old questions too 😺

[2017-03-16 18:19] #3484 closed

[2017-03-16 21:58] SenerDemiral opened #4155 "Web Administrator SQL is showing null value as zero. (Nullable<Int32>) v2.4.0.1263"

[2017-03-16 22:01] miyconst commented on #4155
This is a duplicate of - [Allow C# null(able) values in JSON and allow mapping C# null values to JSON omitted field](https://github.com/Starcounter/Starcounter/issues/3694).

Currently Typed JSON does not support nullable numeric data types, that is why NULLs are shown as zeroes.

[2017-03-16 22:01] #4155 closed

[2017-03-16 22:20] SenerDemiral commented on #4155
But Nullable<DateTime> field can be shown NULL

[2017-03-16 22:28] miyconst commented on #4155
Yes, it is just not implemented.

[2017-03-16 22:32] SenerDemiral commented on #4155
Nullable DateTime field already shown NULL

[2017-03-16 22:43] miyconst commented on #4155
As I already said, yes, it is possible to show `NULL` for nullable numeric values when the value is NULL, it's just not implemented yet. And this issue is a duplicate of an already existing one.

[2017-03-17 05:12] SenerDemiral commented on #4155
Thank you for your patient.

[2017-03-17 08:01] per-samuelsson commented on #4141
I've now finished all documentation work regarding everything that is new with the Visual Studio extension, including troubleshooting guides for cases where users might face problems:

* In all branches of Gitbook, there is now a guide on how to create projects without the extension (highlighting what project templates does for you). Here's the one for [2.3](https://docs.starcounter.io/v/RC/guides

[2017-03-17 08:13] per-samuelsson commented on #4089
I looked into this (seeing it was a 2.3 prio) and found the cause: a loooong time ago, we supported arrays to be defined with these premises:
1. Single dimension
2. Type of elements was database types

The implementation was really crappy though (prototype-ish), so probably something got lost in the runtime but the weaver was never informed about it.

I'll take it, and make sure it produce a bette

[2017-03-17 08:37] Mackiovello commented on #4089
There seem to be cases when the error above does not show up. When trying to create a new Starcounter Application with the code below, I get this error, which is much better:

[code]

[code]

I'll make a note on the appropriate page of which collections that are supported

[2017-03-17 08:39] Mackiovello commented on #4089
The issue in the OP only occurs when the array is created of database objects.

[2017-03-17 08:39] per-samuelsson commented on #4089
No, you are not doing the same thing. That's what I tried explaining here:

[2017-03-17 08:40] per-samuelsson commented on #4089
Exactly. See my previous comments. I produce a proper error already for array types we have never supported (like primitives). It's just database class arrays that is flawed.

[2017-03-17 08:43] linkdata opened #4156 "Node WebSockets test failure"
https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=21207#_focus=12472

[01:51:00][umbrella_node_test-bat] Finished echoes: 22960 out of 30000, last second: 9611
[01:51:01][umbrella_node_test-bat] Finished echoes: 23410 out of 30000, last second: 450
[01:51:02][umbrella_node_test-bat] Finished echoes: 23410 out of 30000, last second: 0
[01:51:03][

[2017-03-17 08:50] Mackiovello commented on #4089
Is it correct that the only collections that are supported are in the `System.Collections` namespace?  These collections have to be read only to work. Is that how it works? Both `ArrayList` and `IEnumerable` seems to work when they only have a getter.

[2017-03-17 08:54] per-samuelsson commented on #4089
I'm not sure tbh. I think it has changed quite a bit over time. I can try find out by studying the code I guess. Maybe @chrhol know?

[2017-03-17 09:19] per-samuelsson commented on #4156
Dup of https://github.com/Starcounter/AdminTrack/issues/258

[2017-03-17 09:19] #4156 closed

[2017-03-17 09:21] per-samuelsson opened #4157 "Bump version of extension distributed to 1.0.4"
Because of this https://github.com/Starcounter/Starcounter.VisualStudio/issues/2.

[2017-03-17 10:05] per-samuelsson commented on #4157
Fixed, merged and pushed in https://github.com/Starcounter/Starcounter/commit/6597413ca0b58397b03a99fd7b55950e4b88fa73

[2017-03-17 10:05] #4157 closed

[2017-03-17 11:49] per-samuelsson commented on #4089
I considered this some more, and even looked at code and documentation.

What confused me was that you sounded so sure that we even support *any* collection type, and the answer to that is: we do, and we don't. 😸

Here's how it works:

In any database class, if you have either

1. a field, or
2. an auto-implemented property

we take some action on it. We analyse it and consider it as you want us t

[2017-03-17 12:51] per-samuelsson commented on #4089
Done. Merged and pushed in https://github.com/Starcounter/Starcounter/commit/88d8bb19bc581aa987cb32816dc3c452f36d20a2.

Merge to develop remains, but getting some weird new conflicts there on bower. Then fully done.

[2017-03-17 12:51] #4089 closed

[2017-03-17 13:35] joozek78 opened #4159 "What's the purpose of Session.Data"
`Starcounter.Session.Data` is a property described as

Its name suggests that it should be used to store arbitrary data specific for the session. However its type and [this line](https://github.com/Starcounter/Starcounter/blob/4d98b68fd757bc7785b8339ec9c43ff7aa48aeaa/src/Starcounter.XSON/Class%20Json/Json.cs#L179) suggest that it's something else.
Some applications use this property to indeed stor

[2017-03-17 15:35] Mackiovello commented on #4089
This is now documented on the bottom of [this page](https://docs.starcounter.io/v/2.1.177/guides/database/datatypes/)

[2017-03-17 15:41] per-samuelsson commented on #4089
Great.

I'm not sure this is correct though:

For primitive types that are not database columns, it should work (but will not do so for sure in future versions). For collection types, I don't think they can be used.

[2017-03-17 15:45] Mackiovello commented on #4089
Then I must have misinterpreted the intro on [this page](https://docs.starcounter.io/guides/database/creating-database-classes/):

I'll try and see what happens.

[2017-03-17 15:50] chrhol commented on #4159
I'm not sure I follow what you're after here, so if my answer is not what you expected, I apologize in advance 🤡

The basic functionality (if we ignore blending and multiple apps at this step) is to:
- Make sure that the state for a viewmodel is kept between requests. That viewmodel can of course contain other viewmodels (so you have a complete tree stored)
- Allow using patches between client and

[2017-03-17 15:51] per-samuelsson commented on #4089
Well, like I wrote, it applies to primitives, but not collection types, which kind of make sense IMO. How could you perform a SQL WHERE on a `IList` for example.

Hence, some like this:

[code]

will allow you to query on `Version` in a WHERE clause, but as you can see, it's not a database value. Having some collection type will make the SQL engine helpless though (I think).

[2017-03-17 15:52] Mackiovello commented on #4089
Yea, that is understandable.

This still works, which makes sense:
[code]

[2017-03-17 16:03] Mackiovello commented on #4089
This is correct then https://github.com/Starcounter/Docs/commit/c37b9bcc08c11a5ebb3ff26a13cee015d59bc795?

[2017-03-17 16:06] per-samuelsson commented on #4089
Of course it does. I think you are mixing things up: what works in the *language* and in our language *binding* is not 1-1 what works in the *query language*. In your example, you can't do:

[code]

or similar. That is what I'm exclusively try to express in all my above comments.

[2017-03-17 16:07] per-samuelsson commented on #4089
Yes. That fix the concern I had. 👍

[2017-03-17 16:08] Mackiovello commented on #4089
It's getting clearer. I'm just a little slow at times 😄 Thank you for helping out!

[2017-03-17 16:09] joozek78 commented on #4159
I'm pretty sure I saw our apps using `Session.Data` to store a MasterPage which in turn stored shared state. Sweoffshore does it 100% and I think Palma also. I don't see anything wrong in associating some shared state with Session, it solves some problems and doesn't introduce any (we're saying about sharing between pages of the same app).

sure, requiring a Json makes sense.

I mean only document

[2017-03-17 16:11] per-samuelsson commented on #4089
Who aren't? 😄 And most of the time you are exactly the opposite! No worries, and well done as usual.

[2017-03-17 16:40] k-rus commented on #3932
@dan31 asks how it is resolved in 2.3. And this particular issue is not resolved and not planned for resolution.
I assume same as @miyconst that new tool can be used.

[2017-03-17 19:11] per-samuelsson commented on #3932
Isn't old `staradmin unload/reload` somewhat compatible with stardump invocation? Then why dont we just redirect the former to the later and that will fix it all? I mean, `staradmin` would be really trivial to adapt to that. Just take a look at the code.

[2017-03-18 11:40] mandatorySuicide opened #4160 "Question : Why literals are not supported in the query?"
try
            {
                var test =
                   Db.SQL<dynamic>(
                       "select x from SCHaiHai.Chanachur x where Age >= 21");
                foreach (Chanachur queryResultRow in test)
                {
                    var name = queryResultRow.Muri.Name;
                }

            }
            catch (Exception ex) // come's here
            {

[2017-03-18 13:09] Mackiovello commented on #4160
It's for performance reason. It's partly explained here: https://github.com/Starcounter/Starcounter/issues/160#issuecomment-16352787

Keep in mind that literals are supported with `Db.SlowSQL` if there's some cases where [variables](https://docs.starcounter.io/guides/database/variables/) absolutely cannot be used, which I don't know if there are any.

See above, it's much slower than variables.

I

[2017-03-18 13:11] miyconst commented on #4160
@Mackiovello thank you for answering the question.

[2017-03-18 13:11] #4160 closed

[2017-03-19 18:53] alemoi commented on #4152
Increased the maximum number of URI aliases to 128. If that would be a problem, the code should be rewritten, because its inefficient.

[2017-03-19 18:53] #4152 closed

[2017-03-20 08:18] chrhol commented on #4159
Definitely agree here. I think what's gets confusing is the wording `shared state`, what do we mean with that? Well from Starcounters side, we want it the state to be in some format we know how to handle (i.e store and retrieve), so we choosen either a viewmodel (stored on a session) or a database object. You *can* attach any CLR object to the binding of a viewmodel today, but this is something th

[2017-03-20 08:19] atifwaqar commented on #4076
@dan31 Yes I understood @bigwad explanation.
I have also implemented @miyconst suggestion. lets see if I still get the exception.

[2017-03-20 08:24] atifwaqar commented on #4145
@warpech Sorry I couldn't test this thing, since commenting `Application.Current.Use(new HtmlFromJsonProvider());` fixed the issue for us.
Do you still need to test this code?

[2017-03-20 10:45] miyconst commented on #4159
I think we have multiple issues in here, and I would like to have a meeting to find the best solution. Still, here are my points, of how I would like to see that.

- `Session.Data` saves user session data and is a `Dictionary<string, object>`.
- Any `Json` object can be assigned to a session via `json.Session = Session.Current`. It should not matter if the objects are siblings, parent, child, and

[2017-03-20 11:11] mmnosek commented on #4091
@andwah could you please take a look?

[2017-03-20 11:46] andwah commented on #4091
Sure.
i will check why it returns 200 and not 404 also investigate where that image comes from and maybe give some new proposals :-)

[2017-03-20 12:15] andwah commented on #4091
Should we stick to the "pixel" image or change it?

Just made a quick "404 image" in Illustrator as an example, I still like the idea of a simple and clean message.

![image](https://cloud.githubusercontent.com/assets/2656996/24099327/d71d1cd0-0d6e-11e7-83e6-aa15b57234ef.png)

[2017-03-20 12:28] andwah opened #4161 "Starting database results in a ScErrConstraintViolationAbort exception"
Using latest level1 code from 2017-03-20 13:00 and a database created with an "old" v2.3
[code]

[2017-03-20 12:33] dan31 commented on #4161
@andwah how old?

[2017-03-20 12:35] dan31 opened #4162 "Starcounter version into debug information"
Currently such debug traces are not particularly useful:
Starcounter.ConstraintViolationException: ScErrConstraintViolationAbort (SCERR8001): A transaction was aborted because a constraint was violated.
Version: _2.0.0_.
What impedes us from finally having a proper version there?
CC @alemoi

[2017-03-20 12:41] andwah commented on #4162
the version used (level1) is probably pulled and build locally and the default verison is 2.0.0

[2017-03-20 12:42] andwah commented on #4162
Team City generates version numbers, but not when building level1 locally

[2017-03-20 12:57] mmnosek commented on #4091
Thanks! I don't have very strong opinion about that :) Both versions are fine - maybe someone else?

[2017-03-20 13:28] warpech opened #4163 "VSIX installer opens in background"
When installing Starcounter on a fresh machine (Windows 10, VS 2017), Starcounter installer 2.3.0.6054 finishes with opening VSIX installer not in the foreground, but in the background (behind the Windows Explorer window that I used to run the installer).

[2017-03-20 13:28] atifwaqar opened #4164 "Could not load file or assembly"
SC Version 2.3.0.5943

[code]

[2017-03-20 13:31] andwah commented on #4163
@warpech Even if you did not click around during the installation?

[2017-03-20 13:40] careri opened #4165 "Delete and create db from cmd"
Hi!

I've managed to delete and create a dabase using staradmin.
I'm trying to figure out a way to define the port to use for the database.
The code suggests that it should be possible, the comment at row: 20
[code]
https://github.com/Starcounter/Starcounter/blob/develop/src/Server/staradmin/Commands/NewDatabaseCommand.cs

But I can't figure out the correct way of passing the argument

[2017-03-20 13:45] miyconst commented on #4164
Are you sure that `Google.Ads.Common.dll` is in the `/bin/` folder?

[2017-03-20 13:54] per-samuelsson commented on #4165
Some raw content that should get you going:

https://github.com/Starcounter/Starcounter/issues/3360#issuecomment-184234893

@Mackiovello, I think we need to get this thing documented, don't you?

[2017-03-20 13:57] per-samuelsson commented on #4161
Dup of #4119.

[2017-03-20 13:57] #4161 closed

[2017-03-20 14:02] Mackiovello commented on #4165
This is documented here at the bottom of the page: https://docs.starcounter.io/guides/working-with-starcounter/staradmin-cli/

[2017-03-20 14:16] andwah commented on #4161
around 2-3 months old would be my best guess.

[2017-03-20 16:40] alemoi commented on #4162
The version number is embedded in `level1\src\Starcounter.Internal\Constants\CurrentVersion.cs`. The correct version number is set by TeamCity, while the value `2.0.0` is default unchanged value. As @andwah correctly says, it means that code is developed locally by developer.

[2017-03-20 16:41] alemoi commented on #4162
Maybe we should use `undefined` or smth instead of `2.0.0`

[2017-03-20 16:45] dan31 commented on #4162
Oh local build, I see then. Yes, sort of an identifier, but misleading (you can know that it is your local build if the version is 2.0.0, but this isn't a good way).

[2017-03-21 07:19] per-samuelsson commented on #4162
This has been the same thing since years and years, and tbh, I'm not sure we can do much better. After all, when you build a local build in isolation - how could you create a meaningful version on the fly?

I think some local number like 2.0.0 is fine, but one thing we could do to improve it at least some is to include the name of the main branch, and confirm to semver pre-release section to inclu

[2017-03-21 09:24] SenerDemiral opened #4166 "Http/Node problem used with reverse proxy"
1: Server Database Http Port 8080 and proxy used:
Client Http.GET returns 404, But Postman returns 200.

2: Server Database Http Port 80 and proxy not used:
Client and Postman Http.GET returns 200 OK.

1:
Server Database Http Port: 8080
Server Reverse Proxies:
[code]

Client:
[code]
Postman at client:
[code]

[2017-03-21 09:39] Mackiovello commented on #1939
This should be resolved with https://github.com/Starcounter/Starcounter/issues/925#issuecomment-261786668. If there are more malware detections, please reopen.

[2017-03-21 09:39] #1939 closed

[2017-03-21 09:51] warpech opened #4167 "Registering same static file twice should log a warning"
Right now, when you have two apps registering a same static file that is already registered by Starcouner (`/sys/polymer/polymer.html`) or some other app, it is easy to miss.

It would be great if Starcounter logged a warning in Administrator when an app is registering a static file that is already registered.

[2017-03-21 09:57] warpech commented on #3704
I don't think so. In our sample apps we are working around this problem using string keys, so instead of `menuitem.Metadata.2.Value` we do `menuitem.Metadata.Row2.Value`.

But as @miyconst pointed out, this is a very rare problem to need to explicitly bind to a specific array item.

Polymer does not fix any issues in Polymer 1.x and this problem is likely to be gone in Polymer 2. We will be upgrad

[2017-03-21 10:00] warpech commented on #4145
By commenting out `Application.Current.Use(new HtmlFromJsonProvider());` you have most likely removed the possibility to run your app standalone (without Launcher). This can hurt you in the long term, because we want to be able to run any app standalone - to prove composability, for elegant testing, etc.

If the problem is gone for you, and we cannot reproduce it otherwise, then I think you can cl

[2017-03-21 10:11] miyconst commented on #4166
What is `Http.GET` in your question?

[2017-03-21 10:36] SenerDemiral commented on #4166
On Server:
[code]

[2017-03-21 10:38] SenerDemiral commented on #4166
Same result using Node.GET
[code]

[2017-03-21 10:41] SenerDemiral opened #4168 "What is the limit of MaximumReceiveContentLength in scnetworkgateway.xml?"

[2017-03-21 10:44] SenerDemiral commented on #4168
Sory

[2017-03-21 10:44] #4168 closed

[2017-03-21 11:53] careri commented on #4165
Thanks, that worked

[2017-03-21 11:53] #4165 closed

[2017-03-21 12:18] chrhol opened #4169 "Question about HTTP handlers in 2.x"
Questions that arose around HTTP handlers in 2.x.

1. Does the HTTP endpoints in SC 2.x support keep-alive?
2. Are these endpoint built with low latency and high performance in mind (as opposed to being imagined for web frontend component use etc).

/cc @alemoi

[2017-03-21 12:32] alemoi commented on #4169
Yes, keep alive is supported.

Yes, we rather concentrated on low latency and performance in mind then functionality. So functionality is limited.

[2017-03-21 12:53] miyconst commented on #4166
Client Http.GET returns 404, But Postman returns 200.

What is "Client" and what is "Http.GET" in this case? Sorry, I don't understand how you perform the HTTP request.

[2017-03-21 14:00] chrhol opened #4170 "Yet again siblings and patching to client."
There are two problems:
- When merger is called for the same set of siblings more than once, they are incorrectly marked as already sent (which means that they will not be sent to client)
- Delete of an existing sibling on the client is not implemented on the server, it's just ignored.

Both these points have been fixed locally, but needs to be tested before pushing to main branches.

[2017-03-21 14:04] chrhol opened #4171 "json.Clear() (in Json.IList.cs) doesn't check if changes are tracked or not."
It's always adds a removeall change, which might lead to weird behaviour later.

[2017-03-21 14:09] chrhol commented on #4171
Fixed. Will be pushed together with #4170

[2017-03-21 14:26] Mackiovello opened #4172 "Hard to decipher error when using special letters as app name"
When creating a new Starcounter Application from the template and setting the name with a special character, such as "å" or "ö", it refuses to run and returns the error:

[code]

I would consider this a low priority issue. Still worth keeping in mind if there's an easy way to return a more descriptive error.

[2017-03-21 16:07] dan31 commented on #4089
Wow, you've addressed it. Awesome job!

[2017-03-21 16:25] tomalec commented on #3704
Polymer 1.x is known to have plenty of issues around bindings to arrays and indexes/keys resolutions. They claim that Polymer 2.0 has redesigned data binding that should solve those,  but I didn't have time to check all of them.

[2017-03-21 19:57] SenerDemiral commented on #4166
You are right, I am from desktop terminology about client/server.
Client is Starcounter app which collects data from OldSQL Database and
sends to another Starcounter app to store which is Server.
There is no web client.

[2017-03-21 20:20] mmnosek commented on #4061
+1! :)

[2017-03-21 20:41] miyconst commented on #4166
Please show the code of you perform the HTTP GET request.

[2017-03-21 21:07] chrhol commented on #4171
Pushed to `v2.3` and `develop` branches now.

[2017-03-21 21:07] #4171 closed

[2017-03-21 21:07] chrhol commented on #4170
Pushed to `v2.3` and `develop` branches now.

[2017-03-21 21:07] #4170 closed

[2017-03-22 08:05] atifwaqar commented on #4164
@miyconst I had to fix the issue somehow, so I removed the entire code base in my local machine, and synced everything from Github again, and everything fixed.
and yes, i made sure all the dlls were in bin folder and in weaver file. I will reopen this issue if it appears again.

[2017-03-22 08:05] #4164 closed

[2017-03-22 08:14] atifwaqar commented on #4145
lets fix this issue now, so we dont have to worry about it in future. I have setup a test server with this issue, you can login there and investigate the issue.

[2017-03-22 08:56] atifwaqar opened #4174 "Exception in a get constructor of a Table Attribute"
SC Version 2.3.0.5943

![image](https://cloud.githubusercontent.com/assets/4388707/24189535/a77cd81c-0ee5-11e7-8f35-0f688b6f9f84.png)

This issue is caused be bad coding, like if I dont have a try catch in a get constructor, I will get exceptions.

[2017-03-22 09:01] miyconst commented on #4174
In this case the best thing Starcounter can do - report the exception to the code which invoked the query.

[2017-03-22 09:01] #4174 closed

[2017-03-22 09:18] SenerDemiral commented on #4166
First trial:
Server DataBase Http Port 8282
Server Reverse Proxy used. port: 80 -> 8282 (GateWay Config updated)

Run Client from VS -> OpenClient from WebAdmin -> Visit  http://127.0.0.1:8080/Client/test
Result:
Client: URI not found: GET /server/test
Postman: Test OK

Second trial:
Server DataBase Http Port changed to 80 from 8282
Server Reverse Proxy not used. (GateWay Config updated)

Run Clie

[2017-03-22 09:24] miyconst commented on #4166
Where does this come from? Is `Node` your own HTTP Client or? What happens inside `serverNode.GET("/server/test");`?

[2017-03-22 09:32] atifwaqar commented on #4126
Found and fixed the issue. and to me it looks like it had nothing to do with property changed from `AdFenix.Database.Concept` to `AdFenix.Database.Content`.

this piece of code was the issue :
[code]

Where as the code in if condition should have been in `Db.Transact`

[2017-03-22 09:38] atifwaqar commented on #4126
My bad, this the above solution is another issue's fix. I still get the same exception when i query in SC Admin Panel.

[2017-03-22 09:40] SenerDemiral commented on #4166
Node is remote REST server located at http://masatenisi.online listens GET request via Handle.GET("/Server/test", ..)
Server responds simply "Test OK" string.
Situation for Http.GET  and Node.GET are same.
Response res = Http.GET("http://masatenisi.online/server/test");

[2017-03-22 09:43] atifwaqar commented on #4126
Ok this is weird only 1 following object is messed up:
`SELECT * FROM AdFenix.Database.FacebookPage offset 38`

and if I exclude this object which is at offset 38, everything works fine for me.
Now how can I investegate or may be fix this one object?

[2017-03-22 09:46] SenerDemiral commented on #4166
Problem occurs if Reverse proxy used.
Client SC app can't access Server's Handle.GET
But Postman used at Client side access Server's Handle.GET always (ReverseProxy or not)

[2017-03-22 09:51] atifwaqar commented on #4126
I am not aware of it, To my knowledge there was no refactoring done on this table ever.

[2017-03-22 10:10] iliassays opened #4175 "Starcounter 2.3 issue"
Hello

See the attachment. I am having this on my local machine once i install 2.3. What is the soln?

![scissue](https://cloud.githubusercontent.com/assets/3203987/24192703/08eaa4c4-0f1a-11e7-9cf6-232b781942f4.PNG)

[2017-03-22 10:11] miyconst commented on #4126
From the stack trace I may assume that somehow it happens that `AdFenix.Database.Publication.get_Content`  method returns `AdFenix.Database.Concept` instead.

This may happen for different reasons, and to be able to investigate it would be good too see the full class declaration (without static methods).

[2017-03-22 10:11] miyconst commented on #4175
Please provide full Starcounter version.

cc @alemoi

[2017-03-22 10:14] atifwaqar commented on #4126
Is this what you asked for?

[code]

[2017-03-22 10:15] miyconst commented on #4126
Sorry, but no. The `Content` property causes the exception, I need to see the class which declares this property.

[2017-03-22 10:18] per-samuelsson commented on #4141
Seem #4163 is the only known outstanding thing left, and it has an issue of its own. Review considered done.

[2017-03-22 10:18] #4141 closed

[2017-03-22 10:22] atifwaqar commented on #4126
Ok, Is this what you asked for?

[code]

[2017-03-22 10:37] miyconst commented on #4126
Okay, now the issue is obvious.

The database somehow ended up with wrong data.

The `Publication` class inherits `Relation`, and the `Content` property is a synonym for `WhatIs`, while the `WhatIs` is of very base type `Something`.

I assume that both `AdFenix.Database.Concept` and `AdFenix.Database.Content` are inherited from `Something`, which means it's possible to set `WhatIs` to either of th

[2017-03-22 10:37] iliassays commented on #4175
Starcounter-RC-2.3.0.5971-Setup. I installed this.

[2017-03-22 10:39] miyconst commented on #4166
Okay. Please try using [System.Net.WebClient](https://msdn.microsoft.com/en-us/library/system.net.webclient(v=vs.110).aspx) and report back if the issue persists.

[2017-03-22 10:43] warpech commented on #3394
@joozek78 was hit by it again today.

@per-samuelsson WDYT?

[2017-03-22 10:45] warpech commented on #3394
Looking at https://github.com/Starcounter/Starcounter/issues/3394#issuecomment-186249179 I think that actually not hardcoding "Launcher" in the app HTML template is the good solution.

[2017-03-22 10:49] warpech commented on #4061
@un-tone, this will be the next thing that we review, ok? Please hit me on Slack when you have a chance to look into it.

[2017-03-22 11:00] per-samuelsson commented on #3394
I think having Starcounter not support custom names because some app running on Starcounter handle it poorly is a questionable strategy.

Starcounter is pretty straightforward here IMO, and more importantly: consistent. In any database, you can run as many apps you like. However, they each must have a unique, distinguishable name. Names are shown as you type them, but all comparisons are case-inse

[2017-03-22 11:00] chrhol commented on #4061
The branch for this issue is quite old, and there been some changes that will cause conflicts I think. I will do a merge from the latest main branch.

A question: do we still aim for this to be only in `develop` (aka `2.4`) or do we want it in `v2.3.x`? If so I need to move the code to a feature branch based on `v2.3`

[2017-03-22 11:03] warpech commented on #4061
As already mentioned in https://github.com/Starcounter/Starcounter/issues/4061#issuecomment-283356280, this is a request from our customer (SWO), who are currently going live with `2.3`. So in my opinion this is a welcome change in `2.3`. If it creates any big risk, please check with @dan31.

[2017-03-22 11:04] joozek78 commented on #3394
I agree that we shouldn't hardcode "Launcher".

That said **I still think that changing the default name derivation to Assembly is the way to go**. The only case where it will differ from using the executable name is where users where confused in the past - referring to uppercase-named executable with lowercase name or renaming the executable (well yes, you can think of more cases, one more confus

[2017-03-22 11:06] atifwaqar commented on #4126
Ok I'm kind of lost here. I can see that the following type of code is in some places in our solution:
[code]

I have no idea how `WhatIs` and `ToWhat` works, If you have any documentation somewhere please do share so I can understand whats happening here.

[2017-03-22 11:08] warpech commented on #3394
The problem is known to me to exist in two places right now:

- [`visible$="{{item.Launcher.ActiveWorkspace}}"`](https://github.com/StarcounterApps/Launcher/blob/3a4b77e2a01eae35cdb2a9de1f5c11d1045743fa/src/Launcher/wwwroot/Launcher/viewmodels/LauncherTemplate.html#L69) in Launcher
- [`this.partial.LauncherLayoutInfo`](https://github.com/Starcounter/starcounter-include/blob/8926ad34e8f2a75d6b8c2e4

[2017-03-22 11:09] warpech commented on #3394
@joozek78 keep in mind that Starcounter will support other code hosts, not only C#. In Node there will be no "Assembly name".

[2017-03-22 11:09] chrhol commented on #4061
I wouldn't say it's a big risk, but it's still changes in a version we try to stabilize and freeze. Introducing new things always contains a risk for new bugs or unintended sideeffects. Lets review this funtionality before making a decision though.

So: First step, I will create a branch based on `v2.3` for this. Then lets test it out and when we're ready we can decide which version it should end

[2017-03-22 11:29] per-samuelsson commented on #3394
Sorry @joozek78, I really don't understand this:

Is that not what we do already? Or you mean using the *embedded, real assembly name*, rather than the executable (file) name?

[2017-03-22 11:40] alemoi commented on #4175
Hi Ilias! Does it t happen with default Launcher app? No changes?

[2017-03-22 11:42] joozek78 commented on #3394
I mean Assembly Short Name as it is seen by .NET, not assembly (AKA
executable) file name

On Wed, 22 Mar 2017 at 12:30 Per Samuelsson <notifications@github.com>
wrote:

[2017-03-22 11:44] alemoi commented on #4175
Was it working before? Is it a new computer?

[2017-03-22 11:49] joozek78 commented on #3394
And @warpech has raised an important issue. Maybe we really can't rely on nothing else than file name and just make sure that cause trouble

[2017-03-22 12:03] SenerDemiral commented on #4166
[code]
s: Test OK
WebClient works!

Response res = Http.GET("http://masatenisi.online/server/test");
returns Body as:
[code]

[2017-03-22 12:30] miyconst commented on #4166
@SenerDemiral it's good that `WebClient` works for you. Please use available .Net features when that is possible.

The `Http.GET` and `Starcounter.Node` are subjects to deprecate. cc @alemoi.

I am closing this question as answered.

[2017-03-22 12:30] #4166 closed

[2017-03-22 12:49] iliassays commented on #4175
No. It is happening while running anything for starcounter. Even while trying to browse http://127.0.0.1:8181/

[2017-03-22 12:59] alemoi commented on #4166
That's correct. Especially Node, will mark it obsolete soon.

[2017-03-22 13:00] alemoi commented on #4175
Wow, so something is really wrong with clang.
Is it a new environment?

[2017-03-22 13:01] iliassays commented on #4175
No. I was using SC 2.2. Now installed 2.3.

[2017-03-22 13:04] alemoi commented on #4175
Thanks! I really want to find whats the issue! Can you please zip folder `%temp%\starcounter` and send it here? Thanks!

[2017-03-22 13:14] iliassays commented on #4175
[2.2.5.zip](https://github.com/Starcounter/Starcounter/files/861465/2.2.5.zip)

[2017-03-22 13:18] alemoi commented on #4175
Thanks! I checked it. Can you please stop Starcounter, delete this folder, start Starcounter, get the error, zip the folder again and send it. Thanks so much!

[2017-03-22 13:21] per-samuelsson commented on #4141
Regarding the offensive message when extension was already installed, reported by @warpech, I've filed an issue about it now, over at MS: https://connect.microsoft.com/VisualStudio/feedback/details/3130163

[2017-03-22 13:40] warpech commented on #4141
Specifically what @per-samuelsson is referring to:

After uninstalling Starcounter and installing it again with "Install Extension" checked, I get the following alert:

![2017-03-22 14_40_11-vsix installer](https://cloud.githubusercontent.com/assets/566463/24200477/78fb8b50-0f0d-11e7-948c-7cd9b24334ac.png)

[2017-03-22 13:44] iliassays commented on #4175
Here we go!
[2.2.5.zip](https://github.com/Starcounter/Starcounter/files/861563/2.2.5.zip)

[2017-03-22 13:47] warpech commented on #4141
I tried to add the comment in connect.microsoft.com, but for some reason it does not sign me in properly.

[2017-03-22 13:54] alemoi commented on #4175
So after you have deleted this folder, it was still crashing I suppose?

[2017-03-22 13:55] alemoi commented on #4175
Is it crashing now, even if you simply start `scservice.exe` in cmd, without any applications?

[2017-03-22 13:55] warpech opened #4176 "starpack does not work with VS 2017"
`starpack` fails to find msbuild with Visual Studio 2017. The error that I get:

[code]

Possibly relevant discussion: https://github.com/Starcounter/Guidelines/issues/15

![2017-03-22 14_53_40-c__windows_system32_cmd exe](https://cloud.githubusercontent.com/assets/566463/24201137/79512900-0f0f-11e7-9c97-202cf42aa284.png)

[2017-03-22 13:55] warpech commented on #4176
cc @andwah

[2017-03-22 13:58] iliassays commented on #4175
was that the solution :)

It is not crashing now and i can see http://127.0.0.1:8181/

[2017-03-22 13:59] per-samuelsson opened #4177 "Integrate sccleaner tool with server"
Next step towards: https://github.com/Starcounter/RebelsLounge/issues/84

[2017-03-22 14:12] alemoi commented on #4175
What if you start an app, would it crash in that case?

[2017-03-22 14:20] andwah commented on #4176
Can i assume that you do not have vs 2015 installed along side with vs 2017?

[2017-03-22 14:21] warpech commented on #4176
Correct

[2017-03-22 14:22] warpech commented on #4176
@KmaTTi89 asked as relevant question: Does `starpack` actually build the project using `msbuild`? We thought it only packs the existing binaries.

[2017-03-22 14:25] iliassays commented on #4175
no. working fine now. What was the issue?

[2017-03-22 14:38] andwah commented on #4176
`starpack` can build ( there is an option for that, but it's an experimental thing, i have not solved how to specify the 'configuration' Release/Debug yet.

`starpack` uses the `Microsoft.Build.dll` assembly to read the project file, so maybe it depends on `msbuild `stuff.  I need to investigate some more on how that works.

[2017-03-22 14:39] andwah commented on #4176
`starpack` does not directly call `msbuild.exe`

[2017-03-22 15:06] alemoi commented on #4175
I will have to investigate, thanks to you I have old files that were cached.

[2017-03-22 15:10] miyconst commented on #4126
There is not much to tell. The `WhatIs` and `ToWhat` are just property names, it could be named `Right` and `Left` or `Top` and `Bottom`.

The properties just store reference to two objects which are related to each other through a `Relation`.

[2017-03-22 20:05] chrhol commented on #4061
As I suspected there was a lot of conflicts in the old branch, and some of my newer fixes was not compatible with this implementation. I *think* I have solved it correctly though and moved the code to a branch based on `v2.3` as well as updated the branch in `develop`. I want to test it again, to make sure it works at all. I only made sure it's compiled without errors so far. Will continue tomorro

[2017-03-23 06:32] k-rus commented on #4126
@miyconst Thank you for asking right questions.

I don't know what is expected behaviour f `SynonymousTo` and how it is implemented. It is not described anywhere and my question about it was never answered.

May be @per-samuelsson knows more, related to the issue.

[2017-03-23 07:01] per-samuelsson commented on #4126
It's pretty straightforward: `[SynonomousTo]` is just a convenient way to shorten writing properties that narrow down (by cast) a more general property. More explicitly, this declaration

[code]

will simply just translate to this:

[code]

[2017-03-23 07:39] per-samuelsson commented on #4177
@eriohl

How do the cleaner behave if multiple instances are (accidentally) started (targeting the same database)? Undefined ATM I guess?

[2017-03-23 07:40] alokgrimm commented on #3067
Visual Studio 2015 C++ Redistributable requires Windows Server 2012 R2 with Update (KB2919335).
KB2919335 will not install without KB2919442 already being installed.
However, at the present time, KB2919442 is not provided automatically via Windows Update to Windows Server 2012 R2.
The actual fix is:
Manually Download and install KB2919442.
https://www.microsoft.com/en-sg/download/details.aspx?id=4

[2017-03-23 08:31] eriohl commented on #4177
There will be a lot of transaction conflicts so it won't be very efficient. But it won't mess anything up.

Only way to make it atomic if for sccleaner to check since other the server can start it. But I'm not sure it is necessary.

[2017-03-23 08:34] per-samuelsson commented on #4177
My opinion too. Let's go with what I'm working on right now, and the address possible problems if/when they arise. Thanks.

[2017-03-23 09:01] per-samuelsson opened #4178 "Modeling JSON entity and a collection of such entities"
Having JSON + code behind such as:

[code]

[code]

What's the simplest way to declare typed JSON that represent a collection of such entries?

Searched our docs for something to copy-paste as a template, but couldn't find any relevant info on this. Isn't it a quite common case, and something we want documented?

[2017-03-23 09:11] per-samuelsson commented on #4178
To clarify further:

I want the simplest way to declare JSON (and, if needed, code-behind) that allow me to programmatically create a collection-like instance that, when serialized to JSON, become a document that is a collection/array of `Fubar` instances.

[2017-03-23 09:30] chrhol commented on #4178
It's not directly documented. Indirectly you can find some info about arrays on this page: https://docs.starcounter.io/guides/typed-json/primitive-arrays-and-single-value-types/, that is: a json-document doesn't have to be an object. You can declare it as any supported value like array.

So, I guess the easiest is like this:
[code]

[code]

One thing to notice in the code above though, is that you

[2017-03-23 09:38] bigwad opened #4179 "Howto: reload a database with unload/reload facility if app code creates some data on startup"
This post is how to overcome problems described in https://github.com/Starcounter/Starcounter/issues/3964

The goal is load an app that bring data shema to the server, but doesn't create any data on startup. This method doesn't require you to change the code of your existing apps.

1. create a new starcounter app
2. add the reference to the app.exe you need to start
3. create fake handler inside y

[2017-03-23 09:49] per-samuelsson commented on #4178
Aha, so it's kind of the opposite to what I tried (and what you would do in a normal programming language). The common approach there is:

1. Define the element type. This type is not at all aware of that there are collections of it.
2. Create a collection of that element type.

If I understand your example correct, you define the collection type, and *enclosed* in that is the element types. And t

[2017-03-23 09:54] chrhol commented on #4178
I will add another sample later, that does what you want I think. You asked for the simplest way though, and this in my opinion, the simplest. Perhaps not the best. It depends on what you want to use it for.

[2017-03-23 09:55] per-samuelsson commented on #4178
Maybe I can be even clearer with a very simple code sample (not involving JSON):

[code]

[2017-03-23 10:00] per-samuelsson commented on #4178
I think what seem quite close from my perspective is **Example 3** in this page:

https://docs.starcounter.io/guides/typed-json/primitive-arrays-and-single-value-types/

But I want to restrict elements of the array to be of `Fubar` type.

[2017-03-23 10:17] per-samuelsson commented on #4178
I found at least one simple approach that seem to work:

Add a new Typed JSON (`FubarCollection.json`) without code-behind, have the only content like this:

[code]

Then I can use that such as:

[code]

[2017-03-23 10:50] bigwad opened #4180 "database cloning: administrator reports both are running"
Given we have `source` database and one makes a clone of `source` using this method:

1. copy database files from data/source and databases/source to data/clone and databases/clone folders respectively.
2. rename files in data/clone and databases/clone folders to reflect new database name.
3. change database port and data paths in databases/clone/clone.db.config

With these procedure starting of `

[2017-03-23 11:00] per-samuelsson commented on #4178
After some more testing and discussions with @chrhol, we suggest to add this use-case to the [cookbook](https://docs.starcounter.io/cookbook/).

Here's the proposed story:

You have a typed JSON type:

`Person.json`
[code]

`Person.json.cs`
[code]

Now, you want to support a strongly typed collection of that type.

First, create a new **Starcounter Typed JSON with code-behind** item, name if "Pers

[2017-03-23 11:13] per-samuelsson commented on #4180
Wow, sophisticated. Thanks for reporting.

The design problem is one I've known of for long, and wanted to address: that users fiddle with files in the server repository manually, while we have close to zero lines of verification code in the server library, which is (or at least should be) the sole consumer of those files.

I wonder if not the best way to address these kind of problems is to bette

[2017-03-23 11:16] Mackiovello commented on #4178
This look really useful!

Of course, I'll take care of it.

[2017-03-23 11:29] TakhirMamirov opened #4181 "Date as SQL parameter throws an error"
I'm trying to run an SQL passing current date as a parameter:

[code]

But in runtime I get the following exception:

[code]

Would you mind please help me fixing it?

[2017-03-23 11:31] warpech commented on #4181
cc @k-rus

[2017-03-23 11:46] miyconst commented on #4181
The SQL query should be like this:

[code]

[2017-03-23 11:48] mmnosek opened #4182 "The weaver failed to resolve a reference to an assembly - try to use WebPush"
I have a separate project with the dll. All of  my apps in the same solutions are dependent on this project. In this project I need `WebPush` from nuget (https://www.nuget.org/packages/WebPush/), so I installed it. Now everything compiles, but I'm unable to run any of my apps. There is an error:

[code]

`System.Net.Http` is one of the dependencies of `WebPush` that I've installed. I've tried to a

[2017-03-23 12:00] chrhol commented on #4061
It seems to be working. I found one issue though when using the steps described in https://github.com/StarcounterApps/Website/issues/63.

Since we use know create a namespace that is prefixed with the main caller, and in website reuses a partial, we get a patch with an incorrect patch. I will have to investigate a bit more.

[2017-03-23 12:06] dan31 commented on #4180
@per-samuelsson @bigwad question! Is it really so that user fiddles with files in Starcounter repo in @malx122 scenario? If I am a user of MongoDB, to me it would be natural to just take a folder with database, copy it elsewhere - now I have two independent databases. This is to me the least suprise way: here is my data, I own it and can do whatever to it as being just a bunch of bits with my data

[2017-03-23 12:23] per-samuelsson commented on #4182
@mmnosek

Hard to say right now what is wrong, but my initial guess it's something with (incompatible) versioning of referenced assemblies. That is usually a pain (not only in the weaver specifically, but in .NET in general).

There are 9 earlier issues reporting similar error code. Can you spot something there that could apply to this?

https://github.com/Starcounter/Starcounter/issues?q=is%3Aiss

[2017-03-23 12:25] per-samuelsson commented on #4182
Furthermore, if you have done so already, try to see if **Troubleshooting weaver failures** in https://docs.starcounter.io/guides/working-with-starcounter/weaver/ can help you.

[2017-03-23 12:30] mmnosek commented on #4182
Per, thanks for the reply!
One more question - does Starcounter anyhow depend on `System.Net.Http.dll`?

[2017-03-23 12:34] per-samuelsson commented on #4182
I actually started looking for that, as soon as after I answered. Still haven't found we do, but the error somewhat suggest so.

[2017-03-23 12:42] per-samuelsson commented on #4182
Yeah, looks like `Starcounter.Internal` [actually do](https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Internal/Starcounter.Internal.csproj#L143). 😢

[2017-03-23 12:51] per-samuelsson commented on #4180
Have no idea. I'm not saying it's the *only* problem to all glitches. Just that it's *a* problem, since we haven't spent any time guarding for that.

What can I say - we are not MongoDB. I'd love it if we could have the same mechanism, but that is currently not how our configuration/management have been designed.

It's not.

Not sure I understand what you are asking here? We have never supported a

[2017-03-23 13:33] warpech opened #4183 "Using UriMapping.OntologyMap results in an exception"
Using UriMapping.OntologyMap results in an exception in Starcounter 2.3.0.6089 I am getting the following exception:

[code]

@alemoi is this some new thing? What is the last Starcounter version that does not have this problem?

[2017-03-23 13:35] TakhirMamirov commented on #4183
2.2 didn't have that problem.

[2017-03-23 14:23] Ripipip opened #4184 "Handler doesn't accept payload in POST requests in unexpected ways"
I make the 1st request to a handler that receives POST payloads that matches a typed json file. It works fine.

When I make the 2nd request I get this error:

System.NullReferenceException: Object reference not set to an instance of an object.
   at Starcounter.Response.EstimateNeededSize(Byte[] bytes) in C:\TeamCity\TeamCity10\buildAgent\work\sc-3487\Level1\src\Starcounter.Internal\Http\Response.

[2017-03-23 14:26] miyconst commented on #4184
cc @alemoi

[2017-03-23 14:52] alemoi commented on #4183
I can just think of something was changed around metadata. But lets ask @k-rus maybe he knows the reason? Should `fullname` field be available?

[2017-03-23 15:19] careri opened #4185 "Starcounter 2.3, transaction log reader"
Hi!

I was browsing the documentation but failed to find info about reading the translog. Is this feature available in 2.3?

Say that I want to detect changes to an object id and what field has changed using the translog. Is this possible?

[2017-03-23 15:38] TakhirMamirov commented on #4181
That worked, thank you. At the same time if I have DB class DateTime properties named "From" and "To", I can't use them in SQL since it throws and exception:

[code]
Does Starcounter's SQL allows From/To columns naming?

[2017-03-23 15:39] dan31 commented on #4180
@per-samuelsson I will clarify a context for this issue, as the current formulation does not enclose the actual problem happened, but only addresses it's consequence in the management layer. This is not good to start solving the consequence of a problem that should most likely be addressed itself.

So what happened is that @malx122 performed this:

change database port and data paths in databases/

[2017-03-23 15:39] miyconst commented on #4181
In Starcounter you have to escape reserved keywords with `"` (double quote).

[code]

[2017-03-23 15:47] k-rus commented on #4126
Does it mean that if `WhatIs` contains instances of other class than `Content` the cast will fail? And therefor the issue error?

[2017-03-23 15:50] Mackiovello commented on #4181
The reserved keywords are found here: https://docs.starcounter.io/guides/SQL/reserved-words/

[2017-03-23 15:51] miyconst commented on #4180
I support every last word from @dan31, and I was sadly surprised by the fact that copy-pasting database files does not work to clone databases for whatever reason.

Coming from traditional databases and following with Starcounter 2.2, I was always cloning databases by copying their files.

P.S. MS-SQL Provides a nice UI with backup/restore function which is easier to use for cloning purposes, stil

[2017-03-23 15:53] miyconst commented on #4181
Closing the issue as answered.

[2017-03-23 15:53] #4181 closed

[2017-03-23 15:54] miyconst commented on #4126
Yes.

[2017-03-23 15:55] dan31 commented on #4180
@miyconst this lesson hopefully shows us how important it is to think of every single design decision through the eyes of the end user; and mitigate the problems early on out of this thinking process. The sad outcome to me is that this particular problem (with inability to do some 100% natural things with the next release of the product) has never been even brought up at our integration meetings a

[2017-03-23 15:56] bigwad commented on #4180
I answered this. Below is a quote from hangouts

[code]

We still need to uniquely identify a database. There was an effort to provide this identity from the outside of the database kernel: https://github.com/Starcounter/Starcounter.Core/issues/114#issuecomment-248848977, but it's not done yet.

Not inherently bad. Just make useless protection of messing with log files from different databases.

F

[2017-03-23 15:58] TakhirMamirov opened #4186 "Image App in 2.3 throws an exception"
While in 2.2 it worked perfectly, 2.3 forces this row:

`UriMapping.OntologyMap<RoomManagementDataModel.Room>("/images/partials/concept-room/{?}");`

 to throw an exception:

`Failed to process query: select t from starcounter.metadata.table t where fullname = ?: Unknown class starcounter.metadata.table. Unknown property or alias fullname. `

Any ideas?

[2017-03-23 15:59] dan31 commented on #4180
I also strongly hope we all agree that this is not something we must prohibit our users from doing 💯 Starcounter's aim is to make complex things be easy, but not vice versa.

[2017-03-23 16:01] miyconst commented on #4180
In scope of what? From the user point of view, the database should be unique in scope of a server installation, and it's unique id is it's name.

[2017-03-23 16:01] TakhirMamirov opened #4187 "Upgrade from 2.2 to 2.3 requires one more step"
I believe, this guide: https://docs.starcounter.io/guides/working-with-starcounter/migrating-from-2.2-to-2.3+/ is missing the clean up or deletion of Documents/Starcounter folder, otherwise an attempt to start Starcounter's webserver will fail.

[2017-03-23 16:04] bigwad commented on #4180
Please check out https://github.com/Starcounter/Starcounter.Core/issues/99

It all comes from cases when we don't have a central authority to assign names to databases.

[2017-03-23 16:04] miyconst commented on #4187
cc @Mackiovello

[2017-03-23 16:10] dan31 commented on #4180
I have been kindly asked by @miyconst to move the issue to https://github.com/Starcounter/RebelsLounge/issues/96.

[2017-03-23 16:30] warpech commented on #4181
@Mackiovello every developer at some point has a problem with unescaped keywords (when the property names are like "Order", "From", "To"). Maybe it is worth mentioning on https://docs.starcounter.io/guides/database/querying-using-sql/ page

[2017-03-23 17:26] alemoi commented on #4186
I suppose this is a duplicate, the same issue is here: https://github.com/Starcounter/Starcounter/issues/4183#issuecomment-288744337

[2017-03-23 17:27] #4186 closed

[2017-03-23 18:35] careri commented on #4178
I think I'm missing the point of this. In what way is it better than:
''''cs
Arr<Fubar>
''''
Is it harder to serialize an are?

[2017-03-23 22:27] mmnosek commented on #4182
@per-samuelsson thanks for your investigation! For now, I managed to do some workaround - I've just used WebPush v1.0.6 instead of v1.0.8. It does not depend on `System.Net.Http` for some reason and everything works fine. When I will find some time I am going to isolate this problem and try to describe it better. So I leave this issue open and assign to me.

[2017-03-24 06:30] chrhol commented on #4178
We discussed this as well. I hadn't even considered using `Arr<T>` to specify the type to use for the *template*, which is what happens when you set instancetype as well as typing it to a specific type for the instance. So in short: this needs to be investigated and updated so that it works without sideeffects in XSON. Because of this we decided to use what we know work as intended for our cookboo

[2017-03-24 06:33] chrhol opened #4188 "Investigate if "MyJsonArr : Arr<T>" can be used to specify jsontype for arrays"
Discussed in #4178

[2017-03-24 06:44] chrhol commented on #4061
The handling of checking if a partial viewodel already exists or not on the client is of course different when we allow multiple responses and creates a namespace that differs from appname. This is the reason for the invalid patch.

I will fix it today.

[2017-03-24 06:45] chrhol commented on #4188
Also check what happens today and if there are any sideeffects by using `Arr<T>´ to make an array only acccept one kind of items.

[2017-03-24 07:09] careri opened #4189 "Auto update of the web UI"
I was told that the easiest way of updating the client Json from an async thread was generating a dummy mouse click.
If I remember correctly @warpech is the source of this information.

It used to work, but no longer does. I provided some source code that demonstrates the problem:
https://github.com/careri/StarcounterAutoUpdateTest

Just run the application and go to (change the port):
http://loca

[2017-03-24 07:26] careri commented on #4185
@linkdata is this your area?

[2017-03-24 07:32] per-samuelsson commented on #4188
FWIW, I had some weirdness yesterday when doing the testing. At some point, I just got a `NullReferenceException` on every compile, without any hint on what was wrong.

[2017-03-24 07:38] per-samuelsson commented on #4178
For me, it's a very close call, as we discussed yesterday. The second approach is less lines of code, and I like the fact that you can just do `collection.Add(o)` instead of `collection.Items.Add(o)`.

The drawbacks of the second approach:

* It seem less tested / might be unstable
* Like you say: *Using an array directly in json-by-example is something that is not common*.
* It's also uncommon fo

[2017-03-24 07:40] per-samuelsson commented on #4182
Thanks a lot. Don't hesitate consulting me if/when you need assistance.

[2017-03-24 07:45] Mackiovello commented on #4178
I would like to document the most reliable approach and then add a note on the bottom that mentions that it's also possible to use this second approach if they feel adventurous.

[2017-03-24 07:46] per-samuelsson commented on #4126
While the underlying problem here is not that synonyms are in use, I think the fact that we are again having to consider how synonyms affect the user experience (and developers clearly don't fully understand how they work) is getting us closer to [the proposal to drop support for synonyms](https://github.com/Starcounter/CompanyTrack/issues/180).

[2017-03-24 07:48] Ripipip commented on #4184
@alemoi Any idea on this? It is a little bit of a blocker.

[2017-03-24 07:54] per-samuelsson commented on #4185
cc @bigwad

[2017-03-24 08:07] chrhol commented on #4178
Yes, let's do that!

[2017-03-24 08:08] per-samuelsson commented on #4178
Considering it some more, there is another advantage of the first approach (i.e "Items"): if you later want to **add** some property to the collection, it's straightforward in that solution:

`PersonCollection.json`
[code]

=>

`PersonCollection.json`
[code]

It's quite complex in the second one, using `Arr<T>`.

[2017-03-24 08:09] per-samuelsson commented on #4178
Until we know there is actually some great advantage of `Arr<T>`, I think we shouldn't even mention it. Less is more. Multiple suggestion tend to confuse more than offer help.

[2017-03-24 08:21] bigwad commented on #4185
This feature exists, but not documented. So, I'm not sure we're going to promote it. @dan31?

The starting point to explore functionality is Starcounter.TransactionLog.LogManager class. You can find a sample at https://github.com/Starcounter/Starcounter/tree/develop/src/Samples/dbhistory

Worth to note that transaction log was not designed for auditing purposes. Thus it undergoes periodical automa

[2017-03-24 08:33] careri commented on #4185
Thanks, I'll have a look at it. My intention is to consume changes at once, so 30 days should be well beyond my needs

[2017-03-24 08:39] joozek78 commented on #3511
I was hit by this (my first time :))
Do you think it'd be feasible to detect such cases and warn when loading palindrom? We could find all elements with `onclick` and `onmousedown` attributes and children

[2017-03-24 08:43] Mackiovello commented on #4187
Thank you for noticing! Fixed in https://github.com/Starcounter/Docs/commit/577cefffcf7765eed4c7c2c58c89a2556c84a7ac

[2017-03-24 08:43] #4187 closed

[2017-03-24 08:56] warpech commented on #3511
I think the above is a good idea: have a mutation observer that throws a warning for elements that have `onclick` or `onmousedown` attribute and child elements without computed style "pointer-events: none".

On the other hand, few months from now we will not be using Polymer 1.x, so maybe it's not worth it.

[2017-03-24 08:59] warpech commented on #4189
To be precise: dispatching a mouse event causes dirty checking in PuppetJs.

It will only convert into a patch to the server if dirty checking discovers any change in the JSON object bound to the view-model.

What behaviour do you expect in https://github.com/careri/StarcounterAutoUpdateTest? At 1000 ms intervals do you want to have an empty patch sent to the server?

[2017-03-24 09:02] warpech commented on #4189
To push changes from the server to the client this is the recommended way: [Session.ScheduleTask / CalculatePatchAndPushOnWebSocket](https://github.com/StarcounterApps/KitchenSink/blob/e382432b929057feb6850e9823533d086fb9b427/src/KitchenSink/ProgressBarPage.json.cs#L42-L60)

[2017-03-24 09:11] careri commented on #4189
Ah, of course you are right. That was why I should modify a dummy value client side.
I'll investigate using CalculatePatchAndPushOnWebSocket. I already do it in some areas.

I got a problem where an server side change isn't sent to the client

[2017-03-24 09:28] warpech opened #4190 "Fix links in README.md"
Links to sample apps and prefabs in README.md should be updated to the current URIs (github.com/StarcounterApps).

Do it as a feature branch from `v2.3`, then merge to `v2.3` and `v2.3` to `develop`.

@Mackiovello could you please take it?

[2017-03-24 10:03] alemoi commented on #4184
Hi @ripipip! Can you please paste some code that sends these requests?

[2017-03-24 10:07] Ripipip commented on #4184
@alemoi No, it is a client that tries to connect to our API. They use ruby and curl. But it is reproducable with any web debugging tool.

[2017-03-24 10:21] miyconst commented on #4184
@Ripipip please show us your handler declaration at least.

[2017-03-24 10:22] alemoi commented on #4184
Ok thank you! So this happens when handler is processed and tries to send the response back. You have no control over the order? I just was thinking what if 2 comes first, and then 1.

[2017-03-24 10:35] Mackiovello commented on #4190
Fixed with 	2484539

[2017-03-24 10:35] #4190 closed

[2017-03-24 10:36] alemoi commented on #4184
I have looked at the code and the stack trace leads to a very misleading code. @Ripipip can I ask you to paste a portion of the actual handler code? Maybe there is some threading there involved? Thanks!

[2017-03-24 10:38] TakhirMamirov opened #4192 "ORDER BY seems not working in 2.3"
Trying to run the next SQL:

[code]
and it throws an exception:

[code]

I can remove DESC, and it still doesn't work.

[2017-03-24 10:43] careri commented on #4189
I've updated my example so it shows both methods.
1. Client updates and fakes a mouse click
2. Server pushes updates to the client

Feel free to reuse the example in your documentation if it's good enough:
https://github.com/careri/StarcounterAutoUpdateTest

[2017-03-24 10:45] warpech opened #4193 "htmlmerger does not include Content-Type tag"
A typical HTML response from Starcounter static file server has the following headers:

[code]

However, a HTML response from [`htmlmerger`](https://github.com/Starcounter/Starcounter/blob/81c9a245f2f3769cb19bb2e2ad0c3d69a14b19b8/src/Starcounter/Apps/OntologyAndOrdinaryMapping.cs#L995) has only the following headers:

[code]

Missing `Content-Type` header causes Firefox to guess the type and somet

[2017-03-24 10:50] #4192 closed

[2017-03-24 10:54] warpech commented on #4193
As a workaround, put this in your app:

[code]

[2017-03-24 11:15] TakhirMamirov opened #4194 "SQL: NULLS LAST aren't supported?"
When I sort ASC in SQL by a particular field, I would like records with NULL value in that field to appear last, but not first. While this works:

`SELECT sh FROM StatusHistory sh WHERE sh.Room = ? ORDER BY sh.\"To\"`

the following, which, probably, should do what is needed, doesn't:

`SELECT sh FROM StatusHistory sh WHERE sh.Room = ? ORDER BY sh.\"To\" NULLS LAST`

with an exception:

[code]

Wh

[2017-03-24 11:21] alemoi commented on #4193
Sure! I will add it! But wondering why was discovered only now :)

[2017-03-24 12:02] warpech commented on #4193
Maybe the new version of Firefox changed something about their Content-Type guessing.

[2017-03-24 12:06] miyconst commented on #4192
@TakhirMamirov why did you close the issue without a message?

[2017-03-24 12:12] miyconst commented on #4194
The `NULL LAST` operator is not supported by Starcounter.

You can use LINQ instead:

[code]

Replace the `.OrderBy(x => x.To)` part with any logic required.

[2017-03-24 12:12] #4194 closed

[2017-03-24 12:21] TakhirMamirov commented on #4192
Not a valid problem, I tried to remove the issue, but couldn't find out how to do it.

[2017-03-24 12:25] bigwad commented on #4194
The solution with OrderBy will prevent you from using indices. I'd suggest to split a query into two queries and use 'Enumerable.Concat' (I've not checked a syntax, but I think you get the idea):

[code]

[2017-03-24 12:28] miyconst commented on #4194
@bigwad thank you for the clarification.

Yes. The `Where` and `OrderBy` actions executed by LINQ do not use table indexes.

Still, if the query heavily relies on an index, I would suggest to execute a single query and just slightly modify the code to properly treat the `NULL` values on top.

[2017-03-24 12:34] alemoi commented on #4183
CC @k-rus

[2017-03-24 13:02] warpech commented on #4189
Thanks @careri for this contribution. Can you name some reasons when https://github.com/careri/StarcounterAutoUpdateTest/blob/master/AutoUpdateTest/wwwroot/sys/had-auto-update.html#L56 would be preferable over https://github.com/careri/StarcounterAutoUpdateTest/blob/master/AutoUpdateTest/Program.cs#L72?

[2017-03-24 13:25] alemoi commented on #4193
@warpech can you please test this custom 2.3 build? Thanks!
http://downloads.starcounter.com/download/Starcounter/Custom/2.3.0.6120

[2017-03-24 14:49] Mackiovello commented on #4178
Fixed in https://github.com/Starcounter/Docs/commit/7abf7ccb3f273aebb40754e52a4ebafae6f44b5c

[2017-03-24 14:49] #4178 closed

[2017-03-24 15:07] dan31 commented on #4177
Adding this to our projects pipeline to 2.3 Release, as discussed at RP: https://github.com/orgs/Starcounter/projects/2.